[2022-10-26 14:05] akalenyu commented on #8672
@ShellyKa13 Hey, just FYI, we briefly discussed this during daily;
seems like we don't have restic lanes so this could be a long standing issue by now

[2022-10-26 14:20] larrydewey commented on #8630
This sounds like you have an annotation missing on the object which was added here. Some additional reproduction of this issue is definitely needed, but can you verify this annotation has been added?

[2022-10-26 14:24] larrydewey commented on #8643
I am not sure if it is possible to adjust the resolution at this level. I will look into this further and see if it is possible, but my initial understanding is that it isn't possible.

[2022-10-26 14:27] larrydewey commented on #8659
/triage needs-information

[2022-10-26 14:30] larrydewey commented on #8662
Would you mind adding any logging or information from the kernel to help debug this?

[2022-10-26 14:39] jean-edouard commented on #8662
From the 3 lines of virt-launcher logs, the first two should be ignored, they happen because libvirt is not ready when we first poke it, but we just try again.
Unfortunately, the 3rd line doesn't give us much information at all.
However, `lgetxattr`, which was used by the safepath SELinux code, is known to be unreliable with some versions of the kernel.
`lgetxattr` was replaced by `fgetxattr` 13 d

[2022-10-26 14:49] kvaps commented on #8302
@rmohr there is no mistake, werf is using it's own mechanism to calculate hash for every image and pushes it into docker registry as different tag.
CVEs are scanned the same way for every tag separately.

[2022-10-26 14:54] rmohr commented on #8302
Then you maybe literally have the `\n` added at the end of this image? Just thought that is a digest.

Yes, no issue with scanning. It is about running them. You have the CVE then in all kinds of places with different reachability. Thtat increases the change that a CVE can actually be exploited. Or not?

[2022-10-26 14:56] kvaps commented on #8302
I got your point, no, under each tag is different image.
It can gold just one binary as well.

[2022-10-26 15:24] kvaps commented on #8302
@rmohr more details on how werf is generating tags:
- https://werf.io/documentation/v1.2/internals/stages_and_storage.html#stage-naming
- https://werf.io/documentation/v1.2/internals/build_process.html#saving-stages-to-the-storage

[2022-10-26 16:00] rmohr commented on #8302
Ah ok, thanks.

[2022-10-26 16:02] rmohr commented on #8302
If we relax that, you could do everything with the patches, right? I don't see why we would insist on having  `virt-operator` in the image name.

 I would prefer to not add another install workaround path with e.g. env variables (like we have for digests). We extra added the patch approach for rare cases like this.

[2022-10-26 16:06] rmohr commented on #8302
Specifying an imagePullSecret for `virt-launcher` may have security implications because it means that all namespaces would get access to that registry which want to run VMs. There is a long discussion around that in https://github.com/kubevirt/kubevirt/pull/7761. But if the workaround for you works right now, that should be ok. I think  we also figured out a flow which would be acceptable for ima

[2022-10-26 17:08] iholder-redhat commented on #8164
/remove-lifecycle stale

[2022-10-26 17:58] zedi-pramodh commented on #8615
pramod-node1:~# kubectl get po  -n kubevirt
NAME                               READY   STATUS                 RESTARTS   AGE
virt-operator-5477674954-mszl7     1/1     Running                0          87m
virt-operator-5477674954-gxjx5     1/1     Running                0          87m
virt-api-56448f8c54-qrxqx          1/1     Running                0          86m
virt-controller-7558db486c-xlxls

[2022-10-26 19:18] asaub commented on #8648
We are working on this on https://github.com/asaub/kubevirt/tree/feature/add-virtctl-install

[2022-10-26 20:01] rthallisey opened #8680 "Virtctl guest-agent-exec feature"
Using the guest-agent is a powerful tool to query a guest, but it isn’t easy for a user to do from kubectl.  To run a guest-agent command, the user has to locate a pod, exec into the launcher pod, run a guest-agent command, capture the pid from the result, and run a second guest-agent command to get the output.  This process can be simplified.

KubeVirt already does work with the guest-agent, the

[2022-10-26 20:28] rthallisey commented on #8680
Design document - https://docs.google.com/document/d/1IYTJEWskdig_j83QgfEPQxbg5ui1uvtiVAYOL0RixI8/edit?usp=sharing

[2022-10-27 01:57] use-epoll commented on #8659
Yes, I want to clone a VM and be a full image. Because there is a possibility that I will have to delete some snapshots from the snapshot chain.

[2022-10-27 02:56] Shea-D commented on #8672
Maybe I have found the reason why the virt-launcher pod skipped. There is a annotaition "Launcher Pod should be unconditionally skipped" before the function _Execute_ for pod restore in kubevirt-velero-plugin program.
Does this plugin not support restore from restic? I thought there is a init container in the virt-launcher pod when I restore the vm which in running state but it doesn't actually lo

[2022-10-27 04:57] vasiliy-ul commented on #8615
Yeah, this is fine.

This looks like a different error. Previously you had `virt-handler-n2gx4 0/1 Init:CrashLoopBackOff`. Could you please check
[code]
?

[2022-10-27 06:58] oshoval commented on #8656
We can close this right ?
The annotations and labels are visibly back and the PF are not missing anymore (because the CNI kicks in)

[2022-10-27 09:21] rmohr commented on #8656
:+1:

/close

[2022-10-27 09:21] #8656 closed

[2022-10-27 12:24] rmohr commented on #5868
/reopen
/remove-lifecycle rotten
/lifecycle-frozen

[2022-10-27 13:23] akrejcir opened #8683 "Support VNC connection with authentication using a temporary token"
The design proposal about this feature is still being discussed: https://github.com/kubevirt/community/pull/193

[2022-10-27 14:06] larrydewey commented on #8643
@chenxinlong Unfortunately, that is what I am seeing, as well. I haven't found any way to do that via configuration.

[2022-10-27 14:30] ShellyKa13 commented on #8672
Hi @Shea-D Thanks for the issue report!
The last line of "Skipping restore of Pod: virt-launcher-centos-bm2kv" is the desired behavior in kubevirt-plugin. The virt-launcher pod should be created from the restored vm and not by restoring the backup pod, thats why in the restore-pod script it is being skipped.
As @akalenyu mentioned we don't have restic lanes so it is possible that with restic this

[2022-10-27 19:21] jaharkes commented on #8175
I'm dealing with the same issue, in my case the VM images are archived software, things like Wordperfect 6.1 running on Windows 3.11. MS-DOS is able to start because it is using the BIOS to access the disk and so has no issue with sata or virtio. But once Windows starts it wants to talk to the disk directly and.. it only supports IDE and I am not aware of any virtio drivers that could be installed

[2022-10-28 01:49] Shea-D commented on #8672
Thank you for replying! That solves a problem which has been bothering me for a long time. We use velero with restic, and being able to restore with restic would be fantastic.

[2022-10-28 07:50] chrisho commented on #8485
After re-verification, CPU performance is fine, the PromQL statement refers to the CPU percentage ratio and not the number of cores used. https://github.com/harvester/harvester/pull/2774#issuecomment-1294426262

In addition, I also analyzed kubevirt components and most of the performance consumed was due to `json` parsing and `openapi` validation. https://github.com/harvester/harvester/pull/2774#i

[2022-10-28 08:21] vasiliy-ul commented on #7473
https://kubevirt.io/user-guide/operations/installation/#integration-with-apparmor

[2022-10-28 15:13] #7681 closed

[2022-10-29 07:28] MLintin opened #8695 "Hotplug Volume Problem"
**Is your feature request related to a problem? Please describe**:
I create a vm with set the cdrom to hotplug.  after the vm running,  console can't enter the cdrom install process

**Describe the solution you'd like**:
i want hotplug the cdrom after install complete.

**Additional context**:
[code]
[code]

![image](https://user-images.githubusercontent.com/38847719/198819478-6607dd4b-5985-47fe-9

[2022-10-29 19:21] #7844 closed

[2022-10-30 13:22] oshoval commented on #7170
Ref https://github.com/kubevirt/kubevirt/issues/7170#issuecomment-1166549757

/close

[2022-10-30 13:22] #7170 closed

[2022-10-31 03:11] chenxinlong commented on #8643
@larrydewey

According to the [libvirt - video devices](https://libvirt.org/formatdomain.html#video-devices) :

I've tried to add a `resolution` sub-element to vga video device model, and set x to 1920, y to 1080. Dumped domain xml as follow :
[code]

It does works on my ubuntu guest, but it doesn't works on my centos and windows guest.

[2022-10-31 05:13] knitanurag opened #8698 "Monitoring metrics not available for K3s if namespace is default."
<img width="213" alt="image" src="https://user-images.githubusercontent.com/13597410/198935954-8ef908d8-9da4-4089-9ffd-c6340137123a.png">

used above deploy Kubevirt . my Prometheus operator is installed on default namespace.
no metrics for kubevirt.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/13597410/198936258-340f30db-a0b3-4e19-98de-04d977051ee3.png">

[2022-10-31 08:07] MLintin opened #8699 "vm can't restart after addvolume"
**What happened**:
1. i start a centos vm
2. add a blank dv to vm by  /apis/subresources.kubevirt.io/v1/namespaces/{namespace:[a-z0-9]}/virtualmachines/{name:[a-z0-9][a-z0-9\-]}/addvolume
3. dv hotplug successed and os console can detect the new disk
4. request  /apis/subresources.kubevirt.io/v1/namespaces/{namespace:[a-z0-9]}/virtualmachines/{name:[a-z0-9][a-z0-9\-]}/restart
5. my vm can't runnin

[2022-10-31 08:28] ormergi commented on #6776
/reopen

[2022-10-31 12:40] awels commented on #8618
I think the problem is likely that you are not passing in the right token and you are getting the unauthorized page instead, your pictures are showing 283 bytes, which is about that size of that page. Can you do a verbose logging in curl by using -v and not writing the output anywhere.

[2022-10-31 15:24] #7727 closed

[2022-10-31 17:57] zedi-pramodh commented on #8615
@vasiliy-ul sorry for late response.

pramod-node1:~# kubectl describe pod -n kubevirt virt-handler-sg74j
Name:                 virt-handler-sg74j
Namespace:            kubevirt
Priority:             1000000000
Priority Class Name:  kubevirt-cluster-critical
Node:                 pramod-node1/145.40.82.33
Start Time:           Wed, 26 Oct 2022 16:30:33 +0000
Labels:               app.kubernetes.io

[2022-10-31 18:10] vasiliy-ul commented on #8615
[code]
This looks like the init container has succeeded. So it's another error now. Could you delete the virt-handler pod and try to get the reason of the `CreateContainerError` (in the output you shared it is not present):

[code]

[2022-10-31 18:11] zedi-pramodh commented on #8615
Oh I found the issue, my bad I needed to do run "mount --make-rshared /"

It works now :)

pramod-node1:~# kubectl get pods -n kubevirt
NAME                               READY   STATUS    RESTARTS   AGE
virt-operator-5477674954-mszl7     1/1     Running   0          5d1h
virt-operator-5477674954-gxjx5     1/1     Running   0          5d1h
virt-api-56448f8c54-clgkd          1/1     Running   0

[2022-10-31 18:14] vasiliy-ul commented on #8615
Well... I still have no idea. The upstream image does not work for some unknown reason.

[2022-10-31 18:17] zedi-pramodh commented on #8615
Its not just upstream version. I tried various versions of kubevirt. Its something to do with alpine linux on equinix servers.

In the test we did above the kubevirt-operator.yaml is given by you. Trying to understand the difference here from kubevirt-operator.yaml from upstream.

[2022-10-31 18:20] zedi-pramodh commented on #8615
Oh I see the diff:

pramod-node1:~# diff kubevirt-operator.yaml.good kubevirt-operator.yaml
--- kubevirt-operator.yaml.good
+++ kubevirt-operator.yaml
@@ -6575,12 +6575,12 @@
         - virt-operator
         env:
         - name: OPERATOR_IMAGE
-          value: registry.opensuse.org/kubevirt/virt-operator:0.58.0-1.1
+          value: quay.io/kubevirt/virt-operator:v0.58.0
         - name: WATCH_

[2022-11-01 06:41] MLintin commented on #8699
i find /dev/disk' user is qemu before addvolume,  but when i restart vm it is root

[2022-11-01 06:51] vasiliy-ul commented on #8615
Yes, it is a downstream KubeVirt build where the images are based on openSUSE TW. I still fail to understand why the images from quay.io (the upstream ones) do not work on your hardware, though...

[2022-11-01 09:27] Longchuanzheng commented on #8618
Hi @awels, we meet again.

I think i just follow the User guide to create a VMexport.

token.yaml

[code]

pvcexport.yaml

[code]

![image](https://user-images.githubusercontent.com/49519342/199202494-023115ce-60e5-4fe2-9f83-64a1edb37973.png)

I think it create successfully.

[code]

expose port

![image](https://user-images.githubusercontent.com/49519342/199202636-85555d11-bba6-4c64-b15b-ef7fe448

[2022-11-01 10:17] alicefr commented on #8695
@MLintin could you please add more details on this enhancement? AFAIU, you are trying to boot from `disk-1` and this is a blank disk.
I suppose you want to use the cdrom and install the os on the disk-1, am I correct?

[2022-11-01 12:05] MLintin commented on #8695
@alicefrI I have read what you mentioned，but my case is different from that, In my case, The focus is on the config on volumes[1].datavolue.hotplug = true ,  the bootOrder between disk-1 and cdrom-1 is no effect, if it start from disk-1 failed, it will try to strat from cdrom. so in normol, the vnc can enter the ubuntu guide window. however, in my case, i find a err msg in virt-lanucher pod say th

[2022-11-01 12:09] MLintin commented on #8695
I think I may have tried the wrong way to achieve my goal， I just want to ask do we have any plans to do something like pop up the cdrom after os install finish.

[2022-11-01 12:38] alicefr commented on #8695
@MLintin I think this isn't very trivial in KubeVirt. Basically, you need to change boot device and remove the cdrom when you reboot. I'd suggest you to send an email to the mailing list with this question. You could obtain better visibility.

[2022-11-01 15:01] zedi-pramodh commented on #8615
It's not just the hardware. Its hardware + alpine.  Any other OS like ubuntu is working.

I will keep this issue open in case someone can find an answer.

[2022-11-01 16:31] rthallisey commented on #6087
I think with https://github.com/kubevirt/kubevirt/issues/6087 we can close.

[2022-11-01 16:31] rthallisey commented on #6087
/close

[2022-11-01 16:31] #6087 closed

[2022-11-01 18:43] lyarwood commented on #8360
@rmohr quick idea for `v2`. I've been [toying](https://github.com/kubevirt/kubevirt/pull/7969) with the idea of somehow making the `DomainSpec` optional for `VirtualMachines` but required for `VirtualMachineInstances`. The goal being to remove the final bit of cruft from the following valid definition when you use instance types and preferences with `v1`:

[code]

This would instead be something l

[2022-11-02 01:31] MLintin commented on #8695
@alicefr , I don't know how to end an email to the mailing list

[2022-11-02 06:05] vasiliy-ul commented on #8615
One more thing to try here might be to look at the system logs. Potentially that may bring some light. I would try to install k3s on a **clean** system, deploy KubeVirt from the upstream (`quay.io/kubevirt/virt-operator:v0.58.0`), wait for the failure of the virt-handler init container and then look at least at the following logs:
- dmesg
- cat /var/log/messages
- cat /var/log/k3s.log

[2022-11-02 06:31] zhlhahaha opened #8708 "virtio-gpu device is not supported by qemu-kvm on Arm64"
**What happened**:
Recently, I do e2e test on Arm64 server, and meet many failures caused by virtio-gpu.
The root cause is qemu-kvm binary not support virtio-gpu any more. And this binary used to support virtio-gpu. Are there any reasons for remove this device?

**What you expected to happen**:
qemu-kvm binary support virtio-gpu

**How to reproduce it (as minimally and precisely as possible)**:
[c

[2022-11-02 07:02] alicefr commented on #8695
You can find the information in the [community repo](https://github.com/kubevirt/community#socializing) in "Discuss with us on the [kubevirt-dev Google Group](https://groups.google.com/forum/#!forum/kubevirt-dev)"

[2022-11-02 07:34] MLintin commented on #8695
@alicefr thanks, but access to this website is restricted in our country

[2022-11-02 12:30] alicefr commented on #8695
ah, good point! I don't know if you can send a message directly to `kubevirt-dev@googlegroups.com` without being part of the group

[2022-11-02 14:05] zedi-pramodh commented on #8615
Yes those are the first things I looked at while debugging.

dmesg: Nothing in it
/var/log/messages: Nothing in it
/var/log/k3s.log:  Repeated messages of virt-handler starting and failing to start.

[2022-11-02 14:10] zhlhahaha commented on #7653
Record issues when try to run kubevirt CI on Arm64 cluster.

[2022-11-02 14:30] zhlhahaha commented on #7653
Issues:
- [x] 1. cross compile issue, fixed by set tag `preset-bazel-unnested: "false"`, but it seems sandbox for Arm64 missed some library.
[code]
- [x] 2. cross compile error, fixed by https://github.com/kubevirt/kubevirt/pull/8671
[code]

- [x] 3. when start kind k8s cluster in bootstrap image, meet kubelet cgroup errors, fixed by adding SystemCgroup=true in containerd config, would write a det

[2022-11-02 15:18] kvaps commented on #8708
/cc

[2022-11-02 15:27] kvaps commented on #8708
If I understand it correct this can be enabled by specific option when compiling.
Unfortunately we do not maintain qemu package, try to file a bug report to https://bugzilla.redhat.com/

[2022-11-02 15:29] awels commented on #8695
You cannot hotplug a cdrom, are you looking for the ability to switch the contents of the CDROM while the VM is running?

[2022-11-02 16:20] andreabolognani commented on #8708
Never mind, it's not been disabled: it's just been moved to its own separate package (`qemu-kvm-device-display-virtio-gpu-pci`) as part of the effort to make QEMU more modular.

I will make it so the new package is included in the virt-launcher image, but first let me try to figure out whether there are any other devices that are used by KubeVirt and that have been similarly moved to separate pack

[2022-11-02 17:44] andreabolognani commented on #8708
This is going to be challenging, as it appears that currently KubeVirt doesn't really offer any way to configure the video device(s) explicitly: you either get the default one (`model=vga` for x86_64, `model=virtio` for aarch64) or [disable graphics altogether](https://kubevirt.io/user-guide/virtual_machines/virtual_hardware/#video-and-graphics-device) and get nothing.

A configuration such as

[c

[2022-11-03 01:53] MLintin commented on #8695
I can't

[2022-11-03 01:59] MLintin commented on #8695
Because I found the error msg is from libvirt, so I need to rethinking my purpose. I turn off my enhancement first, and when my thoughts are finished, then I start again with a new enhancement .

[2022-11-03 01:59] MLintin commented on #8695
@alicefr @awels Thank you.

[2022-11-03 01:59] #8695 closed

[2022-11-03 05:52] zhlhahaha commented on #8708
The vga devices is not support by qemu-kvm binary on Arm64, so we set virtio-gpu as default graphic device.
I do not have much experience on running VM workload in production. Are there many people use virtio-gpu?

[2022-11-03 06:29] MLintin commented on #8699
@usrbinkat I change disk-1 to ReadWriteOnce and delete cache: none and re-test, but the err is the same as I say in 5
[code]

I exec -it sh enter the virt-lanucher pod, I can't cat /dev/disk-1 , it look like mountDevices has some problem
My  underlying storage is self-innovate， it is dependent on ceph.

[2022-11-03 07:12] chenxinlong opened #8713 "Support live migrate a vm to a specified node"
**Is your feature request related to a problem? Please describe**:

I've looked live migration related docs and APIs, but seems there's no way to make a vm live migrate to a specified node.

**Describe the solution you'd like**:

Maybe add a target object to `vmim` spec , like below :
[code]

**Describe alternatives you've considered**:

n/a

**Additional context**:

n/a

[2022-11-03 08:49] andreabolognani commented on #8708
Yeah, that's fine. It's the only reasonable default for the architecture.

I guess mostly those who run aarch64 VMs. libvirt only uses virtio-gpu on x86_64 for non-primary displays, so chances of encountering it in the wild are probably quite low.

[2022-11-03 08:50] chenxinlong opened #8714 "Can vmi auto migrate to another node when node is not ready"
Can vmi auto migrate to an healthy node when node is not ready ?

As you can see, the node2 is on `NotReady` status, but vmis on node2 do not auto migrate to a healthy node(the feature gate `LiveMigration` is added).
[code]
[code]

[2022-11-03 09:06] use-epoll opened #8715 "Only copy mode can be used when creating instances"
kubernetes version: v1.23.7
kubevirt: version v0.54.0
ceph version: quincy v17.2.5  a standalone ceph cluster deployed using cephadm
ceph-csi version: v3.7.2
When I create an instance the system image created will only use copy mode, it is a host-assisted clone and cannot use smart-clone
I have tried the following settings:
cdi.kubevirt.io/clone-strategy: snapshot  in  default SC
cloneStrategyOver

[2022-11-03 09:30] #7078 closed

[2022-11-03 10:25] zhlhahaha commented on #8708
There are still some problems on booting VM on Arm64 after update Centos Stream 9. I run a simple test `test_id:1620` on Arm64 server.
I got following messages from virt-launcher. If I checkout to the commit `66157f8afa1d03dc06080d721085d743229e89e6`, one commit before `Switch to CentOS Stream 9`, and re-create the kubevirt cluster, the test has passed.
[code]

There is no useful information from

[2022-11-03 11:45] akalenyu commented on #8715
There are certain situations where we can't do smart clone and thus opt for host-assisted copy.
For example, if it's a cross-namespace clone with volume binding that is WFFC is one of them.
Would it be possible to look at your storage classes/data volume/PVC manifests?

[2022-11-03 12:55] andreabolognani commented on #8708
That looks like a very basic test, so the fact that it fails is quite concerning.

Can you successfully start any VM at all? Or even outside of the test suite, starting VMs simply doesn't work?

Good sanity check.

Have you tried setting `debugLog` and possibly also `logVerbosity`? That might produce more information.

Yeah, the error message seems to indicate that the QEMU process started by libv

[2022-11-03 14:42] awels commented on #8708
IIRC at the top of the virt-launcher log there is a base64 encoded version of the domain xml.

[2022-11-03 17:03] andreabolognani commented on #8708
Yeah, in this case that'd be

[code]

but @zhlhahaha already confirmed that the generated XML didn't change with the switch to CentOS Stream 9. This is consistent with my expectations.

The error appears to occur while probing the QEMU binary to figure out its capabilities, which is something that isn't affected by the exact contents of the XML anyway.

[2022-11-03 21:31] #8302 closed

[2022-11-04 01:15] use-epoll commented on #8715
storageClass
[code]

[2022-11-04 01:20] use-epoll commented on #8715
pvc of  OS  image   Ubuntu 20.04  format raw
[code]

[2022-11-04 01:27] use-epoll commented on #8715
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    cdi.kubevirt.io/storage.clone.token: eyJhbGciOiJQUzI1NiJ9.eyJleHAiOjE2Njc0NjQyODksImlhdCI6MTY2NzQ2Mzk4OSwiaXNzIjoiY2RpLWFwaXNlcnZlciIsIm5hbWUiOiJpbWctNWpybmY4cmIiLCJuYW1lc3BhY2UiOiJ0ZXN0IiwibmJmIjoxNjY3NDYzOTg5LCJvcGVydGF0aW9uIjoiQ2xvbmUiLCJwYXJhbXMiOnsidGFyZ2V0TmFtZSI6ImRpc2steTRnaTN3aTAiLCJ0YXJnZXROYW1lc3BhY2UiOiJ0ZXN0In0sIn

[2022-11-04 01:45] use-epoll commented on #8715
DV of  sys-disk which clone from the OS img
[code]

[2022-11-04 03:14] proxy2008 opened #8719 "start a vmi with 'Failed to connect socket to '/var/run/libvirt/libvirt-sock'"
**What happened**:
when start a vmi  with some errors.

log with virt-launcher-vmi-dv-pod
[code]

log with virt-handler
[code]

**What you expected to happen**:
start the vmi success.

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.

**Additional context**:

[code]

[code]

**Environment**:
- KubeVirt version (use `virtctl version`): 0.58.0
- Kube

[2022-11-04 10:13] vasiliy-ul commented on #8719
According to the logs, there is a failure while creating nft network rules:
[code]
Does your host kernel support `nftables`? Can be checked with
[code]

[2022-11-05 02:37] sherif84 commented on #8387
hi team, any eta on a fix for this issue ? we are seeing the same issue with rke2 based clusters

[2022-11-05 16:33] #6086 closed

[2022-11-06 07:19] iholder-redhat commented on #6991
/remove-lifecycle stale

[2022-11-06 09:12] akalenyu commented on #7927
/reopen

Same reason as before, couple more cases to consider

[2022-11-06 10:19] akalenyu commented on #7927
/remove-lifecycle stale

[2022-11-06 10:56] akalenyu commented on #8715
Hmm, is there a VolumeSnapshotClass that corresponds to the ceph provisioner (`rbd.csi.ceph.com`)?
(`VolumeSnapshotClass.Driver` == `StorageClass.Provisioner`)

[2022-11-06 20:23] depeo commented on #8420
Did you ever figure out how to do this? I have a similar gpu ssue and would also like to pass qemu some options,  to try to get it working.

[2022-11-07 00:44] proxy2008 commented on #8719
[code]

I checked all the machines in the cluster and they all returned the same content as below.

[2022-11-07 00:51] yeahdongcn commented on #8420
KubeVirt doesn't provide this kind of option. I previously did `exec` into the `virt-launcher` container, using `virsh` to dump and edit the XML then started a new VM.

I wish @alicefr could provide us the `official` example. That would be more helpful.

[2022-11-07 01:47] use-epoll commented on #8715
This is the volumesnapshotClass
[code]

[2022-11-07 04:35] #7756 closed

[2022-11-07 07:27] alicefr commented on #8115
/remove-lifecycle stale

[2022-11-07 07:30] alicefr commented on #8420
Sorry, no time. It is a very busy period. However, you should be able to create your own following the examples we already have like: https://github.com/kubevirt/kubevirt/tree/main/cmd/example-hook-sidecar

[2022-11-07 08:43] rmohr commented on #8387
Oh, can be that `/var/lib/kubelet/pods` should be then no sumlink.

[2022-11-07 09:12] akalenyu commented on #8715
I believe we don't support `apiVersion: snapshot.storage.k8s.io/v1beta1` for a while now (since 1.24 IIRC):
https://github.com/kubevirt/containerized-data-importer/pull/2235

Could you try recreating it with the `v1` API? AFAIK no major changes happened

[2022-11-07 09:31] rmohr commented on #6813
/remove-lifecycle stale
/lifecycle frozen

[2022-11-07 10:56] rmohr commented on #8360
@lyarwood I am not sure if it would really be a breaking change if we make `domain` optional. @davidvossel your thoughts? Maybe v1 would be ok.

[2022-11-07 15:36] zhlhahaha commented on #8708
Not yet, I will have a presentation this Thursday, and I am working on it. After this, I will continue to fixing this issue. When will next release publish?

[2022-11-08 12:20] depeo opened #8733 "Gpu passtrough video out only working after gpu drivers is loaded by the guest os"
**What happened**:
Gpu passthrough is not working before the guest os has loaded the amd graphics drivers, this makes it impossible to install or debug an os without adding the VNC display adapter.

**What you expected to happen**:
GPU passthrough should work, even without any windows drivers loaded, like it does normally in libvirtd.

**Environment**:
- KubeVirt version (use `virtctl version`): v

[2022-11-08 15:00] andreabolognani commented on #8708
@zhlhahaha according to https://github.com/kubernetes/sig-release/tree/master/releases/release-1.26 the release date for Kubernetes 1.26 is going to be 2022-12-06, and according to https://groups.google.com/g/kubevirt-dev/c/1l58t0e7fww KubeVirt 0.59.0 should be out shortly (1-4 weeks) after that.

So there's some time... But not _a lot_ of time ;)

[2022-11-08 15:40] andreabolognani commented on #8708
No idea, sorry O:-)

[2022-11-09 08:58] xpivarc commented on #6087
* https://github.com/kubevirt/kubevirt/pull/8366

[2022-11-09 09:00] xpivarc commented on #8708
@zhlhahaha You should have at least 7 more weeks. More info https://github.com/kubevirt/kubevirt/blob/main/docs/release.md

[2022-11-09 09:30] zhlhahaha commented on #8708
Thanks, great. I will try to figure out it as soon as possible.

[2022-11-09 11:09] andreabolognani opened #8744 "Run node-labeller as an unprivileged workload"
**Is your feature request related to a problem? Please describe**:

node-labeller currently runs in a privileged containers, and on AppArmor hosts that results in the host policy being applied to the libvirtd instance running inside the container.

The virt-launcher image is based on CentOS Stream, where QEMU lives in `/usr/libexec/qemu-kvm`, but on a Debian/Ubuntu host the AppArmor policy expects

[2022-11-09 11:23] rhrazdil opened #8745 "Revise memory overhead of Passt binding"
**What happened**:
Passt binding currently requires an overhead of 800Gi when a VMI doesn't explicitly specify ports, and thus the whole port range is forwarded.

An effort to optimize this is being tracked in https://bugs.passt.top/show_bug.cgi?id=20

This issue serves as a reminder to update the memory overhead added in https://github.com/kubevirt/kubevirt/pull/8716
when the above bug is resolve

[2022-11-09 11:24] rhrazdil commented on #8745
/sig-network

[2022-11-09 15:48] usrbinkat commented on #8698
Possibly related to https://github.com/kubevirt/kubevirt/issues/8044

[2022-11-09 15:54] usrbinkat commented on #8714
It sounds that this request recommends introducing an automated "node drain" function triggered by a "notReady" status event?

If I am understanding that correctly it sounds likely to be better implemented by generic Kubevirt mechanism rather than a Kubevirt specific implemented feature.

[2022-11-09 16:13] brianmcarey opened #8749 "[sig-performance] Increase in memory requirements causing failures in sig-performance tests"
**What happened**:
The sig-performance presubmit and periodic lanes started to fail constantly from 10/28/2022[1].

This is due to VMIs failing to be scheduled because of insufficient memory on the nodes. Looking at one of the recent failures[2], it can be seen in the logs that one of the pods remains in `Pending` state:
[code]
([source](https://storage.googleapis.com/kubevirt-prow/logs/periodic-k

[2022-11-09 16:13] brianmcarey commented on #8749
/cc @rthallisey @xpivarc

[2022-11-09 18:35] fungiboletus commented on #7305
/remove-lifecycle stale

[2022-11-09 20:35] xpivarc commented on #8714
* generic Kubernetes mechanism

There are a few problems. Are we even able to live migrate if the node is not healthy? Probably not. The second question is how can Kubevirt be sure that the VMs are safely shutdown and that we will not run them on 2 nodes? There needs to be a manual or automatic process that will tell us this.

[2022-11-10 01:53] #8708 closed

[2022-11-10 05:33] knitanurag commented on #8698
@usrbinkat Hey, I just found a solution in which i have edited the Prometheus to allow service monitor from all the namespaces and also edited the pod monitor namespace and selector to open for all. now i am getting some of the metrics but still there are some metrics that kubevirt documented but i am not able to see.
I also see there is no proper documentation available if it is other than openst

[2022-11-10 08:14] brianmcarey commented on #8749
These memory issues could be related to the following PR - https://github.com/kubevirt/kubevirt/pull/8613

[2022-11-10 11:06] ehudyonasi commented on #2138
You can always delete the finalizers in the VMI, this will delete it.

[2022-11-10 13:43] bc185174 opened #8763 "CRDs for hotplug volumes and interfaces"
**Is your feature request related to a problem? Please describe**:

Currently, we can only use the `virtctl` CLI or send a request to the API to add/remove hotplug disks (and soon from this [PR](https://github.com/kubevirt/kubevirt/pull/6852) hotplug NICs). The `virtctl` binary is ideal for manual intervention by a user; however, this is a brittle solution when it comes to automation and running c

[2022-11-11 01:43] moshuipan opened #8765 "race detected during execution of test"
**What happened**:
when run command `KUBEVIRT_RUN_UNNESTED=true make go-test` failed with data race.
[code]
**What you expected to happen**:
success to run make go-test.

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.

**Additional context**:
Add any other context about the problem here.

**Environment**:
- KubeVirt version (use `virtctl version`

[2022-11-11 08:29] alicefr commented on #8763
@bc185174
A couple of comments, I don't think we need 2 CRDs but a single one that you create or delete. I don't see the VM name where to attach the storage, is it missing?

[2022-11-11 08:30] alicefr commented on #8763
/cc @awels

[2022-11-11 08:43] bc185174 commented on #8763
Yes definitely missing the VM name. I think for clarity and consistency (with existing implementations), they should be separate CRDs - more so because they trigger two different behaviours.

[code]

[code]

Otherwise with one CRD it would look something like the following which is a bit brittle given the different parameters and behaviours.

[code]

[2022-11-11 08:58] alicefr commented on #8659
@use-epoll we rely on CSI for cloning and taking snapshots. You could use CDI for creating a clone of your image. Does these 2 docs [csi-cloning](https://github.com/kubevirt/containerized-data-importer/blob/main/doc/csi-cloning.md) and [efficient-cloning](https://github.com/kubevirt/containerized-data-importer/blob/main/doc/efficient-cloning.md) answer your question?

[2022-11-11 12:23] roblabla commented on #8290
/remove-lifecycle stale

This is still a problem.

[2022-11-11 14:32] awels commented on #8763
At the time we created the hotplug functionality, we considered making a CRD similar to the LiveMigration object (VMSnapshot didn't exist yet). And basically our consensus was that this operation was more like a VM start/stop than a LiveMigration and that the status updates should be part of the VMI object and not a separate object. This is why we ended up with a sub resource instead of a CRD and

[2022-11-11 15:03] bc185174 commented on #8763
Live migration is apart of the VMI status anyways?

Automation scripts are fine, although it does require greater work from the end-user to achieve this. I think given its a common pattern in Kubernetes that end-users adopt (and probably already do with live migration and snapshots), it seems reasonable to keep it consistent.

Apologies - just seems strange to support it only for a select few jobs

[2022-11-11 15:17] awels commented on #8763
LiveMigration CRD has it own status IIRC, its been a while since I looked. The situation may have changed. I was just letting you know at the time we implemented disk hotplug we considered the CRD approach and decided against it. We can definitely revisit that decision if we have a good argument for CRDs now.

@davidvossel you have any thoughts on this?

[2022-11-11 23:21] hickersonj commented on #7980
Ok I discovered why it was resetting.  The `kubevirt-cr.yaml` manifest file didn't have the `- ExperimentalVirtiofsSupport` feature gate set and seemed to be overriding the patch, not entirely sure why that is. This file resides in the K3S_DATA folder `k3s/server/manifests`.

However, since I've updated it to include the feature gate it no longer is a problem.
This is the updated `kubevirt-cr.yaml

[2022-11-12 14:46] wigust opened #8771 "Broken VMI migration for hostpath-csi PVC"
VMI provisioned to hostpath-csi [1] use live migration type instead of block type [2]:
[code]

Probably because of this migration does not work with hostpath-csi.

Also Kubernetes scheduler reports:
[code]
where cluster has 8 nodes in total (1 of 8 node running virtual machine `myvm`).

[1] https://github.com/kubevirt/hostpath-provisioner-operator/releases/tag/v0.14.0
[2] Constants describing migr

[2022-11-12 14:59] #7895 closed

[2022-11-13 11:26] #6089 closed

[2022-11-13 14:17] ormergi commented on #8713
Hi @chenxinlong, note that the idea is to let the scheduler figure out where the VM should be migrated to.
Have you tried adding some affinity rules?

[2022-11-13 15:09] chenxinlong commented on #8713
I haven't try it.

How should I do ?  Firstly update the spec of vmi(modify schedule related properties) and then create a vmim ?

[2022-11-13 17:07] ormergi commented on #8713
Create the VM, apply node affinity rule and start the migration.
See the following node-affinity rule example, it should make the VM schedule at "node02.example.com" node:
[code]

[2022-11-14 09:43] alicefr commented on #8771
@wigust
I don't think this is a bug in kubevirt. You are using a `ReadWriteMany` PVC, in this way kubevirt assumes correctly that the storage is shared and can be attached to the destination node.
You are using local storage, for what I see, it is hostpath operator/plugin that should refuse to create a RWX PVC using a backend that doesn't implement shared storage.
/cc @awels

[2022-11-14 10:00] #7521 closed

[2022-11-14 11:11] xpivarc commented on #7980
@hickersonj Based on your last comment I am closing this issue. Consider posting this issue to k3s.

/close

[2022-11-14 11:11] #7980 closed

[2022-11-14 11:26] dhiller opened #8776 "Simplify running parallel and serial tests wrt ginkgo 2"
**Is your feature request related to a problem? Please describe**:
We have switched to Ginkgo v2 a while ago but we didn't update the e2e tests code to use it's support for running tests in serial mode.

**Describe the solution you'd like**:

## serial decorator
Ginkgo V2 has the decorator [Serial](https://onsi.github.io/ginkgo/MIGRATING_TO_V2#serial-decorator) that is designed for running tests i

[2022-11-14 12:26] rthallisey commented on #6307
/remove-lifecycle stale

[2022-11-14 12:28] rthallisey commented on #5732
/remove-lifecycle rotten

[2022-11-14 13:24] mkurimeti commented on #8438
+1 , same issue I installed kubevirt v0.58.0 on Kubernetes cluster stuck with the error - failed calling webhook "virtualmachines-mutator.kubevirt.io" any update on this

[2022-11-14 13:25] awels commented on #8771
hostpath provisioner will refuse to create a RWX volume unless it was modified to allow it. So the VM should remain pending because the disks cannot be provisioned.

[2022-11-14 13:45] Sreelal-VU commented on #8438
+1 : Internal error occurred: failed calling webhook "virtualmachines-mutator.kubevirt.io": failed to call webhook

[2022-11-14 17:03] #7730 closed

[2022-11-14 18:18] kammerdiener opened #8782 "go 1.18.3 throwing High and Critical CVEs"
Is this a BUG REPORT or FEATURE REQUEST?: Bug

Uncomment only one, leave it on its own line:
/kind bug

What happened:
Container scans reveal high and critical CVEs with current golang version of go 1.18.3

What you expected to happen:

Update go to the newest version which to mitigate the vulnerabilities.

How to reproduce it (as minimally and precisely as possible):
Running a security scan for C

[2022-11-14 21:50] kvaps commented on #8699
Got the same problem of using block volumes on a new setup:

ref:
- https://github.com/kubevirt/containerized-data-importer/issues/2447#issuecomment-1311300523
- https://github.com/kubevirt/containerized-data-importer/issues/2447#issuecomment-1311707288
- https://github.com/kubevirt/containerized-data-importer/issues/2447#issuecomment-1314450263

[2022-11-14 22:12] pbxqdown opened #8783 "alpine-container-disk-demo VM image's kernel not compatible with latest AMD Zen3 microarchitecture node"
**What happened**:
When trying to run alpine-container-disk-demo VM on a AMD Zen3 node with INVPCID feature, the VM has kernel panic during startup.
The VM's kernel log is as follows:
[code]

**Cause of the issue**:
The old kernel in the VM is not handling the new Zen3 INVPCID feature.
The kernel version is `4.9.65-1` and is missing this patch: https://www.spinics.net/lists/stable/msg453918.html

[2022-11-15 01:06] poojaghumre commented on #6733
Is this planned for the next kubevirt release?

[2022-11-15 07:32] SubhasmitaSw opened #8786 "Add new metrics to evaluate & alert CPU usage for individual instances"
**Is your feature request related to a problem? Please describe**:

The present set of metrics does not allow us to know the CPU usage (%) of each instance. We want to get alerted If the usage goes beyond certain % e.g. 80%.

**Describe the solution you'd like**:

Some set of alerts like - `kubevirt_vmi_vcpu_total` & `kubevirt_vmi_vcpu_current`

**Describe alternatives you've considered**:

What w

[2022-11-15 08:17] williamfpx opened #8787 "FR：hot(un)plug cpu and/or memory"
**Is your feature request related to a problem? Please describe**:
A clear and concise description of what the problem is.
hot(un)plug  cpu and/or memory on a running vm

**Describe the solution you'd like**:
A clear and concise description of what you want to happen.
1. libvirt hot(un)plug cpu：https://libvirt.org/html/libvirt-libvirt-domain.html#virDomainSetVcpusFlags
   In order to hot(un)plug c

[2022-11-15 09:08] maiqueb commented on #6733
We're trying to get it ready. The [code](https://github.com/kubevirt/kubevirt/pull/6852) works, but we're evaluating if the proposed design can be improved / simplified.

[2022-11-15 10:18] maiqueb commented on #8569
@rhrazdil should this issue be closed ?

[2022-11-15 10:25] maiqueb commented on #8787
You could try to socialize this idea and get some early feedback on the KubeVirt weekly community calls.

They're Wednesday, at 15.00 UTC. You can add it to your calendar with [this info](https://github.com/kubevirt/community/#socializing).

[2022-11-15 21:09] jdambly commented on #8347
+1 is there still no chart?

[2022-11-16 09:18] sradco commented on #7720
/remove-lifecycle rotten

[2022-11-16 11:25] rhrazdil commented on #8569
We can close this, thanks!
/close

[2022-11-16 11:25] #8569 closed

[2022-11-16 11:38] rhrazdil commented on #8371
It's probably better to track https://github.com/kubevirt/kubevirt/issues/8745 in this issue, so that everything is at one place.

An effort to optimize this is being tracked in https://bugs.passt.top/show_bug.cgi?id=20. We should update the 800Mi overhead when the optimizations make it to the passt release.

[2022-11-16 11:39] rhrazdil commented on #8745
We'll track this at https://github.com/kubevirt/kubevirt/issues/8371 so that passt related things are at one place only

[2022-11-16 11:39] #8745 closed

[2022-11-16 15:23] usrbinkat commented on #8698
It looks like the available docs for Kubevirt/Prometheus coverage are [here](http://kubevirt.io/user-guide/operations/component_monitoring/#integrating-with-the-prometheus-operator) and I assume you've found them. This might be an opportunity to PR to docs pages.

Are you able to clarify which metrics you're missing that you expect to see?

Perhaps @sradco might have some other info?

[2022-11-16 15:29] usrbinkat commented on #8783
I believe this is a good bug to report on the [kubevirt/containerdisks](https://github.com/kubevirt/containerdisks) repo so that we can address it with a new image build.

[2022-11-16 16:14] depeo commented on #8733
Hi! I was able to solve this, apparently the GPU was bound to vtcon, despite blacklisting it in the kernel args. Now I can see the UEFI bios on guests as well!

[2022-11-16 16:29] awels commented on #8699
@MLintin can you let us know what CRI you are using (CRI-O or containerd) and also what type of storage?

[2022-11-16 21:49] davidvossel commented on #8763
I'm not sure I fully understand what the problem is with regards to reliability of virtctl and hotplug.

virtctl is only a wrapper around the AddVolume and RemoveVolume subresource endpoints. These are declarative actions, meaning virtctl just makes that api call, and the backend reconciles the request (eventually consistent)

@bc185174 are you using kubectl for your automation to post yaml? If so

[2022-11-17 02:23] chinglinwen commented on #8510
coming from this issue: https://github.com/kubevirt/kubevirt/issues/8582

I've encounter similar issue with kubelet --root-dir,  virt-operator is not configurable for virt-handler, the symlink seems can make it work for a while, but then I found virt-chroot(used by containerdisk) binary has strict restriction to symlink.

[code]

the real path is /da1/docker/kubelet

[code]

check if kubevirt supp

[2022-11-17 05:39] #8446 closed

[2022-11-17 05:46] MLintin commented on #8699
@awels
[code]
storage is Self developed storage ， The bottom layer uses ceph  Lversion， Luminous

[2022-11-17 09:54] Longchuanzheng commented on #8618
In my opinion, this phenomenon due to the device's user and group can not be configured by fsgroup or other field in pod securitycontext. We can modify the configuration of CRI to set it by securityContext.
reference:
https://github.com/kubevirt/kubevirt/pull/8804
https://github.com/kubevirt/containerized-data-importer/blob/main/doc/block_cri_ownership_config.md
https://kubernetes.io/blog/2021/11/

[2022-11-17 09:54] #8618 closed

[2022-11-18 09:16] xpivarc commented on #7710
/remove-lifecycle stale

[2022-11-18 11:21] chenxinlong opened #8813 "user password restores to secret defined data after restart vm"
**What happened**:

Start a vm with user password stores in k8s secret :
[code]
Let say the initial username is "Administrator", the password is "123456".

Start this vm and change the password to "abcdefg" in the vnc.  After restart this vm, the password restores to the secret data "123456".

**What you expected to happen**:

What I expected is when I change the password by using vnc(or console/s

[2022-11-18 18:19] #7971 closed

[2022-11-18 20:19] #7968 closed

[2022-11-19 06:19] #7771 closed

[2022-11-19 08:19] #7970 closed

[2022-11-20 07:19] #7978 closed

[2022-11-20 14:14] attlee-wang opened #8817 "identify shutdown "within" or "outside""
How do I identify whether it is an internal shutdown of the virtual machine or an external shutdown of the virtual machine?

[2022-11-20 15:42] mdbooth opened #8818 "kubectl virt image-upload fails with no user-visible indication of why"
**What happened**:
I'm using the kubectl `virt` plugin, installed via krew (incidentally it's the latest available from krew, so the reported version disparity may be a separate issue):

[code]

The timeout takes several minutes. During this time no events are created in either the target or `kubevirt` namespaces. AFAICT no pod is created anywhere, so I can't examine its status for environmental i

[2022-11-20 16:29] mdbooth commented on #8818
The reason it failed was that I hadn't installed CDI. However, the bug stands: it should have told me it was attempting to connect to some endpoint which wasn't available, or that perhaps it had created some CR to manage the import (I haven't looked at the implementation). I could investigate the CR and notice that it has no associated controller.

[2022-11-21 01:41] echowings commented on #5913
with the leatest kubevirt version ,this bug sitll there. Anybody can help us to fix it ?

[2022-11-21 06:17] papandadj commented on #8618
Have you solved this problem?

[2022-11-21 07:35] echowings commented on #5069
The bug still there. Didn't solve with the latest version microk8s and kubevirt

[2022-11-21 08:24] 0xFelix commented on #8783
As of now the `alpine-container-disk-demo` is part of [kubevirt/kubevirt](https://github.com/kubevirt/kubevirt), and because it's part of the testing suite I don't know if it makes sense to move it to [kubevirt/containerdisks](https://github.com/kubevirt/containerdisks), but that might be a separate discussion.

As a short-term fix, the following two defintions in `WORKSPACE` need to be updated:

[2022-11-21 10:04] alicefr commented on #8817
@attlee-wang could you please be more precise about what you mean by `internal` or `external` shutdown?

[2022-11-21 10:44] alicefr commented on #8813
@chenxinlong kubevirt isn't able to distinguish if the secret is used by the administrator and then changed by the user. It always (re)sets it if it is present in the VM specification.
Would be a possibility for you to change the k8s secret with the new password? If not, you could try to remove the secret from the VM specification, but I'm not sure is possible and even a good idea.
Another way is

[2022-11-21 11:47] chenxinlong commented on #8813
There's two scenario for password setting :

1. initial password set
2. runtime password modify

For the first scenario, seems kubevirt does not support Cloudbase-init on windows accoding to https://github.com/kubevirt/user-guide/issues/309 , so I'm looking for another way to solve this(maybe Sysprep), if there's a better way for initial password set on windows, please let me know.

For the second

[2022-11-21 13:30] awels commented on #8618
If you are using containerd then setting the information from the links should fix it.

[2022-11-21 13:41] papandadj commented on #8618
I use rke2 and docker runtime to install k8s. When I fix containerd config and restart containerd, not work for me. I will test weather it works correctly using containerd directly.

[2022-11-21 16:01] kvaps commented on #8699
My case is connected to fact of using macvtap binding mode for pod networking (see https://github.com/kubevirt/kubevirt/pull/7648)

Both features device hotplugging and macvtap for pod newtorking are using [cgroup manager](https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-handler/cgroup/cgroup.go), after which the pod seems loose it's permissions to access the previously configured devices

[2022-11-21 16:23] kvaps commented on #8699
It seems old device rules are not preserved in cgroups v2 manager.

https://github.com/kubevirt/kubevirt/blob/03e057197a87b5cc6c39fa00b913dd1d70bc295f/pkg/virt-handler/cgroup/cgroup_v2_manager.go#L50

I guess `rulesPerPid[v.dirPath]` is always `nil`.

@iholder101, any ideas why it could happen?

[2022-11-21 17:00] kvaps commented on #8699
@vasiliy-ul try mixing not-hotpluggable devices with hotpluggable

[2022-11-21 17:24] kvaps commented on #8699
ref https://github.com/kubevirt/kubevirt/issues/7710

[2022-11-21 17:58] crystalattice commented on #8782
The failing version is go-1.17.10. The recommended upgrade is v1.18.3.

[2022-11-22 01:30] Longchuanzheng commented on #8618
I haven't done a test but I think the method should work.
I would apppreciate if you share your outcome.

[2022-11-22 02:35] zhlhahaha commented on #8708
Some update:

1. I modified the output log level of libvirt (make it can print QEMU), but does not get much useful information.
2. I compiled version 7.1 static qemu-kvm binary from source code and replace it with the qemu-kvm in virt-launcher. VM can successfully boot.

I am checking the rpm source in http://mirror.stream.centos.org/9-stream/AppStream/source/tree/Packages/ to see how qemu-kvm-cor

[2022-11-22 07:37] vasiliy-ul commented on #8699
I think I have some thoughts. Indeed, the issues can be reproduced when we have a mix of hotpluggable and non-hotpluggable **block** volumes.

When a block volume is non-hotpluggable (i.e. it is specified explicitly in the VMI spec), the device **cgroup permissions** are managed purely by Kubernetes and CRI. For v2, that means a BPF program is assigned to the POD's cgroup. However, when we manage

[2022-11-22 07:57] papandadj commented on #8618
After use k3s and contaienrd,I can download .img file

[2022-11-22 08:28] sradco commented on #8698
@knitanurag @usrbinkat Please have a look here https://book.kubebuilder.io/reference/metrics.html
at the paragraph that starts with: "If you are using Prometheus Operator ensure that you have the required permissions".

Please update which metrics are documented and are no showing.

[2022-11-22 08:28] zhlhahaha commented on #8708
/open

[2022-11-22 13:14] vasiliy-ul commented on #8699
Tentative fix https://github.com/kubevirt/kubevirt/pull/8828

[2022-11-22 13:17] iholder101 commented on #8699
That's interesting. Thanks @vasiliy-ul for sharing these thoughts.
You're very right. We have a problem of not being able to convert BPF to a set of v1-like rules, therefore defined some baseline default rules that are assumed to be the pod's default cgroup settings. It's possible that hotplug volumes come with different set of device rules and we might be deleting them by applying the "default" r

[2022-11-22 14:24] attlee-wang commented on #8817
@alicefr  internal: os shutdown，such as user exec `shutdown -h now` at VM insite.  external:  In addition to kubevirt components by other exceptions caused，such as the problem with the system disk.

[2022-11-22 15:22] ormergi commented on #6776
/remove-lifecycle rotten

[2022-11-23 01:34] chenxinlong commented on #8813
thanks.

[2022-11-23 01:34] #8813 closed

[2022-11-23 03:25] #7626 closed

[2022-11-23 03:30] kunalpuriii opened #8830 "adding static route results in error RTNETLINK answers: Operation not permitted"
**What happened**:
Unable to add static route in kubevirt based VM, results in error

bash-4.4# ip route add 192.168.0.0/24 via 192.168.101.2
RTNETLINK answers: Operation not permitted

SUDO does not work as well

**What you expected to happen**:
Route will be configured

**How to reproduce it (as minimally and precisely as possible)**:
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  n

[2022-11-23 06:23] maikoulin opened #8831 "Request help Start windowS XPVM blue scree"
![image](https://user-images.githubusercontent.com/9984908/203483145-6924cc1d-a651-4368-8de9-33eb326658a5.png)

Kubernetes version  v1.22.12
kubevirt version 0.49.0-2
Kernel  5.3.18-150300.59.87

[2022-11-23 07:08] junfsir opened #8832 "virtctl scp from or to windows server failed"
**What happened**:
Using virtctl scp command to copy file from windows server to linux or windows failed, and there is OpenSSH installed and running on windows server.
`# virtctl scp   administrator@win2k12r2-vmi:C:/users/administrator/desktop/filebeat-6.8.9.zip /tmp/
administrator@vmi/win2k12r2-vmi.openshift-cnv's password:
scp: 'C:/users/administrator/desktop/filebeat-6.8.9.zip': No such file or

[2022-11-23 08:38] xpivarc commented on #8831
@dhiller You have played with windows previously. Would you know how to help here?

[2022-11-23 08:51] vasiliy-ul commented on #8699
Interesting thing: this issue seems no more reproducible with the latest master. Initially, I was working on top of 5fb0fdfd845. Then I rebased the changes 1d0a42d78aa7 and the issue has gone so that the VM can be started even without the fix. Seems some change has affected the behavior. Will probably need to bisect...

[2022-11-23 09:19] MLintin commented on #8699
yes, my env is cgroupv2

[2022-11-23 12:35] vasiliy-ul commented on #8699
So git-bisect pointed out that after this commit https://github.com/kubevirt/kubevirt/commit/27a95d2df332d6309dcae7325fdced0434c26cf2 the issue is not reproducible anymore. This is the related PR: https://github.com/kubevirt/kubevirt/pull/8344

The commit indeed changes the hotplug flow and makes the attachment pod to run only after a VM pod has started  (hence our cgroup BPF program gets attached

[2022-11-23 13:06] rplst8 commented on #8782
Some findings, including the following https://nvd.nist.gov/vuln/detail/CVE-2022-2879 require an update to one of the following golang versions:

[2022-11-23 15:53] usrbinkat commented on #8831
/cc @dhiller

[2022-11-23 16:00] usrbinkat commented on #8830
Thank you for raising your observations.

It looks like you are testing with Cirros, the demo image.

Would you be able to test with a different image? Possibly consider one of the kubevirt built images in the https://quay.io/organization/containerdisks repo?

[2022-11-23 16:00] usrbinkat commented on #8830
/cc @usrbinkat

[2022-11-23 17:48] lyarwood opened #8844 "The VirtualMachineInstance "foo" is invalid: spec.domain.clock.timer: Invalid value: "null": spec.domain.clock.timer in body must be of type object: "null""
**What happened**:

/area instancetype
/area api-server

[`Timer`](https://kubevirt.io/api-reference/master/definitions.html#_v1_timer) is listed as optional within [`Clock`](https://kubevirt.io/api-reference/master/definitions.html#_v1_clock) but isn't marked as `omitempty` in the actual schema:

https://github.com/kubevirt/kubevirt/blob/267dddd27d95d7e6a2ee6a87fdc5a42317e7f09e/staging/src/kubevi

[2022-11-23 20:34] w13915984028 commented on #8175
Something is missing in `machine-type` pc (i440FX) in KubeVirt.

When use the IDE bus qcow2 image (converted from vmdk, the default bus) in virt-manager, it will add `controller IDE 0` by default, and the `diskbus` IDE is selectable.

![image](https://user-images.githubusercontent.com/31133476/203639833-41cc1dea-a8da-4915-867c-5272373e5411.png)

![image](https://user-images.githubusercontent.com/3

[2022-11-23 20:45] w13915984028 commented on #8175
GAPs:

(1) for machine-type `pc/i440FX`, QEMU supports IDE bus, virt-manager/virsh supports IDE bus (on top of QEMU); but it is not supported in KubeVirt

(2) on the other hand, the `IDE` image can only be used with absolute path (like the ...noCloud.iso), it will restrict the VM to be scheduled to given NODE, and is difficult to migrate ?

[2022-11-23 23:19] usrbinkat commented on #8830
I gave this some testing today. I'm not confident about the full picture yet. I did have success configuring Netplan on Ubuntu using networkData version 2 based on the [cloud init docs examples](https://cloudinit.readthedocs.io/en/latest/topics/network-config-format-v2.html#examples) as seen below.

I'll try to dive deeper either Friday or Saturday and report back with more detail.

I did notice t

[2022-11-24 03:18] zhangzhangzf commented on #2303
I also encountered this problem.  k8s version:1.20 kubevirt version:0.49 centos7u4.

[2022-11-24 07:31] wizpresso-steve-cy-fan commented on #8387
This is also an issue for k0s when it is symlinked:

[code]

[2022-11-24 09:33] #7526 closed

[2022-11-24 11:58] w13915984028 commented on #8175
One solution for CentOS7:

(1) Convert the vmdk to qcow2 image; or it's already there
(2) Run VM with this qcow2 directly via e.g.
[code]
(3) In the running VM, run following command to install virtio driver
[code]

(4) Power off VM, the qcow2 will have `virtio` dirver installed
(5) Per Harvester guide, upload the qcow2 to an image, run VM with this image using virtIO driver, the VM will run.

(1)

[2022-11-24 11:59] w13915984028 commented on #8175
Per investigation, the workaround works, close this issue.

[2022-11-24 11:59] #8175 closed

[2022-11-24 13:06] vasiliy-ul commented on #8831
@maikoulin, are you trying to use an existing image with a WinXP VM or to install a fresh system? Could you share your VM yaml? Also looking at `kubevirt version 0.49.0-2` I guess you are using Harvester?

[2022-11-24 15:51] alicefr commented on #8817
AFAIU, if user executes inside the guest `shutdown` or `poweroff`, then the pod/VMI should be in Completed/Succeeded state. If there is an error with the system, I'd expect some kind of error message. For example, on IO errors, the guest is in paused state, but the virt-launcher still runs and an event is thrown.
Otherwise, if you are talking about errors during boot, again the virt-launcher pod s

[2022-11-25 09:21] rmohr commented on #8782
Main uses 1.19.2 and I created #8782 to move release-0.58 to a golang version with a fix. Thanks for reporting.

[2022-11-25 11:37] #7940 closed

[2022-11-25 13:06] HistoryGift opened #8856 "kubevirt cloudinitnocloud not work"
**What happened**:
My yaml file likes :
---
apiVersion: kubevirt.io/v1
kind: VirtualMachineInstance
metadata:
  labels:
    special: vmi-fedora-1
  name: vmi-fedora-1
spec:
  networks:
  - name: default
    pod: {}
  domain:
    devices:
      interfaces:
        - name: default
          masquerade: {}
      disks:
      - disk:
          bus: virtio
        name: containerdisk
      - disk:

[2022-11-26 07:16] #8856 closed

[2022-11-26 07:16] HistoryGift commented on #8856
I got the problem, I use the docker image which doesn't install cloud* package

[2022-11-26 13:03] swq499809608 commented on #8046
1. Create vm is fail,  Error info ....
Warning  FailedPvcNotFound  7m (x20 over 17m)  virtualmachine-controller  failed to render launch manifest: didn't find PVC 74v4-snap-os

2. Snap create is ok :

# kubectl  get pvc -n csi-ceph-rbd
NAME               STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
74v4               Bound    pvc-74a41d1b-d1a8-4d

[2022-11-26 13:04] swq499809608 opened #8860 "Warning FailedPvcNotFound 7m (x20 over 17m) virtualmachine-controller failed to render launch manifest: didn't find PVC 74v4-snap-os"
1. Create vm is fail,  Error info ....
Warning  FailedPvcNotFound  7m (x20 over 17m)  virtualmachine-controller  failed to render launch manifest: didn't find PVC 74v4-snap-os

2. Snap create is ok :

kubectl  get pvc -n csi-ceph-rbd
  NAME               STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
  74v4               Bound    pvc-74a41d1b-d1a8-

[2022-11-27 02:40] #5124 closed

[2022-11-28 04:41] #7995 closed

[2022-11-28 05:41] #7996 closed

[2022-11-28 09:41] #7992 closed

[2022-11-28 12:06] ahussey-redhat commented on #7714
/remove-lifecycle stale

[2022-11-28 12:06] ahussey-redhat commented on #7714
This is also being tracked by https://access.redhat.com/support/cases/#/case/03255000

[2022-11-28 13:06] lyarwood opened #8867 "dedicatedCPUPlacement is not usable when set within an instance type"
/area instancetype

**What happened**:

`dedicatedCPUPlacement` is not currently usable when set on an instance type as instance types do not currently support resource requests. This will eventually cause the following VMI create validation check to fail:

https://github.com/kubevirt/kubevirt/blob/55f993a1a8f9385b60d0b74ba73ac7fb9113789f/pkg/virt-api/webhooks/validating-webhook/admitters/vmi-crea

[2022-11-28 20:22] jt0dd opened #8870 "Does KubeVirt play nice with Constellation (confidential computing)?"
See this post that I just made on LinkedIn (pasted below): https://www.linkedin.com/feed/update/urn:li:activity:7003044816477409280/

I reference KubeVirt as a way to achieve fully cloud-agnostic infrastrcture-as-code, but it occurs to me that KubeVirt may not play nice with Constellation: https://github.com/edgelesssys/constellation

"Constellation is a Kubernetes engine that aims to provide the

[2022-11-29 01:01] pbxqdown opened #8871 "Make Kubevirt test's vmi running timeout configurable"
Many kubevirt tests set a constant VMI running timeout(E.g[ this line](https://github.com/kubevirt/kubevirt/blob/main/tests/vmi_configuration_test.go#L145) sets timeout to be 60s).

However, VMI running timeout varies by zone size, zone type and test suites. Larger zone(with more nodes) and busier zone take longer time for VMI to reach running state. A static timeout setting may cause tests flaky.

[2022-11-29 01:02] pbxqdown commented on #8871
@rthallisey for viz

[2022-11-29 01:08] pbxqdown opened #8872 "Add nodeSelector for newVMI test utility functions"
newVMI test utility functions don't have nodeSelector specified. This means test VMI can be scheduled to any nodes.

On large cluster with different host types, only specific type of node is allowed to run VMI on.

 It would be good for test utility functions(E.g. `NewRandomVMIWithEphemeralDisk`) to have nodeSelector support.

[2022-11-29 01:08] pbxqdown commented on #8871
Link similiar issue #8872 as well

[2022-11-29 08:11] xpivarc commented on #8872
Hi @pbxqdown ,
There is an ongoing effort to remove `NewRandomVMIWithEphemeralDisk` and replace it with a more flexible `libvmi` package.

Can you elaborate on why you want to limit the test suite to a subset of nodes?

[2022-11-29 08:58] atiwaripw commented on #3405
/reopen

[2022-11-29 09:06] atiwaripw opened #8873 "OVS-DPDK support for Kubevirt VM"
Hey team,

We see there was some work done by @krsacme(linked below) and team to get above feature in DPDK. It never made to the upstream though. We have requirement for this for few use cases like Palo alto firewalls. This will be a value addition for Edge and NFV (telcos) deployment scenarios.

Just wanted to check what efforts/steps are needed to get it into upstream.

Previous Pull request and

[2022-11-29 16:08] rthallisey commented on #8708
Once the release branch is cut, there is a feature freeze.  This won't happen until 4-8 weeks after a kubernetes release.

[2022-11-29 23:28] pbxqdown commented on #8871
Hi @xpivarc Yes we are running tests in production cluster(aka zone). I think it would be good to add it to conformance testing.

[2022-11-29 23:32] pbxqdown commented on #8872
Using `limbmi` package in future would be good. Wondering which release would bring in this change.
Our zone has different host types. Some hosts have stricter security context applied and prohibit container-disk testVMI to schedule on.

[2022-11-30 02:30] #8844 closed

[2022-11-30 03:30] zhlhahaha commented on #8708
Thanks Ryan!

[2022-11-30 10:16] yangxiaoliang commented on #8487
Hi @mhenriks  @xpivarc ,

I am wondering if it's  possible to add an initContainer into the virt-launcher pod, then the initContainer conduct image pull and import to PVC instead of CDI importer pod ? Could you help to provide some comments?  Thanks a lot.

[2022-11-30 12:02] zhhray opened #8880 "SyncVMI failed LibvirtError noCloud.iso: Permission denied"
**What happened**:
When I started a VM, I saw that the virt-launcher pod kept crashing and restarting.
Its log display references this image.
<img width="1353" alt="image" src="https://user-images.githubusercontent.com/8120555/204790231-85f26cac-0697-4e10-ae0a-d89d06d175f3.png">

**What you expected to happen**:
The virtual machine starts properly

**How to reproduce it (as minimally and precisely

[2022-11-30 12:03] zhhray commented on #8880
The users and groups that see the iso file on the node are both root.
<img width="1206" alt="企业微信截图_e70996a7-b11b-4494-b513-7d28309adac4" src="https://user-images.githubusercontent.com/8120555/204791403-00e4b63b-8335-4ec7-84b0-1dd0f6911b1b.png">

[2022-11-30 12:12] zhhray commented on #8880
From the perspective of the code, shouldn't it sets the iso file user and group to `qemu`? Why is the execution not successful here? According to the log, the code execution didn't work and libvirt threw an error.
https://github.com/kubevirt/kubevirt/blob/release-0.53/pkg/cloud-init/cloud-init.go#L537
https://github.com/kubevirt/kubevirt/blob/release-0.53/pkg/ephemeral-disk-utils/utils.go#L67

[2022-11-30 12:21] cszixin commented on #2763
hi, follow this , now i can run macos on kubevirt, but vnc do not work(use `virtctl vnc` command )
i can not input anything with mouse and keyboard
this is the qemu command
/webhook/macox/qemu/bin/qemu-system-x86_64 -name guest=test3-vir_macox-test,debug-threads=on -S -object secret,id=masterKey0,format=raw,file=/var/lib/libvirt/qemu/domain-1-test3-vir_macox-test/master-key.aes -blockdev {"driver"

[2022-11-30 15:24] usrbinkat commented on #8860
Okay, first look it seems the PVC you have allocated is in the namespace csi-ceph-rbd as seen in your command `kubectl get pvc -n csi-ceph-rbd`, while the VM is in the namespace `k8s-vmi`.

Try again with the PVC and VM in the same namespace and see if you get further with that.

[2022-11-30 17:04] EdDev commented on #8873
I remember two points which have been raised at the time and I think are still relevant:
- SR-IOV hardware advancement (especially in price, availability and VF density per PF) has made OVS-DPDK less attractive on many scenarios. It was not clear if it is worth the effort to invest in this and support it.
- Due to the code base structure which implements the different bindings in kubevirt, it is h

[2022-11-30 17:04] EdDev commented on #8873
/sig network

[2022-11-30 18:20] summer-father opened #8883 "do this have for Mac M2 desktop --docker --kubernetes package and helm install method? I hope kown how can I use,thanks"
**Is your feature request related to a problem? Please describe**:do this  have for Mac M2  desktop --docker  --kubernetes  package  and  helm  install  method? I hope kown  how  can  I  use,thanks
A clear and concise description of what the problem is.

**Describe the solution you'd like**: helm  install  /portainer/ kubernetes  -dashbord  GUI  I  like
A clear and concise description of what you