[2020-09-25 20:31] davidvossel commented on #4268
/release-blocker master

[2020-09-25 20:34] davidvossel commented on #4268
/cc @xpivarc @rmohr

I see two solutions.

1. Add an empty "no-op" status field back to the DataVolumeTemplateSpec.  It woudl just exist for backwards compatibility

2. Add logic in the mutation webhook to strip the status from the DataVolumeTemplateSpec when requests come in.

I'm most confident in item 1 resolving the issue.

[2020-09-26 00:55] shwetaap commented on #3872
Seeing Unable to open /dev/kvm: Operation not permitted here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4236/pull-kubevirt-e2e-k8s-1.16/1309183957853540352

[2020-09-26 01:16] shwetaap commented on #4090
Same failure seen again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4236/pull-kubevirt-e2e-k8s-1.18/1309183957866123264

[2020-09-26 08:57] T0MASD commented on #1230
@fabiand does this remove ability to run aarch64, armv8 or any machine type that is available to qemu system emulator (dnf search qemu-system)?

[2020-09-26 09:59] majst01 commented on #4094
same here, seems to be related to: https://github.com/kubevirt/kubevirt/issues/1205 because i also see:

[code]

[2020-09-26 23:18] kevtheappdev commented on #4207
Hi! I'm interested in working on this along with some colleagues of mine as part of a course on Virtualiztion at UT Austin. Can we work on this issue? Thanks!

[2020-09-27 08:38] wasd120d commented on #4094
Got the same issue when doing the official "First steps with KubeVirt";
Got failed for vmis and using kubectl describe vmis got following message:
****
[code]
Any idea how to fix this?

[2020-09-27 09:25] #3367 closed

[2020-09-27 09:40] todaygood opened #4270 "failed to ping , and access vnc, console of a vm which image is built by myself"
**What happened**:
failed to ping , and access vnc, console  of a vm named "cirros" with container disk image , the image is built by myself.
[code]
[root@node1 test-vm]# virtctl console cirros
Can't connect to websocket (503): websocket: bad handshake

**How to reproduce it (as minimally and precisely as possible)**:
1. install k8s cluster 1.18.9
2. install kubevirt 0.33.0
3. start testvm , you w

[2020-09-27 11:27] #3072 closed

[2020-09-27 14:02] salanki commented on #4182
Could this be related to disk cache setting? Ie. if kubevirt defaults to write-through but the vanilla on the host is write-back?

[2020-09-27 15:42] majst01 commented on #4094
Have to add that using the latest images which should have this https://github.com/kubevirt/kubevirt/pull/4163 fix applied but still does not work.

[2020-09-28 03:33] lixiaobing1 opened #4271 "make all failed: Loading: 0 packages loaded"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
make failed, detail information:

make all
hack/dockerized "DOCKER_PREFIX= DOCKER_TAG= IMAGE_PULL_POLICY= VERBOSITY= ./hack/build-manifests.sh && \
            hack/bazel-fmt.sh && hack/bazel-build.sh"
selecting docker as container runtime
go version go1.12.8 linux/amd64

1e2965146ba89fd54a6f70eb737f63e59f2efa65aab5c0105f

[2020-09-28 09:22] rmohr commented on #4270
I wonder if it works if you change it like this:

If yes, then we report something wrong.

Apart from that, what is the response for `VNC` and `console` invocations?

[2020-09-28 09:37] andreabolognani commented on #3615
The default provider has been changed with 96376629e343, and I just verified that I can now use the `examples/vmi-nocloud.yaml` on my machine without issues. Closing.

[2020-09-28 09:37] #3615 closed

[2020-09-28 11:34] todaygood commented on #4270
I found  kubevirt api  went wrong  after this issue happened.
[code]
I find many error like as following in virt-api log
[code]

[2020-09-28 11:59] rmohr commented on #4270
Could you show us the `virt-operator` logs and the `virt-controller` logs? It looks like the certificates are never handed out and virt-controller seems to also crrash-loop for some reason.

[2020-09-28 12:10] todaygood commented on #4270
[code]
[handshake.zip](https://github.com/kubevirt/kubevirt/files/5292082/handshake.zip)

[2020-09-28 12:13] rmohr commented on #4270
@todaygood I have never seen something like this before. Can it be that the network in your cluster has some troubles? `virt-controller` and `virt-handler` don't seem to do much. They seem to mostly just time out and stop when they lose the leader election.

[2020-09-28 12:35] todaygood commented on #4270
no network problem in my k8s cluster.

[code]

[2020-09-28 13:14] davidvossel commented on #4094
/cc @maiqueb @phoracek

any idea what might be causing this? Seems related to the network changes recently around tap devices.

[2020-09-28 21:14] jean-edouard commented on #4254
I could not reproduce this issue on the latest master with 2 k8s 1.19 nodes, seems fixed indeed.

[2020-09-28 22:23] yuhaohaoyu commented on #3512
Hello, I think I have an initial fix to this problem following David's suggestion. I need permission to push code.

Currently, the rule for the API group `kubevirt.io` in the definition of the `ClusterRole kubevirt-controller` in `pkg/virt-operator/creation/rbac/controller.go` is
|Resource API   | API Group             | Verbs |
| ----          | ---                   | ---   |
|*              | k

[2020-09-28 22:28] yuhaohaoyu commented on #3512
Correction:
`kubectl delete vm --as system:serviceaccount:kubevirt:kubevirt-controller`
-->
`kubectl auth can-i delete` vm --as system:serviceaccount:kubevirt:kubevirt-controller`

[2020-09-29 07:18] maiqueb commented on #4094
Having `virt-handler` logs to confirm it would be helpful, but we've recently found (in openshift) something similar: since we don't compile with bazel, we were compiling kubevirt without the `selinux` tag, which in turn caused virt-handler to not be able to read the virt-launcher label or effectively change context.

@majst01 / @wasd120d https://github.com/kubevirt/kubevirt/pull/4248 should fix i

[2020-09-29 07:30] majst01 commented on #4094
@maiqueb can you confirm than running all pods with :latest tag uses this ?

[2020-09-29 07:42] rmohr commented on #3187
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-09-29 10:11] rmohr commented on #4264
/close

According to @jean-edouard responding in https://github.com/kubevirt/kubevirt/issues/4262#issuecomment-698917835, it takes some time to install selinux policies and this looks pretty normal.

[2020-09-29 10:11] #4264 closed

[2020-09-29 11:05] rmohr commented on #4270
Something is really wrong here. Could you also share the previous logs `-p` from virt-controller? They were missing and virt-controller just continues restarting.

[2020-09-29 16:47] #4268 closed

[2020-09-29 18:07] jean-edouard opened #4276 "Prow doesn't highlight build errors anymore"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When looking at the test results for a failed lane, the summary on top shows the list of tests that failed, but the build logs below only highlight 1 failure, in the summary line at the end.
Example: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3838/pull-kubevirt-e2e-k8s-1.16/131093990

[2020-09-30 01:11] npu21 opened #4280 "kubectl delete vmi failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
1.kubectl create -f vmi.yaml
[code]
The vmi running successfully
2.kubectl delete vmi
3.The virt-launcher pod deleted successfully，but the vmi Failed，and even force delete with no result
[code]
**What you expected to happen**:
the vmi deleted
**Anything else we need to know?**:
I also tried create vm and delete vm.However

[2020-09-30 01:19] npu21 commented on #4280
/kind bug

Any help will be appreciated！

[2020-09-30 02:32] wyyxd2017 opened #4284 "support tolerations"
/kind enhancement

## What happened:
The pod can't be scheduled when node be tanited.I can add deployment.spec.template.spec.tolerations to reschedule the pod on the tanited node.It is stupid.

## What you expected to happen:
Add the code to enhance for the pod  can always scheduler on the nodes which is tanited, eg  virt-handler-xx.

## Anything else we need to know?:
[EDIT]
add a env, which coul

[2020-09-30 02:46] wyyxd2017 commented on #4284
thanks!

[2020-09-30 07:07] dhiller opened #4285 "[test_id:3139] on KubeVirt v0.33.0 vs OCP 4.6 fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We are currently working on creating the test lane for KubeVirt v0.33.0 against OCP 4.6 ([PR](https://github.com/openshift/release/pull/12070)). Now when configuring the usual test set that we also use on the nightly build there was one test that failed due to a timeout, which might be a flake or an issue.

[code]

Test

[2020-09-30 08:40] ravidbro commented on #4267
@rootfs in case that you are using whereabouts or static CNIs, there is an option there to configure also DNS servers

[2020-09-30 09:51] ashleyschuett opened #4286 "[Flakey CI] Infrastructure [rfe_id:4126][crit:medium][vendor:cnv-qe@redhat.com][level:component]Taints and toleration CriticalAddonsOnly taint set on a node [test_id:4134] kubevirt components on that node should not evict expand_more"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
``` Infrastructure [rfe_id:4126][crit:medium][vendor:cnv-qe@redhat.com][level:component]Taints and toleration CriticalAddonsOnly taint set on a node [test_id:4134] kubevirt components on that node should not evict expand_more```

periodically fails, example run:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/p

[2020-09-30 12:10] rootfs commented on #4267
@ravidbro yes, i added DNS nameservers in whereabouts, but it is not picked up by the launcher Pod.

[2020-09-30 12:35] ravidbro commented on #4267
Then maybe the direction should be a bug there.

[2020-09-30 12:38] rootfs commented on #4267
@ravidbro see [this](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/virtwrap/network/common.go#L337)

[2020-09-30 12:53] oshoval commented on #4286
#4167 fixes other issue, here we have a conflict issue

[2020-09-30 16:20] ezrasilvera commented on #3858
/assign

[2020-09-30 22:04] salanki commented on #4284
This is implemented in master by https://github.com/kubevirt/kubevirt/pull/4092.

Example usage:
[code]

[2020-09-30 22:10] salanki opened #4290 "Virtio-FS failing on hosts with AppArmor"
/kind bug

**What happened**:
Trying out snapshot build 20200928 with #3493. virtio-fs is setup to map a cephFS backed PVC.

Ubuntu 18.04. Host kernel: 5.4.0-47-generic. No SELinux. Apparmor enabled.

The `docker-default` AppArmor profile is too restrictive for Virtio-FS to work.

Qemu fails to start with:
[code]

virtiofsd logs:
[code]

**Workaround**
Annotate the VMI with:
[code]

Since new app

[2020-10-01 04:46] salanki commented on #4290
Log from virtiofsd:
[code]

[2020-10-01 05:33] salanki commented on #4290
This is related to apparmor. When I disable apparmor on the node it works.

[2020-10-01 05:33] salanki commented on #4290
This is related to apparmor. When I disable apparmor on the node it works.

[2020-10-01 07:06] oshoval commented on #4286
/assign
creating a PR

[2020-10-01 09:23] Fefer-Ivan commented on #2566
We had a similar issue with our CI running in Kubernetes (without KubeVirt): sometimes random tests would fail with `panic: open /dev/null: operation not permitted`

In our case the problem was fixed by removing --cpu-manager-policy=static (https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/) from our kubelet.

Hope it helps.

[2020-10-01 11:21] vladikr commented on #4290
Hi @salanki , thanks for testing this!

I'm wondering what kind of host OS are you testing this on?
Also, there is an additional log file, that is not being collected right now that we can look at.
If you'd exec into the virt-launcher pod `kubectl exec -it [virt-launcher-pod-name] -c compute -n [namespace]` a virtiofsd log file will appear the moment it starts (it may take some time, depending on

[2020-10-01 11:21] vladikr commented on #4290
ah! missed this comment :) good to know!

[2020-10-01 11:52] rmohr opened #4294 "VM rename has some unwanted side-effects"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The VM rename feature as introduce in https://github.com/kubevirt/kubevirt/pull/3036 has a lot of issues.

Most important the following:

 * It blindly deletes a VM with the new target name. So if you rename a VM A to B and B already exists, it just gets delerted and replaced by a A - clone
 * Deleting VMs which are with

[2020-10-01 12:30] salanki commented on #4290
Ubuntu 18.04. I’m running default apparmor settings for Kubernetes / Ubuntu / Docker so I would imagine anyone running Ubuntu on the host will have the same issue as me.

[2020-10-01 14:53] davidvossel commented on #1023
/reopen
/remove-lifecycle rotten

[2020-10-01 18:55] salanki commented on #4290
Adding `container.apparmor.security.beta.kubernetes.io/compute: unconfined` on the pod spec should solve (or at least workaround) this.

[2020-10-01 20:08] salanki commented on #4290
@vladikr: I have confirmed that annotating the VMI with `unconfined` solves the problem. I'll leave it up to you if you want to add that annotation in the `virt-controller` automatically when virtio-fs is enabled or just let the user add it on the VMI.

Thank you for implementing virtio-fs, the timing couldn't have been better for me!

[2020-10-01 21:21] #4286 closed

[2020-10-02 08:35] ksimon1 commented on #4227
@fabiand
How we should solve this in common-templates?
We can 1) increase number of vcpu in templates,
2) we can disable multique for templates which have vcpu == 1.

[2020-10-02 08:41] phoracek commented on #4227
The first question would be, how do we make sure that VMs created in the previous release won't refuse to start in the new one. I'm afraid we have a serious upgrade problem here.

[2020-10-02 08:48] ksimon1 commented on #4227
I created a BZ for this issue https://bugzilla.redhat.com/show_bug.cgi?id=1884536

[2020-10-02 13:00] todaygood commented on #4271
I met the issue too .
[code]

[2020-10-02 13:41] birdiesanders commented on #4221
Alright, I am finally in position to test this fix. We installed vanilla 0.33.0 and it still suffers tun0 failures. The dev branch will be our best bet?

[2020-10-02 17:54] unikzforce opened #4303 "Failed to start QEMU binary /usr/libexec/qemu-kvm for probing: libvirt: error : cannot execute binary /usr/libexec/qemu-kvm: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Hey there Guys, I had a problem with kind version 0.33 related to this [selinux issue](https://github.com/kubevirt/kubevirt/issues/4088), which I think the fix is not yet merged into release 0.33 yet, so I then decided to build kubevirt myself from latest commit (commit id 5029fafc) in master branch using [this guide](ht

[2020-10-02 19:43] yhaenggi commented on #1376
/remove-lifecycle stale

[2020-10-02 19:43] yhaenggi commented on #2948
/remove-lifecycle stale

[2020-10-03 07:23] MarSik commented on #3906
It is a label on the Template, because templates need to be searchable according to their flavour. I guess it just got propagated to the VM this way.

[2020-10-04 00:32] todaygood commented on #4271
I soved the question "Loading: 0 packages loaded",but met a new as following.

[code]

[2020-10-04 07:46] todaygood commented on #4271
I build successfully, but I don't know whether it is a general and right way.

@lixiaobing1 , your issue is caused by network,  the process need to visit internet network , sometimes you may need over GFW if you're in China.

[2020-10-04 09:55] EdDev commented on #4119
@ormergi , the workaround that @maiqueb mentioned is in place (you can change it to an empty script if it works, just send a PR).
I think that works and solves the issue raised here without asking to test user to know about it (embedded in the factory).

Can this issue be closed now?

[2020-10-04 10:49] #3246 closed

[2020-10-04 12:10] maya-r commented on #4258
/triage build-watcher

[2020-10-04 12:10] maya-r commented on #4257
/triage build-watcher

[2020-10-04 12:10] maya-r commented on #4238
/triage build-watcher

[2020-10-04 12:11] maya-r commented on #4103
/triage build-watcher

[2020-10-05 06:34] fabiand commented on #4227
Reading #4300 it looks like we'll conditionally request non-multiqueue capable tap in the case of vcpu=1 and multiqueue enabled tap in the case of vcpu>1 - which will ensure backwards compatibility.
Is this correct?

[2020-10-05 06:35] fabiand commented on #4227
@phoracek @maiqueb are we considering this issue to be a release blocker for kubevirt?

@davidvossel

[2020-10-05 07:03] maiqueb commented on #4227
Yes; that will preserve the existing behavior, while correcting the openAPI description.

[2020-10-05 07:35] maiqueb commented on #4227
Yes; what we currently have will prevent existing VMIs from being started (after a stop / migration). Correct me if I'm wrong @phoracek .

[2020-10-05 07:37] maiqueb commented on #4119
I think so; I don't think baking another set of images for cirros deserves the time it takes.

@ormergi , please close the issue if you're OK with the answer.

[2020-10-05 07:46] fabiand commented on #4227
/release-blocker release-0.34

[2020-10-05 08:43] korenlev opened #4309 "add namespace attribute for virtctl ?"
**FEATURE REQUEST**:

**What happened**:
VM/Pod deployed on a chosen namespace

**What you expected to happen**:
virtctl guestosinfo vmi-cirros -n my-chosen-ns

**How to reproduce it (as minimally and precisely as possible)**:
virtctl vnc vmi-cirros
Can't access VMI vmi-cirros: virtualmachineinstance.kubevirt.io "vmi-cirros" not foundo

**Anything else we need to know?**:

**Environment**:
- KubeV

[2020-10-05 08:45] dhiller opened #4310 "test_id:1780 is three tests in reality"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When checking for [test_id:1780](https://github.com/kubevirt/kubevirt/blob/f371b255e9c35dc2dd673313d9c2024c56afa2ce/tests/vmi_networking_test.go#L610) I noticed that this is in fact a test table and there are [three tests](https://github.com/kubevirt/kubevirt/blob/f371b255e9c35dc2dd673313d9c2024c56afa2ce/tests/vmi_networ

[2020-10-05 08:45] korenlev commented on #4309
kubectl get virtualmachineinstance -n my-chosen-ns -o wide
NAME         AGE    PHASE     IP                NODENAME      LIVE-MIGRATABLE   PAUSED
vmi-cirros   104m   Running   192.168.247.146   korens-3      False

[2020-10-05 08:45] dhiller commented on #4310
/triage build-watcher

[2020-10-05 08:47] dhiller commented on #4310
See the issues marked with test_id but pointing at different tests: https://github.com/kubevirt/kubevirt/issues?q=is%3Aopen+is%3Aissue+test_id%3A1780

[2020-10-05 08:47] dhiller commented on #4310
https://github.com/kubevirt/kubevirt/issues/3824
https://github.com/kubevirt/kubevirt/issues/3811

[2020-10-05 08:56] dhiller commented on #3872
[code]

Seen here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4297/pull-kubevirt-e2e-k8s-1.16/1312384420702851072

@jean-edouard not sure if this is the right place, or should I open another issue?

[2020-10-05 09:03] dhiller opened #4312 "[Flaky CI] [Serial][rfe_id:150][crit:high][vendor:cnv-qe@redhat.com][level:component]Networkpolicy when three cirros VMs with default networking are started and serverVMI start an HTTP server on port 80 and 81 and connectivity between VMI/s is blocked by Default-deny networkpolicy [test_id:1511] should fail to reach serverVMI from clientVMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

[code]

This is a known issue occurring first on k8s-1.19. See related issue: https://github.com/kubevirt/kubevirt/issues/4239

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4277/pull-kubevirt-e2e-k8s-1.19/1312127603745755136
https://prow.apps.ovirt.org/view/gcs/

[2020-10-05 09:08] rmohr commented on #4239
/reopen

#4246 only helps to debug this problem.

[2020-10-05 09:12] dhiller commented on #2566
[code]

Seen here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4297/pull-kubevirt-e2e-k8s-1.16/1312384420702851072

[2020-10-05 09:14] rmohr commented on #2566
That is indeed a nice hint. We don't use the cpu-manager right now, but I guess it makes it more clear that this is related to the kubelet and the CRI. @Fefer-Ivan did you open an issue in kubernetes/kubernetes already?

[2020-10-05 09:17] oshoval commented on #2566
I think we might do ? see please
cluster-provision/k8s/1.18/nodes.sh
"--cpu-manager-policy=static"

[2020-10-05 09:19] rmohr commented on #2566
Oh right, that can be it. Our containerized clusters add some nodes with the cpumanager. Just thought about the bare-metal node below. So this could indeed also be our issue.

[2020-10-05 09:33] dhiller opened #4313 "[Serial]Operator [rfe_id:2291][crit:high][vendor:cnv-qe@redhat.com][level:component]infrastructure management [test_id:3149]should be able to create kubevirt install with image prefix"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

[code]
Source: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4304/pull-kubevirt-e2e-k8s-1.17/1312115779176501249

See also: https://github.com/kubevirt/kubevirt/issues/4241

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as po

[2020-10-05 09:37] dhiller opened #4314 "[Serial]Storage Starting a VirtualMachineInstance [rfe_id:2288][crit:high][vendor:cnv-qe@redhat.com][level:component] With Cirros BlockMode PVC [test_id:1015] should be successfully started"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

Source: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4277/pull-kubevirt-e2e-k8s-1.17/1312368188956086273

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt versio

[2020-10-05 09:38] dhiller commented on #4314
/kind bug
/triage build-watcher

[2020-10-05 09:47] dhiller commented on #2480
/open

Just saw this here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4299/pull-kubevirt-e2e-k8s-1.17/1311980006867472384

[2020-10-05 09:47] dhiller commented on #2480
/triage build-watcher

[2020-10-05 13:02] rmohr opened #4317 "e2e test binary overrides given kubevirt configurations completely"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

With https://github.com/kubevirt/kubevirt/pull/3879 merged the test binary overrides any given kubevirt configuration completely. This breaks assumptions for various callers. Mostly conformance tests.

**What you expected to happen**:

Conformance tests can not just enable or disable specific features. One has to test ag

[2020-10-05 13:03] rmohr commented on #4317
/assing @ashleyschuett

[2020-10-06 07:06] rmohr commented on #3596
/close

Timestamps are added and there is now in general a node which only hosts caches to avoid sideeffects from other workloads.

[2020-10-06 07:06] #3596 closed

[2020-10-06 10:53] rhrazdil commented on #4314
Happened again here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4152/pull-kubevirt-e2e-k8s-1.16/1313160032598102016

[2020-10-06 12:26] rhrazdil opened #4324 "[Flaky CI] [Serial][rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with disabled automatic attachment of interfaces [test_id:1774]should not configure any external interfaces"
/triage build-officer
/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4156/pull-kubevirt-e2e-k8s-1.17/1312938948661612544
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes ve

[2020-10-06 12:27] rhrazdil commented on #4324
/triage build-watcher

[2020-10-06 12:34] rhrazdil opened #4325 "[Flaky CI] [sig-network] [Serial]Primary Pod Network Status VMI connected to the pod network using masquerade binding [Conformance] should report PodIP as its own on interface status"
/kind bug
/triage build-watcher

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4156/pull-kubevirt-e2e-k8s-1.18/1313086548459130881

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2020-10-06 12:36] rhrazdil opened #4326 "[Flaky CI] Configurations Check KVM CPUID advertisement test cpuid hidden"
/kind bug
/triage build-watcher

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4156/pull-kubevirt-e2e-k8s-1.17/1313086548450742272

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2020-10-06 15:10] birdiesanders commented on #4221
Hey gang, just wanted to let you know, the team and I finally got the time to build a new cluster, we installed the dev branch and the tun0 issue is resolved. Thanks for kicking ass, looking forward to opening more tickets when I break stuff in the future. I am going to go ahead and close this after 24 hours, as I have a question; What release will have these fixes in place? I assume this will be

[2020-10-06 15:32] rmohr commented on #4221
This will be in 0.34.0.

[2020-10-06 17:08] birdiesanders commented on #4221
Fantastic, again, thank you so much for your help, I'll close this ticket. In the mean time, be easy, and have a great work week!

[2020-10-06 17:08] #4221 closed

[2020-10-06 18:13] awels commented on #4250
In case you didn't catch it in kubevirt-dev, the link to the proposal document: https://docs.google.com/document/d/14WitxXoScSwI459DTm4PVRayDHL3CbmlB2PKSPQ66WY/edit?usp=sharing

[2020-10-07 10:02] qinqon commented on #3702
Another here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4287/pull-kubevirt-e2e-k8s-1.18/1313621572384198656

[2020-10-07 10:03] qinqon commented on #3872
Another one
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4287/pull-kubevirt-e2e-k8s-1.18/1313621572384198656

[2020-10-07 10:10] qinqon opened #4331 "[Flaky CI][Serial]Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With a HostDisk defined With 'DiskExistsOrCreate' type Should create a disk image and start [test_id:851]with virtio driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Following test is flaky
`[Serial]Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With a HostDisk defined With 'DiskExistsOrCreate' type Should create a disk image and start [test_id:851]with virtio dr

[2020-10-07 10:10] qinqon commented on #4331
/triage build-watcher

[2020-10-07 12:12] andyjeffries commented on #4250
That's great, thanks @awels . A couple of areas of interest for us (we need to make sure we're using iscsi in our VMs and the live migration not working), but to be honest, I think it works for us even in the currently proposed format.

[2020-10-07 12:55] awels commented on #4250
Well the initial implementation won't have live migration, because there are a whole host of things to consider there. But we do plan on having live migration working at some point after that. Feel free to add comments/questions/whatever in the document. Any feedback is welcome.

[2020-10-07 13:05] qinqon opened #4336 "[Flaky CI][Serial]VirtualMachineRestore Tests rook-ceph With a more complicated VM should restore a vm that boots from a datavolumetemplate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/tirage build-watcher

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4330/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1313773071928135680

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environ

[2020-10-07 13:18] andyjeffries commented on #4250
Sorry, just to be clear that wasn't a criticism or a showstopper for us, just something that we weren't aware would be a "thing" and we are just taking that in to accounts. Having live migration working with additional attached volumes would be amazing, but I think we can live without it with no major problem.

[2020-10-07 18:01] MarkSpencerTan commented on #3743
/remove-lifecycle stale

[2020-10-08 01:14] #3393 closed

[2020-10-08 08:14] ormergi commented on #4119
/close

This workaround is good enough for now, thanks.

[2020-10-08 08:14] #4119 closed

[2020-10-08 14:23] zakkg3 opened #4340 "Connection reset from VM to a service running on the same node"
Vms running on the same node as a nginx service, with the same multus bridge interface and vlan: does not work.
Pod on the same node with the same multus interface works.
Vms on another nodes but same vlan (multus bridge interface) works.

Iam running a local mirror: Nginx exposed with a service (external ip).This external ip is routed to the k8s cluster.

Vms have a multus cni interface on certai

[2020-10-09 02:53] #4239 closed

[2020-10-09 09:07] zakkg3 commented on #4340
My pod had 2 interfaces. The native k8s and the multus cni. the service i was reaching via the native iface.

Now iam running a pod with only 1 interface, with :

[code]

and now it does not work:

[code]

So its not a Kubevirt problem. its a multus CNI  problem.

closing this here
Sorry for the noise.

[2020-10-09 09:07] #4340 closed

[2020-10-09 11:03] #4222 closed

[2020-10-09 13:08] maiqueb opened #4342 "[Flaky CI][Serial]VirtualMachineRestore Tests rook-ceph With a more complicated VM should restore a vm that boots from a PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

[code]

Found [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4300/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1313218919334416384).

**What you expected to happen**:
Test should pass.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2020-10-09 17:51] stu-gott commented on #4077
@nsharma1231 Contributions are always welcome. Is your group still interested in taking on this task?

[2020-10-09 18:05] rmohr commented on #4280
@npu21 sorry that you did not get a response for so long. Could you check the pods in the namespace of the VM? Most notably if the virt-launcher pods are terminting or are terminated? Further could you share the state of the components in the `kubevirt` namespace? If some components there would not have proper cluster access, a delete may not complete.

[2020-10-09 18:06] rmohr commented on #4271
@todaygood did you build outside of the git repository?

[2020-10-09 18:07] rmohr commented on #4284
/close

@wyyxd2017 does the hint from @salanki solve your issue? It is part of the 0.34 release.
Feel free to reopen the issue if you need something different.

[2020-10-09 18:07] #4284 closed

[2020-10-09 18:11] rmohr commented on #4309
@korenlev `virtctl` does support `-n` or `--namespace` for all of its commands.

This should work for you: `virctl vnc vmi-cirros -n my-chosen-ns`

[2020-10-09 18:12] rmohr commented on #4309
also check `virtctl options` (same like `kubectl options`) for all global flags for all commands`.

[2020-10-10 05:56] lixiaobing1 commented on #4271
@todaygood, I can download images from dockerhub, and can access github.com, is there other network problem? or should I download special images? or should I access special address? thx :)

[2020-10-10 13:24] todaygood commented on #4271
@lixiaobing1 , I don't know which website caused the issue , but I'm sure we need to go over China GFW.

@rmohr , my build process is as following,  I build  0.33  source code, not git master.

I want to know how do you build the project ,  and I found  it didn't generate image after build , only virtctl binary.

[code]

[2020-10-11 11:00] oshoval opened #4345 "[Flaky CI] periodic-kubevirt-push-nightly-conformance fails on "[Conformance] preserves connectivity" test"
/kind bug

**What happened**:
One test of `periodic-kubevirt-push-nightly-conformance` fails
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-push-nightly-conformance/1314755293896249344
and
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-push-nightly-conformance/1315117428715294720

[code]

**What you expected to happen**:
periodic-kubevirt-push-

[2020-10-11 11:00] oshoval commented on #4345
/triage build-watcher

[2020-10-11 11:14] oshoval commented on #4345
/assign

[2020-10-11 11:28] #3321 closed

[2020-10-11 11:39] oshoval opened #4346 "[Flaky CI] periodic-kubevirt-push-nightly-build-master fails"
/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-push-nightly-build-master/1314733157118906368

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-push-nightly-build-master/1314370759082119168

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2020-10-11 11:39] oshoval commented on #4346
/triage build-watcher

[2020-10-11 12:05] oshoval opened #4347 "[Flaky CI] periodic-ci-kubevirt-kubevirt-release-0.33-e2e-periodic-azure-nested-virt fails to run tests"
/kind bug

**What happened**:
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-release-0.33-e2e-periodic-azure-nested-virt/1315125533490548736

All tests are failing because `Message: "configmaps \"kubevirt-config\" not found",`

**What you expected to happen**:
Should pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2020-10-11 14:01] oshoval commented on #4347
/triage build-watcher

[2020-10-11 14:03] oshoval opened #4349 "[Flaky CI] Kubevirt-io-periodic-link-checker failure (root is not writable according logs)"
/kind bug

**What happened**:
Kubevirt-io-periodic-link-checker fails directly after 7 seconds
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker/1314581145471422464

[code]

**What you expected to happen**:
Should pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version

[2020-10-11 14:03] oshoval commented on #4349
/triage build-watcher

[2020-10-11 14:05] yuhaohaoyu commented on #3512
The open PR #4298 (with aim to improve this issue) just managed to pass all the functional test.

As a summary, the effort to refactor the RBAC rule of the `kubevirt-controller` ClusterRole with regard to the access of the resources in the `kubevirt\.io` API group did not find a more restrictive substitute. Not aware of the development history, the CI tests and life-cycles of VM, VMI appear to be

[2020-10-11 14:12] oshoval opened #4350 "[Flaky CI] periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt fails to run any test"
/kind bug

**What happened**:

periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt fails to run any tests when it occurs.
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1315125533456994304

[code]
and then it cant run tests at all.

**What you expected to happen**:
Should pass.

**How to reproduce it (as

[2020-10-11 14:12] ezrasilvera commented on #4077
@danielBelenky I'm not sure there is an agreed conclusion on the recommended mode. Do you have concrete data on when `threads` is faster then native?  I looked in the original OpenStack IRC chant and saw that on some cases `native`  was faster then `threads ` even for sparse disks. The only issue I could see is indeed a possible "block" when writing to sparsely allocated files (compared to pre-all

[2020-10-11 14:13] oshoval commented on #4350
/triage build-watcher

[2020-10-11 19:35] #3425 closed

[2020-10-12 06:39] #3309 closed

[2020-10-12 10:14] RamLavi commented on #4345
reoccurred [today](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-push-nightly-conformance/1315479815947554816)

[2020-10-12 11:01] RamLavi commented on #4350
reoccurred. prow [link](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1315487924116000768)

[2020-10-12 11:02] RamLavi commented on #4347
reoccurred. prow [link](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-release-0.33-e2e-periodic-azure-nested-virt/1315487924149555200)

[2020-10-12 13:46] #3066 closed

[2020-10-13 08:21] lixiaobing1 opened #4358 "vm pod err after 13 minutes"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug

What happened:
VM POD err after deploying 13 minites, virt-handler: failed to bindmount containerDisk containerdisk

{"component":"virt-handler","kind":"","level":"info","msg":"all containerdisks are ready","name":"testvm","namespace":"default","pos":"mount.go:367","timestamp":"2020-10-13T06:25:11.342880Z","uid":"736d8612-3aa8-40d6-8bbd-9ed3e40f

[2020-10-13 10:42] lixiaobing1 opened #4359 "Cann't delete vmi testvm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
 I want to delete vm:

$ virtctl stop testvm
$ kubectl delete vm testvm

but vmis testvm left:

$ kubectl get vm
No resources found in default namespace.
$ kubectl get vmis
NAME     AGE    PHASE       IP    NODENAME
testvm   4h9m   Scheduled         172.20.0.2
$ kubectl get pod
No resources found in default namespace.

I d

[2020-10-13 11:45] AlonaKaplan commented on #4350
[same](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1315850322362503168)

[2020-10-13 12:10] phoracek commented on #4094
@majst01 now it should be available in the latest release for sure. Would you check whether it was fixed for you?

[2020-10-13 12:33] AlonaKaplan commented on #4179
Similar failure - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4343/pull-kubevirt-e2e-k8s-1.18/1315572804292186112

[2020-10-14 07:00] DanielQujun commented on #4359
maybe you can paste some `virt-controller`、`kube-controller`'s log, that would be helpful.

[2020-10-14 07:08] DanielQujun commented on #4358
It might be your kubelet root directory has been changed.

Kubelet's pod root directory need be /var/lib/kubelet,  if it's not, `virt-handler` will complain `no such file or directory`

[2020-10-14 08:18] lixiaobing1 commented on #4359
cc @DanielQujun

virt-handler: failed to bindmount containerDisk containerdisk

{"component":"virt-handler","kind":"","level":"info","msg":"all containerdisks are ready","name":"testvm","namespace":"default","pos":"mount.go:367","timestamp":"2020-10-13T06:25:11.342880Z","uid":"736d8612-3aa8-40d6-8bbd-9ed3e40f4ef0"}
{"component":"virt-handler","kind":"","level":"info","msg":"Bind mounting container

[2020-10-14 09:57] DanielQujun opened #4365 "[virt-controller] Remove redundant initcontainer when there is no ContainerDisk defined in VM"
When I create a `VirtualMachine` as below:
[code]

I notice that there is an initcontainer  was added to the VM's POD, IIUC, this container was designed to copy the `container-disk` binary which used for hanging a container image which acting as a ContainerDisk.
[code]

IMHO, if there isn't ContainerDisk defined for the VM, maybe we do not need to add it.

EDIT: update volume's name from container

[2020-10-14 10:12] ravidbro commented on #1251
@fabiand I see that you closed the issue, but IIUC then in case the user doesn't put explicit MAC in the spec it will still change between VM restarts which create a new pod

[2020-10-14 11:33] ormergi commented on #4350
Different than yesterday but similar to what this issue describes and[ two days ago](https://github.com/kubevirt/kubevirt/issues/4350#issuecomment-707049628)
[link] (https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1316212634990678016)

[2020-10-14 16:33] ormergi commented on #3811
Another instance here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4128/pull-kubevirt-e2e-k8s-1.17/1315959478050361344

[2020-10-14 16:47] ormergi opened #4372 "[sig-network] [Serial]Services bridge interface binding with a subdomain and a headless service given [test_id:1549]should be able to reach the vmi via its unique fully qualified domain name"
/kind bug
/triage build-watcher

**What happened**:
Flakefinder reported a flakey test:
```[Serial][rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with masquerade binding mechanism [Conformance][test_id:1780][label:masquerade_binding_connectivity]should allow regular network connection without a specific port number```
In this prow job:
https:/

[2020-10-14 16:57] ormergi commented on #4372
/kind bug

[2020-10-14 21:17] #3858 closed

[2020-10-15 01:20] lixiaobing1 commented on #4358
@DanielQujun, pod root path has been modified according real path.

[2020-10-15 02:07] DanielQujun commented on #4358
add  ` - --kubelet-pods-dir` in command:
[code]
mountPath:
[code]

volumes:
[code]

[2020-10-15 03:10] lixiaobing1 commented on #4359
ok，the issue has been fixed with following command:
kubectl -n kubevirt patch kv kubevirt --type=json -p '[{ "op": "remove", "path": "/metadata/finalizers" }]'

[2020-10-15 03:11] lixiaobing1 commented on #4359
ok，the issue has been fixed with following command:
kubectl -n kubevirt patch kv kubevirt --type=json -p '[{ "op": "remove", "path": "/metadata/finalizers" }]'

[2020-10-15 03:11] #4359 closed

[2020-10-15 09:49] korenlev commented on #4309
got it , virtctl can list VMs on all namespaces ? (deployed using kubectl)

[2020-10-15 09:51] rmohr commented on #4309
virtctl does not duplicate kubectl functionality. In general we recommend installing virtctl as a plugin (either via krew or just renaming virtctl in your path to `kubectl-virt`.

Then you can do things like this:

[code]

[2020-10-15 09:52] #3385 closed

[2020-10-15 11:54] todaygood commented on #4094
I met the same issue. In my os , selinux is disabled , kubevirt version is 0.33.0

[2020-10-15 17:48] crobinso commented on #1494
This issue is referenced in a couple comments in kubevirt.git code. In case anyone else ends up here in the future, libvirt no longer rejects these 0xFE mac addresses since v5.7.0 released Sep 2019. kubevirt has been using libvirt 6.0.0+ since May 2020 via f3df3d1099c0c7950ce5d00b238b6963106bbc7c but I believe earlier libvirt builds had the patch backported too

* libvirt bugzilla: https://bugzill

[2020-10-15 18:47] #4345 closed

[2020-10-17 07:37] #3322 closed

[2020-10-17 10:23] majst01 commented on #4094
Hi @phoracek
with v0.34.0 creating a vm works !
This is on bare-metal, with ubuntu-20.04 host os and k8s 1.18.9
Thanks a lot

[2020-10-19 07:51] oshoval commented on #4310
Hi Daniel, how one can generate free ids ?
it must be of Polarion or we can add some custom ids with other label or other value ?
such as
ctest_id:1234
or test_id:c1234

[2020-10-19 08:09] dhiller commented on #4310
Yes, I think you are correct, test ids are generated in Polarion. Hey @ILpinto, maybe you can help here?

[2020-10-19 09:08] rmohr commented on #4365
@DanielQujun we need this init container. It is right now not used to copy the container disk. It is used to ensure that the containerDisk is already pulled when the VM container starts. The VM container waits for the containerDisk container to start for some time, but it eventually runs into a timeout if the containerDisk container never gets ready due to pulling an image for an hour.

[2020-10-19 14:55] #3253 closed

[2020-10-20 03:00] DanielQujun commented on #4365
@rmohr HI, Thanks for your reply.

IIUC,  you mean the init container is used to pull the image for containerDisk before the VM start.  But the scenario I meet is that When I defined a VM  there are no containerDisks, however, I still found `initcontainer` in the pod.

I looked through the code, noticed that virt-controller always add the `initcontainer` for VMI's pod no matter which volumeSource

[2020-10-20 06:50] sanzende opened #4381 "spec.domain.devices.interfaces.tftpServerName in body is a forbidden property"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to PXE boot using the spec 'spec.domain.devices.interfaces.tftpServerName' in the VM yaml file.

I am trying to use similar to snippet below in my yaml file.  I provide the TFTP server IP address and grubx64.efi file to bootFileName.
-----------------------------------------------------------------------------

[2020-10-20 07:40] yichengliu58 opened #4382 "Failed to start centos 6.8 with kernel panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I downloaded minimal version `centos-6.8` from official website (https://archive.kernel.org/centos-vault/6.8/isos/x86_64/CentOS-6.8-x86_64-minimal.iso) and installed it using `VirtualBox` on my laptop, after starting the system I also installed `cloud-init` with version `0.7.9` then powered off.

I used `qemu-img` tool to

[2020-10-20 08:39] dhiller opened #4385 "JUnit file merging failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

The merging of the Junit files failed, seemingly to a test executed multiple times: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4341/pull-kubevirt-e2e-k8s-1.19/1318155069882896384

**What you expected to happen**:

Merging should not fail. Tests should not get executed multiple times.

[2020-10-20 08:46] dhiller commented on #4385
Looks like this is a new test from PR #4341 https://github.com/kubevirt/kubevirt/pull/4341/files#diff-f2964358d14f79c439288df507310df44dbc0de205c1ec0a02a78f9d4cbe7c13R168

/cc @alonSadan

[2020-10-20 17:47] salanki opened #4391 "Disable service links in pod spec"
/kind enhancement

**What happened**:
When forwarding a lot of ports with services to multiple VMs in the same namespace a VM can fail startup due to a large number of service env variables being injected in the virt-launcher container. There is no use for the service link envs in the virt-launcher container. They should be disabled in the virt-launcher podspec on creation: `enableServiceLinks: fa

[2020-10-21 00:56] lixiaobing1 commented on #4358
@DanielQujun thx, has been fixed :)

[2020-10-21 00:56] #4358 closed

[2020-10-21 11:53] maiqueb commented on #3405
/sig network

[2020-10-22 06:41] ezrasilvera commented on #4077
/assign

[2020-10-22 07:02] yichengliu58 commented on #4382
I tried `centos 6` official cloud image: https://cloud.centos.org/centos/6/images/CentOS-6-x86_64-GenericCloud-1907.qcow2.xz , this one also failed to start:

![image](https://user-images.githubusercontent.com/6440770/96836255-49fe5300-1477-11eb-8b14-1113799c92ef.png)

I used `virtctl vnc` to attach and the shell just froze, not responsible to my key pressing...

There might be some bug in kubevir

[2020-10-22 07:15] rmohr commented on #2746
/reopen

[2020-10-22 07:31] rmohr commented on #2746
/remove-lifecycle rotten

[2020-10-22 08:16] rmohr commented on #3332
/reopen
/remove-lifecycle rotten

[2020-10-22 10:00] #3069 closed

[2020-10-22 15:15] rmohr commented on #3759
/close

ipv6 enabled kind is not used anymore.

[2020-10-22 15:16] #3759 closed

[2020-10-22 15:17] rmohr commented on #4331
@qinqon thanks for reporting. Duplicate of #3872

/close

[2020-10-22 15:17] #4331 closed

[2020-10-22 15:20] arnongilboa opened #4401 "[Serial]VirtualMachineSnapshot Tests rook-ceph With more complicated VM VM should contain snapshot status for all volumes"
/kind bug
/triage build-watcher

**What happened**:

[code]
Found [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2935/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319214174789701633)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `v

[2020-10-22 15:23] maya-r commented on #4382
While experimenting with this, I managed to reproduce the "boot hangs after Probing EDD... ok" when I supplied the VM too little RAM (64M).
This doesn't seem to be the case in the VirtualMachine definition you provided, though.

[2020-10-22 15:31] arnongilboa opened #4402 "[Serial]VirtualMachineSnapshot Tests rook-ceph With more complicated VM should not error if VolumeSnapshot has error"
/kind bug
/triage build-watcher

**What happened**:
[code]
Found [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4396/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319171768790814720)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `vi

[2020-10-22 15:32] maya-r commented on #4402
/triage build-watcher

[2020-10-22 15:32] maya-r commented on #4401
/triage build-watcher

[2020-10-22 15:33] maya-r commented on #4336
/triage build-watcher

[2020-10-22 15:35] arnongilboa opened #4403 "[Serial]VirtualMachineSnapshot Tests rook-ceph With more complicated VM [test_id:4611]should successfully create a snapshot"
/kind bug
/triage build-watcher

**What happened**:
[code]

Found [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4396/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319171768790814720)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `v

[2020-10-22 15:39] arnongilboa opened #4404 "[Serial]VirtualMachineRestore Tests rook-ceph With a more complicated VM should restore a vm with containerdisk and blank datavolume"
/kind bug
/triage build-watcher

**What happened**:
[code]

Found [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4396/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319171768790814720)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `v

[2020-10-22 15:45] arnongilboa opened #4405 "[Serial]VirtualMachineRestore Tests rook-ceph With a more complicated VM should restore a vm multiple from the same snapshot"
/kind bug
/triage build-watcher

**What happened**:
[code]

Found [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4396/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319171768790814720)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `v

[2020-10-22 15:51] arnongilboa opened #4406 "[Serial]VirtualMachineRestore Tests rook-ceph With a more complicated VM should restore a vm that boots from a datavolume (not template)"
/kind bug
/triage build-watcher

**What happened**:
[code]

Found [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4396/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319171768790814720)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `v

[2020-10-22 17:31] andreabolognani commented on #3826
This had actually been addressed by https://github.com/kubevirt/kubevirt/pull/3268 a month before this issue was opened, so I guess @wavezhang was running a release instead of master at the time?

Either way, this has long been addressed. Can we just close it?

[2020-10-22 20:39] rmohr commented on #4381
@sanzende thank you for the report. It seems like our user-guide is not accurate here. I think it should look like this:

[code]

Note the `dhcpOptions` subsection.

[2020-10-22 20:50] rmohr commented on #4382
Another possibility may be the host cpu. Maybe qemu has issues with it. We use `host-passthrough` right now. Could you try using `host-model` like described in https://kubevirt.io/user-guide/#/creation/devices?id=cpu-model-special-cases?

[2020-10-22 20:51] rmohr commented on #4309
/close

@korenlev feel free to reopen the issue if my answer does not solve your issue.

[2020-10-22 20:51] #4309 closed

[2020-10-22 20:53] rmohr commented on #4267
/area networking

[2020-10-22 20:54] rmohr commented on #4267
/assign @phoracek
Maybe you can have a look?

[2020-10-22 20:58] rmohr commented on #4271
@todaygood sorry for the late reply. https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md gives a good overview on how to build and deploy from sources. In general bazel does not build containers like you are used to with Docker. It creates the tar archives without a container runtime and can directly push it  to a repo.

For instance you can push/build the `virt-handler` conta

[2020-10-23 02:09] todaygood opened #4410 "vm booted by pvc has no default network interface"
**What happened**: vm booted by pvc has no default network interface, but vm booted by containerDisk is normal.

I found some clues 🔢
1. the qumu process's args  has no  "-device  virtio-net-pci" arg
2.  no interface-cache-default.json file  in launcher pod "/var/run/kubevirt-private" directory.
3.  no  k6t-eth0 bridge  in launcher's pod.

**What you expected to happen**:  vm booted by pvc has def

[2020-10-23 02:10] #3826 closed

[2020-10-23 02:38] DanielQujun opened #4411 "[Metrics] The unit of some block metrics seems not accurate"
I notice the metrics `kubevirt_vmi_storage_times_ms_total ` value is a very big number, then I check the doc of  libvirt.org, find the description which the time unit is `ns`:
[code]
https://libvirt.org/html/libvirt-libvirt-domain.html#VIR_DOMAIN_STATS_BLOCK

[2020-10-23 02:41] DanielQujun commented on #4411
@ArthurSens  HI, would you pls take a look?

[2020-10-23 08:39] zakkg3 commented on #3069
this is a multus cni issue, not a kubevirt one. /close

[2020-10-23 12:41] rmohr commented on #4410
@todaygood could you compare the two pod specs? Can it be that on one of the two specs you have `autoattachPodNetwork=false`?

[2020-10-23 12:48] rmohr commented on #4406
https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4396/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319171768790814720/artifacts/k8s-reporter/1_events.log

shows

[code]

The logs confirm this: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4396/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1319171768790814720/artifacts/k8s-reporter/pods/1_default_snapshot-co

[2020-10-23 12:50] rmohr commented on #4405
/close

@arnongilboa thanks for creating this. All the tests in  this job failed due to the same reason. Consolidating this in one #4406.

[2020-10-23 12:50] #4405 closed

[2020-10-23 12:50] rmohr commented on #4404
/close

@arnongilboa thanks for creating this. All the tests in  this job failed due to the same reason. Consolidating this in one #4406.

[2020-10-23 12:51] #4404 closed

[2020-10-23 12:51] rmohr commented on #4403
/close

@arnongilboa thanks for creating this. All the tests in  this job failed due to the same reason. Consolidating this in one #4406.

[2020-10-23 12:51] #4403 closed

[2020-10-23 12:51] rmohr commented on #4402
/close

@arnongilboa thanks for creating this. All the tests in  this job failed due to the same reason. Consolidating this in one #4406.

[2020-10-23 12:51] #4402 closed

[2020-10-23 12:52] rmohr commented on #4401
/close

@arnongilboa thanks for creating this. All the tests in  this job failed due to the same reason. Consolidating this in one #4406.

[2020-10-23 12:52] #4401 closed

[2020-10-23 12:52] rmohr commented on #4406
/cc @mhenriks

[2020-10-23 12:53] rmohr commented on #4406
/assign @mhenriks

[2020-10-23 12:58] rmohr commented on #4372
/close

@ormergi thanks for creating. Duplicate of #3872 and hopefully finally fixed in #4400.

[code]

[2020-10-23 12:58] #4372 closed

[2020-10-23 12:59] rmohr commented on #4349
/close

@oshoval that belongs to https://github.com/kubevirt/kubevirt.github.io. Would you mind opening an issue there?

[2020-10-23 12:59] #4349 closed

[2020-10-23 12:59] rmohr commented on #4349
/cc @codificat FYI

[2020-10-23 13:01] rmohr commented on #4346
/close

Thanks for reporting. No issues since 10 days. Closing.

[2020-10-23 13:02] rmohr commented on #4347
/assign @dhiller

@dhiller this should now with the job rewrite be addressed, right?

[2020-10-23 13:03] rmohr commented on #4350
/assign @dhiller

@dhiller this should now with the job rewrite be addressed, right?

[2020-10-23 13:05] dhiller commented on #4350
Yep, https://github.com/openshift/release/pull/12371 should have fixed it.

[2020-10-23 13:05] #4391 closed

[2020-10-23 13:06] dhiller commented on #4347
Yes, https://github.com/openshift/release/pull/12940 should fix it when ready.

[2020-10-23 13:13] dhiller commented on #4347
Reason for failing tests was that in the testing infra for master the `kubevirt-config.yaml` was missing which is required for v0.34.0.

[2020-10-23 13:14] ArthurSens commented on #4411
Thanks for finding that, I'll submit a PR changing the metric name.

But I'm wondering if we'd like to follow[ Prometheus best practices](https://prometheus.io/docs/practices/naming/#base-units) about time units, which would be in seconds. Do we really need time metrics to so precise?

WDYT @sradco?

[2020-10-23 13:41] #4350 closed

[2020-10-23 13:46] rmohr commented on #4207
@kevtheappdev probably too late, but yes definitely. The client would have to  be added at https://github.com/kubevirt/kubevirt/blob/master/pkg/virtctl/vnc/vnc.go#L223.

[2020-10-23 14:11] codificat commented on #4349
Thanks @rmohr.

@oshoval I believe this was already fixed and there's no need to open a new issue. Sorry I didn't notice this to close it earlier.

[2020-10-23 14:21] rmohr commented on #4365
I see. @davidvossel maybe you can have a look.

[2020-10-23 15:06] todaygood commented on #4410
no  autoattachPodNetwork=false ,  the vm spec is  as following.

[code]

[2020-10-23 17:58] sanzende commented on #4381
Thanks much Roman. It indeed moved forward and I do not see this forbidden error but in the config setup of ipxe client I can see the bootfilename that I mentioned in the spec file but I do not see the value of tftpservername in the next-server details in the ipxe config.

[2020-10-23 20:05] nevonb commented on #4303
I ran into this same issue. It looks like the virt-handler is trying to invoke the QEMU binary at /usr/libexec/qemu-kvm, which gets blocked by the AppArmor profile for libvirtd on Ubuntu-based systems. But more importantly, the qemu-kvm package on Ubuntu installs the binary with a different location and name (e.g., /usr/bin/qemu-system-x86_64). I was able to workaround it by creating a symlink for

[2020-10-23 20:57] rmohr commented on #4381
Could you execute commands similar to what we do in this test to check the dhcp offer from inside your guest: https://github.com/kubevirt/kubevirt/blob/38cacd56078e1946536d5a217c3e624113458d44/tests/vmi_networking_test.go#L554 and check if the tftp server is offered?

[2020-10-23 23:13] #4096 closed

[2020-10-24 05:05] #2566 closed

[2020-10-24 07:23] fgimenez commented on #3873
Happened here again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4398/pull-kubevirt-e2e-k8s-1.18/1319596819776278528

In the kube-apiserver pod logs there are these errors at the exact same time of the failure, `14:39:51`:
[code]
virt-api certificate is stored in the kubevirt-virt-api-certs secret, looking at the secrets log https://storage.googleapis.com/kubev

[2020-10-24 08:59] unikzforce commented on #4303
Thanks a lot, I'll Try It

[2020-10-24 14:35] yichengliu58 commented on #4382
@maya-r I tried setting RAM to 1Gi and also more, the kernel still hangs...this issue might not be related to resource
@rmohr I tried this `host-model` but nothing changes...
So I'm wondering if there are some kernel configs related? Or is this a real bug of qemu...?

[2020-10-24 16:11] vladikr commented on #4382
perhaps add `edd=off` to your kernel parameters?

[2020-10-26 09:39] todaygood commented on #4410
Could anyone give me some tips or some ways to address the issue ?   or briefly explain about principle or procession,appreciate  in advance.

[2020-10-26 10:37] rmohr commented on #4410
The spec looks ok. You should just have the proper network setup in the VM. Could you enter the virt-launcher pod, do an `ip a` and also do `virsh list` to get the name of the libvirt-domain and give us `virsh dumpxml <domain>`?

[2020-10-26 10:37] rmohr commented on #4410
Oh and the virt-launcher logs.

[2020-10-26 12:00] rmohr commented on #3876
/remove-lifecycle stale

[2020-10-26 12:17] yichengliu58 commented on #4382
@vladikr There was no kernel selecting window at all...The kernel hadn't started yet, looks like the kernel wasn't able to be loaded from disk and the booting process stopped there...
I also tried `debian` 8.3, it also had the same problem. Is this something wrong with `qemu` ? Looks like older OS versions are all not able to boot...

[2020-10-26 12:26] rmohr commented on #4382
@yichengliu58 could it be that they don't like the new `q35` architecture and instead need ` i440fx` architecture?

[2020-10-26 12:28] rmohr commented on #4382
@yichengliu58 oh wait, I think @vladikr is right. I think that this edd message is already from the kernel.

[2020-10-26 13:36] todaygood commented on #4410
In virt-launcher , there is a container ip on eth0 , but should be no ip address .

virsh dumpxml domain , I checked and found no network device .

sorry, there is no way to show you actual info  about the issue because the environment is in my company  and company's network  rules .

[2020-10-27 06:25] lixiaobing1 opened #4423 "how to reduce size of kubevirt component images?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

**What happened**:
The size of kubevirt component images is so large:
virt-operator 425M
virt-api 387M
virt-controller 388M
virt-handler 780M
virt-launcher 745M
cirros-registry-disk-demo 202M

there are two problems:
(1) where is the dockerfile of every component, I only find a dockerfile in hack/builder.
(2) how to reduce the size

[2020-10-27 07:47] #3332 closed

[2020-10-27 08:39] todaygood commented on #4410
vm "testvm0" is normal , it is based containerdisk,we can find "devices.kubevirt.io/vhost-net" in the kubelet logs ,
![image](https://user-images.githubusercontent.com/6613444/97276676-7c8ebe00-1872-11eb-8b20-aa7134d756f9.png)

vm "centos78qcow" is no interface , it is based pvc , we can't find  "devices.kubevirt.io/vhost-net" in the kubelet logs .
![image](https://user-images.githubusercontent.co

[2020-10-27 10:29] rmohr commented on #4410
Does that run on a different cluster? Or did you change the configuration since you ran thetestvm0? We have the following in the code:

[code]

Do you use `useEmulation`? Could you check if you have a `kube-config` configmap in the `kubevirt` namespace and share hit?

[2020-10-27 13:29] todaygood commented on #4410
they are on one cluster.   I didn't change the configuration after run testvm0 .
I dont' useEmulation , the env is built on 3 physical servers.   there isn't  kube-config configmap in kubevirt namespace .

[2020-10-27 14:25] todaygood commented on #4228
I faied to reproduce it, now I run 0.33  smoothly , so close it.

[2020-10-27 14:25] #4228 closed

[2020-10-27 14:36] danielhb opened #4427 "Building Kubevirt for ppc64le"
Hi,

I'm trying to run Kubevirt in a ppc64 cluster. The intent is to do a sanity check of the
current upstream code to see if there is something to be fixed in that platform. The
idea is to re-enable ppc64 support quicker when the COPR ppc64 builds are sorted out.
I can have the changes ready in my personal repo, then contribute it back when ppc64le
is back to business in Kubevirt.

I created a Li

[2020-10-27 15:26] awels commented on #4423
KubeVirt uses bazel to build the images. So you won't find any Dockerfiles, except the Dockerfile for the builder image.

[2020-10-27 15:46] maiqueb opened #4428 "access services exposed via IPv6 addresses not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Using `batchv1.Job` to access services exposed via ipv6 family IP addresses fails when a particular port is specified.

**What you expected to happen**:
The batch job should successfully access the service.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a VMI using IPv6 masquerade binding mec

[2020-10-27 16:54] davidvossel commented on #4365
fix posted

[2020-10-27 17:09] awels opened #4430 "[Flaky CI] Configurations VirtualMachineInstance definition with BIOS bootloader method and no disk should boot to NIC rom if a boot order was set on a network interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
Configurations VirtualMachineInstance definition with BIOS bootloader method and no disk should boot to NIC rom if a boot order was set on a network interface Functional test failed: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4398/pull-kubevirt-e2e-k8s-1.18/1320

[2020-10-27 17:11] davidvossel commented on #4365
oh i didnt' realize there was already a PR for this.

[2020-10-27 17:25] davidvossel commented on #4423
look at the BUILD.bazel  files for each component. For example, virt-handler's is ````cmd/virt-handler/BUILD.bazel```. the container_image section in there defines how the containers are built with bazel

[2020-10-27 17:45] davidvossel commented on #4294
@mhenriks I believe snapshots are impacted by rename as well, right? What situations would cause issues with snapshots?

[2020-10-27 19:15] awels opened #4431 "Update to latest AV-8.2 libvirt version."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When attempting to manually hotplug a disk I created in the virt-launcher container, I get the following error:
error: Failed to attach disk
error: Unable to get devmapper targets for /tmp/test_disk.img: Success

**What you expected to happen**:
Successfully hotplug the disk into the running VM.

**How to reproduce it (as

[2020-10-27 19:15] awels commented on #4431
@stu-gott Something for you?

[2020-10-27 19:52] vladikr commented on #4431
Hopefully, https://github.com/kubevirt/kubevirt/pull/4408 will get you to the relevant version.

[2020-10-28 06:17] oshoval opened #4432 "[Flaky CI] Sriov lane flaky tests 3956, 3957"
/kind bug

**What happened**:
Tests 3956, 3957 might flake with the error (one of the those tests use same flow but ipv4)
[code]
I investigated it and saw the IP disappers from the VM after around 1 minute,
the reason is how we configure the ips with nmcli.

saw it for example 2 of 3 here.
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4424/pull-kubevirt-e2e-kind

[2020-10-28 07:34] yichengliu58 commented on #4382
@rmohr I tried updating kernel to 4.4 and the system successfully started, I haven't tried 3.10 kernel yet, but 2.6 (original `centos` kernel) is definitely not able to start. So there must be some compatibility issues with `qemu` or `libvirt` that causes kernel 2.6 failed to start.

[2020-10-28 08:28] rmohr commented on #4382
@yichengliu58 I think you need an older machine type. This kernel very likely does not understand `q35` properly. Can you try the following?

Create in the `kubevirt` namespace the following configmap:
[code]

The `pc*` is what is added to the implicit default value of `q35*,pc-q35*`.

Then set the `pc-i440fx-31` machine type on the VMI like this:

[code]

Will be interesting to  see if it boots t

[2020-10-28 10:06] rmohr opened #4433 "Explicitly default libvirt values which may differ between different qemu versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

There are cases where libvirt autodetects some default values, like scsi model based on qemu capabilities reported. This can lead to unwanted side-effects if people use different qemu binaries.

Let's determine where libvirt does that and default them in kubevirt to known values.

We came across this difference with #4408 where it turns out the the ne

[2020-10-28 10:06] rmohr commented on #4433
/assign @andreabolognani

thanks for the help on this.

[2020-10-28 15:16] ormergi commented on #4432
Note that this is not a problem with the CI so you can remove `Flacy CI` prefix

[2020-10-28 15:24] oshoval commented on #4432
its a lane that will now run on CI, ether manually or automatic, so i think it should be there.

[2020-10-28 15:42] ormergi commented on #4432
Its a problem in the tests code just saying

[2020-10-28 15:43] oshoval commented on #4432
check please and see Flaky CI is all about flaky test, either because the tests or the kubevirt core

[2020-10-28 17:06] ormergi commented on #4432
You can check and see there are issues that stats with "Flaky test"

[2020-10-28 17:08] ormergi commented on #3774
More details at https://github.com/kubevirt/kubevirt/issues/4432

[2020-10-28 17:08] ormergi commented on #3747
More details at #4432

[2020-10-28 17:09] oshoval commented on #4432
Most of the [Flaky CI] use [Flaky CI],
This is the right convention.
As without it the CI would be flaky.

[2020-10-28 17:24] ormergi commented on #4432
Those are issus that reports tests that are flaky, that this issue describe their possible solution.

[2020-10-28 17:33] oshoval commented on #4432
No, this issue suggested a solution to other problem , not the 15 seconds.

[2020-10-28 21:27] alonSadan commented on #4432
can you elaborate on how long to wait? is it in seconds/minutes ? don't have to be exact...

[2020-10-28 22:57] salanki opened #4440 "Disk image files are being created for Virtio-FS mounted volumes"
/kind bug

**What happened**:
https://github.com/kubevirt/kubevirt/blob/2ae3155b63d3667bca960c27f2ef55e1cfd715f6/pkg/host-disk/host-disk.go creates a disk image for every mounted disk. When using Virtio-FS and mounting in a PVC to be mapped as a filesystem, a disk image should not be created.

**What you expected to happen**:
No disk image should be created on volumes used as filesystems.

**How t

[2020-10-29 03:04] DanielQujun opened #4441 "[featrue] Support VNC share between sessions"
I notice that we only support one VNC connection per VM.

https://github.com/kubevirt/kubevirt/blob/6014b6954e613f5f296c6545487d8a15b1a0faac/pkg/virt-handler/rest/console.go#L103-L110

AFAIK, VM's VNC could share between sessions, it's also the default behavior in Openstack\Proxmox VE.

Do we concern about the sharing VNC may bring risks or are there some limits that we can't share it?

I modified

[2020-10-29 05:00] oshoval commented on #4432
It varies around up to minute or 2 lets say,
you can Sleep in the code directly after you set the IP, and console the machine,
do some "ip address" and you will see it always after this time.

[2020-10-29 05:48] oshoval commented on #3774
4432 is not related, error here is eth1 not found, on 4432 its the ping that doesnt work (when i logged in the machine i saw the device is there but ip was gone, reasons on 4432)

[2020-10-29 05:49] oshoval commented on #3747
4432 is not related, error here is eth1 not found, on 4432 its the ping that doesnt work (when i logged in the machine i saw the device is there but ip was gone, reasons on 4432)

There is one more problem that i know of, but its not the right issue to speak about.

[2020-10-29 06:40] yichengliu58 commented on #4382
@rmohr ok now it works !

The `machine type` is slightly different, here is what I've got from `qemu -machine help` in my `virt-launcher`:
[code]

So I just set the `machine type` to `pc` (should default to the newest `pc` type), then most of the systems boot correctly.

I tested a few systems, it appears that `centos 7.0` still has some issues, the kernel still couldn't boot:

![image](https://us

[2020-10-29 09:11] todaygood opened #4442 "failed to build"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I builded kubevirt from source code  but reported the following error, I confirmed that my internet network has no problem.
[code]

**Environment**:
- KubeVirt version (use `virtctl version`): 0.34.0

[2020-10-29 09:51] DanielQujun commented on #4441
@rmohr Hi, what do you think?

[2020-10-29 10:23] rmohr commented on #4441
Nice. I don't think that anything speaks against this in general. Just two points:

 1) The connections go through the k8s apiserver, so this can have influence on the apiserver performance
 2) We only have VNC basically as admin/support access, not for remote desktop (therefore also the hardcoded low resolution).

[2020-10-29 10:25] rmohr commented on #4441
This may actually be helpful for one  feature I would want to add, which is creating screensots of VMs without having VNC clients present. Mostly for debugging purposes to automatically create a screenshot somewhere in e.g. CI systems.

[2020-10-29 10:36] ormergi commented on #3747
This issue is user report for a flaky test.
This test is flaky for two reasons, one is resolved and described by https://github.com/kubevirt/kubevirt/pull/4001
And the second is describe by https://github.com/kubevirt/kubevirt/issues/4432

[2020-10-29 10:36] ormergi commented on #3774
This issue is user report for a flaky test.
This test is flaky for two reasons, one is resolved and described by https://github.com/kubevirt/kubevirt/pull/4001
And the second is describe by https://github.com/kubevirt/kubevirt/issues/4432

[2020-10-29 12:35] rmohr opened #4450 "[Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] Starting a VirtualMachine with a DataVolume using Alpine http import [test_id:3191]should be successfully started and stopped multiple times with registry import"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3937/pull-kubevirt-e2e-k8s-1.17/1321604779587145728

The VMI is not started because of this:

[code]

resulting in this on the VM status:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally a

[2020-10-29 12:35] rmohr commented on #4450
/assing @mhenriks

[2020-10-29 12:47] rmohr commented on #4450
Ok, the snapshot message is most likely not the cause. However we seem to throw a lot of warning in the logs although we don't do anything with snapshots on this VM.

[2020-10-29 12:49] rmohr commented on #4450
Ok, here is the issue: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3937/pull-kubevirt-e2e-k8s-1.17/1321604779587145728/artifacts/k8s-reporter/pods/1_kubevirt-test-default1_importer-test-datavolume-j4wbqt48fw7t-importer.log

THe datavolume importer failed to ping docker hub. The test should use our local registry and not dockerhub. :/

[2020-10-29 16:34] akrejcir commented on #3873
Happened again on 26.10.2020
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4307/pull-kubevirt-e2e-k8s-1.17/1320617418665496576

[2020-10-29 16:37] akrejcir commented on #4336
Happened again on 28.10.2020
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4437/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1321440068992241665

[2020-10-29 16:40] akrejcir commented on #4244
Happened again:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4307/pull-kubevirt-e2e-k8s-1.17/1320793832878510082

[2020-10-29 18:08] akrejcir opened #4454 "[Flaky CI] [rfe_id:151][crit:high][vendor:cnv-qe@redhat.com][level:component]CloudInit UserData [rfe_id:151][crit:medium][vendor:cnv-qe@redhat.com][level:component]A new VirtualMachineInstance with cloudInitConfigDrive userDataBase64 source with injected ssh-key [test_id:3178]should have ssh-key under authorized keys"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-watcher

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4439/pull-kubevirt-e2e-k8s-1.17/1321483983170572288

[2020-10-29 18:12] akrejcir opened #4455 "[Flaky CI] [Serial]Multus [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachineInstance using different types of interfaces. VirtualMachineInstance with multus network as default network [test_id:1751]should create a virtual machine with one interface with multus default network definition"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4415/pull-kubevirt-e2e-k8s-cnao-1.17/1320749162911764480

[2020-10-29 18:26] akrejcir commented on #4314
Happened again:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4415/pull-kubevirt-e2e-k8s-1.18/1321250844049412096

[2020-10-29 18:32] akrejcir opened #4456 "[Flaky CI] [sig-network] [Serial]Services Masquerade interface binding *without* a service matching the vmi exposed should fail to reach the vmi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4415/pull-kubevirt-e2e-k8s-1.18/1321349241464950785

[2020-10-29 18:40] akrejcir opened #4457 "[Flaky CI] [Serial]SRIOV VirtualMachineInstance with sriov plugin interface - multiple tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
These 3 tests failed:

- `[Serial]SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3956]should connect to another machine with sriov interface over IPv4`
[code]

- `[Serial]SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3957]should connect to another machine with s

[2020-10-29 18:47] oshoval commented on #4457
Thanks, duplicates of https://github.com/kubevirt/kubevirt/issues/4432
and https://github.com/kubevirt/kubevirt/issues/3840

[2020-10-30 01:18] tlawrie commented on #2763
@lucatk @lxs137 any chance you could share instructions on how to do this?

[2020-10-30 04:07] #3840 closed

[2020-10-30 05:46] lxs137 commented on #2763
@lucatk @tlawrie

[2020-10-30 10:04] npu21 opened #4461 "where's the source code of kubevirt/virtio-container-disk"
maybe not the right place, but dose anyone know where's the source code of kubevirt/virtio-container-disk?
Thanks!

[2020-10-31 00:08] #3453 closed

[2020-10-31 09:09] #4450 closed

[2020-10-31 18:52] maya-r commented on #4427
cc @murilofv if you haven't seen this yet

[2020-11-01 03:55] todaygood opened #4467 "how to add my private registry's certificate during build ?"
**What happened**:
I build kubevirt from source code and push image to my private registry "registry.abc.com", then report an error:
[code]
**What you expected to happen**:
no error , I want to know how to add  certificate during build .

**Environment**:
- KubeVirt version (use `virtctl version`): 0.34
- Kubernetes version (use `kubectl version`): 1.15.4

[2020-11-01 03:58] todaygood commented on #4442
I have built successfully after some time , I think the issue still was caused by network though I don't know where is root cause.

[2020-11-01 03:58] #4442 closed

[2020-11-01 09:59] oshoval opened #4468 "[Flaky CI] All SRIOV tests fail due to UpdateCDIConfigMap empty resource panic"
/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4335/pull-kubevirt-e2e-kind-1.17-sriov/1322813869676040192

Fails also on clean master
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4469/pull-kubevirt-e2e-kind-1.17-sriov/1322844949380599808

All tests failing, panic on
[code]

**What you expected to

[2020-11-01 10:26] oshoval commented on #4468
Trying to investigate, maybe just because the InsecureRegistry was removed from SRIOV provider

[2020-11-01 10:30] oshoval commented on #4468
/assign

[2020-11-01 10:47] ormergi commented on #4468
On SRIOV lane we do not deploy cdi operator at all, the panic occurs on this line https://github.com/kubevirt/kubevirt/blob/master/tests/utils.go#L4299

[2020-11-01 10:48] oshoval commented on #4468
Thanks, i know, i already fixed it, see PR above please.

[2020-11-01 14:00] omeryahud commented on #4241
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4451/pull-kubevirt-e2e-k8s-1.17/1322466460974452736

[2020-11-01 14:04] omeryahud commented on #4255
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4451/pull-kubevirt-e2e-k8s-1.18/1322230280886423552

[2020-11-02 04:58] #3519 closed

[2020-11-02 08:50] rmohr commented on #4461
We just download the virtio iso for windows with this definition here: https://github.com/kubevirt/kubevirt/blob/master/WORKSPACE#L153 and we put it with the right file permissions into a tar: https://github.com/kubevirt/kubevirt/blob/cf2849c413530fc0bf65886e06ca76a36d717874/containerimages/BUILD.bazel#L106 and this tar is finally an image layer here: https://github.com/kubevirt/kubevirt/blob/cf28

[2020-11-02 09:10] lukas-bednar opened #4477 "[Tests] Skip particular test cases in case cluster doesn't match necessary requirements"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running tests with storage class which does not support snapshoting, I expect all test-cases related to snapshoting to be skipped.

Similar case applies to HostDisk feature, in case that HostDisks are not supported on given cluster it should skip those test cases.

**What you expected to happen**:
For example when I

[2020-11-02 10:01] #4468 closed

[2020-11-02 11:03] #3484 closed

[2020-11-02 15:57] rmohr commented on #3873
@fgimenez very good observations.

That can indeed be a problem. What I find interesting is the the k8s apiserver had issues connecting. Since I think that we first update the webhook configuration with the new CA before we roll out the new client certificates.

Yes that is exactly the reason.

[2020-11-02 17:36] maya-r commented on #3758
kind-ipv6 removed

[2020-11-02 17:36] #3758 closed

[2020-11-03 01:53] DanielQujun commented on #4441
you're right, Web VNC is truly not user friendly, right now I'm facing a mouse offset issue even I had added a USB tablet device for the WIN7 VM.  curiously, the same VMI config for Windows 2019 is OK :flushed:

I'll keep this issue open, in case maybe someone needs it.

[2020-11-03 03:27] adofirst2018 opened #4480 "Build kubevirt-release-0.30 ERROR"
1. `make` is successed.
2. `make push` is  failed,  can't find @org_golang_x_crypto//md4
INFO: Build option --define has changed, discarding analysis cache.
INFO: Call stack for the definition of repository 'org_golang_x_crypto' which is a go_repository (rule definition at /root/.cache/bazel/_bazel_root/6f347497f91c9a385dcd9294645b76e0/external/bazel_gazelle/internal/go_repository.bzl:187:17):
 -

[2020-11-03 08:33] rmohr commented on #4467
You can tell our build environment where they are located via an environment variable. I never used it, but here the PR which implemented it: https://github.com/kubevirt/kubevirt/pull/3217.

[2020-11-03 08:57] rmohr commented on #4440
/assign @vladikr

I think that this alpha feature only works with configmaps and secrets right now.

[2020-11-03 09:14] npu21 commented on #4461
Great,thanks!

[2020-11-03 09:47] rmohr commented on #4226
/assign @vladikr

[2020-11-03 10:24] oshoval opened #4485 "tests, use Patch instead of update on k8s objects which we didn't create"
/bug

As Roman raised:
We can't use Update on k8s objects which we didn't create, when using the structured k8s client.
We can only use Patch on such objects. If we don't follow that rule, we always risk removing data which we didn't want to remove.

We use Update on Nodes, in two files.

See
https://github.com/kubevirt/kubevirt/pull/4478/files#r516486667

[2020-11-03 10:37] ILpinto commented on #4310
You need to add the test id in the It section like: [test_id:1234]

[2020-11-03 12:30] oshoval commented on #3873
/cc @EdDev
saw it also on SRIOV locally and there is great info here

[2020-11-03 13:09] vladikr commented on #4226
@rupang790 could you please verify that you have vfio-pci kernel module loaded on your host? `lsmod |grep vfio`

[2020-11-03 14:39] salanki commented on #4440
The fix for this issue that I linked works well. I will PR it as soon as I find some time.

[2020-11-03 15:01] vladikr commented on #4440
afaik, it should work well with NFS and we are currently testing this with a data volume.
For host-disk specifically, there is an issue I think...

[2020-11-03 15:01] vladikr commented on #4440
Thanks! I'll take a look.

[2020-11-03 15:02] salanki commented on #4440
The issue for me arose with `PersistentVolumeClaims` from CEPH.

[2020-11-03 16:24] vladikr commented on #4440
hmm, ok, I don't seem to follow then. Let me reproduce this.

[2020-11-03 17:27] salanki commented on #4440
`host-disk.go` assumes that all PVCs mounted into the Pod will be used to mount a Block Volume to the VM. Therefor it converts the PVCs to a `HostDisk` and later on creates a `disk.img` in there. My fix checks to see if the PVC is used in a `Filesystem`. If it is, it does not convert it to a `HostDisk` and no disk image is created.

[2020-11-03 23:31] #4456 closed

[2020-11-04 03:04] todaygood commented on #4467
yes, I have noticed the PR,  first push successfully by use the env variable , but push failed after I changed docker tag enrionment variable. it reported error as following.

[code]

[2020-11-04 06:43] todaygood commented on #4467
I found the root cause  during the build and push image to registry about above issue.   I think It is a bug.

now usual procession is :
1. make build
2. make push

during "make build " , hack/dockerize script run "kubevirt-bazel-server"  container  ,but didn't mount DOCKER_CA_CERT_FILE  volume,then "make push " , kubevirt-bazel-server didn't delete and continue to be used though defined DOCKER_CA

[2020-11-04 06:55] oshoval opened #4490 "[Flaky CI] [test_id:3985]should create a virtual machine with sriov interface with custom MAC address"
/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4463/pull-kubevirt-e2e-kind-1.17-sriov/1323866556106543104

[code]

**What you expected to happen**:
Should pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
https://github.com/kubevirt/kubevirt/pull/4511 fixes it.

**Environment

[2020-11-04 06:55] oshoval commented on #4490
/assign

[2020-11-04 10:00] rmohr commented on #4467
That can be. I think we would have to watch for  changes in `DOCKER_CA_CERT_FILE` and restart our bazel server to get the new mounts added.

[2020-11-04 16:25] #3312 closed

[2020-11-04 18:23] Just-Insane commented on #953
Is it possible to pass non-GPU PCI devices to guests without SR-IOV? For example, SAS HBAs or USB controllers?

[2020-11-04 18:43] Just-Insane commented on #1852
Does this include support for generic devices such as PCIe HBA/RAID cards or USB controllers for example?

[2020-11-04 19:02] vladikr commented on #953
In general, yes. Please take a look at #3937. Please let us know if this is not sufficient.

[2020-11-04 19:06] Just-Insane commented on #953
Looks like that was just merged today. I suspect it will be a while before it makes it into a release?

[2020-11-04 23:19] salanki opened #4502 "Terminating virt-launcher pod does not update VMI status"
/kind bug

**What happened**:
When a virt-launcher Pod enters Terminating state, ie. due to the underlying host having crashed the VMI still reports a status of Running.

**What you expected to happen**:
The VMI status should also reflect that the VMI is terminating.

**How to reproduce it (as minimally and precisely as possible)**:
- Create a VMI
- Kill the kubelet and docker on the host, or shut

[2020-11-05 14:15] oshoval commented on #4490
@ormergi FYI, if you see the error mentioned in the description (i saw it on CI and locally), i fixed it on the mentioned PR.

[2020-11-06 02:47] piwenzi opened #4508 "virtualmachine-controller Error creating pod: Pod ,spec.affinity.nodeAffinity error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i create vmi
root@miaoyun-node-4:~# kubectl get vmi
NAME       AGE   PHASE     IP    NODENAME
vm-win10   19m   Pending
root@miaoyun-node-4:~# kubectl describe vmi/vm-win10
Name:         vm-win10
Events:
  Type     Reason        Age               From                       Message
  ----     ------        ----              ----

[2020-11-06 03:24] pujunYang commented on #4508
virt-controller  logs

{"component":"virt-controller","level":"info","msg":"reenqueuing VirtualMachineInstance default/vm-win10","pos":"vmi.go:204","reason":"failed to create virtual machine pod: Pod \"virt-launcher-vm-win10-fwp8v\" is invalid: spec.affinity.nodeAffinity.requiredDuringSchedulingIgnoredDuringExecution.nodeSelectorTerms[0].matchExpressions[0].values: Required value: must be specifie

[2020-11-06 10:35] todaygood commented on #4480
maybe it was caused by your network enrionment.

[2020-11-06 11:57] ashleyschuett opened #4509 "[flakey test] Configurations VirtualMachineInstance definition with Clock and timezone [test_id:5268]guest should see timezone"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Configurations VirtualMachineInstance definition with Clock and timezone [test_id:5268]guest should see timezone

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4366/pull-kubevirt-e2e-k8s-1.17/1322658470117249024

**What you expected to happen**:

**How to reproduce it (as minimally and

[2020-11-06 12:02] ashleyschuett opened #4510 "[flakey ci] Configurations Check KVM CPUID advertisement [test_id:5271]test cpuid hidden"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Configurations Check KVM CPUID advertisement [test_id:5271]test cpuid hidden

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4470/pull-kubevirt-e2e-k8s-1.17/1322893898883796992

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anythi

[2020-11-06 13:55] fgimenez commented on #4510
There's a kube-apiserver panic in this execution https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4470/pull-kubevirt-e2e-k8s-1.17/1322893898883796992/artifacts/k8s-reporter/2/pods/1_kube-system_kube-apiserver-node01-kube-apiserver.log

[2020-11-07 11:10] #4060 closed

[2020-11-07 16:07] #2741 closed

[2020-11-08 09:27] maya-r commented on #4509
/triage build-watcher

[2020-11-08 09:27] maya-r commented on #4510
/triage build-watcher

[2020-11-08 09:28] maya-r commented on #4490
/triage build-watcher
(sorry for the noise, I just want to make sure it's easy to search for non-flakiness issues)

[2020-11-08 11:12] arnongilboa commented on #3770
/remove-lifecycle rotten

[2020-11-09 01:09] #4508 closed

[2020-11-09 09:59] #4381 closed

[2020-11-09 19:14] ArthurSens opened #4515 "Metric kubevirt_info doesn't expose kubevirt version correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm building some dashboards for monitoring KubeVirt components and workloads. Was planning to add KubeVirt version to the dashboard but to my surprise `kubevirt_info` returns `{gitversion}` instead of a valid version.

![image](https://user-images.githubusercontent.com/24193764/98585194-a948c980-22a5-11eb-810a-0ff4144b41c

[2020-11-10 12:07] dhiller opened #4518 "[flaky ci] [Serial]Infrastructure [rfe_id:4102][crit:medium][vendor:cnv-qe@redhat.com][level:component]certificates [test_id:4100] should be valid during the whole rotation process"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Above test `[test_id:4100] should be valid during the whole rotation process` was flaky on #4501 before the PR got merged.

Symptom/Test error:

[code]

Flake on k8s-1.17: https://prow.apps.ovirt.org/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4501/pull-kubevirt-e2e-k8s-1.17/13257427997645

[2020-11-10 12:19] dhiller commented on #3700
/remove-lifecycle rotten

[2020-11-10 12:19] dhiller commented on #3700
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4471/pull-kubevirt-e2e-k8s-1.19/1323231497523564544

[2020-11-10 12:23] dhiller commented on #3742
/remove-lifecycle rotten

[2020-11-10 12:24] oshoval commented on #3742
can you please paste the error ?
is it the webhook (as the issue first thread says) or the etcd timeout ?

[2020-11-10 12:25] dhiller commented on #3742
the latter

[2020-11-10 12:26] oshoval commented on #3742
There isnt one, but indeed it would be best please to open one, do you want me or you to open it ?
since the webhook that appear in the issue main message is outdated

[2020-11-10 12:27] dhiller commented on #3742
I think this one is it: https://github.com/kubevirt/kubevirt/issues/3777

[2020-11-10 12:29] oshoval commented on #3742
This one according most of the links there is during cluster-up, Or is on it
but please see error like we have here which deserve imo a new issue
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4511/pull-kubevirt-e2e-kind-1.17-sriov/1325727568359329793

[2020-11-10 12:38] alonSadan commented on #4385
In my case it was because the string I provided for the two cases in the table was identical, so it thought it ran two identical tests.

@dhiller should this remain open?

[2020-11-10 12:40] rmohr commented on #4385
/close

Perfect. So it worked like expected.

[2020-11-10 12:40] #4385 closed

[2020-11-10 13:39] dhiller opened #4519 "[flaky ci] [Serial]SRIOV VirtualMachineInstance with sriov plugin interface [test_id:1754]should create a virtual machine with sriov interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]SRIOV VirtualMachineInstance with sriov plugin interface [test_id:1754]should create a virtual machine with sriov interface` flaked before merge of #4501

PR history: https://prow.apps.ovirt.org/pr-history/?org=kubevirt&repo=kubevirt&pr=4501

Offending run: https://prow.apps.ovirt.org

[2020-11-10 13:42] dhiller commented on #4519
Possibly related:
* https://github.com/kubevirt/kubevirt/issues/3777
* https://github.com/kubevirt/kubevirt/issues/3742

[2020-11-10 13:46] dhiller opened #4520 "[flaky ci] [Serial]VirtualMachineRestore Tests rook-ceph With a more complicated VM [test_id:5260]should restore a vm that boots from a datavolumetemplate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]VirtualMachineRestore Tests rook-ceph With a more complicated VM [test_id:5260]should restore a vm that boots from a datavolumetemplate` flaked before PR #4471 got merged

Offending run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4471/pull-kubevi

[2020-11-10 13:53] dhiller opened #4521 "[flaky ci] [rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine An invalid VirtualMachine given [test_id:4643]should NOT be rejected when VM template lists a DataVolume, but VM lists PVC VolumeSource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-officer

**What happened**:

Test `[rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine An invalid VirtualMachine given [test_id:4643]should NOT be rejected when VM template lists a DataVolume, but VM lists PVC VolumeSource` flaked before the PR #4471 got merged.

Offending run: https://prow.apps

[2020-11-10 13:54] dhiller commented on #4521
/triage build-watcher

[2020-11-10 16:08] oshoval commented on #4519
Suggestion (if the network team and reviewers would like)
Try empirically this one, as i saw several times that a freshly created cluster might suffer in the beginning from etcd timeouts,
even that cluster-up is "done"
https://github.com/kubevirt/kubevirtci/pull/473

More possible refs in the PR

[2020-11-10 16:09] oshoval commented on #4519
Another run
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4501/pull-kubevirt-e2e-kind-1.17-sriov/1325742799731036160

[2020-11-10 19:22] oshoval commented on #4519
https://github.com/kubernetes/kubernetes/issues/70082#issuecomment-433604939

looks interesting, checking the metrics of the disk IO
this issue is alive 7 days ago, and lots of people reported it
we do see the prints mentioned in the issue (will add link to the PR 473 thread with the prints once github will stabilize)

[2020-11-11 09:13] ormergi commented on #4519
I can confirm we do get `..took to long to execute` warnings all over etcd pods logs on every sriov lane job, here are few for example
Right after sriov-operator deployment
[1326381124888301569](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4512/pull-kubevirt-e2e-kind-1.17-sriov/1326381124888301569) [etcd logs](https://storage.googleapis.com/kubevirt-prow/pr-log

[2020-11-11 09:52] dhiller commented on #4198
Again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4444/pull-kubevirt-e2e-k8s-1.17/1325754118735663104

[2020-11-11 09:53] dhiller commented on #4518
Again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4444/pull-kubevirt-e2e-k8s-1.18/1326006153942929409

[2020-11-11 09:59] dhiller opened #4524 "[flaky ci] Configurations [rfe_id:897][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachineInstance with CPU pinning [Serial]cpu pinning with fedora images, dedicated and non dedicated cpu should be possible on same node via spec.domain.cpu.cores [test_id:829]should start a vm with no cpu pinning after a vm with cpu pinning on same node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `Configurations [rfe_id:897][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachineInstance with CPU pinning [Serial]cpu pinning with fedora images, dedicated and non dedicated cpu should be possible on same node via spec.domain.cpu.cores [test_id:829]should start a vm with no c

[2020-11-11 10:00] danielhb commented on #4427
I managed to build and run Kubevirt for ppc64le building all artifacts. Shout out to @murilofv and @andreabolognani for the assistance and patience answering all my questions. For future reference I'll sum up what I ended up doing to make it happen.

1 - build kubevirt/libvirt for ppc64le using a x86 env.

The Libvirt container images are built using https://github.com/kubevirt/libvirt. To see wha

[2020-11-11 10:15] dhiller opened #4525 "[flaky ci] [Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:3193]with explicit role"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:3193]with explicit role` failed before PR #4444 got merged.

Offending lane: https://prow.apps.

[2020-11-11 10:21] dhiller opened #4526 "[flaky ci] [Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:3194]with implicit role"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:3194]with implicit role` failed before PR #4444 got merged

Offending lane: https://prow.apps.o

[2020-11-11 10:24] dhiller commented on #4199
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4444/pull-kubevirt-e2e-k8s-1.17/1325859564691656704

[2020-11-11 10:29] dhiller opened #4527 "[flaky ci] [Serial]ImageUpload Upload an image and start a VMI with PVC [test_id:4621] Should succeed PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]ImageUpload Upload an image and start a VMI with PVC [test_id:4621] Should succeed PVC` failed before PR #4444 got merged.

Offending lane: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4444/pull-kubevirt-e2e-k8s-1.17/1325859564691656704

PR history

[2020-11-11 10:34] dhiller opened #4528 "[flaky ci] [Serial]Infrastructure Start a VirtualMachineInstance when the controller pod is not running and an election happens [test_id:4642]should succeed afterwards"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]Infrastructure Start a VirtualMachineInstance when the controller pod is not running and an election happens [test_id:4642]should succeed afterwards` failed before PR #4444 got merged

Offending lane: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/44

[2020-11-11 10:58] ormergi opened #4529 "ectd timeouts erros on tests"
/kind bug

**What happened**:
SRIOV lane jobs fails 50% of the time due to etcd timeout errors.

We encounter those errors for a while now, It happens during tests when creating an object, e.g: Secret, VM.
it seems to happen right after installing `sriov-network-operator` or on the first tests that runs (right after Kubevirt operator deployment).
We get warning messages  `..took to long to execute

[2020-11-11 10:58] ormergi commented on #4529
issue on Kind repo https://github.com/kubernetes-sigs/kind/issues/1922

[2020-11-11 11:00] dhiller opened #4530 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance migration monitor Should detect a failed migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance migration monitor Should detect a failed migration` failed before PR #4444 got merged

Offending lane: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/ku

[2020-11-11 11:25] dhiller opened #4531 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance migration postcopy [test_id:4747] should migrate using cluster level config for postcopy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance migration postcopy [test_id:4747] should migrate using cluster level config for postcopy` failed before PR #4444 got merged

Offending lane: https://prow.apps.ovirt.org/

[2020-11-11 11:29] dhiller opened #4532 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with a Fedora shared NFS PVC (using nfs ipv4 address), cloud init and service account should be migrated successfully, using guest agent on VM [test_id:5004] with postcopy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with a Fedora shared NFS PVC (using nfs ipv4 address), cloud init and service account should be migrated successfully, using guest agent on VM [test_id:5004] with postco

[2020-11-11 11:33] dhiller opened #4533 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set [test_id:3244]should block the eviction api while a slow migration is in progress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set [test_id:3244]should block the eviction api while a slow migration is in progress` failed before P

[2020-11-11 11:38] dhiller opened #4534 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2221] should migrate a VMI under load to another node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2221] should migrate a VMI under load to another node

[2020-11-11 11:41] dhiller opened #4535 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2222] should migrate a VMI when custom taint key is configured"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2222] should migrate a VMI when custom taint key is c

[2020-11-11 11:46] dhiller opened #4536 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2224] should handle mixture of VMs with different eviction strategies."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2224] should handle mixture of VMs with different evi

[2020-11-11 11:53] dhiller opened #4537 "[flaky ci] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set with multiple VMIs with eviction policies set [test_id:3245]should not migrate more than two VMIs at the same time from a node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set with multiple VMIs with eviction policies set [test_id:3245]should not migrate more than two VMIs at the same time from a node` flaked before #444 got merged.

O

[2020-11-11 11:57] dhiller opened #4538 "[flaky ci] [Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:5253]with explicit role (all namespaces)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:5253]with explicit role (all namespaces)` flaked before PR #4444 got merged.

Offending lane: h

[2020-11-11 12:00] dhiller opened #4539 "[flaky ci] [Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:5254]with explicit role (one namespace)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
Test `[Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:5254]with explicit role (one namespace)` flaked before #4444 got merged

Offending lane: https:/

[2020-11-11 12:05] dhiller opened #4540 "[flaky ci] AfterSuite"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `AfterSuite` failed before #4444 got merged.

Offending lane: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4444/pull-kubevirt-e2e-k8s-1.17/1325859564691656704

PR history: https://prow.apps.ovirt.org/pr-history?org=kubevirt&repo=kubevirt&pr=4444

Test stack

[2020-11-11 14:58] talcoh2x opened #4541 "panic: Search domain is not valid"
Hi please help to understand what's wrong here.

when I run the vm
------------
apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: testvm2
spec:
  running: false
  template:
    metadata:
      labels:
        kubevirt.io/size: small
        kubevirt.io/domain: testvm
    spec:
      domain:
        devices:
          disks:
            - name: containerdisk
              disk

[2020-11-11 15:48] dhiller opened #4543 "[flaky ci] [Serial]Storage Starting a VirtualMachineInstance [rfe_id:2288][crit:high][vendor:cnv-qe@redhat.com][level:component] With Cirros BlockMode PVC [test_id:1015] should be successfully started"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[Serial]Storage Starting a VirtualMachineInstance [rfe_id:2288][crit:high][vendor:cnv-qe@redhat.com][level:component] With Cirros BlockMode PVC [test_id:1015] should be successfully started` flaked before #4444 got merged.

Offending runs:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/

[2020-11-11 16:30] dhiller opened #4544 "[flaky ci] k8s-1.17 temporary cluster failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
 One of the tests broke the cluster, so a couple of tests failed, until the cluster eventually healed and the remaining tests continued as usual.

Example runs:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4444/pull-kubevirt-e2e-k8s-1.17/1325754118735663104
* h

[2020-11-11 16:33] dhiller commented on #4531
Grouped in #4544

/close

[2020-11-11 16:33] #4531 closed

[2020-11-11 16:34] dhiller commented on #4530
Grouped in #4544

/close

[2020-11-11 16:34] #4530 closed

[2020-11-11 16:35] dhiller commented on #4534
Grouped in #4544

/close

[2020-11-11 16:35] #4534 closed

[2020-11-11 16:35] dhiller commented on #4533
Grouped in #4544

/close

[2020-11-11 16:35] #4533 closed

[2020-11-11 16:36] dhiller commented on #4536
Grouped in #4544

/close

[2020-11-11 16:36] #4536 closed

[2020-11-11 16:36] dhiller commented on #4528
Grouped in #4544

/close

[2020-11-11 16:36] #4528 closed

[2020-11-11 16:37] dhiller commented on #4535
Grouped in #4544

/close

[2020-11-11 16:37] #4535 closed

[2020-11-11 16:38] dhiller commented on #4532
Grouped in #4544

/close

[2020-11-11 16:38] #4532 closed

[2020-11-11 16:39] dhiller commented on #4537
Grouped in #4544

/close

[2020-11-11 16:39] #4537 closed

[2020-11-11 16:40] dhiller commented on #4544
Another example of this: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4522/pull-kubevirt-e2e-k8s-1.17/1326441901062098944

[2020-11-12 00:59] vladikr commented on #4541
@phoracek do you know why `HABANA-LABS.COM` isn't a valid search domain?

[2020-11-12 02:21] #3085 closed

[2020-11-12 10:41] phoracek commented on #4541
Looks similar to https://github.com/kubevirt/kubevirt/issues/3187.

@talcoh2x are you using Rancher?

The domain copied from the host but is invalid inside the virt-launcher pod.

[2020-11-12 10:55] talcoh2x commented on #4541
@phoracek
Yes I'm using Rancher.
can i change it somehow? because even if I changed the /etc/resolv.conf (on ) i get the same issue

[2020-11-12 10:57] phoracek commented on #4541
Could you try using https://rancher.com/docs/rancher/v2.x/en/troubleshooting/dns/#check-upstream-nameservers-in-kubedns-container to set explicit search domain without HABANA-LABS.COM?

[2020-11-12 12:45] rmohr commented on #3873
/close

"Fixed" in #4522. It takes sometimes unusually long until the kubelet updates the certificate secrets.

[2020-11-12 12:45] #3873 closed

[2020-11-12 12:45] rmohr commented on #4209
/close

"Fixed" in #4522. It takes sometimes unusually long until the kubelet updates the certificate secrets.

[2020-11-12 12:45] #4209 closed

[2020-11-12 12:46] rmohr commented on #4314
/close

"Fixed" in #4522. It takes sometimes unusually long until the kubelet updates the certificate secrets.

[2020-11-12 12:46] #4314 closed

[2020-11-12 12:46] rmohr commented on #4342
/close

"Fixed" in #4522. It takes sometimes unusually long until the kubelet updates the certificate secrets.

[2020-11-12 12:46] #4342 closed

[2020-11-12 12:48] rmohr commented on #4518
Related to #4522. It takes sometimes unusually long until the kubelet updates the certificate secrets. To stabilize this test, we have to expose the resourceVersion of the client and server certificates on all our healthz endpoints of our components, so that this test also knows when the client certificates are definitely rolled out. Right now it can only see if the server certificates were exchan

[2020-11-12 12:50] rmohr commented on #4541
@phoracek should we move forward with https://github.com/kubevirt/kubevirt/pull/3449? Technically the domains are invalid, but since linux can cope with it, we should probably too.

[2020-11-12 12:51] rmohr commented on #4515
Nice catch.

[2020-11-12 13:07] rmohr commented on #3430
/close

This is the case for some time now:
[code]

[2020-11-12 13:07] #3430 closed

[2020-11-12 13:11] rmohr commented on #4502
Can you check the ready condition of the VMI in this case? You should see that the readiness condition was flipped to `False` and the reason should be `PodTerminating`. This should happen as soon as the k8s control plane tries to delete the unresponsive pods.

We explicitly don't update the VMI status to `Terminating`.  This does also not happen on such Pods. If you look at the pod spec you will s

[2020-11-12 13:12] rmohr commented on #4502
https://github.com/kubevirt/kubevirt/pull/4398 implemented that. Your master state should already have that.

[2020-11-12 14:27] salanki commented on #4502
Ok. I guess that is not shown in “kubectl get vmi”. It would be useful to have it there as a one stop shop for checking that VMIs are up.

[2020-11-12 14:29] rmohr commented on #4502
It indeed would be. I think we may want to introduce a special `serverside` printing subsection in the VMI status. Sadly for CRDs we don't have the same independent serverside printing flexibility like built-in APIs have.

[2020-11-12 15:57] phoracek opened #4550 "periodic-kubevirt-mirror-uploader fails due to missing `bazelisk` binary"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The periodic is failing https://storage.googleapis.com/kubevirt-prow/logs/periodic-kubevirt-mirror-uploader/1326467570223550464/build-log.txt?Expires=1605196899&GoogleAccessId=prow-46%40kubevirt-240711.iam.gserviceaccount.com&Signature=nmho3jgXSVIynJky9au1P7gBxy8DuZwUdabSUVX%2BHNmef7Cw%2FA0mWYiLXUbEq80RWgwKVIXTRoPsjevqAz

[2020-11-12 15:57] phoracek commented on #4550
/triage build-watcher

[2020-11-12 16:31] phoracek commented on #4544
Do these look related?

- https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4522/pull-kubevirt-e2e-k8s-1.17/1326441901062098944
- https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4492/pull-kubevirt-e2e-k8s-1.19/1326520795349913600

[2020-11-12 21:47] talcoh2x commented on #4541
Hi, I modified the "search" in /etc/resolv.conf for lowercase, solve my problem.
thanks, guys

[2020-11-12 22:33] #4077 closed

[2020-11-13 00:06] #3231 closed

[2020-11-13 06:14] todaygood commented on #4410
I found the root cause that  I didn't enable  MutatingAdmissionWebhook,ValidatingAdmissionWebhook  plugin on kube-apiserver.

[2020-11-13 06:14] #4410 closed

[2020-11-13 08:15] rmohr commented on #4550
/close

Fixed.

[2020-11-13 08:15] #4550 closed

[2020-11-13 12:27] phoracek commented on #4541
@talcoh2x thanks for letting us know. It helps with the resolution of the bug.

[2020-11-13 14:33] rmohr commented on #2984
/reopen

[2020-11-13 15:25] rthallisey commented on #2076
/reopen

[2020-11-13 18:09] andreabolognani commented on #4427
Yeah, unfortunately that is still a work in progress on the COPR side, with no ETA that I'm aware of, so not much chance of making this anything other than a hack for the time being :(

I skimmed your changes and it looks to me like some of them could be upstreamed right away, for example reintroducing the ppc64le packages.

Making the `hack/dockerized` script multi-arch aware is also something th

[2020-11-13 18:23] danielhb commented on #4427
Note that I didn't generate the google storageapi link for the ppc64 packages (I have no idea how to do that hehe).

Makes sense. Guess we can make the script architecture aware and pick an appropriate kubevirt-builder image for the arch or something similar.

TBH I don't understand the Bazel situation. The package compiles in ppc64le without too much problems if you follow

https://github.com/vba

[2020-11-13 19:01] murilofv commented on #4427
@andreabolognani Can you go a bit into more detail about what you think needs to be changed? My understanding is that given the infrastructure that Roman created in this commit https://github.com/kubevirt/kubevirt/commit/a029feaa2ae6d25cef3458db8a188cc350c9f0de it should be just a matter of pointing to the manifest that contains both the builder for amd64 and ppc64le and docker would automatically

[2020-11-13 22:28] #3577 closed

[2020-11-14 11:05] andreabolognani commented on #4427
I mistakenly thought that the sha256 stored in `KUBEVIRT_BUILDER_IMAGE` was pointing to a single-architecture image, but I see now that's not actually the case:

[code]

So you're absolutely correct when you say that no further changes to that script are necessary :)

I guess the other way to look at it is that, once COPR can once again build packages for ppc64le, we'll be able solve both the libv

[2020-11-14 12:41] #3067 closed

[2020-11-14 13:42] #2998 closed

[2020-11-15 14:43] talcoh2x opened #4556 "panic: timed out waiting for domain to be defined"
**What happened**:
I'm trying to run a clean ubuntu18 VM image by using "container registry" as follow here:
https://github.com/kubevirt/kubevirt/blob/master/docs/container-register-disks.md
I need your help guys.

steps :
1 - create new VM image (clean ubunt18)
2 - create DockerFile:
cat /tmp/vmdisk/Dockerfile
FROM kubevirt/container-disk-v1alpha
ADD  ubuntu18_kubevirt.qcow2  /disk
3) run VM:
api

[2020-11-15 18:33] #4490 closed

[2020-11-15 20:04] #3559 closed

[2020-11-16 06:13] ksimon1 commented on #3389
/remove-lifecycle stale

[2020-11-16 06:59] oshoval commented on #4529
Ref
Please see here as well the research i did:
https://github.com/kubevirt/kubevirt/issues/4519#issuecomment-724913645
Which talk about ramfs and metrics.

and the research at https://github.com/kubevirt/kubevirtci/pull/473#discussion_r519932789
which talk about the pods that runs together and stress IO.

[2020-11-16 07:31] #3985 closed

[2020-11-16 07:51] rmohr commented on #4556
@talcoh2x the k8s events should very likely show you some warnings which can help you. Btw, your VMI yaml looks invalid. Can it be that you don't have webhooks enabled on your machine? Otherwise I have no idea how you could post such a VMI definition.

[2020-11-16 07:52] rmohr commented on #4556
Here a cirros example with cloud-init: https://kubevirt.io/user-guide/#/architecture?id=example

[2020-11-16 08:25] ikukaku opened #4558 "When I use kubevirt (v0.35.0) and kube-ovn together, virt-controller does not work properly. But the v0.32.0 version can work normally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
goroutine 449 [running]:
kubevirt.io/kubevirt/vendor/k8s.io/apimachinery/pkg/util/runtime.logPanic(0x1ac9ac0, 0x32229f0)
        vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go:74 +0xa3
kubevirt.io/kubevirt/vendor/k8s.io/apimachinery/pkg/util/runtime.HandleCrash(0x0, 0x0, 0x0)
        vendor/k8s.io/apimachinery/pkg/util/runti

[2020-11-16 10:41] talcoh2x commented on #4556
@rmohr Maybe you can help me understand how to provision a clean VM -ubuntu 18.04 ?
what is the faster way to do it?
please help thanks

[2020-11-16 10:45] rmohr commented on #4461
/close

Feel free to reopen if you have further questions.

[2020-11-16 10:45] #4461 closed

[2020-11-16 11:39] rmohr commented on #4558
@ikukaku looking at what you provide, I think that this has something to do with snapshotting. Either we have a bug in that new controller or the cluster is configured in a way which we did not expect. I don't think that it is related  to networking. @mhenriks would you mind having a look?

/assign @mhenriks

[2020-11-16 11:39] rmohr commented on #4558
/kind bug

[2020-11-16 12:13] #3608 closed

[2020-11-16 13:53] dren-dk opened #4560 "qemu gets OOMkilled"
/kind bug

**What happened**:

Regardless of the size of the memory allocated to a VM it gets OOM killed.

I can work around the problem by manually specifying a larger resource limit than the VM memory size with:

* domain.memory.guest: 8Gi
* domain.resources.limits.memory: 9Gi
* domain.overcommitGuestOverhead: true

According to the routine that calculates the resource limit from the guest memor

[2020-11-16 14:31] vladikr commented on #4560
Thank you for filing this issue.

QEMU requires additional memory to function properly. It depends on the requested resources and various threads.

I see that you are using `overcommitGuestOverhead` API field.
By using this filed you are effectively requesting *not* to add any overhead to the memory requested for the container.
According to your configuration, you are also using a Guaranteed QOS,

[2020-11-16 15:42] rmohr commented on #4560
I think there is one very save assumption in combination with `overcommitGuestOverhead: true`: If swap is disabled (which it normally should), this feature can't be used. In some corner cases it can make sense to run k8s with swap, but I would not recommend enabling it in general (the most obvious issue is that the kubelet can't detect memory pressure anymore).

[2020-11-16 16:01] rmohr commented on #4431
/close #4408 landed.

[2020-11-16 16:02] rmohr commented on #4431
/close

[2020-11-16 16:02] #4431 closed

[2020-11-16 17:58] dren-dk commented on #4560
I was not normally using overcommitGuestOverhead: true or memory.guest, I simply set
 requests.memory: 9Gi
and then hoped that the overhead calculation would ensure that the VM would get a reasonable amount of RAM.

Was that wrong?

Should I set memory.guest and leave requests.memory to its own devices?

[2020-11-17 00:04] codificat commented on #3934
Oh, apologies I missed that - this came in during pto and it slipped through the return :/

/remove-lifecycle stale

@mazzystr I believe you last looked at the labs, did you see that issue?

I just went through the lab on a quick minikube cluster and I did hit an issue with the image in the sample manifest (kubevirt/kubevirt.github.io#655) but it's unrelated to this, and I could ssh just fine...

[2020-11-17 07:28] dren-dk commented on #4560
I have just removed overcommitGuestOverhead: true and messed about with options some more.

This configuration allocates exactly 8500 MB to qemu and OOMs, I was under the impression that the qemu process should get the amount of ram specified in the request, not the limit:
`
        resources:
          limits:
            memory: 8500Mi
          requests:
            memory: 8000Mi
`

This works

[2020-11-17 09:17] oshoval commented on #4346
/reopen

Same EOF again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-push-nightly-build-master/1328503862264336384

[2020-11-17 10:12] oshoval opened #4562 "periodic-ci-kubevirt-kubevirt-master-0.34_4.6-e2e multi test failures due to "configmaps kubevirt-config not found""
/kind bug

**What happened**:
`periodic-ci-kubevirt-kubevirt-master-0.34_4.6-e2e` fails:

https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-0.34_4.6-e2e/1328534066990944256
Multiple failures, all or at least most about
`Message: "configmaps \"kubevirt-config\" not found",`

**What you expected to happen**:
Pass and be stable

**How to reproduce it (as m

[2020-11-17 10:18] talcoh2x opened #4563 "kubevirt device-plugin "Failed to read from '/sys/bus/pci/devices""
**What happened**:
provision VM with DP ( To expose PCI  device ) failed with the following error:

BTW, virt console works
[code]

**What you expected to happen**:
one vm up and running and 1 PCI Device as requested.

[code]

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
-

[2020-11-17 10:19] oshoval commented on #4562
/triage build-watcher

[2020-11-17 10:20] talcoh2x commented on #4563
@vladikr

[2020-11-17 10:22] rmohr commented on #4198
Looks like this may have been solved too with #4522 which I didn't think it would help for this test. Since the PR is merged I only see this test failing  if we run in the the strange unresponsiveness of node02. Still keeping it open for a few more days.

[2020-11-17 10:27] tomob commented on #4558
This should have been fixed with https://github.com/kubevirt/kubevirt/pull/4462.

[2020-11-17 11:38] rmohr commented on #4017
/close

[2020-11-17 11:38] #4017 closed

[2020-11-17 12:05] vladikr commented on #4563
@talcoh2x is this the end of the log file? Perhaps there is something else that happened after this?

I'm a bit confused, as it seems that the VM is running, am I correct?
In that case, I'm wondering what's the issues you are seeing? Is it that you don't see the assigned device?

`"Failed to read from '/sys/bus/pci/devices/0000:b1:00.0/config' : No such file or directory","pos":"virPCIDeviceRead:3

[2020-11-17 12:06] vladikr commented on #4563
Could you please post a `kubectl describe` of the VMI and the node the VMI is running on?

[2020-11-17 13:25] oshoval commented on #4525
Happened again on 4 tests in the same run for same reason
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4435/pull-kubevirt-e2e-k8s-1.17/1328354755923152898

[2020-11-17 13:33] oshoval commented on #4544
Maybe related as well
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4435/pull-kubevirt-e2e-k8s-1.19/1328354755927347200

[2020-11-17 13:42] oshoval commented on #4521
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4435/pull-kubevirt-e2e-k8s-1.17/1326867455137550336

[2020-11-17 14:15] jseguillon opened #4564 "Need a way to inject static ip on multus controlled interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
I'm using a bridge interface via multus and I'd like to inject static ip on it.

Im' using a bridge a second interface via :
[code]

I'd like to inject static ip on the multus interafce as described here  : https://github.com/intel/multus-cni/issues/278#issuecomment-482765376 => define static ipam and inject IP in

[2020-11-18 02:59] lixiaobing1 opened #4565 "1"

[2020-11-18 03:52] chenyg0911 opened #4566 "How to bind VM NIC MACAddress with pod auto-assigned MACAddress?"
I've try to move virtualmachine to managed by k8s. When use pvc persistent disk, when the VM shutdown then start, the pod assigned mac address is changed, It's different with /etc/netplan/50-cloud-init.yaml (Ubuntu-20.04) Or /etc/sysconfig/network-scripts/ifcfg-eth0(CentOS7), So dhcp can't aqure IP for VM. I've edit the 50-cloud-init.yaml MACAddress to match the VM NIC MACAddress, and `netplan app

[2020-11-18 05:53] #3323 closed

[2020-11-18 07:49] adofirst2018 opened #4567 "How to debug kubevirt"
We want to develop kubevirt in k3s, I deploy k3s in single node, then

[code]

kubevirt can run in k3s development environment, But when I modify kubevirt source,  I still need repeat the above steps
[code]
There's no better way to debug kubevirt?  such as replacing binaries (virt-operator etc) thanks

[2020-11-18 08:31] availati opened #4568 "Can't start demo VM on K3S cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Command ./virtctl start testvm fail
osboxes@osboxes:~$ ./virtctl start testvm
Error starting VirtualMachine Put http://localhost:8080/apis/subresources.kubevirt.io/v1alpha3/namespaces/default/virtualmachines/testvm/start: dial tcp 127.0.0.1:8080: connect: connection refused

**What you expected to happen**:
testvm start

[2020-11-18 09:55] rhrazdil opened #4570 "[sig-network] [Serial]Primary Pod Network Status VMI connected to the pod network using bridge binding when Guest Agent exists should report PodIP/s as its own on interface status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`pull-kubevirt-e2e-k8s-1.19` failed to run
[sig-network] [Serial]Primary Pod Network Status VMI connected to the pod network using bridge binding when Guest Agent exists should report PodIP/s as its own on interface status

[Prow job](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4561/p

[2020-11-18 09:55] rhrazdil commented on #4570
/triage build-watcher

[2020-11-18 14:56] rthallisey opened #4573 "Save/Restore API"
/kind enhancement

# High Level Design
Add a Save and Restore API to KubeVirt, so that a tenant can `$ virtctl save <vmi>` and `$ virtctl restore <vmi>`.

### Save API
After a tenant calls to save a VMI, the virt-handler will receive a save operation from the virt-api.  The virt-handler will inform the virt-launcher where it wants to execute a save.  Virt-launcher will reach out to libvirt to save

[2020-11-18 16:21] rhrazdil commented on #4540
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4499/pull-kubevirt-e2e-k8s-1.18/1326103044630253569[https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4499/pull-kubevirt-e2e-k8s-1.18/1326103044630253569](url)

[2020-11-18 17:58] mhenriks commented on #4573
We currently have offline VM snapshots/restore.  Eventually we will have live VM snapshots.  I think it will cover everything you want to accomplish here with a more formal API.  I propose that `virtctl save/restore` leverages that functionality when it exists.

[2020-11-18 19:37] rthallisey commented on #4573
Can you define a live VM snapshot?  It sounds like it involves doing something like a `dom.Save` and `dom.Restore` at the virt-handler level.  What other libvirt calls would you expect from a live VM snapshot API?

[2020-11-19 03:19] duhongyu commented on #4568
I know a workaround solution
kubectl proxy --address=0.0.0.0 --accept-hosts='^*$' --port 8080

[2020-11-19 08:25] enp0s3 commented on #4120
@ormergi How that this issue has been fixed, can we drop the conditional check for SRIOV lane in [cluster-deploy.sh](https://github.com/kubevirt/kubevirt/blob/5978d81304e164d80a2955b020c2a299acfc3811/hack/cluster-deploy.sh#L36)?

[2020-11-19 08:37] jseguillon commented on #4564
Searched a bit on multus git. I think here is the list of fields that  should be defined to cover any use-case : https://github.com/intel/multus-cni/blob/master/types/types.go#L119-L150

Plus one example of test done by Multus : https://github.com/intel/multus-cni/blob/master/e2e/default-route1.yml#L25

[2020-11-19 09:11] talcoh2x commented on #4182
someone can update if some special configuration required to improve the performance ??

[2020-11-19 10:29] rmohr commented on #4560
If no limit is set, it will use it.

Yes, here we right now take the limit over requests. I see that this can be impractical when limits and requests are specified on the namespace, but no guest memory is explicitly set. It may be indeed be better to change that.

The overhead is always added to what people specify on the VMI, since also being constantly over your requests can sooner or later lead

[2020-11-19 10:31] rmohr commented on #4560
Actually, we don't enable ballooning yet, but when ballooning is present one would actually expect the opposite, because one could never go over what is requested and adding a limit higher than a request does not make much sense then. Maybe we should only stay on the save side when the values are coming from the range-limit of the namespace and still choose the limit if it was explicitly specified

[2020-11-19 14:12] dankenigsberg commented on #4573
@rthallisey, I'm missing the use case of this issue - in particular the bit about save without pvc. It seems to me wrong to put anything persistent on the local filesystem which can easily run out of space or disconnected. Also, your text does not describe how where the yaml definition and disk content of the vm during the snasphot is stored and kept in congruence with the RAM snapshot. The RAM co

[2020-11-19 14:40] rmohr commented on #4565
Hi, kubevirt relies on qemu to emulate all kinds of different machine types to allow all kinds of VM workloads to run on k8s. cloud-hypervisor seems to be closer to kata containers. Maybe that is more what you are looking for?

[2020-11-19 15:16] rthallisey commented on #4573
I hadn't seen @mhenriks work until he mentioned it here, so I'm still looking into that.

My understanding is that the path `/var/run/kubevirt` would be a part of the VMIs disk.  So if that disk is stored in a PVC, a restore on another host would still consume that disk and have the RAM file available.

Basically the difference between option 1 and 2 is: what are the save files tied to and whether

[2020-11-19 16:11] rthallisey opened #4578 "Provide a more helpful error message when a build fails on a syntax error"
[code]

The issue was a syntax error that the build handle trouble with:  `virtClientr` should be `virtClient`.
[code]

[2020-11-19 16:27] #3622 closed

[2020-11-19 21:33] #3458 closed

[2020-11-20 00:50] lixiaobing1 commented on #4565
@rmohr yeah, cloud hypervisor is used in kata and very small, so can it be applied to kubevirt?

[2020-11-20 10:42] availati commented on #4568
Its works thanks a lot.
Do you know if is a bug and its resolution is planned?

[2020-11-20 11:34] rmohr commented on #4565
I don't think so. qemu and libvirt are deeply rooted in kubevirt and we want to emulate full VMs (cpus, q35, ...).

[2020-11-20 11:38] rmohr commented on #4578
Ah yes this happens because `goimports` falls over that and it is executed before the main build step.

Hm, if we change the order, then imports which would be fixed by `goimports` need to be manually fixed first. Let me see what we can do.

[2020-11-20 12:12] rmohr commented on #4578
When I do

[code]

I get

[code]

Can you verify that you don't have any strange symlinks or so in your env? goimports can get confused by that.

[2020-11-20 12:18] rthallisey commented on #4578
Try changing the caller:

[code]

[code]

[2020-11-20 12:31] ezrasilvera commented on #4578
Can confirm. Changing the caller produced the above error on my env as well (changing VirtClient  was detected correctly)

[2020-11-20 12:41] rmohr commented on #4578
Yep, here the fix: https://github.com/atlassian/bazel-tools/pull/122 as soon as it is merged, we can update the dependency in our WORKSPACE.

[2020-11-20 12:47] #3633 closed

[2020-11-20 13:16] codificat commented on #3934
@birdiesanders are you still having this problem?

If so, please provide details of the ssh command that you are attempting and how it is failing
Thanks

[2020-11-20 14:06] rmohr commented on #4558
@ikukaku it should be part of the latest developer builds. Would be greast if you could give it a try: https://kubevirt.io/user-guide/#/installation/installation?id=installing-the-daily-developer-builds.

[2020-11-20 15:35] birdiesanders commented on #4250
How could I go about testing this PR?

[2020-11-20 16:32] awels commented on #4250
Assuming you have a fork of kubevirt/kubevirt, you should be able to do something like:
git fetch upstream pull/4458/head:hotplug_pr
Which should create a branch called hotplug_pr locally. Then you can build it like any other branch

[2020-11-21 22:20] #3508 closed

[2020-11-22 18:36] #3667 closed

[2020-11-22 18:36] #3668 closed

[2020-11-22 18:36] #3670 closed

[2020-11-23 10:12] rmohr commented on #3584
/reopen

/assign @codificat

@codificat this would probably just be a matter of documenting how to do this, or why it is fine to have insecure in a demo environment.

[2020-11-23 16:48] dhiller commented on #4562
Is related to the testing manifests not available, uploaded them manually. Should be fixed tomorrow.

[2020-11-23 17:11] dhiller commented on #4562
FTR: the testing manifests are deployed here: https://github.com/kubevirt/kubevirt/blob/master/hack/ci/entrypoint.sh#L32

Currently working on a job that updates these manifests automatically.

[2020-11-23 17:51] #3688 closed

[2020-11-23 18:31] codificat commented on #3584
@mazzystr would you be able to contribute the procedure you followed to the documentation?

[2020-11-23 19:31] codificat commented on #2978
/reopen

Sorry for the delay following up on this.
@rmohr can you help me here: do we have the latest release tag uploaded somewhere already? I couldn't find it...

As you mentioned, the "latest" through the github API is not really what we want (it provides the last release, currently v0.34.2): current code in the quickstart:

[code]

The suggestion from the OP includes a sort and does currently

[2020-11-24 07:18] #4562 closed

[2020-11-24 08:43] dhiller commented on #4562
FYI @stu-gott @sgarbour

[2020-11-24 20:22] rthallisey commented on #4573
Closing this issue and creating a proposal on kubevirt-dev.  Thanks for the comments.

[2020-11-24 20:22] #4573 closed

[2020-11-25 03:14] wavezhang commented on #3330
/remove-lifecycle rotten

[2020-11-25 07:28] #3674 closed

[2020-11-25 10:29] dren-dk opened #4590 "VM stuck Scheduled on btrfs: failed to detect root mount info of containerDisk"
/kind bug

**What happened**:

Exactly as reported in #3119, but now running kubevirt v0.35.0.

The virt-launcher pod has status Running, but the VMI remains in phase Scheduled after a while the pod fails.

The output of the mount command from the compute container is:

[code]

* The nodes that are unable to start the VM use btrfs
* Nodes with overlay2 run VMs just fine.

**What you expected to ha

[2020-11-25 14:46] maiqueb commented on #3901
/close

The `kind-k8s-1.17.0-ipv6` lane was removed.

[2020-11-25 14:46] #3901 closed

[2020-11-25 18:39] #3703 closed

[2020-11-26 02:06] #4570 closed

[2020-11-26 09:19] rmohr commented on #4590
Just to clarify this: It worked for you before on btrfs? Which version was that?

[2020-11-26 10:48] dren-dk commented on #4590
Nope, I never had it working on btrfs.

[2020-11-26 12:04] ormergi commented on #3742
@orenc1 @dhiller
We didnt saw this error for a while now, and there have been huge effort for stabilizing this lane
now all the changes we did are in place.
I think we can close this one.

[2020-11-26 12:10] ormergi commented on #3777
/close
Should be fixed by #4588

[2020-11-26 12:10] #3777 closed

[2020-11-26 12:10] ormergi commented on #4519
/close

Should be fixed by #4588

[2020-11-26 12:10] #4519 closed

[2020-11-26 12:15] ormergi commented on #4529
KinD maintainers suggests to run etcd in memory to improve overall performance and reduce the IOps/disk througput consumption by the DinD with KinD cluster setup on CI.

This should be fixed by https://github.com/kubevirt/kubevirt/pull/4588
Now that all the changes are in place we will monitor SRIOV lanes for another week
and if everything is stabilized this issue can be closed.

[2020-11-26 12:50] rmohr commented on #4590
Hm, we had a lengthy discussion about a detail in here: https://github.com/kubevirt/kubevirt/pull/3124#pullrequestreview-375692235. Maybe we took the wrong route there.

[2020-11-26 13:02] ezrasilvera opened #4594 "Integrate gosec static analysis"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**Background**
Gosec (https://github.com/securego/gosec) is a static code analysis tool that scan the code to find security related issues.

Gosec tests the code against a list of rules and produces a report per rule listing all the detected potential violations. The set of rules can be configured and one can run a subset of rules a

[2020-11-26 15:06] rmohr commented on #4073
/close

Fixed in https://github.com/kubevirt/kubevirt/pull/4302

[2020-11-26 15:06] #4073 closed

[2020-11-26 15:08] rmohr commented on #4567
@adofirst2018 you can also just push the binary to your registry and manually modify the deployments. Also I think we have a pull policy environment variable which you can set to always pull on the deployments. You would then basically make your change, push it and then delete the deployment. Does that help?

[2020-11-26 15:09] rmohr commented on #4566
@chenyg0911 you can try using`masquerade{}` instead of `bridge{}` with a fixed mac address. What CNI solutions are you using?

[2020-11-26 15:24] #4432 closed

[2020-11-26 15:39] oshoval commented on #3774
Fixed by #4448 by @qinqon
/close

[2020-11-26 15:39] #3774 closed

[2020-11-26 15:39] oshoval commented on #3747
Fixed by #4448 by @qinqon
/close

[2020-11-26 15:39] #3747 closed

[2020-11-26 15:49] phoracek commented on #4105
@alonSadan can we close this now?

[2020-11-26 15:51] phoracek commented on #4104
@qinqon is this now implemented?

[2020-11-26 15:52] phoracek commented on #4104
@estherlyoon I'm sorry that your messages was not noticed. Are you still looking for a project to contribute to? If so, please feel free to contact me and I'd help you arrange a task in this project.

[2020-11-26 16:07] phoracek commented on #4101
@nsharma1231 sorry for missing your comment. Are you still interested in contributing? If so, I'd be glad to help you arrange some tasks.

[2020-11-26 16:09] phoracek commented on #2530
@xpivarc could you confirm? Can we close this issue now?

@uma-sethuraman if you are still interested in contributing, please let me know.

[2020-11-26 17:00] #3712 closed

[2020-11-27 03:52] chenyg0911 commented on #4566
@rmohr Yes. I've tried masquerade{}. It work for me. CNI is calico.

[2020-11-27 07:25] todaygood opened #4597 "network doesn't work fine when vm with masquerade interface"
**What happened**:
failed to curl vm's nginx homepage when vm with masquerade interface.

[code]

**What you expected to happen**:
I can visit vm's nginx homepage  in k8s node

**How to reproduce it (as minimally and precisely as possible)**:
always

**Anything else we need to know?**:

# in vm centos850
when I telent podip:80  ， I didn't capture any packet in vm.  In the vm , I enabled nginx serv

[2020-11-27 07:36] lixiaobing1 opened #4598 "where to get virt-chroot, and how to build virt-chroot?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
where to get virt-chroot, and how to build virt-chroot?

**What you expected to happen**:
Get or build virt-chroot.

**How to reproduce it (as minimally and precisely as possible)**:
build.

**Anything else we need to know?**:
no

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version

[2020-11-27 10:17] #3718 closed

[2020-11-27 10:32] dhiller commented on #3742
Agreed, we can reopen it if it occurs again.

[2020-11-27 10:32] dhiller commented on #3742
/close

[2020-11-27 10:32] #3742 closed

[2020-11-29 11:01] #3728 closed

[2020-11-29 19:03] #3740 closed

[2020-11-29 22:28] rmohr opened #4601 "WaitForFirstCustomer and --image-upload do not work well together"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

If I have a storage class with WaitForfirstCustomer, PVC uploads are stuck forever when using `--image-upload`. We should clarify if it is save to use this feature now with the new `WaitForFirstCustomer` CDI support.

All can be fine here, but I don't know the expectations and we don't seem to test the flows for

[2020-11-29 22:29] rmohr commented on #4601
/assign @mhenriks

[2020-11-29 22:31] rmohr opened #4602 "[tests] We should clearly distinguish tests which required Immediate bindings from others"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Right now it is not strictly and clearly distinguished between the two types of tests. However, our tests should be capable of running on CDI environments without issues where the WaitForFirstCustomer features are endabled.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as po

[2020-11-29 22:31] rmohr commented on #4602
/assign @mhenriks

[2020-11-30 03:40] todaygood commented on #4597
I found I didn't enable pod network forwarding in calico ,  After enabled,  the issue has been resolved.

[2020-11-30 03:40] #4597 closed

[2020-11-30 06:25] #4598 closed

[2020-11-30 06:28] #4566 closed

[2020-11-30 06:33] lixiaobing1 opened #4603 "failed to look up user: user: lookup username qemu: invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When deploy kubevirt, err info occurs in virt-handler:
{"component":"virt-handler","level":"info","msg":"re-enqueuing VirtualMachineInstance default/testvm","pos":"vm.go:923","reason":"failed to get image info: failed to invoke qemu-img: exit status 1: 'Error: failed to look up user: user: lookup username qemu: invalid argument\nUsa

[2020-11-30 06:36] #4085 closed

[2020-11-30 06:57] dren-dk commented on #4590
Sorry about dropping the ball wrt. testing the original issue, we were quite busy around the time the fix was released and with the workaround in place, it wasn't an immediate priority.

I have a more readily available test setup for this issue now, so let me know if there's any more data needed.

[2020-11-30 09:12] #3504 closed

[2020-11-30 12:08] #4250 closed

[2020-11-30 13:35] alonSadan commented on #4105
yes. safe expecter is applied wherever it can

[2020-11-30 13:35] #4105 closed

[2020-11-30 14:45] soodpr opened #4607 "Not able to launch VMI on K3s"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement
or user error

**What happened**:
1. Install 1.17.3 k3s on Ubuntu 18.04 VM as below:
curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v1.17.3+k3s1 sh -s - server\
'--kube-apiserver-arg=allow-privileged=true' --docker

2. Install 0.34.2 kubevirt as below:
$export VERSION=$(curl -s https://api.github.com/repos/kubevirt/kubevirt/releas

[2020-12-01 11:27] borod108 opened #4610 "Can't upload an ISO with image-uploader, stuck at pvc provisioning"
/kind bug

**What happened**:
I am trying to follow this artivcle: https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html

I have tried to run:
```virtctl image-upload --image-path="/home/borod108/Downloads/Win10_20H2_English_x64.iso" --pvc-name=win10pvc --access-mode=ReadOnlyMany --pvc-size=8G --uploadproxy-url=https://10.110.80.122:443 --insecure --wait-secs=240```

The

[2020-12-01 11:35] rmohr commented on #4610
@borod108 the error message seems to indicate that you may not have a storage provisioner in your cluster? If you create PVCs, do you see PVs generated for them?

[2020-12-01 13:12] rmohr commented on #4610
After investigating this offline, this seems to be a duplicate of #4601. Since you seem to use kubevirtci and latest master (so our developer setup), you could work around this with rook-ceph.

This will provision rook as storage provider:
[code]

Now you can upload the image like this:

[code]
Note the additional `--storage-class=rook-ceph.rbd.csi.ceph.com`.

[2020-12-01 13:38] #4578 closed

[2020-12-01 17:13] mhdbhrmn commented on #3031
Hi i run kali in eve-ng emulator. After installing kali it shows no bootable device while it want comes up. Do you know how can i solve it?

[2020-12-01 17:42] uma-sethuraman commented on #2530
@suomiy @phoracek Thanks for letting me know! If this issue is being closed, then no worries. We will let you know if there are any other issues we would like to work on in the future.

[2020-12-01 18:28] awels commented on #3031
Not without some logs or more information. Maybe open a new issue?

[2020-12-02 06:58] adofirst2018 commented on #4567
@rmohr Thank you for your reply,  but I have some questions,

1. I deploy kubevirt by yaml. I don't know how to deploy kubevirt by binary 2. I don't find a pull policy environment variable that can pull the binary to my registry, can you give me some references？

[2020-12-02 07:29] hougangliu opened #4613 "cannot start vmi with containerDisk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

see my vmi example as below from [here](https://github.com/kubevirt/kubevirt/blob/master/examples/vmi-fedora.yaml):

[code]
however it cannot work well (vmi cannot change to `Running`), and the corresponding node virt-handler pod says as below
[code]

when I attach the corresponding node virt-handler pod, and I find there is /proc/

[2020-12-02 07:36] hougangliu commented on #4613
When I tried demo example from [here](https://github.com/kubevirt/demo/blob/master/manifests/vm.yaml), I encounter same problem

[2020-12-02 07:57] #3739 closed

[2020-12-02 08:07] hougangliu opened #4614 "cannot connect running VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
as https://github.com/kubevirt/kubevirt/issues/4613 says, since the VMI in my cluster cannot even change `Running` when I run containerDisk, I pulled kubevirt/cirros-registry-disk-demo image and copy file `/disk/cirros.img` in it to my storage with new name `disk.img` (also it is  owned by the user-id 107  as suggesion [here](https:

[2020-12-02 09:46] rmohr commented on #4567
@adofirst2018 I would recommend looking into our external provider: https://github.com/kubevirt/kubevirt/tree/master/cluster-up/cluster/external for development. It is a not-so-much used feature, so I can't guarantee that it works, but in theory you ensure that your `kubectl` is logged into a cluster. Then you can do:

[code]
Then `make cluster-sync` would deploy to the defined registry and deploy

[2020-12-02 10:51] sandrobonazzola opened #4615 "virtctl version doesn't provide server version data"
/kind bug

**What happened**: running virtctl-v0.34.2-linux-amd64 version and got:
[code]

**What you expected to happen**:
I expected to get some meaningfull Server Version informations

**How to reproduce it (as minimally and precisely as possible)**:
- Install OKD 4.6 with KubeVirt HCO
- verify within OKD console you can create VMs using wizard
- run `virtctl-v0.34.2-linux-amd64 version`

**Any

[2020-12-02 15:04] #3574 closed

[2020-12-02 17:04] jean-edouard commented on #4556
This looks like a duplicate of https://github.com/kubevirt/kubevirt/issues/3933

[2020-12-02 17:06] #3756 closed

[2020-12-03 02:52] hougangliu commented on #4614
I have no idea why this happens:
1) the VM doesn't run, for example, guest os cannot work
or 2) the VM works well, but we cannot just visit its network

How can I verify which reason caused this problem？

[2020-12-03 09:06] gouyang commented on #4614
Maybe you can try the cirros container image `kubevirt/cirros-container-disk-demo:latest` or fedora container image `kubevirt/fedora-cloud-container-disk-demo:latest` instead of `kubevirt/cirros-registry-disk-demo`.

[2020-12-03 09:09] hougangliu commented on #4614
Ok, I can take a try. thanks

[2020-12-03 09:21] futuretea commented on #4568
[code]
or
[code]

[2020-12-03 09:37] hougangliu commented on #4614
I had tried, it has same error

[2020-12-03 10:04] zakkg3 commented on #4564
Need this. +1
Trying to workarround this by giving the net-attach-def a range of 1 ip. and create one of them per ip. then in the Vm i can specify this network-attach-deff.
ofc this does not scale. and its a workarround.
I guess its not too tricky to implement: add a filed on the vm object, something like "pod-annotations:" and then render this to the pod will do the trick and also enable other fe

[2020-12-03 10:23] #3153 closed

[2020-12-03 13:35] oshoval opened #4621 "SRIOV [test_id:3956]/[test_id:3957] Flaky due to cloud-init problem"
/kind bug

**What happened**:
Tests are flaky, ping fails.
Please see the error about cloud-init below.

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4616/pull-kubevirt-e2e-kind-1.17-sriov/1334424614062788608

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4620/pull-kubevirt-e2e-kind-1.17-sriov/1334471293780627457

**What you

[2020-12-03 16:49] xpivarc commented on #2530
/close
Sorry for the late reply. @phoracek I can confirm that this issue is gone.

[2020-12-03 16:49] #2530 closed

[2020-12-03 17:06] awels opened #4624 "virtctl upload allows readonly volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When calling virtctl upload you are allowed to specify a read only access mode for the volume. This means CDI cannot write the image to the volume and it will fail with a weird error.

**What you expected to happen**:
virtctl upload to reject attempting to make a read only volume. When you mount as an iso it will be mount

[2020-12-03 17:30] #3768 closed

[2020-12-03 17:30] #3773 closed

[2020-12-03 17:30] #3771 closed

[2020-12-04 02:57] adofirst2018 commented on #4567
@rmohr thanks

[2020-12-04 09:46] #3763 closed

[2020-12-04 13:11] awels commented on #4614
Are you running this on a cluster where the nodes are virtual machines? The logs seem to indicate you don't have /dev/kvm available. So either turn on nested virtualization or use the emulation mode.

[2020-12-04 18:05] zakkg3 commented on #4564
i am finally working arround this by using this network attach definition:

[code]

on the vm cloud-init you need to dhcp
[code]

----
In your case if you cant dhcp... and only if its not your default interface (if is the default it stucks on podinitilizing)  you could do:

[code]

And then use cloud-init to set your ip in your VM yaml:

[code]

[2020-12-04 18:39] jseguillon commented on #4564
Thanks for feedback @zakkg3
 Sure this workarounds but this also requires the one network attachment per VMs

I still think  a feature for "one network attachment for all - supercharge per VM" would be welcomed

[2020-12-04 22:17] davidvossel opened #4629 "Migrations fail after update to v0.35.0 to v0.36.0-rc.0"
**What happened**:
- start a VMI on kubevirt v0.35.0
- update to v0.36.0-rc.0
- attempt to migrate vmi

migration fails due to changes in the libvirt container that virt-launcher is based on.

```  Warning  Migrated          93s                    virt-handler, node01        VirtualMachineInstance migration uid f22e325a-df9c-4946-8143-b284aed4e5ae failed. reason:Live migration failed virError(Code

[2020-12-04 22:17] davidvossel commented on #4629
/release-blocker release-0.36

[2020-12-04 22:21] davidvossel commented on #4629
/cc @rmohr @andreabolognani

I think our libvirt container update ( #4408  ) broke updates. I have a new functional test related to workload update functionality i'm working on that happened to catch this in my developer environment.

[2020-12-04 23:05] vladikr commented on #4629
Oh, I didn't think about this...
Maybe we can get away with just adding a symlink?

[2020-12-05 08:01] cumirror opened #4630 "client-go's dependency conflict: go-kit is incompatible in different version"
Recently I am using client-go@v0.35.0 and github.com/prometheus/prometheus@v1.8.2 in my project. They both rely on ggithub.com/go-kit/kit/log module.

Among them, client-go depends on go-kit v0.3.0, and prometheus@v1.8.2 depends on go-kit v0.9.0, and these two versions of go-kit are not compatible. For example, in the v0.9.0 version, the original log.Context and log.NewContext changed from public

[2020-12-05 10:10] #3711 closed

[2020-12-05 10:10] #3769 closed

[2020-12-05 10:10] #3669 closed

[2020-12-05 11:11] #3579 closed

[2020-12-05 13:13] #3662 closed

[2020-12-05 14:14] #3792 closed

[2020-12-05 20:20] #3663 closed

[2020-12-06 11:36] EdDev commented on #4621
I have managed to recreate the problem using `ip` commands:
[code]
Using a valid ifname solves this:
`ip link set  dummy99 name sriov99`

[2020-12-06 20:57] EdDev commented on #4621
For completion, the reason it passes sometimes has been investigated [here](https://github.com/kubevirt/kubevirt/pull/4632).

[code]

[2020-12-07 02:53] hougangliu commented on #4614
I used  the emulation mode. I wonder what it means for a VMI if it is "Running". IMP, if its network cannot be accessed, its state should not be "Running" at least

[code]

[2020-12-07 09:10] rmohr commented on #4629
:+1: that may do it.

[2020-12-07 09:44] zakkg3 commented on #4564
Finally found a best workarround:

use the net-attach-def with ipam: {}
But dont add the default filed in the vm object so it does not get stuck on PodInitializing

[code]

this works and is for me an acceptable workaround we are going into production with this setup :trollface:

[2020-12-07 09:53] andreabolognani commented on #4629
A symlink would probably work.

I do worry a bit about Fedora's SELinux rules possibly only allowing `/usr/bin/qemu-system-*` and not `/usr/libexec/qemu-kvm`, but apparently this was never a problem in the past so I'm probably just being paranoid.

@berrange do you foresee any issues that could be caused by adding such a symlink? Can you think of a better solution, such as using libvirt hooks to c

[2020-12-07 10:10] berrange commented on #4629
I dont recall if symlinks would be a issue or not - just give it a try, or use hard links

[2020-12-07 11:38] jseguillon commented on #4564
Great catch @zakkg3
This makes sense : why bother with Ipam if we want static ?

I'll test ASAP so we can close this issue.

[2020-12-07 13:32] #4326 closed

[2020-12-07 13:32] #4510 closed

[2020-12-07 16:03] rmohr commented on #4614
Running means that the machine is on, like if your office PC is on. It is not related to network connectivity. If you want more fine-grained control of liveness and readiness, you can for instance  use liveness and readiness probes: https://kubevirt.io/user-guide/#/creation/probes?id=configure-liveness-and-readiness-probes, further if the guest agent is installed, you will see a guest agent condit

[2020-12-07 16:19] davidvossel commented on #4629
is anyone working on this yet?

[2020-12-07 16:35] andreabolognani commented on #4629
@davidvossel I'm going to send a PR in a few minutes.

[2020-12-07 17:21] davidvossel commented on #4629
@andreabolognani thanks. I can handle the kubevirt/kubevirt part of consuming the new libvirt. I have a functional test to include in order to validate this moving forward.

[2020-12-07 17:34] jseguillon commented on #4564
Looking again this is good but only small problem is that it requires one cloud-init per VMs.

If I set static ip via Ipam, I can share same cloud-init for multiple VMs plus I can set ip for each.

So maybe a feature for injecting static in multus is still relevant (?)

[2020-12-07 19:02] #4624 closed

[2020-12-07 20:38] davidvossel commented on #4629
@maiqueb @AlonaKaplan After addressing the qemu binary name change, we're now hitting an error related to tap devices and setting mtu which occurs when migrating a VMI from v0.35.0 to v0.36.0-rc.0

Here's the error

`  Warning  Migrated          107s                  virt-handler, node02        VirtualMachineInstance migration uid eb139e2b-4b75-4409-93cd-383f21263be4 failed. reason:Live migration

[2020-12-07 20:39] davidvossel commented on #4629
from what I'm gathering, this new error is likely caused by #4506, the removal of net_admin

[2020-12-08 00:18] hougangliu commented on #4614
@rmohr thanks, I think liveness and readiness probes is what I want

[2020-12-08 00:18] #4614 closed

[2020-12-08 00:23] hougangliu commented on #4613
its storage driver is `devicemapper`
[code]

[2020-12-08 08:18] maya-r commented on #4543
Appeared again. Offending runs: [1](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4611/pull-kubevirt-e2e-k8s-1.17/1335594698722512897), [2](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4546/pull-kubevirt-e2e-k8s-1.17/1336024029668052992)

[2020-12-08 08:54] maya-r commented on #3700
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4611/pull-kubevirt-e2e-k8s-1.17/1335979484142112769

[2020-12-08 09:44] maya-r opened #4635 "[flaky CI][sig-storage] Hotplug [Serial] rook-ceph VMI only should mark VMI not migrateable, if a volume is attached"
/kind bug
/triage build-watcher

The following run had an unexpected failure in the test: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4546/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1336024029689024512

This indicates that the test is flaky.

[2020-12-08 10:48] maya-r commented on #4635
cc @awels
quick links for interesting points:
[unable to execute QEMU command 'blockdev-add': Could not open '/var/run/kubevirt/hotplug-disks/testvolume': Operation not permitted')](http://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4546/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1336024029689024512/artifacts/k8s-reporter/1_events.log)
[patching of vmi conditions and activePods f

[2020-12-08 11:55] scuzhanglei commented on #2942
enable `allow_ip_forwarding` in calico means kubevirt depend on specific CNI. this is not a universal  solution. we can enable net.ipv4.ip_forward in launcher pod, it does works.  but this require launcher pod set `privileged=true`, otherwise would suffer `Read-only file system` error.  any other advice?

[2020-12-08 12:18] scuzhanglei commented on #2942
According to #3112, virt-handler would add net.ipv4.ip_forward=1 too? but I don't find any related PR. thanks

[2020-12-08 12:44] awels commented on #4635
If you look in the virt-handler logs and virt-launcher pod logs you will see it retry many times. But for some reason it cannot read the block device. Its saying permission denied, but that could be because of many different reasons. Unfortunately we don't capture the permissions.

[2020-12-08 14:18] #4621 closed

[2020-12-08 15:18] davidvossel commented on #4629
I did some more investigation into the MTU issue. It does not appear that we can remove the MTU from the network interface once the domain is running.

[code]

other options we have are to re-introduce the net_admin capability just for the migration pod when mtu exists on the domain or maybe if we set the mtu size from virt-handler in the target pod before the migration occurs libvirt will not com

[2020-12-08 15:32] vladikr commented on #4629
I thought about this as well (adding net_admin just for the migration) but I'm not sure how will we remove this temporary code in the future?

Maybe we need to add the net_admin according to the virt-launcher version - if we are migrating to 0.36 from a lower version?

[2020-12-08 15:36] berrange commented on #4629
The MTU information is passed through to the guest device, so it is part of the guest ABI and thus must unfortunately be preserved as-is during migration.

[2020-12-08 15:38] vladikr commented on #4629
@berrange I just thought maybe we could modify the source XML, remove the MTU and provide a new `DestXML` is `DomainMigrateParameters`.
As weird as it is, will something like that work?

[2020-12-08 15:43] berrange commented on #4629
Libvirt validates that DestXML does not result in an ABI change, and the MTU field is part of the ABI, so you can't change it.

[2020-12-08 15:44] berrange commented on #4629
This is an annoying design limitation in libvirt as the same MTU field touchs both host side TAP device MTU, and reports guest side MTU. Possibly we should find a way to separate that so we can set guest MTU without touching host side

[2020-12-08 17:18] davidvossel commented on #4629
okay, for the mtu issue, i returned the NET_ADMIN cap in a PoC patch.  Now we have yet another issue preventing migration. Our machine type changed on the domains between v0.35.0 and v0.36.0-rc.0

[code]

This results in the following migration error

[code]

[2020-12-08 17:21] berrange commented on #4629
Hmm, that's bad.  DId the image change from using RHEL QEMU to Fedora QEMU ? Fedora QEMU uses upstream machine types, while RHEL QEMU uses completely custom machine types. As a result there's zero ability to live migrate between RHEL and Fedora QEMU builds. You have to pick one distro and stick with it.

[2020-12-08 18:42] davidvossel commented on #4629
appears so. I'm investigating the reasoning here. It's possible we might be in a position where we have to make the decision to knowingly break live migrations between two releases. Once of the reasons to move to the fedora qemu was to increase upstream velocity for new features/fixes.

I'll bring this issue up on the mailing list and we'll have to make a decision as a community how to move forwar

[2020-12-08 18:42] vladikr commented on #4629
Daniel, yes.
So far the kubevirt/libvirt image was based on a RHEL-AV version rebuilt for Fedora - for example [1]
@crobinso and @andreabolognani were helping us with this.

At some point, it was decided to move away from these manual builds and use upstream versions of QEMU and libvirt.
@crobinso is working on setting up a CI job that would test kubevirt on newer releases of libvirt + QEMU
So, mo

[2020-12-08 18:44] davidvossel commented on #4629
we're still on the path to KubeVirt v1, so hopefully we have some leeway here to introduce a change like this... we just have to be certain we're making the right decision for long term.

[2020-12-08 20:13] AlonaKaplan commented on #4629
@berrange for unmanaged tap device I would expect libvirt to just pass the mtu to the guest and not touching the host.

[2020-12-09 04:08] rony36 opened #4640 "volumeClaimTemplates for VirtualMachineInstanceReplicaSet"
/kind enhancement

**What happened**:
VirtualMachineInstanceReplicaSet need volumeClaimTemplates

**What you expected to happen**:
Currently Kubevirt supports ephemeral, containerDisk and emptyDisk for vmirs.
These volumes use local node storage.
If applicaton need large cache space, it force unnecessary inflation of node storage for workers.

I excpect VirtualMachineInstanceReplicaSet will suppor

[2020-12-09 08:45] EdDev opened #4642 "SRIOV [test_id:3956]/[test_id:3957] are flaky, ping is failing between two SRIOV vnic/s"
/kind bug

**What happened**:
e2e Multus/SRIOV tests are flaky.
Ping is rarely failing when checking connectivity between the two SRIOV vnic/s.

**What you expected to happen**:
Test to always pass.

**How to reproduce it (as minimally and precisely as possible)**:
Attempt to run it multiple times on CI.

**Anything else we need to know?**:
Previous flakiness was ref [here](https://github.com/kube

[2020-12-09 10:48] andreabolognani commented on #4629
Yeah, we unfortunately failed to consider the machine type mismatch when switching to Fedora packages, and I guess the functional tests don't cover that scenario :(

Reverting back to rebuilt RHEL contents is not desirable IMHO, especially considering that we're working towards an even tighter integration loop where KubeVirt can validate QEMU and libvirt changes potentially as soon as they hit the

[2020-12-09 13:22] ormergi commented on #4150
/remove-lifecycle stale

[2020-12-09 13:59] maiqueb commented on #4629
I hate to re-introduce it, but, afaiu, the NET_ADMIN issue will hurt us pretty bad on Openshift - something which we want to prevent. Anyway, let's have that particular discussion on #4645.

[2020-12-09 14:33] #3808 closed

[2020-12-09 16:25] soodpr commented on #4607
Not sure what was the exact issue but reinstalled the k3s 1.19.3k3s and kubevirt 0.34.2 version is working fine.

[2020-12-09 16:25] #4607 closed

[2020-12-09 16:49] andreabolognani commented on #4629
@crobinso we discussed this during [today's KubeVirt community call](https://docs.google.com/document/d/1kyhpWlEPzZtQJSjJlAqhPcn3t0Mt_o0amhpuNPGs1Ls/edit#heading=h.efxlcfhjjobw) and the conclusion was that using Fedora contents is not yet a foregone conclusion, with CentOS Stream looking like an alternative that might be a better fit.

The problem, however, is that evaluating all options and make

[2020-12-09 16:53] crobinso commented on #4629
@andreabolognani Thanks for the summary. I'll get it done by the end of the day unless there's some unexpected hiccup

[2020-12-09 18:19] vladikr commented on #4629
@crobinso do you think it will be possible to include https://bugzilla.redhat.com/show_bug.cgi?id=1896133 ?
Otherwise, we will break our virtiofs support.

[2020-12-09 20:07] crobinso commented on #4629
@vladikr got it, I added that patch to the build. All builds are done now, just need to land @andreabolognani's PR: https://github.com/kubevirt/libvirt/pull/71

[2020-12-09 21:28] andreabolognani commented on #4629
PR has been merged now, @davidvossel are you going to update the workspace so that it points to the new image as part of an upcoming PR or should I open a PR for that instead?

[2020-12-09 21:45] davidvossel commented on #4629
@andreabolognani  i'm on it now. no worries, and thanks for the quick turn around on this.  As of writing this, the[ travis job](https://travis-ci.org/github/kubevirt/libvirt/builds/748636637) hasn't completed for the official container build, so if it doesn't finish soon i'll likely throw your local test build in just to get some early CI results

[2020-12-09 22:57] mhenriks opened #4649 "[Flaky CI] [Serial]Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With a HostDisk defined With unknown hostDisk type [test_id:852]Should fail to start VMI"
/kind bug
/triage build-watcher

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4633/pull-kubevirt-e2e-k8s-1.17/1336364146404364288

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kub

[2020-12-09 23:00] mhenriks opened #4650 "[Flaky CI] [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance [Serial]when virt-handler is responsive [test_id:1633]should indicate that a node is ready for vmis"
/kind bug
/triage build-watcher

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4633/pull-kubevirt-e2e-k8s-1.19/1336197549484150784

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kub

[2020-12-10 08:31] KostadinKrushkov opened #4651 "VM created with dataVolume doesn't start, stuck in Pending"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I uploaded an image with the command
./virtctl image-upload dv ubuntu--disk --size=2Gi --image-path=/root/kubevirt/vms/ubuntu-20.10-live-server-amd64.iso
The dataVolume pod got create and is in ready state:
NAME                          READY   STATUS    RESTARTS   AGE
cdi-upload-ubuntu--disk       1/1     Running   0

[2020-12-10 11:03] tomob commented on #3828
Another: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4617/pull-kubevirt-e2e-kind-1.17-sriov/1336806311739789312

[2020-12-10 12:17] tomob commented on #4544
Another one?

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4617/pull-kubevirt-e2e-k8s-1.19/1336757737995898880

[2020-12-10 12:39] rmohr commented on #4603
@lixiaobing1 did you build your own base-image? It seems like you have no `qemu` user inside the container, which can pretty much only then happen. What version do you use?

[2020-12-10 12:40] rmohr commented on #4615
That would indeed be nice. Thanks for reporting.

[2020-12-10 12:48] #4169 closed

[2020-12-10 12:48] #4171 closed

[2020-12-10 12:48] #4170 closed

[2020-12-10 12:48] #4172 closed

[2020-12-10 12:48] #3701 closed

[2020-12-10 12:48] #4173 closed

[2020-12-10 12:48] #4204 closed

[2020-12-10 12:48] #4205 closed

[2020-12-10 12:48] #4206 closed

[2020-12-10 12:48] #4208 closed

[2020-12-10 13:49] #4178 closed

[2020-12-10 13:49] #4219 closed

[2020-12-10 13:49] #3704 closed

[2020-12-10 13:49] #4242 closed

[2020-12-10 13:49] #4243 closed

[2020-12-10 13:49] #4245 closed

[2020-12-10 13:49] #4256 closed

[2020-12-10 13:49] #4090 closed

[2020-12-10 14:49] #4258 closed

[2020-12-10 14:49] #4257 closed

[2020-12-10 14:49] #4238 closed

[2020-12-10 14:49] #4313 closed

[2020-12-10 14:49] #2480 closed

[2020-12-10 14:49] #3702 closed

[2020-12-10 14:52] oshoval commented on #4103
Time is the best flake solver

[2020-12-10 15:51] #3872 closed

[2020-12-10 15:51] #4406 closed

[2020-12-10 15:51] #4347 closed

[2020-12-10 16:13] rmohr commented on #4613
Ok, seems like devicemapper and btrfs are not working right now. It would be very helpful if you could share the mount table after starting the VMI before it times out.

[2020-12-10 16:52] #4244 closed

[2020-12-10 16:52] #4336 closed

[2020-12-10 16:52] #4454 closed

[2020-12-10 16:52] #4457 closed

[2020-12-10 16:52] #4241 closed

[2020-12-10 16:52] #4255 closed

[2020-12-10 16:52] #4310 closed

[2020-12-10 16:52] #4455 closed

[2020-12-10 16:52] #4430 closed

[2020-12-10 17:04] EdDev commented on #4642
This may be a duplicate of https://github.com/kubevirt/kubevirt/issues/3828.

[2020-12-10 17:53] #4325 closed

[2020-12-10 17:53] #4324 closed

[2020-12-10 17:53] #4312 closed

[2020-12-10 17:53] #4191 closed

[2020-12-10 17:53] #4114 closed

[2020-12-10 17:53] #3811 closed

[2020-12-10 17:53] #4091 closed

[2020-12-10 18:54] #3770 closed

[2020-12-10 18:54] #4520 closed

[2020-12-10 18:54] #3810 closed

[2020-12-10 18:54] #3754 closed

[2020-12-10 18:54] #4524 closed

[2020-12-10 19:55] #4199 closed

[2020-12-10 19:55] #4538 closed

[2020-12-10 19:55] #4539 closed

[2020-12-10 20:56] #3829 closed

[2020-12-10 20:56] #3757 closed

[2020-12-10 20:56] #3772 closed

[2020-12-10 20:56] #4346 closed

[2020-12-10 20:56] #4018 closed

[2020-12-10 20:56] #3673 closed

[2020-12-10 21:57] #4521 closed

[2020-12-10 21:57] #4540 closed

[2020-12-10 22:58] #3874 closed

[2020-12-10 22:58] #3892 closed

[2020-12-10 22:58] #3809 closed

[2020-12-10 22:58] #3895 closed

[2020-12-10 22:58] #3721 closed

[2020-12-10 22:58] #3900 closed

[2020-12-10 22:58] #3891 closed

[2020-12-10 22:58] #3707 closed

[2020-12-10 23:30] salanki opened #4658 "VM with Block type DataVolume / PVC is broken in master"
/kind bug

**What happened**:

It seems to be looking for a non existent disk image in a mount point that doesn't exist since it is mapped to a device.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]
**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`): master @ dbb25d27ddd685c8daf5fac8e73d85825a160a43
- Kubernetes vers

[2020-12-11 00:45] salanki commented on #4658
This issue is a lie. Please ignore.

[2020-12-11 00:45] #4658 closed

[2020-12-11 01:08] awels commented on #4658
Can you let us know what happened? We have functional tests in place to ensure it doesn't break, but it is definitely possible since I did make some changes in the logic that determines where to look for volume (devices/disks).

[2020-12-11 08:44] rmohr commented on #4640
That makes total sense. Do you think you could create a PR?

[2020-12-12 17:48] #3780 closed

[2020-12-13 15:09] #3835 closed

[2020-12-13 15:09] #2984 closed

[2020-12-13 15:44] EdDev opened #4665 "[Flaky CI] Windows VirtualMachineInstance [ref_id:139]with winrm connection [test_id:240]should have correct UUID"
/kind bug
/triage build-watcher

**What happened**:

Test failed executing `winrm-cli` command.
[code]

stdout:
[code]

**What you expected to happen**:

The test should have passed.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Happened only once.

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kube

[2020-12-14 11:56] rthallisey commented on #2076
/reopen

[2020-12-14 14:47] vasiliy-ul commented on #4613
Apparently I hit the same issue. AFAIK when `devicemapper` is used the filesystem images of running containtainers are unpacked to `/var/lib/docker/devicemapper/mnt/<ID>/rootfs`. Looks like **rootfs** part is missing in the path where kubevirt is trying to find the disk. I managed to make it work with a workaround by adding `path: /rootfs/disk/downloaded` to the spec (tried with `examples/vmi-ephe

[2020-12-14 14:54] rmohr commented on #4613
That would be great. I would just want to add, that we can probably somewhere from the mount tables read that `/rootfs` should have been appended. If there is a way to just read the mount table properly and construct the way in a unifomr way that would be best.

[2020-12-14 15:29] omeryahud commented on #3134
/open
/assign @kwiesmueller

[2020-12-14 15:30] omeryahud commented on #3134
/reopen

[2020-12-14 16:03] davidvossel commented on #4629
this should be resolved now. We reverted the libvirt/qemu changes and restored the network mtu compatibility. There's now a functional test to ensure we don't break this moving forward.

[2020-12-14 16:03] #4629 closed

[2020-12-14 16:12] maiqueb commented on #4629
@davidvossel could you point me to the test ? Thanks in advance.

[2020-12-14 20:30] vasiliy-ul commented on #4613
I think I've found a better way. Not sure I fully understood the combinations of those mount info structures but after some debugging it seems that I found how to build the proper path. Now it should work and it looks better than checking several directories.

[2020-12-14 22:19] davidvossel commented on #4629
@maiqueb  https://github.com/kubevirt/kubevirt/blob/4b99e8300af66d8488fb6898e26a98af6feb0b72/tests/operator_test.go#L1187

that test updates from latest official kubevirt release to master+PR changes and verifies VMIs are migratable after updating.

[2020-12-15 02:56] zhlhahaha commented on #3558
/reopen

[2020-12-15 03:34] gouyang opened #4673 "vmi does not support field-selector status.phase"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
$ oc get vmi --field-selector status.phase=Running
Error from server (BadRequest): Unable to find "kubevirt.io/v1, Resource=virtualmachineinstances" that match label selector "", field selector "status.phase=Running": field label not supported: status.phase

$ oc get pod --field-selector status.phase=Running
NAME

[2020-12-15 03:41] #3495 closed

[2020-12-15 08:10] maiqueb commented on #4629
Thanks ! :)

[2020-12-15 13:52] EdDev commented on #4642
Seen 3 times today on IPv4:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3479/pull-kubevirt-e2e-kind-1.17-sriov/1338800828001030145
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4654/pull-kubevirt-e2e-kind-1.17-sriov/1338781622626947073
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4668/pul

[2020-12-15 17:32] #4613 closed

[2020-12-15 19:54] #3928 closed

[2020-12-16 09:35] zxb789 opened #4677 "host a sub community for translate kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

hi everyone:
      my company has use kubevirt in development or production for some time。i create this issue regarding host a chinese kubeviert community for translate kubevirt or post some use cases in production or organize some meetup
    i love to hear about any additional suggesting or join us,  Please reply or comment on the issue.
   thanks

[2020-12-16 09:36] zxb789 commented on #4677
kind/proposal

[2020-12-16 10:24] ArthurMelin opened #4678 "No response to ARP request for 169.254.75.10 (k6t-eth0) inside VM"
/kind bug

**What happened**:
In a Windows guest, changing the DNS config to manual makes the network connectivity fail.
The guest loses the gateway address.
Wireshark shows that Windows attempts to contact the DHCP server on 169.254.75.10, but fails when trying to resolve the MAC address (no ARP response).
Here is a screenshot of ipconfig after the DNS config change:
![image](https://user-images.

[2020-12-16 11:31] maiqueb opened #4679 "`vmi-with-sidecar-hook` example does not work out of the box."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When provisioning the `vmi-with-sidecar-hook` example, the VMI gets stuck in `Scheduled` state, and the virt-launcher pod holding it goes to `Error` state:

[code]

**What you expected to happen**:
VMI to start successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. start kubevirt (make cluster

[2020-12-16 11:33] maiqueb commented on #4679
/sig network

[2020-12-16 11:33] maiqueb commented on #4679
/sig network cancel

[2020-12-16 11:36] maiqueb commented on #4679
/remove-sig network

[2020-12-16 14:49] kwiesmueller commented on #3134
@jiridanek I just wanted to update you on this.
There is a PR in the works to fix this: https://github.com/kubevirt/kubevirt/pull/4669
If you need a temporary workaround until then, you should be able to inject the nodeSelector into your `kubevirt` resource.
Like this:
[code]

[2020-12-16 18:49] vasiliy-ul commented on #4590
Since recently I've looked at the code related to containerDisk, I can share my findings here. Probably it might be usefull. Unfortunately I dont have a ready test setup with btrfs to check it. In current implementation the full path to the disk file is built by parsing `/proc/<pid>/mountinfo` and extracting different mount points info from there:

[code]

From my observation there are potentially

[2020-12-16 20:03] awels commented on #4635
This appears to be a race condition in adding the block device to the devices.list of the container. In certain conditions something else writes to the file and deletes the allowed block device, which results in the mentioned error. So far have not been able to identify what is overwriting the file

[2020-12-17 07:36] MarkSpencerTan commented on #3743
@rmohr, thank you for the response by the way. With that we were able to run an updated qemu on our kubevirt version that supports NVME.

After that we tried creating a sidecar that would add the extra qemu args to re-add the drives that we wanted to have NVME like below:

[code]

We ended up having to remove the drives/devices that we added in there from the domain spec, however I believe that im

[2020-12-17 10:46] maiqueb commented on #4678
/sig network

[2020-12-17 11:00] winkee01 opened #4684 "Operation cannot be fulfilled on virtualmachines.kubevirt.io "testvm""
/kind bug

**What happened**:
Failed to start a VM, the running status remains `Scheduling`.

**What you expected to happen**:
`kubectl get vmi` will display the status of the VM to be running.

**How to reproduce it (as minimally and precisely as possible)**:
Follow the official site's instructions.

[code]

[code]

**Anything else we need to know?**:

**Environment**:
- Minikube: v1.16.0-beta.0

[2020-12-17 11:06] maiqueb commented on #4428
Fixed in https://github.com/kubevirt/kubevirt/commit/2c4b3094c32481958cfdb4a9adeed1082091cfd6

[2020-12-17 11:06] #4428 closed

[2020-12-17 21:48] sseetharaman6 commented on #3886
Hi,
@rmohr - I believe I am seeing a similar issue. I have been using kubevirt v0.24.0 for a while and when trying to upgrade to v0.35.0, I noticed that there is a huge delay from the time VM is scheduled to the time VM is Running.
The main bottleneck seems to be after connecting to libvirt daemon, there are failures to notify domain sock and eventually the libvirt connection is lost, a new libvir

[2020-12-18 00:06] sseetharaman6 opened #4687 "Hyperthreads are pinned incorrectly"
**What happened**:
When trying to create a VMI with dedicatedCpuPlacement and hyperthreading, I noticed that the hyperthreads are pinned incorrectly.

VMI spec :
[code]
In the compute container in the virt-launcher pod, this is the domain xml:
[code]
The VM has this topology:
[code]

The node on which the VM is Running has this topology:
[code]

**What you expected to happen**:
The <cputune> eleme

[2020-12-18 00:12] sseetharaman6 commented on #4687
tagging @vladikr who was the author of PR https://github.com/kubevirt/kubevirt/pull/1381

[2020-12-18 09:53] rmohr commented on #3886
@sseetharaman6 a separate issue would probably make sense. It really looks unrelated. Do I understand this right, that you are using a prestart hook? We changed some readiness logic here: https://github.com/kubevirt/kubevirt/pull/3946 maybe this has unwanted side effects to sidcar hooks.

[2020-12-18 11:20] dhiller commented on #4650
Same here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4504/pull-kubevirt-e2e-k8s-1.18/1338804299420930048

[2020-12-18 11:34] dhiller opened #4689 "[flaky ci] [rfe_id:253][crit:medium][vendor:cnv-qe@redhat.com][level:component]Expose Expose UDP service on a VMI Expose NodePort UDP service [label:masquerade_binding_connectivity]Should expose a NodePort service on a VMI and connect to it over IPv6 IP family"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test `[rfe_id:253][crit:medium][vendor:cnv-qe@redhat.com][level:component]Expose Expose UDP service on a VMI Expose NodePort UDP service [label:masquerade_binding_connectivity]Should expose a NodePort service on a VMI and connect to it over IPv6 IP family` flaked in PR https://github.com/kubevirt/k

[2020-12-18 11:38] dhiller opened #4690 "[flaky ci] temporary cluster failure on lane pull-kubevirt-e2e-k8s-1.19"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Temporary cluster failure on lane pull-kubevirt-e2e-k8s-1.19 lead to lots of timeouts.

Run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4668/pull-kubevirt-e2e-k8s-1.19/1338470083084685312

**What you expected to happen**:

**How to reproduce it (as minimally a

[2020-12-18 11:46] dhiller opened #4691 "[flaky ci] temporary cluster failure on pull-kubevirt-e2e-k8s-1.17 (can't connect to websocket 500)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Lots of test failures due to a temporary cluster issue, in general topic was `Can't connect to websocket (500): websocket: bad handshake`

Test runs:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4644/pull-kubevirt-e2e-k8s-1.17/1337263578624823296
* https://pro

[2020-12-18 11:54] dhiller opened #4692 "[flaky ci] temporary cluster failure on pull-kubevirt-e2e-k8s-cnao-1.19 (Both KVM devices and vhost-net devices are required for testing, but are not present on cluster nodes)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Lots of test failures due to a temporary cluster issue, in general topic was `Both KVM devices and vhost-net devices are required for testing, but are not present on cluster nodes`

Test run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4657/pull-kubevirt-e2e-k8

[2020-12-18 12:56] vielmetti commented on #3558
Looking forward to hearing progress on this, as https://github.com/rancher/harvester/issues/371 (Harvester., a new hyperconverged infrastrucure from Rancher) depends on this working.

[2020-12-18 12:59] rmohr commented on #3558
@vielmetti our main issue right now for supporting this is actually having ARM64 machines for building and CI. If rancher depends on it, maybe you can start a thread on the kubevirt-dev mailing list and see what we can do  about this?

[2020-12-18 13:56] dhiller commented on #4650
And here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4639/pull-kubevirt-e2e-k8s-1.19/1339281077033766912

[2020-12-18 14:01] dhiller opened #4694 "[flaky ci] temporary cluster failure on pull-kubevirt-e2e-k8s-1.17 (Can't connect to websocket (504): websocket: bad handshake)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

There was a temporary cluster failure during the run https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4639/pull-kubevirt-e2e-k8s-1.17/1339281077042155521

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2020-12-18 14:25] awels commented on #4635
/lifecycle frozen

[2020-12-18 17:31] sseetharaman6 opened #4696 "Delay in the time taken for the VMI to go to Running state with v0.35.0"
**What happened**:
I have been using kubevirt v0.24.0 for a while and when trying to upgrade to v0.35.0, I noticed that there is a huge delay from the time VMI is scheduled to the time VMI is Running and it looks like a possible regression. This is reproducible for a VMIs using sidecars and  with VMIs using just container disk as well.

The main bottleneck seems to be after connecting to libvirt d

[2020-12-18 20:33] vielmetti commented on #3558
Thanks @rmohr - I put something on the community meeting agenda for Wednesday - I hope to have a brief writeup of the current situation to share before then.

[2020-12-19 13:17] #3965 closed

[2020-12-19 13:17] #4118 closed

[2020-12-19 13:25] #3865 closed

[2020-12-19 16:20] #4121 closed

[2020-12-19 17:21] #4122 closed

[2020-12-20 08:36] #4126 closed

[2020-12-20 11:39] #4125 closed

[2020-12-20 12:14] #4679 closed

[2020-12-20 15:48] RamLavi opened #4698 "[Flaky CI] [test_id:3150]should be able to update kubevirt install with custom image tag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
The test failed on [prow](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4680/pull-kubevirt-e2e-k8s-1.18/1340474693714448384) on lane `pull-kubevirt-e2e-k8s-1.18`:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possib

[2020-12-20 15:51] RamLavi opened #4699 "[Flaky CI] Creating a VirtualMachineInstance with user-data without k8s secret [test_id:1629][posneg:negative]should not be able to start virt-launcher pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
The test failed on [prow](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4680/pull-kubevirt-e2e-k8s-1.18/1340427636597329921) on lane `pull-kubevirt-e2e-k8s-1.18`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2020-12-20 15:52] RamLavi opened #4700 "[Flaky CI] Creating a VirtualMachineInstance with user-data without k8s secret [test_id:1629][posneg:negative]should not be able to start virt-launcher pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
The test failed on [prow](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4680/pull-kubevirt-e2e-k8s-1.18/1340427636597329921) on lane `pull-kubevirt-e2e-k8s-1.18`:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possib

[2020-12-20 16:00] RamLavi opened #4701 "[Flaky CI] Creating a VirtualMachineInstance with user-data without k8s secret [test_id:1630]should log warning and proceed once the secret is there"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
The test failed on [prow](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4680/pull-kubevirt-e2e-k8s-1.18/1340427636597329921) on lane pull-kubevirt-e2e-k8s-1.18:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible

[2020-12-20 16:01] RamLavi commented on #4699
duplicate

[2020-12-20 16:01] #4699 closed

[2020-12-21 03:04] zhlhahaha commented on #3558
Hi @vielmetti @rmohr, here is a summary of current status for kubevirt on arm64.
1. The main PR https://github.com/kubevirt/kubevirt/pull/3415 has updated last week and works fine on ARM64 platform.
2. Prow image builder task need to be rebased. Here are two main task for it. I will fix them this week.
- - https://github.com/kubevirt/project-infra/pull/587
- - https://github.com/kubevirt/project-i

[2020-12-21 07:51] rmohr commented on #4696
/bug

Will have a look. Did you also try starting once a VMI without hooks, just to see if it works usually fast?

[2020-12-21 09:23] phoracek commented on #4033
Fixed by #4653

[2020-12-21 09:23] #4033 closed

[2020-12-21 11:01] #3717 closed

[2020-12-21 17:03] phoracek commented on #4649
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4676/pull-kubevirt-e2e-k8s-1.19/1340668726608924672

[2020-12-21 17:05] phoracek commented on #4543
Failed again, but this time with a different error:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4676/pull-kubevirt-e2e-k8s-1.18/1340668726604730373

[code]

[2020-12-21 22:15] davidvossel commented on #4696
just so we're working from the same baseline here, would you see if this simple vmi has the same startup timing issues for you?

[code]

[2020-12-21 22:40] davidvossel commented on #4687
Within the virt-launcher pod's compute container , can you post what the contents of this file ```/sys/fs/cgroup/cpuset/cpuset.cpus``` looks like?

something like this woudl probably do it ```pod exec -it -c compute <pod name> -- /usr/bin/cat /sys/fs/cgroup/cpuset/cpuset.cpus```

[2020-12-21 22:59] aodinokov commented on #4303
Got the same with Ubuntu 18.04:
[code]
can see this in dmesg:
[code]

the following on the host machines helped to workaround
Added `/usr/libexec/qemu-kvm PUx,` into /etc/apparmor.d/usr.sbin.libvirtd & and reloaded apparmor profiles: `sudo systemctl reload apparmor.service`

[2020-12-22 05:51] gouyang opened #4707 "Virtctl image-upload --block-volume is a bit confusing"
/kind bug
/kind enhancement

**What happened**:
$ virtctl image-upload -h
      --access-mode string       The access mode for the PVC. (default "ReadWriteOnce")
      --block-volume             Create a PVC with VolumeMode=Block (default Filesystem).

The problems it comes along:
1. the flag name '--block-volume‘ is not proper for PVC volumeMode.
2. the flag is a boolean, and the statement "Creat

[2020-12-22 08:56] alonSadan commented on #4509
/reopen

[2020-12-22 09:23] #3700 closed

[2020-12-22 14:28] #3963 closed

[2020-12-22 16:31] #3968 closed

[2020-12-23 07:21] gouyang commented on #4280
Workaround when VMI is in 'Failed‘ and cannot be deleted.

$ kubectl edit vmi test-vmi1, remove
[code]

[2020-12-23 09:49] #3824 closed

[2020-12-23 21:16] davidvossel commented on #4673
I believe we're still waiting on Kubernetes to provide field selector support for CRDs https://github.com/kubernetes/kubernetes/issues/53459

Without that support, I'm not sure how we can do what you're requesting here.

[2020-12-23 21:19] davidvossel commented on #4640
Would it make sense to copy the DataVolumeTemplates section here? That way there's a workflow for both adding scratch PVC volumes to a VM as well as adding PVCs per VMI with disks populated on them

[2020-12-24 00:20] haslersn opened #4711 "Feature request: Live-update of VMI labels & annotations"
/kind enhancement

Since #2627 got merged, annotations get carried from VMs to the VMI and to the launcher Pod. The same is true for labels. But it would be nice to live-update the VMI's labels & annotations.

**What happened**:

I wanted to start backing up one of my VMs' volumes using Velero's Restic integration. This requires adding an annotation to the launcher Pod. I added the required annota

[2020-12-24 01:32] gouyang commented on #4677
I just have this same idea in the morning and surprised to find this issue here. I would love to help.
In my opinion, the main issue for users in China is Time Zone issue and the communication in English.

My suggestions:
1. Let's have a China community meeting, people can talk in Chinese. And get it translated and post into kubevirt-dev after the meeting.
2. Transmit the main community meeting mi

[2020-12-24 03:29] zxb789 commented on #4677
yes,  your idea is great , can you share youre slack id ？we can chat with it