[2022-07-12 08:45] Huimintai opened #8080 "VM/Pod can not be rescheduling when kubelet service down"
**What happened**:
On my cluster with kubevirt creating vms and pods.When the kubelet service down on one node,the pod and vm can not be rescheduling to other nodes.
The pod is in terminating status.The VM is False.

[code]
[code]
Even I delete the terminating  pod use --force the pod also can not reschedule:
[code]

**What you expected to happen**:
A clear and concise description of what you expe

[2022-07-12 11:47] xpivarc commented on #7279
Hi @D1abloRUS
I will try to look into it closely. Let me recap to be sure I understand. The first problem was that our overhead calculation seems to be wrong when multiple gpus are requested? Why does it not start with 480gb, is it the same issue, and do you have a plain qemu reference?

[2022-07-12 14:17] guangbochen commented on #6551
/reopen since this issue still exists.

[2022-07-12 14:27] xpivarc commented on #6551
/reopen
Does deleting the operator pod resolve this issue?

[2022-07-12 14:59] guangbochen commented on #6551
Yes, but we are more looking for a proper solution like a reconciliation check instead of just a manual workaround fix, thanks for the consideration.

[2022-07-12 15:23] TobiasSchaffner commented on #2296
@Apokleos do you have any details about how you resolved the issue? I am using crio with a proxy passed by a systemd via the environment.

/etc/systemd/system/crio.service.d/http-proxy.conf
[code]
I am able to setup the whole cluster, but when I finally try to start a vm I get exactly the same error.

I tried to debug the issue for some time now but have no clue what goes wrong.

[2022-07-12 16:12] w13915984028 commented on #6551
FYI: the workaround in Harvester to recover this issue:

check the virt-operator pod
[code]

delete the virt-operator pod, and wait a while
[code]

verify the newly replaced virt-operator pod log to confirm prometheusrule is defined
[code]
The log shows, `virt-operator` assumes `prometheusrule is defined`. It's OK now.

[2022-07-13 02:59] vladikr commented on #7279
Hi, I somehow missed this issue. very sorry for my late reply.
In general, qemu/libvirt and consequently KubeVirt adds a 1GB "fudge factor" to the memory overheads and lock it.
Unfortunately,  a manual adjustment to this overhead calculation is necessary when multiple
vfio devices are present,  This is also dependent on the assigned device itself; we've seen some devices consume more qemu memory t

[2022-07-13 03:07] vladikr commented on #7279
btw @D1abloRUS, when you're allocating >480gb - are you running a single VMI per node?
Are you allocating RAM or are these hugepages?

[2022-07-13 03:37] crazytaxii opened #8088 "docs/direct-pv-disks.md should be removed"
**Description**:
The [disk schema](https://github.com/kubevirt/api/blob/v0.54.0/core/v1/schema.go#L543-L580) is totally different: `type` and `source` field are no longer existed. This document will miss lead others.

**What you expected**:
Remove docs/direct-pv-disks.md.

**URL**:
[docs/direct-pv-disks.md](https://github.com/kubevirt/kubevirt/blob/main/docs/direct-pv-disks.md)

[2022-07-13 07:04] xpivarc commented on #8088
Alternatively, we can reflect current reality there. Pinging author @fabiand

[2022-07-13 09:00] simonyangcj opened #8090 "Cpu and memory hot plugin feature for burstable and besteffort pod(vmi) may be?"
**Is your feature request related to a problem? Please describe**:
No

**Describe the solution you'd like**:
There are few step is need to be done in order to achieve this (please correct me if I was wrong)
1. virt-launcher has to be adjust to allow cpu and memory hot plugin by doing so we need ensure cpu tag of libvirt xml should be something like  **"\<vcpu placement='static' current='2'\>128\</

[2022-07-13 09:51] pcgeek86 commented on #3558
I'm having the same problem with the `a1.metal` virtual machine type on Amazon Web Services (AWS).

[code]

[2022-07-13 09:55] rmohr commented on #3558
@pcgeek86 can it be that you just used our release manifests? Arm is not part of our releases yet because it is not fully done (although close). You can install it like described here: https://kubevirt.io/user-guide/operations/installation/#experimental-arm64-developer-builds

[2022-07-13 10:12] pcgeek86 commented on #3558
Thank you @rmohr! I will take a look at these experimental builds! I didn't see this documentation before. Cheers

[2022-07-13 13:20] 0xFelix opened #8094 "virtctl: Native ssh client does not work on Windows 10"
**What happened**:

When trying to establish a ssh connection with the native ssh client in virtctl on Windows 10 the connection fails with the following error:

`The handle is invalid.`

**What you expected to happen**:

The ssh connection is established succesfully.

**How to reproduce it (as minimally and precisely as possible)**:

- `virtctl.exe ssh --local-ssh=false user@vm`

**Additional con

[2022-07-13 14:44] rthallisey commented on #6307
I have some policies we've been testing internally in production that I'll raise at this week's SIG-scale

[2022-07-14 12:48] Huimintai commented on #8080
Does this PR https://github.com/kubevirt/kubevirt/pull/6688/files can fix this problem?

[2022-07-14 13:43] rthallisey commented on #5878
SIG-Scale will continue to make improvements on tooling, but as far as work items, this enhancement is complete.

[2022-07-14 16:08] alaypatel07 opened #8100 "VMI spec.affinity missing validation checks"
**What happened**:
Create a VMI with invalid `spec.affinity` field values, the VMI is accepted by the server and stays in Pending state.

VMI spec:

[code]

**What you expected to happen**:
I expected server side validation to reject creation of vmi with invalid YAML. https://github.com/alaypatel07/kubernetes/blob/07d0b4a8bcbb0ebd942ed485376e3f08cdf3b43e/pkg/apis/core/types.go#L2568-L2569 The type

[2022-07-15 01:01] simonyangcj commented on #8090
I talked to fdeutsch in google conversation(https://groups.google.com/g/kubevirt-dev/c/tiYct_5ezhg), close it issue then :)

[2022-07-15 01:01] #8090 closed

[2022-07-15 06:46] rootdeep opened #8102 "report vm restart times"
Is there a way to count a vm restart times?

I want to use prometheus to monitor the event of vm frequently restart. But I don't find a available metric to do this.
I want some suggestion for this function.

[2022-07-15 09:09] rmohr opened #8104 "Investigate VMI behaviour around force-deleted pods where kubelet is down but virt-handler is up"
**Is your feature request related to a problem? Please describe**:

We got a report from Lis in https://groups.google.com/g/kubevirt-dev/c/jqYYHZU5Cwo/m/SLC8SncfBAAJ about the following unresponsive-node scenario:

 * kubelet is down
 * virt-handler is active and cann report the actual VMI state

 When the pods get force-deleted, the pods continue to  run, since only the kubelet is down. We know t

[2022-07-15 15:51] QcFe commented on #7750
Is there any update relatively to this? 😬

[2022-07-16 14:44] #7751 closed

[2022-07-17 12:18] sradco commented on #7720
@machadovilaca Hi, What is the status of this ?

[2022-07-17 12:18] sradco commented on #7720
/assign @akalenyu

[2022-07-18 06:05] xiaobo55x commented on #8066
@alicefr I have posted patch to enable the ioapic and pic feature support, please help have a review!

Regards,
Haibo

[2022-07-18 06:38] toelke commented on #6813
/remove-lifecycle rotten

We are running into this exact issue, in our cluster all nodes are tainted to control the placement of pods+vms between certain classes of host (available hardware resources, ...).

The `--dump-install-strategy`-job is thus not able to start at all:

[code]

After a cursory read of #6863 I think that that PR already contains the correct solution.

[2022-07-18 07:12] borod108 commented on #7487
Closed by:
https://github.com/kubevirt/kubevirt/pull/7474
And later improved by:
https://github.com/kubevirt/kubevirt/pull/7946

[2022-07-18 07:12] #7487 closed

[2022-07-18 08:38] rmohr commented on #7297
/remove-lifecycle stale

[2022-07-18 09:38] alicefr opened #8115 "SCSI persistent reservation and pr-helper daemon"
**Is your feature request related to a problem? Please describe**:
SCSI offers dedicated commands in order to reserve and control access to the LUNs. This can be used to prevent the data corruption if the disk is shared by multiple VMs (or more in general processes).
The SCSI persistent reservation is handled by the [qemu-pr-helper](https://qemu.readthedocs.io/en/latest/tools/qemu-pr-helper.html).

[2022-07-19 06:20] vasiliy-ul opened #8122 "Cgroup manager unit tests fail on a host with cgroup v2"
**What happened**:
The unit tests `pkg/virt-handler/cgroup/cgroup_test.go` fail on a host with cgroup **v2**. Current implementation does not mock the **real** cgroup code correctly, and it ends up in calling the functions from **runc**.

**What you expected to happen**:
The **unit tests** should **not** call **runc** code. Instead, proper mocking should be implemented. The tests should pass on an

[2022-07-19 06:23] vasiliy-ul commented on #8122
@iholder-redhat FYI

[2022-07-19 08:52] iholder-redhat commented on #8122
Thank you @vasiliy-ul for raising my attention. I would get into it as soon as I can.
/assign

[2022-07-19 09:04] dankenigsberg opened #8124 "virtctl completion"
**Is your feature request related to a problem? Please describe**:
`kubectl completion bash` create a script that, once sourced,  helps my shell complete `kubectl` commands. I'd like to have a similar experience with `virtctl`.

**Describe the solution you'd like**:
Let `virtctl completion bash` create a bash completion script, with all available options.

**Describe alternatives you've considered

[2022-07-19 14:46] alicefr commented on #8115
I'd like to add the package `sg3_utils` to our VM test image `fedora-with-test-tooling-container-disk` in order to be able to implement the functional tests to verify the persistent reservation. The test environment should look like to the steps described [here](https://gist.github.com/alicefr/c2e4221d7c8834a2b8746d510692d86c). The sg_persist should be run inside the guest

[2022-07-19 15:01] dankenigsberg opened #8128 "multi-vm virtctl"
**Is your feature request related to a problem? Please describe**:
I have a lot of VMs which I want to start. Scripting it is with a `for` slow and cumbersome.

**Describe the solution you'd like**:
I'd like to start/stop multiple VMs at once with
`virtctl stop vm1 vm2 vm3` or with `virtctl start -l app=myapp`.
Just like I can delete these VMs with `kubectl delete -l app=myapp`.

**Describe altern

[2022-07-20 01:46] zhhray commented on #7979
Thanks  very much for your reply.
This is an occasional problem that has cropped up again recently.
But when I went to adjust the log level, but it didn't work.
I use Kubevirt, which is deployed by the [hco operator](https://github.com/kubevirt/hyperconverged-cluster-operator).
Although the configuration appears to be successful, but the pod startup parameters remain unchanged.
The hco operator ve

[2022-07-20 04:07] zhhray commented on #7979
https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-operator/util/config.go#L484
The kubevirt operator code returns 2 by default.

[2022-07-20 08:37] rmohr commented on #7541
/remove-lifecycle stale

[2022-07-20 10:55] guleng opened #8131 "delete kubevirt"
I tried to clean kubevirt according to this document http://kubevirt.io/user-guide/operations/updating_and_deletion/#deleting-kubevirt, but failed to clean it up, and only created the virt operator service when deploying again, but failed to create other services.
![image](https://user-images.githubusercontent.com/40238640/179966125-ba12c749-933e-4c15-8453-e662eeaed53f.png)
Is there a way to clean

[2022-07-20 16:17] iholder-redhat commented on #8122
FYI, PR created: https://github.com/kubevirt/kubevirt/pull/8136

[2022-07-21 01:15] simonyangcj commented on #8131
hi, guleng. It seems like the validation webhook not been delete yet. Simply run command `kubectl delete validatingwebhookconfigurations virt-operator-validator` will solve you problem :)

[2022-07-21 02:35] guleng commented on #8131
@simonyangcj  Thank you very much. I have deleted it, but there is still a lot of information about kubevirt in kubectl describe node. How to clean it up? This makes it impossible to create (virt launcher, virt API, virt controller) when I redeploy kubevirt. Only virt operator.
![image](https://user-images.githubusercontent.com/40238640/180117655-5aadf57a-bf35-471f-a764-2e13449df082.png)

[2022-07-21 03:18] simonyangcj commented on #8100
i`m working on it

[2022-07-21 06:35] guleng opened #8138 "GPU card pass through"
I have replaced the GPU card driver with vfio PCI, and then I saw this GPU card in the virtual machine, but after installing the driver, I can't make exceptions.

Both host and virtual machine systems are Ubuntu 18.04-server
kubevirt version：v0.54.0

IOMMU is enabled：
![image](https://user-images.githubusercontent.com/40238640/180145238-5f96ce29-b621-4731-83fa-84e2265bd17e.png)

lspci -nnk -d 10de

[2022-07-21 09:01] lyarwood opened #8142 "Users able to delete instancetype when referenced by a VirtualMachine that hasn't started causing failures when an attempt is later made to start"
**What happened**:

At present during the admission of a `VirtualMachine` there is a basic check to ensure that any instancetype and/or preferences both exist and don't conflict with the `VirtualMachine` definition:

https://github.com/kubevirt/kubevirt/blob/74781324b726a6d58799be1257a34f61e6749513/pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go#L102-L105

Later when the `Virtua

[2022-07-21 11:10] xpivarc commented on #7779
Hi @willzhang ,
Can you share the pod yaml? This seems like an issue I have observed today and would like to check with you.  Thanks in advance!

Hi @viveksinghggits
is the message complete? Seems there is missing a port of it.

[2022-07-21 12:27] viveksinghggits commented on #7779
Hi @xpivarc,
The message was actually complete. And I was facing this issue because I was on a cluster where the nodes were already virtual machines and because of that we were getting into the nested virtualisation scenario.
When I create the cluster again with bare metal nodes, things worked for me.

[2022-07-21 12:28] vitalif commented on #952
Why is this closed?) This is a 100% MUST)

[2022-07-21 12:29] vitalif commented on #952
Please reopen :-)

[2022-07-21 13:35] lyarwood commented on #8142
I believe we need one or more finalizers here ensuring that referenced instancetypes and preferences are not removed before they are stashed in a controller revision [1].

FWIW the original versioning implementation stashed a `ControllerRevision` during `VirtualMachine` admission but I struggled to patch the reference to this back into the `{Instancetype,preference}Matcher` within the `VirtualMach

[2022-07-21 17:47] rmohr opened #8155 "[debugging] [supportability] Make log verbosity changes more natural"
**Is your feature request related to a problem? Please describe**:

KubeVirt offers pretty nice support for dynamic log verbosity changing. However if one does not do that very often it always means looking up the documentation and editing the KubeVirt CR. This is cumbersome.

**Describe the solution you'd like**:

Let's add a nice command for changing log verbosity:

[code]

**Describe alternativ

[2022-07-21 21:21] #7260 closed

[2022-07-22 02:25] simonyangcj commented on #8131
This is weird, normally virt-handler response for registry these device to kubelet over /var/lib/kubelet/device-plugins/kubelet.sock,I think you can try to restart the kubelet. Hope it help

[2022-07-22 09:19] alicefr commented on #8138
@guleng I'm far to be an expert in GPU (ping @vladikr)

However, just a couple of questions. You are providing logs of a device plugin. Is this an external plugin? If so, you need to set `externalResourceProvider: true` and this is commented from your pics. If you don't set the conig then you are relying on virt-handler device plugin. This could explain why the GPUs are appearing correctly on the

[2022-07-22 14:37] vladikr commented on #8138
The setup looks correct to me. KubeVirt native device plugin will not be enabled for this device if an `externalResourceProvider` is set to true. I don't think there is a collision between the device plugins. In the end, the device has been assigned to the guest just fine, but it's the Nvidia driver that is not happy.

I think the issue is that Nvidia might be blocking this driver from loading cor

[2022-07-22 18:25] #6788 closed

[2022-07-22 18:25] #6817 closed

[2022-07-22 18:25] #6782 closed

[2022-07-22 18:43] xpivarc commented on #7779
@viveksinghggits Glad to hear that.

[2022-07-22 18:52] tacerus commented on #7310
Passing the Ignition data in as a Cloud-Init script works? Does Ignition not expect a configuration drive with a `Ignition` volume label and a `/ignition/config.ign` file structure?

[2022-07-23 17:27] #7256 closed

[2022-07-24 04:27] #7244 closed

[2022-07-24 12:27] #6410 closed

[2022-07-24 12:27] #7276 closed

[2022-07-24 16:05] iholder101 opened #8164 "Make a convention for log verbosity levels"
**Description**:
Today we have verbosity levels in Kubevirt. In Kubevirt CR it's possible to set the desired verbosity level for each component (e.g. `virt-handler`, `virt-controller`, etc).

It seems that there is no clear convention regarding what each verbosity level represents.

**What you expected**:
To have a document determining the different verbosity levels and their meaning.

Kubernetes

[2022-07-24 16:06] iholder-redhat commented on #8164
/cc @vladikr

[2022-07-24 16:08] iholder101 opened #8165 "Cache `make generate` results with Bazel"
**Is your feature request related to a problem? Please describe**:
Running `make generate` takes time. Running `make generate` twice will take approximately the same amount of time to run.

**Describe the solution you'd like**:
`make generate` results needs to be cached with Bazel. This way, if nothing changed regarding the files needs to be generated, I expect `make generate` to finish much faste

[2022-07-24 16:10] iholder-redhat commented on #8164
/good-first-issue

[2022-07-25 07:12] iholder-redhat commented on #8164
/good-first-issue

[2022-07-25 08:41] xpivarc commented on #8164
/label good-first-issue

[2022-07-25 10:23] oshoval opened #8169 "sig-network: Proposal - Run only latest k8s version as presubmit, rest as periodics"
**Is your feature request related to a problem? Please describe**:
Currently each PR runs 5 lanes of sig-network (not only sig-network but focusing on it on this proposal)
`k8s-1.22-sig-network`
`k8s-1.23-sig-network`
`k8s-1.24-sig-network`
`k8s-1.23-sig-network non root`
`k8s-1.24-sig-network single stack ipv6`

All those lanes make CI very busy, and we us all waiting a lot of time
to see results

[2022-07-25 10:33] oshoval commented on #8169
/sig-network

[2022-07-25 10:34] oshoval commented on #8169
/sig network

[2022-07-25 10:36] oshoval commented on #8169
/cc @EdDev @phoracek @brianmcarey @AlonaKaplan @rhrazdil @maiqueb @qinqon

[2022-07-25 10:45] xpivarc commented on #6551
Most of the time I would expect to have the monitoring stack deployed before Kubevirt therefore I am not sure we need to dynamically watch this. Maybe others will have a different opinions. @davidvossel wdyt?

[2022-07-25 11:51] w13915984028 commented on #6551
I would like to say, unless some software takes care of this, it's diffcult make sure that the monitoring stack is ready before deploy kubevirt.

Or user should add `init pod` to kubevirt to check this kind of dependency.

[2022-07-25 13:30] lyarwood opened #8171 "instancetype: MemoryInstancetype.Guest not required"
**What happened**:

`Guest` within `MemoryInstancetype` is not a required field while `Memory` is within `VirtualMachineInstancetypeSpec`.

**What you expected to happen**:

`Guest` should be requried within `MemoryInstancetype`.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- KubeVirt version (use `virtctl version`): main
- Kubernetes version (use `ku

[2022-07-25 15:10] w13915984028 opened #8175 "Is DiskBusIDE supported or not? expect it is supported."
**What happened**:
Is `DiskBusIDE` supported or not?  expect it is supported.

We find it is said supported in kubevirt doc, but not supported in source code. And we expect it could be supported.

Per https://kubevirt.io/api-reference/v0.6.4/definitions.html,

It said `Bus indicates the type of disk device to emulate. supported values: virtio, sata, scsi, ide`

![image](https://user-images.githubu

[2022-07-25 15:22] EdDev commented on #8164
/good first-issue

[2022-07-25 19:21] w13915984028 commented on #8175
In http://kubevirt.io/api-reference/v0.55.0/definitions.html  (as of 2022.07) , the `ide` is not in `bus type`.

![image](https://user-images.githubusercontent.com/31133476/180857571-10079ba0-099a-453d-930e-4dda053fbaca.png)

[2022-07-26 03:17] ydcool commented on #7537
/remove-lifecycle stale

[2022-07-26 11:53] maiqueb commented on #8169
While there's a problem to fix (overwhelmed CI), I do not think dropping lanes (essentially testing less) is the correct thing to do.

I'm aware you want to rely on periodics; that - imo - is not enough since we have flaky tests all over.

I really think that for us to merge a PR - that touches either e2e tests or the production code - we need to make sure that all tests passed at least once (in a

[2022-07-26 13:13] alicefr opened #8188 "make rpms fails fetching passt"
**What happened**:
`make rpm-deps` fails fetching passt
[code]

**What you expected to happen**:
Be able to update correctly the rpms

**How to reproduce it (as minimally and precisely as possible)**:
Just try to update the dependencies with `make rpm-deps`

[2022-07-26 13:19] alicefr commented on #8188
@AlonaKaplan is the passt rpm manually added?

[2022-07-26 13:28] alicefr commented on #8188
ok, I think we simply need to fix the URL for the repo:
[code]

[2022-07-26 13:43] alicefr commented on #8188
ok, I think it isn't been added correctly to the `rpm/repo.yaml` and passt to be added to the launcherbase

[2022-07-26 15:08] xpivarc commented on #7638
@vasiliy-ul Thanks for the write-up. So the only downside I see is the lack of support of apparmor in Kubernetes or mixing of apparmor and SELinux. Therefore I am not sure how useful and usual it is to run them both in a cluster. I think it would be good if Kubevirt integrates at least with what Kubernetes support as I see many issues like this.

[2022-07-26 19:59] xpivarc commented on #952
@vitalif Can you elaborate on why we need this?

[2022-07-26 20:56] davidvossel commented on #6551
we can follow the same pattern we used for cdi in virt-controller.

https://github.com/kubevirt/kubevirt/blob/c568549898a5130fbc32d57b7cc7f3ba7d203920/pkg/virt-controller/watch/application.go#L422

We start the controller, if we see the cdi api comes online during the runtime, then we re-initialize the controller.  We coudl do the same thing for virt-operator. If the prometheus APIs come online af

[2022-07-26 23:52] vitalif commented on #952
Kernel mounting is an overhead and may in theory even be impossible for some storages... For example, I don't have a kernel driver for my project Vitastor :) I provide support via NBD, but it's much slower than native driver. https://yourcmc.ru/git/vitalif/vitastor/src/branch/master/docs/performance/comparison1.en.md#vitastor-0-4-0-native - also NBD has a problem with timeout - if you don't specif

[2022-07-27 03:17] fengye87 commented on #7163
Hi @codesiddhant, we've actually made a project named [Virtink](https://github.com/smartxworks/virtink) to support Cloud Hypervisor VMs solely on Kubernetes with some cool features like direct kernel boot with container rootfs.

We believe Kubernetes controllers should do one thing and do it well, that's why we created this project from scratch instead of introducing KubeVirt too many branches to

[2022-07-27 04:58] codesiddhant commented on #7163
Seems very interesting, I appreciate your contribution.

On Wed, Jul 27, 2022 at 8:47 AM Feng Ye ***@***.***> wrote:

[2022-07-27 05:25] daghaian opened #8191 "Booting from an external source (Kernel) causes error"
**What happened**:
A clear and concise description of what the bug is.

Currently, when attempting to deploy a Virtual Machine that has been provided an explicit kernel, kernel artifact verification fails and consequently the VM fails to start. The only way that this issue was able to be rectified was by disabling verification inside the `mountKernelArtifacts` function called in [pkg/virt-handler/

[2022-07-27 10:09] talcoh2x opened #8194 "watchdog: BUG: soft lockup - CPU#X stuck for 23s"
**What happened**:
start  0.48.1 I start to get watchdog: BUG: soft lockup sometimes directly after VM creation.
I did a couple of tests 0.47.1 works well and it starts to fail from 0.48.1
my suspect is https://github.com/kubevirt/kubevirt/pull/6162
we run VMs with dual NUMA node so maybe we have "starvation" in such case ( I have 1T GB memory and ~500GB assigned to VM )  which block the CPU.

**W

[2022-07-27 10:09] talcoh2x commented on #8194
Spec:
  Affinity:
    Node Affinity:
      Required During Scheduling Ignored During Execution:
        Node Selector Terms:
          Match Expressions:
            Key:       habana.ai/cluster
            Operator:  In
            Values:
              cluster-staging
    Pod Anti Affinity:
      Required During Scheduling Ignored During Execution:
        Label Selector:
          Match Express

[2022-07-27 10:13] tomkukral opened #8195 "Missing tcg support"
**What happened**:
I was trying to start kubevirt on my AWS instance.

**What you expected to happen**:
I was expection `virt-handler` to start on my AWS instance.

**How to reproduce it (as minimally and precisely as possible)**:
Try to start kubevirt on AWS.

**Additional context**:

`virt-launcher` container in `virt-handler` pod is failing on detecting emulator capabilities. `tcg` libraries ar

[2022-07-27 11:34] vasiliy-ul commented on #8195
I think you need to enable emulation in the KubeVirt CR config: https://github.com/kubevirt/kubevirt/blob/main/docs/software-emulation.md. Run:
[code]
and try to add
[code]

[2022-07-27 12:32] mhenriks commented on #8191
cc @davidvossel @vladikr @xpivarc Any advice for our friend here

[2022-07-27 14:33] usrbinkat commented on #8175
Thank you for raising this issue.

To better understand, can you provide a use case need for the IDE disk bus type? Also, is this feature something you would be able to submit a PR for?

[2022-07-27 14:41] usrbinkat commented on #8194
Thank you for raising this issue.

As I understand from the related [community discussion](https://kubernetes.slack.com/archives/C8ED7RKFE/p1658745712500509) this may be a bug in the underlying lvm virtualization stack. Is this a bug you have tried to reproduce with KVM directly and without KubeVirt to identify if the bug is reproducible without KubeVirt?

[2022-07-27 14:41] xpivarc commented on #8175
@rmohr @davidvossel @fabiand
Do you recall why this is not included in today's Kubevirt?

[2022-07-27 14:49] Omar007 commented on #8195
Hitting the same on a bare metal 1.24.2 kubeadm cluster (aside from the KVM initialization error):
[code]
It seems it might even need them even if it's not actively going to be using them?

Been a while since I've actively made use of this but on the same systems (just older versions of kernel, cluster and kubevirt) it has worked without issues before.
I think the QEMU update in 0.53.0 is relevant

[2022-07-27 15:59] iholder101 opened #8200 "Add ability to watch Kubevirt objects"
Currently, Kubevirt client set does not support watch calls, e.g.:
[code]

Also, while some of our clients are auto-generated (e.g. [clone client](https://github.com/kubevirt/kubevirt/blob/v0.55.0/staging/src/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/clone/v1alpha1/virtualmachineclone.go)), the [Kubevirt client](https://github.com/kubevirt/kubevirt/blob/v0.55.0/staging/src

[2022-07-27 18:25] talcoh2x commented on #8194
which BUG? BTW, KV working fine until 0.48 so maybe someone can check what can be the reason maybe new kernel params or something that was added. I suspect on: https://github.com/kubevirt/kubevirt/pull/6162

 on BM servers we dont have such issue at all.

[2022-07-27 20:12] caiomqo commented on #8175
@usrbinkat I am currently working with @w13915984028 and our use case is the following:
We have a CentOS 7 VM that was running in vSphere, and it is being migrated to use Kubevirt.

The conversion from .vmdk to .qcow2 was performed using `qemu-img convert`:
`qemu-img convert -f vmdk -O qcow2 centos-server-test.vmdk centos-server.qcow2`

After the conversion, the .qcow2 image seems to be using IDE.

[2022-07-27 21:43] daghaian commented on #8191
@mhenriks I believe I've found where the bug is and will be testing whether or not it resolves the issue. From what I can tell, the E2E tests as well as the current logic assume that the user would be providing **both** a `kernelPath` and and an `initrdPath`. In the event that the user opted to provide **just** the `kernelPath`, the verification for mount success will fail. If my modification prov

[2022-07-27 23:22] daghaian commented on #8191
Confirmed I found the issue, I will update this ticket with a PR

[2022-07-28 01:49] #8188 closed

[2022-07-28 08:28] tomkukral commented on #8195
Yes, emulation is enabled on my cluster
[code]

[2022-07-28 08:31] vasiliy-ul commented on #8195
Yeah, that now looks more like an issue with qemu 'modularization'. I guess some libraries (i.e. for tcg) are now packaged in a separate RPM which is not pulled as dependency into the virt-launcher container. Therefore the dynamic loading of tcg fails.

[2022-07-28 08:58] lyarwood commented on #8175
It's not supported by the default `q35` machine type we use in KubeVirt, that's why I didn't list it as a constant in the code.

You should be able to overwrite the default machine type to `pc` and use `ide` again in your `VirtualMachine` definitions.

I'll work up an example now.

[2022-07-28 09:12] rmohr commented on #8175
I wonder if it would pass validation: https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go#L2314

[2022-07-28 09:13] lyarwood commented on #8175
Ah I forgot about this check in the VMI admission webhook that predates my constant changes:

https://github.com/kubevirt/kubevirt/blob/d5483221b7c78d702f2f24677b8788c58cfb7fed/pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go#L2281-L2303

[2022-07-28 09:14] lyarwood commented on #8175
We should technically allow `ide` with the `pc` machine type but I assume there's a load of other checks that assume `q35` like this?

[2022-07-28 09:15] rmohr commented on #8175
Yes that is a super-old release. New ones don't have it: http://kubevirt.io/api-reference/main/definitions.html#_v1_disktarget.

Typically part of the migration is to install virtio drivers as part of the guest-conversion with e.g. virt-v2v or directly with libguestfs.

[2022-07-28 09:16] rmohr commented on #8175
Oh linux already, then probably just the bootloader configuration needs to be fixed.

[2022-07-28 11:31] iholder-redhat commented on #8191
/assign

[2022-07-28 15:45] #6692 closed

[2022-07-28 16:12] andreabolognani commented on #8195
@vasiliy-ul thanks a lot for the heads up!

I don't think the issue is related to QEMU modularization, as TCG support is part of the `qemu-kvm-core` package which we include in the image.

From inside a virt-launcher pod (`HEAD` points to f77d50591ddd0f74c0c876e38fdf14ca3fe54be8 here):

[code]

So TCG support is present and appears to be working.

@tomkukral are you running an upstream build of Ku

[2022-07-28 18:06] caiomqo commented on #8175
When I boot the VM and open webvnc, it shows me the CentOS loading, and then prompts me "dracut", same as Jian shown in the original post. Which boot settings should I be looking to try to set/modify?

[2022-07-28 22:07] #8025 closed

[2022-07-29 04:41] vasiliy-ul commented on #8122
Fixed by https://github.com/kubevirt/kubevirt/pull/8136

[2022-07-29 04:41] #8122 closed

[2022-07-29 06:24] rmohr commented on #8175
This resource sounds promising: https://access.redhat.com/solutions/1282013

[2022-07-29 09:00] tomkukral commented on #8195
I'm running upstream build and using image `quay.io/kubevirt/virt-launcher:v0.54.0`. Do you want me to run some testing on my site?

Everything is working in case of physical HW and it is broken only on AWS.

[2022-07-29 09:46] #7245 closed

[2022-07-29 11:49] alicefr commented on #7084
/reopen
I don' think we have fixed this yet

[2022-07-29 13:19] vitalif commented on #952
I have my own CSI based on NBD and I don't expose any sockets - NBD in my case works as "FUSE for block devices", it has such mode. So I don't think I need any extra CSI :)
And NBD is an overhead in any case. Data goes from qemu to the nbd server, then from nbd to the cluster. Without NBD data goes directly to the cluster. I don't think it's a good idea to sacrifice 50% of random i/o performance a

[2022-07-29 15:56] andreabolognani commented on #8195
Okay, that should rule out downstream-specific issues.

More information would be excellent, thanks!

You could start by verifying that a minimal VM (such as the one defined in [`examples/vmi-nocloud.yml`](https://github.com/kubevirt/kubevirt/blob/main/examples/vmi-nocloud.yaml) triggers the issue.

Then you could collect the debug logs produced by adding

[code]

to the VMI definition both on phy

[2022-07-29 18:46] awels commented on #7690
Hey, been digging into hotplug code today, and this might be helpful. In the converter context, we generate a map of 'permanent' volumes from the VMI volume status fields. We can probably use this information in attach/detach to ignore disks that we want to detach if are in that permanent list. This should make it really easy to detect ones we really want to detach/attach

[2022-07-29 21:02] davidvossel commented on #8200
how would this impact some of our custom apis, like ssh, console, pause, etc...

as long as we maintain parity with the existing client, sounds great

[2022-07-29 21:58] rmohr commented on #8200
I found no good way to add our subresources since they are served on a separate subgroup since CRDs don't support custom subresources.

[2022-07-30 06:07] #8171 closed

[2022-07-30 15:00] chenyiguang opened #8216 "test"

[2022-07-30 15:01] #8216 closed

[2022-07-30 16:48] #7295 closed

[2022-08-01 03:48] thunderZH963 opened #8224 "Kubevirt on ARM64 Installation and hybird kubevirt vms support?"
https://github.com/kubevirt/kubevirt/issues/3558 and https://kubevirt.io/user-guide/operations/installation/#experimental-arm64-developer-builds help me to run virt-operator successfully. But, I still not know how to install or get virtctl (maybe binary file)?
And my cluster includes arm/x86 worker(nodes), how to support this  hybird  cluster?

[2022-08-01 03:58] thunderZH963 commented on #8224
and "kubectl apply -f https://kubevirt.io/labs/manifests/vm.yaml", than, "console testvm" , blocked. why?

[2022-08-01 04:01] thunderZH963 commented on #8224
master is x86, so virtctl-amd64 is used to start vm. "kubectl get pods" shows that vm is scheduled to arm node and stay in running state. but "console" shows "The escape sequence is ^]" than blocked.

[2022-08-01 04:35] thunderZH963 commented on #8224
{"component":"virt-launcher","level":"info","msg":"Connecting to libvirt daemon failed: virError(Code=38, Domain=7, Message='Failed to connect socket to '/var/run/libvirt/libvirt-sock': No such file or directory')","pos":"libvirt.go:505","timestamp":"2022-08-01T04:33:31.430248Z"}
{"component":"virt-launcher","level":"info","msg":"libvirt version: 8.0.0, package: 2.module_el8.6.0+1087+b42c8331 (Cen

[2022-08-01 10:21] alicefr commented on #952
@fabiand it isn't totally clear to me the advantage that this approach will bring. You need in any case to mount the socket in the pod and make it available to QEMU

As @vitalif already pointed out you can also use TCP instead of UNIX socket and if the NBD endpoint is reachable from the VM pod then you can simply access it. Maybe using vhost user protocol could be a more performant solution, but a

[2022-08-01 20:48] vitalif commented on #952
@alicefr Just to be more clear, I'll repeat the main point. I don't need NBD. I need QEMU to load `block-vitastor.so` and access my cluster directly. It can't be wrapped in another network protocol because I already have **my own** protocol. And it's distributed, client connects to all storage nodes, there is no single "gateway".

And I don't need vhost-user either. I need native QEMU block driver

[2022-08-02 06:26] alicefr commented on #952
@vitalif thanks, sorry it wasn't clear at the beginning. Let me rephrase, what you need is a special driver in order to pass your storage and currently, there isn't such an option in KubeVirt right? How does QEMU access the storage? More precisely how do you want to expose the storage to the container where the VM is running?

[2022-08-02 07:06] vitalif commented on #952
QEMU accesses my storage over the network, same as Ceph (block-rbd.so). Then it uses a userspace library and, optionally, credentials to connect to the cluster and send i/o requests directly from the qemu process. To use that all you need to do is pass a correct block device string to QEMU, like "-drive format=raw,file=rbd:testimg". Then in case of Vitastor it doesn't use authentication (it's supp

[2022-08-02 07:16] VirrageS commented on #7690
@saiprashanth173 was working on the patch to simply ignore detach/attach in the `SyncVMI` if the domain is yet defined.  But what you proposed looks also interesting.

[2022-08-02 07:47] alicefr commented on #952
Yes, we don't support all the QEMU block drivers in KubeVirt. The storage is passed with virtio blk and as [driver QEMU](https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-launcher/virtwrap/converter/converter.go#L202-L207) also for ceph we don't use the rbd protocol.
As a quick try you could modify the libvirt XML and pass the options you need using a [sidecar](https://github.com/kubevirt/ku

[2022-08-02 10:47] akalenyu commented on #7927
Couple more restore scenarios to consider wrt to this:
- a bug that we wait for restore PVCs to be bound during restore. What if they are WaitForFirsConsumer?
- if we're dealing with DVs, DV should be Succeeded if the PVC is "populatedFor" and WFFC. If not, that's another bug.

[2022-08-02 13:12] #7831 closed

[2022-08-02 13:36] caohuilong opened #8232 "VM with GPU passthrough without vnc cann't startup"
### Problem
I create a vm with one GPU device passthrough to the vm. And i don't want the vnc, so i set `autoattachGraphicsDevice` to `false`. The virt-launcher pod is in Running state, but the vm seems not work well, i cannot ping the vm and the qemu.guest_agent is disconnected.

I have tested to create a vm without GPU and set `autoattachGraphicsDevice` to `false`, the vm works well and i can ac

[2022-08-02 14:45] vitalif commented on #952
There are 2 main benefits of direct access:
1) increased throughput due to data copy avoidance
2) reduced latency due to less IPC when i/o is done directly from the QEMU main event loop. Improvement is around ~0.04ms per 4 kb I/O which is not a lot, but still noticeable for SSDs

If QSD can provide these 2 benefits too then I think it's okay(ish), if not then it's not much better than NBD for me.

[2022-08-02 16:35] vitalif commented on #952
How does it work over the socket? I tried virtiofsd once and it required access to the whole QEMU address space. Anyway single thread is better in terms of latency than 2 threads - QEMU and external process - having to communicate through any kind of IPC. I.e. if it uses shared memory then memory copying is probably not an issue but latency still suffers.

It was just theory :) What I want is dire

[2022-08-02 17:30] taljeth commented on #952
It uses the Unix socket as a control channel to set up everything, but I/O is done with shared memory. Essentially instead of the QEMU binary processing the virtio-blk ring, you do the processing in the QSD process. The advantage in your scenario is that you have full control over what that QSD process does, so you get access to all of QEMU's block backend functionality, including your custom driv

[2022-08-02 17:41] vitalif commented on #952
Maybe... we need some benchmarks to decide :) if the guest notifies QSD directly without switching to QEMU event loop first, then it may be the same, yeah. It may even be slightly better because I/O will be done in a separate process and won't share the CPU core with the rest of QEMU event loop. So yeah, in this case it's also an option :)

[2022-08-02 17:42] vitalif commented on #952
It's fine, other drivers are worse anyway :)

[2022-08-02 17:48] vitalif commented on #952
So, okay, in this case if it looks better to you to implement qemu block driver support via QSD+vhost-user it looks fine to me, too :)

[2022-08-02 18:25] lyarwood opened #8235 "Graduate instancetype API to `v1beta1`"
This is a tracking issue for $subject following the [API Graduation Phase Expecations](https://github.com/kubevirt/community/blob/main/docs/api-graduation-guidelines.md) for KubeVirt.

- [x] User guide documentation exists. - https://github.com/kubevirt/user-guide/pull/569
- [x] Has early adopter commitment, meaning at least one end user or vendor has provided feedback that the feature meets their

[2022-08-02 18:42] stefanha commented on #952
Generalizing a bit, I think KubeVirt should support vhost-user-blk. This allows another process on the same host to handle virtio-blk I/O without adding overhead. This architecture also keeps storage access credentials out of the QEMU process so a compromised QEMU process cannot steal the credentials.

Once KubeVirt supports vhost-user-blk UNIX domain sockets then @vitalif can build a qemu-storage

[2022-08-03 05:13] fossedihelm commented on #8067
RSSAnon trend was influenced by a memory leak. This has been solved with https://github.com/kubevirt/kubevirt/pull/8234

[2022-08-03 06:45] alicefr commented on #952
Memfd is already the default memory backend in KubeVirt, so nothing to do on this front :)

For this we could define a new couple of [volume](https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#volumes) and [disk](https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#disks) types. Then, we need a privileged component that perform the mounting inside the VM pod. This cou

[2022-08-03 07:17] cryice commented on #7341
@lixiaobing1 how to resolve ? could you help me

[2022-08-03 10:31] rthallisey commented on #8067
/close

[2022-08-03 10:31] #8067 closed

[2022-08-03 10:46] alicefr commented on #7680
Issue solved by https://github.com/kubevirt/kubevirt/pull/7683

[2022-08-03 10:46] #7680 closed

[2022-08-03 13:54] stefanha commented on #952
Yes, Kata Containers could connect to vhost-user-blk volumes. The device would appear as a block volume to the container running inside the sandbox VM.

You know KubeVirt, CSI, and k8s better than I do. If you think a good step is to define a KubeVirt volume type for vhost-user-blk then that sounds good.

[2022-08-03 14:03] alicefr commented on #952
We will probably need some thinking about vhost-user integration. A list of possible use-case will be very helpful to understand how this will be used.
@vitalif could you please let us know how it goes with the QSD and your custom driver.

[2022-08-03 14:25] usrbinkat commented on #8224
Thank you for raising this.

At this time, arm64 support is experimental. Hybrid/mixed arch cluster support is on the roadmap though so be sure to watch for that.

If you were asking about virtctl support, it is currently only built and published for amd64 architectures as well.

[2022-08-04 06:24] alicefr commented on #952
@vitalif one additional suggestion.
From your description, you don't need to mount anything particular to the VM pod, and the storage should be reachable from the network. You could build the QSD with your driver and inject it into the virt-launcher pod. This can be achieved with a webhook (like istio is injecting envoy as sidecar). Once you have an additional container with your changes, you can

[2022-08-04 07:49] #7671 closed

[2022-08-05 10:05] #8138 closed

[2022-08-05 10:05] #8131 closed

[2022-08-05 10:26] #8100 closed

[2022-08-05 15:39] alaypatel07 opened #8250 "add validation for topology spread constraints"
**What happened**:
#7846 introduced a new spec field `spec. topologySpreadConstraints` which needs to be validated when creating the vmi. Similar to #8100

/assign

[2022-08-05 15:55] #7257 closed

[2022-08-05 16:36] ProjectInitiative opened #8251 "Latest release kubevirt-cr.yaml is invalid"
**What happened**:
`kubectl create -f https://github.com/kubevirt/kubevirt/releases/download/v0.55.0/kubevirt-cr.yaml`
output:
`The KubeVirt "kubevirt" is invalid: spec.infra: Invalid value: "null": spec.infra in body must be of type object: "null"`

**What you expected to happen**:
`kubectl create -f https://github.com/kubevirt/kubevirt/releases/download/v0.55.0/kubevirt-cr.yaml`
output:
`kubevir

[2022-08-05 18:06] #8191 closed

[2022-08-06 06:44] lixiaobing1 opened #8253 "how to find sriov interface in vm corresponding to net1 in virt-launcher container?"
eth1, eth2 in vm, and net1, net2 in virt-launcher, how to ensure eth1 is corresponding to net1 or net2?

[2022-08-06 08:58] dankenigsberg commented on #8253
This seems related to https://github.com/kubevirt/kubevirt/issues/7444 and the discussion at https://github.com/kubevirt/community/pull/185 . Please review the discussion there.

[2022-08-06 10:57] #7332 closed

[2022-08-06 16:57] #7308 closed

[2022-08-06 16:57] #7309 closed

[2022-08-07 08:40] akalenyu commented on #7927
/reopen

Couple more cases to consider and CDI bump needed in kubevirt/kubevirt.

[2022-08-07 09:57] #7319 closed

[2022-08-08 03:55] tyleraharrison commented on #7323
Oh no

[2022-08-08 10:58] fanlix opened #8258 "[help] how much memory is needed for virt-launcher internal usage"
I use harvesterhci for vm hosting. [Some heavy load vm get cgroup-oom-killed many many times. ](https://github.com/harvester/harvester/issues/2419)

by checking the cgroup file `/sys/fs/cgroup/memory/kubepods/burstable/pod12914c4e-282a-4f69-bd3b-f75cba6e715e/memory.limit_in_bytes`, i found
* 64G vmi , cgroup mem limit = 69034745856 = 64.2936G    (+`300M`)
* 32G vmi, cgroujp mem limit = 34619084800

[2022-08-08 12:12] m-yosefpor commented on #398
/reopen

[2022-08-08 12:13] m-yosefpor commented on #398
any plans on supporting this? (should we reopen the issue?)

[2022-08-08 14:28] jrcichra opened #8260 "Consider placing kubevirt-export-ca behind VMExport feature gate"
**What happened**:
Providing a `certificateRotateStrategy` in the `KubeVirt` spec does not set/update the duration of the `kubevirt-export-ca` secret. The duration for `kubevirt-export-ca` is always `168h` (7 days).

**What you expected to happen**:
When specifying a config such as:
[code]
...in the KubeVirt spec, the `kubevirt.io/duration` for `secret/kubevirt-exporter-ca` should be `8760h`. It w

[2022-08-08 15:10] jrcichra commented on #8260
It seems that the 7 days is encoded here: https://github.com/kubevirt/kubevirt/commit/dd519a7d9e6a7c5dab0799e0b7ca3901d635165f#diff-fe31077f74867c4e76503e8fdf4f2a3d4e03767362c693e4497e8840898f6d50R323

[2022-08-08 16:48] caiomqo commented on #8175
Tried the [suggested reply](https://access.redhat.com/solutions/1282013), but unfortunately, it didn't help.
There is no output when running lv or vg scan as shown in the doc.

Also tried [this one](https://access.redhat.com/discussions/3326141), but it didn't help as the "dracut" command seems to not exist in the "dracut" shell/prompt.

[2022-08-09 02:58] fanlix commented on #8258
by #4560 , `overcommitGuestOverhead: true` help this case?

[2022-08-09 07:07] simonyangcj commented on #8258
@fanlix I think with overcommitGuestOverhead: false kubevirt will add additional memory to virt-launcher pod for these process. You can checkout code here for detail	[	if !guestResourceSpec.OvercommitGuestOverhead ](https://github.com/kubevirt/kubevirt/blob/18b90f3ff8e174a7a2365f296154ac00329bfe9a/pkg/virt-controller/services/renderresources.go#L172). And IMHO when virt-launcher pod in burstable Q

[2022-08-09 13:04] tiraboschi opened #8265 "test_id:6993 fails on OCP 4.12 due to timeout (safe path related?)"
**What happened**:
On HCO CI (running on OCP 4.12), we are failing to consume Kubevirt v0.56.0-rc.0 because test

`Tests Suite: [rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component][sig-compute]VirtualMachine A valid VirtualMachine given Using virtctl interface Using RunStrategyManual with a failing VMI and the kubevirt.io/keep-launcher-alive-after-failure annotation [test_id:6993]

[2022-08-09 13:55] xpivarc commented on #8265
We don't see the full log of virt-handler. Is it possible there is must gather that collects it? I would be more inclined this is kernelboot bug.

[2022-08-09 13:55] xpivarc commented on #8265
/cc @rmohr @davidvossel @vladikr @vasiliy-ul
FYI as the safe path PR was mentioned

[2022-08-09 15:04] rmohr commented on #8265
It could be related to safepath, however I am not sure. It looks exactly like what I tried to fix here: https://github.com/kubevirt/kubevirt/pull/8098 (and did not do correctly).

This was before safepath landed. It could still be something different of course.

[2022-08-09 19:45] xpivarc commented on #8265
Possible fix https://github.com/kubevirt/kubevirt/pull/8268.
Still, we need to see how we got into this state.

[2022-08-09 21:48] zhuchenwang opened #8269 "Confusing Test Case"
Hi there,

I am trying to understand this [test case](https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-handler/vm_test.go#L581). From my understanding, the scenario is that the domain doesn't exist and the VMI should be removed but not yet finalized.

By following the code, it think the logic would fall into this [case](https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-handler/vm.go#L

[2022-08-10 01:02] #6857 closed

[2022-08-10 03:07] #7690 closed

[2022-08-10 11:40] xpivarc commented on #7006
:ping_pong: @EdDev

[2022-08-10 11:42] xpivarc commented on #6857
@rmohr Do you think this was addressed?

[2022-08-10 12:08] xpivarc commented on #7214
/reopen
I am not sure this was addressed will have a look this week.
/remove-lifecycle rotten.

[2022-08-10 14:09] jean-edouard commented on #8251
/assign

[2022-08-10 14:13] jean-edouard commented on #8269
The test was introduced 2 years ago by this PR: https://github.com/kubevirt/kubevirt/pull/3952
@davidvossel any chance you could shed some light on this? Thanks!

[2022-08-10 14:16] mhenriks commented on #8260
/assign

[2022-08-10 14:41] jean-edouard commented on #8251
Thank you @ProjectInitiative for reporting this issue!
The empty infra section is not a problem with recent versions of kubectl, which is why we didn't catch it earlier.
I opened a pull request to fix this.
For a workaround, please favor removing the empty infra section over adding `replicas: 2`.

[2022-08-10 14:47] ProjectInitiative commented on #8251
Awesome, will do.
Thanks!

[2022-08-10 19:02] mhenriks commented on #8260
Hi @jrcichra thanks for the bug report!  As you are probably already aware, this cert is irrelevant if the `VMExport` feature gate is not enabled.

But a little context as to why it is the way it is (for now).  This cert is used to sign certs for `virt-exportserver` pods.  But managing/rotating those certs is a little tricky because those pods may be run in any namespace and we don't want to give

[2022-08-10 19:19] mhenriks commented on #8260
Come to think of it, as a middle ground, there may be an easy way to support configurable duration with destructive rotation

[2022-08-10 19:46] jrcichra commented on #8260
Hi @mhenriks. That all makes sense. Glad to see the strict RBAC approach! Thanks for confirming it's not used outside the `VMExport` feature gate.

In that case, could we could put the creation of the secret + configmap behind the feature gate instead? Then I wouldn't need to configure its duration. I'd be happy to look into making a PR for that change if that's not already on your list.

[2022-08-11 04:57] daghaian opened #8274 "Error when attempting to use Datavolume supplied disks with VM"
**What happened**:
A clear and concise description of what the bug is.
Currently, after deploying built Kubevirt from the latest code in **main**, datavolume-driven disks are unable to successfully be attached to the VM during initialization. From what can be seen, the following error is seen:

`preparing host-disks failed: chown /proc/239102/root/var/run/kubevirt-private/vmi-disks/gateway-disk/di

[2022-08-11 05:12] daghaian commented on #8274
/assign @mhenriks

[2022-08-11 09:25] rmohr commented on #6857
I don't think so. Even if the fc35 problem disappeared (which would be nice), we would still have the issue that if the guest agent does not report data for whatever reason, we don't report the pod IP (which we know is correct, with or without guest agent), which can break automation flows because they don't find the IP to connect to.

[2022-08-11 09:33] lyarwood commented on #8235
/area instancetype

[2022-08-11 09:33] lyarwood commented on #8142
/area instancetype

[2022-08-11 09:33] lyarwood commented on #7897
/area instancetype

[2022-08-11 13:17] fungiboletus commented on #7305
/remove-lifecycle stale

[2022-08-11 17:28] mhenriks commented on #8274
@daghaian a copy of the datavolume manifest will be useful as well

[2022-08-11 17:30] mhenriks commented on #8260
@jrcichra that is not something we've been considering but if you want to take a shot it it, that would be great!

[2022-08-11 19:29] daghaian commented on #8274
@mhenriks  Updated VMI to VM spec with data volume template

[2022-08-11 20:59] davidvossel commented on #8269
I think the testcase description might actually be a typo.

`should do final cleanup if vmi is being deleted and not finalized` should probably read `should not do final cleanup if vmi is being deleted and not finalized`

the goal of the test is to ensure that the local data related to the VMI is not removed unless the vmi reaches a finalized state (phase=Succeeded|Failed)

[2022-08-11 21:02] zhuchenwang commented on #8269
I see. That makes sense. Thank you for the clarification.

[2022-08-11 21:48] #8250 closed

[2022-08-12 07:49] aravindgpd opened #8288 "Issues in spinning up kubevirt VM on loft vcluster"
**What happened**:
virt-launcher pod goes into Error state. Logs mentioned below

**What you expected to happen**:
vm would launch

Logs from virt-laucher-pod

root@setup-a-edge-1:~# kubectl logs virt-launcher-testvmi-nocloud-kwm4n

`{"component":"virt-launcher","level":"info","msg":"Collected all requested hook sidecar sockets","pos":"manager
.go:76","timestamp":"2022-08-06T19:11:08.723903Z"}
{"c

[2022-08-12 08:55] lixiaobing1 opened #8289 "Why virt-api to be deployed in minion?"
Two nodes in cluster, one master, one minion, and two virt-apis, one deployed in master, why another virt-api deployed to minion? There is podAntiAffinity in virt-api yaml, is this normal?

[2022-08-12 10:55] roblabla opened #8290 "virtctl ssh and portforward are broken when vm name has a dot in it"
**What happened**:
I have a VM that has dots in its name (it is named `vm-windows10-x64.roblabla-vm`). It lives in the default namespace. It is currently impossible to connect to it via ssh:

[code]

Even when explicitly specifying the namespace, it still fails

[code]

What's super confusing is that `virtctl vnc` works totally fine here, as it doesn't have the very weird namespace behavior that `

[2022-08-12 11:05] roblabla commented on #8290
Ah,yeah, portforward is also broken for the same reason. This means that whenever I try to ssh, I have to drop down to the `kubectl port-forward` command on the pod name instead.

[2022-08-12 11:28] roblabla commented on #8290
Also, as the code currently stands, it splits on `.` and assumes part[0] is vm name, part[1] is namespace, and part[2]+ is just... trashed?

AFAIK, a namespace cannot have a `.` (someone correct me if I'm wrong), so wouldn't it make more sense to assume `part.last()` is namespace? This would allow me to connect to ssh by doing `virtctl ssh vm-windows10-x64.roblabla-vm.default`

[2022-08-13 10:21] #7350 closed

[2022-08-13 11:10] AyaSenri opened #8294 "SRIOV VF interface not found in VM"
**What happened**:
Using example manifest to deploy VM, it works, but VF interface not found in my VM.
[code]

**What you expected to happen**:
VM SRIOV interface should be found.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
【Step1 setting VF】
NIC: ConnectX-5   pfName: ens4f0np0
echo 3 > /sys/class/net/ens4f0np0/device/sriov_numvfs
ls -l /sys/class/net/ | grep ens
[cod

[2022-08-13 14:29] chenhuazhong opened #8295 "Kubevirt was installed according to the documentation, but CRD was not installed"
**What happened**:

https://kubevirt.io/quickstart_minikube/

export VERSION=$(curl -s https://api.github.com/repos/kubevirt/kubevirt/releases | grep tag_name | grep -v -- '-rc' | sort -r | head -1 | awk -F': ' '{print $2}' | sed 's/,//' | xargs)
echo $VERSION
kubectl create -f https://github.com/kubevirt/kubevirt/releases/download/${VERSION}/kubevirt-operator.yaml

kubectl create -f https://githu

[2022-08-13 16:29] chenhuazhong commented on #8295
How is the CRD yaml file generated? For example, virtualmachineinstance

[2022-08-13 17:03] m14815 opened #8296 "Create some VMs at same time, some of vmi cannot be set to correct phase and no virt-launcher pod"
**What happened**:
When I use Kubevirt, I create lots VMs at same time, such as 20 VMs. All VMs are using cdi for OS image importing. The creation of each VM looks good, but after cdi import OS image successfully, some VMs do not have virt-launcher pod come out, vmi is keeping on PENDING phase, and in VMIs, they are showing provisioning. If I restart problem VMs, VMs will run normally.   After, I

[2022-08-14 06:21] #6795 closed

[2022-08-14 09:21] #7360 closed

[2022-08-15 02:50] wonleing commented on #7202
how to assign a VGPU inside 'resource' section? Any implement on that?

[2022-08-15 06:41] tomkukral commented on #8195
I'm sorry for late response ... I'll boostrap kubevirt this week and send debug logs.

[2022-08-15 07:31] xpivarc commented on #7341
@cryice Are you using custom images?

[2022-08-15 08:16] vasiliy-ul opened #8297 "Hotplug of FileSystem PVCs on a host with btrfs"
**What happened**:

Hotplug of `FileSystem` PVCs is currently broken on a host with `btrfs`. The mount fails and the code silently 'eats' the error, hence by default there are no error messages in the log and the volume gets stuck in the `AttachedToNode` status:

https://github.com/kubevirt/kubevirt/blob/595051e2d22bf7e520c13010aae9249b434053c5/pkg/virt-handler/hotplug-disk/mount.go#L539-L545

**W

[2022-08-15 08:21] vasiliy-ul commented on #8297
@awels, @mhenriks FYI.

I will be off for a couple of weeks. If someone has ideas how to solve the issue, feel free to pick this.

[2022-08-15 09:45] wonleing commented on #7722
I confirmed this issue still happen on Eular
The root cause is the kubernetes.io~empty-dir/ephemeral-disks/disk-data/disk-0/ and kubernetes.io~empty-dir/ephemeral-disks/disk-data under /var/lib/kubelet/pods/ is not auto set as '755'
e.g.
drwxr-x--- 2 root root 24 Aug 15 17:00 disk-0

Can walk around by changing manually, but still want someone can fix it.

[2022-08-15 10:02] xpivarc commented on #8155
I like the `adm` part but I disagree with the "one needs to look up documentation". Our resources should be `desribe`-able and hopefully, the description should guide users.

[2022-08-15 11:40] rthallisey commented on #6307
/remove-lifecycle rotten

[2022-08-15 11:40] rthallisey commented on #6422
/remove-lifecycle rotten

[2022-08-15 13:00] awels commented on #8297
You analysis looks spot on. It is the definitely the `/@` that is the problem. Does it work correctly with regular k8s mounting the volume in a pod? If so we should probably look at what k8s is doing when mounting the volume and see what we can do better.

[2022-08-15 13:40] kvaps opened #8302 "Ability to specify custom images and imagePullSecrets"
**Is your feature request related to a problem? Please describe**:

I'm on a way to implement KubeVirt module into [Deckhouse](https://github.com/deckhouse/deckhouse) Kubernetes platform. We use [werf](https://github.com/werf/werf) tool for building and deploying all our images.
The problem is that werf is using different logic for calculating image names, which is not fits into KubeVirt logic:

-

[2022-08-15 19:48] mhenriks commented on #8274
/assign

[2022-08-16 07:43] rmohr commented on #8155
It never replaced a good simple commandline argument or good examples where I can copy-pase parts into my yamls. It is for sure better than nothing :)

[2022-08-16 08:07] pashok2398 commented on #3876
Hi @rmohr
We facing same issue with `virtctl ssh` is this expected?

[2022-08-16 08:23] xpivarc commented on #7873
Hi @andreyod
Any findings?

[2022-08-16 08:35] rmohr commented on #3876
I think there is a similar report here: https://github.com/kubevirt/kubevirt/issues/8094. Looks to me like for both cases `virtctl console` and `virtctl ssh` we have a wrong assumption in our code on how terminals work on windows under certain circumstances ...

@0xFelix FYI

[2022-08-16 08:35] rmohr commented on #3876
/reopen
/remove-lifecycle rotten

[2022-08-16 10:44] xpivarc commented on #7568
/remove-lifecycle rotten
Few improvements but we still are investing in this:
https://github.com/kubevirt/kubevirt/pull/8301
https://github.com/kubevirt/kubevirt/pull/8123
https://github.com/kubevirt/kubevirt/pull/7802

[2022-08-16 10:54] andreyod commented on #7873
Hi. I'm not looking into this issue.

[2022-08-16 12:02] pmyjavec opened #8308 "Do I use VirtualMachineInstance or VirtualMachine?"
**Description**:
I'm confused between VirtualMachine and VirtualMachineInstance. The [Use KubeVirt ](https://kubevirt.io/labs/kubernetes/lab1.html) guide seems to expect users to deploy `https://kubevirt.io/labs/manifests/vm.yaml` which contains:

[code]
However the API documentation doesn't seem to talk about VirutalMachine types, only VirtualMachineInstances: https://kubevirt.io/user-guide/virtu

[2022-08-16 16:30] awels commented on #8297
As for btrfs not being supported in virt-handler, IIRC we do a chroot into the node filesystem before attempting the mount, and the node should have the needed support, so I don't think that should be an issue.

[2022-08-16 16:30] David-Krupa opened #8311 "GOLANG version throwing HIGH CVes"
/kind bug

**What happened?**
Container scanning tools revealed multiple high vulnerabilities in ou- of-date go version.

CVE-2022-28327
High
go-1.17.8

CVE-2022-24675
High
go-1.17.8

CVE-2022-30580
High
go-1.17.8

CVE-2022-32189
High
go-1.17.8

CVE-2022-30635
High
go-1.17.8

CVE-2022-30633
High
go-1.17.8

CVE-2022-30632
High
go-1.17.8

CVE-2022-30631
High
go-1.17.8

CVE-2022-30630
High
go-1.17.8

[2022-08-16 22:39] forge3125 commented on #7325
Hi. Can we share what the fix was? I'm getting the same error while trying to deploy the demo VM. Also running Kubevirt v0.55.0.

log from virthandler pod...

{"component":"virt-handler","level":"info","msg":"Generic Allocate: resourceName: vhost-net","pos":"generic_device.go:244","timestamp":"2022-08-16T21:33:03.747279Z"}
{"component":"virt-handler","level":"info","msg":"Generic Allocate: request

[2022-08-16 22:50] daghaian commented on #8274
Additional investigation into the root of the issue has revealed this behavior was introduced in v0.48.0 of KubeVirt. v0.47.1 does not demonstrate the above issue. Digging a little deeper, it was found that the code changes in **pkg/host-disk/host-disk.go** from v0.47.1 -> v0.48.0 is the culprit. I've not yet isolated down to the specific line but my initial hypothesis is that one of the refactore

[2022-08-17 06:47] daghaian commented on #8274
Looking deeper has shown that the actual PR responsible for this issue is:

https://github.com/kubevirt/kubevirt/pull/6445

The decision to have DataVolumes also be replaced with HostDisk has introduced the unexpected behavior I'm observing. To add additional context, the source of persistence for my cluster is AWS EFS using the efs CSI provisioner. I know that @mhenriks was mentioning that curren

[2022-08-17 09:29] chenhuazhong commented on #8295
Sorry, it's not a bug
I have successfully installed

[2022-08-17 09:29] #8295 closed

[2022-08-17 11:21] alicefr commented on #8288
@aravindgpd increasing the [log verbosity](https://kubevirt.io/user-guide/operations/debug/#setting-verbosity-per-kubevirt-component) of virt-handler and virt-launcher might help figuring out what's going on

[2022-08-17 12:25] aravindgpd commented on #8288
Hi @alicefr ,

[2022-08-17 14:16] jrcichra commented on #8260
This is my first time contributing to KubeVirt, so it may take me some time to get my bearings with the codebase :).

Currently I'm able to gate `kubevirt-export-ca` inside `pkg/virt-operator/resource/apply/core.go` since the `Reconciler` type is aware of feature gates. Doing this alone stops the creation of the secret and configmap, but produces errors as the pods are expecting the secret to be p

[2022-08-17 14:18] usrbinkat commented on #8289
Thank you for reporting your issue.

My first guess would be to re-evaluate taint/tolleration config on the master nodes to ensure the noschedule taint is still present on the master where your virt-api scheduled.

[2022-08-17 14:25] usrbinkat commented on #8296
Can you run `kubectl describe vm pvc-test-vm-7` and `kubectl describe vmi pvc-test-vm-7` on either that, or another pending instance and share the status output?

I also see the example scheduling to node `mgt01` can you validate that there is no disk, memory, or cpu pressure on this node and that Kubernetes recognizes it has capacity?

[2022-08-17 14:26] mhenriks commented on #8260
@jrcichra - would your above goal be served by applying the rotation policy to the export ca cert?  I understand that it is cleaner to have the cert not exist at all but applying the rotation is a simpler fix IMO

[2022-08-17 14:35] jrcichra commented on #8260
Yes, being able to configure the rotation policy on the export ca cert would serve the goal.

[2022-08-17 15:07] EdDev commented on #8294
/sig network

[2022-08-17 15:19] EdDev commented on #8294
@AyaSenri , I am not sure what example manifest you refer to exactly.
The documentation that exists is [this](https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#sriov).

The NetworkAttachmentDefinition you mentioned hints you are not using VFIO-PCI but a network driver.
In order to plug the VF to the domain, the VF device needs to have a vfio-pci driver (and not a regular net

[2022-08-17 15:27] ormergi commented on #8294
@AyaSenri could you please share the SR-IOV device plugin configuration you used?
Do you see any error/warning in the VM description after it is booted?

[2022-08-18 01:38] m14815 commented on #8296
Thank you for your reply. The actual situation is the pending vmis are randomly distributed on different nodes, my example is a special case which is all pending vmis on same node. All nodes have enough resources for VM creation.  An example of pending vmi description is provided.

[code]

[2022-08-18 03:49] daghaian commented on #8274
Thank you @mhenriks for providing a github issue that was dealing with a similar experience when using EFS CSI driver. It would appear that the UID/GID being set by the driver was different than what KubeVirt was expecting. As such, it would attempt to chown the img and this caused the permission denied. After updating the CSI driver to 1.4.0, the UID/GID was able to be specified as 107/107 (qemu)

[2022-08-18 03:49] #8274 closed

[2022-08-18 12:56] awels commented on #7573
CDI is working on getting this sorted. libnbd is good to go according to fossa, and the cronexpr is dual licensed and includes apache 2.0. We are just dealing with runc and docker right now (runc seems to be flagged in kubevirt as well)

[2022-08-18 14:37] kvaps opened #8320 "Image uploading is not working with WaitForFirstConsumer"
**What happened**:
Image uploading is not working with WaitForFirstConsumer

**What you expected to happen**:
virtctl will create Pod and PVC simultaneously

**How to reproduce it (as minimally and precisely as possible)**:
- Install [local-path-provisioner](https://github.com/rancher/local-path-provisioner)
- Try uploading image using virtctl:
[code]

**Additional context**:
Add any other context

[2022-08-18 15:41] mhenriks commented on #8260
@jrcichra rotation for export ca coming soon

[2022-08-18 16:24] maiqueb commented on #8294
@EdDev I'm **not** sure, but I immediately thought [this](https://github.com/kubevirt/kubevirt/blob/main/examples/vmi-sriov.yaml) was the example manifest.

[2022-08-19 00:51] lixiaobing1 commented on #8289
But there is also one virt-api deployed in master, and I think virt-api is used to receive request from out of cluster, it should it be deployed to master.

[2022-08-19 07:03] xpivarc commented on #8289
Hi @lixiaobing1, Virt-api (also controller) is deployed in pairs for availability, and with that comes that they should not run on the same node.

[2022-08-19 13:25] mhenriks commented on #8320
Hi @kvaps, virtctl has a `--force-bind` to support immediately creating the upload pod.

[2022-08-19 13:27] kvaps commented on #8320
Got it, thanks. Seems not bug then

[2022-08-19 13:27] #8320 closed

[2022-08-19 13:56] sebastianas opened #8328 "Ability to alter the CPU ressources for virt-api, virt-controller, virt-handler"
Hi,

kubevirt installs three pods (virt-api, virt-controller, virt-handler) with fixed ressources for CPU/memory.
I want to use the CPUs exclusive and these pods use 2x 10m + 5m CPU which in turn forces me to use one CPU less than possible.

By dropping the corev1.ResourceCPU assignment in NewApiServerDeployment(), NewControllerDeployment(), NewOperatorDeployment() it should be possible to use run

[2022-08-19 21:09] stu-gott commented on #7710
/remove-lifecycle stale

[2022-08-20 06:02] gccio commented on #8308
virt-controller will create vmi with vm. and when virt machine shutdown, vmi will be removed, but vm is still exists. we can recreate vmi by vm.

[2022-08-21 19:37] #7310 closed

[2022-08-22 06:39] VirrageS commented on #6819
/remove-lifecycle stale

[2022-08-22 06:43] lyarwood commented on #7760
/remove-lifecycle stale

[2022-08-22 10:44] lyarwood opened #8338 "PreferredMachineType never applied to VirtualMachineInstance"
/area instancetype

**What happened**:

Preferences are only applied to a `VirtualMachineInstance` when a user has not already provided a corresponding value within their `VirtualMachine` [1]. This is an issue for `PreferredMachineType` however as the `VirtualMachine` mutation webhook *always* provides some kind of default [2], resulting in the `PreferredMachineType` never being applied to the `Vi

[2022-08-22 11:21] w13915984028 commented on #8175
More clues:

The root `/dev/mapper/centos-root` is not successfully mapped via `dev-mapper` when running via kubevirt.  Not sure if it is not mapped, or mapped failed, or other reasons.

cat `/proc/cmdline`
`... root=/dev/mapper/centos-root`

run with `sudo qemu-system-x86_64 -m 4G -accel kvm -hda ../centos-ide.qcow2`, the VM startsup.
![image](https://user-images.githubusercontent.com/31133476/18

[2022-08-22 15:06] nuczzz opened #8343 "generate clientset/listers/informers code"
**Is your feature request related to a problem? Please describe**:

I want to manage kubevirt resources through my golang code(especially vmi resource), it means that  I will create/update/delete/get/list kubevirt resources. Informer is the most common method to reduce the pressure on apiserver, but I only find some clientset code in staging/src/kubevirt.io/client-go/generated/kubevert/clientset/v

[2022-08-23 06:40] xpivarc commented on #6824
@vladikr Are you able to have a look?

[2022-08-23 07:38] xpivarc commented on #8343
Hi @nuczzz, There is kubevirt/api repository for this case. The recommendation is to generate these clients on your own from this repository.

[2022-08-23 09:37] sebastianas commented on #8328
Hi @mhenriks,
Thank you for that. I added a patch virt-controller and virt-api following virt-handler since it was not a deployment and I had to search for it. Patching virt-handler seems to reset the former two. Starting with virt-handler and then doing virt-api, virt-controller might work.

Once again, thanks for the pointer.

Sebastian

[2022-08-23 09:49] iholder-redhat commented on #7703
PR is merged, I guess we can close this one? @xpivarc

[2022-08-23 10:00] xpivarc commented on #7703
Please check flakefinder before closing just to be sure.

[2022-08-23 11:23] vriabyk opened #8347 "Helm chart for kubevirt installation"
**Describe the solution you'd like**:
It would be cool to have ability to install kubevirt using helm chart.

**Additional context**:
We are looking for a way to install kubevirt automatically on our kubernetes clusters. We are working on a one-click-deployment for our kubernetes clusters and all addons we need. It would be cool to have ability to deploy kubevirt via helm chart, so we could use fo

[2022-08-24 09:34] kvaps opened #8356 "[linstor] Dashboard and alerts about created backups"
**Is your feature request related to a problem? Please describe**:

Our engineers want to see list of created backups in Grafana and receive alerts in case of failures.

**Describe the solution you'd like**:
Create additional Grafana dashboard and configure alerts

[2022-08-24 09:35] kvaps commented on #8356
Sorry wrong repo 😅

[2022-08-24 09:35] #8356 closed

[2022-08-24 13:05] maiqueb commented on #6733
/remove-lifecycle stale

Lately [multus-v4](https://github.com/k8snetworkplumbingwg/multus-cni/pull/893) was merged to master, which enables 3rd party controllers from directly invoking delegate add / delete.

I've kicked up this [controller](https://github.com/maiqueb/multus-dynamic-networks-controller) project (currently in the works) that will enable pod network selection element changes to hot

[2022-08-24 21:13] jkurek1 commented on #8195
I have the same error. I tested kubevirt on old nodes and everything worked, I switched to the new nodes and there are errors. The same Kubernetes Cluster - just different node.

[code]

[2022-08-25 07:07] rmohr opened #8360 "[v2] [tracker] Collection of v2 changes which we want to consider for v2"
Going on the API to v2 gives us the chance to change defaults and remove deprecated functionality. This issue tracks suggestions:

 * Change default bus type from `sata` to `virtio-blk` or `virtio-scsci` (https://github.com/kubevirt/kubevirt/pull/7007#issuecomment-1219434436)
 * Remove VirtualMachineInstancePresets (https://github.com/kubevirt/kubevirt/pull/8069#discussion_r951112515)

[2022-08-25 09:30] jkurek1 opened #8362 "Failed to start QEMU binary /usr/libexec/qemu-kvm for probing"
**What happened**:
I was trying to start kubevirt on my Kubernetes cluster.

**What you expected to happen**:
Kubevirt is working on my Kubernetes cluster.

**How to reproduce it (as minimally and precisely as possible)**:
Run Kubevirt on Kubernetes cluster

**Additional context**:
I have added new nodes to my Kubernetes Cluster - different type than previous ones. Kubevirt is working on my old no

[2022-08-25 19:29] xpivarc commented on #7323
/reopen
@tyleraharrison  Do you want to be assign on this?

[2022-08-25 20:24] tyleraharrison commented on #7323
Unfortunately I'm sort of out of the development cycle for the foreseeable future. We had to drop kubevirt from our stack (Harvester HCI specifically) in favor of Proxmox for various reasons. Love the project, might revisit later, but for now this is better suited for someone else

[2022-08-26 05:44] #7163 closed

[2022-08-26 07:22] xpivarc commented on #6551
/reopen

[2022-08-26 08:50] fanlix commented on #8258
So,  additional 300M(calculated by [the code](https://github.com/kubevirt/kubevirt/blob/18b90f3ff8e174a7a2365f296154ac00329bfe9a/pkg/virt-controller/services/renderresources.go#L272)) is added by `overcommitGuestOverhead: false` config.
This is enough for normal kubevirt usage. But VM of heavy load cost more memory than expected. Causing host-cgroup-oom-kill.

Increasing additional **cgroup memory

[2022-08-26 08:50] #8258 closed

[2022-08-26 13:44] #7463 closed

[2022-08-26 13:44] #7750 closed

[2022-08-26 16:17] #8328 closed

[2022-08-27 03:31] AyaSenri commented on #8294
Hello, this is my  SR-IOV device plugin configuration. i make sure binding  the cx5 to vfio-pci.

[code]

[2022-08-27 03:40] AyaSenri commented on #8294
i can not found any details in the VM description.
oc describe vm test01
[code]

it show a little, oc logs virt-handler-4clmk -n kubevirt
[code]

[2022-08-27 03:40] AyaSenri commented on #8294
i can not found any details in the VM description.
oc describe vm test01
[code]

it show a little, oc logs virt-handler-4clmk -n kubevirt
[code]

[2022-08-27 03:45] AyaSenri commented on #8294
i seem not work well but even started.

[2022-08-27 15:44] #7473 closed

[2022-08-27 15:44] #7364 closed

[2022-08-28 08:14] iholder-redhat commented on #7703
Test isn't shown on flake finder nor on search.ci.kubevirt.io/. I think it's safe to close.
/close

[2022-08-28 08:14] #7703 closed

[2022-08-28 09:48] AlonaKaplan opened #8371 "passt - tracker of follow-ups"
**Is your feature request related to a problem? Please describe**:
[passt](https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#passt) network binding was introduced to kubevirt.
However, it still has some missing functionality.

1. Currently, KubeVirt supports passt only as primary and single network. passt binary should support multiple networks, KubeVirt code has to be exten

[2022-08-28 11:46] #7409 closed

[2022-08-28 13:08] ormergi commented on #8360
@rmohr where is the appropriate place for proposing other suggestions for v2?

[2022-08-28 13:24] ormergi commented on #8308
The best practice is to use `VirtualMachine`, its the upper abstraction layer and enables more functionalities such as stop/start, see https://kubevirt.io/user-guide/architecture/#virtualmachine.

As mentioned, under the hood, the `VirtualMachine` controller creates a corresponding `VirtualMachineInstance` once a `VirtualMachine` is set to start.

[2022-08-28 14:02] ormergi commented on #8294
@AyaSenri according to the logs it looks like the VF has been attached to the domain, could you please paste the **guest** `dmesg` log?
I expect there to be messages about realizing the VF and mapping it to PCI address (look for "15b3" "1018" keywords).

Note that the sriov-network-device-plugin deployment doesnt seem to be in a "healthy" state.
According to the configuration, it's not clear which

[2022-08-28 15:27] xpivarc commented on #7084
/reopen
/remove-lifecycle rotten

[2022-08-28 16:32] ormergi commented on #8253
Currently, there is no way to do such mapping out-of-box, you can set each interface with a custom MAC address in the VMI spec and compare it to the guest interface MAC addresses.
For example:
[code]

[2022-08-29 00:57] lixiaobing1 commented on #8289
But if virt-api is deployed in minion, can it receive request?

[2022-08-29 06:04] xpivarc commented on #8371
I would add that we need to remove the SELinux rule.

[2022-08-29 07:33] rmohr commented on #8360
@ormergi maybe there is another place already which I missed, but if there is no one, just drop your suggestions here.

[2022-08-29 08:43] dhiller commented on #7445
/remove-lifecycle rotten

/reopen since the discussion about the PR that ins linked to this has not yet settled

[2022-08-29 08:46] dhiller commented on #7453
/remove-lifecycle rotten

[2022-08-29 08:51] enp0s3 commented on #6590
/close

My understanding of `kubevirt_virt_controller_ready` and `kubevirt_virt_operator_ready` was incorrect. The aim of these metrics is to indicate whether the application is ready to be elected as a leader in the leader election process. It doesn't related to the readiness probes, thus it should not be coupled with the `/healthz` endpoint logic.

[2022-08-29 08:52] #6590 closed

[2022-08-29 10:46] #7506 closed

[2022-08-29 10:54] lixiaobing1 opened #8374 "How to know the reason why virt-handler deletes vmi?"
When vm is stopped, vmi will be deleted, virt-handler will be notified to delete vmi, but how to know the reason to delete vmi, such as stop, normally remove...

[2022-08-29 17:26] xpivarc commented on #6857
@AlonaKaplan Would you be able to tackle this?

[2022-08-30 08:32] yumingzhangmtk opened #8379 "LiveMigration didn't honor CPU cores changed"
yes

**Is your feature request related to a problem? Please describe**:
A clear and concise description of what the problem is.
ways to produce -
pkg/virt-launcher/virtwrap/manager.go
generateConverterContext
+ vmi.Spec.Domain.CPU.Cores = 24

Expect that VMI Migrate creation using 24 cores setting

I'm not sure my inject Code got something wrong or Just libvirted migrate --live can not honor CPU.C

[2022-08-30 09:23] AlonaKaplan commented on #8371
Correct, updated. Thanks!

[2022-08-30 11:11] ahussey-redhat commented on #7714
/remove-lifecycle stale

[2022-08-30 11:12] ahussey-redhat commented on #7714
This feature request is being monitored downstream.
Unsure if it needs to remain open here or not

[2022-08-30 11:26] lyarwood opened #8381 "VirtualMachineInstancePresets deprecation warnings spammed during unrelated functional tests"
/area instancetype

**What happened**:

I've just rebased an instancetype bugfix and noticed that the [recently landed VirtualMachineInstancePresets deprecation](https://github.com/kubevirt/kubevirt/pull/8069) was getting spammed during a functional test run. These tests shouldn't trigger this deprecation warning AFAIK so either the deprecation change was wrong *or* the functional tests are someho

[2022-08-30 11:43] #3876 closed

[2022-08-30 11:43] #8094 closed

[2022-08-31 06:00] josueneo opened #8387 "virt-chroot mount expects a directory"
**What happened**:
With a fresh installation of microk8s kubevirt v0.56.0 cannot create a test VMI with ephemeral disk.

**What you expected to happen**:
A running VMI, it works in v0.50.0

**How to reproduce it (as minimally and precisely as possible)**:
On a fedora 36 OS:

[code]
Then apply the below yaml file (vmi.yaml)
[code]
Then run
[code]

**Additional context**:
After a few minutes you cou

[2022-08-31 07:21] hickersonj commented on #8387
@josueneo thanks for submitting this, I'm having the same issue specifically when upgrading from `v0.55.0` -> `v0.55.1` and the issue is the same with `v0.56.0`.  I've noticed a lot of changes wrt path security, https://github.com/kubevirt/kubevirt/compare/v0.55.0...v0.55.1?diff=split

Here are my details as well:
Environment:
- KubeVirt version (use virtctl version): `v0.55.1` / `v.0.56.0`
- Kube

[2022-08-31 12:31] hw-claudio commented on #8195
Hi, is this something you can somehow reproduce with qemu running outside of kubevirt?
I could try to reproduce but it would be easier for me to do without kubevirt in the mix.

Generally if ops is NULL at that point, it would mean that the accelerator has not provided its interface to register to QEMU.

Something is going wrong with the initialization order of things, or the tcg .so module is not

[2022-08-31 12:40] hw-claudio commented on #8195
@philmd

[2022-08-31 12:48] hw-claudio commented on #8195
I am not even sure it is possible to explicitly build tcg as built-in anymore, if --enable-modules is true. This has been finalized IIRC in qemu-6.1 (Gerd, Paolo) as RH needed it quickly, but in my view the work on tcg modularization was not concluded yet, ie there is still the whole problem of tcg_available() vs tcg_enabled() unclear distinction that was never as far as I know brought to conclusi

[2022-08-31 14:23] enp0s3 commented on #8302
/cc

[2022-08-31 14:28] usrbinkat commented on #8311
Thank you for reporting this issue.

The kubevirt team agreed that bumping the golang version is a good idea. It will not make the next release but you can watch for that in the following release.

At this time golang version updates are handled manually. If you are interested in or able to contribute a PR automating this we welcome your contribution to help us stay ahead of CVE's like this in the

[2022-08-31 14:29] usrbinkat commented on #8311
For reference, this is the current manual process to update golang version
https://github.com/kubevirt/kubevirt/blob/main/docs/update-go-version.md

[2022-08-31 14:35] usrbinkat commented on #8374
VMI only exists while VM is in a running state. when halting a VM the virt-launcher pod does not need to be running and so it will exit. The VMI will be created and scheduled again once the VM state is changed back to running.

This is normal and designed behavior.

[2022-08-31 14:37] usrbinkat commented on #8381
/cc @lyarwood

[2022-08-31 14:45] usrbinkat commented on #8387
/cc @dhiller

[2022-08-31 14:51] vasiliy-ul commented on #8362
I think this is the same issue as https://github.com/kubevirt/kubevirt/issues/8195

[2022-08-31 16:07] pbxqdown opened #8392 "Functional test doesn't work on azure-authenticated cluster"
**What happened**:

I'm trying to run functional test on our own azure-authenticated cluster. When I tried with the command in doc(`ginkgo -- -kubeconfig=/home/qian/.kube/config -config=default-config.json`), I'm seeing the following "no azure provider" error:

[code]
Also tried non azure-authenticated minikube and there is no such error.

**What you expected to happen**:
Functional test shall run

[2022-09-01 02:19] mmmlz opened #8394 "x509: certificate is valid for virt-handler, virt-handler.kubevirt, virt-handler.kubevirt.svc, virt-handler.kubevirt.svc.cluster.local, not virt-api.kubevirt.svc"
源码安装的k8s v1.19集群，安装了calico 3.18，kubevirt0.35，使用kubevirt创建虚拟机时报错，报错信息如下：
Error from server (InternalError): error when creating "vmi.yaml": Internal error occurred: failed calling webhook "virtualmachineinstances-create-validator.kubevirt.io": Post "https://virt-api.kubevirt.svc:443/virtualmachineinstances-validate-create?timeout=30s": x509: certificate is valid for virt-handler, virt-handler.kubev

[2022-09-01 02:32] zhhray commented on #7334
@xpivarc Is there any progress on this issue?

[2022-09-01 08:57] tomkukral commented on #8195
I have created this vmi:
[code]
but pod is not starting
[code]

node don't have any kubelet related labels (pod requires `kubevirt.io/schedulable: "true"`) because virt-launcher is failing and it doesn't set node label.

[code]

[2022-09-01 09:03] hw-claudio commented on #8195
Right, now the challenge is how to debug qemu inside kubevirt. Is there any recommended way to do it in kubevirt?
Otherwise your best bet would be to reproduce without kubevirt involved.

[2022-09-01 09:03] yumingzhangmtk opened #8395 "Sidecar pods not closed after sucessfully VMI migration"
**What happened**:
A clear and concise description of what the bug is.
VM setup with annoation: example-hook-sidecar. by trigger virtctl migrate <VM> to other Nodes.
VM is migrated to others Node with sidecar enable as expect. But the old sidecar pods didn't shutdown by itself.

**What you expected to happen**:
A clear and concise description of what you expected to happen.
sidecar pod also being

[2022-09-01 09:27] tomkukral commented on #8195
I'm able to reproduce by running `node-labeller.sh` directly in docker container

[code]

btw image is same as `quay.io/kubevirt/virt-launcher:v0.54.0`, just need to repush it out repository due to limited network

[2022-09-01 09:29] tomkukral commented on #8195
I can provide access to this lab, just ping me on kubernetes slack (same username as on github)

[2022-09-01 09:30] tomkukral commented on #8195
It can be AWS specific because same deployment works fine on GCP.

[2022-09-01 10:06] tomkukral commented on #8195
Comparing kubevirt on AWS and GCP:

* gcp don't have `kvm` module loaded, I have tried to `rmmod` it in aws but it was not helping
* labeller have differet output
[code]
so it isn't failing on gcp (but `tcg` error is still there). Kubevirt labels are present on gcp node.

* systemd is trying to detect kvm on aws but not on gcp
[code]

* kernel version is bit different, I'll try to sync versions

[2022-09-01 10:07] vasiliy-ul commented on #8195
@tomkukral, could try to run the same stuff with docker but using another image:` registry.opensuse.org/kubevirt/virt-launcher:0.55.0`? If the issue is reproducible, we can probably debug it further from there.

[2022-09-01 10:12] tomkukral commented on #8195
It works with this image. Let me try to upgrade kubevirt to 0.55 and test again.

I have also discovered gcp test lab was using much older kernel so I'm trying to downgrade aws to same version.

[2022-09-01 10:56] hw-claudio commented on #8195
interesting, seems a CentOS-only kubevirt images problem? I wonder why upstream kubevirt does not use upstream qemu... @fabiand (ciao Fabian)

[2022-09-01 11:42] tomkukral commented on #8195
Comparing opensuse build and upstram

[code]

[2022-09-01 11:50] vasiliy-ul commented on #8195
Yeah, looks like something is different in the way qemu is built.  And the issue seems to happen only when kvm probe fails and it falls back to tcg. At least `/usr/libexec/qemu-kvm -M q35 -accel tcg` appears to work.

[2022-09-01 12:02] tomkukral commented on #8195
Yes this works
[code]

[2022-09-01 17:34] vasiliy-ul commented on #8195
Sharing some status updates: it seems that the behavior depends on the host system. I can reproduce the error when running the docker command on my laptop with a recent Tumbleweed. But it's not reproducible on CentOS 8 Stream (from `make cluster-up`) and on some other older distros.

[2022-09-01 17:54] tomkukral commented on #8195
I can reproduce error running upstream docker image 0.54 but no error is there with opensuse container (bot running on same operation system). I was using same vm for both. Maybe it can be combination of host os and container OS.

[2022-09-01 19:23] poojaghumre commented on #8195
If it helps, I am able to reproduce this on a physical CentOS 7 host with kubevirt upstream virt-launcher v0.55.0 image. And saw somebody else filed another issue (https://github.com/kubevirt/kubevirt/issues/8362) for Ubuntu 20.04 as well.

Could there be an issue due to API version mismatch between qemu-kvm (v6.2) and virsh (qemu 8.0) versions?
[code]

[2022-09-01 22:18] #8260 closed

[2022-09-02 05:30] #8392 closed

[2022-09-02 14:20] vasiliy-ul commented on #8195
@tomkukral, could you check on your side the permissions of the directory (using `docker run ...` with the upstream image)?
[code]
After that run
[code]

[2022-09-02 22:01] poojaghumre commented on #8195
@vasiliy-ul I confirmed that your suggested fix works just fine. I modified the virt-handler (v0.55.0) daemonset config as below and that worked:

[code]

[2022-09-02 22:05] poojaghumre commented on #8195
Permissions inside virt-launcher container when using v0.55.0 image as is:

[code]

[2022-09-04 03:43] weixiao-huang opened #8406 "Could we set hostDisk to readonly mount while using it as a virtio-fs shared dir into VM"
**Is your feature request related to a problem? Please describe**:
I want to share host path readonly into the VM, so I write the vm yaml below

[code]

However, I found that there's no options for me to set the path `/opt/client-tools/` readonly into the VM. I must use `mount -t virtiofs -o ro client-tools /client-tools` to make it readonly in the guest os. But the user can also `umount /client-t

[2022-09-04 11:27] AlonaKaplan commented on #6857
@xpivarc this bug is pretty old, I don't remember what was the state of the code when the bug was opened. But the current code displays the podIP in the status in case there is no info from ga.

[2022-09-05 03:10] yeahdongcn commented on #7245
@luckyuuuu Hi, have you resolved this issue?

[2022-09-05 05:34] vasiliy-ul commented on #8195
When querying the host capabilities (inside the `node-labeller.sh` script), `libvirtd` starts qemu using `qemu` user `107:107`. The wrong permissions prevent a `non-root` user from accessing the tcg accel plugin. Definitely there is some space for improvement in the qemu error reporting IMHO.

Now the question is why the permissions get screwed. The directory `/usr/lib64/qemu-kvm` comes from the b

[2022-09-05 06:49] vasiliy-ul commented on #8195
For the sake of further investigation, @poojaghumre, @tomkukral, could you also share the output of
[code]

[2022-09-05 08:03] rmohr commented on #6857
I think the exact issue was, that when the GA does not report any IPs (so ga infra is there), then we don't even see the pod IP. So e.g. selinux prevents the GA to report, so we see nothing.

[2022-09-05 08:30] tomkukral commented on #8195
I can confirm chmod is helping. Thanks a lot for your help!

[code]

Docker is using `devicemapper` in this site
[code]

It was working previously on gcp which is using `overlay2`
[code]

[2022-09-05 08:39] vasiliy-ul commented on #8195
Thanks for sharing the info. The assumption is that the behavior varies depending on the storage driver used. It seems that the container gets correct permissions with `overlay2`. I see wrong perms with `btrfs`. Now also `devicemapper` is confirmed to misbehave.

[2022-09-05 08:41] tomkukral commented on #8195
I have already fixed it in my downsteam build and I'm ready to provide any information to debug this further.

[2022-09-05 09:17] AlonaKaplan commented on #6857
I see, thanks for the explanation.
In case the ga report is partial (the infra exists but the IPs aren't) I believe the current code will indeed not report any IP.
I think it is ok, how can we know the IP data is just lacking from the GA report because selinux blocks it and not because it was actually removed from the interface?

[2022-09-05 09:22] rmohr commented on #6857
For instance on masquerade, the IP is never reported from inside the guest. Also in case of bridge-binding, the pod IP should always be reported since readiness probes (network based already) are the indicator if traffic should go there, and not if the pod IP is displayed or not.

Therefore I think it would be consistent to always report the pod IP.

[2022-09-05 09:29] rmohr commented on #6857
Especially when building higher-level services (like e.g. custom services) it is important to show the IP. The readiness probe should be used to indicate reachability on the pod network. The guest agent is an addition, but it should not swallow the pod IP if something goes wrong with it.

[2022-09-05 09:32] AlonaKaplan commented on #6857
Yes, I get your point. It makes sense to always report the Pod IP for the primary interface and keep the ga logic for secondary interfaces.
But I think the best is to show both and to avoid the "smart" logic we have to decide which IP to display.

[2022-09-05 09:33] AlonaKaplan commented on #6857
I will open an issue to track it.

[2022-09-05 09:42] rmohr commented on #6857
Perfect. Thanks.

[2022-09-05 09:49] AlonaKaplan opened #8408 "Always report the pod IP in the primary interface status"
**What happened**:
Currently, in bridge binding, if there is a guest agent report, it overrides the IP information of the interface, even if the ga report lacks for some reason the IP information.
It is known that to reach the VM primary interface, the Pod IP should be used. So it doesn't make sense to hide this info with the GA data (no matter what binding is used).
On the other hand, if the GA d

[2022-09-05 10:04] vasiliy-ul commented on #8195
@tomkukral, what is your Kubernetes distro? Especially what container runtime is it based on (I assume docker is just for local testing)?

[2022-09-05 10:12] EdDev commented on #8408
If there is GA information about interfaces in general, we trust it completely.
That means, we consider it to be the actual state in the guest and therefore we reflect it.
(this mainly applies for bridge binding)

If the GA is reporting L2 information but not L3 one (e.g. IP addresses), and in reality there is L3 information in the guest, we have no way to determine which is the case. Therefore, i

[2022-09-05 10:36] tomkukral commented on #8195
Using docker container runtime, custom kubernetes installation.

[2022-09-05 10:48] EdDev commented on #8408
This also sounds a bit odd to me. The information about the interface (L2 or L3) is probably fetched in the same manner (using `netlink`) from the kernel, so having interface but no IP information is unlikely IMO.
If there is a real scenario like this, lets recreate it and see it is really behaving as assumed in this issue.

[2022-09-05 10:49] AlonaKaplan commented on #8408
https://github.com/kubevirt/kubevirt/issues/6857

[2022-09-05 12:18] EdDev commented on #8408
After chatting with @AlonaKaplan , I think we recognized the source of the gap in how we see the problem (or no problem).

The VMI interfaces status section can be interpreted in (at least) two ways:
- The interface data (in particular the IP address) is representing what a client **should use**, to access the VMI.
- The interface data is representing **the actual** interface state.

While one app

[2022-09-05 14:27] alicefr commented on #8406
@weixiao-huang I'd rather suggest you using the PVC option. Host disks are the equivalent version of [hostpath](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) that doesn't have the read-only option. Additionally, it can facilitate you to switch to PVCs when you want to take advantage of more advanced features

[2022-09-05 14:45] xpivarc commented on #8406
@alicefr
`volumeMounts` should provide you an option to propagate it as read-only. So technically this should be achiviable and IMHO it would be more secure(of course you need more to achieve at least some kind of security here - read admission check).

That being said I would also be inclined to the PVC approach as I am not sure we should develop this API further.

[2022-09-05 14:50] alicefr commented on #8406
`volumeMounts` is inside the containers field for the pod definition, so this for me would be equivalent to the filesystem field. Maybe it would make sense to let virtiofs mounting the directory read-only (if possible I have checked). In this way, this would apply also to PVCs.

[2022-09-05 15:21] xpivarc commented on #7704
@iholder-redhat This can be closed, right?

[2022-09-05 15:21] #7704 closed

[2022-09-05 16:50] #7444 closed

[2022-09-05 18:36] poojaghumre commented on #8195
Here is the output of docker info storage command on my centos 7 server:
[code]
Can the permission fix be added to node-labeller.sh script itself to unblock this issue, if the permissions are correct in base image?

[2022-09-06 01:43] weixiao-huang commented on #8406
Since virtiofs needs readonly mount-point, it seems acceptable that using a `readOnly` in `volumeMounts` for specifying the path readonly.

[2022-09-06 06:32] vasiliy-ul commented on #8195
I am afraid that will be just a workaround if we explicitly adjust the permissions. Other directories might be affected as well. Besides, the `virt-launcher` base image is used to run other containers (and those do not call `node-labeller.sh`).

Ping @rmohr, @xpivarc, maybe you have some thoughts on that? In short, the issue is the following:

In the `virt-launcher` image, there is a directory `/u

[2022-09-06 08:44] rmohr commented on #8387
Seems like this i s related to k3s and microk8s. Something seems to be different there than on "stock" k8s installs.

[2022-09-06 08:49] xpivarc commented on #8387
Shouldn't this fail early?

[2022-09-06 08:56] xpivarc commented on #8195
Interesting problem and great findings. Can you share the `mount` output on both the working and not working setups? Also please check the underlayer if possible.

[2022-09-06 09:05] vasiliy-ul commented on #8195
Yeah, I also checked the unpacked filesystem on the host, and it already has wrong perms:
[code]
[code]

Same on the working setup with docker+overlay2:
[code]
[code]

[2022-09-06 09:17] vasiliy-ul commented on #8387
Not 100% sure... It just reminds me about the issue raised some time ago. KubeVirt does not work with 'non-standard' kubelet directories. The proposed workaround at that time was to symlink such directories to `/var/lib/kubelet`. If I remember correctly, it was also failing on containerdisk mount.

[2022-09-06 09:39] alicefr commented on #8387
I just tried a quick installation of microk8s and the kubelet pod dir is different than the default path. Im virt-handler
[code]
IIRC, we need to set a flag and pass the custom directory?

[2022-09-06 10:46] alicefr commented on #8387
I've tried the example, I don't get the same failure but a very very close issue as in https://github.com/kubevirt/kubevirt/issues/8288

[2022-09-06 10:47] rmohr commented on #8387
Thanks for that! Would be interesting to see if you have the same failure if you create a symlink to the expected directory.

[2022-09-06 11:13] alicefr commented on #8387
@rmohr yes, the sym link is causing the issue:
[code]
I applied the same yaml and I got in virt-handler:
[code]

[2022-09-07 01:18] yeahdongcn opened #8420 "Support QEMU command line args in VM/VMI spec"
**Is your feature request related to a problem? Please describe**:
When adding a vGPU device (vfio-pci) to the existing Windows 10 VM (BIOS), the VM is not able to boot. `virsh list` shows the VM is in `running` state and there is nothing useful in logs.

QEMU args show extra `bus=pci.6,addr=0x1` appends to the device. I tried to boot the VM on my host using `qemu-system-x86_64` directly, and the

[2022-09-07 06:37] tiraboschi opened #8421 "Nil pointer dereference panic on vmi-create-admitter.go when"
**What happened**:
vmi-create-admitter.go panics composing an error message when Spec.Configuration.EvictionStrategy is set with an unexpected value on the CR for virt-operator.

in virt-api logs:
[code]

**What you expected to happen**:
vmi-create-admitter.go should correctly report the error message without failing on `runtime error: invalid memory address or nil pointer dereference`

**How to r

[2022-09-07 08:35] xpivarc opened #8423 "Investigate unexpected error"
**What happened**:
Unexpected error occurred :
`Unexpected Warning event received: vmi-kernel-boot,40972611-13bf-40e8-be4a-8e96b76e9f7e: unable to create virt-launcher client connection: can not add ghost record when entry already exists with differing UID`

Seen in https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/8419/pull-kubevirt-e2e-k8s-1.23-sig-compute-nonroot/

[2022-09-07 08:52] xpivarc opened #8424 "Enable default Seccomp profile"
**Is your feature request related to a problem? Please describe**:
Let's make sure our providers are using the default Seccomp profile when an empty profile is set. This should ensure Kubevirt is compatible with it.

**Describe the solution you'd like**:
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**:
A clear and concise description of any

[2022-09-07 08:59] xpivarc commented on #8200
@iholder-redhat
Adding the missing `Watch` makes sense. Do you intend to work on it?

[2022-09-07 09:12] yeahdongcn opened #8425 "`virt-handler` is unable to create new mdev devices after first removing one of mediatedDevicesTypes then adding it back"
I have the CR change described in https://github.com/kubevirt/kubevirt/pull/8422

[code]

First I remove `gpu-2002` from the list, new mdev devices of `gpu-2001` are created (with my fix). Then I add `gpu-2002` back to the list.

**What happened**:
No new devices of `gpu-2002` are created (both 2 GPUs are used to create `gpu-2001`).

**What you expected to happen**:
New devices of `gpu-2002` can b

[2022-09-07 09:33] xpivarc commented on #8195
I think this will be a specific problem with Docker and how it handles the layers. One last thing I would check is the layers of our images(It should be 1:1 with what you see with overlay2). I think the next step would check the code in Docker/file bug there(We could also check one more runtime - e.g crio).

[2022-09-07 10:24] alicefr commented on #8425
@yeahdongcn this is a similar issue as https://github.com/kubevirt/kubevirt/issues/7084
/cc @vladikr

[2022-09-07 10:28] yeahdongcn commented on #8425
Yes, except the mdev devices are managed by `virt-handler`.

[2022-09-07 10:53] vasiliy-ul commented on #8195
Meanwhile, what do you think about applying a workaround in KubeVirt? Pre-creating the directory with proper permissions seems to solve the issue:
[code]

[2022-09-07 13:06] xpivarc commented on #8423
The impact on CI is high https://search.ci.kubevirt.io/?search=external+alpine-based+kernel+only&maxAge=12h&context=1&type=build-log&name=&excludeName=&maxMatches=5&maxBytes=20971520&groupBy=job

[2022-09-07 14:46] xpivarc commented on #8394
The Kubernetes and Kubevirt version is pretty old. Would be able to try newer versions?

[2022-09-07 14:47] xpivarc commented on #8395
Thanks for the issue! Seems to me like the real issue. Are you looking to contribute the fix?

[2022-09-08 01:40] yumingzhangmtk commented on #8395
YES. I'm tracking why this bug happened and try to fix in my local testing environment.

[2022-09-08 09:38] wangqiangbj opened #8429 "create vmi failed with official cirros containerdisk"
**What happened**:
I apply a vmi yaml in k8s enviroment.  the vmi PHRASE turns into "Failed" quickly in about 12 seconds.
kubectl exec into the compute container in virt-launcher pod, I can not find disk_0.img file in /var/run/kubevirt/container-disks directory,   there is only one disk_0.sock file there.
the virt-handler and virt-launcher logs are as below:
[virt-launcher.txt](https://github.com/

[2022-09-08 09:54] alicefr commented on #8420
@yeahdongcn this sounds to me like a libvirt bug or some wrong defaults on KubeVirt side when we generate the VM XML. You are not suppose to pass any direct QEMU command line.

[2022-09-08 10:01] alicefr commented on #8429
@wangqiangbj do you use a custom location for kubelet pods? Could you please verify on the host:
[code]
and also try to exec in virt-handler and do:
[code]

[2022-09-08 10:11] wangqiangbj commented on #8429
@alicefr  thanks,  the info is as below:
`[root@phy0024 ~]# ls -ls /var/lib/kubelet
total 0
0 drwxr-xr-x 2 root root 161 Sep  8 17:32 device-plugins
0 drwxr-xr-x 2 root root   6 Sep  6 16:55 pods`

`bash-4.4# findmnt /pods
TARGET SOURCE                                                FSTYPE OPTIONS
/pods  /dev/mapper/wocloud_vg-lv_root[/var/lib/kubelet/pods] xfs    rw,relatime,attr2,inode64,logbufs

[2022-09-08 10:14] wangqiangbj commented on #8429
@alicefr thanks, the info is as below:

`[root@phy0024 ~]# ls -ls /var/lib/kubelet
total 0
0 drwxr-xr-x 2 root root 161 Sep  8 17:32 device-plugins
0 drwxr-xr-x 2 root root   6 Sep  6 16:55 pods
`
`bash-4.4# findmnt /pods
TARGET SOURCE                                                FSTYPE OPTIONS
/pods  /dev/mapper/wocloud_vg-lv_root[/var/lib/kubelet/pods] xfs    rw,relatime,attr2,inode64,logbufs=

[2022-09-08 10:40] vasiliy-ul commented on #8429
@wangqiangbj, what container runtime is used in your k8s distro? Is it docker or smth else?

[2022-09-08 10:58] yeahdongcn commented on #8420
@alicefr AFAIK, `libvirt` supports this in XML. It would be useful in debugging and workaround some issues.

[2022-09-08 13:41] iholder-redhat commented on #6089
Discussions are on-going.

/remove-lifecycle stale

[2022-09-08 13:57] theVJagrawal commented on #8424
Hello @xpivarc! Can I work on this one? Need to know bit more about on how to proceed.

[2022-09-08 14:48] lyarwood opened #8435 "`VirtualMachineSnapshot` of a `VirtualMachine` referencing a `VirtualMachineInstancetype` becomes stuck `InProgress`"
/area instancetype
/cc @iholder-redhat

**What happened**:

Attempting to create a `VirtualMachineSnapshot` of a `VirtualMachine` referencing a `VirtualMachineInstancetype` leaves the `VirtualMachineSnapshot` `InProgress` as the virt-controller appears unable to add the required finalizer.

[code]
**What you expected to happen**:

The finalizer is applied and the `VirtualMachineSnapshot` completes

[2022-09-08 14:50] iholder-redhat commented on #8435
/assign

[2022-09-08 17:12] lyarwood commented on #8435
There's definitely more to this but the following hack fixes this for me locally, I'll continue looking tomorrow:

[code]

[2022-09-08 21:50] nvinnakota10 opened #8438 "Unable to create a VM and delete kubevirt on a cluster with dpdk features."
**What happened**:
I am trying to deploy kubevirt and create VMs on a dpdk setup for running pktgen traffic tests.

The VM creation is failing with the error: Error from server (InternalError): error when creating "vm.yaml": Internal error occurred: failed calling webhook "virtualmachines-mutator.kubevirt.io": failed to call webhook: Post "https://virt-api.kubevirt.svc:443/virtualmachines-mutate?t

[2022-09-09 00:22] yeahdongcn commented on #8420
Yeah, please share the example. Thanks.

[2022-09-09 02:42] chrisho opened #8439 "KubeVirtComponentExceedsRequestedCPU/Memory are not working properly"
**What happened**:
The alerts KubeVirtComponentExceedsRequestedCPU and KubeVirtComponentExceedsRequestedMemory are not working properly.

**What you expected to happen**:
The alerts are working properly.

**How to reproduce it (as minimally and precisely as possible)**:
After Install Kubevirt.

**Additional context**:
KubeVirtComponentExceedsRequestedCPU related issue:
`node_namespace_pod_containe

[2022-09-09 05:27] wangqiangbj commented on #8429
@alicefr  yes, my kubelet is in a custom location.  the rootDir is "/opt/kube-install/k8s/kubernetes/kubelet "
and in that directory,  exec ls shows:
![image](https://user-images.githubusercontent.com/25796741/189277659-7249df8c-086c-4b76-a93a-69a4f8f811a6.png)

[2022-09-09 08:25] wangqiangbj commented on #8429
I set the /var/lib/kubelet/pods link to /opt/kube-install/k8s/kubernetes/kubelet/pods,.
the error becomes different, the virt-handler log is below:
{"component":"virt-handler","kind":"","level":"info","msg":"VMI is in phase: Scheduled | Domain does not exist","name":"wq","namespace":"default","pos":"vm.go:1633","timestamp":"2022-09-09T08:18:38.617496Z","uid":"751e0dbd-50ac-4961-8932-d8115d62f856"}

[2022-09-09 08:29] alicefr commented on #8429
:face_exhaling:  I supposed we can add it to the list of similar issue as: https://github.com/kubevirt/kubevirt/issues/8387
fyi @rmohr

[2022-09-09 08:35] wangqiangbj commented on #8429
@alicefr yeah, I found that isssue too, any suggestion to resolve it?

[2022-09-09 08:37] xpivarc commented on #8429
Setting the `--kubelet-pods-dir` to virt-handler should solve it.

[2022-09-09 08:42] alicefr commented on #8429
@xpivarc do we have any doc how to set extra flag to virt-handler?

[2022-09-09 08:51] xpivarc commented on #8429
[code]
Should do the trick.

[2022-09-09 08:51] rmohr commented on #8429
What I can see is this:

[code]

I see that the containerdisk source got resolved correctly:

[code]

the symlink is gone (no `/var/lib/kubelet`), but the mount target which is passed to `virt-chroot` still contains the symlink:

[code]

Looks like I constructed the safepath for the mount raget wrong. virt-chroot only accepts fully resolved symlinks.

[2022-09-09 08:58] xpivarc commented on #8429
@rmohr I think the difference comes from the fact that the source is detected by `isolation`. That code will always work with different kubelet-pods paths.

[2022-09-09 09:03] wangqiangbj commented on #8429
@xpivarc  hi, I set that value in virt-handler daemonset, but it goes back again. How to set that value?

[2022-09-09 09:05] rmohr commented on #8429
Yep, this is the problem:

[code]

It resolves the path from within virt-handler (not via /proc/1/root) and inside virt-handler `/var/lib/kubelet is always a dir and never a symlink since we just moint it there :facepalm:

[2022-09-09 09:23] rmohr commented on #8429
I think this would fix it:

[code]

but can only come up with a proper PR early next week.

[2022-09-09 10:00] wangqiangbj commented on #8429
@xpivarc thanks, according to  your instruction I set that attr successfully but exec into the virt-handler container and exec "findmnt pods" command, It still show "/var/lib/kubelet/pods" rather than "/opt/kube-install/k8s/kubernetes/kubelet/pods"

![image](https://user-images.githubusercontent.com/25796741/189324930-69e80937-258f-4d3a-ae21-db813fe286d5.png)

![image](https://user-images.githubus

[2022-09-09 10:06] rmohr commented on #8429
I don't think it will work. I think that containerDisks are right now broken when /var/lib/kukbelet is a symlink and there is no quick workaround, except making /var/lib/kubelet the real directory.

[2022-09-09 10:11] xpivarc commented on #8429
Unfortunately, we have a few things colliding with each other and therefore the fix is not going to work.

[2022-09-09 10:54] rmohr commented on #8387
A potential fix to at least restore the support for `/var/lib/kubelet` being a symlink is this: https://github.com/kubevirt/kubevirt/issues/8429#issuecomment-1241728252 need a little bit to get back to it.

[2022-09-09 11:08] talcoh2x opened #8443 "CPU stuck on 100%"
after updating KubeVirt version from 0.47.1 we can't work at all. creating VMs give us immediately or after 1 min " watchdog: BUG: soft lockup - CPU#75 stuck"

I did a couple of tests:  0.47.1 works  well and it starts to fail from 0.48.1
my suspect path is https://github.com/kubevirt/kubevirt/pull/6162
we run VMs with dual NUMA node so maybe we have "starvation" in such cases ??

NOTH: I test it

[2022-09-09 11:15] talcoh2x opened #8444 "failed to create VMs on new servers"
# Hi,
I got new servers and seems like VM creation fail but i can't understand the problem from the log. i have ~300 servers and on all of them all working good. is not something that I got before so I need your help here .

# CPU:
![image](https://user-images.githubusercontent.com/34831587/189337392-7a3eed2a-5dcb-4c8d-8376-2eab088790d7.png)

# uname  -a
Linux g1-srv01-c01a-idc 5.4.0-105-generic #

[2022-09-09 11:17] talcoh2x commented on #8444
more logs :

[2022-09-09 11:25] talcoh2x commented on #8444
# virtlauncher

000:b3:00.0","pos":"hostdev.go:79","timestamp":"2022-09-08T18:18:30.349700Z"}
2022-09-08T21:18:30.34973454+03:00 stderr F {"component":"virt-launcher","level":"info","msg":"host-device created: 0000:1a:00.0","pos":"hostdev.go:79","timestamp":"2022-09-08T18:18:30.349717Z"}
2022-09-08T21:18:30.349898716+03:00 stderr F {"component":"virt-launcher","kind":"","level":"error","msg":"Gett

[2022-09-09 12:40] EdDev commented on #7006
A depreciation notice has been sent for iptables a few months back.
We plan to remove it very soon from the codebase.

Regarding the minimum kernel version, I think the policy is that kubevirt supports formally the version which the e2e tests run with. Maybe we should document a version matrix, but at the moment it is lacking.

[2022-09-09 13:20] lyarwood opened #8446 "`VirtualMachineClones` do not clone or update existing `VirtualMachineInstancetype` `ControllerRevisions` used by a `VirtualMachine`"
/area instancetype
/cc @iholder-redhat

**What happened**:

`ControllerRevisions` referenced by a `VirtualMachine` storing copies of `VirtualMachine{ClusterInstancetype,Instancetype,ClusterPreference,Preference} ` are not cloned or updated by the `VirtualMachineClone` API.

**What you expected to happen**:

These `ControllerRevisions` should be cloned when referenced by the `VirtualMachine` or hav

[2022-09-09 13:33] fabiand commented on #8169
My biggest concern with this is that it will introduce an inconsistency between the major lanes.

Also: Periodics: Show me three bugs that you found and fixed based on periodics. IOW I think periodics are under monitored.

I'd suggest: Get rid oof the nonroot lane ASAP

What about the single stack ipv6 lane?

[2022-09-09 14:51] #8142 closed

[2022-09-10 01:26] #8195 closed

[2022-09-10 02:30] vladikr commented on #8444
Hi Tal,

It's not immediately clear what the issue is. Perhaps you could add the audit log from the node where this VMI is running (trying to)
Also, please try to increase virt-launcher's log verbosity.
https://kubevirt.io/user-guide/operations/debug/

[2022-09-10 10:57] talcoh2x commented on #8444
@vladikr  please ignore this issue it's not related to KV at all. issue related to irq interrupt that not handle by one of the linux driver
please close this issue
thanks !

[2022-09-11 07:17] oshoval commented on #8169
I think thats indeed going to happen, not sure what blocks it, @brianmcarey knows IIRC ?

We do need it, because we support single stack ipv6.
We have it only on the latest one, not sure we will want to make it periodic, unless the sig network decide otherwise

Thanks for the comments

[2022-09-11 12:51] EdDev commented on #8169
Hmm... this works in both ways.
Can we identify any bug that showed up on older k8s versions but not on the latest we test against?

It is perfectly reasonable to have such a scenario, as older k8s clusters may not support some features.
As we need to balance between available resources and the amount of checks, this may still be a reasonable risk to take, assuming it will be eventually detected b

[2022-09-11 14:34] #8381 closed

[2022-09-12 06:37] tomkukral commented on #8195
@vasiliy-ul thank you for fixing it

[2022-09-12 06:53] vasiliy-ul commented on #8195
Well, it's more like a workaround rather than a fix. But hopefully it should handle this specific problem for now. Also, raised a docker issue for that. Let's see if it gets some feedback there.

[2022-09-12 07:28] iholder-redhat commented on #8200
@xpivarc
Not in the near future as my plate is pretty full at the moment. If you would like to implement it - be my guest :)
If you don't want to work on it I'll do it once I find the time

[2022-09-12 13:53] oshoval commented on #8169
I think that it deserves a try only on network lanes
We might find out that we are too strict now for no need

[2022-09-12 16:05] dhiller opened #8455 "after node drain a vm with `evictionStrategy: LiveMigrate` will not migrate, target pod stays in init phase"
KubeVirt v0.56.0

Test environment is KubeVirtCI with rook-ceph and cdi enabled:

[code]

VM yaml: https://github.com/dhiller/kubevirt-vms/blob/main/windows-xp-vm/windows-xp-vm.yaml

When [evicting a VM with pod selector](https://kubevirt.io/user-guide/operations/node_maintenance/#evict-all-vms-from-a-node) migration works fine.

When [evicting all VMs and pods from a node](https://kubevirt.io/use

[2022-09-13 07:22] dhiller commented on #8455
/kind bug

[2022-09-13 07:58] hanuunah opened #8457 "KubeVirt windows VM is very slow when accessed through virtvnc"
Hello,

I have deployed Windows VM in Kubernetes cluster using Kubevirt and accessed through over browser using virtvnc
Its performance is not good and delayed streaming over the browser.

Could you please help on this matter.

Thanks,
Hanumanthe

[2022-09-13 08:52] chenxinlong commented on #8457
Same problem haven't solved it yet, you can also check out this link : https://github.com/wavezhang/virtVNC/issues/4

[2022-09-13 09:05] lixiaobing1 commented on #8374
ok, thx:)

[2022-09-13 09:05] #8374 closed

[2022-09-13 09:10] lixiaobing1 opened #8460 "When stop/start vm, new vmi may be deployed to new node, so how to copy data from old node vm to new node vm?"
When stop/start vm, new vmi may be deployed to new node, so how to copy data from old node vm to new node vm?

[2022-09-13 10:35] mertcakmak2 opened #8462 "k virt start iso-win10"
I try this command => **k virt start iso-win10**

I see below result.

**You are using a client virtctl version that is different from the KubeVirt version running in the cluster
Client Version: v0.56.0
Server Version: v0.57.0
Error starting VirtualMachine the server has asked for the client to provide credentials**

What is the reason?

[2022-09-13 11:02] iholder-redhat commented on #8423
/assign

[2022-09-13 20:01] lyarwood commented on #8446
/test pull-kubevirt-e2e-k8s-1.24-sig-storage

[2022-09-14 01:56] yeahdongcn commented on #8457
How about switching to `VNC viewer`? BTW, I'm using `virtctl vnc` to do the proxy and `VNC viewer` works great.

[2022-09-14 02:01] yeahdongcn commented on #8425
I may find a way to workaround this issue. You have to remove all `mediatedDevicesTypes` and wait for the mdev to be cleaned up, then add them back.

[2022-09-14 02:35] chenxinlong commented on #8457
@yeahdongcn  Hi, any details about the `VNC viewer` you mentioned upon ?

[2022-09-14 02:55] #7202 closed

[2022-09-14 03:23] yeahdongcn commented on #8457
https://www.realvnc.com/en/connect/download/viewer/

[2022-09-14 09:27] #8297 closed

[2022-09-14 14:26] usrbinkat commented on #8462
Can you try updating the client version to matching the Server Version either via your package manager or directly from [Kubevirt Releases](https://github.com/kubevirt/kubevirt/releases/tag/v0.57.0)?

If you still get the failure after using a matching client version, then please also provide the VM yaml for review as well.

[2022-09-14 14:30] usrbinkat commented on #8460
There are several possible roots of the behavior described. Most of them will be answered by providing the VM yaml, and by including the requested information from the [kubevirt/kubevirt bug template](https://github.com/kubevirt/kubevirt/blob/main/.github/ISSUE_TEMPLATE/bug_report.md).

Please share more info so that we can help.

[2022-09-14 14:33] usrbinkat commented on #8444
/close

[2022-09-14 14:33] #8444 closed

[2022-09-14 14:35] usrbinkat commented on #8443
Can you provide the kubevirt vm yaml, and possibly the feature gate configuration that you are running as well?

[2022-09-14 14:44] usrbinkat commented on #8438
The API pod errors sounds possibly like an issue with the health of the currently deployed kubevirt pods, the api pod error included below points at a possible culprit.

Can you post the status of all kubevirt pods and the vm yaml definition you are trying to apply as well?

[code]

[2022-09-14 16:25] talcoh2x commented on #8443
Name:         tacohen-habana-nnwm-c06-vm
Namespace:    habana
Labels:       habana.ai/is-vmi=true
              habana.ai/user=tacohen
              kubevirt.io/os=linux
Annotations:  container.apparmor.security.beta.kubernetes.io/compute: unconfined
              kubevirt.io/latest-observed-api-version: v1
              kubevirt.io/storage-observed-api-version: v1alpha3
API Version:  kubevirt.io/

[2022-09-14 16:26] talcoh2x commented on #8443
---
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  certificateRotateStrategy: {}
  configuration:
    developerConfiguration:
      featureGates:
        - DataVolumes
        - SRIOV
        - LiveMigration
        - CPUManager
        - ExperimentalVirtiofsSupport
        - HostDisk
        - GPU
        - NUMA
        - HostDevices
  # set nod

[2022-09-14 17:27] shweta50 opened #8471 "Second migration fails with containerDisk and containerd runtime"
**What happened**:
I’m trying to migrate VMI with containerDisk.
First time the VM live migrates successfully, but on the second migration, it fails with the below error in the target virt-launcher pod. This works fine when using docker runtime.
`Warning Failed     23s (x2 over 51s) kubelet      Error: ImagePullBackOff
 Normal  Pulling     11s (x3 over 54s) kubelet      Pulling image "sha256@sha25

[2022-09-15 03:33] caohuilong opened #8472 "VM with GPU passthrough can't start while memory request < limit"
**What happened**:
The vm with GPU passthrough can't start while memory request < limit, the virtualMachine definition spec like this:
[code]
the logs of virt-launcher pod just like:
[code]
And the kernel log has this:
[code]

**What you expected to happen**:
I think the vm with GPU passthrough can run normally in spite of the memory request and limit, just like the vm without GPU passthrough.

**

[2022-09-15 03:54] caohuilong commented on #8472
@booxter Hello, Can you look into the problem? I have noticed that the vm attached vfio will adjust the MEMLOCK, but I don't know how to fix this.

[2022-09-15 04:57] vasiliy-ul commented on #8471
Link to the discussion in Slack: https://kubernetes.slack.com/archives/C8ED7RKFE/p1662020784894239

[2022-09-15 08:52] Huimintai opened #8473 "Can not create VMI because Image size is not a multiple of request alignment"
**What happened**:
A clear and concise description of what the bug is.
When I create a VM attach  a 2T data volume,I can not create the VMI successfully with this error:
<img width="1301" alt="image" src="https://user-images.githubusercontent.com/11571376/190356509-716e30e1-6026-4447-b4d5-ed223b7253b3.png">

But when create a smaller such as 50G data volume it can create successfully.
**Additional

[2022-09-15 09:09] vasiliy-ul commented on #8473
I think this has already been fixed. You probably need to update from `v0.50.0` to some recent version.

[2022-09-15 09:32] Huimintai commented on #8473
Do you mean this fix?I found this PR https://github.com/kubevirt/kubevirt/pull/5806
I use v0.50.0,this fix has already cherrypicked into v0.50.0.

[2022-09-15 09:36] vasiliy-ul commented on #8473
I mean this https://github.com/kubevirt/kubevirt/pull/6754. I am just not sure if eventually it landed in `v0.50.0`.

[2022-09-15 09:42] Huimintai commented on #8473
Thanks for your help.I checked in `v0.50.0` didn't include this fix.

[2022-09-15 10:58] vasiliy-ul commented on #8471
I think I have some updates here. For the migration we want to use the same exact containerdisk on the target node and for that we need to know the SHA-digest of the image. In current implementation, we extract it from `ContainerStatuses` of the `virt-launcher` pod using the `Image` and `ImageID` fields.

What happens with `containerd` and e.g. `quay.io/kubevirt/fedora-with-test-tooling-container-

[2022-09-15 11:13] #7584 closed

[2022-09-16 06:04] hanuunah commented on #8457
Thanks for the response.
I am particularly looking for clientless and accessing VM over browser solutions.

[2022-09-16 06:16] chenxinlong commented on #8457
* vnc server : `virtctl vnc <vmi> -n <namespace> --proxy-only --address=0.0.0.0`
* vnc client(or vnc viewer) : using realVNC

It's still very slow .  But when I change the "Picture quality" option to "Low" on realVNC , this problem has been significantly improved..

[2022-09-16 11:20] pckroon opened #8478 "`kubevirt.io/schedulable=false` for all nodes because device plugins fail"
**What happened**:
Hi all,
I installed kubevirt on a bare metal k8s cluster (Debian), but my nodes are not available for running VMIs. `virt-handler` and kubelet logs state problems with kvm, tun and vhost-net device plugins.

**What you expected to happen**:
Working kubevirt

**How to reproduce it (as minimally and precisely as possible)**:
Install kubevirt according to the user guide on a Debian

[2022-09-16 12:04] vasiliy-ul commented on #8478
There is a known issue with the device plugin on k8s `1.25`. I think this should be fixed by https://github.com/kubevirt/kubevirt/pull/8451. Please try with `1.24`. The fix is pretty fresh, so I am not sure if there is a KubeVirt release that includes it.

[2022-09-16 12:07] pckroon commented on #8478
"merged yesterday". I think "pretty" fresh is an understatement xD
Either way, thanks for the quick reply! Do you have any idea about the kv release cycle? I can probably just wait for it.

[2022-09-16 12:44] vasiliy-ul commented on #8478
KubeVirt has a monthly release cycle. The latest `v0.57.0` was released 4 days ago. The next release will be roughly in mid Oct.

But this exact fix can potentially be cherry-picked to some current release, and then a patch version will be cut. But here I cannot say about the timeline.

[2022-09-16 13:49] pckroon commented on #8478
Thanks. I'm still in the "playing around" phase, so I can patiently wait for that.
Should this issue be closed since it's fixed in main? Or wait for a release that includes the fix?

[2022-09-16 14:09] vasiliy-ul commented on #8478
As an option you can try to build locally :) its not that difficult. But yeah, feel free to close the issue if you think its fine for you.

[2022-09-16 14:12] pckroon commented on #8478
I'm not that brave :)
Especially considering I'm *far* from an expert on k8s, go, or virtualisation.

[2022-09-16 18:00] nvinnakota10 commented on #8438
Hi,

Please find the status and logs of the kubevirt pods fetched from a fresh setup in the same order.

ubuntu@root-k8s-dpdk-master:~$ kubectl get pods -n kubevirt -owide
NAME                               READY   STATUS    RESTARTS       AGE     IP            NODE                                        NOMINATED NODE   READINESS GATES
virt-api-7589df599d-dcmdv          1/1     Running   0

[2022-09-17 11:02] #8471 closed

[2022-09-17 16:19] #5290 closed

[2022-09-17 22:26] feitnomore opened #8482 "registration request from device plugin failing with kubeadm + containerd"
I'm trying to get a kubernetes cluster up to test kubevirt however I'm running into the same issue with CentOS8 and Ubuntu22.

For the kubelet this is what I see:
[code]

I also see errors on virt-handler pod:
[code]

I've tested my system and it looks ok:
[code]

I see the files popping up on `/var/lib/kubelet/device-plugins/`, however they come and go...
I've also tried adding `--feature-gates=D

[2022-09-18 09:09] vladikr commented on #8443
@talcoh2x can you please try running the same with
[code]
This will isolate the vCPUs from the rest of the process in the compute container and should not interrupt it.

[2022-09-18 14:15] tlehman commented on #8472
@caohuilong The way I have been getting around this on kubevirt 0.54 has been adding `SYS_RESOURCE` to the virt-launcher Pod's securityContext: https://man7.org/linux/man-pages/man7/capabilities.7.html#:~:text=on%20other%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20devices.-,CAP_SYS_RESOURCE,-*%20Use%20reserved%20space

[2022-09-19 03:55] chrisho opened #8485 "Why kubevirt components have no resource limits set?"
We would like to add resource limits to each component of Kubevirt to ensure a stable allocation of node resources, can the community provide best practices for calculating how many resources a component needs?

related issues:
https://github.com/harvester/harvester/issues/2729

[2022-09-19 07:25] vasiliy-ul commented on #8482
Same as in https://github.com/kubevirt/kubevirt/issues/8478

Hi @feitnomore, this is a known issue that currently KubeVirt does not work with Kubernetes `1.25` because of the device plugin registration failure. There is already a fix for that, but it is not yet released. You can try with Kubernetes `1.24`, that should solve the problem

[2022-09-19 08:58] dhiller commented on #7573
/reopen
/remove-lifecycle rotten

[2022-09-19 12:51] yangxiaoliang opened #8487 "VMI got stuck in scheduling status due to the resource race condition"
**What happened**:
Create VMs with some different time interval (say 30 seconds or 1 minute), sometimes two or more VMs will be scheduled to same node, but actually the node don't have enough resources to running so many VMs, so after the vm disk image is created or imported by the cdi importer pod, VMI will be got stuck in scheduling status due to no available resources.

The reason why kube-sche

[2022-09-19 15:22] feitnomore commented on #8482
Hi @vasiliy-ul , just validated on 1.24... you're correct, I don't see the error anymore. I'll try to create a few VMs to make sure everything looks good. Thanks!

[2022-09-19 19:04] xpivarc commented on #8487
Hi,
I don't think there is a way for us to address this issue. I think populators could do the job in the future. @mhenriks fyi

[2022-09-19 20:28] nvinnakota10 commented on #7889
Using a vm image from ubuntu 20.04 fixed the issue.

[2022-09-19 20:28] #7889 closed

[2022-09-20 03:20] yangxiaoliang commented on #8487
Hi @xpivarc , Is that a possible way to start another temporary pod along with WFFC temporary pod to occupy the node resources? then if the WaitForFirstConsumer temporary pod is deleted, the node resources would still be occupied, this will prevent kube-scheduler to schedule new VMs to this node. Do you have any suggestion ?

[2022-09-20 03:36] xzycn commented on #7771
This issue will be fixed in future release, right?

[2022-09-20 05:41] vasiliy-ul commented on #7771
I am not aware if someone is working on that ATM. But for sure, Apparmor support in KubeVirt will definitely bring a lot of value to the project. Contributions are more than welcome here.

[2022-09-20 09:59] ormergi commented on #6351
@wangxin311
Fixed by #8226, available on versions: v0.53.0, v0.54.0, v0.55.0, v0.56.0 and above.

/close

[2022-09-20 09:59] #6351 closed

[2022-09-20 12:03] ormergi commented on #6776
/reopen

[2022-09-20 12:09] ormergi commented on #6776
The root cause for this issue is a bug sriov-cni we use to attach SR-IOV VFs to VMs, more details at https://github.com/k8snetworkplumbingwg/sriov-cni/issues/219.

From Kubevirt test suite side, the VMs ends up with SR-IOV interfaces with random MAC addresses which cause cloud-init to fail.

[2022-09-20 12:14] ormergi commented on #7444
@YitzyD
Fixed by https://github.com/kubevirt/kubevirt/pull/8226, available on versions: v0.53.0, v0.54.0, v0.55.0, v0.56.0 and above.

[2022-09-20 12:26] awels commented on #6531
/life-cycle-frozen

[2022-09-20 12:27] awels commented on #6531
/lifecycle frozen

[2022-09-20 21:39] mhenriks commented on #8487
Yeah this is a difficult problem that should get solved with volume populators.

[2022-09-21 00:26] mhenriks commented on #8435
@lyarwood guessing that this is the problem:  https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go#L102

Of course, we don't want the vm spec changing while the restore is in progress.  Not sure how to best handle this.  Maybe don't call that function when `status.restoreImPregress` != nil?  WHat would be the downside?

[2022-09-21 03:33] papandadj opened #8495 "networkData not effective"
Recently, I use kubevirt as virtual machine. But after restart machine, I found that ip address cannot be assigned.
The default network config:
<img width="613" alt="Screen Shot 2022-09-21 at 11 23 08" src="https://user-images.githubusercontent.com/25424898/191407893-dc502fea-d69e-4100-baec-ee9d2b41ae4b.png">

So, I add networkData filed in vm.yaml, as shown below.
<img width="326" alt="Screen Sho

[2022-09-21 07:31] chenxinlong opened #8496 "gpu occupied by another vm after vm stopped"
**What happened**:

Let say I have one GPU and two vm(vm1 and vm2) both request one GPU:

* vm1 started normally
* vm2 start failed because insufficient of GPU

When I stop vm1, then virt-launcher-vm1 pod delete, the unschedulable vm vm2 occupied the GPU resource.  At this moment vm1 start failed.

**What you expected to happen**:

Do not release GPU resource when vm1 stopped(or restart, restart

[2022-09-21 10:21] #7621 closed

[2022-09-21 13:12] xpivarc commented on #7621
AFIAK, HyperV enlightenments need KVM. Therefore I am inclined to say this is expected behavior. @FireLv feel free to reopen if you think otherwise.

[2022-09-21 13:13] yangxiaoliang commented on #8487
@mhenriks  How do you solve this problem in you product environment, any workaround or suggestion ? Do you update the kube-scheduler logic? And could you post some link or introduction on "volume populators" , thanks ~

[2022-09-21 14:38] usrbinkat commented on #8496
The best recommendation I can offer is to be more specific in how you label GPU devices to prevent GPU contention, if multiple VMs are pinned to the same GPU label, then which ever VM can schedule to a matching available GPU will do that and this appears to be expected behavior.

[2022-09-21 14:41] usrbinkat commented on #8495
This type of network configuration debugging can be difficult to diagnose. As a first step, can you share a code formatted VM yaml that you are using here?

[2022-09-21 14:42] usrbinkat opened #8501 "[Feat] Add prompt to include vm or other config yaml when reporting a bug"
**Is your feature request related to a problem? Please describe**:
Need to enhance bug report template with prompt to include code formatted vm yaml resources, or other configurations when reporting issues

[2022-09-21 14:45] usrbinkat commented on #8485
/cc @rthallisey

[2022-09-21 14:51] usrbinkat commented on #8472
It looks like this is related to https://github.com/kubevirt/kubevirt/pull/8367 which was merged last month.

To clarify if the limits are the root cause of this issue, can you please re-test after only removing the limit parameter from this config?

[2022-09-21 15:22] rmohr commented on #3130
Would you just need capacity in the sense of specifying it on a pod emptyDir, to limit it, or would you need disk resizing?

/reopen

[2022-09-21 16:06] joeevon opened #8502 "How to expand vm's / directory of ubuntu?"
yaml of vmi:
apiVersion: kubevirt.io/v1
kind: VirtualMachineInstance
metadata:
  finalizers:
  - kubevirt.io/virtualMachineControllerFinalize
  - foregroundDeleteVirtualMachine
  generation: 12
  labels:
    kubevirt.io/nodeName: kcp02
  name: vm-wzymanualcreate
  namespace: wzy
  ownerReferences:
  - apiVersion: kubevirt.io/v1
    blockOwnerDeletion: true
    controller: true
    kind: VirtualMac

[2022-09-21 16:06] rmohr commented on #3130
I think we never researched this end to end. If it would be possible to resize a disk without having to touch a backing-disk this may be possible. Otherwise we would loose the overlay benefit, since touching the base file would copy it completely.

[2022-09-21 16:18] joeevon opened #8503 "cloudInitNoCloud not work, how can i ensure cloudInitNoCloud was correctly called?"
vmi yaml:
apiVersion: kubevirt.io/v1
kind: VirtualMachineInstance
metadata:
  finalizers:
  - kubevirt.io/virtualMachineControllerFinalize
  - foregroundDeleteVirtualMachine
  generation: 12
  labels:
    kubevirt.io/nodeName: kcp02
  name: vm-wzymanualcreate
  namespace: wzy
  ownerReferences:
  - apiVersion: kubevirt.io/v1
    blockOwnerDeletion: true
    controller: true
    kind: VirtualMachin

[2022-09-21 16:39] joeevon opened #8504 "How to expand system disk of windows?"
vmi yaml:
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  annotations:
    kubesphere.io/creator: wangzy
    kubesphere.io/system: windows
  name: vm-manualwindows
  namespace: wzy
spec:
  running: true
  template:
    metadata:
      annotations:
        ovn.kubernetes.io/ip_address: 172.16.0.8
        ovn.kubernetes.io/logical_switch: subnet-1xf7a8i2ceebnnqejzjak
        ovn.kubernet

[2022-09-21 19:22] davidvossel commented on #3130
hey @prtkdave, before we go too far down this path of trying to resize container disks, i just wanted to verify that using an [emptyDisk](http://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#emptydisk) isn't sufficient for your use case?

[2022-09-22 01:16] victory460 opened #8506 "How to decide/schedule in which physical machine to create VM ?"
This is a perfect project. I have some question following:

How to decide/schedule in which physical machine to create VM ? Which component to do it? virt-handler or virt-controller? where code or document about this？

[2022-09-22 01:27] papandadj commented on #8495
thanks for you replay. `spec.source.http.url` image is ubuntu20.04 store in minio
[code]

[2022-09-22 03:31] chenxinlong opened #8507 "How to set clock offset to localtime ?"
Hi,

There's a `localtime` option in libvirt clock offset (see [time keeping](https://libvirt.org/formatdomain.html#time-keeping) ). How to set the clock offset to `localtime` in libvirt domain xml ?  I've tried serveral composition of `spec.domain.clock` but it didn't work.

[2022-09-22 07:36] iholder-redhat commented on #7101
/remove-lifecycle stale

[2022-09-22 09:01] yuntianfeijing opened #8510 "set handler param kubelet-pods-dir in operator"
**Is your feature request related to a problem? Please describe**:
I set param --root-dir for  kubelet,   when i use operator, virt-handler param kubelet-pods-dir reset by operator

**Describe the solution you'd like**:
use annotation to set the param  kubelet-pods-dir in operator

**Describe alternatives you've considered**:
uninstall operator and change  virt-handler param

**Additional context*

[2022-09-22 09:45] xpivarc commented on #7334
@zhhray Not at this moment. Right now I can only contribute with reviews.

[2022-09-22 09:48] prtkdave commented on #3130
hi @davidvossel , we want to attach or want flexibility to mention the size of root partition not additional disk. For example, when we create any instance on AWS we mention OS image and then get the flexibility to select the root partition size. Similar thing we are trying with kube-virt. Hope this helps. Let me know , if you need any further information

[2022-09-22 12:10] iholder-redhat commented on #8506
Hey @victory460!

virt-controller is the component that creates virt-launcher Pod which actually runs the VM, so I suggest to refer to virt-controller's code to see how it schedules this pod. You can start with [renderLaunchManifest](https://github.com/kubevirt/kubevirt/blob/v0.57.1/pkg/virt-controller/services/template.go#L385) function which is used to create the virt-launcher Pod.

[2022-09-22 12:20] iholder101 opened #8512 "Explore how we should use error wrapping"
**Is your feature request related to a problem? Please describe**:
Not long ago, in this PR https://github.com/kubevirt/kubevirt/pull/8412, we started to use Go's [wrapped errors](https://go.dev/blog/go1.13-errors). While this PR introduces some great improvements, it caused some tests to be quarantined and had to be fixed in a follow-up PR (https://github.com/kubevirt/kubevirt/pull/8492). This is

[2022-09-22 12:33] alicefr commented on #8512
/cc

[2022-09-22 13:03] rthallisey commented on #8485
The trouble with setting limits upstream is knowing exactly how much memory each component should be using at all times in all cases.  For the virt-operator that's quantifiable because it's upper bounded by the number of nodes and it would be strange for a user to constantly kill control-plane pods.  Other KubeVirt components don't have these limitations, so I'm skeptical if limits will have a pos

[2022-09-23 01:37] chenxinlong commented on #7916
Is that a way to set libevirt domain xml `clock offset` to  `localtime` by kubevirt vm `spec.domain.clock` ?

[2022-09-23 03:21] papandadj commented on #8495
Hi @usrbinkat , thinks for your answer. Maybe It is because of a problem with my mirror.
another question. How do i download the image `docker://docker.io/containercraft/ubuntu:20.04` from docker?
If download the image, I want to push this to minio.

[2022-09-23 06:02] papandadj commented on #8495
Thank you @usrbinkat , I using the official mirror and it's fine.

[2022-09-23 08:33] chrisho commented on #8485
thanks @rthallisey
I recently did some CPU benchmark tests on virt components, when operating about 100 VMs, as below:
![image](https://user-images.githubusercontent.com/3347460/191921369-aa6813d4-5a84-47bb-ad78-b9a4453b9976.png)
![image](https://user-images.githubusercontent.com/3347460/191921383-9520753e-1a2c-441a-957c-f4902bea6081.png)
![image](https://user-images.githubusercontent.com/3347460/

[2022-09-23 15:16] usrbinkat commented on #8495
@papandadj FYI, this image is built by CI in a [project that I run](https://github.com/ContainerCraft/kmi); it is not an official Kubevirt or Canonical image.

Awesome! Glad to hear you made progress. If the issue is resolved please kindly close the issue :)

[2022-09-23 19:24] davidvossel commented on #3130
You can do this today with containerDisks if you're willing to use PVCs. I believe during DataVolume import, that containerDisks are automatically expanded to fit the pvc size. So, for example, in the yaml below that alpine image should get expanded to 200Gi once it is imported to the PVC using the DataVolume flow.

[code]

[2022-09-23 21:43] nvinnakota10 commented on #8438
@usrbinkat, can I know if there is anything I can do to fix this issue. I am not sure what exactly is wrong. I am not able to create a VM and not able to delete kubevirt on the setup.

Thanks,
Vihari

[2022-09-24 01:52] chenxinlong opened #8519 "keep virt-launcher timezone same with host os"
[code]

Guest os runs on pod(which is utc as default) , pod runs on host os. For guest os , the host os is the virt-launcher pod.  What I expected is keep the timezone of guest os same with host os(the bottom layer) when a new vm is created.  So my solution is :

1. Step1: Set the timezone of virt-launcher same with host os
2. Step2: Set the domain xml `clock offset`of guest os  to `localtime`

Bu

[2022-09-24 04:41] papandadj commented on #8495
Thinks. i will close this issue.

[2022-09-24 04:41] #8495 closed

[2022-09-24 07:12] anvarik opened #8520 "No connection on windows VM & associated virt-launcher pod"
**What happened**:
Followed [this guide](https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html) step by step, I managed to get the VM up and running. After setting it up and connecting to it with VNC I notice that though it doesn't have internet connection. When I go to the associated virt-launcher pod's compute container, I can't curl either.

**What you expected to happ

[2022-09-25 14:21] lyarwood commented on #8435
https://github.com/kubevirt/kubevirt/pull/8448 should resolve this FWIW.

[2022-09-25 19:25] #7655 closed

[2022-09-26 07:40] vasiliy-ul commented on #8519
There is some info in the user guide about setting the guest time: https://kubevirt.io/user-guide/virtual_machines/virtual_hardware/#guest-time

Might that help in solving your issue?

[2022-09-26 10:20] dhiller commented on #7323
/remove-lifecycle rotten
/reopen

[2022-09-26 10:22] dhiller commented on #7323
/area virtctl

@aburdenthehand maybe this could be a hacktoberfest issue

[2022-09-26 11:49] zvonkok commented on #3558
/cc @zvonkok

[2022-09-26 13:54] viveksinghggits opened #8524 "`virtctl memory-dump` results in an error"
**What happened**:
I was trying to get the memory dump of a VM, and ran below command to do that

[code]

**What you expected to happen**:
I expected the memory dump to create created successfully. But got below output

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Create  VM and try to run the above command. The CLI version and server version are mentioned in the above

[2022-09-26 14:47] viveksinghggits commented on #8524
I tried to use the same version (`v0.49.0`) of CLI as to my server and it doesn't support `memory-dump` command.

[2022-09-26 15:52] rthallisey commented on #8485
There's a cluster-profile tool you can build with `make bazel-build` to get the profiles - https://github.com/kubevirt/kubevirt/tree/main/tools/cluster-profiler

[2022-09-26 22:38] #8338 closed

[2022-09-27 06:56] coldzerofear commented on #8504
use cloudbase-init

[2022-09-27 06:58] coldzerofear commented on #8504
install cloudbase-init

[2022-09-27 14:32] zhlhahaha commented on #7653
/remove-lifecycle stale

[2022-09-28 08:51] mayulin123456 opened #8533 "Support insert nic to vm and the nic doesn't need to bind cni"
**Is your feature request related to a problem? Please describe**:
Recently, we want to insert kubevirt to Network Service Mesh(https://networkservicemesh.io/).
But we found an important problem. The problem is that kubevirt network is based on the cni and nsm(network service mesh) is independent of cni. So we request the feature. We want to insert the nic to vm and the nic doesn't need to bind cn

[2022-09-28 13:37] mhenriks commented on #8524
@viveksinghggits yeah this is not in an OpenShift release yet

[2022-09-28 13:40] viveksinghggits commented on #8524
ok, thank you @mhenriks.

[2022-09-28 13:40] #8524 closed

[2022-09-28 14:23] dhiller commented on #8507
/triage needs-information

Could you post you vm yaml here so that we know what you have configured?

[2022-09-28 14:24] dhiller commented on #8520
/triage needs-information

Could you post your vm yaml here so that we know what you have configured?

[2022-09-28 14:26] PiotrProkop commented on #8507
I think the only options for clock `offset` Kubevirt supports are `utc` and `timezone`. Look here https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-launcher/virtwrap/converter/converter.go#L992

[2022-09-28 14:36] chenxinlong commented on #8507
@dhiller

There should be four options for clock `offset` which is variable, timezone, utc and localtime(described in https://libvirt.org/formatdomain.html#time-keeping). But seems kubevirt does not support the localtime option as @PiotrProkop  metioned upon.

Is it how kubevirt designed ? Or it's a bug ?

[2022-09-28 14:37] awels commented on #8504
So CDI (and KubeVirt) only resize the virtual disks but not partitions on those disks. We don't do this because we don't know which partition (if there are multiple) you want to resize, and there is currently no mechanism for the user to specify.

We recommend the user manually resize the partition based on the guest OS. Most people use either a cloud init (or sysprep) to resize the appropriate pa

[2022-09-28 14:40] awels commented on #8502
So CDI (and KubeVirt) only resize the virtual disks but not partitions on those disks. We don't do this because we don't know which partition (if there are multiple) you want to resize, and there is currently no mechanism for the user to specify.

We recommend the user manually resize the partition based on the guest OS. Most people use either a cloud init (or sysprep) to resize the appropriate pa

[2022-09-28 14:42] vladikr commented on #8507
@chenxinlong this option simply wasn't exposed on our VMI API. Perhaps you can send a PR to add this, followed by an explanation for why is this required (I'd assume windows?).

[2022-09-28 14:43] awels commented on #8503
Can you try cloud init with something simpler, I suspect there is bug/typo in the one you have. https://kubevirt.io/user-guide/virtual_machines/startup_scripts/ should have some simple examples that should work.

[2022-09-28 15:13] iholder-redhat commented on #7745
/remove-lifecycle stale

[2022-09-28 15:41] alaypatel07 opened #8540 "perf scale metrics are missing vmi deletion to final state metrics"
**What happened**:

When sig-scale tests are run, there are metrics measured for how long it takes for vmi to get to Running phase, but similar metrics measuring time between when a delete is issued against the vmi to when vmi is actually in one of the final states is missing.

[code]

**What you expected to happen**:

Expected the report to have the following"

[code]

**How to reproduce it (as m

[2022-09-28 15:41] alaypatel07 commented on #8540
cc @rthallisey

[2022-09-28 23:47] #8435 closed

[2022-09-29 01:20] anvarik commented on #8520
Thanks for replying. This was due to the missing Network driver installation, I have blindly followed the guide in https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html and because it doesn't install the network driver there was no connection: `NetKVM\2k12R2\amd64`. Also moving to an actual cloud vendor helped, trying to make this work in a minikube environment is painful

[2022-09-29 01:20] #8520 closed

[2022-09-29 08:26] chenxinlong commented on #8507
@vladikr  My requirement described in https://github.com/kubevirt/kubevirt/issues/8519 .

Why not exposed `localtime` option ? Is there any concerns ?

[2022-09-29 15:02] phoracek commented on #5477
/remove-lifecycle rotten

[2022-09-29 17:43] aburdenthehand commented on #6088
/remove-lifecycle stale

[2022-09-29 19:48] shannonmitchell opened #8544 "virt-handler stops working on versions greater than v0.55.0 on RHEL 8.6 nodes with selinux enforcing"
**What happened**:
We are running rke2 on RHEL8.6 with selinux set to enforcing.  After attempting to upgrade kubevirt, the virt-handler pods error out with the following virt-handler log failure:
[code]
After testing several versions, it looks like things work up to v0.55.0 and fail on v0.55.1 and above.  It looks like some changes were done to move to the golang.org.x/sys.unix for selinux labeli

[2022-09-29 23:09] rthallisey opened #8547 "DELETE doesn't return always return k8s.io.apimachinery.pkg.apis.meta.v1.Status like the OpenAPI spec says"
**What happened**:
The DELETE API call for a VMl can return 1 of 2 things:
1) k8s.io.apimachinery.pkg.apis.meta.v1.Status
2) v1alpha1.VirtualMachineInstancetype

To get 1), you have to edit the VMI and remove the finalizer, then delete the vmi. This is not how users normally delete VMIs.  Normally, the user will delete the vmi first, which returns 2).  This is because KubeVirt controls the VMI gar

[2022-09-30 03:00] #8251 closed

[2022-09-30 03:21] joeevon commented on #8502
thanks so much

[2022-09-30 03:21] joeevon commented on #8502
thanks so much

[2022-09-30 03:22] #8502 closed

[2022-09-30 03:23] joeevon commented on #8503
thanks so much

[2022-09-30 03:23] #8503 closed

[2022-09-30 03:23] joeevon commented on #8504
thanks so much

[2022-09-30 03:23] #8504 closed

[2022-09-30 07:56] soulseen opened #8549 "can not rebinding GPU device to vfio because device with non-zero usage count"
**What happened**:
I want to use the NVIDIA GPU device pass through mode with Kata Containers. but when I followed the [doc](https://github.com/kata-containers/kata-containers/blob/main/docs/use-cases/NVIDIA-GPU-passthrough-and-Kata.md#nvidia-gpu-pass-through-mode-with-kata-containers
) attempting to rebind the GPU to the VFIO-PCI driver, But it hangs on command
[code]
run `dmesg -T -w` I get the

[2022-09-30 07:56] soulseen commented on #8549
related issue: https://github.com/kubernetes/kubernetes/issues/112795

[2022-09-30 08:23] joeevon opened #8550 "How to retain ip of vm when it stop or restart?"
**Is your feature request related to a problem? Please describe**:
A clear and concise description of what the problem is.
![image](https://user-images.githubusercontent.com/12859282/193225313-a1fbb462-a6f4-44e0-ac08-ea3ed91e38b9.png)

i have created a vm which ip is assigned 10.0.0.6

after i restarted the vm, it's ip has been occupied by other vm, it results in the orginal vm can not start up be

[2022-09-30 10:26] qinqon opened #8551 "CloudInitConfigDrive has bad format if userData and networkData is passed at the same time"
**What happened**:
When the following VMI is started

[code]

The cloud-init is not loaded and failing with error

[code]

**What you expected to happen**:
The cloud-init sectin to be applied correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Apply the VMI from the description and virtctl console it.

**Environment**:
- KubeVirt version (use `virtctl version`):  v0.53.0

[2022-09-30 10:27] dhiller commented on #8549
@soulseen from what I see you are [asking about Kata Containers, but this is KubeVirt.](https://github.com/kubevirt/kubevirt/blob/main/FAQ.md#whats-the-difference-between-kubevirt-and-kata-containers)

So I am not sure whether your document is even applicable here? Or are you saying that you are running Kata Containers inside a VM in KubeVirt?

I the latter case, we would need more information abo

[2022-10-01 19:33] #6732 closed

[2022-10-03 07:29] xpivarc commented on #8544
FYI @rmohr I believe we need to adjust https://github.com/kubevirt/kubevirt/pull/8198

[2022-10-03 09:10] acardace opened #8555 "Add `LiveMigrateIfPossible` eviction strategy"
**Describe the solution you'd like**:
Introduce a new eviction strategy called `LiveMigrateIfPossible` which would essentially behave like `LiveMigrate` but would not trigger any warning if the VMI is not live-migratable.

**Additional context**:
This idea was suggested by @rmohr while reviewing https://github.com/kubevirt/kubevirt/pull/7086 so that we can have a cluster-wide eviction strategy tha

[2022-10-03 13:56] maiqueb commented on #8551
AFAIU, you're using the netplan format on a cloud init config drive data-source. That format is **not** supported for that data source - you'll have to use the correct format for config drive, or fall-back to no cloud data sources.

[2022-10-03 14:55] qinqon commented on #8551
I missunderstood cloud-init networkData v2 + config drive thanks @maiqueb, closing this nonsense.

[2022-10-03 20:12] lyarwood commented on #7897
I'm going to close out this tracking issue as pretty much everything we wanted in by 0.58.0 is here now. Thanks all and onwards to [`v1beta1`](https://github.com/kubevirt/kubevirt/issues/8235)!

[2022-10-03 20:12] #7897 closed

[2022-10-04 07:08] rmohr commented on #8544
@xpivarc I think that

[code]

should fix it. Would you mind preparing a PR?

[2022-10-04 07:10] rmohr commented on #8544
What this does, is changing the code to only relabel if needed. The main issue is, that due to some bug somewhere, we don't read the correct label and think we need to change the label, while we don't. It looked to me more like a kernel change though. Since we only apply this relabel to work around a label bug, it should be fine. The label should nowadays be correct.

[2022-10-04 08:55] brybacki commented on #7078
#8513 was merged, It provides better error message. I think this might be enough to close current issue.

[2022-10-04 12:37] #7705 closed

[2022-10-04 15:12] rthallisey opened #8566 "KubeVirt v1 GA Release"
This issue captures the requirements to release KubeVirt V1 as GA.
When V1 GA is released it will be tagged as `v1.0.0`.

Post-v1 issues tracked in https://github.com/kubevirt/kubevirt/issues/10077

### Community
- [x] Reorganizing approver process - https://groups.google.com/g/kubevirt-dev/c/MeX_7QfMytc/m/qUx7AMhqAQAJ (@fabiand)
    - [x] ~https://github.com/kubevirt/kubevirt/pull/8858~
    - [x]

[2022-10-04 20:28] gclawes commented on #8347
Agreed.  This is what we chose to do in [metallb/metallb), the helm chart is released as a versioned artifact along with binaries/container images.  Software updates that require template changes have them as part of the release.

[2022-10-05 08:08] rhrazdil opened #8569 "network: passt requires unprivileged_port_start to be configured to 0 to ports 0-1023 to work"
**What happened**:
Due to the following issues in Passt:
- https://bugs.passt.top/show_bug.cgi?id=15
- https://bugs.passt.top/show_bug.cgi?id=18

We need to configure the sysctl option `unprivileged_port_start` to 0, because only providing the `CAP_NET_BIND_SERVICE`
doesn't work.

This configuration is being introduced in PR https://github.com/kubevirt/kubevirt/pull/8516
And should be removed once

[2022-10-05 08:09] rhrazdil commented on #8569
/sig network

[2022-10-05 14:25] larrydewey commented on #8547
This may be a good option for the Hacktober fest? I am inclined to agree that option 2 does seem to make the most sense at first glance.

[2022-10-05 14:26] brianmcarey commented on #8547
/label hacktoberfest

[2022-10-05 16:20] josueneo commented on #8387
I confirm this is fixed in v0.58.0-rc.0

[2022-10-05 18:06] nvinnakota10 commented on #8438
@usrbinkat, I am still stuck with the issue.  Can you please help me fixing this. I would like to know if there is any observation that I missed form the logs and how to fix the issue.

[2022-10-07 08:35] xpivarc commented on #8424
Hi @theVJagrawal ,
Thanks for the initiative and I apologize for the late reply I was attending the conference and got a little bit behind with notifications...

I have recently opened https://github.com/kubevirt/kubevirt/pull/8561 where we see couple of issues and I am in the process of understanding what are our options.

Would you be interesting in any other task?

[2022-10-07 13:39] #7633 closed

[2022-10-08 16:39] #7679 closed

[2022-10-08 16:39] #7723 closed

[2022-10-08 17:39] #7212 closed

[2022-10-09 09:39] #8549 closed

[2022-10-09 13:39] #7006 closed

[2022-10-10 07:29] joeevon opened #8577 "How to build docker image of kubevirt?"
Hello, i have met some cases that current release can not satisfy our situtation, and probably will not be supported in future. Because it is specially situtation in our business mode.
So, i have to modify code and build docker image.
But now, i do not know how to build image. May i have your help?

[2022-10-10 08:57] alicefr commented on #8577
hi @joeevon, it will be interesting to know what are the cases that kubevirt cannot satisfy.

Otherwise, we build the container image using bazel. You can see an example in [virt-launcher](https://github.com/kubevirt/kubevirt/blob/main/cmd/virt-launcher/BUILD.bazel#L169). You should be able to modify KubeVirt code and then run `make bazel-build-images`. This builds an imabe tarball and they aren't

[2022-10-10 09:16] joeevon commented on #8577
@alicefr thanks for reply so much.
first, the cases that kubevirt cannot satisfy:
1.vram of video is fixed at 16384 Bytes, which is not enough, it leads to the operation in vnc is not smooth;
2.we need to retain some resources(eg: ip, gpu) where vm is restarted or stopped, #8550 , but now it will released as pod completed or deleted.

i will try to build docker image according to your suggest.
tha

[2022-10-10 11:29] xpivarc commented on #6309
/reopen
/remove-lifecycle rotten

[2022-10-10 11:32] xpivarc commented on #7723
Hi @chinglinwen, is it still an issue? (newer release)

[2022-10-10 11:32] xpivarc commented on #7681
/reopen
/remove-lifecycle rotten

[2022-10-10 11:56] xpivarc commented on #7735
/reopen
/remove-lifecycle rotten

[2022-10-10 11:58] xpivarc commented on #7015
/reopen
/remove-lifecycle rotten

[2022-10-10 12:19] alicefr commented on #8577
@joeevon I know very less about 1. However, I'm really curious how you plan to solve 2. Do you plan to keep the virt-launcher pod running even if the VM is shut down?

[2022-10-10 13:03] joeevon commented on #8577
@alicefr We will test in that tack, do you have suggestion?

[2022-10-10 13:43] chinglinwen commented on #7723
@xpivarc  I haven't test the new release though, I have disabled these two feature config, it works fine as I don't use that feature yet

[code]

[2022-10-10 13:47] xpivarc commented on #7723
I would really appreciate it if you give it a spin. These features are meant to be on by default in close future.

[2022-10-10 14:08] chinglinwen commented on #7723
I've test with 0.54.0 as I current used version, when enable the VM, issue re-produced, it maybe the patch is not in  version 0.54.0 yet

if you could give me a patched virt-handler image 0.54.0, so that I could replace, I may give it another try.

[2022-10-10 14:58] xpivarc commented on #7723
@chinglinwen I will try to reproduce.
Is the disk block Datavolume? Can you share a definition of the Datavolume?

[2022-10-10 15:33] chinglinwen commented on #7723
@xpivarc here it is

[code]

[2022-10-10 15:36] chinglinwen commented on #7723
with vm, pv,pvc here: [vm.txt](https://github.com/kubevirt/kubevirt/files/9747250/vm.txt)

[2022-10-11 02:40] Longchuanzheng opened #8581 "Can't add spec.nodeSelector in vmi object."
**What happened**:
I want to select the target when migration vmi. Just like https://github.com/kubevirt/kubevirt/issues/7105 said, I try to edit or add `spec.nodeSelector` in VMI object, but update is restricted.

**What you expected to happen**:
add or update `spec.nodeSelector` in VMI object succeed
or someone can tell me how to select a target when migration vmi.

**How to reproduce it (as min

[2022-10-11 06:48] yuntianfeijing opened #8582 "Hotplug is invalid when kubelet param --root-dir is not /var/lib/kubelet/pods"
**What happened**:
Hotplug is invalid when kubelet param --root-dir is not /var/lib/kubelet/pods
my kubelet param --root-dir is /data/kubelet/pods

**What you expected to happen**:
when I set a Hotplug  volume to a vmi, I get the err:
{"component":"virt-handler","kind":"","level":"error","msg":"error occurred while checking if volume is mounted: Unable to determine virt-launcher UID","name":"vp-13

[2022-10-11 07:25] chenxinlong commented on #8507
@vladikr

Yes, windows guest treat rtc(real-time clock) as local time.  Besides, I think it's necessary to expose `localtime` offset option to satisfy variant requirements.

Finally I used a workaround to let windows guest aware that rtc is utc which described in https://fishilico.github.io/generic-config/windows/utc-clock.html

[2022-10-11 07:29] iholder101 opened #8583 "Add `kubevirt.io/ready` labels that would deprecate `kubevirt.io/schedulable` label"
**What happened**:
The `kubevirt.io/schedulable` is misleading and confusing since it doesn't really indicate whether the node is schedulable, but rather incidates if virt-handler is completely ready (device plugins initialized and connected, and so forth).

**What you expected to happen**:
We shouldn't use a label that says "schedulable" that doesn't really indicate if the node's schedulable or n

[2022-10-11 07:30] #8519 closed

[2022-10-11 07:53] phoracek commented on #7220
/remove-lifecycle rotten

[2022-10-11 08:12] David-Krupa commented on #8311
That’s great news. We are working on getting permission to do contributions
and I think we have some people starting off a fork so hopefully we can
help.

On Wed, Aug 31, 2022 at 9:28 AM Kat Morgan ***@***.***> wrote:

[2022-10-11 11:21] rmohr commented on #8544
/assign

Taking this for one of our engineers.

[2022-10-11 11:22] vasiliy-ul commented on #8582
A similar issue was raised some time ago https://github.com/kubevirt/kubevirt/issues/7978. Looks like there is already a PR to address that https://github.com/kubevirt/kubevirt/pull/8029

[2022-10-11 11:30] xpivarc commented on #8544
@rmohr I apologize for the late reply. I missed the notification. Thanks for taking this! I can't spot the difference between what our dependency does. Can you give me a hint?

[2022-10-11 11:36] rmohr commented on #8544
We right now open a file descriptor and then try to read the selinux label from it as if it were an ordinary file by taking the file descriptor path as filepath for `selinux.FileLabel`. This does not work on a small set of kernels (there seems to be a regression for some time, can't exactly say which kernels), but when using the filedescriptor with `unix.Fgetxattr`, reading the label always works.

[2022-10-12 02:25] fengye87 opened #8589 "virt-handler: error registering with device plugin manager"
**What happened**:
I tried to run the sample VM on a vanilla Kubernetes + KubeVirt cluster, and the launcher pod failed to be scheduled with the error `0/1 nodes are available: 1 Insufficient devices.kubevirt.io/kvm, 1 Insufficient devices.kubevirt.io/tun, 1 Insufficient devices.kubevirt.io/vhost-net, 1 node(s)  │
│ didn't match Pod's node affinity/selector. preemption: 0/1 nodes are available: 1

[2022-10-12 05:05] vasiliy-ul commented on #8589
I think this is the same issue as https://github.com/kubevirt/kubevirt/issues/8482#issuecomment-1250661010

Please try with e.g. Kubernetes `1.24`. `1.25` is known not to work with current KubeVirt. Or alternatively, you can wait for the `v0.58.0` which should come out pretty soon I guess.

[2022-10-12 06:21] fengye87 commented on #8589
@vasiliy-ul OK, I can confirm it works on 1.24 Kubernetes. I'm closing this issue. Thank you for the reply!

[2022-10-12 06:21] #8589 closed

[2022-10-12 09:29] lyarwood opened #8591 "instancetype: Fresh `ControllerRevisions` created for each `VirtualMachine` for the same revision of `VirtualMachineInstancetype` or `VirtualMachinePreference`"
**What happened**:

The instancetype API currently creates fresh `ControllerRevisions` for each `VirtualMachine` to contain a copy of any referenced `VirtualMachineInstancetype` or `VirtualMachinePreference`. As part of issue #8446 and PR #8466 we looked at using the `OwnerReferences` field instead to link `VirtualMachineSnapshots` and the resulting restored/cloned `VirtualMachines` to a single `C

[2022-10-12 09:29] lyarwood commented on #8591
/area instancetype

[2022-10-12 10:47] lyarwood commented on #8591
/area instancetype

[2022-10-12 14:25] usrbinkat commented on #8581
What I see here is that you define the `VirtualMachine` without any node selectors, and then attempt to update/patch the `VirtualMachineInstance` spec separately from the `VirtualMachine` spec.

Can you try updating/patching the `VirtualMachine` object instead of the `VirtualMachineInstance` object to add the `nodeSelector`? This should be allowable on the `VirtualMachine` object.

Note that you w

[2022-10-12 18:11] rmohr commented on #8555
/assign

taking it for one of our engineers.

[2022-10-13 02:32] chenxinlong opened #8595 "virt-operator apply installStrategy failed caused by rbac problem"
**What happened**:

I was build virt-operator from source code and push to my private registry by the following steps :

1. clone kubevirt source code
[code]
2.  set image registry
[code]
3. make
[code]
4. push to image registry
[code]
5. modify kubevirt-operator-0.54.yaml
[code]
6. apply kubevirt-operator.yaml and kubevirt-cr.yaml
[code]

All the steps were carried out smoothly,  but I can't see

[2022-10-13 10:23] #8595 closed

[2022-10-13 18:19] nvinnakota10 commented on #8482
Hi @vasiliy-ul, can you please confirm if the kubevirt release 0.58 works with kubernetes 1.25 as this will be the release planned in October. Also, can you please confirm when will the fix be available for using kubevirt with kubernetes 1.25.

Thanks

[2022-10-13 19:41] #7753 closed

[2022-10-13 19:55] #8544 closed

[2022-10-14 05:04] vasiliy-ul commented on #8482
@nvinnakota10, well, the fix for the device plugin issue is included in 0.58.0. AFAIK, KubeVirt is not yet tested against k8s 1.25 therefore its probably not 'officially' supported yet. But you can actually try it out as the new release is already available https://github.com/kubevirt/kubevirt/releases/tag/v0.58.0.

[2022-10-14 10:41] #7722 closed

[2022-10-14 11:26] Longchuanzheng commented on #8581
Thank you for your tip, I think this method can only work to select the targe for the first time migration.

In my test, when I add nodeSelector on `VirtualMachine` and migrate vmi, the `spec.nodeSelector` will add on vmi. When this migration finished, I try to change the nodeSelector  on `VirtualMachine`  and start another migration. The new virt-launcher pod for the vmi can't be scheduled succes

[2022-10-14 19:23] GOVYANSONG opened #8604 "pod virt-handler crashloopback"
mk8s@mk8smaster:~/.kube$ kubectl logs -n kubevirt virt-handler-67xqw -c virt-launcher
error: failed to get emulator capabilities
error: invalid argument: KVM is not supported by '/usr/libexec/qemu-kvm' on this host

the strange thing is that i can use virt-manager to create and run a windows 2019 server vm without any error.

[2022-10-14 22:21] GOVYANSONG commented on #8604
is there a configuration 'force' similar to CPU feature struct: https://github.com/kubevirt/kubevirt/blob/fb548357322782ff4d623db794f801703dabe8a6/staging/src/kubevirt.io/api/core/v1/schema.go

[2022-10-14 22:34] GOVYANSONG commented on #8604
mk8s@mk8smaster:~$ virt-host-validate qemu
  **QEMU: Checking for hardware virtualization                                 : FAIL (Only emulated CPUs are available, performance will be significantly limited)**
  QEMU: Checking if device /dev/vhost-net exists                             : PASS
  QEMU: Checking if device /dev/net/tun exists                               : PASS
  QEMU: Checking for cg

[2022-10-15 12:35] GOVYANSONG commented on #8604
#1 kvm failed

virt-install --virt-type kvm --name win2k19 --memory 4096 --vcpus 4 --disk size=8 --cdrom /mnt/e/virt/17763.737.190906-2324.rs5_release_svc_refresh_SERVER_EVAL_x64FRE_en-us_1.iso --os-variant win2k19
**ERROR    Host does not support domain type kvm for virtualization type 'hvm' arch 'x86_64'**

#2 qemu succeeded

s5_release_svc_refresh_SERVER_EVAL_x64FRE_en-us_1.iso --os-variant win

[2022-10-15 15:21] GOVYANSONG commented on #8604
furthermore, i run check script https://github.com/kubevirt/kubevirt/blob/099be903803556bfe3a85075a7b55f0a711d9ca7/cluster-up/check.sh and it returned:

[ OK ] found /dev/kvm
[ OK ] intel nested virtualization enabled

[2022-10-16 03:43] #7775 closed

[2022-10-17 05:13] mbrancato opened #8606 "Fix build / install via `go install`"
**What happened**:
With go 1.18:

[code]

**What you expected to happen**:
Build and install

**How to reproduce it (as minimally and precisely as possible)**:
`go install github.com/kubevirt/kubevirt@v0.58.0`

**Additional context**:
The reason I'm trying to install this was is because there is no ARM64 version of `virtctl`.

**Environment**:
- KubeVirt version (use `virtctl version`): v0.58.0
-

[2022-10-17 06:01] jyf2118 opened #8607 "Passthrough 2 nvme device from vfio_pci driver.when reset(bind origin then bind vfio again) one, node Allocatable cannot updated."
**What happened**:
Passthrough 2 nvme device from vfio_pci driver.when reset(bind origin then bind vfio again) one, node Allocatable cannot updated.

**What you expected to happen**:
Passthrough 2 nvme device from vfio_pci driver.when reset(bind origin then bind vfio again) one, node Allocatable can updated logically(2-->a)

**How to reproduce it (as minimally and precisely as possible)**:
1 - Pas

[2022-10-17 06:13] jyf-edited opened #8608 "Passthrough 1 device from vfio_pci driver.when reset(bind origin then bind vfio again) one, node Allocatable cannot updated."
**What happened**:
Passthrough 1 device from vfio_pci driver.when reset(bind origin then bind vfio again) one, node Allocatable and Capacity cannot updated.

**What you expected to happen**:
Passthrough 1 device from vfio_pci driver.when reset(bind origin then bind vfio again) one, node Allocatable  and Capacity  can updated logically(1-->0->1  both)

**How to reproduce it (as minimally and precis

[2022-10-17 09:43] #7781 closed

[2022-10-17 12:22] jean-edouard opened #8611 "Investigate using udev to catch new mdev-enabled GPU functions"
**Is your feature request related to a problem? Please describe**:
When mediated devices are configured in the KubeVirt CR, we currently check the sysfs periodically to see if new compatible PCI devices/functions were added (or bound to the right driver).
Using udev instead might allow us to get notified when such events occur, and lift the need for periodic checks.

[2022-10-17 12:39] xiaobo55x commented on #8066
/close

[2022-10-17 12:39] #8066 closed

[2022-10-17 16:52] xpivarc commented on #7980
It should be something like `kubectl -n kubevirt get configmap`

[2022-10-17 18:08] zedi-pramodh opened #8615 "virt-handler fails to start on alpine 3.16 k3s cluster"
**What happened**:
virt-handler does not start on alpine 3.16 k3s cluster

**What you expected to happen**:
I expect all pods of kubevirt started.

**How to reproduce it (as minimally and precisely as possible)**:

1) I installed k3s cluster on three nodes, one master and other two agents.
curl -sfL https://get.k3s.io | sh -

Pramod-node1:~/.kube# kubectl get nodes -o wide
NAME           STATUS

[2022-10-17 22:43] #8540 closed

[2022-10-17 22:52] zedi-pramodh commented on #8615
I tried to run that container manually

Pramod-node1:~# ctr run quay.io/kubevirt/virt-launcher:v0.58.0 testit
exec /usr/bin/virt-launcher: operation not permitted

Does that give any clue ?

[2022-10-18 06:31] alicefr commented on #8611
/cc @victortoso

[2022-10-18 06:31] alicefr commented on #8611
/cc

[2022-10-18 07:03] Longchuanzheng opened #8618 "Some problems about export feature"
I am doing some tests on Export API. I have some problems and hope to get help.
I create a VirtualMachineExport for a pvc just like this example, and want to download data with it.
[code]
Problems as follows:
### q1. why my VirtualMachineExport only have Internal links, how to make it generate external links.
I create a VirtualMachineExport but it only have Internal links.
![image](https://user-im

[2022-10-18 09:37] chenxinlong commented on #8496
@usrbinkat

Hi, how should I add label to GPU devices ?  Currently I let GPU device passthrough to guest, so there's no "GPU device"
 api resource in kubernetes.

[2022-10-18 11:41] alicefr commented on #8607
@jyf-edited I think this is similar to this old bug: https://github.com/kubevirt/kubevirt/issues/7084

[2022-10-18 17:47] nvinnakota10 commented on #8482
@vasiliy-ul, Thanks for the reply. Form your previous comment, it is clear that 0.58 has no official support for k8s 1.25. If that is the case can you please confirm if there will be any other release that will provide official support for k8s 1.25. Can you please let us know when can we expect the release that supports k8s 1.25.

[2022-10-18 23:46] mhenriks commented on #8618
Hi @Longchuanzheng yeah the documentation for export is a little too sparse right now.

The external links will be generated if there is an Ingress/Route resource referring to the `virt-exportproxy` service.

If you are using curl or similar to download the file, you should be able to simply copy the link, but make sure to specify `-H "x-kubevirt-export-token: <token value>"`.

To avoid using `--i

[2022-10-19 02:13] jyf-edited commented on #8607
check the code，fix the bug：
func (dpi *PCIDevicePlugin) healthCheck() error {
。。。
	// This way we don't have to mount /dev from the node
	devicePath := filepath.Join(dpi.deviceRoot, dpi.devicePath)

	// Start watching the files before we check for their existence to avoid races
	err = watcher.Add(devicePath)
	if err != nil {
		return fmt.Errorf("failed to add the device root path to the watcher: %

[2022-10-19 03:43] chenxinlong commented on #8615
https://github.com/kubevirt/kubevirt/issues/4303 See if this issue helps.

[2022-10-19 05:18] vasiliy-ul commented on #8482
TBH, I do not know. Currently, the PRs are not tested against 1.25. Maybe, @dhiller, can comment on that?

[2022-10-19 10:08] matthewei opened #8630 "Can't add OpenApi for kubevirt"
**What happened**:
when i add a type for kubevirt and i execut the command "make generage". i will return the following errors

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.

i will return some errors

**Environment**:
- KubeVirt version (use `virtctl version`): v0.58
- Kubernetes version (use `kubectl version`): v.23

[2022-10-19 14:27] usrbinkat commented on #8582
@yuntianfeijing seconding the comment above #8029 should have resolve this issue, please update when you are able to test that either from source or from the next release.

[2022-10-19 14:39] usrbinkat commented on #8606
Got the same error on macOS M1:
[code]

[2022-10-19 16:38] zedi-pramodh commented on #8615
@chenxinlong thank you for your response. Unfortunately I do not have apparmor on my system.

But one interesting observation:

Test version v0.58.0
Pramod-node1:~# ctr run quay.io/kubevirt/virt-launcher:v0.58.0  ver58
exec /usr/bin/virt-launcher: operation not permitted

Test latest version

Pramod-node1:~# ctr run quay.io/kubevirt/virt-launcher:latest ver_latest
{"component":"virt-launcher","lev

[2022-10-19 16:49] zedi-pramodh commented on #8615
oh latest seems to be very old version (2 years ago)
quay.io/kubevirt/virt-launcher:latest                                                                              sha256:39e24c9d49af6e205a656fd06e3e8469aa06079f625104213062da92e10c110c 229.8 MiB linux/amd64

So I am stuck with no clue. Is there a way to turn on debugging on v0.58.0 container to see what is going on ?

[2022-10-19 16:49] vasiliy-ul commented on #8615
@zedi-pramodh, the `latest` one is in fact a 2 years old image. You can check it in the registry https://quay.io/repository/kubevirt/virt-launcher?tab=tags&tag=latest

I also have the same behavior as you described on my alpine VM:

[code]

[2022-10-19 16:51] zedi-pramodh commented on #8615
Thanks @vasiliy-ul. But in one of the earlier email messages in the group  I believe you mentioned that alpine 3.16 and v0.58.0 KubeVirt worked for you. Now are you saying that it is failing ?

[2022-10-19 16:56] vasiliy-ul commented on #8615
I mean, it still works fine on my VM and on Kubernetes. But when running with `ctr`, it produces that error:  `operation not permitted`. In fact, if you run it with `--privileged`, I guess it should work on your side as well:

[code]

BTW, while experimenting with my setup, I figured out that alpine does not load `vhost_net` module by default. That was causing issues with launching a VM. Since I d

[2022-10-19 16:59] vasiliy-ul commented on #8615
In your particular case, `virt-launcher` init container fails when trying to get the hypervisor capabilities:
[code]
Could you also try to run that in privileged virt-launcher container (using ctr)? Maybe it will give some more output...

[2022-10-19 17:10] zedi-pramodh commented on #8615
@vasiliy-ul thanks. I loaded vhost_net and ran in privileged mode.

Pramod-node1:~/kubevirt# ctr run --rm -t --privileged quay.io/kubevirt/virt-launcher:v0.58.0 test
{"component":"virt-launcher","level":"info","msg":"Collected all requested hook sidecar sockets","pos":"manager.go:86","timestamp":"2022-10-19T17:02:05.400578Z"}
{"component":"virt-launcher","level":"info","msg":"Sorted all collected

[2022-10-19 17:13] vasiliy-ul commented on #8615
Could you also run
[code]

[2022-10-19 17:23] vasiliy-ul commented on #8615
no, polkit message is just a warning... but the output is weird. I expected either an error (smth like `KVM is not supported by '/usr/libexec/qemu-kvm' on this host`) or an XML-like output with domain caps...

[2022-10-19 17:26] vasiliy-ul commented on #8615
what if you run `/usr/libexec/qemu-kvm` ?

[2022-10-19 17:26] zedi-pramodh commented on #8615
No I did short cut the output, but will paste here again.

virsh domcapabilities --machine q35 --arch x86_64 --virttype kvm
Authorization not available. Check if polkit service is running or see debug message for more information.
<domainCapabilities>
  <path>/usr/libexec/qemu-kvm</path>
  <domain>kvm</domain>
  <machine>pc-q35-rhel8.6.0</machine>
  <arch>x86_64</arch>
  <vcpu max='710'/>
  <iothr

[2022-10-19 17:28] zedi-pramodh commented on #8615
bash-4.4# /usr/libexec/qemu-kvm
VNC server running on ::1:5900

One thing I noticed is

bash-4.4# sh -x  /usr/bin/node-labeller.sh
+ set -e
++ grep -w kvm /proc/misc
++ cut -f 1 '-d '
+ KVM_MINOR=232
+ VIRTTYPE=qemu
+ '[' '!' -e /dev/kvm ']'
+ '[' -e /dev/kvm ']'
+ chmod o+rw /dev/kvm
+ VIRTTYPE=kvm
+ '[' -e /dev/sev ']'
+ libvirtd -d
+ virsh domcapabilities --machine q35 --arch x86_64 --virttype

[2022-10-19 17:31] zedi-pramodh commented on #8615
I see /var/lib/kubevirt-node-labeller directory on my node but not in the virt-launcher container. Is that supposed to be mounted ?

[2022-10-19 18:03] vasiliy-ul commented on #8615
When `virt-launcher` is run as init container for `virt-handler` pod, additional directories are bind-mounted to the container. So when you use `ctr`, those are not available by default. In general, running a container with `ctr` is *not the same* as running it as part of a k8s pod. But for debugging issues, it should be fine.

[2022-10-19 18:09] zedi-pramodh commented on #8615
ok then I am clueless on why it is not working through k3s. with ctr I was able to run /usr/bin/node-labeller.sh and the xml files are generated. Also no issues in executing /usr/libexec/qemu-kvm !

[2022-10-19 19:24] zedi-pramodh commented on #8615
May be this helps to narrow down the issue.

ctr run --rm -t --privileged quay.io/kubevirt/virt-launcher:v0.58.0 test bash

bash-4.4# virsh version
Authorization not available. Check if polkit service is running or see debug message for more information.
Compiled against library: libvirt 8.0.0
Using library: libvirt 8.0.0
Using API: QEMU 8.0.0
error: failed to get the hypervisor version
error: int

[2022-10-19 19:28] alaypatel07 opened #8639 "Permission denied to run containerdisk binary if /var/lib/kubelet is mounted with noexec flag"
**What happened**:
1. Attempted to run a containerdisk vmi,
[code]
2. Failed with:
[code]
3. Upon digging more, this issue only surfaces for nodes with `/var` directory mounted with `noexec` flag. When virt-launcher pod is run on the such a node, the emptyDir will be bindmounted from `/var/lib/kubelet/pods...` location leading to this error.
[code]

4. To confirm the theory, ssh'ed into the node a

[2022-10-19 19:28] alaypatel07 commented on #8639
/cc @rthallisey @rmohr

/assign

[2022-10-19 19:44] zedi-pramodh commented on #8615
Looks like --privileged option to ctr is the root cause of this issue. Can I turn off privilege in yaml files when I apply KubeVirt ?

[2022-10-19 21:25] zedi-pramodh commented on #8615
Also I see selinux disabled on my alpine server.
Pramod-node1:~# getenforce
Disabled

Unable to set it though

Pramod-node1:~# setenforce 1
setenforce: SELinux is disabled

[2022-10-20 02:25] Longchuanzheng commented on #8618
Hi @mhenriks , thank you for you advices. I would appreciate further details about it. I haven't read the code, so the problem may be basic.

I try to use curl to download the file.

[code]
![image](https://user-images.githubusercontent.com/49519342/196841026-59e5d548-9325-49f1-892e-a7434f6b39b0.png)
but it seems we need to add something in /etc/hosts

![image](https://user-images.githubuserconten

[2022-10-20 08:29] maiqueb opened #8642 "k8s-1.25 - macvtap e2e tests failing"
**What happened**:
Macvtap tests fail on the k8s-1.25 network lane

**What you expected to happen**:
The tests should pass.

**How to reproduce it (as minimally and precisely as possible)**:
- start a kubevirt cluster w/ multus & macvtap deployed via CNAO
- run the macvtap e2e test suite.

**Additional context**:
This happens due to a bug in the device plugin registration order.

**Environment**:

[2022-10-20 08:31] chenxinlong opened #8643 "How to adjust resolution under vnc ?"
Since kubevirt hard code a `vga` video device with low vram(16MB) , so there's no way to to adjust resolution in windows vnc.

So I've tried 2 ways to fix this problem :

### 1. raise vram

raise `vram` from 16384 to 65536
[code]

After rebuild virt-launcher image, I ran a windows vm with newest virt-launcher image. According to the `virsh dumpxml <domain>` outputs I did change the vram to 65536.

[2022-10-20 08:39] maiqueb commented on #8642
/assign @maiqueb

[2022-10-20 10:08] maiqueb commented on #8642
Relevant PRs:
- [device-plugin-manager](https://github.com/kubevirt/device-plugin-manager/pull/21)
- [macvtap-cni](https://github.com/kubevirt/macvtap-cni/pull/82)
- CNAO - TBD

[2022-10-20 10:52] #7788 closed

[2022-10-20 14:52] #7792 closed

[2022-10-20 17:41] zedi-pramodh commented on #8615
@vasiliy-ul I am confused on selinux part. Sorry it could be a silly question but I am new to KubeVirt and Kubernetes world. Do I need to have SELinux enabled on my base Alpine OS for virt-launcher to start ?

k3s server was started with --allow-privileged=true, does that make any difference ?

[2022-10-20 18:36] gentoorax commented on #4950
Is this full GPU passthrough? As opposed to vGPU? I didn't know this was possible with KubeVirt.

[2022-10-21 08:16] vasiliy-ul commented on #8615
You do not need to explicitly enable selinux. KubeVirt should work fine without it.

KubeVirt requires that virt-handler pod runs privileged. It will not work otherwise. On my alpine VM I have k3s running with the default options and all is okay.

[2022-10-21 08:30] jyf-edited commented on #8607
i fix the issue

[2022-10-21 08:33] jyf-edited commented on #8608
fix it，closed

[2022-10-21 08:52] alicefr commented on #8607
@jyf-edited  could you please give more details in case anyone else encounter the same issue? If you fix it in the code, could you please open a PR?

[2022-10-21 09:00] kisahm commented on #8347
+1

[2022-10-21 10:39] deesejohn opened #8648 "Add virtctl install"
**Is your feature request related to a problem? Please describe**:
KubeVirt docs describe installing the operator and crds via manifests, manually verifying the components have deployed, and then separately installing virtctl matching the version. This requires a little work to automate.

**Describe the solution you'd like**:
It would be useful to do the opposite order, instead install the virtctl

[2022-10-21 10:53] #6144 closed

[2022-10-21 12:21] jbpratt commented on #2978
New github release feature should help with this https://github.blog/changelog/2022-10-21-explicitly-set-the-latest-release/

[2022-10-21 17:34] zedi-pramodh commented on #8615
@vasiliy-ul thanks for your help.  I started debugging my env and trying to dig deep to see where the failures are. I enabled libvirtd debug level and traced the failures when the "virsh domcapabilities" is executed.

On a working container (no privilege flag)

2022-10-21 16:49:09.464+0000: 15: debug : virFileCacheValidate:271 : Creating data for '/usr/libexec/qemu-kvm'
2022-10-21 16:49:09.465+000

[2022-10-21 22:38] zedi-pramodh commented on #8615
one update. Setting dac_override on the /usr/libexec/qemu-kvm fixed this issue.

setcap cap_dac_override=ep /usr/libexec/qemu-kvm

But why do I need to do that and moreover that binary is in the virt-handler container which I cannot change.
Is there a config setting for this issue ?

[2022-10-22 00:09] zedi-pramodh commented on #8615
BTW, I installed k3s and KubeVirt as root user, is that an issue ?

[2022-10-22 07:54] #6824 closed

[2022-10-22 09:55] #7334 closed

[2022-10-22 11:54] #7774 closed

[2022-10-22 11:57] maiqueb commented on #8642
@brianmcarey I've seen the 1.25 lane pass in [this execution](https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.25-sig-network/1583735069015543808); can we close this issue then ?

[2022-10-23 03:16] zedi-pramodh commented on #8615
@vasiliy-ul if you don't mind can you post the exact commands you ran on alpine to get KubeVirt running starting with k3s install. I really appreciate your help.

[2022-10-23 05:34] iholder-redhat commented on #8165
/remove-lifecycle stale

[2022-10-24 03:01] cszixin commented on #7626
yes, the problem still exists when i try with  qemu which does not  use hardware virtualization

[2022-10-24 08:47] vasiliy-ul commented on #8615
Is there a config setting for this issue ?

There is no config for that. Usually you do not need to setup those things.

Nope. Should be fine.

[code]

[2022-10-24 09:12] oshoval opened #8656 "[CI] [SR-IOV] - Failures about "Could not find available sriov PFs on host""
**What happened**:
A clear and concise description of what the bug is.
SR-IOV jobs fails lately a lot due to missing PFs.

https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/8605/pull-kubevirt-e2e-kind-1.22-sriov-nonroot/1582284078319669248#1:build-log.txt%3A1093

**What you expected to happen**:
The PFs should be available and the job should pass.
The under cloud CNI

[2022-10-24 15:50] maiqueb commented on #8642
We can always re-open if this is still an issue.

[2022-10-24 15:50] #8642 closed

[2022-10-24 17:33] shannonmitchell commented on #8311
Still having the same issue as the version is still on 1.17.8 .  Was looking to create an PR to increase this to 1.17.13 to at least get  rid of the security findings without the major upgrade changes when going to 1.18 or 1.19.  Following the update-go-version.md, it looks like push access is required for that build image to complete the PR.  Can that be requested somewhere, or does this have to

[2022-10-24 18:01] mhenriks commented on #8618
@Longchuanzheng you have to change the host part of the link when using `port-forward`.  For example:

Set up port forward

[code]

To curl the `internal` link `https://virt-export-export-test.default.svc/volumes/volume1/disk.img.gz`

[code]

or (with query param)

[code]

[2022-10-25 01:45] use-epoll opened #8659 "How can I create a full clone？"
There are times when I don't want to create a link clone for a mirror,How can I create a full clone

[2022-10-25 06:55] brianmcarey commented on #8642
Yes it looks good now - thanks for taking care of that!

[2022-10-25 07:04] lobshunter opened #8662 "VMI crashes under host with kernel 5.18+"
**What happened**:
Deploy a VMI with DataVolume, it crashed. Log of virt-launcher:
[code]

**What you expected to happen**:
No error.

**How to reproduce it (as minimally and precisely as possible)**:
Not sure about the root cause.

**Additional context**:
There are 3 versions of kernel runing on my kubernetes worker nodes. VMI works well with host kernel `4.18.0` but crashes on hosts with kernel

[2022-10-25 08:32] rmohr commented on #8656
I don't see a pod anti affinity on the sriov jobs. That is probably what you need, since even limiting the jobs to 1 may not be a solution for tide. Can that be?

[2022-10-25 08:36] rmohr commented on #8656
Oh, now I see it:

[code]

        but maybe double-checking it makes sense.

[2022-10-25 08:38] oshoval commented on #8656
Annotation and label are missing (we are checking if this is indeed the case)
this cause both missing PF (due to missing CNI call) and parallel execution
Suspect is that prow update conflict with tide
It seems it happens only when tide is the starter

Thanks

[2022-10-25 08:44] rmohr commented on #8656
Looks like a prow bump may have introduces a bug from prow. I would suggest reverting to a prow bump which worked and investigate the issue separately.

[2022-10-25 09:51] Longchuanzheng commented on #8618
Hi @mhenriks, I set port-forward (I think edit svc to Nodeport type have the same effect)

![image](https://user-images.githubusercontent.com/49519342/197741266-3df523cb-7279-4369-95ef-176750b3f844.png)

and download (> disk.img and -O have same effect)

![image](https://user-images.githubusercontent.com/49519342/197741282-890c88f6-c896-41b9-b950-abd4c0b57723.png)

The download seems complete but

[2022-10-25 15:23] zedi-pramodh commented on #8615
Thanks @vasiliy-ul  This is really puzzling me. I run exact same commands and it fails every time. At this point I think its something to do with the alpine servers I am using from equinix cloud.

If you don't mind can you please give the output of the following command.

Verifying binaries in /var/lib/rancher/k3s/data/ec00304416df58a8da2a883b1b87ab882b199ef11c4e01b28f07d643c8067d91/bin:
- sha256s

[2022-10-25 16:33] davidvossel commented on #8648
This is a neat idea. in the cluster-api (capi) community, `clusterctl` can install capi components using a similar concept.

I'd like to see a design of this feature, and for us to work through how certain paths are handled (like updates and removal). It might also be interesting to have cdi installed automatically as well as part of this tool since cdi is such an integral component to kubevirt no

[2022-10-25 16:46] mhenriks commented on #8618
@awels

[2022-10-25 16:49] vasiliy-ul commented on #8615
[code]

[2022-10-25 16:52] vasiliy-ul commented on #8615
I wonder: your alpine distro, did you install it yourself or was it pre-installed already on the servers?

[2022-10-25 17:16] zedi-pramodh commented on #8615
Its pre-installed on the servers. I have no control on that as far as I know. But I will see if I can pick and choose.

[2022-10-25 17:38] zedi-pramodh commented on #8615
Hmm I upgraded to

pramod-node1:~# uname -a
Linux pramod-node1 5.15.74-0-lts #1-Alpine SMP Sat, 15 Oct 2022 18:26:49 +0000 x86_64 Linux

Still see same issue. Only common thing is the physical hardware I am getting provisioned. May be will try with other models.

[2022-10-25 18:13] zedi-pramodh commented on #8615
Tried ubuntu and it works fine  on same hardware model.
Tried alpine on various models and still same issue. Got to be something in the way alpine OS is compiled for deployment on equinix servers, I have no clue  !!

[2022-10-26 01:48] jyf-edited commented on #8608
pkg/virt-handler/device-manager/pci_device.go
func (dpi *PCIDevicePlugin) healthCheck() error {
// This way we don't have to mount /dev from the node
devicePath := filepath.Join(dpi.deviceRoot, dpi.devicePath)

// Start watching the files before we check for their existence to avoid races
err = watcher.Add(devicePath)
if err != nil {
	return fmt.Errorf("failed to add the device root path to the wa

[2022-10-26 07:14] Shea-D commented on #7750
Can VMs be backed up with velero? I'm using velero and restic repository to backup, but partially failed with virt-launcher pod. After restoring from this backup, the VM's DVs were empty. But with the environment I can backup and restore pods with volumes.

[2022-10-26 07:20] nirarg commented on #8063
/remove-lifecycle stale

[2022-10-26 08:39] brybacki commented on #7750
@Shea-D  Yes VMs can be backed up with velero. this plugin helps with some edge cases. Please open a new Issue and describe your setup. CDI/KUBEVIRT version, velero version, restic or csi. That way we can check what is wrong.

[2022-10-26 08:41] brybacki commented on #7750
Regarding the original issue about the guest agent, the fix https://github.com/kubevirt/kubevirt/pull/8217 was merged and is available in kubevirt versions v0.57.0 and newer.

[2022-10-26 08:47] Shea-D opened #8672 "Velero backup failed with virt-launcher pod, vm's volume couldn't restore from this backup"
Can VMs be backed up with velero? I'm using velero and restic repository to backup, but partially failed with virt-launcher pod. After restoring from this backup, the VM's DVs were empty. But with the environment I can backup and restore pods with volumes.

_Originally posted by @Shea-D in https://github.com/kubevirt/kubevirt/issues/7750#issuecomment-1291600227_

[2022-10-26 09:32] Shea-D commented on #8672
**Description**
Here are some velero logs when I backup with KubeVirt VM's pod, the log level is info, but the msg looks like error? After restoring from this backup, the VM's DVs were empty, which should have iso and os.

Part of backup logs:
[code]
Part of restore logs, the last line looks like restoring pod failed?
[code]

This environment looks normal, I can backup and restore pods with volume

[2022-10-26 09:33] Shea-D commented on #7750
thanks for replying! I created a new issue, Is there anything else I need to provide?

[2022-10-26 11:35] vasiliy-ul commented on #8615
Interesting... Tricky issue. Honestly, I do not have new ideas. Just maybe you could try deploying [this operator](https://gist.github.com/vasiliy-ul/85e3f5fe548636227dafcbc451316b91)? It's the same KubeVirt, but the base container image and the packages come from another Linux distro (openSUSE). Just curious if it will change the picture somehow...

[2022-10-26 11:39] rmohr commented on #8302
[code]
I think the specified image is not correct

I think it misses the `@sha256` component. What you probably wanted to specify is

[code]

The patch examples have the same mistake I think.

[2022-10-26 11:43] rmohr commented on #8302
@kvaps this is an iteresting idea. How does `werf` think about CVEs? With one base image for all virt- components, due to the extensive amount of dependencies for `virt-launcher`, I would assume that  the likelyhood of being able to exploit a CVE increases if a huge amount of unnecessary dependencies are in the control-plane pods. Like right now `virt-api` for example is built on a distroless imag