[2019-02-14 21:18] SchSeba commented on #1634
This is still an important feature

/remove-lifecycle rotten

[2019-02-15 10:12] fromanirh commented on #1594
/remove-lifecycle rotten

[2019-02-15 10:12] fromanirh commented on #1594
fixed by https://github.com/kubevirt/kubevirt/pull/1840

[2019-02-15 10:12] #1594 closed

[2019-02-15 10:35] fromanirh commented on #2023
I volunteer to fix this issue

[2019-02-15 13:40] gites commented on #1940
Oh, I forgot that CDI guys decided to always do the volume resize. Sorry for your inconvenience.

[2019-02-15 13:40] #1940 closed

[2019-02-15 15:50] #1713 closed

[2019-02-16 10:10] SchSeba commented on #1282
We have tests for multus and also we have tests for the default network on kubernetes because flannel cni allow us to change the mac address.

[code]

[2019-02-16 10:10] #1282 closed

[2019-02-17 08:30] #922 closed

[2019-02-17 08:30] #933 closed

[2019-02-18 04:50] bharatnc opened #2031 "404 when using virtctl console to access VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I deployed a VM and tried to do `virtctl console <vm-name>`.

Got this error message:  `Can't connect to websocket (404): 404 page not found`

**What you expected to happen**:

Connect to the VM - serial terminal should open up.

**How to reproduce it (as minimally and precisely as possible)**:

Use this manifest and put it inot a

[2019-02-18 06:21] petrkotas commented on #2031
Hi @bharatnc, what was the status of the VM `kubectl get vm vm-name -o yaml` and `kubectl describe vm vm-name`?  Also was vm-name pod launched? The pod starts with virt-launcher... , what was in its logs? `kubectl log virt-launcher-vm-name -c compute`.

Thanks.

[2019-02-18 06:40] bharatnc commented on #2031
@petrkotas

[code]

[code]

[code]

No I am not seeing any pods, getting started. When I used to use Kubevirt, I used to observe that pods start, but not anymore.

aha, I see that my pods for virtapi are errored out:

[code]
virt-api pod has logged these errors:

[code]
virt-controller pod logs the following:

[code]

[2019-02-18 07:05] petrkotas commented on #2031
@bharatnc You can redeploy for newer version. But first try starting the VM. Just run `virtctl start testvm` and than check whether VMI appeared. `kubectl get vmi`. There should be one. Of VMI appears, this means virt-launcher pod should also appera and you can log into console.

[2019-02-18 07:22] bharatnc commented on #2031
Thanks! I'll try it out, and keep you posted!

[2019-02-18 07:54] cynepco3hahue commented on #2031
@bharatnc Before starting any VM's you need to be sure that every component under the `kubevirt` namespace has `Ready` state.
I see it fails to connect to API server, do you use proxy?

[2019-02-18 08:30] #1528 closed

[2019-02-18 10:50] rmohr commented on #925
/reopen

[2019-02-18 10:50] rmohr commented on #925
/remove-lifecycle rotten

[2019-02-18 10:52] rmohr commented on #965
/close

We pass through the schedulable condition and the ready condition now. That should be a good base set.

[2019-02-18 10:57] rmohr commented on #965
/reopen
/remove-lifecycle rotten

we still may want to have a readable reference in the status.

[2019-02-18 10:58] rmohr commented on #1696
I did not see the sidecar tests fail for some time now. Anyone else? @cynepco3hahue @davidvossel @slintes ?

[2019-02-18 11:03] slintes commented on #1696
@rmohr me neither

[2019-02-18 11:03] rmohr commented on #2012
I am not sure I want to see this rate-limiting in the handler. Setting up prometheus properly based on the expected workload is pretty common. People start with fast cycles and then lower the scrape period based on the monitoring results. If we add it it needs to be something like `x requests withing windows y`, to allow parallel scraping for prometheus HA.

[2019-02-18 11:37] cynepco3hahue commented on #1696
@rmohr same for me

[2019-02-18 12:03] rmohr commented on #1696
/close

[2019-02-18 12:03] #1696 closed

[2019-02-18 14:30] #1532 closed

[2019-02-18 22:37] davidvossel commented on #2012
we shouldn't depend on people to do the right thing here. If we open an interface, we should be defensive and protect it from abuse.

or a response cache that expire after a few seconds

[2019-02-18 22:58] rmohr commented on #2012
Probably. I think we can just make `MaxRequestsInFlight` and `Timeout` configurable: https://github.com/prometheus/client_golang/blob/cf7da0f4960ed3141a9b02fe3dae2d9d3e8f5641/prometheus/promhttp/http.go#L271 and set sane defaults and should be done.

That is against the general expectation of prometheus metric endpoints. See also for instance here: https://prometheus.io/docs/instrumenting/writing_

[2019-02-19 11:56] fromanirh opened #2034 "Relax the constraints on the pods per node on the local cluster (make cluster-up)"
/kind enhancement

**What happened**:
When using the development cluster (make cluster-up) any openshift provider, we have a hard limit on the number of pods per node. See
https://docs.openshift.com/container-platform/3.11/admin_guide/manage_nodes.html#admin-guide-max-pods-per-node for example. More proof:
[code]

I'm not sure this is computed from the number of cpu/cores on the machine running th

[2019-02-19 15:05] #1786 closed

[2019-02-19 15:35] cynepco3hahue commented on #2034
I think this issues must be part of kubevirtci repository.

[2019-02-19 15:43] #2034 closed

[2019-02-19 20:13] fabiand commented on #1928
@majorinche any updte?

[2019-02-19 21:14] sreichar opened #2036 "Not all references are valid in the API spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In the interfaces section of the 13.3 API (not sure about other versions) there are links to following which do not resolve.
- v1.interfaceBrdige
- v1.interfaceMasquerade
- v1.interfaceSlirp
- v1.interfaceSRIOV

**What you expected to happen**:

Learn about the object types definitions.

**How to reproduce it (as minimall

[2019-02-19 21:26] davidvossel commented on #2013
@mlsorensen what version of kubevirt is this?

@rmohr wasn't https://github.com/kubevirt/kubevirt/pull/1930 supposed to fix this?

[2019-02-20 01:06] majorinche commented on #1928
uninstall kubevirt, and reinstall version 0.11.1 fix the problem

[2019-02-20 06:55] bharatnc commented on #2031
@petrkotas and @cynepco3hahue , thanks, and yes there were two problems. one was that the deployments for `virtapi` and `virt-handler` weren't ready and the second one was that kube-proxy wasn't starting up properly with minikube. After an effort, just did `minikube delete` and `minikube start` and that fixed the issue.

Haven't yet tried using `virtctl console` into the VM yet, but will keep ya a

[2019-02-20 07:32] fabiand commented on #1928
Awesome, thanks.

Let us know if there is anything else

/close

On Wed, Feb 20, 2019 at 2:06 AM majorinche <notifications@github.com> wrote:

[2019-02-20 07:32] #1928 closed

[2019-02-20 07:44] fabiand commented on #1796
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1796 closed

[2019-02-20 07:44] fabiand commented on #1810
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1810 closed

[2019-02-20 07:44] fabiand commented on #1856
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1856 closed

[2019-02-20 07:44] fabiand commented on #1870
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1870 closed

[2019-02-20 07:44] fabiand commented on #1872
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1872 closed

[2019-02-20 07:44] fabiand commented on #1886
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1886 closed

[2019-02-20 07:44] #1887 closed

[2019-02-20 07:44] #1888 closed

[2019-02-20 07:44] fabiand commented on #1898
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1898 closed

[2019-02-20 07:44] fabiand commented on #1899
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1899 closed

[2019-02-20 07:44] fabiand commented on #1900
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1900 closed

[2019-02-20 07:44] fabiand commented on #1901
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1901 closed

[2019-02-20 07:44] fabiand commented on #1902
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1902 closed

[2019-02-20 07:44] fabiand commented on #1903
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1903 closed

[2019-02-20 07:44] fabiand commented on #1904
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1904 closed

[2019-02-20 07:44] fabiand commented on #1908
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:44] #1908 closed

[2019-02-20 07:45] fabiand commented on #1912
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:45] fabiand commented on #1911
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:45] #1912 closed

[2019-02-20 07:45] #1911 closed

[2019-02-20 07:45] fabiand commented on #1910
It's more than a few weeks old. Closing it now, it might get refiled though.

/close

[2019-02-20 07:45] #1910 closed

[2019-02-20 07:46] #1855 closed

[2019-02-20 07:48] fabiand commented on #1893
Is this still an issue @mareklibra ?

[2019-02-20 07:49] fabiand commented on #1917
@petrkotas if this is still an issue please open this issue.

/close

[2019-02-20 07:49] #1917 closed

[2019-02-20 07:52] fabiand commented on #1957
This should probably be a separate endpoint, as a convenient way to trigger migrations

[2019-02-20 07:53] fabiand commented on #1984
That bug is fixed, closing this issue as well for now.

/close

[2019-02-20 07:53] #1984 closed

[2019-02-20 07:55] fabiand commented on #1838
@qmfrederik do you have an idea what could be going wrong?

[2019-02-20 08:00] fabiand commented on #1768
/close

[2019-02-20 08:00] #1768 closed

[2019-02-20 08:01] fabiand commented on #1714
If this is still an issue please reopen.

/close

[2019-02-20 08:01] #1714 closed

[2019-02-20 08:01] fabiand commented on #1684
We'd love to fix it, but don't get to it atm.

[2019-02-20 08:03] fabiand commented on #1628
/close

[2019-02-20 08:03] #1628 closed

[2019-02-20 08:03] fabiand commented on #1618
Please retry with 0.14

/close

[2019-02-20 08:03] #1618 closed

[2019-02-20 08:04] fabiand commented on #1551
/close

[2019-02-20 08:04] #1551 closed

[2019-02-20 08:04] fabiand commented on #1546
/close

[2019-02-20 08:04] #1546 closed

[2019-02-20 08:05] fabiand commented on #1460
@cynepco3hahue are we still experienceing this?

if so, then plesa reopen.

/close

[2019-02-20 08:05] #1460 closed

[2019-02-20 08:07] fabiand commented on #1199
Closing this for now, please reopen if it's still an issue.

/close

[2019-02-20 08:07] #1199 closed

[2019-02-20 08:10] fabiand commented on #1837
Do we already have a ready condition? Wouldn't in that case `kubectl wait --for=condition=Ready … && virtctl vnc …` work?

[2019-02-20 08:11] fabiand commented on #1555
@petrkotas @davidvossel @rmohr is this still an issue?

[2019-02-20 08:12] fabiand commented on #1539
/close

[2019-02-20 08:12] #1539 closed

[2019-02-20 08:12] rmohr commented on #1837
@fabiand I like this. This allows going back to the `kubectl exec` behaviour. @booxter you were the main driving force for the wait. What do you think?

[2019-02-20 08:12] fabiand commented on #1538
/close

[2019-02-20 08:12] #1538 closed

[2019-02-20 08:13] rmohr commented on #1555
/close

Definitely not. We don't use informers there at all anymore.

[2019-02-20 08:13] #1555 closed

[2019-02-20 08:13] fabiand commented on #1316
@andrewwebber that's probably due to an "insecure" cpu configuration.

If /dev/kvm is not availale then softwaremulation needs to be used.

/close

[2019-02-20 08:13] #1316 closed

[2019-02-20 08:15] fabiand commented on #965
Would a simple `status.podName` be pargmatic enough?

[2019-02-20 08:34] cynepco3hahue commented on #1460
I did not see this error a lot of time, so it fine to close

[2019-02-20 08:40] rmohr commented on #2013
@davidvossel yep it should have. I introduced a new issue where the spec was only served the first time, so after the apiserver was running for some time and tried to re-load the spec it could not get it anymore.

[2019-02-20 09:47] rmohr opened #2038 "Drop Dockerfiles, now that bazel builds and publishes the images"
/kind enhancement

**What happened**:

Follow up of #1884. Bazel builds and publishes all images. The Dockerfiles have no use anymore and we don't want to maintain both places.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (u

[2019-02-20 09:54] rmohr opened #2039 "Some unit tests fail if they are run via bazel"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Follow of #1884. If I run the golang unit tests via `bazel test $(bazel query 'kind("go_test rule", //pkg/...)')`, the imageupload tests are failing.

**What you expected to happen**:

That I can run all unit tests via bazel.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2019-02-20 09:55] fabiand commented on #1460
/close

[2019-02-20 09:55] fabiand commented on #1460
Thanks!

[2019-02-20 11:57] #2013 closed

[2019-02-20 12:31] rmohr commented on #975
/reopen
/remove-lifecycle rotten

We still need to improve here.

[2019-02-20 12:36] rmohr commented on #1632
/rmove-lifecycle rotten

Will be fixe in #2027 .

[2019-02-20 12:36] rmohr commented on #1632
/remove-lifecycle rotten

[2019-02-20 14:29] davidvossel commented on #1963
There's a pr #2033 related to this here. it's part 1/3 to getting proper updates supported

[2019-02-20 23:34] bharatnc commented on #2031
@petrkotas  and @cynepco3hahue , I was able to virtctl vnc into the vm from my Linux machine, though wasn't able to reproduce the behavior in Mac yet.

[2019-02-21 06:22] bharatnc commented on #2031
Okay, `virtctl consle vnc` suddenly stopped workin again. All deployments - virt-api and vitr-handler and virt-controller are all fine, and the virt-launcher pod has been launched for the vm too!

Still throws a 404.

[2019-02-21 06:49] bharatnc commented on #2031
Pardon me, I was deploying kubevirt from master branch, so had to recompile `virtctl` using `go build`, verified this works now :) Thanks! Closing this issue for now.

[2019-02-21 06:49] #2031 closed

[2019-02-21 12:54] dollierp opened #2048 "Functional tests fail when a cluster doesn't have a node called "node01""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Ran the KubeVirt test suite (i.e: tests from tests/ folder in kubevirt repository) on a kubevirt cluster, providing a kubeconfig customized for it.

Several tests fail because they try to connect to a node called "node01" (hardcoded in `utils.go` and `vmi_configuration_test.go`) whereas the tested cluster nodes h

[2019-02-21 13:02] mmack opened #2049 "data does not contain any valid RSA or ECDSA certificates"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Fresh install of kubevirt on a coreos k8s cluster. Version 13 and 14.

**What you expected to happen**:
virt-api pods are ready

**How to reproduce it (as minimally and precisely as possible)**:
I don't know if this is related to coreos, seems like...

**Anything else we need to know?**:

**Environment**:
- KubeVirt versio

[2019-02-21 20:14] booxter commented on #1837
@rmohr I didn't know about ```kubectl wait``` back then. If I did, I would probably not suggest to reimplement it in ```virtctl``` (best code is no code). I dunno if it's ok to rip off the feature now though.

[2019-02-22 08:29] fabiand commented on #1837
It's not nice, but we are still an unstable project, thus I'm at least
fine in ripping it out. And maybe have a warning message for a couple
of releases to use kubectl wait for blocking mode.

[2019-02-22 21:48] rthallisey commented on #1638
Now that we have the kubevirt-operator, it might make sense for it to handle this since it falls under the jurisdiction of component orchestration.  We should coordinate on a design for this because orchestration is going to require good status reporting so both the CDI operator and the cluster-admin are aware that if DataVolumes are enabled, the operator will bubble up a message like "I'm waiting

[2019-02-22 22:12] booxter commented on #1837
@fabiand giving a useful message may be a good idea not just for several releases. We already dump an error in the console, so adding something that can actually be useful would be good too. (And it doesn't complicate the logic of the tool; comparing to pretty elaborate waiting mechanism that the current implementation has.)

[2019-02-25 08:04] mkoderer opened #2052 "Mixing sidecar versions leads to endless loop"
**BUG REPORT**:
/kind bug

**What happened**:

Mixing sidecare functions (`OnDefineDomain`and `PreCloudInitIso`) in one sidecare leads to an endless loop during VM / virt-launcher pod creation:

[code]

**What you expected to happen**:

New version `v1alpha2` is used also for `OnDefineDomain`

**How to reproduce it (as minimally and precisely as possible)**:

Add `PreCloudInitIso` to smbios exampl

[2019-02-25 08:09] mkoderer opened #2053 "Add sync mechanism for sidecars"
**FEATURE REQUEST**:

/kind enhancement

**What happened**:
Sidecar are not informed for annotation updates. E.g. the smbios example could react on annotation changes and change the libvirt xml accordingly.

**What you expected to happen**:

Enhance the hooks interface.

[2019-02-25 10:36] rmohr commented on #2049
@mmack could you run `kubectl delete secrets kubevirt-virt-api-certs` and delete all virt-api pods? They should re-create it and start again. It looks like a broken certificate landed in that secret. I wonder how.

[2019-02-25 13:38] fabiand commented on #1837
True (not just for several releases).

Recommeding to "VM is not up yet.\nUse kubectl wait --for condition=Ready
in order to wait for the VM to come up." or something along those lines.

[2019-02-25 22:00] markllama opened #2056 "Kubevirt won't run on current minikube: Missing /dev/vhost-net driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Attempting to run kubevirt on minikube
Starting a VM results in the VM hanging in the "Scheduling" state with the condition note:
    0/1 nodes are available: 1 Insufficient devices.kubevirt.io/vhost-net.

**What you expected to happen**:

testvm schedules and runs

**How to reproduce it (as minimally and precisely as po

[2019-02-25 22:15] karmab commented on #2056
the minikube vm which is used as node actually lacks the vhost-net module, which appears to have become a hard requirement now

[2019-02-26 07:00] lkpdn commented on #2056
IMHO it's not much harm adding `vhost-net` to minikube iso, at least with respect to iso size. The difference should be less than 100KB, while the size of minikube-v0.34.0.iso is about 185MB.
[code]

Just curious but what makes it a hard requirement?
In any case, setting `useEmulation` to true might be the quickest workaround.

[2019-02-26 08:47] karmab commented on #2056
you re right, with useEmulation, the vm boots fine.
opened https://github.com/kubernetes/minikube/pull/3758 with the proposed change in minikube iso

[2019-02-26 10:15] lkpdn commented on #2056
thanks!

[2019-02-27 09:03] SchSeba commented on #1498
This is still relevant

/lifecycle rotten

[2019-02-27 09:03] SchSeba commented on #1498
/lifecycle rotten

[2019-02-27 11:21] tareqalayan commented on #2048
https://github.com/kubevirt/kubevirt/pull/2054

@fabiand can u assign it to me

[2019-02-27 11:33] cynepco3hahue commented on #2048
@tareqalayan I think you can use
/assign tareqalayan

[2019-02-27 11:40] fabiand commented on #2053
@mkoderer thanks for the RFE is this something you - or somebody you know - could take care of?

[2019-02-27 15:57] lxs137 commented on #1893
I meet this problem in v0.14.0 too. If I connect-disconnect vnc client serval times, this bug can be reproduced definitely.

[2019-02-27 16:28] #2038 closed

[2019-02-27 16:40] MarSik commented on #1973
@fabiand It is not necessary but it makes sense. The operator really could make the deployment and configuration atomic. And even handle changes by restarting the right controllers for example.

[2019-02-27 18:57] mkoderer commented on #2053
@fabiand you can assigned it to me. I am already working on it.

[2019-02-27 20:42] dcritch commented on #2049
I'm getting the same error. I deleted the secret and deleted/recreated the pods but the error persists. Using openshift-intaller+libvirt

[2019-02-27 22:47] qinqon commented on #1867
Added a PR that print them just before starting the DHCP server.

[2019-02-28 08:43] cynepco3hahue commented on #2039
Hm problem that under the test we use
`imagePath    = "../../../vendor/kubevirt.io/containerized-data-importer/tests/images/cirros-qcow2.img"`
that does not exist under the bazel sandbox, I will need to check the way to pass additional data to the test.

[2019-02-28 09:50] qinqon opened #2064 "make cluster-sync not working with provider k8s-1.10.11"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running cluster-sync failes:

[code]

**What you expected to happen**:

cluster-sync to work as expected, maybe using different mechanism to wait for readiness

**How to reproduce it (as minimally and precisely as possible)**:
export KUBEVIRT_PROVIDER=k8s-1.10.11
make cluster-sync

**Anything else we need to know?**:
Als

[2019-02-28 11:32] #994 closed

[2019-03-01 08:00] #2064 closed

[2019-03-01 13:02] rmohr commented on #1893
Yes. Reproduced it. Logs of `virt-api` say

[code]

[2019-03-01 13:29] lxs137 commented on #1893
Probably because of the complex way to connect vnc (`virtctl -> kubectl -> apiserver -> vnc.sock`)?

Will you release any convenient vnc-connect tools?

[2019-03-01 13:43] fromanirh commented on #2012
Sounds like a good idea. How do you want this to be exposed? A command line option?
I volunteer to fix this.

[2019-03-01 14:00] #2039 closed

[2019-03-01 14:32] #1444 closed

[2019-03-03 11:33] #1487 closed

[2019-03-04 02:18] lkpdn commented on #1023
Hi,

is there any concrete plan for this? As this labeled "help wanted", I want to see if I can volunteer or not.
What I come up with is either or both of:
- (1). implement gRPC health checking protocol (https://github.com/grpc/grpc/blob/master/doc/health-checking.md)
- (2). as noted in https://github.com/kubevirt/kubevirt/issues/1023#issuecomment-420621848, add subcommand to virtctl in a similar

[2019-03-04 05:40] vladikr opened #2072 "Migration of VMIs with a non-migratable conditions are not rejected"
/kind bug
**What happened**:
In some cases, migrations of VMIs with a non-migratable condition is not being rejected.

[2019-03-04 09:08] #2048 closed

[2019-03-04 09:35] rmohr opened #2076 "VMIs with delegated IPs are stopped by the kubelet if kubelet is restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When connecting the VMI via `bridge` mode and IP delegation to the pod network, CNI status checks fail and as a consequence the kubelet stops all containers of that pod when the kubelet is restarted.

I checked it on k8s 1.10.4 and k8s 1.13.3. I *think* that the hint in the logs is this:

[code]

I did not try it with ov

[2019-03-04 09:36] rmohr commented on #2076
/cc @SchSeba @yuvalif @booxter @fabiand @davidvossel

[2019-03-04 10:42] SchSeba commented on #2076
/cc @dankenigsberg

[2019-03-04 10:54] dankenigsberg commented on #2076
/topic network
Can you set it, @SchSeba?

I'd appreciate if we can make `masquerade` our default, so that only people who cannot work behind NAT suffer from this bug.

[2019-03-04 10:58] phoracek commented on #2076
@rmohr thanks for reporting that, I will look into it.

[2019-03-04 13:13] fabiand commented on #1023
To me this feature is a dedicated pod/service which performns teh necessary checks, or collects them from other pods, and then provides one aggregated status.

It's _not_ only about the liveness check of a single pod itself.

[2019-03-04 13:41] lkpdn commented on #1023
I see, now I get why you mentioned OKD diagnostics while not for things like gRPC health checking.

[2019-03-04 13:59] fabiand commented on #1023
It would still be great to see a contribution in this area!
The great thing abotu this issue is thatit can start small, then grow.

[2019-03-04 14:04] alvaroaleman commented on #1793
Sidenote for future passersby: Instead of changing the client here we started to use the [dynamic client from controller-runtime](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/client#Client) that can work on any kind of resource, hence getting rid of the need of importing a typed client in the first place

[2019-03-04 15:49] davidvossel commented on #2076
This is proposing to change an API default to work around a bug. We can have that discussion, but we need to be clear on what this involves.

Changing an API default like this has the potential to impact more users than this bug. Since this would be an API breaking change, it would mean a bump in the API version. bumping the api version has a ripple effect across multiple projects. In addition to

[2019-03-04 15:53] davidvossel commented on #2076
also, it would be nice to know if this impacts crio or is isolated to docker.

[2019-03-04 16:06] #1247 closed

[2019-03-04 16:41] davidvossel commented on #2012
env var with a default of 1 request a second? @rmohr thoughts?

[2019-03-04 16:47] rmohr commented on #2012
Can we use a default of 3? env var which sets a command line parameter? We have multiple of those, e.g. pod name, node name, node IP.

[2019-03-04 16:50] davidvossel commented on #2012
sure, 3 is fine for now.

i was thinking we'd avoid the cli arg all together. i really don't care either way though

[2019-03-04 16:51] rmohr commented on #2012
I just find it easier to track what is configurable to look on defined flags, instead of grepping the code for os.env calls.

[2019-03-04 18:37] fromanirh commented on #2012
Fine for me. Will start work on this as soon as possible.

[2019-03-04 20:51] #2072 closed

[2019-03-05 01:28] lkpdn commented on #1023
will do! :smiley:

[2019-03-05 08:34] SchSeba commented on #1784
/remove-lifecycle stale

[2019-03-05 08:34] SchSeba commented on #1784
still very important issue

[2019-03-05 09:59] fabiand commented on #2053
@mkoderer can you try to comment with /assign to self-assign?

[2019-03-05 12:34] mkoderer commented on #2053
/assign

[2019-03-05 14:35] #1589 closed

[2019-03-05 14:44] jamesxia20181001 opened #2084 "What are the advantages and disadvantages of kubevirt compared with ranchervm and virtlet ?"
What are the advantages and disadvantages of kubevirt compared with ranchervm and virtlet ?

[2019-03-05 15:44] dankenigsberg commented on #2076
The current default disallows live migration. As such, I don't like it as a default regardless of this bug.
I'm not sure that this consists of an API breakage; it is a change of behavior. But clearly it is likely to break user expectations, and deserves careful considerations.

We should look for a workaround, as `bridge` is a valid use case for us, and it has to survive kubelet restart.

[2019-03-05 16:12] awels opened #2085 "cdi-http-import-server has nothing to do CDI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
The naming of the cdi-http-import-server is confusing as it really has nothing to do with cdi at all. Its an http server needed for a couple of tests to serve some files.

**What you expected to happen**:
The naming of the http server to reflect its purpose.

**How to reproduce it (as minimally and precisely as po

[2019-03-05 21:30] j-griffith opened #2087 "Unable to push images anywhere but localhost:5000 with bazel-push-images"
/kind bug

**What happened**:

I was trying to spin up the latest kubevirt to test live-migration against my multi-node cluster with a CSI backend.  I ran into some problems:
1. The environment variables have changed from DOCKER_PREFIX and DOCKER_TAG to CONTAINER_PREFIX and CONTAINER_TAG (I have not problem there, and am happy to update docs)
2. My images stored in Dockerhub were not being updated

[2019-03-06 07:44] cynepco3hahue commented on #2087
@j-griffith So do push to docker you need for example use format
`CONTAINER_PREFIX=index.docker.io/you_repository CONTAINER_TAG=latest make bazel-push-images`
And please be sure that you have credentials to do it, `builder` container mount the directory `$HOME/.docker`, so this directory must exist and should have `config.json` file with all relevant credentials.

You can try to push to quay with

[2019-03-06 07:45] cynepco3hahue commented on #2087
@j-griffith Ok update, with OCI pushing to the quay still does not work with the same error
[code]
Looks like quay still does not suport OCI version 2.

[2019-03-06 08:10] cherishzjx opened #2090 "Kubevirt will appear after deleting apiservice, and it will not be deleted, which will cause kube-service-catalog controller-manager-4fjdb to hang."
[root@master ~]# oc logs controller-manager-4fjdb -n kube-service-catalog
I0306 07:54:21.272619       1 feature_gate.go:194] feature gates: map[OriginatingIdentity:true]
I0306 07:54:21.272840       1 feature_gate.go:194] feature gates: map[OriginatingIdentity:true AsyncBindingOperations:true]
I0306 07:54:21.272872       1 feature_gate.go:194] feature gates: map[AsyncBindingOperations:true Namespac

[2019-03-06 08:17] cynepco3hahue commented on #2090
@cherishzjx Ok I have some remarks
- please use ``` to specify logs, it will make the whole issue more readable for example
[code]

- I do not see any error message regarding kubevirt under the log
- I believe it recreated because of the operator, so if you want to delete this `apiservice`, you will need to delete the kubevirt operator

[2019-03-06 08:26] cherishzjx commented on #2090
[root@master kubevirt0.14]# oc delete -f kubevirt-operator.yaml
customresourcedefinition.apiextensions.k8s.io "kubevirts.kubevirt.io" deleted
Error from server (Conflict): error when deleting "kubevirt-operator.yaml": Operation cannot be fulfilled on namespaces "kubevirt": The system is ensuring all content is removed from this namespace.  Upon completion, this namespace will automatically be purg

[2019-03-06 08:45] cynepco3hahue commented on #2090
@cherishzjx How did you install kubevirt?

[2019-03-06 08:51] cherishzjx commented on #2090
$ oc adm policy add-scc-to-user privileged -n kubevirt -z kubevirt-operator
$ export VERSION=v0.14.0
$ kubectl apply -f https://github.com/kubevirt/kubevirt/releases/download/$VERSION/kubevirt-operator.yaml
$ kubectl apply -f https://github.com/kubevirt/kubevirt/releases/download/$VERSION/kubevirt-cr.yaml

[2019-03-06 09:25] cynepco3hahue commented on #2090
@cherishzjx To delete you need to run commands in the reverse order
[code]
Let's try to restore your environment, can you show me
[code]

[2019-03-06 09:30] cherishzjx commented on #2090
[root@master kubevirt0.14]# oc -n kubevirt describe kv kubevirt
Name:         kubevirt
Namespace:    kubevirt
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"kubevirt.io/v1alpha3","kind":"KubeVirt","metadata":{"annotations":{},"name":"kubevirt","namespace":"kubevirt"},"spec":{"imagePullPolicy"...
API Version:  kubevirt.io/v1alpha3
Kind:         Ku

[2019-03-06 09:33] cynepco3hahue commented on #2090
@cherishzjx Ok can you manually delete finalizer from `kv` resource
`oc edit -n kubevirt kv kubevirt` and delete finalizer related lines, it should help to remove namespace

[2019-03-06 09:44] cherishzjx commented on #2090
Thank you very much, thank you, you can delete it.

[2019-03-06 09:48] cynepco3hahue commented on #2090
@cherishzjx Can I close the issue?

[2019-03-06 09:49] cherishzjx commented on #2090
ok

[2019-03-06 09:59] #2090 closed

[2019-03-06 13:16] #1867 closed

[2019-03-06 15:13] j-griffith commented on #2087
@cynepco3hahue

Unfortunately I tried that, the result is:

[code]
For reference using `docker.io` also results in errors (301 errors)

[code]

Finally, trying to use my self-signed cert registry, results in SSL errors (as already noted), and I don't know how this could work given the dependency on docker and /etc/docker/certs.d.

In other words, the only thing I can get to work is `localhost:5000

[2019-03-06 15:20] lxs137 opened #2092 "Pod Network Interface can not assign IPV4 Address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I want to use bridge network with virtio in my vm, my config is:
[code]
when I attach into virt-launcher container, `ip a` command show:
[code]
The `eth0` NIC is created by kubernetes pod network, but I found it hasn't assigned ipv4 address. When I found reason in source code, I found:
https://github.com/kubevirt/kubevirt/blob/6ae06

[2019-03-06 15:20] j-griffith opened #2093 "make cluster-up fails when KUBEVIRT_NUM_NODES is set to 3"
/kind bug

**What happened**:

I set `KUBEVIRT_NUM_NODES=3` and run `make cluster-up`, but provisioning of the third node fails

[code]

**What you expected to happen**:
I expected to have a 3 node cluster available

**How to reproduce it (as minimally and precisely as possible)**:
``` export KUBEVIRT_NUM_NODES=3 && make cluster-up```

[2019-03-06 16:39] SchSeba commented on #2092
Hi @lxs137 `vmNetworkCIDR` works with masquerade network type.

with the bridge interface type the ip from the pod is delegated to the virtual machine.

[2019-03-06 16:42] SchSeba commented on #2092
you can try to console into the vm using `virtctl console <vm-name>` and the ip address will be there in the `eth0`.

[2019-03-06 16:46] phoracek commented on #2076
The problem is: On the first setup, kubelet runs CNI, gets back IP of the pod, all is good. After that we move this IP address to VM. Next time kubelet starts, it tries to sync pods, calls CNI status method, no IP is returned (hello VM) and therefore it fails.

I tried to fool kubelet and it worked: I set an adress (1.2.3.4/32, yay) on eth0 of virt-launcher pod and the pod survived restart. Howeve

[2019-03-06 18:37] davidvossel commented on #2076
It's unclear to me if this method will mitigate the issue for all possible CNI plugins.  For example, when the CNI status method is called, what logic is being executed to return the status? Is that logic CNI plugin specific, or something generic?

[2019-03-06 18:44] phoracek commented on #2076
CNI has `ADD`, `DEL` and `CHECK` calls. `ADD` returns list of created interfaces with their name, IP, MAC.

`CHECK` takes configuration that was previously passed to `ADD` and result of `ADD`. `CHECK` should validate that current state of pod's network matches requested state.

My educated guess would be that kubelet fails on this check. I will try to investigate whether this is the case or if the

[2019-03-06 18:49] phoracek commented on #2076
Great, the check is done by kubelet, we know what to work around :) It just reads eth0 address and exposes it on the pod object. Therefore all we need to do is to create eth0 interface on the host and give it the IP. Thoughts @davidvossel? Sorry for the confusement in the previous comment.

https://github.com/kubernetes/kubernetes/blob/2d956389dc57fb1715d1832b2d22c042de59bd1d/pkg/kubelet/dockershi

[2019-03-06 19:35] phoracek commented on #2076
As @SchSeba pointed out offline, we can't really replace eth0 with a fake interface since it could in theory affect CNI `DEL` of some plugins.

If someone has running CRIO instance, could you please try to reproduce the bug? My laptop has troubles running cluster/os-3.11.0-crio.

[2019-03-06 20:09] slintes commented on #2087
Is there any chance that your attempt with `index.docker.io` was a temporary network hickup only? The error `Unable to find the server at index.docker.io` sounds a bit like it. And we are using `index.docker.io` e.g. on every PR merge on Travis, see https://github.com/kubevirt/kubevirt/blob/master/.travis.yml#L30

[2019-03-06 20:15] fabiand commented on #2076
Side note: IIUIC SLIRP would not be suffering this issue, Is this correct @phoracek ?

[2019-03-06 20:42] j-griffith commented on #2087
It's certainly possible, although I've run this multiple times at this point without success.  Maybe it's latency on my garbage ISP?  I can try and spin this up in my GCP instance and see what happens there.

[2019-03-06 21:48] j-griffith commented on #2087
Awesome!  So after @slintes suggestion I moved to a GCP instance and ran from there, it worked perfectly, multiple times.  So, I guess there's some sensitivity to latency or perhaps I completely broke my kubevirt build containers while trying to hack something up for self-signed certs?

Either way, seems like I should close this since there's wip for quay, and perhaps just add an enhancement reque

[2019-03-06 21:56] slintes commented on #2087
sounds like a plan to me

[2019-03-06 22:21] davidvossel commented on #2076
doesn't that assume that all CNI plugin CHECK functions only look for the IP of eth0? I'm not sure we can make that assumption.

[2019-03-07 04:58] lxs137 commented on #2092
THX. The `masquerade` network type is what I needed. Is this `masquerade` network has the
 same performance as `bridge` network?

[2019-03-07 09:11] rmohr commented on #2076
On Wed, Mar 6, 2019 at 11:21 PM David Vossel <notifications@github.com>
wrote:

Hm, I am not sure, but I think I saw the CHECKs from the CNI plugins
already failing all the time. Just on kubelet restarts, as Petr discovered,
the kubelet does this one-time-check again and because it can't determine
the IP it stops the pod. I think all CNI plugins always create eth0 by
default in k8s. That's the exp

[2019-03-07 11:00] phoracek commented on #2076
@davidvossel sorry for the confusion, I later found that it is not the CHECK what fails, it is code hardcoded in kubelet/dockershim. It looks for eth0 and reads its IP, so it is later exposed in the Pod state.

I'm not sure if the same check happens on CRIO (is dockershim under CRIO or a different branch?).

@rmohr I don't know whether the CHECK is used at all in Kubernetes, but if it is, moved IP

[2019-03-07 11:07] phoracek commented on #2076
@fabiand that's right, SLIRP and masquerade should not touch the IP address

[2019-03-07 12:01] SchSeba commented on #2092
Hi @lxs137

so the bridge network is just a l2 connection using a linux bridge and the masquerade user the same linux bridge but makes a nat entry for the communication.

The performance should be almost the same with masquerade.

One more think please take a look on the documents about masquerade.
For traffic to get into the VM you should configure the relevant ports in the vm spec yaml file.

[2019-03-07 12:33] lxs137 commented on #2092
THX

[2019-03-07 12:33] #2092 closed

[2019-03-07 12:51] SchSeba commented on #2092
@lxs137 no problem :)

If you find any performance issue please open an issue and I will take a look :)

[2019-03-07 16:03] phoracek opened #2098 "kvm, tun and vhost-net resources are not reported after kubelet restart"
/kind bug

**What happened**:

After `systemctl restart kubelet` (or `systemctl restart origin-node` on OpenShift), `kvm`, `tun` and `vhost-net` resources are reported empty.

**What you expected to happen**:

Those resource should keep their original value.

**How to reproduce it**:

Prepare the cluster:

[code]

List node resources:

[code]

[code]

Restart kubelet:

[code]

After a while, list

[2019-03-07 16:05] phoracek commented on #2098
@rmohr hit this one while debugging #2076

[2019-03-07 16:06] phoracek commented on #2098
@rmohr ah, sorry, failed finding the duplicate. Closing

[2019-03-07 16:06] #2098 closed

[2019-03-07 16:08] rmohr commented on #2098
@phoracek ha funny, I found #2076 while debugging #2068. :+1:

[2019-03-07 18:54] dankenigsberg commented on #2076
I bet @myakove or @duyanyan can help with that.

[2019-03-08 03:03] duyanyan commented on #2076
I tested on the OCP3.11(crio). I restarted the node service instead of restarting kubelet. I didn't meet the issue.
[code]

[2019-03-08 06:40] dankenigsberg commented on #2076
@duyanyan, could you also try killing the kubelet process on the host? At least for docker, that's where the relevant code is.

[2019-03-08 12:19] phoracek commented on #2076
@duyanyan thanks for testing it

Proposed fix: https://github.com/kubevirt/kubevirt/pull/2100

[2019-03-10 09:04] cynepco3hahue commented on #2093
@j-griffith I tried it with two different providers `k8s-1.10.11` and `k8s-1.11.0` and it works as expected.
Can you please show `docker inspect` of the container that stopped?

[2019-03-11 08:57] fabiand commented on #1044
/remove-lifecycle rotten

[2019-03-11 12:32] slintes commented on #1823
/remove-lifecycle stale

[2019-03-11 13:29] mmazur opened #2106 "virtctl missing after cluster up and sync"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug report

/kind bug

**What happened**: running `cluster/virtctl.sh` failed with missing file

**What you expected to happen**: That it worked

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

`make build` fixed it.

**Environment**:
- KubeVirt version (use `virtctl version`):
  - Client

[2019-03-11 19:29] mikejk8s opened #2108 "virt-handler metrics do not integrate any k8s VMI properties (labels, names, etc)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

/kind enhancement

**What happened**:

We're currently working on exposing the VMI metrics (cpu, mem, net, disk) that come from the virt-handler metrics endpoint. Right now these metrics come directly from the virt-handler pods and the only kubernetes identifiable information is "domain=$name-space_$pod-name" which is the libvirt doma

[2019-03-11 19:39] fabiand commented on #2108
@fromanirh something for you?

[2019-03-11 20:00] fromanirh commented on #2108
ack! will check this ASAP.

[2019-03-11 22:42] #725 closed

[2019-03-12 04:05] kunalkushwaha opened #2109 "High memory usage by each VMI pod."
/kind bug

**What happened**:
When a VMI is created, the total Memory consumption per VM is much more than it is allocated for VM.
Typically I saw the pattern as follows.
- `virt-launcher` consume around `1.2 GB` irrespective of memory allocated to VM
- `qemu` process running VM consume more than twice the memory allocated to VM

**What you expected to happen**:
- memory overhead should be reduced

[2019-03-12 07:55] majorinche opened #2110 "get the vmi status"
hello
    how can i custom define the output of oc get vmi
like following, we have 5 items: NAME,AGE,PHASE,IP and NODENAME, but i'd like to add more item.

[root@infra1 ~]# oc get vmi
NAME      AGE       PHASE     IP            NODENAME
ceshi     8m        Running   10.129.1.51   master1.sonic.com

in which code file i need to modify

thank you
majorin

[2019-03-12 11:34] rmohr commented on #2110
Hi @majorinche, what you see there is configured by us server-side. You can change it on your running deployment if you like. When updating KubeVirt you will always have to perform that custom step though. To add more fields, do something like this:

[code]

You can change this section so that it suits your needs:

[code]

You can solve this also purely on the client side: https://kubernetes.io/do

[2019-03-12 11:40] rmohr commented on #2109
Hi @kunalkushwaha can it be that this is only the virtual memory size? We had a similar report here: #1662. virt-launcher was consuming in reality about 3MB of memory but had virtual-memory of 1.7 gb.

[2019-03-12 11:44] rmohr commented on #2108
One side-note: We should not add the VMI labels to the prometheus labels. That would not be good for prometheus. Instead, clearly expose `node`, `name` and `namespace` (maybe `uid`). This would allow connecting the dots directly from prometheus. To integrate in the custom metrics api, this info can then be used to back-connect the metrics to the custom metrics api endpoint of the pod, so that it c

[2019-03-12 12:03] rmohr commented on #2106
/cc @cynepco3hahue

[2019-03-12 19:35] rmohr commented on #2093
And `docker logs`.

[2019-03-13 01:03] kunalkushwaha commented on #2109
@rmohr Yes you are correct, coulum 6 is rss and its much less.

Here is the problem I am facing.
- Have kube-node with 12 GB RAM
- With single VM of 1 GB in KubeVirt, I am just left with around 2 GB of Memory.
[code]

Problem arises if kubelet _Out Of Resource_ Handling is tweaked for VM workload and it gets triggered irrespective a actual usage. As `swap off` is configured for all nodes in kubern

[2019-03-13 01:14] majorinche commented on #2110
thanks for your advice, this do works for me

[2019-03-13 01:14] #2110 closed

[2019-03-13 02:31] renner-osi commented on #2076
Has any discussion been had around allowing the virt-launcher pods to pass the various CNI created interfaces into the virtual machine without interference?

In testing and use over last months we've seen https://github.com/kubevirt/kubevirt/pull/1534 and https://github.com/kubevirt/kubevirt/pull/1621 .

 I see above that some use cases depend on the bridge so maybe this is not desirable. My team

[2019-03-13 05:28] dankenigsberg commented on #2076
@booxter starting to work on that for sriov. I would like to do that also for bridges, by passing a tap device from qemu directly to the host bridge. We do not have immediate action items for that. If this is what you want, maybe you can file an issue about it.

[2019-03-13 05:50] cynepco3hahue commented on #2109
In the output of free,

   -

   *Free* memory is the amount of memory which is currently not used for
   anything. This number should be small, because memory which is not used is
   simply wasted.
   -

   *Available* memory is the amount of memory which is available for
   allocation to a new process or to existing processes.

So the output looks totally ok.

On Wed, Mar 13, 2019, 03:03 Kunal K

[2019-03-13 07:39] rmohr commented on #2109
@kunalkushwaha are you concerned that the VMIs will get evicted or did you see them getting evicted?

Maybe also this resource is helpful: https://kubevirt.io/user-guide/docs/latest/using-virtual-machines/overcommit.html.

[2019-03-13 07:40] rmohr commented on #2109
Did that happen with VMIs or did you face this in general?

[2019-03-13 07:43] rmohr commented on #2087
@j-griffith that seems to be mostly resolved? Is this now an enhancement request for self-signed certs on private registries?

[2019-03-13 17:10] karmab opened #2114 "ignition data not fully injected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
i deployed a fedora coreos vm with ignition data containing a pub key so i can connect to the vm but couldnt

**What you expected to happen**:
ignition data processed by the image

**How to reproduce it (as minimally and precisely as possible)**:
- enable ignition support by adding ExperimentalIgnitionSupport to the the f

[2019-03-13 18:22] karmab commented on #2114
i tried to replicate the existing test which uses fedora container disk and:
- injects ignition data
- set password of fedora
- check that /sys/firmware/qemu_fw_cfg contains the relevant artifacts

same exact procedure is failing on my env

[2019-03-13 18:56] karmab commented on #2114
seems to happen on ocp3.11 only, no issue with k8s... closing it

[2019-03-13 18:56] #2114 closed

[2019-03-14 04:32] kunalkushwaha commented on #2109
My running VMI was getting shutdown. I initially extended the memory by looking at `free` output. Later extended the Disk size also. Problem got fixed.
I tried to reproduce the issue, by just reducing ram size, and unable to reproduce currently.

while looking at this, I also found [one script](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/memory-available.sh) mentioned in k8

[2019-03-14 11:43] #1613 closed

[2019-03-15 10:43] #1014 closed

[2019-03-16 00:35] MarkusTeufelberger commented on #1498
/remove-lifecycle rotten

[2019-03-16 01:43] karmab commented on #1498
available since 0.15.0 so closing

[2019-03-16 01:43] #1498 closed

[2019-03-16 14:45] rmohr commented on #1610
/remove-lifecycle rotten

[2019-03-16 14:45] rmohr commented on #1610
/reopen

[2019-03-17 14:21] danielBelenky commented on #953
Hey, is this task still relevant? :thinking: Are we talking here on any arbitrary device that the users specify?

Can't this be achieved by specifying mounts to the virt-launcher pod and then to the VM itself?

[2019-03-17 14:51] SchSeba commented on #953
Hey @danielBelenky I think I can answer this questions

Yes we have two types of devices in this area.
1. network devices such as SR-IOV -> already implemented and supported in kubevirt.
2. Devices like GPU and other physical devices connected to the host.

From the kubernetes side you need some type of device plugin to allocate and release resources.

From kubevirt side we have the first part tha

[2019-03-18 08:13] fabiand commented on #1631
/remove-lifecycle stale

[2019-03-18 08:28] fabiand commented on #953
In rought strokes it is as Sebastian said.

1. Scheduler awareness to schedule the VM to the right nodes
2. Device alllocation to get the device to the pod
3. Passthrough of the device using ibvirt

In theory 1 and 2 are covered by device plugins and 3 by kubevirt. but
there are devils along the road: Device allocation might be tricky
depending on the device, passthrough imght require many privile

[2019-03-18 08:39] danielBelenky commented on #953
Ok, I'd like to give this issue a try if this is not an urgent one. Just note that I won't be able to do 100% on it. Is that ok?

[2019-03-18 13:29] #2106 closed

[2019-03-18 14:18] j-griffith commented on #2087
There have been a lot of really great updates to this flow; it's working great now, reliable and speedy.  Will open an enhancement for self-signed certs.  Thanks @rmohr and everyone!

[2019-03-18 14:18] #2087 closed

[2019-03-18 15:24] rmohr opened #2125 "Bazel downloads artifacts too often when switching branches"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

If I switch branches or only minmal changes are switched in the WORKSPACE file, it redownloads a lot. We can prevent that: https://groups.google.com/forum/#!topic/bazel-discuss/_otGfLuHN_Y.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2019-03-18 15:24] rmohr commented on #2125
/cc @cynepco3hahue FYI

[2019-03-18 15:28] rmohr commented on #2125
https://docs.bazel.build/versions/master/remote-caching.html#disk-cache

[2019-03-18 15:37] cynepco3hahue commented on #2125
@rmohr I think we mostly interested in
- https://docs.bazel.build/versions/master/command-line-reference.html#flag--repository_cache

[2019-03-18 20:40] davidvossel opened #2127 "make test after bazel changes not accurate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

'make test' with bazel returns cached results. Developers who are working on unit tests aren't receiving feedback that is accurate to the tests they are developing.

[2019-03-18 20:40] davidvossel commented on #2127
/cc @cynepco3hahue @rmohr

[2019-03-18 22:20] rmohr commented on #2127
@davidvossel could you post an example where it was not accurate? Bazel has a full view on all dependencies of tests. It should only rerun tests if "something" (no matter what, test dependency like an image, a single line of code) changes.

[2019-03-18 22:21] rmohr commented on #2127
I did some tests and everything looks correct to me.

[2019-03-18 22:29] rmohr commented on #2127
ok, see it. The issue seems to be that the tests are picked up by introspection by ginkgo, so no visible dependencies ...

[2019-03-18 23:09] rmohr commented on #2127
Ha, this is a funny issue. Got the reason: It happens when e.g. `dns_suite_test.go` in the `dns` directory is has `package dns` and a file with the actual tests like `resolver_test.go` is in package `dns_test`, or the other way round.

That is also the reason why goveralls does not pick up the tests. We have some test packages where everything is right, and some where we have an import mix. I will

[2019-03-19 09:33] #1837 closed

[2019-03-19 09:34] fabiand commented on #1646
@dankenigsberg @SchSeba @phoracek ping?

[2019-03-19 09:34] fabiand commented on #1634
@rmohr could you link this issue to your PR?

[2019-03-19 09:36] #1619 closed

[2019-03-19 09:36] fabiand commented on #1609
Closed by #1845

[2019-03-19 09:36] #1609 closed

[2019-03-19 09:40] fabiand commented on #1017
IPv6 can be delivered via additional networks, closing this as I did not see a strong push for this feature.

[2019-03-19 09:40] #1017 closed

[2019-03-19 09:40] rmohr commented on #1646
@greg-bock added cloud-init metadata support in #1923, that probably solves at least half of the issue. One would still have to specify the metadata per VMI, which might not be preferable.

[2019-03-19 09:41] rmohr commented on #1634
Done.

[2019-03-19 09:41] #1863 closed

[2019-03-19 11:38] pavolbrilla opened #2129 "kubevirt-test test job for kubevirt v0.15.0 on openshift4 failed during [BeforeSuite]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
kubevirt-tests failed to be deployed on ocp4 ( libvirt )

**What you expected to happen**:
Tests to be deployed and run.

**How to reproduce it (as minimally and precisely as possible)**:
Create ocp4 cluster ( openshift/installer v0.14.0 ) libvirt
Try to make and run tests

**Anything else we need to know?**:
In fact dep

[2019-03-19 11:50] rmohr commented on #2129
Hi @pavolbrilla yep, openshift 4 does not support local PVs. I think that's one of the reasons why @dollierp started adding support for reading different configs for our tests in #2116, so that the PVs can be replaced with PVs of a configured storage provider.

[2019-03-19 11:50] SchSeba commented on #1646
I think the combination of https://github.com/SchSeba/kubemacpool and @booxter PR https://github.com/kubevirt/kubevirt/pull/2115 can help here

[2019-03-19 12:15] rmohr commented on #2049
@davidvossel do you have any insights?

[2019-03-19 13:01] #2127 closed

[2019-03-19 20:42] davidvossel commented on #2049
whoa, this is strange. There's nothing about cert generation that should be related to the kubernetes version. This is all self contained within KubeVirt's virt-api component. I wouldn't expect it to be possible to get all the way to starting the TLS server if the certs weren't generated correctly. looking at the code this seems impossible unless the k8s secret was mutated somehow.

assuming this

[2019-03-20 13:46] slintes commented on #1348
/remove-lifecycle stale

[2019-03-20 14:53] davidvossel opened #2132 "unit test device manager data race condition"
/kind bug

**What happened**:

unit tests are failing due to a data race condition

[code]

[2019-03-20 14:54] davidvossel commented on #2132
@rmohr do you think this is related to #2068?

[2019-03-20 15:05] rmohr commented on #2132
@davidvossel probably. Never saw that though.

[2019-03-20 15:48] #2132 closed

[2019-03-22 04:46] lxs137 opened #2138 "Blocked when delete vmi by kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I want to delete a vmi by `kubectl delete vmi/<vmi-name>`, but this command has blocked. I found that virt-launcher pod has been deleted successfully, but the vmi's state is `Scheduled` and the vmi can never be deleted.

I check the logs of `kube-apiserver`, I found:
[code]
I found the code in https://github.com/kubevirt/kubevirt/bl

[2019-03-22 06:31] petrkotas commented on #2138
Hi, can you please also post logs from virt-api, virt-handler and virt-launcher?
Which vmi did you run / What OS did you run in the VM? Have you been able to log in to the VM before deleting it? What was the state of the cluster (kubectl get pods --all-namespaces)?

Thanks for the feedback.

[2019-03-22 12:10] lxs137 commented on #2138
@petrkotas
To solve this problem temporarily, I have to delete all pods in `kubevirt` namespace. Unfortunately, this bug is hard to reproduce, If I meet the bug next time, I will provide logs from virt-api, virt-handler and virt-launcher.

My VM is [android-x86](http://www.android-x86.org/), it is based on standard linux kernel, actually it works well when vm managed by ibvirt directly.

My androi

[2019-03-22 13:05] petrkotas commented on #2138
Thanks @lxs137 for keeping an eye on this.

[2019-03-22 20:29] booxter commented on #1646
@SchSeba the issue talks about IP address being different. Even if we retain MAC address, I think IP will still (potentially) change (unless CNI plugin makes MAC-to-IP mapping sticky).

[2019-03-24 06:49] SchSeba commented on #1646
Hi @booxter my comment was related to

For Ip address @gites can you try to use masquerade interface it should give you the same ip inside the vm every time.
the ip address of the pod will be different but if you have a service pointing to the vm it will be updated with the new pod.

[2019-03-24 10:05] #1611 closed

[2019-03-25 08:47] rmohr opened #2143 "Migrations don't take rangelimits into account"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If a migration is triggered and the default rangelimits have changed for a namespace, we may produce a pod which requests a different amount of cpu and memory.

**What you expected to happen**:

We should apply default rangelimits in virt-api on VMI creation for CPU and memory. Guest overhead should in the appropriated c

[2019-03-25 08:47] rmohr commented on #2143
@ahadas @vladikr FYI

[2019-03-25 08:52] rmohr commented on #2138
@lxs137 did you have running VMIs and updated from e.g. kubevirt 1.13 to 1.14? If yes, we right now  don't support updates with running VMIs. Maybe you had a newer virt-controller and an older virt-api running?

Yes that should work for as long as all kubevirt components are on the same version.

[2019-03-25 08:53] rmohr commented on #2138
/kind bug

[2019-03-25 10:34] slintes commented on #1638
/remove-lifecycle rotten
/reopen

[2019-03-25 14:07] nitkon opened #2144 "Enhancement: kubevirt on ppc64le"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

I am trying to enable Kubevirt on ppc64le arch(nested VM not supported).

**What you expected to happen**:
Successfully deploy a VM in a K8s cluster via Kubevirt

**How to reproduce it (as minimally and precisely as possible)**:

1. Get a working kubeadm cluster(1 master + 1 worker bare metal) on ppc64le
2. Set e

[2019-03-25 14:36] nitkon commented on #2144
cc @rmohr @cynepco3hahue

[2019-03-25 14:42] lkpdn commented on #2056
@mareklibra seems that we can close this ;)

[2019-03-25 15:24] rmohr commented on #2144
/cc @fabiand

[2019-03-25 15:45] Siddhantrao commented on #2002
I would like to work on this , Is there anything you would like me to keep in mind before I start?

[2019-03-25 20:23] #2056 closed

[2019-03-25 20:54] fabiand commented on #2002
@slintes is the one who can give some guidance here.

I still have the impression that we want to improve the naming a bit, maybe looking at how other projects named their CRs, operators, and namespaces.

[2019-03-26 08:56] slintes commented on #2002
well, tbh, I'm unsure what to do exactly about the name. Let me try to explain.
This is the relevant part of our current CRD:
[code]
There are some conventions:
- `metadata.name` must match `<spec.names.plural>.<spec.group>`
- `spec.names.kind` normally is CamelCased `spec.name.singular`

So, if you want to change the name to e.g. `application.kubevirt.io`, the singular name would be `application`

[2019-03-26 12:28] #1631 closed

[2019-03-26 12:34] fabiand commented on #1631
WOOT!!!

[2019-03-27 19:14] jtaleric opened #2155 "Copy vm serial buffer to container console buffer"
Feature request

/kind enhancement

**What happened**:
Copy VM serial console output to Container console.

**What you expected to happen**:

`$ kubectl logs <container>`

This would allow users to simply use `kubectl` to capture log output sent to the vm serial console.

[2019-03-27 20:29] booxter commented on #2155
One thing to consider here is whether it's always safe to dump guest console to kube logs. It may be that there are secrets in guest console; and that copying them to kube logs exposes them to previously unauthorized users. Secrets may be part of expected boot logs; but they may also belong to interactive getty session running on serial console.

[2019-03-27 20:34] kfox1111 commented on #2155
not without risk, yeah. But in general I think very beneficial.

[2019-03-28 03:50] volume-ji opened #2156 "it not works that cloud-init config ssh-authorized-keys"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/bug

**What happened**:
  I test the function of cloudinit nocloud by referring to the document: https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/startup-scripts.html, it looks like that it not works when I config the cloudInitNoCloud.userData.ssh-authorized-keys and cloudInitNoCloud.userData.ssh_authorized_keys. but it works that

[2019-03-28 05:51] volume-ji commented on #2156
it is my wrong, wrong config

[2019-03-28 05:51] #2156 closed

[2019-03-28 05:51] volume-ji commented on #2156
- name: cloudinitdisk
    cloudInitNoCloud:
      userData: |-
        #cloud-config
        password: 112233jy
        chpasswd: { expire: False }
        ssh_authorized_keys:
          - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCaJEcFDXEK2ZbX0ZLS1EIYFZRbDAcRfuVjpstSc0De8+sV1aiu+dePxdkuDRwqFtCyk6dEZkssjOkBXtri00MECLkir6FcH3kKOJtbJ6vy3uaJc9w1ERo+wyl6SkAh/+JTJkp7QRXj8oylW5E20LsbnA/dIwWzAF51PPwF7A7FtNg

[2019-03-28 09:33] dollierp opened #2158 "tests: WipeTestingInfrastructure() doesn't properly clean nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After running KubeVirt functional tests with `--deploy-testing-infra` flag, we can observe some leftovers in the cluster:

- cdi-http-import-server replicaset and pod
- disks-images-provider pods
- ...

**What you expected to happen**:

All the resources which are created by DeployTestingInfrastructure() function in `tes

[2019-03-28 09:49] fabiand commented on #961
Closing this in favor of the milestone

/close

[2019-03-28 09:49] #961 closed

[2019-03-28 12:51] jtaleric commented on #2155
Could this be mitigated by looking for keywords and ignoring those lines?

The user can access the container running the VM, but not the VM itself? Not sure how RBAC works in kube that well, but that would seem like a gap -- Allowing a user who cannot access the VM, access the container (in any capacity) running the VM.

[2019-03-28 15:03] gageorsburn opened #2161 "Sanitize volume name when copying to container name"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The volume name gets copied over into the pod name. If the volume name isn't lowercase the pod will fail to schedule.

**What you expected to happen**:
KubeVirt to automatically strings.ToLower on the volume name so that the pod gets scheduled even if I have uppercase characters in volume name.

**How to reproduce it (as m

[2019-03-28 15:18] #2052 closed

[2019-03-28 15:51] rmohr commented on #2161
I think the issue was that the volume name for `containerDisk` is mapped to the container name of  the container disk, right?

I think it is an error that we pass through the volume name here. Instead we should rely on the following:

 * The disk order is fixed
 * Based on that we can use an internal naming  schema and still identify the container, if needed.
 * Right now we only need to add them

[2019-03-28 18:30] booxter commented on #2155
This is prone to errors, isn't it? Your filters are guest specific and could break at any minor change in output. And I would be very hesitant to copy interactive session I/O to logs (for security reasons but also because the amount of the output may be unexpectedly large, depending on the guest.) Is there any need to see console output that is NOT boot messages?

You may be right. I don't know ei

[2019-03-29 00:29] jtaleric commented on #2155
By boot messages, this would include cloudinit output? If so, I think that should suffice...

[2019-03-29 03:52] volume-ji commented on #413
1. vmpod restartPolicy support: Never, OnFailure, Always. (container restart, I mean container uuid change, vmpod uuid not change)
2. virt-controller as a controller, should restart vmpod(is pod other than container) when vmpod is deleted(pod uuid change), like rc/rs control pod.
3. kubectl get vmi -o wide. list too few columns "NAME AGE", we can not look any information about vmpod unless using k

[2019-03-29 03:56] volume-ji commented on #413
vmirs is a controller to control vmi, it is not same with vmi to control vmpod, it is not yet same with pod  to manage container.

[2019-03-29 09:34] dkusidlo opened #2163 "VM using Multus with DHCP not able to renew lease"
/kind bug

/topic network

**What happened**:

Renewing the acquired lease for a VM using Multus with Bridge CNI IPAM DHCP from an external DHCP server fails. VM and server exchange information correctly, but DHCP-daemon bringing interface down.

- Without Kubevirt a simple pod with the same annotation Multus/bridge/dhcp is able to renew its lease.
- Static IPAM works fine.

**What you expected to

[2019-03-29 15:07] #1584 closed

[2019-03-29 19:39] booxter commented on #2163
@SchSeba is it the use case where we just don't need the internal DHCP server and should pass the pod interface directly to the guest?

[2019-03-29 19:39] booxter commented on #2155
Yes I mean everything till getty is started.

[2019-03-29 19:42] booxter commented on #953
We should not necessarily need lots of privileges if we use e.g. VFIO and we pre-configure the devices on boot / deployment, so that we can avoid giving privileges to the launcher pod (the same plan we'd like to implement for SR-IOV).

[2019-03-31 08:57] SchSeba commented on #2163
Hi @dkusidlo

The dhcp option in cni is good for pod (they cant request for renew its lease) but when you use a vm using kubevirt the virtual machine have the ability to request the renew itself.

can you please try something like this
network attachment CRD for the bridge to be connected to virtual machines
[code]

Use this CRD for your virtual machines.
This way the virtual machine will request

[2019-04-01 10:28] fabiand commented on #2002
Hm.
Thanks for the explanation @slintes

TBH I don#t see how we can make it better, and I also don't see that other projects have neat ideas.
Thus I think we can close this

Sorry @Siddhantrao

[2019-04-01 10:28] #2002 closed

[2019-04-01 15:28] dkusidlo commented on #2163
Hi @SchSeba

yes, this works fine. Thanks a lot!

I saw your [PR](https://github.com/containernetworking/plugins/pull/195) for the L2 bridge implementation and already tested `"ipam": {}`. Just didn't expect it not to be in v0.7.5, so it didn't work.

[2019-04-01 15:28] #2163 closed

[2019-04-01 15:50] #2016 closed

[2019-04-01 17:07] SchSeba commented on #2163
@dkusidlo good to ear everything works as expected now.

I am working with the maintainers of the containernetworking repo to get a release with this PR.

btw I saw that you configured a `bond0.55` for vlan, there is another [PR](https://github.com/containernetworking/plugins/pull/231) waiting to be merge.

With this PR you will be able to connect the bridge to interface `bond0` and then move the

[2019-04-03 02:21] volume-ji opened #2167 "secret/configmap volume is failure beacuse of defining domain error."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
create vmi using configmap/secret volume by the direct of document "https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#containerDisk"， qemu process is not OK, check that there are some loop error logs in vmpod/compute container as follow and finally vmpod get a Error state:
[code]
but I can f

[2019-04-03 02:25] volume-ji commented on #2167
additional:
[code]

[2019-04-03 08:13] dollierp commented on #2158
@slintes, @rmohr could you have a look at this issue and give me some directions about the best way to fix it?

[2019-04-03 11:30] slintes commented on #2167
Hi @volume-ji, thanks for the detailed report! On a quick look I don't see an obvious reason for this error, neither in your manifests nor in the code. Need to dig deeper into it later on. Will post an update as soon as I know more.

[2019-04-04 00:56] volume-ji commented on #2167
I test the same scene in my other PC, it worked. I just want to make a report about kubevirt, it does not matter. close the issue

[2019-04-04 00:56] #2167 closed

[2019-04-04 12:30] fromanirh opened #2172 "enforce dependency between qemu features"
/kind bug

**What happened**:
Some hyperv features depend on each other (see https://schd.ws/hosted_files/devconfcz2019/cf/vkuznets_enlightening_kvm_devconf2019.pdf for full reference), yet neither libvirt nor qemu enforce this dependency chain.
For example, `vpindex` is required for `synic`, `ipi`. Bu tif the user is not aware, or forgot to enable it and yet it requires `synic`, the VM won't boot

[2019-04-04 17:41] jeremyrogers opened #2173 "Can't get console on running VM OpenShift"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I stood up kubevirt on a small OpenShift cluster, and applied a VirtualMachine and then started it with `virtctl start cirros` (manifests are down below).

When running `virtctl console cirros`, I get the output:
[code]

Then my shell hangs, and I can only hit the escape sequence to get out. In the API logs, there is this

[2019-04-05 15:36] petrkotas commented on #2173
Hi @jeremyrogers,
thanks for reporting this issue.

Can you please also try virsh console in the pod?
[code]
this should fail with some error or connect. If some, what is the error?

There is one thing that can cause troubles in your VM. The namespace. You are running vm in KubeVirt private namespace `kubevirt`.

It will cause issues when you run `virctl console cirros` which will look into namesp

[2019-04-05 15:45] petrkotas commented on #2173
Openshift cluster just spinned up. I have tried your VM and I can connect to console without any issue.
I have moved the VM to default namespace though.

Looking forward for your feedback.

[2019-04-05 18:39] jeremyrogers commented on #2173
Thanks for the reply.

Here's the output from the `virsh` commands from inside the pod:

[code]

I tried `virtctl console --namespace kubevirt cirros`, but saw the same behavior. I don't think that's a namespacing issue. it seems like virtctl uses my current kube context, since if I switch my context's namespace (such as running `oc project default`), and then run `virtctl console cirros`, I get t

[2019-04-08 08:12] rmohr commented on #1153
/remove-lifecycle stale

[2019-04-08 10:36] petrkotas commented on #2173
@jeremyrogers thank you for your help. Can you please provide logs from apiserver from kube-system, virt-api server (both) from kubevirt namespace and from virt-controller from kubevirt namespace?

Would it be possible for you to disable selinux for one run? I am curious whether it is not blocked by it.

Thank you.

[2019-04-08 18:02] booxter commented on #1493
/remove-lifecycle rotten

[2019-04-09 13:08] rmohr commented on #1893
Fixed in #2171

[2019-04-09 13:08] #1893 closed

[2019-04-09 14:09] jeremyrogers commented on #2173
Also, for what it's worth, I downgraded kubevirt and virtctl to 0.14.0 and this did not fix the problem

[2019-04-09 14:40] slintes opened #2180 "client-ca-file not available on all clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
When installing KubeVirt on EKS, `virt-api` fails with `panic: client-ca-file value not found in auth config map.`

**What you expected to happen**:
`virt-api` starts

**How to reproduce it (as minimally and precisely as possible)**:
Install KubeVirt on EKS or any other cluster, which doesn't provide `client-ca-fi

[2019-04-10 12:08] #2023 closed

[2019-04-10 18:21] fabiand commented on #1777
/remove-lifecycle rotten

[2019-04-11 11:36] #2158 closed

[2019-04-12 13:24] Bashorsselenberg opened #2184 "cdi image upload pod doesn't start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I run the Kubevirt demo's on my systems and it works good with the Cirros-VM. Now, i want to run bigger virtual machines. I want to run my own virtual machines from my regular KVM hypervisor (seperated environment) on Kubevirt. So i installed a Centos7 VM on KVM and copied the .qcow2 file to the Kubernetes cluster running

[2019-04-12 17:13] pastukhov commented on #1126
I faced same issue.
I have ```--proxy-client-cert-file```, ```--proxy-client-key-file`` and ``extension-apiserver-authentication``` configmap  in ```kube-system``` namespace,
but i'm getting
```{"component":"virt-api","contentLength":28,"level":"info","method":"GET","pos":"filter.go:46","proto":"HTTP/1.1","remoteAddress":"10.219.98.129","statusCode":401,"timestamp":"2019-04-12T17:01:32.166110Z","u

[2019-04-15 08:22] rmohr commented on #1126
Hi @pastukhov could you run `virtcl version` and post the result here? Are you using an on-premis cluster, or did you set it up yourself?

[2019-04-15 08:33] pastukhov commented on #1126
[code]
I'm using kubernetes cluster on bare metal bootstrapped with kubespray:
[code]
I have many other api extensions that working well

[2019-04-15 08:55] petrkotas commented on #2173
This is really weird. The errors you can see in the logs, are not fatal. They are present because of connection switching. They should not be there, but are not responsible for hanging console.

The issue seems to be in the VM, since it hangs even on the direct socket connection via `sock-connector`.

What is really weird, is that the issue is persistent across different set ups. Sorry for not ask

[2019-04-16 19:03] rmohr commented on #2184
@awels @aglitke maybe you can explain what @Bashorsselenberg is seeing?

[2019-04-16 19:44] aneeshkp opened #2191 "Kubevirt operator CSV file missing few required fields."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I ran operator-courier to verify OLM bundle and the validation failed for missing required fields in CSV file.
[code]
Resulting bundle is invalid, input yaml is improperly defined.

**What you expected to happen**:
operator-courier to verify and pass all the validation resulting valid OLM bundle.

**How to reproduce it (

[2019-04-16 20:03] awels commented on #2184
@rmohr and @Bashorsselenberg So the problem is that for upload to fully work, we need some temporary space (we have to have the whole file in that space before being able to convert to the target space, and because of the potential size of the image we try to create another PVC to temporarily store it in). Anyway since it looks like you are manually creating the PV and PVC, you will have to create

[2019-04-16 20:08] mhenriks commented on #2184
Hi @Bashorsselenberg, CDI uses "scratch" PVCs to temporarily store qcow2 files while they are being converted to raw (KubeVirt only runs on raw).  After the conversion, the scratch PVC is deleted.  It would appear that the scratch PVC could not be created in your case.  What is the storage configuration in your cluster?  Do you have a dynamic provisioner?  Is there a default StorageClass?

[2019-04-17 07:38] slintes commented on #2191
Thanks @aneeshkp, I wasn't aware of the `--ui_validate_io` flag of `operator-courier verify`. Will provide a fix asap.

[2019-04-17 10:29] #1448 closed

[2019-04-17 14:06] Bashorsselenberg commented on #2184
Thanks in advance for the help! This is really appreciated.
Still having some trouble for running the virtual machines, but i get closer.

- Updated CDI v1.7.0 to v1.8.0
- Using a small alpine VM now for testing, so converted the KVM .qcow2 to .raw
- Still the same issue with the scratch space. So manually created 1 PV, 1 PV-scratch and a 1 PVC.
- Used the command: `./virtctl image-upload --upload

[2019-04-17 14:11] rmohr commented on #2184
Could you also do a `describe` on the VMI itself and post the output?

[2019-04-17 14:15] Bashorsselenberg commented on #2184
Yes, provides me the following output:

Name:         alpine-vm
Namespace:    default
Labels:       kubevirt.io/nodeName=k8sworker02
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"kubevirt.io/v1alpha3","kind":"VirtualMachineInstance","metadata":{"annotations":{},"name":"alpine-vm","namespace":"default"...
API Version:  kubevirt.io/v1alpha3
Kind:

[2019-04-17 14:18] Bashorsselenberg commented on #2184
And the output of the pod itself:

[code]

[2019-04-17 14:30] rmohr commented on #2184
How do you try to connect? Via `virtctl vnc` or `virtctl console`?

[2019-04-17 14:46] Bashorsselenberg commented on #2184
On the K8s-master node itself (GUI). Start a terminal and type `./virtctl console alpine-vm`
Only says:
Succesfully connected to the alpine-vm console. The escape sequence is ^]

But vnc says. no bootable device.. hmm

[2019-04-17 14:48] rmohr commented on #2184
Ok, that explains that. `virtcl console` can connect to the serial device of the VMI, but the machine does not send anything because it is not booting. Hard to tell why it is not booting.

[2019-04-17 15:07] awels commented on #2184
Usually if it is not booting it doesn't like the contents of the disk. You said it works if you import the image instead of uploading right? @Bashorsselenberg

[2019-04-17 16:14] #1919 closed

[2019-04-17 16:46] vladikr opened #2194 "VMI with DataVolume shared PVC can't be successfully migrated."
**What happened**:
 An incorrect migration method is set. BlockMigration instead of LiveMigration.
[code]

**What you expected to happen**:
A Migration with a shared DataVolume should be allowed

[2019-04-18 07:20] #2191 closed

[2019-04-18 08:46] Bashorsselenberg commented on #2184
Hello, it doesn't work yet..
I tried Lubuntu18.10. Exported the .qcow2 disk to my Kubevirt environment. Converted it to lubuntu.raw
Added it to the PVC, and mounted in a LubuntuVM.yaml but this also gives me: No bootable device...

[2019-04-18 11:33] Bashorsselenberg commented on #2184
Tried multiple VM's now, but none of them are able to boot.

[2019-04-18 12:03] awels commented on #2184
An import and an upload are different. An import retrieves the image from an external http source. For instance:
[code]
That will connect to an http endpoint on the internet to get the image. You should then be able to create a VM(I) using that image.

[2019-04-18 12:16] Bashorsselenberg commented on #2184
Yes, but i would like to use my KVM virtual machines in my Kubernetes cluster running Kubevirt.

[2019-04-18 12:18] awels commented on #2184
Right, I am just verifying that if you do that, it actually works for you.

[2019-04-18 12:28] rmohr opened #2196 "Evictions are not always rejected on VMIs when we want to migrate on drains"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When the target pod gets ready, the source pod may not yet be done with the migration, but evictions would be granted. As a result the migration does fail and the source pod gets deleted.

**What you expected to happen**:

Both pods should be protected during a migration by the PodDisruptionBudget.

**How to reproduce it

[2019-04-18 17:39] Bashorsselenberg commented on #2184
Yes so it works for me. But the only problem that is left is that the machine don't boot. Still no luck.
This is for the use-case where i got the KVM .qcow2 files into the pvc, and then i try to boot it up as described. Hopefully somebody knows the issue here?

Thanks in advance!

[2019-04-18 17:46] awels commented on #2184
So I am trying to determine that if you IMPORT the vm does boot, upload and import are two distinct operations with distinct code paths. If import works and boots, and upload 'works' but doesn't boot, there is a potential issue in the upload. But if import doesn't boot either, its more likely to be an issue in your environment. Just trying go through the debug steps to figure out where to look nex

[2019-04-19 13:04] Bashorsselenberg commented on #2184
I'm sorry for my misunderstandings. I am a little new to this. But thanks for the help.
So as far as i understand now, i used the import function and that worked for me for the small Cirros VM.

Created manually a PV and PVC
[code]

And then the Cirros VM:

[code]

It took about 2 minutes to access it, it had to load someting i dont know (1/20, 2/20 steps.. and so on) but this works for me. Thanks

[2019-04-19 13:39] Bashorsselenberg commented on #2184
Another update, If i replace the Cirros source with an Ubuntu source (https://cloud-images.ubuntu.com/cosmic/current/cosmic-server-cloudimg-i386.img), is also says, no bootable device..

[2019-04-19 23:19] visheshtanksale opened #2201 "Virtctl vnc fails intermittently for Windows VM"
/kind bug

**What happened**:
`virtctl vnc` for Windows VM fails intermittently. It fails to connect majority of the times and even when it connects it gets disconnected after sometime. I see the following on the console
[code]
Virt-api logs
[code]

Virt-launcher pod logs has no error

**Environment**:
- KubeVirt version (use `virtctl version`):
`v0.14.0`
- Kubernetes version (use `kubectl version

[2019-04-20 21:11] #2196 closed

[2019-04-20 21:24] rmohr commented on #2201
@visheshtanksale I think this one got finally fixed in 0.16 with #2171. Do you have the chance to update?

[2019-04-20 21:29] rmohr commented on #2173
@jeremyrogers did you try to access the VMI with `virtctl vnc myvmi -n mynamespace`? Very often the issue is that the VMI is not booting. Then you simply don't see anything on the serial console. It then looks like the serial console hangs. In that case you normally see something like `no bootable device found` on the vnc screen.

[2019-04-21 08:36] #1601 closed

[2019-04-21 09:36] #1659 closed

[2019-04-22 12:07] awels commented on #2184
One important thing that might not be immediately obvious, The size of the requested storage should be equal or larger than the virtual disk size.
I am seeing this in your example, which is sufficient for the cirros case (its really small) but for something like ubuntu I would expect a minimum of about 8G.
[code]

The importer pod log should tell you if this is the case, but I suspect it is. The e

[2019-04-22 18:03] visheshtanksale commented on #2201
@rmohr Thanks for quick reply. I am still not able to vnc into the windows VM. I am seeing a different error.
I see the following on the console
[code]
virt-api logs
[code]
Have you seen this before?

[2019-04-22 18:30] #2194 closed

[2019-04-23 02:18] ramanavakka opened #2205 "Kubevirt and IBM Cloud Private Community Edition 3.1.2 - cannot bring up a test vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
At this point - it appears to be a bug

**What happened**:

Installed IBM Cloud Private 3.1.2 on a 3 node cluster and tried to bring up testvm as per sample in Kubevirt quick start.  The failure points to the following error while creating the VM Instance:

'0/3 nodes are available: 3 Insufficient devices.kubevirt.io/kvm, 3 Insufficient
      devices.k

[2019-04-23 07:22] Bashorsselenberg commented on #2184
Thnx for the tip!, but the virtual disk size of Ubuntu is 2.2Gi and my PV and PVC are 10Gi. So unfortunately this is not the problem for this case.

[2019-04-23 07:30] rmohr commented on #2205
@ramanavakka thanks for creating the usse. Could you post the logs of one `virt-handler` pod? Since you already verified that the kernel modules are present, could you also ensure that DevicePlugins are not somehow disabled on the `kubelet` level? It is enabled by default on your version in upstream, but maybe ICP disables them by default.

[2019-04-23 07:37] rmohr commented on #2201
@visheshtanksale hm, could you try something like `kubectl exec -n default <pod-of-vmi> /bin/bash`, to see if `kubectl exec` itself works? It looks like virt-api has issues to run `exec` commands on the pod.

[2019-04-23 08:13] Bashorsselenberg commented on #2184
So now, i used to upload function. Downloaded https://cloud-images.ubuntu.com/cosmic/current/cosmic-server-cloudimg-i386.img and renamed it to disk.img.
Converted it to .raw. and uploaded to the PVC. Still no luck.. no bootable device again..
All the pods are running and i can connect though VNC

[2019-04-23 09:38] Bashorsselenberg commented on #2184
Well, thnx for the help guys. I create a new issue for vm's that doesn't want to boot. this original issue for uploading into PV is fixed.

[2019-04-23 09:49] Bashorsselenberg opened #2206 "VMs no bootable device"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I downloaded Ubuntu cloud image from: https://cloud-images.ubuntu.com/cosmic/current/cosmic-server-cloudimg-i386.img
renamed the file to disk.img and converted it from qcow2 to raw format. Imported it to PVC but when connected to PVC, it says: no bootable device.. all the pods and the vmi are in running state. Used the following .YA

[2019-04-23 11:54] awels commented on #2184
The no bootable disk is almost certainly a problem with the storage, not VM/VMI.  You didn't give us the definition of your PV/PVC, assuming its some kind of hostPath storage, you could try to locate the disk.img file on your node file system. CDI should have resized the disk.img to the size of the PVC in your case 10G (it doesn't update the guest OS partition table though). You should be able to

[2019-04-23 13:26] rmohr commented on #2184
@Bashorsselenberg you can use `kubectl exec` to enter the pod of the VMI. Then you can do `virsh list` and `virsh dumpxml`. There you should then see the path in the pod to the image. `qemu-img` is also in the pod. I hope that helps.

[2019-04-23 13:27] rmohr commented on #2184
@Bashorsselenberg once you have the path,  you can also use `kubectl cp` to copy the image out of the container and try to start it manually with libvirt or qemu, to be sure that it is valid.

[2019-04-23 13:46] Bashorsselenberg commented on #2184
Yes, here is another step by step what i did. Where i try to verify the hostPath storage location.
- Downloaded Ubuntu from: https://cloud-images.ubuntu.com/cosmic/current/cosmic-server-cloudimg-i386.img and renamed it to disk.img
- placed the file in a folder ~/vms/ubuntu
- converted the .qcow2 format to raw (using qemu-img convert)
- when i run `qemu-img info disk.img`

[code]

- created a pv-pv

[2019-04-23 13:58] slintes commented on #2184
path: "/home/xxxxx/vms/ubuntu/disk.img"

just thinking loud, but afaik this should be `/home/xxxxx/vms/ubuntu` without `disk.img`?

[2019-04-23 14:43] Bashorsselenberg commented on #2184
@rmohr
- when i execute `kubectl exec -it virt-launcher-ubuntu-vm01-g24j4 -- sh -c 'virsh list'`
[code]
- Sorry i'm new to this but i missed domain name for: `kubectl exec -it virt-launcher-ubuntu-vm01-g24j4 -- sh -c 'virsh dumpxml'`
[code]

[2019-04-23 14:49] rmohr commented on #2184
In your case it is `virsh dumpxml default_ubuntu-vm01`

[2019-04-23 17:31] ramanavakka commented on #2205
Hi Roman,
Noticed that virt-handler pod is not even running and DevicePlugins are enabled because nvidia plugins are running;

user@ubuntu102:~$ kubectl get pods --all-namespaces | grep virt
cert-manager   virt-launcher-testvm-9g4wv                                     0/2     Pending     0          15h
kubevirt       virt-api-5cf68b8686-ffd4g                                      1/1     Running

[2019-04-23 17:34] ramanavakka commented on #2205
Here are the commands to load the kubevirt operator:

export KUBEVIRT_VERSION="v0.16.0"
kubectl create -f https://github.com/kubevirt/kubevirt/releases/download/${KUBEVIRT_VERSION}/kubevirt-operator.yaml
kubectl create -f https://github.com/kubevirt/kubevirt/releases/download/${KUBEVIRT_VERSION}/kubevirt-cr.yaml

kubectl apply -f https://raw.githubusercontent.com/kubevirt/kubevirt.github.io/master

[2019-04-23 17:35] awels commented on #2184
I agree with @slintes that your PV is not configured correctly. I am not even sure what happens when you point the path to virtual disk image, the host path should point to a directory, the kubernetes cluster will write files to that directory. That is why for our testing setup, we have /mnt/local-volume/disk1 /mnt/local-volume/disk2, etc for the PVs.

So your PVs should look like this:
[code]
And

[2019-04-23 18:17] ramanavakka commented on #2206
Hi
I ran into a similar situation trying to create a VM with a local image. I was unsuccessful.
The only way I could make this work is to have a local webserver setup and provide that address to create the PVClaim.  Here is what I had in the PVC creation yaml file:

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vm-name
  labels:
    app: containerized-data-importer
  annotations:

[2019-04-23 21:32] rmohr commented on #2205
@ramanavakka could you do `kubectl describe -n kubevirt daemonsets`? And if the daemonset does not exist, also `kubectl logs -n kubevirt virt-operator-7b86b457df-g4w7r`?

[2019-04-23 21:32] rmohr commented on #2205
@davidvossel FYI

[2019-04-23 23:01] bharatnc opened #2209 "virtctl just hangs when trying to connect to vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I did `virtctl console testvm` to interact with my vm.

**What you expected to happen**:

To drop down into the login shell. Instead it just got stuck in this:
Successfully connected to 131m9 console. The escape sequence is ^]
Despite pressing enter it doesn't get past this.

I verified the VM worked as I was able to do `virtctl vn

[2019-04-24 00:17] ramanavakka commented on #2205
Hi Roman,

Here is the summary at the end of kubectl describe -n kubevirt daemonsets

Events:
  Type     Reason        Age                      From                  Message
  ----     ------        ----                     ----                  -------
  Warning  FailedCreate  2m36s (x121 over 6h38m)  daemonset-controller  Error creating: pods "virt-handler-" is forbidden: unable to validate agai

[2019-04-24 00:20] ramanavakka commented on #2205
And to your question about logs:

user@ubuntu102:/opt/ibm-cloud-private-3.1.2/cluster$ kubectl logs -n kubevirt virt-launcher-testvm-mrhq5
Error from server (NotFound): pods "virt-launcher-testvm-mrhq5" not found

However, I do see the pod description:

user@ubuntu102:/opt/ibm-cloud-private-3.1.2/cluster$ kubectl describe pods virt-launcher-testvm-mrhq5         Name:               virt-launcher-te

[2019-04-24 06:56] petrkotas commented on #2209
Hi @bharatnc what VM are you running? Can you please share your VM, VMI specification and
how did you created the virtual machine?

As you can connect via VNC, my guess is, that when creating custom virtual machine, the TTY was not properly configured for use with KubeVirt. KubeVirt exposes the TTY via unix socket, which is a different configuration than exposing as TTY directly. We will see after

[2019-04-24 08:13] rmohr commented on #2205
@ramanavakka, thanks for all the info. That helps a lot. So I think I can pin down the issues now. The one on the IBM cluster: The PodSecurityPolicy admission controller is enabled there. Our Operator can't handle that right now. We need to add it. You can work around this by allowing the `kubevirt-operator` and `kubevirt-controller` service accounts via a PodSecurityPolicy to create pods with the

[2019-04-24 08:57] slintes commented on #2205
Interesting. I never used PSPs before, so I'm just reading about it. Do I understand correctly:

- the operator needs to create PSPs for each component which allows them to do what they need
- and RBAC rules allowing the components to `use` their PSP
- and the operator deployment needs a PSP allowing everything needed by other components (I guess else it won't be able to create the other PSPs)
- a

[2019-04-24 09:06] rmohr commented on #2205
@slintes yes, I think so.

I think here it is **enough** if it can also `use` the PSPs for its component. Although it has the same effect.

[2019-04-24 09:45] Bashorsselenberg commented on #2184
Yes so i think i found the issue..
- Created a pv (mnt/data) and pvc claim
- Created a pv-scratch
- Used ./virtctl upload to upload a local raw disk.img to the pvc. (succesfully)
This is done using: `./virtctl image-upload --uploadproxy-url=https://10.0.0.173:31125 --pvc-name=ubuntu-pv-claim --pvc-size=10Gi --image-path=/home/xxxxx/ubuntu-cloud/disk.img --insecure --no-create`
- Created a virtual

[2019-04-24 10:10] slintes commented on #2205
mh, but those PSPs will be created by the operator when deploying KubeVirt, they are not part of the operator deployment.
Maybe the operator even needs a "(almost) everything allowed" PSP, in order to be able to potentially update to a new KubeVirt version, which  needs more permissions than before.
Mh, we will find out  how this works in detail.

[2019-04-24 10:37] slintes commented on #1126
@pastukhov this issue might be related: https://github.com/kubernetes-sigs/kubespray/issues/2481

Can you please check if in the `extension-apiserver-authentication` configmap, the values of `client-ca-file` and `requestheader-client-ca-file` are different? And it seems the former has to be signed by the latter.

[2019-04-24 11:53] awels commented on #2184
Note that one of the properties of hostPath storage is that it is bound to the node the PV is created on. That is why you have to specify the node when you create the PV. So if you create the disk on worker01, then the VM cannot run on worker02 since the disk only exists on worker01. If you want to run on an arbitrary node, you will need some kind of shared storage that is visible on all nodes.

[2019-04-24 15:40] kfox1111 commented on #2205
serviceaccounts need the use property pointing to a podsecuritypolicy that has the permissions needed to do whats needed. basically any pod launched by that serviceaccount needs a podsecurity policy matching the parts of the pod api being used. Think of it kind of like a pod spec filter.

This tripped me up when I implemented them too. For example, Daemonset/Deployment uses the service account lis

[2019-04-24 17:55] bharatnc commented on #2209
thanks @petrkotas  you confirmed my initial intuition about the serial tty port. Looks like virtctl uses ttyS0 for console, which wasn't enabled by default for my VM. I enabled it and it started working! I will close this ticket now!

[2019-04-24 17:55] #2209 closed

[2019-04-24 21:15] jeremyrogers commented on #2173
@rmohr That's a good idea, looks like this is the problem. I moved to using the fedora image that @petrkotas suggested, since the cirros image was working sometimes. The fedora image seems to consistently fail, which is good for debugging.

I ran `virtctl vnc fedora` and saw this error:
[code]

Since that led me to think it was a memory issue, I did notice that the fedora VM was using the default

[2019-04-24 21:15] #2173 closed

[2019-04-24 22:58] pbedadham opened #2214 "virtctl image-upload - error Unexpected return value 500"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
virtctl image-upload is failing with Unexpected return value 500 after sometime of image upload to PVC. This is working fine for small images but failing for windows as it is large

**What you expected to happen**: upload the image successfully to PVC

**How to reproduce it (as minimally and precisely as possible)**:
irtctl image-up

[2019-04-24 23:04] visheshtanksale commented on #2201
@rmohr `kubectl exec` works. I went into the pod and ran sock-connector scripts. The script runs. Are there any logs on virt-launcher that can tell me what is going on? Is there a page explaining the design of `virtctl vnc`

[2019-04-25 08:31] petrkotas commented on #2214
Hi @pbedadham can you please share state of the cluster (`kubectl get pods --all-namespaces`) and logs from the importer related containers: `cdi-http-import-server-`, `cdi-uploadproxy-`, `cdi-apiserver-`, `cdi-deployment-`, `cdi-operator-`. Also please rerun the upload with -v9 `virtctl image-upload --uploadproxy-url=https://k8s-node:30195 --pvc-name=winqcow2-vm-pvc --pvc-size=100Gi --storage-cla

[2019-04-26 21:40] #2180 closed

[2019-04-26 22:35] ramanavakka commented on #2205
IBM Cloud Private 3.1.2 includes default PSPs as part of installation. It has several - two are relevant here:
user@ubuntu102:~/icp-312$ kubectl get psp
NAME   PRIV    CAPS    SELINUX    RUNASUSER          FSGROUP     SUPGROUP    READONLYROOTFS   VOLUMES
ibm-anyuid-hostpath-psp     false    SETPCAP,AUDIT_WRITE,CHOWN,NET_RAW,DAC_OVERRIDE,FOWNER,FSETID,KILL,SETUID,SETGID,NET_BIND_SERVICE,SYS_CHROOT,

[2019-04-26 23:07] kfox1111 commented on #2205
I haven't tried it with kubevirt, but you should be able to create a cluster role / role binding with a permission to use your ibm-privileged-psp and bound to the service accounts kubevirt uses.

Thanks,
Kevin
________________________________
From: Ramana Vakkalagadda [notifications@github.com]
Sent: Friday, April 26, 2019 3:35 PM
To: kubevirt/kubevirt
Cc: Fox, Kevin M; Comment
Subject: Re: [kubev

[2019-04-26 23:14] rwsu opened #2217 "virtctl console fails with "Can't connect to websocket (500)""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The VM starts up and is running.
[code]
But using ./virtctl console testvm -n kubevirt-hyperconverged resulted in:
[code]

**What you expected to happen**:

Should be able to access the console.

**How to reproduce it (as minimally and precisely as possible)**:

Install OCP 4.0.0-0.9
Install Rook/Ceph using manifests in

[2019-04-27 01:55] rwsu commented on #2217
Could this be because OCP is using invalid certificates for dev clusters?

[2019-04-27 09:19] lxs137 commented on #2206
I think this problem is because of a miss field(bootOrder) in [Disk Definition](https://kubevirt.io/api-reference/v0.16.0/definitions.html#_v1_disk). For libvirt, if a disk not be marked as boot, libvirt will not try to boot from this disk.

[2019-04-28 05:46] #1776 closed

[2019-04-28 19:47] #953 closed

[2019-04-29 15:46] jeremyrogers commented on #2144
Hey all,

We've got a lot of interest in our organization for running VMs on ppc64le. Does anyone have a status update on this?

/jeremy

[2019-04-29 19:52] ramanavakka commented on #2205
Hi Roman,

I started to look into how to add

[2019-04-29 20:04] ramanavakka commented on #2205
All:

I have been able to run a testvm with the following sequence on ICP 3.1.2

1. ICP - installed by changing the image_security_enforcement to false in the cluster.yaml configuration option. ICP provides several PSP by default in this release 3.1.2 - we need ibm-privileged-psp.
2. Once it is installed, create the kubevirt namespace first
3. kubectl -n kubevirt create rolebinding ibm-privileged-

[2019-04-29 20:30] #2205 closed

[2019-04-30 07:03] cynepco3hahue commented on #2205
@ramanavakka Do you have to create a PR that will document in details how to W/A this problem on the ICP I believe it can help if someone will encounter the same problem

[2019-04-30 07:10] cynepco3hahue commented on #2144
@jeremyrogers I know that @nitkon created some POC PR https://github.com/kubevirt/kubevirt/pull/2145, but I do not sure if he will continue with it :worried:
I will try to find some time the next week to start to finalize and polish the PR.

[2019-04-30 07:19] rmohr opened #2221 "Kubevirt does not work if PSP admission control is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Some k8s distributions enable PSP by default. virt-operator and other virt components don't work with it right now. An example is documented in #2205.

**What you expected to happen**:

That we ship PSPs for virt-operator and that the virt-operator creates PSPs for all our components too.

**How to reproduce it (

[2019-04-30 07:20] rmohr commented on #2205
@ramanavakka thanks for the update. I created #2221, so that we don't forget  to add PSP support.

[2019-04-30 08:47] rmohr opened #2223 "We don't test in random namespaces anymore in CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Our test.sh script should run the tests in random namespaces on CI. In fact, the env variable which it used to check if it runs on CI was not present anymore when we switched to STDCI.

**What you expected to happen**:

We should fix it.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2019-04-30 08:48] Bashorsselenberg commented on #2184
Thanks for the help!, Virtual machines are running (including Windows 10 though VNC)
Now looking at performance improvements :+1:

[2019-04-30 08:48] #2184 closed

[2019-04-30 08:50] Bashorsselenberg commented on #2206
Thanks for the help!, problem is fixed in #2184
Virtual machine are booting.

[2019-04-30 08:50] #2206 closed

[2019-04-30 14:12] nilanjan-samajdar opened #2224 "Kubevirt VMI doesn't accept IPs for multiple interfaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have created a Kubevirt VMI with 2 interfaces :
eth0 for the default pod-network (flannel)
eth1 for another interface on the pod network (flannel)

[code]
However, when I bring up the VMI, I don't see the same number of Interfaces when I do a

`kubectl describe vmi fedora-2ifs`

[code]

I am using Multus with the defaul

[2019-04-30 15:52] SchSeba commented on #2224
Hi @nilanjan-samajdar Can you please paste here also the output of the `kubectl get po <virt-launcher> -o yaml` command please?

[2019-04-30 16:39] olberger opened #2225 "wrong format for https://github.com/kubevirt/kubevirt/releases/download/v0.16.0/kubevirt.yaml ?"
Trying to deploy with same instructions as for https://kubevirt.io/user-guide/docs/latest/administration/intro.html#1-stable-flow:
[code]
Not sure whether this is worrying...

[2019-04-30 20:25] vladikr opened #2228 "Migration will get stuck if canceled not during a running state"
**What happened**:
Live migration will get stuck in its current state if canceled not during a running state

Status:
  Conditions:
    Last Probe Time:       2019-04-26T19:56:15Z
    Last Transition Time:  <nil>
    Status:                True
    Type:                  migrationAbortRequested
  Phase:                   Scheduling

[2019-05-01 08:41] nilanjan-samajdar commented on #2224
Hi @SchSeba
Did another run with the same results.
Posting the results of virt-launcher get po below :

[code]

[2019-05-01 08:53] SchSeba commented on #2224
Hi @nilanjan-samajdar thanks for posting this I think the problem is related to the fedora image.

The fedora image configure only the eth0 with dhcp so can you please try to login into the machine (virtctl console <vm-name) then run `sudo dhclient eth1` it should request ip from the dhcp server we start on the virt-launcher pod with the ip related to the network-status annotation in the pod.

[co

[2019-05-01 10:04] nilanjan-samajdar commented on #2224
Hi @SchSeba
Thanks for your comment, I will try this out.
But why don't I see the eth0 interface IP in the VM's get status ?

[2019-05-01 13:59] gkgth opened #2231 "unable to SSH / RDP in to deployed VM on openshift"
**BUG REPORT**:

/kind bug

**What happened**:
Deployed kubevirt on openshift , created a ubuntu VM and exposed port 22 as  NodePort service  , yet unable to ssh

[code]
service yaml is as follows,

[code]

[code]
when ssh is performed to the host IP address and the port defined in the service  from another machine in the same network, connection gets closed immediately.

When the vm is accessed v

[2019-05-01 13:59] azaiter commented on #1491
Just as an FYI to whoever looking to fully uninstall kubevirt and having namespace state as "Terminating" because of kubevirt api resources that are still dangling:
[adapted from this file](https://github.com/kubevirt/kubevirt/blob/master/cluster/clean.sh)

Just run the following commands:
[code]

[2019-05-01 15:57] SchSeba commented on #2224
you should see it in the vmi get status. but IIRC this feature was added in 0.16 can you upgrade?

[2019-05-01 22:34] #2228 closed

[2019-05-02 05:30] nilanjan-samajdar commented on #2224
Hi @SchSeba
Yes, I can upgrade and give it a try.

[2019-05-02 07:48] nilanjan-samajdar commented on #2224
Hi @SchSeba
Upgraded to v0.16.0 and also switched to Ubuntu-16.04 Cloud image.
But still can't get 2 interfaces up

**Results of  'kubectl describe pod'**

[code]
**VM Yaml used **

[code]

[2019-05-02 08:01] SchSeba commented on #2224
Hi @nilanjan-samajdar thanks for the comment.

I think the issue is in the cloud init script. Can you check the interfaces inside the vm `virtctl console <vm-name>`.
The interfaces inside the vm should be eth0 (pod network), eth1 (flannel-1) and eth2 (flannel 2) so can you try to change the cloud init from net1 and net2 to eth1 and eth2?

[2019-05-02 11:24] nilanjan-samajdar commented on #2224
Hi @SchSeba

Thanks for your support.

I  have changed the interface-names in the QCOW2 image used and the same interfaces are mentioned in the VM YAML.

I have run this QCOW2 as a OpenStack CM successfully.

On examining the issue further, I see the following logs when I do  `kubectl logs virt-launcher-nilsubuntu-2ifs-pf8k5 -c compute`. Could these errors point to an issue in bringing up the VM ?

[2019-05-02 11:35] nilanjan-samajdar commented on #2224
Also

[code]

[2019-05-02 16:39] SchSeba commented on #2224
@nilanjan-samajdar the virt-launcher logs looks good.

but we should take a look on the error from the console first.
can you please try to run  `virtctl console nilsubuntu-2ifs -v 10` and also take a look on the vnc (`virtctl vnc nilsubuntu-2ifs`)

[2019-05-02 18:01] gkgth commented on #2231
Update : created windows 10 image (.img) in as a KVM virtual machine (installed virtio scsi driver and Redhat network interface ). Uploaded the same .img (raw image file) on to CDI (1.18) deployed along with kubervirt on the single node openshift environment (details mentioned above). VM attained "running" state, though the network interface was not available. (though the network interface was ins

[2019-05-03 03:43] vladikr opened #2240 "containerDisk containers don't terminate when compute container does on CRIO runtime"
/kind bug

**What happened**:
This issue happens only on CRIO runtime.
VMI pod doesn't switch to `completed` after a successful migration.
While the compute container is terminated the containerDisk containers keeps running.

[2019-05-03 05:33] nilanjan-samajdar commented on #2224
root@delat:~# ./virtctl --kubeconfig=/etc/kubernetes/admin.conf  console nilsubuntu-2ifs -v 10
[code]

[2019-05-03 05:34] nilanjan-samajdar commented on #2224
root@delat:~# ./virtctl vnc nilsubuntu-2ifs -v 10
[code]

[2019-05-03 10:43] karmab opened #2241 "vm fails to get a bridged ip"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
launch a windows vm with a multus bridge, didnt get an ip
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
deploy the following  vm with a multus cnv bridge already set on all the nodes (and with the proper binary in place, supporting L2)

[code]

![image](https://user-im

[2019-05-03 12:08] karmab commented on #2241
closing this, the environment was deployed without the proper bridge in place on the nodes, so cni plugin created one without attached interfaces when launching the vm, and so the vm wouldnt get an external ip, which is the expected behaviour

[2019-05-03 12:08] #2241 closed

[2019-05-03 13:32] tripledes commented on #2225
Hey @olberger just did a quick test and didn't get the warning.

* Did you apply the manifest on a *clean* cluster? (clean as in it didn't have kubevirt deployed before)
* What are the k8s client/server versions? (kubectl version)

[2019-05-03 14:49] #1793 closed

[2019-05-03 19:45] vladikr opened #2243 "target POD remains in Error state after migration cancellation on crio"
/kind bug

**What happened**:
In some cases, destination virt-launcher panics after migration cancellation, on CRIO.
[code]

[2019-05-06 13:36] dbenoit17 commented on #2144
I can pick this issue up.  I'm not completely certain of the existing status of kubevirt on ppc64le, but I'll have some more time at the beginning of next week to really dig into these commits and get a feeling of what sort of enablement work has been done so far.

Thanks!

[2019-05-06 13:40] cynepco3hahue commented on #2144
@dbenoit17 It can be wonderful, and feel free to ping me or @rmohr under the slack k8s virtualization group.

[2019-05-06 13:51] fabiand commented on #2144
@jeremyrogers @nitkon @dbenoit17 what about syncing on a ml or zoom to sync on your different statuses?

[2019-05-06 13:56] #2243 closed

[2019-05-06 14:04] fabiand commented on #1491
@azaiter actually a good hint how to cleanup the mess.

All in all it's recommneded to delete the KubeVirt **CR** which will do the cleanup properly, then delete the namespace.

I'm however wondering if we could do some trick to enable the nice cleanup based on namespace somehow ...

[2019-05-06 14:05] gkgth commented on #2231
sorted the things out, we are able to run windows 10 (installed copy) as container disk, able to RDP it via node port. closing the issue.

[2019-05-06 14:05] #2231 closed

[2019-05-06 14:08] #2240 closed

[2019-05-06 17:33] dbenoit17 commented on #2144
@fabiand Absolutely.  Should we sync up on a weekly call, or set aside a dedicated time just for this?

[2019-05-06 19:15] fabiand commented on #2225
@olberger it can be that you did a `kubectl create …` on a previous run, then oyu get the warning if you do a `kubectl apply` later on.

This is normal ..

[2019-05-06 19:15] #2225 closed

[2019-05-06 19:17] fabiand opened #2248 "travis uploads many CSVs for a release"
/kind bug

**What happened**:
Releasing 0.17.
travis is building artifacts, and then travis uploaded all previous CSVs as release artifacts to github.

**What you expected to happen**:
That at max the 0.17 CSV would be uploaded.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
![Screenshot_2019-05-06 kubevirt kubevirt](https://user-images.gith

[2019-05-06 19:21] fabiand commented on #2248
I'd expect that there is one new (and uploaded) CSV for each kubevirt release.

[2019-05-06 19:24] fabiand opened #2249 "travis fails to uplaod new OLM bundles"
/kind bug

**What happened**:
travis treid to upload a new budle during a tag, it failed.

**What you expected to happen**:
bundle can be uploaded

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
From: https://travis-ci.org/kubevirt/kubevirt/builds/528838631#L3202
[code]

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernete

[2019-05-06 19:41] slintes commented on #2249
The warnings can be ignored, most of them are coming from the old CSV files, and are fixed in the latest one. The `package exists` error might be cause by a recent change of the package name (see https://github.com/kubevirt/kubevirt/pull/2188), need to investigate.

[2019-05-06 19:43] slintes commented on #2248
can probably easily be fixed by using $TRAVIS_TAG in the CSV filename pattern

[2019-05-07 09:04] DeepLJH0001 opened #2252 "consult about remote-writer"
when i execute virtctl vnc testvm
there has a error told me remote-write was require
so where can i download the remote-writer barinary

**Environment**:
- KubeVirt version (use `virtctl version`): 1.15.0
- Kubernetes version (use `kubectl version`):1.14.0
- VM or VMI specifications: demo testvm
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release): minikube
- Kernel (e.g. `

[2019-05-07 09:19] slintes commented on #2252
Hi, you probably mean `remote-viewer`?
It depends on your operating system. For Linux you can install `virt-viewer` using your package manager, or download it from https://virt-manager.org/download/. On the same page you find an installer for Windows, make sure that you add the install path of `remote-viewer.exe` to your `$PATH` variable.
On MacOS we support Tiger VNC, Chicken VNC and Real VNC.
Do

[2019-05-07 10:56] DeepLJH0001 commented on #2252
it's work ,thanks~

[2019-05-07 10:57] #2252 closed

[2019-05-07 13:35] tripledes opened #2254 "Container images are 49y old"
/kind bug

**What happened**:

Just deployed KubeVirt (using HCO) and the pulled images are 49y old:

[code]

[code]
Which is basically the Unix epoch.

**What you expected to happen**:

Images would be weeks/days old.

**How to reproduce it (as minimally and precisely as possible)**:

Just deploy KubeVirt.

**Anything else we need to know?**:

I don't have any Bazel experience myself but this see

[2019-05-08 07:06] nitkon commented on #2144
Hello All, I would like to provide the latest status update on this issue. I have updated my PR and I could deploy a cirros VM on ppc64le via Kubevirt.

Here are the steps I followed:

1.  Setup was a 2 node kubeadm cluster. 1 master node VM and 1 bare metal Power system worker node (as nested VM not supported in ppc64le)

[code]

2.  kubectl create -f kubevirt.yaml
[code]

3.   kubectl patch serv

[2019-05-08 08:43] fabiand commented on #2144
/cc @dbenoit17

[2019-05-08 14:44] SchSeba commented on #2224
look like there is a problem with the connection on related to the vm so I think we need to check that first.

can you try to console into the vm again an then post here logs from both virt-api pods?

[2019-05-08 14:55] nilanjan-samajdar commented on #2224
Hi @SchSeba

Thanks for your help !!

For 1)
The IP assignment works with a CloudInit bash script. The key was discovering the way CloudInit config. is passed in VM YAML.

For 2)
I think the problem occurs because virtctl tries to reach the VM through a service.
I have disabled all proxy configuration in Kubernetes manifests now
I am able to get the console to the VM.

So technically, we can close

[2019-05-09 08:38] kunalkushwaha commented on #677
I started working on this.

Have moved the code (`pkg/api` & `pkg/kubecli`) in separate repo [go-sdk](https://github.com/kunalkushwaha/go-sdk)

updated the reference of these packages in my branch https://github.com/kunalkushwaha/kubevirt/tree/go-sdk

The problem I am facing right now is bezel build error.

[code]

How can I resolve this?
The packages are part of `vendor/github.com/..`, do I need

[2019-05-09 08:40] SchSeba commented on #2224
Is there a particular domain-name which I can add to "no-proxy" in env. to allow the virtctl to reach the VM ?

I am not sure how the disabling proxy help.
The virtctl command use the same connection as the kubectl command.
You can see in the logs of the virtctl command the console and vnc are aggregation api into the kube-api server.

To explain how this work we use the kubeconfig file and send a

[2019-05-09 10:45] slintes commented on #677
Great that you're working on this :+1:

Does your `go-sdk` compile? I don't see any dependency management like [glide](https://glide.sh/) configured, and no `vendor` directory. I think you need to set this up first, before you can use the sdk in kubevirt itself or other projects. Please use the same versions of dependencies like we do here, see `glide.yaml`.

When that's done, you need to add the

[2019-05-09 13:46] yu2003w opened #2264 "make push failed with SSL: CERTIFICATE_VERIFY_FAILED"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Run "make" succeeded.
Then run "make push" and encountered errors as below,
INFO: Analysed target //:push-images (104 packages loaded, 13519 targets configured).
INFO: Found 1 target...
Target //:push-images up-to-date:
  bazel-bin/push-images
INFO: Elapsed time: 26.705s, Critical Path: 23.52s
INFO: 16 processes: 16 proc

[2019-05-09 16:18] yu2003w commented on #2264
@slintes Yes, registry supports SSL and self signed certificate is used.
We followed the configuration method in [1].
Do you mean currently master branch doesn't support push images to registry with SSL enabled?

Using username/password or configuration via [1] could authenticated successfully with registry.
Is that possible to authenticate with registry via username/password?

I tried k8stest.loc

[2019-05-09 16:37] slintes commented on #2264
the docker container which is used with the make targets doesn't see the /etc/docker/certs.d/ directory. Can you try calling the relevant script directly?
`./hack/bazel-push-images.sh`

[2019-05-09 16:39] slintes commented on #2087
Hey John, did you go on with experiments, using a registry with self signed certs? Asking for #2264

@j-griffith
@yu2003w fyi

[2019-05-09 17:00] j-griffith commented on #2087
@slintes I did experiment with this quite a bit and I did  not have any luck; I never figured out how to get my docker config read in.  I was going to come back to that at some point but never did.  Yes, same issue as #2264 , but once everything else was working this wasn't as critical for me any longer.

[2019-05-09 17:05] j-griffith commented on #2264
When I last looked at this I was poking around this:  https://github.com/bazelbuild/rules_docker/pull/686 but got pulled away on some other things.  I might be able to take a look again

[2019-05-09 17:06] yu2003w commented on #2264
Run bazel-push-images.sh directly on the host, I got the following error,

INFO: From Generating Descriptor Set proto_library @com_google_protobuf//:api_proto:
external/com_google_protobuf: warning: directory does not exist.
ERROR: /mnt/data/gowork/src/github.com/yu2003w/kubevirt/BUILD.bazel:87:1: Executing genrule //:libvirt-devel-headers failed (Exit 127) bash failed: error executing command /bi

[2019-05-09 17:25] yu2003w commented on #2264
@slintes Could /etc/docker/certs.d/ be mounted into bazel server container as /root/.docker/config.json?

[2019-05-09 18:05] slintes commented on #2087
ack, thx

[2019-05-09 20:30] davidvossel opened #2267 "libvirt logs should not have thread id stripped out"
/kind enhancement

**What happened**:

Because of the way we're parsing logs in pkg/log/log.go's ```LogLibvirtLogLine()``` function, we're stripping out the libvirt thread ID which is important for debugging.

[2019-05-10 03:51] DeepLJH0001 opened #2269 "There is some error happened when i used virtctl testvm vnc in second time"
I am using xshell to ssh my server,  when i first time use virtctl vm vnc it's work. like this
[code]
i close this connection and try second time , error happened，xmanager was crashed and exit immediately。
[code]

**Environment**:
- KubeVirt version (use `virtctl version`):
[code]
- Kubernetes version (use `kubectl version`): rancher version 1.13.1
- VM or VMI specifications:
[code]
- Cloud provid

[2019-05-10 08:41] kunalkushwaha commented on #677
Thanks for pointers.

I think my yesterday issue was related old kubevirt code. Today, I updated the code and also added `vendor` go-sdk.

Somehow I messed up with vendors of kubevirt. Will try to resolve on Monday.

[2019-05-10 08:53] slintes commented on #2269
Hi @DeepLJH0001, I think this is fixed by https://github.com/kubevirt/kubevirt/pull/2171
Can you please update KubeVirt to the latest version (v0.17.0) and retry?

[2019-05-10 20:39] davidvossel opened #2272 "re-enable ISCSI shared PVC migration tests for k8s provider 1.13.3"
/kind bug

When introducing the k8s v1.13.3 provider CI test lane #2266 , it was discovered that our method for performing ISCSI shared PVC migrations fails. In order to get the CI lane integrated, we have temporarily skipped these tests just for the 1.13.3 provider.

We need to investigate why the 1.13.3 lane's ISCSI related tests aren't passing and re-enable these tests.

[2019-05-11 10:08] slintes commented on #2249
actually, the deployment was successful to the new Quay application package, see https://quay.io/application/kubevirt/kubevirt-operatorhub... :thinking:
@fabian is it possible, that the travis build for 0.17.0 was retriggered, and this error happened during the re-build? That could explain the error: the package 0.17.0 just really did exist already.

[2019-05-12 04:19] yu2003w commented on #2221
@rmohr I also met similar problem.
To fix this problem, executed following procedures,
1, create PodSecurityPolicy required by kubevirt-handler
2, create role with the psp
3, binding role with service account kubevirt-handler
After testing, kubevirt-handler works well.

I would like to fix this problem.
Could you please assign this issue to me?

[2019-05-12 09:00] cynepco3hahue commented on #2264
@yu2003w I believe it should be mounted as /etc/docker/certs.d/ under the container, so can you try to modify `hack/dockerizied` script and modify the line
before
[code]

after
[code]

it will mount the certificate directory and I hope it will be enough for the bazel

[2019-05-12 14:22] yu2003w commented on #2264
@cynepco3hahue Updated hack/dockerized and mount /etc/docker into container, then ran "make push". It still failed and indicated that "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:726)".
Pushing images is done by contrib:push-all.bzl which is provided by bazelbuild/rules_docker.
It seemed that currently bazelbuild/rules_docker did not support to authenticate registry with cer

[2019-05-13 02:15] DeepLJH0001 commented on #2269
it's work! thanks~：)

[2019-05-13 05:38] slintes commented on #2269
great :)

/close

[2019-05-13 05:38] #2269 closed

[2019-05-13 09:10] kunalkushwaha commented on #677
I think, vendoring dependencies not working nicely as most data structure conflicts  with dual vendor e.g `kubevirt.io/kubevirt/vendor/k8s/api/..` with `kubevirt.io/kubevirt/vendor/github.com/kunalkushwaha/go-sdk/vendor/k8s.io/api/..`

After resolving all dependencies issues, I am getting this error.

[code]

@slintes Any idea.
I will create a Draft Pull request, so it can easily be reviewed.

[2019-05-13 09:50] slintes opened #2275 "creating a KubeVirt CR in a different namespace than the operator fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
- Installed kubevirt operator on OKD using marketplace (with the kubevirt operatorsource), which results in the operator being installed in the `openshift-operators` namespace.
- Created a `kubevirt` namespace and a KubeVirt CR in it.
- KubeVirt is not installed, becaue the `kubevirt-xxxx` job in the `kubevirt` namespace

[2019-05-13 09:51] slintes commented on #2275
/cc @davidvossel fyi

[2019-05-13 09:54] fabiand commented on #2275
I see.
So far our - at least  my - assumption was that the operator will always live in the same namespace as the CR. Which is not the case as it seems.

[2019-05-13 12:26] davidvossel commented on #2275
maybe the KubeVirt CRD shouldn't be namespaced. Do we have a use case for installing KubeVirt outside of the operator's namespace.?

[2019-05-13 14:29] davidvossel commented on #2272
/cc @vladikr fyi

[2019-05-13 15:23] vladikr commented on #2272
It's a bit weird.
I see that the pod has a timeout waiting for the volume to be attached.
[code]

but kube-controller shows that the volume has been attached:
[code]

[2019-05-13 15:50] vladikr commented on #2272
@j-griffith  John, could you please help me understand what should I look for when debugging this?

[2019-05-13 21:24] davidvossel commented on #2275
fyi, i'm working on this. I should have a PR posted in the next day or so

[2019-05-14 07:05] nilanjan-samajdar commented on #2224
Hi @SchSeba

The Kubevirt API Service is reached probably by resolving virt-api.kubevirt.svc.
If the Host is sitting behind a Proxy, then we need to add this domain to the NO_PROXY environment entry for Docker
Otherwise, Dockerd goes to the proxy-server to resolve this.

[2019-05-14 07:19] rmohr commented on #1906
@ahadas from our discussion it is not clear to me, if the initial request of having static UUIDs is sufficient with the api field or if you still want something different. Is it now mostly about cloning or do you still want some change on the current VM behaviour?

[2019-05-14 07:49] rmohr commented on #1593
/remove-lifecycle stale

[2019-05-14 08:00] rmohr commented on #912
/remove-lifecycle rotten

[2019-05-14 08:10] rmohr commented on #677
Yes, all vendoring managers support flattening dependencies. You can run `make deps-update` and `make deps-install` to update vendor dependencies. That calls `glide` the right way.

[2019-05-14 08:12] rmohr commented on #677
That still looks like you did not flatten the vendor dependencies. You probably have `glog` included in your vendor directory. Either use our `make` targets or run `hack/dep-prune.sh` manually.

[2019-05-14 11:27] DeepLJH0001 opened #2282 "It's there has some demo about run a windows-os vmi using kubrvirt？"
**Is this a BUG REPORT or FEATURE REQUEST?**:

I‘m so sorry to ask this kind question ......
I‘m a beginner learning kubevirt，
I want to know there is possible run a windows vmi on linux host？
and where can i get more demo about launch a windows vmi

[2019-05-15 01:19] Apokleos commented on #2282
It maybe help you, here(https://github.com/kubevirt/kubevirt/tree/master/cluster/examples)

[2019-05-15 02:34] DeepLJH0001 commented on #2282
I see this (https://github.com/kubevirt/kubevirt/blob/master/cluster/examples/vmi-windows.yaml) but don't understand what should embed in this pv
[code]

[2019-05-15 02:35] DeepLJH0001 commented on #2282
I see this (https://github.com/kubevirt/kubevirt/blob/master/cluster/examples/vmi-windows.yaml) but don't understand what should embed in this pv
[code]

[2019-05-15 07:05] kunalkushwaha commented on #677
Thanks. I was finally able to resolve all vendor issues.
Create a PR https://github.com/kubevirt/kubevirt/pull/2286

Please take a look.

[2019-05-15 08:15] ahadas commented on #1906
@rmohr this discussion made me realize the difficulty to achieve what I had in mind :) but yeah, it's about renaming or cloning a VM. if I need to write it as a user story than I would say:
1. The user creates a VM with serial-number-policy=per-VM and does not provide Firmware.UUID
2. The user starts the VM - the VMI is assigned with serial-number=X (derived from its name)
3. The user renames the

[2019-05-16 13:40] nikita133 opened #2292 "Multicast traffic cannot pass through bridge of virt-launcher pod."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Multicast traffic can not pass from/to VM via virt-launcher pod network.
**What you expected to happen**:
All kind of traffic can pass transparently from/to VM via virt-launcher pod network
**How to reproduce it (as minimally and precisely as possible)**:
Create 2 VM and configure direct L2 link between them, use connecti

[2019-05-17 06:26] #2282 closed

[2019-05-18 18:21] #615 closed

[2019-05-19 11:35] fabiand commented on #952
/remove-lifecycle rotten

[2019-05-20 01:45] Apokleos opened #2296 "Error from server (InternalError): error when creating "vm.yaml": Internal error occurred: failed calling webhook "virtualmachine-validator.kubevirt.io": Post https://virt-api.kubevirt.svc:443/virtualmachines-validate?timeout=30s: EOF"
Hi,
I got the ERROR(as title),  When I try to create VM after kubevirt is successfully in my K8S cluster with created by kubeadm.
How to resolve it!!!
Thanks a lot.

my Steps as Below :

(1)My K8S Cluster Setup Steps as below
## CentOS v7.6
[code]
## Shutdown Firewalld and Selinux
[code]

## Shutdown Swap
[code]

## Configure IP_Forward
[code]

## Crictl
[code]

## Setup kubeadm kubelet kubectl
[c

[2019-05-20 03:33] petrkotas commented on #2296
Hi @Apokleos, thanks for the report. This is an interesting issue. Can you also please post state of the whole cluster (`kubectl get pods --all-namespaces`)? Also please share the logs from: both `virt-api`, `kube-api` and both `virt-operator`.

The virtual machine validator is part of the `virt-api`, which seems to run just fine, and has cluster IP enabling the cluster-wide access. However it is

[2019-05-20 05:45] Apokleos commented on #2296
Thanks @petrkotas
(1) post state of the whole cluster (kubectl get pods --all-namespaces)
[code]
(2) logs from: both virt-api, kube-api and both virt-operator
Serveral logs has been zip into kubevirt-logs.zip, as below

[kubevirt-logs.zip](https://github.com/kubevirt/kubevirt/files/3196414/kubevirt-logs.zip)

[2019-05-20 08:41] petrkotas commented on #2296
@Apokleos thanks for the logs. Judging by the logs the issue is most likely in the network, however based on the current information, I cannot tell the cause.

KubeVirt seems to be fine, based on the logs. No issue there.
Issue are piling in the `kube-api`, where you can find errors related to inability to connect to KubeVirt api.
[code]
Also, the state of the `kube-flannel` does not look healthy

[2019-05-21 07:32] Apokleos commented on #2296
@petrkotas Thank you  very much.
I have  resolved it.
The root reason is fxxking proxy I have set!!!
/close

[2019-05-21 07:32] #2296 closed

[2019-05-21 08:25] gkgth opened #2300 "How to make cdi-upload-server pods to run only on linux nodes in hybrid cluster ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In a hybrid cluster "cdi-uploadserver:v1.9.0" image gets scheduled to windows node.
**What you expected to happen**:
cdi-upload server should get deployed on the same node selector as "cdi-deployment"
**How to reproduce it (as minimally and precisely as possible)**:

Deploy CDI with below yaml (in a hybrid cluster which h

[2019-05-21 10:34] zvikorn commented on #1318
/remove-lifecycle stale

[2019-05-21 11:57] fabiand commented on #1633
/remove-lifecycle stale

[2019-05-21 12:43] cclark1974 opened #2303 "Cannot console into VM"
Cannot console into my VM
[code]

[code]

[code]

[code]

Just hangs at this prompt, any help is much appreciated.

[2019-05-21 12:50] mhenriks commented on #1747
Cloning should work cross-namespace.  If not, it's a bug.

[2019-05-22 02:27] yinjingjiu commented on #2303
![image](https://user-images.githubusercontent.com/8465157/58143045-00a34600-7c7c-11e9-817c-a8f60b77e9e7.png)
I also encountered this problem，any help is much appreciated.

[2019-05-22 03:58] Apokleos opened #2307 "virtctl vnc Windows VM Failed"
**Difficult to use vnc or console to connect to WIndows-VM**

**What happened**:
Virtctl vnc/console Windows VM Failed!!!
Message As Below:
[code]
**What you expected to happen**:
(1) How to resolve it ?
(2) The VNC connect to VM's work flow?
**How to reproduce it (as minimally and precisely as possible)**:
(1) VMI-WIndows and Pod related to it are both OK
[code]
(2) Login vmi-windows with VNC or

[2019-05-22 05:31] petrkotas commented on #2307
Hi @Apokleos this is interesting. What Windows version are you using?
The failed state on the Windows VM signals, problem in the VM (The VNC does not affect internals of the VM).

Does the VM fails either way? How is the VM installed? Can you also post state of the cluster and logs from the kubevirt components?

Thanks for reporting this!

Petr

[2019-05-22 07:20] Apokleos commented on #2307
Hi Petr@petrkotas Thanks for your reply.

I not clear about the windows's edition, I just create NFS storage PV/PVC and then use the [Example](https://github.com/kubevirt/kubevirt/blob/master/cluster/examples/vmi-windows.yaml) with my PVC: windows-pvc.
After "kubectl apply -f vmi-windows.yaml" , it will be successfully running, and a disk.img appears in my NFS storage like this:
[root@node1 kubenf

[2019-05-22 08:47] fabiand commented on #1963
With 0.17 a good part has been addressed. There will be more future enhancements to also cover i.e API breaking changes

[2019-05-22 08:47] #1963 closed

[2019-05-22 08:50] fabiand commented on #2307
```output: \n(remote-viewer:25851): Gtk-WARNING **: 11:29:10.877: cannot open display```

This indicates that you tried to run remoteviewer on the console.

`virtctl vnc` is required to be run in a graphical environment on the client.
No specific vm or guests Support ist required.

Can you please try vnc from gnome, kde or alike?

[2019-05-22 08:51] fabiand commented on #2303
Sorry. Wrong button

[2019-05-22 08:52] fabiand commented on #2303
@yinjingjiu the screenshot looks correct. Just got return to get the guest to refresh the prompt so that you can see it

@cclark what output did you get with `virtctl console`?

[2019-05-22 08:54] fabiand commented on #2300
@aglitke thoughts?

[2019-05-22 08:55] fabiand commented on #2292
@schseba what do we want to do? Permit by default or make it a flag on the api?

[2019-05-22 08:56] fabiand commented on #2275
@davidvossel @stu-gott was this fixed and can we close this issue?

[2019-05-22 08:56] fabiand commented on #2307
@apokleos

[2019-05-22 09:52] slintes commented on #2307
This sounds like a misunderstanding to me: the PV has to contain the windows disk image already, KubeVirt does not provide it.
And IIRC when KubeVirt doesn't find a disk image, it creates an empty one with the size of the PV. Since it's empty, the VM can't boot, so no concole, and no vnc.
Does that make sense?

[2019-05-22 11:26] cclark1974 commented on #2303
Im seeing the same console output as @yinjingjiu is seeing, the console connects but no other output is seen.
VMI appears to be fine:
kubectl describe vmi flex-vm
Name:         flex-vm
Namespace:    default
Labels:       kubevirt.io/nodeName=k8s-master
              kubevirt.io/size=small
              kubevirt.io/vm=flex-vm
Annotations:  <none>
API Version:  kubevirt.io/v1alpha3
Kind:         Vir

[2019-05-22 12:57] petrkotas commented on #2307
@Apokleos, as @slintes noted. Judging by the information. My guess is, your VM is emty. Therefore it fails after some time.

To test Windows VM, it is up to you to create the VM with the right disk. To do this, you basically have three options:

1. Create new VM outside of the Kubevirt on QEMU/KVM based virtualization. Than import it to the Kubevirt using [CDI](https://kubevirt.io/2018/CDI-DataVol

[2019-05-23 03:44] Apokleos commented on #2307
@slintes Thanks for your explanation, I get it.
@petrkotas Thanks for your Getting tired of answering, I have tried to make a windows based container disk by myself, and it works now, regardless of,  some new problems occur.

Thank you!@fabiand I have installed X window and GNOME Desktop, and then It does work.
It works well with linux vm (testvm), both vnc and console are ok.
To Windows VM, but S

[2019-05-23 03:50] Apokleos commented on #2307
@petrkotas Thanks for your trying to answering.
I have made a windows image based container disk, and I can vnc to connect the vmi created with the container disk. Next, I will try to make your suggestion in practice.

[2019-05-23 03:51] Apokleos commented on #2307
Thanks @slintes I get it.

[2019-05-23 08:22] #1646 closed

[2019-05-23 09:19] fabiand commented on #2303
@cclark1974 what happens if you are connected to the console, and then hit <Return> a c ouple of times?

[2019-05-23 09:19] fabiand commented on #2307
@Apokleos please open new issues for anything that is topping you. (What is the new issue?)

Closing this one for now as it has been solved.

[2019-05-23 09:19] #2307 closed

[2019-05-23 13:44] tlawrie opened #2312 "macos vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**Anything else we need to know?**:

Would like to create a macos vm that runs and is managed by kubevirt

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications: macos
- Cloud provider or hardware configuration: Mac hardware, potentially wiped to baremet

[2019-05-23 18:40] cynepco3hahue commented on #2303
@cclark1974 Can you try to connect via VNC, in most cases the console hangs when the VMI fails to boot correctly.

[2019-05-23 18:44] cclark1974 commented on #2303
When I connect to the console and hit enter there is nothing back from the console, it appears to hang.

VNC is unsuccessful also
[dell@k8s-master ~]$ ./virtctl vnc flex-vm
Can't access VMI flex-vm: Can't connect to websocket (500): error dialing backend: dial tcp 10.96.92.221:443: connect: no route to host

[2019-05-23 18:52] cynepco3hahue commented on #2303
@cclark1974 Hm looks like some problem with the API server, can you show the output of
[code]

[2019-05-24 01:45] DeepLJH0001 commented on #2201
I also have this problem in centos7.6 , kubevirt and virtctl are both 0.17. linux vm was works well.

[code]
the vmi was work well

but can't found the vmi pod

[code]

the is log of virt-launcher

[code]

[2019-05-24 06:42] yu2003w opened #2318 "vm-cirros failed to start with error "KVM: entry failed, hardware error 0x0""
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
vm-cirros failed to start when issuing following commands,
_kubectl create -f cluster/examples/vm-cirros.yaml
_out/cmd/virtctl/virtctl start vm-cirros__

VM was created and VMI was successfully scheduled. However, vmi was failed to startup.
root@filmy1:/mnt/data/gowork/src/github.com/yu2003w/kubevirt# kubectl get vm --al

[2019-05-24 06:42] #2224 closed

[2019-05-24 07:19] rmohr commented on #2254
We can set a `BUILD_TIMESTAMP` in the `--workspace_status_command` file. `stamp` is no needed anymore.

[2019-05-24 08:44] rmohr commented on #2318
@yu2003w do you run kubevirt in a nested environment or on bare metal? I see a lot of reports where such an error is related to nested kvm.

[2019-05-24 08:45] rmohr commented on #2292
Sounds like the pod network let's it through, so should we. Right?

[2019-05-24 09:19] fabiand commented on #2292
I think this depends on the used network provider.

But whenever multicast is getting to the pod network (inside the pod), then
it means that the provider also supported it, thus sounds reasonable to
also pass it to VM.

[2019-05-24 10:30] yu2003w commented on #2318
Kubevirt run in nested environment.
I tried to set spec.template.spec.domain.cpu.model to Conroe, host-model, host-passthrough and Broadwell-IBRS. None of them worked and caught the same error.

host node cpu info is as below,
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              8
On-line CPU(s) list: 0-7
Thread(s) per core:  1
Cor

[2019-05-24 13:28] cclark1974 commented on #2303
kubectl get pods --all-namespaces
NAMESPACE     NAME                                 READY   STATUS    RESTARTS   AGE
cdi           cdi-apiserver-b9d98b7f-ztgqm         1/1     Running   0          7d19h
cdi           cdi-deployment-c87698db8-4wlw8       1/1     Running   0          7d19h
cdi           cdi-operator-79f8786f9-l9mnn         1/1     Running   0          7d19h
cdi           cdi-upload

[2019-05-25 17:50] SchSeba commented on #2292
This issue is related to Linux bridges silently drop LLDP messages (sent to the LLDP_Multicast address 01-80-C2-00-00-0E) and other control frames in the 01-80-C2-00-00-xx range.

https://thenetworkway.wordpress.com/2016/01/04/lldp-traffic-and-linux-bridges/

[2019-05-26 07:14] SchSeba commented on #1494
/remove-lifecycle stale

[2019-05-26 08:00] cynepco3hahue commented on #2318
Hm, I believe the nested virtualization is enabled, otherwise, we will miss the KVM devices under nodes and `vmx` flag also exists under the CPU configuration.
@yu2003w Just to be sure can you show the output of the command `cat /sys/module/kvm_intel/parameters/nested` from the cluster worker node?

[2019-05-26 08:09] cynepco3hahue commented on #2303
@cclark1974 Just to be sure that you use the right `kubeconfig` can you try to run `virtctl` command with
`./virtctl --kubeconfig <cluster_kubeconfig> vnc flex-vm`

[2019-05-26 19:55] Bashorsselenberg opened #2320 "Shared cluster storage for scalable local images"
FEATURE REQUEST:

Currently using a single node Kubernetes Kubeadm cluster, using local (windows 10) images in a pvc on a hostpath. When a node fails, the vm's are not accesible (ofcourse).
I was wondering if there are possibilities (like using rook.io) for cluster storage, in order to get windows 10 virtual machines scalable on the cluster, and having the benefits of high availability. Couldn't f

[2019-05-27 07:34] simonswine commented on #1684
/remove-lifecycle stale

[2019-05-27 07:43] cynepco3hahue commented on #2320
@Bashorsselenberg We have the possibility to configure `restartPolicy` on the VM, that will restart the VM in case of failure, but it will not help in cases when the node unresponsive, in this case, we follow the k8s flow.
But you can find some automatic solutions to remove the unhealthy node from the environment or if you run on top of cloud provider it can remove and add a new one.
You can find

[2019-05-27 09:45] DeepLJH0001 opened #2321 "there is a error when i try the cdrom example"
**Is this a BUG REPORT or FEATURE REQUEST?**:

I want to try cdrom example in https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#cdrom ,there has a error tell me "spec.domain.devices.disks.cdrom.readOnly in body is a forbidden property"

[code]

**Environment**:
- KubeVirt version (use `virtctl version`):
[code]
- Kubernetes version (use `kubectl version`):

[2019-05-27 11:12] slintes commented on #2321
@DeepLJH0001 the property name is `readonly` (all lowercase), see https://kubevirt.io/api-reference/v0.17.0/definitions.html#_v1_cdromtarget. Can you please retry?

[2019-05-27 11:28] DeepLJH0001 commented on #2321
thanks a lot, it's work

[2019-05-27 11:28] #2321 closed

[2019-05-27 13:25] slintes commented on #2036
I think this is caused by empty structs, which result in models without properties in swagger.json, which are ignored by `convertSwagger2markup`. Didn't find a way to fix this yet...

/remove-lifecycle stale

[2019-05-27 13:28] slintes commented on #1838
Will close this, it is probably fixed by #2171
@qmfrederik please reopen if you still run into this with the latest KubeVirt release, thanks!

/close

[2019-05-27 13:28] #1838 closed

[2019-05-27 15:18] nilanjan-samajdar commented on #2303
@cclark1974 , I had the same issue.
If your VM is not starting, there will be a hint in the vm-launcher pod logs if its brcause of a VM launch error.

My particular problem occured because I had Kubernetes running behind a proxy for accessing the internet. This confused virtctl as it tries to connect to the kube API service.

After I removed the proxy setting from the kubelet manifest and restarte

[2019-05-28 05:13] yu2003w commented on #2318
@cynepco3hahue The output is 'Y'
root@filmy1:~# cat /sys/module/kvm_intel/parameters/nested
Y

[2019-05-28 08:44] Apokleos commented on #2318
@yu2003w Hi, Could you give the pod description of virt-launcher-vm-cirros-xxx related to VM vm-cirros ?  You can exec amd like this: kubectl describe po virt-launcher-vm-cirros-xxx -n ns

[2019-05-28 09:58] #2248 closed

[2019-05-28 13:52] cclark1974 commented on #2303
./virtctl --kubeconfig ~/.kube/config  vnc flex-vm
Can't access VMI flex-vm: Can't connect to websocket (500): error dialing backend: dial tcp 10.96.92.221:443: connect: no route to host

[2019-05-28 14:13] SchSeba commented on #2303
@cclark1974 this is your master ip address or a service?

can you please run `kubectl get svc --all-namespaces`

[2019-05-28 14:13] rmohr commented on #2303
@nilanjan-samajdar but commands like `kubectl port-forward` were working for you? I wonder what we need to change to make it work for `virtctl` too.

[2019-05-28 14:26] cclark1974 commented on #2303
kubectl get svc --all-namespaces
NAMESPACE     NAME                          TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)                  AGE
cdi           cdi-api                       ClusterIP   10.103.193.50    <none>        443/TCP                  11d
cdi           cdi-uploadproxy               ClusterIP   10.106.190.199   <none>        443/TCP                  11d
default       kuber

[2019-05-28 14:26] cclark1974 commented on #2303
Yes kubectl port-forward was/is working

[2019-05-28 14:57] nilanjan-samajdar commented on #2303
@rmohr
kubectl port-forward used to work.

[2019-05-28 17:44] SchSeba commented on #2303
@cclark1974 looks like the kube-api server is not available to connect to the virt-api service.

can you please try from your master host to run `curl https://10.96.92.221`

[2019-05-28 18:46] cclark1974 commented on #2303
curl https://10.96.92.221
curl: (7) Failed connect to 10.96.92.221:443; No route to host

How do I repair this?

[2019-05-28 20:57] davidvossel commented on #2275
pr #2284 is still open

[2019-05-29 03:33] yu2003w commented on #2318
@Apokleos  The detailed info as below,
[code]

[2019-05-29 06:22] cynepco3hahue commented on #2318
@yu2003w What exactly version of the virt-launcher do you use? Because I can see it uses `icpdev.icp:8500/kubevirtimg/virt-launcher:1.3.0`, on top of what tag did you use it?
Worth to try to deploy KubeVirt with the latest release manifests from the GitHub and retry to start the VMI.

[2019-05-29 07:31] SchSeba commented on #2303
@cclark1974 looks like an issue in your network plugin you should have connectivity can you try to take a look on your network plugin?
what plugin are you using?

[2019-05-29 11:43] yu2003w commented on #2318
@cynepco3hahue  I checked out code from master branch and built with tag 1.3.0.
My dev environment consists of 3 nodes installed same version of ubuntu.(18.04)
When vm is scheduled into one machine, it failed to start. If it's scheduled to the other two nodes, it works well.
I didn't find out any difference between the machines.
Any advice?

[2019-05-29 12:10] cynepco3hahue commented on #2318
@yu2003w Thanks for the answer, now that you specified that two machines succeeded to start the VMI, the only thought that I have is different in the hardware and maybe some BIOS options are missing :confused:

[2019-05-29 13:09] cclark1974 commented on #2303
Im using multus with flannel

kube-system   kube-apiserver-k8s-master            1/1     Running   6          18d
kube-system   kube-controller-manager-k8s-master   1/1     Running   6          18d
kube-system   kube-flannel-ds-amd64-6qxlj          1/1     Running   5          15d
kube-system   kube-flannel-ds-amd64-vpwzt          1/1     Running   4          15d
kube-system   kube-flannel-ds-dwvh

[2019-05-29 14:26] cclark1974 commented on #2303
I have a openwrt container running and its able to ping out.
/ # cat /etc/banner
  _______                     ________        __
 |       |.-----.-----.-----.|  |  |  |.----.|  |_
 |   -   ||  _  |  -__|     ||  |  |  ||   _||   _|
 |_______||   __|_____|__|__||________||__|  |____|
          |__| W I R E L E S S   F R E E D O M
 -----------------------------------------------------
 OpenWrt 18.0

[2019-05-29 15:08] cclark1974 commented on #2303
I found the networking issue... I am able to curl now
curl -v https://10.96.92.221
* About to connect() to 10.96.92.221 port 443 (#0)
*   Trying 10.96.92.221...
* Connected to 10.96.92.221 (10.96.92.221) port 443 (#0)
* Initializing NSS with certpath: sql:/etc/pki/nssdb
*   CAfile: /etc/pki/tls/certs/ca-bundle.crt
  CApath: none
* Server certificate:
* 	subject: CN=virt-api.kubevirt.pod.cluster.lo

[2019-05-29 15:09] cclark1974 commented on #2303
Im seeing this when I attempt the console connection:
 ./virtctl --kubeconfig ~/.kube/config vnc flex-vm
Error encountered: exec: "remote-viewer": executable file not found in $PATH
{"component":"virtctl","level":"info","msg":"connection timeout: 1m0s","pos":"vnc.go:137","timestamp":"2019-05-29T11:08:35.307797Z"}

[2019-05-29 15:37] yu2003w commented on #2318
@cynepco3hahue I also ran Virt-host-validate on all of my VMs and got the same output.
[code]
VMs in my dev environments are provisioned by IaaS. It seemed that it's a little difficult to determine the root cause for the issue.

[2019-05-29 15:37] slintes commented on #1973
/remove-lifecycle stale

[2019-05-29 16:48] yu2003w commented on #2318
@cynepco3hahue   I deployed two vmi-fedora on different nodes again, one worked and the other did not.
From /var/log/libvirt/qemu/{ns}vmi-fedora.log, there is some difference.
For the worked vmi, log is as below,
[code]

For the failed VMI, the logs is as follow,
[code]
Comparing the logs, failed VMI had additional parameters "vmx=on,mpx=on,avx512f=on,avx512cd=on".
Is it possibly the cause for thi

[2019-05-30 07:35] cynepco3hahue commented on #2318
@yu2003w Do these two hosts CPU also have different flags? You can try to specific CPU features via https://github.com/kubevirt/kubevirt/blob/master/pkg/api/v1/schema.go#L214, so try to specify only features that are existing under the working VM.

[2019-05-30 07:38] cynepco3hahue commented on #2318
An additional thought, that it can be a problem with kernel versions.

[2019-05-30 13:38] SchSeba commented on #2303
Hi @cclark1974 thanks for the comment.

what is the operation system of the client you try to run the virtctl command from?

[2019-05-30 16:46] yu2003w commented on #2318
@cynepco3hahue Yes, the two hosts have different flags.
Output of 'lscpu' from failed hosts as below,
[code]
Output from worked host as below,
[code]
'uname -a' from both worker nodes is the same as below,
[code]
The two vms are most likely provisioned from different bare metal by IaaS.
I will try to specify cpu features as your advice.

[2019-05-30 19:20] DirectedSoul1 opened #2336 "kubevirt - VM creation failed on OCP4.1 rc5"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

**What happened**:
After installing kubevirt CR on OCP4.1 rc5 , `virt-handler`, `virt-api` and `virt-controller` not coming up which in turn fails the VM deployment.

**What you expected to happen**:
All the `virt-*` pods should be up and running after kubevirt CR is installed and creation of VM should be successful.

**How to reproduce it

[2019-05-31 06:12] yu2003w commented on #2318
@cynepco3hahue  I tried to disable cpu features in vmi-fedora.yaml as below,
[code]
Then ran the test again, however, it still failed with following log,
[code]
Worked VMI log is as below,
[code]
It looks like the problem is not caused by cpu flags.
And now I don't have any ideas about this issue.

[2019-05-31 08:11] SchSeba commented on #2336
Hi @DirectedSoul1 thank for reporting this can you please show the logs from both operators?

[2019-05-31 10:01] xingfeng2510 commented on #1852
@fabiand Hi, is GPU passthrough supported？https://github.com/kubevirt/kubevirt/issues/953 https://github.com/kubevirt/kubevirt/pull/593 I saw related issues and pull requests were closed, but there was not docs found. Please help me to clarify, thanks!

[2019-05-31 12:03] cclark1974 commented on #2303
Attempting to run it from the master node it is running Centos

[2019-05-31 12:04] SchSeba commented on #2303
for VM we need to use some host that support GUI it will open a remove-viewer window

[2019-05-31 12:40] cclark1974 commented on #2303
tigervnc is installed on the master, shouldnt that work?

[2019-05-31 12:44] SchSeba commented on #2303
I think so can you try to install the remote-viewer in the host?

[2019-05-31 13:25] cclark1974 commented on #2303
./virtctl --kubeconfig ~/.kube/config vnc flex-vm
{"component":"virtctl","level":"info","msg":"connection timeout: 1m0s","pos":"vnc.go:137","timestamp":"2019-05-31T09:24:58.192788Z"}
{"component":"virtctl","level":"info","msg":"remote-viewer connected in 252.312527ms","pos":"vnc.go:148","timestamp":"2019-05-31T09:24:58.445101Z"}

I dont see anything else after, it just returns to the command promp

[2019-06-02 07:19] cynepco3hahue commented on #2336
@DirectedSoul1 I can be related to the issue https://github.com/kubevirt/kubevirt/pull/2285, can you try to deploy from the master?

[2019-06-02 07:21] cynepco3hahue commented on #1852
@xingfeng2510 nope, we still do not support it, but if we will see that bunch of people interesting in GPU passthrough we can consider to add it, the most problem that we have that we do not have local and CI hosts to test it properly

[2019-06-02 13:54] fabiand commented on #1852
Today there is no support for GPU passthrough.

There is however support for SR-IOV network devices, we hope that i.e. GPU
passghrough can be built on-top of this work.

[2019-06-03 05:57] xingfeng2510 commented on #1852
@cynepco3hahue If there's any forks or branches that already contain GPU PCI passthrough feature? I believe that it has already been implemented but not merged.

We need this feature and we could test it on our own hosts, thanks!

[2019-06-03 06:00] cynepco3hahue commented on #1852
@xingfeng2510 I am not aware of such fork, but you can ask under the k8s virtualization group in slack

[2019-06-03 06:11] xingfeng2510 commented on #1852
@cynepco3hahue Appreciate for your reply, I will take a chance on kubevirt slack channel.

[2019-06-03 08:25] rmohr commented on #2318
On Fri, May 31, 2019 at 8:12 AM Jared <notifications@github.com> wrote:

Really hard to tell. I guess the best would be to open a bugzilla ticket (
bigzilla.redhat.com) and directly ask the qemu/kvm guys there for help.

[2019-06-03 09:06] SchSeba commented on #1784
/remove-lifecycle stale

[2019-06-03 09:58] xingfeng2510 commented on #1852
@fabiand  Is there any hints for implementing GPU PCI passthrough based on SRIOV code? I can't access to the slack channel, then I want to try to implement a temporary version.

[2019-06-03 10:02] yinjingjiu opened #2339 "How to access the graphical console(vnc) using noVNC"
Dear friend
    Kubevirt is an excellent project, I am using it. When I start the VM via kubevirt, I found an API.
    -----
    wss://192.168.4.102:6443/apis/subresources.kubevirt.io/v1alpha3/namespaces/default/virtualmachineinstances/testvm/vnc
    -----
    How can I connect to vm using novnc?
    Thanks in advance.

[2019-06-03 10:56] SchSeba commented on #2339
Hi @yinjingjiu there is a specific reason you want to use noVNC?

I general we support a vnc connection and also console one using the `virtctl` command.

Example:
`virtctl console centos`
Or
`virtctl vnc centos`

you can download the CLI from the release page https://github.com/kubevirt/kubevirt/releases/tag/v0.17.0

[2019-06-03 11:46] yinjingjiu commented on #2339
Dear @SchSeba
I want to access in the browser, But I don't know how to use this api.
Can you give me a suggestion? thanks.

[2019-06-03 12:15] slintes commented on #2303
Hi @cclark1974, just to be sure: are you connected to a graphical session on the master node?
If so, can you rerun the command with the `--v 4` flag for more detailed logs, please?

[2019-06-03 12:38] SchSeba commented on #2339
Hi @yinjingjiu what platform are you using (openshift/k8s) ?

I am not sure if you can access the vnc using only novnc because the url is under the k8s api so you will need to send the kubeconfig for authentication and authorization.

I know that we support vnc in the browser in the openshift-ui related to this PR https://github.com/kubevirt/web-ui/pull/36

maybe @mareklibra can help you?

[2019-06-03 14:04] cclark1974 commented on #2303
Do you mean run:
./virtctl --kubeconfig ~/.kube/config vnc flex-vm . --v 4 ?
I tried running this and got an error with unrecognized option.

[2019-06-03 14:10] slintes commented on #2303
yes, almost, except you have a `.` in the line which shouldn't be there
you can also add the flag directly after `./virtctl`, but that shouldn't make a difference iirc

[2019-06-03 15:23] cclark1974 commented on #2303
Ok I ran the cmd from the Master desktop and got the following results:
[dell@k8s-master ~]$ ./virtctl --v 4 --kubeconfig ~/.kube/config vnc flex-vm
{"component":"virtctl","level":"info","msg":"Executing commandline: 'remote-viewer [vnc://127.0.0.1:45497 --debug]'","pos":"vnc.go:225","timestamp":"2019-06-03T11:10:51.149621Z"}
{"component":"virtctl","level":"info","msg":"connection timeout: 1m0s","

[2019-06-03 16:38] yu2003w commented on #2318
@rmohr  I will open bugzilla ticket. Now I closed this issue.
Thanks all your guys for helping me a lot.

[2019-06-03 16:38] #2318 closed

[2019-06-03 18:45] DirectedSoul1 commented on #2336
so the latest will be 0.17.1-alpha ?

[2019-06-03 19:02] DirectedSoul1 commented on #2336
Im following this doc https://kubevirt.io//quickstart_minikube/#deploy-kubevirt and for
```export KUBEVIRT_VERSION="v0.17.1-alpha.0"``` and Im getting an error
[code]

[2019-06-03 19:06] DirectedSoul1 commented on #2336
[code]

[2019-06-04 01:33] yinjingjiu commented on #2339
Dear @SchSeba  @mareklibra
    I am using k8s, I have never used openshift, Can you teach me how to access a virtual machine in a browser?
    Thank you very much.

[2019-06-04 07:13] cynepco3hahue commented on #2318
@yu2003w Can you add the link on the BZ? I am really curious what the reason after this failure.

[2019-06-04 08:03] slintes commented on #2336
@DirectedSoul1 there should be 2 operator pods, one of them is leader and doing the work, the other one is backup and trying to get leader. You posted logs of the backup. Can you please post logs of the other one?

[2019-06-04 08:06] slintes commented on #2336
seems the release for that tag failed, will have a look

[2019-06-04 10:10] slintes commented on #2336
the build failed because of a failed download, cause by a version update of a dependency. Was fixed in the meanwhile, but that means no release artifacts for 0.17.1-alpha.0. But AFAIK we will have a 0.18.0 build very soon.

[2019-06-04 11:31] dhiller commented on #912
@fabiand IIUC making `virtctl` accessible as a kubectl plugin would be as easy as writing a thin wrapper script like so:

[code]
where one could use it like so
[code]

Then `virtctl install` would boil down to sth like determining the OS and installing a wrapper script depending on the os somewhere beneath the `virtctl` binary, right?

OTOH if we would create a plugin package using krew, the scope

[2019-06-04 11:41] slintes commented on #2303
that's strange....
does `remote-viewer` open when you run it manually from the commandline?

[2019-06-04 11:49] fabiand commented on #912
Yes, that can well be. Some additional metadata might be helpful to support i.e. tab-completion.

Hm. It depends - It can either be having the wrapper in the "right" path where kubect is looking **or** writing the correct metadata to let kubectl pick up the binary (not the wrapper) in the path where it resides.

Remark: We probably want to use `virtctl plugin install` and `uninstall` because at so

[2019-06-04 11:55] slintes commented on #912
kubectl looks for everything starting with `kubectl-*` on the $PATH

that would be nice :)

btw, this KubeCon session was exactly about this topic: https://www.youtube.com/watch?v=83ITOTsXsHU

[2019-06-04 12:01] slintes commented on #2339
Hey @yinjingjiu, did you consider to use the kubevirt web ui? It's a UI which you can install on top of the current openshift UI, with support for for virtual machines, including console/vnc connections. See https://github.com/kubevirt/web-ui.

[2019-06-04 12:21] slintes commented on #2085
/remove-lifecycle stale

[2019-06-04 12:55] cclark1974 commented on #2303
I ran as sudo user and see the following:
[dell@k8s-master ~]$ sudo ./virtctl --v 4 --kubeconfig ~/.kube/config vnc flex-vm
[sudo] password for dell:
{"component":"virtctl","level":"info","msg":"connection timeout: 1m0s","pos":"vnc.go:137","timestamp":"2019-06-04T08:49:22.191422Z"}
{"component":"virtctl","level":"info","msg":"Executing commandline: 'remote-viewer [vnc://127.0.0.1:36657 --debug]'",

[2019-06-04 12:58] DirectedSoul1 commented on #2336
The logs of the leader pod
[code]

[2019-06-04 13:03] DirectedSoul1 commented on #2336
Again the configMap APi version seems to be too old , can that be an issue?
Following the configMap creation part of this link
https://kubevirt.io//quickstart_minikube/#deploy-kubevirt

[2019-06-04 13:15] dhiller commented on #912
I don't understand what you mean? Is there a mechanism in place for that?

[2019-06-04 13:16] cynepco3hahue commented on #2336
@DirectedSoul1 It exactly the issue that I specified above
[code]
It should be fixed in the next release

[2019-06-04 13:17] DirectedSoul1 commented on #2336
Thanks for the info @cynepco3hahue , will that be v0.18.0 release tag?

[2019-06-04 13:27] cynepco3hahue commented on #2336
@DirectedSoul1  Yep, it should be, because we did not backport the fix to release-0.17

[2019-06-04 14:14] dhiller commented on #912
I don't see any `virtctl plugin install ...` in the virtctl api. Can you point me into the right direction here, please? Or do you mean `kubectl plugin install ...` ?

[2019-06-04 14:22] SchSeba commented on #912
It was https://github.com/kubevirt/kubevirt/pull/1361 but I think now the install should be much easier

[2019-06-04 16:33] dhiller commented on #912
Heavy work in progress, so I just wanted to make sure if this goes into the right direction: https://github.com/dhiller/kubectl-virt-plugin

[2019-06-04 16:42] dhiller commented on #912
So this is just a prototype. I found a way to use `krew` to install the `virtctl` binary as a plugin that is then usable with

    kubectl virt ...

[2019-06-04 18:20] slintes commented on #912
Looks nice on a very quick look :+1:
2 questions:

- is there are reason that you use a separate repository for it?
- and looking into the yaml file, can you use the released binaries from https://github.com/kubevirt/kubevirt/releases/tag/v0.17.0 instead of that new bundle file?

[2019-06-04 19:13] dhiller commented on #912
Yes, because I can't create a release in kubevirt repo. The proposed way is to bundle the binaries with a GitHub release, so I created one in my own repository.

I've tried to use the binaries directly, unfortunately this didn't work. The documentation says the bundle must be a `.tar.gz`. :)

I'm going to create a PR in the kubevirt repository, so that we are ready for the next release. Yet I'm un

[2019-06-04 19:42] slintes commented on #912
Too bad... found this issue, but it was closed, maybe we can revive it? With a PR? :wink: Not sure if it's worth it though....
https://github.com/kubernetes-sigs/krew/issues/45

Yes, put a `virt.yaml.in` template in `/manifests/release` (maybe a subdirectory). Templates are processed by `/hack/build-manifests.sh` (triggered by `make manifests`) and `/tools/manifest-templator/manifest-templator.go`

[2019-06-04 19:47] slintes commented on #912
oh, we also need the sha sum of the bundle file in the manifest... mhhh. That makes it a bit more interesting... maybe you have an idea? :)

[2019-06-04 20:56] DirectedSoul1 commented on #2336
Tested the VM creation using the 0.17.1 and clearly this succeeds.

[code]
And this can now be closed.

[2019-06-04 21:08] slintes commented on #2336
great :+1:
/close

[2019-06-04 21:08] #2336 closed

[2019-06-05 01:48] yinjingjiu commented on #2339
Dear @slintes , Thank you for your help, I want to implement a vnc connection myself, but using kubevirt web ui requires openshift support. I don't currently plan to use openshift .

[2019-06-05 05:47] petrkotas commented on #2303
Hi @cclark1974 I see that everything in you cluster is running and that connection hangs. Indeed, this is strange.

Would you please share logs from following pods? I have prepared copy&paste, if you still have the same cluster:
[code]

Also please, what OS is running in your VM? How was this VM created? I see that it is mounted from PVC, but there is not clue regarding the VM OS itself.

Moreover

[2019-06-05 06:08] dhiller commented on #912
I think that using .tar.gz is fine as we might need to put some other files into the package (i.e. like @fabiand said, auto completion for bash and the like)

I think that for now the way to go is to use a separate repository (i.e. mine) to prepare the package and such. This should go until we've ironed out the kinks, i.e. finished the package preparation and such and have a stable way of generati

[2019-06-05 07:30] mareklibra commented on #2339
Hi @yinjingjiu , the novnc connects to a WSS provided by kubevirt via k8s API subresource.
There's no magic, just a couple of steps to pass. Please have a look at `kubevirt-web-ui` implementation:
- entry point: https://github.com/kubevirt/web-ui/blob/master/frontend/public/kubevirt/components/vmconsoles.jsx
- connection details are prepared [here](https://github.com/kubevirt/web-ui/blob/bfb856bc3

[2019-06-05 20:08] cclark1974 commented on #2303
kubectl -n default  logs virt-launcher-flex-vm-v8mwg  -c compute

Log:
{"component":"virt-launcher","level":"info","msg":"Driver cache mode for /var/run/kubevirt-private/vmi-disks/mypvcdisk/disk.img set to none","pos":"converter.go:165","timestamp":"2019-05-17T17:48:42.853507Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Domain defined.","name":"flex-vm","namespace":"default","po

[2019-06-05 20:11] cclark1974 commented on #2303
I attempted to connect however it just hangs...
 /usr/share/kubevirt/virt-launcher/sock-connector  /var/run/kubevirt-private/fa5f48fe-78cb-11e9-b79a-0026b92c94fc/virt-serial0

Hit return several times nothing came back.

[2019-06-05 21:27] fabiand opened #2352 "Release includes versioned and unverisoned binaries"
/kind bug

**What happened**:
The v0.18.0 release contains ersioned and unversioned binaries as seen in the screenshow (virtctl-v0.18.0-darwin-amd64 and virtctl-dawrin, same for windows).

**What you expected to happen**:
Only versioned binaries

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl

[2019-06-06 05:40] petrkotas commented on #2303
I have gone through your logs @cclark1974, there is nothing strange, however they are little short.
The thing that might cause your issue is the VM itself. When you connect to the socket directly
[code]
it should connect. It hangs or fails, when the VM was not properly set up for TTY.

How did you create the Ubuntu VM?

[2019-06-06 11:03] #1494 closed

[2019-06-06 12:45] vladikr commented on #2272
looks like it's related to https://github.com/kubernetes/kubernetes/pull/74787

[2019-06-06 14:52] dhiller commented on #912
PR created: kubernetes-sigs/krew-index#158, see [kubectl-virt-plugin](https://github.com/dhiller/kubectl-virt-plugin) for more details. Posted to kubevirt-dev, now waiting for feedback.

[2019-06-07 09:58] dhiller commented on #912
BTW: the feedback from krew-index contained a note[1] that we should address in one of the next builds:

[1] https://github.com/kubernetes-sigs/krew-index/pull/158#issuecomment-499613563

[2019-06-07 10:46] slintes commented on #912
great work :+1:
can you create an issue (or PR :wink: ) for the comment you mentioned please?

[2019-06-07 10:59] dhiller opened #2356 "virtctl: use basename when printing help"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When used as a krew plugin, `kubectl virt [help]` prints **virtctl** instead of **kubectl virt**

**What you expected to happen**:

This is how it should be:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

[from krew-index PR](https://github.com/kub

[2019-06-07 11:00] dhiller commented on #912
Done, see #2356

[2019-06-07 11:01] dhiller commented on #912
Will have a look at that on Monday.

[2019-06-07 14:26] fedepaol opened #2357 "Wrong HostDisk size when using PersistentVolumeClaim (volumeMode filesystem)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Was not able to launch a vmi with a disk using a volume of type `PersistentVolumeClaim` (default volumeMode:filesystem).

The host has ~35 Gigs and the VolumeCaim requested 2 Gigs

From the launcher logs:

[code]

Since I did not specified the first size anywhere and it felt strange, I started looking around.

If this is a bug, the

[2019-06-08 02:30] booxter commented on #1493
/reopen

[2019-06-08 02:30] booxter commented on #1493
/remove-lifecycle rotten

[2019-06-09 12:17] gageorsburn commented on #2292
This is an issue we're been fighting with for awhile but I haven't had the time to really implement a solution. @renner-osi Did some base work for a passthrough interface type where we create a device and pass it through. Last I heard we got this working however we are lacking some device plugin code to properly handle creating  and managing the device. I'll see what I can scrounge up and see if I

[2019-06-10 06:51] yu-yang2 opened #2362 "how to expand vm's / directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I want to expand / directory under device /dev/vda1, but I can't find a way in document. where is the /dev/vda1 mount in the host? I don't know how to configure this.
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kub

[2019-06-10 07:55] cynepco3hahue commented on #2357
@fedepaol Can you please show the PV that bounded to your PVC?

[2019-06-10 07:58] cynepco3hahue commented on #2362
@yu-yang2 Can you please show the spec of the VMI?

[2019-06-10 08:45] fedepaol commented on #2357
@cynepco3hahue sure!
I think it is provided by the cluster/up.sh command by default because I did not have to create it in any way.

[code]
Hope it helps

[2019-06-10 09:33] yu-yang2 commented on #2362
@cynepco3hahue here is the yaml
[code]

[2019-06-10 09:44] petrkotas commented on #2362
Hi @yu-yang2, do you mean expanding as in adding more space? If yes, this is not possible for containerdisk, since it is designed to be ephemeral.

If you want expanding disk, mount the volume via PVC from some persistent volume you have configured in your cluster.

[2019-06-10 12:09] yu-yang2 commented on #2362
@petrkotas but where is my vm's `/dev/vda1` disk mount on my server? It takes me about `3.9G` disk space.

[2019-06-10 12:22] petrkotas commented on #2362
@yu-yang2 it is a container dist. That means it is stored in container registry as we have described in the [user guide](https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#containerdisk). The idea of container disk, is to distribute ephemeral VM image as simple as possible and allow for easy multi machine deployment.

The mechanism of how it gets into the V

[2019-06-10 12:28] SchSeba commented on #2292
Update: I take a look on this and the problem is because the pod is not privileged we can't change the file `group forward mask` for the bridge.

error output:
[code]

I think we should consider to back into @rmohr Idea to move the network preparation into the virt-handler.
PR: https://github.com/kubevirt/kubevirt/pull/1404

@vladikr @booxter @phoracek @dankenigsberg what you think about that?

[2019-06-10 12:36] yu-yang2 commented on #2362
@petrkotas  Does this mean that the contents of the virtual machine will be cleaned up when the container is deleted? Is there a way to mount the vm's root directory ("/") to the physical machine's host directory to avoid container crash?

[2019-06-10 12:49] petrkotas commented on #2362
@yu-yang2 as I have already answered. You have to use different disk. You can use [PVC](https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#persistentvolumeclaim) and mount your VM from there.
For this you have to prepare the VM image yourself.

[2019-06-10 13:00] gageorsburn commented on #2292
Note that with group forward mask its not going to be a perfect passthrough and allow all kinds of traffic unless

[code]

STP I don't think anyone could care less about but LACP is how you do bonding.

[2019-06-10 13:05] yu-yang2 commented on #2362
@petrkotas thank you for your patience, I think I know how to do it.

[2019-06-10 13:05] #2362 closed

[2019-06-10 13:07] SchSeba commented on #2292
LACP will not work if we add the 65528 to the bridge config?

[2019-06-10 13:12] gageorsburn commented on #2292
Not without patching the kernel.

[2019-06-10 13:14] cynepco3hahue commented on #2357
I see that PV size equals to `Capacity:          37Gi`, the size under the PVC matters only when do you choose the PV to be bounded to, so looks like you have the correct message.

[2019-06-10 15:21] fedepaol commented on #2357
Sorry but I am not sure I understood correctly.

You mean that the requested size specified in the PVC (my 2 Gigs) have sense only if I bound the PVC to a specific PV, otherwise it is correct to allocate the whole size of the PV as a host disk to replace the PVC?
And if so, what is the semantic behind it?

Thanks again and sorry for the noise.

[2019-06-10 15:29] cynepco3hahue commented on #2357
The requested size under the PVC, just say, try to find the PV that can provide you with the storage with 2GiB, in your case only PV that you have is 37GiB, so PVC will use it because it suits requirements. So you VM will use PV with 37Gib, but because replace it will try to create the `disk.img` on this PV, but the system does not have enough disk space to create the file of the size `39728447488

[2019-06-10 15:34] fedepaol commented on #2357
Ok, one last question (I promise).
The `disk.img` replaces the pvc and not the pv, so what is the need to allocate the size of the whole pv? Is it because the pvc may grow later?

Thanks again for the patience.

[2019-06-10 21:09] Queuecumber commented on #1852
/remove-lifecycle rotten

This would be huge for deploying microsoft only GPU code at scale, a lot of legacy machine learning code is windows only. I think this should be made a priority and I have a GPU machine I can test with if you need help

[2019-06-10 21:16] Queuecumber commented on #953
/reopen
/remove-lifecycle rotten

Since there was activity on this as recently as March I assume you didn't mean to let this get closed, though you may want to decide which of this an #1852 you want to keep since they can probably be considered duplicates

[2019-06-10 21:50] booxter commented on #989
We haven't heard from the author of the issue. `virtio-net` support is present. I am closing it. Feel free to reopen it if you are still interested in it.

[2019-06-10 21:50] #989 closed

[2019-06-11 07:42] dhiller commented on #912
I started looking on Friday, and will continue working on this if noone else wants to do this. Can I just assign the issue to my self to make clear I am on this?

[2019-06-11 07:47] dhiller commented on #912
I see that only members of the organization can be assigned issues :,(

[2019-06-11 07:55] dhiller opened #2366 "virtctl: update the install guide with the addition of installing via `krew`."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Issue #912 has been resolved. So now virtctl can be found in the krew index and installed as a kubectl plugin.

**What you expected to happen**:
A hint that the virtctl binary can be installed via kubectl krew should be found in the documentation. We should update the install documentation.

**How to reproduce it

[2019-06-11 07:56] dhiller commented on #912
BTW the PR has been merged, so we may want to update the install guide with the option of installing via `krew`. Created #2366 for that.

[2019-06-11 08:08] dhiller commented on #2356
/assign

[2019-06-11 08:19] cynepco3hahue commented on #1852
@booxter Can you please provide metalink on SRIOV code?
In general, I expect something like this:

- pass-through GPU device to the container via device plugins - https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/
- consume the GPU under the container with the libvirt - https://wiki.gentoo.org/wiki/GPU_passthrough_with_libvirt_qemu_kvm

I believe it will require some kernel configuratio

[2019-06-11 08:22] cynepco3hahue commented on #2357
@fedepaol Let's ask Marcin because he is more familiar with this part of the code :smile:
@mfranczy Can you clarify please why do we allocate disk.img of PV size and not of the PVC one?

[2019-06-11 08:26] cynepco3hahue commented on #912
/assign @dhiller

[2019-06-11 08:27] cynepco3hahue commented on #912
@dhiller You can you prow bot for this purpose

[2019-06-11 08:49] mfranczy commented on #2357
Looking into that...

[2019-06-11 08:51] #2012 closed

[2019-06-11 09:02] fromanirh commented on #2011
/remove-lifecycle-stale

[2019-06-11 09:06] fedepaol opened #2367 "cluster-up/virtctl.sh not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Can't run cluster-up/virtctl.sh :
[code]

The virtctl cmd is deployed under `kubevirt/_out/cmd/virtctl` while the script looks for it into
[code]
which get resolved into
[code]

(there is also an extra `/` )

From https://github.com/kubevirt/kubevirt/blob/master/cluster-up/virtctl.sh#L40

**What you expected to happen**:

Being able

[2019-06-11 09:15] fromanirh commented on #2267
Fixed by https://github.com/kubevirt/kubevirt/pull/2319

[2019-06-11 10:08] rmohr commented on #2108
/remove-lifecycle stale

[2019-06-11 10:09] rmohr commented on #2108
@fromanirh do you know if you will get some time to work on this? I think this is a very important limitation right now.

[2019-06-11 10:27] fromanirh commented on #2108
@rmohr I'll try to squeeze in the upcoming sprint.

[2019-06-11 10:34] mfranczy commented on #2367
thanks for pointing that!

[2019-06-11 10:50] fromanirh commented on #2108
OK, the first step will be to implement what @rmohr proposed in https://github.com/kubevirt/kubevirt/issues/2108#issuecomment-471966831 . I aim to have such a PR posted within this week.

[2019-06-11 11:04] mfranczy commented on #2357
@cynepco3hahue @fedepaol we allocate disk.img of PVC size (not PV), after executing your spec from https://github.com/kubevirt/kubevirt/issues/2357#issue-453542040, I see PVC has the 37 GiB size.

[code]
It's not a bug in KubeVirt, if we see local PVC then we get the size from API which is 37GiB in that case.

[2019-06-11 11:08] fedepaol commented on #2367
@mfranczy no problem!

I would have submitted a pr too but I wasn't sure about how to do it since the spirit of @davidvossel 's pr seemed to decouple the cluster-up thing from the hosting repo (`KUBEVIRT_PATH`), but for `virtctl` we still depend on the executable generated by the underlying project, which is not the case for `kubectl`.

[2019-06-11 11:14] fedepaol commented on #2357
@mfranczy thanks, did not notice that.
I think we can close this issue now?

[2019-06-11 11:16] #2357 closed

[2019-06-11 11:39] rmohr opened #2368 "The operator-sdk can't be used with vendored kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We have
[code]

in

https://github.com/kubevirt/kubevirt/blob/master/pkg/kubecli/kubecli.go#L55

The flags here are also defined in the operator-sdk and they clash:

[code]

**What you expected to happen**:

Setting these flags should be optional. Let's keep this in mind for #2297.

**How to reproduce it (as mini

[2019-06-11 11:40] rmohr commented on #2368
/cc @masayag thanks for reporting.

[2019-06-11 15:26] dhiller commented on #2366
/assign

[2019-06-11 16:17] #2275 closed

[2019-06-11 21:36] booxter commented on #1852
@cynepco3hahue @xingfeng2510 thanks for the interest in passthrough. Indeed I believe that support for it would be similar to SR-IOV network support.

Some details about SR-IOV for KubeVirt are captured here: https://github.com/kubevirt/kubevirt/blob/master/docs/sriov.md

The way it works is that:
0. Host is configured with SR-IOV VFs registered with vfio-pci kernel driver instead of regular netli

[2019-06-11 21:39] booxter commented on #1852
Here is the code where we convert VMI SR-IOV attachment to pod definition: https://github.com/kubevirt/kubevirt/blob/7997dd0047f9ba8be225edc78673039e98346417/pkg/virt-controller/services/template.go#L343 (basically mount directories from the host / add capabilities for libvirt to be able to pass devices through). There is no network "attachment" code in the tree for SR-IOV because the device is no

[2019-06-11 21:48] Queuecumber commented on #1852
One potential workaround for this as a holdover for first class support would be to allow passing arbitrary arguments to qemu, then I could just use a node selector to make sure I'm in the right place and map the GPU in an argument. This would be useful for other things too (I also need to set kvm hidden state to on for example and I dont see that in your documentation anywhere). Is there a partic

[2019-06-11 22:23] booxter commented on #1852
@Queuecumber there is hooks mechanism that allows to adjust XML domain as needed: https://github.com/kubevirt/kubevirt/blob/master/pkg/hooks/manager.go but of course it shouldn't be abused long term for generally useful entities like GPUs.

[2019-06-12 00:18] Queuecumber commented on #1852
Ok very nice I didn't see that documented anywhere. I agree that it isnt a sustainable solution but my POC cluster only has 1 gpu on it so fine for that

[2019-06-12 00:52] huypham21 commented on #2296
I also faced the same issue with calico for the network instead of of flannel
[code]
@Apokleos Would you share how you resolve your proxy issue please? Thank you very much!

[2019-06-12 02:10] booxter commented on #1852
@Queuecumber it's probably not documented exactly because it's not a great solution and the team doesn't want it to be adopted by well meaning but short term focused community members. :) but it should do for basic prototyping.

[2019-06-12 03:03] DeepLJH0001 opened #2372 "It's possible set specific cpu mode like qemu64 or define custom xml ?"
I want to set cpu model like this， because my cpu is not AMD & Intel
[code]

[2019-06-12 08:20] #2367 closed

[2019-06-12 08:36] yinjingjiu commented on #2339
@mareklibra thank you for your help, I was inspired.  you are a star

[2019-06-12 08:40] mfranczy opened #2373 "Error messages are not passed from virt-api to virtctl"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
It seems we don't pass error messages to virtctl from virt-api

I tried to run:

```./cluster/kubectl.sh create -f cluster/examples/vm-cirros.yaml```

spec.running is set to false so according to code run strategy should be Halted, when I execute

```./cluster/virtctl.sh restart vm-cirros```

I get:

```Error restarting Vi

[2019-06-12 09:18] slintes commented on #2339
that sounds like your question is answered, can we close this? :slightly_smiling_face:

[2019-06-12 12:27] #1784 closed

[2019-06-12 17:50] jeremyrogers opened #2377 "Setting node selector on virt-handler daemonset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

Is there a way to set a nodeSelector on the virt-handler DaemonSet object? I'm upgrading from kubevirt v0.15 to v0.18, and I used to add a nodeSelector to the DaemonSet manually when installing. Now that kubevirt is deployed with an operator, I'd like to keep that functionality somehow. I do have `kubevirt.io/schedulable=true` label

[2019-06-13 01:49] #2339 closed

[2019-06-13 01:50] yinjingjiu commented on #2339
Thanks to every teacher for their help.🙂

[2019-06-13 04:00] yinjingjiu opened #2378 "kubevirt it takes too long to start the window vm"
**What happened**:
kubevirt it takes too long to start the window vm( spent at least 4 minutes)

**What you expected to happen**:
How to optimize to reduce startup time?

**How to reproduce it (as minimally and precisely as possible)**:
windows.yaml:
[code]
[code]

**Environment**:
- KubeVirt version v0.17.0
- Kubernetes version v1.13.5

Thanks in advance.

[2019-06-13 07:34] cynepco3hahue commented on #2378
@fromanirh Maybe do you have some tips?

[2019-06-13 07:42] slintes commented on #2378
Hi, what do you mean with "to start"? Until the VMI is in running state, oder until Windows is booted?
If it takes long untilk the VMI is in running state, the logs of the corresponding virt-launcher pod might be helpful.
If it is booting so long, can you connect to the console and see boot messages (actually I am not sure if this works with windows...)?
And I'm wondering if Windows is happy with

[2019-06-13 07:54] fromanirh commented on #2378
The only thing coming to mind is: does windows have virtio drivers installed? otherwise (AFAIR) it will fall back to IDE mode which is extrimely slow. But we need more infos to debug this, as @slintes said above.

[2019-06-13 08:46] #1593 closed

[2019-06-13 09:51] rmohr opened #2380 "cluster-sync only works the first time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When we started to source `clustser-up` in #2335, the image synchronization in https://github.com/kubevirt/kubevirt/blob/release-0.17/cluster/ephemeral-provider-common.sh#L44 got lost. Now `cluster-sync` only pushes the images to the registry, but if images with this name are already on the nodes, they are not pulled dow

[2019-06-13 10:45] yinjingjiu commented on #2378
Dear @slintes, @fromanirh
Sorry, my statement is unclear.
Create windows vm from kubectl Until the VIM is running state, Take a while.
My windows has virtio viostor and NetKVM drivers installed, 2G memory is enough, Because after the startup is successful, I can enter the vm desktop through vnc.
Is there a problem with my YAML file?
<details>
<summary>virt-launcher log:</summary>

[code]
</details

[2019-06-13 11:24] slintes commented on #2378
Ok, virt-launcher takes 1,5 minutes...
Can you please also provide the output of `kubectl describe pod virt-launcher-...` ?
Maybe pulling the image from your registry takes a while, I assume it is quite big. Should be visible in the events at the end of the output of that command.

[2019-06-13 12:11] yinjingjiu commented on #2378
Dear @slintes
thank you very much for your help.
<details>
<summary>kubectl describe virt-launcher-vmi-windows-sfl94 info:</summary>

[code]
</details>

[2019-06-13 12:18] rmohr commented on #2378
@yinjingjiu there is right now still one caveat with containerDisks, and that is that the image is copied once per start on the node (even if the image is already pulled). This can create issues on nodes with weak IO performance. Maybe there is IO pressure on the node?

[2019-06-13 12:33] yinjingjiu commented on #2378
Dear @rmohr
Node disk IO is normal
![image](https://user-images.githubusercontent.com/8465157/59432618-5651b500-8e1a-11e9-964f-a8ea5d6c1ba5.png)

[2019-06-13 12:50] yinjingjiu commented on #2378
hi @rmohr,  Can I customize the image pull Policy?

[2019-06-13 12:52] rmohr commented on #2378
@yinjingjiu not at the moment. It is hardcoded to IfNotPresent.

[2019-06-13 12:55] davidvossel commented on #2380
I noticed this too yesterday.

I'll look into it. Something probably happened with the factoring out of cluster-up

[2019-06-13 12:56] rmohr commented on #2380
@cynepco3hahue you are already looking into this right? He thinks he removed it with the okd provider integration.

[2019-06-13 13:02] yinjingjiu commented on #2378
Dear @rmohr

[code]

[2019-06-13 13:04] rmohr commented on #2378
@yinjingjiu we got a request for pull policy configuration recently from someone else too. Let me prepare a change.

[2019-06-13 13:09] yinjingjiu commented on #2378
@rmohr cool,Thank you for your efforts to make kubevirt great.
But what are the best ways to solve my problem? :smile:

[2019-06-13 13:21] rmohr commented on #2378
@yinjingjiu It can still be that your long boot time is because of the initial copy of the disk on every VMI start. We can rule that out by e.g. copying the windows image on a host path, and then boot from there via a `hostDisk`. If that is sufficiently fast, we know it is because of the initial copy. We can then revive some efforts like #1565, to get rid of this one-time-copy issue. @davidvossel

[2019-06-13 14:48] dhiller commented on #2366
https://github.com/kubevirt/kubevirt.github.io/pull/248

[2019-06-13 14:55] dhiller commented on #2366
https://github.com/kubevirt/user-guide/pull/255

[2019-06-13 14:56] dhiller commented on #2366
/assign @fabiand
I created two PRs, I didn't think that updating the already published blog posts would be a good idea. Let me know if I have missed some places.

[2019-06-14 07:40] fabiand opened #2386 "Improve contribution guidelines"
I just saw this nice PR: https://github.com/operator-framework/operator-lifecycle-manager/pull/898

This has a very structured way for several documents, they seem to be nice templates for contributing.md and other templates.

[2019-06-14 08:06] dhiller commented on #2366
Added demo PR https://github.com/kubevirt/demo/pull/115

[2019-06-14 08:15] petrkotas commented on #2372
Hi @DeepLJH0001 it is possible. You can use the the CPU setting from the Domain. The VM would look e.g. like this:
<details><summary>Example</summary>
<p>

[code]

</p>
</details>

The cpu model is taken directly from the libvirt: https://github.com/libvirt/libvirt/tree/master/src/cpu_map
and the details about CPU config can be found in our API: https://kubevirt.io/api-reference/master/definitions

[2019-06-14 08:37] rmohr commented on #2267
/close

[2019-06-14 08:37] #2267 closed

[2019-06-14 09:10] #1906 closed

[2019-06-14 09:26] #2380 closed

[2019-06-14 10:54] slintes commented on #2386
having different issue templates for bug report, feature request, or question sounds like very good idea. Didn't know that it's possible :+1:

[2019-06-14 10:55] yinjingjiu commented on #2378
Dear @rmohr
For some reason, we like store and distribute VM disks in the container image registry. thank you for your help, about #1565 Is there a plan to improve?

[2019-06-14 10:58] rmohr commented on #2378
@yinjingjiu yes, I am currently implementing an improved version of #1565 which should also be backward compatible to not break old container disks.

[2019-06-14 19:14] fabiand commented on #2378
Could it be that emulation is enabled? If yes, then 4 min sound reasonable.

Speed up can be achieved by disabling emulation

[2019-06-14 19:18] fabiand commented on #2377
Heya. Yeah, that's an issue.

Did you try to patch the handler daemonset after deployment using a `kubectl patch`?

Its just a workaround but might help right now ..

[2019-06-14 19:25] fabiand commented on #2320
Resolving an unknown node state requires user intervention, just like it is the case for pods.
Now, once that is resolved, then your VM should start again.

And Yes. You can use rook with kubevirt.
@igoihman @aglitke @j-griffith any pointers for this?

Let me note that for the bare metal case some kind of node fencing is needed to avoid data corruption.
Take also a look at @metal3-io which is look

[2019-06-14 19:26] fabiand commented on #2312
Hm. That might be possible. Wasn't there a similar issue already ...

[2019-06-14 19:27] fabiand commented on #2214
@aglitke ideas?

@pbedadham are you all set?

[2019-06-14 19:30] j-griffith commented on #2320
Hi @Bashorsselenberg as @fabiand mentioned you can in fact use Rook here, you can even set it up in a single node model if you need to.  Feel free to reach out if you need anything on this; like I said I use it quite a bit.

[2019-06-17 01:52] yinjingjiu commented on #2378
@fabiand  Yes, I turned on hardware virtualization

[2019-06-17 02:28] yinjingjiu commented on #2378
Dear @rmohr
I am doing this now.

I try to make the qcow2 file smaller.

I found that qemu's Copy-On-Write mode seems to be more effective at reducing disk file size.
Will QEMU copy-on-write (backup file) mode be supported by kubevirt?

[2019-06-17 06:53] rmohr commented on #2378
@yinjingjiu the `containerDisk` has the issue that it really has to copy the whole image on VMI-start. So `copy-on-write` will not help us in this case. The background is, that kubernetes does not support having containers as volume, and therefore other containers can't reach the image until we copy it to a shared location. Give me two days to make the `containerDisk` more suitable for big images

[2019-06-17 07:20] yinjingjiu commented on #2378
Dear @rmohr
Thank you for your help :clap:

[2019-06-17 08:02] yinjingjiu opened #2392 "kubevirt How to open the USB bus?"
**What happened**:
Using VNC to connect to a virtual machine, the mouse offset does not display correctly

**What you expected to happen**:
How to open the USB bus ('-machine usb=on')

**Environment**:
- KubeVirt version v0.17.0
- Kubernetes version v1.13.5

**How to reproduce it (as minimally and precisely as possible)**:
<details>
<summary>my yaml:</summary>

[code]
</details>

![image](https://

[2019-06-17 10:08] slintes commented on #2377
Hi, a bit unrelated, but please use another label name for this. `kubevirt.io/schedulable=true` is used *BY* virt-handler in order to mark nodes which technically can deal with VMs. If you use it too, it ca happen that VMs are scheduled on nodes which can't deal with it.

[2019-06-17 10:26] petrkotas commented on #2392
Hi @yinjingjiu can you please try to switch the bus to 'virtio' and see if it helps in your case?
Thanks for reporting this issue on windows.

[code]

[2019-06-17 10:50] fabiand commented on #1634
This is described here: https://github.com/kubevirt/user-guide/blob/master/administration/node-eviction.adoc

[2019-06-17 10:50] #1634 closed

[2019-06-17 10:53] yinjingjiu commented on #2392
Hi @petrkotas  I tried, can't solve the mouse problem
[code]
The result is still usb=off
[code]

[2019-06-17 11:08] nertpinx commented on #2392
@yinjingjiu Please also try whether that helps, without looking at the command line. The `usb=off` does not do what you think it does.

[2019-06-17 11:50] yinjingjiu commented on #2392
Hi @nertpinx, Follow @petrkotas  advice, switch the bus to 'virtio', Connect to the vm using VNC, the mouse is still offset.

[2019-06-17 11:58] nertpinx commented on #2392
@yinjingjiu Thanks. Can you also look at the list of hardware that the guest OS sees? Just to make sure there really is no difference to what is described in the yaml?

[2019-06-17 12:05] yinjingjiu commented on #2392
Dear @nertpinx
![image](https://user-images.githubusercontent.com/8465157/59603137-346a7200-913b-11e9-91af-571701d2007e.png)

[2019-06-17 12:38] fabiand opened #2393 "Support different serial console types"
/kind enhancement

**What happened**:
Today we use a virtio serial console IIRC.
This often works with guests, but some don't support a virtio serial console, or expect a different device (as in kubevirt/common-templates#5)

**What you expected to happen**:
The user has the ability to define a different serial console type (i.e. non-virtio)

**How to reproduce it (as minimally and precisely as pos

[2019-06-17 12:44] nertpinx commented on #2392
I cannot read that, but I'm guessing there is a ps/2 mouse and an unidentified device. Well, this makes sense with the virtio tablet as there are no drivers installed for it. I'm guessing that migt also be the case with the USB tablet, as that is the only thing I can currently think of why the VM is using relative positioning. Could you check the HW side of things after switching back to the usb t

[2019-06-17 13:08] petrkotas commented on #2392
@yinjingjiu, it seems there really is ps2 device. This is weird. Please paste the domain XML for the VM.
I have checked your previous setup. The setting should have worked with bus: usb. There might be an issue somewhere.

[code]

[2019-06-18 01:43] yinjingjiu commented on #2392
Dear @petrkotas

virsh dumpxml <your vm>

[2019-06-18 02:08] yinjingjiu commented on #2392
@nertpinx sorry, I failed to modify the English system language on win7, You guess there is a ps/2 mouse and an unidentified device,Yes, that's right.
![image](https://user-images.githubusercontent.com/8465157/59648226-e8f2ab00-91b0-11e9-9e3c-0bddd0b43b9f.png)

[2019-06-18 04:56] booxter commented on #1847
I've hit this issue on my new SR-IOV hardware. This happens with Fedora, whether it's attached to SR-IOV or not; but Cirros boots fine and I can log into the console. I'll investigate more.

[2019-06-18 06:04] petrkotas commented on #2392
Dear @yinjingjiu it seems, that the issue is in windows not recognizing the tablet.
Please set the bus=usb and post the XML again. As for the virtio, it requires driver installation from the virtio media, in KubeVirt this can be done with virtio-container-disk as described in the guide: https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/virtio-win.html
Drivers you need are vioinp

[2019-06-18 06:29] yinjingjiu commented on #2392
Dear @petrkotas
When I set the bus =usb
<details>
<summary>cat yinjjwin7base.yaml:</summary>

[code]
</details>

<details>
<summary>show vm xml info:</summary>

[code]
</details>

[2019-06-18 09:25] iranzo commented on #1316
Hi,
I'm hitting this:
[code]
When using latest 0.18.1 version deployed via the steps at minikube tutorial, both on katacoda and on a UPI installation.

What would be needed to be provided for diagnosis?

[2019-06-18 10:13] yu2003w commented on #2318
https://bugs.launchpad.net/qemu/+bug/1833204
@rmohr @cynepco3hahue  Issue opened against Ubuntu/qemu

[2019-06-18 10:17] cynepco3hahue commented on #1316
@iranzo did you restarted virt-handler and virt-controller pods after config map update?

[2019-06-18 10:23] iranzo commented on #1316
Hi, configmap update is defined even 'before' starting deploying kubevirt.

Actual sequence of commands are:

[code]

[2019-06-18 10:27] fabiand commented on #1316
Did you create the kubvirt-config configmap?

[2019-06-18 10:29] iranzo commented on #1316
@fabiand in the past I've been  doing above steps in https://github.com/kubevirt/kubevirt/issues/1316#issuecomment-503044457

Is there anything else expected outside of first step?

[2019-06-18 10:30] cynepco3hahue commented on #1316
@iranzo IIRC the kubevirt config map should be under the `kubevirt` ns. So steps should be:
- `export KUBEVIRT_VERSION=$(curl -s https://api.github.com/repos/kubevirt/kubevirt/releases|grep tag_name|sort -V | tail -1 | awk -F':' '{print $2}' | sed 's/,//' | xargs)`
`echo $KUBEVIRT_VERSION`
- `kubectl create -f https://github.com/kubevirt/kubevirt/releases/download/${KUBEVIRT_VERSION}/kubevirt-oper

[2019-06-18 10:37] iranzo commented on #1316
I'll redeploy the environment to validate, but as said, it was working like this (and steps were taken from kubevirt.io website)

[2019-06-18 12:01] rmohr commented on #925
/remove-lifecycle rotten

[2019-06-18 13:47] iranzo commented on #1316
Seems that during my tests, the configmap being created on kube-system was good because the underlying hipervisor had indirect support for nested vms, I've replaced the name and create it after the operator is deployed and worked fine so far.

Thanks!

[2019-06-18 23:12] visheshtanksale opened #2396 "Unable to push kubevirt images to quay.io"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I set DOCKER_PREFIX and DOCKER_TAG which point to my private quay repo. When I try to `make && make push`. I get following error
[code]

**What you expected to happen**:
I expect the images to be pushed to quay.
**How to reproduce it (as minimally and precisely as possible)**:
Point DOCKER_PREFIX and DOCKER_TAG to a quay