[2018-05-02 21:47] booxter commented on #936
@davidvossel while I can't rule out there is an issue with DHCP goroutine, it won't work regardless if we don't even receive DHCP frames into the pod. There must be an issue in VM connectivity to the pod bridge.

One potential lead that @vladikr found is https://bugzilla.redhat.com/show_bug.cgi?id=1411025#c2 that suggests there is expected wait time for libvirt bridges when no traffic from VM is a

[2018-05-03 08:56] cynepco3hahue commented on #937
@davidvossel Thanks for the explanation, I hope it the single problem, because I also saw
[code]

[2018-05-03 09:27] fabiand opened #982 "virtctl start resets OVM spec"
virtctl resets my OVM during start:

[code]

[2018-05-03 09:27] fabiand commented on #982
I actually suppose that I do something wrong, just not sure what.

[2018-05-03 09:29] fabiand commented on #982
The same happens with plain patch:

[code]

[2018-05-03 09:55] rmohr commented on #937
Another interesting one:

[code]

[2018-05-03 10:01] rmohr commented on #970
@mlsorensen maybe my comment was confusing. Nothing of what I describe above is currently happening, just in case it sounded like the presets should take the limits into account already.

[2018-05-03 10:28] rmohr commented on #937
ha, that is a neat one. That is libvirts ERROR_OK error. Basically no error. We probably reach it through somewhere in the code by accident.

[2018-05-03 10:36] rmohr commented on #937
Could also be a libvirt-go bug. It normally only foes GetLastError(), when it thinks that there is an error.

[2018-05-03 10:55] rmohr commented on #966
So should this image simply be there to have a unified way to get a complete yaml of the `current` kubevirt version, where it is easy to exchange `namespace`, `tag` and `registry`? For that, I guess we could provide a template.

It wuld not work for more because of the reasons which @davidvossel mentioned.

[2018-05-03 11:08] cynepco3hahue commented on #937
@rmohr @davidvossel Does it possible that we run `Sync` action, before `QEMU` process succeeded to start?

[2018-05-03 13:16] davidvossel commented on #937
We have two types of errors here.

1. Libvirt errors are anything that has **virError** in the error string. Line the following

```server error. command Launcher.Sync failed: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching uuid '0bcaa681-040e-4018-b149-40e7438334d7' (kubevirt-test-default_testvmzgck7)')```

2. Cmdserver errors between virt-handler and virt-launcher

[2018-05-03 13:19] rmohr commented on #937
Are we sure that this EOF error is happening on vm-start and not shutdown?

[2018-05-03 14:06] cynepco3hahue commented on #937
@rmohr under `processVmShutdown` we are doing `Ping` to cmd server, so I believe all EOF errors connected to a VM start

[2018-05-03 14:36] davidvossel commented on #937
the error occurs in processVmUpdate, that's the only place sync is called.

[2018-05-03 14:38] cynepco3hahue commented on #937
and another one :smile:
[code]

[2018-05-03 14:42] davidvossel commented on #937
for the libvirt errors, are we seeing any other patterns? Like does this occur on both the openshift and k8s providers?

[2018-05-03 14:56] cynepco3hahue commented on #937
@davidvossel I saw it pretty often under windows tests

[2018-05-03 16:36] mlsorensen commented on #970
Oh no, I wasn't getting that from your comment. Just that I thought maybe this could be worked around for users via presets, adding a 'limits' in addition to the 'requests' in the preset would mean that  individual VMs would not need to specify both.

 As it stands, if I have a 'foo' preset that 'requests' 1Gi of RAM, as a user if my default limits are small I have to still specify a 'limits' valu

[2018-05-03 16:43] mlsorensen opened #985 "Rename VirtualMachine to VirtualMachineInstance and OfflineVirtualMachine to VirtualMachine"
Per [discussion](https://groups.google.com/d/topic/kubevirt-dev/hib474lSXwI/discussion), change OfflineVirtualMachine to StatefulVirtualMachine.

[2018-05-03 16:57] itamarh commented on #985
Are we doing a version in which both are supported as OfflineVirtualMachine gets deprecated, or just switch?

[2018-05-03 18:59] booxter commented on #936
An alternative to customizing interface model type via API would be labeling / tagging images with metadata that would specify hardware requirements. Then kubevirt would consume the metadata to make decisions on which model type to choose. (This is how OpenStack Nova does it: Glance images carry hw_vif_model tags that then Nova Compute consumes.)

[2018-05-03 19:03] davidvossel commented on #936
excellent work on tracking this down!

I think we're going to have to add VIF info into the VM's domainSpec. This is going to take some discussion

@rmohr did you have any thoughts on now we should represent network devices in the KubeVirt API?

[2018-05-03 19:17] booxter commented on #936
For the record, I reported a bug for Cirros suggesting they should wait for interface link ready before starting udhcpc: https://bugs.launchpad.net/cirros/+bug/1768955

[2018-05-03 21:55] booxter opened #987 "MTU inside VM doesn't reflect tap device MTU"
MTU mismatch is a widely known root cause of TCP connection timeouts and other issues.

In the pod:
[code]

In the VM:

[code]

Note that it's 1450 in the pod but 1500 inside the VM.

Connectivity issue can be confirmed with the following commands executed from the VM:

[code]

As you can see, anything larger than 1422 (+28 bytes for IP header overhead) doesn't get through the network.

The fix he

[2018-05-04 09:25] fabiand commented on #985
Yes, we intentionally stay a prerelease for now in order to have the freedom.

But we can/should do a few things to be friendly:

1. introduce warnings for a release or two (in events, inlogs, in docs, in release notes)
2. change the entity name

[2018-05-04 09:26] rmohr commented on #985
We are in alpha. I would simply rename it.

[2018-05-04 09:55] rmohr commented on #987
@booxter would you also like to work on a PR for that? Just let us know.

[2018-05-04 11:58] rmohr commented on #936
I am in conflict. On the one hand for a huge amount of "legazy" workloads inside VMs, the pod network is exactly what they will need. For more specific use-cases like VNF, ... it is definitely not good enough. I would love the give the pod network interface a place on the API which underlines its very special role and not just make it an entry in "anonymous" list of interfaces. On the other hand I

[2018-05-04 12:17] michalskrivanek commented on #985
I'd rather see OVM/VM as VirtualMachine/[Running|Active]VirtualMachine . For any management interface the OVM is the resource you're going to primarily work with.
In any case, if you change it then please do not change it again in few months:)

[2018-05-04 12:52] rmohr commented on #985
If you want the behaviour of a StatefulVirtualMachines, then yes. There is no reason or possibility to work with a StatefulVirtualMachine if you want a VirtualMachineReplicaSet, or possible future things like VirtualMachineStatefulSets, VirtualMachineJobs, VirtualMachineCronJob, ...

So a huge difference is, that what you are choosing as the owner of the VirtualMachine tells to a degree something

[2018-05-04 13:19] michalskrivanek commented on #985
makes sense. so...we talked about the OVM being a case of a set with 1 replica before..so why don't we skip it completely and just use VirtualMachine[Stateful|Replica]Set with a semantic difference of replica 1 vs >1 and stateful/stateless? That was there is at least less objects to deal with

[2018-05-04 13:38] davidvossel opened #988 "segfault encountered during functional testing"
[code]

[2018-05-04 15:20] ansiwen opened #989 "Add support booting (of multiboot kernels) with a virtio-net/virtio-blk device"
There are some small workloads, that would benefit from being managed by a orchestration framework like kubernetes, like unikernels for example. It would be nice to be able to directly start these kernels without wrapping them in an otherwise useless diskimage with bootloader. Also these workloads usually need a pure virtio-net (and/or virtio-blk) device. Currently the VM is started with an e1000

[2018-05-04 15:45] booxter commented on #987
Yes @rmohr I am working on it, I just don't see an option for me to self-assign the issue (btw the fix will probably also require some preparatory steps in https://github.com/vishvananda/netlink tp expose interface MTU).

[2018-05-04 17:05] mlsorensen commented on #985
That's a good point. I think the renaming is prudent simply because it's a simple change to something already in place. Just jumping straight to VirtualMachineStatefulSet would presumably require more effort, and in the meantime we allow OfflineVirtualMachine to become entrenched, and who knows how long it will ultimately stay around.

[2018-05-04 17:29] mlsorensen opened #991 "Initialize empty filesystem-based PVs"
Currently, PVs must be manually prepped with a disk.img before they can be successfully used with a KubeVirt VM. There are often cases where users intend to attach an empty PV to their VM during new deploys, so this process can be handled automatically.

Per [discussion](https://groups.google.com/d/topic/kubevirt-dev/hybg5umVA0A/discussion), If 1) a volume source is a PersistentVolumeClaimVolumeSo

[2018-05-04 18:50] vladikr commented on #987
I think, maybe I'm wrong, if you'd get a link to the device, you could read/write the MTU via the attrs
https://godoc.org/github.com/vishvananda/netlink#LinkAttrs

[2018-05-04 19:03] booxter commented on #987
You are right @vladikr I already figured it out and have the code, will post later.

[2018-05-04 19:50] booxter opened #992 ""unknown flag: --max-args" when syncing the cluster"
When I cluster-sync, I get the following error using the latest checkout:

[code]

It looks like --max-args is intercepted by 'ssh' and not passed into the node to call xargs.

[2018-05-04 19:51] booxter commented on #992
BTW I have a fix for the issue, please assign me to it.

[2018-05-04 20:05] booxter opened #994 ""./cluster/kubectl.sh get vms" after cluster-sync claims "vms" resource is not supported"
This happens once after cluster-sync; the second call to the same command always returns the correct result (no resources found).

[code]

[2018-05-04 21:43] booxter commented on #987
I have a fix (see above) though I need to add a functional test case before proposing it for merge.

The test I envision will: 1) extract eth0 MTU from result of 'ip a' called on the VM; 2) ping the VM with the interface MTU sized payload, and vice versa, and check that ping succeeds. I will probably need to extract remote command execution logic from an Expecter usage in tests/vm_userdata_test.go

[2018-05-04 22:08] booxter opened #995 "Impossible to execute a specific functional test"
It seems there is no way to make 'make functest' execute a subset of test cases. Since the suite is very time consuming, we need a way to execute part of it. @vladikr told me he usually temporarily removes all unneeded test files while working on a particular test case but I think we should have something better.

[2018-05-05 10:30] rmohr commented on #995
Changing 'It' to 'FIt' is enough Appending an F works for others too. Also, ginkgo supports regexp matching. Please read the Ginkgo manual for further details: https://onsi.github.io/ginkgo/

[2018-05-05 10:32] rmohr commented on #995
@itamarh we do that already where appropriate. E.g. for Windows tests,...

[2018-05-06 10:29] #992 closed

[2018-05-06 14:49] fabiand commented on #995
I talked with @nellyc about classifying tests, and on IRC @davidvossel had a similar idea.

The reasoning is prett ymuch as requested in this RFE: Our testsuite is large (GOOD!), but we might want to classify them into different tiers, this should speed up the testing for the lowest tier i.e. tier0, and i.e. tier0 could be a mandatory suite to pass before PRs can be merged.

IIRC then @lukas-bedna

[2018-05-06 14:52] fabiand commented on #994
Could this be a timing issue?

I.e. does it also happen with a `sleep` or manual (human) sleep between the
two calls?

- fabian

On Fri, May 4, 2018 at 10:05 PM, Ihar Hrachyshka <notifications@github.com>
wrote:

[2018-05-06 14:53] fabiand commented on #991
For reference, it was noted that a 4% overhead seems to be a reasonable number.

[2018-05-06 14:56] fabiand commented on #936
Just for reference, we are working on a doc to outline our proposal of how to represent multiple nics in the kubevirt API.

At the same time work with upstream kubernetes on (3) proposal of how K8s can be thought to support multiple networks (and other things).

[2018-05-06 15:03] cynepco3hahue commented on #995
@fabiand I already wrote `ast` parser for our tests - https://github.com/kubevirt/qe-tools/tree/master/pkg/polarion-generator, and had the idea to use it for tagging:
1) run `ast` parser and get only test names with a specific tag
2) generate `--focus=` parameter with names from the above section
3) run tests with `focus` parameter

The tool already supports `caseimportance` field
[code]
so we can

[2018-05-06 20:57] fabiand commented on #985
Currently I tend to keep it, as one important story for KubeVirt is to allow importing leagcy VMs into Kubernetes.

In the classic use-case we we have two strong side: Individual machine management (ovirt, vmware) cloud management (openstack).

TO me it is important the we do our nbest to support these "themes" of virtualization. Having a dedicated entity which for one of the use-cases thus seems

[2018-05-07 02:23] fabiand opened #996 "Introduce `virtctl display`"
Today we need to either use `virtctl spice` or `virtctl vnc`.

In order to make it more convenient - and intention focused - it would be nice to just expose `virtctl display` (eventually witha flag to enforce a certain connection method), which auto-detects what options are available (vnc/spice) and choose the best option.

Th emain reason is that a user must not worry about the correct lower-leve

[2018-05-07 06:28] rmohr commented on #995
That is very disappointing. They should all pass and we are  workikng hard on improving that. We have some non-critical issues in the tests which make them still flaky and which are kind of self-healing, but still users would experience them too. If some tests are flaky, maintainers need to jump in, judge if the PR can still go in and initiate fixes for the tests.

Further instead of already right

[2018-05-07 06:31] rmohr commented on #996
I am sceptical about this. It is something different to choose between spice, vnc, rdp, than choosing between  different shells **in** a container in the context of `kubectl exec`, compared to these protocols which need  client-side support to work properly. Further a lot of different flags may apply to different types.

[2018-05-07 06:33] rmohr commented on #994
That is expected. It can take a few seconds until the kubernetes api server makes newly posted custom resource definitions available on the api. We could move our cluster-readiness check  from `automation/tests.sh` to `cluste/sync.sh`, to make it easier on the dev-side to see when everything is ready. @booxter would that help?

[2018-05-07 08:56] vatsalparekh opened #997 "virt-launcher pods in pending"
After updating kubevirt to `0.5.0`, and creating VM from ManageIQ creates VM, but those VM stays in `phase: Scheduling`
also, the pod `virt-launcher-vparekh.test-nzvn9` stays in `pending`
[code]

[2018-05-07 08:56] vatsalparekh commented on #997
@pkliczewski

[2018-05-07 09:03] rmohr commented on #997
@vatsalparekh reagrding to the `oc logs` command, that does not say that the pod is in pending. It simply says that you need to select a container. Could you share `oc get vms <vmname> -o yaml`?

My guess is that on the KubeVirt level, everything is fine, but the ManageIQ plugin does not update the state because of https://github.com/kubevirt/kubevirt/pull/973#issuecomment-385368263.

[2018-05-07 09:12] vatsalparekh commented on #997
@rmohr
[code]

[2018-05-07 09:15] rmohr commented on #997
@vatsalparekh anything in the k8s event log which indicates why the pod does not get scheduled?

[2018-05-07 09:35] rmohr commented on #997
@vatsalparekh could you show me the node? We recently added liveness-checks to virt-handler. I would need to see the node labels and annotations to see if the node is fine. Something like `oc get nodes <mynode> -o yaml`.

[2018-05-07 09:36] rmohr commented on #997
@vatsalparekh oh and please also the yaml of the pod.

[2018-05-07 09:37] vatsalparekh commented on #997
@rmohr
[code]

[2018-05-07 10:02] rmohr commented on #997
Ok, so after examining the system of @vatsalparekh, it turned out, that the virt-handler daemonset got updated, but since we did not specify an update strategy on the daemon set, the new version of virt-handler was not rolled out immediately.

[2018-05-07 10:59] #947 closed

[2018-05-07 11:07] rmohr commented on #989
@ansiwen hi,

sounds useful in general. How would you want to ship the kernel? Packed inside a container image like we do with the registry disk? Alongside disk images in pvcs? Maybe having an extra volume type? Did you have something in mind already?

Yes we need to adress that soon. There are some issues piling up because we don't make it configurable.

[2018-05-07 11:10] rmohr commented on #987
The scenario sounds ok in general. Another one would be to start  a vm, open serial console connection, check MTU there, then open a `kubectl exec` connection to the pod of the vm and check mtu on the bridge too ...

We have helper functions for executing commands inside pods and inside vms, they may help you: `ExecuteCommandOnPod` and `LoggedInCirrosExpecter`.

[2018-05-07 13:31] vladikr commented on #970
@mlsorensen I'm wondering whether are working on this already? I'd like to start a PR, just don't to get in your way if you are planning too. :)

[2018-05-07 13:42] nellyc commented on #995
for us, its not about not executing some tests, but about prioritizing the executions (tiered approach testing). We are going to execute all tests.
As for PR testing you may reach a point where the tests are too time consuming, so having this criticality tag is not a bad idea in my opinion, of course, we dont have to use it right away

[2018-05-07 14:29] booxter commented on #995
First, I don't suggest with this PR any changes to how we gate changes. I agree with @rmohr that the right approach is not ignoring test failures but prioritize them to have a suite that consistently passes.

The issue at stake here is only about helping engineers who iterate on test cases in development to avoid running time consuming (and irrelevant to their immediate goal) test cases. However o

[2018-05-07 14:36] rmohr commented on #995
You can:

[code]

To focus via a Makefile:

[code]

Hope that helps.

[2018-05-07 14:52] booxter commented on #994
@rmohr I don't think that's a bootstrapping timing issue. I just put 5 minutes sleep between cluster-sync and kubectl commands, and the issue remains.

[2018-05-07 14:53] rmohr commented on #994
interesting. And it is always the first call, right?

[2018-05-07 14:56] booxter opened #1001 "Make virtctl console wait for console to become ready"
When I start a VM, I would like to immediately connect to its serial console to see all the output it may produce during boot. But I can't do it right away, because I get the error:

[code]

To mitigate the impact of it, I need to use a "while true; do virtctl console ...; done" command to get connected as soon as possible.

While I appreciate that the infrastructure to provide console output may

[2018-05-07 15:42] simon3z opened #1002 "OVM creation fails with "spec.running in body is required""
I got this today (I don't think I ever saw it before):

[code]

Fixed adding `running: false` in my case.

cc @fabiand @davidvossel

[2018-05-07 15:53] rmohr commented on #1002
Closing in favour of #945.

[2018-05-07 15:53] #1002 closed

[2018-05-07 16:06] simon3z opened #1004 "Multiple virt-launcher Pods running at the same time"
I ran `virtctl stop` and `virtctl start` on the same ovm and I got two `virt-launcher` running at the same time:

[code]

During the `Terminating` state (shutdown?) is qemu still attached to exclusive resources? (E.g. disks)

If so, wouldn't it mean that we have two qemu instances trying to access at the same time those exlusive resources?

Should we wait for the Pod being fully terminated before

[2018-05-07 16:08] rmohr commented on #1004
At which version are you?

[2018-05-07 16:09] rmohr commented on #1004
Afaik that only ever happend on openshift (not k8s) with a version to less or equal 0.4.1.

[2018-05-07 16:30] ansiwen commented on #989
@rmohr: I don't have a clear opinion yet, how to ship the kernel. Inside a container image sounds convenient, because it would be the same distribution as for normal containers. It feels a bit like "abuse" though. An alternative would be a generic URL to the image or a tar ball? Not sure if this is practical though. Does it make sense in some cases to use both a filesystem and a kernel separately?

[2018-05-07 16:32] davidvossel commented on #945
Running has always been marked as a required field in our API.  The only difference now is required fields are being enforced at creation time.

All our example ovms reflect this requirement.

[2018-05-07 17:02] booxter commented on #994
Yes, always the very first call only, and it's specific to kubevirt resources.

[2018-05-07 17:28] mlsorensen commented on #991
I was interested in what the overhead was for, as it would be nice to have an accurate volume size.  You can use statfs for the difference between b_free and b_avail to determine the 'admin' reserved space. I've observed that when the storage class provisioner uses XFS this gives a true accounting of the full volume as usable, and with ext4 it shaves the 5% "admin reserve" off of the usable space.

[2018-05-07 21:00] fabiand commented on #991
Let me /cc @aglitke who provided the number

[2018-05-08 03:52] edsealing commented on #977
Not sure if this helps, but the Multus CNI currently allows for multiple NICs in pods, connected to different CNI children.
https://github.com/Intel-Corp/multus-cni

By default, it creates the first interface as "eth0" additional pod interfaces as "net0", "net1", etc.

I've used Calico, flannel, SR-IOV interfaces all within the same pod (effectively 3 interfaces connected to 3 different networks)

[2018-05-09 07:30] #995 closed

[2018-05-09 08:08] rmohr commented on #1001
hm, since the cluster will try to schedule a workload indefinitely, that could hang indefinitely too. We may be able to handle that scenario with extra timeout flags, or something like that. Thoughts?

[2018-05-09 16:42] booxter commented on #1001
Having a conservative timeout (5 minutes?) and ability to abrupt waiting (Ctrl+C) would be a good solution.

[2018-05-09 16:43] booxter commented on #995
I was going to try it today and then document it somewhere for others' reference. (We probably need a TESTING document in the repo, what do you think?)

[2018-05-09 17:06] #969 closed

[2018-05-09 19:33] rmohr commented on #995
Sounds good. We currently have https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md and https://github.com/kubevirt/kubevirt/blob/master/docs/debugging.md. You could either try to add it somehwere there, restructure these pages or add this testing document you mentioned.

[2018-05-09 23:47] fabiand commented on #989
For sure!

PRs are welcome - in what form soever :) As you know they can change over time - and become a greater good. Well, I'm probably exaggerating now ;)

Here is our contributor guide: https://github.com/kubevirt/kubevirt/blob/master/CONTRIBUTING.md

(Which might need an update)

[2018-05-10 06:49] SchSeba commented on #891
I was looking into this issue,I also check how kubernetes do it.

For the client they use a script in build time to push this variables to the compiled code with ldflags
For the server they again push data with ldflags into the api-server and have an api url /version.
The returned data is unmarshal with the follow struct and displayed to the user.

[code]

Our virt-api is not expose outside the cl

[2018-05-10 13:12] davidvossel commented on #891
I'm not sure I follow this. why would we need to expose virt-api outside of the cluster to retrieve versioning info?

[2018-05-10 17:49] SchSeba commented on #891
In kubernetes they have a url /version to get all this data.
We need something like this to get our data from the virt-api

[2018-05-10 20:46] booxter commented on #936
Asked in libvirt-users@ about link establishment slowdown for e1000 in case someone has insight into the issue: https://www.redhat.com/archives/libvirt-users/2018-May/msg00065.html

[2018-05-10 21:47] booxter commented on #936
A user suggested in libvirt-users@ thread that we could explore other model types for our interface defaults, for example, rtl8139. I tried it, and indeed it is not affected by the delay either. That being said, I am told the rtl driver is slower / not well supported. On the bright side, it should work for both Linux and Windows guests.

[2018-05-11 01:17] fabiand commented on #891
Sounds good @SchSeba can you file an issue to track the server side?

[2018-05-11 06:25] rmohr opened #1014 "CI Functional Tests issue tracker"
KubeVirt issues

Solved:
* ~Cirros and e1000 network interface: boot is delayed which lets tests timeout: #936: Fixed in #1047~
* ~Segfault on expecter if test fails: #988: fixed with #1039~
* ~`unknown error encountered sending command Launcher.Sync: reading body unexpected EOF`: https://github.com/kubevirt/kubevirt/issues/937#issue-316732592.~
 * ~404, `virtualmachines.kubevirt.io "testvm4bfjb"

[2018-05-11 06:39] rmohr commented on #1014
@vladikr @booxter @davidvossel @cynepco3hahue FYI

[2018-05-11 12:58] petrkotas commented on #945
The running is required field and have to be provided. If you do not add `running:true|false` than the ovm does not have any information how to proceed. We can discuss whether the ovm should do some defaulting to set default value to be `running: false`. @rmohr @fabiand what do you think?

[2018-05-11 18:35] booxter commented on #936
I also reported a bug against qemu for the slow e1000 initialization: https://bugs.launchpad.net/qemu/+bug/1770724

[2018-05-11 21:06] booxter opened #1017 "Support IPv6 pod networks"
Current implementation of networking layer assumes that pod networks carry IPv4 addresses. I believe there is a way to deploy k8s with IPv6 networks instead. For example, refer to https://www.projectcalico.org/enable-ipv6-on-kubernetes-with-project-calico/

The assumption about IPv4 is made in several places: when extracting the address from pod network interface; when serving leases with DHCPv4 s

[2018-05-14 07:06] SchSeba opened #1018 "Create version resource for virt-api"
Continued the follow issue [Add virtcl version command #891](https://github.com/kubevirt/kubevirt/issues/891) I am creating this issue to track the server side.

For the virtctl version command we need to add ldflags on virt-api build, and add the follow struct.

[code]

The second thing we need is to create a new sub resource name version that return this struct to the client.

[2018-05-14 08:36] rmohr commented on #1018
@SchSeba great that you start working on that. Is there a reason to track the "virtctl version" command separately?

[2018-05-14 09:11] vatsalparekh opened #1019 "VM phase stuck in 'pending'"
Creating a VM from ManageIQ seems to get stuck in 'Pending'
checking events shows below log (see the last lines)
[code]
Using kubevirt `0.5.0`

[2018-05-14 09:11] vatsalparekh commented on #1019
@fabiand @rmohr

[2018-05-14 09:31] rmohr commented on #1018
@SchSeba you can add them in `hack/build-go.sh`. There we iterate over all binaries to build. That should be the right location to add the ldflags.

[2018-05-14 09:34] rmohr commented on #1019
@vatsalparekh seems like your installation on openshift is not complete. That normally happens, if the controllers don't have the right security context set. Could that be? Could you check if the security contexts are configured like suggested here: https://www.kubevirt.io/user-guide/#/installation/README?id=using-command-line-interface?

[2018-05-14 10:54] vatsalparekh commented on #1019
@rmohr yes, security context was not set! corrected, VM in `scheduled` now

[2018-05-14 10:54] #1019 closed

[2018-05-14 14:05] itamarh commented on #1019
How do we warn users about this issue if common?

[2018-05-14 15:52] davidvossel commented on #936
the e1000e device is causing problems with the test suite apparently.

A solution that came up in the community meeting is for us to create a value in the VM Spec's feature section to define the pod network driver. This avoids us having to define network interfaces in the api for now, and lets us give users the ability to define what drive to use just for the pod network. I think this is something

[2018-05-14 16:39] vladikr commented on #936
My take on this is that we simply need to increase the tests timeout, to make tests more resilient, instead of introducing a new feature.
We are still going to implement a new API to represent network interfaces in order to support various connections methods to the pod network (bridge or proxy) and connecting various devices using device plugins.
As @fabiand  mentioner earlier, we are currently d

[2018-05-15 07:57] fabiand commented on #945
I'd say we can sanely default to `running: false` - it would just be a default like with any other field.

[2018-05-15 07:59] fabiand commented on #1017
I do agree that we should support a Kubernetes cluster run with IPv6.

But let me highlight that in stock Kube (i.e. not with multus) you can have either IPv4 OR IPv6, not both of them together. Further more, regardless of the protocol, a pod will only have a single address.

But yes again, we should also support if Kube is run in IPv6 native mode.

[2018-05-15 09:24] fabiand opened #1023 "KubeVirt Application readiness and health checks"
KubeVirt is growing and requires more features and specific configurations in order to work correctly.

Some requirements are soft (i.e. block storage) others are mandatory (i.e. correct security context).

It would be good to have a component to signal me - as an operator - if kubevirt was operating correctly, or if there there is a configuration item which is incorrect or could be set to a bette

[2018-05-15 09:26] fabiand commented on #1019
There was some offlist discussion to have a cluster level component (maybe node needed as well?) to perform checks to indicate the health of th eapplicaiton (Kubevirt) - this component could have checked this condition as well.

I started tracking the items here: https://github.com/kubevirt/kubevirt/issues/1023

[2018-05-15 10:44] rmohr opened #1024 "Remove volumeName and reference volumes from disks with the disk name"
###  Here what we do right now with disks

We reference a volume with an extra `volumeName` entry.

Here an example disk entry:

[code]

and here the matching volumes entry:

[code]

On pods it works differently. There every `volumeMount` has a name, which also matches the name of a volume.

We can do the same. Let the name of the disk reference a volume and remove `volumeName` in order to converg

[2018-05-15 13:54] davidvossel commented on #945
Defaulting running to "false" makes sense when the object is called a OfflineVirtualMachine. What about when we change the name to something like a StatefulVirtualMachine?  I'd be confused if I posted a SVM and it didn't run.

The name OVM will change soon. I'd suggest leaving running as a required field until then. After we settle on a name, we can decide what the default should be for running.

[2018-05-15 15:00] cynepco3hahue commented on #1014
Another strange failure:
[code]
I do not sure why it searches for `virt-handler-2ppqw`, when my cluster state is:
[code]

[2018-05-15 15:01] cynepco3hahue commented on #1014
And another one from OVM tests
[code]

[2018-05-15 17:34] xsgordon opened #1029 "Cold "Resize" while maintaining VM identity."
As a user I would like to be able to change the CPU, RAM, or Disk of an offline virtual machine while maintaining its identity (UUIDs, MAC, etc.). Changes would take effect the next time the virtual machine is instantiated.

- [x] Keep SMBIOS UUID
- [x] Keep vNIC MAC https://github.com/kubevirt/kubevirt/issues/1069
- [x] Keep disk serial https://github.com/kubevirt/kubevirt/issues/1133

[2018-05-16 06:41] petrkotas commented on #945
I tend to agree with David. `running: false` for statefull VM is confusing. Having it required means, user have to decide what he wants to do with it.

[2018-05-16 07:52] rmohr commented on #1029
That is exactly what is happening right now. Did you run into some issues?

[2018-05-16 07:54] rmohr commented on #1029
Ah ok, MAC is not kept. Do you have a more concrete list? Since all the other things you mention are working like you are requesting.

[2018-05-16 07:54] rmohr commented on #1029
@vladikr FYI regarding to the MAC.

[2018-05-16 10:18] itamarh commented on #945
I agree the different names may be confusing. I don't agree with putting a burden of the user to have to decide as a simple way out for us (as a general rule of thinking, sometimes we have to)

[2018-05-16 11:04] rmohr commented on #1014
By accident I came across the solution for the 404 error. PR is #1033

[2018-05-16 11:10] rmohr commented on #965
@yuvalif I think that you have a very good example here for something which we want to show on the vm too.

[2018-05-16 12:39] vladikr commented on #1029
It depends on the CNI provider I suppose. Some have DHCP and some don't. Also, what if the VM starts after the lease has been expired...

The MAC and IP are not kept because we discover the network interface in the pod each time we start a vm. Keeping the MAC should be possible, but to guaranteeing the same IP would be tricky.

[2018-05-16 12:39] nellyc commented on #816
@fabiand can we please push it?

[2018-05-16 12:41] nellyc commented on #814
@fabiand any updates?

[2018-05-16 12:42] simon3z commented on #816
cc @aglitke

[2018-05-16 12:44] nellyc commented on #794
@fabiand where do we stand with this?

[2018-05-16 12:51] nellyc commented on #970
@fabiand we marked it for 1.1, let us know if you disagree

[2018-05-16 13:46] itamarh commented on #1029
If dhcp lease expired we still get "normal dhcp behaviour". that is fine.
I understand we can't guarantee it, just stating its probably the main reason to keeping the mac, so we should have it in the back of our heads.

[2018-05-16 13:56] petrkotas commented on #814
This issue has already been solved by the #843.
I would propose to close this issue since @karmab seems to have it all
running.
--
s pozdravem,
Petr Kotas

On Wed, May 16, 2018 at 2:41 PM Nelly Credi <notifications@github.com>
wrote:

[2018-05-16 15:01] mlsorensen opened #1036 "ISO readonly defaulting to 'nil' ?"
I've been experimenting with ISOs and I may have found an issue with the current master. Starting a VM I get this in the pod logs:
[code]
Here is the YAML. The docs indicate that CDROMs are readonly by default, but looking at the code it seems that readonly may be 'nil'.

[code]

If I change the disk definition to this it works:

[code]

[2018-05-16 15:46] stu-gott commented on #1036
brilliant! nice find.

[2018-05-16 16:58] stu-gott commented on #1029
@vladikr MAC address is commonly used to distinguish DHCP clients for IP address assignment, but there's also client-id/duid for IPv4 and IPv6 respectively.

Glancing at the dnsmasq man page, it seems we could use that instead of hwaddr. Just mentioning that in case it's a more straightforward approach than trying to maintain MAC addresses (which is arguably a good idea for other reasons).

[2018-05-16 17:15] booxter commented on #994
The issue seems to be related to short name (vms) used. If I instead call 'get virtualmachines', it works fine the first time and all consequent times regardless of whether I later use the shortened version.

[2018-05-16 17:42] davidvossel commented on #945
yep, I agree. We need a default. I suggest we hold off on making a decision about the default until after we are 100% committed to a name (ovm vs svm discussion) because the name impacts the default we use.

[2018-05-16 20:08] booxter opened #1041 "Example yamls are not validated for correctness"
This is a follow-up to https://github.com/kubevirt/kubevirt/pull/1040 that fixes alpine machine template. To make sure there are no other issues in generated templates, we should make examples validation part of 'make generate' as well as CI. Specifically, we should validate that the generated example would pass corresponding API validators which are defined in https://github.com/kubevirt/kubevirt

[2018-05-16 21:57] booxter commented on #936
I've made a bunch of tests with cirros and alpine images, and it seems like we have no single good option. To list:

* e1000 works for both but results in test timeouts;
* (despite what I was saying before) e1000e works for neither of 'simple' images (guest drivers are not included; not sure how I missed that, probably libvirt side changes were not applied when I was testing it before;
* rtl* make

[2018-05-17 02:46] itamarh commented on #936
@booxter just to clrify - virtio should be supported by Windows, just required installing the drivers (not saying it solves our problem, just to make sure).

[2018-05-17 09:57] fabiand opened #1044 "Move to quay for hosting images"
For a number of reasons I'm proposing to move to quay for image hosting:

- connection issues to dockerhub now and then
- connection speed issues to dockerhub now and then
- automatic server side cleanup of unused images

[2018-05-17 10:59] yuvalif commented on #1017
could we break that to steps:
(1) given that k8s uses calico and configured with ipv6 addresses, and given that our VM supports ipv6, we should be able to have an ipv6 address allocated to the VM. We will have to make sure that there is nothing which is ipv4 specific in our kubevirt code when moving the ipv6 pod IP to the VM, and that our internal DHCP server does not have any issues with that
(2)

[2018-05-17 12:26] xsgordon commented on #1029
@rmohr list right now is pretty short:

* MAC
* IP (implied, as it seems that is why they want the MAC)
* SMBIOS UUID

There may be other elements of VM "identity" that we think of based on our experience with oVirt/OpenStack but these are the items that came up in conversation.

[2018-05-17 12:27] xsgordon commented on #1029
@vladikr we can probably make some disclaimer w.r.t. IP as long as we can keep the MAC. Something along the lines of keeping the IP will depend on these X elements of your network setup.

[2018-05-17 12:48] cynepco3hahue opened #1045 "VMs definition under cluster/examples use images with devel tag and kubevirt prefix"
We already had a discussion about `devel` tag, but if we want to leave `devel` tag we also need to change the prefix to `registry:5000/kubevirt/...` otherwise, it will not work.

[2018-05-18 07:40] rmohr commented on #1014
@cynepco3hahue looks like virt-handler crashed ad got restarted. This one is just two minute old:

[code]

So it either crashed, or one of the tests which kill virt-handler are the reason (the daemon-set restarts virt-handler, but maybe we have a timing issue there).

[2018-05-18 07:44] #1036 closed

[2018-05-18 12:34] stu-gott commented on #805
https://github.com/kubevirt/kubevirt/pull/986 addresses the reason this was re-opened.

[2018-05-18 12:34] #805 closed

[2018-05-18 18:18] rmohr opened #1050 "Collecting Tips and Tricks"
@booxter came up with the idea to collect some tips and tricks which we are going to collect and maintain. Similar to [Neutron](https://docs.openstack.org/neutron/latest/contributor/effective_neutron.html).

Let's collect some tips and tricks and then create the document. If we have a few we can decide on creating the page or not. I'll start with the first one:

 * Don't use asynchronous ginkgo te

[2018-05-18 19:00] davidvossel commented on #1014
@rmohr do you think it would be worth us having checks before and after every test iteration that catch if any KubeVirt component crashes?

[2018-05-20 02:57] itamarh commented on #805
@stu-gott #986 allow to exclude, not set order. which means i can't get multiple behaviors.
I don't know if we designed presets to inherit from each other, but ordering would allow me to define my default say, windows behavior in a preset to e1000, but also benefit from "high performance preset", which overrides it to virt-io, but not having to re-specify all other configs of any other preset whic

[2018-05-21 10:00] vatsalparekh opened #1052 "Cannot power off a VM in phase: failed"
If a VM is powered on, but in `phase: failed` (which means not actually powered on?), and currently as we see it as Powered On in ManageIQ, if we try to Power it off from manageiq, it just stays there as Powered on in ManageIQ, and in `vms` on openshift.

@pkliczewski suggests this is on kubevirt side

[2018-05-21 11:53] yuvalif commented on #1045
i need this fix for PR #962. So, it was fixed in a commit: https://github.com/kubevirt/kubevirt/pull/962/commits/c81bacc894f7cba7f03cbaf19b4e41b5ea7f5e0e
note that both the generator and generated files were modified and checked in.

[2018-05-21 14:34] yuvalif commented on #1014
I get this failure in CI but not when i run manually:
[code]
which is strange, because of these lines:
[code]

seems like the test should be skipped in the CI?

[2018-05-21 15:02] cynepco3hahue commented on #1014
@yuvalif It the same as under https://github.com/kubevirt/kubevirt/issues/1014#issuecomment-389199091

[2018-05-21 15:04] cynepco3hahue commented on #1045
@yuvalif I do not sure it correct approach, I believe we just must add `registry` under docker registries as part of CI pre-backed images

[2018-05-21 17:27] jdandrea commented on #977
@edsealing, if I'm reading the README for Multus CNI correctly, does this mean I could take that and KubeVirt and for example, use SR-IOV straight away? That's rather compelling stuffs, as is the Multi part. I like options.

[2018-05-21 17:56] cynepco3hahue commented on #1014
@rmohr @davidvossel I think we just do not wait for `virt-handler` pods after the test
[code]

[2018-05-21 17:57] cynepco3hahue commented on #1014
Encountered additional failure on replica set test
[code]

[2018-05-21 19:42] rmohr commented on #1052
@vatsalparekh can you please posed the corresponding VirtualMachine and OfflineVirtualMachine objects?

[2018-05-21 19:59] #972 closed

[2018-05-21 20:10] rmohr commented on #1052
Also which version of KubeVirt are you using?

[2018-05-22 06:35] vatsalparekh commented on #1052
@rmohr
This VM's scheduling failed was mainly when openshift node was down, and make the cluster up again

[code]
[code]
kubevirt version was v0.5.0

[2018-05-22 07:13] rmohr commented on #1052
@vatsalparekh the OfflineVirtualMachine shows that the VirtualMachine exists (`spec.created=true`). It does not show it as ready (`spec.ready=true` would need to be set). That means If a node goes down, the pod where the vm runs in goes to "unknown" state. That means that the system does not know 100% if the vm is down or not. That blocks the deletion of  the VirtualMachine (as you can see Offline

[2018-05-22 12:26] phoracek commented on #977
@edsealing @jdandrea the problem is, that all Pods on a Node with configured Multus will be connected to all its networks (correct me if I am wrong). Not sure if that is what you want.

However, like Fabian mentioned, there is ongoing work on multiple-networks support in Kubernetes, where you can select networks per each Pod/VM. It should be available for testing very soon.

[2018-05-22 12:40] edsealing commented on #977
@phoracek That is incorrect. Multus creates a "network" CRD. Each network CNI that you connect to Multus gets an associated network element.

To connect a pod to multiple networks of your choice, you simply add a network annotation. Here is an example I use for testing:
[code]

@jdandrea My team and I recently open-sourced a platform that has Multus installed out-of-the box, as well as kubevirt 0.

[2018-05-22 12:46] gouyang opened #1057 ""Creating or the VM" is not meaningful in virt-controller logs"
[code]

[2018-05-22 12:52] phoracek commented on #977
@edsealing Did not know it's already implemented there, thanks. Draft of KubeVirt networking API was recently posted on kubevirt-dev mailing list, take a look https://groups.google.com/forum/#!topic/kubevirt-dev/Tk1bxwRsoXs. Once that is implemented, you should be able to connect VM to Pod's interfaces.

[2018-05-22 13:02] gouyang commented on #1057
More typos `bacause`, `stabile`.
[code]

[2018-05-22 13:09] rmohr commented on #1057
@petrkotas could you overhaul the logs?

[2018-05-22 13:22] gouyang opened #1058 "virtctl console hangs forever after the whole environment runs for several days"
The default project shows in openshift web console is `created 5 days ago`, so the cluster is running about 5 days. `virtctl console` works after the cluster is up, but now it just hangs forever, even `Ctrl + C` and `Ctrl + ]` not work. I have seen this issue for several times, so it should not be a occasional issue.

I checked the pod logs and can't find any clue.

[code]

[code]
[code]
[code]

[2018-05-22 21:31] #988 closed

[2018-05-22 21:41] rmohr commented on #957
@tripledes thanks for reporting. Sorry that you had to wait so long to get a response.

[2018-05-23 05:56] cynepco3hahue commented on #1014
Two additional failures
[code]

[code]

[2018-05-23 06:31] debianmaster opened #1060 "kubevirtm vm network issue"
[code]

I have installed docker on a vm backed by kubevirt (running on openshift) i see docker pull is not working and also there is  big latency in network when compared to the host.   has anyone seen this?
im running on baremetal.

[2018-05-23 06:32] debianmaster commented on #1058
i see same issue  @gouyang
virt console hangs forever

[2018-05-23 06:50] debianmaster opened #1061 "vm hangs after simple activities"
i just did  `ps aux`  that makes vm unusable via shell,   shell is frozen.
[code]

[2018-05-23 07:40] gouyang commented on #1058
@debianmaster good to know. Although virtctl console is hanging, but the VM itself is actually running and I could be able to ssh to the VM.

[2018-05-23 07:55] rmohr commented on #1061
@debianmaster how are you accssing the vm? Could you also share which version you deployed? How mach ram does your vm have?

[2018-05-23 07:56] rmohr commented on #1060
@debianmaster could you share your vm specification? Does the VM have enough ram?

[2018-05-23 07:58] rmohr commented on #1058
@gouyang can you still access the vm via vnc (`virtctl vnc`)? Could you share the virt-api logs? Which version are you using?

[2018-05-23 08:00] rmohr commented on #975
@cynepco3hahue afaik these labels and taints are now standardized values which you can rely on.

[2018-05-23 08:07] rmohr commented on #1061
according to https://github.com/kubevirt/kubevirt/issues/1058#issuecomment-391235682, `virtctl console` hangs?

[2018-05-23 08:16] debianmaster commented on #1061
@rmohr  i have exposed a nodePort   forwarding to pod 22 port.
can i provide you access so you can see it live?

[2018-05-23 08:18] debianmaster commented on #1061
Vm is allocated with 1024 MB memory

[2018-05-23 08:20] debianmaster commented on #1060
@rmohr   VM has 1024 MB -   this example  https://raw.githubusercontent.com/kubevirt/kubevirt/master/cluster/examples/vm-fedora.yaml   nothing else except docker installed.

[2018-05-23 08:48] rmohr commented on #1058
@gouyang while debugging #1061 I experienced this crash in virt-api:

[code]

could you confirm that you see it too in the virt-api logs?

[2018-05-23 08:58] petrkotas commented on #1057
Hi. Yes will do.

[2018-05-23 09:43] yuvalif commented on #1060
@debianmaster, did you try "docker run hello-world"?
do you see ping latency compared to the host? what would is the difference?

[2018-05-23 09:51] fabiand opened #1063 "Increase code coverage by 10%"
We are tracking code coverage using goverage (shown here https://coveralls.io/github/kubevirt/kubevirt).

This issue is about adding tests to increase the code coverage.

[2018-05-23 09:59] yuvalif commented on #1063
this is great initiative! as we are at ~65%, getting to 80% line coverage would be awesome.

would recommend 2 things here:

1. provide some guidance and documentation around mocking (mock kubecli, mock http server etc.), what exist, and how to use it, as this is the main barrier (at least for me...) for writing unit tests
2. follow the ["boy (or girl) scout rule"](http://programmer.97things.oreil

[2018-05-23 10:07] rmohr commented on #1014
@davidvossel you meant to switch us to hostMount based PVCs right?

[2018-05-23 10:14] rmohr commented on #1060
I had the chance to look on the live system. MTU inside the VM was not in sync with the host interface. We have #1012 already on master, which makes sure that this does not happen. The(pre-)release after `v0.5.1-alpha.1` will contain this.

Btw. doing `sudo ip link set eth0 mtu 1450` solved the issue.

[2018-05-23 10:14] rmohr commented on #1061
I had the chance to look on the live system. MTU inside the VM was not in sync with the host interface. We have #1012 already on master, which makes sure that this does not happen. The(pre-)release after `v0.5.1-alpha.1` will contain this.

Btw. doing `sudo ip link set eth0 mtu 1450` solved the issue.

[2018-05-23 10:23] yuvalif opened #1064 "Print custom colums for VM CustomResources with kubectl get"
can add: "status", "IP", "node". also maybe some info derived from the pod? or the pod name?

[2018-05-23 10:50] cynepco3hahue commented on #1014
@davidvossel @rmohr How we gonna to bring relevant images to nodes?

[2018-05-23 10:53] rmohr commented on #1014
We are prepulling all images, is that what you mean?

[2018-05-23 10:59] debianmaster commented on #1060
i confirm this issue was because of mtu diff.   closing .

[2018-05-23 11:01] rmohr commented on #1060
[v0.5.1-alpha.2](https://github.com/kubevirt/kubevirt/releases/tag/v0.5.1-alpha.2) is out. Should make the MTU assignment work out of the box.

[2018-05-23 11:55] fabiand commented on #1029
We nede to differentiate between the features we can control _hard_:
 * MAC
* SMBIOS UUID

because they are part of the VM frontend.

But IP is a guest sided property. Even if we had control over DHCP, then it would still be a question of the client to use it.

I'm not saying that we don't want to still get the best setup to keep the identity, I'm just trying to clarify the differences between the

[2018-05-23 11:56] fabiand commented on #1029
Another note - With the discussed network API we will be able to control the mac of (multiple) interfaces, this should close the ramining gap of at least the list above.

[2018-05-23 12:02] fabiand opened #1067 "Network API"
KubeVirt needs to gain an API to specify the guest facing aspects of networking.

In addition this API should allow to connect to different backends.

As there are a few ways to connect backends and frontends, some options around how to connect them should also be exposed.

Design: https://docs.google.com/document/d/10rXr91aqn8MvVcLgHw33WX8BaQwHPZERp25PHxoZGgw/edit#heading=h.nbihdrjh9f07

[2018-05-23 12:02] fabiand commented on #977
depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:02] fabiand commented on #1029
MAC part depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:03] fabiand commented on #1017
partially depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:03] fabiand commented on #989
depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:03] fabiand commented on #936
A nice fix - based around presets and the correct annotations - depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:04] fabiand commented on #897
@nellyc can we come up with a list of items we need to meet in order to be sure that we have a base level confidence in crio support?

[2018-05-23 12:04] cynepco3hahue commented on #1014
@rmohr Currently we pre-download all images(alpine, cirros) via ISCSI `Dockerfile`, but when we will use host directory we will need to download images into this directory, so the question when will we populate host directory with relevant images?

[2018-05-23 12:04] fabiand commented on #718
Now actuallay tracked in https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:05] fabiand commented on #676
depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:05] fabiand commented on #320
Network part depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:05] fabiand commented on #316
depends on https://github.com/kubevirt/kubevirt/issues/1067

[2018-05-23 12:05] fabiand commented on #261
Yes.

[2018-05-23 12:05] #261 closed

[2018-05-23 12:10] gouyang commented on #1058
I have destroyed the environment, I've looked into virt-api logs as it's too long so I didn't paste it there. I almost believe I didn't see the crash logs in it. Let's holding on this and I will set it up again to see whether it's still happening. The kubevirt version is `v0.5.0` and openshift version is `v3.10.0-0.47.0`.

[2018-05-23 12:18] rmohr commented on #1058
Can you use pre-releases too? E.g. `v0.5.1-alpha.2`?

[2018-05-23 12:42] vatsalparekh opened #1068 "server error. command Launcher.Sync failed: virError"
Deployed a VM from [working template](https://github.com/ManageIQ/manageiq-providers-kubevirt/blob/master/manifests/working-template.yml), and in status I see the following
[code]

[2018-05-23 12:42] vatsalparekh commented on #1068
@rmohr

[2018-05-23 12:50] fabiand commented on #173
@rmohr do we still want this?

I suppose we do want.
Question is if we can reliably detect crashes?

[2018-05-23 12:51] fabiand commented on #176
@rmohr do we want to keep this rfe?

[2018-05-23 12:51] fabiand commented on #268
This is there today.

We have `.status` which provides us runtime details. We can also retrieve defaulted fields.

[2018-05-23 12:51] #268 closed

[2018-05-23 12:52] fabiand commented on #294
Closing this one in favor of #176 - even if it's not a total overlap.

[2018-05-23 12:52] #294 closed

[2018-05-23 12:53] rmohr commented on #176
It's not relevant right now. We can close it. Thanks for the ping.

[2018-05-23 12:53] #176 closed

[2018-05-23 12:53] fabiand commented on #296
For now we use the pod metrics.

if we want - in future - to expose VM specific metrics, then we can use Kubernetes application Or sutom metrics for this.

Closing this bug for now.

[2018-05-23 12:53] #296 closed

[2018-05-23 12:54] fabiand commented on #314
@rmohr could it be that this is done?

[2018-05-23 12:57] rmohr commented on #314
Yes. Implemented in #838

[2018-05-23 12:57] #314 closed

[2018-05-23 13:56] SchSeba commented on #891
Can We close this issue?
The feature was merged  :)
[Pull 1025](https://github.com/kubevirt/kubevirt/pull/1025)

[2018-05-23 13:56] SchSeba commented on #1018
Can We close this issue?
The feature was merged  :)
[Pull 1025](https://github.com/kubevirt/kubevirt/pull/1025)

[2018-05-23 13:59] #1018 closed

[2018-05-23 14:06] #891 closed

[2018-05-23 16:34] dcritch commented on #966
That's is about all we are looking for (ns, tag, registry). Some folks might host images on their own internal/disconnected registry. And being able to test different tags benefits CI/CD and upgrades.

Would there be a 'range' of tags that would work for a given release? As per @davidvossel's comment, a particular released manifest may introduce a new CRD, but that should be valid/static over a ra

[2018-05-23 18:30] #957 closed

[2018-05-23 19:15] fabiand commented on #1067
Scope of this card is to settle on an API scheme. Different issues the cover implementing different backends and frontends and connections.

[2018-05-23 19:19] fabiand opened #1069 "Make mac address specifiable"
We need a field to specify the MAC address of a network interface i.e.

[code]

It could be that the mac is not selectable for all model or all banckends.

[2018-05-23 19:19] fabiand commented on #1069
depends on #1067

[2018-05-23 20:26] cynepco3hahue commented on #1014
@davidvossel @rmohr This error looks interesting
[code]

[2018-05-24 01:11] gageorsburn opened #1071 "Support for containerized libvirtd"
Not sure if kubevirt already supports this but what would you guys think about supporting containerized libvirtd for clusters running on atomic hosts?

I'd love to get involved with implementation.

[2018-05-24 03:46] itamarh commented on #1071
@gageorsburn - KubeVirt uses libvirt, running in a container (in a pod). Currently, each VM has its own libvirt, but we are working with the libvirt team on making it cleaner to use this approach
https://www.redhat.com/archives/libvir-list/2018-May/msg01307.html
Can you elaborate on the use case you are trying to solve?

[2018-05-24 04:16] gageorsburn commented on #1071
@itamarh Currently have a production kubernetes cluster rolling on Fedora Atomic 27.

[2018-05-24 07:58] rmohr commented on #977
@edsealing there is a proposal on the kubevirt mailing list which would heavily affect you as early adopters: https://groups.google.com/forum/#!topic/kubevirt-dev/CU_VskPIisg. Input from you or you people would be higly appreciated.

[2018-05-24 08:05] fabiand commented on #320
I'm closing this RFE for now, as the ground (direct storga enetwork connections from qemu) are not available in KubeVirt anymore.

[2018-05-24 08:05] #320 closed

[2018-05-24 08:05] nellyc commented on #897
We will run full regression

[2018-05-24 08:05] fabiand commented on #320
This could be re-eneabled by https://github.com/kubernetes/kubernetes/issues/38606

[2018-05-24 08:12] rmohr commented on #920
Can we close this? We run all tests against crio too now.

[2018-05-24 08:13] rmohr commented on #897
Can we close this issue? We run all tests against crio too. Or is there something specific which we should do right now in this repo? If not, I would close this one and create more specific issues once something comes up (e.g. like #920).

[2018-05-24 08:20] e-minguez commented on #1071
It seems the libvirtd process is executed in the virt-launcher pod https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/virtwrap/util/libvirt_helper.go#L120-L123
I think @gageorsburn talks about decoupling libvirtd and being able to execute as a standalone container right?

[2018-05-24 08:22] fabiand commented on #399
@xsgordon I'm pretty certain that Kubernetes is looking into providing this functionality for pods as well.
And that makes sense. After all the form factor looks irrelevenat for the answer abou if you want to do QoS or not.

In that sense I am suggesting to close this, and inherit Kubernetes features - or collaborate there.

[2018-05-24 08:28] fabiand commented on #491
I'm closing this bug because it must not be part of core kubevirt - after all it's the decision of the operator or k8s distribution to provide the right aggregator.

[2018-05-24 08:28] #491 closed

[2018-05-24 08:30] fabiand commented on #505
@rmohr is this still needed?

I suppose it is.

[2018-05-24 08:33] fabiand commented on #533
@davidvossel so - we do have a watchdog device. But what is missing to resolve this issue?

[2018-05-24 08:33] rmohr commented on #1071
Yes, we simply can't use libvirt - as it is right now - standalone (the qemu processes need to live inside the right namespaces and cgroups and we need exact control over how and when what is started, libvirt and k8s are also overlapping in what they think that they should control and setup). With the libvirt redesign which @itamarh referenced it may be possible to support a node-wide libvirt daem

[2018-05-24 08:34] fabiand commented on #543
@rmohr didn't you address this in your recent handler changes?

[2018-05-24 08:39] rmohr commented on #543
Not entirely. My changes were only covering the internal bits of that. The controllers are now able to detect this and can react under certain conditions, but it is still not easy to see for users.

Right now the node controller detects and handles such situations. What is missing there, is that this controller also modifies the vm itself to inform the user about the issue on the vm itself. So a s

[2018-05-24 08:41] rmohr commented on #491
Just for reference, for our development and CI clusters, such things are now mostly done in https://github.com/kubevirt/kubevirtci.

[2018-05-24 08:41] fabiand commented on #736
Today we are easily able to run on minikube.

We need to validate the state of minishift.

[2018-05-24 08:45] fabiand commented on #773
@stu-gott what's the status of this issue?

[2018-05-24 08:47] fabiand commented on #780
@rmohr @cynepco3hahue I recall that artyom is actually working on removing parallelism (go routines) - Could you please give an update on this issue?

[2018-05-24 08:50] fabiand commented on #794
@sreichar do you know if this is an issue for you with the downstream builds?

[2018-05-24 08:52] fabiand commented on #812
@mlsorensen do you eventually have a patch or s script for the approach mentioned in the comment above?

[2018-05-24 08:56] fabiand commented on #861
Just leaving a note - The important bit is that labels provide sufficient information to identify _all_ instances of an OVm over time.
If the labels are stable, then Sevrces can easily be written to address all VM instances (over time) even if the instances change - which is logcially equivalent to letting a Service point to an OVM.

[2018-05-24 08:58] fabiand commented on #888
@cynepco3hahue can you confirm that this issue is fixed?

[2018-05-24 09:01] fabiand commented on #904
The default rules introduced with #1005 provide sane default rules (console+vnc for edit/admin roles only).

[2018-05-24 09:01] #904 closed

[2018-05-24 09:02] fabiand commented on #909
Closing this, as there is nothing we can do from the kubevirt side.

[2018-05-24 09:02] #909 closed

[2018-05-24 09:17] rmohr commented on #888
The issue did not show up again.

[2018-05-24 09:17] #888 closed

[2018-05-24 09:36] gbraad commented on #736
We are dropping support to use the Minikube ISO with Minishift. So we might
have to re-evaluate what is needed on tje CentOS ISO side to make this work.

[2018-05-24 09:42] fabiand commented on #320
Relates to #952

[2018-05-24 09:43] fabiand commented on #573
Done with #1005 and other PRs.

[2018-05-24 09:43] #573 closed

[2018-05-24 09:45] fabiand commented on #543
Ack, thanks!

[2018-05-24 09:46] fabiand commented on #897
Yes, closing sounds fine.

[2018-05-24 09:46] #897 closed

[2018-05-24 09:53] fabiand commented on #977
@edsealing in addition - considering that multus is the only broader implementation which supports the Network CRD de-facto standard, it does make sense to add support to kubevirt as well, which would then allow (ideally) the consumption sr-iov devices with vms.

The API would allow you to connect mutliple available NICs of the POD to the VMs.

For your sr-iov case - how would you connect the inte

[2018-05-24 10:01] rmohr commented on #780
@fabiand I think you mean #1065. That is not related to running tests in parallel with ginkgo.

The broader picture for this issue is:
 * separating infra tests (e.g. virt-handler, virt-api, virt-controller recovery) from vm tests
 * introduce unique temporary namespaces per test-suite (not just uniqe namespaces for testing like we have now)
 * Run (all or some) vm tests in parallel

[2018-05-24 10:05] fabiand commented on #966
Couldn't we generate a template (with the parameters mentioned oin the prev comment) which we use to generate our final yaml, and then - in addition to our final yaml - also provide the template (plus, as comments the values for the parameters we used).

T me this has the benefit, that somebody can take the template, with the default values, but i.e. if a custom registry, or a derived build of a c

[2018-05-24 10:08] fabiand commented on #1063
1. Is great - do you have a few pointers we can leave her to give new comers a good start? @yuvalif

For 2. + absolutely - tihs issue is basically an initiative to lift the base level :)

[2018-05-24 10:28] fabiand commented on #970
Another aspect to this is that the cluster defaults are not visible in the VM spec i.e. if as in the example the limits are set, the limits will not turn up on the vm spec, only on the vmpod.

We could however also respect those limits with kubevirt and add them to the VM spec in order to make this at least visible (that defaults were applied).

[2018-05-24 10:36] rmohr commented on #966
That is not something which we can guarantee. For updating and deprovisioning KubeVirt, it will never be sufficient to rely on the manifest template. Also not all of our k8s resources which we add to the cluster are part of the manifest.

What we can guarantee:
 * Using such a templatized manifest with the matching versions will successfully deploy a fresh KubeVirt installation
 * All resources wh

[2018-05-24 10:53] rmohr commented on #505
Yes :+1:

[2018-05-24 11:05] fabiand commented on #1017
@yuvalif in a first step I'd aim for single stack IPv6, thus aiming that our components are IPv6 ready.
Because this is what is supported today, and we also need ipv6 readiness in our components to support dual-stack.

Makes sense?

[2018-05-24 11:07] fabiand opened #1073 "Use official CRD generator"
Today we have our own CRD generator, onc eit lands, then it makes sense to us ethe official one.

[2018-05-24 11:09] rmohr commented on #1073
What does that mean?

[2018-05-24 11:15] rmohr commented on #1073
Apart from creating the CRD manifest itself (filling structs and marshalling to yaml), we use the k8s generators. Could you explain what exactly you mean?

[2018-05-24 15:06] fabiand commented on #1071
@gageorsburn we actually had Atomic in mind (as a representative for other stateless or read-only nodes, like ClearLinux or CoreOS Container Linux).
Today there should not be any blockers which stop you from just deploying KubeVirt on a Kubernetes/Origin cluster based on Atomic.

Did you give it a try?

[2018-05-24 16:50] mlsorensen commented on #812
Eventually :-). Right now we are just distributing virtctl with homebrew and and bundling the remote-viewer bash script with it. It's a short term band-aid but makes this a lower priority at the moment.

[2018-05-24 16:58] dcritch commented on #966
Ok @rhohr, those caveats are fine.

We also pull in another manifest, [from containerized-data-importer]](https://github.com/kubevirt/containerized-data-importer/blob/master/manifests/controller/cdi-controller-deployment.yaml). It would be awesome if we had a jinja2'ed version of that as well.

Similar to internal/different registries, some folks might also want to control the registry namespace,

[2018-05-24 19:12] fabiand commented on #812
Sounds pretty practical :)

Can you share the script itself, then we can see how to bundle it.

[2018-05-24 23:51] itamarh commented on #399
at the proxy level or a policy up to the CNI to implement?
i.e., what about layer 2 networks?

[2018-05-25 07:07] #936 closed

[2018-05-25 07:44] fabiand commented on #399
service meshes like istio will have their own mechanism (I suppose).

then there is this CNI level functionality - which might be configured through a cluste rlevel object at some point I'd guess i.e. a part of a NetworkPolicy.

Layer 2 - Only if CNI is used. Also: That is what we need to solve on the DP side, which is currently still under heavey research and discussion and thus probably a bit pr

[2018-05-25 07:59] fabiand commented on #814
Thanks, closing this!

[2018-05-25 07:59] #814 closed

[2018-05-25 08:59] fabiand commented on #736
@gbraad yeah ... To me minishift is really a dedicated bunch of work, as it diverged from minikube so much that it's pretty much the same things over again. (aka backporting nesting, aka kmods for kvm and plugin code)

[2018-05-25 09:15] gbraad commented on #736
What is needed on either Fedora or CentOS (from the OS) to make this work?

I would expect libvirt and the kvm modules, but what else?

On Fri, May 25, 2018, 10:59 Fabian Deutsch <notifications@github.com> wrote:

[2018-05-25 09:27] fabiand commented on #736
It should work on both, nothing special is required from our side.
Actually - if it's a stock centos or fedora, then we probably do not
need any modification as both of them have the modules we need.

Userspace wise nothing is needed. We bundle all our deps in containers
(including libvirt).

The only requirements are on kmods - The only dependecy I remember is
on the kvm* kmods and associated ker

[2018-05-25 09:29] fabiand commented on #1071
Cool! I'm happy to help with that.
Feel free to catch me on irc or slack (k8s), or just provide some logs/errors here.

[2018-05-25 12:49] gageorsburn commented on #1071
This is actually a really interesting behavior I'm having now and I was wondering if you had any recommendations for log files I could look at / share.

After my previous attempt to deploy the demo cirrus vm other day the pods went into a completed state. I deleted the pod expecting it to be rescheduled however it was not. I attempted to do virtctl start testvm but it stated that the vm was alread

[2018-05-25 12:58] rmohr commented on #1071
Oh, that message is misleading. This means that the vm is enabled. The container will try to make sure that the vm runs.

That message alone does not mean much if you just see it once. We deploy all manifests, including the VirtualMachine custom resource at the same time. It can happen that our controllers start before the VirtualMachine Type is properly registered in the apiserver (up to seconds)

[2018-05-25 12:59] rmohr commented on #1071
Oh you said that this is repeatedly printed there and only for parts of the components ... So that is really weird ...

[2018-05-25 13:02] gageorsburn commented on #1071
[code]

[code]

[code]

That log message mentioned above is constant by the way. Both of them are reporting it even now.

[2018-05-25 13:02] rmohr commented on #1071
I guess this is also why the pod does not get recreated. Could you have a look into the virt-controller logs too? It probably gets the same error about the unknown virtual machine type and therefore can't even get that for ...

[2018-05-25 13:03] rmohr commented on #1071
If you delete the pods with the recurring message (so that the daemonset can recreate them), does the error go away?

[2018-05-25 13:03] gageorsburn commented on #1071
[code]

[code]

[2018-05-25 13:04] gageorsburn commented on #1071
I'll give that a try and see what happens.

[2018-05-25 13:07] gageorsburn commented on #1071
Interesting that seems to have fixed all issues, and it even rescheduled the VM pod. I'm not sure what caused that previous behavior.

[2018-05-25 13:14] rmohr commented on #1071
Whatever caused it, thanks for reporting it. We need to improve the virt-handler heartbeat mechanism to cope with that. In your case the heartbeat-update still worked (so fetching und patching the nodes in the wrong virt-handlers still worked), so the controllers expected the node to be fully operational and did not clean up the vm.

[2018-05-25 13:27] rmohr opened #1077 "virt-handler must not be ready if it can not list and/or watch VMs"
There are cases where virt-handler is not ready or working but the very simple heartbeat mechanism still report virt-handler as ready and working.

One example where we encountered this situation is where virt-handler could not list and watch virtual machines but it could still update the nodes: https://github.com/kubevirt/kubevirt/issues/1071#issuecomment-392054031

[2018-05-25 14:26] fabiand commented on #1071
Closing this because the issue is resolved for @gageorsburn and we have a bug thanks to @rmohr

[2018-05-25 14:26] #1071 closed

[2018-05-25 14:26] fabiand commented on #1071
@gageorsburn does that actually mean that you have KubeVirt now running on a few Atomic Hosts?

[2018-05-25 14:58] fabiand opened #1078 "Allow a VM to be tied into an Istio based service mesh"
- [x] Work out a compatible networking mode
- [x] Work out how side cars can be injected
- [x] Work out how istio can be injected

[2018-05-25 15:40] gageorsburn commented on #1071
That's correct. I haven't had a chance to interact with the VM yet due to travel today but all of the pods are running. I don't have any logs of the initial deploy but I'm sure I'll be deploying kubevirt a couple more times. If I run into an issue with it again I'll raise another issue with more detailed logs but all is well now.

Thanks guys for your quick response on this. This definitely seems

[2018-05-25 18:13] christianh814 opened #1079 "Windows Example not working"
I created a `pvc`

[code]

Then created the vm

[code]

But it's not working. I get this in the logs of the pod

[code]

[2018-05-25 21:08] booxter commented on #718
This issue should probably stay open until we finalize advanced API but for now you can utilize the new alpha.kubevirt.io/interface-model to specify it. This was implemented in https://github.com/kubevirt/kubevirt/pull/1047

[2018-05-26 13:11] fabiand opened #1080 "Create a place to document annotations"
With at least #1047 we have an annotation which is useful atm.

It would be good to have a place where we document annotations - just for developers. Thus not in the user-guide.

[2018-05-26 13:11] fabiand commented on #1080
@booxter can you find a documetn where this can be added or potential create a new one for it?

[2018-05-27 08:12] cynepco3hahue commented on #1079
Windows example is the problematic one because you can not make it public for everyone. If you will want to use it, you will need to create your own windows image and attach it to VM via PVC.
See https://www.kubevirt.io/user-guide/#/workloads/virtual-machines/disks-and-volumes?id=persistentvolumeclaim for more details

[2018-05-27 08:30] yuvalif opened #1081 "internal registry not updated when pods are changed"
I added a new pod definition under "cmd" together with a binary and a Docker file, and added it to the lists in "hack/config-defaults.sh".
after calling "make cluster-up" for the first time the internal registry is updated with the image, but, in order for consequent updates to the binary to be uploaded into the internal registry, i have to manually delete the image from the outside. calling "dock

[2018-05-27 08:59] cynepco3hahue commented on #1068
@vatsalparekh Hi, can you also show logs of the virt-launcher pod?

[2018-05-27 10:08] cynepco3hahue opened #1082 "After sometime that environment with KubeVirt runs virt-controller enter to CrashLoopBackOff"
I encountered it few times with openshift cri-o environment:
- `export KUBEVIRT_PROVIDER=os-3.9.0-crio`
- `export KUBEVIRT_NUM_NODES=2`
- `make cluster-up; make cluster-sync`
- leave environment for 1-2 days

[code]

[2018-05-27 11:11] cynepco3hahue commented on #1068
Ok I check @vatsalparekh environment and looks like bus parameter not passed correctly
[code]
I tried to edit it manually to
[code]
and looks like it solved the problem with `missing target information for device` message.
I do not sure why it had empty bus section, IIRC we set it by default as `virtio`, but will need to check the code.

[2018-05-28 07:57] rmohr commented on #1080
FYI here is what kubernetes has: https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/

[2018-05-28 08:14] fabiand opened #1084 "Add virtctl logic for mac viewers"
On mac we need to try a few viewers, because the stock `screen sharing` app does not support a "fluent connection", as it always requires the user to input credentials.

The script from PR #1076 can be used for reference

[2018-05-28 08:29] fabiand commented on #816
It is still blocked by Kubernetes/openshift.

There is upstream and RH/openshift work to fix this: https://bugzilla.redhat.com/show_bug.cgi?id=1581614

[2018-05-28 09:15] rmohr opened #1085 "Our OpenAPI specification should allow to permit certain values"
For instance our documentation of http://www.kubevirt.io/api-reference/master/definitions.html#_v1_offlinevirtualmachinestatus is simply reflected as a string. In the go-code we use an extra type with known values plus documentation. That shoul be included in the api reference.

[2018-05-28 10:47] rmohr commented on #966
That would work for me. @davidvossel?

[2018-05-28 14:11] fabiand commented on #1082
@cynepco3hahue do you have an idea where the error message comes from?

[2018-05-28 14:17] fabiand commented on #1079
@christianh814 a few more details in addition to what @cynepco3hahue said:
The Windows example will work, if you create a PVC (as you did) but which _also_ includes a Windows disk image.
Internally we are using this mechanism with a Windows disk image, but due to licensing we can not publicly share the image.

Please give it a try with a custom image fom your side.

But as this is not a bug, I'm n

[2018-05-28 14:17] #1079 closed

[2018-05-28 14:21] fabiand commented on #1068
@slintes please take a look at this bug

[2018-05-28 14:30] fabiand commented on #1064
Requires server side printer and custom column support in CRDs - currenly in the work in upstream kubernetes/kubernetes#60991

[2018-05-28 14:31] fabiand commented on #1064
Oh - Literally just got merged. Well have it soon

[2018-05-28 14:33] fabiand commented on #1052
@rmohr could you please file two bugs:
- propagating the pod state
- documenting this behavior in the user-guide

Should there actually be another hint to tell the user what to do, or how to find more information sbaout these situations?

[2018-05-28 14:37] fabiand commented on #1045
Q: What's actually the problem? Why was this issue filed?

Then: CRIO is somewhat strict. Thus I am suggesting that we _always_ use the `<server>[:port]/<namespace>/<image>[:<tag>]` scheme.

IIUIC it should also help with this issue right?

@cynepco3hahue ?

[2018-05-28 14:37] fabiand commented on #1045
CRIO is somewhat strict. Thus I am suggesting that we _always_ use the `<server>[:port]/<namespace>/<image>[:<tag>]` scheme.

IIUIC it should also help with this issue right?

@cynepco3hahue ?

[2018-05-28 14:37] cynepco3hahue commented on #1082
@fabiand I checked the code, and I can see that it is coming from `kubevirt/vendor/k8s.io/client-go/tools/clientcmd/validation.go`, but I did not find any clues why it can be happen :worried:

[2018-05-28 14:41] fabiand commented on #1041
Closing in favor of #955

[2018-05-28 14:41] fabiand commented on #955
@bhavin192 heya! Just checking if there is something we can give a hand with?

[2018-05-28 14:47] rmohr commented on #1041
@fabiand this issue is about semantical correctness.

[2018-05-28 15:18] cynepco3hahue commented on #1045
Because currently under our examples we do not specify the server
[code]
@yuvalif added `registry:5000` to examples code generator

[2018-05-28 15:43] fabiand commented on #1045
So the issue is about looking in the correct registry in the dev flow, thanks.

[2018-05-28 15:44] fabiand commented on #1041
Right.

@rmohr @booxter could you please add some more details to the issue description to specify what exactly should be validated.

[2018-05-28 16:02] fabiand commented on #1024
Taking the discussion from the [Network API discussion here](https://docs.google.com/a/redhat.com/document/d/10rXr91aqn8MvVcLgHw33WX8BaQwHPZERp25PHxoZGgw/edit?pli=1&disco=AAAAB-Hqdzs).

For reference:

Now:
[code]

Then:
[code]

[2018-05-28 16:04] fabiand commented on #1024
Now, for Pod `volumes` and `volumeMounts` the problem is only to associate the one with the other.

For us there is an additional use-case:

1. We want to associate volumes (networks) and disks (interfaces)
2. **and** have an identifier to be used with i.e. hot-plug.

My concern is about meshing those together.

[2018-05-28 16:07] fabiand commented on #1024
This would only work if we maintain a strict 1:1 mapping between volumes (networks) and disks (interfaces). Which is the (anticipated) case for both of them right now.

[2018-05-28 16:08] rmohr commented on #1024
ok. Also a mental model I always have for frontend and backend is: I have a front- and backend for

 * "storage" in case of pods, frontend is volumeMount, backend is volume
 * "storage device" of a vm, frontend is disk and backend is the volume
 * "network device" of a vm, frontend is the interface, backend the network connection

"storage", "storage device" and "network device" are entities which

[2018-05-28 16:12] rmohr commented on #1024
Yes. We can simply decide to do it this way, since no matter what we decide, there are always cases where internally we may have to only mount/add one backend and share it between multiple frontends, or the other way round. I would want to follow the frontend- and backend example on Pods with volumes.

[2018-05-28 16:15] fabiand commented on #1024
That - or introduce a virtual VolumeSource (NetworkSource) to reuse an existing volume (network). To avoid doing to much magic.

I just wanted to highlight that our use-case is a _little_ different, because we also want the device identifier.

[2018-05-28 16:16] fabiand commented on #1024
/cc @aglitke @booxter @berrange fyi - maybe you have some thoughts from your experience

[2018-05-28 16:19] fabiand commented on #1001
Timeout sounds like a good start.
A beefed up version could use: `kubectl wait --for=condition=available --timeout=60s resource-string(deployment)/foo` [from here](https://github.com/kubernetes/kubernetes/issues/1899)

[2018-05-28 16:19] rmohr commented on #1024
Yep. And that may even be an extra point for the unified view, since for plug operations we have to modify both: front- and backend.

[2018-05-28 16:46] fabiand commented on #621
We have some baseline separation, thus closing this bug.

If needed then we can reopen a more specific one.

[2018-05-28 16:46] #621 closed

[2018-05-28 16:50] fabiand commented on #725
In the light of #1024 I wonder if this could be:

a. disk without a matching volume
b. still just a flag on the disk

But a. is probably not easy to distinguish from a non-match due to a typo.

[2018-05-28 16:50] fabiand commented on #725
In the light of #1024 I wonder if this could be:

a. disk without a matching volume
b. still just a flag on the disk

But a. is probably not easy to distinguish from a non-match due to a typo.

[2018-05-28 16:53] fabiand commented on #874
Closing in favor of #1045

[2018-05-28 16:53] #874 closed

[2018-05-28 16:56] fabiand commented on #956
@stu-gott @rmohr should some image get updated to pull in a new version?

Or in other words: How often do we updat ethe libvirt base image?

[2018-05-28 17:06] vladikr commented on #725
On Mon, May 28, 2018 at 12:50 PM, Fabian Deutsch <notifications@github.com>
wrote:

I'd prefer a.

In this case we could error if there is an unreferenced volume.

[2018-05-28 17:18] fabiand opened #1087 "Add common labels and annotations to infra and workload parts"
In this PR https://github.com/kubernetes/website/pull/8703 SIG App is defining a common set of labels to add some sematics to Kubernetes objects in order to allow "tooling" to discover relationships between them and understand what an application is composed of.

KubeVirt should follow this pattern.

Benefits:
- Users who know the pattern will nuderstand KubeVirt better
- UIs which use the pattern

[2018-05-28 17:19] rmohr commented on #725
Right now we need the boolean too, since we have no way of adding volumes to already started pods at the moment.

I think we can have both at the end:

 * If ejected (tray open) and no matching volume exists, we are good
 * If ejected (tray open) and a matching volume exists, we are good
 * If ejected (tray open) and a volume which is not matched by another device we throw an error (like @vladikr

[2018-05-28 19:56] cynepco3hahue commented on #1082
I will try to reproduce it with higher verbose under logs, maybe it will reveal something. Also, I want to check if it happens for other providers and not only for OS with CRI-O.

[2018-05-29 06:01] bhavin192 commented on #955
@fabiand I was trying to find something which will do the work of formatting in automated way. YAML editor of OpenShift Origin does auto formatting, but it seems it uses same method as of the VSCode extension. Will do the formatting with the VSCode extension and add `yamllint` to CI

[2018-05-29 07:26] rmohr commented on #994
It seems to be a general caching issue in kubectl. Maybe worth filing a bug in kubernetes, if it does not already exist.

[2018-05-29 07:38] rmohr opened #1089 "Our Validator does not validate quantities and therefore does not reject wrong ones"
If I create a VM with an unsupported unit, e.g. `KiB` instead of `KB` we still accept it and virt-controller is screwed:

[code]

[2018-05-29 07:38] rmohr commented on #1089
@vatsalparekh FYI, thx for reporting.

[2018-05-29 08:38] #783 closed

[2018-05-29 10:19] vatsalparekh commented on #1068
@slintes @fabiand checked this today on `v0.5.1-alpha.2` also, able to reproduce.

[2018-05-29 10:31] slintes commented on #1068
I'm looking at his right now. The default bus (when applied) will be `sata` for`q35` machine type, not `virtio`, see https://github.com/kubevirt/kubevirt/blob/master/pkg/api/v1/defaults.go#L158. Is that ok?

[2018-05-29 10:49] cynepco3hahue commented on #1089
@rmohr Does this problem actual only for OVM's?
Because when I tried to create regular VM with
[code]
and create the VM I have correct error
[code]

[2018-05-29 10:59] cynepco3hahue commented on #1089
I checked OVM creation as well
[code]

[2018-05-29 11:01] rmohr commented on #1089
@vatsalparekh can it be that your cluser has the validation webhooks disabled? This page https://www.kubevirt.io/user-guide/#/installation/api-validation?id=kubevirt-api-validation contains information on how to enable them.

[2018-05-29 11:18] fabiand commented on #1068
@slintes `sata` is the correct default.

[2018-05-29 11:19] fabiand commented on #1068
Please make sure to add a test case for this bug.

[2018-05-29 11:26] fabiand commented on #1082
@nellyc is there somebody else who can reproduce this?

[2018-05-29 13:46] sreichar commented on #794
@fabiand we do not use the full make, because of all the dependencies, but use several of the ./hack scripts, including at least one that used rsync (needed to have it added to the build system).   Did not see an issue the last build which was about 2 weeks ago.

[2018-05-29 13:56] fabiand commented on #794
Okay, thank you.

[2018-05-30 06:38] cynepco3hahue commented on #1082
@fabiand Increasing verbose of `virt-controller` did not add much, I think I will wait until we will have 3.10 with CRI-O and will recheck the issue.

[2018-05-30 06:50] vatsalparekh opened #1092 "failed to create virtual machine pod due to failed name validation"
Created a VM on OCP `3.10`with the [working-template](https://github.com/ManageIQ/manageiq-providers-kubevirt/blob/master/manifests/working-template.yml) from manageiq
I see the below message in the vm object status section
[code]

Whole VM object
[code]

[2018-05-30 06:51] vatsalparekh commented on #1092
@rmohr @pkliczewski I think validation in manageiq was fine, not sure why this occurred

[2018-05-30 08:37] slintes commented on #1068
This isn't as easy as it looked. I added the `RegisterDefaults` [1] function the `Schemebuilder` [2], but it has no effect. So I tried to find out how defaulting should work, but only found that **validation** is possible with either openapi in the CRD definition [3], or with a ValidatingAdmissionWebhook [4], which we already use. But **defaulting** only with a MutatingAdmissionWebhook [5], or dir

[2018-05-30 08:45] rmohr commented on #1068
So, in Theorie und wenn will need the mutating webhook which does all modifications. Richtig now, until we switch, web can invoke the defaulter on the vm in the preset controller. At the Same location where we add the Procedere/initialized annotation to the vm.

[2018-05-30 08:49] slintes commented on #1092
The name of the OVM / VM will be as used as hostname and for internal DNS by Kubernetes, and it must not contain a `.`. So  you need to change the name of the OVM. Only lowercase alphanumeric characters and `-` are allowed, the latter not at first or last position.

[2018-05-30 08:51] slintes commented on #1068
check, will have a look

[2018-05-30 08:53] pkliczewski commented on #1092
@vatsalparekh please create an issue in kubevirt provider to normalize the name and keep this one for kubevirt to refuse creating such ovm/vm.

[2018-05-30 13:15] vatsalparekh commented on #1089
@rmohr I patched that OVM, changing it from `KiB` to just `Ki`, it changed the VM object to `Gi` (which is fine I guess) and it worked

[2018-05-30 13:17] vatsalparekh commented on #1089
@rmohr yes! that doesn't seem to part of our current `openshift-ansible`

[2018-05-30 13:42] fabiand commented on #1092
should this have been catched by the crd validation @davidvossel ?

[2018-05-30 16:02] rmohr commented on #1089
Opend https://github.com/kubevirt/kubevirt-ansible/issues/247 to ensure that clusters bootstrapped with kubevirt-ansible will get the right admission plugins enabled. We should probably also come up with something to probe if our required features are enabled and working on the cluster.

[2018-05-31 05:59] cynepco3hahue commented on #1089
@rmohr I think such check must be part of https://github.com/kubevirt/kubevirt/issues/1023

[2018-05-31 06:57] rmohr commented on #1089
Great. Thema we can close this one.

[2018-05-31 06:57] #1089 closed

[2018-05-31 08:02] shiywang opened #1096 "Create vm with CDI imported image failed"
I tried to use CDI import vm images, the CDI all success
[code]
then I tried to create a vm.yaml here

`oc create -f vm.yaml`
[code]

the images I used here:
http://download.cirros-cloud.net/0.4.0/cirros-0.4.0-x86_64-disk.img
https://github.com/kubevirt/containerized-data-importer/blob/master/test/images/tinyCore.iso

then the virt-launcher log here like this
[code]
oc describe vms
[code]

Anythin

[2018-05-31 08:40] cynepco3hahue commented on #1096
It looks like the issue https://github.com/kubevirt/kubevirt/issues/1068, @slintes already has PR, so I hope soon you will have the fix

[2018-05-31 14:43] booxter commented on #1041
Updated the description to specifically refer to API validation layer and code to leverage.

[2018-05-31 18:18] slintes opened #1098 "Proposal: better initialization of log verbosity level"
Neither that important nor urgent, but this catched my eyes when looking into our logging implementation:

Currently we initialize both `verbosityLevel` and `currentVerbosityLevel` level to the same value, either what's given with the verbosity command line flag, or `0` [1].
Also, info level logs are actually logged when `currentVerbosityLevel <= verbosityLevel` [2]. That means as long as the `V(c

[2018-06-01 11:51] yuvalif commented on #844
in hack/config-default.sh we have: ```kubeconfig=cluster/vagrant/.kubeconfig```
should we change that?

[2018-06-03 08:28] cynepco3hahue opened #1100 "Incorrect calculation of a VM memory"
I create VM with the specification:
[code]
I assume that VM domain will have 64Mi of memory, but it has 65Mi
[code]
When we talk about regular memory, it does not really important, but in case of hugepages, it will fail to start a VM at all.

I think the problem occurs under quantity conversion
[code]

[2018-06-04 07:51] fabiand opened #1101 "Support podAffinity"
The guide indicates that VMs support `podAffinity` (see http://www.kubevirt.io/user-guide/#/workloads/virtual-machines/assigning-vms-to-nodes?id=affinity-and-anti-affinity).

But the api-reference tells otherwise, as `v1.Affinity` only lists `nodeAffinity`.

Either code is missing, or some annotations are wrong.

[2018-06-04 07:56] fabiand commented on #1100
Good catch!

[2018-06-04 08:14] fabiand commented on #920
Closing this issue for now, I could nt reproduce it again.

[2018-06-04 08:14] #920 closed

[2018-06-04 09:29] fabiand commented on #1100
Assigning this to myself to hand it off.

[2018-06-04 09:50] fabiand commented on #1100
/assign-to mfranczy

[2018-06-04 12:11] #1068 closed

[2018-06-04 12:55] vladikr commented on #1100
@cynepco3hahue isn't because we add a memory overhead?
Did you request any cpus as well?

[2018-06-04 12:58] cynepco3hahue commented on #1100
@vladikr We calculate memory overhead for a virt-launcher pod, a VM still must receive the value that we specified under VM spec.
No I did not requested CPU's.

[2018-06-04 13:36] rmohr commented on #844
@yuvalif good catch. We should just remove that line. Every provider overrides that with its own value. The "default" value is never used.

[2018-06-04 16:20] davidvossel commented on #966
I'm fine with this as long as the template is versioned and our automation tools are pulling in the jinja2 template for the specific kubevirt version being installed.

[2018-06-05 06:22] rmohr commented on #1092
I was not aware of the `.` limitation (although it makes sense) for hostnames. We should adjust our validation or sanitize the vm name for dns.

[2018-06-05 10:38] mfranczy commented on #1100
As @cynepco3hahue mentioned before, there is a problem with
[code]
if you will request let's say 67108864 bytes of memory (which is equal to 64MB) then you will receive different value because of scaling and rounding.

To resolve that problem i suggest to change it to:
[code]
and pass memory size in bytes to have exact size which you requested.
It will require change as well in ```Memory.Unit``` t

[2018-06-05 10:45] cynepco3hahue commented on #1100
@mfranczy No objections from my side

[2018-06-05 11:19] fabiand commented on #1100
Sounds promising, I'd expect some test to the edge cases :)

[2018-06-05 11:59] cynepco3hahue commented on #1100
@fabiand We have some common test for the converter, we just need to change it, from:
[code]
to
[code]

[2018-06-05 12:03] fabiand commented on #1100
I wonder if you want to _add_ a new test, to cover even and uneven numbers.

[2018-06-05 12:13] mfranczy commented on #1100
If you don't mind I think I can add some tests for memory calculations, like checking if you are receiving exactly this what you requested in schema, although I don't have big picture and maybe it doesn't make sense?

[2018-06-05 12:20] cynepco3hahue commented on #1100
I think it makes sense, a special when you can specify different quantities under memory request(Mi, Gi, M, G,... see https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/ for the full list)

[2018-06-05 12:43] lukas-bednar opened #1103 "Can not create presets from demo-content.yaml"
Kubevirt version
[code]
OCP version
[code]
I am trying to deploy `demo-content.yaml` file from `v0.5.1-alpha.2` release on my cluster in addition to kubevirt, but I am failing on following error.
[code]

[2018-06-05 13:16] fabiand opened #1104 "Add UDP integration tests"
It would be good if we have intergation tests for UDP based services.

[2018-06-05 13:48] davidvossel commented on #1092
our validation webhook is limited to disks/volumes at the moment. We did this in order to get the general structure of the webhook merged without having to define every possible validation check immediately.

Now that the webhook is in, we need to begin expanding the validation to perform checks on additional fields as well.

[2018-06-05 13:53] #533 closed

[2018-06-06 07:31] mfranczy commented on #1100
I have prepared PR for this issue with extended tests for vm memory calculation.

[2018-06-06 07:35] fabiand commented on #966
/xref  https://github.com/kubevirt/kubevirt/pull/1105

[2018-06-06 08:34] karmab commented on #1103
can you share the preset yaml you re trying to deploy ?

[2018-06-06 08:57] rmohr opened #1107 "VirtualMachineReplicaSet does not delete finished VMs"
VirtualMachineReplicaSet quietly assumes that a restartPolicy on the vm restarts failed vms and does not delete failed vms. We don't have policies on VMs. As a consequence the replicaset creates new vm instances, but it does not delete vms in a final state.

How to reproduce:
 * Create a replicaset with e.g. 2 replicas
 * Delete the pods of the vm (will make the vms go to a final state)
 * You wil

[2018-06-06 09:30] lukas-bednar commented on #1103
@karmab It is [demo-content.yaml from v0.5.1-alpha.2 release](https://github.com/kubevirt/kubevirt/releases/download/v0.5.1-alpha.2/demo-content.yaml)

[2018-06-06 11:34] shiywang commented on #1096
same situation in gluster-fs I forgot to mention
[code]

[2018-06-06 12:15] rmohr commented on #1096
Yep fixed with #1068. I triggered a pre-release. @shiywang you can check the release-page in about half an hour from now and should find a `v0.5.1-alpha.3` release which contains this and a few other fixes. @shiywang feel free to reopen if you still experience the issue with this release.

[2018-06-06 12:15] #1096 closed

[2018-06-06 14:22] fabiand commented on #816
Dropping critical urgent, as we need to wait until it stabilizies until we can actually complete our work.

[2018-06-06 16:03] lukas-bednar commented on #966
Could we also have templates for `manifests/testing/*.yaml.in`? It would simplify our workflow to run tests.

In order to get these manifests applied on our testing cluster, every time we have to clone kubevirt repository and run `make manifests` to generate these testing manifests which are needed as a prerequisite to run tests.
And this operation can take time on clean system, because it has to

[2018-06-06 18:26] jniederm opened #1112 "Running OVM can't be deleted using REST api"
[Documentation][1] doesn't seem to be particularly clear on what's the default behavior. Based on IRC conversation I assume the expected behavior of firing DELETE request on running ovm resource is deleted ovm and orphaned corresponding VM.

#### Actual behavior in Kubevirt v0.4.1, Openshift v3.9.0+191fece:

[code]

Corresponding vm gets deleted as well.

#### Actual behavior in Kubevirt v0.5.0, O

[2018-06-07 07:13] fabiand commented on #556
Actually closing this, as with presets and the node level defaulting we are in a good place.

[2018-06-07 07:13] #556 closed

[2018-06-07 07:15] fabiand commented on #610
We are still working on this.

[2018-06-07 07:29] rmohr commented on #1112
@jniederm the behaviour got improved, it did not change. As you can see `deletionTimestamp` is set on the object, also the `forground` finalizer is added to the `OfflineVirtualMachine`. You should also see `deletionTimestamp` set on the vm.

 In previous releases the vms disappeared immediately when you sent a delete request. That was because the vm object will disappear from the cluster once the

[2018-06-07 07:34] fabiand commented on #964
@fromanirh did you want to give this a go?

[2018-06-07 07:36] fabiand commented on #964
@rmohr @davidvossel we should add a list of features that need to be checked.

[2018-06-07 07:42] fabiand commented on #966
@lukas-bednar do you need the testing manifests for the master branch or just for releases.

For master would mean that we need to keep the compiled manifests in the repo.
For releases it would mean that we provide the ocmpiled manifests in the releases page.

[2018-06-07 07:45] fabiand commented on #975
Is that really a good and recommended pattern to use a daemonset for this?

Maybe rather do vertical autoscaling?

[2018-06-07 07:49] lukas-bednar commented on #966
@fabiand I believe that per release is enough for us, since that is what we consume.

[2018-06-07 07:49] rmohr commented on #966
Since the testing manifests need to align with our testing binary, I would prefer to add them as go-structs to our code base (like we were doing with e.g. the examples).
 * For our normal development flow, we would still just generate yamls and always deploy them
 * For running the tests on external cluster just with our binary, I would prefer a switch in the test binary which can deploy these str

[2018-06-07 07:52] fabiand commented on #994
@booxter could you please file a bug and crossreference this issue?

[2018-06-07 07:56] fabiand commented on #996
There is a difference between vnc, spice and rdp.

vnc and spice are part of the backend. rdp is a guest supported one.

The system can decide whether the VM offers vnc or spice, thus the client also knows about it and can make the right decision, without requiring the user to make a decision.

I was thinking along the lines of:

[code]

Actually, for the last two there is no reason, as if the vm

[2018-06-07 07:57] rmohr commented on #975
@fabiand yes daemonset, the background is that it is the most robust way. The daemonset can schedule on its own and you need less complex affinity and selector rules. Good for critical components.

[2018-06-07 07:59] fabiand commented on #1014
@cynepco3hahue @rmohr @davidvossel could you please update the issue or check if it's up to date?

[2018-06-07 08:02] fabiand commented on #964
Closing this in favor of #1023

[2018-06-07 08:02] #964 closed

[2018-06-07 08:02] fabiand commented on #1023
@rmohr @davidvossel we should add a list of features that need to be checked.

[2018-06-07 08:03] rmohr commented on #1014
@fabiand what exactly is the meaning of adding a track bug to an MVP?

[2018-06-07 08:06] fromanirh commented on #1023
@fabiand I volunteered for the now-closed #964 before to get my current assignments. I Will re-evaluate the resources I have to work on this in the current sprint and report ASAP.

[2018-06-07 08:10] rmohr commented on #996
Technically there is no reason to not have both at the same time: https://bugzilla.redhat.com/show_bug.cgi?id=975751.

So why making it for the built-in ones intransparent which one will be used? Further there may be different override-flags appropriate for different types and I would want to keep it consistent for all access types that they are explicit:

[code]

[2018-06-07 08:10] fabiand commented on #1063
Can we take functional tests into account for code covergae - how?

[2018-06-07 08:15] lukas-bednar commented on #966
@rmohr hm, that is good point. At the end I will have to build test binary anyway ...

My use-case for these tests jinja templates, is that I have jenkins job which builds cluster for user.
I have two types of users now: 1) ci-trigger, 2) member of our team.
In case of 1) I build test binary and run tests there - no problem with current flow.
In case of 2) ppl are using these clusters for manual t

[2018-06-07 08:33] rmohr commented on #173
We can detect them to some degree. There are some qemu/libvirt events which report the reason crashed. Right now both, crash and shutdown, trigger a `Stopped` event, but one at `Warning` level and the other one at `Normal` level. Also the reason string describes the details:

[code]

[2018-06-07 08:34] rmohr commented on #413
Right now we only have `Never`.

[2018-06-07 08:35] rmohr commented on #956
@fabiand https://github.com/kubevirt/libvirt needs to be rebuilt. Once that succeeds we can update the libvirt base image in the codebase here.

[2018-06-07 08:47] nertpinx commented on #956
You might just as well update to 4.4.0 that was released on Monday. Upstream using upstream might make sense. If you are not sure you want the latest one (which, for libvirt, I don't see why that coudln't be updated regularly), then at least consider using virt-preview repository for the latest fedora. I can send a PR for the update, but I'm not sure if there are more steps needed.

[2018-06-07 11:41] rmohr commented on #975
Which are?

[2018-06-07 11:45] rmohr commented on #956
I am skeptical about going with upstream releases. For as long as we don't need features from there I would actually prefer to go with the latest centos/rhel releases, since as far as I can tell that will be much close with what people normally use in their production environments.

[2018-06-07 11:46] fabiand commented on #975
That's what I wanted to brain storm. So far I did not see the pattern of having a daemonset as a measure to increase the high availabillity.

[2018-06-07 11:46] jniederm commented on #1112
It helped a lot. Thanks @rmohr. Is there any place (I'd expect http://kubevirt.io/user-guide) I can get such info without opening an issue next time?

[2018-06-07 12:08] nertpinx commented on #956
Sure, on the other hand this is upstream kubevirt. And with more upstream libvirt releases you get more fixes. And since that is used pretty much on all fedora workstations, staying more than 1 or 2 releases behind upstream due to "possible bugs" is usually pointless. I say "usually" because every now and then there is bug everywhere and I don't want to make someone to just go with it unconditiona

[2018-06-07 12:27] davidvossel commented on #1023
nested virt is enabled, aggregated api registration, validating webhook registration

those are the only ones that come to mind immediately

[2018-06-07 12:32] fabiand commented on #1023
@fromanirh ack - #964 was the same as this here, thus I hope it's not stopping you from looking at it :)

[2018-06-07 13:08] stu-gott commented on #956
I too feel that consuming upstream might be a bit aggressive. Testing KubeVirt against what could reasonably be considered "production" makes more sense. Obviously being several months behind isn't great either.

To address @fabiand's question directly, perhaps evaluating our dependencies should be part of the release process--or more specifically, should we update deps after a release?

[2018-06-07 14:16] rmohr commented on #956
I would prefer if we switch to centos as base. It contains 3.9. I think centos/rhel shipped versions is what normally is used in production.

I think we should aim for production-ready quality on every release, no matter if upstream or downstream. Targetting with our upstream tests well known libvirt/qemu versions would be one part of it.

Regarding to regular updates: E.g. weekly updating the lib

[2018-06-07 15:16] dcritch commented on #966
I'd also vote for having it on the release page.

I dug around to see how the go templates are generated since there is no direct kubevirt.yaml in the repo. I want to follow the same process for the jinja2 template.

I ran that `make generate` but that only seems to make the vm*/ovm manifests. Could someone help me out with how we go from code in the repo to a generated kubevirt.yaml on the releas

[2018-06-07 15:43] stu-gott commented on #773
@rmohr You mentioned that the VM Preset Unit tests were written "the old way". What specifically is your concern?

[2018-06-07 15:50] rmohr commented on #966
#1116 should do that.

[2018-06-07 15:52] rmohr commented on #773
better to keep the tests in a consistent style to make improvements faster. We are not using the ghttp based approach anymore. We have  mocked worker queues which allow "relatively" easy testing of complex scenarios.

[2018-06-07 17:10] dcritch commented on #966
So I'm off the hook? :)

That PR looks awesome. The only thing is we also want to be able to specify the registry URL for private/local registries. I suppose we can add that to the `{{ docker_prefix }}`. Or do you have plans to handle that to the Go template? Is it 'legal' or bad form for us to overload `docker_prefix` like that?

[2018-06-07 20:19] cynepco3hahue commented on #1045
Fixed by https://github.com/kubevirt/kubevirt/pull/1108

[2018-06-07 20:19] #1045 closed

[2018-06-08 06:34] nertpinx commented on #956
That makes perfect sense. I haven't thought of switching the base image distro. Probably my mind was not open-minded enough.
Switching to CentOS image makes it also easy in a way since the `FROM centos:latest` doesn't need to be updated. Let me know if that is OK for the update.

[2018-06-08 10:00] rmohr commented on #1112
Most of the flow I described should be move the the user-guide (let's open an issue there).

[2018-06-08 10:00] #1112 closed

[2018-06-08 10:35] rmohr commented on #1104
@yuvalif added some in #962.

[2018-06-08 10:35] #1104 closed

[2018-06-08 10:37] rmohr commented on #966
Using it for pointing to different `orgs` or `registries` is exactly what it is for! :+1:

[2018-06-08 11:20] fabiand opened #1117 "Move base images to Fedora:28"
Today most (all?) images are using Fedora 27.

We should move them to Fedora 28.

[2018-06-08 11:48] jniederm opened #1118 "Starting an ovm without `requests` specified fails because of missing memory"
Used versions: Kubevirt v0.5.0, openshift v3.9.0+191fece

Creation of ovm as defined below succeeds without validation errors.

[code]

However such ovm fails to start:

[code]

It would be nice to have that checked by validations.

[2018-06-08 11:53] fabiand opened #1119 "Presets should be release content"
Presets are a core entity in KubeVirt (although we are still discussing how they should really look).
besides that presets play a core role in running guests on KubeVirt.

Today users need to configure there guests manually or install the "demo content" in order to run a guest.
Instead of this KubeVirt should promote known/good presets and provide them as release content.

We might want to ship th

[2018-06-08 12:13] fabiand commented on #1014
Mainly to review it until then.

Trackers are good, but we should also see how we can close the loose ends.
A larger release could help us to see where we stand, and eventually start a fresh tracker to start with the new baseline.

[2018-06-08 12:17] rmohr commented on #1014
Where shall I put new issues then?

[2018-06-08 12:20] rmohr commented on #1118
Well there was the request that presets can set memory. We don't know until the vm is created if it will be valid or not. I don't like it either.

[2018-06-08 12:20] fabiand commented on #996
Even if it's technical possible, I doubt that we want to permit to enable VNC and spice at the same time. (Further more the question is if both can be connected at the same time!)

In general we can pretty much take the decision off the user whenever we control something. This is true for all backend configurations.
We can not make the decision when it's a guest sided configuration.

With this in

[2018-06-08 12:20] rmohr commented on #1117
For libvirt the goal is to go with centos (from  my point of view), the other containers should go distroless.

[2018-06-08 12:28] rmohr commented on #996
I pretty much completely disagree but it is not important enough for me to spend more time on this.

[2018-06-08 12:29] michalskrivanek commented on #996
we can, and it's actually quite helpful as it gives you more freedom to choose appropriate client.

[2018-06-08 12:32] michalskrivanek commented on #996
I would agree with separation of "out of band" protocols vnc/spice/serial from guest protocols rdp/ssh/etc.
But I indeed do not believe we can make some automated choice

[2018-06-08 12:34] rmohr commented on #996
I still don't see why I would always want to write an extra `guest` verb when I want to e.g. use `ssh`.

[2018-06-08 12:41] michalskrivanek commented on #996
I think it would be helpful to clearly separate out-of-band consoles which always work from guest cooperation protocols.
Not necessarily by additional verb. Maybe just a clarification in help string is enough.
Though if we'd ever add guest VNC (why not, it's the same as RDP) you would probably want to differentiate from qemu's VNC.

[2018-06-08 12:48] rmohr commented on #996
If we have native `vnc` and `spice` guest-vnc and guest-spice would probably be the least used options. Therefore I would simply give them explicit more clunky names (e.g. `guest-vnc` or `guest-spice`) and keep the commandline short for the more-popular ones.

[2018-06-08 13:19] fabiand commented on #996
Good point. I was more thinking about using them at the same time :)

Yes ... Maybe - and in addition good error messages.

Still, there are so many verbs that would pop up which are guest specific that it's also not valueable.

I wonder if we could have verbs for the most prominent ones (ssh, rdp) and hide the others behind a guest verb?

[2018-06-08 13:21] fabiand commented on #1117
Distroless as in "FROM SCRATCH"?

i do think that they need at least a libc.

I'll comment on libvirt separately.

[2018-06-08 13:22] fabiand commented on #1014
As soon as we get to a reasonable number we should probably open individual ones and use tags to group them?

[2018-06-08 13:37] fabiand commented on #1100
Closed with #1106

[2018-06-08 13:37] #1100 closed

[2018-06-08 14:17] rmohr commented on #1117
Distroless as in [distroless](https://github.com/GoogleContainerTools/distroless). The go base container only contains glibc (I thinkg about 7mb). The k8s container use them. The advantage is their small size and more security. We basically can always use the latest and best distroless base without having to care about the base images which are required for libvirt. That makes upgrading for both m

[2018-06-08 22:11] fabiand opened #1122 "Provide a KubeVirt operator for basic life-cycle management (better deployment)"
Today we deploy all parts of kubevirt in a single manifest.
So far so good.

But in order to have more freedom to orchestrate updates and manage the life-cycle of kubevirt (as an application), we should move to a mechanism which really allows us to do updates.

one way to do this - which looks nice - are the introduce [Operators](https://github.com/operator-framework/).

In short an operator allow

[2018-06-08 22:31] fabiand commented on #896
kubevirt/user-guide#79

[2018-06-08 22:31] #896 closed

[2018-06-08 22:34] fabiand commented on #905
@fromanirh do you think this issue is resolved?

We actually had a person on slack which was affected by insufficient error messages :)

[2018-06-09 12:27] alvaroaleman opened #1126 "`virtctl vnc vm` fails with 401 permission denied"
Hello,

Trying out the demo, `virtctl vnc vmname` fails with a `Error encountered: Can't connect to websocket (401): request is not authenticated`.

This error ultimatively comes from the extensions apiserver and is logged as `level=info timestamp=2018-06-09T11:47:20.345809Z pos=filter.go:46 component=virt-api remoteAddress=172.25.0.6 username=- method=GET url=/apis/subresources.kubevirt.io/v1alph

[2018-06-09 18:53] bhavin192 commented on #955
@fabiand @rmohr I'm almost done with formatting all the yaml and yaml.in files (with some manual work) we just have only one error at these lines
https://github.com/kubevirt/kubevirt/blob/master/manifests/release/kubevirt.yaml.in#L512-L515

[code]
Any idea what can be done for this?

[2018-06-09 19:34] fabiand opened #1127 "Support podAntiAffinity"
The guide indicates that VMs support podAffinity (see http://www.kubevirt.io/user-guide/#/workloads/virtual-machines/assigning-vms-to-nodes?id=affinity-and-anti-affinity).

podAffinity will land soon.

But for consistency it would be good so support podAntiAffinity as well.

[2018-06-09 19:37] fabiand commented on #610
*cough* thanks @rmohr and @slintes *cough*

Finally fixed I suppose:

[code]

[2018-06-09 19:37] #610 closed

[2018-06-09 19:38] fabiand commented on #610
Please reopen if you dsciover something

@petrkotas I thing you raised this as well.

[2018-06-10 08:41] shiywang opened #1128 "command Launcher.Sync failed: hardware emulation device '/dev/kvm' not present"
I met this problem again, @rmohr @cynepco3hahue @slintes @fabiand @vatsalparekh don't know if it's a same problem...  this env is not from cnv-qe jenkins job, but openshift-qe flexy job.

I tried on cnv-qe env, it works well, so I guess it something releated to my environment ?
[code]
[code]
[code]
[code]

[code]

[code]

[2018-06-10 11:46] fabiand commented on #1126
@davidvossel any idea?

[2018-06-10 16:50] petrkotas commented on #610
I see it works now. Great job!

[2018-06-11 03:22] gouyang opened #1129 "spec.template.spec.domain.cpu.cores in body must be of type integer: "string""
The problem seems caused by #1091.

[code]

[2018-06-11 06:21] yuvalif commented on #1063
@fabiand think this is not possible using the standard tools (see here: https://blog.golang.org/cover). Since the package code is generated with the coverage hooks, it is not possible to get coverage to binaries that were already generated and running.
they do mention that gcov may work, as this does dynamic coverage on the binary itself, it may give coverage results for the integration tests.
thi

[2018-06-11 06:40] rmohr commented on #1126
@alvaroaleman did you follow the instructions here at the [RBAC documentation](https://kubevirt.io/user-guide/#/authorization?id=extending-kubernetes-default-roles-with-kubevirt-permissions)?
It looks like you did not give your user permissions to use the resource.

You can either add the annotations mentioned there to our roles so that every user gets access in his namespaces, or can create your

[2018-06-11 06:41] rmohr commented on #1128
@shiywang is /dev/kvm present on the node?

[2018-06-11 06:48] #1098 closed

[2018-06-11 06:56] fromanirh commented on #905
@fabiand I think so. My PR https://github.com/kubevirt/kubevirt/pull/934 was approved, I think we can set this issue resolved once the PR gets merged.

[2018-06-11 07:17] rmohr commented on #1117
? It is called distroless. You were implying that nothing is in there. Not me.

[2018-06-11 08:04] rmohr commented on #905
@fromanirh merged. Can you open a PR on the user-guide and add a few comments to the `virtcl vnc` documentation about debugging?

[2018-06-11 08:04] #905 closed

[2018-06-11 08:21] fromanirh commented on #905
@rmohr ack - and thanks for the merge

[2018-06-11 08:31] rmohr commented on #1129
I create #1130 which reverts the changes. As an alternative we can also change the type of the cores filled to `Quantity` and fail on the semantic validation if it is not a quantity without unit.

[2018-06-11 08:42] slintes commented on #1127
Since it's directly related, I will implement this in the podAffinity PR (https://github.com/kubevirt/kubevirt/issues/1101)

[2018-06-11 08:46] fromanirh commented on #905
@rmohr @fabiand done: https://github.com/kubevirt/user-guide/pull/81

[2018-06-11 08:51] cynepco3hahue commented on #1128
@shiywang You will need to enable nested virtualization, on the hosts where you are running KubeVirt VM's

[2018-06-11 08:54] rmohr commented on #1128
Hm, that statement is confusing. KubeVirt does not require `nested` enabled. KubeVirt nodes require `/dev/kvm` which in turn means, that if you run KubeVirt nodes inside a VM, your real machine needs nested virtualization enabled.

[2018-06-11 09:07] cynepco3hahue commented on #1128
@rmohr You are right :smile:
I meant that if your nodes are VM's, you will need to enable nested virtualization on the host where you are running node VM's(I truly hope it less confusing)

[2018-06-11 11:22] fabiand opened #1133 "Ability to specify a disks serial"
For q guest it is crucial that certain devices never change their identity.

A disks identity is mainly maintained by it's serial, thus we should have the ability to specific a disks serial.
If i.e. a disks serial changes, then this could break a multipath setup within a guest, or even easier change the name and identifier within the guest, which could in the worst case lead to data loss.

API ide

[2018-06-11 11:23] fabiand commented on #1029
Macking this a tracker as all individual items got bugs now.

[2018-06-11 11:54] gouyang opened #1134 "add tag "virtualmachine" to fedora template"
Currently `fedora-vm-template` is categorising under `other` on openshift console, it should go to `virtualization` tab by adding tag 'virtualmachine`.

[2018-06-11 12:13] karmab commented on #1134
opened https://github.com/kubevirt/kubevirt/pull/1135 as fix

[2018-06-11 12:50] fabiand opened #1136 "Display opt-out"
As a user I want to be able to opt out of having a display for my VM.
Mainly to save memory oevrhead which can be dedicated to the instead.

Notes
- This is about disabling to attach any graphical device.

API

[code]

[2018-06-11 12:51] fabiand commented on #1136
We still need to sort out how the API should look.

[2018-06-11 14:07] davidvossel commented on #1126
@rmohr it's authentication not authorization.

@alvaroaleman that error indicates that client certificates are not being sent. our api server requires TLS with client certs.

https://github.com/kubevirt/user-guide/pull/83

[2018-06-11 14:13] rmohr commented on #1126
That would be new to me. It should as well work with e.g. service account tokens.

[2018-06-11 15:01] davidvossel commented on #1126
@rmohr This is a server side setting. this client certs between k8s api server and kubevirt apiserver.

users authenticate with k8s api server, then k8s apiserver presents its peer cert during the proxy call to our kubevirt apiserver.

Without the k8s peer cert, kubevirt's apiserver can't trust the connection.

[2018-06-11 15:06] rmohr commented on #1126
Then we may need to change the working a little bit. From the user-guide update it was not clear to me  that this is not related to the client-authentication. It left the impression to me that I as a user need to authenticate via a certificate.

[2018-06-11 15:22] alvaroaleman commented on #1126
So the issue is that the kubevirt extension apiserver does not trust the primary api servers cert?

[2018-06-11 15:56] jniederm opened #1137 "Phase of vm is "Failed" during ovm shutdown procedure"
After setting ovm's `spec.running` to false, the corresponding vm's `status.phase` changes to "Failed". In UI it looks like this:
![stopping-vm](https://user-images.githubusercontent.com/5278760/41242547-220291a2-6da0-11e8-84cc-360923146924.gif)
This implies a problem.
* If there is an actual problem, please handle it as part of this issue.
* Otherwise please allow vm to shut down without entering

[2018-06-11 16:39] tripledes commented on #957
@rmohr thanks! :ok_hand:

[2018-06-11 18:25] davidvossel commented on #1126
specifically, the issue is that the k8s apiserver is not providing the kubevirt apiserver with a peer certificate.

This is the check that is failing on our side to cause the authentication error.  The request is coming from the k8s apiserver. The k8s apiserver is supposed to include a peer cert verifying that the request is originating from a trusted endpoint.  Without that cert, our endpoint can

[2018-06-11 18:57] j-griffith commented on #1133
/assign jgriffith

[2018-06-11 19:10] j-griffith commented on #1133
/assign j-griffith

[2018-06-11 19:29] fabiand commented on #1133
:)

We don#t have bots, but I'm adding you to a group which should allow oyu to assign yourself the next time.

[2018-06-11 19:33] rthallisey opened #1140 "Failed to create kubevirt.yaml with openshift 3.10/k8s 1.10"
KubeVirt 0.6.0

clusterrole "kubevirt.io:admin" created
clusterrole "kubevirt.io:edit" created
clusterrole "kubevirt.io:view" created
serviceaccount "kubevirt-apiserver" created
clusterrolebinding "kubevirt-apiserver" created
clusterrolebinding "kubevirt-apiserver-auth-delegator" created
rolebinding "kubevirt-apiserver" created
role "kubevirt-apiserver" created
clusterrole "kubevirt-apiserver" cre

[2018-06-11 19:33] fabiand commented on #956
Our version indicates that we are in heavy development and we are also working with the libvirt team to consume features they develop. Thus for the time being we should stick to fedora to keep getting the "most recent" (packaged) versions.

Once we do have stable branches, then I think it's worth choosing centos as a base.

[2018-06-11 19:34] alvaroaleman commented on #1126
Ah, thanks a lot! So for the record, the required flags on the kube-apiserver are:

[code]
Where `<path to aggregator proxy cert>` can be just the tls serving cert

[2018-06-11 19:34] #1126 closed

[2018-06-11 19:38] fabiand commented on #1126
@alvaroaleman good to hear it's fixed - just to get a better picture: What kube distro and os where you using?

[2018-06-11 19:47] fabiand commented on #1092
IIUIC the proposed solution is to fix our validation to not permit dots (.)? @rmohr @davidvossel @slintes ?

[2018-06-11 19:53] alvaroaleman commented on #1126
[Kubermatic](https://www.loodse.com/product) which is a commercial cluster manager offering by my employer that does Kubernetes in Kubernetes

[2018-06-11 21:54] fabiand commented on #676
@davidvossel I wonder - Do you think we are in a place where we could start looking at this again?

[2018-06-11 21:55] #1134 closed

[2018-06-11 21:56] sreichar opened #1141 "changes to build-go.sh block building rpms outside of git repo"
When attempting to build the 0.6.0 release based RPM, a failure is seen since version.sh is using git.

RPM builds can not access external systems.

Version.sh is being called in build-go.sh which appears to have changed since previous release.

[2018-06-11 21:59] fabiand commented on #1141
@sreichar can you please provide a paste of the error an dthe command you used to trigger it?

[2018-06-12 01:09] davidvossel commented on #676
@fabiand yeah, I think it's time for us to begin thinking about this again.

As a first step, we need someone to go off and PoC some options for performing a live migration through a unix socket tied to some sort of local proxy. If we can wait a few weeks, this might be something I can tackle.

[2018-06-12 02:01] davidvossel commented on #1140
this is odd. We test with k8s 1.10 in CI now, and I haven't seen any failures.

[2018-06-12 07:30] rmohr commented on #1014
iscsi demo target does not come up sometimes: https://rfenkhuber.fedorapeople.org/jenkins/64/openshift-3.9-release-console.log

[code]

Very often when that happens also other tests run into timeouts. @cynepco3hahue has the suspicion that the preparation of the images for iscsi causes huge load spikes ...

[2018-06-12 07:50] slintes commented on #1092
Like Roman already wrote, there are 2 options:

- validate and reject invalid names
- sanitize the name (probably somewhere around the place where default values are set, because the validation webhook can not modify the VM)

Be aware that this is not only about `.`, the name field only allows lowercase alphanumeric characters and `-`, the latter not at first or last position.
From a k8s user's pe

[2018-06-12 08:31] rmohr commented on #1014
It may be that we have issues with keeping the validation webhook connection stable, or the webhook may even crash:

[code]

[2018-06-12 08:42] shiywang commented on #1128
@rmohr @cynepco3hahue thank you for the suggestions, my nodes are running on GCE instances and deployed by openshift-ansible, so GCE host isn't `nested` enabled by default IIRC, so currently we only focus on OpenStack environment right ?

[2018-06-12 08:49] cynepco3hahue commented on #1128
@shiywang In this case, you can enable software emulation - https://github.com/kubevirt/kubevirt/blob/master/docs/software-emulation.md

[2018-06-12 08:50] rmohr commented on #1128
@shiywang you can enable emulation instead of hardware acceleration, however I don't know how useful kubevirt can be in an environment without acceleration. While I think that nested virtualization is not enabled by default in GCE, you can enable it if you selecte specific cpus: https://cloud.google.com/compute/docs/instances/enable-nested-virtualization-vm-instances. But I never tried that myself

[2018-06-12 09:30] #1129 closed

[2018-06-12 10:59] rthallisey commented on #1140
[code]

[2018-06-12 11:37] cynepco3hahue commented on #1140
Our CI is running `1.10.3`, so we do not cover version `1.10.4`, I know it released only one week ago, so we still not tested KubeVirt on it.

[2018-06-12 11:48] sreichar commented on #1141
Here is a pointer to the scratch build I attempted:

http://download-node-02.eng.bos.redhat.com/brewroot/work/tasks/9063/16679063/build.log

Mock Version: 1.1.16
Mock Version: 1.1.16
ENTER do(['bash', '--login', '-c', 'rpmbuild -bs --target x86_64 --nodeps builddir/build/SPECS/kubevirt.spec'], False, '/mnt/build/mock/cnv-1.1-rhel-7-build-4110699-2545021/root/', None, 86400, True, False, 248, 135,

[2018-06-12 12:46] cynepco3hahue commented on #1141
@sreichar What do you mean "Downstream builds cannot access external systems."? It can not use git package?

[2018-06-12 13:20] fabiand commented on #1137
@jniederm @vatsalparekh is this actually the same bug as #1052?

[2018-06-12 13:21] fabiand commented on #1073
/me will gather more informations

[2018-06-12 13:24] fabiand commented on #1081
@yuvalif how often is this situation encountered and how can this be fixed?

[2018-06-12 13:28] fabiand commented on #1085
@rmohr could you explain why this is important for us?

[2018-06-12 13:28] cynepco3hahue commented on #1082
@nellyc If you can run just deploy KubeVirt on OS-3.10 CRI-O environment, leave it for some time, I think 8 hours will be enough and check it after, it will help us :smile:

[2018-06-12 13:29] fabiand commented on #1092
Okay, let's go with a) - align a to how k8s does it.

[2018-06-12 13:30] jniederm commented on #1137
It doesn't seem so to me. This is about an ovm (with corresponding vm in phase "runnning") being turned off and during the shutdown process the vm phase changes to "failed" without any obvious reason. And after a while the vm successfully disappears.

#1052 seems to be about not being actually able to shut down an ovm.

[2018-06-12 13:32] fabiand commented on #1103
This should be fixed in v0.6.0

Please retry @lukas-bednar

[2018-06-12 13:34] fabiand commented on #1107
@rmohr can you give an estimate how much work it is to fix it?

[2018-06-12 13:36] fabiand commented on #1107
@rmohr would #413 help us here?

[2018-06-12 13:38] fabiand commented on #1118
We should catch that the memory field is empty and prevent that the VM is getting created.

[2018-06-12 13:41] jniederm commented on #1118
Memory field is in deed required. The problem occurs when whole `requests` is omitted. (At least in version 0.5.0.)

[2018-06-12 13:46] fabiand commented on #1137
Okay, thanks.

To summarize: The issue is tha tthe VM pod goes into a failed state when the VM is shut down, this is represented in the UI, which might concern a user.
Thus it would be good if the VM pod would not go into a failed state on a intended VM shutdown.

We need to understand why the pod enters a failed state and how we can avoid it.

[2018-06-12 13:47] fabiand commented on #1137
@rmohr do you agree?

[2018-06-12 13:51] davidvossel commented on #1014
yup, definitely possible. a before and after check to verify if any of our cluster components crashed would give us some hints.

[2018-06-12 13:53] jniederm commented on #1137
Just to be sure we understand each other: the complain is about `status.phase` property of `vm` object, not `pod` object. I'm not sure if it's the same thing under the hood.

[2018-06-12 13:57] #1101 closed

[2018-06-12 13:57] #1127 closed

[2018-06-12 14:09] fabiand commented on #1141
[code]

Could be a missing pre-req (git command) or a side-effect of #998?

[2018-06-12 14:10] fabiand commented on #1141
the build system can not pull something from the internet

[2018-06-12 14:13] cynepco3hahue commented on #1141
@fabiand It exactly what I meant, we do not pull anything under `version.sh` script, we just run git commands

[2018-06-12 14:22] rmohr commented on #1141
The issue is that it is not inside the git tree. It should be enough to fill `KUBEVIRT_GIT_COMMIT`, `KUBEVIRT_GIT_TREE_STATE` and `KUBEVIRT_GIT_VERSION` to not run any git commands. Here the description from [hack/version.sh](https://github.com/kubevirt/kubevirt/blob/master/hack/version.sh):

[code]

[2018-06-12 14:29] SchSeba commented on #1141
Maybe we need to add a check if git is installed?

[2018-06-12 15:12] rmohr commented on #1137
I tried it myself. It seems like we on one hand do an ACPI shutdown request, but then immediately `destroy` the vm, which leads to a correct `crashed` report from libvirt/qemu. So the state is correct (We can add something, like `vm crash reported by the hypervisor` in the error condition). But it is obviously not the intended shutdown procedure. I also see that we don't have any tests to make sur

[2018-06-12 15:12] rmohr commented on #1137
I tried it myself. It seems like we on one hand do an ACPI shutdown request, but then immediately `destroy` the vm, which leads to a correct `crashed` report from libvirt/qemu. So the state is correct (We can add something, like `vm crash reported by the hypervisor` in the error condition). But it is obviously not the intended shutdown procedure. I also see that we don't have any tests to make sur

[2018-06-12 15:24] slintes opened #1144 "Create func test for node/pod (anti-)affinity"
see https://github.com/kubevirt/kubevirt/pull/1120#issuecomment-396601667 and following

[2018-06-12 16:36] davidvossel commented on #1140
@rthallisey I am unable to reproduce this with k8s 1.10.4.

Installing kubevirt v0.6.0 works for me on my k8s 1.10.4 cluster
[code]

[2018-06-12 16:39] davidvossel commented on #1140
@rthallisey is the kubevirt.yaml file being mutated at all?

[2018-06-12 21:18] rmohr commented on #1141
Not necessary. The rpms are not built in a source tree. If git would be present it would fail fail because we would execute git outside of the source tree. Setting the environment variables should be good enough.

[2018-06-13 04:52] bhavin192 commented on #955
Yes, it's possible to skip particular sections of YAML with comments,
http://yamllint.readthedocs.io/en/stable/disable_with_comments.html

[2018-06-13 06:44] rmohr commented on #955
@bhavin192 first thanks for investing your time.

As said in the beginning, I don't think that this task is useful:

 * Line length is really irrelevant in my eyes (especially a length of 80?), we are not going to print them (also pretty much any editor has syntax highlighting and softwrap)
 * Many of the linter warnings are about the indenting of arrays and dict entries and yamllint advertises a

[2018-06-13 08:05] fabiand commented on #1073
This relates to https://github.com/kubernetes/kubernetes/issues/59154

[2018-06-13 10:04] rmohr commented on #1107
@fabiand Yes #413 would indeed be one solution to the problem.

[2018-06-13 10:45] fabiand opened #1149 "Mark our infra pods as critical"
https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/

In order to avoid that some component is killing our infra pods, we should mark them as critical.

The task is really just to just add the correct annotations to the pod templates.

[2018-06-13 11:11] rthallisey commented on #1140
No mutations.  I'm going to reset my cluster and test again.

[2018-06-13 14:43] rmohr commented on #1041
@booxter we now have all examples in go structs (including the templates) and generate yaml. As a final step writing tests should now pretty easy.

[2018-06-14 07:47] rmohr opened #1153 "Start using the CRs /status subresource"
Since k8s-1.10, CRs have their own /status subresource. This allow sane modelling of the spec/status differentiation like it is done for k8s-internal objects:

 * Non-privileged users/controllers can no longer mutate the status
 * The repsonsible controller can directly mutate the status (much easier to not change the spec by accident).

[2018-06-14 07:48] rmohr commented on #1153
@fabiand gave this the the `urgent` label. We need this definitely before going stable. Maybe another label is more appropriate to express that.

[2018-06-14 11:55] lukas-bednar commented on #1103
@fabiand I rebased my patch and re run ci with kubevirt 0.6.0, and it fails on same issue.

[2018-06-14 13:08] rthallisey commented on #1103
@fabiand this didn't work in the lastest CI using v0.6.0 in https://github.com/kubevirt/kubevirt-ansible/pull/262.
Error looks the same:
[code]

[2018-06-14 20:52] rthallisey commented on #1140
Redeployed with oc cluster up and I'm still seeing this issue.
oc v3.10.0-alpha.0+e9d50ca-1439
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://10.18.57.19:8443
openshift v3.10.0-alpha.0+9d969d1-1456
kubernetes v1.10.0+b81c8f8

[2018-06-14 21:40] davidvossel commented on #1140
@rthallisey i figured it out. For some reason OpenShift 3.10 doesn't like the description fields in the OpenAPIV3 schema. I'll create a patch to remove the descriptions from the CRD definitons and this should work again.

arguably, this is a change in behavior between 3.9 and 3.10 that could be considered a regression on their part.

[2018-06-14 22:57] shiywang opened #1161 "virtctl/virt-viewer error messages debug log still not that helpful"
so I was trying to use the cnv-qe job to build a slave and cluster, vms running, then on my slaves I want to use virtctl to actually login to my vms, so I `yum install virt-viewer` and `wget virtctl` from release page, and then use this command
[code]
I still don't know what's the problem of virt-viewer... yeah, I mean this maybe not a bug of virtctl/kubevirt, but do you guys know where should I a

[2018-06-15 06:06] rmohr commented on #1161
@shiywang You need at least `0.7.0-alpha.0` to get more information.

[2018-06-15 07:47] shiywang commented on #1161
@rmohr so two questions here:
1. why `0.7.0-alpha.0`'s virtctl version name is still `v0.6.1`
2. after download that virtctl got this error messges, anything wrong here?
[code]

[2018-06-15 08:51] rmohr commented on #1161
No idea. At least they are built from the same commit, so no issues to expect here.

Version Everyting after the official 0.6 release is not compatible with later things. You will have to update the whole kubevirt installation for that, not just virtctl.

[2018-06-15 10:04] rmohr commented on #1128
@shiywang closing this since it seems to really be related to /dev/kvm not being present. Feel free to reopen (and in case you try out the nested virtualzation feature of GCE, maybe you can update about us about the results).

[2018-06-15 10:04] #1128 closed

[2018-06-15 10:12] fabiand commented on #1153
Is it good enough to target it for v1?

[2018-06-15 10:19] rmohr commented on #1092
Names are already validated. Not allowing "." in the name was not my intention when we added `hostname` and `subdomain`. What k8s does, is sanitizing the pod name and use the sanitized form as the hostname of the pod. For instance

* `ngin.x` is sanitized to `ngin`
* `my-super.hostname` is sanitized to `my-super`
 * Finally I think that a maximum host name length also exists (not sure)

So it may

[2018-06-15 11:38] #1141 closed

[2018-06-15 12:21] rmohr commented on #1014
Seems like we are not properly closing expecters. I see long stack traces reaching back to the start of tests when the whole testsuit times out:

[code]

[2018-06-15 17:38] #1140 closed

[2018-06-15 18:07] davidvossel opened #1166 "virt-controller should not need cluster-admin role"
I just noticed the following ClusterRoleBinding in our manifests.

[code]

virt-controller needs a very targeted set of permissions rather than being given the entire cluster-admin role.

There is already a virt-controller CLusterRole. That role needs to be expanded to include anything that might be missing, and ClusterRoleBinding related to assigning cluster-admin to the virt-controller service a

[2018-06-17 11:57] nellyc commented on #1082
@fabiand
Checked multiple environments which have been up for ~3d
Didnt see this issue in any of them

[2018-06-18 08:04] fabiand commented on #1085
https://swagger.io/docs/specification/data-models/enums/

[2018-06-18 08:04] fabiand commented on #1085
This makes sense to have for a lot of fields these days:

- VM status
- Interface models
- Device models

[2018-06-18 10:02] fabiand opened #1173 "virt-launcher should have a ServiceAccount"
Today virt-launchers are run without a service account. But it should have one in order to grant it required privileges on clusters like i.e. OpenShift.

Without a dedicated service account for the launcher, the whole cluster security needs to be weakened.

An example issue:

[code]

[2018-06-18 10:06] fabiand commented on #1173
Well, this might be because kubevirt-infra is gone, and we need to grant the privielges to -infra.

[2018-06-18 10:06] fabiand commented on #1173
`oc adm policy add-scc-to-user privileged -z kubevirt-controller -n kube-system` needs to be run.

[2018-06-18 10:09] fabiand commented on #1173
Maybe my issue.

[2018-06-18 10:09] #1173 closed

[2018-06-18 10:10] fabiand opened #1174 "virt-launcher should have a ServiceAccount"
Today virt-launchers are run without a service account. But it should have one in order to grant it required privileges on clusters like i.e. OpenShift.

Without a dedicated service account for the launcher, the whole cluster security needs to be weakened.

(FYI I previously thought that the issues in #1173 were related, they ain't, but this issue is rfe is still relevant)

[2018-06-18 10:15] fabiand commented on #1052
The implication is actually as follows:

- VMI will not be removed
- VM can thus not be started anymore

[2018-06-18 10:21] fabiand commented on #1166
Back then it was intentionally choosen.

We need a complete overhaul over the roles.

[2018-06-18 13:43] davidvossel commented on #1166
yes, virt-handler is getting cluster-admin as well I see.  It's primarily virt-handler and virt-controller that need to be re-evaluated. virt-api should be accurate and virt-launcher uses the default SA associated with the namespace.

[2018-06-18 15:51] cynepco3hahue commented on #1014
Looks like problem with test expectations:
[code]

[2018-06-18 16:15] #1041 closed

[2018-06-18 16:44] booxter commented on #1041
@rmohr since you envisioned a more elaborate validation of examples via integration tests, should we reopen this issue, or should we create a new one for your suggested approach?

[2018-06-18 18:34] booxter commented on #1085
This issue should probably be a tracker for upstream https://github.com/kubernetes/kubernetes/issues/62325

[2018-06-18 19:07] fabiand opened #1175 "launcher in progress, but status still unscheduled"
I have the situation that a VM's status is not scheduled (missing ready node), but the launcher is actually already launching:

[code]

[2018-06-18 19:11] fabiand commented on #1175
not sure if it's relevant, but after scheudling I get:
[code]

With emulation enabled:

[code]

[2018-06-18 20:23] fabiand commented on #1085
Sad, it's a little out of our hands. Something we could contribute, @booxter ?

[2018-06-18 20:29] davidvossel commented on #1085
i don't think openapi-gen builds our docs. I think it's just involved with the crd validation generation.

Our docs appear built by swagger-doc instead. It's something @rmohr built ```go get -u github.com/rmohr/go-swagger-utils/swagger-doc```

[2018-06-18 21:21] booxter commented on #1085
@davidvossel I think there are two potentially separate issues here:

- how we document valid values;
- how we generate api definition.

For the former, indeed it seems that swagger-doc is used. I am not entirely sure if Go even allows to list all possible values for the type (it does seem that semantics of custom types is not exactly strict, and you can still set other unsupported values to "enum

[2018-06-18 21:32] fabiand commented on #1085
I think it's also more about documentation.

To me enum was the closest term, but if we look at the referenced upstream
issue, then it's clear that other options to signal multiple options are
also an option.

[2018-06-18 21:39] fabiand opened #1178 "Check for correct permissions on disk.img"
I had the issue that my PV help a dik.img. but the mode was `rw-r-----` (group could not write).

But we need `rw-rw----`.

Thus we can easily add a check for this case, to ensure that: If the VM disk is writable, then the disk-img should be writable as well.

[2018-06-18 22:20] fabiand commented on #1082
Thanks

[2018-06-18 22:20] #1082 closed

[2018-06-19 00:13] booxter commented on #1085
@fabiand ok though if it's only about documentation then it has nothing to offer for https://github.com/kubevirt/kubevirt/pull/1167 in terms of enforcing values passed for model field are from the list of supported types. (I assume swagger.json is being consumed by API controller and hence would provide us with automatic enforcement on POST request if we would have enums there.)

[2018-06-19 07:32] fabiand commented on #1128
This happened to me when the config map to enable software emuation was in the wrong namespace.

[2018-06-19 08:18] fabiand commented on #1103
@lukas-bednar @rthallisey thanks - Please check the attached PR - and if it solves your issue

[2018-06-19 08:57] rmohr commented on #1085
The arguments collected by @sttts in https://github.com/kubernetes/kubernetes/issues/62325#issuecomment-398191970 are reasonable to not have enums in the doc. So in contrast to what I initially proposed here, let's not add enums to swagger doc. Instead we need to make sure that our validation webhook does the validations and that the current accepted values appear in the description of the swagger

[2018-06-19 10:36] rmohr commented on #1178
@fabiand, if the disk is owned by qemu, that is not enough? It  needs write access via group too?

[2018-06-19 10:45] #1103 closed

[2018-06-19 11:56] tripledes opened #1181 "InterfaceBridge missing definition in OpenAPI"
Using the Python client, I hit an error about `v1.InterfaceBridge`, https://github.com/kubevirt/client-python/issues/21, looking further I found the [API definition](https://github.com/kubevirt/kubevirt/blob/master/api/openapi-spec/swagger.json#L3829) contains the type, but it's empty, therefore the python client generated references to it, but has no implementation for it.

[2018-06-19 14:19] rmohr commented on #1041
@booxter I think we can reopen when we break them again. :+1:

[2018-06-19 14:30] fabiand commented on #834
@rmohr - We gave head's up to the console some time ago. So we are good now to remove this hack.

[2018-06-19 14:41] michalskrivanek commented on #834
true, though the change has not been done yet AFAIK. It's supposedly fairly straightforward, but still I guess it should be synced on both sides

[2018-06-19 14:51] rmohr commented on #1178
To document the investiogation process so far:

I can't see any permission issues on the following clusters which we use for testing:
 - k8s-1.9.3
 - k8s-1.10.3
 - ocp-3.9-docker
 - ocp-3.9-crio

For me it also look like nothing, neither libvirt nor virt-launcher are trying to change any permissions there. I set the user and group always to 107. The result always looke like this:

[code]
And every

[2018-06-19 14:51] fabiand commented on #1178
Not that I know of.

[2018-06-19 15:00] fabiand commented on #834
We'll remove it for the next release - 0.7 - that also gives you some time
to adjust.

[2018-06-19 15:09] #1175 closed

[2018-06-19 16:13] stu-gott opened #1184 "Networking test is flakey"
As noted in: https://github.com/kubevirt/kubevirt/pull/1099

One networking test has odd behavior. It appears to run twice when run by itself (possibly indicating that something in the test forks). One of the runs passes and one fails.

[code]

During one run of this test I captured the pod logs, which appear fine:

[code]

[2018-06-19 16:18] fabiand commented on #1175
:tada:

[2018-06-19 16:23] #773 closed

[2018-06-19 17:34] stu-gott opened #1185 "KubeVirt needs to conditionally enable device plugins"
https://github.com/kubevirt/kubevirt/pull/1099 added a dependency for Kubernetes Device Plugins. It was decided post-merge that we need to still aim at compatibility with Kubernetes 1.9.X and below.

There are 3 possible courses of action.
* Inspect the kubernetes server version directly and decide if we can use the device plugins API at all.
* Inspect server version *on virt-handler* and switch t

[2018-06-20 07:02] cynepco3hahue commented on #1184
@vladikr @booxter FYI
I will fix the log problem
[code]
as part of https://github.com/kubevirt/kubevirt/pull/1170, after the fix I saw that `nc` command fails on the timeout and it happens pretty often, in my case 80-85% percent of runs.

[2018-06-20 11:22] karmab opened #1191 "registry disks against private registry are not pulled"
kubevirt is not able to launch a vm with a registry disk when the corresponding node doesnt have access to docker.io, although this node does have access to a (private) registry  hosting all the relevant images.

the events of the virt-launcher pod show that the kubevirt specific containers are successfully pulled but not the registry ones

[code]

[2018-06-20 12:02] rmohr commented on #1191
@karmab did you create an imagePullSecret: https://kubevirt.io/api-reference/master/definitions.html#_v1_registrydisksource?

[2018-06-20 12:04] rmohr commented on #1191
@karmab that might also help: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2018-06-20 12:06] rmohr commented on #1191
@karmab can you also try if an ordinary pod with an image from there can start in you cluster on one of the nodes which should be able to pull the image?

[2018-06-20 12:09] fabiand commented on #445
Any volunteer feel free to discuss this with @slintes

[2018-06-20 12:32] karmab commented on #1191
i m able to pull images from the private registry, which is actually insecure, so doesnt require secret data

[2018-06-20 12:36] rmohr commented on #1191
@karmab kubelet pulls it as image for a pod, or you can pull it via `docker pull`?

[2018-06-20 12:48] karmab commented on #1191
as per our IRC discussion, i m closing.
as i m using this private registry, i also need to include its information in the vm definition

[code]

[2018-06-20 12:48] #1191 closed

[2018-06-20 17:45] gageorsburn commented on #913
It looks like it resides within the ci container at kubevirt/kubevirtci. I'm looking more into how that container works. I think it has something to do with being unable to create /dev/kvm instead container when it's on OSX but not entire sure yet. Will update when I discover more.

[2018-06-20 18:38] booxter opened #1193 "CI runs don't collect log artifacts from virt-* pods"
Whenever CI reports back to github, the only thing we seem to have access to is console. It seems like we don't have anything else though, including no virt-* pod logs that could help to investigate flaky issues.

It could as well be that I am missing something obvious and we DO collect the artifacts. If so, I am happy to learn how to access them (and I am happy to use the issue to track a PR that

[2018-06-20 18:39] booxter commented on #1193
@cynepco3hahue any ideas on how to get the missing artifacts?

[2018-06-20 18:43] booxter commented on #1193
Oh seems like some work is being done in https://github.com/kubevirt/kubevirtci/pull/9 and this repo is not the best place to track CI work. I will close the issue, sorry for the noise.

[2018-06-20 18:43] #1193 closed

[2018-06-21 03:04] shiywang commented on #1149
I will take a look on this one

[2018-06-21 05:45] shiywang commented on #1149
/assign shiywang

[2018-06-21 05:46] shiywang commented on #1084
I can take a look of this one

[2018-06-21 07:30] fabiand commented on #1084
That would be awesome!

Feel assigned, @shiywang and let me know if we can give a hand (#kubevirt on freenode and #virtualization on k8s.slack.com)

[2018-06-21 08:24] cynepco3hahue opened #1196 "Fail to start a VM on Origin 3.10 (dp telling us allocatable=0) (K8s issue)"
I fail to start a VM on Origin 3.10, because nodes do not have allocatable KVM and TUN devices:
[code]
[code]

Under `virt-handler` log I have
[code]

Nodes versions:
[code]

[2018-06-21 09:34] fabiand opened #1199 "VM fails to boot in nested environment with virtio disk (sometimes)"
In this thread https://groups.google.com/d/msg/kubevirt-dev/Yd4yJafM_9g/l06OHc5ACAAJ it was mentioned that sometimes a VM can not boot in a nested environment if the virtio disk bus type is used.

##### Version
v0.7.0-alpha.2

##### Steps To Reproduce
In a VM:
1. OS Ubuntu
2. Kubernetes 1.10
3. Launch VM with virtio bus

##### Actual Result
Fails to boot

##### Expected Result
Should boot

##### A

[2018-06-21 09:36] fabiand commented on #1199
/cc @nertpinx @michalskrivanek

[2018-06-21 09:46] fabiand commented on #1199
/cc @nellyc @jerry7z something you can try to reproduce?

[2018-06-21 10:15] fabiand commented on #1196
This could be related to

https://github.com/kubernetes/kubernetes/issues/62773

fixed with

https://github.com/kubernetes/kubernetes/pull/63118

[2018-06-21 10:16] cynepco3hahue commented on #1196
Some additional info, when I added `configMap` via `--namespace kube-system create configmap kubevirt-config --from-literal debug.useEmulation=true` a VM also failed to start with errors under `virt-launcher` pod
[code]
so I think we need https://github.com/kubevirt/kubevirt/pull/1187 until we will sure that DP works under OpenShift 3.10

[2018-06-21 10:29] cynepco3hahue commented on #1196
@gouyang tried it with his environment and had the same issue
[code]

[2018-06-21 10:42] fabiand commented on #1085
Just to get back to what the goal was:

1. Provide documentation of the supported values for this field.
2. Ensure that a VM can only be created if the value is one of the supported ones

Point 1. needs the OpenAPI support, as we genereate the API reference from it
Point 2. could be addressed here or elsewhere i.e. in our validating adm controller

Thus the title might be a bit misleading, because

[2018-06-21 10:53] fabiand opened #1201 "Support for readinessProbe and livenessProbe"
Just like pods we should have the anbility to add readinessProbes to VMs.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

exec must not be supported (as it requires guest support which we don't want to rely on right now).

[2018-06-21 10:54] cynepco3hahue commented on #1014
Windows tests sometime fail on
[code]

[2018-06-21 10:56] #1149 closed

[2018-06-21 10:57] cynepco3hahue commented on #1196
Looks like after some time it succeeded to get allocated devices.

[2018-06-21 11:23] gouyang opened #1202 "virtctl-v0.7.0-alpha.3 cannot start VM"
[code]

[2018-06-21 11:35] fabiand commented on #1196
It started with or without emulation?

[2018-06-21 11:43] fabiand commented on #1202
Please provide

oc describe vmi fedora

[2018-06-21 11:51] gouyang commented on #1202
[code]

[2018-06-21 12:05] cynepco3hahue commented on #1196
@fabiand I tried it with emulation and without, I do not sure if it relates to the KVM device plugin.
I just can not start a VM on the origin 3.10 also when allocated KVM devices are here.

[2018-06-21 12:07] cynepco3hahue commented on #1196
@fabiand @stu-gott https://github.com/kubevirt/kubevirt/issues/1196#issuecomment-399051511 can be an additional side effect of dropping privileged from the `virt-launcher` container.
Under k8s we have SELinux disabled and under OS it enabled.

[2018-06-21 12:10] cynepco3hahue commented on #1196
[code]

[2018-06-21 12:22] stu-gott commented on #1196
@cynepco3hahue My current thinking is this is simply a race condition. You said "allocatable" is eventually non-zero right?

[2018-06-21 12:55] fabiand commented on #1181
@SchSeba can you take a look?

[2018-06-21 13:38] fabiand commented on #1196
@cynepco3hahue we should have a separate issue for the selinux issues.

[2018-06-21 13:52] fabiand commented on #1161
@shiywang can you recreate a fresh env and retets?

[2018-06-21 14:00] cynepco3hahue opened #1205 "virt-launcher pod fails to start because of SELinux problems"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Fail to start a VM on the environment with enabled SELinux
virt-launcher log
[code]

**What you expected to happen**:
A VM must succeed to start without any SELinux errors

**How to reproduce it (as minimally and precisely as possible)**:
- start a VM on the environment with enabled SELinux

**Anything else we need to know

[2018-06-21 14:01] cynepco3hahue commented on #1196
@fabiand Created https://github.com/kubevirt/kubevirt/issues/1205

[2018-06-21 14:20] slintes commented on #1202
the vm templates are wrong, instead of
[code]
it should be
[code]
PR follows

[2018-06-21 14:23] rmohr commented on #1202
@gouyang apart from the wrong template on our side it seems like you don't have the validation webhook enabled. It should not have been able for you to create the vm or vmi in the cluster.

[2018-06-21 16:18] #1202 closed

[2018-06-21 17:12] stu-gott commented on #1205
As a data point, this issue really is limited to SELinux (as opposed to being compounded by other issues). I temporarily turned off SElinux enforcement on my node and my VM instance booted fine.

audit2allow suggests adding these rules:

[code]

However, after adding those I'm still getting a failure in the pod's logs:

[code]

[2018-06-21 18:21] stu-gott commented on #1205
@cynepco3hahue I've got VM's running on my local cluster with the following type enforcement file:

[code]

To compile and install these rules on a running system, put the above into a file named `virt_launcher.te`, then run:

[code]

I'm unsure of the proper way to bake the above into the openshift provider image. Is that something you can do?

[2018-06-21 19:09] fabiand commented on #1205
First: I think this is a side effect (as noted before) of moving to a non-privileged pod. privileged pods probably run as a different type.

Now, the real way how to fix this is (IMHO) to get this into the policies of a distro.

@rhatdan Any recommendations how we could do this for a Kubenretes application running on Origin on Fedora and CentOS?

[2018-06-21 19:37] rmohr commented on #1205
Try giving virt-launcher and virt-handler identical mcs labels: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#assign-selinux-labels-to-a-container. That a non-privileged pod can't access sockets from other pods is the default and it should work by labeling them the same way.

[2018-06-21 19:38] fabiand opened #1208 "Make templates part of the release (optional)"
A few templates should be part of the release, as they are very convenient for users - if they use origin.

/kind enhancement

We have a few templates in the `cluster/examples`.
In order to promote them more we could make them part of a release. To me this has a few requirements:

- [ ] Define which templates (fedora, ubutnu, rhel, centos, windows?)
- [ ] Provide them as an optional (like the demo

[2018-06-21 20:30] cynepco3hahue commented on #1205
@rmohr Do not sure if it will help because in this case, all `virt-launcher` pods will have the SELinux MCS label of the virt-handler pod, in general, it means that one `virt-launcher` pod can access private resources of an other `virt-launcher` pod(at least from SELinux perspective)

[2018-06-21 21:38] stu-gott commented on #1205
@fabiand I'm not sure that distro defaults makes sense here. the specific privileges needed are tailored to the exact workflow of the virt-launcher pod.

[2018-06-21 21:55] rthallisey commented on #1205
These rule make sense to me based on what's happening (opening a socket).
[code]

I'm not sure these are relevant unless virt-launcher needs to access something from the hosts' ```/var/run/``` or ```/proc/mtrr```.
[code]

[2018-06-22 03:13] shiywang commented on #1001
@fabiand I would like to stab at this if no one else

[2018-06-22 03:52] shiywang commented on #445
@slintes I would like to take a look on this if it's not in a hurry.

[2018-06-22 06:07] cynepco3hahue commented on #1205
I versus this policy, this rules relevant to `virt-launcher` containers, but they do not relevant for normal containers.
I think we must create a new label, something like container_svirt_t that will extend container_t with new rules. And apply this label on `virt-launcher` containers.

[2018-06-22 08:08] fabiand commented on #1001
/assign @shiywang

[2018-06-22 08:16] #1133 closed

[2018-06-22 09:13] slintes commented on #445
sure, no hurry :)
feel free to assign yourself with the new "/assign" command

[2018-06-22 11:00] rhatdan commented on #1205
If you volume mount in the socket using :z it will eliminate the AVCs for container reading and writing to the container_var_run_t socket.

I would like to see the raw AVC messages.

[2018-06-22 11:06] rhatdan commented on #1205
What is the docker or preferably podman command used to start these containers?  Or are these containers running under kubernetes/CRI-O?

[2018-06-22 11:08] cynepco3hahue commented on #1205
@rhatdan it OpenShift Origin 3.10 rc.0 with docker
[audit.log](https://github.com/kubevirt/kubevirt/files/2127363/audit.log)

Give me you know if you need any additional information, and thanks for your help

[2018-06-22 11:30] rhatdan commented on #1205
The logs you attaches show in one, libvirtd running inside of a container.  If this is supposed to be full libvirtd running in a container, I believe you will have to run with SELinux separation turned off (Run with spc_t)

As far as virt-launcher talking to the container_var_run_t socket, I think you just need to tell the container runtime to relabel the socket as a shared content.

podman run -v

[2018-06-22 17:59] SchSeba opened #1211 "Istio doesn't create the ingress traffic configuration"
Istio init container looks for the container ports, if no port is configure istio doesn't configure the ingress traffic. [istio-sidecar-injector-configmap](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml#L42)

We need to add the ports configured by the slirp to the compute container inside our virt-lancher pod.

[2018-06-23 22:17] gageorsburn commented on #913
/proc/misc on containers on OSX do not have an entry for kvm while containers on linux do. So I'm pretty sure this stems from the KVM dependency that OSX does not support.

[2018-06-24 06:43] cynepco3hahue commented on #1205
@rhatdan I added `audit.log` with the run under the permissive mode, can you please take a look and say if you have some additional thoughts until then I will try to apply your above proposals.
[audit_permissive.log](https://github.com/kubevirt/kubevirt/files/2130542/audit_permissive.log)

[2018-06-24 08:42] cynepco3hahue commented on #1205
@rmohr I tried to set the same SELinux `level` on the `virt-handler` and `virt-launcher` container(I tried both on pod and container level), but it did not help, maybe I did something wrong :worried:

@rhatdan Setting `spc_t` on `virt-launcher` pod solved the SELinux problem(more correctly will say, that it will just ignore all SELinux restrictions), I think like short term solution it works fine.

[2018-06-24 10:07] fabiand commented on #1205
Yes, we run libvirtd in a pod, but with very reduced functionality (as in we use a limited set). Thus it's our goal to be able to run libvirt inside an un-privileged pod.
The privileged operations should be done by external components (like kubelet, device plugins or alike).

@rhatdan thus the question - how should wd configure the pod/kube considering that libvirt should be running as an un-privi

[2018-06-24 11:18] rhatdan commented on #1205
Is libvirtd going to be launching VMs?

Running your audit.log though audit2allow shows:

[code]
These three can be solved by mounting the container /var/run volume directory with a :Z or :z option

[code]
This is caused by libvirtd trying to load the kernel module, kmod="char-major-10-200" .  Is there any way for you guys to get this loaded outside of the container.

[code]
How does this device g

[2018-06-24 14:08] fabiand commented on #1205
Also CC'ing @berrange on this issue

A few things we can do:

1. Understand if libvirt really needs it and why  - Do you know @nertpinx @berrange ?
2. Check for it #1023 - and leave it to the operator to load it
3. Check for it #1023 - and let launcher or DP load it (i.e. part of kvm resource)

1. Let's understand if libvirt really needs it and why - @nertpinx @berrange ?

… and distro :)

In gene

[2018-06-24 18:32] fabiand commented on #1211
That's awesome.

That means we can take the ports we need to define in the VM Spec and use them to define the ports on the pod level.

Not to bad.

[2018-06-25 02:59] shiywang commented on #445
/assign shiywang

[2018-06-25 03:00] shiywang commented on #1084
/assign shiywang

[2018-06-25 07:10] gouyang opened #1217 "OpenAPI specification is not friendly with go-swagger"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. go get -u github.com/go-swagger/go-swagger/cmd/swagger
2. swagger validate api/openapi-spec/swagger.json

[2018-06-25 07:37] cynepco3hahue commented on #1196
@fabiand @stu-gott Some additional information looks like we really encounter the issue that @fabiand mentioned https://github.com/kubernetes/kubernetes/issues/62773, and it strongly affects our CI, because we have `virt-handler` crash test and after it allocated will always equal to 0.

@stu-gott I believe I skipped part of device plugin discussion, but can we separate device plugin from virt-han

[2018-06-25 08:37] berrange commented on #1205
char 10,200 is /dev/net/tun. AFAIK, libvirt doesn't try to load the kernel module for this device.

Libvirt hasn't ever used that AFAIK

Any libvirt bugs must go to the libvirt bug tracker - either upstream, or the distro bug tracker if using distro packages.

[2018-06-25 10:23] rhatdan commented on #1205
@cynepco3hahue
If the module is not a particular node and libvirt needs it, then libvirtd would not work, I would figure

dnsmasq fix is in container-selinux-2.66-1.el7_5

@berrange libvirtd is not loading it, it is relying on a kernel mechanims that triggeres the kernel to load the module.  We don't allow this mechanism by default from SELinux, although their is a boolean.  Our thinking  is that

[2018-06-25 12:01] SchSeba commented on #1181
I take a look at the issue. The problem is the swagger-codegen don't generate empty structs I also was not able to find any hack to tell the codegen to create the model. The problem will be fixed if we implement the delegate variable inside the bridge struct or any other configuration inside of it.

[2018-06-25 12:20] vatsalparekh opened #1218 "Local Volume provisioner ignoring storage size"
**Bug**
/kind bug

**What happened**:
The PVC created using CDI (using Local Volumes PV) are ignoring the size we pass in pvc spec, it just takes size equals to size of pv, which again is size of the disk for each pv
So I can see 5 PV and PVC of 39G, where the disk size of the node itself if 39G
this might be issue with local volume provisioner, but this affects the our workflow where VMs can virt

[2018-06-25 12:24] petrkotas opened #1219 "Properly configure selinux for virt-laucher."
**BUG REPORT**:

/kind bug

**What happened**:
Currently the `virt-handler` selinux policy is set to be super-privileged. This is a future security issue and has to be fixed.

This workaround is introduced in #1214 as a temporary solution.

**What you expected to happen**:
Figure out the right selinux settings and apply it to the virt-launcher.

[2018-06-25 12:32] vatsalparekh commented on #1218
so this also allows importing rhel image of a 1Mb pvc

[2018-06-25 13:19] petrkotas commented on #1219
Fixed error in component name.

[2018-06-25 13:46] aglitke commented on #1218
I am guessing this is expected behavior.  Note that the VM cannot consume more than it's disk size because it is writing into a raw file of the correct size.

[2018-06-25 14:02] nellyc opened #1221 "Virtctl doesnt provide any output on successful start/stop vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
virtctl start/stop has no output on success

**What you expected to happen**:
i would expect to get some output, such as 'vm X successfully started/stopped'

**How to reproduce it (as minimally and precisely as possible)**:
virtctl start/stop vm_name

**Anything else we need to know?**:

**Environment**:
- KubeVir

[2018-06-25 14:14] yanirq opened #1222 "VirtualMachineInstance cannot launch when the VM name is too long"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

*1) VM name longer than 63 characters*

VirtualMachineInstance with a VM name that is longer than 63 characters cannot launch.
Status of the vmi is empty and it has no events :
[code]

[code]
Virt-Controller logs :
[code]
*2) UNIX socket path is too long*

Even when the VM name is shorter than 63 characters, the UNIX sock

[2018-06-25 14:51] yanirq opened #1223 "Hostname should be sanizited when VM name is longer than 63 characters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When creating a vmi with a name longer than 63 characters and no hostname defined under spec
the hostname receives the vm name and the vmi will fail on hostname dns validation.

**What you expected to happen**:
Hostname should take only the first 63 characters of the vm when no hostname is defined in the vmi spec.

**How t

[2018-06-25 14:57] yanirq opened #1225 "Hostname does not appear in describe vmi when its not provided in specification"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When creating a vmi with no hostname defined under spec, the hostname  should receives the vm name.

`kubectl describe vmi <vm_name> `  will **not** display  `Hostname:`  in output.

**What you expected to happen**:
`kubectl describe vmi <vm_name> ` should display  `Hostname:`  in output since the hostname receives the vm

[2018-06-26 02:10] gouyang commented on #1217
I'm not sure if it's an issue or it has impact on us, just saw it so report it. Please feel free to close it.

[2018-06-26 10:21] rmohr opened #1227 "Completely switch to openapi-gen from k8s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Right now we still use `https://github.com/rmohr/go-swagger-utils` to generate go-restful structs for swagger.

**What you expected to happen**:

 Instead of that, we can now completely switch to `https://github.com/kubernetes/code-generator/tree/master/cmd/openapi-gen`.

**How to reproduce it (as minimally and p

[2018-06-26 12:31] karmab commented on #1222
do we want to launch a vm in this case or rather put a maximum length on hostname ?

[2018-06-26 12:33] karmab opened #1228 "public key injections breaks the host ssh access"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
password is required for ssh access to the host, although pub keys are there

**What you expected to happen**:
access the host the vm is running on without issue

**How to reproduce it (as minimally and precisely as possible)**:
launch a vm and inject a ssh key

**Anything else we need to know?**:

**Environment**:
- Kube

[2018-06-26 13:05] rmohr commented on #1228
@karmab do I understand that correctly? You inject an ssh-key via e.g. cloud-init or ssh-copy-id into the **vm** and then you can't log into the **host** anymore?

[2018-06-26 13:12] rmohr commented on #1222
Hm, that's a completely arbitrary limitation which for instance also depends on the namespace length then. We should support the same length as pods does and especially not limit it because of something like a socket name.

Now that we have the vmi as long in the cluster as the pod exists and no external libvirt, we can now safely use the UID of the vm and not even add the namespace. That was not

[2018-06-26 13:48] karmab commented on #1228
my bad, turns out the following command snippet was
[code]
was screwing up my selinux labels....

[2018-06-26 13:48] #1228 closed

[2018-06-26 18:49] tchughesiv commented on #1118
Maybe the preset fixes in https://github.com/kubevirt/kubevirt/pull/1115 & https://github.com/kubevirt/kubevirt/pull/1186 fixed this. It doesn't appear to be an issue today w/ a cluster from master.

I did have to change ovm to vm given the recent name changes:
[code]

The above successfully starts a vmi...
[code]

[2018-06-26 22:21] fabiand opened #1229 "Allow setting CPU models"
As a user caring about performance I want to set my (v)CPU model to a specific CPU family or host pass-through in order to get best performance.

/kind enhancement

[2018-06-26 23:12] fabiand commented on #966
Just to be clear and level expectations: (jinja) templates part of a release, are templates _for_ the specific release. And as @rmohr pointed out above, they are not portable between releases. Templates - manifests - need to be considered to be an artifact of the release itself. This is important to understand.

Nevertheless even this per-release templates should have a significant value, as - as

[2018-06-26 23:49] fabiand opened #1230 "Limit machine type to q35"
Today we can set the machine type.

In order to strive for stability and avoid complexity we should limit ourselfs to a future proof (ha! q35 is sooo odl, but still the most recent ..) machine type

/kind enhancement

In order to achieve this we should ~either remove the field from the API or~ limit it to a single value (in order to still give visibility of the machine type in the API)

[2018-06-26 23:54] fabiand commented on #985
This is done.

[2018-06-26 23:54] #985 closed

[2018-06-26 23:55] fabiand commented on #1205
@cynepco3hahue why was this closed?

[2018-06-27 06:08] cynepco3hahue commented on #1205
@fabiand I believe it because of my W/A PR was merged.

[2018-06-27 06:11] cynepco3hahue commented on #1014
Configuration test sometime fails
[code]

[2018-06-27 06:17] cynepco3hahue commented on #1229
It can be easily implemented, but do we want to pin VM to the specific node before allowing it because if we have nodes with different CPU features and the application under the VM expect to some specific set of features we can have a problem?

[2018-06-27 06:48] michalskrivanek commented on #1229
indeed - it doesn't make sense before we have proper capability reporting from nodes

[2018-06-27 07:00] rmohr commented on #1229
Well, I think @fabiand has a good point here and that we can simply allow it. Migrations, which we do not have right now may not work, and some vms/applications may have issues after restarts if vms start on different machines.

But shouldn't Linux (which I expect to be used mostly for good performance) be able to cope with that without problems and be always faster then?

[2018-06-27 07:04] michalskrivanek commented on #1229
we shouldn't encourage using host model passthrough. it will prevent the live migration and it will indeed cause that the guest will look differently on each host
But yeah, nothing against allowing to configure a specific CPU

...reading the original description, i think i commented on a wrong issue initially:-D

[2018-06-27 12:58] rmohr opened #1236 "Don't rely on the qemu binary name for detecting its PID"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In our builds we know the name of the qemu binary which will be selected by libvirt and we use this knowledge to find the qemu pid based on the qemu binary name. We assue mit is called `qemu-system-*`. That is not necessarily the case when kubevirt is rebuilt and uses a different base OS.

**What you expected to happen**

[2018-06-27 13:14] j-griffith commented on #1229
Personally I think there's a lot of value in having this option.  Again, it's an option so we won't be forcing anyone to use it.  My experience has been to always use pass-through mode for a number of reasons:

1.  Better performance (maybe this is urban legend?)
2.  Consistency in my environment (I want my VM's to look/behave like my bare metal)
3.  Moving my C++ builds to a VM and finding that w

[2018-06-27 13:23] michalskrivanek commented on #1229
that's the exact opposite. With "bare metal" you're always get the exact bare metal you happen to run your VM on. In a diverse hw environment you get the exact opposite of consistency

if you choose wrong features that's what you get, sure. A good enough management system chooses the optimal thing for you

sure, it's a valuable option for some cases

yes

I think if we get into that level of detai

[2018-06-27 14:07] #1092 closed

[2018-06-27 20:30] davidvossel commented on #1236
That's a good point. Unfortunately it doesn't reflect the name of the binary associated with the pid necessarily.

For example, the binary on my domain is set to /usr/bin/qemu-kvm, but that binary is a bash script that calls ```exec /usr/bin/qemu-system-x86_64 $opts "$@"```. When we do a ps -aux, we're going to see qemu-system-x86_64 instead of qemu-kvm.

[2018-06-27 23:52] vladikr commented on #1229
Perhaps we can simply report the host cpu model (via label or crd?) and let the users request a specific model. If a user doesn't provide anything, we will set a default. We can also let the user set a host-passthrough if he wants.

We can then set a baseline cpu features in a domain and store it in a vm spec for stateful vms.
That should address the consistency issue. When such a vm starts we wil

[2018-06-28 10:05] mareklibra commented on #834
On Tue, Jun 19, 2018 at 5:01 PM michalskrivanek <notifications@github.com>
wrote:

I would wait with the removal till implementation via API endpoint is
working properly.
Recently issue with websocket connection needs to be resolved, websocket
upgrade within handshake is failing on strict origin check (on server-side).

[2018-06-28 10:32] yanirq commented on #1225
@rmohr  Im trying to think if this is really a bug.
kubectl gets the vmi resource for description , and if the user didn't define the hostname then it shouldn't exists there. But, hostname gets the vm name in some areas.
Do we want to update the vmi resource with hostname ?  or is  this wrong by design?
If kubectl describe vmi <vm_name> takes the resource as it is then it will need a hack to displ

[2018-06-28 12:10] cynepco3hahue commented on #1014
Looks like some time a VM with `alpine` PVC fails to start
[code]

[2018-06-28 13:05] rmohr commented on #966
Resolved by #1116. First release with a published template is this: https://github.com/kubevirt/kubevirt/releases/tag/v0.7.0-alpha.5

[2018-06-28 13:05] #966 closed

[2018-06-28 14:02] nertpinx commented on #1199
Unless there's more information to base this on, I have no idea where to start. How does it look? What do logs say?

[2018-06-28 14:50] #1236 closed

[2018-06-28 20:19] fabiand commented on #1229
For simplicity let's take passthrough out of the picture for now. Then I recommend the following:

1. In this issue: Add an VM API field to set the CPU family  (`virsh cpu-models x86_64`) to one of the known ones by libvirt. If it is not supported by a node, then we fail there. End of story.
2. In the next step expose the CPU families per node as labels
3. Modify the controller to set the correct

[2018-06-29 06:40] rmohr commented on #913
@gageorsburn the /dev/kvm related logic is here: https://github.com/kubevirt/kubevirtci/blob/master/base/scripts/vm.sh#L80.

Is intel haxm supported on mac? That might be a suitable alternative.

[2018-06-29 07:00] rmohr opened #1242 "Bearer token authentication for websockets does not work for kubevirt subresources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When opening a websocket connection to our subresources from the browser, one has to provide the bearer token in protocol header of websockets:

[code]

More details can be found here: https://github.com/kubernetes/kubernetes/pull/47740.

If the token is provided this way, it seems to be ignored by the authentication-pro

[2018-06-29 08:02] fabiand opened #1243 "release-0.6: Detect vm pid by domain uuid in cmd args"
KubeVirt is getting packaged, this packaging involved relocating the place of qemu which lead to a small bug.
This is about fixing the detection of the qemu process and backporting it to release-0.6

https://github.com/kubevirt/kubevirt/pull/1239

/kind bug

[2018-06-29 08:44] fabiand commented on #834
On Thu, Jun 28, 2018 at 12:05 PM Marek Libra <notifications@github.com>
wrote:

Could you please provide a link to the issue tracking this? We should label
it accordingly.

[2018-06-29 08:50] rmohr commented on #1242
Will test a little bit more and then report it in k8s too.

[2018-06-29 08:51] rmohr commented on #834
We need to find a solution for #1242.

[2018-06-29 09:12] fabiand commented on #1242
Is this an issue in the aggregated-apiserver-proxy or on our side?

[2018-06-29 09:13] fabiand commented on #1242
/cc @sttts

[2018-06-29 11:21] fabiand commented on #1229
For the record: Right now we use some Qemu CPU. This leads to really bad CPU performance. And this is actually affecting us in a relevant environment.

Thus as outlined in the previous comment we can limit this to set it to a know/supported CPU model.

Due to the impact on our environment and because of it's ease I'm also proposing this for release-0.6.

[2018-06-29 11:28] berrange commented on #1229
Note that given recently published hardware flaws, CPU model choice is now considered a **security critical** part of guest configuration.

Long term plans are slightly in flux, but for now this patch provides our best guidance on what apps should be doing:

  https://lists.gnu.org/archive/html/qemu-devel/2018-06/msg08024.html

Apologies for the horrible texinfo markup there. Once its merged there

[2018-06-29 11:32] fabiand commented on #1229
It is a horrible text markup :)

Thanks for raising this.

Can you tell which haswell and broadwell configurations would be safe to take?

Side note could you comment on https://github.com/kubevirt/kubevirt/issues/1117 if it's the best approach right now to follow F28 qemu/libvirt to inherit all possibel changes coming up?

[2018-06-29 11:32] fabiand commented on #1117
@berrange is it a viable approach right now to follow F28 qemu/libvirt to inherit all possibel changes coming up?

[2018-06-29 11:35] berrange commented on #1117
Not sure what changes you're referring to here ?

Libvirt / QEMU versions are frozen at time of beta release for Fedora. After that point we only do bug fixes to each stable branch. There's a separate "virt preview" add on repo you can use if you want to pull in latest virt stack - it is basically the rawhide packages, but rebuilt for latest stable Fedora branch

https://fedoraproject.org/wiki/Vir

[2018-06-29 11:38] berrange commented on #1229
There's no right answer about which named model to use, as it depends what hardware you are running on.  Per that document I link to, you should either pick host passthrough/host model, or pick a named CPU model that matches your host.   host model & named CPU model both allow for live migration, though the latter is slightly more relaxed if you have heterogeneous hardware across the cluster. Also

[2018-06-29 11:47] fabiand commented on #1117
I heared that a "recent" qemu version is needed in order to be able to indivudally specify IBRS etc CPU flags.
And I wondered if qemu in fedora is recent enough.

I'd assume that if we move to fedora28, that this stream should be fine for now?

[2018-06-29 11:51] berrange commented on #1117
There are updates issued in Fedora repos with the required CPU fixes / flags. I'm unclear, however, if the docker images ever get rebuild, and if they do, how frequently it happens.

[2018-06-29 11:55] fabiand commented on #1117
Okay. if Fedora is good, then we "just" need to see that we keep our images updated as well.

I created https://github.com/kubevirt/libvirt/issues/16 to get the base image updated.

[2018-06-29 12:03] berrange commented on #1117
BTW even with the updated qemu/libvirt RPMS, you can't just blindly assume you can use  IBRS  CPU models / SSBD CPU feature.  The host kernel needs to have been updated and the CPU microcode also updated. For extra fun there is no publically available microcode quite yet for SSBD feature.  Libvirt provides APIs you can use to query whether given CPU models & features are usable for the given host

[2018-06-29 12:06] fabiand commented on #1117
Yes, good for pointing this out. I just don't worry about the host to much, because it's up to the operator, we just need to see that we do our homework on the container side.

[2018-06-29 12:08] berrange commented on #1117
Yes, just wanted to make sure you're careful not to make config choices that prevent your ability to launch VMs on certain operators if they've not deployed the corresponding host changes.

[2018-06-29 12:42] fabiand opened #1247 "Cluster level CPU model"
In order to

a. be able to set CPU models on VMs
b. Make this transparaent to the user

the following **rough** plan is proposed

1. Add an VM API field to set the CPU family (virsh cpu-models x86_64) to one of the known ones by libvirt. If it is not supported by a node, then we fail there. End of story.
2. Expose the CPU families per node as labels
3. Modify the controller to set the correct sele

[2018-06-29 12:43] fabiand commented on #1247
@berrange @vladikr @michalskrivanek How does this look with your OS/oVirt hat's on?

[2018-06-29 12:50] berrange commented on #1229
I republished the content in a blog for easier reading, since it may be a while before it gets published in QEMU docs properly https://www.berrange.com/posts/2018/06/29/cpu-model-configuration-for-qemu-kvm-on-x86-hosts/

[2018-06-29 12:55] berrange commented on #1247
It is not sufficient to only set a named CPU model. it is required to be able to also set various extra named flags to protect against security flaws.  You don't necessarily need to expose ability to set CPU flags to the user, but if you choose not to, then you must have code that knows how & when to set the required extra flags correctly.

NB, in openstack there are three settings:

cpu_mode=host

[2018-06-29 12:57] fabiand opened #1248 "Remove pullPolicy ifNotPresent"
In production we probably want the default behavior, where an image is checked on launch and pulled if necessary.

[2018-06-29 13:05] rmohr commented on #1248
To quote the k8s documentation: `The default pull policy is IfNotPresent which causes the Kubelet to skip pulling an image if it already exists.`

Tags of images should never be changed, except `:latest` of course.

[2018-06-29 13:06] gageorsburn commented on #913
@rmohr Yeah I had found that when I looked into it and determined that to be the root cause. I was not able to get Intel haxm working with qemu.

I did come across https://github.com/geohot/kvm-kext but did not test it out.  Another thing that could be done is to look into OSX's hypervisor.framework, but I don't know how much value it will add, or we probably could just do without hardware acceler

[2018-06-29 14:17] michalskrivanek commented on #1247
oVirt focuses on named models. We now have the ability to add or remove individual flags, but currently use a "friendly" name for end users in all cases
Also support host passthrough, but that's a minor use case since we then require host pinning and block migration for simplicity.

so far we added a new friendly name for each security flaw, but we're considering to rather use something like secur

[2018-06-29 14:31] rmohr commented on #1242
Until now I can't reproduce a working request for /exec pods, but that for sure works, so first need to reproduce that before I can be sure that it really does not work for our subresources.

[2018-06-29 21:49] fabiand commented on #1222
+1 fur inheriting pod/kube limitations, as it's not easy to change it from our side.

Here a question would be if a viable woraround (we could recommend) would be to use labels i.e. `kubectl describe vmi -l 'domain=veeeeeeeeeeerrylooooooooooooooooooooooooooooooonnnnnnnnnnnnnnnnnnngggggggggggggggname'`

[2018-06-29 21:50] fabiand commented on #1222
@yanirq do you want to take the bug?

[2018-07-01 07:31] yanirq commented on #1222
/assign

[2018-07-01 12:45] itamarh commented on #1221
that would require to wait on the result, where the current behaviour is basically "Request to start/stop the VM sent successfully"?

[2018-07-01 13:06] nellyc commented on #1221
im ok with the current behavior, but would appreciate some output, your suggestion of 'request to...' is good enough for me

[2018-07-02 09:11] vatsalparekh opened #1251 "MAC address change after VM reboot"
/kind bug

**What happened**:
After shutting down and stating a VM again, I'm not able to ssh to the vm, it says no route to the host
But, I was able to login to the VM via `virtctl console`
Checking on the VM, I found that the MAC address in `ip a` was different then the one in `/etc/sysconfig/network-scripts/ifcfg-eth0`, and so `eth0` didn't get any inet addr, and network.service was also stuck.

[2018-07-02 09:17] vatsalparekh commented on #1251
Workaround that worked for this was commenting `HWADDR` in `/etc/sysconfig/network-scripts/ifcfg-eth0`, restarted the network service and `eth0` got address now, ssh also worked now

[2018-07-02 09:39] SchSeba commented on #1181
After a quick talk with @rmohr I will hard coded our both empty class (bridge interface and slirp interface) to create an empty module for our python-sdk.

@fabiand @booxter @vladikr  It sounds good?

I have an open issue on the [swagger-codegen page](https://github.com/swagger-api/swagger-codegen/issues/8356) but no one answer there.

This can be a short term solution and after that I can try to

[2018-07-02 10:13] fabiand commented on #1251
This should be partially fixed by #1069

We'll then need a mechanism similar to the UUID generation, to interface mac addresses during first creation of a VM.

[2018-07-02 10:15] SchSeba commented on #1251
Just thinking we can use @booxter [PR-1213](https://github.com/kubevirt/kubevirt/pull/1213) and add the logic of creating a mac address (if the user not assign one) to the virt-controller and it will save it.
Then when the VMI start it will already have a mac address in the vmi object

Other solution is to always generate the same mac-address for the interface.

[2018-07-02 11:19] vatsalparekh commented on #1251
@fabiand Actually I guess this is when the virt-launcher pod gets recreated, else if we just do `reboot` from inside the vm console, the mac stays the same

[2018-07-02 11:39] fabiand commented on #1251
@vatsalparekh correct. It's about the recreation of the domxml which is tied to the launcher.

[2018-07-02 13:57] fabiand opened #1252 "release-0.6: Create and publish a jinja2 template of kubevirt.yaml"
Backport the jinja2 to the stable branch for easier consumption

[2018-07-02 14:21] fabiand commented on #445
@shiywang hey - any update on this one? Otherwise I'd liek to give it back to the pool of good first issue.

[2018-07-02 14:21] #818 closed

[2018-07-02 14:42] fabiand commented on #1252
@rthallisey fyi

[2018-07-02 15:44] alexxa opened #1255 "Invalid URLs in this repo"
There are several invalid URLs in this repo [1].

Those were found using [this script](https://github.com/alexxa/check_url). Note that
* some URLs are just examples, e.g. `https:/node01` and can be ignored, and added into `ignored_urls.yml` file when running that `urlcheck.sh` script
* some URLs, e.g. `http(s):/onsi.github.io/ginkgo/` sometimes don't pass the curl timeout=5 used in a script, but t

[2018-07-02 15:44] SchSeba commented on #1181
My PR is ready waiting to [this issue](https://github.com/kubevirt/client-python/issues/23) to be resolved before push it because I cant test it now.

[2018-07-02 15:47] booxter commented on #1251
I would agree with populating MAC address if not explicitly set. It helps with migration, it also enhances MAC discovery mechanisms; at this moment, the only way to consistently extract the VM MAC address is from inside the guest, which is not cross-platform.

[2018-07-02 16:47] stu-gott commented on #1221
Note to developer:

The commands to start and stop a VM (essentially launch or kill a VirtualMachineInstance) is actually a wrapper around the `kubectl patch` command. The command in question occurs around line 113 of `pkg/virtctl/vm/vm.go`:

[code]

The current implementation returns an error from the `Run` function, but does not otherwise indicate success.

One possible approach would be to simp

[2018-07-02 17:01] stu-gott commented on #1201
@fabiand AJust to clarify, are you picturing something that runs inside of the VirtualMachineInstance, or something that runs in the virt-launcher pod?

[2018-07-02 19:17] booxter commented on #1085
@fabiand since Point 1 would require OpenAPI support, and since it seems like we wouldn't want to adopt enums for APIs for other reasons, we should focus on Point 2 here.

As for Point 2, there are multiple ways to achieve it, including explicit checks against a list per "enum" field, like we already do for network interface models. We could build something more elaborate and abstract here, e.g. s

[2018-07-02 19:32] booxter commented on #1080
@fabiand do we have any more user visible annotations now that we migrated the interface model to a first class interface field? Is there anything else to document in context of this issue?

There are several "internal" annotations used by components, f.e. for heartbeats; do we want to document those? The original description is not clear about it and suggests to find a place to document "these" (

[2018-07-02 19:48] fabiand opened #1256 "release-0.6: Allow setting CPU models"
Backport of #1229 to release-0.6

[2018-07-02 20:15] fabiand commented on #1256
@cynepco3hahue once your patch is merged, then we need ot cherry-pick it

[2018-07-02 20:15] #1243 closed

[2018-07-02 21:03] booxter commented on #994
The issue is reported upstream at: https://github.com/kubernetes/kubernetes/issues/65517

[2018-07-03 06:10] shiywang commented on #445
@fabiand working on it, will submit a pr soon

[2018-07-03 06:12] cynepco3hahue commented on #1230
I think we must remove it, I did not see any usage of the machine type under Ovirt and OpenStack.

To achieve it you must:
- remove any reference to `Machine` under `pkg/api/v1/schema.go`
- set machine type to `q35` under `pkg/virt-launcher/virtwrap/api/converter.go`
- make sure that unittests passed
- make sure that functional tests passed

[2018-07-03 06:12] cynepco3hahue commented on #975
We still need to check that OpenShift has the same labels and taints as k8s.

[2018-07-03 06:45] michalskrivanek commented on #1230
why would you want to remove the one thing which makes sure that guest ABI stays the same across Kubevirt and/or libvirt/qemu upgrades?
I consider "futureproof" to be guest stability, not random changes to guest hw.

[2018-07-03 08:10] cynepco3hahue commented on #1230
@michalskrivanek I want to remove it only from VM specification because we do have any real use for it, but libvirt domain still will receive machine type `q35`

[2018-07-03 08:28] slintes commented on #863
fixed by https://github.com/kubevirt/kubevirt/pull/1026

[2018-07-03 08:28] #863 closed

[2018-07-03 09:07] fabiand commented on #994
:+1:

[2018-07-03 09:16] yuvalif commented on #744
@fabiand is this still needed given that #818 is done?

[2018-07-03 09:31] slintes commented on #894
I'm wondering why https://github.com/kubevirt/kubevirt/pull/895 was closed?

Or: what exactly should be done for resolving this issue?

- do we want an event on every sync, but with a better message?
- or do we want an event only when a new domain is defined?

@fabiand @rmohr ?

[2018-07-03 09:34] rmohr commented on #894
@slintes I just closed it because I could not get back to it and the proposed solution is not correct. Removing the events (which I did in the PR) is not correct. We want to only send the events once when they actually happen.

[2018-07-03 09:59] fabiand opened #1260 "Add virtio-rng support"
Design: https://docs.google.com/document/d/1G75lPm0dCf3ZcFnG6NJpUDZgTaQnFKKM7_glpXzH9uc/edit#

This issue is about adding a virtio rng device type including it's knbos, and two configuration profiles which reflect the oVirt and OpenStack configuration.

The device can be added by a user on demand (thus is _not_ automatically added to each VM).

The device should expose all the detailed settings yo

[2018-07-03 10:05] slintes commented on #894
ok, thanks for clarification.

So the solution would be to check the VMI and the domain, and only send the event when the sync results in a domain definition.

[2018-07-03 10:12] rmohr commented on #894
Yes that is one possibility. Note that we then will have to indroduce expectation management like we do in the controllers, so that we can properly wait for creations. Another option is to exchange event type, message and level as part of the rpc call between virt-handler and virt-launcher.

[2018-07-03 10:26] slintes opened #1261 "Incomplete list of domain state reasons"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
virt-handler logs domain states and reasons. The reason is "unknown" quite often, e.g. on a start of a vm:
`level=info timestamp=2018-07-03T08:59:40.296751Z pos=vm.go:685 component=virt-handler namespace=default name=testvm1 kind=Domain uid=555ebc1c-7e9f-11e8-ab18-525500d15501 msg="Domain is in state Paused reason

[2018-07-03 10:56] michalskrivanek commented on #1230
what do you mean, that the current parameter is not propagated to the actual VM definition?

[2018-07-03 11:01] cynepco3hahue commented on #1230
@michalskrivanek We propagate, but from @fabiand description, looks like we want to support only `q35` machine type, so it can be set by default and no need to have additional spec field for it.

[2018-07-03 11:03] michalskrivanek commented on #1230
right, so that's what i dispute. It shouldn't be removed

[2018-07-03 11:04] #1107 closed

[2018-07-03 11:17] fabiand commented on #1260
@michalskrivanek the "flavors" can be implemented by virtuned - we just do not have it right now, nothing is stopping us on using it on the longer run.

My point is that we do not want to expose all of the low-level knobs. But expose "flavors" which will set the internal (libvirt) knobs to the values.

I.e. openstack has values for ( backend, rate period and bytes), and ovirt as well. Selecting "f

[2018-07-03 12:21] yanirq commented on #1222
label selector created here :
https://github.com/kubevirt/kubevirt/blob/11dbef363c895f2ed780d6ccb1f07bbd4ff8b5e6/pkg/virt-controller/watch/vmi.go#L554

with a vmi.name longer then 63 characters will fail on label value validation :

https://github.com/kubevirt/kubevirt/blob/11dbef363c895f2ed780d6ccb1f07bbd4ff8b5e6/vendor/k8s.io/apimachinery/pkg/labels/selector.go#L165

[2018-07-03 12:29] fabiand commented on #1080
Mkaing this a bug, because we have annotations already.

[2018-07-03 12:35] fabiand commented on #844
Can this be closed @stu-gott ?

[2018-07-03 12:35] fabiand commented on #844
It can.

[2018-07-03 12:35] #844 closed

[2018-07-03 12:36] fabiand commented on #834
@rmohr what did your research reveal? is it a kube or kubevirt bug?

[2018-07-03 12:45] slintes commented on #1144
Some context: with the mentioned PR we added pod affinity and anti-affinity to VMs. Since a pod is directly related to the virtual machine, this is basically virtual machine affinity / anti-affinity.
Both node and pod affinity still need a functional test. In order to test this, you can e.g. combine both:
- use 2 nodes
- start 2 pods:
    - pod 1 has node affinity to node 1
    - pod 2 has node af

[2018-07-03 13:00] fabiand commented on #1205
Deferring this and will break it up into smaller bugs, as we've got the workaround in place and need to find a long term solution.

[2018-07-03 13:03] booxter commented on #718
Migrated from annotations: https://github.com/kubevirt/kubevirt/pull/1167
Docs: https://github.com/kubevirt/user-guide/pull/89