[2020-04-20 10:27] munnerz commented on #3309
After rebuilding the `virt-controller` image to set `privileged: true` on the launcher pods, the issue appears to go away and the VM boots fine. Is there some missing capability/host configuration here that could be getting in the way?

[2020-04-20 14:58] phoracek opened #3312 "port-forward with masquerade binding does not work from outside the cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

VM is not accessible via NodePort Service type.

**What you expected to happen**:

It should be accessible.

**How to reproduce it (as minimally and precisely as possible)**:

Create a VM and expose its ssh (port 22) with `port-forward`.

**Anything else we need to know?**:

The issue is caused by the fact that while Clu

[2020-04-21 00:04] #3284 closed

[2020-04-22 05:50] oshoval opened #3317 "I have no idea what you meant here, but I'll clarify; I mean why aren't you re-using the variable you've created in https://github.com/kubevirt/kubevirt/pull/3221/files#diff-9b1d64950edb57271a1a2fc36192d464R410 ?"
cant answer in the thread , since yesterday github problems,
the reason is that they are in other function

[2020-04-22 05:50] #3317 closed

[2020-04-22 08:55] RamLavi opened #3318 "ocp4.4 provider cluster up stuck in infinite wait when using `export KUBEVIRT_NUM_NODES=3`"
**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind bug

**What happened**:
following the [ocp4.4 README](https://github.com/kubevirt/kubevirt/blob/master/cluster-up/cluster/ocp-4.4/README.md), I tried in a remote server:
[code]

The cluster gets stuck waiting for a second worker. console stdout [attached](http://pastebin.test.redhat.com/857760)

if I unset `KUBEVIRT_NUM_NODES` env then the cluste

[2020-04-22 11:34] rmohr commented on #3309
@munnerz do you have selinux enabled?

[2020-04-22 12:21] rmohr commented on #3306
Sounds useful. I would be happy to review a PR which add support to setting `manufacturer`.

[2020-04-22 13:47] e-minguez opened #3321 "Deploy kubevirt in an heterogeneous environment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
I have an OpenShift environment as:
* 3 VMs as masters
* 2 bare metal workers with some CNF features deployed on top of it (including a RT kernel, which doesn't have the KVM module)
* 1 'regular' bare metal worker (no CNF, no RT kernel)

**What you expected to happen**:
If I deploy CNV/Kubevirt via the hyperconver

[2020-04-22 14:03] oshoval opened #3322 "Test 2653 (NFS) fails on ipv6 lane, VM stuck on scheduling"
/kind bug
Please see suggested possible solution at the end.

**What happened**:
Using PR #3221 (ipv5 migration fix) , and PR #3171
(both arent merged yet right now)

testing ipv6 lane , test_id 2653
VM fails to schedule

describing the virt-launcher pod gives this event
[code]

test fails because VM doesnt get Running state

[code]
**What you expected to happen**:
test should pass, or at least th

[2020-04-22 14:20] oshoval commented on #3318
please move it to kubevirtci imo
thanks

[2020-04-22 14:42] oshoval opened #3323 "Test 2227 , IPv6 lane failing, because the stress test isnt sufficent in order to failing the migration"
/kind bug

**What happened**:
running test 2227 on ipv6 lane
the test tries to stress by dirty memory pages,
and expect the migration to fail, which doesnt

i suspect its because its kind and not a provider like k8s with vm nodes.
tried to extend the stressing time to 60 seconds, and the 800M to 900M
it didnt help

**What you expected to happen**:
migration should fail and test pass

**How to repr

[2020-04-23 06:57] oshoval opened #3324 "Suggesting to create a method that will allow us to make-sync selected pods - faster"
/kind enhancement

Suggesting to create a method that will allow us to make-sync faster,
in case just selected known pods code is changed,
for example if we change only virt-handler code,
we can build, push just those images (or all because this part isnt the time consuming - takes 1m),
but instead of fully removal of kubevirt and reinstall which takes up to 4 minutes,
trick the pods to restart an

[2020-04-23 08:09] e-minguez commented on #3321
It seems this PR https://github.com/kubevirt/kubevirt/pull/3133 is related.

[2020-04-23 10:00] rmohr commented on #3321
@e-minguez thanks for creating the issue. First, no doubt we should make things like `nodeSelector`, `tolerances` and `affinities better configurable.

Second a question:

What I wonder here: if the node-labeller got scheduled on the master nodes, wouldn't then any other random workload also be potentially scheduled to these nodes? Are the master nodes missing some taints to prevent ordinary workl

[2020-04-23 16:18] e-minguez commented on #3321
I tore down the environment and I cannot have it right now (that's why I'm answering here a bit late), so please bear in mind this is from what I remember from yesterday.

I _think_ the masters are tainted so you cannot schedule regular workloads on them.
And wrt `pending` status I _think_ they were scheduled but events show there were not enough `device.kubevirt.io/kvm` devices available

[2020-04-24 04:47] wavezhang opened #3330 "all vm restart after kubelet restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

all vm restart after kubelet restart

**What you expected to happen**:

kubelet restart do not affect vms

**How to reproduce it (as minimally and precisely as possible)**:
1. create vms
2. restart vm node kubelet,
3. watch vm status

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl

[2020-04-24 07:05] llhhbc opened #3331 "multus-multiple-net connect failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have two vmi with linux image, get multi network. but can't connect with eth1. (eth0 is pod's network, It's work.  eth1 is macvlan network, It's not work.)

**What you expected to happen**:
Both network should work.

**How to reproduce it (as minimally and precisely as possible)**:
I have install multus (https://github.

[2020-04-24 09:12] haemyung opened #3332 "Node failover function of VM/VMIRS"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

**What happened**: When the worker node status is not ready(kubelet down or Host down), the VM keep staying in Terminating state

**What you expected to happen**:  The VM terminate successfully and re-create on another node. (if i want to recreate on another node, some specific flag is help to recreate vm automatically)

**How to re

[2020-04-24 10:43] munnerz commented on #3309
@rmohr no, this is a Debian 10 machine. That said, when running apparmor_status I see:

[code]

I've not configured apparmor myself, so presumably this is some Debian/Kubernetes default configuration. Are there additional steps required/a profile that needs to be defined when running KubeVirt with SELinux/Apparmor?

[2020-04-24 10:49] rmohr commented on #3309
We provide and automatically install a custom selinux policy if selinux is enabled. No one contributed anything regarding to Apparmor so far. I guess a first step would probably by to disable Apparmor to see if it is the reason why things are failing.

[2020-04-24 12:23] maiqueb opened #3333 "KubeVirt networking README is empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
[KubeVirt's networking README](https://github.com/kubevirt/kubevirt/blob/master/docs/devel/networking.md) is missing.

**What you expected to happen**:
I expect the [KubeVirt's networking README](https://github.com/kubevirt/kubevirt/blob/master/docs/devel/networking.md) to be a developer's guide for contributors.

[2020-04-24 14:27] #2606 closed

[2020-04-24 16:26] azaiter commented on #3041
@rmohr Let's take a simple 3 storage/compute nodes topology (A, B, and C):
if the PVC that is tied to a storage class has repl value of 2, two of the above nodes will have the volume replicated to them and synced at all times, say A and C.

If you schedule a pod using a scheduler that is aware of the storage state (like stork for example), it will only schedule the VMI pod to either A or C only. A

[2020-04-24 16:48] phoracek commented on #3333
Part of the binding and multus info is probably already covered in the user-guide, but developer deep dive on the implementation details would be much welcomed.

[2020-04-24 20:02] mlsorensen opened #3337 "virt-launcher requires NET_RAW and assumes it is default enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Our DHCP service uses a raw socket and implements a UDP DHCP server in userspace, and it will fail when the cluster is configured to disable NET_RAW by default.

Got this error from virt-launcher on one such cluster:

panic: Unable to create new UDP4 listener: Unable to set socket option BINDTODEVICE: operation not permit

[2020-04-24 21:19] mlsorensen opened #3339 "virt-operator job's pod has no static label to target"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

The job/pod that virt-operator generates to create the installation strategy doesn't have a static label that can be used to target the pod for things like network policy or pod presets. This means that virt-operator can't really function in environments that have any sort of network access control between this job's pod

[2020-04-26 01:47] wavezhang opened #3341 "Support disk hot attach/detach"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

data pvc disk can not move from vm to vm

**What you expected to happen**:

data pvc disk can move from vm to vm without rebooting vms

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes

[2020-04-27 13:27] #2864 closed

[2020-04-27 19:39] mlsorensen opened #3350 "Allow virt-operator's view of kubernetes client connection details to reach other components"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
In cases where the default KUBERNETES_SERVICE_HOST or KUBERNETES_SERVICE_PORT are not what is to be used for kubernetes client connection (e.g. want to use public LB address or some other than the kubernetes.default ClusterIP to reach Kubernetes API), only the kubevirt-operator can be successfully deployed. All oth

[2020-04-28 07:08] ksimon1 opened #3354 "relabell node when KVM is available"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

**What happened**:
When KVM is not available, node-labeller exits (https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-handler/node-labeller/node_labeller.go#L60) and never run again.
**What you expected to happen**:
After KVM is available, labeller should relabell node with correct labels
//cc @rmohr

[2020-04-28 13:54] davidvossel opened #3356 "virt-operator install strategy job needs reduced RBAC"
virt-operator is executing a job that dumps some information to a configmap.  That job needs to have it's RBAC restricted to configmap CREATE/UPDATE rather than having the full virt-operator permissions.

[2020-04-28 14:09] #3339 closed

[2020-04-28 15:32] e-minguez commented on #3321
I have now an environment ready so I can answer you properly.

My environment now has 3 masters (virtual machines, deployed like bare metal servers with virtualbmc, etc.), 2 workers that have a RT kernel without kvm and 1 worker with a regular kernel. Everything running with RHCOS and OCP4.4 nightly:

[code]

The labeller pods are running in the worker and the masters:

[code]

The events show:

[

[2020-04-29 02:50] Dishwasha commented on #2601
I'm not sure what the etiquette is for commenting on a closed and rotten issue is.  The MicroVM concept is useful to reduce VM resource footprints to container equivalents, reduce spin-up times to microseconds, and allow for over-subscription of resources to fit significantly more workloads in the same node configuration.

Although firecracker itself is probably not a good fit for kubevirt, QEMU a

[2020-04-29 17:20] rmohr opened #3360 "if qemu-img fails on validating a qemu file it returns not helpful errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Creating a containerdisk with

[code]

leads to an error like this:

[code]

There is no helpful output visible.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kuberne

[2020-04-29 23:42] mlsorensen opened #3365 "Allow for customization of virt-operator created deployments, daemonset"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What you expected to happen**:

Allow arbitrary json patches to be provided to virt-operator in order to customize virt-handler daemonset, virt-api deployment, and virt-controller deployment. Use cases include setting environment variables, configuring cpu/memory limits, applying custom labels or selectors for scheduling pods, and

[2020-04-30 06:22] petrkotas commented on #2601
@Dishwasha thanks for giving more background. @fabiand what do you make out of this? Would this be a fit?

[2020-04-30 07:39] rmohr commented on #3332
Agreed. We should do that.

Just a general note on these: If the node goes down the corresponding pods become unknown and we stop processing the VMIs. As soon as an admin delete the pods (active force-delete to tell the system that they are really dead on the node, and that  the node is not just unreachable), they will be moved to Failed and will be cleaned up.

However, as you assessed, we should

[2020-04-30 07:56] rmohr opened #3367 "Explicitly report on permission errors for containerDisks, why the permission error occurs."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

With #3361 we will now see if there errors, like permission issues when trying to validate a containerDisk. In addition for that, we should do explicit permission checks and write more reasonable error messages which actually help users instead of just reporting a vagure "permission denied".

**What you expected

[2020-04-30 08:40] rmohr commented on #2928
@surazzarus sorry that I missed to follow up.

Just for completeness: The only way to get reasonable results on AWS for kubevirt is using bare-metal offerings from AWS. GCP also offers instances with nested virtualization enabled. There you would still suffer from some nesting-overhead, but you should get more reasonable results.

[2020-04-30 08:46] surazzarus commented on #2928
@rmohr Thank you for the follow up.
Yes, we figured it out that it only worked on AWS bare-metal and also worked on Azure. But haven't tried on GCP.

[2020-04-30 08:52] rmohr commented on #2928
/close

Great to hear. Closing the issue. Feel free to reopen if needed.

[2020-04-30 08:52] #2928 closed

[2020-04-30 12:04] #2915 closed

[2020-04-30 19:16] jaimehrubiks opened #3369 "failed calling webhook "virtualmachine-validator.kubevirt.io" - x509: certificate has expired when calling"
**What happened**:

I deployed sample vm.yaml file and get the following error:

_Error from server (InternalError): error when creating "vm.yaml": Internal error occurred: failed calling webhook "virtualmachine-validator.kubevirt.io": Post https://virt-api.kubevirt.svc:443/virtualmachines-validate?timeout=30s: x509: certificate has expired or is not yet valid_

I don't understand what is this cer

[2020-04-30 21:54] jaimehrubiks commented on #3369
Installing kemu/kvm I did yum update, which probably messed up my docker or kubelet or something that broke my certificates. Reinstalling the cluster with kubespray fixed my issues.

[2020-04-30 21:54] #3369 closed

[2020-05-01 08:20] #2891 closed

[2020-05-01 10:20] #2846 closed

[2020-05-01 10:20] #2906 closed

[2020-05-01 13:20] #2704 closed

[2020-05-02 13:23] phoracek commented on #3169
@oshoval looks useful. If you already have the PoC, why don't you submit a PR?

[2020-05-03 06:08] oshoval commented on #3169
Hi Petr,
Need to clean the task table a bit before, then i will ask to work on it.
and to create an email that ask all people to use it, the more people use it, the more it will be effective.
also want to create a make target so it would be easier to use.

[2020-05-03 09:54] #2919 closed

[2020-05-03 18:00] #2884 closed

[2020-05-04 07:08] dhiller commented on #3253
First of all we need more information. Without the exact error message we can't be sure what to fix. Please try to recreate the issue on your setup, including:
- all of the steps you did to run the tests
- all of the output of the steps.

[2020-05-04 09:20] ashleyschuett commented on #2746
I'm picking this issue up to work on. I'm assuming that if the flag is set as well as having the same configuration value set on the CR the value in the CR should take precedence?

[2020-05-04 10:38] fabiand commented on #2746
@ashleyschuett +1

Please self-assign by using simply commenting with /assign

[2020-05-04 12:34] ashleyschuett commented on #2746
/assign

[2020-05-05 16:55] #3360 closed

[2020-05-06 06:25] haemyung commented on #3332
Thank you for answer.

However,I don't understand few things

I want to check some:

1. In the case of vmirs, the idea of ​​guaranteeing the number of vmi according to the k8s replicaset flow seems to agree with you. however, In the case of vm, Do you agree to automatically node-failover for VM (not vmirs) when some flag is present? Not manually deleted by the administrator?

2. If you agree, do y

[2020-05-06 13:13] rmohr commented on #3332
I am all with you regarding the VMIRS, but I don't think that we can do this for VMs. There we are restarting a VM on a different node which potentially uses shared storage. We really have to be sure that the VM is down before restarting. Otherwise we risk data corruption. In order to automatically unblock in such cases, you may want to add a node fencing operator to your cluster. As soon as this

[2020-05-06 13:39] fabiand commented on #2601
@Dishwasha Heya. I think that it is surely soemthing that KuebVirt should investigate, to understand how we could work with other (especially qemu based) runtimes.

Would you mind to prepare a basic PR in order to sue a different runtime?

[2020-05-06 16:30] Dishwasha commented on #2601
@fabiand I've never done Go before, but I assume it can't be that much different from C/C++/C#...  I'll try to find some time for this over the next few weeks, but will be happy to whip up something even if it's a bit rough around the edges.

[2020-05-06 16:35] #3337 closed

[2020-05-06 21:00] mazzystr opened #3381 "testvm crash loops"
/kind bug

**What happened**:
I deployed minikube and ran through the "Use KubeVirt" lab.  The testvm crash loops.

**What you expected to happen**:
I expect a running and stable virtual machine

**How to reproduce it (as minimally and precisely as possible)**:
Install Fedora 32
Host preparations...
* setenforce Permissive
* install libvirtd
* set sock_rw group and sock_group mod
* create user and

[2020-05-06 21:26] tliron opened #3382 "vmi keeps restarting with "failed to configure vmi network for migration target: Link not found""
/kind bug

**What happened**:

vmi seems to be running OK for a few minutes, but then it is suddenly restarted. Every restart the event log has ~20 events that look like this:
[code]

**Anything else we need to know?**:

Note that this setup is Minikube, so it's nested virtualization (KVM2-Intel).

I have no liveness or readiness probes set up.

**Environment**:

Running on Fedora 32
Kubernetes v1

[2020-05-06 21:39] #3333 closed

[2020-05-07 04:59] rmohr commented on #3382
@AlonaKaplan might be related to some network refactoring. Could you have a look?

[2020-05-07 05:46] tliron commented on #3382
Here is the [spec](https://github.com/tliron/telephony-network-service/blob/master/configuration/kubernetes/asterisk-vnf.yaml) I am using.

[2020-05-07 08:39] fabiand commented on #2942
@luckyfengyong were you ultimately successful and got the connection working?

[2020-05-07 08:40] fabiand commented on #2918
@mbhatnagar21 we did some testing as well and we did not see this very slow reates.

Were you ultimately able to get to better speeds?

[2020-05-07 08:52] fabiand commented on #2886
Please re-open if this is still an issue.

[2020-05-07 08:52] #2886 closed

[2020-05-07 08:53] fabiand commented on #3028
@maya-r assuming you are all set, if not, then please reopen the issue.

[2020-05-07 08:53] #3028 closed

[2020-05-07 08:54] fabiand commented on #3030
@plwhite did the hooks provide everything you need?

[2020-05-07 08:54] fabiand commented on #3047
Were you ultimately able to launch the Windows VM?

[2020-05-07 08:55] fabiand commented on #3086
@danielBelenky weren't you also active in this area?

[2020-05-07 09:01] fabiand opened #3385 "Add more workload and infrastructure metrics"
/kind enhancement

**What happened**:
We should expose more workload and infrastructure metric in order to detect infrastructure problems earlier.

**What you expected to happen**:
Ability to detect infrastructure issues issues

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

* Implement a metric for virtual machine instance migration converg

[2020-05-07 09:16] sresthas commented on #2741
I would love to work on this project as a part of communitybridge mentorship. I have worked with virtualisation in GNOME Boxes. How do I contact the mentor for a quick chat?

[2020-05-07 09:42] Biswajitghosh98 commented on #3385
Hello ! I would like to take up this issue. Please provide me some pointers on where and how to start 😊

[2020-05-07 10:42] phoracek commented on #2942
For the record, we solved this issue on our CI by setting `allow_ip_forwarding` on Calico's CNI config: https://github.com/kubevirt/kubevirtci/blob/3ac3596b5c94e22cade3a92e60b869b5ca22e45f/cluster-provision/manifests/cni/calico/script.d/002-allow-ip-forwarding.sh

[2020-05-07 11:53] abhiniveshjain commented on #3047
Yes I was able to launch it. Thanks for your help.

[2020-05-07 11:53] #3047 closed

[2020-05-07 16:18] #2926 closed

[2020-05-07 19:41] rmohr commented on #3381
@davidvossel might be related to the recent socket change.

[2020-05-07 20:22] davidvossel commented on #3381
very interesting. Yes, I'm going to take a look at trying to reproduce this myself.

[2020-05-07 21:37] mlsorensen commented on #3086
Does this help reproduce? Maybe in this case it's just not deserializing or not reading TARGET_DEPLOYMENT_CONFIG

[code]

[2020-05-08 07:59] harutyundermenjyan commented on #2942
Hello,
I have the same issue, but it seems the script provided above can't help in my case, because I've deployed the k8s cluster with Rancher and there used `canal` with canal_flannel_backend_type vxlan.
Any thoughts for solving the issue?

[2020-05-08 08:36] rmohr opened #3389 "Node labeller uses very likely invalid labels"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I look at nodes right now they have labels like this:

[code]

**What you expected to happen**:

If `feature.node.kubernetes.io` is not an official prefix which every project should use, then we use it wrong. `*.kubernetes.io` prefixes are normally reserved for kubernetes and addons should use their own prefixes. `f

[2020-05-08 08:37] rmohr commented on #3389
/assign @ksimon1

Would you mind having a look?

[2020-05-08 08:46] rmohr opened #3390 "[flaky test] Host CPU does not provide required features: svm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Flakefinder shows on the report from the last [7 days](https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-05-07-168h.html) that

[code]

fails on

[code]

An example can be found here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3364/p

[2020-05-08 08:46] rmohr commented on #3390
/assign @ksimon1

Would you mind having a look?

[2020-05-08 12:06] slintes commented on #2746
/remove-lifecycle stale

[2020-05-08 12:16] fabiand commented on #3382
@phoracek FYI

[2020-05-08 13:01] phoracek commented on #3382
@fabiand yeah, we've been discussing this offline. Seems like it is not that simple to reporduce. So we hope to be lucky and collect more logs and data from virt-launcher for debugging the next time this happens.

[2020-05-08 13:03] #3350 closed

[2020-05-08 19:29] davidvossel commented on #3381
@mazzystr

Looking at your setup you're using `--driver=none` for minikube, which means you're setting up the environment yourself. It's going to be difficult to track down what's going on here if you're manually setting up the node in a custom way.

I attempted something similar to what you have by using the same k8s v1.18.2 release, but used the kvm driver instead

[code]

I didn't have any issu

[2020-05-08 20:09] mazzystr commented on #3381
I'm using minikube to deploy k8s on my baremetal which is a HP EliteDesk Mini G2 (Intel Core i5 with 8 gb memory.  I'm not fond of nested virtualization.  I simply do a Fedora 32 standard server install.  My host preparations are listed in the bug report.  There's very little customization.

[code]

I'm happy to chat over in kubernetes slack

[2020-05-08 23:43] animeshk08 commented on #3385
Hi @danielBelenky @fabiand
I am Animesh Kumar a junior year student at NITK, Surathkal, India.
Thank you so much for providing this project idea. I would be interested in working on this as a part of Community Bridge.

Since the tool is new to me I am currently exploring the demo. Please help me in getting started with this idea. Also, if possible point me to some suitable issues which can help me

[2020-05-09 15:57] tliron commented on #3382
I am unable to reproduce. :( The error was correlated with the disk filling up, which was caused by something else running on the node and which may have been fixed. So maybe the full disk was the cause. I will, for now, close this and thank you for the attention.

[2020-05-09 15:57] #3382 closed

[2020-05-09 20:27] crobinso commented on #3285
My understanding is that for some hardware like consumer cards the windows nvidia driver will deliberately fail to load if it detects the presence of KVM. In my GPU passthrough config I need to use `<kvm><hidden state='on'/></kvm>`, as well as setting a non-default `<hyperv><vendor_id value=XXX/></hyperv>`

[2020-05-10 14:16] #2596 closed

[2020-05-10 15:17] #2604 closed

[2020-05-10 17:18] #2929 closed

[2020-05-10 23:09] animeshk08 opened #3393 "README: Align the cluster commands with updated Kubernetes versions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: I am newbie trying to find my way around this project. I was looking through [Getting Started Guide](https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md#compile-and-run-it) and I think the below command has been bumped up to `k8s-1.15`.
[code]
The error I am getting is:
`./cluster-up/up.sh: line 12: /home/animes

[2020-05-11 11:39] plwhite commented on #3030
I moved on to other things before getting this working, but concluded that I probably could use hookSidecars. It would have been more complex than I first thought though, because the API for hookSidecars wasn't trivial.

Net conclusion is that I think making this simpler is still a valid request, but that the workarounds appeared possible.

[2020-05-11 15:47] davidvossel commented on #3381
@mazzystr can you provide logs for both virt-launcher and virt-handler

For virt-launcher, we need logs for the compute container. so `kubectl logs <pod name> -c compute`

thanks!

[2020-05-11 22:41] mazzystr commented on #3381
[code]

[2020-05-12 03:12] DrmagicE opened #3400 "Need document for monitoring metrics"
/kind enhancement
The kubevirt metrics are not documented. They should be listed in monitoring section or some where else.
I have few questions about the metrics：
1. What does `kubevirt_vmi_phase_count` mean?
2. Is `kubevirt_vmi_network_errors_total` including packet dropped？If not, is there any plan to support packet drop metric like `container_network_transmit_packets_dropped_total` in cadvisor?

[2020-05-12 14:32] surekha1723 opened #3405 "Kubevirt vm with ovs-dpdk"
**What happened:**
I am trying to  create VM that can use the vhost-user capability. I have “OVS+DPDK” along with MULTUS in host
I can use the vhost-user capability for the POD that has container using “UserSpace CNI” but unable to apply the same on kubevirt-vm

**Expected Output:**
Vm should be up running with ovs-dpdk userspace-cni

**Environment:**

KubeVirt version (use virtctl version): v0.26

[2020-05-13 05:17] surekha1723 commented on #3309
I am also getting same issue while trying to run GPU in kubevirt

 gpus:
      - deviceName: nvidia.com/GP104_GeForce_GTX_1080
        name: gpu1

Error:
{"component":"virt-launcher","level":"error","msg":"Failed to open config space file '/sys/bus/pci/devices/0000:04:00.0/config': Permission denied","pos":"virPCIDeviceConfigOpen:303","subcomponent":"libvirt","thread":"63","timestamp":"2020-05-13T

[2020-05-13 07:23] #3247 closed

[2020-05-13 11:41] phoracek commented on #2942
Hello @harutyundermenjyan, we have seen an issue with KubeVirt on Rancher in the past. Would you please check https://github.com/kubevirt/kubevirt/issues/3187 to see if it matches your issue?

[2020-05-13 17:24] vladikr commented on #3309
@surekha1723
I'll ask the same question about SELinux. Do you have it enabled?
In case SELinux is the issue, perhaps this PR[1] will resolve it when it lands.

[1] https://github.com/kubevirt/kubevirt/pull/3399

[2020-05-13 20:47] davidvossel commented on #3381
`{"component":"virt-launcher","level":"error","msg":"failed to run DHCP: operation not permitted","pos":"common.go:315","timestamp":"2020-05-11T22:40:27.107444Z"}`

Oh, I bet this has to do with the NET_RAW capability needing to be added to virt-launcher. We just added that but it didn't make it into the v0.29 release.

https://github.com/kubevirt/kubevirt/pull/3338

Can you try out master by chan

[2020-05-13 23:19] mazzystr commented on #3381
Is there a master build or do I have to build myself?

[2020-05-14 09:53] ksimon1 commented on #3321
Labeller will be in pending state on all nodes, which don't have kvm device available (virt-handler is taking care about propagating availability of kvm device). It is daemon set, so labeller will run on all nodes which are schedulable.

[2020-05-14 09:58] e-minguez commented on #3321
Yes, but that means the deployment will never end because they are not Running. Also daemonsets can use node selectors[1].

[1] https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#running-pods-on-only-some-nodes

[2020-05-14 10:08] rmohr commented on #3321
I think we all agree that it is a bug in the node labeler that the pods don't come up. virt-handler always comes up and just reports that some nodes are not able to run VMs. With the effort to integrate the labeler completely into kubevirt,the behavior will be fixed too. If everything goes well that integration will be complete with v0.30.

[2020-05-14 13:41] AlonaKaplan opened #3421 "Ipv6 lane failures after upgrading vm image to fc32"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The fedora image used by the e2e tests was upgraded to fedora32 on PR https://github.com/kubevirt/kubevirt/pull/3372.
This change cause several tests to start failing on ipv6 lane (for example - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3319/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/12

[2020-05-14 13:42] harutyundermenjyan commented on #2942
Thanks for mentioning to https://github.com/kubevirt/kubevirt/issues/3187 but it didn't match my case.
The issues are:
1. When the VMI network mode is masquerade it has no network accessibility but the pod which brings up the VMI has network accessibility.
2. When the VMI network mode is bridge the VMI has network accessibility, but the pod which brings up the VMI has no network accessibility.

[2020-05-14 13:46] maiqueb commented on #3421
/cc @maiqueb

[2020-05-14 13:49] phoracek commented on #2942
Seems that ip_forwarding is disabled. Could you please share output of `cat /proc/sys/net/ipv4/ip_forward` from the virt-launcher pod?

[2020-05-14 13:53] #3009 closed

[2020-05-14 13:53] #3070 closed

[2020-05-14 18:21] jean-edouard opened #3425 "A couple of certificate-related tests are failing often (flaky)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
2 CA-related tests are regularly failing, seemingly because they just take too long.
The test IDs are 4099 and 4100.

**What you expected to happen**:
The tests should pass

**How to reproduce it (as minimally and precisely as possible)**:
`make functest` in a loop

**Anything else we need to know?**:
Lines 6 and 7 of the

[2020-05-14 22:48] mlsorensen opened #3426 "virt-handler pod directory is hard-coded, no support for custom kubelet root"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Pods were stuck in 'Terminating' state. Through debugging it was determined that virt-handler was not detecting that the ContainerDisk was mounted, skipping unmount, and letting the pod hang forever.

The root cause of this is that kubelet had it's --root-dir set to an unexpected path, and kubevirt's configuration didn't

[2020-05-14 23:19] mlsorensen commented on #3426
Just for further clarification - when a pod stops, virt-handler looks for e.g.

[code]

In the host's mount info, but it is actually at:

[code]

[2020-05-15 05:19] surekha1723 commented on #3309
sestatus
SELinux status:                 disabled

[2020-05-15 12:37] murilofv commented on #3066
/remove-lifecycle stale

[2020-05-15 17:09] davidvossel commented on #3365
Did you have any thoughts on how the patches could be provided? Essentially, where would these patches live, and how would virt-operator know to apply them?

[2020-05-15 17:41] DonSchenck commented on #2214
/reopen

I get this error every time I attempt to image-upload a large (40GB) .RAW image.

[2020-05-15 18:52] #2938 closed

[2020-05-16 08:24] Manuri opened #3430 "Readiness probe status should be shown in the describe output of VMI instead of the virt launcher pod"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

kind enhancement

**What happened**:
Added a readiness probe to a VM definition. The probe status was not shown in VMI's describe output, but in virt launcher pod's describe output.

**What you expected to happen**:
Probe status should have been shown in VMI's describe output, because the probe was applied to VM definition and a user would

[2020-05-16 22:12] #2930 closed

[2020-05-16 22:37] Divya063 commented on #2036
@slintes I would like to work on this.

[2020-05-17 14:03] slintes commented on #2036
@Divya063 nice, thanks, please coordinate with @rmohr

/remove-lifecycle stale

[2020-05-18 08:30] Dhiraj240 commented on #2741
@xprxprx   I have applied on community bridge and messaged you on slack for more information. You can check my portfolio here at https://dhiraj240.github.io/

[2020-05-18 08:30] Dhiraj240 commented on #3385
@xprxprx   I have applied on community bridge and messaged you on slack for more information. You can check my portfolio here at https://dhiraj240.github.io/

[2020-05-18 11:59] rmohr commented on #3177
Fixed in #3357. See https://kubevirt.io/api-reference/master/definitions.html#_v1_virtualmachineinstancestatus.

[2020-05-18 11:59] rmohr commented on #3177
Will be part of 0.30.0.

/close

[2020-05-18 11:59] #3177 closed

[2020-05-18 12:10] rmohr commented on #2036
That is fixed now with #3357. However, the entries will still looks strange, because they are basically empty structs (https://kubevirt.io/api-reference/master/definitions.html#_v1_interfacebridge). We can in the future add properties to it, but right now, you can selecte them basically by writing something like `bridge: {}`.

[2020-05-18 12:10] rmohr commented on #2036
/close

Feel free to reopen if you think that this is not fixed.

[2020-05-18 12:10] #2036 closed

[2020-05-18 12:26] harutyundermenjyan commented on #2942
yes, in the pods the ipv4_forward is disabled but the problem is that I cant enable it due to not enough permissions:
[root@u16 /]# `cat /proc/sys/net/ipv4/ip_forward`
**0**
[root@u16 /]# `sysctl -w net.ipv4.ip_forward=1`
**sysctl: setting key "net.ipv4.ip_forward": Read-only file system**

[2020-05-18 12:57] phoracek commented on #2942
I believe this setting is bound to the network namespace. So while you cannot edit it on your host, it does not really matter, we just need to enable it in pods (that should not be affected by read-only host).

You say it is disabled in your pods, could you please share your CNI config? Likely in `/etc/kubernetes/cni/net.d`. I want to double-check that `allow_ip_forwarding` was indeed applied.

[2020-05-18 13:24] harutyundermenjyan commented on #2942
in my case the cni/net.d controlled by one of the rke/rancher network-related pods, the dir `/etc/kubernetes` is empty instead there are 2 files in the `/etc/cni/net.d/` dir `10-canal.conflist` and `calico-kubeconfig`, but I think to change them the rke cluster config yaml file should be configured and re-deployed.

[2020-05-18 13:29] phoracek commented on #2942
I don't have any experience with rancher, so I can't unfortunately help with that. Just know that you have to enable `allow_ip_forwarding` on your Calico instance as described here https://docs.projectcalico.org/reference/cni-plugin/configuration, otherwise KubeVirt masquerade will not work.

[2020-05-18 13:33] harutyundermenjyan commented on #2942
Thank you very much for the helpful advice I'll have a look on the Rancher side how to enable it in the corresponding config file.

[2020-05-18 14:20] fabiand commented on #2601
Would be great!

[2020-05-18 16:55] tliron opened #3442 "Allow changing the pod's "virt-launcher-" name prefix"
/kind enhancement

KubeVirt generates pod names with a `virt-launcher-` prefix. This is hardcoded [here](https://github.com/kubevirt/kubevirt/blob/4889f1f1c11c00b68171be4fa56a300986e34974/pkg/virt-controller/services/template.go#L1070).

This is an odd choice from the user's perspective -- they might not even know what the "virt-launcher" is.

Otherwise, why not allow it to be customizable via a p

[2020-05-18 17:23] tliron commented on #3442
I would add that it's also not very conventional to add prefixes to names in Kubernetes. It seems that the more standard practice is add a postfix.

[2020-05-19 08:00] gyliu513 opened #3445 "Why replica is 2 for all kubevirt deployments"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

After kubevirt was deployed, I found all of the deployment replicas are set as 2.

[code]

What is the benefit of this? But it do bring some trouble to me, when I want to check log, I do not know which pod I should check.

Here setting replica as 2 https://github.com/kubevirt/kubevirt/blob/release-0.29/pkg/virt-operator/creation/co

[2020-05-19 11:23] rmohr commented on #3445
@gyliu513 the advantage is, that if one node goes down, that you will experience pretty much no downtime. It is in general tricky to find the right values for everyone here, but just consider scenarios where you have a small or bigger outage on the network. This can lead easily to situations where you loose one of our control pods, but starting on another node does not work since you may not be ab

[2020-05-19 12:46] gyliu513 commented on #3445
Thanks @rmohr , good to see going to support customize the deployment.

[2020-05-19 12:46] #3445 closed

[2020-05-20 03:45] EdDev commented on #3322
Is the test working on a kind setup with IPv4?

[2020-05-20 03:52] EdDev commented on #3323
AFAIK this test is passing on the ipv4 lane and even passing on the ipv6 one on master.
So I am unclear how this appeared with the introduction of the migration fixes.
It the test faulty?

[2020-05-20 04:12] Dhiraj240 commented on #3426
@mlsorensen I would like to work on the issue

[2020-05-20 05:22] oshoval commented on #3322
Other kinds we have is sriov, where migration isnt supported
and just after this issue was opened, Quique added new kind provider which is IPv4
but i believe the root cause is written above and the solution
need to install nfs-utils so i doubt it would work on ipv4.

Also kind must have unique UUID which we fixed only on ipv6 atm, and need to fix for the other kinds as well

[2020-05-20 05:24] oshoval commented on #3323
when i last tried, it didnt pass on ipv6 kind, because the stressing there wasnt enough to make the migration fail, i tried to increase stress timeout and so on, and it didnt help,
once we have a k8s vm based provider, we can try again, maybe stress on container node.as we have on kind, isnt strong enough to cause the migration to fail.

[2020-05-20 05:44] EdDev commented on #3323
I think it passes, see here: https://github.com/kubevirt/kubevirt/pull/3429/files#diff-d642ef9101fdb0671d818d73a1c3f977L1086

I did a rebase on that PR, lets see the current state.

[2020-05-20 05:45] dankenigsberg opened #3450 "ci: reinroduce random seed"
/kind enhancement

When our CI fails, it means that we have a serious bug. It may in our tests, in our test infrastructure or in our production code. However, because we have so many seemingly-random CI failures, not each and every one of them is addressed in the required seriousness.

PR #3447 suggests to fix the ginkgo seed, which should help us stabilize our CI and make it more trusted by the d

[2020-05-20 05:47] oshoval commented on #3323
it passed because you dont have their the migration fix imo,
with the migration fix, the migration pass, and then the test fails because it expect the migration to fail by causing dirty pages which should cause a slow migration, and to fail it

[2020-05-20 06:50] EdDev commented on #3323
Ohh, you mean it should fail on timeout.

[2020-05-20 08:18] gyliu513 opened #3451 "[Question] Any example using KubeVirt running a real application"
I can see most of the guidance for KubeVirt is using KubeVirt to create a VM, but there is no guidance for how to use KubeVirt to create a real VM application. Does there are any guidance or tutorial that I can refer to create a real VM application? Like a simple nginx etc?

[2020-05-20 15:19] harutyundermenjyan opened #3453 "Errors during LiveMigration with shared Volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Error during LiveMigration:
Bellow the last few lines of the failed pod.
[code]
**What you expected to happen**:
Expected to LiveMigrate and change the state of the old VMI pod completed.

**How to reproduce it (as minimally and precisely as possible)**:
created StorageClass, Shared Volume, and the VM/VMI with that shared

[2020-05-20 17:03] oshoval commented on #3323
yep
also see here please it started to flake strongly on other lanes
(my PRs arent part of this report, see the pr list at the bottom of the page please)
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-05-20-168h.html

i think the method there isn't deterministic , and it depends on too many factors that can change

[2020-05-20 20:17] murilofv commented on #3065
/remove-lifecycle stale

[2020-05-21 12:46] #2410 closed

[2020-05-21 13:05] vladikr commented on #3453
According to this log, it shows that the migration didn't start and the destination virt-launcher has just terminated after a timeout.
In order to see why the migration didn't start we will need to see the logs from the source virt-launcher and the source virt-handler.

I'm wondering if you could reproduce this and post these logs?

[2020-05-21 15:17] #3426 closed

[2020-05-21 17:38] harutyundermenjyan commented on #3453
After looking at the corresponding virt-launcher log noticed that there were some problems with nfs-provisioner, after solving the nfs-provisioner issue the LiveMigration succeeded but only with `Migration Method: LiveMigration`. Is it OK if it failed with method `BlockMigration` in case of shared volume?
Thank you for help and pointing to the right logs.

[2020-05-21 18:18] vladikr commented on #3453
It's great to hear that migration is working for you.
Yes, absolutely. The `BlockMigration` is needed to migrate VMs with non-shared block volumes (not filesystem volumes such as NFS), however, currently, it's working only with disks such as the container disk.

[2020-05-21 18:22] harutyundermenjyan commented on #3453
Tried to run the LiveMigration second time with method `LiveMigration` to make sure it works properly but this time I got the same error I've shared above.
Here are the last few lines from the virt-launcher container:
[code]

[2020-05-21 18:56] harutyundermenjyan commented on #3453
Also got this for every 15 second:
[code]

[2020-05-21 19:34] harutyundermenjyan commented on #3453
And here are some logs from another attempt:
**virt-launcher logs where the VMI is currently running:**
[code]
**virt-launcher logs to where the VMI is going to be migrated:**
[code]

[2020-05-22 10:38] rmohr commented on #3450
We can do that. However note that they are not absolutely random at the moment. We only run the whole `Describe` blocks in random order. The tests inside them run already in a fixed order.

[2020-05-22 11:21] dankenigsberg commented on #3450
Yes, we can eventually consider `--randomizeAllSpecs`

[2020-05-22 14:15] ashleyschuett commented on #3365
If we want to do this as stated would it make sense that these patches get stored in a ConfigMap as such?

[code]
This seems like it could be complicated to know if each component is in the correct state at all times. As we would have to calculate the desired state form multiple configmaps and I'm not sure how that would work for setting the `targetDeploymentConfig` on the kubevirt CR.

Another op

[2020-05-22 20:09] davidvossel opened #3458 "*ignore this* testing prow plugins"
ignore this.

i'm using this issue to test some prow plugin logic by invoking logic with comments.

[2020-05-22 20:10] davidvossel commented on #3458
/release-blocker master

[2020-05-22 20:10] davidvossel commented on #3458
/release-blocker cancel

[2020-05-22 20:10] davidvossel commented on #3458
/release-blocker cancel master

[2020-05-23 10:52] harutyundermenjyan commented on #3453
Also noticed that the migration never succeeded if some RAM stress test activated during the LiveMigration time, in particular:
`stress -m 1 --vm-bytes 30G` _or_ `stress -m 1 --vm-bytes 30G --vm-keep`
Let me mention that the test going on with 256G ram instances.

[2020-05-24 14:04] oshoval commented on #3169
done

[2020-05-24 14:04] #3169 closed

[2020-05-25 08:21] phoracek commented on #3069
/remove-lifecycle stale

[2020-05-25 15:07] fabiand commented on #3400
The goal of this issue would be to add a type and help text for every metric that kubevirt is exporting today.

[2020-05-26 16:31] abhiniveshjain commented on #3104
Issue was fixed after upgrading kubevirt to V0.24. earlier I was using V0.20

[2020-05-26 16:31] #3104 closed

[2020-05-26 18:46] mazzystr commented on #3381
This no longer seems to be an issue in Fedora 32...
[code]

[2020-05-26 20:55] davidvossel commented on #3365
Building off that configmap idea, what if added a patch list to the kubevirt object itself.

[code]

This would kind of align with usage of the kubectl patch [1] command that people are probably already familiar with.

so, taking one of the examples in [1]

[code]

would become something like

[code]

would that make sense you think?

1. https://kubernetes.io/docs/reference/kubectl/cheatsheet/#pat

[2020-05-27 00:04] mazzystr commented on #3451
I'm currently writing a blog to be published on the web site.  It will feature a migration of a standalone Win2k19 vm running a dotnet application to a k8s / KubeVirt controlled vm.  I should have it published in a day or two.  No performance testing this time just a raw "can it be done" procedure.

[2020-05-27 00:15] mazzystr opened #3472 "Can't seem to get virtctl vnc to work"
/kind bug

**What happened**:
If I start a vm I can't vnc to the vm using virtctl.

It seems virtctl is passing TigerVNC targets using url format (vnc://1.2.3.4) and it doesn't like it.  If I manually open vncviewer and enter the ip and port it will work.

**What you expected to happen**:
If I execute `virtctl vnc vm` tigervnc should launch and kvm to the host.

**How to reproduce it (as minimally

[2020-05-27 01:28] gyliu513 commented on #3451
Great, thanks @mazzystr , look forward to such blog. Can you help link your blog here after it got published and close this issue?

[2020-05-27 06:53] watermelon-brother opened #3474 "Mouse out of sync when I used vnc connect to the win10 or win7"
**What happened**:
Mouse out of sync when I used vnc connect to the win10 or win7
**What you expected to happen**:
Mouse drift, unable to click the desktop designated location

I don't know if I configured it incorrectly for vnc cause above problem?

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (0

[2020-05-27 13:18] rmohr opened #3477 "Remove `domain` label from Metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We still expose the `domain` label in our metrics. This originates from our original metrics implementation where the more useful labels like `name` and `namespace` did not exist. We can remove it now.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2020-05-27 14:13] rmohr commented on #3365
I would suggest to patch the objects after they are loaded from the dumped install strategy. We can enable the status/spec separation for CRDs, so that we get the generation metadata bumped whenever the spec changes. Like deployments, we can on every generation bump make a snapshot (controller revisions), compare the two different revisions, and detect this way theoretically even on a per-object l

[2020-05-27 14:16] fabiand commented on #3365
+1 on a list of patches in general,

however I wonder if we should have the api to be a bit more specific and also allow - in future - to introduce alternative ways to modify the deployment, i.e.

[code]

[2020-05-27 17:25] davidvossel commented on #3365
I'm not sure what the benefit of doing it this way is.

If we treat a component patch change just like any other update (new install strategy with patch changes, roll out new install strategy, etc...) then there's just one flow to test. Basically everything is just an update and an update is simply applying a new install strategy.

I do agree that the generation metadata field is  something worth

[2020-05-27 17:27] davidvossel commented on #3365
yep, what you outlined there makes sense to me. It basically gives us a clean way to integrate new customization logic in the future should we ever need to.

[2020-05-27 18:46] DonSchenck commented on #3231
I'm seeing the same issue.

[2020-05-28 07:11] vatsalparekh commented on #3472
Can you try again and paste output with `virtctl vnc -v 4 $vm_name`
This should show more verbose output

[2020-05-28 07:53] #3390 closed

[2020-05-28 08:25] #3474 closed

[2020-05-28 12:02] #2764 closed

[2020-05-28 14:12] fabiand commented on #2764
Just to follow up here.

Today's take is that KubeVirt can be run on bare-metal instances in the
cloud. This is the recommendation so far for running "production like"
workloads in the cloud.
In addition to this, KubeVirt can also get deployed on i.e. Kubernetes as a
service offerings or in general offerings which have netsing enabled - Like
certain GCP VMs and i.e. Azure AKS. This setup is only r

[2020-05-28 19:44] davidvossel commented on #3458
/release-blocker master

[2020-05-28 19:45] davidvossel commented on #3458
/release-blocker release-0.29

[2020-05-28 19:50] davidvossel commented on #3458
/release-blocker release-0.29

[2020-05-28 19:56] davidvossel commented on #3458
/release-blocker release-0.29

[2020-05-28 20:01] davidvossel commented on #3458
/release-blocker release-0.29

[2020-05-28 20:23] davidvossel commented on #3458
/release-blocker release-0.29

[2020-05-28 20:24] davidvossel commented on #3458
/release-blocker release-fake

[2020-05-28 20:24] davidvossel commented on #3458
/release-blocker master

[2020-05-28 20:25] davidvossel commented on #3458
/release-blocker cancel release-0.29

[2020-05-28 20:25] davidvossel commented on #3458
/release-blocker cancel master

[2020-05-28 20:25] davidvossel commented on #3458
/release-blocker cancel release-0.29

[2020-05-28 20:25] davidvossel commented on #3458
/release-blocker cancel master

[2020-05-28 20:52] davidvossel commented on #3458
/release-blocker release-fake

[2020-05-28 20:53] davidvossel commented on #3458
/release-blocker  master

[2020-05-28 20:53] davidvossel commented on #3458
/release-blocker cancel master

[2020-05-28 22:45] mazzystr commented on #3472
output test attached...
[blah.txt](https://github.com/kubevirt/kubevirt/files/4698662/blah.txt)

[2020-05-29 03:40] watermelon-brother opened #3484 "Change the Windows resolution and restart automatically"
**What happened**:

**What you expected to happen**:
Change the Windows resolution and restart automatically when I visited the vm connect from the vnc.
**How to reproduce it (as minimally and precisely as possible)**:
After changing the resolution, it reboots automatically for a while, and then reboots all the time.

**Anything else we need to know?**:
kubectl logs vm-pod
[code]
**Environment**:

[2020-05-29 09:06] fenggolang opened #3485 "kubectl deploy vm failed"
[root@k8s-master-64-127 kubevirt]# kubectl apply -f https://raw.githubusercontent.com/kubevirt/demo/master/manifests/vm.yaml --v=6
I0529 16:59:42.238476   30318 loader.go:375] Config loaded from file:  /root/.kube/config
I0529 16:59:42.249453   30318 round_trippers.go:443] GET https://172.28.64.127:6443/openapi/v2?timeout=32s 200 OK in 10 milliseconds
I0529 16:59:42.308815   30318 round_trippers.g

[2020-05-29 10:50] ArthurSens opened #3486 "Make `state` label human readable in cpu metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`kubevirt_vmi_vcpu_seconds` metric uses an integer on the `state` label.
[code]

**What you expected to happen**:
To be a human readable string with one of libvirt's VcpuState which are `RUNNING`, `OFFLINE` or `BLOCKED`

**How to reproduce it (as minimally and precisely as possible)**:
Just create a k8s cluster with kubevi

[2020-05-30 09:27] fenggolang commented on #3485
Solved by executing the following command on each machine：
/sbin/ethtool -K flannel.1 tx-checksum-ip-generic off

[2020-05-30 09:27] #3485 closed

[2020-05-30 18:04] yhaenggi commented on #2470
/remove-lifecycle stale

[2020-05-30 23:11] #3065 closed

[2020-05-31 11:52] viorelcanja opened #3495 "Kubevirt does not work on microk8s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I followed the tutorial to start a simple VM on kubevirt on microk8s. The VM is scheduled but immediately transitions in the Failed state.

**What you expected to happen**:
I expected the VM to transition to Running.

**How to reproduce it (as minimally and precisely as possible)**:
Install microk8s , install kubevirt, de

[2020-06-01 11:30] #2951 closed

[2020-06-01 12:30] #2567 closed

[2020-06-02 21:36] jlindholm commented on #2214
15g file raw img failing the same way.

[2020-06-02 22:23] harutyundermenjyan opened #3504 "The LiveMigration fails if some RAM stress test activated during the LiveMigration time."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The LiveMigration never succeeded if some RAM stress test activated during the LiveMigration time, in particular:
`stress -m 1 --vm-bytes 30G` _or_ `stress -m 1 --vm-bytes 30G --vm-keep`
Also, noticed if the --vm-bytes larger than 200M then the migration can't be completed.
The tests are performed on with 256G ram machine

[2020-06-02 22:26] harutyundermenjyan commented on #3453
I've created another issue for the last mentioned problem. [#3504](https://github.com/kubevirt/kubevirt/issues/3504).

[2020-06-03 00:10] mhenriks commented on #2214
/reopen

[2020-06-03 00:14] mhenriks commented on #2214
hey @jlindholm, fancy seeing you here!  What versions of KubeVirt/CDI are you running?  And can you check the log of the `cdi-upload-<pvc name>` pod?  The log of the `cdi-uploadproxy` may be helpful as well.

[2020-06-03 11:06] jlindholm commented on #2214
Ha! Small world @mhenriks. It's been a while!

Here's the cdi-upload-<pvc name> log:

`I0603 10:52:44.648574       1 uploadserver.go:63] Upload destination: /data/disk.img
I0603 10:52:44.648810       1 uploadserver.go:65] Running server on 0.0.0.0:8443
I0603 10:52:50.891394       1 uploadserver.go:278] Content type header is ""
I0603 10:52:50.899790       1 data-processor.go:275] Calculating avail

[2020-06-03 13:48] mhenriks commented on #2214
Looks like the target PVC only had 12G free per this log msg:  `Target size 12785491968`.  Are you using a dynamic storage provisioner backed by shared storage?

A little background on how CDI uploads are handled:

When doing an upload, CDI allocates an additional scratch PVC with size equal to the target PVC.  The uploaded image is first written to the scratch space, then copied to the target PVC

[2020-06-03 15:24] jlindholm opened #3508 "LVM issue in kickstart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Centos7 ISO Boot install failed on LVM to partition physical volume (see attached screenshot).

<img width="717" alt="capture" src="https://user-images.githubusercontent.com/1453864/83655782-c3f77380-a58c-11ea-8248-c4768d2ce4cf.png">

We build an appliance based on CentOS7 minimal with our services included into a bootabl

[2020-06-03 16:09] jlindholm commented on #3508
It appears if I disable lvmetad in /etc/lvm/lvm.conf then the install succeeds. Is there an issue w/ lvmetad?

[code]

[2020-06-03 16:21] mhenriks commented on #3231
Check the `cdi-upload-<pvc name>` pod logs.  If the pod restarted, check the previous log.  We've seen this happen when the target PVC needs more space.

[2020-06-03 16:25] marccampbell commented on #3231
thanks @mhenriks that unblocks me:

[code]

[2020-06-04 10:45] rmohr opened #3512 "virt-controller can modify KubeVirt CRs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

virft-controller has all rights on all kubevirt.io resources. This means that if someone gets access to the virt-controller service account, that person can delete KubeVirt or "upgrade" unobserved to a flawed kubevirt version.

**What you expected to happen**:

Let's move the KubeVirt CR into its own resource group. Some

[2020-06-04 11:34] #2223 closed

[2020-06-04 14:37] #2910 closed

[2020-06-04 14:37] #2961 closed

[2020-06-04 15:07] rmohr commented on #3508
@jindholm did you try debugging the disk layout from inside the VM? It is a little bit hard to me to follow the output on the screenshot.

@aglitke do you see anything suspicious here?

[2020-06-04 15:10] rmohr commented on #3504
In general I think if your migraitons can succeed in such case probably depend on the networkbandwidth. If you dirty the ram faster than you can trasfer the state over the network, I don't think that the migration can succeed by default.

@vladikr you implemented an autoconverge feature, right? Maybe that could help here.

[2020-06-04 15:14] rmohr commented on #3472
@mazzystr do you rin it on linux or mac? We only support  remote-viewer on linux. Maybe you have an alias which points to tigervnc?

[2020-06-04 15:35] harutyundermenjyan commented on #3504
Actually, the machines have 2 interfaces each of them 10gbit/s, also they bonded and the full capability is 20gbit/s, I think the bandwidth is good enough in my case and it shouldn't be the cause.

[2020-06-04 15:51] mazzystr opened #3515 "Create docs page ... pro/con of KubeVirt vs katacontainers"
I just recently became aware of a project called [katacontainers](https://katacontainers.io/)

I would like to a page in docs with a pro/con comparison between KubeVirt and katacontainers

[2020-06-04 16:39] #2964 closed

[2020-06-04 19:49] mazzystr commented on #3472
@rmohr I ran that on a fresh install of Fedora32 with minikube, KubeVirt and TigerVNC installed.  There is no alias set.

Fedora32 / TigerVNC installs as so...
[code]

I don't know where this `remote-viewer` comes from

[2020-06-04 21:49] vladikr commented on #3504
I doubt that the virt-launcher has access to such a large bandwidth of 20gbit/s. Also, please keep in mind that we currently proxy the migration process from the virt-launcher to virt-handler and back on the destination side. This creates a large overhead.

At this moment live migration shouldn't be viewed as a high-performance feature. In the future, we are planning to enhance the process. Perhap

[2020-06-05 02:53] watermelon-brother opened #3519 "Virtual machine memory or CPU exceeding container memory or CPU is running normally"
**What happened**:
I have modified the virt-launcher code that set the cpu or memory exceeding the contianer is limited.
**What you expected to happen**:
I run the vm ,It's running normal.
I enter the contianer , look at the domain
[code]
but the contianer is set as below
[code]

**How to reproduce it (as minimally and precisely as possible)**:
you can change the  virt-launcher code.
**Anything el

[2020-06-05 03:00] watermelon-brother commented on #3484
windows remote desktop is ok. but Change the Windows resolution and restart automatically will happen sometimes when I visited the vm connect from the vnc.
@rmohr

[2020-06-05 07:57] rmohr commented on #3472
The rpm `virt-viewer` should provide it. We should probably document that better, or just support more VNC viewers like we actually do on mac.

[2020-06-05 08:07] rmohr commented on #3484
Could you explain that a little bit more? Why does windows restart when you connect via VNC?

[2020-06-05 08:28] watermelon-brother commented on #3484
I changed the Windows resolution to 2k by the vnc view when the vm start immediately, general，the pod will restart automatically ,but It`s ok sometimes.
@rmohr

[2020-06-05 09:12] harutyundermenjyan commented on #3504
After adding flag `allowAutoConverge: "true"` got this error:
`Error migrating VirtualMachine Internal error occurred: admission webhook "migration-create-validator.kubevirt.io" denied the request: LiveMigration feature gate is not enabled in kubevirt-config
`
But actually the LiveMigration future-gate is enabled.
Here is the config:
[code]
When I delete allowAutoConverge: "true" flag it the migra

[2020-06-05 09:52] harutyundermenjyan commented on #3504
The flag `allowAutoConverge: true` didn't help.
I tried LiveMigrate with this: `stress -m 1 --vm-bytes 1024M --vm-keep`.
But an interesting thing is that I tried before to do LiveMigration with Redis with about ~100G ram usage and the migration succeeded about after 25 minutes, but with the aforementioned stress test it didn't work.

[2020-06-06 09:15] harutyundermenjyan commented on #3504
After adding the flag `allowAutoConverge: true` managed to migrate 4096M `--vm-bytes 4096M` (instead of 200M) but no more.
Interesting thing is that when I'm migrating Redis-server with almost 100G ram usage it works.
Just wondering what could be the issue, maybe it relates to the intensity of read-write?

[2020-06-06 09:18] #2918 closed

[2020-06-08 08:50] #2965 closed

[2020-06-08 10:40] vladikr commented on #2965
/remove-lifecycle rotten

[2020-06-08 12:42] victortoso commented on #2953
Is anyone working on this? If not I'll be trying to fix it this week

[2020-06-08 13:07] rmohr commented on #2953
I don't think so. Feel free to work on it. :)

[2020-06-08 14:11] rmohr commented on #3504
Oh, now I think I know what the issue is. We have another config setting `bandwidthPerMigration` which is set to `64Mi` by default. This means that every migration has a bandwidth limitation. It is deliberately pretty low to not by accident make production workloads unstable. Can you try making this much higher?

[2020-06-08 14:14] rmohr commented on #3365
Then let's continue with immediate patching before the strategy is dumped. Works for me.

Sounds good then.

[2020-06-08 14:56] harutyundermenjyan commented on #3504
Unfortunately seems the `bandwidthPerMigration` not the cause in my case, all my tests I did with `bandwidthPerMigration:` `20Gi`
Below is my kubevirt-config:
[code]
Could you please reproduce it on your side to see if you can manage the migration with ram stress test with 8G or more?
e.g. `stress -m 1 --vm-bytes 16G --vm-keep`

[2020-06-08 16:00] mazzystr commented on #3472
Yup! got it figured on on Sat
[code]
Installing that makes things work

[2020-06-09 06:46] rmohr commented on #3504
@harutyundermenjyan I did not have too close a look on the conversation. @vladikr pointed me now to the fact that you are polluting 16G per second. Note that the autoconverge feature is throttling the CPU. If `stress` does the ram writes without much CPU involved, autoconverge does not really have much effect. I am not sure if 16G is now Gbyte or Gbit, but in both cases you are also already pretty

[2020-06-09 09:37] ashleyschuett commented on #3365
/assign

[2020-06-09 11:44] harutyundermenjyan commented on #3504
In this case, 16G means Gbyte by basing on `stress` doc (`malloc B bytes per vm worker`).
The actual rate I didn't measure but anyway it depends on ram (`DIMM DDR4 Synchronous 2400 MHz (0.4 ns)`) and it should be faster and the network max capacity is 20gbit/s with bonding and 10gbit/s without bonding, so at least 10gbit/s is accessible in case if k8s overlay doesn't use the bond.
And also can I c

[2020-06-09 12:14] harutyundermenjyan commented on #3504
One of my targets that have a few Redis servers with large ram usage and high read/write, so I want to test and understand how the kubevirt VM can manage this and can perform a live migration in case of need.
So as I understand it will work if all read and write perform via network because in that case the read/write can't be higher than the migration if they in the same network and have the same

[2020-06-09 13:14] ArthurSens opened #3535 "New metrics design proposal"
# Add monitoring metrics

## Table of Contents

- [Summary](#summary)
- [Motivation](#motivation)
    - [Multiple issues](#multiple-issues)
  - [Goals](#goals)
- [Proposal](#proposal)
  - [Migration Metrics](#migration-metrics)
    - [Other Alternative](#other-alternative)
  - [Node Heartbeat metrics](#node-heartbeat-metrics)
  - [VMI metrics](#vmi-metrics)
  - [Snapshot metrics](#snapshot-metrics

[2020-06-09 17:39] ArthurSens commented on #3535
can be discussed through this [google doc](https://docs.google.com/document/d/1bEwrnZZkVsCtz0PSyzlxOdhupL6GTurkUYcz7TXFM1g/edit?usp=sharing).

[2020-06-10 11:06] xpivarc commented on #2272
@vladikr @davidvossel I think this is fixed and we can enable https://github.com/kubevirt/kubevirt/blob/master/tests/migration_test.go#L728, right?

[2020-06-12 07:50] zhlhahaha opened #3554 "disks-images-provide got error in kind-k8s-1.17 kubevirt cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Using kind-k8s-1.17 to deploy a kubevirt cluster,  disks-images-provider failed to start.
With following logs:
[code]

**What you expected to happen**:
 disks-images-provider start successfully.

**How to reproduce it (as minimally and precisely as possible)**:
export KUBEVIRT_PROVIDER=kind-k8s-1.17
export KUBEVIRT_NUM_NO

[2020-06-12 17:32] #2986 closed

[2020-06-15 02:55] zhlhahaha opened #3558 "Kubevirt on ARM64"
**What you expected to happen**:
Enable **Kubevirt** and **kubevirt CI** on ARM64

Kubevirt on ARM64
-

- [ ] Check if all binaries and images in WORKSPACE have alternatives for ARM64 platform
--Three images do not support ARM64 version yet. kubevirt-testing, nfs-server and microlivecd_image.

- [x] Enable basic feature of kubevirt on ARM64 platform, which include: https://github.com/kubevirt/kube

[2020-06-15 03:07] zhlhahaha commented on #3558
cc @lubinszARM

[2020-06-15 03:10] zhlhahaha commented on #3558
Hi, @rmohr @vladikr @davidvossel
I have writen a task proposal for kubevirts on ARM64. Are there anything I miss, or do you have any suggestion on it?

[2020-06-15 07:03] phoracek opened #3559 "when issuing command on kubevirt/kubevirt openshift ci responds on /test /retest commands that it shouldn't"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When issuing command on kubevirt/kubevirt openshift ci responds on /test /retest commands that it shouldn’t (because the jobs belong to kubevirt-bot) (example)

This happens for some time now (i.e. around a month).

Reason: the openshift ci bot is connected to the repo, therefore the openshift ci prow also reacts to comm

[2020-06-15 07:26] phoracek commented on #3559
cc @dhiller

[2020-06-15 07:37] phoracek opened #3560 "[flakey test] VM Live Migration Starting a VirtualMachineInstance migration monitor [test_id:2227]should abort a vmi migration without progress"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Test
[code]
is blocking merges. See also the flakefinder history:

https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-14-168h.html#row0

It recently started to fail almost 100% of time, but was flaky before already. There may be a real issue in the config propagation co

[2020-06-15 07:48] phoracek opened #3561 "[flakey test] Creating a VirtualMachineInstance when virt-handler is not responsive [test_id:1634]the node controller should react"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

This test fails with:

[code]

It was observed 5 times in last week: https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-14-168h.html#row3

It happened on k8s 1.17 and 1.18 lanes.

Example failed run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubev

[2020-06-15 08:00] phoracek opened #3563 "[flakey test] DataVolume clone permission checking using Alpine import/clone deny then allow clone request"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Following tests (from the same DescribeTable) are failing quite often on our CI:

`DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request [test_id:3193]with explicit role`

https://storage.googlea

[2020-06-15 08:22] phoracek opened #3564 "periodic-kubevirt-tutorial-lab-testing fails on LAB003 (CDI?)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Periodic job testing our test lab has failed on one of the test cases. It seems like an CDI issue:

[code]

Logs: https://storage.googleapis.com/kubevirt-prow/logs/periodic-kubevirt-tutorial-lab-testing/1271405244500152320/build-log.txt?Expires=1592209505&GoogleAccessId=prow-46%40kubevirt-240711.iam.gserviceaccount.com&S

[2020-06-15 08:30] phoracek opened #3565 "openshift-ci nightly fails, it seems to be caused by outdated Kernel on hosts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Half of the tests on openshift-ci nightly fail. It seems to be caused by outdated kernel on hosts after our update to newer release of libvirt.

Test run: https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-gcp-nested-virt/1272363794462412800

[2020-06-15 11:50] maya-r commented on #3564
kubectl apply -f $HOME/kubevirt/kubevirt-operator-manifests/kubevirt-operator.yaml
Is this lab expecting a particular filesystem layout? I'm not sure how this file would exist.
Should it be adjusted to point to the latest release on GitHub?

[2020-06-15 11:56] phoracek commented on #3564
@rmohr who would know details about the lab?

[2020-06-15 13:19] phoracek opened #3569 "[flakey CI] failing to bring up IPv6 lane cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

IPv6 kind lane often fails during deployment.

Example failed run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3543/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1272424717042585600

Log: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3543/pull-kubevirt-e2e-kind

[2020-06-15 19:50] aglitke commented on #3563
/assign mhenriks

[2020-06-15 19:52] aglitke commented on #3564
/assign maya-r

[2020-06-15 20:08] phoracek commented on #3569
/assign @maiqueb

[2020-06-16 06:13] oshoval commented on #3569
Hi, I would suggest please that we clean the loopback devices in cluster up/down as we discussed,
in case finding the root problem would take more time, since this ipv6 lane is mandatory and PRs are stalled badly with this problem. (and then continue of course to find the root problem)
Thanks

[2020-06-16 07:25] dhiller commented on #3561
Two of the failures observed from flakefinder look different than the others, i.e. they are not a timeout after 180 seconds, [one is a panic](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3534/pull-kubevirt-e2e-k8s-1.17/1270527327452794880), the other is waiting on [condition "Virthandler should be ready to work" to be true](https://prow.apps.ovirt.org/view/gcs/

[2020-06-16 07:59] oshoval opened #3573 "[flakey test] should log libvirt start and stop lifecycle events of the domain [test_id:1641]"
**What happened**:

Today failing on K8s-1.18
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-15-024h.html

last week saw it failing almost every time on the check for flakes lane (k8s-1.18)

locally it runs fun (checking in loops)

**What you expected to happen**:
test should pass

**How to reproduce it (as minimally and precisely as possible

[2020-06-16 09:03] dhiller commented on #3573
In the [weekly report it fails on k8s-1.17 and k8s-1.17-cnao also](https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-15-168h.html#row3), but not on k8s-1.18

[2020-06-16 09:27] dhiller commented on #3564
There's a related issue open for some time now: kubevirt/kubevirt-tutorial#114

[2020-06-16 09:30] dhiller commented on #3565
We need to change cloud provider to azure to fix this.

[2020-06-16 09:32] dhiller commented on #3565
This needs to be done here: https://github.com/openshift/release/blob/master/ci-operator/config/kubevirt/kubevirt/kubevirt-kubevirt-master.yaml#L49

[2020-06-16 10:35] dhiller opened #3574 "SRIOV VirtualMachineInstance with sriov plugin interface [test_id:1755]should create a virtual machine with two sriov interfaces referring the same resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[This test](https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-15-024h.html#row1) failed once on the pull-kubevirt-e2e-kind-k8s-sriov-1.17.0 lane: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3507/pull-kubevirt-e2e-kind-k8s-sriov-1.17

[2020-06-16 10:42] maiqueb commented on #3569
Please allow me to really understand what's happening here.

By now, I know that the `losetop` call in the [disks-images-provider code](https://github.com/kubevirt/kubevirt/blob/master/images/disks-images-provider/entrypoint.sh#L30) is referring to the hosts where the nodes are deployed, and not to the k8s node. This means it will return (and configure) a loop device on the host where the k8s node

[2020-06-16 10:49] dhiller opened #3575 "[flaky test] [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with custom interface model [test_id:1770]should expose the right device type to the guest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Test appears flaky:
24h report: https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-15-024h.html#row5
168h report: https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-15-168h.html#row90

failed once on k8s-1/17 and once

[2020-06-16 11:37] dhiller commented on #3573
Example failure on k8s-1.17: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3228/pull-kubevirt-e2e-k8s-1.17/1266051356699922432

[code]

[2020-06-16 11:39] dhiller commented on #3573
/kind bug

[2020-06-16 11:40] dhiller commented on #3573
Test runs where it failed:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3414/pull-kubevirt-e2e-k8s-1.17/1263814834395287552
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3396/pull-kubevirt-e2e-k8s-1.17/1267950036650561536
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3487/pull-kubevir

[2020-06-16 11:41] dhiller commented on #3573
@vladikr do you have time and bandwidth to look at this?

[2020-06-16 11:44] oshoval opened #3577 "Error when creating VM virtualmachineinstances-create-validator "x509: certificate signed by unknown authority""
**What happened**:
Running test_id 3187 in loops locally,
sometimes the test would fail, because starting VM fails, with the error

[code]

the problem also affect other tests (1770 for example) didn't see it yet on prow, it happens 1 out of 200 runs locally, or once on 4 hours if running in loops.

Error comes from:
tests/vmi_cloudinit_test.go
[code]
Error is due to
```obj, err := virtClient.Rest

[2020-06-16 11:53] oshoval opened #3578 "[flaky CI] [test_id:3466]Should update vmi status with the proper columns using 'kubectl get vmi -w'"
**What happened**:
[rfe_id:3423][crit:high][vendor:cnv-qe@redhat.com][level:component]VmWatch [test_id:3466]Should update vmi status with the proper columns using 'kubectl get vmi -w'

This test is flaky for a long time, each week has it several times.

**What you expected to happen**:
Test should pass (or skipped meanwhile ?)

**How to reproduce it (as minimally and precisely as possible)**:

**A

[2020-06-16 12:16] phoracek commented on #3574
We are currently addressing stability of the lane which causes a lot of the runs to fail in https://github.com/kubevirt/kubevirtci/pull/378.

/assign @ormergi

[2020-06-16 12:18] phoracek commented on #3575
/assign @oshoval

[2020-06-16 12:20] oshoval opened #3579 "[Flaky CI] Failures that cause the cluster to become instable, and spam the flake-finder"
**What happened**:

see
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3534/pull-kubevirt-e2e-k8s-1.17/1270527327452794880
test 3150 fails and then the cluster become unstable

Flake finder would result in lots of spamming by tests that are failed, just because they cant even start, this test failure cause the cluster to become unstable
https://storage.googleapis

[2020-06-16 12:48] fabiand commented on #1023
/reopen

[2020-06-16 12:57] harutyundermenjyan commented on #3504
@rmohr @vladikr

[2020-06-16 14:40] oshoval commented on #3577
seen as well on loops of test 1770

[2020-06-16 17:07] stu-gott commented on #3561
The panic test run is caused by an oddball race condition that we're doing to ourselves. We have OwnerReferences for things like a VMI which has a VM as a parent. if the VM is deleted, then k8s will cascade that deletion to the VMI and possibly to container disks and the like... the next thing we do is attempt to delete the same VMI -- and then we panic on an "isNotFound" error. https://github.com

[2020-06-16 22:40] mazzystr opened #3584 "Improve image-upload guide to include necessary step to avoid using --insecure"
/kind bug

**What happened**:
* Deploy minikube, kubevirt, cdi, nodePort service for cdi-uploadproxy
* Showing kube config
[code]
* Run virtctl
[code]
* Adjust dns then run virtctl
[code]

**What you expected to happen**:
I expect...
1) the deployment should call on Kubernetes to create valid certificates (ideally the cdi-uploadproxy service has a cert with a correctly formed X509v3 Subject Altern

[2020-06-17 06:38] oshoval commented on #3575
https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3507/pull-kubevirt-e2e-k8s-1.18/1272379038165372928/artifacts/2_pods.log

[code]

[2020-06-17 07:57] rmohr commented on #3561
What I see is that the virt-launcher pods get actually deleted (see the deletion timestamp):

[code]

but the pod does not terminate. If the containers don't exit, our node-controller does not react, since this may corrupt the associated VMI.

It is very likely related to the fact that the Pod status looks like this:

[code]

There are known corner cases where it can take a very long time until a

[2020-06-17 10:48] rmohr commented on #3067
/remove-lifecycle rotten

`runtime.GOARCH` is now only used at a few places with #3054 , but it is still too deep in the stack. It should be passed in from the main functions of the binaries to provide a good unit testing experience.

[2020-06-17 11:02] rmohr commented on #3558
@zhlhahaha yes looks good. Sounds like you have everything there which is needed.

[2020-06-17 11:21] rmohr commented on #2998
/reopen
/remove-lifecycle rotten

[2020-06-17 11:45] rmohr commented on #3504
I think you understand the limitations right. I would still recommend to check it with the actual target workload. For instance `allowAutoConverge` is way more efficient if the workload uses a lot of CPU, since the auto converge feature basically throttles the CPU which will in such a case then slow down the memory writes. `stress` does not need much CPU to do memory writes, therefore `allowAutoCo

[2020-06-17 12:22] ashleyschuett commented on #3561
If I understand correctly the issue is that the VMI is marked as "Running" which then lets the rest of the test proceed. But in this time the pod is still initializing the containers. Then when a delete request gets made it is not deleted in within the allowed timeout time since the containers can not exit due to not yet running.

It seems like the proper fix for this flaky test case then is to se

[2020-06-17 12:41] rmohr commented on #3561
I think, out of my head, that `Scheduled` is already only set when the Pod is started. As soon as virt-controller sets `Scheduled`, virt-handler is taking over and should try to define the VMI.

[2020-06-17 12:57] timstoop opened #3587 "VMs error after upgrading to v0.30.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We're currently running v.0.27.0 on a GCE VMs in europe-west1, using Haskell+ CPUs with nested kvm enabled. We've been running this since about v0.17 without many problems. After upgrading to v0.30.0, VMs no longer want to start and error with this error:

[code]

We're unsure how to fix this and think this is a bug.

**

[2020-06-17 13:30] timstoop commented on #3587
*Haswell, not Haskell.

[2020-06-17 14:53] ashleyschuett commented on #3561
In that case I am misunderstanding the relationship that you are pointing out in your previous comment. I'm not sure what is being pointed out then between the VMI having the status of `Running` when the `virt-launcher` pod is in the state `Pending` ?

[2020-06-17 14:56] rmohr commented on #3561
I think you got it right, I may have expressed the relationship weird. virt-handler, which is the one setting the phase to `Running` should not even react at this stage to a VMI. virt-controller explicitly hands over the VMI when the pods is ready (the containers are ready).

[2020-06-17 17:03] zakkg3 commented on #1491
now is in
https://kubevirt.io/user-guide/#/installation/updating-and-deleting-installs?id=deleting-kubevirt

[2020-06-17 17:28] mazzystr commented on #3584
I was able to get this to work
[code]

Obtain a cert from a certificate authority with a CN of Kubernetes dns endpoint (ie k8s.octacube.co)

Manually
* `kubectl edit secret/cdi-uploadproxy-server-cert -n cdi`
* Adjust the value for tls.crt and tls.key
* `kubectl delete pod/cdi-uploadproxy-*`

More automated
* `for i in tls.crt tls.key; do kubectl patch -n cdi secret/cdi-uploadproxy-server-cert -p

[2020-06-18 06:52] maiqueb commented on #3085
/remove-lifecycle rotten

[2020-06-18 07:18] #3569 closed

[2020-06-18 08:52] timstoop commented on #3365
I may not fully understand what you're saying here, but I read it as "deploy as normal and then patch with the patches provided". If that's the case, this would break our flow. We have a gatekeeper installed that requires all deployments to set resources for Pods, so any create without those resources is denied. The initial creation of the Deployments would need to have those patches already appli

[2020-06-18 08:59] rmohr commented on #3365
Yes this will happen. We dump our components into a configmap before they get created. The operator can use such dumps to update or downgrade to versions which it does not belong to. We were basically discussing if that dump should already contain the patches, or if they should be applied immediately *before* the creation. So you should be fine.

[2020-06-18 09:32] yinjingjiu opened #3593 "Failed to start VM using machine type pc-i440fx-3.1"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug

**What happened**:
Failed to start VM using machine type pc-i440fx-3.1

**What you expected to happen**:
Kubevirt version v0.17.0 is upgraded to v0.26.0, the problem occurs when starting the virtual machine. How can i solve?

**Environment**:
- KubeVirt version v0.26.0
- Kubernetes version v1.13.5

**How to reproduce it (as minimally and precise

[2020-06-18 09:41] ashleyschuett commented on #3561
So maybe this makes sense but I'm seeing some weirdness in the timestamps.

[code]

[2020-06-18 09:41] ashleyschuett commented on #3561
[code]

[2020-06-18 14:28] mhenriks opened #3594 "make deps-update broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubevirt.io/client-go` is including `kubevirt.io/pkg` which is causing a dependency cycle.

[code]

https://github.com/kubevirt/kubevirt/blob/master/staging/src/kubevirt.io/client-go/api/v1/types.go#L42

Caused by this PR:  https://github.com/kubevirt/kubevirt/pull/3455

**What you expected to happen**:

`make deps-upda

[2020-06-18 14:32] rmohr commented on #3594
@ashleyschuett would you mind having a look? Should not be too hard to fix.

[2020-06-18 14:32] rmohr commented on #3594
@mhenriks thx for investigating,

[2020-06-18 15:16] vladikr opened #3596 "test lanes are running for more than 7 hours and timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
k8s test lanes are running for more than 7 hours and fail due to incompletion.
This affects most of the lanes: 1.15-ceph, 1.16, 1.17, 1.18

For example:
[code]

[code]
**What you expected to happen**:
Tests should complete on time.
**How to reproduce it (as minimally and precisely as possible)**:

[2020-06-18 18:27] vladikr commented on #3559
[code]
[code]

[2020-06-18 19:31] davidvossel commented on #3458
/release-blocker master

[2020-06-18 19:33] davidvossel commented on #3458
/release-blocker cancel master

[2020-06-18 20:38] vladikr opened #3602 "[flakey test] Networking VirtualMachineInstance with custom dns [test_id:1779] should have custom resolv.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]

**What you expected to happen**:
The k8s-cnao-1.17 lane often fails with the above error

[2020-06-19 01:32] yinjingjiu commented on #3593
please help me

[2020-06-19 07:40] timstoop commented on #3587
Adding a CPU model like `Haswell--noTSX-IBRS` solves the issue. I wonder why qemu does not detect the correct CPU features, though, as it has the cpu set to `host-model` and does some additional checking of features as well.

[2020-06-19 07:51] ksimon1 commented on #3565
Azure job is failing: https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1273813341147500544

[2020-06-19 08:24] ashleyschuett commented on #3594
/assign

[2020-06-19 08:31] ksimon1 opened #3603 "Presubmits jobs are failing due to wrong URL archives.fedoraproject.org"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Presubmits jobs are failing due to wrong URL archives.fedoraproject.org

see here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3521/pull-kubevirt-e2e-k8s-1.15-ceph/1273885003331145729

[2020-06-19 08:37] rmohr commented on #3603
The issue seems to be that the `dl.fedora.org` is down. All dependencies except  the `which` rpm were mirrored to ur gcs bucket. After the packet was kicket out by greenhouse (the bazel cache), bazel could not fall back to our gcs bucket to add it to the cache again.

[2020-06-19 08:48] rmohr commented on #3603
I will now also take the time to finish the postsubmit job which will automatically upload the dependencies and create a PR.

[2020-06-19 09:01] dhiller opened #3606 "OpenShift CI nightly build has failing tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Several tests on the KubeVirt nightly build on OpenShift are failing: https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1273813341147500544

This is caused in part due to misconfiguration of the nightly (i.e. errors that poin

[2020-06-19 09:03] dhiller commented on #3565
Due to this issue being related to failure being caused by using gcp with old kernel and move to azure mitigating that, closing this. See other issue for further investigation: kubevirt/kubevirt#3606

[2020-06-19 09:04] #3565 closed

[2020-06-19 09:27] #3603 closed

[2020-06-19 10:18] dhiller opened #3608 "Add automation/ to shfmt formatted folders"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Folder `automation` also contains scripts that should be covered by `shfmt` (which is being executed in ./hack/bazel-fmt.sh`)

**What you expected to happen**:

Folder `automation` should be auto-formatted when using `./hack/bazel-fmt`.

**How to reproduce it (as minimally and precisely as possible)**:

Compare r

[2020-06-19 12:13] ksimon1 opened #3610 "[Flaky test][test_id:3145]should update kubevirt from previous release to target tested release"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Operator [rfe_id:2291][crit:high][vendor:cnv-qe@redhat.com][level:component]should update kubevirt [test_id:3145]from previous release to target tested release

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3588/pull-kubevirt-e2e-k8s-1.18/1273368964344320000

[2020-06-19 12:18] ksimon1 opened #3611 "[Flaky test][test_id:1200]Probes for readiness should succeed with working HTTP probe and http server"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
[ref_id:1182]Probes for readiness should succeed [test_id:1200][posneg:positive]with working HTTP probe and http server test is failing

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3588/pull-kubevirt-e2e-k8s-1.18/1273368964344320000

[2020-06-19 13:05] rmohr commented on #3596
@dhiller created #3609 to at least give us a little bit more hints.

[2020-06-19 14:40] ashleyschuett commented on #3610
It looks like there is an error when stopping the VMI

[code]

[code]

[2020-06-19 15:48] andreabolognani opened #3615 "VMs using BIOS don't start inside cluster-up on Ryzen"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using the `cluster-up` environment, VMIs that are configured for BIOS boot will not work on a Ryzen machine.

**What you expected to happen**:

All VMIs work.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

The cursor keeps blinking but remains stuck in place, and no interaction with the

[2020-06-20 02:43] #3140 closed

[2020-06-20 09:59] #3008 closed

[2020-06-20 21:22] #3594 closed

[2020-06-20 21:29] rmohr opened #3616 "Why did tide not merge this?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Jobs for a batch consisting of #3536, #3550, #3582, #3597, #3605 started at 16:31 and all pass. Still tide continued retesting other batches and did not merge it:

![tide](https://user-images.githubusercontent.com/4534621/85211881-b47a7780-b34d-11ea-898c-43884296a753.png)
![jobspass](https://user-images.githubusercontent.com/453462

[2020-06-20 23:12] #3020 closed

[2020-06-21 04:32] rmohr commented on #3560
/reopen

[2020-06-21 04:32] rmohr commented on #3323
/reopen

Config propagation fix is needed.

[2020-06-21 08:24] rmohr commented on #3596
The issue is resolved right now. A greenhouse restart made the issue go away. We failed to identify root causes. Could be a pod network issue, the node where the cache was scheduled or an issue in greenhouse itself.

[2020-06-21 08:54] oshoval opened #3619 "[Flaky test][test_id:1780]should allow regular network connection with custom CIDR"
/kind bug
/label build-officer

**What happened**:
Test 1780 has a flake
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3604/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1273898340039266304

Flake finder report
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-19-024h.html

https://storage.googleapis.com/kubevirt-pro

[2020-06-21 09:20] oshoval commented on #3619
Should be label cop
my PR #3543 should fix it

[code]

[2020-06-21 09:21] oshoval commented on #3619
/assign @oshoval

[2020-06-21 10:52] oshoval commented on #3575
still under investigation, due to a panic of virt-handler (grpc server is closing ?), which cause the kvm to disappear,

test 1466 on those 2 links suffer from same thing i think:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3539/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1272566802886430720

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_

[2020-06-21 11:49] oshoval opened #3620 "[Flaky test][test 3151] should be able to update kubevirt install when operator updates if no custom image tag is set"
/kind bug

/label build-officer
**What happened**:

on 13.6 this test fails, it doesnt fail a lot, but when it does it might cause the cluster to become unstable. (see that that runs had lots of problems afterwards, and it cause flake-finder to be spammed with failures).

Its name can imply on it "should be able to update kubevirt install when operator updates if no custom image tag is set", since

[2020-06-21 12:10] oshoval opened #3621 "[flaky test][test 3245] should not migrate more than two VMIs at the same time from a node"
/kind bug
/label build-officer

**What happened**:

Test 3245 failed today, (saw it failed at the past from time to time. around once a week or less)
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3555/pull-kubevirt-e2e-k8s-1.17/1274551910958895104

lane pull-kubevirt-e2e-k8s-1.17

**What you expected to happen**:
Test should pass

**How to reproduce it (as minim

[2020-06-21 12:44] oshoval opened #3622 "[Flaky CI] pull-kubevirt-e2e-k8s-1.16-ceph cluster-up fails"
/kind bug
/label build-officer

**What happened**:
pull-kubevirt-e2e-k8s-1.16-ceph

cluster-up fails
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3590/pull-kubevirt-e2e-k8s-1.16-ceph/1274679127764373504

[code]

**What you expected to happen**:
cluster-up should pass

**How to reproduce it (as minimally and precisely as possible)**:
just run it (saw on prow 2/2

[2020-06-21 13:38] oshoval opened #3623 "[flaky test][test 1678]should report defined CPU model"
/kind bug
/label build-officer

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3566/pull-kubevirt-e2e-k8s-1.17/1274562732359684096

test 1678 failed on 1.17 lane

**What you expected to happen**:
test should pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt

[2020-06-21 17:36] shubhindia opened #3624 "Unable to deploy kubevirt in minikube"
/kind bug
I am trying to deploy kubevirt on minikube but getting below error.
{"component":"virt-operator","level":"info","msg":"failed to load the certificate in /etc/virt-operator/certificates","pos":"cert-manager.go:173","reason":"open /etc/virt-operator/certificates/tls.crt: no such file or directory","timestamp":"2020-06-21T17:31:38.578176Z"}
I tried with both driver=none and kvm2 but same re

[2020-06-22 03:50] yinjingjiu commented on #3593
the problem has been solved, thanks to kubevirt

[2020-06-22 03:50] #3593 closed

[2020-06-22 07:09] rmohr commented on #3622
/cc @dhiller

[2020-06-22 07:18] wangzh21 opened #3626 "Build kubevirt in local env error"
**What happened**:
I try to build my own kubevirt with this doc https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md
But it doesn't work well
Here is the output:
[root@host-192-168-3-23 kubevirt]# make
hack/dockerized "DOCKER_PREFIX=index.docker.io/myrepo DOCKER_TAG=mybuild IMAGE_PULL_POLICY=always VERBOSITY= ./hack/build-manifests.sh && \
    hack/bazel-fmt.sh && hack/bazel-bu

[2020-06-22 08:21] ashleyschuett commented on #3624
Hey! what guide are you following? or how are you trying to set KubeVirt up so?

[2020-06-22 09:19] shubhindia commented on #3624
Hi.. I am following below document to deploy kubevirt.
https://kubevirt.io/2018/Hello-KubeVirt-on-Minikube.html

[2020-06-22 09:27] oshoval commented on #3622
should we disable the lane until its fixed?
it spams the results + use resources atm

[2020-06-22 10:19] ashleyschuett commented on #3624
Can you try using this guide instead https://kubevirt.io/quickstart_minikube/ ? it's the updated way to install kubevirt on minikube.

You can also try downloading the new 1.12 beta version of minikube https://github.com/kubernetes/minikube/releases/tag/v1.12.0-beta.0. KubeVirt has been added as an add on and can be used by running `minikube addon enable kubevirt`.

[2020-06-22 10:40] dhiller commented on #3622
I think we rather should disable reporting and retire the status. @rmohr?

[2020-06-22 10:41] dhiller commented on #3622
Or just rollback to 1.15-ceph?

[2020-06-22 10:46] #3472 closed

[2020-06-22 10:48] #3554 closed

[2020-06-22 10:56] rmohr commented on #3587
@timstoop thanks for reporting this.

@ksimon1 @andreabolognani does this sound familiar to anyone? I think there was somewhere a report about a kernel bug or something in combination with gce, but I can't find any details.

[2020-06-22 10:57] rmohr commented on #3587
@codificat I think your labs are testing on gcp too (https://kubevirt.io/pages/cloud), did you experience that issue?

[2020-06-22 11:04] rmohr commented on #3564
/close

@phoracek you can see in the project-infra repo, when searching for the job to which repo it belongs.

Tracked in kubevirt/kubevirt-tutorial#114

[2020-06-22 11:04] #3564 closed

[2020-06-22 11:06] dhiller commented on #3622
So we just disabled reporting on the ceph lane, am now working on failures.

[2020-06-22 11:56] fabiand commented on #3587
/cc @vladikr

[2020-06-22 12:48] dhiller commented on #3622
In general `cluster-up` fails on following health check error:

[code]

[2020-06-22 12:49] dhiller commented on #3622
Related documentation is this: https://docs.ceph.com/docs/mimic/rados/operations/placement-groups/#choosing-number-of-placement-groups

[2020-06-22 13:02] dhiller commented on #3622
@awels @mhenriks maybe you can chime in here? Is that easily fixable?

[2020-06-22 13:04] rmohr commented on #3622
but ceph works right now on -1.15. We use the same containers and start flow. Are you sure it hangs there?

[2020-06-22 13:11] awels commented on #3622
This is highly likely because the snapshot api went from alpha to beta between 1.15 and 1.17. We have a PR https://github.com/kubevirt/containerized-data-importer/pull/1206 that updates that for CDI

[2020-06-22 13:13] oshoval commented on #3622
what about this error that appear in the logs ?
[code]

[2020-06-22 13:16] awels commented on #3622
Have to look up which kind/version stateful sets are now? Maybe apps/v1?

[2020-06-22 13:24] dhiller commented on #3622
I reproduced in on kubevirtci locally

[2020-06-22 13:37] rmohr commented on #3615
By that you mean the qemu version which we use there in the container?

[2020-06-22 14:10] awels commented on #3622
yeah should be apps/v1 I am guessing apps/v1beta1 was deprecrated for a while and got removed in 1.17 or 1.18

[2020-06-22 14:14] dhiller commented on #3622
So, I can't really think of what makes sense right now? I saw that @mhenriks is already working on a rook-ceph lane for 1.17 for kubevirt, should we wait on this and remove the 1.16-ceph lan entirely? Because 1.15 we are not supporting any more?

[2020-06-22 14:32] #2925 closed

[2020-06-22 15:17] awels opened #3629 "[flaky test] when CPU model defined [test_id:1678]should report defined CPU model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Flaky test: [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with CPU spec [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]when CPU model defined [test_id:1678]should report defined CPU model
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possi

[2020-06-22 15:18] awels commented on #3629
/label build-officer

[2020-06-22 15:19] awels commented on #3629
Duplicate #3623

[2020-06-22 15:19] #3629 closed

[2020-06-22 15:54] rmohr commented on #3622
Depends on how long that takes. If it still takes some time, just update the manifests in kubevirtci and reprovision 1.17 and 1.18.

[2020-06-22 15:54] rmohr commented on #3622
But I think we should efinitely disable the job.

[2020-06-22 16:05] awels opened #3630 "[flaky ci] ImageUpload Upload an image and start a VMI with PVC Should succeed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/label build-officer

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3555/pull-kubevirt-e2e-k8s-1.17/1274551910958895104

**What you expected to happen**:
test should pass.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environme

[2020-06-22 17:11] awels opened #3631 "[rfe_id:588] ContainerDisk Starting from custom image location with disk at /custom-disk/downloaded [test_id:1466]should boot normally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/label build-officer

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3544/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1274612562545086464

**What you expected to happen**:
test should pass.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-22 20:10] davidvossel commented on #3458
/release-blocker master

[2020-06-22 20:15] davidvossel commented on #3458
/release-blocker cancel master

[2020-06-23 07:17] rmohr commented on #3602
/assign @AlonaKaplan

[2020-06-23 07:27] rmohr commented on #3623
It runs in a timeout when we wait for the VMI to be deleted:

[code]

I can see in the logs that the VMI gets deleted and that virt-handler ensures that the VMI is shutoff. The VMI also almost immediately reports that it is shutoff, but the pod seems to hang around for some time.

Here when the VMI was shutoff:

[code]

and here when it could finally be moved to a stopped state:

[code]

Note that

[2020-06-23 07:28] rmohr commented on #3623
/assing @enp0s3

Igor, would you mind doing a PR?

[2020-06-23 07:58] rmohr commented on #3623
/label kind/build-officer

[2020-06-23 08:02] rmohr commented on #3623
/label kind/enhancement

[2020-06-23 08:03] rmohr commented on #3623
/kind build-officer

[2020-06-23 08:45] enp0s3 commented on #3623
@rmohr Sure np.

[2020-06-23 09:14] andreabolognani commented on #3587
@rmohr I asked to someone who understands CPU models more than I do, and they said this seems to be the same issue as https://bugzilla.redhat.com/show_bug.cgi?id=1822682. That bug was fixed in qemu-kvm-4.2.0-19 but our COPR contains qemu-kvm-4.2.0-15, so that explains the failure.

I'm not sure what your policy to handle this kind of situation is. I think it would make sense to ask @crobinso to co

[2020-06-23 09:20] oshoval commented on #3575
The label network is not right here.

The problem is that after getting a domain even of ERROR, the Server is closed on virt-handler,
and there is an event sometimes, due to a race, which is sent to a closed channel.
it panics the virt-handler, and then a new virt-handler will start.
its takes time for the new virt-handler to report allocatable kvm devices, hence the test fails.

back to the root

[2020-06-23 09:23] rmohr commented on #3630
/triage build-officer

[2020-06-23 09:24] rmohr commented on #3631
/triage build-officer

[2020-06-23 09:40] andreabolognani commented on #3615
No, I mean the host OS for the cluster - the one running at L1 in `node01`. The QEMU version coming from the container should be new enough, and as I mentioned I've used that very same QEMU build in a Fedora 31 L1 and had no problem starting an L2 with BIOS.

[2020-06-23 10:18] rmohr commented on #3615
OK, could you try expirting`KUBEVIRT_PROVIDER=k8s-1.18` to use the 1.18 provider? It should be based on centos8. Maybe it works there already.

[2020-06-23 10:23] #3561 closed

[2020-06-23 10:32] enp0s3 commented on #3623
@rmohr PR https://github.com/kubevirt/kubevirt/pull/3632

[2020-06-23 11:44] andreabolognani commented on #3615
That worked perfectly, thanks! I guess it confirms my suspicion that the node OS was the culprit.

Are you planning to make 1.18 the default any time soon? What should we do with this ticket?

[2020-06-23 11:45] rmohr commented on #3615
Yes, soon. Let's keep the ticket open until then. Thanks for reporting.

[2020-06-23 12:12] andreabolognani commented on #3615
Thank *you* for helping figure this out :)

Out of curiosity, do you have a way to mark issues as "will be fixed once X happens", do you go through the issue list and handle them manually every so long, or do you do something else entirely...?

[2020-06-23 12:14] rmohr opened #3633 "Let's create a periodic job which will update cdi regularly and create a PR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We don't update CDI regularly. We should improve that. One way is to let the kubevirt-bot create PR regularly.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

#3571 just updated to latest CDI after months.

**Anything else we need to know?**:

**Environment**:

[2020-06-23 12:15] rmohr commented on #3633
/assign @mhenriks

It could work like the periodic vendor update: https://github.com/kubevirt/project-infra/pull/352

[2020-06-23 12:21] rmohr commented on #3615
Normally only if we have a PR up as a possible solution, where we then put `Fixes #????`.

[2020-06-23 12:23] rmohr commented on #3615
What we have in addition is kubevirt-bot, which goes over the list of open PRs and which adds stale and rotten labels and pings people if an issue is open for a long time but no activity happens.

[2020-06-23 12:34] mhenriks commented on #3630
Let's see how https://github.com/kubevirt/kubevirt/pull/3571 affects this test.  Upload proxy->upload server communication was tightened up a bit.  Also, virtctl now uses the new "async" upload endpoint

[2020-06-23 12:44] rmohr commented on #3610
/assign @davidvossel

could you also have a look? The operator tests are more stable now but still fail quite often.

[2020-06-23 16:42] ormergi commented on #3606
I notice that on today build job there were only 13 tests, is it ok?
https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1275263007852597248

[2020-06-23 18:03] ormergi opened #3637 "Kubevirt-bot running sriov-lane prow jobs on kubevirt release-0.30 branch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Kubevirt-bot running sriov-lane prow jobs on kubevirt release-0.30 branch PR’s
while sriov-lane jobs are disabled for PRs on kubevirt master branch until this lane is stabilized

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2020-06-23 18:07] #3637 closed

[2020-06-23 20:05] davidvossel opened #3638 "copy on write volumes as delta for read only volumes."
/kind enhancement

The feature request here is to facilitate copy on write backing volumes for read-only volumes.

We already have a feature called an "ephemeralVolume" which allows us to attach a read-only PVC to a VMI, and automatically generate an ephemeral copy on write backing disk for that read only disk. However, that cow disk is completely ephemeral and only exists for the lifetime of the

[2020-06-23 20:42] mlsorensen commented on #3638
I think I like how this design embeds and implies the link between the COW and backing volume, and KubeVirt would deal in actually setting up the pod with multiple volumes and configure the backing file path. I was initially thinking that the user would supply both as they would on a pod.

I also like the back propagation idea of the SHA, and having the SHA optional.

I'm a bit torn because I like

[2020-06-24 07:51] dhiller commented on #3606
No, normally it should look like this: https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1275625426416308224
The test run you were looking at is one where the setup of the test cluster failed. These are the "parent" tests that are related to creating the images, checking infra etc. Normally there should

[2020-06-24 15:21] RamLavi commented on #3578
/triage build-officer

[2020-06-24 15:28] RamLavi opened #3644 "[flaky test] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2224] should handle mixture of VMs with different eviction strategies."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
test fails [rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2224] should handle mixture of VMs with different eviction strategies.

prow log

[2020-06-24 15:28] RamLavi commented on #3644
/triage build-officer

[2020-06-24 15:43] RamLavi opened #3645 "[flaky-test] [rfe_id:588][crit:medium][vendor:cnv-qe@redhat.com][level:component]ContainerDisk [rfe_id:4052][crit:high][vendor:cnv-qe@redhat.com][level:component]VMI disk permissions with ephemeral registry disk [test_id:4299]should not have world write permissions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
test failed: [rfe_id:588][crit:medium][vendor:cnv-qe@redhat.com][level:component]ContainerDisk [rfe_id:4052][crit:high][vendor:cnv-qe@redhat.com][level:component]VMI disk permissions with ephemeral registry disk [test_id:4299]should not have world write permissions

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-lo

[2020-06-24 15:43] RamLavi commented on #3645
/triage build-officer

[2020-06-24 15:50] rmohr commented on #3616
/close

Another batch was still in progress and tide was waiting.

[2020-06-24 15:51] #3616 closed

[2020-06-24 18:15] mlsorensen opened #3648 "Externally managed certificates for KubeVirt components"
This feature request is to enable KubeVirt to allow other mechanisms for certificate management. Currently virt-operator is responsible for creating certificates as secrets, updating the secrets, and configuration for the deployments to consume those secrets. It should be possible to "turn off" virt-operator's certificate management and let users implement the means to manage these secrets per the

[2020-06-24 20:44] davidvossel commented on #3638
I guess we could always add an option like `allowContainerDiskTags` as an escape hatch for people who want to reference by tag. That at least forces people toggle an option in order to perform a potentially "unsafe" action.

[code]

[2020-06-24 20:45] davidvossel commented on #3610
I didn't get to this today, but i can take a look soon.

[2020-06-24 21:02] mazzystr commented on #3624
@codificat This [blog](https://kubevirt.io/2018/Hello-KubeVirt-on-Minikube.html) post is obsolete and should be removed from the blogs pages.  This gets back to how our discussion on ensuring new users are directed to the correct GEtting Started page.

[2020-06-24 21:26] mazzystr commented on #3508
Observation: The anaconda log shows failure on /dev/sda3 yet the kickstart shows one partition being created

The kickstart command `part pv.01 --fstype="lvmpv" --size 1 --grow --ondisk=sda` is incorrect.  See CentOS kickstart guide  section command and options reference [here](https://docs.centos.org/en-US/centos/install-guide/Kickstart2/#sect-kickstart-commands).  Web browse search for `autopart

[2020-06-25 07:09] AlonaKaplan commented on #3602
/triage build-officer

[2020-06-25 09:58] rmohr commented on #3587
I am not sure if we have to backport it. We can also just release it with 0.31. I am all for a backport by @crobinso it is still easier this time. Otherwise I would also be happy if we switch to to the right new COPR. They look great btw. :+1:

[2020-06-25 10:03] timstoop commented on #3587
Sounds great. If there's any (easy) way for me to test this, let me know, happy to help and provide feedback.

[2020-06-25 10:42] rmohr commented on #2978
/reopen

/remove-lifecycle rotten

[2020-06-25 10:43] rmohr commented on #2978
We can finally address this when we have https://github.com/kubevirt/project-infra/pull/472. We then only have to upload the release tag to a well known location to gcs.

[2020-06-25 11:59] AlonaKaplan opened #3655 "[prow] running a postsubmitted test failed with - fatal: Couldn't find remote ref deployment-strategy-recreate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running a postsubmitted test failed with - fatal: Couldn't find remote ref deployment-strategy-recreate
The failure happened on nmstate/kubernetes-nmstate repo.

Link to the job - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/publish-kubernetes-nmstate/1275716907839787008

**What you expected to happen**:
Shoud

[2020-06-25 12:00] AlonaKaplan commented on #3655
/triage build-officer

[2020-06-25 12:04] AlonaKaplan commented on #3655
/cc @danielBelenky

[2020-06-25 12:09] andreabolognani commented on #3587
I guess it depends on how frequently you release and how long you support releases once they're out... I'm somewhat familiar with the downstream story, but not with the upstream one :)

Could we switch to the new COPRs right away? What versions of QEMU and libvirt would we use? 4.2.0-7 and 6.0.0-17, which is the closest to what we have right now, or do we want to adopt the newer 5.0.0-2 and 6.4.0-

[2020-06-25 12:15] AlonaKaplan opened #3656 "postsubmit-kubevirtci-bump-kubevirt job fails with "could not start the process" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
postsubmit-kubevirtci-bump-kubevirt job fails with error -
"could not start the process: fork/exec hack/autobump-kubevirtci.sh kubevirt-bot /etc/github/oauth kubevirt-bot rmohr+kubebot@redhat.com: no such file or directory"

Link to the failing job - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/postsubmit-kubev

[2020-06-25 12:16] AlonaKaplan commented on #3656
/triage build-officer

[2020-06-25 12:23] AlonaKaplan opened #3657 "postsubmit-kubevirtci-bump-kubevirt fails with "/etc/github/oauth: No such file or directory" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
postsubmit-kubevirtci-bump-kubevirt fails with errors -
fatal: cannot run cat /etc/github/oauth: No such file or directory
fatal: could not read Password for 'https://kubevirt-bot@github.com': No such device or address

Link to the failing job: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/postsubmit-kubevirtci-

[2020-06-25 12:23] AlonaKaplan commented on #3657
/triage build-officer

[2020-06-25 12:35] AlonaKaplan commented on #3657
/cc @danielBelenky

[2020-06-25 12:35] AlonaKaplan commented on #3656
/cc @danielBelenky

[2020-06-25 15:14] AlonaKaplan commented on #3578
link a job with this test failing - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-k8s-1.16/1275668304685436928

[2020-06-25 15:21] AlonaKaplan opened #3661 "[flaky CI] [rfe_id:588]ContainerDisk [rfe_id:273]Starting multiple VMIs with ephemeral registry disk [test_id:1465]should success"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubevirt-e2e-k8s-1.16 lane -
[rfe_id:588][crit:medium][vendor:cnv-qe@redhat.com][level:component]ContainerDisk [rfe_id:273][crit:medium][vendor:cnv-qe@redhat.com][level:component]Starting multiple VMIs with ephemeral registry disk [test_id:1465]should success

/root/go/src/kubevirt.io/kubevirt/tests/container_disk_test.go

[2020-06-25 15:24] AlonaKaplan commented on #3661
/triage build-officer

[2020-06-25 15:27] AlonaKaplan opened #3662 "[flaky CI] [test_id:2226] VM Live Migration Starting a VirtualMachineInstance live migration cancelation should be able to cancel a migration with ContainerDisk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubevirt-e2e-k8s-1.16 lane -

[rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system]  VM Live Migration Starting a VirtualMachineInstance  live migration  cancelation should be able to cancel a migration [test_id:2226]with  ContainerDisk expand_less | 3m0s
-- | --
/root/go/src/kubevirt.io/kubevirt/vendor/github.c

[2020-06-25 15:27] AlonaKaplan commented on #3662
/triage build-officer

[2020-06-25 15:31] AlonaKaplan opened #3663 "[flaky ci] Storage Starting a VirtualMachineInstance with Alpine PVC should be successfully started with NFS Disk PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubevirt-e2e-k8s-1.16 lane -
Storage  Starting a VirtualMachineInstance  [rfe_id:3106][crit:medium][vendor:cnv-qe@redhat.com][level:component]with  Alpine PVC should be successfully started with NFS Disk PVC

/root/go/src/kubevirt.io/kubevirt/vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go:43 Timed out after

[2020-06-25 15:31] AlonaKaplan commented on #3663
/triage build-officer

[2020-06-25 15:37] AlonaKaplan commented on #3578
one more job with the same failure - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-k8s-1.17/1275668304681242624

[2020-06-25 15:40] AlonaKaplan commented on #3644
link to one more failing job with the same error: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-k8s-1.17/1275668304681242624

[2020-06-25 15:46] AlonaKaplan opened #3664 "[flaky ci] [test_id:1635] VMIlifecycle Creating a VirtualMachineInstance with node tainted the vmi with tolerations should be scheduled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle   [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating  a VirtualMachineInstance with node tainted [test_id:1635]the vmi with  tolerations should be scheduled 

/root/go/src/kubevirt.io/kubevirt/tests/vmi_lifecycle_test.go

[2020-06-25 15:46] AlonaKaplan commented on #3664
/triage build-officer

[2020-06-25 16:20] AlonaKaplan commented on #3623
@enp0s3 the failure happened [again](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1275775060711313408).

Seems that is was on a PR that was merged after your.

Please check if the issue should be reopened.

[2020-06-25 16:30] AlonaKaplan opened #3665 "[flaky ci][ipv6 lane] command SyncVMI failed: LibvirtError qemu unexpectedly closed the monitor KVM: Cannot allocate memory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The error happened on this test, but seems to be unrelated to the test itself -
Networking  VirtualMachineInstance with masquerade binding mechanism  [test_id:1780]should allow regular network connection without a specific  port number

/root/go/src/kubevirt.io/kubevirt/vendor/github.com/onsi/ginkgo/extensions/table/tabl

[2020-06-25 16:30] AlonaKaplan commented on #3665
/triage build-officer

[2020-06-25 16:34] AlonaKaplan commented on #3665
//kind bug cancel

[2020-06-25 16:34] AlonaKaplan commented on #3665
/kind bug

[2020-06-25 16:35] AlonaKaplan commented on #3665
/kind bug cancel

[2020-06-25 16:49] AlonaKaplan commented on #3665
Another test with the same error =

Storage  Starting a VirtualMachineInstance  [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component]  With HostDisk and PVC initialization With a HostDisk defined With  'DiskExistsOrCreate' type Should create a disk image and start  [test_id:3057]with sata driver expand_less | 25s
-- | --
/root/go/src/kubevirt.io/kubevirt/vendor/github.com/onsi/gink

[2020-06-25 16:54] AlonaKaplan opened #3666 "[flaky ci][test_id:4113] VM Live Migration Starting a VirtualMachineInstance with a Cirros disk should be successfully migrate with cloud-init disk with devices on the root bus"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system]  VM Live Migration Starting a VirtualMachineInstance  with a Cirros disk  [test_id:4113]should be successfully migrate with cloud-init disk with  devices on the root bus

/root/go/src/kubevirt.io/kubevirt/tests/migration_test.go:390 VMI testvmidlflhxlmgdbn7c

[2020-06-25 16:54] AlonaKaplan commented on #3666
/triage build-officer

[2020-06-25 16:58] AlonaKaplan commented on #3665
More tests failing with the same error - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3641/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1275693251352858624

[2020-06-25 16:58] AlonaKaplan commented on #3665
/remove-label kind/enhancement

[2020-06-25 17:01] phoracek commented on #3665
/remove-kind enhancement

[2020-06-25 17:03] AlonaKaplan commented on #3665
/remove-kind enhancement

[2020-06-25 17:11] AlonaKaplan opened #3667 "[flaky ci][[test_id:4114] VM Live Migration Starting a VirtualMachineInstance with setting guest time should set an updated time after a migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system]  VM Live Migration Starting a VirtualMachineInstance  with setting guest  time [test_id:4114]should set an updated time after a migration

/root/go/src/kubevirt.io/kubevirt/tests/migration_test.go:518 Expected     <v1.VirtualMachineInstanceMigrationPhase>: F

[2020-06-25 17:11] AlonaKaplan commented on #3667
/triage build-officer

[2020-06-25 17:15] mazzystr commented on #3312
Is this issue still applicable?  I don't see this behavior with the following vm and service manifests....

vm manifest...
[code]

service manifest...
[code]

[2020-06-25 17:15] AlonaKaplan commented on #3644
Another job with the same failure - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1275546119522226176

[2020-06-25 17:19] AlonaKaplan opened #3668 "[flaky ci] Operator should adopt previously unmanaged entities by updating its metadata"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Operator should adopt previously unmanaged entities by updating its metadata

/root/go/src/kubevirt.io/kubevirt/tests/operator_test.go:545 Unexpected error:     <*errors.errorString \| 0xc00180d3a0>: {         s: "unable to listen on any of the requested ports: [{5000 8444}]",     }     unable to listen on any of the req

[2020-06-25 17:19] AlonaKaplan commented on #3668
/triage build-officer

[2020-06-25 17:23] phoracek commented on #3312
@mazzystr try setting the target port in the masquerade binding. I believe it should fix this issue. Just note that it would employ masquerade binding instead of bridge, so you would see a different IP in the VM.

[code]

https://kubevirt.io/user-guide/#/creation/interfaces-and-networks?id=frontend

[2020-06-25 17:27] mazzystr commented on #3312
@phoracek I don't have an issue :)  I'm able to reach the service A-OK :)

[2020-06-25 17:30] phoracek commented on #3312
@mazzystr oh my, I see problems everywhere!

Then it seems that the bridge binding does not have the same issue as the masquerade one has (there you need to specify the port). I'm updating the title.

[2020-06-25 17:30] AlonaKaplan commented on #3631
Another job with the same issue - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1275865685297205248

[2020-06-25 17:39] AlonaKaplan opened #3669 "[flaky ci] [test_id:1199]Probes for liveness should not fail the VMI with working TCP probe and tcp server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[ref_id:1182]Probes for liveness should not fail the VMI [test_id:1199][posneg:positive]with working TCP probe and tcp server

/root/go/src/kubevirt.io/kubevirt/vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go:43 VMI testvmiz2fc8bwwnx999mwml2xqbw6j9ktgp478npb8579f86xg8v49 unexpectedly stopped. State: Failed

[2020-06-25 17:39] AlonaKaplan opened #3670 "[flaky ci][test_id:3124]Configurations with machine type settings should set machine type from VMI spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Configurations   [rfe_id:2869][crit:medium][vendor:cnv-qe@redhat.com][level:component]with  machine type settings [test_id:3124]should set machine type from VMI  spec

/root/go/src/kubevirt.io/kubevirt/tests/vmi_configuration_test.go:1541 Timed out after 30.000s. Timed out waiting for VMI testvminfgt5xtv9f8x5c9wpn729gqrh

[2020-06-25 17:39] AlonaKaplan opened #3671 "[flaky ci] [test_id:3906] Configurations New VirtualMachineInstance with all supported drives should configure custom Pci address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Configurations  [rfe_id:898][crit:medium][vendor:cnv-qe@redhat.com][level:component]New  VirtualMachineInstance with all supported drives [test_id:3906]should  configure custom Pci address

/root/go/src/kubevirt.io/kubevirt/tests/vmi_configuration_test.go:1753 Unexpected error:     <expect.TimeoutError>: 60000000000

[2020-06-25 17:39] AlonaKaplan opened #3672 "[flaky ci][test_id:1528]VirtualMachine A valid VirtualMachine given should survive guest shutdown, multiple times"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine  A valid VirtualMachine given [test_id:1528]should survive guest  shutdown, multiple times

/root/go/src/kubevirt.io/kubevirt/tests/vm_test.go:679 Unexpected error:     <expect.TimeoutError>: 60000000000     expect: timer expired after 60

[2020-06-25 17:39] AlonaKaplan commented on #3672
/triage build-officer

[2020-06-25 17:39] AlonaKaplan commented on #3671
/triage build-officer

[2020-06-25 17:39] AlonaKaplan commented on #3669
/triage build-officer

[2020-06-25 17:39] AlonaKaplan commented on #3670
/triage build-officer

[2020-06-25 17:49] AlonaKaplan opened #3673 "[flaky ci][test_ids:3198]VMIlifecycle Creating a VirtualMachineInstance when virt-handler is responsive device plugins should re-register if the kubelet restarts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle   [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating  a VirtualMachineInstance when virt-handler is responsive  [test_ids:3198]device plugins should re-register if the kubelet  restarts

/root/go/src/kubevirt.io/kubevir

[2020-06-25 17:49] AlonaKaplan commented on #3673
/triage build-officer

[2020-06-25 17:49] AlonaKaplan opened #3674 "[flaky ci] [test_id:3169] CloudInitHookSidecars VMI definition with CloudInit hook sidecar should have cloud-init user-data from sideca"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

CloudInitHookSidecars VMI definition with CloudInit hook sidecar [test_id:3169]should have cloud-init user-data from sideca

/root/go/src/kubevirt.io/kubevirt/tests/vmi_cloudinit_hook_sidecar_test.go:119 Unexpected error:     <expect.TimeoutError>: 15000000000     expect: timer expired after 15 seconds occurred /root/go/

[2020-06-25 17:50] AlonaKaplan commented on #3674
/triage build-officer

[2020-06-25 18:11] AlonaKaplan opened #3675 "[flaky ci][test_id:1379]DataVolume tests Verify DataVolume should succeed creating import dv with given valid qcow2 url (https) should require scratchspace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[vendor:cnv-qe@redhat.com][level:component]DataVolume  tests Verify DataVolume should  [rfe_id:1115][crit:high][test_id:1379]succeed creating import dv with  given valid qcow2 url (https) should require scratchspace

/go/src/kubevirt.io/containerized-data-importer/vendor/github.com/onsi/ginkgo/extensions/table/table_entr

[2020-06-25 18:11] AlonaKaplan opened #3676 "[flaky ci][test_id:1368]Upload tests should succeed given a valid token"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[rfe_id:138][crit:high][vendor:cnv-qe@redhat.com][level:component]Upload tests should [test_id:1368]succeed given a valid token

/go/src/kubevirt.io/containerized-data-importer/vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go:43 Unexpected error:     <*errors.errorString \| 0xc001a6c000>: {         s: "Unexp

[2020-06-25 18:11] AlonaKaplan opened #3677 "[flaky ci]Block PV Cloner Test Should clone data across namespaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Block PV Cloner Test Should clone data across namespaces

/go/src/kubevirt.io/containerized-data-importer/tests/cloner_test.go:560 Unexpected error:     <*errors.errorString \| 0xc000390a00>: {         s: "DataVolume target-dv not in phase Succeeded within 4m30s",     }     DataVolume target-dv not in phase Succeeded wit

[2020-06-25 18:11] AlonaKaplan opened #3678 "[flaky ci][test_id:1355]Cloner Test Suite Should clone data across different namespaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[rfe_id:1277][crit:high][vendor:cnv-qe@redhat.com][level:component]Cloner  Test Suite [test_id:1355]Should clone data across different namespaces

/go/src/kubevirt.io/containerized-data-importer/tests/cloner_test.go:110 Unexpected error:     <*errors.errorString \| 0xc0002d7340>: {         s: "timed out waiting for the c

[2020-06-25 18:11] AlonaKaplan commented on #3678
/triage build-officer

[2020-06-25 18:12] AlonaKaplan commented on #3677
/triage build-officer

[2020-06-25 18:12] AlonaKaplan commented on #3676
/triage build-officer

[2020-06-25 18:12] AlonaKaplan commented on #3675
/triage build-officer

[2020-06-25 18:12] viorelcanja commented on #3638
What do you think about referencing a volume instead of a pvc or a container disk ?

The referenced volume could be a pvc or a containerdisk or even a deltavolume allowing chaining multiple levels of delta files. I admit I am influenced by my use case which would require me to be able to snapshot a machine without storage/filesystem assistance and treat that machine as a template from which to bra

[2020-06-25 20:40] oshoval commented on #3623
this time its the bug that #3543 fixes, we can see there exactly that it took the 0 from the SND
and that it couldnt add the nameserver (3 bugs affect it and are addressed in the PR)

[2020-06-25 20:42] oshoval commented on #3666
[code]

when we see this, its a dupe of https://github.com/kubevirt/kubevirt/issues/3575
usually, for some reason the numbers of the artifacts doesn't correspond the number of the tests
when it happens the previous log of virt-handler shows a panic, i see the panic there, but not with the corresponding number

[2020-06-25 20:48] davidvossel commented on #3638
Ha, yeah. my design was purposefully attempting to steer us away from some of the complexity around multiple delta files and chaining. The conflict here is that we're already working on a snapshot solution that's based on the Kubernetes storage snapshot api. If we provide too much flexibility with this delta/cow file logic, then the conversation around snapshots becomes less straight forward.

I w

[2020-06-25 21:20] crobinso commented on #3587
I pushed qemu-kvm-4.2.0-27.el8 to for-kubevirt-8.2 now which contains that fix

[2020-06-25 21:21] oshoval commented on #3671
#3543 should fix it, saw the error setting of DNS there

[2020-06-25 22:40] mazzystr commented on #3312
I just tested with ```{ "interfaces: { "name": "default", "masquerade": {}, ports: { "name": "special", "port": "8096" }``` and without.  I'm able to curl the web app in both.

I suggest checking out your host firewall as well as the firewall within the guest.

[2020-06-26 04:36] #3563 closed

[2020-06-26 04:50] oshoval commented on #3578
https://github.com/kubevirt/kubevirt/pull/3649

[2020-06-26 07:28] rmohr commented on #3623
/reopen

Let's ensure that the failing tests were not triggered before this here was merged.

[2020-06-26 07:29] rmohr commented on #3656
/close

I was experimenting with this new job. Sorry for the noise.

[2020-06-26 07:29] #3656 closed

[2020-06-26 07:29] rmohr commented on #3657
/close

I was experimenting with this new job. That were just test runs. Sorry for the noise.

[2020-06-26 07:29] #3657 closed

[2020-06-26 07:32] qinqon commented on #3578
/assign @jean-edouard

[2020-06-26 07:43] rmohr commented on #3655
/close

Moved to nmstate: https://github.com/nmstate/kubernetes-nmstate/issues/567

[2020-06-26 07:43] #3655 closed

[2020-06-26 07:48] rmohr commented on #3648
How about:

[code]

[2020-06-26 07:49] rmohr commented on #3584
/cc @mhenriks can we improve some things here?

[2020-06-26 07:49] rmohr commented on #3584
/assign @mhenriks

[2020-06-26 07:50] rmohr commented on #3624
/assign @codificat

[2020-06-26 08:09] rmohr commented on #3665
Seeing Another one: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3681/pull-kubevirt-e2e-k8s-cnao-1.17/1276419455433314305

[2020-06-26 08:11] qinqon opened #3683 "Periodic job `periodic-test-infra-rotten` is failing and there is no logs at prow."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Periodic job `periodic-test-infra-rotten` is failing and there is no logs at prow.

job: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-test-infra-rotten/1276398316250206208

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2020-06-26 08:11] qinqon commented on #3683
/triage build-officer

[2020-06-26 08:32] qinqon commented on #3623
@rmohr I see test_id 1678 being run at k8s-1.16 and k8s-1.18 lanes and passing at the PR before merge

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3632/pull-kubevirt-e2e-k8s-1.18/1275376117397590016
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3632/pull-kubevirt-e2e-k8s-1.16/1275754656672256000

[2020-06-26 09:06] qinqon commented on #3683
wrong project

[2020-06-26 09:06] #3683 closed

[2020-06-26 09:14] andreabolognani commented on #3587
Thanks @crobinso! I'll get to work updating the container image right away :)

[2020-06-26 09:18] qinqon commented on #3610
New job failing: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3571/pull-kubevirt-e2e-k8s-1.18/1276202401245696000/build-log.txt

[2020-06-26 09:30] qinqon commented on #3678
Another failing jobs: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_containerized-data-importer/1261/pull-containerized-data-importer-e2e-k8s-1.17-ceph/1276320429924945920/build-log.txt

[2020-06-26 10:11] phoracek commented on #3312
@mazzystr well I'm puzzled even more, thanks for checking! May I ask you what is your version of Kubernetes and KubeVirt?

[2020-06-26 11:20] #3578 closed

[2020-06-26 11:28] rmohr commented on #3661
/cc @davidvossel

I think this one is a real bug.

The logs show the pods running https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-k8s-1.16/1275550270280962048/artifacts/2_pods.log:

[code]

and virt-handler loops in https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-k8s-1.16/1275550270280962048/artif

[2020-06-26 11:44] AlonaKaplan commented on #3661
The [PR](https://github.com/kubevirt/kubevirt/pull/3488) adding this dir  /var/run/kubevirt-private/network-info-cache was [reverted](https://github.com/kubevirt/kubevirt/pull/3641).

/cc @vatsalparekh please make sure the new [PR](https://github.com/kubevirt/kubevirt/pull/3642) doesn't introduce a bug.

[2020-06-26 11:45] rmohr commented on #3661
/assign @vatsalparekh

[2020-06-26 11:48] rmohr commented on #3661
/close
@AlonaKaplan thanks.

Closing since it is not in the codebase and the test looks very stable: https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-25-168h.html#row145

[2020-06-26 11:48] #3661 closed

[2020-06-26 12:47] davidvossel commented on #3610
i'm currently debugging this. I hope to have this resolved by eod

[2020-06-26 15:11] qinqon opened #3687 "[flaky CI][test_id:1657] VMIlifecycle Killed VirtualMachineInstance should be left alone by virt-handler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Following test is failing at two different PRs unrelated to the test
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3635/pull-kubevirt-e2e-k8s-1.18/1276418826476457984
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3571/pul

[2020-06-26 15:18] qinqon commented on #3630
Not happening at latest flakefinder closing this issue https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-26-024h.html

[2020-06-26 15:18] qinqon commented on #3630
/close

[2020-06-26 15:18] #3630 closed

[2020-06-26 15:19] qinqon commented on #3644
I don't see it at latest flake finder https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-26-024h.html

[2020-06-26 15:21] qinqon commented on #3623
I don't see this at latest flake finder closing the issue again.

/close

[2020-06-26 15:21] #3623 closed

[2020-06-26 15:27] qinqon commented on #3662
This test has being working last 24h I think we can close it.

/close

[2020-06-26 15:39] qinqon opened #3688 "[flaky CI][rfe_id:609]VMIheadless [rfe_id:609]Creating a VirtualMachineInstance with headless [test_id:738][posneg:negative]should not connect to VNC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Following test is failing at not related PR:
[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3684/pull-kubevirt-e2e-k8s-1.17/1276461105161441283

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2020-06-26 15:40] #3624 closed

[2020-06-26 15:45] qinqon opened #3689 "[flaky CI]Infrastructure [rfe_id:3187][crit:medium][vendor:cnv-qe@redhat.com][level:component]Prometheus Endpoints [test_id:4142]should include the storage metrics for a running VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3635/pull-kubevirt-e2e-k8s-1.18/1276198374852268032

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2020-06-26 16:06] codificat commented on #3624
Thanks for the report - the blog post has now been removed as discussed.

There's also work in progress to improve the mentioned [minikube quickstart](https://kubevirt.io/quickstart_minikube/) page to incorporate the kubevirt addon, among other improvements.

[2020-06-27 12:18] viorelcanja commented on #3638
This is what I had in mind:

apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  labels:
    kubevirt.io/vm: vm-cirros
  name: vm-cirros
spec:
  running: false
  template:
    metadata:
      labels:
        kubevirt.io/vm: vm-cirros
    spec:
      domain:
        devices:
          disks:
          - disk:
              bus: virtio
            name: my-cow-volume1
          - disk:

[2020-06-28 06:09] oshoval commented on #3669
duplicate of #3575
i see the panic at
5_kubevirt_virt-handler-ns8lw-virt-handler_previous.log

[2020-06-28 06:11] oshoval commented on #3672
#3543 fixes this
(updating /etc/resolv.conf error is seen)

[2020-06-28 06:13] oshoval commented on #3673
#3598 was merged,
there was a double unlink of this socket, i would suggest to see if it happens again first.

[2020-06-28 06:15] oshoval commented on #3674
i would wait first for #3543 to be merged, as expecter that is used here (cirros), could leak characters which will influence the following expecters,
i see in the log the leakage, and saw it before

[2020-06-28 06:22] oshoval commented on #3631
about the run in the title

dupe for sure of #3575
i see all the syndromes
1. kvm is missing
2. virt-handler crashed due to panic (see virt-handler 1_* previous)

[2020-06-28 06:48] AlonaKaplan commented on #3602
links to failing jobs -
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3550/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1274404687931510784
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3406/pull-kubevirt-e2e-k8s-1.18/1274979489599721472

[2020-06-28 06:51] oshoval commented on #3602
[code]
i would suggest to add sending \n between those two, because i see in the logs the first one "steals" the prompt when the race occurs.

[2020-06-28 11:12] maya-r commented on #3675
I think cdi's repository is a better place for this issue (the test is in CDI)

[2020-06-28 15:11] maya-r opened #3696 "[flaky CI][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with a Cirros disk [test_id:1783]should be successfully migrated multiple times with cloud-init disk"
/kind bug

via [flakefinder](https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/index.html)

The following test is failing (notably, on the k8s-1.18 lane, which is more stable):

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3635/pull-kubevirt-e2e-k8s-1.18/1276335275940777984

[2020-06-28 15:38] maya-r opened #3697 "[flaky CI][ref_id:1182]Probes for readiness should succeed [test_id:1202][posneg:positive]with working TCP probe and tcp server"
Via [flakefinder](https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/index.html)
/kind bug

The following run failed: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3509/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1277077919100833792

This test failed more times, but in this one it was the sole failure.

[code]

[2020-06-28 15:38] maya-r commented on #3697
/triage build-officer

[2020-06-28 15:42] maya-r commented on #3696
This looks remarkably similar to #3666 but the ID is different. Perhaps they are the same issue.

[2020-06-28 15:42] maya-r commented on #3696
/triage build-officer

[2020-06-28 17:01] maya-r commented on #3665
I am seeing related failures with slightly different failure messages

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3652/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276487026698358785
VM Live Migration Starting a VirtualMachineInstance migration security [test_id:2303][posneg:negative] should secure migrations with TLS
command SyncVMI failed: "LibvirtError(Code=67,

[2020-06-28 17:20] maya-r opened #3699 "[flaky CI][test_id:3123]should start a Virtaul Machine with matching features"
/kind bug
(Also, the typo in the test name)

Via flakefinder.

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3635/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276428137726480384

[code]

[2020-06-28 17:20] maya-r commented on #3699
/triage build-officer

[2020-06-28 17:27] maya-r opened #3700 "[flaky CI][test_id:1633]should indicate that a node is ready for vmis"
/kind bug

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3635/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276428137726480384

[code]

[2020-06-28 17:27] maya-r commented on #3700
/triage build-officer

[2020-06-28 17:30] maya-r opened #3701 "[flaky CI] "Could not find virt-launcher pod for VMI" [test_id:1629][posneg:negative]should not be able to start virt-launcher pod"
/kind bug

Via flakefinder.
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3652/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276487026698358785

[code]

[2020-06-28 17:30] maya-r commented on #3701
/triage build-officer

[2020-06-28 17:32] maya-r opened #3702 "[Flaky CI] In "Running" instead of "Succeeded": With HostDisk and PVC initialization With a HostDisk defined With 'DiskExistsOrCreate' type Should create a disk image and start [test_id:851]with virtio driver expand_more"
/kind bug

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3598/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276634749405761536

[code]

It's possible it's just a low timeout/slower CI.

[2020-06-28 17:32] maya-r commented on #3702
/triage build-officer

[2020-06-28 17:34] maya-r opened #3703 "[Flaky CI][test_id:1591]should close console connection when new console connection is opened"
/kind bug

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3598/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276726855847645184

[code]

[2020-06-28 17:34] maya-r commented on #3703
/triage build-officer

[2020-06-28 17:36] maya-r opened #3704 "[flaky CI]Pausing A long running process [test_id:3090]should be continued after the VMI is unpaused"
/kind bug
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3598/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276726855847645184

[code]

[2020-06-28 17:36] maya-r commented on #3704
/triage build-officer

[2020-06-28 18:08] oshoval commented on #3697
dupe #3575
see "panic: send on closed channel" in virt-handler previous

[2020-06-28 18:08] oshoval commented on #3699
#3543 would fix

[2020-06-28 18:20] maya-r commented on #3697
I'll close it - I am trying to minimize the noise already :-)

[2020-06-28 18:20] #3697 closed

[2020-06-28 18:20] maya-r commented on #3699
OK, I'll close it to minimize the noise and ensure the non-duplicate issues get adequate attention.

[2020-06-29 06:53] biliwewe commented on #3638
@davidvossel This will reduce the disk footprint, praise you, I can’t wait to try it out.

[2020-06-29 07:39] dhiller commented on #3678
/close duplicate

[2020-06-29 07:40] dhiller commented on #3678
Duplicate

[2020-06-29 07:40] #3678 closed

[2020-06-29 07:40] dhiller commented on #3676
Duplicate

[2020-06-29 07:40] #3676 closed

[2020-06-29 07:40] dhiller commented on #3677
Duplicate

[2020-06-29 07:40] #3677 closed

[2020-06-29 07:40] dhiller commented on #3675
Duplicate

[2020-06-29 07:40] #3675 closed

[2020-06-29 08:55] rmohr commented on #3575
@davidvossel maybe you can assist @oshoval on this one?

[2020-06-29 08:57] rmohr commented on #3699
/reopen

Let's not close issues where the fix is not merged yet.

[2020-06-29 08:58] rmohr commented on #3699
/close

Ah ok we have an issue for that : #3619

[2020-06-29 08:58] #3699 closed

[2020-06-29 12:06] rmohr opened #3707 "[release-30] [flaky ci] Configurations [rfe_id:904][crit:medium][vendor:cnv-qe@redhat.com][level:component]with driver cache settings and PVC [test_id:1681]should set appropriate cache modes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

The following test failed on the release-0.30 branch:
[code]
with
[code]
Logs:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3695/pull-kubevirt-e2e-k8s-1.15-ceph/1277263518088826880
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3695/pull-kubevirt-e

[2020-06-29 12:06] rmohr commented on #3707
/triage build-officer

[2020-06-29 12:14] ormergi commented on #3707
On PR #3695 this test failed on two lanes, I noticed that the failed lanes ran on the same node
but different from the node that the passed lanes ran on:
**failed lanes** 1.16 and 1.15 ceph ran on:
`ibm-srv03.ovirt.org / 184.173.57.212`
passed lanes 1.16-ipv6 and 1.17-cnao ran on:
`ibm-srv06.ovirt.org / 184.173.57.210`
and windos2016 lane ran on:
`ibm-srv05.ovirt.org / 184.173.57.214`

[2020-06-29 12:38] rmohr commented on #3696
https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3635/pull-kubevirt-e2e-k8s-1.18/1276335275940777984/artifacts/pods/1_kubevirt-test-default_virt-launcher-testvmic7ttddvm6k7w8hw49v4nddqdzrkzn2x7q88wjs2lhm-compute.log looks interesting. Especially

[code]

/assign @vladikr

would you mind having a look?

[2020-06-29 12:39] davidvossel commented on #3575
I don't think we're waiting for the grpc server to stop properly.  We tell the server to "stop" but don't wait for it to exit.

It might be as simple as something like this.

[code]

[2020-06-29 12:46] davidvossel commented on #3575
I opened a pr #3709 maybe this addresses it.

[2020-06-29 13:03] oshoval commented on #3575
Thanks David,

Discussed with Alona, Serve wont wait for handleRawConn which is a function that serveStreams runs in a go routine.
We think that we should add a mechinsem that will protect closing the channel. with a reader writer lock of the handleRawConn.
Wdyt ?

Commented in the PR about what i think would happen.

[2020-06-29 15:46] mlsorensen commented on #3648
Yes, certainly if there is ever to be any configuration associated with it then it will need to be more than a boolean. #3 above hints to the fact that this is likely to be the case.

[2020-06-29 15:52] rmohr opened #3711 "[flaky ci] [rfe_id:151][crit:high][vendor:cnv-qe@redhat.com][level:component]CloudInit UserData [rfe_id:151][crit:medium][vendor:cnv-qe@redhat.com][level:component]A new VirtualMachineInstance with cloudInitConfigDrive networkData [test_id:3185]should have cloud-init network-config with NetworkDataBase64 source"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

Logs:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3646/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1277208781377245184

From the expect output it looks to me like most likely the expect expression is a little bit weak. The test is in general very stable, but someone should look i

[2020-06-29 15:52] rmohr commented on #3711
/triage build-officer
/area networking

[2020-06-29 15:53] rmohr commented on #3711
/topic network

[2020-06-29 15:56] rmohr commented on #3669
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3509/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1277077919100833792

[2020-06-29 16:06] rmohr opened #3712 "[flaky ci] [rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with auto converge enabled [test_id:3237]should complete a migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

Job:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3646/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1277032117208879104

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kube

[2020-06-29 16:06] rmohr commented on #3712
/triage build-officer
/assign @vladikr

[2020-06-29 16:09] mlsorensen commented on #3638
Yeah, I originally had pictured it working this way as well, basically just allowing you to add a copy on write layer and indirectly manipulate its backing file path by 'pointing' at another volume of any type, be it raw or qcow2, PVC or ContainerDisk. This is very flexible and allows the user to do a lot of things, for example a ReadOnlyMany PVC as a backing file for many VMs, or complex layering

[2020-06-29 16:13] oshoval commented on #3669
this link appears at
https://github.com/kubevirt/kubevirt/issues/3697
and indeed is dupe of #3575
but i am close to a final PR for it

[2020-06-29 16:21] oshoval commented on #3711
i believe #3543 would fix it, but we need to make sure, once its merged
i see leakage of characters from previous SND batch there, that ruin the EXP

[2020-06-29 16:21] mlsorensen commented on #3638
FWIW, I can't really think of any sort of VM provider that lets the user directly manipulate COW layers and their backing files. There's usually some sort of abstraction or control around how volumes work and what can be done in each platform.  The above is more like letting a sys admin go wild with libvirt XML, rather than a platform with good design guardrails.

[2020-06-29 17:13] oshoval commented on #3575
Purposing this
https://github.com/kubevirt/kubevirt/pull/3713/files

[2020-06-29 21:28] stu-gott commented on #3560
Closing this issue as there are PR's to resolve it

[2020-06-29 21:28] #3560 closed

[2020-06-29 21:41] stu-gott commented on #3621
Looking at the specific failure in the prow log, this looks like the migration simply ran out of time. I've seen this test fail where none of the 4 VMIs ever started migrating. In this case two nodes actually did complete a migration in time.

It looks like the test is set to time out after 4 minutes. @vladikr is it reasonable to raise that limit?

[2020-06-30 07:45] tiraboschi opened #3717 "Failing periodic job: periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-officer

**What happened**:
Failing periodic job: periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4

https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/?type=periodic&job=periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-a

[2020-06-30 08:02] timstoop opened #3718 "Allow logging of the console"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We have a situation where we would like to log the console. As we've been running KVM VMs for years directly on hardware, it's one of those debugging options that we're used to and really miss when switching to kubevirt. There are a lot of situations where problems happen (for instance kernel panics) that are ver

[2020-06-30 09:18] rmohr commented on #3718
Sounds indeed like a useful feature. We probably have to come up with a sane design, especially on where to store and how to retrieve the logs.

[2020-06-30 11:35] oshoval commented on #3619
I saw several failures of test 1537 on other PRs / flake finder,
that the PR which fix this issue would fix as well

for example this is from flake finder
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3635/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1276160879255097344

[2020-06-30 14:54] rmohr commented on #3665
An update on

[code]

this one seems to be resolved with some disk io cache changes on the nodes.

The issue regarding to `open /dev/null: operation not permitted` appears to be unrelated.

/assign @qinqon

Thanks for investigating the /dev/null issue.

[2020-06-30 14:55] rmohr commented on #2566
/assign @qinqon

FYI we had  this issue before already when we were testing openshift 3.11 inside a VM. It looks like the bare-metal machines (which run openshift) in combination with kind seems to run into this issue too.

[2020-06-30 17:46] nunnatsa opened #3721 "[rfe_id:253][crit:medium][vendor:cnv-qe@redhat.com][level:component]Expose Expose UDP service on a VMI Expose ClusterIP UDP service [test_id:1535][label:masquerade_binding_connectivity]Should expose a ClusterIP service on a VMI and connect to it"
/kind bug

/triage build-officer

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3628/pull-kubevirt-e2e-k8s-1.16/1277535559622856705

[code]

[2020-07-01 03:28] #3602 closed

[2020-07-01 11:28] oshoval commented on #3672
please close, #3543 was merged

[2020-07-01 11:28] oshoval commented on #3671
please close, #3543 was merged

[2020-07-01 11:29] dhiller commented on #3606
Should be fixed with run tonight: https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/?type=periodic&job=*-ci-kubevirt-kubevirt-*

[2020-07-01 12:18] #3671 closed

[2020-07-01 12:19] #3672 closed

[2020-07-01 13:57] dren-dk opened #3728 "VM remains Scheduled, with no qemu-kvm process in virt-launcher when using large images"
/kind bug

**What happened**:

I tried to start a VM with windows 10, in a large'ish containerdisk of about 10 Gi, but the VM remains in phase Scheduled and I can't figure out why.

kubectl -n flfr describe virtualmachineinstance.kubevirt.io/windows-glenmorangie  says
[code]

kubectl -n flfr describe pod/virt-launcher-windows-glenmorangie-cpvt2   says:
[code]

The compute container in the virt-lau

[2020-07-01 16:22] yuvalturg opened #3731 "Operator [rfe_id:2291][crit:high][vendor:cnv-qe@redhat.com][level:component]should update kubevirt [test_id:3145]from previous release to target tested release"
/kind bug

/triage build-officer

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3716/pull-kubevirt-e2e-k8s-1.18/1277857808577990656
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3716/pull-kubevirt-e2e-k8s-1.18/1277695112318554113

```Operator [rfe_id:2291][crit:high][vendor:cnv-qe@redhat.com][level:component]should update kube

[2020-07-01 17:27] yuvalturg commented on #3731
Duplicate of #3610

[2020-07-01 17:27] #3731 closed

[2020-07-01 20:13] mazzystr opened #3732 "virtctl expose needs better help"
/kind enhancement

**What happened**: I noticed virtctl has an expose feature and tried it out.
[code]

**What you expected to happen**: The help for this cmd is greatly lacking.  It would be great to improve this so users can understand what it does and how to use it.

I'm back to creating kubernetes nodeport services manually :/

**How to reproduce it (as minimally and precisely as possible)**:

[2020-07-02 06:24] oshoval commented on #3721
@phoracek
i can take it if need as soon as i have time, thanks

[2020-07-02 07:53] qinqon commented on #2566
Another one https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3684/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1278456503107325953

I have prepare a simplistic "reproducer" here https://github.com/kubevirt/kubevirt/pull/3724 running `tee /dev/null` inside a pod using virt-launcher container but looks like it's fine after running several times.

[2020-07-02 08:43] dren-dk commented on #3728
I've been digging through the logs and compared one from an instance that worked with the one from the broken instance.

It seems the last thing that happens in the broken instance is setting the owner of the disk image files:

[code]

Comparing "grep 'Setting DAC user and group on'" from the two log files yields:

Working:
[code]

Broken:
[code]

The broken pod has files still owned by root after

[2020-07-02 09:28] qinqon commented on #2566
Added some stuff to the kubernetes reporter to list files at pods with type and permissions https://github.com/kubevirt/kubevirt/pull/3724/commits/8dae06373317973ea3f0c6d5b90b0108af8852c0

[2020-07-02 09:58] dren-dk commented on #3728
I think my assumption was correct. I have have built a new image with copy --chmod=107:107 so the permissions are correct from the image and that causes the DAC lines to roll by in a few ms.

I'm still testing the solution, but I think there ought to be:
* Prominent warnings from virt-launcher when the permissions are wrong.
* Prominent documentation on how to write a working Dockerfile with corre

[2020-07-02 14:07] ashleyschuett commented on #3664
/assign

[2020-07-02 15:33] ClaudiuPID opened #3737 "hookSidecars causes readiness probe kubevirt-infra/healthy failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Creating a VMIRS with hookSidecars will result in compute container probe failure.
Part of the definition I used:
[code]
Describe from failed virt-launcher pod:
[code]
The VM is started and virt-launcher pod probes pass if I comment out hookSidecars.
I attached on compute container and I can confirm that the directory `/v

[2020-07-02 15:48] #3587 closed

[2020-07-02 15:57] rmohr commented on #3587
@andreabolognani @crobinso thanks for pushing the changes.

@timstoop the PR did not make it into the 0.31 release candidate, but our periodic developer build job will release the change in roughly 9 hours. You should see the build [here](https://prow.apps.ovirt.org/?job=periodic-kubevirt-push-nightly-build-master) then. Once it ran you can install kubevirt with

[code]

[2020-07-02 17:33] orenc1 commented on #3662
/reopen
This test case failure recurred today, on `pull-kubevirt-e2e-k8s-1.17` lane:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3708/pull-kubevirt-e2e-k8s-1.17/1278479781469360129

[2020-07-02 17:37] oshoval commented on #3662
@phoracek i would like to work on this one if possible
thanks

[2020-07-02 17:42] orenc1 opened #3739 "[rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance live migration cancelation should be able to cancel a migration [It] [test_id:2226]with ContainerDisk"
/kind bug
/triage build-officer

**What happened**:
[Prow Job link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3708/pull-kubevirt-e2e-k8s-1.17/1278479781469360129#1:build-log.txt%3A6844)
[code]
**Lane**:
pull-kubevirt-e2e-k8s-1.17

[2020-07-02 18:16] orenc1 opened #3740 "[rfe_id:2291][crit:high][vendor:cnv-qe@redhat.com][level:component]infrastructure management [rfe_id:3578][crit:high][vendor:cnv-qe@redhat.com][level:component] deleting with BlockUninstallIfWorkloadsExist [test_id:3683]should be blocked if a workload exists"
/kind bug
/triage build-officer

**What happened**:
[code]
[code]
[Prow Job Link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3708/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1278479781465165824)
**Lane**:
pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6

[2020-07-02 18:21] orenc1 opened #3742 "[test_id:1754]should create a virtual machine with sriov interface - SRIOV VirtualMachineInstance with sriov plugin interface"
/kind bug
/triage build-officer

**What happened**:
[test_id:1754]should create a virtual machine with sriov interface

**What you expected to happen**:
[code]
[Prow job log](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3528/pull-kubevirt-e2e-kind-1.17-sriov/1278364397202313217)
**Lane**:
pull-kubevirt-e2e-kind-1.17-sriov

[2020-07-02 18:55] orenc1 commented on #3687
observed today as well:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3708/pull-kubevirt-e2e-k8s-cnao-1.17/1278479781469360128

[2020-07-02 18:57] orenc1 commented on #3611
recurred again in:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3726/pull-kubevirt-e2e-k8s-1.18/1278299846477877248

[2020-07-02 19:10] daghaian opened #3743 "Update built qemu/libvirt in Fedora repo to include NVME device"
/kind enhancement

**What happened**:
Currently, our workload requires the use of NVME virtualized drives, a feature not currently offered by kubevirt. In the interim, a sidecar based approach is being leveraged in order to attach NVME disks however it would appear that the current qemu-kvm that exists within the virt-launcher container does not have device support for NVME. The version of qemu-kv

[2020-07-02 20:49] harutyundermenjyan commented on #3504
It's not a problem in terms of `allowAutoConverge` if Redis also uses a single CPU thread?

[2020-07-02 21:26] davidvossel commented on #3638
yep, that's my concern as well. Typically these low level details are all abstracted away by the storage provider.

This concern is why we've pushed back against qcow2 support nearly entirely in the past. In general, we'd much rather the storage provider handle all of this behind the scenes for us.

I think we have a real shot at a simple implementation where we allow a single read only qcow coupl

[2020-07-02 22:22] waveywaves opened #3745 "Qemu commandline arg support"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request
 /kind enhancement

**What happened**:
Not able to provide custom qemu commandline args via the VirtualMachine CR

**What you expected to happen**:
Be able to provide custom qemu commandline args via the VirtualMachine CR

**How to reproduce it (as minimally and precisely as possible)**:
-

**Anything else we need to know?**:

**Environ

[2020-07-02 22:25] waveywaves commented on #3745
/kind enhancement

[2020-07-02 22:26] waveywaves commented on #3745
QEMUCmd Struct seems to get this job done in case of some network configs I saw around. Any chances on mapping that directly to the domain.Spec ?

[2020-07-02 22:31] waveywaves opened #3746 "Add support for custom OVMF"
**What happened**:
Not able to use custom OVMF_CODE.fd and OVMF_VARS.fd
In the kubevirt-config configMap we can provide the ovmfPath. But how do we really use it ?
We would need to mount these on the pod somehow. As a hack I did a https://github.com/waveywaves/kubevirt/commit/1a39f0153f3d4b1e49ed078457b0d8ac0e780d8a to amke this work

**What you expected to happen**:
Be able to mount a volume whic

[2020-07-02 22:31] waveywaves commented on #3746
/kind enhancement

[2020-07-02 22:32] waveywaves commented on #3746
/kind enhancement

[2020-07-02 23:13] daghaian commented on #3743
/kind enhancement

[2020-07-02 23:18] daghaian commented on #3743
Further investigation (correct me if I'm wrong) reveals that the qemu-kvm inside the actual virt-launcher image appears to just be qemu-system-* binary which must have been compiled with the -enable-kvm and other flags already present at compilation time. It seems odd to me but perhaps I"m not understand a piece of the puzzle. That being said, I'm also confused that if that is indeed how its being

[2020-07-03 06:08] viorelcanja commented on #3638
I think that making sure that the right layers are paired can be accomplished by storing a ID file along side the disk image file (qcow2 or raw). The ID file would contain an image name (the datavolume name?) and a random number (uuid?) generated when the image is imported. Every time that image would be mounted read-write by a VMI, the ID file contents would be mutated.  No need to watch for actu

[2020-07-03 06:56] rmohr commented on #3504
@harutyundermenjyan I can't say much mure than trying out if it works good enough for you. `allowAutoConverge` works on real applications very often as expected but not on all applications. It is just something which helps a migration to have a higher chance to succeed.

[2020-07-03 07:05] ClaudiuPID commented on #3737
This was caused by not properly implementing the socket server on hook sidecar.

[2020-07-03 07:05] #3737 closed

[2020-07-03 07:05] #3515 closed

[2020-07-03 07:24] qinqon commented on #2566
Maybe related https://github.com/kubernetes-sigs/kind/issues/717

[2020-07-03 09:00] timstoop commented on #3587
Just tested it and this solved my issue indeed! Thank you very much for the swift response, looking forward to the next release. Will this be in a patch release or in 0.31+1?

[2020-07-03 09:52] rmohr commented on #3665
/close

cannot allocate memory is gone. If it re-appears on higher load we just have to reserve more memory for spontanous allocation.

[2020-07-03 09:52] #3665 closed

[2020-07-03 10:37] tiraboschi opened #3747 "SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3957]should connect to another machine with sriov interface over IPv6"
/kind bug
/triage build-officer

**What happened**:
Failed test due to timeout:
```SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3957]should connect to another machine with sriov interface over IPv6```

[code]

[Prow Job Link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3684/pull-kubevirt-e2e-kind-1.17-sriov/1278748175628242945)
**Lane**:
p

[2020-07-03 10:51] tiraboschi opened #3748 "[rfe_id:609]VMIheadless [rfe_id:609]Creating a VirtualMachineInstance with headless [test_id:714][posneg:positive]should not have vnc graphic device in xml"
/kind bug
/triage build-officer

**What happened**:

`[rfe_id:609]VMIheadless [rfe_id:609]Creating a VirtualMachineInstance with headless [test_id:714][posneg:positive]should not have vnc graphic device in xml`

[code]

**How to reproduce it (as minimally and precisely as possible)**:
[Prow Job Link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3517/pull-kubevi

[2020-07-03 10:57] tiraboschi opened #3749 "[rfe_id:151][crit:high][vendor:cnv-qe@redhat.com][level:component]CloudInit UserData [rfe_id:151][crit:medium][vendor:cnv-qe@redhat.com][level:component]A new VirtualMachineInstance with cloudInitConfigDrive userDataBase64 source [test_id:3178]should have cloud-init data"
/kind bug
/triage build-officer

**What happened**:
`[rfe_id:151][crit:high][vendor:cnv-qe@redhat.com][level:component]CloudInit UserData [rfe_id:151][crit:medium][vendor:cnv-qe@redhat.com][level:component]A new VirtualMachineInstance with cloudInitConfigDrive userDataBase64 source [test_id:3178]should have cloud-init data`

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[2020-07-03 13:27] #3017 closed

[2020-07-03 14:28] #2214 closed

[2020-07-03 15:33] #3611 closed

[2020-07-03 16:18] tiraboschi opened #3753 "IOThreads IOThreads Policies [test_id:864][ref_id:2065] Should honor a mix of shared and dedicated ioThreadsPolicy"
/kind bug
/triage build-officer

**What happened**:
`IOThreads IOThreads Policies [test_id:864][ref_id:2065] Should honor a mix of shared and dedicated ioThreadsPolicy`

[code]

**How to reproduce it (as minimally and precisely as possible)**:
[Prow Job Link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3166/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/12787285469775

[2020-07-03 16:21] tiraboschi opened #3754 "Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With smaller than requested PVCs [test_id:3109]Should initialize an empty PVC with a disk.img when disk is too small but within toleration"
/kind bug
/triage build-officer

**What happened**:
`Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With smaller than requested PVCs [test_id:3109]Should initialize an empty PVC with a disk.img when disk is too small but within toleration`

[code]

**How to reproduce it (as minimally and precisely

[2020-07-04 06:05] #3575 closed

[2020-07-04 06:45] dustymabe commented on #3129
I hit this today. Is `virt-handler` really trying to run `semanage` from the host?

[2020-07-04 14:52] #3048 closed

[2020-07-04 15:00] yhaenggi commented on #1376
/remove-lifecycle stale

[2020-07-04 15:02] yhaenggi commented on #2948
/remove-lifecycle stale

[2020-07-05 05:39] oshoval commented on #3739
Possible dupe of https://github.com/kubevirt/kubevirt/issues/3662

[2020-07-05 10:53] maya-r commented on #3717
It's now failing to come up, [example](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1279611602332553216)

[code]

[2020-07-05 11:28] oshoval commented on #3669
#3713 merged, please close

[2020-07-05 11:30] oshoval commented on #3666
we can close it i think, since #3713 was merged.

[2020-07-05 11:31] oshoval commented on #3631
we can close it i think, since #3713 was merged.

[2020-07-05 12:17] oshoval commented on #3742
@phoracek
@ormergi
https://github.com/kubevirt/kubevirt/issues/3485#issuecomment-636304852

Maybe this comment is interesting ?

[2020-07-05 13:05] maya-r commented on #3574
If/when this is fixed, #3747 might be fixed as well.

[2020-07-05 14:41] maya-r opened #3756 "[flaky CI] EFI Page-Fault when running [test_id:4437]should enable EFI secure boot"
/kind bug

In [this CI run](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3744/pull-kubevirt-e2e-k8s-1.18/1278803920839249920) we never reach a login prompt.

Unfortunately I don't know how to see more console log, so this is all the output I have, pretty-printed:

[code]

[2020-07-05 14:41] maya-r commented on #3756
/triage build-officer

[2020-07-05 15:40] maya-r opened #3757 "[Flaky CI] Failed to start QEMU binary /usr/libexec/qemu-kvm for probing"
I'm attempting to combine the failures based on the SyncVMI errors, as the kind-IPv6 lane has failures all over the place.

Two failures spotted, [one](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3713/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1279076338828840960), [two](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3517/pull-ku

[2020-07-05 15:46] maya-r opened #3758 "[Flaky CI][kind-ipv6] unable to listen on any of the requested ports: [{5000 8444}]"
In the following test run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3713/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1279076338828840960

[test_id:3146]should be able to delete and re-create kubevirt install expand_more,
[code]

/kind bug
/triage build-officer

[2020-07-05 15:47] maya-r commented on #3757
Seems to be the same as #3748 but I feel like this title is more tempting people to look at the problem

[2020-07-05 15:56] maya-r opened #3759 "[Flaky CI][kind-ipv6]Unable to open /dev/kvm: Operation not permitted"
In the following run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3166/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1278901687255306240

We see a failure from a timeout.

Digging somewhat, the logs from [virt-handler](https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3166/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1278901687255306240/artifacts/

[2020-07-05 16:08] maya-r commented on #3664
Searching for "unexpectedly stopped" finds #3669 and #3666 as well as this bug.
In one of them there is [a comment](https://github.com/kubevirt/kubevirt/issues/3666#issuecomment-653877000) suggesting the issue was fixed.

[2020-07-05 17:04] oshoval commented on #3664
Thanks Maya, you right,
but it should come with panic in the previous virt-handler,
anyway we would know soon what the real leftovers are.

[2020-07-05 17:23] oshoval commented on #3664
Thanks Maya, but In this one i didn't see panic in the previous handler, so this isnt a blind dupe of #3575
"unexpectedly stopped" should come with panic in previous virt-handler in order to know its a dupe of #3575 ,
(more precisely, panic "send on closed channel")

[2020-07-05 21:19] MarkSpencerTan opened #3760 "Virtctl doesn't work for clusters setup by Rancher"
/kind bug

**What happened**:
We noticed that Virtctl doesn't work normally with k8s clusters that are setup by Rancher (https://rancher.com/). We think this could be because Rancher is proxying the requests coming to the actual cluster's APIs

$ virtctl console mark-gateway
Can't connect to websocket (404): websocket: bad handshake

**What you expected to happen**:
This works ok like below on clu

[2020-07-06 05:27] danielBelenky commented on #3573
/assign

I'm looking at this one.
I was finally able to reproduce locally (after 124 runs :rocket:)
It looks like the domain is being destroyed before we get to set the deletion timestamp on it when this occurs.

[2020-07-06 07:25] rmohr commented on #3631
/close

Yes, the corresponding logs for this show that virt-handler crashed on this test.

[2020-07-06 07:25] #3631 closed

[2020-07-06 07:28] rmohr commented on #3669
@oshoval the logs don't contain a hint that virt-handler crashed. It looks different. Leaving it open for now.

[2020-07-06 07:30] oshoval commented on #3669
Crashed here,
https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1275865685297205248/artifacts/pods/5_kubevirt_virt-handler-ns8lw-virt-handler_previous.log

(referring to the link in the original post)

[2020-07-06 07:31] rmohr commented on #3666
/close

Yes https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1275775060711313408/artifacts/pods/2_kubevirt_virt-handler-ll6p7-virt-handler_previous.log shows the symptoms. Thanks.

[2020-07-06 07:31] #3666 closed

[2020-07-06 07:34] rmohr commented on #3669
@oshoval that are the wrong results. It seems like since we updated prow that the junit results are now sorted in the overview. That is a little bit annoying but the first test which failed was this one, not the 5th one.

[2020-07-06 07:38] oshoval commented on #3669
You right thanks, just a nit
upon refreshing
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3502/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1275865685297205248

Junit order changes...

[2020-07-06 08:03] rmohr commented on #2676
/reopen
/remove-ifecycle rotten

[2020-07-06 08:17] rmohr commented on #3153
/remove-lifecycle stale

[2020-07-06 09:02] rmohr commented on #3760
@MarkSpencerTan thanks. I think we had one or two issues about this already. Just can't find them right now.

Are people downloading a special `kubectl` binary from rancher or just use theirs? If the second is the case there should be a way for us to make `virtctl` work out of the box (and I actually wonder why it doesn't work).

[2020-07-06 09:17] MarkSpencerTan commented on #3760
Nope, just the standard official kubectl binary using the kubeconfig file that rancher provides. I think it maybe due to the Rancher API proxy showed here: https://rancher.com/docs/rancher/v2.x/en/overview/architecture/#4-authorized-cluster-endpoint. Maybe some requests virtctl is making to the cluster API isn't being allowed by the proxy :(

[2020-07-06 12:17] arnongilboa opened #3763 "[flaky CI] [test_id:1632] was: Failing OpenShift CI nightly: periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt"
/kind bug
/triage build-officer

**What happened**:
Failing periodic job: periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt

https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1279973999039746048

Logs: https://storage.googleapis.com/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-ma

[2020-07-06 12:21] arnongilboa commented on #3763
```error: An error occurred while waiting for the condition to be satisfied: an error on the server ("unable to decode an event from the watch stream: read tcp 172.16.204.175:47692->52.238.252.210:6443: read: connection timed out") has prevented the request from succeedingfailed to dump entity named [sriovnetworknodestates]: the server could not find the requested resource```

[2020-07-06 12:44] danielBelenky opened #3764 "Find an alternative to parsing the logs in vmi lifecycle tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Currently, we are parsing the logs from virt-handler to decide if the communication between
virt-handler and virt-launcher works and check for various domain lifecycle events.
This is risky because parsing logs in unreliable: I can print a line to the log that announces
that I do something but fail to do so in my code and

[2020-07-06 13:04] EdDev commented on #3764
I would also expect the functional/e2e tests to interact with the API and not with logs. Logs cannot be trusted, they can change (edited, added or removed).

Could we give an example in this issue on what kind of test is expected here?
I could imagine a VMI lifecycle to include the different phases and states it is in, checking that we detect them all in the different paths they can take. Is this

[2020-07-06 15:03] arnongilboa opened #3768 "SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3959]should create a virtual machine with sriov interface and dedicatedCPUs"
/kind bug
/triage build-officer

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3738/pull-kubevirt-e2e-kind-1.17-sriov/1280059634165485568

[2020-07-06 15:10] arnongilboa opened #3769 "[flaky CI] [rfe_id:253][crit:medium][vendor:cnv-qe@redhat.com][level:component]Expose Expose service on a VM Expose NodePort service [test_id:1534[label:masquerade_binding_connectivity]Should expose a NodePort service on a VMI and connect to it expand_more"
/kind bug
/triage build-officer

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3599/pull-kubevirt-e2e-k8s-1.16/1280053846080491521

[2020-07-06 15:17] arnongilboa opened #3770 "Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With smaller than requested PVCs [test_id:3108]Should not initialize an empty PVC with a disk.img when disk is too small even with toleration"
/kind bug
/triage build-officer

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3599/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1280053846072102912

[2020-07-06 15:22] arnongilboa opened #3771 "[rfe_id:3064][crit:medium][vendor:cnv-qe@redhat.com][level:component]Pausing A valid VM when paused via virtctl [test_id:3059]should signal paused state with condition expand_more"
/kind bug
/triage build-officer
**What happened**:

[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3494/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1280035533015224320

[2020-07-06 15:35] arnongilboa opened #3772 "[rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2221] should migrate a VMI under load to another node"
/kind bug
/triage build-officer

**What happened**:

[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3642/pull-kubevirt-check-tests-for-flakes/1280016785726246912

[2020-07-06 15:41] arnongilboa opened #3773 "[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance with non default namespace [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]should log libvirt start and stop lifecycle events of the domain [test_id:1642]kubevirt-test-alternative expand_more"
/kind bug
/triage build-officer

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3765/pull-kubevirt-e2e-k8s-cnao-1.17/1280125066419376128

[2020-07-06 15:44] rmohr commented on #3129
Yes. I will take it this week. Let' me try to finally resolve that in https://github.com/kubevirt/kubevirt/pull/2694.

[2020-07-06 15:46] arnongilboa opened #3774 "SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3956]should connect to another machine with sriov interface over IPv4"
/kind bug
/triage build-officer

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3765/pull-kubevirt-e2e-kind-1.17-sriov/1280125066415181825

[2020-07-06 16:11] danielBelenky commented on #3687
/assign

I'll try tackle this one.

[2020-07-06 16:25] #2847 closed

[2020-07-06 19:00] MarkSpencerTan commented on #3760
Something that I found while looking through the documentation of Rancher is the ability to enable "Authorized Endpoints" in Rancher. When that is enabled, it will throw in an extra entry in your kubeconfig file for your node that has direct access to the cluster API, which won't go through the Authentication proxy. Switching to this kubeconfig made virtctl work for the cluster!

![image](https://

[2020-07-06 19:00] #3760 closed

[2020-07-06 19:01] rmohr commented on #3760
@MarkSpencerTan that's great to hear. Thanks for the update.

[2020-07-06 19:37] MarkSpencerTan commented on #3743
@daghaian I also need some of our VMs to be able to specify the drive types as NVME drives! If this can be enabled that would be great! @rmohr , would you happen to know what is responsible for building those qemu binaries for kubevirt so we can take a look at what we can do for modifications?

Thanks,
Mark

[2020-07-06 19:44] rmohr commented on #3743
Do we talk about nvme passthrough or exposing the disk as nvme (emulation for apps inside the vm)?

@vladikr FYI

[2020-07-06 19:51] daghaian commented on #3743
@rmohr Currently we were exploring the idea of just using QemuCMD line args to attach NVME disks but what I can't understand is how come the qemu-kvm binary thats inside a virt-launcher container does not have NVMe support? Any other installations of qemu/qemu-kvm include NVME support (same version). I noticed Kubevirt is using its own fedora COPR repo?

[2020-07-07 07:57] dhiller commented on #3763
I've had a look at the 24h test reports, looks like this seems to fail seldom and is constrained to k8s-17 lanes only, so it looks like a slightly flaky test.

Here are the reports of 2020 that contain a failure:
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-28-024h.html
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevi

[2020-07-07 08:13] dhiller commented on #3769
Looks like a flake. Reports covering this:

https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-22-024h.html
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-11-024h.html
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-06-10-024h.html
https://

[2020-07-07 10:38] brybacki commented on #3717
no it is [deck-build-log](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1280336402050977792)
[code]

[2020-07-07 10:40] phoracek commented on #3662
@oshoval if you have a direction, you should record it here.

[2020-07-07 10:54] oshoval commented on #3662
Its an educated guess, looking on other instances where the error occurred, that might have connection with this one.
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3713/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1277959105457164290

It shows that ipv6 wasn't configured, and it should be configured by cloud init, with the route, and to verify that the guest agent was

[2020-07-07 12:16] banksyian opened #3776 "CDI Image upload timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
 When creating an upload dataVolume the scratch PVC is not created.

[code]
The cdi-deployment pod shows the following log:
[code]
There is a default storage class so I believe it should use that to create a scratch volume, however I tried by creating one manually and still get the following error:
[code]
The datavolume i

[2020-07-07 13:28] brybacki commented on #3774
and again:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3755/pull-kubevirt-e2e-kind-1.17-sriov/1280448320728207362

[2020-07-07 13:31] brybacki commented on #3742
again:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2935/pull-kubevirt-e2e-kind-1.17-sriov/1280469208785752065

[2020-07-07 13:43] brybacki commented on #3596
there are still issues like that
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3766/pull-kubevirt-e2e-k8s-1.17/1280386915538833408

[2020-07-07 13:59] brybacki opened #3777 "[Flaky CI] Timeout during cluster initialization on pull-kubevirt-e2e-kind-1.17-sriov"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-officer

**What happened**:
Some tests are failing on timeout during environment initialization on `pull-kubevirt-e2e-kind-1.17-sriov`:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. [etcdserver: request timed out](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-lo

[2020-07-07 16:18] dhiller commented on #3596
Not sure how the timetamp addition has been going? @danielBelenky I remember there was an issue with that? Or is that working? Should I revive the simpler #3609?

[2020-07-07 16:28] kbidarkar opened #3780 "SELinux Tests fail to run properly on kind infra, being used by ipv6 lane"
**Is this a BUG REPORT or FEATURE REQUEST?**: `Test Infra enhancement`

/kind enhancement

**What happened**:   `SELinux Tests fail to run properly on kind infra, being used by ipv6 lane`
[code]

[code]

**What you expected to happen**:

We should update the test infra, to be able to work with above `SELinux tests`

**How to reproduce it (as minimally and precisely as possible)**: `Try running tes

[2020-07-07 17:29] kbidarkar commented on #3780
On a second thought, probably a complete review of SELinux related tests in `tests/security_features_test.go` is needed, when running things on `kind`  based  infra.

[2020-07-07 18:05] #3573 closed

[2020-07-07 19:30] crobinso opened #3781 "Use hugepages source type='memfd' to avoid hugetlbfs selinux issues"
Use of `<hugepages>` with libvirt by default uses hugetlbfs. This provokes some selinux violations with plain container_t, so virt_launcher_t needs to enable extra rules to account for this: https://github.com/kubevirt/kubevirt/blob/master/cmd/virt-handler/virt_launcher.cil

@berrange suggested Kubevirt can avoid these issues by using memfd instead of hugetlbfs. The libvirt XML is:

[code]

At pre

[2020-07-07 19:51] MarkSpencerTan commented on #3743
@rmohr, we were thinking more in the lines of exposing the disk as nvme so that the custom kernels in the VMs we're trying to spin up would come up properly. They're expecting NVME drives on boot

[2020-07-08 07:33] rmohr commented on #3743
I can understand the confusion. We right now we have a special build based on the rhel-av-8.2 branch of the libvirt project. The background is that these versions are tested very well and that we have a special copr for them, so that the rpms we tested against do not just disappear and get replaced with other unknown versions whe we rebuild our container with libvirt/qemu, however they don't conta

[2020-07-08 07:56] phoracek commented on #3777
/assign @ormergi

Is this new or related to the watchers issue?

[2020-07-08 08:14] phoracek commented on #3747
@AlonaKaplan could this be possibly caused by the expecter bug?

[2020-07-08 08:14] phoracek commented on #3747
/assign @Alona

[2020-07-08 08:21] AlonaKaplan commented on #3747
No, it's not the expecter bug.
`ip addr add fc00::2/64 dev eth1` gets an error - `Cannot find device "eth1`

[2020-07-08 09:02] maya-r commented on #3746
Out of curiosity, what was your motivation to use a custom OVMF?

[2020-07-08 09:05] maya-r commented on #3579
/triage build-officer

[2020-07-08 11:03] #2931 closed

[2020-07-08 12:41] tomob opened #3792 "[FlakyCI] Timeout during [test_id:786]Should be that cfgMap and secret fs layout same for the pod and vmi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3787/pull-kubevirt-e2e-k8s-1.16/1280767423632379904

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2020-07-08 12:44] tomob opened #3793 "[FlakyCI] Failure in [rfe_id:253][crit:medium][vendor:cnv-qe@redhat.com][level:component]Expose Expose service on a VM Expose ClusterIP service [test_id:1531]Should expose a Cluster IP service on a VMI and connect to it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3787/pull-kubevirt-e2e-k8s-1.15-ceph/1280767423649157120

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment*

[2020-07-08 13:27] ormergi commented on #3777
Yes it might be.
This is good summary of the problem, responsiveness of kube-api.
Is it likely that kube-api is "exhausted", or taking to many resources, by all the wait_for... functions that keep querying it?

[2020-07-08 15:37] awels commented on #3776
You can look up what CDI will use for the scratch space storage class by running
[code]
There should be a value in the status field. scratchSpaceStorageClass is not a valid field in a DataVolume.

[2020-07-08 16:53] mazzystr commented on #3776
Try...
`kubectl patch -n cdi cdiconfig.cdi.kubevirt.io/config --type "json" --patch '[{"op":"replace","path":"scratchSpaceStorageClass","value":"fast" }]'`

[2020-07-08 17:08] awels commented on #3776
If fast is the default storage class, then that will not be necessary, the way CDI determines the scratch space storage class is the following:
1. Use scratchSpaceStorageClass defined in the CDIConfig object spec.
2. If 1 doesn't exist, use the default storage class in the cluster.
3. If 2 doesn't exist (and thus the scratchSpaceStorageClass in the status of the CDIConfig is blank) it will use the

[2020-07-08 17:21] banksyian commented on #3776
Thanks for the replies, the scratchSpaceStorageClass does appear to be set correctly on the CDIConfig
[code]
The default storage class is also set to "fast", which is the only storage class.
[code]

If I manually create the scratch storage PVC the datavolume does mount it and the cdi-upload pod launches and is in a running state but the logs show ```cdi-upload-upload-datavolume pod not controlled

[2020-07-08 17:30] mazzystr commented on #3451
@gyliu513  Sorry I'm so late ... Blog post is finally posted ... https://kubevirt.io/2020/win_workload_in_k8s.html

[2020-07-08 17:39] mazzystr commented on #3312
[code]

[2020-07-08 17:43] mazzystr commented on #3312
@phoracek  I have to say I do see some instability in networking that I cannot pinpoint.  Something happens and I'm unable to get network traffic into the cluster although the vm responds to curls to the app from within the cluster.  My only solution has been reboot, destroy minikube, redeploy minikube, kubevirt, and the vm/app.

[2020-07-08 18:31] awels commented on #3776
You should not have to worry about scratch space at all, CDI takes care of creating the PVC and setting the owner and everything correctly (when the pod finishes, it will remove the scratch space). However I know storageos has a bug in it when the owner of the PVC is a pod it basically just hangs. Since storageos is closed source I was unable to track down the exact issue. But the combination of t

[2020-07-08 18:41] awels commented on #3776
You can verify my claim by using for instance the [hostpath provisioner](https://github.com/kubevirt/hostpath-provisioner) together with the [operator](https://github.com/kubevirt/hostpath-provisioner-operator) and repeating the same test. For file system based hostpath storage there is not much difference between that and storageos.

[2020-07-08 18:41] aglitke commented on #3770
/assign arnongilboa

[2020-07-08 18:41] aglitke commented on #3754
/assign arnongilboa

[2020-07-08 18:47] aglitke commented on #3702
/assign maya-r

[2020-07-08 18:47] aglitke commented on #3663
/assign maya-r

[2020-07-08 19:21] jean-edouard commented on #3610
@davidvossel is this fixed now? Thanks.

[2020-07-08 21:09] banksyian commented on #3776
Thanks for the info, I was skeptical that there should be anything wrong with the PVC from a CDI perspective. I will Follow up with StorageOS.

[2020-07-08 21:09] #3776 closed

[2020-07-09 07:35] phoracek commented on #3777
Hard to imagine it would be too much. We have sleeps between retries, so it is one request every 3-10 seconds. At least the code I am aware of.

[2020-07-09 11:22] rmohr commented on #3610
@jean-edouard David is out this week, #3690 eliminates the  flakyness. It does nowever not fix any root cause. See the comments there.