[2022-03-22 14:08] marceloamaral commented on #6055
As a next steps, I will test it with different QPS/Burst configurations

[2022-03-22 18:22] wdrdres3qew5ts21 commented on #5483
I encounter same problem too. If we using NetworkAttachDefinition (NAD) of Bridge instead of Macvlan it will require to have every pod which connect to Bridge reside in the same Node right ? Because when I using Macvlan I can have my vanila kubernetes pod communication across Kubernetes Node but in the last step I stuck when using KubeVirt with Macvlan seem like my VirtualMachineInstance cannot co

[2022-03-23 08:55] sushiMix commented on #6820
Hello I noticed a similar issue (for masquerade) but was not able to clearly troubleshoot it with default delivery.

I noticed that :
the ip route is not as expected
`
default via 169.254.1.1 dev eth0
10.0.2.0/24 dev k6t-eth0 proto kernel scope link src 10.0.2.1
169.254.1.1 dev eth0 scope link
`
the ip a command returns
`
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group de

[2022-03-23 09:05] xpivarc commented on #7314
@chattytak You should configure the emulation on the `Kubevirt` resource(We have deprecated the configmap, I admit it depends on your version of kubevirt).

In using kubevirt on k0s, I referred to the procedures for kind and minikube, but I was not aware of any configuration or dependency instructions regarding selinux.

I am not aware of the issues in these two cases. Can you open a new separate

[2022-03-23 09:13] maiqueb commented on #6820
I assume this is happening on the `virt-launcher` pod; that is expected: virt-launchers miss the `NET_ADMIN` capability, and as such, cannot perform these operations. That is a security feature.

If you want to access the netfilter rules, you have to access them via the corresponding `virt-handler` - which **does** have the required permissions. You first need to find the PID of the `virt-launcher

[2022-03-23 10:22] phoracek commented on #5483
@wdrdres3qew5ts21 you can set up communication between nodes even when using the bridge CNI. To do so, you have to create the bridge before scheduling any VMs and connect the bridge to a host's NIC. There are many ways to configure such a bridge, I'd personally recommend using https://github.com/nmstate/kubernetes-nmstate/, if your OS allows that.

You may want to check this blog post that describ

[2022-03-23 10:36] sushiMix commented on #6820
Thank you for your comment (and yes I was looking in virt-launcher pod), I'll check the documentation you pointed.

But I noticed this in the referenced documentation which is contrary to your comment (out of dated documentation ?).
<img width="1031" alt="image" src="https://user-images.githubusercontent.com/53741704/159680189-fb197287-b885-44e8-a7c7-9843c67df0fe.png">

[2022-03-23 10:53] maiqueb commented on #6820
That is outdated - and as such, is no longer true. For more details check out the implementation of the pod templates, in [this link](https://github.com/kubevirt/kubevirt/blob/09450770a8f5dcc2905938b7c8f164d880346f68/pkg/virt-controller/services/template.go#L1809).

I've pushed PR #7431 to update the docs with the correct capability list.

[2022-03-23 11:53] wdrdres3qew5ts21 commented on #5483
@phoracek thank you for suggestion I never heard about NMState before. I'm quite new to Kubernetes Network underlying. I had try only Multus with Kubernetes Pod for Bridge and Macvlan only but when I'm combined Multus Macvlan with KubeVirt I encounter problem like I mention above.
So if NMState is required component to make Multus Bridge is working across Kubernetes Node right ? So we don't need t

[2022-03-23 12:30] xpivarc opened #7433 "AgentVersionNotSupported condition doesn't have reason"
**What happened**:

AgentVersionNotSupported condition is missing reason.
[code]

**What you expected to happen**:
To be able to determine why the agent is not supported.

**How to reproduce it (as minimally and precisely as possible)**:
Blacklist one of the required commands:
[code]
**Additional context**:
Add any other context about the problem here.

**Environment**:
- KubeVirt version (use `vi

[2022-03-23 15:15] usrbinkat commented on #7403
/triage accepted

[2022-03-23 15:15] usrbinkat commented on #7403
/triage-accepted

[2022-03-23 16:10] sushiMix commented on #6820
Thank you for the document update

I tried to run command in the namespace but the nft or iptables always return an empty set whereas I expect forwarding rule :|

The inbound communication seems blocked whereas the outgoing is ok.

I'm using a simple sample
[code]

[2022-03-23 16:12] rmohr commented on #7403
Hi @David-Krupa how did you detect this issue? Did you run a security scanner?

[2022-03-23 17:10] maiqueb commented on #6820
The commands you've listed about are missing `-n`, which indicates you want to enter the **network** namespace. Without that, it won't work @sushiMix .

Can you confirm you're actually tapping into the network namespace of the pod ?

Would you paste the output of:
[code]

[2022-03-23 17:26] ormergi commented on #7409
Hi, this issue lacks info and context please follow the issue template so we could help you.

[2022-03-23 17:47] xpivarc commented on #7334
I think we can distinguish when a user requested cpu request and when the `LimitRange` was applied. In the latter case, I would say that `cpuAllocationRatio` should override the `LimitRange`. What do you think?

[2022-03-23 18:58] David-Krupa commented on #7403
Yes, I also found it on the national vulnerabilities database and I googled it from openssl-lines CVE 0778. I think was the CVE number. Same thing with the other golang CVEs I put an issue in a week or two ago. I am trying to convince my company to allow us to help contribute but have to work through some bureaucracy to avoid any conflicts of interest. We really want to incorporate KubeVirt in the

[2022-03-23 18:59] David-Krupa commented on #7403
Openssl-libs note lines. Autocorrect.

[2022-03-24 03:51] zhhray commented on #7334
Yes, but I think it makes more sense.
Regardless of `LimitRange` or user requested CPU request, as long as the `cpuAllocationRatio` is set, the virt-launcher pod CPU should be set according to the value calculated by the cpuAllocationRatio.
Not only evaluate request to (float64(vcpus) / float64(cpuAllocationRatio)), but also set limit to (vcpus). It is generally risky for a pod not to set its limi

[2022-03-24 07:28] sushiMix commented on #6820
Hello sorry for the missing "-n" I don't usually manipulate the namespaces.

[code]

[code]

[code]

[code]
but for nft I prefer
[code]
thanks for helping me.

[2022-03-24 10:01] maiqueb commented on #6820
I think the rules look correct ... @rhrazdil could you take a quick look at the nftables rules listed in the bottom of [this comment](https://github.com/kubevirt/kubevirt/issues/6820#issuecomment-1077317984) ?

I find extremely strange that the pre routing rules was never hit:
`iifname "eth0" counter packets 0 bytes 0 jump KUBEVIRT_PREINBOUND`

That means traffic never hit the pod. @sushiMix, when

[2022-03-24 10:19] zhhray commented on #7334
@xpivarc I have made some fixes about this, please have a review.

[2022-03-24 10:38] rhrazdil commented on #6820
Indeed, according to the routing rules, the inbound traffic never reached the pod.

For outbound traffic, we can see several connections in `postrouting` chain:
`ip saddr 10.0.2.2 counter packets 3 bytes 202 masquerade`.

[2022-03-24 13:25] phoracek commented on #5483
nmstate is not required per se. What is required for bridge CNI to be useful in a cluster with multiple nodes, is to connect bridge on each node to the underlying network. You can do it with any host network configuration tooling - for example kubernetes-nmstate which allows you to configure host networking through Kubernetes API. Note that it depends on NetworkManager being available on your node

[2022-03-24 13:43] sushiMix commented on #6820
I agree this test was fully functional but tried after the "public" pod ip.

For the counters I don't remember If I did all the tests before outputting the notable rules.

[2022-03-24 13:55] maiqueb commented on #6820
Please double check this :) It's important.

One more question: could it be that when you're reaching a random pod from a node, said random pod is running on that node ? And when you're trying to reach a VM from a node the VM is scheduled on a different node ?

If so, would you try to reach out the VM from the node where it is running on ?

My point is that according to the [Kubernetes network mod

[2022-03-24 14:40] sushiMix commented on #6820
Hello,

I'm using the calico CNI and tried from the host running the VM as I'm testing on a single node.

For the counters I can restart the vm and perform specific test (I don't know how to reset anonymous counters)

[2022-03-24 14:56] maiqueb commented on #6820
That destroys my half-baked theory ... Thanks for the reply.

[2022-03-24 16:23] fossedihelm commented on #6348
/cc

[2022-03-24 16:24] fossedihelm commented on #6348
/assign

[2022-03-24 16:57] #6851 closed

[2022-03-24 18:41] ormergi opened #7444 "Defining two or more SR-IOV interfaces that use the same underling resource is buggy"
**What happened**:
A VM with two or more SR-IOV interfaces **from the same resource** pool might end up with each interface connected to the wrong network.

For example https://github.com/kubevirt/kubevirt/issues/6351#issuecomment-918467186

The problem seems to be the fact that there is no mapping between the SR-IOV device PCI address and the
NetworkAttachmentDefinition, but only between the SR-I

[2022-03-24 18:47] ormergi commented on #6351
I am not sure what seabios is and how its realted, could you elaborate?

We have investigated this, follow up at https://github.com/kubevirt/kubevirt/issues/7444

To workaround this, you can create a VF device pool (with `SriovNetwotkPolicy`) for each
group of VF's by their configuration, in your case a **policy** for VF's that will be configured with VLAN 20
and another policy one for VF's with V

[2022-03-24 18:49] ormergi commented on #7444
/sig-network

[2022-03-24 18:49] ormergi commented on #7444
/sig network

[2022-03-25 03:31] leoryu opened #7445 "VMI IP is different with IP in guest OS"
**What happened**:

I created an vm through kubevirt, bug I found the VMI IP is different with IP in guest OS.

<img width="549" alt="企业微信截图_a67469c1-6f18-4250-b979-8d933d1a1b22" src="https://user-images.githubusercontent.com/34183243/160048548-23d797dd-e427-4dc8-a484-e6236da76b78.png">

<img width="308" alt="企业微信截图_b526598d-3f0a-4d8b-95f0-a0b3308e6c1c" src="https://user-images.githubusercontent.c

[2022-03-25 04:11] leoryu commented on #7445
/sig network

[2022-03-25 08:23] #7357 closed

[2022-03-25 09:44] sushiMix commented on #6820
I finally found my issue (between chair and keyboard :|).

I do my test in a vm (VirtualBox) which runs the kubernetes node. I forgot that my VM had two network interfaces and one was using NAT. I noticed that one of the ip of my VirtualBox VM collides with the IP of the VM (which obviously breaks the routing mechanism).
I fixed it by setting
[code]

[2022-03-25 18:25] Uznick commented on #4981
@akashrpo have you manage to figure out what was the problem?

[2022-03-25 23:09] chattytak opened #7453 "There is no information about the dependency package (container-selinux) in the documentation."
**Description**:

See #1374.
When deploying KubeVirt using a RHEL8-based OS, such as RockyLinux8, the virt-handler container is in a crash loop due to a missing container-selinux package.

The Kubernetes distribution used k0s at this time.
I think part of the reason is that k0s does not require container-selinux packages, but even though KubeVirt also requires container-selinux packages, I could n

[2022-03-25 23:17] chattytak commented on #7314
New issue on #7453.

I see that the emulation feature has been re-specified but the documentation has not caught up.
I had planned to run KubeVirt on a bare-metal Kubernetes cluster after completing the deployment test in a Bhyve-VM environment, so I quickly migrated to a bare-metal environment and successfully started testvm. Thank you.

[2022-03-25 23:17] #7314 closed

[2022-03-27 01:46] #5976 closed

[2022-03-27 16:48] #6682 closed

[2022-03-28 07:45] xpivarc commented on #7001
Hi @phoracek, would you be able to have a look here?

[2022-03-28 11:02] fadams opened #7463 "KubeVirt doesn't seem to be working with kind due to virt-handler fails"
I've been following the instructions in: https://kubevirt.io/quickstart_kind/
My host system is Linux Mint 20.1 (based on Ubuntu 20.04) with working KVM and QEMU
Freshly installed kind deploying images kindest/node:v1.23.4
KubeVirt v0.51.0

My kind cluster stars fine and I successfully deploy the k8s dashboard, which works as expected. Followed the instructions in the quickstart but KubeVirt fails

[2022-03-28 11:31] vasiliy-ul commented on #7463
It seems that the init container fails. Could you maybe try to get its logs: `kubectl logs -n kubevirt -c virt-launcher virt-handler-hnpnv` ?

[2022-03-28 14:32] fadams commented on #7463
Running
`kubectl logs -n kubevirt -c virt-launcher virt-handler-hnpnv` gives

[code]
I do have apparmor enabled that seems to be the default on Ubuntu based distros these days. I don't seem to have a `/var/log/audit/audit.log` however if I do `dmesg | tail` I get:
[code]
Which does rather suggest that's the culprit.

AppArmor kind of sits in the realm of "the dark arts" for me, I don't suppose you

[2022-03-28 15:01] vasiliy-ul commented on #7463
The simple way would be just to disable apparmor. Either you can do it completely via e.g. `systemctl stop apparmor` or you can disable the profile: `aa-disable libvirt` (or `aa-complain libvirt`).

Alternatively you can setup the apparmor policy. E.g. on my system I have `/etc/apparmor.d/abstractions/libvirt-qemu` which contains rules to allow the execution of qemu binaries. Adding smth like `/us

[2022-03-28 15:09] fadams commented on #7463
Thanks, yeah I have a `/etc/apparmor.d/abstractions/libvirt-qemu` and that seems to have a section with the comment `# the various binaries` that includes my existing `/usr/bin/qemu-system-x86_64 rmix,`

I think your suggestion Adding smth like /usr/libexec/qemu-kvm rmix, is probably the way to go, I'll have a play. Thanks again - though I might be back :-)

[2022-03-29 07:30] fadams commented on #7463
I've tried a few things relating to AppArmor now.
Interestingly it appears that stopping the AppArmor service doesn't help - I tried each of:
`sudo systemctl stop apparmor`, `sudo  /etc/init.d/apparmor stop` and `sudo service apparmor stop`, which I think are just different ways of doing the same thing but although according to the status they were marked as inactive afterwards I was still seing "

[2022-03-29 09:20] phoracek commented on #7001
Hey. @maiqueb could you check this? I recall you did some digging around route configuration in KubeVirt some time back, although I'm not sure it is related to this issue.

[2022-03-29 09:21] vasiliy-ul commented on #7463
Interesting, according to https://gitlab.com/apparmor/apparmor/-/wikis/Libvirt , libvirt creates a new profile for each domain basing on the `/etc/apparmor.d/libvirt/TEMPLATE.qemu` (which in turn includes `/etc/apparmor.d/abstractions/libvirt-qemu`). Though before creating such a profile it checks which security driver to use (e.g. Apparmor or SELinux). I have a feeling that libvirt cannot determi

[2022-03-29 10:18] fadams commented on #7463
Update:
I'm still not sure why changing `/etc/apparmor.d/abstractions/libvirt-qemu` as above doesn't seem to work and given the comment in there "# the various binaries" that would seem to be the "right" place. Maybe the issue is that the reload doesn't reload these child/abstraction profiles, I dunno, though your observation above that there is some "dynamic magic" seems plausible, as you say it

[2022-03-29 10:32] vasiliy-ul commented on #7463
Well, basically yes, if you add `/usr/libexec/qemu-kvm rmix,` to the main libvirt profile `/etc/apparmor.d/local/usr.sbin.libvirtd` that should also work. Anyway the libvirt version shipped with kubevirt does not detect apparmor so changing (or disabling...) the profile on the host  seems like a valid solution.

[2022-03-29 10:42] fadams commented on #7463
Out of curiosity do you know if anything about these AppArmor quirks is mentioned anywhere in the KubeVirt docs? TBH in the first instance I basically just followed the https://kubevirt.io/quickstart_kind/ then found myself in this hole and it looks like others might have been similarly bitten - I'd guess anyone using a modern Ubuntu based distro (probably others too) is likely to have this fail.

[2022-03-29 11:00] vasiliy-ul commented on #7463
Not sure if it is mentioned somewhere in the docs. AFAIK KubeVirt 'natively' supports only SELinux. This is not the first time someone is raising Apparmor-related issue. Definitely adding Apparmor related bits would be a good contribution to the project.

E.g. previously it was discussed here: https://kubernetes.slack.com/archives/C8ED7RKFE/p1644226272859289

[2022-03-29 11:33] fadams opened #7473 "Please update docs to flag up AppArmor issues on Ubuntu based hosts (and probably others)"
When starting out on KubeVirt it's common practice to begin with the quickstarts as suggested at the start of the user guide https://kubevirt.io/user-guide/#try-it-out

For example I basically just followed the https://kubevirt.io/quickstart_kind/ then found myself in a bit of a hole as virt-handler wouldn't deploy.

It turns out that my issue was due to the libvirtd AppArmor profile deployed when

[2022-03-29 14:25] maiqueb commented on #7001
/assign @maiqueb

[2022-03-30 08:35] mokarage commented on #6943
@xpivarc Thank you for your comment. I understand now that virt-launcher can not handle the situation of SELinux, but how about the first solution:

`component":"virt-handler","level":"warning","msg":"Permissive mode, ignoring 'semodule' failure: out: \"Failed to resolve typeattributeset statement at /var/lib/selinux/mcs/tmp/modules/400/virt_launcher/cil:15\\n/sbin/semodule:  Failed!\\n\", error:

[2022-03-30 09:37] borod108 opened #7487 "Live Migration progress metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

This issue is about adding better track-ability for live migrations, i.e exposing relevant metrics from the VMI so that Prometheus can read and display it. We have identified the following 4 metrics to be exposed to prometheus. The first three metrics are from libvirt and the last one is a derived metric.

The Go

[2022-03-30 11:31] xpivarc commented on #6943
Hi @mokarage,

I apologize but I ignored the error before. There is a solution for it. See https://github.com/kubevirt/kubevirt/issues/7314#issuecomment-1064203596 (The issue should be the same as yours)

[2022-03-30 14:21] dhiller commented on #7473
/triage accepted

@fadams would you be willing to work on this?

[2022-03-30 14:32] dhiller commented on #7445
/triage needs-information

Can you elaborate a little bit more on what you are expecting vs. what you are seeing, especially where the screenshot originated from?

Also the cluster default network configuration is important.

[2022-03-30 14:34] dhiller commented on #7409
/triage needs-information

[2022-03-30 16:25] maiqueb commented on #6733
It is still not yet possible to hotplug interfaces into a pod, which is currently blocked on Blocked waiting for https://github.com/k8snetworkplumbingwg/multus-cni/pull/777

As such, we should adjust our expectations: it is impossible to have this available in KubeVirt by Summer 2022.

[2022-03-30 19:06] awels commented on #6770
Is this still a problem?

[2022-03-31 02:15] leoryu commented on #7445
When IP of pod is same as the IP inside VM, I can get response from vm through curl pod IP in cluster, but I cannot get response if these IPs are different.

[2022-03-31 02:38] leoryu commented on #7445
I think this issue is cased by DHCP. When VM is started first time, DHCP server will assign an IP for VM, if VM is rebooted, Pod IP will be changed, but DHCP will not re-assign an new IP for VM, since DHCP doesn't expire.

[2022-03-31 12:07] maiqueb commented on #7001
I don't know how you've reached that situation @itmwiw, I can't reproduce it - it fails instead when trying to spoof the pod interface's MAC address.

BUT: ipvlan CNI will **not** work with secondary interfaces when the CNI is configured with IPAM. That happens because ipvlan **requires** the MAC addresses of the lower device and the ipvlan device to be the same.

And bridge binding - when IPAM is

[2022-03-31 12:07] maiqueb commented on #7001
/close

explained in https://github.com/kubevirt/kubevirt/issues/7001#issuecomment-1084494175 why ipvlan cannot be used with IPAM for secondary bridge interfaces.

I suggest using another CNI.

[2022-03-31 12:07] #7001 closed

[2022-03-31 17:11] fadams opened #7504 "Question: Is there a way to deploy just enough to expose /dev/kvm to containers?"
For context my _real_ use case is a requirement to deploy existing containers that launch VMs and the main prerequisite is access to `/dev/kvm` from the container (they also use `/dev/net/tun` but that works just using a volume mount).

I came across this: https://github.com/kubevirt/kubevirt/issues/1276 and used that as the basis of an experiment:
[code]
I deployed the kubevirt-operator.yaml and

[2022-03-31 19:08] xpivarc commented on #6622
/close
done

[2022-04-01 07:12] vasiliy-ul commented on #7504
If you only need to run your own containers with qemu, why do you need KubeVirt at all? I think you can simply expose `/dev/kvm`  and perhaps some other devices to the container. Also you will need to setup permissions and potentially some other tweaks. But it should work I think.

[2022-04-01 07:53] AlonaKaplan opened #7506 "vmi_multus tests should test IPv6"
**What happened**:
The [macvtap migration test
](https://github.com/kubevirt/kubevirt/blob/b168656cedf87f4e95892a9983cc4861e176fe6c/tests/network/vmi_multus.go#L1471) works for IPv4 only.
The VMs in the test get only IPv4 address for the macvtap interface from the cluster DHCP server.
Probably RA should be enabled on the VMs so they will get IPv6 address as well.
The test should be adapted to test

[2022-04-01 07:56] fadams commented on #7504
That's kind of the point. I don't _really_ need KubeVirt per se, but I *do* need `/dev/kvm` and I'm not sure how best to expose that to the containers.

As I say above `/dev/net/tun` (which is the other device I need in my containers) doesn't seem to be an issue in that I can make that visible simply by using a volume mount, but that approach doesn't work for `/dev/kvm`

I've actually tried this i

[2022-04-01 08:15] vasiliy-ul commented on #7504
Ah, I probably missed that you wanted `unprivileged` Pods. Right, access to the devices need to be configured via cgroups for containers.

The device manager's code of KubeVirt lies here: https://github.com/kubevirt/kubevirt/tree/main/pkg/virt-handler/device-manager. Maybe you could reuse that somehow and write your own device plugin? I think that would be the bare minimum. Though perhaps someone

[2022-04-01 09:02] #6637 closed

[2022-04-01 10:46] zhhray opened #7508 "ipAddress in the vmi.status.interfaces was lost when the vm was first created and started"
**What happened**:
ipAddress in the vmi.status.interfaces was lost when the vm was first created and started.

vmi status yaml at first like this
[code]
But after a while, this is going to look like this
[code]
And then after a long time get change to this:
[code]

**What you expected to happen**:
The ipAddress  do not lost while updating information about the interfaces.

**How to reproduce it (a

[2022-04-01 10:57] zhhray commented on #7508
Use `kubectl get vmi vm-ip-miss -n virt-ns -w -o yaml` to capture the content of the first startup after the creation of virtual machine.
Notice the part of yaml that marks # miss
[code]

[2022-04-01 12:11] fadams commented on #7504
What I'm _actually_ doing is something closer to containers in concept, but using a hypervisor as an additional security layer.

I'm actually using Firecracker as the hypervisor and the gist is that I'm taking existing container images and running a transformation step to generate the root filesystem. In general the original containers are "microcontainers" so really quite minified to the minimum

[2022-04-01 12:24] fadams commented on #7504
BTW re `One more thing: why not using KubeVirt directly?` to be clear, when I deployed KubeVirt (and thanks again for the AppArmor thoughts that was super-helpful) I was able to deploy an unprivileged Pod from the yaml I mentioned at the top of this thread and was able to launch a qemu VM in that so the
[code]
stuff seem to work as far as I can tell from that experiment. So I _could_ just deploy t

[2022-04-02 06:04] #6348 closed

[2022-04-02 15:06] #6718 closed

[2022-04-02 16:06] #6363 closed

[2022-04-02 16:06] #6561 closed

[2022-04-02 18:07] newhuangchuan commented on #6770
Yes, I am currently using the hot-swappable disk and snapshot function, and I feel that there are some problems with these, I don't know if it is because of the version.

[2022-04-02 20:50] #7071 closed

[2022-04-03 23:09] #6727 closed

[2022-04-04 06:26] alicefr commented on #6976
We cannot solve this at KubeVirt level. We could document the limitation but it seems not to be very important. Closing

[2022-04-04 06:26] #6976 closed

[2022-04-04 06:54] alicefr commented on #7504
@fadams are you aware of (kata container with firecracker) [https://gokulchandrapr.medium.com/kata-containers-on-kubernetes-and-kata-firecracker-vmm-support-28abb3a196e7]? Not sure if this could be a better fit than KubeVirt for your use. Apologize if you already evaluated it :)

[2022-04-04 10:15] fadams commented on #7504
@alicefr thanks, yeah I was aware of Kata Containers but I wasn't super-keen on the idea of an additional container runtime and moreover Kata seems to run basically a container runtime plus an agent (and I think a few other things) inside the Guest VM and TBH I wasn't over keen on increasing the potential available Guest attack surface - in my case I basically init to a minimised app (no extra bin

[2022-04-04 10:39] alicefr commented on #7504
Yes the agent is the init and does the namespacing. It should be relatively small and not require a lot of libraries. Kata containers could avoid the need of creating a VM image as you can deploy container images as they are. You can also use a custom kernel if you need it. The main goal of kata container is to isolate the container workload and it reminded me your use case. But I understand if yo

[2022-04-04 19:31] alexellis commented on #2764
Why is nested virt only useful for testing and demos?

[2022-04-04 19:52] David-Krupa opened #7518 "Golang Vulnerability Allows an Attacker to Crash a Server Discovered at High severity"
What happened:
From security scans, discovered high severity vulnerability in the go package. See release notes here: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-27191

Use of a Broken or Risky Cryptographic Algorithm in golang.org/x/crypto/ssh golang.org/x/crypto/ssh versions 0.0.0-20220214200702-86341886e292 and prior in Go through 1.16.15 and 1.17.x through 1.17.8 allows an attacker

[2022-04-05 08:55] xpivarc commented on #6447
This will be fixed by https://github.com/kubevirt/kubevirt/pull/7103

[2022-04-05 09:18] D1abloRUS commented on #7279
Hi! do you have any ideas? I can run additional tests

[2022-04-05 10:27] xpivarc commented on #7334
I am going to have a look. Thanks for the initiative and sorry for the late reply.

[2022-04-06 04:07] wonleing opened #7521 "VMI is auto tear down in a large vmirs."
**What happened**:
VMI is auto tear down and create in a large vmirs scale.

**What you expected to happen**:
vmi and Pod should be stable, no auto tear down and create

**How to reproduce it (as minimally and precisely as possible)**:
Run 200 replicas of vmirs, and keep watching vmi list and kubelet log
vmi and pod was deleted automatically, and then create a new one.

**Additional context**:
Kub

[2022-04-06 04:15] wonleing commented on #7521
I noticed there's a policy that "While meet Orphan Pod, kubelet will clean up it and its directorys (cleanupOrphanedPodDirs)"
seems kubernetes recognize vmi which is not used for a long time as 'orphaned pod'
Any method to prevent vmi not to be Orphan Pod? or disable this policy?

[2022-04-06 04:25] wonleing commented on #7521
![image](https://user-images.githubusercontent.com/105055/161895394-d3445c2c-4de4-4fbf-abb4-9ca11d5900d8.png)
looks like Eviction manager is doing this.
How to prevent this eviction?

[2022-04-06 10:03] shewensheng opened #7526 "make failed with some error"
Hello all:
  I am new with kubevirt，I run make with main branch on my environment centos7.6, here is my step:
export DOCKER_PREFIX=10.188.188.22:5000
export DOCKER_TAG=sws0406
make

finally，make report error:
[root@k8s-1 kubevirt]# make
./hack/dockerized "hack/bazel-fmt.sh"
go version go1.17.5 linux/amd64

go version go1.17.5 linux/amd64
Regenerating sandbox
INFO: Build option --incompatible_enabl

[2022-04-06 10:44] mzzgaopeng commented on #7508
we also met

[2022-04-06 14:17] usrbinkat commented on #7526
Does the problem still occur if you kill any images using [quay.io/kubevirt/builder](http://quay.io/kubevirt/builder), delete the image, and docker volume rm kubevirt
And try again?

[2022-04-06 14:21] usrbinkat commented on #7487
This is a work in progress on #7513

[2022-04-06 15:55] David-Krupa commented on #7518
Does kubevirt use go's crypto/ssh? The CDI addon does not. This could be a false positive scan result if not.

[2022-04-07 03:17] #6747 closed

[2022-04-07 06:59] zhhray commented on #7334
OK. I'm looking forward to your reply.

[2022-04-07 12:38] marceloamaral commented on #6054
/remove-lifecycle stale.

[2022-04-08 01:23] shewensheng commented on #7526
Thank you, I fix the problem with your suggest, but still make failed, now the error log is:

Waiting for it to complete...
Another command (pid=15) is running. Waiting for it to complete on the server (server_pid=19)...
INFO: Analyzed target //rpm:sandbox_x86_64 (258 packages loaded, 9580 targets configured).
INFO: Found 1 target...
ERROR: /root/.cache/bazel/_bazel_root/6f347497f91c9a385dcd929464

[2022-04-08 10:00] npu21 opened #7537 "After dv succeeded the virt-launcher pod didn't come up"
**What happened**:
We use  wait for first consumer mode.
However, one of the batch created vms，the virt-launcher pod disappeared，while other virt-launcher pods all created successfully.

**What you expected to happen**:
After dv succeeded，the ephemeral virt-launcher pod should gone and the virt-launcher pod should come up.

**Additional context**:
The abnormal vm virt-controller log
[code]
The nom

[2022-04-08 10:34] EdDev commented on #7508
/sig network

[2022-04-08 13:08] awels commented on #7537
If it happens again, can you also check the PVCs associated with the virtual machines. In particular we need to know which PVCs are bound or not, and where they are bound. You mention WFFC, so there is a bit more complicated logic associated with that. Also a describe of the VMI will help tell us why it is not starting.

[2022-04-08 13:31] EdDev commented on #7508
The `infoSource` hints what is happening here.

The information is based on the pod & domain (as seen by libvirt). The IP is the one assigned to the pod.

This info comes also from the guest-agent, which is what is seen in the guest itself and is more accurate. It overrides data seen previous on the pod.
It means that no IP was yet to be set in the guest.

It should not take too long, but it is de

[2022-04-08 14:17] #5611 closed

[2022-04-08 14:17] #6768 closed

[2022-04-08 20:06] xpivarc opened #7541 "Re-implement cloudinit tests"
**What happened**:
I was reviewing tests and I found it interesting we rely on timing in the case of cloudinit tests. What  I mean by this is that we connect to the console after we start the VMI and expect some early messages from boot process. This is not a reliable way to do this.

e.g buffer will overflow or timing issues can occur

**What you expected to happen**:
We connect to the console be

[2022-04-08 20:08] xpivarc opened #7542 "Missing debug data after 12th test fails"
**What happened**:
I was reviewing test failures and I couldn't see any data for 12+ failed tests.

**What you expected to happen**:
I expect the debug data to be available.(To be honest, I didn't look if we intentionally cut this...)

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.

**Additional context**:
Add any other context about the problem

[2022-04-09 06:56] mzzgaopeng commented on #7508
When we use the bridge network mode, this problem occurs, but by printing the corresponding log file

[code]

Through the printed log, the qemu-guest-agent is obtained normally, and the problem is that the vmi is not updated (rsynced vmi)
<img width="1788" alt="image" src="https://user-images.githubusercontent.com/22125180/162560630-dd830ab0-159e-43af-80d6-0c207b29bceb.png">

Under normal circumst

[2022-04-09 07:11] npu21 commented on #7537
Sure，but it's not easy to reproduce the issue.
I notice that the abnormal vm has this log ```{"component":"virt-controller","kind":"","level":"info","msg":"Dispatching delete event","name":"mgt08","namespace":"cie","pos":"vm.go:787","timestamp":"2022-04-08T08:39:20.544590Z","uid":"67223675-e320-4996-bd6f-f2bf07a681b2"}``` while the normal vms don't.
This is not the first time the issue happen. Las

[2022-04-09 09:17] #6740 closed

[2022-04-09 17:19] qyzhaoxun commented on #7006
may be node's kernel version too low(<3.15), which leads to nftables not working

[2022-04-10 05:51] EdDev commented on #7508
@mzzgaopeng , I have hard time to understand what you are trying to say here.
The Guest Agent is reporting interfaces without IP/s first. When an IP is assigned (dynamically I suspect), it reports it as well.
After some time, it will be propagated to virt-launcher and from there to virt-handler which will then post it on the api-server (i.e. the VMI object).
This is what I meant by:

If you think

[2022-04-10 07:46] wdrdres3qew5ts21 commented on #5483
@phoracek  sorry for trouble you again if I want to using NMState to connect `CNI Bridge accross Kubernetes Node`.
I understand that I need to wired `mybr0` bridge from Node A to another bridge in Node B right ? Usecase like this can be done by using NMState right ?
Can you provide me example guide from NMState or topic related to my usecase ? I'm quite new about this and didn't sure I'm going in

[2022-04-10 09:59] AlonaKaplan commented on #6732
Relevant PRs-
https://github.com/kubevirt/kubevirt/pull/7158
https://github.com/kubevirt/kubevirt/pull/7435
https://github.com/kubevirt/kubevirt/pull/7520
https://github.com/kubevirt/kubevirt/pull/7431

[2022-04-11 02:56] zhhray commented on #7508
There are obvious problems here. Just like @mzzgaopeng said above.

[code]
The value of `vmi.status.interfaces` should not be like this. Because at this point, executing this command in pod will obviously get the IP address of the network interface of the VM.
[code]

And what should not be that in bridge mode, the vmi has displayed the pod IP, but when the qemu-agent updates it, it has discarded t

[2022-04-11 03:04] zhhray commented on #7006
Thanks for your replay.
This promblem still exists when my kernel is 4.14.
[code]

[2022-04-11 05:25] EdDev commented on #7508
I claim there is no problem, it is behaving as expected.

You are pointing out that the exposed status in the VMI status is not updated immediately.
kubevirt is refreshing the information at a reasonable rate, it will not do so every second.

If I am not mistaken, [this](https://github.com/kubevirt/kubevirt/blob/901ccb61047077616bbbda445b8ba148f7f7b8b9/cmd/virt-launcher/virt-launcher.go#L339) is t

[2022-04-11 06:17] mzzgaopeng commented on #7508
The problem we found was with the refresh rate after stabilization (it started at 10 seconds and increased exponentially to that stable value)
This time interval 10.20.40.80.160 These time points the guest-agent gets the IPaddress, it just doesn't write write to api-server.

[2022-04-11 06:38] EdDev commented on #7508
The only relevant fix related to something that resembles what you are describing was [this](https://github.com/kubevirt/kubevirt/pull/7131).

Your provided [log](https://github.com/kubevirt/kubevirt/issues/7508#issuecomment-1093756591) shows the IP was seen after at least 1min and 10sec. And that is at the virt-launcher polling of the guest-agent.
So I am not clear why you think the IP was seen a

[2022-04-11 08:27] SimpCosm commented on #7006
I came across the same problem for kernel 3.10,  after I update node os to kernel 4.18, it works all right.

[2022-04-11 08:28] jbhfenris opened #7547 "Issue when trying to association a GPU to a VMI"
Hello,

I'm trying to associate an Nvidia Tesla T4 to a Kubevirt VMI but during the scheduling phase, I've got the following message : " Insufficient [nvidia.com/TU104GL_Tesla_T4](http://nvidia.com/TU104GL_Tesla_T4)"

I'm using Kubevirt 0.45
Kubevirt CR contains the following elements :
spec:
    permittedHostDevices:
      pciHostDevices:
      - pciVendorSelector: 10de:1eb8
        resourceName:

[2022-04-11 08:37] xpivarc commented on #7547
Hi @jbhfenris,
would you be able to increase the log verbosity and provide the log file again?

[2022-04-11 08:51] jbhfenris commented on #7547
Hi @xpivarc, how to activate an higher log level on virt-handler ?

[2022-04-11 08:57] phoracek commented on #5483
Correct. To do so, you just have to list `eth1` (or `eth0`) as a `port` of `mybr0`.

Something like https://nmstate.io/kubernetes-nmstate/#how-it-works should be enough.

The `cluster-network-addons-operator` used to be used to install NMState. However, recently we have introduced a new operator dedicated for NMState. So you may need to install both.

[2022-04-11 09:22] jbhfenris commented on #7547
It has not effect

The virt-handler log remain at verbosity 2:
[code]

And in kubevirt object the config has been updated has proposed:
[code]

[2022-04-11 10:06] xpivarc commented on #7518
I believe it does. Would you be interested to update the dependency?

[2022-04-11 12:18] #6484 closed

[2022-04-11 12:21] phoracek commented on #6732
The user-guide was updated. @knfoo the feature should be a part of https://github.com/kubevirt/kubevirt/releases/tag/v0.52.0, could you give it a shot? https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#masquerade-ipv6-single-stack-support

[2022-04-11 12:24] D1abloRUS commented on #7279
@dhiller @vladikr

[2022-04-11 12:51] wdrdres3qew5ts21 commented on #5483
Thank you so much for give me advice for start project ! Currently I switch to Bridge CNI and using Multus. with fix Static IP it working perfectly my VM that snapshot from on-premise which had port and IP binding to interface can working fine when it have secondary IP from Multus and VM can connect each together in same Kubernetes Node the last step was only using NMState like you mention. If I s

[2022-04-11 13:42] rthallisey commented on #6756
/remove-lifecycle stale

[2022-04-12 09:17] fossedihelm commented on #6412
@rthallisey @pbxqdown I tried to reproduce this without success. Are you able to give an update if it persist, and in case how to reproduce it, please? Thanks

[2022-04-12 14:19] rthallisey commented on #6412
We would see this happens after the virt-controller restarts.  Try deleting the virt-controller while creating and deleting VMIs.

[2022-04-12 16:38] rthallisey commented on #7032
/remove-lifecycle stale

[2022-04-13 11:31] alicefr commented on #7547
In `virt-handler` log we don't have a device plugin for `nvidia.com/TU104GL_Tesla_T4](http://nvidia.com/TU104GL_Tesla_T4`. We should have a similar log message as for kvm device `Starting a device plugin for device: kvm"`. As already mentioned in kubevirt mailing list. I think it is due to an device plugin initialization issue.

Do you have the chance to try with a more updated kubevirt version?
J

[2022-04-13 12:09] enp0s3 opened #7568 "Most of the functional tests related to mediated devices are flaky"
**What happened**:
Most of the MDEV tests are flaky, more details in #7561
This may affect the stability of our vGPU support, since most of the tests are quarantined

**What you expected to happen**:
Tests to become stable and make us confident that our releases support GPU in stable manner.

[2022-04-13 12:09] enp0s3 commented on #7568
@xpivarc FYI

[2022-04-13 12:28] fossedihelm commented on #6412
Thanks @rthallisey I tried as you suggest but I cannot see missing phase. What I notice is that there are no data while virt-controller is being recreated, but I think this is because there are no metrics sent in that period.
![image](https://user-images.githubusercontent.com/4507192/163179877-b819d226-2df3-4852-a7f3-48892a6aaf50.png)

[2022-04-13 13:13] rthallisey commented on #6412
I think it's ok to close then @fossedihelm.  If we see it again we can always reopen.  Thanks for having a look

[2022-04-14 06:52] vasubabu opened #7571 "trying to understand the release cycles of kubevirt"
We are planned to consume kubevirt for production workloads, infront of that, we just trying to understand the release cycle for kubevirt.  Can anybody help us by sharing any documents to understand the release cycles.

[2022-04-14 08:13] jbhfenris commented on #7547
I've try to restart virt-handler and the node itself but without success.
For the version, as the feature is embedded within Anthos platform (Kubevirt v0.45.0-gke.21) I do not have the hand on it.

[2022-04-14 11:00] dhiller opened #7573 "FOSSA check failing due to vendored GPL 2.0 dependency from containerized-data-importer"
**What happened**:
A recent investigation of why the [FOSSA check started to fail](https://app.fossa.com/projects/custom%2B13072%2Fgit%40github.com%3Akubevirt%2Fkubevirt.git/refs/branch/main/a116c373d91069dd3750c84439d3e6f23451322d) in kubevirt/kubevirt suggested that the dependency containerized-data-importer in v1.42.0 introduced a [GPL 2.0 dependency](https://github.com/kubevirt/containerized-d

[2022-04-14 11:22] dhiller commented on #7573
/unassign @EdDev

/assign @orelmisan

[2022-04-14 11:24] dhiller commented on #7573
FYI @fossedihelm

[2022-04-14 11:26] dhiller commented on #7573
Not sure why it only started failing now as the dependency update was merged by end of January: https://github.com/kubevirt/kubevirt/pull/7056

[2022-04-14 11:43] EdDev commented on #7573
The production code is not suppose to depend on CDI AFAIK. Is this correct?

I am pretty sure the e2e tests do depend on it.

Anyway, this is a major incident and should be handled on CDI side. We can't do much about it from this end.

[2022-04-14 12:09] akalenyu commented on #7573
Still there IIUC
https://github.com/kubevirt/containerized-data-importer/blob/main/vendor/libguestfs.org/libnbd/aio_buffer.go#L5

[2022-04-14 12:11] alicefr commented on #7547
@jbhfenris  I tried to install KubeVirt v0.45.0 but for me, the device plugin initialization is working fine. Can you please verify that the GPU has been unbound and attach to vfio. Please, copy paste the output of the following commands `lspci -DD|grep NVIDIA`, `ls /sys/bus/pci/drivers/nvidia/`and `ls /sys/bus/pci/drivers/vfio-pci/` .

[2022-04-14 12:22] jbhfenris commented on #7547
@alicefr Here are the results of the commands:
`lspci -DD|grep NVIDIA` --> 0000:5e:00.0 3D controller: NVIDIA Corporation TU104GL [Tesla T4] (rev a1)
`ls /sys/bus/pci/drivers/nvidia/`--> ls: cannot access '/sys/bus/pci/drivers/nvidia/': No such file or directory
`ls /sys/bus/pci/drivers/vfio-pci/`--> 0000:5e:00.0  bind  module  new_id  remove_id  uevent  unbind

[2022-04-14 12:45] awels commented on #7573
Didn't we around that time split the CDI API into its own separate repo, which would stop the import of the CDI dependencies and that is probably why this is no longer failing

[2022-04-14 12:46] EdDev commented on #7573
We just need to make sure it is not vendored in, that is it. If the API dependency does not bring in that code, we should be fine.

[2022-04-14 12:54] rthallisey commented on #6307
/remove-lifecycle stale

[2022-04-14 12:55] rthallisey commented on #6307
Still experimenting on the right default policy.   So far I've seen some good results, but haven't had a chance to publish them yet.

[2022-04-14 13:17] vladikr commented on #7547
Interesting.
From the looks of it, it seems to me that any changes to the kubevirt CR are simply not getting applied.
@jbhfenris could you please check the existence of "kubevirt-config" configmap in your cluster?

[2022-04-14 13:24] jbhfenris commented on #7547
@vladikr yes there is a "kubevirt-config" configmap in the cluster.
Here is its content:
[code]

[2022-04-14 15:46] rthallisey commented on #6422
/remove-lifecycle rotten

[2022-04-15 06:33] zhlhahaha commented on #7297
Hi @rmohr @dhiller
Do you have any suggestion on this?

[2022-04-15 08:33] Icedroid commented on #6507
Now I use scsi lun deivce in vm. I found vm virt-laucher container not have /sys/dev/block/<maj:min>/queue/unpriv_sgio file. Should I mount the host sys dir to virt-laucher container?

[2022-04-15 14:04] jbhfenris commented on #7547
Updating to Kubevirt v0.48.1-anthos1.11-gke.2 resolved the issue for me.
The updates on Kubevirt config is now applied correctly. I do a test by changing the log verbosity level and the modification appears automatically on the pod.
The GPU appears now on node capacity and allocatable sections

[2022-04-15 14:04] #7547 closed

[2022-04-18 09:47] yaocw2020 opened #7584 "Unable to synchronize the labels in the template to the running VMI"
**What happened**:
A clear and concise description of what the bug is.

For the pair of the running VM and VMI, If we add a label in the template, it could be synchronized to the VMI.

I add the label `a: a` in the template, but it didn't appear in the VMI.
[code]

[code]

**What you expected to happen**:
A clear and concise description of what you expected to happen.

The kubevirt can synchronize

[2022-04-19 03:52] zhhray commented on #7334
Please kindly ask whether it(distinguish User vs limitRange) can be implemented in the new version as soon as possible?

[2022-04-19 07:39] rmohr commented on #7297
@zhlhahaha as you describe, the main discussion point will be where to get the desired cpu architecture from. Like I would expect a cluster default, and also ways to describe on the VM/VMI level the target architecture. In theory we could handle for some cases (like multi-arch boot images with containerDisks) the target architecture transparent, but in practice I would assume that this is not prac

[2022-04-19 10:54] rmohr commented on #6748
@Icedroid did you eventually manage to find the issue within the device plugin?

[2022-04-19 12:19] rmohr commented on #7403
There is still no fix on centos8-stream for that. Does not seem like it is treated with high priority: https://access.redhat.com/security/cve/cve-2022-0778

[2022-04-19 12:26] rmohr commented on #7403
Never mind. It is fixed in https://centos.pkgs.org/8-stream/centos-baseos-aarch64/openssl-libs-1.1.1k-6.el8.aarch64.rpm.html:

[code]

/close

Fixed in #7277 two weeks ago.

[2022-04-19 12:26] #7403 closed

[2022-04-19 23:36] betoredhat opened #7598 "Conformace tests in air-gapped environments"
**Is your feature request related to a problem? Please describe**:
We are trying to run kubvirt conformance tests in Openshift via sonobuoy, during the VM images creation images like  [quay.io/kubevirt/cirros-container-disk-demo:v0.52.0](http://quay.io/kubevirt/cirros-container-disk-demo:v0.52.0) cannot be pulled on the cluster nodes. At this time I do no see how to override the registry address w

[2022-04-20 08:30] rmohr commented on #6748
Thanks!

/close

[2022-04-20 08:35] rmohr commented on #7598
That should work by setting `--plugin-env kubevirt-conformance.CONTAINER_PREFIX=` and `--plugin-env kubevirt-conformance.CONTAINER_TAG=` (if necessary). That should redirect all pull requests to your local registry.

[2022-04-20 08:35] alicefr commented on #6507
@Icedroid can you please give more information on the the disk? I just tried and I can see in virt-handler:
[code]

[2022-04-20 08:37] rmohr commented on #7598
Could describe a little bit in detail how your mirror works? Why can't it see tags? We use digest for the actual production images in our operator. We don't do that for the testing images though, as you describe.

[2022-04-20 15:10] fabiand commented on #7571
Like https://github.com/kubevirt/kubevirt/blob/main/docs/release.md ?

[2022-04-20 15:10] fabiand commented on #7571
Please let us know if there is anything missing in this file.

[2022-04-20 15:10] #7571 closed

[2022-04-21 00:39] betoredhat commented on #7598
Hello @rmohr

Yes, setting those env variables did the trick, thanks a lot. We were trying also with this image [index.docker.io/kubevirt/conformance:v0.34.0](http://index.docker.io/kubevirt/conformance:v0.34.0) but seems a bit old and did not support the override. We will stay with [v0.52.0](http://quay.io/kubevirt/cirros-container-disk-demo:v0.52.0)

We run it this way:
[code]

Regarding mirror,

[2022-04-21 00:39] #7598 closed

[2022-04-21 06:23] carpediemtal opened #7603 "VMI was terminated because of "Still missing PID for uuid=*****, Process uuid=***** not found in /proc" on ARM64 environment"
**What happened**:
When I create the VMI on my **ARM64** computer by `kubectl create -f vmi.yaml` virt-launcher pod will log "Still missing PID for uuid=*****, Process uuid=***** not found in /proc" repeatedly:
`{"component":"virt-launcher","level":"info","msg":"Still missing PID for uuid=91efe376-bd6c-4289-9c9f-9273cde376d6, Process uuid=91efe376-bd6c-4289-9c9f-9273cde376d6 not found in /proc","p

[2022-04-21 07:39] rmohr commented on #7541
I think we are finally in good shape to replace most of the console based tests with ssh. What do you think about this? Initially, years ago the main reason for the console based tests was that we did not have a solution for networking and the VMs did not have network connectivity, but we needed to avoid regressions.

[2022-04-21 07:39] rmohr commented on #7541
We basically just wait with a timeout that finally the ssh server is available and that the private key is accepted (which is the equivalent of successful cloud init runs).

[2022-04-21 07:42] rmohr commented on #7526
@shewensheng we use vendoring. It may be that you are doing changes which reference files which are not included in the vendor folders because they were not referenced before. What then typically happens is that in your UI everything looks great because it just resolved dependencies itself. That can normally be fixed by running `make deps-sync`. Bazel just tries to tell you that you are  referenci

[2022-04-21 07:43] rmohr commented on #7521
@wonleing maybe your node is under pressure? I don't think that this is related to kubevirt as such. Maybe some automatic node-updates are happening which are evicting workloads prior to that?

[2022-04-21 07:44] rmohr commented on #7521
Checking your snipped in detail it looks like the node runs out of ephemeral storage.

[2022-04-21 07:47] rmohr commented on #7521
Could you share your VMI definitions? It would be interesting to see which volumes on the VMI are consuming all the disk space. In case it is a EmptyDisk, you may want to set a capacity, so that explicit ephemeral storage is requested. That should stop the eviction manager from evicting the pod for as long as the usage is below the requested amount.

[2022-04-21 07:49] rmohr commented on #7518
We only use it on the client-side. We don't run ssh servers. We are luckily not affected :)

Main is alread ahead of the commit which fixes crypto. Therefore closing. Feel free to raise concerns and reopen.

/close

[2022-04-21 07:49] #7518 closed

[2022-04-21 07:53] rmohr commented on #7504
Yes +1 on that one. The idea of having the device plugins separated floated around in the early stage of kubevirt, but we need full control over it, need to minimize the complexity of the architecture in production and need an easy way to evolve it together with kubevirt features, therefore it is part of virt-handler itself.

Closing this one as "resolved". Feel free to reopen if neede.

/close

[2022-04-21 07:53] #7504 closed

[2022-04-21 07:54] rmohr commented on #7603
/assign @zhlhahaha

who may be able to diagnose the issue better since we talk about an arm deployment. In general you can probably see in the event log `kubectl get events --all-namespace` what the root cause of the issue is. That VMs are teared down due to no qemu being started is normally only a symptom of a more fundamental problem.

[2022-04-21 08:05] chinglinwen commented on #6733
I'd say this is a critical feature to have. hope it merged soon.

[2022-04-21 08:15] rmohr commented on #7542
Yes we intentionally cut it. We collect quite some data and have limited storage budget. At some point it does not make too much sense to continue dumping everything per test. It is questionable if you get more insights when looking at the 20th failing tests in a row than when looking at the first ones. At least that was my rational for this decision. Maybe there are cases where it is useful?

[2022-04-21 08:27] xpivarc commented on #7542
Thanks @rmohr ! I thought this is the case and I think its totatlly resonable this way. Maybe we could expose a option to increase the threashold but I will try to fight against it in the case where I saw this.

[2022-04-21 08:27] #7542 closed

[2022-04-21 08:38] zhlhahaha commented on #7603
Let me give it a try.

[2022-04-21 08:41] carpediemtal commented on #7603
Thanks for your reply,  but I get nothing from `kubectl get events` :
[code]

[2022-04-21 08:42] rmohr commented on #7603
@carpediemtal the event log flushes entries after some time. You may have to recreate the issue.

[2022-04-21 08:49] zhlhahaha commented on #7603
Hi @carpediemtal
I am unable to pull your vmi image, so I tried my fedora vmi image and it works fine on most resent kubeVirt commit. Would you mind to try my setting:
[code]

[2022-04-21 09:05] zhlhahaha commented on #7603
I can reproduce the issue on my environment. It seems that there are something wrong when creating network. If I remove
[code]
vmi can boot successfully. I need sometime to see why it happen.

[2022-04-21 09:13] carpediemtal commented on #7603
@zhlhahaha
Thanks for your help,
I have pushed my vmi image to repo just now, I think you can pull it now.
And I also tried your image and config file, the problem is still not solved(vmi will crash after time out).

when I run "kubectl get events", I get this:
[code]

I solved the "Permission denied" problem  by  "chmod 777 -R /var/lib/kubelet/pods" manually and it works fine

And in my environme

[2022-04-21 09:25] zhlhahaha commented on #7603
Do you still have following messages from virt-launcher?
[code]

[2022-04-21 09:39] rmohr commented on #7603
This should not be necessary. Did you set the permissions inside the containerdisk correctly when creating it? Either make it public readable, or ensure that it is owned by uid 107.

[2022-04-21 10:55] carpediemtal commented on #7603
@rmohr
hi~
Actually, I don't know how to solve this "Permission denied" problem elegantly, I created the image follow the User Guide in this way:
Dockerfile:
[code]
[code]

I tried some methods that google told me, and this  "chmod all" solution is the helpful way.  Would you mind to give me some specific ideas?

[2022-04-21 14:18] rmohr commented on #7603
Hm, it looks correct how you build the containerdisk. In this case it probably has to do with the cluster provisioning independent of kubevirt :/

[2022-04-21 20:21] mikevank commented on #7518
Thank you @rmohr

[2022-04-21 22:17] #7306 closed

[2022-04-22 02:09] FireLv opened #7613 "After I reinstall kubevirt,only virt-operator ,no virt-handler and no"
**What happened**:
After I reinstall kubevirt,only virt-operator,no virt-handler and no virt-controller and no virt-api

**What you expected to happen**:
After I resintall kubevirt, virt-operator、virt-handler 、virt-controller、 virt-api can shows out

**How to reproduce it (as minimally and precisely as possible)**:
I remove the kubevirt,and I reinstall it,this issue will be reproduced

**Additiona

[2022-04-22 02:44] FireLv opened #7614 "cloud server failure to scheduling win10 vmi, the reason is:4 Insufficient devices.kubevirt.io/kvm"
**What happened**:
After I create vmi,the k8s schedule failure,and the reason is "4 Insufficient devices.kubevirt.io/kvm"

**What you expected to happen**:
k8s create vim success

**How to reproduce it (as minimally and precisely as possible)**:
create a vmi with yaml file

**Additional context**:
The value "devices.kubevirt.io/kvm" I get on both cloud server and hardware server is 0, is there any

[2022-04-22 07:21] alicefr commented on #7614
@FireLv are your nodes kvm capable? KubeVirt automatically discovers the available certain devices on the nodes, including `/dev/kvm`. Then, this information is exposed in the node capacity. If your nodes don't support kvm, you could use [emulation](https://github.com/kubevirt/kubevirt/blob/main/docs/software-emulation.md)

[2022-04-22 07:48] FireLv commented on #7614
hardware server:
[code]

cloud server:
[code]

[2022-04-22 08:04] alicefr commented on #7614
It seems to me that your `cloud server` doesn't:
[code]

About the master, do you allow the pod to be scheduled on master too?

[2022-04-22 08:34] FireLv commented on #7614
@alicefr
Thank you for your reply

After I install kubevirt,I run "kubectl create configmap -n kubevirt kubevirt-config --from-literal debug.useEmulation=true" to enable software emulation,is it too late?

Yes,I have allowed the pod to be scheduled on master node with remove the taint of the master node.

The virt-handler log for master node is:
[code]

[2022-04-22 09:07] alicefr commented on #7614
@FireLv I think you can simply edit the configmap and change that value.
Just to check, do you have also the kubevirt CR? Just get `kubectl get kubevirt -n kubevirt kubevirt`? There have been some conflicts with the device plugin initialization when you have both kubevirt config map and kubevirt CR

[2022-04-22 09:24] FireLv commented on #7613
Addtion infos:
remove steps :
[code]

install steps:
[code]

Now,I want to remove again,when I exec "kubectl delete -n kubevirt kubevirt kubevirt --wait=true",it shows :
**service 'kubevirt-operator-webhook.kubevirt.svc' not found**
And I get the operator service and  operator serviceaccount yaml files from other server(this server install after I get the right kubevirt version,and all pod is norm

[2022-04-22 09:27] FireLv commented on #7614
@alicefr
I have also install kubevirt CR
[code]

[2022-04-22 09:35] alicefr commented on #7614
ok, could you please try to reinstall KubeVirt and avoid the kubevirt config map creation? You should be able to set the configuration you want directly in the KubeVirt CR

[2022-04-22 09:36] alicefr commented on #7614
This seems to be a very similar issue we had for example in https://github.com/kubevirt/kubevirt/issues/7547

[2022-04-22 09:41] FireLv commented on #7614
@alicefr the newest configmap kubevirt-config is:
[code]
I see the value is true,so is there  no need to change the value?

[2022-04-22 09:48] FireLv commented on #7614
Avoid the kubevirt config map creation means don't  run "kubectl create configmap -n kubevirt kubevirt-config --from-literal debug.useEmulation=true" ?
So I only need to reinstall Kubevirt and resintall Kubevirt CR ?

[2022-04-22 09:51] alicefr commented on #7614
yes, avoid the configmap. Please, have also a look the our user guide: https://kubevirt.io/user-guide/operations/installation/

[2022-04-22 09:57] fabiand commented on #7614
@FireLv where did you find the guidance to use the config map in the first place?

[2022-04-22 09:57] fabiand commented on #7547
@jbhfenris where did you find the guidance to use the config map in the first place?

[2022-04-22 10:03] FireLv commented on #7614
@fabiand
Not in user-guide,it's from the blog of other's.
This is the first time I deploy Kubevirt,I don't know if it's right.

[2022-04-22 10:24] FireLv commented on #7614
@alicefr
I resintall KubeVirt and set the configuration in the KubeVirt CR,it resloves.
So the reason is I use a wrong way to enable software emulation.
Thanks very mush~

[2022-04-22 14:36] jbhfenris commented on #7547
I don't not use configmap at all, the config in kubevirt object was sufficient.The problem came from the v0.45.0-gke.21 version (exchange with Google support about it).

[2022-04-23 10:36] #6665 closed

[2022-04-24 03:40] #7614 closed

[2022-04-24 04:28] ariesliuwei commented on #7537
get vm, vmi, pod
![vmandvmi](https://user-images.githubusercontent.com/35886000/164956647-58e1fe0a-f031-4087-8559-c1826cad4a0d.png)

kubectl desctibe vmi -n cie
![vmi](https://user-images.githubusercontent.com/35886000/164956418-c60b0bc3-b5cb-4c2f-9bc0-a9e55ddb4268.png)

PVCs and PVs associated with the virtual machines
![pvcs](https://user-images.githubusercontent.com/35886000/164956439-756b0543-

[2022-04-24 07:23] iholder-redhat commented on #5336
@vasiliy-ul

[2022-04-24 08:48] FireLv opened #7621 "vmi not ready with "kernel doesn't allow setting HyperV VP_INDEX""
**What happened**:
After I create a vmi,the ready status is false,and I found "kernel doesn't allow setting HyperV VP_INDEX" in vmi pod logs

**What you expected to happen**:
A clear and concise description of what you expected to happen.

**How to reproduce it (as minimally and precisely as possible)**:
Create a RWM pv and pvc
Create a win10 vmi

**Additional context**:
I deploy KubeVirt on a clo

[2022-04-25 01:11] cszixin opened #7626 "stuck trying to compile a simple java souce code in kubevirt vm"
**What happened**:
I have a cluster, which do not support  hardware emulation, so use software emulation ,it like this,
![image](https://user-images.githubusercontent.com/16910250/165004681-ee37feed-8617-4962-a2e6-d7ffb79f1d55.png)
then run a vm(centos7) in cluster, like this,
![image](https://user-images.githubusercontent.com/16910250/165004793-5e2686e7-7030-4d09-a3e8-3d38d532ae06.png)
after a wh

[2022-04-25 01:47] zhhray commented on #7006
@qyzhaoxun @SimpCosm
Thanks very much, I tried to upgrade the Kernel version of node to the newest(5.4.190-1.el7.elrepo.x86_64) and it really works.

@rhrazdil
Could you please explain that there used to be no kernel version limitation, but now there is?

[2022-04-25 04:01] EdDev commented on #6885
@gbrayut ref above puts seabios as the main suspect. [This patch](https://review.coreboot.org/plugins/gitiles/seabios/+/01774004c7f7fdc9c1e8f1715f70d3b913f8d491) seems to fix the bug, but is yet to be released. I am also unsure how long it will take to reach QEMU packaging afterwards.

[2022-04-25 05:33] #5336 closed

[2022-04-25 07:09] rhrazdil commented on #7006
Interesting, thanks @qyzhaoxun @SimpCosm for pointing this out!
It appears our CI is kept up-to-date, so this issue has completely flew under the radar.

@zhhray This change on kubevirt side is then most likely related to a switch to prefer nftables, when nftables are available. https://github.com/kubevirt/kubevirt/blob/245c67cf1055a53ad0e8beb2fc3556474c86d822/pkg/network/infraconfigurators/masque

[2022-04-25 07:43] yun-ling commented on #7613
try use this command after reinstalling kubevirt
`kubectl delete validatingwebhookconfigurations virt-operator-validator`
That's because everytime you reinstall kubevirt ,the virt-operator will regenerate private key and CA cert,which will be use to sign webhook cert.However ,webhook resource seems not to be cleaned up so  next time you install kubevirt the webhooks still use  old private key and

[2022-04-25 07:51] yun-ling commented on #7613
I met this bug many times and the solution works for me

[2022-04-25 08:09] yun-ling commented on #7613
In fact,ramdom self-signed CA cert causes many issues  for api-server and webhooks .There should be an entry for k8s administrator to manage kubevirt CA cert so that we can keep CA  cert and private key unchangeable

[2022-04-25 08:14] FireLv commented on #7613
@yun-ling
Thanks so mush.It works for me too.
At least,I can remove kubevirt now.
I will reinstall kubevirt again

[2022-04-25 09:30] orenc1 commented on #2932
Correct.
Kubevirt, along with its supporting operators, are published in operatorhub.io periodically and automatically when a version is tagged in HCO repository.
The last published version is 1.6.0, which contains kubevirt v0.49.0:
https://github.com/kubevirt/hyperconverged-cluster-operator/releases/tag/v1.6.0
https://operatorhub.io/operator/community-kubevirt-hyperconverged

/close

[2022-04-25 09:30] #2932 closed

[2022-04-25 17:53] xpivarc commented on #5611
@dhiller
Was this addressed?

[2022-04-26 02:56] zhhray commented on #7006
In fact, many times the host kernel version is not kept up to date, but for this problem, is it possible to add a switch in the code to configure whether to use nftables or iptables？`nftables` was installed in `virt-handler` container image, so  uninstalling it is not a good way.

[2022-04-26 02:59] carpediemtal commented on #7603
@zhlhahaha @rmohr

Hi~  ^_^

 About this issue, I think I have found where the problem is after I read the source code(`pkg/virt-launcher/monitor.go`)

`monitor.go`

[code]

`log.Log.Infof("Still missing PID for %s, %v", mon.cmdlineMatchStr, err)`

**Error log** In my X86 computer:

[code]

According to the code, **%s** is 5a9fc181-957e-5c32-9e5a-2de5e9673531

**Error log** In my ARM64 environment

[2022-04-26 03:19] zhhray commented on #7508
I checked that [this](https://github.com/kubevirt/kubevirt/pull/7131) fix did shorten the time it took for the IP address to be written back, but it didn't solve the underlying problem.
My appeal is this:
When the contents of interfaces in the status of the vmi look like this:
[code]
When guest-agent comes to update, if the content of ipAddress field is empty, please do not rush to overwrite the e

[2022-04-26 04:02] zhlhahaha commented on #7603
Yes, I am also tracking this issue, as it cause `test_id:1621` failed, and find the `uuid=` problem. I confuse about why the `cmdlineMatchStr` contains `uuid=` on Arm64 but not on x86_64.

[2022-04-26 06:00] EdDev commented on #7508
You are considering the case where an IP address is actually set in the guest, but there are many cases when it is not. If the guest OS has no DHCP client, it will not have an IP address, or if there is something else done in the guest that sets a different IP address.

I claim we should reflect reality and not add logic a heuristics to adjust it to some scenarios. As the user of the API, you shou

[2022-04-26 06:12] EdDev commented on #7006
We prefer not to add such tweaks, especially when `iptables` are de-factor considered deprecated.
The `iptables` which existed in the past have actually been just wrappers, the backend was for years `nftables`.

I agree that this is a bad workaround, but just because we eventually will drop `iptables` support eventually (we should have sent a deprecation note already).

I would suggest investigati

[2022-04-26 07:45] Icedroid opened #7633 "Windows VM memory metric not right"
**What happened**:
Windows VM memory metric not right.
kubevirt_vmi_memory_resident_bytes  value is equal vm guest.memory, not real usage of windows vm.
kubevirt_vmi_memory_available_bytes metric is empty.

**What you expected to happen**:
How to get the real memory useage of windows vm

**How to reproduce it (as minimally and precisely as possible)**:
create a windows vm.

**Additional context**:

[2022-04-26 08:43] dhiller commented on #7170
It looks like the sig-performance lane is failing for a couple days on this issue. Is anybody willing to take a look at this?

[2022-04-26 09:26] zhlhahaha opened #7635 "VM failed to start when memory is less than 256M on Arm64"
This issue is used to track this known memory issue on Arm64.

**What happened**:
When boot VMs on arm64 and set memory to 128M, get following error message:
[code]

**Anything else we need to know?**:
This issue only happens on ARM64 and is not related to kubevirt. Boot VM directly via qemu-kvm on arm64 server would also get this error.

**Reasons**
When using UEFI boot on Arm64, qemu would reser

[2022-04-27 02:36] FireLv commented on #7613
@yun-ling  Sorry to bother you again

[2022-04-27 02:43] FireLv commented on #7613
@yun-ling
Sorry to bother you again, after I resintall KubeVirt-CR, I can see the “kubevirt.kubevirt.io/kubevirt”  status is deploying, but I can't see the job ,and there are no virt-handler , no virt-controller and no virt-api pod and rs.
Did you met this issue?

[2022-04-27 03:27] zhhray commented on #7508
I think you've convinced me that software programs are supposed to tell the truth. We will try to adapt our client logic as much as possible.I will close this issue. Thanks again for your reply.

[2022-04-27 04:33] zhlhahaha opened #7638 "Virt handler failed start in the kind k8s cluster on X86_64"
**What happened**:
I followed the instruction in https://kubevirt.io/quickstart_kind/ to create a kind k8s cluster. And then try to deploy kubevirt on it, but virt-handler failed to start in the init process as following:
[code]
I do not find any helpful logs. Here is the output form `kubectl describe pods`
[code]

**What you expected to happen**:
kubeVirt successfully start in the kind k8s cluste

[2022-04-27 05:12] yun-ling commented on #7613
You can check virt-operator logs via this command
`kubectl logs -f virt-operator-xxx - n kubevirt`
Replace "xxx" with your real pod name then you can see the error information.

[2022-04-27 06:55] xpivarc commented on #6600
/reopen
I would appreciate a reproducer(Ideally have a function test) as this worked on my env.

[2022-04-27 07:38] FireLv commented on #7613
@yun-ling
I checked my pod logs,and I found the reason is:
# "customresourcedefinitions.apiextensions.k8s.io \"virtualmachineinstances.kubevirt.io\" already exists""
After I remove KubeVirt,I delete all crds for kubevirt,and I resintall KubeVirt,the job appears.

[2022-04-27 07:46] dankenigsberg commented on #7066
/remove-lifecycle stale

@phoracek can someone look into it soon?

[2022-04-27 07:51] phoracek commented on #7066
Sure

/assign @phoracek

[2022-04-27 08:09] yun-ling commented on #7613
Yes,most of deployment errors can be located via virt-operator logs

[2022-04-27 09:02] FireLv commented on #7613
CRDs, clusterroles and clusterrolebindings  of KubeVirt were deleted one after another, I finally saw the pods virt-handler 、virt-controller and virt-api.
@yun-ling Thank you so much.

[2022-04-27 09:10] #7613 closed

[2022-04-27 10:02] #7142 closed

[2022-04-27 17:39] akalenyu opened #7647 "Snapshot unit tests sometimes flaky (reproduces locally)"
**What happened**:
Snapshot unit tests sometimes fail due to two distinct issues it seems:
- https://search.ci.kubevirt.io/?search=csi-rbdplugin-snapclass&maxAge=336h&context=1&type=bug%2Bjunit&name=&excludeName=&maxMatches=5&maxBytes=20971520&groupBy=job
- https://search.ci.kubevirt.io/?search=create+VirtualMachineSnapshotContent+online+snapshot&maxAge=336h&context=1&type=bug%2Bjunit&name=&exclud

[2022-04-28 07:01] zhlhahaha commented on #7603
@carpediemtal
I think this PR would solve the uuid problem. You can give it a try
https://github.com/kubevirt/kubevirt/pull/7637

[2022-04-28 07:45] zhlhahaha opened #7650 "E2E tests for Arm64 failed because attach unsupported device `isa-debugcon`"
**What happened**:
The test case ` [test_id:8531]enabled when log verbosity is high` in `pull-kubevirt-e2e-arm64` failed, because attach unsupported device `isa-debugcon`
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7637/pull-kubevirt-e2e-arm64/1519545667360395264

[2022-04-28 08:36] lyarwood commented on #7170
While this logic is failing I think that job is just timing out right?

[code]

https://github.com/kubevirt/project-infra/blob/cffefa28d6caf469a47e52718e37e75b3123f5a0/github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml#L412

[2022-04-28 08:41] lyarwood commented on #7170
https://github.com/kubevirt/project-infra/pull/2059 might help us avoid this issue in the job for now assuming it completes in time.

[2022-04-28 09:45] jseguillon opened #7652 "Update asciinema demo"
Hi, I just noticed the ascinema demo from README is now 5 years old and shows some outdated "VM.v1alpha1.kubevirt.io" Kind.

I think this demo deserves to be updated with now v1 stable API.

[2022-04-28 09:46] zhlhahaha opened #7653 "Propose for Parallel testing for Arm64"
**Is your feature request related to a problem? Please describe**:
Run e2e test parallel on Arm64 server, thus prow can assign more CI jobs to Arm64 server.

**Describe the solution you'd like**:
`quay.io/kubevirtci/bootstrap` provide a docker in docker environment. In a bootstrap image, we can use kind to create a isolated k8s cluster and run e2e tests on it.

The gaps here is that the bootstrap

[2022-04-28 12:10] dhiller commented on #7653
@zhlhahaha there was a [comment](https://github.com/kubevirt/project-infra/pull/1149#issuecomment-942000416) that arm64 does not support nested virt. Does it support it now?
This would be a hard requirement, otherwise we couldn't execute the same approach as we do in the other presubmits.

[2022-04-28 17:22] EdDev opened #7655 "[unit test flake] The "Domain informer with notification server should watch for domain events." test if flaky."
**What happened**:
There is an unit test that flakes: //pkg/virt-handler/cache:go_default_test: Domain informer with notification server should watch for domain events.

[code]
Ref: https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7627/pull-kubevirt-unit-test/1519722369269108736#1:build-log.txt%3A267

**How to reproduce it (as minimally and precisely as possible)**:

[2022-04-29 01:39] zhlhahaha commented on #7653
No, it not support nested virtualization yet. And that is why we try to use `kind` create k8s cluster and run e2e test parallelly.

Yes, maybe we can try the approach like `pull-kubevirt-e2e-kind-1.22-sriov`.

[2022-04-29 06:01] #7067 closed

[2022-04-29 06:59] #7508 closed

[2022-04-29 08:16] xpivarc commented on #7170
@enp0s3 @oshoval @ormergi Would you have a look at this as you were either adding or editing this. Another solution would be to remove this if nobody really wants it functional.

[2022-04-29 08:28] lyarwood opened #7658 "pull-kubevirt-e2e-k8s-1.21-sig-performance failing to launch 100 VMIs within a 300 second timeout"
**What happened**:

We increased the overall job timeout to 1h30m in https://github.com/kubevirt/project-infra/pull/2059 and can now see we were hitting it because of slow tests, specifically the `Density test` that is timing out launching 100 VMs in 5 minutes only reaching ~88:

https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7554/pull-kubevirt-e2e-k8s-1.21-sig-perform

[2022-04-29 08:32] lyarwood commented on #7170
FWIW this landed and allowed Ginkgo to fail the tests correctly, I've written this up as https://github.com/kubevirt/kubevirt/issues/7658.

[2022-04-29 08:50] lyarwood commented on #7658
Ah ha! I noticed 12 of the VMIs were still scheduling, looking at the logs it's because of memory pressure on the test host :

https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7554/pull-kubevirt-e2e-k8s-1.21-sig-performance/1519926879883104256/artifacts/performance/k8s-reporter/1_vmis.log

[code]

[2022-04-29 13:01] dhiller commented on #7653
Another TODO for us: In order to run the tests like we do on the prow-workloads cluster we need to integrate the cluster as a workloads cluster with prow control plane.

[2022-04-29 15:53] EdDev commented on #7653
I am wandering if this the only gap or there are other things behind the corner.
- kind: Have you managed to run it on your env?
- kubevirt:
  - We know that only a subset of scenarios can be run through `kind`. We unfortunately depend on some parts which are not well namespaced (e.g. storage loop devices). You should be fine as long as you do not use such "features" in the test.
  - For the exist

[2022-04-30 09:10] lyarwood commented on #7658
And it's still not 100% stable with a few examples where a single VMI isn't able to schedule:

https://prow.ci.kubevirt.io/job-history/gs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.21-sig-performance

I'm away on PTO until the 14th so someone might want to bump the resources one final time.

/cc xpivarc dhiller rthallisey

[2022-04-30 14:53] #6868 closed

[2022-05-01 06:15] oshoval commented on #7170
Assumption - I think we should disable the reporter there, there are too many machines and when it tries to console to the ones that aren't ready, each try takes 10 seconds (see please end of the log)

[2022-05-01 08:24] zhlhahaha commented on #7653
Hi, Edward, very good question.
If we try to use `kind` to build parallel testing environment, we may have compromise on some tests (skip some tests). As nested virtualization not support on Arm64 servers, `kind` may be only way we can build parallel testing. Or another choice is just run testing on bare metal server.

Yes, I use `kind` to build kubeVirt development environment, and run e2e tests

[2022-05-01 13:55] #6899 closed

[2022-05-02 17:35] #7650 closed

[2022-05-02 18:56] #6770 closed

[2022-05-03 07:35] xpivarc opened #7663 "Fix test "[test_id:8235]should check if kubevirt components have linux node selector""
**What happened**:
Test "[test_id:8235]should check if kubevirt components have linux node selector" should work with any installation of kubevirt.

The problem is how we list kubevirts component:
[code]

`"kubevirt"` should be replaced by `productComponent` (located within Kubevirt spec)

**What you expected to happen**:
The test is functional in any Kubevirt installation

**How to reproduce it (

[2022-05-03 07:36] xpivarc commented on #7663
/cc @ksimon1
Do you want to take this one?

[2022-05-03 07:38] ksimon1 commented on #7663
/assign ksimon1

[2022-05-03 08:21] orenc1 opened #7664 "Suspected regression in kubevirt v0.53.0-rc.0 (live migration on upgrade)"
**What happened**:
When trying to consume the newly released kubevirt v0.53.0-rc.0 in HCO, all upgrade tests were failing because the virt-launchers were not upgraded on kubevirt upgrade, despite having `LiveMigrate` on `.spec.workloadUpdateStrategy.workloadUpdateMethods` at KubeVirt CR.
As a result, post-upgrade there are VMIs with `kubevirt.io/outdatedLauncherImage` label that are still running.

[2022-05-03 08:25] nunnatsa commented on #7664
@davidvossel

[2022-05-03 08:47] orenc1 commented on #7664
Note:
Full KubeVirt CR post upgrade is available here:
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1918/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-upgrade-index-azure/1521232245312983040#1:build-log.txt%3A11105

in particular, the `workloadUpdateStrategy` configuration is present:
[code]

[2022-05-03 09:09] tiraboschi commented on #7664
Maybe some kind of "conflict" with the new MigrationPolicy mechanism?

[2022-05-03 11:26] #7635 closed

[2022-05-03 13:08] oshoval opened #7671 "multiqueue: Discussion about non virtio interfaces, and validation"
Lets use this issue please in order to discuss
If we want to convert Multi Queue to be best effort or keep it with the current validation.

**Is your feature request related to a problem? Please describe**:
Currently if Multi Queue is enabled, there must be at least one Virtio interface,
or no interfaces at all, else the validating webhook would block the creation
of either the VM or VMI.

There w

[2022-05-03 21:28] davidvossel commented on #7664
We have a presubmit [e2e test](https://github.com/kubevirt/kubevirt/blob/a1220326fcb6b16d03feeae74c48f21b0e4d9a74/tests/operator_test.go#L1442 ) that validate this exact scenario works updating from the latest release to the latest code in main. It hasn't been failing. We're only guaranteeing updates from n-1 releases.

I tested this locally using your VM spec just to validate we aren't missing an

[2022-05-04 01:27] carpediemtal commented on #7603
@zhlhahaha Now it works, thanks a lot !

[2022-05-04 01:27] #7603 closed

[2022-05-04 05:17] nunnatsa commented on #7664
@davidvossel - maybe this is the issue: we couldn't make the v0.52.0 bump to pass the smoke test and it was never merged, so HCO is still using v0.51.0

[2022-05-04 07:53] orenc1 commented on #7664
We are testing upgrade from same HCO minor version (1.7.0), which currently contains kubevirt v0.51.0, and also testing upgrade from the previous HCO minor version (1.6.z), which contains kubevirt v0.49.0. Both of which are failing on all platforms.

David, is there something special in v0.52.0 that would allow a successful upgrade to v0.53.0 ?

[2022-05-04 08:54] xpivarc commented on #7664
It seems to me (at least it is the case for https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1918/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-upgrade-index-azure/1521232245312983040#1:build-log.txt%3A11105) that you have 3 different cpus(Skylake-Server, Cascadelake-Server, Icelake-Server). This will block the scheduling of

[2022-05-04 09:34] orenc1 commented on #7664
This is for this specific run in azure (although we haven't seen this issue before).
The same exact upgrade test also runs on [AWS](https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1918/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-upgrade-prev-index-aws/1521232245346537472#1:build-log.txt%3A1515) and [GCP](https://prow.ci.o

[2022-05-04 10:31] xpivarc commented on #7664
@davidvossel Will/did, you have time to have a look?

Otherwise, I would take this later today.

[2022-05-04 11:16] rthallisey commented on #7658
/reopen

[2022-05-04 11:19] rthallisey commented on #7658
Still seeing 12 vmis with `Unschedulable` even after increasing kubevirt mem from 10G->12G and mem request from 48G->52Gi

[2022-05-04 11:38] brybacki commented on #7078
/remove-lifecycle stale

[2022-05-04 17:14] davidvossel commented on #7671
/cc @lyarwood

In general, we don't have best effort tunings in our VMI api. If some one asks for something, they either get it, or they get a validation error if the tuning can't be satisfied.

The new flavor api does conceptually allow for best effort tunings though. For example, with the flavor api we're considering the idea of `preferred` fields. So a flavor could have `preferredDiskBus=virtio

[2022-05-04 18:07] knfoo commented on #6732
@phoracek Awesome :rocket: I will give it a go

[2022-05-05 06:24] cszixin opened #7679 "Is there a way to run the macox system on kubevirt？"
I want to run macox on kubevirt, how can do it?

[2022-05-05 07:39] vasiliy-ul commented on #7679
Seems that previously there were some attempts. You may take a look at https://github.com/kubevirt/kubevirt/issues/2763. The issue lists some prerequisites. Though I am not sure this is currently supported in KbeVirt.

[2022-05-05 07:46] #7658 closed

[2022-05-05 08:49] alicefr opened #7680 "virtctl ssh doesn't correctly work with -i option using local-ssh"
**What happened**:
Options are not correctly parsed for `virtctl ssh local-ssh=true`
**What you expected to happen**:
Be able to access the remote server using the local ssh option with the `-i`

**How to reproduce it (as minimally and precisely as possible)**:
I can specify a key with `virtctl ssh` command
[code]
On the server if you check the sshd service you can see:
[code]
The `-i` is wrongly

[2022-05-05 08:54] rhrazdil opened #7681 "Kubevirt VM limits require Namespace to be specified in the manifest when creating"
**What happened**:

The following tests in tests/vmi_configuration_test.go:
- [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with namespace memory limits lower than VMI required memory
- [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with namespace cpu limits lower than VMI required cpu
- [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]

[2022-05-05 09:00] #6447 closed, assigned to nobody

[2022-05-05 13:38] VirrageS opened #7690 "Hotplug volumes incorrectly handles mutating `OnDefineDomain` callback"
**What happened**:
When VMI is started together with hook-sidecar that implements `OnDefineDomain` and which changes the specification of the `Disk`, in particular `Source.File` the hotplug volumes implementation seems to incorrectly handle that case.

Here is VMI spec:
[code]

When this VMI is being handled by the `virt-launcher` for the first time it goes to https://github.com/kubevirt/kubevirt/

[2022-05-05 13:57] rthallisey commented on #7690
/cc @awels

[2022-05-05 15:10] digiserg opened #7693 "Installation does not create CRD"
**What happened**:
This is the first time I install kubevirt. I followed the [docs](https://kubevirt.io/quickstart_cloud/) on how to install it and tried creating a VM but it did not work.

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Just install it on a brand new Kube cluster.

**Additional context**:

[code]

I went back several vers

[2022-05-05 16:25] xpivarc commented on #7664
Fixing in https://github.com/kubevirt/kubevirt/pull/7691

[2022-05-05 17:24] awels commented on #7690
Very interesting. I didn't take side cars that mutate the file(or dev) part of the disk into account, when I wrote that code. I think the cleanest way to fix this is to somehow detect if the domain is running before attempting to run the detach or attach disks code that is causing the problem. This way we know the callback is done before we attempt to run the hotplug logic in any way.

[2022-05-05 19:00] #6368 closed

[2022-05-06 03:34] #7663 closed

[2022-05-06 06:37] FrankYang0529 opened #7697 "VM shows ErrorUnschedulable when PVC is unbound"
**What happened**:
When creating a VM, the controller doesn't check whether PVC is bound and creates a VMI. So there may be a temporary state `ErrorUnschedulable`.
![image](https://user-images.githubusercontent.com/4927361/167078517-ba75adb9-3ae8-41c5-b8ea-abf24749de12.png)

**What you expected to happen**:
Check whether PVC is existent and bound before calling `startStop` function.

https://githu

[2022-05-06 07:28] vasiliy-ul commented on #7697
I might be wrong but isnt that the expected behaviour? A VM needs to wait while the PVC is bound. I.e. that is how `volumeBindingMode: WaitForFirstConsumer` is handled. Ping @awels

[2022-05-06 07:43] VirrageS commented on #7690
I think that the domain is actually running before we perform the `DetachDevice`.

---

I've been looking at the `DetachDevice` and `AttachDevice` documentation and then back at the KubeVirt code. And I think that after all the hotplug code should work, even with this weird case. But I think the bug might be somewhere else.

Notice that in the `DetachDevice` documentation there is such paragraf (h

[2022-05-06 07:59] xpivarc commented on #7693
Hi @digiserg ,
Did you verify components? `kubectl get all -n kubevirt`

[2022-05-06 08:02] digiserg commented on #7693
Yes, I did. I have deleted the namespace and tried again and on my third attempt, it did actually work. I'm running now v0.51.0

Not sure why it didn't work initially but I'm closing the ticket for now. Thanks.

[2022-05-06 08:02] #7693 closed

[2022-05-06 08:31] xpivarc commented on #7638
Hi @zhlhahaha ,
I believe we need to adjust the [script](https://github.com/kubevirt/kubevirt/blob/main/cmd/virt-launcher/node-labeller/node-labeller.sh#L24) a little bit. Do you want to have a look?

[2022-05-06 09:14] alicefr commented on #7697
@FrankYang0529 could you please provide the description of the virt-launcher pod and the PVC?

[2022-05-06 09:56] fabiand commented on #7101
Getting our hands on some simple HPA usage based on CPU sounds good.
We should at least start plyaing with it to reduce the unknowns.

I.e. I'm a little concerned about dynamic metrics like CPU, and rather wonder if it should be coupled to less user impacted metrics like the node count.

[2022-05-06 12:38] awels commented on #7697
The pod scheduled condition seems to contain all the proper information. I am not entirely what the issue is here. If you compare to a pod that uses a PVC that doesn't exist, the pod will remain in Pending mode until the PVC exists at which point it can schedule on a node that can attach the volume. I guess maybe the terminology is confusing? I am not sure.

[2022-05-06 14:01] #6915 closed

[2022-05-06 14:01] #6771 closed

[2022-05-07 10:26] xpivarc opened #7703 "Flaky - Migration tests using disableNodeLabeller"
Function[ `disableNodeLabeller`]( https://github.com/kubevirt/kubevirt/blob/main/tests/migration_test.go#L3972) should use patch instead of `Update` or be implemented with `Eventually` because it might get updated.

**How to reproduce it (as minimally and precisely as possible)**:
Run `[test_id:7505]when no node is suited for host model` multiple times while making coffee/tea.

**Additional contex

[2022-05-07 10:27] xpivarc commented on #7703
@iholder-redhat  Do you want to take this one?

[2022-05-07 10:38] xpivarc opened #7704 "Flaky tests - Remove usage of Nodes().Update"
**What happened**:
Tests failed - https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7678/pull-kubevirt-e2e-k8s-1.22-sig-compute-migrations/1522431722858221568

We need to remove usage of `Nodes().Update(...` with patches or add `Eventually` or retry on conflict(first is preferable).

**What you expected to happen**:
Tests should pass if there is no production bug

**

[2022-05-07 10:47] xpivarc opened #7705 "Flaky test - debug [test_id:6253] should remove old labeller labels and annotations"
**What happened**:
Test failed https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7678/pull-kubevirt-e2e-k8s-1.23-sig-compute/1522493315432321024 .

The failure is indicating we are constructing the patch in the wrong way. As a first step, we could add prints of our patches.

**What you expected to happen**:
A clear and concise description of what you expected to happ

[2022-05-08 04:52] rootdeep commented on #7633
you should install virtio-balloon driver for your windows vm.

[2022-05-08 07:51] orenc1 commented on #7664
Thanks, @xpivarc .
#7691 has merged. Waiting for a new KV release containing that fix to verify.

[2022-05-08 15:25] iholder-redhat commented on #7703
Sure, I'm on it. Thanks for bringing it to my attention.
/assign @iholder-redhat

[2022-05-08 15:48] iholder-redhat commented on #7101
Hey @fabiand!
You might want to have a look on https://github.com/kubevirt/kubevirt/pull/7401. There I've scaled virt-api components following a very simple yet effective heuristic just so we could scale on the short term.

On the long term, I fully agree with that we need to start playing with HPA. The question is which metrics to base it upon so we would scaling reliably. I think this can be boi

[2022-05-08 17:19] ezrasilvera commented on #7101
@iholder-redhat I agree exploring HPA is important. However, we also need to understand the actual bottleneck (which will help us to choose the correct metrics for HPA):
Do you have some testing data we can look into, where we can see high CPU usage?  It is especially important to see if we get this also on steady-state situations.
If it's only during burst cases we may be able to dynamically thro

[2022-05-09 03:01] FrankYang0529 commented on #7697
Hi @awels, @alicefr and @vasiliy-ul, sorry for the misunderstanding. The root cause is `volumeBindingMode` setting in my `StorageClass`. Close the issue. Thanks for all your help!

[2022-05-09 03:01] #7697 closed

[2022-05-09 06:41] zhlhahaha commented on #7653
Hi, @dhiller @EdDev
Any future comments? If you think it is workable, I will put it on my next sprint task list.
I will do following tasks:
- [ ] crossbuild bootstrap image
- [ ] try parallel testing in kind k8s clusters. The kind k8s clusters run in bootstrap image (A docker in docker environment)

Please feel free to give any suggestion or recommendation.

[2022-05-09 07:29] iholder-redhat commented on #7101
I 100% agree. @marceloamaral and @bbenshab had some experimentation (some of it is shared above).

[2022-05-09 13:02] vasiliy-ul opened #7710 "cgroup v2: Tracking of the allowed devices"
**What happened**:

Cgroup v2 does not expose any information about the currently allowed devices for a container. The implementation in KubeVirt tracks this internally by using a global var:

https://github.com/kubevirt/kubevirt/blob/86f6b7daddeef6ad704c5d190bedf3c52ec4ebf7/pkg/virt-handler/cgroup/cgroup_v2_manager.go#L10

This potentially leads to the following problems:
- The var will not survi

[2022-05-09 13:05] iholder-redhat commented on #7703
PR: https://github.com/kubevirt/kubevirt/pull/7711

[2022-05-09 13:05] vasiliy-ul commented on #7710
@iholder-redhat , fyi

[2022-05-09 13:28] iholder-redhat commented on #7710
Hey @vasiliy-ul, thanks for raising this issue and thanks for letting me know about it.

This implementation was actually a sort of a workaround since runc do not provide any mechanism for not overriding rules that were defined in the past.

In fact, I've already opened an [issue for runc](https://github.com/opencontainers/runc/issues/3196) about it. IMHO this shouldn't be a Kubevirt solution, but

[2022-05-09 14:17] vasiliy-ul commented on #7710
Yeah, I remember that you opened that issue while working on the implementation PR. Indeed it would be nice to have this fixed somewhere outside KubeVirt. However I think even with a workaround in place we need to ensure it is stable and robust. I havent yet tested that but consider the following scenario:
1. We start a VM as usual
2. Attach some hotplug volune (block storage; so this gets written

[2022-05-09 14:23] iholder-redhat commented on #7710
Your concerns are valid and important.

Regarding the scenario you've listed - it should be tested. I'm not entirely sure that we don't re-allow rules in a case of crash.

Regarding the size of the map - I agree, we should prune data that is no longer relevant.

[2022-05-10 02:01] ahussey-redhat opened #7714 "Enable GDB port"
**Is your feature request related to a problem? Please describe**:
Currently in order to attach GDB to a VM the options are; nested virtualization (first VM with KVM installed, sub VM with GDB port exposed, first VM attaches to GDB port of sub VM), or a sidecar container.

**Describe the solution you'd like**:
Enable exposing the GDB port of a VM using annotations.
One annotation to enabled exposi

[2022-05-10 05:23] wonleing opened #7715 "How to confirm the qemu version of each kubevirt release?"
There's no release note/changelog to mention this. Finally I noticed a file here
https://github.com/kubevirt/kubevirt/blob/v0.49.0/WORKSPACE
And I found out it is already upgrade qemu-* to 6.0 inside virt-launcher 0.49

[2022-05-10 05:42] #7715 closed

[2022-05-10 10:54] xpivarc commented on #7015
/remove-lifecycle rotten

[2022-05-10 12:09] xpivarc commented on #7633
Hi,
as @rootdeep pointed out, you need to install the driver. I am wondering if we documented this somewhere.

[2022-05-10 12:41] xpivarc commented on #7664
@orenc1 @nunnatsa  Btw. I suspect this was also the root cause why you couldn't bump to 0.52.

[2022-05-10 16:10] #6940 closed

[2022-05-10 18:41] sradco opened #7720 "Missing documentation for new vm snapshot recording rules"
**Description**:
In PR #7533, new recording roles were added, but they are missing from the documentation here https://github.com/kubevirt/kubevirt/blob/main/docs/metrics.md

**What you expected**:
The new recording rules should be added to https://github.com/kubevirt/kubevirt/blob/main/docs/metrics.md.

**URL**:
They should be added to https://github.com/kubevirt/kubevirt/blob/main/docs/metrics.m

[2022-05-10 18:54] akalenyu commented on #7720
I see we have `tools/doc-generator/doc-generator.go` which was supposed to pick up the newly added metrics, so something must have gone wrong?

[2022-05-10 19:17] sradco commented on #7720
@akalenyu, I raised this issue now with @machadovilaca. I believe that the tool doesn't check the recording rules, they were added manually.
I believe we should add them also to the test, since the developer shouldn't be expected to remember to add them to the docs.

[2022-05-11 02:07] carpediemtal opened #7722 "Could not open '/var/run/kubevirt-ephemeral-disks/disk-data/containerdisk/disk.qcow2': Permission denied"
**What happened**:

The VM will be terminated because of `Could not open '/var/run/kubevirt-ephemeral-disks/disk-data/containerdisk/disk.qcow2': Permission denied`, I have to execute `chmod 777 -R /var/lib/kubelets/pods` timely to avoid the problem.

**What you expected to happen**:
I want this error disappear

**How to reproduce it (as minimally and precisely as possible)**:

I create the contain

[2022-05-11 04:07] tgfree7 commented on #7006
I tracked the same issue for days, this is what i found:

-  nft's masquerade mode [is available starting with Linux Kernel 3.18.](https://wiki.nftables.org/wiki-nftables/index.php/Performing_Network_Address_Translation_(NAT)#Masquerading)
- centos 8's iptables tool has drop the [iptables-legacy](https://developers.redhat.com/blog/2020/08/18/iptables-the-two-variants-and-their-relationship-with-nf

[2022-05-11 06:59] chinglinwen opened #7723 "Create VM says Could not open /dev/sysdisk: Permission denied"
**What happened**:
A clear and concise description of what the bug is.

create VM stuck on scheduled step
[code]

**What you expected to happen**:
A clear and concise description of what you expected to happen.
VM running success

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.
Create VM

**Additional context**:
Add any other context about the pro

[2022-05-11 07:00] chinglinwen commented on #7723
## Events
[code]
[code]

[2022-05-11 08:19] carpediemtal commented on #7722
After I tried it again, I noticed another confusing phenomenon:

`disk.qcow2` belongs to qemu fleetingly, at first. Then the owner turn into root.

[code]

[2022-05-11 08:59] chinglinwen commented on #7723
Disable these two feature from kubevirt crd, it's working now.
[code]

[2022-05-11 09:45] alicefr commented on #7723
This is a permission issue with block devices and no-root VMs

[2022-05-11 11:22] acardace opened #7727 "Introduce a Go linter"
The idea is to use a Golang linter that would run on each opened PR for KubeVirt and would post results suggesting changes to improve the code.

Ideally, the linter should be easy to run and use on anyone's workstation.

One candidate might be https://github.com/golangci/golangci-lint.

[2022-05-11 13:32] architag21 commented on #3820
Hi @weikinhuang @shmoon-kt , were you able to figure out the solution. I am getting the same for pfsense app in kube-virt. If you know please share. Thanks!
![image](https://user-images.githubusercontent.com/91961752/167862044-938cbd21-7026-406a-a72a-86c9077f2eac.png)

[2022-05-11 14:12] usrbinkat commented on #7723
Patch is in progress #7564

[2022-05-11 14:13] usrbinkat commented on #7723
/triage accepted

[2022-05-11 14:17] usrbinkat commented on #7720
/triage accepted

[2022-05-11 14:17] usrbinkat commented on #7720
/assigned @akalenyu

[2022-05-11 14:18] xpivarc commented on #7722
Hi @carpediemtal ,
can you check the permission in the containerdisk container?

[2022-05-11 14:22] xpivarc commented on #7710
/triage-accepted

[2022-05-11 14:26] xpivarc commented on #7681
We need to make sure that we pass namespace here https://github.com/kubevirt/kubevirt/blob/a3aaf1ace40c44c9dafaf2c091851d5cdb829fd7/pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go#L82
The namespace can be obtained from the request.

[2022-05-11 14:29] usrbinkat commented on #7679
With #2763 shared for context, is there anything else we can answer, or would you be interested in helping to formally develop this capability?

[2022-05-11 14:30] zhlhahaha commented on #7722
I tried it on Ubuntu OS on Arm64 server. The issue does not happen. Can you try to attach the VM image as a normal volume to a kubernetes pods (not using kubevirt) and see if the ownership of disk is right?

[2022-05-11 14:31] usrbinkat commented on #7652
That's a great callout. Would you be willing to submit a PR with a new ascinema demo?

[2022-05-11 14:35] usrbinkat commented on #7626
Emulation commonly causes edge cases like this. Can you perhaps re-test in a plain non-kubevirt qemu emulated VM to see if the behavior is the same or different from what you are seeing in Kubevirt?

Thank you

[2022-05-11 14:39] chinglinwen commented on #7723
@alicefr

[code]
[code]

[2022-05-11 15:32] akkibatra commented on #3820
Hi @architag21

For me, it happened because my host was ubuntu. And pfsense(freeBSD) and ubuntu need different kernels.

[2022-05-11 16:51] architag21 commented on #3820
okay. This is yours I believe : ~$ docker pull weikinhuang/kubevirt-pfsense.
Should I try with this. Any standard yaml template would do right ?

[2022-05-11 17:51] weikinhuang commented on #3820
yep

[2022-05-11 19:13] David-Krupa opened #7730 "Critical Vulnerabilities with GO Versions Regarding PEM Data and Long Scalar Input at HIGH Severity"
**What happened?**
Container scanning tools discovered a couple of HIGH severity critical CVE's from the National Vulnerability Database (NVD).

- CVE-2022-24675    This vulnerability has been modified and is currently undergoing reanalysis. Please check back soon to view the updated vulnerability summary. encoding/pem in Go before 1.17.9 and 1.18.x before 1.18.1 has a Decode stack overflow via a

[2022-05-12 07:05] carpediemtal commented on #7722
@xpivarc
Thanks for your reply.
I'm quite new to kubernetes and I don't know how to do what you told me. Would you mind to tell me more?

[2022-05-12 07:29] carpediemtal commented on #7722
@zhlhahaha
emmm, I don't know how to do it correctly... Would you mind to give me a `pod.yaml`  or something else?

[2022-05-12 08:24] vasiliy-ul commented on #7710
Just a small update: I tested the scenario mentioned in https://github.com/kubevirt/kubevirt/issues/7710#issuecomment-1121163192. After killing `virt-handler` and attaching one more hotplug disk the allow-rule for the first volume gets lost. The device is still accessible from the running VM (since cgroup rules are checked only on `open` and the device was actually opened when the allow rule was i

[2022-05-12 09:13] vasiliy-ul commented on #7710
Unfortunately a file is not a perefect solution either. There are issues that need to be handled like concurrent reads/writes, timely cleanup... also we cannot apply a device rule and write to a file atomically. Its good that we identified this problem but I would think more on how to properly solve it. At least this issue should serve as a reminder.

[2022-05-12 13:56] rthallisey commented on #5732
/remove-lifecycle stale

[2022-05-12 13:59] rthallisey commented on #6412
/close

[2022-05-12 13:59] #6412 closed

[2022-05-12 21:14] orenc1 commented on #7664
we are witnessing the very same issue with the newly released KubeVirt v0.53.0.
I see that #7701 is not included in https://github.com/kubevirt/kubevirt/commits/v0.53.0.

@davidvossel , any plans to release v0.53.1 soon that includes @xpivarc 's fix so we could consume in HCO?

[2022-05-13 06:32] drawdy commented on #7638
I had the same problem. I ran the init container manualy and I get an error:
[code]

What should be noted is that my environmen is Ubuntu 20.04 VirtualMachine.

```uanme -a ``` info:
[code]

[2022-05-13 06:51] drawdy commented on #7638
swtch to version v0.51.0
[code]

[2022-05-13 09:48] fabiand opened #7735 "ServiceAccount Volume compatible with Bound ServiceAccount tokens"
**Is your feature request related to a problem? Please describe**:
Yes, this request should be addressing the need to adapt to the Bound ServiceAccount tokens and projected volumes change.

**Describe the solution you'd like**:
Due to bound service account tokens, pod level tokens are expiring. Toda KubeVirt generates disk images for a token (http://kubevirt.io/api-reference/main/definitions.html#

[2022-05-13 10:22] knopt commented on #6981
I believe that this relates to https://github.com/kubevirt/kubevirt/pull/7013

[2022-05-13 10:39] haslersn commented on #7305
The next NixOS release (22.05) will have virtctl [packaged](https://github.com/NixOS/nixpkgs/commit/1391482b41a65d67fd2a5af3ac670264a0f6b2db) for all platforms.

[2022-05-13 11:45] alicefr commented on #7722
@carpediemtal it isn't easy too achieve as the VM disk is delivered as a container image. If you want to check the permission of the original disk (not the snapshot), you can try to access the disk from the host. Here, the steps after you logged as root on the node where the virt-launcher pod is running:
[code]

[2022-05-13 12:54] carpediemtal opened #7738 "make: *** [Makefile:187: format] Error 1"
**What happened**:

I want to build kubevirt on my own, follow the guide([kubevirt/getting-started.md at main · kubevirt/kubevirt (github.com)](https://github.com/kubevirt/kubevirt/blob/main/docs/getting-started.md#i-just-want-it-built-and-run-it-on-my-cluster)), but I met this error.

Can anyone help me?

[code]

**What you expected to happen**:
I wish I can make kubevirt successfully

**How to r

[2022-05-13 15:46] brybacki commented on #7203
already fixed

[2022-05-13 15:46] #7203 closed

[2022-05-14 09:55] lyarwood commented on #7671
Apologies just catching up after PTO. Yeah the current series for flavors and preferences in https://github.com/kubevirt/kubevirt/pull/7578 introduces a preference of `preferredNetworkInterfaceMultiQueue` that is applied to the VMI submitted by the VM controller on start:

https://github.com/kubevirt/kubevirt/blob/a9c43b1cb6da664cecef2db5aba9863e8080c8b4/pkg/flavor/flavor.go#L311-L313

There's a c

[2022-05-14 12:18] #6383 closed

[2022-05-14 17:18] #6930 closed

[2022-05-15 08:20] dankenigsberg commented on #7671
I think that deprecating `networkInterfaceMultiqueue` in favor of a flavor-level `preferredNetworkInterfaceMultiQueue` would make sense.
(I should dive deeper to understand how flavor-level defaults/preferences are going to be resolved with lower-level specific requests, but this is not the right place to discuss it)

[2022-05-15 10:17] iholder101 opened #7745 "Deprecation policy for Kubevirt"
For a long time now the topic of deprecation policy had been around, and I think it is time to make the discussion formal.

**Motivation:**
In order for any software to be reliable enough for production use, it needs to have a stable API. This means that users would have a high confidence that the way they use Kubevirt would not become obsolete, or at least would give the proper time to prepare if

[2022-05-15 10:18] iholder-redhat commented on #7745
FYI @vladikr @davidvossel

[2022-05-16 09:54] QcFe opened #7750 "Velero Backups fails when no qemu guest agent is running on VM"
**What happened**:
Velero backups fail partially because of kubevirt when there are VMIs which are not running the qemu guest agent: the Velero pre/post hooks that are set as annotations to the virt-launcher pods try to run the virt-freezer utility, which however fails because no qemu-guest-agent is running inside the VM. As a result, the backup for such resource fails.

**What you expected to hap

[2022-05-16 10:38] xpivarc commented on #7653
Hi @zhlhahaha ,
First of all, thank you for the work you did so far(It's great to see Kubevirt running on another architecture)!

I think this would be a great step forward for Kubevirt and the community. Consider this as acknowledgment from CI team and commitment to support you during the integration of the cluster to our setup.

I think the above steps are prerequisites for joing the cluster to

[2022-05-16 10:57] yuntianfeijing opened #7751 "virt-handler unknown flag: --maxDevices"
**What happened**:
virt-handler unknown flag: --maxDevices when I set CR kubevirt  Configuration VirtualMachineInstancesPerNode

**What you expected to happen**:
when I set CR kubevirt  Configuration VirtualMachineInstancesPerNode, virt-handler not work, unknown flag: --maxDevices
virt-handler param --max_devices

**How to reproduce it (as minimally and precisely as possible)**:
when I set CR kube

[2022-05-16 11:54] alicefr commented on #7750
cc @brybacki

[2022-05-16 12:07] zhlhahaha commented on #7653
Thanks @xpivarc

[2022-05-16 13:19] #6906 closed

[2022-05-16 18:18] akalenyu commented on #7720
do you mean to `make generate`?

[2022-05-16 18:28] akalenyu opened #7753 "uncovered issues in '[test_id:3145]from previous release to target tested release'"
**What happened**:
This test started failing consistently (locally as well) some time after release-0.53.
Although is has been identified and solved in https://github.com/kubevirt/kubevirt/pull/7731, there remain a few open questions and issues:
- There remains an open question - why we did not see the failure right after the release was cut?
- The logic picking up the tag in `image: %s/%s-contain

[2022-05-17 02:56] chinglinwen opened #7754 "Source-Pod Crash"
**What happened**:
A clear and concise description of what the bug is.

When create vm from pvc source ( with open-local storage driver), the source-pod crash.

[code]
[code]

**What you expected to happen**:
A clear and concise description of what you expected to happen.

Success to create VM.

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.

1.

[2022-05-17 03:40] chinglinwen commented on #7754
dv:
[code]

[2022-05-17 03:44] chinglinwen commented on #7754
try upload image

[code]

found this event
[code]

[2022-05-17 03:47] chinglinwen commented on #7754
kube-schedule config
[code]

[2022-05-17 06:29] #7066 closed

[2022-05-17 06:30] alizshow opened #7755 "How can I pass two identical pciDevices?"
I have two identical GPUs with the same vendor/product id and in the same IOMMU group and I wish to pass them both to a single VM.
The Kubevirt-gpu-device-plugin provided by Nvidia detects one of them only, so I tried adding and naming these under different names in the `permittedHostDevices` of the config (although there is no way for me to differentiate between the two) and passing them to the V

[2022-05-17 07:23] tanaypatankar opened #7756 "Verbose Flag does not affect virtctl console"
**What happened**:
I wanted to get verbose logging of virtctl console so that I could see the URL and headers it is creating but verbose logging does not work. Adding -v flag also does not enable verbose output for any level.

	ubuntu@tanay-kv-test-4:~$ kubectl virt console testvm -v 8
	Successfully connected to testvm console. The escape sequence is ^]

	$

**What you expected to happen**:
The ve

[2022-05-17 08:11] sradco commented on #7720
@akalenyu yes. the make generate. Its running the docs-generator.

[2022-05-17 08:43] xpivarc commented on #6718
This needs to be done manually afaik.

[2022-05-17 12:16] awels commented on #7754
It looks like the target pod is returning a 500 when the source pod is uploading the file. Can you post the logs of the target pod?

[2022-05-17 14:57] xpivarc commented on #7664
@orenc1
The release should be available today https://github.com/kubevirt/kubevirt/releases/tag/v0.53.1

[2022-05-17 15:00] chinglinwen commented on #7754
[code]

[2022-05-17 15:13] awels commented on #7754
Yeah definitely space issue `E0517 14:29:43.810901       1 data-processor.go:278] write /data/disk.img: no space left on device unable to write to file`
Note in CDI we have a mechanism that 'pads' the space of the DV based on a filesystem overhead which can be configured per storage class. There are many provisioners where if you request a 10Gi filesystem PVC, it will create a 10Gi block device, a

[2022-05-17 19:14] alicefr commented on #7755
hi @alizshow there has been a couple of issues in updating the device plugin. Can you please provide the virt-handler logs?
One thing you can try is to restart the virt-handler pod by deleting the pod and check if this was updated. Another source of confusion for the device plugin is if you using the KubeVirt configmap together with the KubeVirt CRD. Is it your case?

[2022-05-18 01:47] alizshow commented on #7755
virt-handler logs regarding the GPU device plugin:
[code]

I'm using the KubeVirt CRD, the configmaps present are
[code]
which I do not think overlap with the CRD.

so @alicefr, you don't think the problem has any relevance to the fact that my GPUs are in the same IOMMU group and are identical? I have many other nodes in the cluster (that do not have this condition) and they (and their GPUs) are b

[2022-05-18 01:56] chinglinwen commented on #7754
Whil I increase the disk size 11G greater than 10G(image size), it's now functions correctly, I'll close the issue.

[2022-05-18 01:56] #7754 closed

[2022-05-18 07:05] xpivarc commented on #7664
/close
@orenc1 Release is available https://github.com/kubevirt/kubevirt/releases/tag/v0.53.1
Please reopen if you find any issues.

[2022-05-18 07:05] #7664 closed

[2022-05-18 08:20] alicefr commented on #7755
From the logs, it seems that one of device plugin has been disabled:
[code]

No, this seems fine

Probably, can you change the iommu group? I wanted to check any possible conflicts with the configmap as it already happened in the past.
FYI @vladikr

[2022-05-18 09:16] zhonglin6666 commented on #7738
meet the same issue.
Ubuntu 20.04
Centos 7.9

[2022-05-18 09:17] fabiand opened #7760 "`virtctl create vm` based on flavor proposal"
**Is your feature request related to a problem? Please describe**:
A feature request.

**Describe the solution you'd like**:
Once kubevirt/community#165 lands, KubeVirt has the infrastructure to easily create VMs. because so few informations will be required to launch a VM, it's probably the right time to implement `virtctl create vm m.large -v theRootPvc --name my-optional-name --preference an-op

[2022-05-18 11:40] orenc1 commented on #7664
The reported issue with the upgrade is resolved in v0.53.1, thanks.
However, we can't merge it yet, due to flakiness in some test cases in kubevirt test suite.
I'll open a new issue if needed.

[2022-05-18 11:45] xpivarc commented on #7664
Please do and feel free to ping me.

[2022-05-18 12:24] awels commented on #7754
If you are using a new enough version of CDI with KubeVirt, I highly suggest you try the `spec.storage` api of a datavolume. This should automatically pad the size and do all the hard math for you.

[2022-05-18 13:48] Steven-LZH commented on #7638
Got exactly the same issue as  @zhlhahaha and @drawdy mentioned.
Kubevirt v0.53.1, Kubernetes 1.23.5, Ubuntu 18.04 LTS, kernel 5.0.0-23-generic

[2022-05-18 14:27] dhiller commented on #7756
/triage accepted
/kind enhancement

This could be useful for debugging. Also this could be a good first issue.

[2022-05-18 14:32] dhiller commented on #7751
@kvaps do you want to have a look at this? Thanks!

[2022-05-18 14:32] xpivarc commented on #7751
Ref: https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-operator/resource/apply/apps.go#L331
The correct one is --max-devices
Also, let's add a functional test for this.

[2022-05-18 14:38] dhiller commented on #7738
@carpediemtal this looks like bazel is not able to fetch the dependencies for building the project. Are you behind a corporate firewall?

[2022-05-18 14:40] brybacki commented on #7750
That is right, we should change the behavior so it does not fail without guest agent. Then it can work with or without guest agent. Without guest agent it is best effort, so we cannot guarantee filesystem consistency.

I think there are at least two solutions to that:
1. Do not return error from virt-freeze hook (so it will continue)
2. Make the hook configurable as you say @QcFe

[2022-05-18 14:43] dhiller commented on #7730
/triage accepted

We should follow up with some automation that should cover the execution of some CVE discovering tool, either as a presubmit in prow or something like dependabot from GitHub

/assign

[2022-05-18 14:44] Steven-LZH commented on #7638
I found a solution. Virt-handler is now working on my Kubernetes after these two steps:
1. https://github.com/kubevirt/kubevirt/issues/4303#issuecomment-830365183
2. https://github.com/kubevirt/kubevirt/issues/4303#issuecomment-839052345

[2022-05-18 14:49] kvaps commented on #7751
/assign

[2022-05-18 14:54] dhiller commented on #7730
See also #7306

[2022-05-18 14:58] awels commented on #7754
https://github.com/kubevirt/containerized-data-importer/blob/main/doc/storageprofile.md should have an example of how to use it and how to set up the storage profile. But basically if you use spec.pvc, you can replace pvc with storage and have it work the same except that it takes the overhead into account. Its a mechanism that allows users to know less about their storage and create VM disks with

[2022-05-18 16:07] Zigko opened #7771 "Kubevirt virt-handler Init:CrashLoopBackOff"
**What happened**:
I was installing kubevirt operator following the tutorial in this page:
[https://kubevirt.io/2019/KubeVirt_k8s_crio_from_scratch_installing_KubeVirt.html](https://kubevirt.io/2019/KubeVirt_k8s_crio_from_scratch_installing_KubeVirt.html)

But the pod handler wont start and I don't understand the reason...
[code]
[code]

**kubectl describe pod virt-handler-4w99d -n kubevirt**
[cod

[2022-05-18 16:19] dhiller commented on #7730
According to the [CNCF services for projects page tools section](https://www.cncf.io/services-for-projects/#tools) the CNCF may be able to provide us with [Snyk container image scanning](https://snyk.io/).

[2022-05-18 16:53] Zigko commented on #7771
[code]

No i dont have that, do i need it?

[2022-05-18 17:01] vasiliy-ul commented on #7771
I actually think you do have it. Check you system logs. Not sure where exactly you need to look in Debian. Perhaps `grep DEN /var/log/audit/audit.log` or `journalctl -b | grep DEN`. Also you can run `aa-status`.

[2022-05-18 17:08] vasiliy-ul commented on #7771
If its apparmor you can try to work around this issue with `aa-disable /usr/sbin/libvirtd`. But this is not a good solution for "production" as it will disable the security profile for libvirtd. Though should be fine for testing purposes.

[2022-05-18 18:22] Zigko commented on #7771
This is what i get:
[code]
Beside the ```aa-disable /usr/sbin/libvirtd``` what could I do to be able to use kubevirt?

[2022-05-19 01:56] ikandars opened #7774 "Add support for s390x architecture (IBM Z)"
**Is your feature request related to a problem? Please describe**:
I just try to deploy KubeVirt in Linux One machine but the virt-operator pod fail to run with error message Back-off restarting failed container

**Describe the solution you'd like**:
Base on this discussion, https://kubernetes.slack.com/archives/C8ED7RKFE/p1651707300604989 it seems that KubeVirt doesn't support s390x as yet. Since

[2022-05-19 02:10] lynn901 opened #7775 "extend the dhcpv6 server to support bridge binding"
**Is your feature request related to a problem? Please describe**:
the bridge type interface does not  support obtaining ipv6 addr throgh dhcpv6 server.

**Describe the solution you'd like**:
In order to achieve this function, we need to solve the following three problems:

1. Get the ipv6 address of the pod of vmi in bridge mode
2. Get the ipv6 gateway of the pod of vmi in bridge mode
3. Extend t

[2022-05-19 03:24] drawdy commented on #7638
I switched to CentOS 7.9 and everything works fine.

[2022-05-19 04:39] alizshow commented on #7755
I tried doing this, the RTX2080Ti is a big card, and there is only one arrangement of the cards on the board for me (although I suspect the board has one PCIe bridge only).

The main problem is that, the device plugin approach cannot work in this situation, since if it registers the 2 cards as allocatable resources on the node, it would mean that they could be used independently, which is not the

[2022-05-19 05:20] dhiller opened #7776 "[flake] pkg/virt-controller/watch/snapshot:go_default_test"
**What happened**:
The above unit test fails regularly: https://search.ci.kubevirt.io/?search=pkg%2Fvirt-controller%2Fwatch%2Fsnapshot%3Ago_default_test&maxAge=336h&context=1&type=build-log&name=&excludeName=&maxMatches=5&maxBytes=20971520&groupBy=job

**What you expected to happen**:
Test should not fail on regular unit test runs.

**How to reproduce it (as minimally and precisely as possible)**:

[2022-05-19 05:21] vasiliy-ul commented on #7771
You need to install `apparmor-utils` package (not 100% sure if its called like that in Debian though)

BUT...

Yep, that would probably be a better solution :+1:

[2022-05-19 08:33] zhlhahaha commented on #7638
Veirfied, @xpivarc maybe we can write it into document.

[2022-05-19 08:34] zhlhahaha commented on #7638
It seems that the failure only happens on Ubuntu.

[2022-05-19 10:21] alicefr commented on #7774
hi @ikandars, we are generally open to supporting different architectures if there are people willing to help. Do you plan to invest some time on this? It will also be an excellent topic for our community meeting on Wednesday.

fyi @hbrueckner @borntraeger

[2022-05-19 10:40] ikandars commented on #7774
@alicefr yes

[2022-05-19 11:02] willzhang opened #7779 "1 Insufficient devices.kubevirt.io/kvm, 1 Insufficient devices.kubevirt.io/tun, 1 Insufficient devices.kubevirt.io/vhost-net"
**What happened**:
 virtctl migrate testvm failed, pod pending

**What you expected to happen**:
pod running

**How to reproduce it (as minimally and precisely as possible)**:
refer:https://kubevirt.io/labs/kubernetes/migration.html
[code]

**Additional context**:
Add any other context about the problem here.

**Environment**:
- KubeVirt version (use `virtctl version`):
[code]
- Kubernetes version

[2022-05-19 11:16] Zigko commented on #7771
Thanks, now its working
[code]

[2022-05-19 11:22] willzhang commented on #7779
nested enabled
[code]

[2022-05-19 11:43] willzhang opened #7780 "0/3 nodes are available: 1 node(s) didn't match pod anti-affinity rules, 3 node(s) didn't match Pod's node affinity/selector. preemption: 0/3 nodes are available: 3 Preemption is not helpful for scheduling"
**What happened**:
virtctl migrate testvm failed , for pod pending

**What you expected to happen**:
migrate success

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Additional context**:
Add any other context about the problem here.

**Environment**:
- KubeVirt version (use `virtctl version`): 0.53.0
- Kubernetes version (use `kubectl version`): 1.24.0
- VM or VMI spec

[2022-05-19 12:30] alicefr commented on #7755
oh, yes I see. Let me rephrase if I understand you correctly, you'd like to have a device plugin per IOMMU group, right? If that's the case, then I think right now the KubeVirt device plugin only identifies the devices per vendor/product id.

[2022-05-19 19:59] davidvossel commented on #7745
There's certainly a lot to tackle here with a policy like this. I like the idea of the Kubernetes "living" document which keeps evolving as new scenarios are encountered. These situations can get quite nuanced, so hard rules can't always be followed.

Maybe as a first step, we can define how we deprecate feature gates, because that's something pretty small I think we can tackle easily.

My suggest

[2022-05-19 21:10] jseguillon opened #7781 "Use quay.io/kubevirt images in examples"
**Description**:
examples yaml files refers to a local image registry. When container-disk is available as quay.io/kubevirt,  image should be replaced to ease new users experience.

Example with [fedora](https://github.com/kubevirt/kubevirt/blob/main/examples/vmi-fedora.yaml#L24) which probably could point to: quay.io/kubevirt/fedora-cloud-container-disk-demo:v0.44.1

Probably the same for alpine

[2022-05-20 05:37] vasiliy-ul commented on #7781
I think the example yamls are meant to be used along with the test cluster which you can bring up with `make cluster-up`. This will allso setup a local registry where the images will be pushed when you build from sources e.g. with `make cluster-sync`.

[2022-05-20 07:47] jseguillon commented on #7781
Hi @vasiliy-ul, I understand this relates to a form of automation but still think its not a real good way to welcome new user. Also notice there is no Readme indicating `cluster-up` should be used. Standard people would then think they can copy-paste raw examples and make things work.

I'd propose we reverse the pattern for those examples:
* set image by default to quay.io when available
* add som

[2022-05-20 17:20] #6987 closed

[2022-05-21 17:21] #6962 closed

[2022-05-22 05:21] #6939 closed

[2022-05-22 07:32] marceloamaral commented on #7101
@fabiand, @ezrasilvera and @iholder-redhat

Unfortunately, in my experiments I don't see very high CPU utilization when considering all virt-api instances, which is 2 in my case (the original setup). Even in very extreme scenarios.

For example, in my most recent test, creating 2.4K VMs in a cluster with 12 worker nodes, the maximum virt-api CPU utilization I experienced was 92% on one virt-api in

[2022-05-22 12:55] iholder-redhat commented on #7745
Thanks for your response.
Feature gates a are indeed the easiest to tackle with, and your suggestion sounds great to me. Do you think that we, at some point, need to remove feature gates or simply keep them around as a no-op for compatibility?

I think that one of the most important topics to deal with is API deprecation. It's a bit more sensitive issue, but perhaps also pretty easy to tackle. Wha

[2022-05-22 12:59] alizshow commented on #7755
I had tried it with a single resource name, it resulted in only one of GPUs becoming allocatable (and show up on the node capacity).

In the end I had to use the [ACS Override Kernel](https://queuecumber.gitlab.io/linux-acs-override/) patch, to force different IOMMU groups (although theoretically not needed).

[2022-05-22 14:55] iholder-redhat commented on #7101
A few notes:
1. We probably need something more sophisticated then solely looking at the CPU that would also be resistant to spikes. Maybe the number of VMs that wait to be validated by webhooks divided by the number of replicas can serve an indication. I don't have all the answers, but CPU alone is probably not enough.
2. Your experiment is done on a 12 node cluster, which is still pretty small (

[2022-05-22 14:56] iholder-redhat commented on #7101
BTW - I've updated the PR description to reflect the current point of our discussion.

[2022-05-23 02:57] willzhang opened #7788 "kubevirt datavolume with insecure registry"
**What happened**:
DataVolume create failed with
[code]
**What you expected to happen**:
create datavolume success from registry

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.

[code]

**Additional context**:
Add any other context about the problem here.

**Environment**:
- KubeVirt version (use `virtctl version`): N/A
0.53.0
- Kubernetes versio

[2022-05-23 06:19] marceloamaral commented on #7101
<img width="696" alt="image" src="https://user-images.githubusercontent.com/5133121/169752158-06a259b8-4c0d-4ecb-9cca-b0e53c5648f0.png">

I know that in the Boaz experiment he is using PVC and in my experiment I use ephemeral disks. But I don't know the CPU utilization in his experiments.

So what was the CPU usage of virt-api in the Boaz experiment with 100 nodes?

I have another experiment on a

[2022-05-23 06:26] marceloamaral commented on #6054
With new further investigation, the number of adds in the `virt-controller-disruption-budget` workqueue is similar to the number of adds in `virt-controller-vm` workqueue.

Which actually sounds reasonable, so @rthallisey I think we can close this issue.

[2022-05-23 06:27] marceloamaral commented on #6144
/remove-lifecycle rotten

We still need to increase the requested resources

[2022-05-23 08:47] weihanglo commented on #6551
/reopen

[2022-05-23 08:50] iholder-redhat commented on #7101
I think it's best to ask @bbenshab for the specifics. What I recall is that for his use case (100 nodes + 500 VMs created at once) he needed 9 replicas in order for the cluster to not stuck.

I think that we should consider a few factors that may be very high impact here:
* **Exactly which validation/mutation does the VMI need from virt-api**
If I recall correctly, @bbenshab used VMIs with PVCs. M

[2022-05-23 09:41] alicefr commented on #7788
@willzhang you should open the issue in the [CDI repository](https://github.com/kubevirt/containerized-data-importer) rather than in kubevirt. Have you tried to access the registry from one of the nodes in the cluster, like for example pulling the image using `crictl`? Additionally, can you ping the registry from inside one of the other containers?

[2022-05-23 10:35] jseguillon commented on #7652
Hi there,
Here is an updated demo: https://asciinema.org/a/496567

At first, I hoped I could kubectl create some example coming straight from github but as spotted in #7781 this is not possible yet.

Also I decided to demo `virctl ssh` because it's probably a basic feature people can be pleased to see it running before giving a try to KubeVirt.

If you have remarks, please tell me here before I op

[2022-05-23 10:39] xpivarc commented on #7652
Looks good. Maybe we can use better names for the file & VM.

[2022-05-23 10:41] xpivarc commented on #7638
I would support it. @zhlhahaha @vasiliy-ul Do you think there is anything we can improve to streamline the interaction with AppArmor?

[2022-05-23 11:15] vasiliy-ul commented on #7638
@xpivarc , we could potentially leverage the apparmor support in k8s: https://kubernetes.io/docs/tutorials/security/apparmor/

I.e. by using the annotation
[code]

E.g. if an apparmor profile for `virt-launcher` is shipped with KubeVirt then `virt-handler` as a privileged DaemonSet can load the profile on the worker nodes (this is the requirement: the profile needs to be loaded beforehand). The ab

[2022-05-23 11:35] rthallisey commented on #6054
It would be interesting to know what this looks like in k8s.  That does that sounds reasonable though.

[2022-05-23 11:58] xpivarc commented on #5447
/close
The issue seems to be resolved.

[2022-05-23 12:17] jseguillon commented on #7652
Sure. What about calling them both `fedora` ?

[2022-05-23 12:28] lyarwood commented on #7760
/assign lyarwood

[2022-05-23 13:01] xpivarc opened #7792 "Test with id 3203 is unpredictable"
**What happened**:
The test should tell me if Kubevirt is working correctly. The current way we construct the features may be incorrect for not homogenous cluster nodes

**What you expected to happen**:
Test failed but Kubevirt seems to do what is expected.

**How to reproduce it (as minimally and precisely as possible)**:
This can be reproduced only with no homogenous cluster(outside of kubevirtc

[2022-05-23 13:02] xpivarc commented on #7792
@Barakmor1 Would you be interested in this?

[2022-05-23 16:52] VirrageS commented on #6819
/remove-lifecycle stale

[2022-05-23 19:07] mhenriks commented on #7750
I think option 1 is preferable in order to eliminate race conditions with virt-controller adding/removing annotations from the virt-launcher pod when guest agent goes offline

[2022-05-24 04:05] larryliuqing opened #7795 "can we add the Affinity proper to migration target ?"
**Is your feature request related to a problem? Please describe**:
type VirtualMachineInstanceMigrationSpec struct {
	// The name of the VMI to perform the migration on. VMI must exist in the migration objects namespace
	VMIName string `json:"vmiName,omitempty" valid:"required"`
}

I saw the migration define just only one VMI name, can we add the Affinity proper to migration target ?

[2022-05-24 05:34] marceloamaral commented on #7101
To get the CPU usage, I use the following PromQL formula:
`sum(irate(container_cpu_usage_seconds_total{name!=""}[2m]) * 100) by (pod, namespace, node)`
So, if the result of this query returns 96.9, it is actually 0.969 CPU seconds in that specific second. More info [here](https://github.com/google/cadvisor/issues/2026#issuecomment-1003120833).

Regarding the requested CPU time, we have an open iss

[2022-05-24 05:35] marceloamaral commented on #7101
@itamarh, @rthallisey and @davidvossel, this might be a good topic to discuss in our next SIG-Scale meeting.
If PVC is introducing too much CPU load in the virt-api, can it be a bug? Or it might be expected somehow?

[2022-05-24 05:43] marceloamaral commented on #7101
Just guessing, could this be what happened in Boaz's experiment? So that he needed 9 virt-api replicas because the cluster was overloaded?
If that's the case, that could explain a lot!

[2022-05-24 09:04] iholder-redhat commented on #7101
Got you. Thanks.

I think that for pods that can be scaled, like virt-api, the solution is not to raise the CPU request but to enhance scaling.

Let me explain myself:
Let's imagine the following use case - we have a running cluster in production which runs many VMs, but relatively rarely (once an hour, let's say) it creates / deletes a VMI. In this scenario, virt-api does basically nothing for mo

[2022-05-24 09:07] iholder-redhat commented on #7101
I can't know until we do some profiling, but my guess is that it's very probable it is expected.

When talking about validation/mutation webhooks, one of the main points for suspicion in terms of finding the bottle neck is API calls. A VMI that is very simple and no API calls are needed for its validation vs a complicated VMI that demands many checks and API calls might be very very different in t

[2022-05-24 09:08] iholder-redhat commented on #7101
Indeed!

[2022-05-24 09:11] phoracek opened #7799 "Reporter provides unhelpful information / noise if virt-launcher is gone"
**What happened**:

When virt-launcher is gone by the time the reporter is executed, we log several lines of unhelpful logs.

The following was logged after failed `[sig-compute]User Access [rfe_id:2919][crit:high][vendor:cnv-qe@redhat.com][level:component] With regular OpenShift user should succeed with admin rights for the project should verify permissions on resources are correct for subresourc

[2022-05-24 09:47] iholder-redhat commented on #6144
/cc

As explain in depth in [this comment](https://github.com/kubevirt/kubevirt/issues/7101#issuecomment-1135609450), I think that the right path forward is scaling, not raising the resources requested by our components.

Also, as explained in the comment linked above, the alert that you're speaking about is very misleading. I've [once claimed it should be removed altogether](https://github.com/ku

[2022-05-24 10:23] #6820 closed

[2022-05-24 12:48] VirrageS commented on #7727
I totally support this. There are number of benefits of using linter (especially the mentioned `golangci-lint`):
* Can catch performance issues
* Can catch simple/yet easy to miss bugs - for example variable shadowing, unused variables etc.
* Can improve code style and standardize it across the codebase
* Can restrict usage of specific packages or versions to prevent reintroducing security/logic b

[2022-05-24 14:05] iholder-redhat commented on #7101
* Did your VMs have PVCs?
* Are you sure that there are only 2 replicas? Which version of Kubevirt are you running? I'm asking because [this PR](https://github.com/kubevirt/kubevirt/pull/7401) already scales the number of replicas.
* Bear in mind that `1000m` CPU is **x200** (!!) times the CPU requested by virt-api. This means that the replicas were able to use so many milliCPUs only because the h

[2022-05-24 14:27] salanki commented on #7101
All VMs attach a PVC. Most of them attach a RWO PVC ephemerally (copy on write changes to local disk on the node). We have spun up hundreds of VMs with individual DataVolumes in short order as well without any issues, but I did not actually monitor CPU stats then.

We run our [own fork of Kubevirt](https://github.com/coreweave/kubevirt/commits/coreweave) with minor changes, it is currently based o

[2022-05-24 14:56] iholder-redhat commented on #7101
Interesting. Thanks for the info.

Got it, so your fork does not include the PR I've linked above.

Aha, got it. So `1000m` CPU is the request, not the actual CPU usage, which might realistically be much higher then that if the node has a lot of cores to spare.

Would be interesting to also have a limit of 1 CPU core to not rely on the host's spare resources.

[2022-05-24 19:28] rthallisey commented on #7101
We have an 800 node cluster with a steady state of about 2k VMIs with churn rate around 10 VMIs created/deleted per second.  It has two virt-api replicas and they use ~350m of mem and less than 1 cpu.  @iholder-redhat

@salanki join us in SIG-scale every once in a while.  We've fixed some important scale bugs, added a ton of new metrics, and we're working on some new features that might be handy f

[2022-05-25 02:12] lynn901 commented on #7738
I have the same problem, did you solve it?

[2022-05-25 02:53] yuchen-sun commented on #6824
/remove-lifecycle stale

[2022-05-25 06:30] iholder-redhat commented on #7101
Got you. Thanks for the information.

* I wonder then what went wrong with @bbenshab's experiment, because it seems that all of you had very different results than him. @bbenshab, did you have some kind of a problem with your test environment? Were there any significant performance improvements between your experiment and others'? Perhaps it's because he deleted all the VMs at once and you waited

[2022-05-25 09:20] fabiand commented on #7774
And just a small disclaimer, an incomplete list of requirements:

1. Maintained cluster for CI and build
2. Maintained infrastructure
3. Capacity to resolve bugs
4. Clarifications with the libvirt/qemu maintainers to ensure we get their support as well
5. At least a single point of contact for any of the above

[2022-05-25 09:28] alicefr commented on #7774
On top of what Fabian said.

- KubeVirt images are based on centos stream 8, so you need to verify the support for centos-stream on Z. There wasn't support for Z for centos for example.
- KubeVirt CI is using prow. So, you need to check the support and integration of Z node in prow

[2022-05-25 11:27] iholder-redhat commented on #7727
Sounds like a blessed goal to me!

IMHO the ability to `make lint` locally is a must-have. This PR is a good start: https://github.com/kubevirt/kubevirt/pull/7804

[2022-05-25 14:45] rthallisey commented on #7101
https://gitlab-master.nvidia.com/nidavellir/scheduler-plugins/-/blob/master/pkg/noderesourcetopology/README.md

[2022-05-25 14:55] usrbinkat commented on #7780
This appears at first glance to be caused by insufficient node labels/attributes for all/any other nodes in your kubevirt cluster. For further investigation I believe we would need node descriptions for both the vm's origin node and possible target nodes.

[2022-05-25 17:15] jseguillon commented on #7652
Hi @xpivarc  I recorded this new one : https://asciinema.org/a/497168

Changes: name everything fedora plus use `more` instead of `cat` to view ful definition of VM

[2022-05-26 04:05] marceloamaral commented on #7101
@rthallisey this link is not working

[2022-05-26 07:14] xpivarc commented on #7652
Looks good to me! Thanks

[2022-05-26 07:56] iholder-redhat commented on #7101
@marceloamaral @rthallisey @bbenshab @salanki

Let me summarize my thoughts so far:

My concern is that you're talking about a forked version of Kubevirt where they changed the CPU request to 1000m. By default, the request is 5m, a 200x smaller amount. Therefore, if we scale by its CPU, the scaling might be very volatile, and we wish to prevent that.

One solution can be simply to raise the Kubevi

[2022-05-26 08:57] ShellyKa13 commented on #7776
Example of a failure: https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/push-kubevirt-main/1529677623645442048#1:build-log.txt%3A770
It seems that it fails on expecting some vmsnapshotcontent. according to the print the output it is too long, the part that is shown is equal, so its not clear if the issue is that the output is too long so the test just fails (no real issue), or the difference

[2022-05-26 12:02] maiqueb commented on #6733
I've asked the multus maintainers what are their plans for releasing multus v4, and their plans on a timeline for hotplug in multus in this [discussion](https://github.com/k8snetworkplumbingwg/multus-cni/discussions/853). I suggest you track it @chinglinwen .

Depending on the answer there we can plan the KubeVirt part **or** come up with a design alternative for hot-plugging interfaces into the l

[2022-05-26 14:20] rthallisey commented on #7177
fixed by: https://github.com/kubevirt/kubevirt/pull/7349

[2022-05-26 14:20] #7177 closed

[2022-05-26 14:20] rthallisey commented on #7177
After #7349 GET node count is down to
[code]

[2022-05-26 14:26] rthallisey commented on #7177
In SIG-scale we estimated that GET Node count would be between 10-15 in our testing.  Context: https://docs.google.com/document/d/1d_b2o05FfBG37VwlC2Z1ZArnT9-_AEJoQTe7iKaQZ6I/edit#heading=h.j8qda19u41l1.  This is a big improvement, but there still could be outstanding GET node calls.

[2022-05-26 14:58] rthallisey commented on #7101
@marceloamaral and I spoke about this in SIG-scale.  Let's look into adding some metrics around VM migrations or adding from tracing in the code https://github.com/kubevirt/kubevirt/blob/main/pkg/util/trace/trace.go.

[2022-05-26 16:29] bbenshab commented on #7101
@marceloamaral @iholder-redhat
I had a meeting earlier today with @marceloamaral and I understood that some clarifications are required - it is my fault for keeping the discussions in emails, and not following up here as well:

I see a lot of CPU mentioning, so let me clarify that, although I had cases where API pods reached their max utilization when running with a single API pod, or cases in whi

[2022-05-27 01:21] larryliuqing commented on #7795
@usrbinkat :
I have a idea, and i want to define resource pool concept for k8s worker nodes based on the k8s Affinity concept, maybe the k8s worker nodes can be split to multiply group based on the different area, then we can migrate the vm from one resource pool to another resource pool with the Affinity migration parameter, can you agree ?

[2022-05-27 06:36] xujunjie-cover opened #7813 "Passwd and sshkeys always be coverd by qume-guest-agent"
**What happened**:
create vm with passwd and sshkey secret
[code]
then change passwd in vm；after seconds，passwd and sshkey be coverd by qemu-guest-agent

**What you expected to happen**:
Don't set passwd or sshkey when secret not changed

**Environment**:
- KubeVirt version (use `virtctl version`): release-0.51

[2022-05-27 08:53] #7652 closed

[2022-05-29 12:29] #6943 closed

[2022-05-29 15:33] codingben commented on #7727
Do you want to use GitHub Actions [1] for it? It's important to give the user instant feedback instead of waiting for a KubeVirt member to comment "ok-to-test" (or will you configure to run that Go linter without having "ok-to-test" comment?).

[1] https://github.com/golangci/golangci-lint-action

[2022-05-29 16:29] #6469 closed

[2022-05-30 02:46] caohuilong opened #7831 "The downstream bandwidth is much smaller than the upstream bandwidth from other node to the vm"
**What happened**:
I have a cluster with two node A and B. I create a vm in node A, run `iperf3 -s` in the vm, and try to test the upstream and downstream bandwidth from node B to the vm. But I found The downstream bandwidth is much smaller than the upstream bandwidth. Just like the screenshot:
![iperf3异常结果2](https://user-images.githubusercontent.com/26712324/170906456-5155b60d-8015-4fca-9928-6455

[2022-05-30 08:20] xujunjie-cover commented on #7813
I have resloved this issue, the passwd or sshkey will force a resync of changes every 5 minutes.
https://github.com/kubevirt/kubevirt/blob/c428c980bdb2f44a5e5001dc834d7c93cd71c9aa/pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go#L428-L437

[2022-05-30 08:20] #7813 closed

[2022-05-31 08:56] phoracek commented on #5477
/remove-lifecycle rotten

[2022-05-31 09:15] chenyg0911 commented on #5680
upgraded to v0.53.1 and upgrade os kernel to 5.4.195-1.el7.elrepo.x86_64. It seems ok.

[2022-05-31 09:16] #5680 closed

[2022-05-31 11:00] phoracek commented on #7299
This should be resolved via https://github.com/kubevirt/kubevirt/pull/7591

[2022-05-31 11:00] #7299 closed

[2022-05-31 14:40] oshoval commented on #7799
We need to fix also the find virt-launcher logic, there is not such thing no-fork anymore, there is monitor instead

[code]

[code]

[2022-06-01 02:02] ahussey-redhat commented on #7714
Added to mailing list https://groups.google.com/g/kubevirt-dev/c/kzDrNo0IYMU

[2022-06-01 07:00] maiqueb commented on #7714
I tend to favor your second proposed approach (manipulating the VM's dom xml) given its advantages.

I see value in this enhancement proposal.

[2022-06-01 14:42] usrbinkat commented on #7831
@EdDev

[2022-06-01 17:08] EdDev commented on #7831
/sig network

There is not enough information to understand what is causing this behavior.
My suggestion is for you to try multiple scenarios to troubleshoot and pin-point the bottleneck.

For example:
- Measure traffic between the nodes directly, between pods on each node, between guest and its node, etc.
- You can also try and use different binding modes (bridge vs masquerade) and compare.
- You

[2022-06-01 17:47] janeczku opened #7844 "Code generation for CRD validation fails with error"
**What happened**:
Running `make generate` fails with an error

[code]

**What you expected to happen**:
Code generation completes successfully

**How to reproduce it (as minimally and precisely as possible)**:
1. Add a new type to `types.go` whose source code contains backticks (`) in the code comments. Example:
- https://github.com/kubernetes/kubernetes/blob/62d9f8ba80f4cc660a88dcc34f56c5c6f7df1

[2022-06-02 03:34] caohuilong commented on #7831
Thanks for reply @EdDev, after a lots of test, I found it's the problem of tcp-segmentation-offload feature of the VM. When i turn off the tso, the vm export bandwidth would increase from 1.2Mbps to 935Mbps, it seems normal.

[2022-06-02 05:29] EdDev commented on #7831
Thank you for the update @caohuilong . Can we close this issue now?

[2022-06-02 11:58] johannespetereit commented on #6813
/remove-lifecycle stale
 Any update on this?
We are running a mixed OS cluster, where this issue regularly leads to issues -> when scheduled on a windows machine, kubevirt can't install correctly, as the job doesn't finish (imagepullbackoff).
Adding taints for all windows projects would work, but be a bit much for a very specific issue...

[2022-06-02 19:59] davidvossel commented on #7745
As long as the feature still exists, I don't really see an issue with keeping them around as no-op for compatibility.  I think we'd just want a running list of feature gates that have "graduated" to always on, and warn users whenever they use one of those feature gates.

I think that the mechanics around how we deprecate an API should closely align with what Kubernetes does today [here](https://ku

[2022-06-03 00:14] YitzyD commented on #7444
We are experiencing this issue as well.
Our setup:
- [multus](https://github.com/k8snetworkplumbingwg/multus-cni)
- [sriov-cni](https://github.com/k8snetworkplumbingwg/sriov-cni)

The issue seems to be related to https://github.com/k8snetworkplumbingwg/multus-cni/issues/499. As the order of host PCI addresses in the  environment variable `PCIDEVICE_XXX=` that is set by either multus or the sriov-c

[2022-06-03 13:14] iholder-redhat commented on #7727
@dhiller what are your thoughts on github actions?

[2022-06-04 18:34] #6685 closed

[2022-06-06 08:18] ormergi commented on #7444
@YitzyD Thanks for sharing and detailed info :slightly_smiling_face:
To workaround this, you can create a VFs device pool (sriov-device-plugin config or `SriovNetwotkPolicy` if SR-IOV network operator deployed) for each group of VF's by their configuration [[1]](https://github.com/kubevirt/kubevirt/issues/6351#issuecomment-1077937853).
For example: one VFs pool that will be configured with VLAN 20

[2022-06-06 08:29] iholder-redhat commented on #7745
I agree. The only concern that comes into mind here is that developers would continue to use the feature gate not knowing it's deprecated. But this is a devs problem, not an user problem. We can think how to tackle that (perhaps automatically ?)

I completely agree.
As you said, the timelines may differ from Kubernetes' policy. For example, they write "GA API versions may be marked as deprecated,

[2022-06-07 06:03] raspbeep commented on #7756
/assign @raspbeep

[2022-06-07 16:31] tyleraharrison commented on #7323
Would still like to work on this

[2022-06-08 06:39] xiaobo55x commented on #7738
We saw similar issue with corporate proxy!
@dhiller Do you know how to fix this issue?

[2022-06-08 14:28] fabiand commented on #6087
/reopen

[2022-06-08 14:28] fabiand commented on #6086
/reopen

[2022-06-08 14:30] fabiand commented on #6086
Just to conclude this. A main point was to see that persistent storage will - just like in Kube - be on PVCs.

With DataVolumes a mechanism got introduced to use containers for shipping content (which is great!) and use them to create PVCs from them.

[2022-06-08 14:30] fabiand commented on #6087
Reviving this in order to consciously decide how the release schedule can look for v1 and beyond

[2022-06-08 14:31] fabiand commented on #6088
/reopen

[2022-06-08 14:34] fabiand commented on #6089
/remove-lifecycle rotten

[2022-06-08 14:34] fabiand commented on #6086
/remove-lifecycle rotten

[2022-06-08 14:34] fabiand commented on #6087
/remove-lifecycle rotten

[2022-06-08 14:35] fabiand commented on #6088
@aburdenthehand in general this issue is covering to make our docs more approachable and correct. Any idea of how we can make this happen?

[2022-06-08 15:15] andreyod opened #7873 "virt-handler: Reduce start-to-ready time"
/kind enhancement

**What happened**:
It takes approximately 30 seconds for single virt-handler to become ready.

**What you expected to happen**:
A single virt-handler startup time should be under 10 seconds.

**Additional context**:
According to the profiling: SELinux policy installation is a bottleneck for virt-handler startup time.
SELinux execution time depends on the kernel and hardware prof

[2022-06-08 15:51] dhiller commented on #7738
IIUC in general setting GOPROXY env var should work. What issues do you experience exactly?

[2022-06-08 16:02] davidvossel commented on #7745
something like that seems like a reasonable starting point.

using the k8s doc as a starting point, i think we have enough to go on here to draft our own policy. Our policy will likely evolve pretty quickly as we're also considering release cadence changes as well.

[2022-06-08 17:45] aburdenthehand commented on #6088
I'd like to take some time to think/review all of this a bit - particularly the tooling part of it - but off the top of my head:
1 How do we improve the docs going forward?
  - Ensure we have docs built into our code process and maintain helpful contribution/style guidelines. There are linters we can apply to help out with docs PRs.
2 How do we improve our current docs?
  - Review and create a doc

[2022-06-09 00:49] xinyanzh97 commented on #6600
/reopen

[2022-06-09 00:50] xinyanzh97 commented on #6599
/reopen

[2022-06-09 01:40] yuchen-sun commented on #6088
@aburdenthehand Of course, I'm happy to do something about it

[2022-06-09 02:39] xiaobo55x commented on #7738
I saw the below error logs after triggering the build with _'make'_
`Waiting for it to complete...
Another command (pid=16) is running. Waiting for it to complete on the server (server_pid=20)...
Loading: 0 packages loaded
    Fetching @com_github_bazelbuild_buildtools; fetching
make: *** [Makefile:187: format] Error 1`

The issue can be fixed with below changes:
`diff --git a/hack/dockerized b/ha

[2022-06-09 02:44] xiaobo55x commented on #7738
`word`

[2022-06-09 06:33] dhiller commented on #7738
@xiaobo55x thanks! I figure that we need to whitelist those `HTTP_PROXY` and `HTTPS_PROXY` env vars in the `Makefile` targets that require them. Are you willing to contribute this with a PR?

[2022-06-09 06:35] dhiller commented on #7738
/kind enhancement

[2022-06-09 06:38] dhiller commented on #7738
/remove-label kind/bug

[2022-06-09 06:40] dhiller commented on #7738
/remove-kind bug

[2022-06-09 10:26] oshoval opened #7878 "Adapt unit-test detector_test.go to use the new virt-launcher naming"
**What happened**:
Since https://github.com/kubevirt/kubevirt/pull/7451, we don't have a forked process named
`*-no-fork`
There is still a unit test that uses the old naming in it's stubs.

**What you expected to happen**:
`pkg/virt-handler/isolation/detector_test.go` should be updated according
the new namings.

**How to reproduce it (as minimally and precisely as possible)**:
Just see the code.

[2022-06-09 17:00] ormergi commented on #6776
/reopen

[2022-06-09 17:02] ormergi commented on #6776
This issue was seen at https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7783/pull-kubevirt-e2e-kind-1.22-sriov/1534686998806138880

Ping failed https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7783/pull-kubevirt-e2e-kind-1.22-sriov/1534686998806138880#1:build-log.txt%3A5819

The target VM (testvmi-clncc) SR-IOV interface was not confi

[2022-06-09 17:06] ormergi commented on #6776
This issue was seen at
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7783/pull-kubevirt-e2e-kind-1.22-sriov/1534686998806138880

The following test failed:
[code]

Analysis:
- Ping failed https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7783/pull-kubevirt-e2e-kind-1.22-sriov/1534686998806138880#1:build-log.txt%3A5819

- The target

[2022-06-09 17:06] ormergi commented on #6776
This issue was seen at
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7783/pull-kubevirt-e2e-kind-1.22-sriov/1534686998806138880

The following test failed due to ping failure:
[code]
- Ping failed https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7783/pull-kubevirt-e2e-kind-1.22-sriov/1534686998806138880#1:build-log.txt%3A5819

- Th

[2022-06-10 03:06] #7433 closed

[2022-06-10 03:06] #7799 closed

[2022-06-10 03:21] tanaypatankar commented on #7756
From what I tracked, it calls [https://github.com/kubevirt/kubevirt/blob/main/staging/src/kubevirt.io/client-go/kubecli/async.go#L48](url) this, which is a websocket API call.

[2022-06-10 17:35] oshi36 opened #7888 "Unable to access VM instance in K8s cluster through Kubevirt"
**What happened**:
- I am having a two-node k8s cluster in which I have deployed Kubevirt .Kubevirt pods and VM instances are working fine on the master node but in the worker node VM instances are not working properly.
- Although the pods are running in the worker node but when I try to access the VM through `kubectl virt console` in worker node it gives me `Can't connect to websocket (504): webs

[2022-06-10 23:05] nvinnakota10 opened #7889 "Kubevirt VM with Bridge interface is not reachable. ssh failed with timeout. virtctl console hangs with "Successfully connected to vm console. The escape sequence is ^]""
**What happened**:
The kubevirt VM with bridge interface is unreachable. The ssh to the VM fails with connection time out. I was not able to debug it as I am unable to connect to the virsh console and virctl console.

The issue happens every time.

The virtcl console vmi hangs with the below message:
"Successfully connected to vm console. The escape sequence is ^]"

I tried hitting enter multiple

[2022-06-11 16:45] #7040 closed

[2022-06-12 10:46] #6981 closed

[2022-06-13 04:46] #7022 closed

[2022-06-13 06:31] xpivarc commented on #7040
It is mostly a matter of availability(if the leading virt-controller goes down another can take over). Any virt-api can serve requests therefore in the case of virt-api it has also a performance impact. This [issue](https://github.com/kubevirt/kubevirt/issues/7101) describes some measurements and real-world examples. It might help you to optimize your env.

[2022-06-13 06:46] phoracek commented on #7220
/remove-lifecycle rotten

[2022-06-13 07:21] yuntianfeijing opened #7895 "when kubelet set param --root-dir=xxx (not /var/lib/kubelet)，kubevirt can't start a vm"
**What happened**:
A clear and concise description of what the bug is.
when kubelet set param --root-dir=xxx (not /var/lib/kubelet)，kubevirt can't start a vm

**What you expected to happen**:
when kubelet set param --root-dir=xxx (not /var/lib/kubelet)，kubevirt can't start a vm

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.
 1、set kubelet param

[2022-06-13 09:35] lyarwood opened #7897 "Refactor, rename and extend the Instancetype API"
**Is your feature request related to a problem? Please describe**:

KubeVirt's [VirtualMachine](https://kubevirt.io/api-reference/master/definitions.html#_v1_virtualmachine) API contains many advanced options for tuning a virtual machine performance that goes beyond what typical users need to be aware of. Users are unable to simply define the storage/network they want assigned to their VM and then

[2022-06-13 15:47] #7080 closed

[2022-06-13 18:15] EdDev commented on #7671
I agree we do not have "best effort", however, we have something much worse (in API concepts): We have defaults.
Not only that, when the default was detected as not a fit for all cases, instead of going in the path of "specifics", we went and created a configurable defaults.
These layers of defaults and configurable defaults led us to the problem of maintenance we have today.
It is not only our ma

[2022-06-13 21:21] davidvossel commented on #7671
i don't know. It's unclear to me why someone would ever need to set this multiqueue option per interface

Maybe to take this back a bit. This discussion exists because of the technical limitations we have with what can be expressed using a VM templates. VM templates are static with variable substitution. Depending on the variables, it's possible portions of the VMI spec need to change for the spec

[2022-06-14 10:28] tomjamescn opened #7913 "create vmi failed "Emulator '/usr/libexec/qemu-kvm' does not support virt type 'kvm'""
**What happened**:
create a vmi, but failed.
content of vmi.yaml is:
[code]

`kubectl get vmi` output:
[code]

`kubectl describe vmi testvmi-nocloud` output:
[code]

**What you expected to happen**:
create a vmi succeful.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl apply -f vmi.yaml`

**Additional context**:
Add any other context about the problem here.

**Environme

[2022-06-14 14:22] larryliuqing opened #7916 "make the vm's time and timezone same with host."
**What happened**:
[code]
Base on the above output, i can see the pod virt-lancher timezone is not same with host, then i want to make the pod virt-lancher has same timezone with host, and i got a link https://stackoverflow.com/questions/55089265/kubernetes-timezone-in-pod-with-command-and-argument
Following the method of this link, we can make the pod virt-lancher has same timezone with host.

Al

[2022-06-15 01:12] xiaobo55x commented on #7738
Yes, I will send a PR to fix it!

[2022-06-15 08:03] alicefr commented on #7913
@tomjamescn you are using a relatively old version of KubeVirt, any chances to try a more recent version?
Otherwise, can you verify that your system support virtualization? Trying with ` egrep "svm|vmx" /proc/cpuinfo`.
Additionally, can you please describe the node where the VM has been scheduled with `kubectl describe node <node>`. I'm wondering it has the kvm device resource

[2022-06-15 14:03] dankenigsberg commented on #7671
Multiqueue does not for free. Each queue takes memory and we allocate a CPU to service it. It makes sense to enable multiqueue only on interfaces where this kind of service is needed. That is why Linux and libvirt allows to set the number of queues per NIC. KubeVirt opted not to do so, but rather hard code a policy on how many queues should each NIC be allocated, based on the total number of cpus

[2022-06-15 14:40] usrbinkat commented on #7895
Thank you for opening this issue.

If I am understanding correctly, you are attempting to run on a non-standard kubelet path using the feature enabled in PR [#3427](https://github.com/kubevirt/kubevirt/pull/3427)?

If that is not working, can you provide more details on your environment per the template?

[2022-06-15 14:52] usrbinkat commented on #7889
Thank you for opening this issue.

As I understand it, the `virtctl ssh` command performs ssh to the VM over a local `kubectl port-forward` style tunnel. In a bridged scenario, ssh should be accessed by ssh'ing directly to the VM's IP as provided by the bridged interface(s).

This may be something we can better address with documentation if you are interested in opening an issue pursuing documenta

[2022-06-15 16:01] nvinnakota10 commented on #7889
@usrbinkat Thanks for your response. Direct ssh also fails for me. Moreover, I find the same issue when I tried with masquerade interface.

In both the cases I am failing to get into VM using the below:

1. Direct ssh to VM's IP
2. virctl console
3. virsh console

Also, for virsh I tried the below steps to check if I can access the VM:

1. Create a VM image with grub configured for tty0
2. Create

[2022-06-15 20:28] nvinnakota10 commented on #7889
@usrbinkat

I know the Virt-launcher pod won't allow to run utilities like tcpdump, ping etc. But is there any way we can use these utilities on the launcher pod, as this pod has direct connection to the VM and having such utilities can help debugging any connectivity issue from the VM in an easier way.

Thanks

[2022-06-16 01:16] larryliuqing commented on #7916
@usrbinkat : thanks, I will try cloud-init solution.

[2022-06-16 01:16] #7916 closed

[2022-06-16 02:39] chinglinwen opened #7927 "SnapshotForSmartClone doesn't work with storageclass volumeBindingMode WaitForFirstConsumer"
**What happened**:

create VM, stuck on SnapshotForSmartCloneInProgress

**What you expected to happen**:
VM status is running

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduce the behavior.

1. create storageclass with volumeBindingMode: WaitForFirstConsumer
2. make sure snapshot working, make sure snapshotclass is exist
3. create vm, datavolume template refere

[2022-06-16 02:50] tomjamescn commented on #7913
@alicefr thank you very much, use latest v0.54.0 is OK!

I think the [offical user guide docs](https://kubevirt.io/user-guide/operations/installation/) is out of date.

[2022-06-16 02:50] #7913 closed

[2022-06-16 08:01] alicefr commented on #7927
@chinglinwen can you please also check the pod and add the description of the importer pod if present?

[2022-06-16 08:19] chinglinwen commented on #7927
@alicefr  there's no relate pods exist

[code]

[2022-06-16 08:38] akalenyu commented on #7927
also the PVCs (yaml) and their events (describe) can help:
`fedora34-openebs-zfspvx-ext4-wait`
`vm-fedora-openebszfs-ext4-wait`

[2022-06-16 08:42] chinglinwen commented on #7927
events
[code]

pvcs:
[code]

[2022-06-16 11:53] akalenyu commented on #7927
Seems like a bug where we don't mark WFFC PVC to be safely consumed by the virt launcher pod
As a temp, non production workaround you can try
- Switch to an Immediate binding Storage Class variation
- Create a dummy pod to bind the PVC:
[code]
And delete it right after (just to trigger PVC bind)

Sadly neither way is ideal scheduling-wise

[2022-06-16 12:27] aglitke commented on #7927
/assign @akalenyu

[2022-06-16 20:02] #6646 closed, assigned to nobody

[2022-06-16 20:33] David-Krupa commented on #7730
These same vulnerabilities exist in version 0.54.0

[2022-06-17 07:37] wonleing commented on #7521
under pressure? Yes. the upper case is disk is nearly full. Thanks for the hint.
but sometimes not disk pressure (different error). Maybe CPU or memory, since I often start hundreds of replicas at same time.

[2022-06-17 14:22] David-Krupa commented on #7730
https://www.rapidfort.com/ could be a good tool to harden some of these containers as they are built and see some of the vulnerabilities. Has a free version SAAS that would fit scanning needs.

[2022-06-18 04:04] #6928 closed

[2022-06-18 11:05] #7041 closed

[2022-06-19 06:36] EdDev opened #7940 "unit test flake: there are no expected calls of the method "Freeze" for that receiver"
**What happened**:

Unit tests flake: ["there are no expected calls of the method "Freeze" for that receiver"](https://search.ci.kubevirt.io/?search=there+are+no+expected+calls+of+the+method+%22Freeze%22+for+that+receiver&maxAge=336h&context=1&type=bug%2Bjunit&name=&excludeName=&maxMatches=5&maxBytes=20971520&groupBy=job)

**How to reproduce it (as minimally and precisely as possible)**:
N/A

[2022-06-19 06:48] h1r0mu commented on #7771
Hi,
I faced the exact same problem, but the solution in https://github.com/kubevirt/kubevirt/issues/7771#issuecomment-1130956403 didn't work for my environment.

I finally got it to work by using `aa-logprof` command and selecting `Inherit` to generate an apparmor profile though I'm not sure whether it's a correct solution or not.

[code]

[2022-06-19 08:47] dankenigsberg commented on #7671
To me it does, I suppose some people would like to see how many queues were enabled on each NIC.

[2022-06-19 09:00] oshoval commented on #7671
What about allowing to get this info, but not via the `status.interfaces` but via some virtctl API or so ?
I feel its better to keep  `status.interfaces` as light as possible ?

[2022-06-20 01:10] #7878 closed

[2022-06-20 06:20] oshi36 commented on #7888
Thank you , it got solved. It was some mistake in my setup.

[2022-06-20 06:20] #7888 closed

[2022-06-20 10:09] iholder-redhat commented on #7101
Thanks @bbenshab!

So IIUC you're also using Kubevirt's fork with 1000m CPU per virt-api right?

I think that the conclusion from these discussions can be, like you said, separated to two different concerns:

**CPU**:
1000m CPU is enough in order to scale. On the other hand, for small cluster, it would be a waste of CPU (dedicating a full core for a Pod that sleeps through most of its life-time).

[2022-06-20 11:53] lyarwood commented on #7671
FWIW I agree with David here.

It's hardly overloading `vmi.status.interfaces` with additional data? Plumbing in a `virtctl` command that reaches all they way down into the domain XML of a guest seems far more heavyweight in comparison to me at least.

[2022-06-20 15:01] sofiworker opened #7959 "Can i customize SMBIOS information for each VMI"
Describe:
i want to customize smbios information for each vmi，but found smbios configuration in KubeVirtConfiguration not VirtualMachineInstance.Is there any way to customize smbios for vmi

[2022-06-21 02:56] liuminjian opened #7962 "libvirt nvme support"
I found that libvirt 6.0 supports nvme features.I want to test if nvme disk will have better performance.Will the feature be supported in the future?
<img width="688" alt="image" src="https://user-images.githubusercontent.com/7840869/174706378-f00d0a81-e577-4899-9064-28b21437c805.png">
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/7840869/174706444-ac70f18e-c1fb-4ffe

[2022-06-21 06:26] alicefr commented on #7962
@liuminjian we are missing this, thanks for raising the issue. We do have some documentation to try PCI passthrough with NVME: https://kubevirt.io/user-guide/virtual_machines/host-devices/#nvme-pci-passthrough. Would be this an option for you?

[2022-06-21 06:32] alicefr commented on #7959
The suggested way is to create a custom sidecar. Please check the example in [example-hook-sidecar](https://github.com/kubevirt/kubevirt/tree/main/cmd/example-hook-sidecar) and the [vmi-with-sidecar-hook.yaml](https://github.com/kubevirt/kubevirt/blob/main/examples/vmi-with-sidecar-hook.yaml)

[2022-06-21 08:18] victortoso commented on #7626
Yes, software emulation is slow but it should not get stuck while compiling a hello world. Would it be possible to fetch the kubevirt's logs to when the VM get's stuck?

[2022-06-21 09:07] liuminjian commented on #7962
I have tried to use  PCI passthrough with NVME. But when I restart the OS, it hangs after the grub menu. The nvme disk I use is Inspur ns8510.It is a high-performance enterprise-class SSD.Is there any other solution? @alicefr

[2022-06-21 10:59] bbenshab commented on #7101
yeah, it does make sense, and I wasn't using the fork with the 1000m, it would also be really cool that API pods can have a shared cluster map to save on unnecessary queues.

[2022-06-21 11:13] iholder-redhat commented on #7101
Thank you!
What do you mean by "shared cluster map"?
Would informers help?

[2022-06-21 11:45] stefanha commented on #7962
Did you disable quiet/graphical boot so messages are printed to the console? Did the Linux kernel start? What were the last 20 lines of output before the hang?

[2022-06-21 12:07] xinzhongyoumeng opened #7967 "live migration the vm , the vm ip changed"
**What happened**:
We use the masquerade binding method for the default pod network, and for secondary networks, use the bridge binding method.
We migrate the vm from one node to another node, but the vm ip changed. This interrupting the virtual workload or access.
The vm.xml is following:
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: a-bridge-network
spec:

[2022-06-21 12:15] xinzhongyoumeng commented on #7967
Another question, if any one can tell me why we limit the bridge interface?

[2022-06-21 14:03] rthallisey commented on #7101
I'm not able to view your document can you change the permissions?

We're working on guidelines like this in SIG-scale.  One of the challenges we're facing is how this number would be affected by node count, pod count, pvc count, ect....  Would be interesting to see how your experiment holds up under different amounts of "pressure" on the cluster.

[2022-06-21 14:04] rthallisey commented on #5878
/remove-lifecycle rotten

[2022-06-21 14:16] marceloamaral opened #7968 "[sig-scale] virt-controller-node workqueue has too many key requeues"
**What happened**:
Thanks to the PR #7879 the virt-controller now has higher throughput, and VM creation latency is lower.

By increasing the throughput we are able now to see some hidden issues that was not showing up before. For example, when creating 1k VMs, there are a lot of requeues in the virt-controller-node workqueue.

In the figure below, the first bump is the original virt-controller QP

[2022-06-21 16:04] knitanurag opened #7970 "importer pod unable to complete the process and stuck at final step"
Refrence URL : https://kubevirt.io/labs/kubernetes/lab2.html
Setup : kubeadm kubernetes setup
1. Created PV
`apiVersion: v1
kind: PersistentVolume
metadata:
  name: another-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
`
3. Create PVC
`apiVersion: v1
kind: PersistentVolumeClaim

[2022-06-21 16:26] ShellyKa13 opened #7971 "unit test flake: Inotify When watching files in a directory should detect multiple creations and deletions"
**What happened**:
Unit tests flake in several PRs
example: https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7881/pull-kubevirt-unit-test/1539275192516218880

**How to reproduce it (as minimally and precisely as possible)**:
run unit inotify unit tests

**Additional context**:
Failed locally once out of 10 runs:
for i in {1..10}; do go clean -testcache && go test -v

[2022-06-21 18:54] andreyod commented on #7968
NodeController in virt-controller is doing kind of monitoring for node responsiveness and node orphaned/errored VMIs so by design it constantly re-enqueue nodes(with 1 minute delay). The catch is that the controller watches for both node and VMI events, so 1 minute after the burst of VMI events there will be a burst of re-enqueue. The reconciliation is short and simple(if the node is responsive) b

[2022-06-22 06:27] alicefr commented on #7970
I'd suggest you to open the issue under the [CDI](https://github.com/kubevirt/containerized-data-importer) repository. It seems to me that the importer pod cannot find the PVC directory. Could you please try to exec in the importer pod and do an `ls /data` ?

[2022-06-22 06:36] mzzgaopeng opened #7974 "Some questions about arm builds"
When we use the arm environment to compile and complete the use phase, it is found that the handler's initcontainer fails at startup

[code]

It is found that the shell script started here is fixed to x86_64
cmd/virt-launcher/node-labeller/node-labeller.sh
[code]

What is the reason for not adapting to the arm architecture here?
Is it possible to add different parameters to judge different schema

[2022-06-22 12:22] #6054 closed

[2022-06-22 13:50] zhlhahaha commented on #7974
Hi, nodelabeller is only works on x86_64, please refer to the commit `72adfff47cd0d7207eb2cb69cf6f64dbe795b0ef`.
Would you like to share how you start your kubevirt cluster on Arm server? By the way, we only support kubevirt works on Arm64 rather than Arm32.

[2022-06-22 14:05] zhlhahaha commented on #7653
Update on this task.
**Verified**:
1. start 3 kind clusters on Arm64 server, and deployed kubevirt on each of them on run following command.
[code]

2. parallelly running functest in the three clusters successfully and all tests have passed.
[code]

3. keep the three cluster running the test over and over again for 24 hours, did not get any error.

**Issues**:
Using the krte image from `kubernetes

[2022-06-22 14:39] zhlhahaha commented on #7974
Ok, I will do it. By the way, if you want to try compile kubeVirt on Arm64 and run it, Here is a fast way.

[code]

[2022-06-22 15:55] qkfrksvl opened #7978 "Hotplug volume is not working with customization Kubelet directory."
Hi, I'm trying to add hot-plug volume to VMI with customization Kubelet directory.
However, it was stuck in phase 'AttachedToNode' and with no target. (target: "")

I think  "hotplug-disk" go pkg is not working with custom Kubelet directory.

There is only hotplugdisk.NewHotplugDiskManager() in virt-handler that has default podBaseDir.
<img width="627" alt="image" src="https://user-images.githubus

[2022-06-23 01:40] mzzgaopeng commented on #7974
I built it in the following way

[code]

[2022-06-23 06:01] qkfrksvl commented on #7978
Well I guess maybe we should change this 'kubeletPodDirs' const..

![image](https://user-images.githubusercontent.com/86870268/175226222-e9bec0b6-5fec-4649-a8be-bceb8f720df0.png)

[2022-06-23 10:47] zhhray opened #7979 "vm can not obtain ip address via dhcp in bridge mode"
**What happened**:
kubevirt  virtualmachine can not get IP address via dhcp.

**What you expected to happen**:
vm can get IP address via dhcp.

**How to reproduce it (as minimally and precisely as possible)**:
This is a rare problem, but when it does occur, the VM cannot obtain an IP address

**Additional context**:

What other information do I need to get ?

**Environment**:
- KubeVirt version (u

[2022-06-23 10:48] zhhray commented on #7979
<img width="907" alt="image" src="https://user-images.githubusercontent.com/8120555/175282043-42b030f6-3d01-437b-8263-6e3afe92f38c.png">

[2022-06-23 10:49] zhhray commented on #7979
<img width="591" alt="image" src="https://user-images.githubusercontent.com/8120555/175282247-a1c042b9-1f18-494d-892d-808d26328372.png">

[2022-06-23 11:15] hickersonj opened #7980 "ExperimentalVirtiofsSupport feature gate appears to not be configurable after upgrading kubevirt"
**What happened**:
I was able to use the virtiofs feature to expose the hosts path to the VM. I'm applying the following yaml as before, but now when deploying the VM it complains that the virtiofs feature gate is not enabled.
[code]
**Error**
[code]
This is what the chart looks like with the virtiofs filesystem configured:
[code]
**What you expected to happen**:
A clear and concise description of

[2022-06-23 15:58] #6055 closed

[2022-06-25 17:28] #7112 closed

[2022-06-25 17:28] #7065 closed

[2022-06-26 09:21] yonyossef commented on #2138
Hi, I delete all pods in kubevirt namespace but the vmi still hangs, cannot be deleted. Can you describe how exactly did you kill the vmi?

[2022-06-26 11:28] #7124 closed

[2022-06-26 13:28] #7138 closed

[2022-06-26 14:28] oshoval commented on #7170
I think we can close this issue ?
there were two different issues here, the one in the description and the one in the comments, and both handled by different PRs
(links mentioned above)

[2022-06-27 03:23] gitchong commented on #7526
when I do make deps-sync, prompt me the same error

[2022-06-27 07:49] rmohr commented on #7526
Just a wild guess, but could it be that you are located in china and that some dependencies are blocked?

[2022-06-27 10:28] SyngoPredevelopment opened #7992 "Pass environment variables from templates to virtual machine instances"
**Is your feature request related to a problem? Please describe**:
Need the possibility to set environment variables for VirtualMachineInstance instances from the kubevirt yaml templates.
For example for virtual machines created through containerDisk (also for other types):

_containerDisk:
&nbsp; image: myimage:latest
&nbsp; imagePullSecret: regcred_

it would be great to have the possibility to

[2022-06-27 11:26] iholder101 opened #7993 "Bug: node verbosity does not affect virt-launcher"
**What happened**:
Kubevirt CR exposes a [logVerbosity](https://kubevirt.io/api-reference/master/definitions.html#_v1_logverbosity) struct which includes a `nodeVerbosity` field. This field is of king `map[string]int` and it's purpose is to determine a log verbosity to all components that reside within some node.

Some components (e.g. `virt-launcher`) are not affected by this field.

**What you e

[2022-06-27 11:44] Yellow-L opened #7995 "how to compile and build only one component docker image such as virt-hadler?"
**Description**:
I want to add some changes to source code, but the make command always report errors, could anyone help me how to compile and build docker images? or is it the network problems?

**Additional context**:
[code]
[code]

[2022-06-27 15:55] digambar15 opened #7996 "Ability to annotate any pod which exposes kubevirt metrics"
We are able to fetch VMI metrics manually by adding scrape URL annotations to virt-handler pods.
Problem is, this is not an automated process as user intervention is needed everytime pod goes down/node goes down.
If we try adding annotations to virt-handler deamonsets, then it will get added but wipes out after every reconcile loop.
virt-handler deamonset is implemented as part of source code in c

[2022-06-27 16:13] viveksinghggits commented on #7779
I am assuming this means the cluster nodes don't actually support kvm, but I am not sure what can be done about it.

[2022-06-28 07:40] zhhray commented on #7979
How do I know that the DHCP server in the virt-launcher pod is providing the right service?

[2022-06-28 09:57] caohuilong commented on #5124
I meet this error too, kubevirt(v0.54.0) with cilium CNI. @rmohr

[2022-06-28 10:18] oshoval commented on #7940
Lets add Times.Any as we are doing mostly everywhere ?
Note that in some cases it shows a problem in the tests or so, but it was agreed that we can add Times.Any and
its up to the team that own it to fix it better.

[2022-06-28 12:32] gitchong commented on #4811
I have the same problem, how can I solve it

[2022-06-29 03:49] gitchong commented on #4811
docker proxy is useless， tag image and push custom registry

modify WOEKSPACE file
container_pull(
    name = "go_image_base",
    digest = "sha256:f65536ce108fcc41cdcd5cb101006fcb82b9a1527409263feb9e34032f00bda0",
    registry = "docker.io",
    repository = "xxx/base",
)

[2022-06-29 07:47] mzzgaopeng commented on #7995
梯子出去，都是国外源

[2022-06-29 10:31] xpivarc commented on #7409
Hi, @lixiaobing1 would you be able to provide additional information?

[2022-06-29 10:40] xpivarc commented on #7979
@rhrazdil Could you have a look?

[2022-06-29 11:02] xpivarc commented on #7084
/reopen

[2022-06-29 12:09] sofiworker commented on #7959
@alicefr thanks

[2022-06-29 12:09] #7959 closed

[2022-06-29 14:02] zhlhahaha commented on #7653
Solved:
Need to mount dockerdata/ to a host folder.

[2022-06-29 14:37] usrbinkat commented on #7995
Here is our [Developer Getting Started](https://github.com/kubevirt/kubevirt/blob/main/docs/getting-started.md) guide, and this is our [CONTRIBUTING](https://github.com/kubevirt/kubevirt/blob/main/CONTRIBUTING.md) doc.

Feel free to review, it should get you closer and any other specific questions not covered are welcome as follow up comments on this issue or in the kubevirt-dev slack channel on k

[2022-06-29 14:46] usrbinkat commented on #7980
I see you are using the current CR in your snippet:
[code]

By chance, since upgrading from previous versions, is the deprecated configmap still created in your cluster?

[2022-06-29 15:12] xpivarc commented on #7996
You can use https://github.com/kubevirt/api/blob/2850590b2880a2985a3f169f5432ebe79e56410e/core/v1/types.go#L1679 to modify Kubevirt components.

[2022-06-29 15:13] xpivarc commented on #5124
Hi @caohuilong, Can you copy-paste your error?

[2022-06-29 15:46] akalenyu commented on #7776
fixed by https://github.com/kubevirt/kubevirt/pull/7808

[2022-06-30 01:00] zhlhahaha commented on #5124
/reopen

[2022-06-30 09:25] BugMosquito commented on #7032
Has this bug been fixed ？

[2022-06-30 09:35] #6567 closed, assigned to nobody

[2022-06-30 10:55] rthallisey commented on #7032
This was observed in 0.35.  I think it's fixed in 0.40 by https://github.com/kubevirt/kubevirt/pull/5194.  This can be closed.

/close

[2022-06-30 11:05] m14815 commented on #7032
I recently get similar error with kubevirt version 0.41.0, after I modify some spec of vm, such as size of memory, and restart the vm for spec changing, the vmi will stay with scheduled state, and it shows the same error, the ghost record was not cleaned properly, and new info clashes will old one.

[2022-06-30 11:42] ormergi commented on #6351
/remove-lifecycle stale

[2022-06-30 13:54] alicefr commented on #7992
@SyngoPredevelopment I spent some time on this and it is also an old topic (see [here](https://lists.nongnu.org/archive/html/qemu-devel/2015-02/msg00441.html)) and cloud-init seems really the best way to achieve this.
If we create a file on an iso or directly mount a file using virtiofs, in both cases we need an agent inside the guest that performs the mount (e.g cloud-int).
The other way could to

[2022-06-30 14:53] digambar15 commented on #7996
Thanks @xpivarc . This is really helpful. I have applied custom components for virt-handler daemonsets. Do you know how it gets applied to virt-handler ds and pods respectively, asking here because I saw below annotation applied in kubevirt but didn't see it in daemonsets and pods.

  Customize Components:
    Patches:
      Patch:          {"spec": {"template":{"metadata":{"annotations":{"prometh

[2022-06-30 14:59] SyngoPredevelopment commented on #7992
Thanks for the information. I meanwhile have chosen a solution where i do it inside the vmi with a Windows Service which communicates with other K8s services at startup of the vmi. The solution with cloud-init and Windows is very complex, i decided against it.
It would have been nice to have the same functionality like for normal pods like setting environment variables or mapping config maps as fi

[2022-06-30 15:31] xpivarc commented on #7996
Do you mean it doesn't work?

[2022-06-30 16:27] digambar15 commented on #7996
I applied below patch.yaml
---
apiVersion: kubevirt.io/v1alpha3
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: nc-system
spec:
  certificateRotateStrategy: {}
  configuration: {}
  customizeComponents:
    patches:
    - resourceType: Daemonsets
      resourceName: virt-handler
      patch: '{"spec": {"template":{"metadata":{"annotations":{"prometheus.io/path":"/metrics","prometheus.io/por

[2022-06-30 16:47] Zigko opened #8024 "Windows 10 VM GPU problem"
**Environment**:
- KubeVirt version (use `virtctl version`): 0.54
- Kubernetes version (use `kubectl version`): 1.24.2
- VM or VMI specifications: yaml bellow
- OS (e.g. from /etc/os-release): Debian 11 bullseye
- Kernel (e.g. `uname -a`): Linux debian 5.10.0-14-amd64 #1 SMP Debian 5.10.113-1 (2022-04-29) x86_64 GNU/Linux

Hi,

I have tried several windows (server 2012, server 2012 and now windows

[2022-06-30 16:59] rthallisey opened #8025 "Handle VMI cleanup in the load-generator tool"
The load-generator tool creates many VMIs, waits until they are running, deletes the vmis, and waits until they are no longer in Running phase.  Since we're not guaranteeing the VMI objects are removed, sometimes VMIs hang around too long and the `make cleanup` recipe catches them in CI.   We shouldn't be relying on `make cleanup` because the load-generator should be able to cleanup after itself.

[2022-06-30 18:36] #7122 closed

[2022-06-30 18:46] davidvossel commented on #7671
I feel that it is better to keep status.interfaces as light as possible ?

the vmi status is the place used to aggregate info related to the vmi and publish it over a well defined api. I wouldn't be concerned about the status growing a new field, this happens pretty regularly as we need to present more detailed information.

[2022-06-30 20:09] xpivarc commented on #7996
@digambar15 I see. Please try `Daemonsets` -> `Daemonset`

[2022-07-01 03:00] Yellow-L commented on #7995
ok, i'll setup a proxy for compile.  thanks a lot.

[2022-07-01 04:02] digambar15 commented on #7996
Thanks @xpivarc! :)

[2022-07-01 08:35] alicefr commented on #7992
@SyngoPredevelopment we could discuss this in the next community meeting if there are other use-cases for this. Would you like to document in the [user-guide](https://github.com/kubevirt/user-guide) how you did for Windows VMs? This might be very helpful for other KubeVirt users that face the same problem

[2022-07-01 08:44] maiqueb commented on #6322
/reopen
/remove-lifecycle rotten

[2022-07-01 08:49] xpivarc commented on #6322
I think this will be much easier when we move to longer release cycles.

[2022-07-01 11:41] rhrazdil commented on #7979
Hello @zhhray
You can check the DHCP configuration that is generated for a VMI in virt-handler logs. You need to configure logVerbosity to 5 in kubevirt CR
[code]

Then in virt-handler logs, you should find the following message
[code]

This generated config is consumed in virt-handler, in virt-handler logs you should find something like:
[code]

The DHCP server is fairly simple, you can find it i

[2022-07-01 11:42] rhrazdil commented on #7979
/sig network

[2022-07-02 04:59] #7974 closed

[2022-07-02 17:42] #7172 closed

[2022-07-03 10:07] enp0s3 opened #8031 "virt-operator updates the `kubevirt.io/generation` annotation on its operands even when no reconcile needed"
**What happened**:
Using the Kubevirt CR we can manage the aspects of how kubevirt controllers are deployed, for example we can change the number of `virt-api` replicas, or we can create a patch for a particular controller deployment using `spec.CustomizeComponents` i.e. to add a custom annotation to the `virt-controller` deployment. OTOH there are configurations that control the behavior of the c

[2022-07-03 10:07] enp0s3 commented on #8031
/cc @xpivarc @davidvossel

[2022-07-03 15:42] #6620 closed

[2022-07-04 03:14] BugMosquito commented on #7032
I also repeated this error in version 0.41.0, but the virtual machine recovered itself after a period of time

[2022-07-04 05:46] xiaobo55x commented on #7738
@dhiller I have post a PR for this issue, please help have a review! Thanks!

[2022-07-04 08:20] mzzgaopeng opened #8034 "DHCP server6 painc error"
**What happened**:
A clear and concise description of what the bug is.
virt-launcher panic

**What you expected to happen**:
A clear and concise description of what you expected to happen.

After I created the virtual machine, restarted the vm, looked at the log of virt-lanuncher, and found the phenomenon of panic

**How to reproduce it (as minimally and precisely as possible)**:
Steps to reproduc

[2022-07-04 09:16] oshoval commented on #8034
Hi
Thanks for the report
Indeed the function miss error handing

Can you paste please the yaml of the VM you are using ?
I wonder if we can simulate it locally, to understand the root cause as well that the `buildResponse` fails

Thanks

[2022-07-04 09:29] mzzgaopeng commented on #8034
Our vm is a dual-stack virtual machine, and the yaml of the vm is the same. I am also reproducing what causes paninc.
If I make progress, I will sync in time.

[2022-07-04 10:01] oshoval commented on #8034
/sig network

[2022-07-04 19:47] #7738 closed

[2022-07-05 06:50] knitanurag opened #8044 "Unable to see kubevirt metrics information in prometheus"
No clear information given in the doc to deploy and test monitoring for vm via kubevirt.

**What happened**:
Unable to see the metrics and monitoring information for vm as well as for core components of the kubevirt.
Followed the doc given here : https://kubevirt.io/user-guide/operations/component_monitoring/

**What you expected to happen**:
I should be able to see kubevirt related metrics inform

[2022-07-05 07:40] muleimulei opened #8046 "I have some issues when I use KubeVirt Snapshot Restore API"
I can successfully create a vm, but I can only capture vm's configuration (such as its disk size).  Currently, I only can restore its configuration , but I can't restore its files by the snapshot.

when I use `kubectl get vm hello -o yaml`, the output is:
[code]
**In the end on the above, it suggests me that `No VolumeSnapshotClass: Volume snapshots are not configured for this
      StorageClass [

[2022-07-05 14:23] mattmckinstry commented on #7780
@willzhang Did you get anywhere with this one?  Seeing the same sort of behaviour myself

[2022-07-05 14:35] rthallisey commented on #7032
/reopen

I closed the wrong bug.  https://github.com/kubevirt/kubevirt/issues/6685 is fixed by https://github.com/kubevirt/kubevirt/pull/5194 in release 0.40

[2022-07-06 06:43] Coefu commented on #8024
https://nvidia.custhelp.com/app/answers/detail/a_id/5173/~/geforce-gpu-passthrough-for-windows-virtual-machine-%28beta%29

[2022-07-06 06:49] Coefu commented on #7795
I think it's a good idea, and I'm thinking about it.

[2022-07-06 13:45] #7184 closed

[2022-07-06 14:37] enp0s3 commented on #8031
/assign @iholder-redhat

[2022-07-06 21:40] davidvossel opened #8063 "writing node's zone and region labels to VMI labels"
The cloud-provider-kubevirt component needs to know what zone and region a VMI is in when creating the load balancer. This information is on the node the VMI is running on. Ideally we'd like that information to be copied to the vmi in order to prevent needing to give cloud-provider-kubevirt rbac to read nodes.

[2022-07-06 21:40] davidvossel commented on #8063
/cc @nirarg

[2022-07-07 01:24] mzzgaopeng commented on #8034
I seem to have found the cause of the problem. Our network environment is a layer-2 bridge network, which occurs when a virtual machine has an IPv6 address conflict under the same layer-2 network;
It seems that dhcpv6 responds to the problem in the same layer 2 network environment, for example: the dhcp of other virt-launcher corresponds to the dhcp request of this virtual machine;

[2022-07-07 08:56] AlonaKaplan commented on #8034
@mzzgaopeng thanks for reporting the bug.
Can you please share the network configuration of the 2 VMs involved (the VM with the crashing DHCPv6 server and the VM that sent the request).
At least the - spec.domain.devices.interfaces and spec.networks section from the VMs yamls.
And the `ip a` output from the VM's virt-launcher pod and from the VMs console.

DHCPv6 server should run only when a VM h

[2022-07-07 08:58] mzzgaopeng commented on #8034
We support bridge network mode by adjusting the code. not use masquerade mode.

[2022-07-07 09:02] mzzgaopeng commented on #8034
https://github.com/kubevirt/kubevirt/blob/main/pkg/network/dhcp/serverv6/serverv6.go#L76
On DHCPV4, the source mac is judged, but on DHCPV6, the source mac is not judged.

https://github.com/kubevirt/kubevirt/blob/main/pkg/network/dhcp/server/server.go#L190

I think here is the problem

[2022-07-07 09:23] AlonaKaplan commented on #8034
Yes, the DHCPv6 server is supposed to run on masquerade binding:) There you don't have l2 connectivity, so there is no need to check the MAC. The bridge that the DHCPv6 server is running on has only one port - the connection to the VM.
Why do you adjust the code? So that bridge binding will have a DHCPv6 server?
In this case, yes, you need to check the MAC or think of another way to filter out irr

[2022-07-07 09:25] mzzgaopeng commented on #8034
I am using a bridge network, which supports IPv6 at the same time. I encountered such a panic in IPv6dhcp, so I made some adjustments, referring to dhcpV4.
I think the follow-up community supports the bridge network model, here is what needs to be adjusted.

[2022-07-07 09:35] AlonaKaplan commented on #8034
kubevirt doesn't have DHCPv6 support for bridge binding. The virt-launcher run DHCv6 server only for masquerade.
So there are several options -
1. kubevirt has a bug and for some reason it is running a DHCPv6 server for bridge binding.
2. The cluster has a VM with masquerade binding and somehow it answers to DHCPv6 request of another VM with bridge binding.
3. The code was changed to run a DHCPv6

[2022-07-07 11:42] viveksinghggits commented on #8046
Hi @muleimulei
KubeVirt controller looks for VolumeSnapshotClass to be present in the `v1` version,  can you verify if the volume snapshot class is being served from v1 version?
https://github.com/kubevirt/user-guide/pull/552

[2022-07-07 12:57] EdDev commented on #8034
@mzzgaopeng , issues opened against the project are expected to have been checked against the upstream version mentioned (e.g. 0.46 is this case).

We will fix the error handling, but cannot assist in solving a problem of a downstream solution.

You are welcome to propose the options to support DHCPv6 support for bridge binding to the project, I am sure other users will see benefit in this.

We ar

[2022-07-07 12:57] EdDev commented on #8034
/close

[2022-07-07 12:57] #8034 closed

[2022-07-08 03:19] xiaobo55x opened #8066 "Expose the ioapic and pic features API"
**Is your feature request related to a problem? Please describe**:
When trying to enable TDX support in Kubevirt, we found that ioapic and pic features can't
be modified in the VMI yaml file which mean the ioapic was fixed to 'kvm' and pic was always 'on'.
But for the TDX support, the ioapic only support 'qemu' (split mode) and pic should be 'off'.

**Describe the solution you'd like**:

We need t

[2022-07-08 08:28] fossedihelm opened #8067 "Investigating the virt-launcher overhead"
### Analyze virt-launcher overhead
With https://github.com/kubevirt/kubevirt/pull/8011 we increased the `virt-launcher` overhead from 75Mb to 100Mb.
This resulted from recent tests that showed that 75 Mb was not enough.
The same tests also show a fluctuating trend in RSS.
Data from RSS, RSSAnon, and RSSFile can be analyzed here: https://docs.google.com/spreadsheets/d/1Dd_bRffT6hr1fw_rlh7hqOFRFbVQW

[2022-07-08 10:47] #7193 closed

[2022-07-09 01:49] #6600 closed

[2022-07-09 02:03] muleimulei commented on #8046
Hi @[viveksinghggits](https://github.com/viveksinghggits)
[code]

it's `v1 version`. Will it be related to the namespace? My KubeVirt controller is in `vm-manager` namespace , but my  volume snapshot controller is in `kube-system` namespace . I have no idea. Thanks for your reply.

[2022-07-09 15:04] viveksinghggits commented on #8046
I don't think snapshot-contrller being present is another namespace is going to be a problem.
I recommend you checking `virt-controller`'s logs.

[2022-07-10 12:58] oshoval commented on #7671
PR created https://github.com/kubevirt/kubevirt/pull/8071

[2022-07-10 17:51] #7208 closed

[2022-07-11 11:40] xpivarc commented on #7215
/reopen
I am not sure this was addressed will have a look this week.

[2022-07-11 11:41] xpivarc commented on #7214
/reopen
I am not sure this was addressed will have a look this week.

[2022-07-11 13:21] rthallisey commented on #6756
Haven't had a chance to get back to this.  Going to make as closed

/close

[2022-07-11 13:21] #6756 closed

[2022-07-12 03:54] scuzhanglei commented on #6987
@candidoma have you solve this problem?

[2022-07-12 05:55] caleb-devops opened #8079 "Support VNC screen resolutions greater than 1920x1024"
**Is your feature request related to a problem? Please describe**:
The screen resolution for KubeVirt guests cannot exceed 1920x1024 due to the vram limit of 16 MB.

**Describe the solution you'd like**:
Add option to change the requested vram for a VirtualMachine.

**Additional context**:
It looks like the vram is statically set to 16 MB here: https://github.com/kubevirt/kubevirt/blob/fe2aea5349b

[2022-07-12 06:30] alicefr commented on #8066
@xiaobo55x thanks for raising the issue!
Since you are talking about TDX, could you please provide more information on what and how you plan to add TDX support to KubeVirt? We already have an initial support for AMD SEV. You might want to have a look to the [document proposal](https://github.com/kubevirt/community/blob/main/design-proposals/amd-sev.md)

[2022-07-12 07:47] alicefr commented on #8066
fyi @iholder-redhat

[2022-07-12 08:01] xiaobo55x commented on #8066
@alicefr Thanks for the comments!
Actually, I have finished the POC to launch TDX VM with kubevirt, and it works well in my local K8s cluster.
Since TDX and SEV share some common libvirt APIs, there is no big changes from the kubevirt side.

I will prepare the RFC patches for the changes and create pull request for more comments!

[2022-07-12 08:19] xiaobo55x commented on #8066
For the TDX attestation support in kubevirt, I think we may able to reuse some TDX attestation facilities from [Confidential Container](https://github.com/confidential-containers) project. I will start look into the kubevirt attestation support after finishing the TDX basic support enablement.