[2018-10-16 18:44] davidvossel commented on #1610
@rmohr based on our understanding right now. I don't disagree with this statement.

The concern here is if Migrations are not namespaced, then we have no way of enforcing per namespace RBAC in the future if it proves necessary.

With Namespaced Migrations, we can enforce that only the cluster admin has the permissions to perform migrations and that namespace admins do not. Without Namespaced Migra

[2018-10-16 20:28] davidvossel opened #1631 "Ability to Cancel Live Migration"
Related to #1550

Users need the ability to cancel an in-flight live migration job.  Cancelling the job will have to be a best effort attempt as there will always be a race condition between when the migration completes and when the cancel operation is received.

[2018-10-16 20:51] davidvossel commented on #1631
@vladikr @rmohr @fabiand  We should discuss how an admin invokes canceling a migration and how the result of that request is conveyed.

I think the action needs to remain declarative, meaning the user declares they want to cancel the migration job, and the system makes a best effort attempt at satisfying that request. I also think the action needs to be tied to the migration job and not the VMI.

[2018-10-16 20:53] davidvossel opened #1632 "Secure Migrations via TLS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Related to #1550

The migration proxy used to tunnel migration connections between libvirts running in separate VMIs is not secure. We need to generate a tls CA bundle used for this migration proxy to ensure that only virt-handler's can talk to one another and that the traffic is encrypted.

[2018-10-16 21:33] davidvossel opened #1633 "Live Migration with Network Failover"
Related to #1550

Traditionally, live migrations have been accompanied by a network solution that allows the VM to migrate without disrupting guest connections.  For KubeVirt, this means determining a way to assign VMs internal  IP addresses that follow the VMs during live migration while also preserving guest connections.

cc @yuvalif @SchSeba @fabiand @vladikr @rmohr

[2018-10-16 21:37] davidvossel opened #1634 "Draining nodes using Migrations"
Related to: #1550

When draining a node, VMI's that are migratable should migrate instead of shutting down.

[2018-10-17 10:33] rmohr commented on #1585
@fabiand there are two issues: First, if you create the preset together with the vmi it will almost never be applied. Second we don't check for the required memory. Regarding the preset-race, not much we can do here, k8s has the same limitations there. Regarding checking if memory is set after presets were applied, we have #1627. It will in such a case then at least reject the vmi when it is poste

[2018-10-17 10:44] fabiand commented on #1585
Thanks for the clarification.

Both makes sense.

[2018-10-17 10:54] ronf commented on #1325
Thanks, @rmohr - I think you're right.

[2018-10-17 13:36] fabiand commented on #1576
How should we be able to infer the correct NIC model?

[2018-10-17 15:29] gageorsburn commented on #1315
Closing because no longer relevant with multus instead of yuvalif's PR.

[2018-10-17 17:58] #1541 closed

[2018-10-17 20:41] davidvossel opened #1638 "Investigate DataVolume CRD autodetection and deprecate DataVolume feature gate"
KubeVirt's DataVolume integration is currently feature gated. The original though behind this feature gate was it protected users from a feature that was still in the process of stabilizing. Since then CDI has stabilized to the point we should consider removing the feature gate.

In order to remove the feature gate, we'll need logic in virt-api and virt-controller to dynamically detect when the Da

[2018-10-17 21:02] mlsorensen commented on #1553
We have many 'additions' to our cluster and by convention we put each in its own namespace rather than dump everything into kube-system. Just helps us track what is what and add monitors for it.

[2018-10-18 07:46] rmohr commented on #1638
Let's try to not do such things inside the listwatcher. How about the following for our controllers:

 * Listen for specific changes (e.g. feature gate added/removed from config map, new CRD registered)
 * Invoke a callback, which stops controllers which are affected by that change (using the stop channel)
 * restart them (that ensures that e.g. initial chache syncs and other small details will wo

[2018-10-18 08:19] SchSeba commented on #1615
merged https://github.com/kubevirt/kubevirt/pull/1621

[2018-10-18 08:19] #1615 closed

[2018-10-18 08:31] fabiand commented on #1594
Excuse me if I repeat something, but to summarize the current state:

1. Now: We keep experimenting with collectd outside of the core components
- eventually in a DS.
2. Soon: We aim at adding metrics/monitoring _capabilities_ to the
individual core components (launcher, handler, …)
3. Then: A separate component could use these the capabilities to gather,
then export the metrics using prometheus e

[2018-10-18 08:48] SchSeba commented on #1633
cc @dankenigsberg also

[2018-10-18 08:50] rmohr commented on #1612
Keeping the issue open until @senior7515 verified that it works.

[2018-10-18 09:17] fromanirh commented on #1594
The only possible issue that I see here is the name of the metrics we expose. Once this is stable, the way we collect them should be 100% transparent to users, giving us complete freedom of implementation.

The current implementation we have will most likely still require some work here.

[2018-10-18 09:17] dankenigsberg commented on #1633
In hubnly sense that this is a doomed cause. The primary network address of Pod is strongly tied to its Node (for most metwork plugins). If we provide an in-VM service listening on this address, we are unlikely to be able to keep client connections when the VMs moves to another Pod on another Node.

Thus, I believe that we can have *either* L2 network and a stable L3 address and live migration, *o

[2018-10-18 09:45] yuvalif commented on #1633
Agree with @dankenigsberg , however, not sure we should block such migrations. If an L2 network exists, and probably used for the main function of the VM, we may still guarantee live migration on that interface, while requiring reconnects on the k8s networks (e.g. dropping ssh connections).

[2018-10-18 09:56] fabiand commented on #1633
I'm close to @yuvalif  position:

1. Any interface bound to the pod backend (regardless how) has no guarantees for live migration.
2. There should be some interface types which do support to also migrate an IP.

This issue is about 2. which can be some additional interface, but must not be the primary one.

[2018-10-18 10:02] #1569 closed

[2018-10-18 12:08] fabiand commented on #1631
It feels a little odd right now, but DELETE is not an option, as we probably want to migration informations even after the migration was canceled.

[2018-10-18 12:13] senior7515 commented on #1612
verifying today. will do in a couple hours.

Sent from my mobile, please excuse my handwriting.

On Thu, Oct 18, 2018, 4:51 AM Roman Mohr <notifications@github.com> wrote:

[2018-10-18 12:17] cynepco3hahue commented on #1631
@fabiand How long do we want it? Will we create some CRON job that will remove all migration objects after some time?

[2018-10-18 12:19] fabiand commented on #1631
Well, I thought we have direct support for https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/ ;)

Seriously: So, eitehr we keep them until they are removed by $something (time, higher mgmt) or DELETE is okay enough, because the events contain enough information for the UI and other tooling.

IOW: We might not need to keep it around after completion, if the events logs prov

[2018-10-18 12:28] cynepco3hahue commented on #1631
I think a well-structured event must be enough, at least we do not have migration objects under the oVirt and OpenStack.
If migration succeeded, I think only migration duration and a destination node is interesting and if it failed duration and the reason why it failed(from the controller or from libvirt)

[2018-10-18 12:33] fabiand commented on #1631
If that's sufficient, then cancellation could be a DELETE, which looks
natural to me.

[2018-10-18 12:56] fabiand commented on #1541
:tada:

On Wed, Oct 17, 2018 at 7:59 PM David Vossel <notifications@github.com>
wrote:

[2018-10-18 13:37] senior7515 commented on #1612
Works! thanks!

[2018-10-18 13:37] #1612 closed

[2018-10-19 13:53] #1602 closed

[2018-10-21 05:34] yuvalif commented on #965
/remove-lifecycle rotten

[2018-10-21 05:35] yuvalif commented on #1064
/remove-lifecycle rotten

[2018-10-21 21:09] awels commented on #1218
/close

[2018-10-21 21:09] #1218 closed

[2018-10-22 09:06] slintes commented on #953
I'm wondering if this was solved by https://github.com/kubevirt/kubevirt/pull/1548 ?
@fabiand @mfranczy

[2018-10-22 09:07] slintes commented on #953
I'm wondering if this was solved by https://github.com/kubevirt/kubevirt/pull/1548 ?
@fabiand @mfranczy

[2018-10-22 09:30] rmohr commented on #1044
/remove-lifecycle rotten

[2018-10-22 12:52] fabiand commented on #953
No, #1548 only solves disk cache.

This issue is for device passthroug

[2018-10-22 12:59] slintes commented on #953
ok, so this is still a thing

/remove-lifecycle rotten

[2018-10-22 14:37] davidvossel commented on #1631
the migration objects are deleted when the VMI is deleted. We could choose to garbage collect finished migration objects after 24hrs or something if we wanted.

natural to me.

I suggest deciding on the UI/UX flow for creating and canceling migrations before committing to a backend implementation. Ii could be that DELETE of the migration object will suffice, and we'll discover the migration was ca

[2018-10-22 19:12] rthallisey commented on #1618
This would mean moving the CRDs out of yaml and into virt-api.go (or some other file)?  This would make kubevirt 1) an operator by definition and 2) require cluster-admin permissions.  At that point, the delta between kubevirt and kubevirt-operator would be a control loop watching the CRD, OLM integration templates, and operator tests.

[2018-10-22 19:41] j-griffith opened #1644 "Missing required test infrastructure for tests in some external provider cases"
/kind enhancement

**What happened**:
When using the external provider option, we loose control of our testing environment.  In some cases a user can set things up appropriately for everything to work, but in other cases the cluster may already be deployed or it may be something like a standard GKE cluster where things can't be added/modified.

**What you expected to happen**:
When setting `KUBEVI

[2018-10-22 20:11] rthallisey commented on #1618
Following up on my comment, I don't think 2) is a valid option.  I don't think we're going to get a green light to make the app cluster-admin.  With that being said, it leaves us either:
 1) Move deployment code to kubevirt-operator
 2) Move kubevirt-operator into kubevirt and rewrite to remove operator-sdk dependency

Is there a technical reason blocking either of our options?

[2018-10-23 06:37] rmohr commented on #1644
@j-griffith could you highlight which infrastructure does not work after you patch the config-map? I don't see anything we do which would require special privileges.

[2018-10-23 06:43] #1369 closed

[2018-10-23 07:55] cynepco3hahue commented on #1644
All our testing infrastructure must run inside containers, so it must not be related on any internal state of the cluster.

[2018-10-23 08:28] rmohr commented on #1644
/kind enhancement

[2018-10-23 08:29] rmohr commented on #1632
Assigned this to me. Have a WIP PR for other reasons which provides valid certificates to our components.
May take a few days before I can continue it. If others want to take over, happy to share the code upfront.

[2018-10-23 08:34] rmohr commented on #1618
Both are technically possible. Option (1) would obviously be a pain to maintain and properly test.

[2018-10-23 08:36] rmohr commented on #1618
This option requires us to do daily releases if necessary (I think that is the right thing).

[2018-10-23 11:58] gites opened #1646 "No IP address in VM after pod deletion"
/kind bug

**What happened**:
Pod deleted via `kubectl delete pod <name>` don't have an IP address assigned inside VM after recreation.

**What you expected to happen**:
The pod should have an IP address

**How to reproduce it (as minimally and precisely as possible)**:
1. Create VM using official Fedora 28 or Ubuntu Bionic Cloud images.
2. Delete pod
3. Try to connect to VM via a network.

**Anyt

[2018-10-23 12:17] rthallisey commented on #1618
Why would this require daily releases?

I think we all agree from a kubevirt perspective, that there is pain in maintaining & testing deployment code and application code in different places.  There will be some code duplication, ripping out tested code paths, and another repo to maintain.  But, I think there is just as much pain maintaining deployment and application code in the same repo.  For i

[2018-10-23 21:17] rmohr opened #1647 "Webhooks are not updated if "some" kubevirt webhooks are already registered"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Right now we only create up-to-date webhook configurations if no webhooks were registered at all.

**What you expected to happen**:

 We need to also ensure that they look like we expect them, in order to properly update existing installations.

**How to reproduce it (as minimally and precisely as possible)**:

Install K

[2018-10-24 06:48] rmohr commented on #1646
Hm, we don't test against `kube-router`. I don't know that much about this network provider, but I guess we somehow confuse it with our changes inside the pod on the provided interface.

/cc @SchSeba @yuvalif @booxter

[2018-10-24 06:51] rmohr commented on #1646
Oh wait, it can also be related to the OS configuration in the VM. We had similar reports where the default settings in the OS image assumed IP addresses or specific mac addresses after a first dhcp request. @karmab didn't you report something like that?

[2018-10-24 07:00] #1622 closed

[2018-10-24 08:11] gites commented on #1646
@rmohr Indeed, the mac address is different after VM restart, and both Fedora and Ubuntu have a previous mac address specified in network settings. At that point, I'm not sure if this is still a bug.
Definitely, this kind of behavior should be described in some FAQ or documentation.

[2018-10-24 08:18] karmab commented on #1646
i didnt :)

[2018-10-24 09:47] rmohr commented on #1647
We do the wrong thing. That can't happen. Misread the code and an issue report.

[2018-10-24 09:47] #1647 closed

[2018-10-25 03:34] stu-gott commented on #1219
/remove-lifecycle rotten

[2018-10-25 03:36] j-griffith commented on #1644
@rmohr @cynepco3hahue You're right, on GKE I have to set up a configmap to specify emulation.  The issue then is when the test deploy tries to set the configmap it fails because there's already a kubevirt configmap.  After that I ran into some issues with missing test config.

I didn't think about patching the configmap with emulation until *after* the deployment, but that seems to work well.  I'm

[2018-10-25 06:49] #1585 closed

[2018-10-25 07:00] cynepco3hahue commented on #1644
@j-griffith It means that you use incorrect `kubeconfig` to run functional tests if you will check `functests.sh`  you can see that it runs with `-kubeconfig=${kubeconfig}` flag and if you do not provide `provider` env variable it will be equal to `cluster/k8s-1.10.4/.kubeconfig`. So you can just change `${kubeconfig}` under `functests.sh` to use config from your external cluster.

[2018-10-25 07:08] rmohr commented on #1644
I would suggest to set sane defaults here: https://github.com/kubevirt/kubevirt/blob/master/cluster/external/provider.sh#L12

Something like:

[code]

Then the functests should work for external providers like for all others too.

[2018-10-25 07:57] rmohr commented on #1646
Sounds like a plan. I guess the most simple solution is to put  a `dhclient` call directly into the cloud-init script?

[2018-10-25 07:58] rmohr commented on #1611
/kind api-change

[2018-10-25 07:59] rmohr commented on #1611
/cc @mareklibra @jelkosz

[2018-10-25 15:01] j-griffith commented on #1644
Thanks for the input on this!  So given that just patching the configmap after deploy addresses the main issue here I'm going to close this.    The provider.sh config settings get me to the next hurdle so I'll head that direction and see if we can config external/provider.sh to "just work" for functest.

[2018-10-25 15:01] #1644 closed

[2018-10-26 02:03] gites commented on #1646
I would rather go for creating a proper network config file. For Ubuntu it can be done like this:
[code]
and that will create a netplan file `/etc/netplan/99-net-fix.yaml` with contet:
[code]
So on any NIC that have name starting `enp` will be counfigured via dhcp.

IMHO, the proper fix for that should allow a user to set cloud-init meta-dataand hence for using native cloud-init network configurat

[2018-10-26 11:58] rmohr commented on #1576
/kind tracker

[2018-10-26 11:59] rmohr commented on #1576
yep comment does probably not make any sense.

[2018-10-26 12:38] fabiand commented on #1646
IIUIC this is about a changing mac addr between boots.

But didn't we fix this by setting a mac addr during VM creation, just like we do with VM firmware uuid? @rmohr

[2018-10-26 12:51] fabiand commented on #1219
Well, it's good enough atm. CLosing this for now

/close

[2018-10-26 12:51] #1219 closed

[2018-10-28 12:10] fabiand commented on #1199
/remove-lifecycle rotten

[2018-10-28 17:44] yuvalif commented on #1366
The L2 device plugin work (https://github.com/kubevirt/kubevirt/pull/1342) was cancelled. hence closing this issue.

[2018-10-28 17:44] #1366 closed

[2018-10-29 10:08] fabiand commented on #1087
/close

Closing this for now. Will probably be revisited by the operator peeps.

/cc @rthallisey some annotations that the operator might want to add (see the initial link in the description)

[2018-10-29 10:08] #1087 closed

[2018-10-29 10:21] #1064 closed, assigned to nobody

[2018-10-29 21:40] karmab commented on #1498
proposed https://github.com/kubevirt/kubevirt/pull/1657 as a fix

[2018-10-30 09:03] rmohr commented on #1646
@fabiand yes that may work. I never used kube-router so I can't tell for this provider. For instance ovn blocks the traffic if we use a custom mac, but for others (e.g. flannel) we know that it works.

[2018-10-30 10:06] rmohr commented on #1646
@gites I am a little hesitant to allow users directly modifying the meta-data. Normally (as far as I understand it) it should automatically provide the content which is needed to properly connect to the provider.

Would it make sense to pass in additional metadata in the ec2 format (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html#instancedata-data-categories)?

Somet

[2018-10-30 10:40] rmohr opened #1659 "make virtctl upload-image a reliable and supportable command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind tracker

**What happened**:

We added `virtctl image-upload` in #1605. It is in a very early `alpha` state.

**What you expected to happen**:

Here a list of issues which need to be addressed before it can be seen as `beta` or `stable`:

`beta`:

 - [ ] Detect if CDI is available, instead of blindly creating PVCs and failing somewhere along the

[2018-10-30 10:41] rmohr commented on #1659
/c @fabiand @mhenriks

[2018-10-30 10:42] rmohr commented on #1659
@mhenriks that are my initial thoughts on what definitely needs to be improved. What are your thoughts?

[2018-10-30 12:18] rmohr commented on #1646
What about https://cloudinit.readthedocs.io/en/latest/topics/network-config-format-v2.html#network-config-v2 and/or https://cloudinit.readthedocs.io/en/latest/topics/network-config-format-v1.html#network-config-v1 ? Maybe these can help? We can try to provide the right config for our dhcp server this way too.

[2018-10-30 12:50] mmazur commented on #1584
So… any chance for the webhook to refuse unsupported definitions?  (Or start supporting them.)

And btw, this has an interesting implication – he admission webhook does not allow not specifying spec.domain in a VMI definition. But whether that's actually correct depends heavily on what VMIPresets end up supporting:
1. If I should be able to define basically anything I want in a preset (disks, memo

[2018-10-30 15:28] fabiand opened #1661 "Defaulting to require vhost-net"
/kind bug

**What happened**:
Launching a VM on minikube using 0.9.2.

It failed to schedule, because `devices.kubevirt.io/vhost-net` was not available on nodes.

This is because the `vhost-net` module is not available on minikube.

The underlying issue is that wedefault to virtio, and if virtio is used, then vhost-net is expected (aka a sched requirement).

I'd recommend to keep defaulting to vir

[2018-10-30 15:30] fabiand commented on #1661
/cc @yuvalif @SchSeba @booxter

[2018-10-30 15:31] fabiand commented on #1044
`Failed to pull image "docker.io/kubevirt/virt-launcher:v0.9.3": rpc error: code = Unknown desc = Error response from daemon: received unexpected HTTP status: 503 Service Unavailable`

[2018-10-30 15:44] vladikr commented on #1661
@fabiand , perhaps this is something that the admin can disable in the config (kubevirt-config) - because this is likely to be a cluster-wide issue. I don't expect such mixed nodes...
Otherwise, how would the user specifically ask for vhost (it's not just vhost-net, it can be any vhost (blk, scsi))?
Another way is to let the user specify vhost-net instead of virtio on the interface API or introduc

[2018-10-30 19:31] fabiand commented on #1661
Sounds good using the cluster wide config.

[2018-10-30 20:09] vladikr commented on #1661
@fabiand I'll get it fixed then.

[2018-10-30 22:46] fabiand opened #1662 "virt-handler is consuming quite some memory"
/kind bug

**What happened**:
Running kubevirt with a VM using a PVC and ephemeral source, I see:
[code]
At some point it is getting killed with OOM.

**What you expected to happen**:
Runnign smoothly.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubec

[2018-10-30 22:48] fabiand commented on #1662
@rmohr I wonder why handler should consume that much memory.

[2018-10-30 23:28] rmohr commented on #1661
@vladikr well we agreed on the PR that one can set emulation in the config-map https://github.com/kubevirt/kubevirt/pull/1567#issuecomment-426320536. Basically saying that if you want to do serious virtualization it has to be present (except if you  explicitly don't want virtio on the interface). For demoing purposes it got explicitly tied to the emulation setting in the kubevirt config-map. So at

[2018-10-30 23:49] fabiand opened #1663 "virt-launcher is getting killed due to use of ephemeral storage"
/kind bug

**What happened**:
virt-launcher with ephemeral and PVC.
launcher got kileld after a while with:

[code]

Maybe we should use https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage and request a certain amount of storage space.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**An

[2018-10-31 08:54] rmohr commented on #1662
@fabiand which app is producing that output? `top`? Just asking so that I can really intepret it correctly.

It looks to me, like the process just uses 3.3 MB which seems to be less tan `0.1%` of the overall available memory. Maybe your node got under memory pressure. Our components still don't use the right QoS class and don't set a pod priority, so my guess would be that either k8s or the OOM ki

[2018-10-31 12:48] zvikorn commented on #1318
https://github.com/kubevirt/kubevirt/pull/1664

[2018-10-31 14:21] zvikorn commented on #1318
Hi @rmohr
I'm a bit confused while reading the code in cmd/registry-disk-v1alpha/entry_point.sh:
echo $IMAGE_NAME | grep -q -e "raw" -e "qcow2"
if [ $? -ne 0 ]; then
...
else
...
fi
What is the logic here?

if the image file suffix is either "raw" or "qcow2" we just copy the file to a new file ending with ".raw", and if not, we convert it to "raw" file? so does it mean that the original image can

[2018-11-01 10:55] fabiand commented on #782
/close

[2018-11-01 10:55] #782 closed

[2018-11-01 11:09] fabiand commented on #1631
The reason why I was considering delete is actually UX - "CLI UX".

As a user, using the CLI, I'd assume to be able to cancel a migration by
deleting the migration entity.
Editing the migration object to i.e. set `cancel: true` feels not intuitive
- to me at least.

The status could be kept as a condition on the VMI.

To cycle back: I agree that it should be UX driven, but to me UX is also a
CLI f

[2018-11-01 11:21] michalskrivanek commented on #1631
@fabiand
it needs to be available after completion, for that a garbage collect or explicit DELETE on finished object would be good -assuming that another migration would overwrite it we would always have at most one.
but if the cancellation is done using the same mechanism (DELETE) then we can have a case when you issue a cancel but the migration actually succeeds before it can be canceled, and yo

[2018-11-01 11:31] fabiand commented on #1631
Yes, I do understand.

The question is if enough informations could be retrieved from events and
logs.

But I also udnerstand that an object would be nicer for tracking.

[2018-11-01 11:59] michalskrivanek commented on #1631
well, migration is not anything you can lose track of. IIUC events are not really that reliable, for that a state (some sort of state) is better to have on the entity itself.

[2018-11-01 17:02] kbidarkar opened #1668 "Creating VM with custom PCI address for VirtIO disks fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Creating VM with custom PCI address for VirtIO disks fails.

VM creation fails with custom pciAddress for virtio disks, with the below message as seen from the "oc describe vmi <vm-name>"

[code]

Cannot provide/attach  domain xml file from virt-launcher as it does not exist.

**What you expected to happen**:
VM creation

[2018-11-01 19:45] lizsurette commented on #1631
+1. I believe the flow should be the same whether it's CLI or UI. I agree with others that it should be revolved around the VM from a user's perspective rather than the migration job. I think we want to take away the need of having to even know about the migration job from the user if we can. I would expect something like this:

1 - Identify a VM to migrate, specify which Node to migrate it to.
2

[2018-11-01 21:11] vladikr commented on #1668
This is a valid error from Libvirt.

On `q35` machine type, pci addresses for a virtio disks with a `bus` > 0 will be placed on a `pcie-root-port` controller, which has only one slot allowed.  Trying to set `0000:04:10.0` will result in an error...
On the other hand, setting an address with a `slot` > 0 on `bus` 0 should work: `0000:00:17.0`

I don't think we can replicate all of the libvirt's val

[2018-11-01 21:12] vladikr commented on #1668
/cc @fabiand

[2018-11-02 07:38] michalskrivanek commented on #1631
that is incorrect for oVirt at least, I do not know the details of Openstack.
You need to have an entity to query for the results, stats, progress.
Events are fine for reporting progress, you don't care much if you loose one if that's a periodic report. But the state (migration state) and result stats need to be available for queries later, both for succesful and failed cases

[2018-11-02 13:14] fabiand commented on #744
Well, I would like to see that kubectl is getting fixed.

So, this is a nice thing to see if it could be fixed in upstream - I had
opened that other issue which is referenced further above.

[2018-11-02 14:39] fabiand commented on #1668
A few things:

1. It is okay that libvirt prevents setting that specific address. The reason is given in the error message
2. KubeVirt is following libvirt's logic - this nothing we need to implement on our layers
3. We can improve the "lcarity" of the error message (i.e. we should drop ` server error. command Launcher.Sync failed:` which is not very useful to the user) - and limit it on the impor

[2018-11-02 14:41] fabiand commented on #1668
Thus to me the action item is to improve how we expose libvvirt error messages.

[2018-11-02 14:54] fabiand commented on #1609
@nertpinx could libvirt actually provide some mechanism to detect hung migrations more easily?

OpenStack, oVirt and now KubeVirt is inventing stuff to detect if a migration is still going.

[2018-11-04 09:08] qinqon commented on #1063
Trying to help here, I think I will have PR soon at least for subresource.

[2018-11-04 13:15] itamarh commented on #1662
but why would it get to 1.7GB virtual memory?

[2018-11-04 14:35] cynepco3hahue commented on #1063
@qinqon Great to hear it, you can comment with `/remove-lifecycle stale` if you want to work on it and also you can run `/assign @qinqon`.

[2018-11-04 20:08] qinqon commented on #1063
/remove-lifecycle stale

[2018-11-04 20:09] qinqon commented on #1063
/assign @qinqon

[2018-11-05 08:30] rmohr commented on #1318
@zvikorn almost. If it ends with `.raw` or `.qcow2`, it is just copied and the suffix of the file will be kept as is.  Otherwise we attempt to convert it to `.raw`.

Yes you are right. I was wrong, we just take it as is. So in order do fix the security issues here, I would suggest the following:

 * let's validate that the image is not malicious by calling `qemu-img info` (what you started to do i

[2018-11-05 08:34] rmohr commented on #1318
Independent of sanity checking, we also have #1565, which tries to eliminate the need the copy step too (where we want to get finally).

[2018-11-05 08:53] cynepco3hahue commented on #1063
/assign @qinqon

[2018-11-05 08:57] fabiand commented on #1063
Adding you as a member, @qinqon

[2018-11-05 11:37] fabiand commented on #1662
Yes, it was top. And I think my snippet does not provide enough informations.

I was running a large launcher which might have brought the node under memory pressure. Which is odd, because there was still free RAM. And at some point the handler got killed.
And I agree - I even know as I saw it - that the pod was evicted. I think even without the details here, we know we should and the QoS class an

[2018-11-05 11:42] qinqon commented on #1063
@fabiand thanks, will try to do my best here!

/assign @qinqon

[2018-11-05 13:19] fabiand commented on #1327
Everything except for numa has been merged. Thus resolving this issue as DONE.

NUMA will be tracked separately.

[2018-11-05 13:19] #1327 closed

[2018-11-05 14:30] vladikr commented on #1668
The error message is important too, but the most pressing issue is to remove the slots validation from pci addresses at all. Without removing it, users won't be able to set addresses in a form of `0000:XX:00.0` on `q35`

[2018-11-05 16:10] nertpinx commented on #1609
@fabiand Define hung migrations. From my point of view this is very difficult to grasp. Isn't keepalive enough?

[2018-11-05 16:22] michalskrivanek commented on #1609
there's not really any good solution other than keep watching the progress and implement a behavior(or set of behaviors). oVirt has couple of "policies" and watch watermark and iterations and tweak settings(we settled for downtime after all) to converge.

[2018-11-06 07:21] nertpinx commented on #1609
@fromanirh had some of that implemented in https://github.com/fromanirh/vmmi if that's what you're looking for.

[2018-11-06 07:46] rmohr commented on #1662
My guess would be that it got evicted because of disk pressure #1663 and not memory pressure. Virtual memory is not considered when evicting pods because of memory pressure.

[2018-11-06 07:50] fromanirh commented on #1609
@nertpinx yeah. The main metric we use for precopy is the migration iteration. We compute it manually considering the amount of (total) data migrated, IIRC libvirt should provide the counter explicitely somehow. The project you mentioned is indeed a repack + rewrite of what we have in Vdsm.

[2018-11-06 07:51] rmohr commented on #1662
Golang does its own memory management and it works different than for usual c applications. It works a lot with thread-local storage and asks for huge memory blocks. `etcd` for instance has in our CI clusters a virtual memory size of more than 10GB. The virtual memory size of `virt-handler` is comparable with the virtual memory size of  the `kubelet`.

For as long as we don't see permanent growth

[2018-11-06 09:11] michalskrivanek commented on #1662
yep, python's 30G+ virtual size on larger machines is also infamous.
3.3MB RSS looks fine.
Close?

[2018-11-06 11:16] nertpinx commented on #1551
Did any sleep help? I mean in case it's a race condition, then there might be something like "sleep 1; libvirtd" that would show the problem, although it's very unlikely the case. Since there is no reproducer there's not much more we can find out about it. Any other info from the VM?

[2018-11-06 12:32] rmohr commented on #1318
I think that you will have to limit the whole container. We already do that, if dedicated cpus are used: https://github.com/kubevirt/kubevirt/blob/master/pkg/registry-disk/registry-disk.go#L115. We just have to limit it always.

There is however a follow-up problem. The registryDisk container right now continues running, even after  it copied the file successfully. I think that we will have to do

[2018-11-06 12:37] MarSik commented on #1023
@davidvossel I am just curious, why would you require nested virt? No commercial distro actually supports that and it is known to have bugs and limitations on other than intel platforms.

[2018-11-06 13:01] fabiand commented on #1023
Nested could be a recommendation if we detect to run on a hypervisor.

[2018-11-06 13:59] fabiand commented on #1663
@ILpinto can you reproduce this issue?

[2018-11-06 15:33] fabiand commented on #1662
Yes, I tend to agree that it's rather #1663
<https://github.com/kubevirt/kubevirt/issues/1663>which I was seeing.

[2018-11-06 16:20] zvikorn commented on #1318
On Tue, Nov 6, 2018 at 2:32 PM Roman Mohr <notifications@github.com> wrote:

Is this done by removing 'if vmi.IsCPUDedicated() {'  ?

[2018-11-06 17:05] MarSik commented on #1023
@fabiand That sentence of yours does not make any sense.. you do not need nested for bare metal hypervisor and you already know you have nested when you find yourself in a VM with virtualization enabled. I really seem to be missing something here.

Nested is useful for CI, development and all that.. but production servers can crash when something goes wrong inside a nested VM. That is why nobody o

[2018-11-07 08:29] #1668 closed

[2018-11-07 11:45] fabiand commented on #1663
To reproduce this:

You will need this kind of disk config:
https://github.com/fabiand/cluster-templates/blob/master/kubeadm.yaml#L115-L119

Then you need to do some IO on the disk (i.e. do a large yum update, or install (2GB+) or do random writes/deletes on that disk for some time) - maybe safest is to just dd if=/dev/urnadom of=very-large-file inside the guest to consume many blocks.

[2018-11-07 13:12] ksimon1 opened #1677 "Wrong node memory size, when windows TARGET env variable is set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

when user starts kubevirt cluster with command
`make cluster-up`
and sets env variable:
`export TARGET="windows2016"`
it creates node with only 4GB memory. But according to this [code](https://github.com/kubevirt/kubevirt/blob/master/cluster/ephemeral-provider-common.sh#L34), it should creates node with 8GB of memory.

[2018-11-07 15:39] vladikr commented on #1661
What are your expectations here @fabiand ?
Currently, by setting the `useEmulation` flag in the config map users can avoid using the vhost driver. (as @rmohr  mentioned above)
From my point of view, it should be sufficient.

[2018-11-07 15:44] fabiand commented on #1661
Hm.

Fair enough.

The issue is that minikube supports nesting, but has no vhost-net support.
Thus here we'd be bound to use emulation even if nesting is available.
The escape hatch is to always use something else than vhost-net.

Good enough for the moment I guess. Thus closing ti.

/close

[2018-11-07 15:44] #1661 closed

[2018-11-07 15:47] mhenriks opened #1679 "virtctl image-upload functional test failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Occasionally the functional tests for "virtctl image-upload" fails for one of the following reasons:

1.  The most frequent issue is that virtctl times out waiting for the upload pod to be "Running." Seems to be a deadlock in the the local volume provisioner. Basically, the PVC is waiting for a consumer and the pod is wa

[2018-11-08 09:54] rmohr commented on #1677
@ksimon1 looks like here: https://github.com/kubevirt/kubevirt/blob/master/cluster/ephemeral-provider-common.sh#L32 we set --memory two times instead of replacing it.

[2018-11-09 11:04] fabiand commented on #1044
Do we want to target this for the close future? Aka next release?

[2018-11-09 11:11] rmohr commented on #1044
Would be fine for me.

[2018-11-09 13:44] rmohr commented on #1318
Pretty much. Yes.

[2018-11-09 16:08] markllama commented on #1316
I'm apparently confused.  When I try to use the workaround in https://github.com/kubevirt/kubevirt/issues/1316#issuecomment-419071435 , after I do the 'cluster down' there are no docker contaiers running so the search for the KUBELET_ROOTFS fails.

[2018-11-09 16:10] fabiand commented on #1316
before diving int debugging.

The latest poenshift (3.11) and minishift, as well as minikube don't
require any workaround anymore. Thus I'd suggest to update to the latest
version of the platform you are using.

What are you using?

[2018-11-09 16:10] fabiand commented on #1316
Fixed as of
origin 3.11 (oc)
minishift 1.26.1
minikube 0.30.0

[2018-11-09 16:29] markllama commented on #1316
Im following the kubevirt.io demo for using minishift. http://kubevirt.io/get_kubevirt/.

Host is F29 desktop stock.  I've tried VERSION=0.8.0 per the demo, as well as v0.95.0 and v0.10.0

[2018-11-09 21:29] markllama commented on #1316
Yeah this stil manifiest with the versions you cite as fixed.

[2018-11-09 21:49] fabiand commented on #1316
Mark, just making sure - With the new versions it is fixed for you?

I've filed https://github.com/kubevirt/kubevirt.github.io/issues/160 to update the getting started guide.

[2018-11-10 20:02] simonswine opened #1684 "virtctl and websockets on GKE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

(Not really 100% a virtctl / kube-virt bug though)

**What happened**:

I am rolling my own ubuntu nodes for a GKE cluster with nested virtualization enabled. Everything seems to work fine, VMs start and are accessible as expected.

The only problem that occurs is that I can't use `virtctl vnc/console` as it is timing out:

[code]

All othe

[2018-11-11 13:12] qinqon commented on #1063
Added some subresource coverage, websockets and SPDY stuff:
https://github.com/qinqon/kubevirt/commit/dd7c82e9c29e49c0c4f76bf66e5c84449825d6d9

Now virt-api/rest has a coverage of 54.6%

It's good enough to create a PR with just that or better to add more coverage elsewhere ?

[2018-11-11 18:44] cynepco3hahue commented on #1063
@qinqon cool, I think it is enough for the first PR.

[2018-11-12 08:40] slintes commented on #1684
Hey Christian,

interesting find. I will see if i can find out more about it, and possible workarounds. Thanks for reporting!

Marc

[2018-11-12 08:58] fabiand commented on #1601
I'd vote to just solve this in upstream for kubectl.

[2018-11-12 08:59] fabiand opened #1686 "Set default label on VirtualMachine"
/kind enhancement

**What happened**:
Trying to expose a VM using a service using `kubectl`
Currently it is not possible to use the service creation feature of `kubectl` with VMs, as we do not set the default labels `kubectl` is using (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/generate/versioned/service_basic.go#L238-L242).

**What you expected to happen**:
To be able to use

[2018-11-12 15:31] fabiand opened #1689 ""ImageUpload Upload an image and start a VMI Should succeed" fails often"
/kind bug

**What happened**:
CI fails:

[code]

https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/test_results_analyzer/

**What you expected to happen**:
CI completes.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
-

[2018-11-12 15:33] fabiand opened #1690 ""VirtualMachineInstance definition with 3 CPU cores should map cores to virtio net queues" fails"
/kind bug

**What happened**:
CI fails on:
[code]

https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/test_results_analyzer/

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI sp

[2018-11-12 17:30] markllama commented on #1316
@fabiand as of Fri afternoon last, no, it was not fixed, giving the same behavior.  I can re-run it this afternoon to check again.  Are there any specific outputs you need to confirm the versions? If I don't hear I'll put together what seems best and post it before COB today.

[2018-11-12 18:00] karmab commented on #1316
@markllama note that if using minishift, you need to pass flag --openshift-version to force version to 3.11.0, default is 3.10

[2018-11-12 20:05] markllama commented on #1316
@karmab: that's not what I'm seeing.  I'll try again.  This is the minishift startup?

[2018-11-12 20:15] karmab commented on #1316
disregard my last comment, minishift 1.26 version enabled 3.11 as default version for openshift

[2018-11-12 20:19] markllama commented on #1316
Yep.  And it still demonstrates the problem.

[2018-11-12 22:36] mhenriks commented on #1689
@fabiand @rmohr looks like we've got a lot of dups on this, see also #1659 and #1679.

[2018-11-12 23:59] mhenriks commented on #1689
making progress on this in #1682

[2018-11-13 07:18] karmab commented on #1316
troubleshooted this with mark and the issue was that minishift lacks nested virt so using emulation mode is necessary on this platform (and our http://kubevirt.io/get_kubevirt/ page needs to be updated to reflect it)

[2018-11-13 10:02] fabiand commented on #1316
@karmab awesome, thanks for helping mark.

Karim, can you get hold of https://github.com/kubevirt/kubevirt.github.io/issues/160 ?

[2018-11-13 13:37] fabiand commented on #1686
The labels are applied by "tooling" thus kubectl is doing it itself, it's not by infrastructure. it's a convention, not enforced.

because in kubectl the generators are setting it, for us the generator are templates, thus the templates should be setting it.

Infrastructure has no requirement to add these labels, but it's the tooling and tooling integration.

[2018-11-13 14:02] rmohr commented on #1686
@fabiand the code you point to adds a label to the service. Is that what you meant? From your description it looks like you want to have some "default" labels on the VMI/Pod?

[2018-11-13 14:15] vladikr commented on #1690
I'll take a look

[2018-11-13 14:15] fabiand commented on #1686
Yes, kubectl is setting a `select` on the service it creates.

… we should set the correct label on our VM pods in order to let these services (above) be selecting our (vm) pods.

[2018-11-13 14:22] rmohr commented on #1686
@fabiand What I want to get at is that I am not aware of any "default" labels which would be added to a pod. If there are no labels on creation time on the pod, then you can't use `kubectl expose` either.

If I deploy this yaml:
[code]

I get that response:

[code]

So kubectl does nothing. If you add labels to `spec.template.metadata.labels` on e.g. a `Deployment`, or on a `VirtualMachine` they w

[2018-11-13 14:24] cynepco3hahue commented on #1690
I believe this PR https://github.com/kubevirt/kubevirt/pull/1688 will fix the problem :smile:

[2018-11-13 14:46] rmohr opened #1696 "virt-launcher somtimes panics with prestart hook sidecar in tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

virt-launcher container somtimes crashes when a preStart hook should be executed:

[code]

**What you expected to happen**:

That virt-launcher does not start or even fail if a preStart hook which should be executed does not work is fine. But at least in this test this is for sure not wanted. It happens too often to be c

[2018-11-13 15:01] fabiand commented on #1686
Maybe I should have highlited earlier:

[code]

Thus, in this convenient flow, kubectl standardizes on the `app` label in order to let mix and match different commands from the "create" family.
By following the same convention, we can benefit from this.

I'm speaking about `kubectl create service …`

[2018-11-13 15:05] rmohr commented on #1686
ok that is something different.

[2018-11-13 17:01] #1690 closed

[2018-11-13 19:43] slintes commented on #1684
I can reproduce the issue, and agree that this probably a GKE issue about websockets. Will see if I can find out more.
But there is a workaround (hacky but works): our api server connects to the virt-launcher pod of the virtual machine with the exec command, calling a script named `sock-connector`, which connects stdin/stdout to sockets, which are then connected to the virtual machine's console /

[2018-11-13 20:50] fabiand opened #1699 ""Migrations Starting a VirtualMachineInstance with an Alpine read only disk should be successfully migrated multiple times" fails"
/kind bug

**What happened**:
CI fails

**What you expected to happen**:
CI passes

**How to reproduce it (as minimally and precisely as possible)**:
See http://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2494/testReport/(root)/Tests
and https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/test_results_analyzer/

**Anything else we need to know?**:

**Environment**:
- Ku

[2018-11-13 20:51] fabiand opened #1700 "" Templates Creating VM from Template with RHEL Template when the VirtualMachine was created should succeed to start the VirtualMachine via oc command" fails"
/kind bug

**What happened**:
CI fails

**What you expected to happen**:
CI passes

**How to reproduce it (as minimally and precisely as possible)**:
http://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2494/testReport/(root)/Tests
and https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/test_results_analyzer/

**Anything else we need to know?**:

**Environment**:
- KubeVi

[2018-11-13 20:52] fabiand opened #1701 ""DataVolume Integration Starting a VirtualMachineInstance with a DataVolume as a volume source using Alpine import should be successfully started and stopped multiple times" fails"
/kind bug

**What happened**:
CI fails

**What you expected to happen**:
CI passes

**How to reproduce it (as minimally and precisely as possible)**:
http://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2494/testReport/
and https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/test_results_analyzer/

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (

[2018-11-13 22:39] fabiand opened #1702 ""Configurations VirtualMachineInstance definition with guestAgent should have attached an guest agent channel by default" is N/A"
/kind bug

**What happened**:
Tets is skipped?

**What you expected to happen**:
Test is not skipped.

**How to reproduce it (as minimally and precisely as possible)**:
Expand the table here https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/test_results_analyzer/
and look for the testcase.

**Anything else we need to know?**:
Not sure if it's a bug that there is N/A. Is it?

[2018-11-14 10:05] fabiand commented on #1684
@lavalamp @cheftako I heared that you might have an idea who could help us here?

[2018-11-14 10:47] slintes commented on #1201
/remove-lifecycle rotten

[2018-11-14 11:04] #1677 closed

[2018-11-14 11:05] fabiand commented on #173
If we can detect it then it makes sense.

[2018-11-14 12:06] simonswine commented on #1684
Hey @slintes,

thanks for your help explaining the manual connection process, this works for me :slightly_smiling_face:

I am not too sure if it's worth implementing that as fallback for/in virtctl. Might be able to do that myself.

On another note I thought I compare the headers of `kubectl exec` with virtctl's. My feeling is we are using some completely different websockets library for virtctl,

[2018-11-14 13:44] fabiand opened #1703 ""VMIlifecycle Creating a VirtualMachineInstance VM Accelerated Mode should not enable emulation in virt-launcher" failed 61 times"
/kind bug

What happened:
This test failed 61 times in the most recent 42 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2478/testReport/
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-che

[2018-11-14 13:52] fabiand opened #1704 "filed? False"
---
/title "VMIlifecycle Creating a VirtualMachineInstance VM Accelerated Mode should not enable emulation in virt-launcher" failed 62 times

/kind bug

What happened:
This test failed 62 times in the most recent 42 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- htt

[2018-11-14 13:52] #1704 closed

[2018-11-14 13:52] fabiand opened #1705 "/title "VMIlifecycle Creating a VirtualMachineInstance VM Accelerated Mode should not enable emulation in virt-launcher" failed 62 times"
/kind bug

What happened:
This test failed 62 times in the most recent 42 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2476/testReport/
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-che

[2018-11-14 13:52] #1705 closed

[2018-11-14 13:59] fabiand opened #1706 ""VMIlifecycle Creating a VirtualMachineInstance VM Accelerated Mode should not enable emulation in virt-launcher" failed 64 times"
/kind bug

What happened:
This test failed 64 times in the most recent 42 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2474/testReport/
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-che

[2018-11-14 13:59] #1706 closed

[2018-11-14 14:13] fabiand commented on #1703
@rmohr any idea?

Pinging you as this seems to have a high impact.

[2018-11-14 14:13] cynepco3hahue commented on #1703
@fabiand I think the main problem, that we only check for pod creation under the test and we do not wait for the pod running state.

[2018-11-14 14:13] cynepco3hahue commented on #1703
I will take this issue.

[2018-11-14 14:55] fabiand opened #1708 ""VMIlifecycle Creating a VirtualMachineInstance VM Accelerated Mode should request a KVM and TUN device" failed 28 times"
"VMIlifecycle Creating a VirtualMachineInstance VM Accelerated Mode should request a KVM and TUN device" failed 28 times

/kind bug

What happened:
This test failed 28 times in the most recent 21 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.o

[2018-11-14 14:58] #1708 closed

[2018-11-14 14:59] fabiand opened #1709 ""VMIlifecycle Creating a VirtualMachineInstance VM Accelerated Mode should request a KVM and TUN device" failed 28 times"
/kind bug

What happened:
This test failed 28 times in the most recent 21 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2496/testReport/
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-che

[2018-11-14 15:07] phoracek commented on #1696
@rmohr will do

[2018-11-14 20:18] fabiand commented on #1330
We plan to clean up the API for KubeVirt v1.

Please think about which things you want to eventually remove from the api
to not slip into v1.

[2018-11-15 08:12] petrkotas commented on #1702
I went through the logs, so I will summarize my findings.

1) Skipped guest agent test is not bug. The skipped tests are for windows, which is fine, since currently there is no way of testing the guest agent on windows.
2) The N/A is indeed a bug, but not in the testing code. The N/A test an old version I had in development phase, it never made to the master.

Started investigation about the 2).

[2018-11-15 09:00] fabiand commented on #1702
The automation which identified this bug does ignore skipped tests.
However, it does not differentiate between merged and unmerged PRs.

Instead it looks for the most often appearing failing cases.

WRT 2 - It can well be that the bug in the development code lead to the
many falures.
I'd recommend to look at the most recently merged PR to see if the bug
still exists.

[2018-11-15 10:03] petrkotas commented on #1702
There is no bug in the development code. It was just change in the label of the test. What I believe is happening, is that tests try to run nonexistent test and thus result in N/A.
From the code perspective, the failing test is not present.

[2018-11-15 11:14] fabiand commented on #1700
@gszasz thoughts?

[2018-11-15 11:19] fabiand commented on #1702
True! The test case is not there anymore.

And the jobs I checked there the new *attached a guest* was not failing.

Closing this one.

Thanks for checking.

[2018-11-15 11:19] #1702 closed

[2018-11-15 11:19] fabiand commented on #1701
@aglitke any idea?

[2018-11-15 11:40] #1703 closed

[2018-11-15 12:19] rmohr commented on #1709
Duplicate of #1708

[2018-11-15 12:19] #1709 closed

[2018-11-15 12:38] fabiand commented on #1686
And sorry - I should have filed this on the template repository.

[2018-11-15 12:40] fabiand commented on #749
@stu-gott what's the status here.

Are the presets required to be orthorgonal today?

AKA Do they allow conflicts?

[2018-11-15 13:37] fabiand commented on #989
virtio-net is supported.

Now, I wonder what needs to be done to support virtio-blk

@aglitke thoughts?

/remove-lifecycle rotten

On Fri, Nov 2, 2018 at 8:41 PM kubevirt-bot <notifications@github.com>
wrote:

[2018-11-15 15:06] #812 closed

[2018-11-15 15:13] slintes opened #1713 "virtctl vnc on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
After merging https://github.com/kubevirt/kubevirt/pull/1673, `virtctl vnc` won't even try anymore to open `remote-viewer` on Windows. According to https://github.com/kubevirt/kubevirt/pull/1694, there is a viewer on Windows which works.

**What you expected to happen**:
The Windows vnc viewer mentioned in the PR a

[2018-11-15 16:48] mlsorensen commented on #1713
It should be straight forward to add a "windows" case, we just need someone who can put it in and try it.

If the goal is just to execute something called "remote-viewer" on windows you can try something like:

[code]

If it's "virt-viewer" or some other name, copy the "linux" case to a new "windows" one, add a new constant, and adjust.

[2018-11-16 03:58] rwsu opened #1714 "Unable to create vm because validation returns connection refused"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Creating a VM using the demo manifest fails because validation returns connection refused.
[code]
We captured this error in our push button tests. We first create a kubernetes cluster and then install kubevirt. Before creating the vm, the virt-handler, virt-api, and virt-controller pods were verified to be running, and th

[2018-11-16 04:50] gageorsburn opened #1715 "Interface TX off"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
While booting a cumulus linux VM, dhcp offers were rejected due to checksum failures. Seems pretty similar to https://github.com/projectcalico/felix/issues/40. TX should be turned off on the dhcp interfaces since it shouldn't be needed with virtual interfaces anyway. DHCP worked successfully after ethtool was put inside th

[2018-11-16 04:51] gageorsburn commented on #1715
@booxter @yuvalif Thoughts on this?

[2018-11-18 08:11] cynepco3hahue commented on #937
This problem solved. We still have some issues with libvirt connection, but it does not relate to this issue.

[2018-11-18 08:11] #937 closed

[2018-11-18 08:21] cynepco3hahue commented on #1448
I think the issue is still relevant.
/remove-lifecycle stale

[2018-11-19 08:49] fabiand commented on #1063
Sound cool!

[2018-11-19 09:42] #1073 closed

[2018-11-19 10:42] #1052 closed

[2018-11-19 11:42] #861 closed

[2018-11-19 12:50] fabiand opened #1722 ""Expose Expose service on a VMI replica set Expose ClusterIP service Should create a ClusterIP service on VMRS and connect to it" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2426/testReport/

Anything else we need to know?:
This was automatically filed, b

[2018-11-19 13:00] fabiand opened #1723 ""Configurations VirtualMachineInstance with CPU pinning with cpu pinning enabled should configure correct number of vcpus with requests.cpus" failed 1 times"
"Configurations VirtualMachineInstance with CPU pinning with cpu pinning enabled should configure correct number of vcpus with requests.cpus" failed 1 times

/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the fail

[2018-11-19 14:22] aglitke commented on #1701
Not really.  The provided link is already broken.  Can you attach a bit more pinpointed information directly to the issue?

[2018-11-19 14:29] fabiand commented on #1701
The link was broken, fixed: https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2494/testReport/

[2018-11-19 14:46] cynepco3hahue commented on #1723
I think it fixed by #1717

[2018-11-19 20:50] gites commented on #1646
@rmohr  Sorry for answering so late. I was on holidays.
First of you need to detect what flavor of Linux user is running (not every distro supports every work-config format/version) and that can be a nightmare ;)
Second, you would force a user to have a predefined network configuration recreated on every boot. That can be bad from elasticity point of view and force users to create some kind of "ha

[2018-11-20 10:30] rmohr commented on #1348
@vladikr @slintes any idea why this is still open? Are we missing something?

[2018-11-20 10:34] rmohr commented on #1502
#1724 should be the first step to help detecting such situations.

[2018-11-20 11:04] slintes commented on #1348
@rmohr  I understand that the referenced PR is not about this issue, but about a related one, and this is a unresolved follow up? Fabian asked me to have a look a while ago, but tbh I just forgot about it while being busy with other tasks.

[2018-11-22 10:07] fabiand opened #1735 ""Failed to parse error result of job #2139" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2139/testReport/

Anything else we need to know?:
This was automatically filed, b

[2018-11-22 10:07] fabiand opened #1736 ""DataVolume Integration Starting a VirtualMachine with a DataVolume using Alpine import should remove owner references on DataVolume if VM is orphan deleted." failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2546/testReport/

Anything else we need to know?:
This was automatically filed, b

[2018-11-22 10:07] fabiand opened #1737 ""Failed to parse error result of job #755" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/755/testReport/

Anything else we need to know?:
This was automatically filed, be

[2018-11-22 10:07] fabiand opened #1738 ""Failed to parse error result of job #510" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/510/testReport/

Anything else we need to know?:
This was automatically filed, be

[2018-11-22 10:10] #1737 closed

[2018-11-22 10:10] #1735 closed

[2018-11-22 10:11] #1738 closed

[2018-11-22 10:12] fabiand opened #1739 ""DataVolume Integration Starting a VirtualMachine with a DataVolume using Alpine import should be successfully started and stopped multiple times" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2524/testReport/

Anything else we need to know?:
This was automatically filed, b

[2018-11-22 10:12] fabiand opened #1740 ""Expose Expose UDP service on a VMI Expose NodePort UDP service Should expose a NodePort service on a VMI and connect to it" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2524/testReport/

Anything else we need to know?:
This was automatically filed, b

[2018-11-22 10:25] fabiand opened #1741 ""Configurations New VirtualMachineInstance with all supported drives should have all the device nodes" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2524/testReport/

Anything else we need to know?:
This was automatically filed, b

[2018-11-22 10:33] fabiand commented on #1741
@fromanirh can you take a look at this? `git blame` named you to have been looking at this line in the past

[2018-11-22 10:36] fabiand commented on #1699
@vladikr fyi ..

[2018-11-22 10:51] fromanirh commented on #1741
@fabiand sure! At first glance it seems a timeout, we didn't get far enough to actually verify the device nodes. I've visited https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2524/testReport/ but I can't find more detailed logs, where I can get them?

[2018-11-22 11:36] fabiand-bot opened #1742 ""HookSidecars VMI definition with SM BIOS hook sidecar should update domain XML with SM BIOS properties" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2524/testReport/

Anything else we need to know?:
This was automatically filed, b

[2018-11-22 11:40] fabiand commented on #1741
Right. Thanks for checking so quickly.

The whole output is available here:
https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2524/consoleText

If there is also not enough in there, then you might need to add some more output.

[2018-11-22 13:19] fromanirh commented on #1741
@fabiand this helps, thanks. This line looks suspicious:

check-patch.openshift-3.11-crio-release.el7.x86_64] {"component":"tests","kind":"VirtualMachineInstance","level":"info","msg":"Login: [{2  []}]","name":"testvmiks575z7t9dckks27lxrsqszhnx762zvkp9zd4r6rgwmn2z4q","namespace":"kubevirt-test-default","pos":"utils.go:1707","timestamp":"2018-11-15T18:24:48.398542Z","uid":"409d7e51-e903-11e8-995e-5

[2018-11-22 13:58] fabiand commented on #1741
I suspect you speak about #1689 ... We try to get hold of the flaky tests.

[2018-11-22 16:29] gszasz commented on #1700
[code]

It seems that the PV with an RHEL image is either not created, or does not have proper label. I've checked contents of the `automation/test.sh` where PV is being created, as well as the code in `tests/utils.go` that creates complementary PVC. Everything seems to be okay.

[2018-11-22 16:34] fabiand commented on #1700
Thus what is the root cause for this problem?

[2018-11-23 10:57] fabiand commented on #1722
Side note: This was a timeout, maybe this was related to high infrastructure load.

[2018-11-23 10:57] fabiand commented on #1736
Side note: This was a timeout, maybe this was related to high infrastructure load.

[2018-11-23 10:57] fabiand commented on #1739
Side note: This was a timeout, maybe this was related to high infrastructure load.

[2018-11-23 10:57] fabiand commented on #1740
Side note: This was a timeout, maybe this was related to high infrastructure load.

[2018-11-23 10:57] fabiand commented on #1741
Side note: This was a timeout, maybe this was related to high infrastructure load.

[2018-11-23 10:57] fabiand commented on #1742
Side note: This was a timeout, maybe this was related to high infrastructure load.

[2018-11-23 11:47] #1662 closed

[2018-11-23 12:54] karmab opened #1747 "cross namespace cloning doesnt work for datavolumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
create a vm with datavolume template trying to clone a pvc from another namespace

**What you expected to happen**:
vm started with a new pvc created as a clone of the one specified in spec

**How to reproduce it (as minimally and precisely as possible)**:
create the following yaml
[code]

**Anything else we need to know?

[2018-11-23 13:37] fabiand commented on #1631
We discussed this a bit off-list.

Two key takeaways:
- Kubernetes _in general_ does not provide historic data
- The UI wants to show historic data
- DELETE is the 'natural' way to remove a desired state iow cancel a migration

The suggestion we have:
- Cancel a migration by DELETE the migration object.
- For successful migrations, all the details and events are still maintained for some time afte

[2018-11-23 21:14] fabiand-bot opened #1749 ""Config With a ServiceAccount defined Should be the fs layout the same for a pod and vmi" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2586/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-23 21:14] fabiand-bot opened #1750 ""Storage Starting a VirtualMachineInstance with Alpine PVC should be successfully started and stopped multiple times with CDRom PVC" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2586/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-23 21:14] fabiand-bot opened #1751 ""VMIlifecycle Creating a VirtualMachineInstance when virt-handler crashes should recover and continue management" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2598/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-23 21:14] fabiand-bot opened #1752 ""VMIlifecycle Creating a VirtualMachineInstance when virt-handler crashes should recover and continue management" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2598/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-24 21:15] fabiand-bot opened #1753 ""Expose Expose service on a VM Expose ClusterIP service Should expose a Cluster IP service on a VMI and connect to it" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2586/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-24 21:15] fabiand-bot opened #1754 ""Networking VirtualMachineInstance with custom PCI address should configure custom Pci address" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2598/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-24 21:15] fabiand-bot opened #1755 ""Storage Starting a VirtualMachineInstance with Alpine PVC should be successfully started with Disk PVC" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2586/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-25 17:15] rmohr commented on #1425
Fixed in #1743

[2018-11-25 17:15] #1425 closed

[2018-11-25 21:15] fabiand-bot opened #1756 ""Config With a Secret defined With a single volume Should be the fs layout the same for a pod and vmi" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2586/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-25 21:15] fabiand-bot opened #1757 ""VMIlifecycle Creating a VirtualMachineInstance with boot order should be able to boot from selected disk Alpine as first boot" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2600/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-25 21:15] fabiand-bot opened #1758 ""Configurations VirtualMachineInstance definition with guestAgent VMI condition should signal agent presence" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2586/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-25 21:15] fabiand-bot opened #1759 ""RegistryDisk Starting multiple VMIs with ephemeral registry disk should success" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2600/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-25 21:36] andrewwebber commented on #1316
I get this with v0.10.0 with kubeadm v1.12.2 on CoreOS

[2018-11-26 10:41] slintes commented on #1684
@rmohr, do you know why we use Gorilla for our websocket connections, and not what is available in client-go / apimachinery (what's used by kubectl exec)? Maybe that's worth a refactoring?

@simonswine thanks for the detailed analysis! (and sorry for the late response)

[2018-11-26 10:50] yanirq opened #1760 "Define supported CPU models and validate VM.spec.cpu.model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

Related to https://github.com/kubevirt/kubevirt/pull/1721#issuecomment-441564441

Now that we are introducing scheduling virtual machines on nodes according to CPU model (https://github.com/kubevirt/kubevirt/pull/1721) by matching the vmi.spec.cpu.model to supported cpu models on nodes (nodes are labelled by [NFD Libvirt](https://gi

[2018-11-26 10:54] yanirq commented on #1760
Adding @rmohr @fabiand  @MarSik  to the discussion :
- Is this a valid need ?
- If implemented, what is preferable : open API, validation web-hooks ?

[2018-11-26 11:03] MarSik commented on #1760
libvirt no loger defines names for all combinations of features ([1]). I think we want to define custom kubevirt CPU model + flags/features combinations, expose them using NFD and use them in virt-launcher.

There are couple of data fields we need:
- Human readable name for the "model"
- Base model + extra features (+ their mode) for libvirt domxml
- Base model + extra features for nodeSelector (c

[2018-11-26 11:08] MarSik commented on #1760
As to the validation question:

- libvirt model validation can't be done without libvirt which is only accessible from virt-launcher. But an admission controller could inherit from kubevirt/libvirt base container (without starting the daemon even) to get access to the data
- custom model validation in my proposed direction can be done from anywhere as CRDs and ConfigMaps are easily accessible

[2018-11-26 11:13] rmohr commented on #1684
@simonswine thanks for comparing the headers. What you see here is not related to the used websocket library. What you basically see is that `kubectl` uses SPY whereas virtctl uses websockets. Both are supported by k8s and there were at least plans to deprecate SPY. The calls look fine.

My suspicion is that the aggregarted-apiserver registration did not work. We only use the aggregated-apiserver

[2018-11-26 11:57] slintes commented on #1684
the apiserver registration worked, I verified it by `curl`ing the `test` subresource of a VMI

[2018-11-26 12:49] rmohr commented on #1684
Hm, the next step would be to look into the virt-api logs ...

[2018-11-26 12:56] simonswine commented on #1684
There is nothing in there, the websocket upgrade is not forwarded

[2018-11-26 14:08] petrkotas commented on #1308
The pull requests are now https://github.com/kubevirt/kubevirt/pull/1730 and https://github.com/kubevirt/user-guide/pull/155

[2018-11-27 04:47] kunalkushwaha commented on #1714
I am also facing this issue.

Is there a way to query what all webhooks are installed?

[2018-11-27 13:44] fabiand commented on #1760
+1

Each component should individually tell what CPU families it accepts or exposes. Individually.
Then we can have another mechanism which is syncing these two parts.

So, for KubeVirt, let's explicitly state what CPU families are supported, and validate that we only accept then.
It is then another problem to sync this between KubeVirt and NFD.

And this is actually true for CPU features as well:

[2018-11-27 14:17] vladikr commented on #1699
@fabiand @rmohr I think that our move to libvirt 4.9.0 is what triggered this issue.
This change: https://github.com/kubevirt/kubevirt/pull/1743

Libvirt is constantly failing on the destination pod with:
`End of file while reading data: Input/output error","pos":"virNetSocketReadWire:1805`

[2018-11-27 14:29] rmohr commented on #1699
@vladikr It is unrelated to that change. We see this test failing for weeks already. The most frequent failing test actually.

[2018-11-27 15:16] rmohr commented on #1752
Fixed in #1748

[2018-11-27 15:16] #1752 closed

[2018-11-27 15:16] rmohr commented on #1751
Fixed in #1748

[2018-11-27 15:16] #1751 closed

[2018-11-27 15:17] rmohr commented on #1747
I think that this would be a new cdi feature, or should that work? @aglitke?

[2018-11-27 15:45] #1679 closed

[2018-11-27 15:51] vladikr commented on #1699
@rmohr You're right, that's not it.  But its something that started to happen around that time and breaks live migration.

[2018-11-27 15:52] #1509 closed

[2018-11-27 16:07] gageorsburn commented on #1579
This was merged into master.

[2018-11-27 16:07] #1579 closed

[2018-11-27 16:11] cynepco3hahue commented on #1699
It not the only error that I can see
[code]
looks like we have some problem in the migration proxy.

[2018-11-27 16:22] vladikr commented on #1699
@cynepco3hahue Yea.. I think that we see that because of the destination pod exits, for some reason, and then the proxy loses the connection too.
But I'm not sure...

[2018-11-27 21:16] fabiand-bot opened #1762 ""HookSidecars VMI definition with SM BIOS hook sidecar should successfully start with hook sidecar annotation" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2634/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-27 21:16] fabiand-bot opened #1763 ""Infrastructure Start a VirtualMachineInstance when the controller pod is not running and an election happens should succeed afterwards" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2620/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-27 21:16] fabiand-bot opened #1764 ""Console A new VirtualMachineInstance with a serial console should close console connection when new console connection is opened" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2620/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-27 21:16] fabiand-bot opened #1765 ""Infrastructure Start a VirtualMachineInstance when the controller pod is not running and an election happens should succeed afterwards" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2618/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-27 23:33] booxter commented on #1715
@gageorsburn seems like the right approach. We could also forcefully fill checksums in iptables rules but that seems excessive and not useful for virtual pod interfaces.

[2018-11-28 09:07] fabiand opened #1768 "Several timeouts in CI"
/bug

It seems that a lot of timeouts happen in our CI atm.
This is a tracker to track recent failures caused by timeouts.

[2018-11-28 09:07] fabiand commented on #1722
Closing as a dupe of #1768

[2018-11-28 09:07] #1722 closed

[2018-11-28 09:07] fabiand commented on #1736
Closing as a dupe of #1768

[2018-11-28 09:07] #1736 closed

[2018-11-28 09:07] fabiand commented on #1739
Closing as a dupe of #1768

[2018-11-28 09:07] #1739 closed

[2018-11-28 09:07] fabiand commented on #1740
Closing as a dupe of #1768

[2018-11-28 09:07] #1740 closed

[2018-11-28 09:08] fabiand commented on #1741
Closing as a dupe of #1768

[2018-11-28 09:08] #1741 closed

[2018-11-28 09:08] fabiand commented on #1742
Closing as a dupe of #1768

[2018-11-28 09:08] #1742 closed

[2018-11-28 09:08] fabiand commented on #1749
Closing as a dupe of #1768

[2018-11-28 09:08] #1749 closed

[2018-11-28 09:08] fabiand commented on #1750
Closing as a dupe of #1768

[2018-11-28 09:08] #1750 closed

[2018-11-28 09:09] fabiand commented on #1765
Closing as a dupe of #1768

[2018-11-28 09:09] #1765 closed

[2018-11-28 09:09] fabiand commented on #1764
Closing as a dupe of #1768

[2018-11-28 09:09] #1764 closed

[2018-11-28 09:09] fabiand commented on #1763
Closing as a dupe of #1768

[2018-11-28 09:09] #1763 closed

[2018-11-28 09:09] fabiand commented on #1762
Closing as a dupe of #1768

[2018-11-28 09:09] #1762 closed

[2018-11-28 09:09] fabiand commented on #1759
Closing as a dupe of #1768

[2018-11-28 09:09] #1759 closed

[2018-11-28 09:09] fabiand commented on #1758
Closing as a dupe of #1768

[2018-11-28 09:09] #1758 closed

[2018-11-28 09:09] fabiand commented on #1757
Closing as a dupe of #1768

[2018-11-28 09:09] #1757 closed

[2018-11-28 09:09] fabiand commented on #1756
Closing as a dupe of #1768

[2018-11-28 09:09] #1756 closed

[2018-11-28 09:09] fabiand commented on #1755
Closing as a dupe of #1768

[2018-11-28 09:09] #1755 closed

[2018-11-28 09:09] fabiand commented on #1754
Closing as a dupe of #1768

[2018-11-28 09:09] #1754 closed

[2018-11-28 09:09] fabiand commented on #1753
Closing as a dupe of #1768

[2018-11-28 09:09] #1753 closed

[2018-11-28 09:11] fabiand commented on #1701
Closing this for now, let's see if it comes up again.

[2018-11-28 09:11] #1701 closed

[2018-11-28 09:11] fabiand commented on #1700
ping?

[2018-11-28 09:13] fabiand commented on #1689
#1682 is fixing it - eventually.

[2018-11-28 09:13] #1689 closed

[2018-11-28 09:38] gszasz commented on #1700
@fabiand I need access to the CI environment to figure out why the PV is not available at the time of test execution. @gbenhaim could keep the environment running, and he can give me an access, but I do not see him online yet.

[2018-11-28 09:42] fabiand commented on #1700
Are you able to reproduce this issue locally

[2018-11-28 10:04] cynepco3hahue commented on #1699
@vladikr Can we try to increase `keepalive timeout` https://bugs.launchpad.net/ubuntu/+source/libvirt/+bug/1730051/comments/1 and to see if it will help?

[2018-11-28 12:37] fabiand commented on #1760
There are two sides: A producer/provider of CPUs and consumer, using CPUs.

The VM is the CPU consumer, as the VM is using the CPUs of a host.
The NFD is the CPU producer, as it's exposing what CPUs are offered on a given host.

For the consumer we should define which CPUs it can _in general_ consume from a host. (i.e.f or qemu x8664 we should list what CPUs are supported at all!). We can define t

[2018-11-28 13:03] SchSeba commented on #1715
Related https://github.com/weaveworks/weave/blob/master/net/veth.go#L53 and also https://github.com/gregoryolsen/lxc-devuan/issues/1

[2018-11-28 13:06] vladikr commented on #1699
@cynepco3hahue Thanks, cool. I can try that.

Adding a `VIR_MIGRATE_PERSIST_DEST` flag to the migration resolve the keepalive timeouts and enables querying the metadata.

With this, the VMI migrates successfully, however, the migrationStatus doesn't chance to `completed` for some reason.

[2018-11-28 13:44] MarSik commented on #1760
Do not forget what I raised above: The integrator might want to define **artificial names** that define a combination of the above. Scheduling is a separate affair (NFD, pod) from VM configuration (domxml).

And all sides could simply agree to load the list of supported combinations from the environment. The integrator is then responsible for taking both sides into account and only describing vali

[2018-11-28 14:18] fabiand commented on #1760
For the CPU features

I assume that we go with something like:

[code]

[2018-11-28 15:33] #1308 closed

[2018-11-28 17:51] vladikr commented on #1699
After the addition of `VIR_MIGRATE_PERSIST_DEST` flag, the migration completes.
However, the test still fails, because `vmi.Status.MigrationState.Completed` isn't being set to `true` [1]

I've added some debug messages and I see that it is being set on the source virt-handler[2]
`{"component":"virt-handler","level":"info","msg":"Domain status: Shutoff, reason: Migrated\n","pos":"vm.go:673","timest

[2018-11-28 18:35] fabiand commented on #1699
So the system fails to propagate this status (`completed: true`) to the
resource?

[2018-11-28 19:21] vladikr commented on #1699
@fabiand It seems that way. I've double check that the update doesn't return any errors and is being sent.

[2018-11-28 19:37] fabiand commented on #1699
Hm. Some way to check if the update lands and is eventually overwritten
again?

[2018-11-28 21:16] fabiand-bot opened #1774 ""AfterSuite" failed 4 times"
/kind bug

What happened:
This test failed 4 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2663/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-28 21:16] fabiand-bot opened #1775 ""AfterSuite" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2663/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-28 22:05] MarSik commented on #1760
Actually, I was thinking about something like (also an example):

[code]

VM.spec.cpu.model would then reference conroe-secure and virt-launcher would properly convert it to the right domxml and nodeSelectors.

[1] https://www.redhat.com/archives/libvir-list/2018-May/msg01562.html

[2018-11-29 00:58] booxter commented on #1715
FTR we also had this issue in OpenStack Neutron when DHCP agent was running on the same node as a VM.

[2018-11-29 03:42] vladikr commented on #1699
The main issue is, as described in [1], that querying domain metadata is not allowed for non-persistent domains.
Persisting the domain on the destination with `VIR_MIGRATE_PERSIST_DEST` flag fixes the metadata issue, but also persists the metadata of the source on the destination and the destination virt-handler overwrites the `Completed` status of the migration in [2] :)
There is a way to deal wi

[2018-11-29 03:46] imjoey opened #1776 "Unknown reference kind VirtualMachineInstance in kubernetes dashboard"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind tracker

**What happened**:

After deploying the kubevirt into kubernetes, open dashboard to see the details of the pod which resides a VMI, but encounter an 500 error message `Unknown reference kind VirtualMachineInstance`.

This issue to due to an upstream kubernetes dashboard bug: https://github.com/kubernetes/dashboard/issues/3251 . I think

[2018-11-29 07:18] d-kononov opened #1777 "Kubernetes in KubeVirt VMs"
Do you an example of how to launch k8s cluster in VM? Maybe you already have VM with the pre-installed k8s cluster, but I missed it.

I want to launch k8s in k8s with using kubevirt.

BTW you did a great job and awesome add-on!

[2018-11-29 07:58] gageorsburn commented on #1777
I was actually thinking about this today. Not sure if anyone has attempted yet, someone probably has, but I'll give this a shot.

[2018-11-29 09:22] cynepco3hahue commented on #1777
We have a bunch of images that includes VM disks with different pre-installed clusters, you can check https://github.com/kubevirt/kubevirtci

[2018-11-29 10:58] fabiand commented on #1777
On Thu, Nov 29, 2018 at 8:58 AM Gage Orsburn <notifications@github.com>
wrote:

So, I did this here:
https://github.com/fabiand/cluster-templates

If you got sufficient ram 12GB+ then you can easily bring up a 3node
cluster in ~5min
I didn't test it with 0.10, but back then it looked alright.
There are some updates I'd like to do to this repo, but it willt ake some
time until I get to it.

I know

[2018-11-29 11:02] fabiand commented on #1777
So, I did this here:
https://github.com/fabiand/cluster-templates

Trigger by

[code]

And details:

[code]

If you got sufficient ram 12GB+ then you can easily bring up a 3node
cluster in ~5min
I didn't test it with 0.10, but back then it looked alright.
There are some updates I'd like to do to this repo, but it willt ake some
time until I get to it.

I know that others are also working on stuff

[2018-11-29 13:32] gonzolino commented on #1777
We are also looking into this topic. At the moment we are installing the clusters with kubeadm on top of  KubeVirt VMs and we are orchestrating this with Ansible playbooks.
To manage Nodes in the cluster and to support services of type LoadBalancer we started developing a cloud-provider interface for Kubevirt to use with the [CCM](https://kubernetes.io/docs/concepts/architecture/cloud-controller/)

[2018-11-29 14:57] fabiand commented on #1553
Thanks for the insights, @mlsorensen

[2018-11-29 15:53] alvaroaleman opened #1780 "Virt-Handler frequently crashing with NPE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The virt-handler frequently crashes with a NPE for me:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):

[code]

- Kubernetes version (use `kubectl version`):

[co

[2018-11-29 16:02] bitbucket90 commented on #1316
I still see this issue on v0.10.0 ; 1.10.4 k8, ubuntu 16.04 (on gcp with HW virt). It was working; cleaned up cluster to redeploy and now its back to reporting 0's on both tun/kvm in kubectl get nodes -o yaml

[2018-11-29 19:43] rmohr commented on #1316
Seems like we need to reopen this. Could one of you share a corresponding virt-handler log from a node where it reports 0?

[2018-11-29 19:44] rmohr commented on #1316
@andrewwebber where are you deploying kubevirt? Is the CoreOS instance a VM or a bare-metal machine?

[2018-11-29 19:49] rmohr commented on #1780
Thant's not good. Thanks for reporting. I quickly checked the stack-trace.
It looks like a quick workaround might be to set `spec.terminationGracePeriodSeconds` on the VMI definition.

[2018-11-29 19:52] rmohr commented on #1780
/cc @mfranczy could you have a look?

It looks like https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-handler/vm.go#L158 assumes that there is always a grece period on the domain. But apparently there is only one if we set it on the VMI.

Seems like we set in all our tests different values for the `terminationGracePeriod` but never use the default (unset).

[2018-11-29 19:56] andrewwebber commented on #1316
@rmohr I initially tried this on a KVM hosted CoreOS VM installed via the [ISO (Matchbox)](https://coreos.com/os/docs/latest/booting-with-iso.html), not the [virtual machine image](https://coreos.com/os/docs/latest/booting-with-qemu.html).

[2018-11-29 20:04] karmab commented on #1316
maybe you re missing nested virt on this new deployment. gcp requires you to use a custom image and specific zones for nested virt. check with `grep vmx /proc/cpuinfo` that nested virt is indeed enabled or create a configmap enabling emulation as per the doc

[2018-11-29 20:05] karmab commented on #1316
i suggest the same, checking whether nested virt is enabled in the vm as per my previous comment

[2018-11-29 20:08] fabiand commented on #1777
Yeah, cluster api would be nice as well.

[2018-11-29 20:21] fabiand commented on #1316
I could also imagine that coreos is missing the relevant modules .. (kvm, vhost*)

[2018-11-29 20:34] gonzolino commented on #1777
Isn't there already a repository for a cluster-api implementation: https://github.com/kubevirt/cluster-api-provider-external ?

[2018-11-29 20:47] kfox1111 commented on #1777
hehe. awesome. thanks for the link. :)

[2018-11-29 21:17] fabiand-bot opened #1781 ""User Access With default kubevirt service accounts should verify permissions are correct for view, edit, and admin given a vmi" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2663/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-29 21:17] bitbucket90 commented on #1316
For me; it appears when kubelet is restarted, my kubelet sits in a container, however if kubelet isn't redeployed; no issues.

[2018-11-29 21:37] andrewwebber commented on #1316
I was already able to run openstack-helm on coreos so I didnt think there would be an initial concern.

[2018-11-30 09:09] mfranczy commented on #1780
sure I will take a look

[2018-11-30 13:42] #1050 closed

[2018-11-30 13:42] #505 closed

[2018-11-30 13:42] #696 closed

[2018-11-30 13:42] #543 closed

[2018-11-30 13:42] #913 closed

[2018-11-30 16:25] booxter opened #1784 "SR-IOV network attachment grants privileged=true mode to virt-launcher"
/kind bug

**What happened**: when a VMI is attached to a sriov multus network, its virt-launcher is started with privileged=true. It was needed before when SR-IOV DP was not allocating necessary /dev/vfio/<NUM> device nodes to containers, but now that it does, we should move away from the practice. This means we will need to register (or instruct admins to) devices with vfio subsystem before SR-I

[2018-11-30 16:48] booxter commented on #1784
The step 0 here really is merging support for the latest SR-IOV DP: https://github.com/kubevirt/kubevirt/pull/1692 I will then push more patches on top of it.

[2018-11-30 17:22] #1715 closed

[2018-11-30 17:34] gaahrdner commented on #913
I just ran into this as well:

[code]

[2018-11-30 18:14] gageorsburn commented on #913
@gaahrdner Yup it's because there is no KVM support on OSX. The best workaround is to use the external provider to use an external kubernetes cluster.

[2018-11-30 18:40] gageorsburn opened #1786 "Support UEFI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
KubeVirt should support UEFI so that operating systems that need it will be bootable.

[2018-11-30 21:18] fabiand-bot opened #1787 ""CloudInit UserData A new VirtualMachineInstance with cloudInitNoCloud userDataBase64 source with injected ssh-key should have ssh-key under authorized keys" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2680/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-11-30 21:18] fabiand-bot opened #1788 ""Configurations with CPU spec when CPU model defined should report defined CPU model" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2663/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-01 15:42] #865 closed

[2018-12-01 21:18] fabiand-bot opened #1789 ""Configurations with CPU spec when CPU model not defined should report CPU model from libvirt capabilities" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2663/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-01 21:18] fabiand-bot opened #1790 ""Networking VirtualMachineInstance with dhcp options should offer extra dhcp options to pod iface" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2631/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-01 21:18] fabiand-bot opened #1791 ""Networking Multiple virtual machines connectivity should be able to reach the Inbound VirtualMachineInstance with custom MAC address" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2692/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-02 05:01] sHaggYcaT commented on #1316
same issue in

``oc v3.11.43
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://cnv-executor-xeniya-master1.example.com:8443
openshift v3.11.43
kubernetes v1.11.0+d4cacc0``

[2018-12-02 09:16] karmab commented on #1316
can you run grep vmx / proc/cpuinfo on your nodes?

El El dom, 2 dic 2018 a las 6:01, Xenia Lisovskaia <notifications@github.com>
escribió:

--
Karim,

[2018-12-02 13:42] #744 closed

[2018-12-03 08:16] #1780 closed

[2018-12-03 11:41] fabiand commented on #1786
I think we visited it back then.
Remembering some things

1. OVMF might already be present in the launcher container
2. Probably just extending the API
3. anoying thing is to persist nvram

The nvram needs to be persisted. Storing it on PVC looks like a larger overhead (as we speak about few k, not MB or larger).
Another option is to store it as an annotation.
Some experiments I did was to compres

[2018-12-03 11:42] fabiand commented on #1786
Another option is to use a `Secret` to store the nvram.

[2018-12-03 11:54] michalskrivanek commented on #1786
another option is not to persist it for now. The OS-provided templates(in EL7) are enough to boot.

[2018-12-03 12:42] alvaroaleman opened #1793 "Move the client into a dedicated package to make consumption easier"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

As a downstream consumer of the kubevirt API and lazy person I would like to import  a client from kubevirt. This is possible by importing the `kubevirt.io/kubevirt/pkg/kubecli` package, however that package defines some flags and if the same flags are defined elsewhere, the resulting app panics on startup.

**Wh

[2018-12-03 13:00] rmohr commented on #1793
Makes a lot of sense.

[2018-12-03 19:27] bitbucket90 opened #1794 "Kubevirt API vulnerability"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After installing kubevirt 0.9.1 and 0.10.0 we found that apicalls are opening ports and there is a bot crawling for this, we had to make sure firewalls are strict (as they should be) but this was for a test env, remove the commands being run, and reboot with strict instance firewall rules and os.

**What you expected to h

[2018-12-03 21:21] fabiand-bot opened #1796 ""Networking Multiple virtual machines connectivity should be reachable via the propagated IP from a Pod on the same node from Pod" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2692/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-04 10:18] fabiand commented on #1790
It's a timeout, closing in favor of #1768

[2018-12-04 10:18] #1790 closed

[2018-12-04 10:20] fabiand commented on #1787
From the logs:

[code]

[2018-12-04 10:21] rmohr commented on #1794
@bitbucket90 If this is really the case then this sounds severe. I am however not sure I understand this report. Mabye you can help us out with some more details. How did you install kubevirt?

At least this repo `kubevirt/kubevirt` and the manifest we provide on the [release page](https://github.com/kubevirt/kubevirt/releases) does not open any ports in any way I know of. Which API calls are happ

[2018-12-04 10:42] dankenigsberg commented on #1796
@leongold can you be that someone?

[2018-12-04 10:45] cynepco3hahue commented on #1794
@bitbucket90 What do you mean by `Keep kubevirt open to the world`, I know you can create GCE load balancer to make external access to the cluster, but it should expose just specified services and ports.

[2018-12-04 10:52] fabiand commented on #1794
@bitbucket90 how did you deploy kubevirt?

[2018-12-04 13:08] leongold commented on #1796
Looking at https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2692/testReport/, it seems like most (all?) tests in openshift-3.11-release failed due to timeouts, so this seems like an infrastructure issue. I've tried to pinpoint it, but to no avail.

@gbenhaim, could you perhaps shed more like on this?

[2018-12-04 14:01] slintes commented on #1796
@leongold I understood the openshift issue is caused by https://github.com/openshift/openshift-ansible/issues/10440 and @cynepco3hahue is already on it

[2018-12-04 16:10] #1699 closed

[2018-12-04 17:06] bitbucket90 commented on #1794
Kubevirt is being deployed per your recommendations (env arg then the kubectl apply -f httplink) We are doing this in a managed K8 single node cluster (using our propitiatory management system) the issue however seems to have happened twice, and may not be related to https://github.com/kubernetes/kubernetes/issues/71411 ; I believe @fabiand emailed me and am going to setup a call.

There was ingre

[2018-12-04 18:04] cynepco3hahue commented on #1796
At least the link reported under the issue does have a problem with openshift(because otherwise, it will fail on `make cluster-up`).

[2018-12-04 18:09] davidvossel commented on #1633
agreed, I don't think we should block. Each interface assigned to a VM should come with expectations with regards to what happens during live migration. The user should be given the information to make the right decision based on what their internal VM workload is.

[2018-12-04 19:19] davidvossel commented on #1631
The migration object can provide this historical data, which is why I'm still hesitant about using DELETE for the cancel operation.

The migration object represents a single attempt at a migration, and it contains all the information about what occurred as a result of that attempt (success, failure, cancelled, etc...)  Those objects are a VMI's migration history and that history is directly tied t

[2018-12-04 19:30] davidvossel commented on #1633
The "user" I'm referring to is someone creating VM/VMI specs for a virtualized workload, not a guest user of the VMI.

The user should be provided a set of expectations for how their VMI/VM network interfaces will perform during live migration so when they construct their VMI spec for a workload, they know it will provide the network consistency their application needs. Some applications can handl

[2018-12-04 21:21] fabiand-bot opened #1808 ""Multus Networking VirtualMachineInstance with cni ptp plugin interface should create a virtual machine with two interfaces" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2760/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-04 21:21] fabiand-bot opened #1809 ""Windows VirtualMachineInstance with winrm connection should have the domain set properly" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2755/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-04 21:21] fabiand-bot opened #1810 ""Configurations VirtualMachineInstance with CPU pinning with cpu pinning enabled should configure correct number of vcpus with requests.cpus" failed 1 times"
/kind bug

What happened:
This test failed 1 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2755/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-05 06:41] j-griffith opened #1811 "Unable to succesfully build"
kind bug

**What happened**:
Attempting to run make on current master branch on a debian based machine fails.  I'm not sure why this would be, given that we're building in a Fedora container, but it seems that running make build on a debian based host is not working.  I typically run on Fedora 28 and 29, but was setting up a GKE instance using Stretch and ran into this issue.

Also as a data point

[2018-12-05 08:07] rmohr commented on #1631
I don't know. Why should the runtime provide historical data? You could argue the same way that you need a "v1/namespaces/<namespace>/pods/mypod/stop" rest-call instead of using DELETE, because you want to see afterwards for a few days on the pod itself how fast it terminated, or want to extract the logs 3 days after you stopped the pod. The same for VMIs, VMs, ...

In my opinion monitoring and an

[2018-12-05 08:45] michalskrivanek commented on #1631
@rmohr that's a good point, but please make sure the monitoring is 100% reliable. it cannot be done as best-effort only as the logic on top of these basic actions is going to depend on it.

[2018-12-05 09:17] rmohr commented on #1631
For as long as the object exists the UI can reliably follow it's changes. You and I for instance talked about making attempted restarts visible on the object while they are going on. That makes sense. Also it has a meaning if an object got deleted from the cluster and finally disappeared, the UI can consistently interpret that.

 Another things are historical events or recent events of interest (e

[2018-12-05 09:44] michalskrivanek commented on #1631
I would differentiate between the last attempt and full history of actions. I agree that we shouldn't maintain full history "ourselves" and we indeed would have to rely on metrics for display purposes. But the result of last action is something different, that needs to be reliable. It can also be part of the object (so it goes away when object is removed), that's fine as well as once the object is

[2018-12-05 10:46] michalskrivanek commented on #1633
Not blocking it is fine, but how do you suggest the user will understand the expectations? Not the guest user, but even the user of the VMI is not always the same person as the one originally creating it or maintaining infrastructure. My point is - when you are presented with a spec how can you tell if that VM will migrate seamlessly or not.

I suppose you take the easy way out and say that the us

[2018-12-05 11:00] fabiand commented on #1633
I'm not sure if such an example exists, but a condition could be one option to signal if a VM is migratable or note.
I.e.
[code]

[2018-12-05 11:14] dankenigsberg commented on #1633
@davidvossel suggests that `migratable` also depends on the in-VM application, and as such, cannot be computed by KubeVirt. We'd need a user-supplied hint about the application.

How about adding a user-contrallable `migratable` annotation? KubeVirt should set it to False if a Pod IP address is delegated to the VM. This would provide a sane default behavior, while providing the flexibility that @d

[2018-12-05 11:34] fabiand commented on #1791
I'm considering this to be a generic timeout, closing in favour of #1768

[2018-12-05 11:34] #1791 closed

[2018-12-05 11:34] #1775 closed

[2018-12-05 11:34] #1774 closed

[2018-12-05 11:35] fabiand commented on #1774
I'm considering this to be a generic timeout, closing in favour of #1768

[2018-12-05 11:39] fabiand commented on #1810
I'm considering this to be a generic timeout, closing in favour of #1768

[2018-12-05 11:44] SchSeba commented on #1633
We can say that all the connection makes via a k8s service will need to reconnect. (same ip on the service but the backend will be a new pod).

I think we need to document it and let the user decide if the application allows reconnection or not.

About the default value of this parameter I am not sure. need to get some feedback from users

[2018-12-05 11:47] fabiand commented on #1633
Yes. Because that is how it also behaves for normal pod backed Services.

IOW The primary pod interface must not provide strong guarantees about an IP address or connection states, as it rather behaves like starting a new pod, which implies also getting a new IP and connections will break as well.

[2018-12-05 11:57] fabiand commented on #1663
No reproducer atm.

[2018-12-05 11:57] #1663 closed

[2018-12-05 13:22] fabiand commented on #1406
/remove-lifecycle rotten

[2018-12-05 14:08] #1811 closed

[2018-12-06 06:42] #996 closed

[2018-12-06 16:55] jonpulsifer commented on #1794
@bitbucket90 given the issue reported on ingress-nginx can you confirm whether or not you're using nginx for ingress?

[2018-12-06 16:59] bitbucket90 commented on #1794
This would be it. I do apologize for the lack of response.

[2018-12-06 17:00] davidvossel commented on #1631
That might not be a perfect analogy.  Pods VMI and VMs are workloads. Once you delete those objects you no longer care about those workloads or their state. The Migration object is tracking a single attempt to transition a workload. That migration object is tied to the lifecycle of the workload. As long as the workload persists, I think the migration object *might* maintain value for us.

Here's w

[2018-12-06 17:20] davidvossel commented on #1633
I agree there's value in letting the user explicitly define whether or not a VMI should be migratable or not. I don't necessarily think that's something we can accurately predict for the user based on the type of network in use.

There are more factors involved for whether or not a user wants to allow migrations outside of network configurations. For example, someone with a realtime cpu latency se

[2018-12-06 18:34] bitbucket90 commented on #1794
After receiving message from a colleague this was not deployed with nginx as ingress, however its the same crypto miner.

[2018-12-06 18:38] kfox1111 commented on #1794
You mentioned 1.10.4. you sure its not https://github.com/kubernetes/kubernetes/issues/71411 ?

[2018-12-06 18:47] bitbucket90 commented on #1794
That is what we are thinking this is related to after speaking with a few others.

[2018-12-06 19:09] #1794 closed

[2018-12-06 19:39] liggitt commented on #1684
This is a bug in kube-aggregator when ssh tunneling (`--ssh-user` option to kube-apiserver) is enabled that does not use the correct dialer when proxying upgrade requests to aggregated API servers. See https://github.com/kubernetes/kubernetes/issues/71808

[2018-12-06 20:37] dankenigsberg commented on #1633
I agree that a `migratable` lever makes sense, but remember that the foremost customer of kubevirt is not the VM operator, but the cluster admin.

It should be very clear that `migratable` is just a request. Kubevirt and the cluster admin may be unable to comply (e.g host cpu is to hot, have to evacuate all workloads). A cluster admin may even charge more for non-migratable VMs since they are more

[2018-12-06 21:54] davidvossel commented on #1633
yeah, i agree that enabling the option is just a request that comes with no guarantees. The cluster-admin is the one that would be fulfilling the migration guarantee. Setting migratable=false should offer a strict guarantee to the vm operator though.

given it's just a request for migration, are you thinking it makes more sense to make the migratable option default to true?

My thought was even th

[2018-12-06 22:00] dankenigsberg commented on #1633
Regardless of the default, if the key is spelled out it should be validated as you suggest.

[2018-12-07 08:32] fabiand commented on #1553
#1691 was just merged a little bit to late for 0.11.

The following pre-release can be used to deploy kubevirt in the new namespace:
https://github.com/kubevirt/kubevirt/releases/tag/v0.12.0-alpha.0

[2018-12-07 08:32] fabiand commented on #1553
Fixed in #1691

[2018-12-07 08:32] #1553 closed

[2018-12-07 13:38] fabiand commented on #1809
We had so many failures. Closing this for now.

[2018-12-07 13:38] #1809 closed

[2018-12-07 13:38] fabiand commented on #1808
We had so many failures. Closing this for now.

[2018-12-07 13:38] #1808 closed

[2018-12-07 13:38] fabiand commented on #1789
We had so many failures. Closing this for now.

[2018-12-07 13:38] #1789 closed

[2018-12-07 13:38] fabiand commented on #1788
We had so many failures. Closing this for now.

[2018-12-07 13:38] #1788 closed

[2018-12-07 13:38] fabiand commented on #1787
We had so many failures. Closing this for now.

[2018-12-07 13:38] #1787 closed

[2018-12-07 13:38] fabiand commented on #1781
We had so many failures. Closing this for now.

[2018-12-07 13:38] #1781 closed

[2018-12-07 13:39] fabiand commented on #1777
This is actualy a Cluster API for interacting with bare metal nodes. We should rename it.

[2018-12-07 18:20] alvaroaleman commented on #1777
@kfox1111 @d-kononov In case you are interested, we've just added support for kubevirt as a provider for our cluster-api-based machine-controller which we use to manager Kubernetes worker nodes: https://github.com/kubermatic/machine-controller#deploy-the-machine-controller / https://github.com/kubermatic/machine-controller/blob/master/docs/kubevirt.md

[2018-12-07 19:56] kfox1111 commented on #1777
Nice. I'll take a look. Thanks. :)

[2018-12-07 21:17] #1230 closed

[2018-12-08 11:53] HaiderPashaMohammed commented on #1316
grep vmx /proc/cpuinfo
gives me no outout. I am trying to deploy Kubevirt on below metioned enviorment:

Base machine:
(python34) [ec2-user@ip-172-31-19-110 ~]$ cat /etc/os-release
NAME="Amazon Linux AMI"
VERSION="2018.03"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2018.03"

Kubernetes enviorment:

Kernel Version:             4.4.0-1072-aws
 OS Image:                   Ubuntu 16.04.5 LTS

Error:

[2018-12-09 06:56] fabiand commented on #1316
Please also provide `kubectl get configmap -o yaml -n kube-system kubevirt-config`
And if possible, just out of curiosity: `virt-host-validate`

[2018-12-10 00:48] xsgordon opened #1823 "CII Best Practices badge in CNCF Landscape"
**Edit:** Current status: [![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/2805/badge)](https://bestpractices.coreinfrastructure.org/projects/2805)

KubeVirt is shown in the CNCF landscape: https://landscape.cncf.io/format=landscape&selected=kube-virt

It does not have the currently have the CII Best Practices badge. It is not a requirement for the project today but is

[2018-12-10 18:41] HaiderPashaMohammed commented on #1316
the above problem no more appearing now after reinstalling it.

But VNC on AWS EC2 machines is not working and getting below error. any help?

[ec2-user@ip-172-31-9-22 ~]$ ./virtctl vnc testvm
{"component":"virtctl","level":"info","msg":"connection timeout: 1m0s","pos":"vnc.go:137","timestamp":"2018-12-10T17:53:38.193593Z"}
{"component":"virtctl","level":"error","msg":"remote-viewer execution fail

[2018-12-10 21:25] fabiand-bot opened #1829 ""DataVolume Integration Starting a VirtualMachineInstance with a DataVolume as a volume source using Alpine import should be successfully started and stopped multiple times" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2840/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-10 21:25] fabiand-bot opened #1830 ""Console A new VirtualMachineInstance with a serial console should wait until the virtual machine is in running state and return a stream interface" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2840/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-10 21:25] fabiand-bot opened #1831 ""DataVolume Integration Starting a VirtualMachine with a DataVolume using Alpine import should be successfully started and stopped multiple times" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2840/testReport/ [Console output](https://jenkins.ovirt.org/job/kubevirt_kubevirt

[2018-12-10 21:37] terinjokes opened #1832 "kubevirt-api TLS handshake error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

KubeVirt components started up successfully, but no VMs are created or scheduled. Lots of TLS failures in the logs.

[code]

At this point, I can create VM resources, but no VMIs or associated Pods are ever created.

**What you expected to happen**:

KubeVirt components start up, successfully connect to each other, and V

[2018-12-10 22:01] fabiand commented on #1316
Good to hear!

For VNC to work you need a graphical desktop.

Did you try serial console `virtctl console VMNAME`?

[2018-12-10 22:11] fabiand commented on #1832
Hm. Something is up in that area. It's not the first time we see something like this.

Can you try to reinstall kubevirt?

[2018-12-10 22:12] fabiand commented on #1832
Not that it is a fix, only to see if it helps

[2018-12-10 22:14] terinjokes commented on #1832
As stated above:

[2018-12-10 23:38] terinjokes commented on #1832
Some updates here:

* I forgot to start the VMs. I still get the errors about handshaking, so that might be entirely unrelated (maybe it's Prometheus being a bit eager to scrape?)
* I'm having an issue similar to #1128 (and maybe #1551) where I get errors saying that /dev/kvm is unavailable: `hardware emulation device '/dev/kvm' not present`:
[code]
* /dev/kvm is available on the worker, which is

[2018-12-11 00:09] terinjokes commented on #1832
Update: Removed Prometheus, still seeing these TLS handshake errors every 10 seconds.

[2018-12-11 07:07] HaiderPashaMohammed commented on #1316
virtctl console VMNAME working as expected. For Graphical desktop, do you any sample yaml?

[2018-12-11 07:32] cynepco3hahue commented on #1832
These errors exist also on the healthy environment, so the only fix that we need to add is to ignore this errors under the logging.

[2018-12-11 08:05] rmohr commented on #1631
I think it is a pretty good one. For as long as you don't cancel/delete something in Kubernetes you very often see the previous attempts, so you kind of have a failure history, but cancel/delete means that you most of the time remove the history. I am not sure I understand why I would care more about an old migration in the runtime, than I would care about a Pod being evicted. In both cases everyt

[2018-12-11 08:53] fabiand commented on #1631
Along the lines of Roman's last comment:

and

IOW: There are two basic paths for a Migration object after it got created: a) It will complete (fail or succeed) b) An external party cancels it while it is running or deletes it after it completed.
In either case: The object does not go away without user-interaction or after laying around for some time.
Specifically in the case we are discussing her

[2018-12-11 09:01] rmohr commented on #1631
Exactly, for normal flows we keep the history. Just when you want it to go away it would be removed.

I don't want to build in things and work around the usual DELETE semantic just in case someone comes up with a use-case which so far no one provided.

I don't see the need for a new service. Events, metrics and logs should provide a consistent enough picture. I don't think that we pretend that run

[2018-12-11 09:15] michalskrivanek commented on #1631
@rmohr scheduling needs the information about at least the latest failure. I do not think we need full history, just the most recent attempt

[2018-12-11 09:17] fabiand commented on #1631
The service I was speaking about can be tied to the UI. I don't see a need for it in the runtime.

I'm not sure if we need a tight coupling. Instead: I can imagine that a component like nod eproblem detector has a kubevirt plugin in order to monitor certain events (like migration failures) to then eventually taint nodes on certain conditions.

[2018-12-11 09:51] fabiand commented on #1316
The host where you run virtctl needs to be a graphical desktop.
As VNC (client) needs X11 to run.

[2018-12-11 11:41] rmohr commented on #1832
I see where it is coming from. We use a `tcpProbe` as readiness check. That shoud be a httpGet with "HTTPS" scheme.

[2018-12-11 12:48] cynepco3hahue commented on #1832
@rmohr Sure will take a look.

[2018-12-11 12:59] michalskrivanek commented on #1631
sounds ok to me then

[2018-12-11 13:08] qmfrederik opened #1837 "Make virtctl vnc wait for VMI to become ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
#1001 made `virtctl console` wait for the console/VMI to become ready. This is super handy when you want to connect to a VM as soon as it is ready.

`virtctl vnc` doesn't implement the same behavior, and fails with a message similar to:

**What you expected to happen**:
`virtctl vnc` to have the same behavior as `v

[2018-12-11 13:22] qmfrederik opened #1838 "Reconnecting to a VMI over VNC fails eventually"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I repeatedly open and close a VNC connection to a VMI, the `virtctl vnc` command will eventually fail with this error message:

[code]

Additionally, the following is visible in the virt-api logs:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a

[2018-12-11 15:28] #1829 closed, assigned to nobody

[2018-12-11 15:28] #1831 closed, assigned to nobody

[2018-12-11 18:38] terinjokes commented on #1832
Should I open another ticket (or update the one linked above) for the `/dev/kvm` problem? I'm still not sure what the issue is here.

[2018-12-12 07:41] SchSeba commented on #1494
/remove-lifecycle stale

[2018-12-12 08:56] cynepco3hahue commented on #1832
@terinjokes We already have `/dev/kvm` issue https://github.com/kubevirt/kubevirt/issues/1551, you can comment under it.

[2018-12-12 09:57] fabiand commented on #1832
@terinjokes what kind of host OS are you using, and did you configure emulation mode?

[2018-12-12 11:04] andrewwebber commented on #1316
Can confirm that v0.11.0 works on CoreOS 1911.4.0 bare metal, including vnc viewer. Thank you kubevirt!

Does anyone get the following kernel warning when starting a VM and is it an issue?

[code]

[2018-12-12 14:13] terinjokes commented on #1832
The /dev/kvm issue turned out to be a bug with another project's
MutatingWebhook not being Device Plugin aware. After patching it, the kvm
resource was being passed through, and the VM started correctly.

It took a bit of research to determine this project uses Device Plugin to
share /dev/kvm. Only after I knew was I able to find the blog posts.

On Wed, Dec 12, 2018, 1:57 AM Fabian Deutsch <notif

[2018-12-13 08:21] #1832 closed

[2018-12-13 12:05] michalskrivanek commented on #1633
makes sense, but then we're talking about potentially different aspects we want to express. One is the VMs technical capability to migrate (e.g. limited by device passthrough), user's preference based on workload, admin's decision to override user's request.

[2018-12-14 00:06] rwsu commented on #1714
After further investigation, this appears to be a timing issue. The virt-api service port 443 was not open or was not available when I had attempted to create the VM. My test script had tried to create a VM right after installing KubeVirt, so it appears the KubeVirt pods and/or service may have been in the middle of starting up when the request to create a VM was issued.

I was able to resolve thi

[2018-12-14 00:08] rwsu commented on #1714
@kunalkushwaha does my comment above regarding waiting for port 443 to be available help you in your situation?

[2018-12-14 11:42] #173 closed

[2018-12-14 20:42] #1330 closed

[2018-12-15 00:55] rwsu commented on #1714
@kunalkushwaha It is unclear to me which change you are attempting to test. Could you provide more details?

From the mailing list discussion, it looks like you are having trouble reaching 10.96.0.1 which you showed to be the kubernetes service. I think that is a different from this issue.

[2018-12-15 06:29] duyanyan opened #1847 "Fedora vmi console got stuck at "[ OK ] Started Login Service.""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[code]
**What you expected to happen**:
console works normally

**How to reproduce it (as minimally and precisely as possible)**:
Create a fedora vmi with kubevirt/fedora-cloud-container-disk-demo:latest

**Anything else we need to know?**:
1. cluster: deploy openshift 3.11 on a centos physical host by openshift-ansible
2. Can not

[2018-12-15 20:42] #894 closed

[2018-12-16 10:42] #1326 closed

[2018-12-16 12:42] #1217 closed

[2018-12-17 13:48] qinqon commented on #1063
Ok, so I have around 60% of coverage of pkg/virt-api/api.go [here](https://github.com/qinqon/kubevirt/tree/increase_virt_api_coverage) this would be good enough for another PR ? also I have to fix some issues local running is working but timing out at travis.

[2018-12-17 16:22] davidvossel commented on #1631
i'd really encourage us not to create another service that needs to maintain a history of runtime state... We're talking about creating another stateful app here. Where does this state live? How is made highly available? My immediate reaction is that this is unnecessary complexity.

If the migration object history is important to us, keep the objects around until the VM is destroyed.

And that's t

[2018-12-17 16:36] fabiand commented on #1631
My point was that I do not see any immediate need to kepe historic data in the runtime.
If a component like i.e. a UI does need a comprehensive history, then it should record the reqquired state histories. The same is true btw for core Kubernetes.

However, I spoke to @jelkosz and it looks like the events we raise will be enough for now.

[2018-12-17 16:50] cynepco3hahue commented on #1063
@qinqon I can feel free to create additional PR :smile:

[2018-12-18 02:09] justinbarrick opened #1850 "DHCP server does not work because VM has the wrong mac address with canal CNI"
It appears that the DHCP server is not able to issue leases because the mac address assigned to the VM is not actually set.

**What happened**:

DHCP failed to get a lease:

[code]

Also notice that the Mac address is not what I have configured: `52:54:00:93:17:63`

[code]

**What you expected to happen**:

DHCP should get a lease.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-12-18 08:07] duyanyan commented on #1847
I deployed a new openshift+kubevirt+sriov env on another sriov capable machine and I can't reproduce the issue any more. So I think it may relate to the hardware. Let's close the issue. Feel free to reopen it when meet the issue again. Thanks

[2018-12-18 08:48] SchSeba commented on #1850
Hi @justinbarrick just a quick question you are using k8s or openshift?
If you are using k8s can you please tell me what network plugin you are using?

[2018-12-18 11:05] binojvr opened #1852 "Support for GPU"
**FEATURE REQUEST?**:

 enhancement

**What happened**:
I am planning to containerize legacy gpu intensive windows application using Nvidia Docker and kubernetes. But nvidia docker doesn't support windows as of now. Now I am planning to deploy these application inside windows VMs  and launch using kubernetes and Kubevirt.  is it possible to access Nvidia docker from application deployed in VM whic

[2018-12-18 11:31] SchSeba commented on #1850
@justinbarrick what version of kubevirt you are using?

I test it using your yaml and everything works as expected

[code]

[2018-12-18 11:51] qinqon commented on #1063
@cynepco3hahue here we are with the PR, maybe it's too big.

[2018-12-18 13:28] fabiand opened #1855 "Use hw mouse/tablet device by default"
/kind enhancement

Remote viewers only work properly with pointng devices ("mouse") if a tablet device or alike is used in the VM.
Thus KubeVirt should have the ability to add a tablet or "hw mouse" just like oVirt does it for example.

Actually: We might not need the ability but instead just **default** to a tablet device which is supported by Microsoft Windows and Linux - and hopefully by other

[2018-12-18 15:15] justinbarrick commented on #1850
I am using latest Kubevirt (based on master). My network plugin is canal.

[2018-12-18 15:50] davidvossel commented on #1830
@fabiand  I don't trust the CI environment's results here.  this is not reproducible locally using k8s 1.11.1, os-3.11.0 or os-3.11.0-crio.

[2018-12-18 18:38] rthallisey commented on #1505
/close

We can revisit at a later time.

[2018-12-18 18:38] #1505 closed

[2018-12-18 21:30] fabiand-bot opened #1856 ""AfterSuite" failed 6 times"
/kind bug

What happened:
This test failed 6 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2942/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2018-12-18 21:30] fabiand-bot opened #1857 ""DataVolume Integration Starting a VirtualMachine with a DataVolume using Alpine import should be successfully started and stopped multiple times" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2909/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2018-12-18 21:30] fabiand-bot opened #1858 ""DataVolume Integration Starting a VirtualMachine with a DataVolume using Alpine import should be successfully started and stopped multiple times" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2942/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2018-12-18 23:09] bharatnc opened #1859 "Not able to run functional tests on test new test changes that I have made"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I did
[code]
This results in a panic and failure of all functests.
•! Panic in Spec Setup (BeforeEach) [0.005 seconds]
[code]

**What you expected to happen**:
Func tests should be run without any error.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
OS/Hardware: U

[2018-12-19 07:53] SchSeba commented on #1859
Hi @bharatnc lets start with the first command.
After you run `make cluster-up` can you please run `./cluster/kubectl.sh get po --all-namespaces` just to check the cluster is up and running? (paste the output here)

Run ` make cluster-sync` and then please run again `./cluster/kubectl.sh get po --all-namespaces`, also run ``./cluster/kubectl.sh get crd` (paste both outputs here)

[2018-12-19 08:47] cynepco3hahue commented on #677
I think the issue is still relevant to the number of projects.
/remove-lifecycle stale

[2018-12-19 13:41] tripledes opened #1863 "virtctl image-upload fails when a trailing slash is added to the upload proxy URL"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

    $ virtctl image-upload --uploadproxy-url=https://cdi-uploadproxy-kube-system.apps.10.19.138.91.nip.io/ --pvc-name=upload-fedora-pvc4 --pvc-size=5Gi --image-path=tmp/Fedora-Cloud-Base-29-1.2.x86_64.qcow2 --insecure

Fails with:

Unexpected return value 500

Also:

    $ virtctl image-upload --uploadproxy-url=https://c

[2018-12-19 15:46] fabiand commented on #615
/remove-lifecycle stale

On Wed, Dec 19, 2018 at 4:43 PM kubevirt-bot <notifications@github.com> wrote:

[2018-12-19 16:08] bharatnc commented on #1859
Hi @SchSeba,

[code]

[code]

- Ran make cluster-sync
-  > ./cluster/kubectl.sh get po --all-namespaces

O/P:

[code]

O/P:
[code]

Also re-ran tests again (make functest) after these and they ``still fail``. Thank you.

[2018-12-19 16:13] cynepco3hahue commented on #1859
@bharatnc Can you wait until all pods will be ready and re-run tests again?

[2018-12-19 16:52] bharatnc commented on #1859
@cynepco3hahue , nope I don't believe so,
[code]

[2018-12-19 17:00] bharatnc commented on #1859
@cynepco3hahue thanks! I'm using emulation as an option currently and the tests are running!, I will try to turn the Nested Virtualization option on for my Ubuntu machine next.

[2018-12-19 18:13] bharatnc commented on #1859
@cynepco3hahue thank you, closing this issue.

[2018-12-19 18:13] #1859 closed

[2018-12-19 22:06] davidvossel opened #1865 "Live migrations fail when VMI has cloud-init user data defined"
/kind bug

**What happened**:

Migrating a VMI that defines cloud-init userdata fails. The failure appears to be occurring from within libvirt.

I believe this worked correctly when migrations were first introduced. I think this may be related to some of the libvirt changes that occurred recently. We recently updated the libvirt packages in our virt-launcher container from 4.2.0 to 4.10.0 which co

[2018-12-19 22:07] davidvossel commented on #1865
/cc @vladikr @fabiand

I'll post more details about the specific error that libvirt returns soon. I just wanted to make people aware of the issue.

[2018-12-19 23:42] justinbarrick commented on #1850
Yeah, this seems to be an issue with canal. I tried on flannel and calico and it is working. We use calico in production, so I'm all set here, but the issue should probably get fixed.

[2018-12-20 01:34] rwsu opened #1867 "VMI's IP and MAC addresses are not logged in virt-launcher pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
The IP and MAC addresses are shown in "kubectl describe vmi".

I was analyzing the logs from Kibana and saw that the virt-launcher pod logs didn't show a VMI's IP or MAC address. I think logging those addresses would be useful for debugging or auditing especially when the VMI or pod is no longer alive and one is l

[2018-12-20 10:07] rmohr commented on #1850
/kind bug

[2018-12-20 10:17] SchSeba commented on #1850
I will take this one

[2018-12-20 12:46] fabiand commented on #1348
/remove-lifecycle rotten

[2018-12-20 18:22] davidvossel commented on #1865
for reference, here's the libvirt error output.

{"component":"virt-launcher","level":"error","msg":"internal error: qemu unexpectedly closed the monitor: Receiving block device images","pos":"virNetClientProgramDispatchError:174","subcomponent":"libvirt","timestamp":"2018-12-20T18:18:55.642000Z"}
{"component":"virt-launcher","level":"info","msg":"Completed 0 %\rCompleted 2 %\rCompleted 4 %\rCompl

[2018-12-20 19:37] msdmso opened #1868 "Can not assign second IP address using Multus"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Can not assign second IP address using Multus.

[code]

**What you expected to happen**:

Assign second IP address to VM

**How to reproduce it (as minimally and precisely as possible)**:

1. Build Kubernetes cluster on GCP using kubespray (kube_network_plugin_multus: true).
2. Install KubeVirt 0.10.0
3. Apply macvlan-co

[2018-12-20 21:31] fabiand-bot opened #1870 ""Expose Expose UDP service on a VMI Expose NodePort UDP service Should expose a NodePort service on a VMI and connect to it" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2966/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2018-12-21 09:04] SchSeba commented on #1868
Hi @msdmso Thanks for pointing this out.

After a closer look I think I know what can be the problem.
The default fedora cloud image enable the dhcp only on the eth0 interface so if you what to enable dhcp and the eth1 you can do it using the cloud init configuration.

Something like this should work
[code]

Can you please apply this yaml file and tell me if it fix your issue?

I also saw that you

[2018-12-21 13:42] #932 closed

[2018-12-21 16:58] msdmso commented on #1868
Hi @SchSeba Thanks for your help!

I can assign the second IP address using the following config.

[code]

[2018-12-21 21:31] fabiand-bot opened #1872 ""DataVolume Integration Starting a VirtualMachineInstance with a DataVolume as a volume source using Alpine import should be successfully started and stopped multiple times" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2979/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2018-12-22 10:14] SchSeba commented on #1868
@msdmso Good!

Can we close this issue?

[2018-12-22 22:39] msdmso commented on #1868
@SchSeba Yes. Thanks!

[2018-12-22 22:52] #1868 closed

[2018-12-23 10:10] SchSeba commented on #1539
@fabiand This PR https://github.com/kubevirt/kubevirt/pull/1323 didn't fix this issue?

[2018-12-24 03:53] anubhav888 opened #1873 "Any browser on Windows 10 does not connect SSL enabled websites"
**What happened**:
Windows10 VM cannot connect to any SSL enabled website with any browser. The same VM works outside Kubevirt hosted on KVM hypervisor. Networking is fine and DNS is working fine.

**What you expected to happen**:
When you connect through a proxy server (public and private), the SSL connection is established and we are able to connect.

**How to reproduce it (as minimally and prec

[2018-12-24 08:09] SchSeba commented on #1873
Hi @anubhav888 Thanks for the details!

To check the MTU on the windows vm and change it we used this command
[code]

[2018-12-26 13:53] kbidarkar opened #1874 "Creating a VMI with sidecar hook with an image that does not exists fails with no error message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Creating a VMI with sidecar hook fails , with Libvirt Error, but no proper error message.

**What you expected to happen**: There should be a proper error message when it fails.

**How to reproduce it (as minimally and precisely as possible)**: Create a VMI With sidecard hook , using `0.12-alpha.2`

**Anything else we nee

[2018-12-26 14:00] kbidarkar commented on #1874
The error message that we see is the below,

[code]

[2018-12-26 14:17] cynepco3hahue commented on #1874
@kbidarkar I think you need to add `Creating a VMI with sidecar hook with an image that does not exist, fails with no error message`

[2018-12-29 15:42] #780 closed

[2018-12-30 18:37] SchSeba commented on #1017
Still relevant
/remove-lifecycle stale

[2019-01-02 21:50] fabiand-bot opened #1886 ""ImageUpload Upload an image and start a VMI Should succeed" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2997/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-02 21:50] fabiand-bot opened #1887 ""ImageUpload Upload an image and start a VMI Should succeed" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2998/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-02 21:51] fabiand-bot opened #1888 ""Expose Expose service on a VMI replica set Expose ClusterIP service Should create a ClusterIP service on VMRS and connect to it" failed 2 times"
/kind bug

What happened:
This test failed 2 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2998/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-03 13:44] mareklibra opened #1893 "Can not connect to VNC"
/kind bug

**What happened**: VNC session cannot be retrieved repeatadly

**What you expected to happen**: I can repetadly connect-disconnect to VNC

**How to reproduce it (as minimally and precisely as possible)**:
- have a running VM (tested with vm-fedora.yml)
- virtctl vnc vm-fedora
- close the remote-viewer window or ctrl-c
- repeat previous 2 steps a few times (in my case 4 is enough)
- sudd

[2019-01-03 13:45] mareklibra commented on #1893
vm-fedora.yml:
[code]

[2019-01-04 11:21] tylerauerbeck opened #1894 "Extend information returned by kubectl get"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Would like to see additional fields returned when doing `kubectl get vmi`. Currently the only thing returned is the name and when it was created.

[code]

**What you expected to happen**:
It would be useful (at a minimum) to see at least the status (whether something is still being scheduled or if it's actually re

[2019-01-04 14:49] fabiand commented on #1493
/remove-lifecycle rotten

[2019-01-04 15:43] fabiand commented on #961
/remove-lifecycle stale

[2019-01-04 15:52] fabiand commented on #1153
/remove-lifecycle stale

[2019-01-05 12:43] #1350 closed

[2019-01-05 12:43] #1227 closed

[2019-01-05 17:43] #1418 closed

[2019-01-06 21:37] fabiand-bot opened #1898 ""Slirp Networking should be able to VirtualMachineInstance with slirp interface" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-06 21:37] fabiand-bot opened #1899 ""VMIlifecycle Creating a VirtualMachineInstance when it already exist should be rejected" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-06 21:37] fabiand-bot opened #1900 ""Networking VirtualMachineInstance with custom MAC address should configure custom MAC address" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-06 21:37] fabiand-bot opened #1901 ""VMIlifecycle Delete a VirtualMachineInstance with grace period greater than 0 should run graceful shutdown" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-06 21:37] fabiand-bot opened #1902 ""Expose Expose service on an VM Expose ClusterIP service Connect to ClusterIP services that was set when VM was offline" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-06 21:37] fabiand-bot opened #1903 ""VMIlifecycle Delete a VirtualMachineInstance with an active pod. should result in pod being terminated" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-06 21:37] fabiand-bot opened #1904 ""VMIlifecycle Creating a VirtualMachineInstance with boot order should be able to boot from selected disk Cirros as first boot" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-07 09:17] rmohr commented on #1837
I have a feeling that we should not have introduced this "wait" feature. Also "kubectl exec" does not wait until the pod is running. I personally find it confusing. I would prefer to not wait for both commands, but if most people find this "wait" behaviour useful we should definitely make it consistent across "console" and "vnc" and wait in both cases.

[2019-01-07 09:52] slintes commented on #1084
fixed by https://github.com/kubevirt/kubevirt/pull/1216

[2019-01-07 09:52] #1084 closed

[2019-01-07 10:02] slintes commented on #1122
/remove-lifecycle stale

[2019-01-07 10:04] fabiand commented on #1539
No- I was using a recent virtctl.

Maybe because the VM _is_ in running state.

[2019-01-07 10:21] slintes commented on #1894
Hi, we already have this, see https://github.com/kubevirt/kubevirt/pull/1654.
But you need to run k8s >= 1.11 in order to get this working. Looks like you're on k8s 1.10. For minikube, you should be able to switch to newer version with `minikube start --kubernetes-version v1.yy.z`. Can you please retry with this?

[2019-01-07 13:40] ahadas opened #1906 "No identifier for a VM that can be used by the guest"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We currently have two identifiers for a VM in its metadata - UID and Name. UID is auto-generated by k8s and Name is provided by the user and cannot be updated.
This creates the following problem: assuming I want to each VM to be assigned with a unique serial number (PR #1897 allows to assign a custom serial number). Neithe

[2019-01-07 14:16] tylerauerbeck commented on #1894
@slintes Yepp, just saw this on a fresh install this morning. Going to go ahead and close this issue.

[2019-01-07 14:16] #1894 closed

[2019-01-07 17:55] rmohr commented on #1906
Hm, at least for something like a VirtualMachineInstanceStatefulSet it is preferrable that the uuid is bound to the name, in order to allow easy delcarative flows. Aso for a VM, it has the advantage that we can recreate the same vmi configuration from the yaml of a VM which lies for instance in a git repo.

[2019-01-07 18:13] rmohr commented on #1906
We might also see 'kubectl apply' issues if we just fill in values in the spec for users on objects which are not pods or vmis.

[2019-01-07 21:38] fabiand-bot opened #1908 ""Expose Expose service on a VM Expose NodePort service Should expose a NodePort service on a VMI and connect to it" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-07 21:38] fabiand-bot opened #1909 ""Networking VirtualMachineInstance with learning disabled on pod interface should disable learning on pod iface" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-07 21:38] fabiand-bot opened #1910 ""VMIlifecycle Creating a VirtualMachineInstance with affinity the vmi with node affinity and anti-pod affinity should not be scheduled" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-07 21:38] fabiand-bot opened #1911 ""Networking VirtualMachineInstance with disabled automatic attachment of interfaces should not request a tun device" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-07 21:38] fabiand-bot opened #1912 ""VMIlifecycle Creating a VirtualMachineInstance should reject POST if validation webhook deems the spec invalid" failed 3 times"
/kind bug

What happened:
This test failed 3 times in the most recent 8 jobs with:

STDOUT:
[code]

TRACE:
[code]

What you expected to happen:
Test passes

How to reproduce it (as minimally and precisely as possible):
Take a look at the failures in:
- https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3016/testReport/ ([Console output](https://jenkins.ovirt.org/job/kubevirt_kubevir

[2019-01-07 23:22] ahadas commented on #1906
@rmohr ,
1. Honestly, I didn't think about VirtualMachineInstanceStatefulSet. Is it also derived from VMs?
2. Not sure I understand the VM part - I think it would behave the same. If the yaml of the VM includes a Firmware.UUID then the VMI will be set with that value in both cases, and otherwise, a new UUID is generated in both cases, no?
3. That's good that kubevirt allows to provide a value for

[2019-01-08 09:43] rmohr commented on #1906
Oh, we don't have it yet. It was hypothetical.

Yes, but the uuid will be constant if the name stays constant and you will see the uuid on the VMI which will be created by the VM.

I am not sure. We know how the uuid is calculated (based on the name), so we could set it on the cloned VM explicitly if you care about the uuid.

[2019-01-08 09:46] rmohr commented on #1906
https://github.com/kubernetes/enhancements/issues/555 and https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/0006-apply.md.

Once we have the "apply" logic on the server and can intercept it with proper webhooks for custom resources we could add defaulting which changes the spec visibly. Otherwise we will not be able to calculate diffs properly and properly handle spec g

[2019-01-08 09:49] fabiand commented on #1830
This might have been cause due to the load on the system.

Closing this for now, thanks for checking

/close

[2019-01-08 09:50] #1830 closed

[2019-01-08 12:09] ahadas commented on #1906
Ah, ok.
My two cents on this is that if it would be possible to create a VM pool that is derived from a VM (which is not possible in oVirt, btw) and the serial policy number is set to "per-VM" (rather than to a custom value) then we'll need to generate a new Firmware.UUID for each VM in the pool.

Right, if you mean that both approaches will behave the same as long as the name stays constant - I a

[2019-01-08 12:10] ahadas commented on #1906
Thanks, ok, now it's clear.

[2019-01-08 15:04] petrkotas opened #1917 "vmi-fedora does not boot, mac address keep changing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Fedora virtual machine does not start properly. Goes through the lifecycle: scheduling -> running -> failed. The mac address keep changing constantly as shown in ![output](https://user-images.githubusercontent.com/8687113/50835261-84583800-1356-11e9-94fc-6dccf31975f4.gif)

Also when trying to connect to console the reques

[2019-01-08 15:17] MarSik opened #1919 "Make sure all the necessary HyperV enlightements can be configured"
/kind enhancement

Windows guest's performance depends on the configuration of the HyperV enlightements. There are quite a few that might need to be or not to be enabled for different Windows versions to perform properly.

Kubevirt API exposes those using the `VM.spec.template.spec.domain.features.hyperv` dictionary.

You can get the idea from couple of Red Hat bugs like:

- https://bugzilla.redha

[2019-01-08 15:49] #1873 closed

[2019-01-08 21:46] davidvossel commented on #1917
fedora 29 seems to be working fine. I don't know what you're experiencing. We use fedora29 container disk image in CI and those tests pass as well.

[2019-01-09 07:42] rmohr commented on #1917
Your VM is restarted when it fails. That means that a new pod with new ip/mac is created. That's necessary to tie the VM into the pod network, since k8s does not have the concept of static mac/ip.

@petrkotas can't reproduce this either. My guess is that your locally built image is corrupt. Try cleaning you docker cache and rebuild and the issue should go away.

[2019-01-09 08:04] SchSeba commented on #1873
Hi @anubhav888 the #1905 PR was merged into master.

This PR should help you with your problem but for that you need to install virtio drivers inside the windows vm and remove the `model:e1000` from they vmi yaml.

[2019-01-09 15:39] anubhav888 commented on #1873
Excellent! Thanks much, Sebastian!

I will try it in the lab.

- Anubhav

On Wed, Jan 9, 2019 at 12:04 AM Sebastian Scheinkman <
notifications@github.com> wrote:

--
Anubhav Sharma
VP, Business Development
(408) 893-8174

<https://www.youtube.com/watch?v=k5vfVaCNyb0&t=11s>

[2019-01-10 09:43] #370 closed

[2019-01-10 15:47] #1442 closed

[2019-01-10 16:09] rmohr commented on #1442
Fixed in #1836

[2019-01-10 16:12] rmohr commented on #1593
/remove-lifecycle stale

[2019-01-11 08:38] majorinche opened #1928 "no PHASE after create vm with kubevirt"
we installed kubevirt successfully, and run vm ok at first
after a while, maybe 2hours, we can not deploy any vm
our example is coming from official(https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/intro.html)

check the status, find no status shows up under 'PHASE'
[root@infra1 ~]# oc get vmi
NAME      AGE       PHASE     IP        NODENAME
f2        2s

my question is, how to

[2019-01-11 14:33] fabiand commented on #912
By now several updates took place, see:
https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/
https://github.com/GoogleContainerTools/krew
https://github.com/GoogleContainerTools/krew-index

Take aways:
- Metadata now allows us ot define `kubectl virt …`
- We should prep an archive to get into krew index

[2019-01-11 15:35] #1063 closed

[2019-01-11 16:59] karmab commented on #1908
i think the commit https://github.com/kubevirt/kubevirt/commit/460b3809ff7ddabb5339cd1aad76b3c9c5dceaf3#diff-188c22c0d868a06b9162c02290114b7e broke the functionality from nodeport, as the generated svc no longer contains the specified node port but instead a random one

[2019-01-11 17:33] karmab commented on #1908
opened https://github.com/kubevirt/kubevirt/pull/1932 about this

[2019-01-13 14:58] fabiand commented on #1328
If DataVolumes (which map to PVs) are used with VirtualMachines, then this
is possible today: A user creates a VM including a DataVolume definition.
Once the VM object is getting deleted, all asscoaited DataVolume objects
are getting deleted as well.

/close

[2019-01-13 14:58] #1328 closed

[2019-01-13 17:15] fabiand commented on #1282
Any idea?

[2019-01-14 10:16] slintes commented on #1928
Hi, it looks like the VMI you're looking at is only 2 seconds old, and so just didn't get a phase yet.
In order to debug further, please provide the logs of virt-api, virt-controller and virt-handler, and of virt-launcher of the relevant VMI. Thanks!

[2019-01-14 12:48] #749 closed

[2019-01-14 13:39] fabiand commented on #1282
Sebastian, haven't we moved this test to the multus  interface?
There is no need nor hope to control the mac address of the default network.

On Sun, Jan 13, 2019 at 7:15 PM Fabian Deutsch <fdeutsch@redhat.com> wrote:

[2019-01-14 13:48] SchSeba commented on #1282
@fabiand I think we can close this issue. We have tests for multus and also we have tests for the default network on kubernetes because flannel cni allow us to change the mac address.

[code]

[2019-01-14 15:48] #1458 closed

[2019-01-15 01:28] rthallisey opened #1937 "Edit role should be able to access the kubevirt subresource"
# Bug
CI is failing in [kubevirt-ansible](https://github.com/kubevirt/kubevirt-ansible/pull/536) an rbac test that checks if the `edit` role has `get` access on the kubevirt subresource.  I confirmed this is also happening locally.  Deploy kubevirt with the kubevirt-operator, login to a user with edit permissions, then `kubectl get apiservices v1alpha2.subresources.kubevirt.io`

After adding this

[2019-01-15 01:34] #1024 closed

[2019-01-15 11:11] rthallisey commented on #1937
Ci log & [Test code](https://github.com/kubevirt/kubevirt-ansible/blob/master/tests/rbac_test.go#L190)
[code]

[2019-01-15 11:43] slintes commented on #1937
this looks strange, and a bit like RBAC setup is messed up at all. Do you execute `oc adm policy add-scc-to-user privileged -n kubevirt -z kubevirt-operator` in your test cluster?

[2019-01-15 13:21] fabiand opened #1939 "Operator should have a Ready condition"
/kind enhancement

**What happened**:
I'm using the operator, now I want to know when the applicaiton is ready.
For this it woul dbe good if the operator provides a ready condition (which then nicely ties into kubectl wait)

**What you expected to happen**:
[code]

[2019-01-15 13:43] gites opened #1940 "dataVolumeTemplates are broken"
**Is this a BUG REPORT**:

/kind bug

**What happened**:

Getting the following errors when deploying VM with `dataVolumeTemplates`
[code]

vm5-ubuntu.yaml
[code]
**What you expected to happen**:

Proper volume should be created and attached to the VM.

**How to reproduce it (as minimally and precisely as possible)**:
Try to create VM from yaml file posted above.

**Anything else we need to know?*

[2019-01-15 15:05] fabiand commented on #1937
`kubevirt-edit` role should only be able to edit kubevirt worklaod entities, not infrastructure components.

[2019-01-15 16:32] fabiand commented on #1937
You have two personsas (at least) working with kubevirt:

1. Operator deployig managing kubevirt app
2. User using the kubevirt workload entities (VM, VMIRS, VMI, Migration)

the subresource (Which one actually?) is part of 1.

kubevirt-edit, *-view, (the last one) are for 2.

So I am implying that the subresource (registration I assume) is for 1.

[2019-01-15 17:59] rthallisey commented on #1937
last CI run passed.  Looks like it was the missing command `oc adm policy add-scc-to-user privileged -n kubevirt -z kubevirt-operator`

[2019-01-15 20:59] rthallisey commented on #1937
I spoke too soon.  I'm not sure what kubevirt-ansible is doing, but it looks like sometimes these tests are run and sometimes they're not.   I made a minor adjustment after a successful CI run, CI reran, and failed on the same test.

Logs are [here](https://jenkins.ovirt.org/job/kubevirt_kubevirt-ansible_standard-check-pr/2189//artifact/check-patch.openshift_3-11.el7.x86_64/mock_logs/script/stdout

[2019-01-15 23:05] fabiand commented on #1940
@aglitke any idea?

[2019-01-16 07:34] slintes commented on #1937
the logs looks strange, all tests are failing now?
will checkout your repo and try to reproduce locally...

[2019-01-16 09:33] slintes commented on #1937
I don't understand what wrong with your cluster, but you don't need that permission for apiservices:
[code]
I have no clue why the VMI is not starting, but creating the VM using the CRD, and starting it using the subresource works with the edit cluster role.

[2019-01-16 09:45] slintes commented on #1937
ah sorry, `start` is not a subresource. And there is a misconfiguration for the `restart` subresource. Will fix that, recheck the edit role, and check why the VMI does not start.

[2019-01-16 10:20] slintes commented on #1937
Fixed RBAC for "restart" (https://github.com/kubevirt/kubevirt/pull/1942)
In the dev cluster VMIs also start, all subresources (vnc, console, restart) work without apiservices permissions:
[code]
Will retry if VMIs run on a cluster where I install operator from released manifests...

[2019-01-16 10:45] slintes commented on #1937
ah, VMI only didn't start because it referenced a containerdisk from dev docker registry, which was not runniung. So all fine from our point of view. Will check if I find sth in the ansible repo, which could cause problems.

[2019-01-16 11:05] MarSik commented on #1919
@davidvossel @rmohr @vladikr Guys, do you have any recommendation about what to do about englightements that need to be part of the API, but are not yet supported by our qemu/libvirt? We need to expose those in common templates, but we must not put them to libvirt XML until all the nodes are updated to recent enough versions of kernel / qemu / libvirt. Otherwise we would compromise the ability to

[2019-01-16 12:13] michalskrivanek commented on #1919
NFD approach sounds good to me, though I wouldn't do it just yet for this particular case, we still do not have to bother much with upgrades. But in general yeah, NFD-like discovery of capabilities of kubevirt/libvirt/qemu sounds like a reasonable idea. I would eventually suggest to use some sort of grouping (likein oVirt case the cluster levels) to not have too many of them. It might be a good id

[2019-01-16 12:33] MarSik commented on #1760
Just to make one point clear. The disctinction between scheduler and libvirt layers is intentional and needed. The mailinglist link [1] above shows a case where a feature must be forced even though the host is not exposing it.

[2019-01-16 12:44] karmab commented on #1940
the dvtemplate part is missing the following

[code]

[2019-01-16 12:50] karmab opened #1943 "fedora-container-disk does not fully apply cloudinit with multus"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
deploy a simple manifest using fedora-container-disk and cloudinit content with runcmds containing ip address commands ( to set a secondary nic provided through multus ) statically
the runcmds dont work

**What you expected to happen**:
the runcmd work

**How to reproduce it (as minimally and precisely as possible)**:

**

[2019-01-16 12:52] karmab commented on #1943
---
apiVersion: kubevirt.io/v1alpha2
kind: VirtualMachine
metadata:
  labels:
    kubevirt-vm: fedora1
  name: fedora1
spec:
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/domain: fedora1
    spec:
      domain:
        devices:
          disks:
          - disk:
              bus: virtio
            name: containerdisk
            volumeName: containervolume

[2019-01-16 12:54] karmab commented on #1943
here s a sample yml

[code]

[2019-01-16 18:14] davidvossel commented on #1919
We control what version of qemu and libvirt we ship.  We shouldn't be in a situation where we add something to our API that isn't supported by our version of qemu/libvirt. So from a qemu/libvirt perspective, I don't see a problem. The API updates will be coupled with the qemu/libvirt update.

The only thing I'd be concerned about detecting is node level kernel features that are required for these

[2019-01-16 20:54] fabiand commented on #1282
Please handle as you wish :)

[2019-01-17 07:18] woopstar commented on #1494
We are seeing this issue on a kube-virt (0.11.1) deployment to a default Kubespray cluster with default calico

[2019-01-17 07:34] dankenigsberg commented on #1494
@woopstar, currently KubeVirt does not support setting the MAC address of the default (primary) network. It is chosen by the CNI (calico in your case) and obtained by the VM (if it has the default network connected to it). Some CNIs (e.g. OpenShift-SDN, OVN) can be very opinionated about the MAC, and would not allow traffic if it uses another address.

We solved our problem is ovs-cni. I believe t

[2019-01-17 09:15] fabiand commented on #413
We have a basic one

/close

[2019-01-17 10:10] slintes commented on #1937
Issue in kubevirt-ansible is resolved, will close this

/close

[2019-01-17 10:10] #1937 closed

[2019-01-17 10:54] michalskrivanek commented on #1919
not on upgrades. In upgraded environments you will have VMs running with older images. They should keep running (i.e. stop/start, suspend/resume) with guest ABI being preserved - with older qemu/libvirt image - until VMs are explicitly "upgraded" to new version by admin/user.
We really need to have a proper upgrade discussion eventually:)

[2019-01-17 15:52] MarSik commented on #1919
@davidvossel Michal already mentioned the issue with long running older VMs. But there is another issue as well. You might not have enough nodes with the proper kernel version to be able to get the  synic support for the VMs you want to start. In that case you should be able to disable the feature to be able to start the VMs everywhere even though some optimization would be off.

Also the template

[2019-01-18 10:08] michalskrivanek commented on #1919
right, that is something which needs to be done in a controlled way, separately from the time of kubevirt infra upgrade. I guess it's rather a problem for templates and how/when they are applied than kubevirt core.

[2019-01-18 11:48] fabiand commented on #952
Two discussion points were:

a. direct attached volumes will behave differently than volumes (because they use a different tech stack) - This needs to be somehow implicitly visible from the API
b. Naively seen, qemu will need to access the storage targets. However, we can not leak the PV details into the VM Pod, as PV connection details are considered to be pirvate

WRT a.: Consider to not use `vo

[2019-01-18 11:48] fabiand commented on #952
/remove-lifecycle rotten

[2019-01-19 10:14] #1470 closed

[2019-01-21 00:37] volume-ji commented on #1852
is there any plan to support nvidia gpu? like pci-paasthrough?

[2019-01-21 10:59] fabiand commented on #975
DaemonSet sound pretty greedy to me, but increasing our controller scale
looks like a low-hanging fruit.

[2019-01-21 12:08] fabiand opened #1957 "Introduce "virtctl migrate""
/kind enhancement

Convenience verb to trigger a live migration

[code]

[2019-01-21 12:48] fabiand commented on #1576
Done

[2019-01-21 12:48] #1576 closed

[2019-01-21 12:49] #1201 closed

[2019-01-21 12:49] fabiand commented on #1201
Done by now

[2019-01-22 10:59] fabiand opened #1963 "Improve the operator to support upgrades"
/kind enhancement

We have an operator to perform delpoyment (#1122), the next step is to perform not major version, but minor version and below updates.

[2019-01-22 11:01] rmohr commented on #413
/reopen

We have no `restartPolicy` yet on the vmi.

[2019-01-22 11:30] rmohr commented on #413
/remove-lifecycle stale

[2019-01-24 09:43] slintes commented on #1122
Hey @fabiand, since we have a basic operator now, can we close this one, and track new features in separate issues only?

[2019-01-24 11:15] fabiand commented on #1122
+1

[2019-01-24 17:17] slintes opened #1973 "Let the operator handle the KubeVirt configuration ConfigMap"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently users need to create KubeVirt´s configuration ConfigMap before they deploy KubeVirt. Creation or modification of the ConfigMap after deployment will not be picked up by KubeVirt without manual restart of the virt components.

**What you expected to happen**:
Let the KubeVirt operator handle the ConfigMap

[2019-01-24 20:48] fabiand commented on #1973
Just noting that it's not strictly necessary that the operator is performing this work (IIUIC).

[2019-01-25 08:57] #1122 closed

[2019-01-28 08:12] fabiand commented on #1852
Heya, yes, device passthrough, including vGPU is planned.

[2019-01-28 12:31] fabiand commented on #1659
Today virtctl image-upload is purely client side driven and also not
catching error cases very well.

Any chance to give it some more attention?

[2019-01-28 16:16] cynepco3hahue commented on #1810
I want to reopen this issue because I see that VMI killed with OOM reason
`virt-launcher` pod
[code]

VMI
[code]

[2019-01-29 13:14] fabiand commented on #1940
I think this was fixed in master.

@gites can you please retry with 0.13?

[2019-01-30 08:46] cynepco3hahue opened #1984 "Sometime virt-controller crashes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Under the job https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/3351//artifact/check-patch.openshift-3.11-crio.el7.x86_64/mock_logs/script/stdout_stderr.log I can see that `virt-controller` failse with the Traceback(the problem that it cut to 15 lines)
[code]

**What you expected to happen**:
`virt-controll

[2019-01-30 12:15] machacekondra opened #1990 "Required API parameters could be empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a `VirtualMachine` object and sending following `spec`:
[code]

It fails, because `domain` is required for `VirtualMachineInstanceSpec`. So when we add an empty `domain` spec, it complains, that `devices` are required parameter, when we add also empty `devices` parameter, it succeed:

[code]

**What you expe

[2019-01-30 15:28] davidvossel opened #1993 "Support UEFI Secureboot"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

pr #1814 introduces UEFI support. As a follow up to that PR, we need to enable UEFI with secureboot.

The complication with enabling secureboot is that secureboot requires [certificate generation.](https://fedoraproject.org/wiki/Using_UEFI_with_QEMU) There is an iso image (/usr/share/OVMF/UefiShell.iso) with a program on it that can

[2019-01-30 23:16] davidvossel commented on #1993
Another thing to consider here is that the certs are generated the first time the vm is booted, and may be expected to remain persistent across multiple restarts. I think that would mean that the nvram file would need to be persisted.

[2019-01-31 09:19] sHaggYcaT opened #1994 "Zen topology issue"
If hardware node has Zen-based CPU, then CPU topology of VMI can't be setting up correct

/kind bug

**What happened**:

VMI has incorrect amount of cores and threads. In my example:

[code]

**What you expected to happen**:

VMI should has correct topology, in my example:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

* Install minishift in Zen-based(I expect, this bu

[2019-01-31 13:32] aglitke commented on #1993
Interesting. Do we have any idea of the size of these nvram files?  Rather
than using a pvc for such a small thing, what if virt-controller maintained
a pvc and stored nvram images for all vms there?  It may not be ideal due
to the burden of syncing and managing these images but use of a pvc may
also be overkill.

Would nvram be expected to be part of a vm snapshot?

On Thu, Jan 31, 2019 at 12:16

[2019-01-31 13:54] michalskrivanek commented on #1993
@aglitke see the parent issue. It's 128KB. Should be part of a snapshot ideally, yeah. fabian suggested inline them in spec, but 128KB is fairly large...so I don't know

[2019-01-31 14:13] simon3z commented on #1994
cc @fabiand @MarSik

[2019-01-31 16:50] cynepco3hahue commented on #1984
This bug can be related to the problem https://bugzilla.redhat.com/show_bug.cgi?id=1671322

[2019-01-31 19:08] michalskrivanek commented on #1994
yes, we need proper topology (missing in UI too), that's fairly easy.
But what about NUMA?

[2019-02-01 05:15] kunalkushwaha commented on #677
Hi,  If no one is working on this, can I work on this?

[2019-02-01 08:47] aglitke commented on #1659
We are already working on discoverability of the upload proxy url.  It
should be pretty easy to check for CDI and we are going to work on making
virtctl upload watch the pvc after upload to check for success or failure
annotation.

On Mon, Jan 28, 2019 at 1:31 PM Fabian Deutsch <notifications@github.com>
wrote:

--
Adam Litke

[2019-02-01 16:01] mhenriks commented on #1659
If the request to the http proxy succeeds, the data should be safely written to the PVC (and converted to raw if necessary).  But I guess the PVC is not ready to be used on another node until the upload server pod exits.  Which should happen quickly after the client request returns, but I guess it would make sense to wait for the PVC status to be Succeeded.

Failure handling/cleanup (delete virtct

[2019-02-01 16:35] rmohr commented on #1581
/close

KubeVirt runs in its own namespace for some time now. It is now possible to schedule the virt-handler ds to all nodes on OpenShift by solely updating the annotations on the KubeVirt namespace. Feel free to reopen if you think that there is more needed.

[2019-02-01 16:36] #1581 closed

[2019-02-03 07:28] #1276 closed, assigned to stu-gott

[2019-02-04 07:48] SchSeba commented on #1850
@justinbarrick ping?

[2019-02-04 08:34] fabiand commented on #961
/remove-lifecycle rotten

[2019-02-04 08:38] fabiand commented on #1609
/remove-lifecycle stale

[2019-02-04 09:46] cynepco3hahue commented on #1810
@MarSik @vladikr I believe we need to re-think our QEMU overhead calculation, because if set `requests` and `limits` pretty often we finish with VMI that was killed because of OOM reason.

[2019-02-04 12:35] gites commented on #1940
[code]

Tested on v0.13.2

[2019-02-04 20:37] fabiand commented on #677
I think this work would be welcome.

[2019-02-05 09:58] fabiand opened #2002 "Rename operator kind"
/kind enhancement

**What happened**:
Operator kind is `kubevirt.kubevirt.io`

I'd ask to rename it to `operator.kubevirt.io` or `application.kubevirt.io`.

**Anything else we need to know?**:
`kubevirt.kubevirt.io` seems to be to unspecific.

[2019-02-05 10:21] pkliczewski commented on #1990
@fabiand @stu-gott Any thoughts?

[2019-02-05 10:24] fabiand commented on #1990
Hm. Low priority enhancement?

@davidvossel ?

[2019-02-05 14:13] cynepco3hahue commented on #1700
This one already fixed.

[2019-02-05 14:13] #1700 closed

[2019-02-05 14:15] cynepco3hahue commented on #1857
Duplicate of https://github.com/kubevirt/kubevirt/issues/1858

[2019-02-05 14:15] #1857 closed

[2019-02-05 14:16] cynepco3hahue commented on #1858
@davidvossel Can you please check it? It the single pretty persistent error that we have among all lanes.

[2019-02-05 16:39] davidvossel commented on #1993
I don't think a PVC is overkill. It's not just nvram that needs to be persisted. We need to persist cloud-init and the secret/configmap disks as well. This is especially important during live migration.

Maybe we should consider a Blank DataVolume for this data.  We'd have to add an option the the VM to tell it to use a specific disk (which is backed by the DataVolume) for the dynamic data during

[2019-02-05 16:44] davidvossel commented on #1990
Is there a use-case for having a VMI without any devices? If so, then it shouldn't be required. If not, then we should ensure devices is both required and not empty.

[2019-02-05 23:08] davidvossel commented on #1858
I'm looking into this now. It's currently 100% reproducible.

I've identified several parts to the issue.

One is on CDIs side which I've filed [here](https://github.com/kubevirt/containerized-data-importer/issues/636).

Another is that we're not properly handling failed datavolumes. Our logic is supposed to re-try creating the datavolume after a randomized set of time, but that isn't occurring co

[2019-02-06 09:07] cynepco3hahue commented on #1858
@davidvossel Great thanks for the effort.

[2019-02-07 09:45] mmazur commented on #1990
@davidvossel this came up when trying to change vm state with ansible modules. Doing something like this:

[code]

won't ever have any actual devices or anything in the k8s api call. In such a case the only really required part is `spec.running` and the whole of `spec.template` could be optional. However that's not the case.

So the question here is: which parts of `spec.template` should we really

[2019-02-07 09:58] fabiand commented on #1445
/remove-lifecycle rotten

Alvaro, this sounds pretty much like an abstraction mechanism.
I.e. an image would abstract the volume parts - it could be a datavolume, or pv, or containerDisk?

Whereas a datavolume Image would have the provisioning capabilities. e.g:
[code]

Something like this?

[2019-02-07 10:15] machacekondra commented on #1990
@mmazur If the VM already exists all works just fine, because we patch the already existing object. Your playbook don't work just because the VM don't exist.

[2019-02-07 11:50] mmazur commented on #1990
Hmm, it's likely we're doing it wrong, need to look into it some more…

[2019-02-07 15:03] gites commented on #1940
Same thing on v0.14

[2019-02-07 15:42] mmazur commented on #1990
Yup, having looked into this more, I'm pretty sure this isn't worth dealing with inside kubevirt. If we handled this better in our code, we wouldn't have been hitting it here. @machacekondra I think you can close this.

[2019-02-07 16:03] slintes commented on #1940
Hi @gites,

I see the missing `status` was fixed.

That leaves us with the `resizeTo` field. As far as I can see it is just not part of the spec. The only place where I can find something about it, is in a PR of you, which was never merged....?

Current DataVolumeSpec: https://github.com/kubevirt/containerized-data-importer/blob/master/pkg/apis/core/v1alpha1/types.go#L40

Your PR: https://github.c

[2019-02-07 16:04] davidvossel commented on #1858
The DV isn't exactly failing. Something strange is occurring in the CDI import retry logic. https://github.com/kubevirt/kubevirt/pull/2004

[2019-02-07 17:17] #1858 closed

[2019-02-07 18:10] davidvossel opened #2011 "VM Metric aggregator container"
/kind enhancement

#1840 Is introducing a VMI aggregated collector into the virt-handler process. I think the aggregated collector belongs in the virt-handler Pod, but it's possible we should consider moving the aggregator to a separate container within that pod. This would isolate the virt-handler VMI launch flow, migrations, shutdowns, etc... from the aggregated metrics collection.

The pros of

[2019-02-07 18:19] davidvossel opened #2012 "VM Metric aggregator http rate-limiting"
/kind enhancement

#1840 introduces an aggregated VMI metrics collector endpoint into the virt-handler component. This endpoint involves reaching into each of the guest's pods to retrieve information from the guest's corresponding libvirt processes. Depending on how many VMIs are running on a node, this isn't an action we'd want to be performing often.

We need some basic form of project that ensu

[2019-02-07 20:15] mlsorensen opened #2013 "AggregationController failed with: ERROR $root is missing required properties: info, swagger"
When running tests with 'make cluster-up' I'm seeing the kubernetes API server continuously requeuing v1alpha3.subresources.kubevirt.io because the response is missing info and swagger properties:

[code]

This doesn't seem to cause any functional issues, but causes unnecessary work for the API server and can be a red herring for troubleshooters when there are cluster issues.

[2019-02-08 11:31] fabiand commented on #1491
With the operator work of @slintes this should be finally addressed.

[2019-02-08 11:37] fabiand commented on #1491
@gageorsburn did you try the new operator install and uninstall way?

https://kubevirt.io/user-guide/docs/latest/administration/intro.html#2-alternative-flow-aka-operator-flow

[2019-02-08 11:43] fabiand commented on #1994
In other words:

You request
[code]

but you get
[code]

and you are saying this can be fixed by adding the `topoext` flag?

[code]

@sHaggYcaT as @vladikr requested - could you provide the domxml to see what domxml kubevirt generates?

@berrange are you aware of an issue in qemu which could lead to this?

[2019-02-08 15:01] sHaggYcaT commented on #1994
Already posted. Again: https://raw.githubusercontent.com/sHaggYcaT/kubevirt_tools_and_scripts/master/cpu_cores_threads_sockets/zen_issue/vm.xml

This is it. I've uploaded, but not added link in first message:
https://raw.githubusercontent.com/sHaggYcaT/kubevirt_tools_and_scripts/master/cpu_cores_threads_sockets/zen_issue/vm_manifest.yaml

Yes,

yes. Full lspcu:

https://raw.githubusercontent.com/s

[2019-02-08 17:07] gageorsburn commented on #1491
@fabiand Yeah we've had good results with the operator so far. Honestly overall KubeVirt has been a lot more stable than it was last year.

[2019-02-08 18:09] vladikr commented on #1994
I think the problem is that you are asking for 3 threads - this just doesn't exist on these cpus. I think it's just being adjusted to a better equivalent which is 4 sockets, 6 cores, and 1 thread.

@sHaggYcaT Can you please try launching a VM with 1 or 2 threads?

[2019-02-08 18:45] sHaggYcaT commented on #1994
@vladikr could you please just run this test: https://github.com/kubevirt/kubevirt-ansible/pull/537
In the Zen host?
I've wrote automation.
It generates a lot of different cases (cpu/threads/sockets/etc), and run this VMs
Sorry for dirty code. This PR still in progress.

So, this test works in official CI (with Xeons), but always fail in the Zen desktop.
Example from this test:

https://github.com

[2019-02-10 14:45] #1865 closed

[2019-02-10 19:12] gbenhaim commented on #1829
The issue occurs when the local-volume provisioner (for some reason) doesn't clean the local-volume. thus `cdi-importer` fails to import the vm image with:

[code]

Reproducer:

[code]

I've tried to force `pv` cleanup by removing all the pv objects before the tests, be it didn't work. The `pvs` were recreated by the provisioner, but the `disk.img` file wasn't removed from them.

@cynepco3hahue An

[2019-02-11 08:50] fabiand commented on #1247
@MarSik I think this has been addressed by the cpu labels on nodes and selectors on the kubevirt side?

[2019-02-11 09:25] fabiand opened #2016 "Drop floppy support"
/kind enhancement

Today our API supports floppy drives: https://kubevirt.io/api-reference/master/definitions.html#_v1_floppytarget

However, newer qemu machine types don#t support floppies anymore.
Because none of our core functionality is depending on floppies, and because most floppy uses can be safely replaced by CD-ROM based flows (CD-ROM can still be used), I'm proposing to drop the floppy s

[2019-02-11 09:25] fabiand commented on #2016
Also proposing to make this a critical/urgent item in order to get this removed from the API asap.

[2019-02-11 10:08] berrange commented on #1994
On Intel CPUs you can typically fake whatever topology you want for guest CPUs and it will be visible to the guest as requested.

With AMD this isn't so simple. IIUC, the mechanism for expressing topology to the guest simply has no way to represent threads != 1 traditionally. When AMD introduced SMT for their CPUs, the topoext feature was introduced to provide a mechanism to represent threads != 1

[2019-02-11 13:40] sHaggYcaT commented on #1994
1) I suggest to do additional investigation and performance tests.

2) At least we have to change a behaviour of the kubevirt(what it generates for libvirt/qemu) if the user tries to setting up threads in the Zen hardware node. I think, nobody expects confusing threads and cores inside VM.
And sometimes somebody can use custom topology not only for performance, but for some kind of test their own

[2019-02-11 14:47] fromanirh commented on #2011
I think that the pros in splitting the aggregator in a separate container outweights the costs, and I volunteer for the implementation once PR#1840 is merged.

It is true we add some complexity, but OTOH once we set up properly the pod, the maintenance costs of the separate container are expected to be low (IOW, changes are expected to happen rarely)

[2019-02-11 19:49] bharatnc opened #2017 "error while trying to vendor kubevirt api"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I was trying to leverage the kubevirt api in my gocode to create VMs on Kubernetes. I am making the import as ```	"github.com/kubevirt/kubevirt/pkg/api/v1"```. But when I run ``dep ensure`` (I use dep as my package management tool), I get the following error.

[code]

It seems like that dep is unable to pull  "kubevirt.io/container

[2019-02-12 08:34] petrkotas commented on #2017
Hi @bharatnc KubeVirt uses glide as dependency manager for golang and currently we do not support dep.

We have tried dep in the past, but it was its early days and it did not worked properly. Therefore the project stuck with glide.

[2019-02-12 08:43] cynepco3hahue commented on #2017
@bharatnc please use import path `kubevirt.io/kubevirt/pkg/...` instead of `github.com/kubevirt/kubevirt/pkg/...`

[2019-02-12 13:45] slintes commented on #2017
I think this issue isn't related to dep vs glide, or using github.com in the import. It's a problem with the setup of the kubevirt.io website, and the meta data for go imports. There is some metadata on kubevirt.io:
[code]
But not on kubevirt.io/kubevirt (and other projects), as it should be (to my best knowledge).

Thx @bharatnc for reporting! Will try to figure out how to fix this, but it might

[2019-02-12 14:14] cynepco3hahue commented on #2017
@slintes IIUC it cannot get `kubevirt.io/...` packages from the vendor, because it does not exist under the vendor, because the link wasn't correct (`github.com/kubevirt` instead of `kubevirt.io`), but let's wait for more information from @bharatnc :smile:

[2019-02-12 14:48] bharatnc commented on #2017
@cynepco3hahue , that doesn't work:

[code]

[2019-02-12 14:50] bharatnc commented on #2017
@slintes, thank you!

[2019-02-12 15:15] cynepco3hahue commented on #2017
@bharatnc Can you please share your `Gopkg.toml` file?

[2019-02-12 15:57] petrkotas commented on #2017
@bharatnc sorry for not asking right away. How did you obtained the KubeVirt?
Where is your Kubevirt folder located on the disk, as well what is your $GOPATH ?

[2019-02-12 17:29] bharatnc commented on #2017
Couldn't get ``github.com/kubevirt/kubevirt/pkg/api/v1`` using ``go get`` or ``dep`` so I just cloned the repo and put it here: ``~go/src/github.com/kubevirt``.

FYI:

Error while trying to fetch using``go get``

[code]

Also ``$GOPATH`` is : ``~/go``

[2019-02-12 17:33] bharatnc commented on #2017
@cynepco3hahue , nothing that much in the Gopkg.toml file.

I tried to do a fresh init using ``dep init -v``, added the ``main.go`` file and tried running the ``dep ensure -v`` command to sync the imports, ``Gopkg.toml`` , ``Gopkg.lock`` files and the vendor folder.

The ``main.go`` file:

[code]

Also the Gopkg.toml file looks like this:

[code]

[2019-02-12 20:11] slintes commented on #2017
just did some tests with vanity urls, `go get` and go modules, where one imported package is configured on the root homepage only, and another one also on the package page.
Neither `go` get checks the root page, nor does `go build` on a module:

[code]
I think we really need to configure https://kubevirt.io/<project> etc. to return a page with the needed go-import meta tag. Will check how to do th

[2019-02-12 21:14] slintes commented on #2017
Argh.... forget all my comments. kubevirt.io is configured fine, I just missed a trailing slash with curl when testing... :/ Sorry.

[2019-02-12 22:25] bharatnc commented on #2017
@slintes , thanks, But still, when I do ``go-get`` on ``github.com/kubevirt/kubevirt/pkg/api/v1`` I get the following:

[code]
Is it possible that one / or ,ore packages inside of kubevirt isn't configured properly?

[2019-02-12 22:38] bharatnc commented on #2017
When I use glide to generate the vendor folder for the file that I'm using (incldued) above, seems to complain of the same issue:

[code]

[2019-02-13 01:53] bharatnc commented on #2017
These 2 are the problematic imports: https://github.com/kubevirt/kubevirt/blob/master/pkg/api/v1/types.go#L45-L46
[code]

[2019-02-13 05:53] petrkotas commented on #2017
@bharatnc @slintes I just did `go get -u -d kubevirt.io/kubevirt` and it works just fine. The site is configured properly.

The issue is, every bit of import in kubevirt library expects the path to be `$GOPATH/src/kubevirt.io/kubevirt` and not `$GOPATH/src/github.com/kubevirt`.
This is the reason why it does not work.

@bharatnc please correct the paths and then try again.
Also please note, we rea

[2019-02-13 09:41] slintes commented on #2017
@bharatnc this is not intended to work, you do `go get` on the root of a project.

For dep that would mean (with the correct vanity url):
`dep ensure -add kubevirt.io/kubevirt`

But that also doesn't  work, because dep needs a Go file on the root of a project, see e.g. [1] (the workaround with `[[prune.project]]` and `non-go = false` doesn't work for me).

So we need to add a dummy Go file to Kube

[2019-02-13 14:09] bharatnc commented on #2017
@slintes, yes that makes sense! Thanks a lot for the PR. If help is needed on #677, would be more than happy to contribute.

[2019-02-13 14:49] slintes commented on #2017
great :+1:  Someone on that issue volunteered to work on that, feel free to ask for the current status :slightly_smiling_face:

[2019-02-13 15:31] bharatnc commented on #2017
@slintes , just wanted to confirm - not sure if the following packages would need .go files to be present inside them:

[code]
For atleast one of the files, I get the following:

[code]
This we won't ned for ``"kubevirt.io/kubevirt/pkg/precond"`` as your PR is already adding .go file to the kubevirt.io/kubevirt prj directory.

[2019-02-13 15:43] terinjokes opened #2021 "api server logs full failing to fetch subresources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

API Server logs are full of errors attempting to fetch KubeVirt subresources:

[code]

These errors persist even if no KubeVirt controllers and no virtualmachine resources are in use.

**What you expected to happen**:

I expect my API Server logs to be much quieter.

**How to reproduce it (as minimally and precisely as p

[2019-02-13 18:10] bharatnc commented on #2017
@slintes , got an update:

When I try to vendor you branch using ``dep``, it almost succeeds, but gets stuck with this import:

[code]

[2019-02-13 18:46] bharatnc commented on #2017
@slintes , verified that my intuition is correct. I have opened a PR in here: https://github.com/kubevirt/containerized-data-importer/pull/655, as I think the maintainers are different here.

TLDR;

To test, I added these additional stanzas into my ``Gopkg.toml`` file and then there was no problem vendoring :)

required = [
       "kubevirt.io/kubevirt/pkg/precond",
	"kubevirt.io/kubevirt/pkg/api/

[2019-02-13 18:47] slintes commented on #2017
@bharatnc ack, thx for confirming. I created https://github.com/kubevirt/containerized-data-importer/pull/656

[2019-02-13 18:48] slintes commented on #2017
oh, bad timing, now we have 2 PRs. I will close mine, ok?

[2019-02-13 19:05] slintes commented on #2017
done

[2019-02-14 10:17] #2017 closed

[2019-02-14 10:38] slintes commented on #2017
`dep ensure -add kubevirt.io/kubevirt` works for me now
@bharatnc can you confirm?

[2019-02-14 12:41] #2021 closed

[2019-02-14 12:42] terinjokes commented on #2021
Issues resolved itself.

Something seems to be registering v1alpha2 that doesn't exists, but that might be worth another issue:

[code]

[2019-02-14 13:45] fromanirh opened #2023 "VM metric memory stats"
/kind enhancement

**What happened**:
PR https://github.com/kubevirt/kubevirt/pull/1840 is adding VM metrics reporting. It reports minimal metrics about memory, `rss` and `available`.  During the review, more memory metrics were suggested, like `swap_in`. This issue is to track the additions of more memory metrics

[2019-02-14 14:19] annastopel commented on #1863
fixed in https://github.com/kubevirt/kubevirt/pull/1981