[2017-10-30 15:39] lukas-bednar commented on #485
On behalf of @davidvossel , Thank you for awesome hint!

Changes to API require re-running

Unfortunately in order to get `openapi.json` I need running KubeVirt,
so I can not do it in TravisCI job, I will have to move to Jenkins job which execute tests.

Then the flow will be like this:
* put current `openapi.json` into repository
* when KubeVirt is running obtain API specification
* compare it wi

[2017-10-30 16:33] davidvossel commented on #485
@lukas-bednar Is it possible to give the virt-api server a flag that will make it immediately dump the openapi.json file and exit instead of actually starting the http server?

[2017-10-30 16:40] lukas-bednar commented on #485
@davidvossel I saw some examples in `go-restful-openapi` repository how to do that:

https://github.com/emicklei/go-restful-openapi/blob/0d037b269a5b53b582789e25dee0d0a0614119e5/examples/user-resource_test.go#L28

I will try to do that, thanks!

[2017-10-31 08:41] michalskrivanek commented on #533
I'd like to consider pvpanic device, it's a bit more generic and doesn't require guest agent to function. It should be added as part of implementing #466

Performing guest-side health checks is a bit more involved, for that an agent would be needed, but there is no support in qemu-ga for that

[2017-10-31 09:46] ifireball commented on #534
I suggest we make an `automation/build-artifacts.sh` script that will install all the needed dependencies and trigger builds. Then we can call it from both `test.sh` and Travis as well as make the CI system run it when typing 'ci build please' on PRs.

This will enable people to use [mock_runner.sh](ovirt-infra-docs.readthedocs.io/en/latest/CI/Using_mock_runner/) to locally get builds without worr

[2017-10-31 15:18] mz-pdm commented on #413
It seems that, perhaps thanks to David's great VM life cycle work, there is no issue with (the implicit) RestartPolicy `never`. E.g. when I kill a qemu process or reboot its node, I can't observe anything obviously wrong.
As discussed above, there are some pros and contras as for other restart policies. So I'd suggest to keep this issue open and see whether we have a good use case for them.

[2017-10-31 15:23] lukas-bednar commented on #485
@davidvossel  I was able to do it. but in order to execute `virt-api` it requires kubeconfig file.
And I don't have this file available at build time.
You can take a look at patch here #535 .

[2017-11-01 15:23] lukas-bednar commented on #485
@fabiand I got this issue into state, where I have everything ready to let GitBook to render it.

I have `api/openapi-spec/swagger.json` in KubeVirt repository.
Now I can let GitBook to render it. I have following patch which adds necessary configuration for gitbook.
https://github.com/lukas-bednar/kubevirt/commit/a8cb189fcd9282ae8fac7cc2a7be30eb9a6ca202

This is how it looks like: https://lukas-b

[2017-11-01 15:56] fabiand commented on #485
Great progress.

I was looking at the link, and a few notes:
The links are broken, not sure what is causing it.
I also wonder, if this large api is suited for that way of presentation.

I actually wonder if we can rather use your work to create a reference similar to Kubernetes one, see https://v1-7.docs.kubernetes.io/docs/api-reference/v1.7/

Do you know how this is getting created, @lukas-bednar

[2017-11-01 17:52] cynepco3hahue commented on #491
@fabiand I checked EFK stuck for dev environment, and I do not sure if it reasonable to run such heavy thing on dev environment with limited resources. I do not talk about fluent thanks to @kfox1111 chart it has easy installation, but the installation of es from https://github.com/kubernetes/charts/tree/master/incubator/elasticsearch more complex and needs more resources(es data pod requires a lot

[2017-11-01 17:55] kfox1111 commented on #491
There is a file backend to the fluent-bit chart that can dump everything to a single file. that might work for devel purposes?

[2017-11-02 14:08] petrkotas commented on #507
Hey, I have figured the solution to this issue. However, it has to be implemented by the [Kubevirt.io](http://kubevirt.io) admin.

The go get command can download go packages from version control. This feature, however, requires the proper information for it to work.

1) It prefers HTTPS connection. The HTTP is allowed only with flag `go get -insecure http://foo`, this is a discouraged settings.
2

[2017-11-02 22:00] fabiand opened #542 "Use NodePort, drop externalIPs once CNI is fixed"
In #538 we move every inbound access to ingress.
However, the simple nodePort service type would be convenient, because we wouldn't need to specify any IP, but there is a bug in CNI (which we use) which is preventing this (kubernetes-incubator/kube-aws#704).

Once that bug is fied we can change the service to NodePort as well, which allows us to drop exteranlIP for good.

[2017-11-03 06:52] rmohr commented on #542
Can you elaborate on what is not working? What is not working in CNI? Is there a bug open agains weave?

[2017-11-03 08:33] fabiand commented on #542
Using a service like

[code]

[2017-11-03 11:37] rmohr commented on #534
@lukas-bednar I have an issue with putting that stuff into the makefile, since the commands install binaries in a user BIN path.

@ifireball I don't think that mock_runner will play any role in KubeVirt (except from your attempt to support standard CI). I think that #447 is the right direction to go.

[2017-11-03 12:43] rmohr opened #543 "Add unknown state to VMs"
The VM controller needs to check, if e.g. the synchronized condition on the VM is not updated every X seconds, we need to move the VM to state "UNKNOWN", since we don't know what is going on with it.

The situation is easy to reproduce: Schedule a VM on e.g. node0 and kill node0 after the VM entered the Running state. Until the VM comes up again, the VM will be shown as Running.

[2017-11-03 12:44] rmohr commented on #543
@mz-pdm that might be an issue which interests you ...

[2017-11-03 13:13] #455 closed

[2017-11-03 14:16] mz-pdm commented on #543
@rmohr, definitely, thank you, I'll look at it.

[2017-11-05 07:51] ifireball commented on #534
@rmohr how about if we make a 'docker_runner', or a 'vagrant_runner'? The trouble I have with rolling your own custom solutions like in #447 is that it makes it much harder for me to do things like have the CI system figure our that the build environment did not change and an older cached copy can be used, or control where the build environment pulls the build tools from.

[2017-11-06 09:56] rmohr commented on #534
@ifireball e.g. ` go get -u github.com/golang/dep/cmd/dep ` pulls in the latest version from dep. How do you find out that you have that version in the mock environment, without creating it?

[2017-11-06 12:26] ifireball commented on #534
@rmohr having a build/test script try to get the latest version of something is a worst-case scenario where the process is not reproducible. But even in that case we can strike a balance by caching the environment for a day or two. It usually ok to use a 2 day old version. We typically key the cache with a checksum of the dependency list file so that devs can change it to force the system to get n

[2017-11-06 13:52] rmohr commented on #534
Hm, while I agree that it is not always good or useful to pull in the latest version of something, I don't find all that very appealing. I perfer much more the direction, where I can explicitly tell a system what I want to see cached. E.g. the vendor folder.

[2017-11-06 14:10] ifireball commented on #534
@rmohr you can always pull/install things from the build/test scripts. That makes them invisible as far as the caching system is concerned.

What I'm talking about, is making sure that that build dependencies that should be cached, can be.

Breaking caching is easy, making it work in the 1st place is the hard part...

[2017-11-06 16:32] lukas-bednar opened #547 "According to schema VM.OS.BootOrder is not allowed to be empty, however it is empty"
So far I encouraged issue with following objects
* [x] VirtualMachine.OS.BootOrder (#567)
* [x] VirtualMachineReplicaSet.VMReplicaSetStatus.Conditions (#579)
* [ ] APIGroup.ServerAddressByClientCIDRs

According to schema VM.OS.BootOrder is not allowed to be empty
https://github.com/kubevirt/kubevirt/blob/cb49b6784d8593f4417671c6994ac4f20b7d3b4b/pkg/api/v1/schema.go#L210-L215

When listing VMs I ca

[2017-11-06 16:45] lukas-bednar commented on #547
I am getting same issue for different attribute when obtaining APIGroup.
`GET /apis/kubevirt.io`
[code]
It is defined by K8S as
[code]

[2017-11-06 17:27] rmohr commented on #547
We can also do code generation based on a `+optional` in the comments like kubernetes does, or we can use the ````optional="true"```` go tag on every struct field.

For default values, I don't think that go-restful has support for that right now. We can either do code generation here, or maybe try to extend `SwaggerDoc()` function override provided by go-restful. We use that override right now to

[2017-11-07 11:07] lukas-bednar commented on #547
@rmohr I am sorry, but I don't know what to change.

I understand that these ```
Field int `json:"myName,omitempty"`
``` are used by `encoding/json` module.

What tool is supposed to read these `// +optional` comments?
And how it will help me with deserialization problem of some objects ?

[2017-11-07 12:23] lukas-bednar commented on #485
@fabiand I took advice from @rmohr and I was able to generate html documentation using `swagger2markdown-converter` and `asciidoctor`.

It looks like this:
![kubevirt-api-doc](https://user-images.githubusercontent.com/1505684/32493517-6743e568-c3be-11e7-9f86-d527d068da5f.png)

I didn't get any response from K8S https://groups.google.com/forum/#!topic/kubernetes-users/xGRzQISSxVs

If you are satisf

[2017-11-07 12:31] rmohr commented on #485
looks very similar to the one from k8s. See also https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/hack/gen-swagger-doc/gen-swagger-docs.sh for the exact postprocessing, after they have invoked gradle.

[2017-11-07 13:53] fabiand commented on #542
@rmohr you mentioned that it might be an outdated cni version in weave - but isn't cni shipped with kube?

[2017-11-07 14:15] fabiand commented on #542
lThis might actually be weaveworks/weave#3016

[2017-11-07 14:35] lukas-bednar commented on #485
@rmohr please take a look at #550 , I adapted K8S post-processing script to generate api reference documentation.

[2017-11-07 15:21] rmohr commented on #542
@fabiand yes that looks like the one. Thanks for digging it out.

[2017-11-07 20:41] ArchiFleKs commented on #542
@fabiand I don't think it is related to CNI or Hostport if you are using Services, NodePort are handled by kube-proxy, and service are in a specific range :

If you set the type field to "NodePort", the Kubernetes master will allocate a port from a flag-configured range (default: 30000-32767)

That's why your automaticly assigned service are working and not the one you specified manually outside t

[2017-11-07 22:02] davidvossel opened #553 "Create stateless subresources api endpoint and remove haproxy"
Create an aggregated api server for the Console/Spice virtual machine subresources and remove haproxy entirely.

The Console/Spice subresources are stateless. This means we can adopt an aggregated API server for those subresources and continue to use CRDs for persistence of our cluster objects.

The api server spec should look something like this.
[code]

This is an intermediate step that lets us

[2017-11-07 22:10] davidvossel opened #554 "separate ingress services from kubevirt component manifests"
In an effort to make our development KubeVirt component manifests as generic as possible, we need to separate our vagrant ingress services containing references to externalIPs from the kubevirt components.

Put all ingress services related to vagrant in vagrant-services.yaml. This will move us in the direction of being able to use the kubevirt component manifests in environments outside of vagrant

[2017-11-07 22:12] davidvossel opened #555 "Remove node selectors from KubeVirt manifests."
Depends on #553

Once #553 is complete, remove the node selectors from the KubeVirt component manifests.  #553 must be completed first because of the use of haproxy expects some components to live on a specific node. Once we remove haproxy, the node placement requirement is gone.

[2017-11-07 22:18] davidvossel opened #556 "Use k8s initializers for CRD admission control, and basic defaulting"
The short to medium term plan for the KubeVirt api is to continue to use CRDs for management of our cluster objects, and use the aggregated api server for stateless subresources (like Console and Spice).

For admission control and basic defaulting, we'll need to utilize k8s ability to create dynamic admission controllers and initializers.

https://kubernetes.io/docs/admin/extensible-admission-cont

[2017-11-07 22:41] steigr opened #557 "404 when connecting to console"
I just tested kubevirt on tectonic. I deployed the manifest-files from v0.0.4 and all pods get up and running fine. When I want to connect I get following error.
[code]

The requested resource is: `wss://kubernetes.example.com:443/apis/kubevirt.io/v1alpha1/namespaces/default/virtualmachines/testvm/console`

Kubernetes version is 1.8.2.

As I don't understand how the websocket is mounted behind the

[2017-11-08 07:32] rmohr commented on #557
Hi @steigr,

Yes that is a little bit confusing. We started with aggregated API-Server in mind before it was available and did not yet catch up with the aggregated API server availability. Right now we have a haproxy instance which proxies between our resources and kubernetes resources to provide a unified feeling. Since you are using the manifests from the repo, you should be able to connect to t

[2017-11-08 07:46] rmohr commented on #555
haproxy does not need it. Some tests need it right now (they just need to be reworked) and it avoids unexpected timeouts during development/testing if you removel nodes to the cluster, since all core components always run on master, which is the only VM in our vagrant environment, which is always there.

[2017-11-08 07:52] rmohr commented on #554
I know it is nitpicking, but also without that separation it is possible to deploy these manifests outside of vagrant. One can either adjust externalIPs to its needs and run `make generate`, or simply plug in our services via any other way (e.g. ingress) and just use different public ports. But moving them into one file, to make it easier to skip them is fine.

[2017-11-08 08:14] rmohr commented on #485
I wonder if we can add it to the user-guide repo (e.g. letting travis do an automatic build and do a commit to the user-guide repo). But I am not sure how we can add such an "external" file to gitbook nicely.

[2017-11-08 09:56] cynepco3hahue opened #559 "Change our resources labels to something more unique"
Currently, we have labels in the form of `app=`for all resources except `DaemonSets` that have labels in the form of `daemon=`, I think we need to make labels more unique and also make it consistent with all resources.
I think it can be something like `kubevirt-app=` for all resources, it will similar to k8s approach `k8s-app=`.

[2017-11-08 10:27] rmohr commented on #559
Glad if you rename them. There exists the convetion in k8s that an extension should use its own group name as part of the label: `kubevirt.io/daemon`, `kubevirt.io/app`, ...

[2017-11-08 11:07] cynepco3hahue commented on #559
ok, I can change it to `kubevirt.io/app`, but can we have the same style for DaemonSets as well?

[2017-11-08 11:11] rmohr commented on #559
I am not sure if I understand the question. You can rename any label following that style, so that they hve the `kubevirt.io` prefix. Or what do you mean?

[2017-11-08 11:15] cynepco3hahue commented on #559
@rmohr I want to avoid using different labels like `kubevirt.io/daemon` and `kubevirt.io/app`, it will make possible to look for all KubeVirt resources, just with one command
`kubectl get all -l 'kubevirt.io/app'`

[2017-11-08 11:17] rmohr commented on #559
Oh, now I get it. You want to just use one label name. Works for me.

[2017-11-08 11:48] lukas-bednar commented on #485
@rmohr `swagger2markup` can generate markdown as well. I can add option to generate *.md instead of *adoc. Then push these *.md files to user-guide repo and add reference these files in user-guide/SUMMARY.md file.
Then gitbook can render such documentation as usually.

What do you think ?

[2017-11-09 08:41] fabiand commented on #555
@rmohr can you tell which tests are affected?

[2017-11-09 11:28] fabiand commented on #485
Let's not combine the user-guide and API reference.

Let's compile to API reference and commit it to a separate repo, we can then publish it like the blog (https://kubevirt.github.io/blog/), i.e. at https://kubevirt.github.io/api-reference.

The user-guide can then reference it.

[2017-11-09 12:05] lukas-bednar commented on #485
@fabiand OK, thanks for input. Can you please create repository either under `kubevirt` or kubevirt-incubator` organization?
Then I need decision whether we will use that markdown and let github to render it,or somewhere else under kubevirt.io as html or whatever else you prefer ... :-)

[2017-11-09 12:07] rmohr commented on #485
@fabiand maybe you can merge your kubevirt.io refactor and then just commit it to the kubevirt.io repository?

[2017-11-09 12:08] rmohr commented on #485
I meant, we could also just commit it automatically into a subdirectory in https://github.com/kubevirt/kubevirt.github.io.

[2017-11-09 12:17] fabiand commented on #485
Thanks for reminding me of that.

I'd keep it separate for now,  for the sake of automation and permissions.

[2017-11-09 12:35] rmohr opened #564 "Generate predeployed Kuberntes Images based on kubeadm separately"
Goals are:

 1) Make it simpler to change kubevirt manifests without having to think about cleaning an already deployed version
 2) Decouple k8s deployment errors from KubeVirt errors
 3) Gain a permanent caching benefit by always using preprovisioned k8s images

[2017-11-09 12:35] rmohr commented on #564
@cynepco3hahue FYI

[2017-11-10 10:35] fabiand commented on #485
@lukas-bednar @gbenhaim and I discussed this and agreed to start with https://github.com/kubevirt-incubator/api-reference.

@lukas-bednar will setup the basic stuff there, once that is done and we have settled with

- API presentation
- Automation

We will revisit where to host it.

This seemed to be the most frictionless way of moving forward.

[2017-11-13 09:52] fabiand commented on #564
@rmohr could you explain this issue a little more? The issue and the solution you have in mind.

[2017-11-13 09:59] rmohr commented on #564
Sure. It has its own complexity to deploy k8s. Kubeadm can have an issue, the newest k8s release can have an issue. Further we need to test against different k8s versions, different open shift versions and (probably) different network providers in the future. Therefore having dedicated jobs, which re-create/update base images with k8s periodically and do basic sanity checks, we can make our testin

[2017-11-13 10:01] rmohr commented on #564
For as long as we are using vagrant, we can e.g. do a vagrant up, wait until the provision script succeeds and then upload the result to vagrant cloud with the appropriate version tag. If we move over to do something more like Cockpit does, we can host the images somewhere else.

[2017-11-13 11:41] lukas-bednar commented on #485
@fabiand I added some improvements there: https://github.com/kubevirt-incubator/api-reference/pull/4

If there is no comment, I can take a look at process how to keep that reference up to date.

[2017-11-14 11:42] fabiand commented on #564
Thanks for clarifying this.

[2017-11-15 15:47] lukas-bednar opened #568 "OpenAPI: the operation name to list kubevirt objects doesn't have accurate name"
When we take a look at API operations which are used to list KubeVirt's objects,
I find them not really accurate.

[code]

That `List` suffix is confusing in my opinion.

It is just GET on following objects (all/namespaced)
* migrations
* virtualmachines
* virtualmachinereplicasets

when I read K8S api reference https://kubernetes.io/docs/api-reference/v1.8/ I can read
[code]

I would drop 'List'

[2017-11-15 15:58] lukas-bednar commented on #568
If you have other suggestions please let me know!

[2017-11-15 16:12] humblec opened #570 "Support GlusterFS PV transformation to VM disk"
The plan is to support GlusterFS PV as VM disk in kubevirt.

Design:
Get GlusterFS PV from PVC.
Tranform that to Qemu libgfapi driver connection to Qemu and present as VM disk.

Thoughts ?

ps# WIP patch  https://github.com/kubevirt/kubevirt/pull/578

[2017-11-16 09:50] #568 closed

[2017-11-16 11:23] fabiand opened #573 "Create policies for OpenShift"
Deloyment on OpenShift requires some policies to be adjusted, namely:

- PodPolicy
- ClusterPolicy

This post has more details: http://adam.younglogic.com/2017/08/deploying-kubevirt-on-origin-master/

This card is about identifying what needs to be provided for OCP, and provide the relevant patches.

[2017-11-17 07:36] #300 closed

[2017-11-20 14:03] KennethNagin opened #580 "gettingstarted: vagrant up no supported architecture for os type 'hvm'"
I'm following your gettingstarted.md, however when trying to do vagrant up I get this error:
Error while creating domain: Error saving the server: Call to virDomainDefineXML failed: internal error: no supported architecture for os type 'hvm'

These are the details:
kubevirt$ sudo vagrant up
Bringing machine 'master' up with 'libvirt' provider...
==> master: Box 'centos7' could not be found. Attemp

[2017-11-20 14:19] rmohr commented on #580
@KennethNagin could it be that you don't have nested virtualization enabled? Maybe worth checking that.

[2017-11-20 14:22] rmohr commented on #557
Feel free to reopen if you need more help.

[2017-11-20 14:22] #557 closed

[2017-11-20 14:23] rmohr commented on #554
Done in #560

[2017-11-20 14:23] #554 closed

[2017-11-20 14:23] rmohr commented on #555
Done in #560

[2017-11-20 14:23] #555 closed

[2017-11-20 15:01] KennethNagin opened #581 "howto deploy kubevirt on an existing k8s cluster"
I want to deploy kubevirt on an existing k8s cluster, Could you direct me to some documentation on the subject; I could not find anything.

[2017-11-20 15:24] KennethNagin commented on #580
@rmohr You are correct.  Nested virtualization is not enabled.    Apparently, in this particular VM enabling it is a problem. I will have to look into getting a host that I can enable nested.
I think you can close this one.
Thanks for your prompt response.

[2017-11-20 16:58] lukas-bednar opened #582 "Implementation of Watch API call is missing"
When I work with KubeVirt via API, I would like to be able to listen on events generated by KubeVirt's objects, instead of pooling API for list of objects.
I see that relevant call is pointed to `NotImplementedYet` function
https://github.com/kubevirt/kubevirt/blob/63b774307c2afe6590040423f50e5dbaae734df0/pkg/virt-api/rest/kubeproxy.go#L165-L166

[2017-11-20 17:07] rmohr commented on #580
If you don't mind that the VMs inside the nested VM are (possliby very) slow, you can also disable `domain.nested` to `false` in the Vagrantfile.

[2017-11-21 08:14] fabiand opened #584 "Move testing/demo related entities and testing back to default namespace"
It's generally good that the runtime components were moved into the `kube-system` namespace with #558.

However, that PR moved _all_ components to the `kube-system` namespace - including the demo and testing related components (i.e. iscsi targets).

But it makes sense to actually keep the demo and testing related components in the `default` namespace and the runtime components  in the `kube-system

[2017-11-21 08:15] fabiand commented on #584
@cynepco3hahue could you take a look at this?

[2017-11-21 08:17] cynepco3hahue commented on #584
@fabiand Sure, we talked about it yesterday, so I need to check that @davidvossel did not start to work on it.

[2017-11-21 08:20] rmohr commented on #584
@fabiand default namespace is not a good choice. We can create an extra namespace. However, there is no reason  from the development/testing perspective to assume that there exists an explicit "default" namespace.

[2017-11-21 08:47] cynepco3hahue commented on #584
@fabiand @rmohr So like we talked yesterday, something like `storage` namespace will be good enough?

[2017-11-21 08:48] rmohr commented on #584
Yes sounds good.

[2017-11-21 09:07] mz-pdm commented on #413
Is there currently anything regarding restart policies we need to implement? If not, I suggest closing this issue, we can open another issue when needed.

[2017-11-21 10:41] lukas-bednar commented on #485
Closing this issue as solved:
API Reference repository: https://github.com/kubevirt-incubator/api-reference
API Reference pages: https://kubevirt-incubator.github.io/api-reference/content/index.html

[2017-11-21 10:41] #485 closed

[2017-11-21 11:36] mz-pdm commented on #581
You can follow docs/dev-env-local.md, just skip "Running kubernetes" part.

[2017-11-21 12:05] lukas-bednar commented on #582
@rmohr I am taking look at Kubernetes API definition, and there is no `watchXYZ` operation.
On other hand I noticed that there are `listXYZ` operations which serves something like streamed `application/json` content, and in addition they have optional boolean parameter `watch`.
[code]
[code]
That is probably how they provide watch functionality.
Do you want to follow this direction, or do you want

[2017-11-21 12:40] rmohr commented on #582
@lukas-bednar I think I have read somewhere that the watch resource paths were removed in k8s.

Regarding to the api-docs, I would definitely want the `stream` parameter to be documented.

Regarding to implementing it: I think we can rely on the dirct CRD implementation of k8s. We want to directly query the CRD endpoints on the apiserver and use this service only for subresources (registered as ag

[2017-11-21 14:47] lukas-bednar commented on #582
@rmohr If I understand correctly, you say that this `watch` operation is already there by k8s.
I just need to add that `watch` parameter for `listXYZ` operations in order to get it through validation.
Is that correct ?

[2017-11-21 15:34] lukas-bednar commented on #582
@rmohr thanks, I was able to move on little bit further with #585 .
I hit issue with reading that stream ... I will try to dive into it.
[code]

[2017-11-21 16:08] rmohr commented on #582
@lukas-bednar what I actually meant is, that I am not sure, if it is even worth the effort to implement the proxy call (you would simply have to add authorization headers and proxy the whole request data), since we hope to get rid of the proxy for main resources (just subresources would actually reach that proxy, the rest would directly go to the apiserver). @davidvossel is working on implementing

[2017-11-21 18:31] davidvossel commented on #582
While I'd say there's still a bit of uncertainty around exactly what design we'll end up with for the api server, the one thing we're certain about is our usage of HAproxy (and the current virt-api component) will not remain.

Implementing this logic into the current api design will almost certainly result in it getting replaced by something else shortly.

[2017-11-22 12:05] lukas-bednar commented on #582
@rmohr @davidvossel tanks for input, I will leave it aside for now.
Do you have any expectation when I can expect to have this `watch` functionality?
I find it quite essential when working with K8S & KubeVirt via API.

[2017-11-22 12:07] rmohr commented on #582
@lukas-bednar you can point your client right now to the normal kubernetes api-server. You don't have validation then, but you can use watches. Maybe you can right now do writes on the proxy and reads from the apiserver. Actually when I think about it, we could do that right now in haproxy, based on the http method.

[2017-11-22 15:39] lukas-bednar commented on #582
@rmohr Thanks for hint, it helped me to overcome my issue!

[2017-11-23 08:48] cynepco3hahue opened #589 "CI continue falling on "Failed to install: hg is not installed""
You need to install mercurial to make it works.

[2017-11-23 12:27] lukas-bednar opened #590 "When removing VmReplicaSet, the scaled-up VMs are not deleted"
I am playing with virtual replica set. I have Q about behavior on deleting of replica set from cluster.

I have read [documentation](https://github.com/kubevirt/kubevirt/blob/master/docs/replica-sets.md) but I didn't find any about behavior on delete operation.

So I took a look at K8S [documentation](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/), and there is
[code]
Unfor

[2017-11-23 13:40] cynepco3hahue commented on #590
I think you can use --cascade flag, k8s does not remove automatically
nested resources.

On Nov 23, 2017 2:27 PM, "Lukas Bednar" <notifications@github.com> wrote:

[2017-11-23 13:56] rmohr commented on #590
@lukas-bednar you are right, it does not do that. The reason is, that we are not yet using something like the aggregated api-server. Therefore, we have no chance of introducing a graceful-delete (which means that the controller is just marked as deleted and the controller can clean up and delete itself after it is done). Therefore it works like a `--cascade=false` is specified.

[2017-11-23 14:02] ifireball commented on #589
Can you link to a failing job? Maybe is a matter of adding what ever is missing in the *.packages file?

[2017-11-23 14:06] lukas-bednar commented on #590
nested resources.

@cynepco3hahue but I want get my VMs get removed :-)

[2017-11-23 14:20] fabiand commented on #581
Closing as a dupe of #265

[2017-11-23 14:20] #581 closed

[2017-11-23 14:22] fabiand commented on #584
Please note that usually namespaces provide network isolation.

Currently our demo images are shared using the pod network,which means that they follow the namespace limitations.

If storage and vms are launched in different namespaces, then this will probably not work.

[2017-11-23 14:37] cynepco3hahue commented on #589
@ifireball http://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/138/

[2017-11-23 15:15] #589 closed

[2017-11-24 12:20] lukas-bednar commented on #582
@rmohr I think that in meanwhile I can remove that `watch` operations.
When I consider that we don't plan to implement these anyway, we can just drop them, what do you think ?

[2017-11-24 12:55] rmohr commented on #582
Yes, that is a good plan!

[2017-11-28 15:08] mz-pdm commented on #543
@rmohr, could you please clarify what you mean with "synchronized condition"? Do you mean some particular entity already present in KubeVirt or is it just a general term for something to be introduced for the purpose?

[2017-11-29 13:50] cynepco3hahue commented on #584
In the end, I moved all demo entities to demo namespace, give me know if you still want to name it storage :smile:

[2017-11-30 11:32] rmohr commented on #543
@mz-pdm here you see a VM which can't start because the iscsi connection string is wrong. The error is shown in the synchronized condition (type: Synchronized). And the status of the condition is false.

[code]

 Right now we remove the condition, if the error goes away, but we can also keep it, just update the lastProbeTime periodically and toggle it to true if everything is fine from the virt-ha

[2017-12-01 18:21] #590 closed

[2017-12-04 15:36] petrkotas commented on #507
I have implemented the solution for this issue. The PR is already in place here [15](https://github.com/kubevirt/kubevirt.github.io/pull/15).

Second step is to redirect the CNAME in kubevirt.io so that it does not point dorectly to the github but points to [github pages](https://kubevirt.github.io/).

With this solution we will have the redirection and https in place.

@fabiand can you please rev

[2017-12-04 21:00] mz-pdm commented on #543
@rmohr I see, thank you for clarification. OK, let's make Synchronized condition to indicate synchronization status permanently including the last update time. A couple of additional questions:

- Do we want to update the time at each occasion, i.e. every VirtualMachineController.updateVMStatus call, or should we be careful not to disrupt scalability with too many non-critical updates? Is it an is

[2017-12-07 12:43] #559 closed

[2017-12-08 07:52] #580 closed

[2017-12-10 01:53] fabiand commented on #507
The first par is fixed:

[code]

https is the next step.

[2017-12-10 01:53] #507 closed

[2017-12-12 08:33] fabiand opened #610 "Provide https for `go get`"
Right now

[code]

works (#507), but we should add https.

[2017-12-13 19:04] davidvossel opened #614 "Remove serial unix file host shared mount"
#613 Had to introduce a host shared mount directory to pass the serial console's unix socket from the libvirt container to the VM Pod.

This needs to go away as soon as the libvirt redesign is absorbed by KubeVirt.

[2017-12-13 19:06] davidvossel opened #615 "Limit shared mounts to specific VM (launcher) Pods - cleanup needed"
Because of #613 the VM pod's are no longer trusted. User's need podExec access in order to access the vm's console.

This means all local shared data between VM pods in /var/lib/kubevirt needs to change to a pattern where VM pods can only see data directly pertaining to them.

[2017-12-18 05:00] elmariofredo commented on #321
for others like me who miss it ,it's already fixed in 17.06.2-ce see https://docs.docker.com/release-notes/docker-ce/#17062-ce-2017-09-05

[2017-12-18 19:31] fabiand opened #620 "Create demo.yaml"
kubevirt-yaml provides KubeVirt. However, once a user has this, we could also provide a demo.yaml in order to let a user play with KubeVirt right away

The contents should at least contain

- VM image PV
- VM definition

And could eventually contain more depending on what we pull in.

[2017-12-18 19:31] fabiand commented on #620
This would then also include lines from #608

[2017-12-18 19:32] fabiand opened #621 "Separation of privileges"
#608 and prior work introduces RBAC support for KubeVirt.

In order to make it more secure we want to use different ServiceAccounts for different components.

This issues is about introducing them.

[2017-12-20 11:22] fabiand opened #624 "Move vagrant to kube 1.9"
We need 1.9 for raw block storage

[2017-12-20 19:24] davidvossel commented on #167
The VM API redesign in #606 helps move this forward.

The new way of expressing cpu/memory requirements on the VM api closely maps to the Pod's request limits. It should just be a matter of taking the VM requirements, adding the overhead padding, and placing those values on the VMs pod.

[2017-12-20 19:31] davidvossel commented on #556
as per #606, the initializer needs to perform defaulting by calling the new defaulting function on VM objects as they are posted to the cluster.

This defaulting is currently being done in the vm controller, it needs to be moved to an initializer though.

move this line in pkg/virt-controller/vm.go to an initalizer.
[code]

[2017-12-21 12:49] fabiand commented on #624
@cynepco3hahue is this something you could look at?

[2017-12-22 07:00] rmohr commented on #624
Hey,

If you still see 1.8 in your vagrant installation, try to run `vagrant destroy && vagrant up`. My vagrant shows

[code]
and all tests are passing.

[2017-12-27 20:25] fabiand commented on #624
Great news, my setup just fails to come up with this error:

[code]

Any idea where this comes from?

I cleaned vagrant and ensured that no networks are definde.

[2018-01-02 08:23] rmohr commented on #624
@fabiand maybe you had special values in hack/config-local.sh? If the IPs later on do not match you will see complaints like that from vagrant.

[2018-01-03 22:14] davidvossel opened #626 "console/vnc libvirt share directory race condition"
#618 has a race condition that is hit when a VM with the same namespace/name is deleted and recreated immediately.  When this happens, it's possible virt-handler will cleanup a directory the shared between the new VM pod and libvirt.

The fix for this race condition remove the vnc/console unix sock share directory entirely. This will happen once qemu is launched directly into the VM pod.

[2018-01-03 22:22] davidvossel commented on #626
another option for fixing this is to use a finalizer on the VM object and use the VM's UID in the shared directory path.

[2018-01-04 09:54] krsacme opened #628 "Build executables on the same environment used for running"
While building on F27 and deploying, the virt-handler pod fails to start, with below error message

[code]
Following are the steps used:
On the host F27, execute the following commands
[code]
The virt-handler is built using F27 which is referring to higher libvirt-libs version, where as the docker image is built on top of F26 with libvirt-libs-3.2.1-7.fc26 version.

Modifying the virt-handler Dock

[2018-01-04 10:40] rmohr commented on #628
@krsacme thanks for the report. You are right we need to finally make that a consistent flow.

To immediately help you out: You can change the base image for cmd/virt-handler/Dockerfile to fedora 27.

[2018-01-04 10:40] rmohr commented on #628
Oh, you did that already. :+1:

[2018-01-04 10:57] rmohr commented on #628
We will probably get away with a completely dockerized build where we control the versions. Another thought I carry around with me for some time is to use https://github.com/digitalocean/go-libvirt bindings, which are go-only. Now that the libvirt RPC protocol is considered to be stable, it is a good option to remove pretty much all rpm dependencies from the whole project (except for the libvirt d

[2018-01-04 11:20] krsacme commented on #628
Yes, this is something that I was also thinking off of way forward.

Looks interesting.

[2018-01-05 15:23] fabiand commented on #628
/cc @nertpinx

[2018-01-05 19:59] fabiand opened #632 "virtctl does not work with kubectl proxy"
I used `kubectl proxy` to proxy request to a minikube instance.

With the v0.2.0 virtctl I am not able to create a connection:

[code]

I'm seeing the issue with this branch:
https://github.com/kubevirt/demo/pull/30

[2018-01-06 05:40] rmohr commented on #632
That is the default behaviour of `kubectl proxy`. Try to run it like this: `kubectl proxy --disable-filter=true`.

[2018-01-06 13:39] fabiand commented on #632
Thanks. Disabling the filter leads to:

[code]

[2018-01-06 13:40] fabiand commented on #632
Which is different and might actually be a code issue (not auth anymore)

[2018-01-08 11:20] rmohr commented on #632
Looks very similar to: https://github.com/kubernetes/kubernetes/issues/32026. Does `kubectl exec` to an arbitrary pod work? If yes, either our code, or client-go does something wrong.

[2018-01-08 15:00] fabiand commented on #632
Yes, and Kubernetes 1.9 fixes it.

[2018-01-08 15:00] fabiand commented on #632
Thanks

[2018-01-08 15:01] fabiand commented on #632
@davidvossel please add a note to the user-guide documentation feature matrix and increasing the min version to 1.9

[2018-01-08 15:06] fabiand commented on #632
Fixed in the user guide in https://github.com/kubevirt/user-guide/commit/fc175954abfac46c567e6632bf5f068418e3eaca

[2018-01-08 15:06] #632 closed

[2018-01-08 15:35] rmohr commented on #582
@lukas-bednar can this be closed or are we still missing something?

[2018-01-08 15:37] rmohr commented on #547
@lukas-bednar there is a good chance that with the 0.2 release the `ServerAddressByClientCIDRs` problem does not exist anymore.

[2018-01-08 15:41] rmohr commented on #542
haproxy is now removed.

[2018-01-08 15:41] #542 closed

[2018-01-08 15:41] rmohr commented on #532
Right now we are in sync with the proposal.

[2018-01-08 15:41] #532 closed

[2018-01-08 15:42] rmohr commented on #457
Spice proxy is removed for now.

[2018-01-08 15:42] #457 closed

[2018-01-08 15:46] rmohr commented on #528
As outlined in https://github.com/kubevirt/kubevirt/blob/master/docs/vm-configuration.md#device-naming devices will have a mandatory name to make device tracking and hotplug as easy as possible for everyone (kubevirt consumers, kubevirt internal use, libvirt).

[2018-01-08 15:46] #528 closed

[2018-01-08 15:57] fabiand opened #635 "virtctl should pickup kubectl config"
If I launch virtctl, then it does not pickup my kubectl config by default.

This issue is about letting virtctl directly use kubectl's config if available.

Quote:
[code]

[2018-01-08 16:08] rmohr commented on #410
@fabiand do you have a hing regarding to what we want to see in the Introduction setting to close the last gap mentioned on this issue?

[2018-01-08 16:08] #321 closed

[2018-01-08 16:09] rmohr commented on #387
haproxy and virt-api were removed in 0.2.0.

[2018-01-08 16:09] #387 closed

[2018-01-08 16:10] rmohr commented on #283
@davidvossel found out some time go, that by letting the pod use the host PID namespace, the containers are killed based on cgroups. However, soone qemu will natively run in the Pod.

[2018-01-08 16:10] #283 closed

[2018-01-08 16:11] rmohr commented on #113
I think everywhere where it makes sense for now, we achieved that.

[2018-01-08 16:11] #113 closed

[2018-01-08 16:14] rmohr commented on #212
The field documentation improved a lot for the 0.2.0 release. See https://github.com/kubevirt/kubevirt/blob/master/api/openapi-spec/swagger.json, https://github.com/kubevirt/kubevirt/blob/master/pkg/api/v1/schema.go and https://kubevirt-incubator.github.io/api-reference/content/index.html.

[2018-01-08 16:14] #212 closed

[2018-01-08 16:16] rmohr commented on #170
We now support

[code]

I wonder if we still miss anything for basic win 10 support.

[2018-01-08 16:23] michalskrivanek commented on #170
@rmohr do we have the <hyperv> stuff (e.g. from http://blog.wikichoon.com/2014/07/enabling-hyper-v-enlightenments-with-kvm.html) ?

[2018-01-08 16:23] mykaul commented on #170
<hyperv>
    <relaxed state='on'/>
    <vapic state='on'/>
    <spinlocks state='on' retries='4096'/>
    <vpindex state='on'/>
    <runtime state='on'/>
    <synic state='on'/>
    <reset state='on'/>
    <vendor_id state='on' value='KVM Hv'/>
  </hyperv>

On Mon, Jan 8, 2018 at 6:16 PM, Roman Mohr <notifications@github.com> wrote:

[2018-01-08 16:23] michalskrivanek commented on #170
ah we do, sorry:) yeah, that should be it!

[2018-01-08 16:25] rmohr commented on #170
Yes they are :) https://github.com/kubevirt/kubevirt/blob/master/cluster/windows-demo.yaml

[2018-01-08 16:26] rmohr commented on #170
Here the full list: https://kubevirt-incubator.github.io/api-reference/content/definitions.html#_v1_featurehyperv

[2018-01-08 16:29] michalskrivanek commented on #170
@rmohr awesome! that's a level of detail wasn't even hoping for! :-)))

[2018-01-09 14:49] cynepco3hahue opened #639 "Allow running VMs with SELinux enabled"
Currently, environment with enabled `selinux` cannot run VM
[code]
And it only the beginning, problems that I saw:
- filesystem under container does not have any labels at all, all dirs and files have `unlabeled_t` context
- files with `svirt_tcg_t` context must have access to a lot of resources on the system(check Adam post https://adam.younglogic.com/2017/08/selinux-for-kubevirt-on-centos/)

[2018-01-10 12:28] fabiand commented on #639
Are you able to fetch a audit-log, @cynepco3hahue ?

[2018-01-10 12:41] fabiand commented on #410
With the notes after the v0.2.0 release the installation/deployment is also covered sufficiently for me.

Thus to me it's good to close this ticket.

[2018-01-10 12:42] #410 closed

[2018-01-10 12:46] fabiand commented on #624
It was a messed up env, works after clean redeployment.

[2018-01-10 12:46] #624 closed

[2018-01-10 13:07] cynepco3hahue commented on #639
@fabiand It almost the same as under Adam blog, but I can re-enable `SELinux` on my environment and add `audit.log`

[2018-01-10 13:52] fabiand commented on #639
Please attach it here, then we have everything together - even if you just
copy it from the blog.

[2018-01-10 14:14] lukas-bednar commented on #582
@rmohr yes we can close this one.

[2018-01-10 14:14] #582 closed

[2018-01-10 16:04] fabiand commented on #265
Closing this issue, there is more in follow ups.

[2018-01-10 16:04] #265 closed

[2018-01-11 15:50] #628 closed

[2018-01-11 19:28] fabiand opened #645 "Move to a decentralized approach"
So far we have a central libvirt pod which is moving qemu processes partially into VM (launcher) pods.

This has many flaws, (one main aspect) in short: We can not leverage any pod resource, this is really bad, because all resource concepts in Kubernetes resemble around Pods.

We need to change our model in order to launch libvirt in every VM Pod. This is "fat" today, due to dependencies and overh

[2018-01-11 22:11] stu-gott opened #646 "Log messages show incorrect position"
A snippet from the virt-controller logs:

[code]

Shows a large number of messages being emitted from the "log.go" module (as opposed to the actual module that logged the original message). This is most likely due to incorrect counting of stack frames when looking up the calling function from within the log.go module.

[2018-01-15 16:08] lukas-bednar commented on #547
@rmohr I gave a try, and I was able to reproduce same issue with current master.
[code]

[2018-01-15 16:13] rmohr commented on #547
@lukas-bednar could it be that the issue is related to the python client? See

 * https://github.com/kubernetes-client/python/issues/418
 * https://github.com/kubernetes-client/python/issues/394

Either way it does not seem to be a KubeVirt bug. Maybe you can monkey patch it like suggested in one of the issues above?

[2018-01-17 16:45] #646 closed

[2018-01-17 19:01] xsgordon commented on #170
@fabiand @rmohr

This is great, but I'd like to add an additional foible since this is still open. In the current example we expose all of the knobs from the Libvirt XML directly to the user in the YAML. This will be fine for a management application like oVirt or OpenStack trying to use KubeVirt, but for a user interacting with KubeVirt directly it's potentially a little too granular.

Would it b

[2018-01-17 19:10] fabiand commented on #170
@xsgordon Yep - That's the role of VirtualMachinePresets: A mechanism to group common VM ABI configurations and apply them to VMs, see this draft user guide chapter: https://github.com/kubevirt/user-guide/pull/11

[2018-01-17 19:21] xsgordon commented on #170
@fabiand gotcha, thanks.

[2018-01-17 19:31] fabiand opened #659 "Add Fedora to iSCSI Demo Target"
Sometimes we need a full blown distro to test functionality

[2018-01-18 07:14] rmohr commented on #659
How can this be a bug?

[2018-01-18 07:14] rmohr commented on #659
Can you be more specific about what you want to test?

[2018-01-18 09:18] mpolednik opened #661 "functests: switch from cirros/alpine to more suitable image"
When testing out initial q35-as-default PR #650, several issues with current cirros/alpine images used within functional tests surfaced.

First issue is networking, where when using q35 the VM is not able to communicate with external world, whereas simply switching it to i440fx works. The second issue behaves in similar fashion but with storage - rootfs cannot be found when disk iface is virtio-bl

[2018-01-18 09:19] mpolednik commented on #661
cc @fabiand @nertpinx @michalskrivanek @rmohr

[2018-01-18 09:55] fabiand commented on #659
Okay, bug is a bad fit. But it's probably a fix to gain guest support for the devices introduced by the q35 move, which in turn hopefully fixes our CI. Thus it's not a bug, but rather a fix.

[2018-01-18 09:56] fabiand commented on #659
See #661

[2018-01-18 13:09] nertpinx commented on #661
I'm trying to reproduce it and see what we can do to fix it. So I'll publish my finding shere.

For now I'm hitting another issue, However, I managed to get the cirrus working with q35. Unfortunately it's not that I would find the root cause. I tried seeing what's happening in the VM and after reboot it just started working and I can contact the outside world. I'll post what more I'll find.

[2018-01-18 13:22] rmohr commented on #661
@nertpinx thanks for looking into the root cause. I would not have a good feeling to "just" switch to another image without knowing the problem.

[2018-01-18 15:52] nertpinx commented on #661
Now it looks like the problem is really drivers for some of the connections of the card as it goes through the dmi-to-pci-bridge, etc. It can see the pcie root port, but probably not something else. Since it's so stripped down it's also harder to debug (almost no info in lspci for example).

[2018-01-18 16:26] nertpinx commented on #661
Since the cirros image is so stripped down it's also harder to debug (almost no info in lspci for example). But it is clear now that it is missing kernel drivers for the pci-bridge, so it *is* the guest OS that's causing it to fail. I'm currently trying to prove that once more by booting the Fedora image.

[2018-01-18 16:39] nertpinx commented on #661
Just changing the image to fedora works on local setup.

[2018-01-18 16:52] rmohr commented on #661
We still use cirros 3.5. That's from 2014. Can you try it with 4.0? Seems they have a new version since last november.

[2018-01-19 16:19] alezzandro opened #665 "VM Migration fails in case of cloudInitNoCloud volume"
Hi,

I want to report that Migration fails in case of vm with attached cloudinitvolume:

[code]

These are the resources I created:
[code]

[2018-01-19 20:12] fabiand commented on #665
Thanks for the report, a good catch.

Please note that migration will probably be unavailable for some time, as we are reworking some architecture parts which will have an temporary impact on fcuntionality.

[2018-01-20 18:37] fabiand opened #668 "Support for stopped VMs"
As a UI, like Cockpit or ManageIQ, it would be helpful to have representations for non-running VMs in the API as well, in order to avoid that the UIs or different management ystems need to provide a store to start.

This does not exclude that there are other mechanisms to persist VirutalMachine instances.

[2018-01-22 11:14] fabiand commented on #421
@davidvossel please see if this can be closed in the light of #663

[2018-01-22 11:15] fabiand commented on #391
Closed with #606

[2018-01-22 11:15] #391 closed

[2018-01-22 11:16] fabiand commented on #362
Closed for now, we stick to CRDs due to this issue.

[2018-01-22 11:16] #362 closed

[2018-01-22 11:16] fabiand commented on #364
Probably fixed with #663

[2018-01-22 11:19] #264 closed

[2018-01-22 11:19] fabiand commented on #206
Stbale for now.

[2018-01-22 11:19] #206 closed

[2018-01-22 11:19] fabiand commented on #205
Closed due to the missing in-cluster support for UAS data storage. Sticking with CRDs for now.

[2018-01-22 11:19] #205 closed

[2018-01-22 11:20] fabiand commented on #196
With the decentralized approach, there will not be a single pod responsible for all VMs, the critical chain is now kubelet, container runtime. But IIRC both are not cilling wrkloads if they go down themselfes.

[2018-01-22 11:21] fabiand commented on #196
With the decentralized approach, there will not be a single pod responsible for all VMs, the critical chain is now kubelet, container runtime. But IIRC both are not cilling wrkloads if they go down themselfes.

[2018-01-22 11:21] #196 closed

[2018-01-22 11:22] fabiand commented on #261
Depends on #663

[2018-01-22 13:19] davidvossel commented on #421
@fabiand some shared directories are going away with #663 but not all of them. We're depending on a shared directory primarily for the unix sock connections between virt-launcher and virt-handler.

The VM pod that contains virt-launcher doesn't have an IP address because the IP is getting owned by the VM within the Pod. If we figure out a way to both let the Pod and VM in the Pod have separate IP

[2018-01-24 21:27] davidvossel opened #676 "Re-enable basic migrations"
Migrations are being disabled as a result of #663

The issue is that each libvirtd-per-pod will not have network access to perform the migration. The Pod's network interface will soon be owned by the VM process, meaning anything in the Pod (other than qemu) will not have access to the network.

This might get solved by the libvirt-shim redesign that the libvirt team is working on.

Another option

[2018-01-25 09:12] rmohr opened #677 "Start providing a go-sdk"
In order to make it easier to integrate KubeVirt into existing go projects in the existing k8s ecosystem, it will make our life much easier, if we have a separate repo with client tools only, like it exists for k8s with client-go.

One example is the cluster autoscaler. To properly vendor our APIs and REST client into the autoscaler we need a trimmed down sdk which only depends on client-go and ap

[2018-01-25 15:00] lukas-bednar opened #680 "api-reference deploy is failing on non-existing directory"
https://travis-ci.org/kubevirt/kubevirt/builds/333258119
[code]

problem is that documentation is not generated under `_out/apidocs/html` but `hack/_out/apidocs/html` instead.

it is caused by definition `APIDOCS_OUT_DIR=$KUBEVIRT_DIR/_out/apidocs` where `KUBEVIRT_DIR="$(cd "$(dirname "$0")/../" ; pwd)`.
https://github.com/kubevirt/kubevirt/blob/b9bebd4db7cc356e5155ff1fc661656e8fe4f28d/hack/common

[2018-01-25 17:22] rmohr commented on #364
Already gone.

[2018-01-25 17:23] rmohr commented on #364
Ups still there.

[2018-01-25 18:41] rmohr commented on #421
We might get away with simply execing a small socket-proxy-subprocess via nsenter in the right mount namespace which talks to the socket. Then we can communicate via stdin/stout between the parent and  the child process.

[2018-01-25 19:10] davidvossel commented on #364
#663 removes the wrapper

[2018-01-25 22:33] davidvossel commented on #421
@rmohr how would virt-handler discover the VM pod's namespaces to do nsenter?

[2018-01-26 13:35] lukas-bednar opened #684 "Insufficient permission for virt-controller service account running on openshift"
When deploying KubeVirt on OpenShift cluster version 3.7.1, I can not create vm because virt-controller doesn't have permission to schedule virt-launcher.

Here is link to script which reproduces my problem (line 30 shouldn't be there in my opinion).
https://gist.github.com/lukas-bednar/7523689241c81a260f77d0302f147a5f

The creation of vm is going to fail on following error.
[code]

When executing

[2018-01-28 17:01] fabiand commented on #684
Good catch @lukas-bednar .

The
[code]

command needs to go into the ansible playbooks, or am I missing something?

[2018-01-29 12:45] lukas-bednar commented on #684
@fabiand yes, this command solves problem.
But there is still Q, whether this is correct way.
Because there are two accounts:
* kubevirt-privileged
* kubevirt-controller
and if we will make both privileged, then the name of first one is misleading, at least in my opinion.
Other option is: the `kubevirt-controller` SA is redundant and we can assign `kubevirt-priivileged` instead.

[2018-01-29 13:59] davidvossel commented on #659
#685

[2018-01-29 14:46] stu-gott opened #687 "How to pass flags to kube-api-master"
For the implementation of https://github.com/kubevirt/kubevirt/pull/652, a change is required to core Kubernetes. Because the initializers feature of Kubernetes is still alpha, in order to use it, a flag passed to kube-apiserver is required to enable it.

```--runtime-config=admissionregistration.k8s.io/v1alpha1```

This is currently being implemented as a call to patch to edit `/etc/kubernetes/ma

[2018-01-29 16:16] rmohr commented on #687
@stu-gott have a look here: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-args

[2018-01-30 12:33] #680 closed

[2018-01-30 13:03] stu-gott commented on #687
Thanks @rmohr. For anybody else looking into this, there is no command line flag to kubeadm to add extra arguments to the various components. The only mechanism for doing so is to provide a kubeadm config file. Command line arguments cannot be mixed in--if you switch to using a config, *all* parameters must be passed in that way.

[code]

[2018-01-30 13:03] #687 closed

[2018-01-30 15:04] lukas-bednar commented on #547
@rmohr I tried that workaround and it worked,
[code]
so your suggestion is to deal with it in the same way as they did in k8s client?

[2018-01-31 16:38] rmohr commented on #661
Cirros and Alpine are now both working with q35. In addition we also have the fedora cloud base image included as a registry disk, for cases where the othwer two are not sufficient.

[2018-01-31 16:38] #661 closed

[2018-01-31 16:40] rmohr commented on #659
We have fedora now as a registry disk in qcow with #685 . It might be possible to expand the qcow to raw for iscsi, without ending up with a few gigabyte image, but I think it is sufficient to have it as a registry disk for now. @fabiand thoughts?

[2018-01-31 16:41] rmohr commented on #553
Subresources are right now squeezed into the exec subresource. Closing for now.

[2018-01-31 16:41] #553 closed

[2018-01-31 16:42] rmohr commented on #534
Fixed by #647

[2018-01-31 16:42] #534 closed

[2018-01-31 16:43] rmohr commented on #474
Right now our components don't need this.

[2018-01-31 16:43] #474 closed

[2018-01-31 16:45] rmohr commented on #436
Still not completely developer-friendly, since one has to update 2-3 locations in our Dockerfiles to make sure that everything uses the same libvirt version, but we are not using the host libvirt-devel version anymore. CI will catch incompatibilities. Fixed by #647.

[2018-01-31 16:45] #436 closed

[2018-01-31 16:46] rmohr commented on #392
We can also use --cache-from from newer docker versions. That allows us to simply download the latest released kubevirt containers and use them as build-cache.

[2018-01-31 16:50] rmohr commented on #547
At least I don't see a way on how code changes in this repo could fix that issue.

[2018-01-31 16:51] rmohr commented on #298
With #663 not relevant anymore.

[2018-01-31 16:51] #298 closed

[2018-02-01 09:35] #364 closed

[2018-02-01 09:35] #421 closed

[2018-02-01 13:17] lukas-bednar commented on #547
@rmohr OK, I will close this issue then.
Anyway thank you for all your help regarding to this issue!

[2018-02-01 13:17] #547 closed

[2018-02-01 13:56] davidvossel opened #696 "Remove Virt-Launcher Host Mount Shared Directories"
The decentralized libvirt PR (#663) still left us with a shared directory between virt-handler and virt-launcher that's used for communication. The shared directory has unix sockets that both components connect to in order to communicate.

However, It's possible for us to remove the shared directory and use nsenter to perform communication. The problem has been how to discover the namespaces of th

[2018-02-01 14:35] davidvossel opened #697 "improve virtctl serial console error output"
We can improve the experience people are having with the serial console by improving our error handling messaging.

* Don't attempt to connect to a console unless the VM is in the Running phase.
* Distinguish permission related issues from other issues and give the user a hint about how to resolve the permissions problem in order to access the console.

[2018-02-01 15:05] mpolednik opened #698 "update architectural diagram for decentralized libvirt"
Now that we have "decentralized" libvirt, we need to have

docs/architecture.png & docs/architecture.svg (+ the architecture doc probably)

updated to reflect the fact.

[2018-02-01 16:33] kfox1111 commented on #696
using a shared location is very common in k8s. using nsenter is far less common. Is there a reason to try and eliminate it?

[2018-02-01 16:44] gbenhaim opened #700 "vmlifecycle test fails on Openshift"
I've tried to run Kubvirt's functional tests on Openshift 3.7, and `vmlifecycle_test` failed with the following error:

[code]

Both `kubevirt-controller` and `kubevirt-privileged` were granted privileged scc.

[2018-02-01 21:16] davidvossel commented on #696
@kfox1111 we're interested in further limiting the privileges required for the VM pod.

[2018-02-02 07:00] rmohr commented on #696
Yes. Basically we are creating pods in the namespace of a user, so we want to achieve that security policies applied by the admin to that namespace do not affect KubeVirt functionality. It is for instance common in open shift installations, to not allow host mounts for ordinary users. On the other hand virt-handler runs in the kube-system namespace and it can have all the required privileges to do

[2018-02-02 07:58] shiywang opened #704 "Some questions about the docs and code"
hi, I'm a new team member of cnv-qe, also a part-time reviewer/maintainer of kubernetes  : )

I took a look of the kubevirt code and docs briefly yesterday and have three questions here:

1. about VMs, do we currently have a load balancer mechanism for VMs ?  just like service vs pod in kubernetes cluster.

2. about virt-launcher: it used for provide the cgroups and namespaces for launching VMs, b

[2018-02-02 09:26] shiywang commented on #704
I take a look of the docs and code again, I think I already found the answer, thanks anyway.

[2018-02-02 09:26] #704 closed

[2018-02-02 09:51] shiywang commented on #518
hi @rmohr
I'm a new member of cnv-qe, also a part-time kubernetes reviewer/maintianer, I would like to dig on this one if there's no one else.

[2018-02-02 23:21] gouyang opened #706 "Could not run go test under tests directory"
[code]

it seems that the pkg `github.com/go-kit/kit/log` has unexported Context in the commit
`https://github.com/go-kit/kit/commit/055e4baffeca39840cbc54c2b9f5f838754e0d74`

[2018-02-04 08:39] ifireball commented on #392
@rmohr , @fabiand why do we first build go binaries and then warp them in containers? why not just build containers?

Also, not that docker is essentially a build dependency, can we build all the containers locally instead of in vagrant?

[2018-02-04 14:22] fabiand commented on #392
@ifireball I'm not sure you understand, but you do need a binary to run it inside a container.

[2018-02-04 14:40] ifireball commented on #392
@fabiand yeah, but you can build the binary as part of the container build process.

[2018-02-04 14:49] fabiand commented on #392
First - I'd close this isues, as it's to broad and unspecific.

To me it look slike an unusual thing to do the binary build during the container build.

[2018-02-04 14:49] fabiand commented on #392
Closing this issue, but we can cotninue the build discussion ;)

[2018-02-04 14:49] #392 closed

[2018-02-05 09:39] #698 closed

[2018-02-05 11:10] rmohr commented on #392
@ifireball yes building them locally and having an extra container repo where we push the builds to makes sense. For single-node setups it might be more complicated than what we do right now, but for CI or multi-node setups it makes sense. I think we even have somewhere an issue regarding to introducing a local container registry for that purpose.

[2018-02-05 13:46] ifireball commented on #392
@fabiand building the binary during the container build process seems to be a common thing. this is what both s2i and Docker multi-stage build seem to aim at.

@rmohr yeah, in CI I can even make that a shared registry, and then I suddenly get multi-host caching... but I'll need a way to know that a certain container image was built from the same sources as another image (Tagging by git sha will no

[2018-02-06 08:06] shiywang opened #711 "Virtctl console cannot login second time and just hang on there"
[code]

the second time I try it just hang on there, same situation when you first time kill that process.

[2018-02-06 21:25] davidvossel commented on #711
PR #633 should have fixed this. We also have a functional test that attempts to connect/disconnect from a VM's console multiple times to verify this.

This fix unfortunately made it in right after our latest release, so it is not in the 0.2.0 release if that is what you are testing with.

[2018-02-06 21:26] davidvossel commented on #711
I'm closing this since I'm 99% sure we've already addressed this. If you think this is still an issue after updating, please reopen. Thanks!

[2018-02-06 21:26] #711 closed

[2018-02-07 00:07] gbenhaim opened #717 "kubevirt/cirros-registry-disk-demo:devel is missing"
When trying to run the functional tests I'm getting the following error

[code]

Looking at `https://hub.docker.com/r/kubevirt/cirros-registry-disk-demo/tags/`, the image is indeed missing.

[2018-02-07 07:20] shiywang opened #718 "Make Kubevirt network model selectable"
according to comments here: https://github.com/kubevirt/demo/issues/34#issuecomment-363328856

cc @fabiand

# API
[code]

# Future API considerations
Furtehr down the road the bigger picture would be alogn the lines:

[code]

[2018-02-07 09:50] rmohr commented on #717
Yes only "latest" exists there. We need to make the tag selectable on the test binary, so that it can switch to "latest". To give the context: As an extra precaution, to not accidentally pull in "latest" images from docker-hub, we use the "devel" tag which we directly build for testing in the core repo.

[2018-02-07 09:50] rmohr commented on #717
And thanks for reporting.

[2018-02-07 10:33] gbenhaim opened #719 "Failed to compile Kubevirt's functional tests"
I'm getting the following error:

[code]

Link to the job: http://jenkins.ovirt.org/job/kubevirt_kubevirt-ansible_standard-check-pr/26/consoleFull

[2018-02-07 11:15] cynepco3hahue commented on #719
@gbenhaim I had this problem locally, `make distclean` before `make` helped me.

[2018-02-07 11:16] rmohr commented on #719
There seems to be an issue in the glide cache. Either delete the build container or run "make distclean".

[2018-02-07 12:01] gbenhaim commented on #719
Thanks! I will try it.

[2018-02-07 18:20] gbenhaim commented on #573
@fabiand Would you like me to add Openshift's `SecurityContextConstraints` manifests to this repo? (it can be added to manifests/openshift)

[2018-02-08 09:35] fabiand commented on #573
I think it makes sense, yes.

[2018-02-08 17:49] #697 closed

[2018-02-10 23:36] fabiand opened #725 "Support disk without volumes"
Sometimes a VM needs a disk without a volume, i.e. CD drivers:

[code]

Do we want to support this?

[2018-02-10 23:37] fabiand commented on #725
/cc @rmohr

[2018-02-11 09:22] cynepco3hahue commented on #725
It can be relevant only if we will have a possibility to attach disk on the fly.

[2018-02-11 18:02] gbenhaim commented on #717
1. Is there a plan to rebuild the images with the `devel` tag?
2. Do you think that a config file for the tests is an appropriate solution for choosing images?

[2018-02-12 07:48] rmohr commented on #717
There are intentionally no "devel" builds for any container on the registry

We can just add a commandline flag (pflag) to the tests, where to choose between latest and devel. I would then even use "latest" as the default, like we do everywhere else too ...

[2018-02-12 07:59] rmohr commented on #725
@fabiand how can this be a bug?

[2018-02-12 08:04] rmohr commented on #725
I immediately see two ways on how to model this, if needed:

- Allowing cdrom disks without source
- Having a special NoMedium volume source for cdrom and floppy

[2018-02-12 08:42] gbenhaim commented on #719
The suggested advice solved the issue, thanks.

[2018-02-12 08:42] #719 closed

[2018-02-12 08:51] gbenhaim commented on #717
+1

It will make the tests not reproducible. Don't you think that we need to use images with a fixed version?

[2018-02-12 09:37] cynepco3hahue commented on #518
@shiywang Do you work on it? Because I just started to play with reporters and some test names looks like abrakadabra
For example
`CloudInit UserData CloudInit Data Source NoCloud should launch ephemeral vm with cloud-init data source NoCloud`

[2018-02-12 09:45] shiywang commented on #518
hi, @cynepco3hahue currently I'm not working on it, and also have some jobs assigned by storage team, and I might be a little bit procrastinating on this if I would had started on this since my main responsibility is on storage QE, so feel free to take it : )

[2018-02-12 13:51] alezzandro opened #727 "Multiple virt-controller pods on multi-master"
I want to report that in an envorinment with multi master (2 master in my case) the following command will spawn two virt-controller:

$ kubectl create -f https://github.com/kubevirt/kubevirt/releases/download/v0.2.0/kubevirt.yaml -f manifests/demo-pv.yaml
clusterrole "kubevirt-infra" created
serviceaccount "kubevirt-infra" created
serviceaccount "kubevirt-admin" created
clusterrolebinding "kubevi

[2018-02-12 16:49] cynepco3hahue commented on #727
@alezzandro It was done by design, you can not have two controllers up in the system, otherwise you can get inconsistent results, for example when you will create a new VM two controllers will try to do it, this case you can have a race condition between two controllers.
The system will put the second controller to the ready state, one the leader controller is crashed.

[2018-02-13 13:57] fabiand commented on #725
I'd favor 1. - It looks like the more natural way.

[2018-02-14 10:28] fabiand commented on #684
Oh - good point.

It's actually funny that the controller needs to be privileged, and I suppose this is because it's not privileged it self, but because it's creating a privileged pod.

+1 of dropping the controller SA then for now, and use privileged.

[2018-02-14 10:29] fabiand commented on #645
This was fixed with #663

[2018-02-14 10:29] #645 closed

[2018-02-14 13:39] gbraad opened #736 "Allow kubervirt to run on minishift and minikube"
Provide add-ons for the usual demo setups:

* [ ] https://github.com/minishift/minishift-addons/issues/28
* [x] https://github.com/kubernetes/minikube/issues/2178

* [x] Enable nesting for minikube https://github.com/kubernetes/minikube/issues/2553
* [ ] Enable nesting for minishift https://github.com/minishift/minishift/issues/2042

[2018-02-14 14:26] gbraad commented on #736
@fabiand Minikube already has most (if not all) needed components in the Minikube ISO. Although we can use this ISO for Minishift, we likely need to add something to the CentOS ISO. Would be a good idea to inventorise what is needed here.

[2018-02-14 21:50] fabiand commented on #736
Yes. To me the first step is to start playing with it, and see what is needed, then we can enumerate.

I'm just trying to see who is motivated to work on this :)

[2018-02-14 22:00] gbraad commented on #736
More than willing to assist 'that person'.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-16 08:43] rmohr commented on #727
Yes I thought it is a good idea back then, but maybe we are stretching the meaning of "ready" too far here and it is confusing.

[2018-02-16 10:35] fabiand opened #740 "Add workaround for Cockpit console access"
In order to display the VM serial console in the Cockpit UI we probably need a hack.
The problem is that Cockpit console is using exec - but the command being called is hard-coded to `/bin/sh -i -c TERM=xterm /bin/sh`.

In order to show the VM serial in cockpit we should thus create a wrapper around `/bin/sh`, which calls the VM serial console if sh is called with `/bin/sh -i -c TERM=xterm /bin/sh

[2018-02-16 10:35] fabiand commented on #740
/cc @mskrivanek @mlibra

[2018-02-16 11:30] michalskrivanek commented on #740
need that for Openshift 3.9 UI, to be exact.
cockpit should work without hacks already

[2018-02-19 15:39] fabiand opened #744 "Track kubectl enhancement for better VM service exposure"
Currently `kubectl expose` does not allow (Bug?) to use a label selector for exposing pods - but this is important for kubevirt.

The flow with a label selector would be:
[code]
But this leads to an error:

[code]

Without the selector the user would need to know the pod name - which is not predictable because it's name is generated:
[code]

The relevant kubectl bug is https://github.com/kubernete

[2018-02-19 20:20] alezzandro commented on #727
I agree @rmohr, I think you should bring a new up once the existing fails.
Why not using a ReplicaSet?

[2018-02-19 20:42] cynepco3hahue commented on #727
@alezzandro We already did discussion you can see @rmohr answer under https://github.com/kubevirt/kubevirt/issues/412#issuecomment-327241295

[2018-02-19 22:37] alezzandro commented on #727
Thanks for pointing me to the thread @cynepco3hahue
BTW any plan for making the virt-controller multi-master so?

[2018-02-20 12:23] cynepco3hahue commented on #727
@alezzandro I think that we can achieve it with anti-affinity see [link](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity-beta-feature), but we will need to recognize that we are running multi-master environment first, that can be problematic.

[2018-02-20 12:34] cynepco3hahue commented on #294
I think the issue does not actual anymore and we can close it.

[2018-02-20 13:52] alezzandro commented on #727
Excuse me for the silly question: why should you care about number of masters?
Users may want to choose to run multiple active virt-controller for getting high-availability at that level also if they have fewer masters.

Anyway instead of 'raw' affinity/antiaffinity I would look at DaemonSet:
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

And in case you want to match the ro

[2018-02-20 15:24] cynepco3hahue commented on #727
@alezzandro We do not want to run `virt-controller` instance on each node, we just want to have two instances, in the case if one instance crashed the second will take control. We can add some note about toleration for `virt-controller` pod under user guide.

[2018-02-20 15:48] rmohr commented on #727
@alezzandro, @cynepco3hahue  I think you are both right. If there are dedicated master-machines, and we solely want to deploy on them, then the DaemonSet with tolerances and taints is a good solution. If you want to have something like HA withouth the knowledge on how the cluster is set up, one can choose a Deployment, specify an instance count and add an anti-affinity to distribute the controller

[2018-02-20 15:54] cynepco3hahue commented on #727
@rmohr We currently run two replicas in our single node environment, in the case when you will have anti-affinity, a scheduler will fail to start one of the pods.

[2018-02-20 19:34] fabiand opened #749 "Open questions around VirtualMachinePresets"
Anybody, feel free to add more items

- Should we diverge from PodPresets?
  - In PodPresets, it's all or nothing - and with VMPresets we currently do a mix and match (or: VM dom has precendece has over Preset)
- Should limit presets to "stateless/infrastructure" (cpu, memory, clock, …) and "stateful/application" (disks, …) should not be touched?
- When is a preset applied? If all, some, or even n

[2018-02-20 21:12] #518 closed

[2018-02-20 21:31] #266 closed

[2018-02-21 14:44] #717 closed

[2018-02-21 21:54] karmab commented on #684
agree too here

[2018-02-21 21:59] karmab opened #753 "unable to access vm consoles on openshift"
after deploying a vm on latest kubevirt release (v0.3.0-alpha.3) on openshift, though vm is indeed running, i cant access its console, i get the following

[code]

i get this same message when trying to `oc rsh virt-launcher-testvm-ephemeral-st4hc`
note that the pod definition indicates its running with a privileged scc

[code]

this doesnt happen on straight kubernetes

[2018-02-21 23:13] karmab commented on #753
actually, i'm able to access the console if logged with system:admin, it doesnt work when i use the developer user, although this user also has cluster-admin role

[2018-02-22 05:05] gouyang commented on #706
The problem is gone on the master branch.

[2018-02-22 05:05] #706 closed

[2018-02-22 06:57] rmohr commented on #753
@karmab my guess would be that a user which does not have these rights is not allowed to access a pod which contains hostPaths. Good catch.

@davidvossel I think we can only fix that by going back to explicit subresources on the vm object. Otherwise we will always fight security.

[2018-02-22 15:28] rmohr commented on #556
We should go with https://kubernetes.io/docs/admin/extensible-admission-controllers/#external-admission-webhooks instead of initializers.

[2018-02-22 16:25] davidvossel commented on #753
@rmohr unfortunately you might be right at this point. It wasn't obvious when the console/vnc changes were being made that the Pod would have to be privileged to access the kvm device. That's frustrating...

[2018-02-22 16:30] davidvossel commented on #556
@rmohr *Unlike initializers or the plugin-style admission controllers, external admission webhooks are not allowed to mutate the admission request in any way.*

It looks like these webhooks are only for validation. Without the ability to manipulate the object, it won't help with presets.

[2018-02-22 17:07] rmohr commented on #556
That changed with 1.9. The web hook allows now mutations and is already beta. It overtook the initializes. See also http://blog.kubernetes.io/2018/01/extensible-admission-is-beta.html?m=1

[2018-02-22 18:25] davidvossel commented on #556
Interesting.

A webhook that allows mutation then validation before persistence is far superior to what we're doing now. This means users would never be able to introduce an invalid VM spec into the system.

We'll need to adopt this.  Once we add the validation webhook, both the defaulting and preset logic will need to move to that webhook.

[2018-02-22 19:28] fabiand commented on #556
AFAIK there are still some limitations (in metadata), but in general the right approach.

[2018-02-22 19:35] fabiand commented on #753
A workaround is to increase the permissions of the user connecting to the consoles.

[2018-02-22 19:56] davidvossel commented on #753
@fabiand This means users with the elevated privileges required for console and vnc access also have access to host mount directories shared by all virt-launcher pods.  We'd have to implement #696 to avoid this.

[2018-02-22 19:59] fabiand commented on #753
I'm all in to say that we should look at the separate sub resources.
I'd just also like to understand if the workaround does work atm.

[2018-02-22 22:05] davidvossel commented on #753
right, so with the right privileges console and vnc should continue to work.

[2018-02-23 13:46] karmab commented on #753
@davidvossel could you indicate which privileges are needed. note that the developer user is already cluster-admin in my setup ( he can do things like oc get node for instance ), but cant access consoles

[2018-02-23 21:56] davidvossel commented on #753
@karmab Right now (until we make the subresource change we've been discussing), the user needs access to the following resources in their service account in order to access console/vnc.

**pod**
**pod/exec**
**virtualmachines**

It's really easy to test if you have the right permissions or not.

When you create a vm, if you can perform 'kubectl exec -it <name of pod> -- /bin/bash' then that means

[2018-02-26 09:01] cynepco3hahue commented on #556
What plans do we have for admission hooks server, do we want to implement our own or do we want to re-use some code from OpenShift guys(https://github.com/openshift/generic-admission-server)?

[2018-02-26 09:06] rmohr commented on #556
@cynepco3hahue Looks useful to me. Let's hope it will not be too much of a pain to keep the `k8s.io/apimachinery` dependencies in sync.

[2018-02-26 21:38] davidvossel commented on #753
#770 proof of concepts what is involved with moving console support to a subresource aggregated api server.

If we adopt this method, users won't be required to have pod/exec permissions anymore. Instead they'll need permissions for the subresource.kubevirt.io group resource.

[2018-02-27 11:22] fabiand opened #771 "Provide Template mechanism"
With templates it is much easier to create VMs from nothing.

We can extract OpenShift Origin's template component and ship it as part of kubevirt to provide this mechanism.

[2018-02-27 11:22] fabiand opened #772 "Create functional test for template examples"
With #768 a few template examples got merged. We should add tests for those.

Depends somewhat on #771

[2018-02-27 12:15] fabiand opened #773 "Update Preset unit-tests in order to align with coding best practice"
The preset unit-tests need an update, see https://github.com/kubevirt/kubevirt/pull/652#pullrequestreview-99638237

[2018-02-27 12:17] #295 closed

[2018-02-28 10:00] rmohr opened #777 "Use a predictable version for the k8s code generators"
Recent travis builds are pulling in newer code generators than we have locally. We need to ping the generators to a specific version.

[2018-02-28 10:00] rmohr commented on #777
Here is one of the builds which shows the symptome: https://travis-ci.org/kubevirt/kubevirt/builds/346881966?utm_source=github_status&utm_medium=notification

[2018-02-28 10:01] rmohr commented on #777
Affected are #667 #775

[2018-02-28 10:47] #777 closed

[2018-02-28 12:34] rmohr opened #780 "Start running functional tests in parallel"
Our tests spend most of the time waiting for VMs to be finally booting. We should start thinking about parallelizing them to some degree.

@cynepco3hahue FYI

[2018-02-28 14:26] cynepco3hahue opened #781 "VM must consume nameservers from virt-launcher pod"
Currently, we add only google nameserver to VM and do not consume nameservers from virt-launcher pod
Pod:
[code]
VM:
[code]

[2018-02-28 14:26] cynepco3hahue commented on #781
FYI @vladikr

[2018-02-28 14:45] cynepco3hahue commented on #781
`dnsReadConfig` from https://golang.org/src/net/dnsconfig_unix.go looks promising

[2018-02-28 15:15] fabiand opened #782 "Rename launcher pod name to just the name of the vm + suffix"
Today vms are launched in `virtlauncher-DOM-SUF` style pods.

For users i.e. using UIs - it would be nice if the name could directly map to the dom name, i.e. `DOM-SUF`: `windows-654zt`

[2018-02-28 15:42] cynepco3hahue commented on #780
@rmohr I started to look at it and I have some problem to run tests with `ginkgo` command
[code]
I understand it does not happy with `kubeconfig`, but I do not know why, maybe do you have some idea?

[2018-02-28 15:48] fabiand opened #783 "Rename kubevirt.yaml to kubevirt-operator.yaml"
Other project shighlight that they are operators.

I think this makes sense, it directly explains how this .. operates.

See: rook.io.

[2018-02-28 15:55] rmohr commented on #783
While I don't have any objection in general against this proposed name, it is just cosmetic and it will just break tooling which relies on that name already and does not really improve anything. So if we would not already have `kubevirt.yaml` I would have been ok to go with the other name too, but I don't really see any difference regarding to clarity.

[2018-02-28 15:59] rmohr commented on #782
The name has no connection to the vm. You can select the pod via its labels (which is the only reliable way). Further the name  makes clear that `virt-launcher` is running inside, which is imo ok and useful too for a pure infra-component.

[2018-02-28 16:13] rmohr commented on #782
If we want to change the prefix, I would rather add an additional prefix: `kubevirt-`

[2018-02-28 16:23] rmohr commented on #782
ok taking it back. Suffix is better. But let's make sure that `kubevirt` or something like that is included.

[2018-03-01 08:09] rmohr commented on #781
Let's also start tweaking the hostname and the subdomain of the pod which we create for the vm. See: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods-hostname-and-subdomain-fields

We would set the pods `hostName` to the name of the vm and set a `subbomain` on the pod which we could simply call `virtualmachines` or `vms` or `vm`. Then we can simply set the hostname of

[2018-03-01 08:34] rmohr commented on #781
Also related to https://github.com/kubevirt/kubevirt/pull/775#discussion_r171485334

[2018-03-01 10:57] rmohr opened #785 "The networking code overrides the default network interface"
We are assigning the one and only supported network interface in the defaulter (it uses e1000). Later when the VM gets started it gets overwritten with another interface (which uses virtio).

Right new we did go with e1000 because it has broader out-of-the-box support (especially regarding to windows).

@vladikr could you have a look and resolve this situation by either remove the device from the

[2018-03-01 10:57] rmohr commented on #785
@cynepco3hahue FYI

[2018-03-01 10:59] rmohr commented on #785
Relevant places:
 * `pkg/virt-launcher/virtwrap/api/defaults.go`
 * `pkg/virt-launcher/virtwrap/network/network.go`

[2018-03-02 12:30] vladikr commented on #785
Yea, you're right. I ignored the default nic model. I'll post a fix.

[2018-03-04 11:02] cynepco3hahue opened #789 "Windows 2016 VM failed to get IP from DHCP server"
### Description
VM with Windows 2016 failed to get IP from DHCP server
### VM details
[code]
### VM libvirt xml
[code]
### VM OS network details
![windows_networking_problem](https://user-images.githubusercontent.com/4704810/36944826-505f08ba-1fac-11e8-8db6-34520c1bd933.png)
### Virt-launcher pod network
[code]

[2018-03-04 11:03] cynepco3hahue commented on #789
@vladikr @rmohr FYI

[2018-03-06 08:42] #785 closed

[2018-03-06 09:41] rmohr commented on #780
Since you are running the tests with ginkgo and not via the compiled binary, could it be that you need to pass `-ginkgo.kubeconfig`?

[2018-03-07 08:31] karmab opened #791 "pod presets getting rid of extra information"
## Description
i f i create a vm from a yaml file containing extra information, this extra information gets deleted while if i do editing it on an existing vm, it stays

## Expected
the extra information at vm's creation is kept

[code]

[2018-03-07 09:57] rmohr commented on #791
Since there is no schema validation enforced at the moment, if no controller updates the vm, this extra information will be accepted by the system and stays there. However, if a controller manipulates the vm, it will only recognise fields which are part of the api, and everything which is not part of the api will be removed on the update.

In your case, the `myinfo: bigsecret` is put on the docume

[2018-03-07 13:07] fabiand commented on #791
Just to make it clearer what Roman said: You changed the object, and did not add a label.
From the IRC conversation I learned that you wanted to add labels, but labels belong into the metadata section as follows:

[code]

[2018-03-07 13:34] yuvalif opened #794 "Build requires SELinux permissive mode"
when running "make", SELinux complains about the issues in the attached log.
[mylogfile.txt](https://github.com/kubevirt/kubevirt/files/1789283/mylogfile.txt)

readme should mention this before running "make"

[2018-03-07 13:58] rmohr commented on #794
Only some versions of fedora/centos are affected I think. I just see them since I updated to fedora27 and here is a bugzilla regarding to that issue: https://bugzilla.redhat.com/show_bug.cgi?id=1545858

[2018-03-07 14:05] rmohr commented on #794
Since the tile implies that you had to disable selinux: Did you just have to put it in permissive mode to not generate the warnings or to make builds succeed at all?

[2018-03-07 14:08] karmab commented on #791
will use annotations

[2018-03-07 14:08] #791 closed

[2018-03-07 14:57] yuvalif commented on #794
I moved selinux to permissive mode, now, not getting the selinux errors. however i still get failure in rsync (this probably what was triggering the selinux alarm):
make
hack/dockerized "./hack/check.sh && ./hack/build-go.sh install "
sha256:4be8ad1dac3766a81d3951b6e9751210fdf6e2134176dc68b2907348c053f22d
go version go1.9.2 linux/amd64
rsync: safe_read failed to read 1 bytes [sender]: Connection r

[2018-03-07 15:02] rmohr commented on #794
Oh that error is harmless. It is from our "wait for rsync to become ready to connect connections" check, from what you posted it looks like the build continues without issues.

We should make sure that these rsync-checks only get printed if it takes unexpectedly long, to not confuse people.

[2018-03-07 15:03] rmohr commented on #794
After a build check `$?` to see if the build fails, but it looks like it does fine.

[2018-03-08 08:23] #668 closed

[2018-03-09 00:07] vladikr commented on #789
The problem is that Windows doesn't accept DHCP offers because our Server-ID and DNS options have length 16 and should be 4 bytes long for Windows to accept:
[code]

[2018-03-09 08:29] fabiand opened #802 "Permit creating KVM domains"
Today all domains are run in emulation mode.

We need to be able to run them accelerated.

[2018-03-09 08:31] fabiand commented on #802
IIUIC then we default to `qemu` and there is no VM API field to change this.

Further more this has implications on scheduling (less) but making sure that /dev/kvm get's into a container.

We could consider to use the kvm DP /cc @mpolednik

[2018-03-09 11:35] fabiand opened #803 "virtctl is not console friendly"
I noticed that `virtctl console` does not respect EOL, i.e. in
`virtctl console testvm | grep -m1 login`

Here virtctl should quit if EOL is detected.

[2018-03-09 11:35] fabiand commented on #803
/cc @davidvossel

[2018-03-09 15:05] fabiand commented on #789
The patch was merged, @cynepco3hahue do you have the opportunity to check if it's fixing the issue?

[2018-03-09 15:51] stu-gott opened #805 "VirtualMachinePresets are un-ordered"
Currently, if a VirtualMachine resource matches multiple presets, KubeVirt does not impose any order to how they're applied. In cases where presets are orthogonal, this is a non-issue, but in cases where multiple presets mandate conflicting settings, the results are non-deterministic. It's not clear how big a problem this is because the feature is relatively new, and we don't yet have a clear pict

[2018-03-09 15:55] stu-gott commented on #805
Personally, I'm in favor of allowing presets to conflict with each other and resolving such a conflict using a priority field. This allows a use case of specifying a minimum system requirement (e.g. resource requirements), but allowing that to be overridden by more specific presets.

If we dis-allow preset conflicts altogether, then the above approach is not permissible, and would require using mu

[2018-03-09 16:00] davidvossel commented on #803
This probably has something to do with virtctl needing to put the terminal into raw mode when connected to the VM console. This is required to prevent things like 'ctrl-c' from breaking out of the console rather than being interpreted by the VM's terminal.

I'm not sure we can achieve the behavior you're looking for. Is there really a use case for this ?

[2018-03-11 14:24] cynepco3hahue commented on #789
The windows VM succeeds to get IP from DHCP server and I can ping `8.8.8.8`.
Fixed by #801

[2018-03-11 14:24] #789 closed

[2018-03-13 11:43] slintes opened #810 "build and publish virtctl for other operating systems"
Currently virtctl is only build and published for linux/amd64. It would be nice to be able to download macos and windows binaries, too. PR follows.

[2018-03-13 12:28] slintes opened #812 "Can't get "virtctl vnc..." running on OSX"
Hi,

I installed the kubevirt demo on a remote cluster. Everything seems to run fine, `virtctl console ...` works, but I can't get `virtctl vnc ...` running. A window is opening and showing these errors: first "Unknown graphic type for the guest vnc://127.0.0.1:55073", and after a click on `ok` "Couldn't create a session for this type: vnc".

For getting so far I installed the Spice OSX client (ht

[2018-03-13 13:12] slintes commented on #718
Is somebody working on this already? Seems to be a nice issue to get familiar with the codebase.

This would mean to extend the Devices of the DomainSpec with Interface(s?). Should the model be the only configurable field, which will be used then in SetDefaults_Devices?

[2018-03-13 13:17] slintes commented on #718
and one more question: should the model be validated? From https://libvirt.org/formatdomain.html#elementsNICSModel:

And what should happen then if the value doesn't match any of these?

[2018-03-13 13:57] fabiand commented on #718
In general yes, But this is a little tricky.

Today - as you saw - we do not have an `interfaces` list. The reason is that we can only support a single NIC.
In general networking is not configurable, because we don't have API for the only NIC.

Now, we also know that we want to support multiple NICs on the long run (and @phoracek is working on this).

Thus, if we solve this bug, then this implies

[2018-03-13 13:57] fabiand commented on #718
/cc @vladikr

[2018-03-13 14:03] fabiand commented on #718
Actually - We should have a design doc pr to outline the perspective on the multiple nic networking.

[2018-03-13 15:09] karmab opened #814 "vm with multiple pvc disks fails to boot"
when launching a vms with multiple disks, qemu fails to boot though the first disk does contain a valid SO on it
the following vm definition

[code]
lead to the following dom xml

[code]

as a comparison, on a local domxml from  a standard kvm host, the disks are defined with

*\<address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0'/\>*

[2018-03-13 16:03] fabiand commented on #812
Good question.

Virtctl is just setting up a proxy, and then relying on the presence of a VNC client to connect to the VM.
This probably does not work on Mac.

Patches are welcome - although we also discussed a different approach to actually just do the proxy functionaliyt in virtctl and then let the user cnnect the client to it. See #806

[2018-03-13 16:45] slintes commented on #812
Got it working :) At least with manual steps:

- install the "Chicken" VNC viewer (https://sourceforge.net/projects/chicken/)
- have a script `remote-viewer` on your PATH, which opens Chicken
- it also shows an error message with the `vnc://127.0.0.1:12345` URL :/
- but you can use the `127.0.0.1:12345` part for manually connecting Chicken to the server, it just can't deal with the protocol part

[2018-03-14 08:32] rmohr commented on #814
@karmab If you still have the environment at hand, could you run `kubectl describe mog`, so that we can see why qemu/libvirt complains in the events?

[2018-03-14 08:35] rmohr commented on #814
BTW. from what you posted it looks like qemu is running, so does `qemu` or the `vm` fail to boot?

[2018-03-14 09:54] karmab commented on #814
qemu is running, vm also in state running, it s just that OS doesnt boot

[2018-03-14 09:55] karmab commented on #814
i dont have the vm but can recreate the issue easily, but there s nothing relevant in the describe of the vm, since from a k8s point of view, everything is OK

[2018-03-14 10:03] rmohr commented on #814
Yep, then I don't need the `describe` output. Are the images in the PVC `raw` images?

[2018-03-14 10:23] karmab commented on #814
yes, both images are raw:
- one is created with a pod that does a copy between pvcs, where the origin pvc got created with a disk-importer pod.
- the other is created with a pod running fallocate to put a disk.img with the desired size

[2018-03-14 10:30] rmohr commented on #814
@petrkotas I suspect that our controller messes something up when we define deh PVC mount points on our launcher pod. Could you have a look and add a test which ensures that adding two PVCs works as expected?

[2018-03-14 21:19] fabiand opened #816 "PVC disks fail if they are block PVs"
In 1.9 Kube supports block PVs.

If such a PV is used with KubeVirt, then it will fail with

[code]

[2018-03-14 21:19] fabiand commented on #816
PR #808 should fix this.

[2018-03-15 09:12] fabiand opened #818 "Add `virtctl expose`"
Today a user needs to know a VMs od name in order to expose it's port.

This is described here: https://github.com/kubevirt/user-guide/pull/38

A `virtctl expose` subcommand with flags similar to `kubectl expose` could improve the situation.

[2018-03-15 09:49] fabiand commented on #814
Does this only affetc multiple PVC disks, or also PVC and CloudInit

[2018-03-15 09:53] fabiand commented on #700
@gbenhaim @cynepco3hahue @rmohr do you still see this test failing on the recent openshift tests?

[2018-03-15 09:53] fabiand commented on #659
RegistryDisk is fine for now.

[2018-03-15 09:53] #659 closed

[2018-03-15 09:56] fabiand commented on #422
I think this is fixed.

Please reopen if this is still an issue.

[2018-03-15 09:56] #422 closed

[2018-03-15 09:57] fabiand commented on #297
This bug is now fixed after we change the maping to not do a 1:1 mapping from VM Spec to domxml anymore.

Today all fields in the VM Spec are "whitelsited" or "escaped."

[2018-03-15 09:57] #297 closed

[2018-03-15 09:57] fabiand commented on #193
I think this is fixed by now, please reopen otherwise.

[2018-03-15 09:57] #193 closed

[2018-03-15 09:57] fabiand commented on #53
Does this still apply to CRDs?

[2018-03-15 09:59] #53 closed

[2018-03-15 09:59] rmohr commented on #53
No, CRDs don't have this. Closing.

[2018-03-15 10:16] cynepco3hahue commented on #700
@fabiand Nope, also from the error message I can see that the problem is `scc` so with correct permissions it will work and we currently set `privileged`(that not really good, but I hope we will create more strict policies in the future) to all service accounts.

[2018-03-15 10:30] karmab commented on #814
in my tests, i always used cloudinit
so:
- pvc+cloudinit works
- pvc+pvc+cloudinit doesnt
note i present cloudinit as a cdrom though

[2018-03-15 11:01] petrkotas commented on #814
Will look at this. ASAP. I am finishing other task in oVirt.

--
s pozdravem,
Petr Kotas

On Thu, Mar 15, 2018 at 11:30 AM, Karim Boumedhel <notifications@github.com>
wrote:

[2018-03-15 11:07] fabiand commented on #700
Ack, thanks. Closing this.

[2018-03-15 11:07] #700 closed

[2018-03-15 12:05] rmohr commented on #740
Tried to place the following script at the place of /usr/bin/sh, however I have a lot of strange behaviour.
[code]

@mareklibra @michalskrivanek any ideas on what could be wrong?

It looks like `/bin/bash` calls itself `/bin/sh` again and I have an endless loop.

[2018-03-15 12:57] fabiand commented on #740
Cuold it be that you need to check for this specific invocation of `sh to amke sure that your branch is only called in that case?

[2018-03-15 13:01] rmohr commented on #740
I figured out a working solution in #819.

Yes that would be a good way. The other way is to let /bin/sh execute the fist time,  let it will set "TERM=xterm" and the check for that variable once /bin/sh is executed again. #819 implements the second one right now. Do we prefer one of those?

[2018-03-15 13:24] davidvossel commented on #805
I recommend we reject preset conflicts.

If a non-theoretical use case emerges where users can not express their desired presets without conflicts, then we can add a priority field later on.

A priority field in this case would not be a change in default behavior, instead it would be an addition. Existing presets have a default priority after an update. Conflicts within a single priority are rejec

[2018-03-15 14:31] rmohr commented on #805
Could you share an example or link?

[2018-03-15 14:35] stu-gott commented on #805
Sorry, I should have provided context up front.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/aggregator.go#L209

https://github.com/kubernetes/kubernetes/pull/46800

https://github.com/kubernetes/kubernetes/issues/46322

[2018-03-16 12:55] davidvossel commented on #805
If a user wants to override the preset, they can in the VM Spec. I'm not convinced having presets that override presets is a necessary use-case yet.

In general, I'm always going to be in favor of the simplest approach until more complexity is justified. We can always add priorities in the future if we need them, however we can't take them away.

Other than use cases we theorize, is there any prec

[2018-03-16 14:40] rmohr commented on #805
Two main points why allowing conflicts right now is not a good idea from my side:

* Although the operator does not need to explicitly avoid conflicts in the presets he defines, he still needs to think about all the override possibilities, no matter if we allow him to write them with priorities or not (it just just less obvious at the end with priorities)
* The user (person or automated  process)

[2018-03-19 09:41] fabiand opened #824 "Pod on one node can not ping VM on other node"
On OpenShift.

Launching a pod on on node, then trying to ping running a VM on another node fails.

- pod tp pod on another node works
- pod to vm on same node works

[2018-03-19 09:41] fabiand commented on #824
@karmab is the bug description correct?

[2018-03-19 09:43] karmab commented on #824
correct

[2018-03-19 12:55] vatsalparekh opened #826 "oc patch offlinevm"
I created a VM (without option to boot it on creation, so an offline vm) from ManageIQ.
And then I tried to do `oc patch ovms vparekh-test-321 -p '{"spec":{"running":true}}' --type=merge -n default`
It doesn't seem to be working,
`oc get vm vparekh-test -n default` returns
`Error from server (NotFound): virtualmachines.kubevirt.io "vparekh-test" not found`

[2018-03-19 12:56] vatsalparekh commented on #826
@pkliczewski

[2018-03-19 13:11] #810 closed

[2018-03-19 13:12] stu-gott commented on #826
@vatsalparekh Could you post the output of `oc get ovms vparekh-test-321 -o yaml`?

Does a message along the lines of "Invalid controller spec, will not re-enqueue." appear in the virt-controller log after you create the offlinevirtualmachine?

/cc @petrkotas

[2018-03-19 13:24] vatsalparekh commented on #826
@stu-gott
[code]

[2018-03-19 13:46] stu-gott commented on #826
@vatsalparekh what I generally do is `kubectl --namespace kube-system get pods` and visually look for the correct one. Then follow that up with `kubectl --namespace kube-system logs <pod_name>`

Glancing at that spec, I believe it is being rejected. The Labels field is required. Unfortunately the logs aren't going to explicitly say this is the issue. See: https://github.com/kubevirt/kubevirt/pull/

[2018-03-19 14:18] pkliczewski commented on #826
I can confirm that it is not working for me as well when using `v0.3.0`

[2018-03-19 14:50] karmab commented on #824
note that the vm do have their ips received, as any pod running on the same host are able to reach them

[2018-03-19 14:56] karmab commented on #824
for instance,

given those nodes

[code]

[code]
this vm has this details

[code]

[2018-03-19 15:04] rmohr commented on #826
@vatsalparekh Probably just a copy past error, but following your given example the vm you will have to look for is called `vparekh-test-321` and not `parekh-test`.

[2018-03-19 15:11] petrkotas commented on #826
@vatsalparekh I confirm, you are missing the Labels. You can look at the `cluster/my-ovm.yaml` to see how it should look.

[2018-03-19 15:41] rmohr commented on #826
@petrkotas are you sure about the labels? Afaik we are only using the name and no labels.

[2018-03-19 16:17] rmohr commented on #824
@karmab could you do `route` in a vm pod and in an ordinary pod so that we can see if the routes are not correct anymore after the interface is created for the vm?

[2018-03-19 16:25] stu-gott commented on #805
Decision point from today's community meeting: Presets should not be allowed to conflict with other Presets.
- If any conflicts occur between any Presets, no presets will be applied (they might depend on each other)
- If any conflicts occur and the VM's override, the presets still won't be applied (principle of least surprise)

We can implement explicit Preset prioritization at a future date if it

[2018-03-19 16:32] petrkotas commented on #826
@rmohr I am not 100% sure. However, I remember the `metadata.labels` required to be present, otherwise it fail.

I will double check it, and write test for it. I believe we are missing test for missing labels.

[2018-03-20 08:34] petrkotas commented on #826
@pkliczewski @vatsalparekh just occured to me. What openshift version are you running?

[2018-03-20 08:35] vatsalparekh commented on #826
@petrkotas 3.9

[2018-03-20 09:24] karmab commented on #826
i can confirm that spec/template/metadata/labels is required for the ovm to be processed

[2018-03-20 09:27] fabiand commented on #826
@karmab are you saying this is fixing the issue for you?

[2018-03-20 09:36] karmab commented on #826
yes

[2018-03-20 09:37] rmohr commented on #826
@petrkotas seems like this validation is wong: https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-controller/watch/ovm.go#L138

We don't need labels on the vm.

[2018-03-20 09:43] petrkotas commented on #826
@rmohr I see. Creating issue for it.

[2018-03-20 10:00] rmohr commented on #826
@petrkotas this issue should be good enough.

[2018-03-20 11:04] petrkotas commented on #826
@rmohr ack, good job.

[2018-03-20 11:33] #826 closed

[2018-03-20 14:03] rmohr commented on #802
#822 contains a now a preference for kvm domains. If it is run on a test-vm, nested virtualizastion will need to be enabled. If the cpu does not expose virtualization functionality it will fallback to emulation. #804 should not not be that critical anymore. But want to enforce the presence of /dev/kvm in the future.

[2018-03-21 09:54] duyanyan opened #832 "Windows VM can not be started due to incorrect disk permissions (permission denied)"
Try to run a windows vm in a openshift env, pod became completed status and got the error inside the virt-launcher pod:
[code]
[code]
The image file mode in my nfs server is -rwx------
[code]
If I change file mode to 777, then I won't met the permission error and pod could be started
[code]

[2018-03-21 10:43] rmohr commented on #832
I wonder if we can/should provide a fix there, or make clear what permissions are needed to make the image accessible. For local created images (which the launcher owns it sets the permissions).

[2018-03-21 10:56] fabiand commented on #832
At least libvirt provides a usefukl warning in these cases IIRC.

I also wonder if we can't fix this on our side somehow, or even in Kube.
After all it is not always predictive what UID a file will have on a volume, thus I#d expect that maybe kube has a mechanism to adjust/fake it.

[2018-03-21 11:48] cynepco3hahue commented on #832
@duyanyan  I readed a little about NFS export under OpenShift and looks like they leave it on user responsibility to set correct user ID or group ID on container https://docs.openshift.com/container-platform/3.7/install_config/persistent_storage/persistent_storage_nfs.html#nfs-volume-security

@fabiand @rmohr From the other side we do not provide any option to set user ID or group ID on virt-launc

[2018-03-21 12:24] fabiand commented on #832
@cynepco3hahue yes, I mostly agree, except that we don't need `777` `o=rw` should be enough.

Howeverm, the two things we can do:
- Raise relevant error in case that we detect that we can not read something
- Documentation for setting the right permissions

/cc @aglitke @copejon
This is relevant for CDI

[2018-03-21 14:45] rmohr opened #834 "Remove ocp hack once console websocket is introduced"
#819 needs to be reverted then.

[2018-03-22 15:17] rmohr opened #837 "Sometimes two VM pods are scheduled that should be impossible"
If I post a new VM, very seldom I see that two pods are getting created. That should be impossible and it causes the vm controller to just sit there and wait until someone resolved that situation.

[2018-03-23 17:25] mlsorensen opened #841 "Pass DNS search domains from pod to VM"
virt-launcher should publish search domains via DHCP per pod's /etc/resolv.conf

[2018-03-23 17:26] mlsorensen commented on #841
This can be assigned to me.

[2018-03-23 21:35] #824 closed

[2018-03-26 10:46] petrkotas commented on #814
Test to verify the functionality is introduced in #843.
The test is passing without any complication.

However I was able to reproduce the issue described above two times.
First: right from start the setup behaved exactly as described above. I was able to solve the issue by destroying the test setup and creating it again. This case was caused by inconsistent deployment of kubevirt.

Second: the is

[2018-03-26 13:32] davidvossel opened #844 "deprecate vagrant cluster providers"
We need to move everyone over to the containerized providers. Direct usage of vagrant for development should be deprecated.

[2018-03-26 21:41] fabiand commented on #167
Fixed with #673

[2018-03-26 21:41] #167 closed

[2018-03-26 22:05] mlsorensen opened #845 "Avoid creating static route to our default gateway"
I may have run into an issue related to [#830](https://github.com/kubevirt/kubevirt/pull/830). It seems I'm getting a static route to my gateway, and no default gateway.

Since this is merged I'll just create a new issue.

My lease looks like this:

And results in routing table like this:

And I can't get anywhere. Maybe in the "// Filter out irrelevant routes" it should skip routes with destinati

[2018-03-26 23:02] vladikr commented on #845
Yes, I see that you both have the router IP in routers 169.254.1.1 and in the static routes.
I'm not sure how and why was this set in the pod, but I don't see a harm in filtering Dst == router from static routes.

However, in your example, you don't have any static routes, after you've filtering. I wonder if the filtered route caused the default gateway to not be set or perhaps it wasn't set becau

[2018-03-26 23:19] vladikr commented on #845
I'm not sure that this additional route is very problematic
```169.254.1.1 via 169.254.1.1 dev eth0 proto static```
I think that the lack of a default gateway is the problem.

I've added the following that it still worked:
[code]

[2018-03-27 00:17] mlsorensen commented on #845
When the gateway is in my lease file, as well as the classless-static-routes, yes, I don't get a gateway, only the static route. I'm not sure if this is strictly a dhclient behavior when the static route matches the gateway.

When manually adjusting things I also tried your test and noticed this:

[code]

So there may also be something specifically related to the network plugins using link-local t

[2018-03-27 00:48] vladikr commented on #845
Yes, I agree. This route doesn't seem to be necessary.

[2018-03-27 15:37] stu-gott commented on #844
It looks like `docs/env-providers.md` and `docs/getting-started.md` are a bit out of date.

For the benefit of anybody wondering how to move away from Vagrant. We currently have two providers that can be set using the `PROVIDER` env var:

[code]

Depending on if you're looking to deploy an OpenShift or pure Kubernetes environment.

[2018-03-28 14:25] #753 closed

[2018-03-28 16:17] yuvalif opened #848 "when using node port, the VM is accessible only from via the node it is actually running on"
According to documentation, as well as the behavior in case of containers, the VM should be accessible via the node port on any of the nodes of the cluster.
To reproduce, I use the kubevirt demo: https://github.com/kubevirt/demo and use the following yaml to expose SSH as a service from the cirros VM:
[code]
Then, on a multi-node cluster I try to access the port on all nodes:
`ssh cirros@<node-pub

[2018-03-28 21:53] mlsorensen commented on #848
This may be related to #824, which also deals with cross-node pod traffic. Is this reproducible on master?

I never had the problem mentioned in #824, and I've also been using nodePort to expose 22 since v0.3.0 and have had no issues accessing from any node, but its probably dependent on the network plugin and whether it adds routes to pods.

[2018-03-28 23:40] mlsorensen commented on #812
You can edit your remote-viewer script to strip out the vnc://

[code]

If a known VNC password were set in the libvirt XML it would be trivial for virtctl to just call 'open vnc://user:${pass}@localhost:${port} instead of remote-viewer when it detects GOOS == darwin, no Chicken necessary. The built-in VNC viewer requires a password to be provided. I'm not sure if remote-viewer accepts a vnc://use

[2018-03-28 23:52] vladikr commented on #848
I've been looking into this issue today.
The problem is that on openshift, replies from the VM have a different mac address than the source
and therefore don't reach the node.

[code]

The reason for this is that the route to the remote node that we are setting via DHCP is incorrect.
Instead of ```10.128.0.0/14 dev eth0``` we are setting ```10.128.0.0/14 via 10.129.0.1 dev eth0``` (where ```10.129

[2018-03-29 02:32] vladikr commented on #848
Actually adding 0.0.0.0 as a next-hop does the trick.

[2018-03-29 12:29] lukas-bednar opened #853 "openapi.json is missing OfflineVirtualMachine resource"
From some reason `OfflineVirtualMachine` is not included in openapi.json file, and since we generate api-reference from this file and python-client, this resource is missing there as well.

[2018-03-29 13:29] #853 closed

[2018-03-29 14:11] alexxa opened #855 "Is there a definition of VM YAML file?"
I see there are several examples of VM YAML files in ./cluster, but I can't find any definition of such YAML file, if there is any?

I'm looking for smth like a [definition of a module.md file](https://github.com/fedora-modularity/libmodulemd/blob/master/spec.v2.yaml), with detailed explanation of every parameter, and I'd like this file to be placed next to VM YAML examples, for example as `vm_spe

[2018-03-29 21:12] mlsorensen commented on #812
it looks like remote-viewer does not support vnc://user:pass@ URL format. Without setting a VNC password the built-in Mac VNC client won't connect, and it seems the various Linux VNC clients require a few extra hoops to utilize a VNC password.

It would be nice to revisit VNC password and try to come up with a cross-platform compatibility, however I imagine this is pretty low priority. It seems th

[2018-03-30 12:49] simon3z commented on #818
@fabiand @vladikr anyone working on this?

[2018-03-30 12:50] simon3z commented on #818
cc @yuvalif

[2018-03-30 12:52] simon3z commented on #803
@fabiand beginner/help-wanted?

[2018-03-30 12:53] simon3z commented on #802
@fabiand @rmohr was this fixed? Is something missing to complete this?

[2018-03-30 12:56] simon3z commented on #841
@mlsorensen duplicate of #781 ?
cc @fabiand @rmohr

[2018-03-30 13:02] simon3z commented on #832
@fabiand given that this issue is critical-urgent I think we should formalize the assignee.

[2018-03-30 13:03] simon3z commented on #639
@fabiand given that this issue is critical-urgent I think we should formalize the assignee.

[2018-03-30 13:11] simon3z commented on #749
@fabiand are these all still currently open/standing? If any was closed/committed/finalized could strike it from the list?

[2018-03-30 13:15] simon3z commented on #740
@fabiand @rmohr shouldn't we change the title of this? (it seems to affect OpenShift vs Cockpit)
Also, is there any issue tracking a proper fix for this? I am ok to use this one if it's not going to be a workaround.

[2018-03-30 13:18] simon3z commented on #736
@yuvalif have you been working on part of this?

[2018-03-30 13:30] simon3z commented on #570
cc @aglitke

[2018-03-30 13:33] simon3z commented on #454
@rmohr @davidvossel should we close this (fixed by #526)?

[2018-03-30 13:39] simon3z commented on #316
@fabiand do you feel that this (basic L2 networking) is complete and can be closed?

[2018-03-30 13:42] simon3z commented on #294
@fabiand should we close this one?

[2018-03-30 13:42] simon3z commented on #261
@fabiand should we close this?

[2018-03-30 13:43] simon3z commented on #170
@fabiand is this addressed? Should we close it?

[2018-03-30 13:50] davidvossel commented on #454
@simon3z

This feature is a little convoluted. I'll explain.

**Graceful Deletion** is the process of virt-handler confirming to the cluster that a VM has shutdown via the VM cluster object's status field. This is a cluster wide and api related.

**Graceful Shutdown** is the ability for virt-handler to enforce a grace period during the shutdown flow. This is related to local management of VM shutd

[2018-03-30 17:17] rmohr commented on #570
Resolved with #734

[2018-03-30 17:17] #570 closed

[2018-03-30 17:41] mlsorensen commented on #841
That fix was nameservers, this fix is for search domains.

[2018-03-30 22:52] mlsorensen opened #857 "DHCP server to use link local address?"
Currently the bridge IP used to serve DHCP to the VM is "10.11.12.13/24". Perhaps this isn't the final design, especially when one considers potential support for sidecars, but it might be better to assign a link local address to avoid potential conflicts with RFC1918 pod/service networks.  Replacing 10.11.12.13/24 with 169.254.100.10/32 seems to work, for example.

[2018-03-31 14:56] yuvalif commented on #736
For the minikube case, I tried the kubevirt demo, it it works. Also, tried a local CentOS7 VM, with my own PV and PVC, and it worked as well (note that you have to start minikube with the correct features gates fir the local VM case to work).
For the minishift case, there was some privilages issues, I tried adding the following, before trying to install kubvevirt, but could not make it work:
[code

[2018-03-31 17:05] gbraad commented on #736
Minishift will surely miss some packages in the CentOS LiveCD we use

[2018-04-02 07:19] gouyang commented on #826
I can still see this issue on openshift 3.9, the vm is not found after patch ovm to `running`.

[code]

[code]

[2018-04-02 07:59] gouyang opened #858 "virtctl not work by building it from source"
[code]
[code]

[2018-04-02 09:33] fabiand commented on #858
Maybe related to the subresource merge?

[2018-04-02 09:35] fabiand commented on #857
I think this sounds like a really good idea.
After all I wondered his we can choose an IP to not hide certain public IPs.
A link local address did not come to my mind but is a very good suggestion.

+1

/cc @vladikr

[2018-04-02 21:13] davidvossel opened #861 "OVM static endpoint"
OVMs are meant to be immortal, but the underlying tech that supports OVMs (pods) are mortal. Between each OVM start/stop/start sequence, a new pod is created to host the VM.  This means that the same OVM will have multiple pod IPs throughout it's lifecycle.

Users who want access a OVM using an address that is static and consistent between restarts will have to couple OVMs with a k8s service using

[2018-04-03 01:54] itamarh commented on #861
ClusterIP is a virtual allocation, right?
Its an interesting approach, but I don't know it will solve the way VMs communicate to other services/VMs, live migration (not supposed to break on-going communication, etc. - I think with Cluster IP a live migration would break on going ssh sessions?).
(I wonder if we wouldn't need to find a way to get the IP allocation logic to allow re-using IP's at clu

[2018-04-03 06:46] cynepco3hahue commented on #858
@gouyang Do you run multi-node environment? If yes, can you check where `virt-api` pod is running and check that you can ping node from master node by `tun` ip address?

[2018-04-03 07:30] karmab commented on #639
note that now that the code was fully refactored,
issues only happen with pvcs, that is, a vm using a registry disk can boot with selinux
with pvc, sadly i m not able to grab any avc denials anymore

[2018-04-03 07:51] lukas-bednar commented on #684
@simon3z this issue is being addressed by @gbenhaim  in #732 PR, if I am not mistaken.

[2018-04-03 07:56] lukas-bednar commented on #684
@simon3z actually no that is different issue, I am sorry.
This is about that we have two privileged SA.
And I don't know if this was fixed because we make this SA privileged always as a workaround here:
https://github.com/kubevirt/kubevirt-ansible/blob/bc09b0290036b2b76397055f279bcb1e9dedd142/roles/kubevirt/tasks/provision.yml#L20

[2018-04-03 08:04] michalskrivanek commented on #740
currently this is only relevant for Openshift indeed, Cockpit implementation will likely use the proper way from the start

[2018-04-03 09:09] rmohr commented on #861
My take would be to use kube-dns and not try to provide something static regarding to IPs. It should imo be completely fine if one decides to recreate a service which sits in front of a vm with and which gets a new cluster IP.

I don't think that we need a static ClusterIP for that. I think that inside the cluster kube-dns should take care of that. I guess the static IP only makes sense from an in

[2018-04-03 09:14] rmohr commented on #861
Indeed.

 (I wonder if we wouldn't need to find a way to get the IP allocation logic to allow re-using IP's at cluster level for pod's, a-la dhcp, etc. - I know it sounds strange in the context of kubernetes)

Hm, that part is left to the implementation of each cni plugin. E.g. flannel assigns IP ranges per host. With ovn it might even be possible to somehow reuse them, however I am not sure if we

[2018-04-03 09:20] rmohr commented on #814
Could be that you were then hitting #837. Let's keep this open until @karmab can confirm that it works for him too.

[2018-04-03 09:39] rmohr opened #863 "virtctl start/stop should PATCH the offline virtual machine instead of updating it with PUT"
In order to allow adding backward compatible fields to the api, we need to patch offline virtual machine instead of updating it. Otherwise updateable field values may disappear when using a cimpatible but older virtctl command + like mentioned by @davidvossel virtctl will not have to compete with controllers which may modify the ovm in parallel.

[2018-04-03 10:22] rmohr commented on #858
@gouyang your virtctl if newer than v0.3.0. Is your kubevirt cluster version equal or less than v0.3.0? If yes, then virtctl simply can't find the console subresource. Try to checkout the v0.3.0 tag and build virtcl from there then.

[2018-04-03 10:37] rmohr commented on #805
I was surprised to see the following now implemented:
 * If a preset can't be applied, the vm gets to failed state (this means that I would have to choose my vm labels so that I don't by accident match a preset. My expectation for presets would be taht it applies something useful closed in iteself and if the user chooses something different it will just not be applied)
 * We don't check if a prese

[2018-04-03 10:38] rmohr commented on #857
+1

[2018-04-03 12:45] davidvossel commented on #861
DNS caching and TTLs... In a situation where people are running their own VMs, we don't have control over how either of those things are performed by the client. This leads to situations where clients are using stale DNS entries and are unable to connect to the OVM after a restart.

I've seen several cloud providers that provide a concept of a Cluster IP that can be assigned to a VM as a static en

[2018-04-03 12:47] davidvossel commented on #863
this would also fix the scenario where virtctl can fail to update because a controller updated the object between virtctl's get and put operations... This actually happened in our functional test suite last week.

[2018-04-03 13:37] gouyang commented on #858
it's not a multi-node environment, the `virt-api` pod is not running, the logs of the pod is
[code]

The kubevirt cluster is created via kubevirt-ansible, which is using the the kubevirt.yaml from master as well.

BTW, it works with virtctl-v0.4.0-alpha.2-linux-amd64, I forgot to mention it.

[2018-04-03 13:41] gouyang commented on #858
checkout v0.3.0, and build virtctl from it works.

[2018-04-03 13:44] rmohr commented on #858
@gouyang the hint that virt-api does not come up because of the missing flag explains the strange behaviour: You have `:latest` images from an older kubevirt version already on your nodes. The manifest tells kubernetes to not pull the images if they are already present. What you now see is a too old virt-api version which does not have the required flag. You can either change the PullPolicy in the

[2018-04-03 15:42] rmohr commented on #861
That sounds indeed tricky to solve. We can keep the Service in place when the vm gets shut down. That would keep the clusterIP then (but not sure if this kind of ClusterIP would really meet all our requirements). For instance, as you mentioned offline that would not allow non-TCP/UDP communication between vms.

As I see it right now, if we have the same ttl inside the vm like we have right now for

[2018-04-03 16:01] rmohr commented on #863
@petrkotas @stu-gott FYI

[2018-04-03 16:35] fabiand commented on #861
Service provide us with a static endpoint mechanism which works for VMs and OVMs - although there might be a small gap around labels.
Live migration is ignored in this context - but might be addressed with the multinetwork/l2 work we do on a different side.

tl;dr

As we do not have it - and because the current Kubernetes network model does not support it - I am ignoring requirements for live migr

[2018-04-03 23:46] gouyang commented on #858
@rmohr thanks, the pod is running after update `virt-api` image, and virtctl can connect to vm console successfully.

[2018-04-03 23:46] #858 closed

[2018-04-04 08:36] #635 closed

[2018-04-04 09:12] rmohr commented on #845
To quote @karmab :

[code]

He uses https://github.com/kubevirt/kubevirt/releases/tag/v0.4.0-alpha.2 which should contain al relevant fixes. This sounds like we still have an issue here. @karmab do you have more relevant info to share?

[2018-04-04 09:33] karmab commented on #845
@rmohr additionally, note that manually adding the default gateway in the vm gave it
- outside connectivity
- proper dns resolution ( within the cluster in particular)

[2018-04-04 11:54] stu-gott commented on #805
@rmohr I don't understand what you mean by:

The point of the failed state in this case is that if Presets failed altogether, the VM is almost certainly not in a healthy or expected state anymore. Especially with respect to Persistent Volumes.

The overall VM won't fail or conflict in such a case because there is an annotation check. We use the `presets-applied` annotation to determine if presets

[2018-04-04 12:04] fabiand commented on #832
I think this issue is fixed.

@karmab @duyanyan can yuo confirm that this bug is fixed?

[2018-04-04 12:07] fabiand commented on #639
Cool.

And that makes sense, because if we are using storage as provided by Kube/OpenShift, then we are covered by the openshift policy.
Just registry containers fall a bit out of the usual pattern.

I'll create a separate issue for those.

[2018-04-04 12:08] fabiand commented on #639
@cynepco3hahue Can you add a test case to check for denials during our test runs?

[2018-04-04 12:15] fabiand opened #865 "Add testcase to check for SELinux denials during test runs"
With #639 it was checked that VMs can run with SELinux enabled.

We should add a testcase to watch for denials which take place during our test runs.

The idea is to have a testcase (or a post-test-hook) which checks for denials after the complete testsuite or after each run in order to ensure that we stay denial free over time.

[2018-04-04 12:17] fabiand opened #866 "Get rid of SELinux denials when registry disks are used"
Currently - as described in #639 - the use of registry disks will cause SELinux denials.

We should understand why the denials are raised and should see if we can get rid of them.

[2018-04-04 12:29] fabiand commented on #802
I'm closing this specific issue, as we can create kvm domains.

We can track future changes in separate issues.

[2018-04-04 12:29] #802 closed

[2018-04-04 12:30] fabiand commented on #781
@vladikr wasn't this fixed with #831?

[2018-04-04 12:40] karmab commented on #832
my take is that it is indeed fixed, but would be nice to have a document indicating which requirements are needed on the pv side
- permission
- ownership

[2018-04-04 12:41] fabiand commented on #834
This depends on a better solution in OCP. Nothing we can target right now.

[2018-04-04 12:43] fabiand commented on #727
@rmohr can you confirm that this is fixed?

[2018-04-04 12:46] xsgordon commented on #740
@rmohr OK reading this + related PR I now have the context to understand where you were coming from in our earlier discussion.

[2018-04-04 12:47] fabiand commented on #684
Closing this issue, because the controller has enough privileges in the current state.

it's an enhacement to make these permissions more fine grained.

[2018-04-04 12:47] #684 closed

[2018-04-04 12:55] rmohr commented on #727
@fabiand there is no bug. It would just make sense to also mark standby controllers as ready, to not confuse everyone what our "ready" status means.

[2018-04-04 12:58] rmohr commented on #727
To answer this question: we follow the same principle like the controller-manager in k8s. There will always ever only be one active controller. We have an election mechanism in the code.

[2018-04-04 13:29] rmohr commented on #832
Our VMs run as non-root with uid 107 (qemu user). In my opinion that would be the best to document.

[2018-04-04 13:48] vladikr commented on #781
@fabiand yes, I think it can be closed if there is nothing else to it.
#831 covered the nameservers and #856 added the search domains. - so we can close #841 as well.

[2018-04-04 14:10] fabiand commented on #841
There was a fix in #856.

[2018-04-04 14:10] #841 closed

[2018-04-04 14:10] fabiand commented on #781
Thanks

[2018-04-04 14:10] #781 closed

[2018-04-04 14:13] fabiand commented on #844
@stu-gott please provide a RP to fix the docs.

Is there anything else that needs adjustment?

[2018-04-04 14:14] fabiand commented on #834
Setting to v1.1 for now, but we need to see how OCP evolves.

[2018-04-04 14:18] fabiand commented on #832
Thanks @karmab @rmohr

Created a note in the user guide to document it.

[2018-04-04 14:30] alexxa commented on #855
@fabiand yes, it's. Thanks. Is it referenced somewhere in this Git repo? I mean how users can find it?

[2018-04-04 14:30] fabiand commented on #848
@duyanyan can you confirm independently that this bug is fixed?

or @karmab ?

[2018-04-04 14:31] fabiand commented on #803
Automation is my use-case.

Launch a VM and interact with it using expect, or grepping for some output.

[2018-04-04 14:35] fabiand commented on #772
This is pretty large but quite isolated, thus maybe a good starting point for a contributor.

[2018-04-04 14:37] fabiand commented on #736
I actually think that #732 will fix that you need to run `oc adm policy add-scc-to-user` manually.

[2018-04-04 14:46] fabiand commented on #665
I'm closign this issue for now, as migrations are taken out atm.

[2018-04-04 14:46] #665 closed

[2018-04-04 14:46] #620 closed

[2018-04-04 14:47] fabiand commented on #614
@davidvossel does this issue still apply to the current state?

[2018-04-04 14:48] fabiand commented on #615
This one should be fixed after the subresource work, right?

[2018-04-04 14:49] fabiand commented on #564
@rmohr I think this is done,r ight?

[2018-04-04 14:50] rmohr commented on #564
Yes done. We only need to officially deprecate vagrant now #844.

[2018-04-04 14:50] #564 closed

[2018-04-04 14:53] fabiand commented on #430
Closing this for now, will reopen it if necessary.

[2018-04-04 14:53] #430 closed

[2018-04-04 14:54] fabiand commented on #427
Now that we are also testing openshift, we might not need to decide on a specific runtime, but rather focus on the kubernetes distribution.

In other words - we are implicitly testing a different runtmie by testing openshift.

[2018-04-04 14:54] #427 closed

[2018-04-04 14:54] fabiand commented on #440
We don#t go into this formalization process for now.

[2018-04-04 14:54] #440 closed

[2018-04-04 14:56] davidvossel commented on #614
serial and vnc unix sockets are now private per pod

[2018-04-04 14:56] #614 closed

[2018-04-04 14:56] fabiand commented on #404
@davidvossel I suppose this is also something to be covered by the webhook admission controler?

[2018-04-04 14:58] davidvossel commented on #615
we still have the situation where sockets are shared between virt-launcher and virt-handler. This is required for communication between the two components.

However, with the addition of the subresource stream api for console and vnc, there's no reason for a user to need podExec permissions to use KubeVirt.

I'd prefer the VM pod to not need any host shared mounts at some point.

[2018-04-04 14:59] fabiand commented on #397
This was fixed as part of #167

For now we can explicitly request limits/requests for CPU and memory.

[2018-04-04 14:59] #397 closed

[2018-04-04 14:59] davidvossel commented on #404
@fabiand yes this will be handled in the webhook.

[2018-04-04 14:59] fabiand commented on #395
To stretched atm, closing this.

[2018-04-04 14:59] #395 closed

[2018-04-04 15:01] fabiand commented on #316
We just solved L3.

L2 needs to be solved using the DP approach which @phoracek is POCing.

[2018-04-04 15:02] davidvossel commented on #556
related webhook validation https://github.com/kubevirt/kubevirt/issues/404

[2018-04-04 15:02] fabiand commented on #296
For now we settled with only consuming the pod metrics.

Thus closing this issue for now.

[2018-04-04 15:03] fabiand commented on #187
By now it's clear that we go with an Operator approach which provides the VM runtime as pods.

And we are using CRDs to define the VM entities.

[2018-04-04 15:03] #187 closed

[2018-04-04 15:04] fabiand commented on #170
This is actually now addressed by using the provided presets.

[2018-04-04 15:04] #170 closed

[2018-04-04 15:04] fabiand commented on #154
Closing this issue for now, as migrations are dropped atm and thus the bug is not applicable anymore.

[2018-04-04 15:04] #154 closed

[2018-04-04 15:05] fabiand commented on #128
@nellyc something you want to own?

[2018-04-04 15:11] fabiand commented on #855
It is tricky to find, but there is an effort to rework the complete documentation - then it should be easier to find.

You can find it here:
https://github.com/kubevirt/ (api-reference)

[2018-04-04 15:12] #855 closed

[2018-04-04 15:27] fabiand commented on #626
Is this still relevant, @davidvossel ?

[2018-04-04 15:33] fabiand commented on #615
Thanks.

Yes, we still have host mounts, and I agree we should get rid of them. Keeping it open.

[2018-04-04 15:34] #584 closed

[2018-04-04 15:35] cynepco3hahue commented on #427
@rmohr @fabiand does openshift use cri-o?

[2018-04-04 15:55] #832 closed

[2018-04-04 16:38] rmohr commented on #803
I think that we can simply do the same what docker/kubectl exec does and introduce the "-it" flags. However, serial console is not ssh or another bash session. Will have to look into the details here of some of the automation use cases (expect scripts,...). Just introducing the flags alone would not help you in my opinion.

[2018-04-04 16:38] mlsorensen commented on #845
I'd try to help, but I don't have an Openshift installation to try this on.

Per the code it seemed as though routes[0] was the default gateway, and this change is only filtering routes[1:] if it finds a static route for the gateway.

I'm guessing what must happen on Openshift is that it creates a static route to define how to reach the gateway IP, and then defines the gateway IP as the default. N

[2018-04-04 16:51] cynepco3hahue commented on #845
@mlsorensen You can start OpenShift environment locally(you just need some amount of memory), just run:
[code]
We have some problem with connectivity between nodes, but this PR must fix it https://github.com/kubevirt/kubevirt/pull/867

[2018-04-04 17:11] mlsorensen commented on #845
Thanks, I'll give it a shot.

[2018-04-04 18:07] lukas-bednar opened #868 "When trying to schedule VM, failing to run DHCP"
I am running latest KubeVirt on just released OpenShift 3.9, and when creating VM
[code]
The virt-launcher is failing on following issue:
[code]
This `openstacklocal` domain is in `/etc/resolv.conf` like
[code]
This OpenShift node is running as a VM inside of OpenStack cluster, and these values were generated by NetworkManager.

I will be happy for any suggestions!
Thanks,
Lukas.

[2018-04-04 18:12] vladikr commented on #868
@mlsorensen could you please take a look? Thanks!

[2018-04-04 18:47] vladikr commented on #868
I think we should trust the pod's configuration more. If it worked for the pod it should work for the VM as well. In any case, we should skip an "incorrect" domain, but not crash.

Here is a nice approach to follow I think ... https://golang.org/src/net/dnsconfig_unix.go L86 .

[2018-04-04 19:06] vladikr commented on #845
So far we've noticed that a cirros and windows VMs get a correct default gateway. However, Fedora fails to set a gw.

[2018-04-04 19:25] vladikr commented on #845
Here is a lease file from the Fedora vm:
[code]
All routes were set except for the default gateway:

[code]

[2018-04-04 19:35] davidvossel commented on #626
yep, fixed.

[2018-04-04 19:35] #626 closed

[2018-04-04 19:36] karmab commented on #866
nope, registry disks are the ones not getting selinux denials.
denials only occur when using pvc disks, although the relevant avc denials are not visible on the host.

[2018-04-04 19:37] davidvossel commented on #803
@fabiand is ssh an option for your automation?

[2018-04-04 19:46] mlsorensen commented on #845
One interesting thing, the issue I saw was also on Fedora, and filtering out the duplicate static route for default gateway effectively removed the classless-static-routes option. Maybe this is the same issue, and fedora's network setup just doesn't work right when classless static routes are provided.

[2018-04-04 20:17] mlsorensen commented on #845
Ah:

"If the DHCP server returns both a Classless Static Routes option and
   a Router option, the DHCP client MUST ignore the Router option."

https://www.ietf.org/rfc/rfc3442.txt

So the addition of #830 effectively breaks "options router", if the DHCP client implements and adheres to rfc3442. This was probably my core issue, not as previously thought.

The routes could be moved to DHCP option 3

[2018-04-04 23:57] vladikr commented on #845
@mlsorensen Thanks for looking into this!
I think you are right. According to [1] we should be able to set the default route using option 121
(Is it {0,defaultgateway} ?)

What do you see that is not working right on openshift?

[1] https://github.com/systemd/systemd/issues/7792#issuecomment-355301355

[2018-04-05 09:00] fabiand commented on #639
Correction:

Denials happen with PVCs
No denials happen with registry disks.

Thus we need to keep this bug open.

[2018-04-05 09:00] fabiand commented on #866
Thanks

[2018-04-05 09:00] #866 closed

[2018-04-05 11:41] cynepco3hahue commented on #639
@fabiand I checked AVC denials on OpenShift environment after functional tests run and I do not see any new denials, so looks like all code refactoring solved all SELinux problems
[code]
I also ran all tests on the environment with enabled SELinux and it passed without failures, I think we can(need) to enable it under our CI.
@karmab Please re-open the issue if you will have additional problems wi

[2018-04-05 11:41] #639 closed

[2018-04-05 12:03] fabiand commented on #639
AWESOME. Thank you.

[2018-04-05 15:24] fabiand commented on #803
@davidvossel I think so *cough*ansible*cough* - at least in the vm world

@rmohr Yeah, I agree. It's just annoying, and btw with kubectl exec it's also annoying.

[2018-04-05 15:25] fabiand commented on #427
I'm not sure if they did the switch yet. It could be that its optional.

However…
The original reason for this card was to test the runtime that openshift uses.
Now that we test openshift, we leave it to them to decide what runtime to use.

[2018-04-05 15:26] mlsorensen commented on #845
Ah, I think FormClasslessStaticRoutes isn't accounting for the '0' case in RFC3442's table below, as the smallest mask it will currently return is 1.  Let me try that out...

[code]

[2018-04-05 15:26] fabiand commented on #855
@scollier fyi the second last comment

[2018-04-05 15:30] mlsorensen commented on #845
Woohoo, success. I'll put together a pull request in a bit.

[2018-04-05 16:04] mlsorensen commented on #845
OpenShift + fedora:
[code]
OpenShift + Cirros:
[code]

Vanilla Kubernetes  + Calico:
[code]

[2018-04-05 16:08] mlsorensen commented on #868
"openstacklocal' is indeed an invalid domain per RFC. How do we want to handle this?

[2018-04-05 16:11] lukas-bednar commented on #868
I would go in the way which @vladikr mentioned above.

[2018-04-05 16:13] mlsorensen commented on #868
That would end us up with incorrect config. One would assume that if it is in the resolv.conf in the pod it needs to be in the VM as well, to match functionality.

I think perhaps the domain validation should be loosened to allow partial domains like this.  'com' on its own is not a valid domain, but it IS a valid search domain as searching assumes it will be prepended with something.

[2018-04-06 07:08] fabiand opened #871 "Images can not be pulled by CRIO"
Pulling images currently fails with:

[code]

Is easily solved by adding the registry.

Reproducable on

[code]

[2018-04-06 07:10] fabiand opened #872 "controller is not launched with CRIO"
Launching an image using crio fails:

[code]

reproducable on

[code]

[2018-04-06 08:01] fabiand commented on #872
Hm.
The container spec requires a non-root user, and the image has a non-root user set. But CRIO still complains. I wonder why.

[2018-04-06 08:34] petrkotas commented on #814
@rmohr ack

[2018-04-06 08:34] fabiand commented on #872
`runc list` in minikube reveals that all containers are run as root.

[2018-04-06 11:58] #845 closed

[2018-04-06 13:55] lukas-bednar commented on #868
@mlsorensen Thanks, your fix solved my problem!

[2018-04-06 14:09] mrunalp commented on #872
@fabiand What version of cri-o do you see running? We have fixed the issue of all running is root in recent versions of 1.9 in cri-o. You should run 1.9.11 and let us know if you see the same issue.

[2018-04-06 14:24] martinpitt opened #874 "vm.yaml has invalid image name"
In https://github.com/cockpit-project/cockpit/pull/8947 I'm trying to rebuild Cockpit's openshift image which includes the current release (v0.3.0) of kubevirt. This tries to deploy iscsi-demo-target.yaml (which works, or at least does not fail), and then [vm.yaml](https://github.com/kubevirt/kubevirt/blob/master/cluster/vm.yaml). But this specifies `image: kubevirt/cirros-registry-disk-demo:devel

[2018-04-06 14:27] martinpitt commented on #874
Nevermind, I forgot the `bootstrapKubevirt()` bits in my manual test. Now it's working fine, so this is just about the bad tag.

[2018-04-06 20:12] fabiand commented on #874
Cool. Closing this, let me know if you need anything else.

[2018-04-06 20:57] mlsorensen opened #876 "VM Deletion doesn't clean up pod"
I've observed recently that creating a VM and deleting it results in the VM resource going away, but the virt-launcher pod remains 'Running' with 2/2 containers. I'm trying to look into this and understand the process, whether there's an explicit pod deletion or if the pod is just supposed to shut down. I presume it should be deleted so it isn't left in 'Completed' state. I can see there's a dance

[2018-04-06 21:30] davidvossel commented on #803
so, would (ssh + cloud-init for key injection) work for the automation use case? If so, can we close this?

[2018-04-07 07:27] rmohr commented on #876
For as long as it goes to 'Completed' it works as expected. It can happen that it gets deleted (depends on when the vm object gets created/deleted/recreated, but that does not always happen.

I am also currently refactoring in #838 the vm controller, so that the vm will stay in the cluster until the vm is either down or deleted (foreground delete). We can discuss if it makes sense to always delete

[2018-04-07 07:43] rmohr commented on #876
Edit: no you are right. If you see the described behavior then there could be something wrong.

[2018-04-08 17:46] martinpitt commented on #874
No no, the invalid image name is real. The bit that wasn't was the thing after "But then it still fails...", which I already updated in the description. Please reopen.

[2018-04-09 07:45] duyanyan opened #879 "Connection failed between windows vm and node"
In a Openshift env (just one node), create two vms, one is cirros, the other is a windows vm. Failed to ping IP of windows vm from node.
[code]
Ping the two vms from node:
[code]

[2018-04-09 07:45] rmohr commented on #874
@martinpitt looking at https://github.com/cockpit-project/cockpit/pull/8947/files#diff-3db8a96aef3a0ad8fd60930f6774d271R47, we use in all our examples the `devel` tag which we do intentionally not publish. That helps us to ensure that we can tie or examples to the exact repo content. If you would run `make cluster-up && make cluster-sync` followed by a `cluster/kubectl.sh create -f cluster/vm.yaml

[2018-04-09 07:50] rmohr commented on #879
Is that happening on `v0.4.0` or `v0.4.0-alpha.2`? In theory `v0.4.0` should contain #869 which should fix exactly that. @mlsorensen @vladikr FYI.

[2018-04-09 07:52] martinpitt commented on #874
Thanks. If it's by intent, I'm fine with keeping that seddery there. Admittedly I'm just monkey-patching around, this was originally written by @mareklibra - maybe he has a comment about this.

[2018-04-09 08:50] duyanyan commented on #879
I could reproduce it even I use v0.4.0, but I use an old version kubevirt.yaml.in, since there is issue when use kubevirt-ansible to deploy it with latest kubevirt code (see https://github.com/kubevirt/kubevirt-ansible/issues/179), does that affect?
[code]

[2018-04-09 10:39] fabiand opened #881 "VM shutdown issue"
(I haven't experienced it myself, just got the notice about it)

Not details yet, will add them once available.

[code]

[2018-04-09 11:15] rmohr commented on #876
May be related to #881

[2018-04-09 14:35] davidvossel commented on #876
@mlsorensen @rmohr this is trivial to reproduce. I see it in the k8s provider as well. We have a regression of some sort.

Once we fix this, we need functional tests to ensure the pod completes. I'm surprised this isn't already a test case.

[2018-04-09 15:16] cynepco3hahue commented on #876
I can see that we do not have at all function that waits for some expected status of pod after VM deletion.
I want to create one, but I need to know expected statuses for the `virt-launcher` pod when:
- VM deleted
- VM crashed

[2018-04-09 15:30] cynepco3hahue commented on #876
@davidvossel By the way, I do not sure if it relevant for the current issue, but if I delete VM with registry disk, the `virt-launcher` pod will have `Failed` state because of `registryvolume` container
[code]

[2018-04-09 15:32] cynepco3hahue commented on #876
And some events
[code]

[2018-04-09 16:51] mlsorensen commented on #879
Can the IP and routing config on the windows VM be provided? What was the last known version where this worked with the windows PV being used?

[2018-04-09 16:57] #876 closed

[2018-04-09 16:57] #881 closed

[2018-04-09 19:08] fabiand commented on #128
Sounds cool. thanks. I'd still assign it to you until you share your suggestion :)

[2018-04-09 22:34] johnhamelink opened #887 ""Can't connect to websocket (404): 404 page not found""
Hi there,

I'm trying to run the demo kubevirt inside a fresh instance of minikube 0.25.2, running kubernetes 1.9.4. All the commands run successfully, however when I try to connect with `virtctl vnc testvm` or `virtctl console testvm` I get a 404 error:

[code]

[code]

[code]

[2018-04-10 05:17] gouyang commented on #887
I have met the same issue in #858, the root cause is that the pod `virt-api` is not running and it's resolved it by update `virt-api` image, delete the old image and pull again.

[2018-04-10 08:54] cynepco3hahue opened #888 "Deletion of VM with registry disk, put volumeregistryvolume container to terminating status with "Error" reason"
- Create a VM
[code]

- Verify the VM pod
[code]

- Delete the VM
[code]

- Verify registrydisk container
[code]

I think it must be the same as we have for the `compute` container:
[code]

[2018-04-10 12:23] rmohr opened #890 "virt-controller should mark itself as ready, even if it is just in hot-standby"
Right now we mark virt-controller only as ready, if it has won the leader election. That confuses everone. Mark it as ready if experiences no error to align with the general/right perception of the ready state.

[2018-04-10 12:26] fabiand commented on #890
Thanks

[2018-04-10 13:28] johnhamelink commented on #887
The docs all mention version 0.3.0 - Upgrading to version 0.4.0 fixed this issue for me. It'd be very useful if virtctl displayed the client & server versions, just like kubectl does!

[2018-04-10 13:28] #887 closed

[2018-04-10 14:19] rmohr opened #891 "Add virtcl version command"
Add `virtcl version` command so that people have an easy way to see which virtctl and kubevirt version they use.

Output should be similar to

[code]

[2018-04-10 14:25] fabiand commented on #887
Thanks @johnhamelink good idea.

[2018-04-10 14:44] mlsorensen commented on #879
Ok, you got me. It looks like the DHCP routes, IP, gateway are all coming through per the previous patches.

I see the IP is not .9 for the windows VM  per the previous info, it’s .10. Is this just for to subsequent testing, do kubernetes and the VM agree on IP?

Has the VM connectivity been tested to see what works and doesn’t? Or is this only a host -> guest issue?

[2018-04-10 17:33] mlsorensen commented on #857
Sorry, didn't notice this got assigned.

[2018-04-11 06:52] duyanyan commented on #879
The issue caused by the windows firewall.
After disable the firewall in windows, the connection to win vm is working well

[2018-04-11 06:52] #879 closed

[2018-04-11 09:35] rmohr opened #894 ""VM defined" event is sent on every successfull VirtualMacine sync in virt-handler"
Instead of being just triggered when we define a domain in libvirt, we send the event on every successfull sychronization loop between virt-handler and virt-launcher:

[code]

[2018-04-11 12:45] fabiand commented on #677
/cc @mlsorensen fyi wrt autoscaler

[2018-04-11 12:54] fabiand commented on #894
Setting critical urgent, not because it's criticsl, rather that it should be fixed quick in order to make the describe command cleaner

[2018-04-11 12:56] fabiand commented on #890
Setting urgent, because it's highly visible in the oepnshift webconsole.

[2018-04-11 12:57] fabiand commented on #888
Does this actually have a functional impact?

or is this issue just about having a better exit reason?

[2018-04-11 12:58] #857 closed

[2018-04-11 12:59] fabiand commented on #872
Yes, it was experienced on crio 1.6.

I'm waiting that minikube is seeing an update.

[2018-04-11 13:00] fabiand opened #896 "Add a documentation note for CRIO"
Currently KuebVirt can not be run on the CRIO runtime.

[2018-04-11 13:00] fabiand commented on #896
Should be done in the user-guide

[2018-04-11 13:04] xsgordon commented on #782
I think having the prefix reflect the domain it is responsible for is helpful for an admin/operator trying to inspect it.

[2018-04-11 13:10] cynepco3hahue commented on #888
I do not sure that it really does some impact, but pod will have `Failed` state if at least one container exits with non-zero status code. I assume that pod must have succeeded state when a user deletes a VM and `Failed` state only when a VM crashed.

[2018-04-11 13:42] xsgordon commented on #812
I believe we want to be consistent with kubectl, oc, etc. here and ensure that the client works on OS/X, even if it is lower priority in the immediate term.

[2018-04-11 14:12] fabiand opened #897 "Support CRIO container runtime"
OpenShift will shift to use CRIO by default as it's container runtime.

We should ensure that KubeVirt is working as expected even with CRIO.

[2018-04-11 14:12] fabiand commented on #896
/ref #897

[2018-04-11 14:12] fabiand commented on #872
/ref #897

[2018-04-11 14:12] fabiand commented on #871
/ref #897

[2018-04-11 14:26] davidvossel commented on #891
we should also consider enumerating what KubeVirt features are present as well.

[2018-04-11 15:57] yuvalif opened #898 "prevent rsync error in make"
add ```sleep``` in line 35 of https://github.com/kubevirt/kubevirt/blob/master/hack/dockerized
to prevent from following error when running ```make```:
[code]

[2018-04-12 07:10] rmohr commented on #888
The vm object is not impacted by that, so no.

The issues is most likely fixed with a change introduced with #886. @cynepco3hahue lets confirm that before we close the issue.

[2018-04-12 07:13] rmohr commented on #898
Hm, I think it is better to give fsync a timeout. E.g. 15 seconds and until then swallow the whole error output. Then do a final run and output the error. It greatly varies from run to run and host speed how  fast rsyncd is ready to accept connections (can actually take a few seconds and I don't want to delay the run for everyone).

[2018-04-12 07:36] rmohr commented on #898
We can also give it 30 seconds, then it is for sure enough. I think that within that timeout we should redirect  to /dev/null. If it is then still not ready, we should try once again and print the result to sterr, so that people can see that something is wrong. Otherwise it would just hang forever without any output.

[2018-04-12 10:58] #890 closed

[2018-04-12 12:53] fabiand commented on #812
@mlsorensen sounds good to me for now.

We could actually raise an info in the end to highlight to install one of those.

[2018-04-12 12:57] fabiand opened #904 "Add default RBAC rules for console access"
We should provide RBAC roles for console (spice, serial) access.

Then a user just has to add a binding if needed.

[2018-04-12 14:02] pkliczewski opened #905 "virtctl vnc is unhelpful"
When i run:

[code]
I get:

I would like to understand why it is not working.

[2018-04-12 14:03] pkliczewski commented on #905
I downloaded virtctl from [here](https://github.com/kubevirt/kubevirt/releases/download/v0.4.1/virtctl-v0.4.1-linux-amd64).

[2018-04-12 14:13] fabiand commented on #803
I wouldn#t say it's an replamcenet.

but I am fine in closing thi sbug for now.

[2018-04-12 14:13] #803 closed

[2018-04-12 16:38] dyasny commented on #772
@fabiand any idea where to look at examples of similar tasks fulfilled?

[2018-04-12 16:45] cynepco3hahue commented on #772
I think Gabriel works on something similar.

On Thu, Apr 12, 2018, 19:38 dyasny <notifications@github.com> wrote:

[2018-04-12 16:46] dyasny commented on #772
@cynepco3hahue just wanted to see where and how in the codebase one would tackle this, as I'm only starting with this stuff

[2018-04-12 17:00] karmab commented on #905
this seems to be the error reported from remote-viewer

[2018-04-12 17:06] karmab opened #906 "Missing search domains in windows vm (Windows does not support DHCP option 119) (not a bug)"
when i deploy a windows vm, i note that my network config misses search domains (checking with ipconfig /all).
this is present on linux boxes on the same cluster.

[2018-04-12 20:17] mlsorensen commented on #906
Are we sure windows DHCP client supports option 119?

[2018-04-12 21:02] fabiand commented on #848
Thanks!

[2018-04-12 21:02] #848 closed

[2018-04-12 21:05] fabiand commented on #906
Source: http://www.dell.com/support/article/de/de/debsdt1/sln291195/unable-to-configure-dns-suffix-search-list-via-dhcp?lang=en

Hum.

- Documentation for this
- Manual workaround
- Implementing Group Policies in KubeVirt - I think this is to stretched :)

[2018-04-12 21:09] fabiand commented on #906
Summarizing the impact again:

- Windows guests are not able to lookup _cluster_ service (and other entities with a DNS entry) by their "short name" i.e. `myservice`. Instead they need to use the full fqdn: `myservice.default.svc.cluster` (IIRC)
- DNS resolution of the broader internet is not affected

[2018-04-12 21:19] fabiand commented on #906
Side note - this problem is not specific to kubevirt, it applies to any windows guest.
Although it might affect guests on kubevirt more, as kubernetes is using DNS records extensively for service discovery.

[2018-04-12 21:49] fabiand commented on #906
@karmab you can not resolve any service name into an ip?

[2018-04-12 21:52] fabiand commented on #906
@duyanyan are you able to reproduce the issue @karmab is encountering?

[2018-04-12 21:56] rmohr commented on #906
Are we sending option 015 right now? If we send e.g. svc.local there,  it should be picket up and fqdn should work for k8s services.

[2018-04-13 00:15] ben-skyportsystems opened #908 "Help connecting using serial console"
Hi,

I'm trying to use virtctl con to connect to a VM's serial console, but am missing something:
[code]
By all accounts the VM is running:
[code]
And from inside the docker running libvirtd:
[code]
Please help me understand where the expected websocket endpoint is (in the virt-launcher container?) and how it's supposed to be discovered.

thanks,
Ben

[2018-04-13 02:14] vladikr commented on #906
Nope, we are sending a list via option 119 (RFC 3397) and it looks like windows doesn't support it at all...
However, I think option 015 is only intended to be a single domain name

[2018-04-13 02:46] duyanyan commented on #906
Yes, I could reproduce it. when I check the vms, seems there are no search domain in both windows and cirros vm:
[code]
But exist inside a normal pod at the same cluster
[code]

[2018-04-13 03:03] mlsorensen commented on #906
Search domains work here on 0.4.0, with Cirros and Fedora images. First step might be to debug the dhcp client and what it’s getting. I have a tcpdump around here somewhere that will show the data as well...

[2018-04-13 03:26] mlsorensen commented on #908
The 503 may be coming from virt-api, check that it's healthy.

[2018-04-13 05:49] #898 closed

[2018-04-13 08:27] alexxa opened #909 "Missing resources in kubectl get/describe --help"
1) `kubectl get --help` doesn't list `vms, vmrs and ovms` as resources.
2) `vms, vmrs, and ovms` are not listed in `kubectl describe --help` too.

I'm not familiar with KubeVirt and kubectl that much yet to say if anth else is missing, but I would appreciate it if `--help` was useful and complete.

[2018-04-13 12:32] fabiand commented on #906
As stated higher above - Windows does not support option 119 (given in the dell source).

[2018-04-13 13:17] fabiand commented on #906
@duyanyan Can you please check if DNS resolution of cluster services is working on windows at all

My goal is to get an overview of what is working and what not today, in today#s state.

Please test:

1. Create a pod with nginx
2. Create a `mysvc` service for this pod
3. create another pod `testpod`
4. create a vm `testvm`
---
5. Test: Ping google.com from `testpod`
6. Test: Ping mysvc from `testp

[2018-04-13 18:46] ben-skyportsystems commented on #908
Thanks for responding @mlsorensen .  I can deploy VMs, which requires virt-api to be running, doesn't it?

As to its health, I see a running virtapi container:
[code]
and can exec into it.  It's appears to be listening on port 8443, but I don't know enough about how things are stitched together to know how to debug.

[2018-04-13 20:15] fabiand commented on #908
@ben-skyportsystems Thanks for reporting this. Did you also deploy kubevrit 0.4.0 on the cluster? There would be an issue if you used the 0.4 client and 0.3 on the cluster (or vice versa)

[2018-04-13 20:15] fabiand commented on #908
@davidvossel @karmab

[2018-04-13 20:20] fabiand opened #912 "Add everything that is needed to make virtctl a kubectl binary plugin"
virttl can be a binary plugin to kubectl.

In order to achieve this, we need provide additional meta-data and some tooling (i.e. a command in virtctl itself?) to install it.

The metadata description can be found in the official kubernetes docs:
https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

Rough items:
- [ ] Define metadata
- [ ] `virtctl kubectl plug/unplug` to install
- [ ]

[2018-04-13 20:32] ben-skyportsystems commented on #908
Hi @fabiand , yes it's 0.4.0 all around.  Here's the output you asked for:
[code]

[2018-04-13 21:50] karmab commented on #908
@ben-skyportsystems is it possible you connect behind a proxy ?

[2018-04-13 22:36] ben-skyportsystems commented on #908
@karmab : yes, I am behind a proxy and it's a constant PITA.  I've made sure that all the nodes are listed in the **no_proxy** environment variable and even restarted the controller node to be sure, but the problem is still there.

[2018-04-13 23:35] ben-skyportsystems commented on #908
Also, in case it's relevant, I'm using Kubernetes v1.10.0.
I get the same 503 when using the Darwin build of virtctl, and the Mac is not behind a web proxy.

[2018-04-16 02:28] duyanyan commented on #906
Sorry for late reply @fabiand
[code]
For  ```testpod```
[code]

For  ```windowsvm```
[code]

[2018-04-16 07:19] nellyc opened #913 "'make cluster-up' fails on mac"
make cluster-up failed with error on mac
OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused "process_linux.go:86: executing setns process caused \"exit status 21\"": unknown

Docker Version 18.03.0-ce-mac60 (23751)

more specifically this is the point of failure:
docker run --privileged --rm -v /var/run/docker.sock:/var/run/docker.sock kubevirtci/cli@sh

[2018-04-16 07:56] karmab commented on #906
here s a screenshot of windows network configuration.
the dnserver listed is the node the vm is running on.
![image](https://user-images.githubusercontent.com/1840387/38796579-1f4d4c38-415c-11e8-9981-e2f77625a5a5.png)

for a fedora vm, the resolv.conf goes like this

[code]

[2018-04-16 08:01] rmohr commented on #913
@mpolednik if I remember correctly, you have a mac. Could you try to find out why

[code]

fails on mac?

[2018-04-16 08:09] rmohr commented on #906
That looks like pinging the fqdn seems to work, perfect. So what we can do now is adding 015, then you could reach your service with two names:

 * mysvc.myproject.svc.cluster.local (fqdn)
 * mysvc.myproject.svc (without cluster-wide suffix)

@karmab it seems like I misunderstood the issue impact. I was under the impression that not even fqdns worked. It definitely makes sense to add the cluster-w

[2018-04-16 08:20] masayag opened #914 "Labels element of Offline VM"
There seems to be an ambiguity that we'd like to clarify around the 'labels' element of the offline vm entity.
Should the labels be a child element of the metadata element (as [1] hints) or  a direct child of the parent element (as [2] hints).

The offlinevm document [3] doesn't refer to that field specifically, and we'd like all places to be aligned according to kubevirt's definition.

[1] https:

[2018-04-16 08:33] fabiand commented on #914
@masayag Heya!

Labels are a child of `metadata` as it's teh case for all Kube objects.

Thus:
- [1] is correct
- [2] is _wrong_

Can you open a pr to fix [2]?

[2018-04-16 08:35] fabiand commented on #914
I actually commented on [2], thus closing this here.

[2018-04-16 08:35] #914 closed

[2018-04-16 08:39] fabiand commented on #906
@rmohr For consistency I'd not use option 15, but rather ask windows users to use the full fqdn.
@karmab As @rmohr mentiones, the DNS lookup works, just the ICMP/ping does not. This can actually be, as the SVC is getting  a cluster ip, which is effectively just an itpables rule to listen for a certain ip and a certain port. The only way to test this is to connect to the port of the service.

[2018-04-16 08:56] masayag commented on #914
@fabiand thank you for clarifying the issue.

[2018-04-16 09:08] fabiand commented on #906
A few things:

- DNS lookup works on Windows if the full FQDN is used, see comment https://github.com/kubevirt/kubevirt/issues/906#issuecomment-381462754
- ping to a service from a windows vm does not work also see https://github.com/kubevirt/kubevirt/issues/906#issuecomment-381462754
- DHCP option 15 could be used to add a suffix, but it would not completely resolve the problem

[2018-04-16 09:16] rmohr commented on #906
I think that especially for consistency we should support it. Since the suffix can vary between clusters, it is essential that I can prepare my vms in a cluster-independent way. It is not a complete deal breaker since I can still use cloud-init or ansible to inject a fqdn but still ...

[2018-04-16 09:24] rmohr commented on #906
Indeed it goes to the service and not to the vm. ICMP will not work there. Just explicitly opened tcp/udp ports on the service.

[2018-04-16 09:29] rmohr opened #915 "Should virt-launcher pod make sure that no presets are applied to it?"
We could add

[code]
to our virt-launcher pods. However, is it necessary?

[2018-04-16 09:40] rmohr commented on #912
+1 a `virtctl install` would be nice.

[2018-04-16 10:33] fabiand commented on #915
I wonder what kube does about their system critical pods.

[2018-04-16 15:22] davidvossel commented on #908
good to know. I don't believe we've tested kubevirt on v1.10.0 yet. It's possible we're not compatible for some reason.

@ben-skyportsystems I have a couple of more requests.

1. Just to confirm websocket connections are not getting rejected for you across the board for some reason, can you do a ```kubectl exec -it <pod name> -- /bin/bash``` and see if you're able to establish a websocket connecti

[2018-04-16 17:06] ben-skyportsystems commented on #908
@davidvossel:
1. It doesn't seem to be a global problem:
[code]
2.  There definitely seems to be a connectivity issue, most likely proxy-related:
[code]

If I look at the logs for the main Kubernetes API server, though, I see some interesting stuff:
[code]

[2018-04-16 17:30] ben-skyportsystems commented on #908
Also, if I run the commands from a machine that is not behind a web proxy, I get the same thing:
[code]

[2018-04-16 17:39] davidvossel commented on #905
I can make it more obvious that the string is coming from remote-viewer

[2018-04-16 17:48] davidvossel commented on #905
#917 I made the log message more descriptive in order to indicate that the error is coming from remote-viewer.

@pkliczewski Are you still unable to connect to vnc? Do you have any idea why remote-viewer was failing?

[2018-04-16 18:08] davidvossel commented on #908
@ben-skyportsystems Those kube-apiserver 503 errors indicate to me that the kube-apiserver is unable to contact virt-api via the service endpoint.

If you run ```kubectl get services -n kube-system``` You'll see a ClusterIP service called virt-api. kube-apiserver can't contact virt-api using that service for some reason, even though virt-api appears to be online according to the readiness checks.

[2018-04-17 00:19] ben-skyportsystems opened #918 "Allow building outside of git repo"
If I download a source tarball and try to build it, I quickly run up against this:
[code]
This is from running **bash -x hack/buiild_go.sh**

As you can see, the script tries to derive the current version from a git tag, but if this isn't in a git repo in the first place, no such thing exists.  Relying on git tags for version information is shaky at best.  I'm not sure of the best way to approach

[2018-04-17 05:52] rmohr commented on #918
If you can't build from git, we can for sure help you to make the project compile from a tarball.

I don't see why manually updated version infos should be more accurate. Normally people then have 500 different tarballs from 500 different commits which all show the same build version.

Building from your version control is the modern approach. It is normally only problematic if you try to build pa

[2018-04-17 06:25] rmohr commented on #918
Just falling back to "unknown" would also work for me.

[2018-04-17 06:26] rmohr commented on #905
I think that we should also not swallow stdout/stderr of remote-viewer. Especially if something goes wrong.

[2018-04-17 06:26] gouyang opened #919 "Change source code folder from kubevirt-0.4.1 to kubevirt-v0.4.1"
After download the tar.gz file from https://github.com/kubevirt/kubevirt/releases and extract it, the folder name like below:

[code]
I notice there a small problem in kubevirt-ansible, it's using `v{{ version }}` in
https://github.com/kubevirt/kubevirt-ansible/blob/857bf53094db020c885933d3f72ac2fa4b1be095/roles/kubevirt/tasks/provision.yml#L35, it works but not good when consider code readability

[2018-04-17 06:30] rmohr commented on #908
@ben-skyportsystems it looks like you have a setup with two schedulable nodes. Could you run ordinary pods on these nodes and try to access them via a service? As @davidvossel already pointed out, it is very likely that there is an issue with the network. The symptoms look a lot like calico has issues with forwarding traffic between nodes.

[2018-04-17 06:43] rmohr commented on #919
I don't think that we are responsible for that. Github generates these archives, and skips the `v`. So if we create a release with a tag `v4.0.1`, the archive will contain a top-level directory called `kubevirt-4.0.1`.

The only thing which can be influenced, is how the tar.gz archive itself is named. E.g.

[code]

would download an archive called `test.tar.gz` instead of `kubevirt-0.4.1.tar.gz`.

[2018-04-17 06:46] #919 closed

[2018-04-17 06:57] gouyang commented on #919
Thanks for the explanation, I'm not aware of that it's github's work.

[2018-04-17 08:09] fabiand commented on #872
This is fixed with minikube v0.26.0 which has

[code]

[2018-04-17 08:09] #872 closed

[2018-04-17 08:16] fabiand opened #920 "VM can not be launched with CRIO runtime"
With #873 and starting minikube as described [here](https://dummdida.tumblr.com/post/173023497050/running-minikube-v0260-with-crio-and-kvm-nestign), KubeVirt can be deployed on a cluster using the crio runtime, but launchign a VM will lead to:

[code]

launcher:

[code]

[2018-04-17 08:16] fabiand commented on #920
/ref #897

[2018-04-17 10:25] rmohr commented on #454
Basic support is there. What is currently not possible, is tweaking the gracfulShutdownPeriod during the delete request, like you can for pods (e.g. `kubectl delete pods mypod --grace-period 30). This will be possible, once https://github.com/kubernetes/kubernetes/issues/56567 is resolved.

[2018-04-17 10:26] rmohr opened #922 "Allow modifying the grace-perod on vm deletion"
#454 brings basic graceful delete support. What is currently not possible, is tweaking the gracfulShutdownPeriod during the delete request, like you can for pods (e.g. `kubectl delete pods mypod --grace-period 30).

Once kubernetes/kubernetes#56567 is resolved, our CRD can also take the grace-period into account.

[2018-04-17 11:01] #871 closed

[2018-04-17 11:45] fabiand commented on #818
Gargh, not a dupe.

[2018-04-17 11:53] fabiand commented on #783
Yes, it's just a cosmetic thing, but to me it's a paper cut which can be changed in order to make it easier for external people who start with kubevirt, to understand what this specific yaml file delivers.

[2018-04-17 12:23] yuvalif opened #924 "[enhancement] add dependency modification checks to makefile"
otherwise, it misses the point of a makefile :-)
some examples:
- no need to execute `make build` if no source file was changed
- if cluster is up, don't try to bring it up again

[2018-04-17 12:32] rmohr commented on #924
Great that you opened that. We only use make as a well-known entry-point.

We let golang decide what parts it needs to rebuild. In general we let go and docker do the optimizations.

Here you have a point. What it does right now, is trying to bring it up and fails immediately. Here we may want to simply not throw errors and continue.

[2018-04-17 12:49] rmohr commented on #924
Could you try to update your build container to go 1.10 and report? Afaik caching should work much better there.

[2018-04-17 12:50] rmohr commented on #924
Here is the file: https://github.com/kubevirt/kubevirt/blob/master/hack/docker-builder/Dockerfile

On the first build after a change there, it will rebuild the container, so the second invocation will be interesting.

[2018-04-17 13:07] rmohr opened #925 "Let VirtualMachineReplicaSet create replicas as soon as vms are marked for deletion"
With #838 in place, vms will finally stick around for as long as the corresponding pod. This means that we can now enhance the VirtualMachineReplicaSet to start creating new replicas as soon as a vm gets marked for deletion. This provides higher service availability for scalable services.

[2018-04-17 13:49] jniederm opened #926 "docs.kubevirt.io seems to be down"
[code]

[2018-04-17 15:14] fabiand opened #927 "Add a functional test for NetworkPolicy"
A simple test to verify that NetworkPolicy objects work with our network would be good.

- [ ] test for adding and checking NetworkPolicy
- [ ] validate that the network plugin supports NetworkPolicy objects

[2018-04-17 15:26] fabiand commented on #926
Should be fixed now, please try.

http://docs.kubevirt.io (should redirect to http://www.kubevirt.io/user-guide)

Or

`curl -L docs.kubevirt.io`

[2018-04-17 19:07] fabiand commented on #926
Good hint. Thanks!

[2018-04-17 19:07] #926 closed

[2018-04-18 11:29] pkliczewski commented on #905
@davidvossel I downloaded virtctl from [here](url) and run it like this:

[2018-04-19 08:38] fabiand commented on #783
So - the manifest has more object definitions, no question.

But all of them are required to implement our (rather complex) operator.

The key parts of the operator are the declarative definition of a required state of an entity, which is our VM, OVM, and other entities - and active components involved to get the system into the requested state - controller, handler and launcher are those for us.

[2018-04-19 09:50] rmohr commented on #783
too far fetched for me.

[2018-04-20 07:39] fabiand opened #932 "De-/installation issues with Subresources"
The subresource APIServer is not getting cleaned up during removal when using the manifests, because it is getting created programatically.

Reproducer:

1. create kubevirt service with release yaml under namespace "A"
2. delete kubevirt service via release yaml
3. do "kubectl get apiservices v1alpha1.subresources.kubevirt.io -o yaml", should still see an apiservice registered to namespace "A"
4.

[2018-04-20 07:58] rmohr commented on #932
Hm, we need to document on how to deprovision kubevirt. If kubevirt was deployed in the namespace  `kube-system`, then one needs to run

[code]

We make sure that everything in the manifest or what we generate contains the "kubevirt.io" label.

[2018-04-20 08:13] rmohr commented on #932
Ok, forgot about some things. forget the one-liner. In general it is not a trivial process to deprovision kubernetes extensions. That is also related on how crds and finalizers work in k8s.
A special procedure needs to be followed, to not end up with blocked items. I will document it. In general just calling delete on the manifests will not be enough.

[2018-04-20 08:15] rmohr commented on #932
@davidvossel can we make sure that virt-api updates the namespace if it differes from the current one?

[2018-04-20 09:44] rmohr opened #933 "Add test which checks if virtctl works with auth plugins"
Follow up of #929. We should have a basic check which makes sure that our websockets console streams work for auth plugins (e.g. open id).

[2018-04-20 09:44] rmohr commented on #933
@mlsorensen FYI

[2018-04-20 13:33] mlsorensen commented on #933
Yeah, that's something to think about. I suppose that requires the test environment to set up a cluster that has this sort of authentication enabled.

[2018-04-20 14:04] fromanirh commented on #905
While trying to troubleshoot `virtctl vnc` I run in the same issues, so I added some fix to make it easier to understand what's wrong, and posted them in https://github.com/kubevirt/kubevirt/pull/934

[2018-04-20 16:50] davidvossel commented on #932
yeah, I have an idea. PR incoming

[2018-04-23 06:39] #837 closed

[2018-04-23 09:03] rmohr opened #936 "Cirros VM hangs very long on dhcp discover"
When I boot my cirros VM, it takes some time until it finally gets past the dhcp configuration (up to 30 secons).

Console output:

[code]

It hangs at the last line very long until it continues. Let's check if we have a general issue, or if it is just cirros related. At the end it always works, but we don't see something on the console for a very long time.

[2018-04-23 09:03] rmohr commented on #936
@vladikr FYI

[2018-04-23 09:30] rmohr opened #937 "Issue in the virt-launcher/virt-handler communication which emits unwanted warnings"
We seem to have a non-critical communication issue between virt-handler and virt-launcher which sometimes causes errors of the following form:

[code]

As far as I could see the vms come up fine, but our checks don't expect a warning in normal flows.

[2018-04-23 09:31] rmohr opened #938 "Drop swagger-ui in virt-api"
We download the swagger-ui in our apiserver. I think it is just left there by accident.

[2018-04-23 09:31] rmohr commented on #938
@davidvossel Did you reintroduce it by intent?

[2018-04-23 12:14] vatsalparekh opened #940 "Host/hypervisor unresponsive & host/hypervisor kernel panic?"
When trying to retire VMs on `kubevirt` provider from `manageIQ`, just after seeing the notification in manageIQ that `vm retirement has started`, the host VM becomes unreachable. At first I felt this was a openstack issue where this was hosted; but this is a reproducible pattern now.
- Felt like this could be because of `selinux` being `enforcing`, but this was happening even when it was `permisi

[2018-04-23 12:46] rmohr commented on #940
What is the error they are in? In k8s, if you loose a node or kubelet can't properly clean the pods up, you will need to remove them manually (e.g. fence the node and the do a force delete on the pods, once you are sure that they don't exist anymore).

Generally speaking: If you go to latest master, then the vms will not go away, if the pods don't go away. The release you are at, also has a define

[2018-04-23 12:48] rmohr commented on #940
@vatsalparekh did you try to reach out to the kvm engineers? Afaik nested kvm is getting more and more stable, but you may experience a kvm bug here which is related to nested virtualization. In general, the assumption is, that even if we do something "wrong" at the kubevirt level in the nested vms, you should not be able to make the real host panic. At least I can't help you more there.

[2018-04-23 15:30] cynepco3hahue commented on #920
I ran functional tests on OS-3.9.0 with CRI-O 1.9.10 and it looks very good.
[code]
Versions
[code]

I edited container under `cri-o/contrib/system_containers/centos` to use CRI-O 1.9.10 rpm
[code]

[2018-04-23 23:02] davidvossel opened #942 "VMs stuck indefinitely in "scheduled" phase"
Under the right conditions, it's actually possible for a VM to get stuck indefinitely in the "scheduled" phase even though we can clearly see synchronization related error conditions.

We should consider a start timeout for VM's that fail during the "scheduling" phase and never transition successfully to "Running".

I was able to reproduce by creating a bad registryDisk container that doesn't supp

[2018-04-24 06:08] gouyang opened #943 "incorrect description for fedora template"
[code]

[2018-04-24 07:04] gouyang opened #945 "spec.running in body is required when create VM from template"
[code]

If I add to `running: false` to the spec section, it works then.
[code]

[2018-04-24 07:05] #943 closed

[2018-04-24 12:32] #924 closed

[2018-04-24 13:49] davidvossel commented on #938
no, swagger-ui isn't necessary. I think the Dockerfile was just copied back in from the old virt-api.

[2018-04-24 16:41] vladikr commented on #936
Thanks, I'll take a look.

[2018-04-24 19:46] vakhanna opened #947 "Add support to copy files to _out dir with make build target"
copying of files to output directory with make build target, similar to
https://github.com/kubevirt/kubevirt/blob/master/hack/build-docker.sh#L41

[2018-04-25 06:55] rmohr commented on #940
@vatsalparekh closing this. Feel free to reopen it, if you think that we missed a connection to kubevirt.

[2018-04-25 06:55] #940 closed

[2018-04-25 07:02] rmohr commented on #915
Hm, closing this: At least my thoughts are this: If one creates a preset which matches every pod (e.g. to create a log volume, ...) then it needs to be agnostic to the rest of the pod configuration in general. That seems to also align with the system pods, provided via daemon set in general too, since there is also no annotation.

[2018-04-25 07:02] #915 closed

[2018-04-25 07:27] yuvalif opened #949 "when building with WHAT=pkg/virtctl binary permissions are wrong"
"x" flag is not set:
[code]

[2018-04-25 07:57] rmohr commented on #949
You will have to use `WHAT=cmd/virtctl`, so `pkg` and not `cmd`. Note that the dockerized builder is pretty agressive right now to provide consistency. So if you call `WHAT=cmd/virtctl`, you will have the virtctl binaries in _out.

We did not invest more, since the plan is to switch to bazel, which will make that more efficient.

[2018-04-25 12:35] fabiand commented on #949
Closing this according to the previous comment.

[2018-04-25 12:35] #949 closed

[2018-04-25 12:36] fabiand commented on #947
Could you please provide more details pon the exact behavior you are looking for? @vakhanna

[2018-04-25 12:46] fabiand commented on #933
@mlsorensen do you have an example of where the support is needed i.e. with which plugin?

[2018-04-25 12:47] fabiand commented on #932
@davidvossel how does #935 relate to this issue?

And what's the approach we want to take here?

[2018-04-25 12:50] fabiand commented on #927
@duyanyan are you working on this?

[2018-04-25 12:53] fabiand commented on #920
It was minikbue, but yes - maybe.

[2018-04-25 13:01] davidvossel commented on #932
@fabiand All #935 does is make it obvious if two kubevirt installations occur on the same cluster in separate namespaces. The second one will cause the virt-api component to fail to start rather than clobbering the fist one.

[2018-04-25 14:35] #404 closed

[2018-04-25 15:55] mlsorensen commented on #933
If you're using OIDC tokens to authenticate to your cluster, then virtctl needs to be OIDC enabled in order for the api calls it makes to the subresources for /vnc and /console to work. The change in #929 causes virtctl to inherit the work that kubernetes does in this regard for kubectl.

This allows virtctl to work with Kubernetes installations that might be using authentication like CoreOS Dex,

[2018-04-25 22:00] #918 closed

[2018-04-25 22:00] #938 closed

[2018-04-25 22:20] fabiand opened #952 "Support direct attachment of volumes to the VM"
Today, volumes are mounted by the kublet, then passed to the VM for consumption.
This is well integrated, but we pay a price.

Another option is to o connect volumes directly to the qemu process (for whatever protocol qemu supports), this would avoid the intermediate layers, but has other drawbacks.

Main benefits are: Less user-space and kernel space dependencies, more rpedictive behavior on VM s

[2018-04-25 22:26] fabiand opened #953 "Add support for device passthrough"
We should add support for basic device passthrough of host devices.
Probably aligned with Kubernetes Device Plugins.

[2018-04-26 04:12] duyanyan commented on #927
@fabiand Yes, I could take it if it is not a urgent task. Maybe I need more time to do it since I've ever done that before.

[2018-04-26 10:38] fabiand opened #955 "Add yamllint to CI"
It happens that we are using yaml files.

For a better presentation - and showing good citizen ship - we should follow some standards. Yamllint can help us to stick to them.

But running yamllint today causes many errors and warnings, try:

[code]

This issue is about fixing those wanrings and adding yamllint to .travis.yml

[2018-04-26 10:46] fabiand opened #956 "Move to libvirtd 3.9"
Currently we are using libvirt 3.7.

In order to stay closer to what is state of the art we should consider moving to 3.9:

https://www.redhat.com/archives/libvirt-announce/2017-November/msg00001.html

[2018-04-26 12:43] tripledes opened #957 "VM ReplicaSet and Selector"
Checking out the [code for the controller](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-controller/watch/replicaset.go#L162-L165), `selector` seems to be required while the [documentation](http://www.kubevirt.io/api-reference/master/definitions.html#_v1_vmreplicasetspec) says it's optional.

[code]

Found myself in the situation that the VMRS was created, but the VM was not starting a

[2018-04-26 12:56] #942 closed

[2018-04-26 14:04] booxter commented on #936
For the record, we are using Cirros in OpenStack gates and I am not aware of an issue like that one there. If there is indeed an issue, it is probably something kubevirt related.

[2018-04-26 14:11] rmohr commented on #936
@vladikr giving this high priority, since it is currently the number 1 issue on ci for flaky tests.

@davidvossel ^^ FYI

[2018-04-26 18:44] davidvossel opened #959 "Set 'causes' list for requests rejected by validation webhook"
UI's need the ability to identify exactly which fields were rejected. We can provide this information in the 'causes' field in the status object the webhook returns during rejection.

Example:  POST of a VM spec that is invalid would get this JSON response.  The causes list should point to exactly what field caused the issue with a human readable message that applies to that field.
[code]

[2018-04-26 19:03] fabiand commented on #959
/cc @mareklibra @jniederm @michalskrivanek

[2018-04-26 21:41] fabiand opened #961 "KubeVirt v1.0"
Just an issue for now to start tracking content for 1.0

Entities to be stable:

- [ ] VirtualMachine
- [ ] VirtualMachineInstance
- [ ] VirtualMachinePresets
- [ ] VirtualMachineReplicaSet ?

Functionality to be present:
- [ ] … ?

Bugs to be solved:
- [ ] … ?

[2018-04-27 12:41] bhavin192 commented on #955
I would like to work on this.

[2018-04-27 12:54] jniederm commented on #959
Hi, aforementioned format looks like a good start. My comments:

* `details.causes[0].field` is of type string, right?
*  `code` 422 relates to HTTP status codes and means "Unprocessable Entity", basically validation error, right?
* Does the document of kind `Status` describe single validation problem or the fact there is one or more validation problems in validated document? We'd need for the res

[2018-04-27 13:08] fabiand commented on #955
That's cool! It's all yours :)

Do you need anything else to start?

[2018-04-27 13:08] vladikr commented on #936
@rmohr strange, I ran it several times and I get a response immediately...
I'll try on a different environment.

[2018-04-27 13:14] davidvossel commented on #936
@rmohr where were you able to reproduce this? Was this on CI or your local machine?

@vladikr Looking at the code, since the DHCP server starts in a goroutine in parallel to the VM starting there's technically a race condition there where the VM could start before DHCP was listening in virt-launcher... that seems really unlikely though.

[2018-04-27 13:30] fabiand opened #964 "Provide a way to check the cluster for required functionality"
We start to have a few dependencies on the clutser:

- specific min version (hard 1.9, soft 1.10 [raw block])
- feature gates (device plugins [not yet])
- registered adm controllers (see https://github.com/kubevirt/kubevirt/pull/930)

We should have a component somewhere (virtctl? cluster?) to validate that the cluster has everything we need. (Comparable to `virt-host-validate` just cluster wide)

[2018-04-27 13:58] davidvossel commented on #959
correct

yes, and only expect to get "causes" for invalid entries when http code is 422.

Causes will be a list and will contain every validation issue encountered by our webhook.

I use top level message as a global aggregate of all the errors.  Kubectl displays that message to the user.  It's not really useful for the UI right now.

If this occurred, you'd likely get an error 'cause' for both me

[2018-04-27 14:39] davidvossel opened #965 "VM's status should reference the underlying pod"
UI's need a way to associate a VM with its active pod. We want the KubeVirt runtime to be in control over this association because it's possible in the future (once features like migrations are introduced) that we'll have multiple pods per a VM.  In that situation, we want the VM to only reference the currently active pod.

This gives the UI a stable way to retrieve the active pod that will contin

[2018-04-27 15:05] rmohr commented on #965
Let us document for which use-cases this is important, and for which not. Right now I know about two cases where I would want someone to go through the VM abstraction:

 * metrics
 * getting to the pod if something goes wrong

I think for most cases, the vm should provide everything to be treated as the atomic base for virtualisation based actions. Things which would definitely go wrong:

 * Makin

[2018-04-27 15:05] dcritch opened #966 "Provide a jinja2 template for the kubevirt manifest"
A couple of related projects (kubevirt-ansible, kubevirt apb, kubvirt helm chart) are looking to get a reliable template of the kubevirt manifest, with variables for docker tag, namespace, etc.

Any chance kubevirt could maintain an official jinja2 version of the manifest that we could all reference?

cc @fabiand @cynepco3hahue @rthallisey

[2018-04-27 15:53] rmohr commented on #955
Can this also format our yaml files?

I would welcome everything which formats yamls in an automated way. Travis can then simply check if they are unformatted and fail.

So if it involves autoformatting, then I am all for it. Just a check which then requires manual formatting of already valid things is a no-go for me.

Checking for syntax errors alone works for me to if there exists no reasonable

[2018-04-27 19:32] davidvossel opened #969 "add KubeVirt user access role to kubevirt install manifests"
the kubevirt install manifests should come with a cluster role admins can assign users to grant them access to VMs.

example cluster role
[code]

[2018-04-27 21:57] mlsorensen opened #970 "Limits issue?"
Currently, it seems memory for the VM is created via the 'spec.domain.resources.requests' field. The limit for the virt-launcher pod seems to come from the namespace default (kubectl get limits default). If the default limits are lower than the requests, the virt-launcher pod does not create.

Reproduce: "kubectl edit limits default", set memory to 128Mi, then try to create a VM with 1Gi of memory

[2018-04-28 13:43] bhavin192 commented on #955
@rmohr sadly after searching a while found no yaml formatter
@fabiand what should be maximum line-length for our yaml files ?

[2018-04-28 18:55] fabiand commented on #955
@bhavin192 stock 80 characters

[2018-04-28 19:02] fabiand commented on #955
@bhavin192 Try this formatter, it worked for me on some files: https://gist.github.com/ingydotnet/3920656

[2018-04-30 07:29] rmohr opened #972 "Fix coverage report on coveralls"
Something is wrong with our coverage reporting. See for instance https://coveralls.io/builds/16689934. It only reports 10 files and just considers the coverage of these.

[2018-04-30 14:41] rthallisey commented on #966
@davidvossel and @rmohr do folks have any thoughts on this?

[2018-04-30 14:57] rmohr opened #975 "Let our HA configuration scale automatically when masters are added or deleted"
Picking up https://github.com/kubevirt/kubevirt/issues/727#issuecomment-366983555 from @alezzandro.

We can make our HA setup scale automatically, if we do the following:

 * Use a DaemonSet
 * Give it the right toleration: `tolerations: [key: node-role.kubernetes.io/master]`
 * Add the right label selector by matching [node-role.kubernetes.io/master](https://github.com/kubernetes/kubernetes/blob/

[2018-04-30 14:57] rmohr commented on #975
@cynepco3hahue FYI

[2018-04-30 15:08] davidvossel commented on #966
My concern with this is if we created a jinja2 template for kubevirt.yaml, we can't guarantee it will work with all present/past/future kubevirt releases. The template itself would be specific to a kubevirt release, which then negates the benefit of having a template at all.

Here's an example of what I mean.

I recently added something called a CRD validation webhook into the virt-api component.

[2018-04-30 18:30] sheetaljoshi opened #977 "Multiple nic interfaces support"
I am trying to schedule VM with multiple network interfaces allowed. Does kubevirt allow me to schedule such a workload today? if so can you please share details? VNFs are the candidates for scope of deployment.

Thanks,
Sheetal

[2018-05-01 12:59] cynepco3hahue commented on #975
@rmohr I can easily change it to daemon set, but I less sure about additional `toleration` selector, because we can not control an environment where `virt-controller` will run, so we leave it on user responsibility to set correct toleartion on the node.

[2018-05-01 13:05] #959 closed

[2018-05-01 13:51] vladikr commented on #936
@rmohr @davidvossel I think I've managed to reproduce the issue, only on openshift though.
However, I see that both the test VMs got an ip from dhcp:

[code]
And
[code]
Looks like the outbound vm crashes after the login:
[code]

Roman, is it similar to what you've been seeing?

[2018-05-01 14:11] xsgordon commented on #977
Hi @sheetaljoshi, not right now - we are working on this though in the context of the Kubernetes proposals to get multiple networks to a pod (which we can then leverage in KubeVirt).

[2018-05-01 16:55] vladikr commented on #970
Hi,

Yes, absolutely. The spec.domain.cpu.cores setting only controls the cpu topology of the vm, as it will be seen by the guest OS. Currently, we are only presenting 1 socket with X cores and 1 thread.
Please see [1]
The number of physical CPUs that the VM will run on can be requested using the spec.domain.resources.requests.cpu as in [2]

Thanks, I wasn't aware of this, let me look into it.
On

[2018-05-01 17:10] mlsorensen commented on #970
Yes, explicitly setting a limit works, and should be fine if there's overhead built-in. This means users who have low defaults have to always specify both memory requests and memory limits to the same value (or limit higher than requests). It works but is a bit unintuitive to users who are simply thinking in terms of "how do I set the VM's RAM".

On the one hand I could see kubevirt ensuring the m

[2018-05-01 22:17] fabiand commented on #977
Heya!

As @xsgordon said, but a few more details.

KubeVirt VMs consumes resources of a pod. Thus in order to let a VM consume multiple network interfaces, a pod needs ot be able to provide multiple.

There are two sides to this feature - a frontend (towards the guest) and backend side.

On the backend side we are discussing with upstream how multiple networks can be brought to pods. Currently the

[2018-05-02 07:28] rmohr commented on #936
That looks like a null nil pointer exception in our golang testing code and not really related to the vm.

No, booting the vm always works and nothing crashes. It just sometimes hangs for a **very** long time until it reached the boot prompt.

[2018-05-02 07:57] rmohr commented on #970
@mlsorensen great that you brought that up.

I agree. I would even formulate it as a hard requirement that users can simply think about  "how do I set the VM's RAM". Our overhead should not be of interest to them.

In my opinion the main issue is that we even allow posting VMs which are invalid when considering the default limits. We now have the possibility to reject vms, because of the validatin

[2018-05-02 12:41] cynepco3hahue commented on #937
@davidvossel Do you know the reason for this errors? I can see it happens pretty often on windows tests, the question if it a real issue, or just issue with our tests utils(that we fail test because of wrong warning message)

[2018-05-02 17:12] bhavin192 commented on #955
After searching more, found two ways to auto format the `yaml` files, one is [`pyaml`](https://github.com/mk-fg/pretty-yaml) and other is a [VSCode extension](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml). Both of these don't work on `.yaml.in` files, even `yamllint` fails to lint `.yaml.in` files.
For `yaml` files (files without go templates) VSCode extension works in be

[2018-05-02 19:31] booxter commented on #936
This issue and the comment by David above reminded me of a very old OpenStack Neutron bug where DHCP agent was not quick enough to start dnsmasq to serve VM lease before Nova started it and Cirros (or whatever is in the image) starts networking configuration.

The OpenStack bug is https://bugs.launchpad.net/neutron/+bug/1453350 ; the fix is https://review.openstack.org/#/c/181674/

The general ide

[2018-05-02 19:47] rmohr commented on #936
@booxter great that you were able to reproduce it. I think that the solution may be much simpler, than to do something that complex, like pausing the vm (but let's see ...). First we are not using dnsmasq, we just have a go-routine which understands dhcp-requests and can respond. That should be extremely fast. If there is no bug in the dhcp code (causing slow start, not understanding a valid dhcp

[2018-05-02 19:50] davidvossel commented on #936
We just need to avoid marking the pod as ready until we're certain dhcp is both listening and accepting connections.

Essentially by delaying the execution of cmd/virt-launcher/virt-launcher.go's markReady() function, we delay the possibility of the VM being started in the pod.

[2018-05-02 19:57] rmohr commented on #936
@davidvossel yes, if we move the dhcp-server start out from the preStart hook and start it right away (which makes more sense anyway). I guess that we will not even see the issue then, no matter if we delay the marking or not. Sounds good in general.

[2018-05-02 20:03] davidvossel commented on #936
oh wow, I actually forgot we started dhcp server during sync command. That makes this race condition much more likely than I originally though.

[2018-05-02 20:07] vladikr commented on #936
I don't see how will it work.
We discover the pod ip and routes during the preStart hook.
What am I missing?

[2018-05-02 20:11] rmohr commented on #936
The whole network setup can be done immediately. No need to wait for the preStart hook, which is invoked much later, when virt-handler tells virt-launcher to start the vm.

[2018-05-02 21:07] booxter commented on #936
Some updates from my environment.

First, I don't believe it's an issue with late DHCP server goroutine startup. In docker log for virt-launcher container I see that the server was started long before the VM is spawned (there is a "Starting SingleClientDHCPServer").

I believe the issue is because the spawned server doesn't receive a DHCP request frame when Cirros issues the first discover message

[2018-05-02 21:37] davidvossel commented on #936
This isn't a guarantee that the DHCP server is accepting requests yet.

I think we should make issuing and receiving a response from the DHCP server a condition that has to be met before the pod is marked as ready. If we do that, then we at least know the DHCP server is capable of receiving requests before the VM starts.

If the problem persists after that, then I'm really not sure what else can b

[2018-05-02 21:45] mlsorensen commented on #970
Looks like "limits" aren't pulled in from VM presets, so with presets at least it can't override a low default limit.