[2019-10-16 01:00] #2766 closed

[2019-10-16 01:01] chinadd commented on #2801
Never mind, just change the docker image solves the problem. Username should be defined within it.

[2019-10-16 01:01] #2801 closed

[2019-10-16 07:37] yinjingjiu commented on #2392
@petrkotas Thank you for your help

[2019-10-16 07:37] #2392 closed

[2019-10-16 09:14] #2798 closed

[2019-10-16 10:43] fromanirh commented on #2502
Actually dupe, solved by kubevirt v0.21.0

[2019-10-16 10:43] #2502 closed

[2019-10-16 13:42] #952 closed

[2019-10-17 09:31] rmohr commented on #2722
Asked on libvirt-users if someone has an idea: https://www.redhat.com/archives/libvirt-users/2019-October/msg00029.html

[2019-10-17 18:41] pbudds opened #2823 "Report back guest OS Info obtained from guest agent"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
When a Guest VM is deployed, the VMI status does not report back the Guest OS Information(OS Name,  Kernel version etc).That information would be valuable to have.

**What you expected to happen**:
Expose Guest OS Info  in VMI Status similar to how Interface IP addresses are reported back.

**How to reproduce it (a

[2019-10-18 06:44] petrkotas commented on #2823
Hi @pbudds thanks for submitting this issue. I have a great news. This feature is planned for in one of the next releases.

[2019-10-18 15:31] #1633 closed

[2019-10-18 20:24] pbudds commented on #2823
Thank you @petrkotas. Would you know if anybody started to work on it already? If not, I would be more than happy to pass my changes on to the community for further review.

[2019-10-21 05:32] #2201 closed

[2019-10-21 05:56] DeepLJH0001 opened #2826 "metric of virtual machine are not continuous, sometime prometheus can't scrape the metric"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I add a `servicemonitor` in kubevirt namespaces (the cluster has installed prometheus operator)
[code]
and create an prometheus
[code]

I using `kubectl port-forward` the prometheus , the metrics was not found , see the graph like this:
![image](https://user-images.githubusercontent.com/18078924/67180025-d3b1b580-f40a-11

[2019-10-21 07:48] fabiand commented on #1957
/remove-lifecycle stale

@fromanirh ain't ou working on this?

[2019-10-21 08:03] petrkotas commented on #2823
Hi @pbudds yes, actually it is me who is working on this.

[2019-10-21 09:34] fromanirh commented on #1957
sadly I am not. Releasing this task, if someone else can pick it up, feel free.

[2019-10-21 09:36] #2254 closed

[2019-10-21 12:58] fabiand commented on #2823
Would be cool to see your changes, Prashanth

[2019-10-21 13:00] fabiand commented on #2826
@stu-gott any idea?

[2019-10-21 13:05] fabiand commented on #2201
@petrkotas @slintes IIRC we had some fixes going into 0.22 - do oyu recall the details?

[2019-10-22 00:36] pbudds commented on #2823
@fabiand - Sure. Will send those out in a PR.

@petrkotas - Do not mean to disrupt your plans, but just check out the changes, at the bare minimum, the tests should be useful to you.

[2019-10-22 10:52] rmohr commented on #2417
/close

[2019-10-22 10:52] #2417 closed

[2019-10-23 06:51] fromanirh commented on #2826
Hi! could you please share the `kubectl logs` of the virt-handler of the node you are running your VM on, and of the relevant `virt-launcher`?

[2019-10-23 06:57] rmohr commented on #2805
/kind bug

[2019-10-23 07:02] rmohr commented on #2762
Sorry for the late response. There is a regexp in the `kubevirt-config` configmap which prevents you from creating PC machines by default.

Can you try editing the config map with `kubectl edit` and change `emulated-machines` to to `q35*,pc-q35*,pc*`? Here how mine looks like:

[code]

[2019-10-23 07:27] slintes commented on #1957
This is done already :)
https://github.com/kubevirt/kubevirt/pull/2645

/close

[2019-10-23 07:27] #1957 closed

[2019-10-23 09:36] rmohr commented on #2805
@ahadas can you have a look? It really looks like with the vnc/console refactoring something is broken here.

[2019-10-23 11:36] #2823 closed

[2019-10-24 03:22] x8091 commented on #1919
@MarSik : I want to hide HyperV from kubevirt VM, how can I achieve that?

To do so, in libvirt XML I would add something like:

[code]

For QEMU the option is `-cpu kvm=off `
So basically we need to pass this option to QEMU inside **virt-launcher**.

Is it supported by kubevirt features yet?

[2019-10-24 08:47] rmohr commented on #1919
@x8091 right now you can use a side-car to manipulate the resulting domain xml. We have an example which modifies the domain XML here: https://github.com/kubevirt/kubevirt/tree/master/cmd/example-hook-sidecar.

In order to have a more "supportable" solution, we would need to add it to kubevirt. Why exactly do you need this?

[2019-10-24 09:08] x8091 commented on #1919
Thank you very much @rmohr.

So I'm testing GPU passthrough feature using kubevirt, the GPU is visible to the VM (using `lspci`) but Nvidia driver (`nvidia-smi `command) refuses to cooperate since it detects that it's running on a VM, to fix that we have to hide hypervisor to guest OS by passing `-cpu kvm=off `to QEMU.

I have verified the solution by using **virt-manager** and **virsh** tool to e

[2019-10-24 09:12] rmohr commented on #1919
I fear that this is our "quick" way. You can just checkout this repo, change the portion of the code which modifies the domain XML, push the sidecar to a container registry and use it when starting the VM.

[2019-10-24 09:14] x8091 commented on #1919
Thanks for confirming. I'm going to try that now to see if it help.

[2019-10-24 10:46] x8091 commented on #1919
This is the first time I try Sidecar feature-gate, I have problem create a sample VMI
[code]

Here is VMI yaml file
[code]

I have tried with different version of docker images but got the same issue. What am I doing wrong here? I enabled Sidecar feature gate already.

Assuming this sample works, for my case, I need to write my own sidecar-hook container image to modify domain XML file, is that co

[2019-10-24 11:17] slintes commented on #1919
We currently have 2 API versions of the hook, `v1alpha1` and `v1alpha2`. The example implements both, but you need to specify in the annotation which version to use. E.g.:

`hooks.kubevirt.io/hookSidecars: '[{"image": "kubevirt/example-hook-sidecar:latest", "args": ["--version", "v1alpha2"]}]`

yes

[2019-10-24 11:40] x8091 commented on #1919
Perfect @slintes. It works nicely now. Thanks a lot.

[2019-10-25 04:24] biliwewe commented on #2762
Cool, @rmohr Thank you for your kind help, Problem solved perfectly!

[2019-10-25 04:26] biliwewe commented on #2805
hi @ahadas can you help me?

[2019-10-25 06:17] rmohr commented on #2805
@biliwewe we have had multiple reports about this issue. It is for sure real. I had so far issues reproducing it myself. Could you ensure that you use `virtctl` from version `0.22` and ensure that you use `virt-viewer` (just has to be installed on linux or windows)? Maybe that works for you until we have a fix.

[2019-10-25 06:20] rmohr commented on #2762
Great to hear. Is the whole issue solved?

[2019-10-25 06:56] #2762 closed

[2019-10-25 07:09] biliwewe commented on #2805
Thank you @rmohr
Looking forward to fix

[2019-10-25 09:13] slintes commented on #2805
was the VM restarted? Or is it still running with the old virt-launcher version?

[2019-10-28 02:50] biliwewe commented on #2805
@slintes yes, I restarted vm.
View virt-launcher logs
<details>
<summary>kubectl describe pod virt-launcher-vmi-windows1-q87t4:</summary>

[code]
</details>

virt-launcher image info :
[code]
I also tried v0.19.0 and v0.21.0 versions. Only v.0.17.0 version will not show bugs
https://github.com/kubevirt/kubevirt/issues/2539#issue-473828756

[2019-10-28 06:42] fanux opened #2846 "build failed"
using kubevirt client-go failed

[code]

My main.go:
[code]

[2019-10-28 08:33] cynepco3hahue commented on #2846
What dependency manager do you use?

[2019-10-28 09:25] fanux commented on #2846
go mod, when I using v0.19.0 every thing ok. but v0.22.0 failed.
[code]
 kubevirt.io/client-go v0.22.0  will caused the error

[2019-10-28 10:09] slintes commented on #2805
@rmohr was investigating this further, and figured out that it might have something to do with proxy servers (see #virtualization channel in the k8s slack). Do you use a proxy?

[2019-10-28 10:55] cynepco3hahue commented on #2846
@fanux You can try to pin client-go dependency with `replace` directive, these dependencies we have under the tag v0.22.0
[code]

[2019-10-28 15:39] rmohr commented on #2826
@fromanirh did you have the chance to try 0.19 and latest master yourself?

[2019-10-28 16:18] fromanirh commented on #2826
@rmohr not yet, hopefully this week

[2019-10-28 19:20] terinjokes commented on #2603
We saw this in 0.21.0. Was resolved after upgrading to 0.22.0.

[2019-10-29 07:20] linqingping opened #2847 "Windows virtual machine ip is not on the specified network segment"
kubevirt0.19.0
Network file definition
![AD H~OJKY~{349U()F 1QVB](https://user-images.githubusercontent.com/20528139/67835006-dce60500-fb23-11e9-96e5-f66f24a76b1f.png)
![RC%WSU4WLK 7}757FD6}B02](https://user-images.githubusercontent.com/20528139/67835052-f6874c80-fb23-11e9-9f82-269cd7105c51.png)
But my virtual machine ip is 169.254.27.31
![NYYV4`X{D@7$_Z6(12%ZE G](https://user-images.githubusercon

[2019-10-29 08:11] leyao-daily opened #2848 "sriov vf assigned to vm failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
it report error
```{"component":"virt-launcher","kind":"","level":"error","msg":"Failed to sync vmi","name":"vmi-sriov","namespace":"default","pos":"server.go:161","reason":"virError(Code=38, Domain=0, Message='Failed to open config space file '/sys/bus/pci/devices/0000:3d:06.2/config': Permission denied')",```
**What you expected t

[2019-10-29 09:33] 1337andre opened #2849 "ignition stops working with v0.21.0"
**BUG REPORT**:

/kind bug

**What happened**:
tried ignition with multiple version of kubevirt according https://kubevirt.io/2018/ignition-support.html
With kubevirt v0.21.0 ist doesn't work anymore

**What you expected to happen**:
When i inject public key via kubevirt.io/ignitiondata i should able to ssh in VM via NodePort

**How to reproduce it (as minimally and precisely as possible)**:
start

[2019-10-30 07:45] linqingping commented on #2847
Has anyone encountered it?

[2019-10-30 09:09] petrkotas commented on #2847
@phoracek would you know why this would happen?

[2019-10-30 22:43] phoracek commented on #2847
@linqingping is there a DHCP server running on the network behind `br2`? If there is, it is possible that the VM asks for an IP via DHCP request and gets an IP from the DHCP server running on cluster network.

[2019-10-31 01:37] linqingping commented on #2847
![6SOCEPFHF}VUT$J0Z4O0`}K](https://user-images.githubusercontent.com/20528139/67911472-a1017d00-fbc1-11e9-90e1-b1161bed69a7.png)
![4FLI26E2GUY~@LI6O@Y{}}T](https://user-images.githubusercontent.com/20528139/67911490-b1b1f300-fbc1-11e9-8f58-18d001de1711.png)
![OQ%6L_MQ`GLH){0V91WQT_4](https://user-images.githubusercontent.com/20528139/67911518-d017ee80-fbc1-11e9-9b75-1efa2d66b41a.png)

[2019-10-31 01:42] linqingping commented on #2847
![~3RXQQ2F1`ALN8V{Q35TNX0](https://user-images.githubusercontent.com/20528139/67911764-a3b0a200-fbc2-11e9-912a-c51b8a587036.png)
![6D WV~1DX(}5LZ DUVEV@LN](https://user-images.githubusercontent.com/20528139/67911774-b034fa80-fbc2-11e9-9db6-01b83a38c8c1.png)

[2019-10-31 01:51] linqingping commented on #2847
I see from the information of virt-launcher that the same network segment ip has been allocated br2, but the internal ip of the VM is inconsistent with the ip allocated by the pod, the mac is the same.
thank you for your reply@phoracek

[2019-10-31 01:51] linqingping commented on #2847
I see from the information of virt-launcher that the same network segment ip has been allocated br2, but the internal ip of the VM is inconsistent with the ip allocated by the pod, the mac is the same.
thank you for your reply @phoracek

[2019-10-31 09:44] phoracek commented on #2847
@linqingping could you please share the VM definition you used?

[2019-10-31 10:18] fabiand opened #2864 "Provide Ready condition for VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
$ virtctl start testvm
$ kubectl wait --for=condition=Ready vm testvm
No such condition

The condition is just not available today, only a phsae.

**What you expected to happen**:
$ virtctl start testvm
$ kubectl wait --for=condition=Ready vm testvm
# vm running
$ virtctl vnc testvm
# vnc can connect

**How to repr

[2019-10-31 10:23] fabiand opened #2865 "Have an event whenever live migration starts for a VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

**What happened**:
$ virtctl migrate testvm
$ kubectl describe vm testvm

No event listed until the new pod was started

**What you expected to happen**:
Event is observal on VM (or VMI?) once the VM is affected by a migration object (thus way before the new pod is ready)
Main reason is to understand that aVM will be migrated soon

[2019-11-01 09:02] DeepLJH0001 commented on #2826
@fromanirh Thanks for your attention~
 log of virt-launcher
[code]
log of virt-handler
[code]

[2019-11-02 19:29] #1993 closed

[2019-11-03 15:08] SchSeba commented on #2847
Hi @linqingping can you please show the logs from the virt-launcher pod using

`kubectl logs -f <virt-launcher-pod> -c compute`

The ip address that you see on the windows is the apipa range (https://whatis.techtarget.com/definition/Automatic-Private-IP-Addressing-APIPA)

did the interface in the vm is configured to use dhcp?

The k6t-net1 pi address is a local ip address that is configured to be

[2019-11-03 15:27] SchSeba commented on #2848
@booxter can you please take a look on this issue?

[2019-11-04 01:21] linqingping commented on #2847
{"component":"virt-launcher","level":"info","msg":"Collected all requested hook sidecar sockets","pos":"manager.go:68","timestamp":"2019-11-04T01:19:21.878967Z"}
{"component":"virt-launcher","level":"info","msg":"Sorted all collected sidecar sockets per hook point based on their priority and name: map[]","pos":"manager.go:71","timestamp":"2019-11-04T01:19:21.879069Z"}
{"component":"virt-launcher",

[2019-11-04 08:11] SchSeba commented on #2847
hi @linqingping thanks for the logs.

I can see the dhcp server on the virt-launcher pod was started
[code]

It is possible from your side try to use the fedora container disk?
[code]

I want to validate if the issue is related to the windows machine.

another question is it possible from your side to update to the latest kubevirt release?

[2019-11-04 08:37] linqingping commented on #2847
[code]
[code]

[2019-11-04 11:49] nmsnitin commented on #2685
@cynepco3hahue  .. Thanks a lot for your great help. I am able to solve the issue.
I am closing this issue.

[2019-11-04 11:49] #2685 closed

[2019-11-04 12:17] rmohr commented on #2848
@leyao-daily @booxter I guess selinux (appamor?) would also be something to think about here ...

[2019-11-04 12:26] rmohr commented on #2849
@1337andre we have a test, which passes also on 0.22 relase about ignition. It tests for the existence of this file inside the VMI: `/sys/firmware/qemu_fw_cfg/by_name/opt/com.coreos/config`. Could you verify that this file does not exist, or not have the content which you would expect?

Maybe the test is not testing the right thing (for instance the file could be present but empty).

[2019-11-04 12:43] rmohr commented on #2849
Hm, the files are properly filled on master at least.

[2019-11-04 14:03] cynepco3hahue commented on #2685
@nmsnitin If it does not hard, can you specify in two words how did you solved it?
Just in case if we will have similar case in the future:)

[2019-11-05 03:32] wavezhang commented on #2339
I wrote a tool called [virtVNC](https://github.com/wavezhang/virtVNC) that helps kubevirt users connecting vms using noVNC .🙂

[2019-11-05 07:53] rmohr commented on #2470
/remove-kind bug

[2019-11-05 09:42] slintes commented on #2339
@wavezhang that sounds awesome!
I'm wondering if we should try it and maybe blog about it?
@fabiand @codificat wdyt?

[2019-11-05 10:09] fabiand commented on #2339
That's really awesome!
And yes, blog sounds pretty good fit for it, as having VNC access is
usually a common request.

[2019-11-05 10:35] codificat commented on #2339
Great indeed, thanks for sharing.

@wavezhang if you are willing / available to contribute a blog post about it I'd encourage you to. FYI there are some [guidelines](https://github.com/kubevirt/kubevirt.github.io/blob/master/GUIDELINES.md) on how to contribute content (including blog posts), and you can look at some [sample PRs](https://github.com/kubevirt/kubevirt.github.io/issues?q=label%3Asize%

[2019-11-05 12:39] SchSeba commented on #2847
the interface is in down state can you try to start it up?

`ifup enp1s0` and then run `dhclient enp1s0` ?

[2019-11-05 17:18] rmohr commented on #2805
Finally have a fix in #2872. Need to clean it up a little, but should be in soon.

[2019-11-06 01:08] linqingping commented on #2847
hi @SchSeba thank you very much for your help.
This is the information situation of the virtual machine. When I use kvm, the ubuntu network card starts up and gets the correct ip, but it is displayed in kubevirt.

[2019-11-06 02:45] biliwewe commented on #2805
@rmohr Thank you

[2019-11-06 03:28] wavezhang commented on #2339
OK, I'll add a blog post later.

[2019-11-06 15:01] slintes commented on #2530
this still is an issue
and since the related feature is GA in k8s 1.16, it is getting more interesting to finally implement this

/remove-lifecycle stale

[2019-11-06 15:49] rmohr commented on #2722
Here some a job which collected the audit log of nodes: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2869/pull-kubevirt-e2e-os-3.11.0-crio/1192000670023028736

There the second failed test can't use `/dev/tun`, and then libvirt wants to write to the audit log and is gets a "permission denied". I can't see anything stringe in https://storage.googleapis.com/kubev

[2019-11-07 06:11] #2805 closed

[2019-11-07 06:34] leyao-daily commented on #2848
@rmohr Thanks! I use ubuntu 18.04 server and no selinux on it. I have disabled the apparmor meanwhile. And after rebuild the environments and reset security config, it works now. Maybe this error is caused by potential wrong configuration  I set before.

Thanks for your advices again.

[2019-11-07 06:34] #2848 closed

[2019-11-07 09:21] rmohr commented on #2108
/remove-lifecycle rotten

@fromanirh any news?

[2019-11-08 03:37] leslie-wang opened #2875 "API Reference link broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:  API Reference at home page seems broken.

**What you expected to happen**: It points to correct link, and I can open to browse all APIs.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kub

[2019-11-09 08:20] munnaeebd opened #2877 "Regarding container creating during VMI create."
** this Is a FEATURE REQUEST?**:

**What happened**:
When I create a VMI using containerDisk from docker.io registry I have found there is two container creating inside single pod (one is compute and another is volumecontainervolume)

# cat centos.yaml | grep -ia3 centos-kubevirt-image
      volumes:
        - name: containervolume
          containerDisk:
            image: munnaeeebd/centos-kube

[2019-11-11 08:29] rmohr commented on #2221
/remove-lifecycle stale

[2019-11-11 09:18] #2372 closed

[2019-11-11 10:38] petrkotas commented on #2877
Hi @munnaeebd, yes this is designed behavior. The `compute` container contains the QEMU process with running Virtual Machine. The Virtual Machine reads the machine image from mounted volume served from the other `volumecontainer`. The second container only provides the data.

With this design you have the benefit of packaging a Virtual Machine in the container image and uploading it to any contain

[2019-11-11 16:02] #2877 closed

[2019-11-11 22:04] #2320 closed

[2019-11-13 04:50] nmsnitin commented on #2685
We have an application image that required a full virtualized environment at OS level, it's OS looking for **/dev/sda** to create and mount the root and the other file system.
While we are using **virtio driver** to launch the VM that is creating a paravirtualization environment by creating /dev/vda disk.
As suggested we have changed the driver to the **sata** type that has created required /dev/s

[2019-11-13 08:40] cynepco3hahue commented on #2685
Great, thanks!

[2019-11-13 11:20] nmsnitin commented on #2596
@SchSeba, @booxter   Sorry for a long pause.
We have created a new setup to deploy a VM using Kubevirt and OVS-DPDK running on the host., We have created some ports of type vHost on Host using OVS-DPDK.
In the case of Kubernetes container, we use UserSpace Multus CNI (Same as OVS CNI) that itself creates those vHost Ports and attach them with the container, but it is not working in the case of Kub

[2019-11-13 15:25] mprey commented on #2864
I am interested in working on this issue.

[2019-11-13 15:31] fabiand commented on #2864
That would be awesome.
It's a simple thing to copy / keep in sync with VMI, but so helpful for
`kubectl wait`

Do you know how to start or do you need some help here?

[2019-11-13 15:34] mprey commented on #2864
I've been in contact with Stuart Gott and he's gave me some tips on getting started. In the event of getting blocked or general questions, should I ask here, kubevirt-dev group, or maybe somewhere else?

[2019-11-13 15:37] fabiand commented on #2864
Great!
Stu probably knows all the tricks, and kubevirt-dev is then a good place to
get some additional help.
#virtualization on kubeernetes.slack.com is a good resource as well.

Reminds me that we could ramp up our contributing docs.

[2019-11-14 09:10] rmohr commented on #2125
/reopen

[2019-11-14 12:25] fromanirh commented on #2826
Hey, sorry for late answer, I got other things on my plate. Apologies!

This is very interesting. Kubevirt has code to deal with unresponsive VMs, and this is exactly what is happening here: kubevirt detects that some collections loop takes too long, and avoids to pile in.

In other words, the pod (or the VM?) seems too slow to respond sometimes. When this happens, kubevirt does NOT answer to prom

[2019-11-14 12:27] fromanirh commented on #2826
to learn more, we need to have `virt-handler`  running with verbosity level 4 (-v 4) or more. That will add debug logs about how the metrics collection code is behaving

[2019-11-14 19:26] dshchedr opened #2884 "add option to modify/remove nodeSelector on running VMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

**What happened**:
There is no way to modify/remove nodeSelector without restarting VM, because editing VMI objects is restricted.

**What you expected to happen**:
Is it possible to make nodeSelector field as mutable? It can be very useful for live migration (especially during node maintenance).

[2019-11-17 00:04] #2402 closed

[2019-11-17 14:18] #2011 closed

[2019-11-18 01:51] DeepLJH0001 commented on #2826
when i set -v 4，the log was
[code]
there seem no change ;(

[2019-11-18 01:55] DeepLJH0001 commented on #2826
this is my daemonset parameter
[code]

[2019-11-18 02:00] DeepLJH0001 commented on #2826
there is two unix-domain-socket, when i found. I don't know why this socket was busy
[code]

[2019-11-18 07:26] fromanirh commented on #2826
The detection "slow/stuck VMIs" mechanism baked in kubevirt seems to work, but indeed no extra info. It seems libvirt - or the virt-launcher pod? Is sometimes too slow when returning data. The other data you shared has no obvious red flags either.
So next step is definitely to learn why the statistics retrieval takes too long.
We'll need to to learn what's happening in the virt-launcher pods. Coul

[2019-11-18 08:00] rmohr opened #2885 "We write to container_share_t directories instead of relabeling them"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

In https://github.com/kubevirt/kubevirt/blob/master/cmd/virt-handler/virt_launcher.cil, we have rules which allow virt-launcher to write to `container_share_t`.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

We should relabel the corresponding directories, like we do

[2019-11-18 13:40] #2393 closed

[2019-11-18 15:47] xzcccc opened #2886 "Use hostDisk and cloudinitDisk to start vm but hang"
**What happened**:
I wanna use hostDisk to start the debian vm
**What you expected to happen**:
How to start and initialize vm with hostDisk
**How to reproduce it (as minimally and precisely as possible)**:
vmi-hostdisk-test.yaml
[code]

Then
`kubectl create -f vmi-hostdisk-test.yaml`
I can see the vmis is running, but when I run `kubectl virt console vmi-hostdisk-test`, prompt just hangs :
`Succe

[2019-11-19 03:16] vladikr opened #2887 "virt-launcher is missing selinux permission to allocate VFs"
/kind bug

**What happened**:
Failed to allocate a SRIOV VF to VMI
virt-launcher fails with the following error:
[code]
SELinux denial:
[code]
**Anything else we need to know?**:
This happens on RHEL7.7 running OpenShift 4.3 with kubvirt v0.23.0
Sriov devices are managed with Openshift-sriov-operator

[2019-11-19 03:17] vladikr commented on #2887
/cc @rmohr @booxter

[2019-11-19 03:17] vladikr commented on #2887
Probably need to add ```

#============= virt_launcher.process ==============
allow virt_launcher.process sysfs_t:file write;
[code]

[2019-11-19 05:50] lurenjia528 opened #2889 "virt-api not working"
download release v0.23.0

go build -mod=vendor cmd/virt-api/virt-api.go

./virt-api

cannot running

[code]

[2019-11-19 08:04] DeepLJH0001 commented on #2826
there are virt-launch logs
[code]
in this time, the virt-handler logs show :
[code]

[2019-11-19 08:16] fromanirh commented on #2826
Thanks for your patience debugging this issue!

Nothing really interesting here

OTOH this is interesting. It seems two entities are scraping the prometheus endpoints at the very same time. Is that intentional? Have you explicitely configured your cluster to do so?

When we designed and tested the monitoring integration back in time, that was not the case: only one prometheus was scraping the endp

[2019-11-19 08:29] rmohr commented on #2887
@vladikr what confuses me a little: would apps, which use the sriov plugin not also need to have access to this? Is this an error in the sriov plugin?

[2019-11-19 09:36] fromanirh commented on #2826
Nevermind, this was obsolete. It's just a bug. We *must* allow parallel scrapes up to the concurrency limit we set in https://github.com/kubevirt/kubevirt/blob/master/cmd/virt-handler/virt-handler.go#L95 (it can be changed with a command line option).

The problem is that the virt-handler monitoring backend has an _additional_ protection layer that disallow more than one consumer in parallel at th

[2019-11-19 10:38] fromanirh commented on #2826
A patch could look like that: (untested)
[code]

Unfortunately I don't have the capacity to submit and follow a PR atm.

[2019-11-19 10:43] rmohr commented on #2826
@fromanirh thanks for investigating it. I will take care of a fix.

[2019-11-19 10:49] DeepLJH0001 commented on #2826
Thanks for all. there has two prometheus intentional, because we has cluster-monitor and project-monitor.

[2019-11-19 10:53] lurenjia528 commented on #2889
vendor has problem
i working in GOPATH,and not use go mod ,it works

[2019-11-19 10:54] #2889 closed

[2019-11-19 12:26] iranzo commented on #2606
Seems that this is still happening
[code]

And the console 'hangs'

If pressing CTRL-C and attempt to delete the kubevirt 'ns' it complains too:

[code]

[2019-11-19 13:47] vladikr commented on #2887
@rmohr That was my understanding too, that all of these sysfs manipulations should be done in the sriov plugin, but I can see now that it's not for some reason.
Perhaps Openshift 4.3 works differently... we don't have tests for it :(

@fedepaol could you please advise?

[2019-11-19 13:58] fedepaol commented on #2887
Sorry, I may need a bit more context.

The way it works is that all the heavy lifting done on the device by the sriov plugin is done outside the pod, from the operator, the cni plugin and the device plugin (which probably are privileged and have all the permissions of the case).
Once the virtual function is ready, is passed in the namespace of the virt-launcher, which in turn uses vfio to pass the

[2019-11-19 14:47] analistamarcioprado commented on #1715
Good Morning. We are facing the same problem. But we imagine that the problem is not the DHCP itself.

In the Neutral documentation it says: "Computing hosts should always have the appropriate NICs set to promiscuous mode."

This is necessary for the host to receive frames addressed to other MACs (from a VM hosting on it for example). This is required for VMs to be able to respond to an IP offer.

[2019-11-19 15:02] rmohr commented on #1715
@analistamarcioprado I suppose that you have a kubevirt installation which already includes #1766. Would you mind sharing a little bit more info here or in a new issue (like which version you are using)?

[2019-11-19 15:03] rmohr commented on #2887
Maybe new selinux policies, or some changes on the device plugin? We don't have CI for 4.3.

[2019-11-19 15:08] fedepaol commented on #2887
Sorry, I just realized it was on ocp.

[2019-11-19 18:29] mprey commented on #2864
@fabiand a few follow up questions since I am a little lost:

After reading about readiness probes, I saw the operator spec YAML file sets the readiness probe to use the /metrics endpoint through HTTPS. What I see in the code is this endpoint is being served by Prometheus, which as far as I can tell, isn't concerned about the readiness of the VM. Is this where the problem is or am I off-base? Than

[2019-11-20 11:19] nmsnitin commented on #2596
-Is there any way in Kubevirt, to consume those ports as vhost interfaces in VM using Multus or directly?
Can you please provide some direction that will help us to integrate VM(Kubevirt) with OVS+DPDK.

[2019-11-20 11:26] #2887 closed

[2019-11-20 15:14] iranzo opened #2891 "Ensure we're testing migration between different libvirt versions"
**What you expected to happen**:

In the past (OSP, oVirt), migrations between different versions of libvirt infra caused issues, requiring some libvirt XML changes which allowed VM's to migrate from older to newer but not going back.

Once we support migrations, we should have  tests in place

Some examples of what is supposed to work/not:
- [RHEL7](https://access.redhat.com/documentation/en-us/r

[2019-11-21 02:08] Apokleos opened #2892 "KubeVirt‘s Documents may be updated now"
Hi， Maintainer
KubeVirt's Documents maybe out of date,
such as https://github.com/kubevirt/kubevirt/blob/master/docs/components.md

There is no many resources about Kubevirt but KubeVirt‘s github. So Kubevirt's github maybe the most important resources for People who want to understand  and use it.

May you update the documents, Please?
Thx a lot.

[2019-11-21 08:14] salkin commented on #2849
Confirmed tried versions 0.22 and 0.23 and on both of these ignition does not work.

Rolling back kubevirt to 0.19 and things works again.

[2019-11-21 08:25] rmohr commented on #2849
@salkin and @1337andre thanks. If you can, would you mind having a look into `/sys/firmware/qemu_fw_cfg/by_name/opt/com.coreos/config/raw` on both versions? I will try that too, but on my experiments it always looked the same. I am obviously missing something which would reveal the bug.

[2019-11-21 08:26] rmohr commented on #2849
@karmab do you have an idea?

[2019-11-21 09:15] rmohr commented on #2849
Ok, could reproduce it now. What's interesting, is that it only seems to happen on the release and not when using the git repos.

[2019-11-21 09:47] #2143 closed

[2019-11-21 09:47] #2377 closed

[2019-11-22 00:33] WoohyungHan opened #2894 "new CRD for VirtualMachineImage"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
We can upload vm image using virtlctl image-upload with image path. However every time creating VM, we have to know exact image path or PVC to copy. If we have image repository with what image is included and its metadata, It can be very useful.

We have container registry disk and it works similarly, however the d

[2019-11-22 04:07] kevin-zhaoshuai commented on #1376
does Arm64 supported?

[2019-11-22 04:07] kevin-zhaoshuai commented on #1376
If not, pls assign me, I'm happy to do this

[2019-11-22 06:11] veeraready commented on #1376
Yes, with some modifications.

From: Kevin Zhao <notifications@github.com>
Sent: Friday, November 22, 2019 9:37 AM
To: kubevirt/kubevirt <kubevirt@noreply.github.com>
Cc: Veera.reddy B <veera.b@nxp.com>; Mention <mention@noreply.github.com>
Subject: [EXT] Re: [kubevirt/kubevirt] kubevirt on arm64 (#1376)

Caution: EXT Email

does Arm64 supported?

—
You are receiving this because you were mentione

[2019-11-22 06:18] veeraready commented on #1376
Most of the work is done, we both can share the work items

Veera.

From: Kevin Zhao <notifications@github.com>
Sent: Friday, November 22, 2019 9:37 AM
To: kubevirt/kubevirt <kubevirt@noreply.github.com>
Cc: Veera.reddy B <veera.b@nxp.com>; Mention <mention@noreply.github.com>
Subject: [EXT] Re: [kubevirt/kubevirt] kubevirt on arm64 (#1376)

Caution: EXT Email

If not, pls assign me, I'm happy to

[2019-11-22 14:56] dhiller opened #2897 "[FOSSA] Issue with redgreen - UNLICENSED_DEPENDENCY"
## UNLICENSED_DEPENDENCY - redgreen (1.2.2)

### Component URL
https://rubygems.org/gems/redgreen/versions/1.2.2, http://errtheblog.com/post/15, http://on-ruby.blogspot.com/

### Affected Projects
- kubevirt

### Issue
This dependency hasn't specified a license. You may need to contact the author to obtain permission to use it.

No licenses found by FOSSA.

---

Generated by [FOSSA](https://fossa.

[2019-11-22 15:05] dhiller opened #2898 "[FOSSA] Issue with validate - UNLICENSED_DEPENDENCY"
## UNLICENSED_DEPENDENCY - validate (cd8cc34c703420d6b084fbbfd5085e8e71c5b830)

### Component URL
https://github.com/markbates/validate

### Affected Projects
- kubevirt

### Issue
This dependency hasn't specified a license. You may need to contact the author to obtain permission to use it.

No licenses found by FOSSA.

---

Generated by [FOSSA](https://fossa.com) on 11/22/2019
Reported by FOSSA u

[2019-11-22 15:07] dhiller opened #2899 "[FOSSA] Issue with memlistener - UNLICENSED_DEPENDENCY"
## UNLICENSED_DEPENDENCY - memlistener (54553eb933fb8c2d6103afed4c7173d807d26c0a)

### Component URL
https://github.com/hydrogen18/memlistener, http://www.hydrogen18.com/blog/in-memory-listener-for-unit-tests.html

### Affected Projects
- kubevirt

### Issue
This dependency hasn't specified a license. You may need to contact the author to obtain permission to use it.

No licenses found by FOSSA.

[2019-11-22 15:10] dhiller opened #2900 "[FOSSA] Issue with goa - UNLICENSED_DEPENDENCY"
## UNLICENSED_DEPENDENCY - goa (d673c4ff3be94468852a044acd92b006a6b49c35)

### Component URL
https://github.com/mgutz/goa

### Affected Projects
- kubevirt

### Issue
This dependency hasn't specified a license. You may need to contact the author to obtain permission to use it.

No licenses found by FOSSA.

---

Generated by [FOSSA](https://fossa.com) on 11/22/2019
Reported by FOSSA user: daniel.hi

[2019-11-22 15:37] dhiller opened #2901 "[FOSSA] Issue with go-ujson - UNLICENSED_DEPENDENCY"
## UNLICENSED_DEPENDENCY - go-ujson (e88340868a148e27f65170aae3684b1d72152bbd)

### Component URL
https://github.com/mreiferson/go-ujson

### Affected Projects
- kubevirt

### Issue
This dependency hasn't specified a license. You may need to contact the author to obtain permission to use it.

No licenses found by FOSSA.

---

Generated by [FOSSA](https://fossa.com) on 11/22/2019
Reported by FOSSA

[2019-11-22 19:22] stu-gott commented on #2864
@mprey I think we're being sneaky here. As long as the HTTP(S) endpoint returns an HTML success code, Kubernetes will consider the probe to be successful. In this case /metrics probably *does* return a success code. @rmohr keep me honest here.

To be clear. this "/metrics" endpoint is not served *by* prometheus. Prometheus actually probes that endpoint to collect data.

[2019-11-23 00:07] patricklundquist opened #2902 "Add Sysprep support"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
We would like Sysprep support, similar to how there is some support for cloud-init and ignition. It will help us deploy Window's VMs.

**What you expected to happen**:
Enable Sysprep support via a feature flag. Add VM annotation to use it.

**Anything else we need to know?**:
Found Sysprep mentioned [in the docs](h

[2019-11-23 11:36] #2427 closed

[2019-11-23 21:42] JacksonKrauss commented on #2894
Hello, I was thinking about working on this issue. Any tips on how to get started?

[2019-11-25 00:12] #2155 closed

[2019-11-25 08:13] rmohr commented on #2864
@mprey @stu-gott we already support readiness probes. You can configure them on the VM on the VMI template. The only task which is remaining, is copying the readyness condition from the vmi-status to the vm, so that people ca use `kubectl wait` in a more convenien way.

[2019-11-25 14:48] fabiand commented on #1376
Veera, that's nice. What did oyu have to do to make it work on ARM?

[2019-11-25 20:07] andrewrynhard opened #2904 "Support for containerd"
/kind enhancement

**What happened**:
Noticed that the docs don't mention containerd as being supported.

**What you expected to happen**:
I'd like to run KubeVirt with containerd.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or

[2019-11-26 03:14] godocean commented on #2606
I met the same problem, is there any solution for this?

[2019-11-26 08:28] cynepco3hahue commented on #2904
@andrewrynhard I think we support to run on any container runtime as far as it supported by k8s.
Did you try to run kubevirt on top of it?

[2019-11-26 08:31] rmohr commented on #2904
I think that #2748 will be an issue here. In order to reach a broader audience by default, we build docker v2.2 containers. However, as far as I know, containerd only supports OCI containers. I think pushing OCI would be as simple as replacing all our `container_push` commands in the BUILD files with `oci_push`.

[2019-11-26 09:09] rmohr opened #2906 "Add a test suite which verifies migrating VMs after kubevirt updates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Migrations are still an alpha feature. In order to move them out of alpha, we will need an extra test suite which solely tests migrating VMs from different kubevirt versions.

It is debateable how many versions back we want to allow migrations, but let's suppose we support two releases back:

1) install kubevirt X-2
2) start 2 VMs
3) install kubevirt

[2019-11-26 09:10] rmohr commented on #2906
@fabiand FYI

[2019-11-26 10:21] rmohr commented on #2898
I see that dependency not in our `vendor` folder. That is probably a transitive dependency on which we do not depend. Since we have all our dependencies in our `vendor` folder, I think we can just close/ignore such dependencies in FOSSA,  if we don't have them in `vendor`.

[2019-11-26 11:19] andrewrynhard commented on #2904
@rmohr i have not tried yet. I just saw in the docs that docket and cri-o are supported but not containerd.

[2019-11-26 13:07] mjschmidt commented on #2606
There is! credit to this issue here: https://github.com/kubevirt/kubevirt/issues/1491

[code]

[2019-11-27 00:57] andrewrynhard commented on #2904
@rmohr Is the pushing of OCI containers planned? In my experience containerd has been able to handle everything I have thrown at it. I'm not familiar with the build process for KubeVirt, so I don't know how different the push is. I can take a look though, and give KubeVirt a try.

[2019-11-27 02:56] clarklee92 commented on #2904
`containerd` old version can not use kubevirt container image. now >=1.3.0 works well, I tried and not .

[2019-11-27 02:58] andrewrynhard commented on #2904
@clarklee92 great news! Need to get aggregation layer enabled come to find out, but good to hear that `containerd` works.

[2019-11-27 17:52] andreaskaris opened #2910 "Update install documentation RELEASE=v0.17.0 and add a link to release list"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://kubevirt.io/user-guide/docs/latest/administration/intro.html

Documentation states $ export RELEASE=v0.17.0 but does not give a link to list of releases nor does it mention what the most recent release is. "Noobs" like me will blindly copy/paste what's in the doc and run into issues later down the road.

**What yo

[2019-11-28 09:25] jichenjc opened #2912 "suggest to add pvc definition into examples"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
when using examples/vmi-pvc.yaml , I got an error than vmi enter pending status
and complained the pvc is not found, actually the vmi and pv are created
so we need create a pvc sample e.g
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2019-11-28 09:26] jichenjc commented on #2912
if it's a good improvement, I will submit a PR soon

[2019-11-28 10:32] #2443 closed

[2019-11-29 09:37] petrkotas commented on #2894
Hi @WoohyungHan I have a question, How do you image `VirtualMachineImage` would be used together with `VirtualMachine`? Thank you.

[2019-11-29 14:25] rmohr commented on #2849
Finally found time to investigate this more carefully. Here the result:

I took the following image:

[code]

and booted a VMI which looked like this:

[code]

Then I logged in as user `core:test`. Worked like expected.

Would you mind retrying? with the image and the config which I posted here?

[2019-11-30 04:38] WoohyungHan commented on #2894
@JacksonKrauss @petrkotas hi, i'm not sure 100% this is worth for now... however I think we can learn from the relationship of glance and cinder service in openstack. We can provision a VM with DataVolume and the DataVolume has a source of image. for now, this source is form of raw file or http url. I think we can change this as image service id (or name).

first user create VirtualMachineImageSto

[2019-11-30 09:35] rmohr commented on #2849
Ok, I pushed my containerdisk  to my repo. You can now directly just craete the yaml file from my example.

[2019-11-30 10:44] 1337andre commented on #2849
I will give it a try, on monday... and give u some feedback

[2019-12-02 06:32] liangyuanpeng commented on #2892
Yes yes i am confused about doc

[2019-12-02 10:04] rmohr opened #2915 "Enhance VMI metrics exposure, to visualize stuck VMIs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

If qemu is blocked when gathering metrics, we simply show no metrics. Since we use an exporter, we can add a lifeline metric and indicate on it when a VMI is blocked when qemu hangs on gathering the metrics.

When on it, also improve the code which does the synchronization work: https://github.com/kubevirt/kubevi

[2019-12-02 10:05] 1337andre commented on #2849
i have tested with your yaml file with kubevirt 0.23.1
replaced fedora-coreos with coreos:2247.7.0  and "ignition": {          "version": "2.2.0"        }

works for me! thx a lot

[2019-12-02 10:58] fabiand commented on #2892
Yes, I think you have a point. The docs are outdated.

[2019-12-02 13:57] #2826 closed

[2019-12-02 15:18] yhaenggi commented on #2470
/remove-lifecycle stale

[2019-12-02 15:20] yhaenggi commented on #1376
/reopen

[2019-12-03 05:44] veeraready commented on #1376
/reopen

[2019-12-03 06:28] mbhatnagar21 opened #2918 "Slow traffic rate through VM created through Kubevirt"
Kubevirt version = 15.0
Kubernetes version = 1.14.1-00

While passing traffic through VM created created through Kubevirt , I am getting really low traffic rate . Expected rate is around 1 Gbps but I am just getting 64 Mbps . Can you pease suggest some way to increase this traffic rate .

Please find below yaml file I have used for creation of VM.

[code]

[2019-12-03 06:35] petrkotas commented on #2891
This is a good point, I do believe we do not have a strategy for doing upgrades when the VMs are still running. Thanks @iranzo.

[2019-12-03 06:38] veeraready commented on #1376
/assign kevin-zhaoshuai

[2019-12-03 06:39] veeraready commented on #1376
/assign fabiand

[2019-12-03 06:40] petrkotas commented on #2886
Hi @xzcccc I see you are using qcow2 image. Currently KubeVirt supports only img files. Please convert the image to raw img and try again. Your yaml does look OK.

[2019-12-03 07:08] petrkotas commented on #2894
Thanks for sharing the idea @WoohyungHan, I am struggling to see the difference between our current [CDI importer](https://github.com/kubevirt/containerized-data-importer). Have you checked it out?

[2019-12-03 08:03] rmohr commented on #2918
@mbhatnagar21 hi,

Here a few things which may help to find the root cause of the slowness:

 * Can you ensure that you are running kubevirt not in `emulation` mode? If `kubevirt` is you install namespace, then check the config-map via `kubectl get configmap -n kubevirt kubevirt-config`.
 * Also can you confirm that the throughput for regular pods is in the expected range?
 * The kubevirt version

[2019-12-03 08:04] rmohr commented on #2918
/assing @phoracek

[2019-12-03 08:04] rmohr commented on #2918
/assign @phoracek

[2019-12-03 08:08] rmohr commented on #2886
Yes, we are a little bit inconsistent here. `containerDisk` supports both `qcow2` and `raw`, but hostDisk only supports `raw`. Just to avoid confusions, the name or the ending of the disk does not play a role (if you call it `test.img` or `test.blub` does not matter, we always assume raw images).

[2019-12-03 08:09] rmohr commented on #2884
/kind enhancement

[2019-12-03 08:10] rmohr commented on #2904
@clarklee92 even in case that you found just non-serious bugs, make sure that you let us know about  them.

[2019-12-03 08:11] rmohr commented on #2846
I also always have to play with the go.mod files to find working combinations. I am not sure yet, on how we can make the experience nicer for people.

[2019-12-03 08:16] rmohr commented on #2847
@linqingping is this still a problem for you?

What I find interesting in the windows output from wireshark is that I see a DHCPv6 packet too.
Can it be that the windows VM takes the offer from another DHCP server on the network and not from our DHCP server?

[2019-12-03 08:27] rmohr commented on #2906
Seems like #2891 existed already.

[2019-12-03 08:29] rmohr commented on #2704
@ahadas It only says "Warning". Is this really the cause for the failed migration?

[2019-12-03 08:59] clarklee92 commented on #2904
It has not yet been determined what the problem is caused by the CRI runtime. And I will synchronize with the community as soon as I find out.

[2019-12-03 09:16] xzcccc commented on #2886
ok, thanks a lot, I will try img files.

[2019-12-03 09:26] mbhatnagar21 commented on #2918
@rmohr
I tried checking the config map but I am getting below message :
configmap "kubevirt-config" not found

I have tested traffic through other pods, I am able to get traffic rate close to 1 Gbps.

[2019-12-03 09:30] rmohr commented on #2918
Just to be sure, if you do `kubectl get pods -n kubevirt`, do you then see kubevirt specific pods like `virt-api`, `virt-handler`, ... ?

If yes, then you don't have emulation enabled, because you don't have a config-map there, which means that you use the default settings.

[2019-12-03 10:19] WoohyungHan commented on #2894
@petrkotas Maybe I'm wrong, but I think It's a bit different. If some user want to keep their image with read-only and clone it to create hundred of VMs, how the user can distinguish original image and clone image? he can create label for it, but I think we can create new CRD to get this. I think it is simillar with cinder-glance relation in openstack. Could you please check this link? :) https://

[2019-12-03 12:00] ahadas commented on #2704
As far as I remember every time that log appeared the migration failed, so I assumed it is related but I don't really know.

[2019-12-03 13:22] fabiand commented on #2618
/remove-lifecycle stale

[2019-12-03 16:39] j-griffith opened #2919 "Unable to resolve dependencies with k8s/client-go and kubevirt/client-go"
/kind bug

**What happened**:

While trying to consume kubevirt/client-go from a project generated by kubebuilder, I ran into what seem to be unresolvable conflicts with gos packaging of the k8s/client-go.

The simple example provided here: https://github.com/kubevirt/client-go/tree/master/examples/listvms works fine.  However, when trying to consume from something that uses a newer version of k8s

[2019-12-04 01:03] linqingping commented on #2847
If there are other DHCP servers, the virtual machine should obtain the network segment of the corresponding DHCP server instead of the network segment starting with 169.254.
![Y)YKM0L2J$77%QJIR5QN8@T](https://user-images.githubusercontent.com/20528139/70103028-e7d90b80-1674-11ea-8f35-be06bd0009d9.png)

[2019-12-04 07:49] rmohr commented on #2847
/assign @phoracek

[2019-12-04 07:50] rmohr commented on #2847
/topic network

[2019-12-04 07:54] rmohr commented on #2474
@mbhatnagar11 did you get the issue resolved? Chances are not that high that it is related, but we fixed some issues in VNC and console streaming in the current release (0.24).

[2019-12-04 09:17] cynepco3hahue commented on #2919
probably we need to update KubeVirt to use k8s-1.16

[2019-12-04 10:41] mbhatnagar21 commented on #2918
@rmohr

Yes, I see kubevirt specific pods .

I have even tried getting performance results with Kubevirt version - v0.23.0 but still the traffic rate is stuck around 70 Mbps . Can you please suggest me some ways to increase this traffic rate.

[2019-12-04 10:46] mbhatnagar21 commented on #2918
@rmohr

Can we use some other drivers instead of virtio which might help in increasing the traffic rate ?
Currently I am using below yaml file for launching the vm :

apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: testvm1
spec:
  running: false
  template:
    metadata:
      labels:
        kubevirt.io/size: small
        kubevirt.io/domain: testvm1
    spec:
      domain

[2019-12-04 18:40] j-griffith commented on #2919
I think that would defintely help, I tried to hack my own package with that but didn't have much success.  If it helps I've provided a bit more concrete info here:  https://github.com/j-griffith/cluster-api-provider-kubevirt/commit/a7a43fe0e676ef8f01a1a87413bf28d52e5e37d8

This strips everything down to the issue with the import of kubevirt/client-go and the commit comment includes some info about

[2019-12-05 08:10] cynepco3hahue commented on #2919
You will need to update the code under the KubeVirt repo, because of this repo just the mirror of `kubevirt/staging/src/kubevirt.io/client-go/`

[2019-12-05 09:18] #1153 closed

[2019-12-05 11:28] phoracek commented on #2604
/remove-lifecycle stale

[2019-12-05 11:51] nilanjan-samajdar commented on #2596
@SchSeba
To answer your query above, the client-socket is created on the OVS/DPDK bridge as follows -
[code]
Then, when creating the VM using QEMU, the Client-Socket Path is provided as a parameter -
[code]
If KubeVirt can support the above parameters in the Virt-Launcher and VMI YAML, then we should be able to use OVS/DPDK Vhost-user user-land interfaces in the VM

Please let us know if this is p

[2019-12-05 12:08] phoracek commented on #2918
Hello @mbhatnagar21.

Available NIC models are `e1000`, `e1000e`, `ne2k_pci`, `pcnet`, `rtl8139` and `virtio` https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/interfaces-and-networks.html#frontend. I don't think changing those would improve the performance, but you can try.

You can also try using `multiqueue` https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines

[2019-12-05 15:21] fabiand commented on #2864
Sorry for the dealy. But, yes as Roman and Stu are saying.

[2019-12-05 20:44] fabiand commented on #2144
/remove-lifecycle rotten

[2019-12-06 03:37] #2894 closed

[2019-12-07 08:27] lixiaocheng18 opened #2925 "Network barrier when use macvlan"
Hello
When I use macvlan cni,  it can work on k8s normal pod. As shown in illustration:
![image](https://user-images.githubusercontent.com/7879970/70371402-7f588b80-190d-11ea-9e63-1f5a194e2af6.png)

But when I create VirtualMachine and use "virtctl start debian",  then I use "virtctl console debian" enter the console, I found the Internet doesn't work. As shown in illustration:

![image](https://u

[2019-12-08 17:37] #1777 closed

[2019-12-09 14:51] omeryahud opened #2926 "Building on RHEL 8 CSB"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

RHEL 8 CSB has an alias from docker to podman so some make scripts such as:

`make all`
`make cluster-up`

fail due to incompatible docker arguments.

**What you expected to happen**:

Build and deployment to work with podman

**How to reproduce it (as minimally and precisely as possible)**:

clone kubevirt on a

[2019-12-10 08:33] rmohr commented on #2678
/close

We have dco enabled across all repos.

[2019-12-10 08:33] #2678 closed

[2019-12-10 11:26] surazzarus opened #2928 "Windows VM failed to start that has larger size"
- KubeVirt version: v0.24.0
- Kubernetes version: v1.15.5
- OS: Ubuntu 16.04.6 LTS (Xenial Xerus)
- Kernel: Linux dab7ece2-01a7-4ac0-ae18-515b4294b3f0 4.15.0-65-generic #74~16.04.1-Ubuntu SMP Wed Sep 18 09:51:44 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

I use software emulation using the configmap, since the hardware doesn't support virtualization as described in: https://kubevirt.io/user-guide/doc

[2019-12-10 14:18] surazzarus commented on #2928
So besides having issue to pull the larger image, I could able to deploy the VMI and is in running state. But is really slow. I also have the virtio drivers in the VMI yaml as described [https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/virtio-win.html#how-to-obtain-virtio-drivers](https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/virtio-win.html#how-to-obtain

[2019-12-10 16:45] #2609 closed

[2019-12-11 09:56] mbhatnagar21 commented on #2918
@phoracek

My testing setup is like this.
1) On system-A I am running Kubernetes and vm is deployed on this system and is using ovs_cni. Ovs is running DPDK . Dpdk is reading data from the NIC and passing the data to the deployed VM via ovs.

2) on system-B I am running packet generator tool. This system is connected to system A through physical ports directly via Ethernet cables. This tool shows

[2019-12-11 11:20] hw-claudio opened #2929 "kubevirt build: fails to build on a slow internet connection"
Hi,

this is probably a FEATURE REQUEST, to allow building kubevirt (make) also on a slow internet connection.

https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md

/kind enhancement

**What happened**:

I tried to build on a slow 1Mbs connection. Errors out with tcp reset while downloading a 400MB layer, on restart it tries to restart downloading from the beginning.

**What y

[2019-12-11 14:27] nmsnitin commented on #2596
I am getting below errors in the VM's log. Can you please help me to understand those error log

**compute**
`{"log":"{\"component\":\"virt-launcher\",\"level\":\"info\",\"msg\":\"Connecting to libvirt daemon failed: virError(Code=38, Domain=7, Message='Failed to connect socket to '/var/run/libvirt/libvirt-sock': No such file or directory')\",\"pos\":\"libvirt.go:362\",\"timestamp\":\"2019-12-11T1

[2019-12-11 14:28] hw-claudio commented on #2929
Work around: I could work around the large downloads and number of layers by using docker daemon options:

DOCKER_OPTS="--max-concurrent-downloads=1 --max-concurrent-uploads=1"

to work around the timeout on pulling the concurrent layers

[2019-12-11 16:27] rmohr commented on #2902
I wonder how big such files usually are. We should ensure that our VMIs are not too big. We are actually limiting the max size of cloud-init payload to `2048` byte.

What are typical `Unattended.xml` and `Autounattended.xml` file sizes? If `2048` is impractically small, I wonder if we should in general only allow attaching these via secrets/configmaps.

By the way, as far as I know sysprep and set

[2019-12-11 16:47] aneurinprice opened #2930 "image-upload: timed out waiting for the condition"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When going to upload an image, the following happens:

virtctl image-upload dv lucy-dv --size=10Gi --uploadproxy-url=https://cdi-uploadproxy.my.domain --image-path=/Users/moby/VirtualBox\ VMs/lucy/lucy.qcow --wait-secs=300

DataVolume default/lucy-dv created
Waiting for PVC lucy-dv upload pod to be ready...

timed out wa

[2019-12-11 16:49] aneurinprice commented on #2930
'''
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: cdi-uploadproxy
  namespace: cdi
  annotations:
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "100000m"

spec:
  rules:
  - host: cdi-uploadproxy.my.domain
    http:
      paths:
      - path: /
        backend:

[2019-12-12 11:18] tssavita opened #2931 "No bootable device detected for Windows Server 2012 Evaluation image."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
No bootable device detected, when connecting to VM through VNC.

![Screenshot from 2019-12-12 13-37-44](https://user-images.githubusercontent.com/2744118/70707121-b9dc7280-1cd7-11ea-90b0-ecd25ceacc6d.png)

**What you expected to happen**:
Windows installation should start.

**How to reproduce it (as minimally and precisel

[2019-12-12 11:36] alosadagrande opened #2932 "How often is expected to update the KubeVirt operator in operatorhub.io?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

I just started to deploy OKD 4.3 with KubeVirt community operator. However, currently the version in operatorhub.io is running KubeVirt 0.18.1 which is quite old. Note that last week version 0.24 of KubeVirt has been released with some new features (pause/unpause, vnc fixes...)

My questions are:

* how often is expected to update t

[2019-12-12 11:56] cynepco3hahue commented on #2932
Probably we need to add it to the travis release script and I thought we have one, @slintes do we update it automatically or we need a manual intervention?

[2019-12-12 13:48] fabiand commented on #2678
@dhiller I think this is done, not?

[2019-12-12 15:50] slintes commented on #2932
No, it's not automated. You need to create a PR on the community operator repo for every new version manually.
However, I see that HCO is working on a community operator as well [0]. IMHO it would be confusing to have both. Maybe it makes sense to delete the KubeVirt standalone operator from operator hub, and offer an option to only deploy KubeVirt for the HCO operator?

/cc @fabiand

[0] https://

[2019-12-12 16:15] rmohr commented on #2932
Maybe. However I would be against it right now. HCO is not really tested.

[2019-12-12 16:24] rmohr commented on #2929
I am surprised that you did not run into issues when bazel tried to download its dependencies after the docker download.

Just in case you run into issues there too, you can create a `.bazelrc` file with this content:

[code]

[2019-12-12 16:26] slintes commented on #2932
Sure, not before they are ready for it :)

[2019-12-12 16:30] slintes commented on #2932
So:
1. Is this the approach we want to go (replacing KV with HCO)?
2. If so, how long does it take for HCO to be ready, and do we want to wait, or publish an update to the KubeVirt operator?
3. If not, publish an update as soon as possible

[2019-12-12 16:32] rmohr commented on #2931
The following things come to my mind:

 1) vewrifying that the img contains what you expect
 2) Should the disk be a `cdrom` drive?

[code]

[2019-12-12 17:49] aneurinprice opened #2933 "VMI stuck pending"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After creating a VM, the VMI stays in pending with no events.

**What you expected to happen**:

The VMI should start, or at least give anerror

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

Bare metal K8S cluster, all capable of KVM

**Environment**:
- Kube

[2019-12-12 18:25] tssavita commented on #2931
Thanks so much for the quick reply!

1. I booted the image using QEMU/KVM and it was the right file. (Assuming that's what you meant by verifying the image..)
2. I tried using the disk type as cdrom(the above yaml). But the VMI gets stuck in Scheduling state.

However, I got one step ahead: I explicitly **set the firmware to UEFI by adding the following under spec.**
[code]
The VM booted and the W

[2019-12-12 18:26] tssavita commented on #2931
Forgot to add this: My keyboard and mouse are not usable inside the VNC viewer. So I can't press tab multiple times and reach the Next button.

[2019-12-13 08:36] rmohr commented on #2676
/remove-lifecycle stale

[2019-12-13 10:05] rmohr commented on #2933
@aneurinprice could you do `kubectl describe vmi vm-lucy`? That should give you events and entries in `status.conditions` which should tell you why it does not start.

[2019-12-13 10:06] rmohr commented on #2933
Also if that still does not show you anything (and yes we should improve that then, because it should), you should see a pod called `virt-launcher-vm-lucy-*`. The events on that pod should reveal what the issues are, and I would be curious to hear what the issue is.

[2019-12-13 10:12] rmohr commented on #2931
@tssavita I think that you need to add an input device. Can you try adding

[code]

to the `devices` section?

More info here: https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/virtualized-hardware-configuration.html#input-devices.

I personally find it always confusing that I have to add a `tablet` device to get a mouse, but I hope that solves it for you.

[2019-12-13 10:17] rmohr commented on #2931
Oh btw. I think that you should also enable a few more features to get a better experience with windows in kubevirt. That example has most setting: https://github.com/kubevirt/kubevirt/blob/master/examples/vm-template-windows2012r2.yaml.

It is especially interesting that we also set an explicit uuid for the machine in the spec, so that the OS does not think that it runs on a different vm on each

[2019-12-13 11:13] rmohr commented on #2930
@mhenriks @awels FYI.

[2019-12-13 12:41] aneurinprice commented on #2933
@rmohr nothing unfortunately note.

`mac-n-cheesenyepricelocal:lucy moby$ kubectl describe vmi -n vm-lucy vm-lucy
Name:         vm-lucy
Namespace:    vm-lucy
Labels:       kubevirt.io/vm=vm-lucy
Annotations:  kubevirt.io/latest-observed-api-version: v1alpha3
              kubevirt.io/storage-observed-api-version: v1alpha3
API Version:  kubevirt.io/v1alpha3
Kind:         VirtualMachineInstance
Meta

[2019-12-13 12:43] rmohr commented on #2933
@aneurinprice hm, could you also check if you see a `virt-launcher-*` pod?

Also it could be that our control-plane may not be running. Could you share `kubectl get pods -n kubevirt`?

[2019-12-13 12:47] aneurinprice commented on #2933
[code]

[code]

[2019-12-13 12:51] aneurinprice commented on #2933
@rmohr I think this is a strange problem. I have checked the hosts and the ARE capable of running KVM machines

[2019-12-13 13:00] rmohr commented on #2933
Hm, it is strange that `virt-controller` and `virt-operator` are restarting quite often.

Apart from that, did you also check if a `virt-launcher-*` pod got created?

[2019-12-13 13:02] rmohr commented on #2933
If there is no pod created, we would have to check the logs of `virt-controller-*` pods. They are responsible for the VMI. They may have a permission issue or something else.

[2019-12-13 13:11] aneurinprice commented on #2933
So, it doesnt look like the virt-launcher-* pod gets created.

[code]

As for the logging,

[code]

Looks like you might be onto something here, any idea what this could mean?

[2019-12-13 13:23] rmohr commented on #2933
Hm, that we see so many restarts because of  failed http readiness probes and that we see here errors where we seem to wait for 30 seconds to get a configmap, my suspicion would be that the controller establishes a watch, but there is no data or almost no data transferred.

Did you setup this cluster just to try kubevirt, or did you also run other things there? It looks a little like  there are hu

[2019-12-13 13:32] aneurinprice commented on #2933
I set this cluster up as general purpose. I have not seen an network issues wiht any of my other depoyments, so I am not quite sure if that is what it is but am welcome to any ideas. I am using flannel as my overlay.

I could remove kubevirt from the cluster and try again?

[2019-12-13 14:02] rmohr commented on #2933
Hm, it might be related to talking to the apiserver only. Could you have a look at the apiserver logs in the `kubernetes` namespace? Maybe we see something like rate limiting or reports of connection issues.

[2019-12-13 15:17] mhenriks commented on #2930
Hi @aneurinprice thanks for the bug report!

virtctl is expecting the annotation `cdi.kubevirt.io/storage.pod.ready` on `lucy-dv` to be true.  And based on `kubectl get pod cdi-upload-lucy-dv` it should be.  Would you mind attaching the output of `kubectl get pvc lucy-dv -o yaml`?

Also, the `cdi-deployment` log would be helpful because that is where the annotation is set.

[2019-12-13 19:29] fabiand commented on #2932
Yeah, we really should solve the situation on operatorhub.

Help is appreciated to resolve the situation.

[2019-12-14 09:51] #2125 closed

[2019-12-14 10:37] slintes commented on #2933
just a hint: events are deleted after some time.
can you do the `kubectl describe` on a freshly created VM? Seeing not a single event on it is strange.

[2019-12-14 12:09] aneurinprice commented on #2933
[code]
@slintes That is on a newly created VM/VMI.

[2019-12-14 12:14] aneurinprice commented on #2933
@rmohr  I think you are on to something:

[code]

This being what stands out most to me:

[code]

[2019-12-14 19:02] #2601 closed

[2019-12-15 13:40] AlonaKaplan commented on #2847
@linqingping what windows version are you using?
It seems like the windows vm is not responding to the dhcp server offer. Can you please take a look at the windows event viewer and see if there is a related error?

[2019-12-16 10:30] rmohr commented on #2397
/remove-lifecycle stale

[2019-12-16 16:02] rmohr commented on #2933
@aneurinprice hm, that looks pretty ok. Could you also check if `virt-controller` has a higher restart count when you create a VMI? If yes, could you look up the previous logs (`-p`) from virt-handler? They might show something which is helpful.

[2019-12-17 01:56] linqingping commented on #2847
windows dhcp server is normal, without kubevirt use kvm can get IP normally

[2019-12-17 10:55] aneurinprice commented on #2933
@rmohr

[code]

No restarts so far. I do belive it to be an API/ETCD problem now, although I am not sure what exactly. Etcd has lots of space and is on SSD's... hmmmm

[2019-12-17 12:08] rmohr commented on #2933
Hm, I run out of ideas. I haven't seen anything like this before. What k8s version is used on the server side? Maybe I missed it but I only saw the client version in the report.

[2019-12-17 12:14] rmohr commented on #2928
What I see is that there seems to be an issue even before the Domain is defined by libvirt inside the pod. What you see is the timeout which happens after several minutes, if our node-daemon failed to sync with the pod. The sync timeout in the events log also shows this. Our daemon tries to talk with the pod, but the grpc call times out.

You don't need to install anything for VNC. Does it work if

[2019-12-17 12:17] rmohr commented on #2928
Ah now I see

[code]

You can use software emulation for playing with kubevirt, you can also start small VMs (especially small linux guest can still boot in less than a minute). To have a better experience whil playing with kubevirt with windows you need at least kvm with only one level of nesting. The best is bare-metal with kvm.

[2019-12-17 12:19] rmohr commented on #2904
@andrewrynhard did you have success with containerd?

[2019-12-17 12:47] aneurinprice commented on #2933
@rmohr The server version is: Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3"

I am pretty confused at this point, I don't *THINK* I've done anything wrong :(

[2019-12-17 12:52] rmohr commented on #2933
Hm, what I can tell you is that we test on k8s [1.16.2](https://github.com/kubevirt/kubevirt/pull/2937), but not on 1.16.3. There is still the chance that something changed in the minor release which is causing the issue.

[2019-12-17 12:55] aneurinprice commented on #2933
I'll rollback to .2 now and let you know how it goes

[2019-12-17 13:14] aneurinprice commented on #2933
@rmohr I have reverted to .2 and there is no change. Any other ideas? I am grateful for your time on this.

[2019-12-17 13:45] andrewrynhard commented on #2904
I got it deployed but never tried a VM. I actually plan on testing today.

[2019-12-17 13:51] slintes commented on #2933
the virt-launcher pod would be in the same namespace as the VM, not in the kubevirt ns.

[2019-12-17 13:52] rmohr commented on #2933
Yep. Missed that it was the `kubevirt` namespace. Good hint. :+1:

[2019-12-17 13:57] aneurinprice commented on #2933
@slintes

[code]

Thansk for the hint, unfortunately the virt-launcher pod still isnt being created.

[2019-12-17 14:53] slintes commented on #2933
too bad... I am out of ideas as well now :thinking:

[2019-12-17 15:07] rmohr commented on #2933
Maybe you can share once more from both virt-controller instances the logs?

[2019-12-17 15:11] aneurinprice commented on #2933
Certainly.

[code]

[code]

[2019-12-17 15:21] aneurinprice commented on #2933
One thing that might make a difference, I am running Kubernetes in containers with RKE. I don't see why it would cause problems, but it is worth noting

[2019-12-17 15:27] rmohr commented on #2933
That can be the reason, however, we see that all our CRDs are registered (you can create VMs and VMIs). We see that at least some of our controller loops in virt-controller react (the VM controller creates the VMI). We should then at least see that the VMI controller tries to create a pod, or fails somehow along the way. But just nothing.

Can you do the following: Edit the `virt-controller` deplo

[2019-12-17 15:50] aneurinprice commented on #2933
That is better

[code]

[2019-12-17 15:55] rmohr commented on #2933
Ha:

[code]

CDI has an issue with the DataVolume. Can we verify that by creating a very simple VMI without a datavolume?

Maybe

[code]

[2019-12-17 15:57] aneurinprice commented on #2933
Looks like we are getting somewhere
[code]

[2019-12-17 16:00] aneurinprice commented on #2933
[code]

[code]

[code]

We've got it boys!!

[2019-12-17 16:02] rmohr commented on #2933
Great. So I guess that we have to improve our conditions here to reflect that. Let's do that. Thanks for the patience and sharing the data. I think you have #2930 already regarding to the DataVolume issue?

[2019-12-17 16:04] aneurinprice commented on #2933
Wonderful. Thank you VERY much for your help on this one. I will continue on the other issue. :D

[2019-12-17 16:04] #2933 closed

[2019-12-17 16:04] aneurinprice commented on #2930
[code]

[2019-12-17 16:09] rmohr opened #2938 "We don't reflect in the API or in events if we wait for the DataVolume to be ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Follow-up of #2933. When we wait for the DataVolume to become ready, we only log that at log level `4` (higher than what we enable by default). We don't create events, we don't reflect it in conditions.

As a consequence, it looks like the VMI and the corresponding controller are just hanging.

**What you expected to hap

[2019-12-17 16:10] rmohr commented on #2933
Creasted #2938 as a follow up.

[2019-12-18 05:42] munnaeebd opened #2940 "SSL CA cert issue from inside the VMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have launched a centos7 VMI using kubevirt.  I can't curl any https site from inside the VMI.

#curl  https://www.example.com
curl: (77) Problem with the SSL CA cert (path? access rights?)

for troubleshoot purpose I have reinstall ca-certificates and openssl . but still doesn't working.

I have googled a lot , but didn't get any

[2019-12-18 09:24] aneurinprice commented on #2930
Here is the DV import pod and he cdi deployment log.

I'm not sure this import looks right to be perfectly honest.  According to Kubevirt docs, it should look something like this:
[code]

But instead, I am seeing:

[code]

and the CDI log is as follows:

[code]

[2019-12-18 10:00] aneurinprice commented on #2930
I have taken a look at the metrics server and found this:

[code]

[2019-12-18 10:43] aneurinprice commented on #2930
Okay. Looks like the metrics server thing may have been a red herring.

This seems to be what the actual problem is:

[code]

Looks to be a similar kind of thing [here](https://bugzilla.redhat.com/show_bug.cgi?id=1704795)

[2019-12-18 15:10] mhenriks commented on #2930
hi @aneurinprice, the logs you just posted look fine to me (including the connection refused messages).  The import completed successfully.

But they don't seem to be related to the original issue.  The bug report concerns upload with virtctl, not import.  Import and upload are completely different code paths.

[2019-12-18 15:19] aneurinprice commented on #2930
My apologies if this is unrelated. My experience with [this](https://github.com/kubevirt/kubevirt/issues/2933) bug lead me to believe that these two issues were related. I could of could of course be terribly mistaken.

WRT the DV [logs](https://github.com/kubevirt/kubevirt/issues/2930#issuecomment-566613370) , the PVC never gets the `cdi.kubevirt.io/storage.pod.ready = true` annotation.

In your

[2019-12-18 20:05] mhenriks commented on #2930
hi @aneurinprice I believe that log message is expected.   `virt-controller` waits for the DataVolume referenced in the VMI spec to be populated before starting the `virt-launcher` pod. It will be waiting forever if the upload never completes (`cdi-upload-lucy-dv` pod exits successfully).

Just so we are on the same page, does the following describe the original error you saw with upload?

0.  No

[2019-12-19 01:11] phoerious commented on #2766
I am still getting this authentication error with 0.24.0:

[code]

kubectl works just fine, but virtctl cannot connect. Any solutions for this? kubectl is installed via Snap, but the config is in ~/.kube/config and accessible to virtctl.

[2019-12-19 01:34] godocean commented on #2539
@Helenbj did you solve it? I think I met the same problem like you. Is there any reference for me?

[2019-12-19 02:00] Helenbj commented on #2539
@godocean I choose NodePort instead.

[2019-12-19 02:38] godocean commented on #2539
@Helenbj I also tried NodePort, but it's not table, when I use remote desktop connection to connect with the windows vm, it will informed me with "an internal error" most of the time. Did you have the same problem?

[2019-12-19 03:07] godocean commented on #2392
@yinjingjiu I tried to access the Windows Server 2012 R2 VM which I deployed with kubevirt in different ways.

1. expose 3389 port with NodePort service, but it's not stable, beacause it informed me with "an internel error happened" at most of the time when I use remote desktop connection to connect with it from my windows;
2. use virtctl tool and virt-viewer, but it's not stable either, because w

[2019-12-19 05:59] luckyfengyong opened #2942 "VMI created with the pod/masquerade network on Calico cannot be accessed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
VMI created with the default network cannot be accessed

**What you expected to happen**:
User could access the VMI by allocated container ip address

**How to reproduce it (as minimally and precisely as possible)**:
In a k8s cluster created by kubeadm v1.15.1, install kubevirt v0.24.0. The container network is provided b

[2019-12-19 06:12] luckyfengyong commented on #2942
it seems I did not read the doc carefully :disappointed:.  Just read the following. Will have a try
[code]

[2019-12-19 06:43] luckyfengyong commented on #2942
Still no luck.
After add `ports` in the spec of vmi, the iptales rules are created in the container of `virt-launcher`. However, the service inside the contianer still cannot be accessed.

[2019-12-19 08:28] luckyfengyong commented on #2942
When I switch to `bridge` mode, the network of vmi works well :-).

[2019-12-19 09:08] rmohr commented on #2942
You don't have to add a port. If you don't add a port, all ports are forwarded. @phoracek @AlonaKaplan do you spot anything uncommon?

[2019-12-19 09:23] phoracek commented on #2942
@luckyfengyong could you try defining the masquerade with no ports? Then it should forward everything: https://github.com/kubevirt/kubevirt/blob/a523d9ad55fb1cd6145bd2dc49a94164f34a18a2/pkg/virt-launcher/virtwrap/network/podinterface.go#L551

Is there a chance there is mismatch in the data you provided in the description of this Issue? In the VMI description I see `Ip Address:      192.168.25.222`

[2019-12-19 12:00] luckyfengyong opened #2943 "VMI with a configmap specified as volume failed to be created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The VMI with a configmap specified as volume failed to be created
**What you expected to happen**:
The VMI is created successfully

**How to reproduce it (as minimally and precisely as possible)**:
Create VMI with the following spec

[code]
And then I get

[code]

The file of  `/var/run/kubevirt-private/config-map-disks/a

[2019-12-19 12:06] luckyfengyong commented on #2943
The log of virt-launcher

[code]

[2019-12-19 12:22] rmohr commented on #2943
@luckyfengyong can be that our defaulting has a bug. Can you try adding `bus:  virtio` to the disk, like for the other disks?

[2019-12-19 12:24] rmohr commented on #2943
but not sure this is it. Still checking.

[2019-12-19 12:34] rmohr commented on #2943
@luckyfengyong what puzzles me is that when you do a `describe`, that there is no `sata` bus auto-selected for the disk. That should be impossible.

[2019-12-19 12:50] rmohr commented on #2943
Can you share the output of

[code]

and

[code]

It looks to me like the mutating webhook is not executed. But if it is not executed, it should not be possible to create a VMI at all.

[2019-12-19 14:49] aneurinprice commented on #2933
@rmohr I have got to the bottom of why my VM's were failing to start. I'm still figuring out exactly what causes the behaviour, but it is something to do with when the DV is created and deemed ready BEFORE the VM is happy enough to schedule the VMI. I will create a new issue and have a poke at getting that fixed. Thanks for your help on this one buddy :)

[2019-12-20 01:06] luckyfengyong commented on #2943
@rmohr Thanks for the info. Because of the cert issue, I actually disable the webhook of kubevirt. After adding `bus: sata`, the vmi is created successfully.

If the mutationwebhook is only used to add the default config, it is probably better to document the default config explicitly, so that user knows the right configuration intead of only relying on the webhook.

I will close the issue.

Thank

[2019-12-20 01:06] #2943 closed

[2019-12-20 01:11] luckyfengyong commented on #2942
@phoracek The mismatched info is probably because I tried several times, so paste info from different trying. Another info I forget to mention is that I actually disable the webhook of kubevirt, as I get the cert issue in my test env. Not sure whether it is the root cause.

[2019-12-20 08:22] rmohr commented on #2943
Which cert issue?

The webhooks are mandatory. A lot of k8s extensions rely on them, we too. It is not a nice to have thing. I would suggest to bring the cluster in a healthy state and enable them again.

[2019-12-20 08:27] rmohr commented on #2942
Not necessarily the reason but can very well be. Please re-enable them.

[2019-12-23 11:50] mayankmishra12 commented on #1491
Still the issues is there ,not able to uninstall kubevirt. I tried  both the script which is described in above comment and and the step which are given in official docs.

[2019-12-23 12:07] dhiller commented on #2410
/remove-lifecycle stale

[2019-12-25 05:16] #2508 closed

[2019-12-25 08:50] biliwewe opened #2947 "persistentVolumeClaim Disk supports qcow2 format"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:

Currently the disk is also required to be in raw format, I want to reduce the disk image size,What should i do, ask for help.

Thanks in advance.

[2019-12-25 10:01] chendave opened #2948 "[Question] `virt-operator` for ARM64?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Does `kubevirt/virt-operator` currently only available for X86? If yes, where is the `Dockerfile` and source for the image?  or the gaps to build the image for ARM64?

**What you expected to happen**:
kubevirt should be able to use on ARM64 as well.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl create -

[2019-12-25 10:34] biliwewe commented on #2947
If it is a Windows vm, the win.img disk file is too large, Can someone give me some advice?

[2019-12-25 23:35] surazzarus commented on #2928
@rmohr Thank you for the reply.
Now I have enabled nested virtualization in KVM instead of software emulation.

After deploying Windows10 VMI, it shows following error. It was in scheduled status for sometime and failed after sometime.

Virt-handler Logs:
[code]

Virt-controller-logs:

[code]

[2019-12-26 11:45] nmsnitin opened #2951 "OVS-DPDK support"
**What happened**:
We are trying to provide vhost-user(OVS-DPDK) interfaces to VM created by Kubevirt, like the Qemu consumes vhost interfaces as below, but unable to do that.

[code]

**Environment**:
- KubeVirt version (use `virtctl version`): v0.24.0
- Kubernetes version (use `kubectl version`):v1.14.10
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from /etc

[2019-12-27 10:26] #2940 closed

[2019-12-30 09:18] salkin commented on #2849
Confirmed also on kubevirt 0.24.0. Issue can probably be closed.

[2019-12-30 10:37] fabiand commented on #2764
/remove-lifecycle stale

[2019-12-30 10:39] fabiand commented on #1491
Yes, it's still an issue. Patches would be welcome to address this properly.
After all it seems to be mostly an ordering problem during uninstallation.

[2019-12-30 11:23] rmohr commented on #2849
/close

[2019-12-30 11:23] #2849 closed

[2019-12-30 16:32] #2485 closed

[2019-12-31 12:46] enp0s3 opened #2953 "Evacuate QEMU logs from virt-launcher pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
A virt-launcher pod is being deleted because the QEMU crashed. This happens fast and if "spec.running" is True it happens in loops. Currently there is no option to treat the QEMU logs.

**What you expected to happen**:
Print QEMU logs to the STDOUT and evacuate them to virt-handler for bug tracking.

**How to repr

[2020-01-03 07:58] #2474 closed

[2020-01-03 09:12] petrkotas commented on #2392
@godocean how do you connect to the VNC? Are you using our virctl tool?

[2020-01-03 09:13] petrkotas commented on #2539
@Helenbj are you connecting to the VNC directly? Can you please elaborate what is you solution? Thank you!

[2020-01-03 09:18] nmsnitin commented on #2951
One more question here, are we planning to add OVS-DPDK support in the Kubevirt.

[2020-01-03 10:06] rmohr commented on #2567
/reopen

let's investigate if we still see them.

[2020-01-03 10:06] rmohr commented on #2567
/remove-lifecycle rotten

[2020-01-03 10:46] fabiand commented on #1491
A few additions:

It is known that deletion/uninstall is not working correctly when a user is trying to do this procedure by removing the namespace `kubevirt`, this is because of many reasons.

It is also known that uninstall via the kubevirt CR is working reliably.

Our recommendation is to use the operator for deployment and undeployment, and after undeployment to remove the operator.

[2020-01-03 10:52] rmohr commented on #1491
I think you reference here many of the different issues on different k8s versions where deleting namespaces can hang indefinitely.

Yes creating the kubevirt CR for installation and deleteing the CR to remove kubevirt is tested and there are no kubevirt-related issues known at this moment.

[2020-01-04 21:35] #2144 closed

[2020-01-05 06:43] omeryahud opened #2961 "Deletion of Kubevirt CR hangs"
/kind bug

**What happened**:
Manually creating Kubevirt CR and deleting it while its status is still `Deploying` hangs

**What you expected to happen**:
Kubevirt CR to be deleted

**How to reproduce it (as minimally and precisely as possible)**:
- Install Kubevirt on a cluster
- Delete Kubevirt CR
- Create Kubecirt CR
- Delete Kubevirt CR while it is still in the `Deploying` status

**Environment

[2020-01-05 07:37] xdays opened #2962 "virt-handler daemonset disallowed by cluster policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

yes

**What happened**:

kubervirt is pending in deploying state, and failed to create virt-handler  daemonset.

**What you expected to happen**:

virt-handler daemonset should be created

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

[code]

**Environment**:
- KubeVirt version (use `vi

[2020-01-05 17:19] joekhoobyar commented on #2961
I have the same issue.

Is there a workaround for this?  It's been deleting for 12 hours now.

[2020-01-05 18:01] joekhoobyar commented on #2961
Checking the documentation, I found this, at the end of the [Delete](https://kubevirt.io/user-guide/docs/latest/administration/intro.html#delete) section of the docs:

[code]

Running the above command worked for me.

@omeryahud - can you try that and see if it works?  If so, we should probably close the bug.

[2020-01-06 09:21] slintes commented on #2746
/remove-lifecycle stale

[2020-01-06 09:21] slintes commented on #2223
/remove-lifecycle rotten

[2020-01-06 09:28] slintes commented on #1376
seems there was some ongoing work...

/reopen
/remove-lifecycle rotten

[2020-01-06 09:30] slintes commented on #2948
Hey,

kubevirt uses bazel as build system, including container images, see e.g. https://github.com/kubevirt/kubevirt/blob/master/cmd/virt-operator/BUILD.bazel#L34. So there are no Dockerfiles.

For ARM64, seems there were some people busy with adding support for it, see https://github.com/kubevirt/kubevirt/issues/1376.

[2020-01-06 09:41] slintes commented on #2953
Hey, you can enable verbose logs with a `debugLogs: "true"` label on the VMI. Then you can try to get the logs from the *previous* virt-launcher pod with the `-p` flag of `kubectl logs`. Does that help?

[2020-01-06 11:39] dhiller opened #2964 "Can't connect to websocket after created testvm on local k8s-1.17 provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubevirt is running on k8s-1.17.0. After creating testvm [according to this guide](https://kubevirt.io/labs/kubernetes/lab1.html) I tried to connect to testvm console, Result was an error:

[code]

**What you expected to happen**:
Able to connect to testvm console without error.

**How to reproduce it (as minimally and pre

[2020-01-06 11:46] dhiller commented on #2964
cluster-up/kubectl.sh describe vm testvm:
[code]

cluster-up/kubectl.sh describe vmi testvm:
[code]

[2020-01-06 11:57] dhiller commented on #2964
`cluster-up/kubectl.sh logs virt-launcher-testvm-rcvr5 --all-containers=true`
[code]

[2020-01-06 12:12] petrkotas commented on #2962
Hi @xdays would you please provide the overall cluster state? Thank you.

[2020-01-06 12:37] mjschmidt commented on #2961
I am not sure if a pull request was the right move for this, but I attempted to add documentation for making certain clean up was successful in situations like this. The following script deletes all objects in a given namespace with labels kubevirt uses:
https://github.com/kubevirt/user-guide/pull/287

[2020-01-06 12:39] mjschmidt commented on #2910
I suggest a documentation update proposal here via a pull request:
https://github.com/kubevirt/user-guide

[2020-01-06 13:54] slintes commented on #2962
Seems microk8s's cluster policy forbids privileged containers by default: `DaemonSet.apps "virt-handler" is invalid: spec.template.spec.containers[0].securityContext.privileged: Forbidden: disallowed by cluster policy`
Can you try adding `--allow-privileged` into `/var/snap/microk8s/current/args/kube-apiserver` and run `microk8s.stop; microk8s.start`?

[2020-01-06 14:01] dhiller commented on #2964
kubectl get logs virt-api:
[code]

[2020-01-06 15:45] xdays commented on #2962
@slintes thanks a lot. it works now. awesome!

[2020-01-06 15:45] #2962 closed

[2020-01-07 06:20] leyao-daily opened #2965 "How can I assign a QAT vf to a Kubevirt vm?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature Request

**What happened**:
I want assign a QAT vf to Kubevirt vm
**What you expected to happen**:
I can see this pci device when i log into the kubevirt vm
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (us

[2020-01-07 06:56] leyao-daily commented on #2965
Is kubevirt support other types of device plugin?
I have qat device plugin and it advertise resource name : qat.intel.com/generic
I add it to spec.containers.resource.requests/limits with value 1
and nothing happened.

[2020-01-07 07:32] #2581 closed

[2020-01-07 07:44] leyao-daily commented on #2965
It only assign the vf to the pod but not to the vm managed by libvirt in this pod.
Is there any necessary configuration to enable qat assigned to vm?

[2020-01-07 17:34] ericchiang opened #2967 "virt-handler daemonset can GET Secrets in all namespaces making it cluster root"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind enhancement

**What happened**:

The kubevirt operator deploys a handful of manifests to the cluster. Many of the created RBAC rules are powerful, but ideally you could isolate the dangerous ones to dedicated nodes. Unfortunately, the virt-handler DaemonSet's ClusterRole lets it GET Secrets in all namespaces, so it can dump any other ServiceAccou

[2020-01-08 07:25] rmohr commented on #2967
The only reason as far as I know is  the cloud-init feature. In contrast to our normal `secret` volume support it does not mount the secret on the pod and then create the no-cloud source from it. Instead we directly GET the secret.

We can change that to also just mount the secret and restrict the GET to the specific secret which holds a virt-handler certificate.

Will try to do a PR this week.

T

[2020-01-08 16:01] ericchiang commented on #2967
Great to hear! So virt-api would just render a pod with the secrets mounted and virt-launcher would read them from disk and pass them to the VM?

[2020-01-08 16:02] rmohr commented on #2967
Exactly.

[2020-01-08 18:27] rmohr commented on #2947
@awels @mhenriks maybe you have some ideas? I find it in general more and more appealing to also support qcow2. We have the security checks already in place for other volume types which support qcow2.

[2020-01-08 18:39] rmohr commented on #2965
@phoracek @qinqon maybe you can help out here?

[2020-01-08 18:51] awels commented on #2947
AFAIK the main reason we picked just raw is simplicity. Using one raw disk per PVC allows us to use k8s build in storage mechanisms like snapshotting instead of having to invent our own.

There is no reason you cannot have a sparse raw disk, so I am a little confused about the benefits of qcow2 with regards to disk space. We currently default to non sparse disks because most storage providers will

[2020-01-09 17:02] phoracek commented on #2965
@leyao-daily I'm not at all familiar with QAT, but I'm affraid there is no way to get it into KubeVirt VMs at the current state.

@rmohr we don't have any support for device passthrough, do we? Are there any plans to do so? I can't say I have a good idea how to do a generic support for DPs. It would probably need similar API to network? Request a DP and then specify how to mount it into the VM.

F

[2020-01-10 06:06] leyao-daily commented on #2965
Thanks. If i want kubevirt support qat, I can change the source code and rebuild it? I think it is familliar with the sriov and gpu support. So is there any guide to build from source code? Just run make & make push ?

[2020-01-10 06:18] rmohr commented on #2965
Almost. You will only also have to point the build system to your container registry. See https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md#i-just-want-it-built-and-run-it-on-my-cluster.

[2020-01-12 16:41] candlerb opened #2978 "Quickstart instructions confused by -rc version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Following instructions at https://kubevirt.io/quickstart_minikube/

[code]

**What you expected to happen**:

kubevirt to be downloaded

**How to reproduce it (as minimally and precisely as possible)**:

See above

**Anything else we need to know?**:

Right now, github has versions v0.24.0, v0.25.0-rc.0, v0.23.2

I can g

[2020-01-12 17:00] candlerb opened #2979 "0/2 nodes are available: 2 Insufficient devices.kubevirt.io/kvm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
(or user error)

**What happened**:

Installed kubevirt operator and cr v0.24.0, then tried to create a vm (using the [lab1](https://kubevirt.io/labs/kubernetes/lab1.html) vm.yaml)

However the vm is never scheduled:

[code]

**What you expected to happen**:

VM to start

**How to reproduce it (as minimally and precisely as possible)**:

See

[2020-01-12 17:13] candlerb commented on #2979
A few extra details to add.  The physical hardware *does* support kvm:

[code]

The `tun` device is built-in to the kernel:

[code]

Does look a bit weird though:

[code]

This physical node does have lxd running, and libvirt is present but not being used.

[code]

[2020-01-12 17:16] candlerb commented on #2979
[code]

[2020-01-14 10:10] rmohr opened #2984 "Refactor Migrations code"
**Is this a BUG REPORT or FEATURE REQUEST?**:

The migration handover process is very complicated. In combination with the very generic tcp proxies it is extremely hard to follow and to change. We should refactor the code and make it more speaking for itself (e.g. tcp proxie naming, their purpose, encapsulating the handover better, ...).

/kind enhancement

**What happened**:

**What you expected

[2020-01-14 10:43] dhiller commented on #2898
Transitive dependency not present in our vendor folder.

/close

[2020-01-14 10:43] #2898 closed

[2020-01-14 10:44] dhiller commented on #2901
Transitive dependency not present in our vendor folder.

/close

[2020-01-14 10:44] #2901 closed

[2020-01-14 10:44] dhiller commented on #2900
Transitive dependency not present in our vendor folder.

/close

[2020-01-14 10:44] #2900 closed

[2020-01-14 10:44] dhiller commented on #2899
Transitive dependency not present in our vendor folder.

/close

[2020-01-14 10:44] #2899 closed

[2020-01-14 10:44] dhiller commented on #2897
Transitive dependency not present in our vendor folder.

/close

[2020-01-14 10:44] #2897 closed

[2020-01-14 14:14] dhiller commented on #2680
/remove-lifecycle rotten

[2020-01-14 14:14] dhiller commented on #2680
FIxed with kubevirt/kubevirt#2698

[2020-01-14 14:14] rmohr commented on #2979
@candlerb looks like our node-daemon `virt-handler` which also does the /dev/kvm discovery is not scheduled. Could you do

1) `kubectl get kubevirt -n kubevirt kubevirt -o yaml`? Yes that looks weird, but it should show the deployment state of kubevirt
2) `kubectl get daemonsets -n kubevirt`? If you see a `virt-handler` daemonset, can you do `kubectl describe` on it? My guess is that for whatever

[2020-01-14 14:14] dhiller commented on #2680
/close

[2020-01-14 14:15] #2680 closed

[2020-01-14 14:15] rmohr commented on #2978
@candlerb thanks for reporting. That should definitely be improved. :+1:

[2020-01-14 14:15] rmohr commented on #2978
/assing @codificat

[2020-01-14 14:28] rmohr opened #2985 "Our build environement still contains python 2.7 traces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

Reported by @oshoval .
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider o

[2020-01-14 14:30] oshoval commented on #2985
hack/kubevirt-builder/Dockerfile:RUN pip install j2cli && pip3 install operator-courier==1.3.0

[code]

[2020-01-14 15:10] fabiand commented on #2967
@danielBelenky I wonder if this would be interesting for you. Changing the current cloud init implementation to mount the secret instead of creating a disk from it ...

[2020-01-14 16:56] oshoval opened #2986 "Some OCP-4.3 test fails"
/kind bug

**What happened**:
Running ocp-4.3 lane, 11 tests failed
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2950/pull-kubevirt-e2e-ocp-4.3/1217032227049705472

**What you expected to happen**:
All test should pass

**How to reproduce it (as minimally and precisely as possible)**:
Run /test pull-kubevirt-e2e-ocp-4.3 on empty PR (once #2950) is merged

**Any

[2020-01-14 16:56] oshoval commented on #2986
/cc @rmohr
fyi, thanks

[2020-01-15 09:01] candlerb commented on #1491
I did a quick test [install](https://kubevirt.io/quickstart_minikube/) of kubevirt 0.24 under microk8s (1.17)

I then tried to uninstall using what I thought was the "obvious" reverse installation procedure:

[code]

However it gets stuck at removing the namespace:

[code]

You can see I came back to it after a couple of days :-)

After some digging ([1](https://github.com/kubernetes/kubernetes/is

[2020-01-15 09:23] candlerb commented on #2979
Thank you.  (Side issue - had problem uninstalling and installing kubevirt - https://github.com/kubevirt/kubevirt/issues/1491#issuecomment-574561791)

In the process of debugging that, I found [this helpful script](https://github.com/kubernetes/kubectl/issues/151#issuecomment-402003022) to *really* list all resources:

[code]

Using that, I was able to find this:

[code]

This also shows in the de

[2020-01-15 09:47] candlerb commented on #2979
Solution was to edit `/var/snap/microk8s/current/args/kube-apiserver`, add flag `--allow-privileged=true`, then `systemctl restart snap.microk8s.daemon-apiserver.service`

The daemonsets are now running, yay :-)

[code]

[2020-01-15 10:36] candlerb commented on #1491
FYI, originally my cluster hadn't fully initialized (#2979).  But after fixing this so that kubevirt was fully working, I still wasn't able to uninstall kubevirt cleanly:

[code]

In another window:

[code]

I'll leave the cluster like this for now, in case you have some other things you'd like me to test.

[2020-01-15 11:09] fabiand commented on #2967
@ericchiang thanks for reporting this, as @rmohr noted it's a bug and we try to get it fixed soon.

[2020-01-15 11:48] dhiller commented on #1491
I just noticed that you're using a k8s 1.17 cluster, right? IDK if it's related (TLDR ;-) ) but please be aware that it's not working on 1.17 (yet) , i.e. console connection is broken.

See kubevirt/kubevirt#2946 for test results on k8s-1.17.

[2020-01-15 12:49] candlerb commented on #1491
Thanks.  A simple "virtctl console <VM>" worked for me with the sample cirros image.

I am not looking to put this into production yet, more just getting to understand the possibilities.

[2020-01-15 15:29] ericchiang commented on #2967
Thanks and no worries on timeline. If you can point me to the right places in the code, I'm happy to try to send a PR too.

[2020-01-15 15:38] fabiand commented on #1491
It can actually be that the uninstall using urls does not work,
because they manifests contain "to much" (I cna elaborate if needed).

Could you instead please try the following:

  kubectl delete -n kubevirt kubevirt kubevirt
  kubectl delete namespace kubevirt

[2020-01-15 15:57] rmohr commented on #1491
[code]

This looks suspicious. Note that there is a kubectl error where it says on the first `get` that the CRD does not exist. I am pretty sure that at this state the CR still existed. If you would have done another `get` it would very likely have shown you the KubeVirt CR.

[code]

This then breaks the uninstall procedure. As you can see it says:

[code]

this too:

[code]

Even if you would not

[2020-01-15 16:06] fabiand commented on #1491
Great analysis Roman.

And I've added an uninstall test to the demo repository to track the
uninstall in future:
kubevirt/demo#131

The run there also shows that the intended install flow has na issue
(probably the apiserver registration removal)

[2020-01-15 16:25] candlerb commented on #1491
Let me try again:

[code]

Note that this time, I didn't get the empty response from `kubectl get all -n kubevirt` after removing the CR.

Continuing:

[code]

In another window:

[code]

[2020-01-15 16:28] fabiand commented on #1491
And I suppose the last line of your snippet appears because the webhook
registraion is still there, but the api pod is gone (thus webhook pointing
into the void).

Check the webhook registrations in the other window.

[2020-01-15 16:31] candlerb commented on #1491
@fabiand:

Should I do `kubectl delete -f kubevirt-cr.yaml` followed by the above commands, or are the above commands done by themselves?

[2020-01-15 16:33] candlerb commented on #1491
[code]

[2020-01-15 16:35] fabiand commented on #1491
Thanks.

In my understanding we'd at best (as a workaround)

- delete the CR: kubectl delete -n kubevirt kubevirt kubevirt
- delete the two webhooks
- delete the namespace: kubectl delete namespace kubevirt

In future, as Roman noted, we can leverage finalizers to erase the webhooks.

[2020-01-15 16:41] rmohr commented on #1491
So this gest confusing now. Let me clarify:

You can do

[code]

or

[code]

Then wait until

[code]

returns `No resources found.`.

Then only `virt-operator` should be left in the `kubevirt` namespace.
In theory you can now delete the namespace.

[2020-01-15 16:42] rmohr commented on #1491
@fabiand Webhooks and APIServices are not namespaced (so should not block a namespace delete) and we also don't have a finalizer on them (so nothing should block their deletion, even if they were in the namespace).

[2020-01-15 16:53] fabiand commented on #1491
Good point.
As noted on the other thread:
Now I suppose that we should delete webhook and apiserver registration
before deleting the cr, to avoid that both of them outlive the api
server, as this would lead to both of them to fail to operate. And
especially the webhook to me is the reason for the hanging deletion.

Thus
- delete registrations (webhook+apiserver)
- delete cr
- delete ns

[2020-01-15 16:53] rmohr commented on #1491
Ok, just checked the `kube-controller` logs. Indeed the left-over APIService is the cause:

[code]

@candlerb that is probably what you meant.

Running

[code]

works. Seems like all apiservices need to be online and available, or deleting namespaces is blocked. Independent if resources are present or not.

[2020-01-15 16:53] rmohr commented on #1491
That is wrong. It is the APIService, see above.

[2020-01-15 16:54] fabiand commented on #1491
Testing this in this new commit at https://github.com/kubevirt/demo/pull/131

[2020-01-15 17:02] rmohr commented on #1491
Here the right uninstall procedure until we have a fix:

[code]

Sorry for the inconvenience.

[2020-01-15 17:20] rmohr commented on #2979
Is the whole setup now working or do you experience other issues too?

[2020-01-15 17:40] candlerb commented on #2979
I did a basic test with the cirros vm and connected to its console successfully.  Have not push it any further.

I only left the ticket open in case you want to add a note about `kube-apiserver --allow-privileged=true` to the docs somewhere.

[2020-01-15 17:45] candlerb commented on #1491
I confirm this uninstall procedure works, thank you!

[code]

[2020-01-15 18:27] fabiand commented on #1491
I'm reopening this bug because the apiserver removal still needs to be done manually.

/reopen

[2020-01-15 18:34] rmohr commented on #1491
👍

[2020-01-16 16:13] #2560 closed

[2020-01-17 11:44] rmohr opened #2998 "Let's not hardcode `cluster.local` on cert generation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We create ceritifcates for our components which end hardcoded in `cluster.local`. This is a value which can be configured in k8s clusters. If people configure it differently, installking kubevirt will fail.

**What you expected to happen**:

We should instead somehow find out the right suffix (maybe through resolf.conf i

[2020-01-17 17:37] #2303 closed

[2020-01-17 20:07] fabiand commented on #2967
Maybe @danielBelenky has already started working on it - did you?
if not then patches are welcome - and/or reviews!

[2020-01-19 08:18] danielBelenky commented on #2967
I'm starting to work on it today.

[2020-01-20 15:42] rmohr commented on #2953
Another issue still is that the qemu logs are only written to a file. I think we should configure virtlogd to log to stderr and write it to our logs.

[2020-01-21 08:38] sysopenci opened #3008 "I'm not able to start VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I'm not able to start VM on K8s
**What you expected to happen**:
I'm able to start VM on K8s
**How to reproduce it (as minimally and precisely as possible)**:

install kubevirt on K8s and start VM on K8s
1. install kubevirt
$ export RELEASE=v0.24.0
# creates KubeVirt operator
$ kubectl apply -f https://github.com/kubevirt/kubevirt/r

[2020-01-21 10:02] salkin opened #3009 "Kubevirt overrides VMI annotation when using VirtualMachine template"
**What happened**:
When deploying a VM using the VirtualMachine template having ignitionData specified on the VMI section the annotation data is overriden by KubeVirt causing ignition data to not be provisioned on the VM.

**What you expected to happen**:
KubeVirt should apply ignitionData in the VMI.

**How to reproduce it (as minimally and precisely as possible)**:
Applying following VM type:
[c

[2020-01-21 11:15] petrkotas commented on #3009
Hi @salkin thanks for the report. I do believe I know the cause. Just to be sure. Can you describe how it behaved previously? Have the annotations been carried? Thank you.

[2020-01-21 11:20] salkin commented on #3009
@petrkotas yes in previous versions those annotations have been carried on. The difference I see with new kubevirt is that there are now added these annotations:

[code]
These are not existing in older kubevirt versions where the ignition annotation is properly carried to the VirtualMachineInstance

[2020-01-22 09:07] #2979 closed

[2020-01-22 09:09] rmohr commented on #2979
Good point. Done. Thanks again.

[2020-01-22 09:10] rmohr commented on #1491
The uninstall procedure is now documented. Hope to have the code fix which makes this obsolete merged soon.

[2020-01-22 09:11] candlerb commented on #2979
Good fix - thank you!

[2020-01-22 09:16] petrkotas commented on #3008
Hi @sysopenci judging by the logs, your cluster is in weird state. It might be that some components are not deployed correctly.

Can you please post you cluster state?
[code]

[2020-01-22 15:12] fabiand commented on #2378
Was this actually resolved? I think it was. Would still be good to get
this confirmed.

/remove-lifecycle rotten.

[2020-01-22 15:55] DrissiReda opened #3017 "Insufficient devices.kubevirt.io/kvm devices.kubevirt.io/tun devices.kubevirt.io/vhost-net"
I've tried deploying any vm using kubevirt on my k3s cluster and I get these errors after starting the vm with `virtctl` .

I already had k3s installed. So I only installed kubevirt and qemu/kvm/libvirtd.
libvirtd is enabled and started.

<details>
<summary>
virt-handler logs
</summary>

[code]
</details>

<details>
<summary>
testvm.yaml
</summary>

[code]
</details>

<details>
<summary>
virt-host

[2020-01-22 21:50] slintes commented on #2036
/remove-lifecycle rotten

[2020-01-22 22:34] slintes opened #3020 "patch releases of older versions are marked as latest release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I just noticed that a patch release of an older version (e.g. v0.23.3 right now) is marked as latest release on the github release page, and `https://github.com/kubevirt/kubevirt/releases/latest` redirects to it.

**What you expected to happen**:
The latest patch release of the newest version should be marked as latest (e

[2020-01-23 12:01] xprxprx commented on #2741
/remove-lifecycle stal

[2020-01-23 12:01] xprxprx commented on #2741
/remove-lifecycle rotten

[2020-01-23 16:12] maya-r opened #3028 "No commits to master on kubevirt/client-go since Aug 15"

[2020-01-24 12:50] zakkg3 commented on #2925
Same case here, works on normal pods. but not in the VM
master of the macvlan iface
I did a tcpdump on the iface master of the macvlan iface and then ping vlan outside, i can see the packet going out and then the reply... but this reply is not fw to the vm... then i found this:
https://superuser.com/questions/1205346/macvtap-interface-created-on-top-of-macvlan-interface-of-a-docker-container-cann

[2020-01-26 15:53] #2985 closed

[2020-01-27 08:51] alosadagrande commented on #2978
@rmohr, latest tag version now points to v0.23.3. Is this expected? I understand latest should point to latest version non rc, e.g. v0.25.0.

[2020-01-27 09:29] rmohr commented on #2978
The issue is that latest from the github api always points to the last done release and not to the latest version. Working on something similar to k8s where we have the  newest version discoverable through a file on gcs. Hope to have it ready soon. 😕

[2020-01-27 18:24] #2761 closed

[2020-01-28 09:41] plwhite opened #3029 "OOMKiller shutting down kubevirt-infra sidecar causing VM shutdown"
**BUG REPORT**:

/kind bug

**What happened**:

Running on Azure, sequence of events was the following.

- kubevirt-infra container died with OOMKiller
- VM running in hypervisor did clean shutdown
- VMI vanished

**What you expected to happen**:

Neither of the first two.

- The OOMKiller is likely because the pod spec for the kubevirt-infra container has slightly too low a limit on memory. Azure

[2020-01-28 11:17] plwhite commented on #3029
I've confirmed that the bug happens in exactly the same way on KubeVirt 0.25. I forgot to mention kubernetes version in the original report - `v1.14.8`.

[2020-01-28 12:27] plwhite opened #3030 "Would like to configure sidecars and initContainers for VMIs"
**FEATURE REQUEST**:

/kind enhancement

**Motivation**:

There are use cases where I would like to run a VMI with a sidecar container or init container. For example, that container might:

- collect SNMP metrics from the VM and export over Prometheus API;
- retrieve and parse configuration that is then placed on a volume to be mounted into the VM;
- provide service mesh support or similar traffic

[2020-01-28 13:49] DrissiReda commented on #2931
I have the same problem, but even with UEFI mode, it doesn't work. qcow2 and raw images that work perfectly with qemu, do not work with kubevirt.

[2020-01-28 13:52] rmohr commented on #2931
Can you share your vm yaml?

[2020-01-28 13:55] DrissiReda commented on #2931
This is how I create the pvc nanodisk using CDI and virtctl
[code]

My vmi-windows.yaml:

[code]

[2020-01-28 14:53] slintes commented on #3029
sounds familiar, Azure bite use earlier with OOMs: https://github.com/kubevirt/kubevirt/issues/2603

[2020-01-28 15:06] plwhite commented on #3029
Yes, indeed, and I expect there will be a similar fix. I'm in the process of testing to see if manually pushing up memory in the sidecar just makes the issue go away - will have provisional results for that later today.

[2020-01-28 16:26] DrissiReda opened #3031 "Unable to boot my qemu-made windows qcow2 disk image"
I have tried using kubevirt for windows. So I used the ISO and license key to create my disk image in qemu in UEFI. The disk image works correctly in qemu, even if I create a new VM and use the disk for it.

/kind bug

In order to use the `qcow2` disk in kubevirt I used `virtctl` with this command

[code]

I used this yaml file for the vmi

[code]

Different logs

<details>
<summary> logs virt-lau

[2020-01-28 17:01] plwhite commented on #3029
Running with an increased limit of 40Mi in the sidecar causes the issue to go away. I can't absolutely guarantee that I haven't just turned it from an issue that happens randomly about every hour or two to an issue that happens every few days - but it seems highly likely that this is the right fix.

[code]

[2020-01-28 17:07] danielBelenky commented on #2967
Hey,
https://github.com/kubevirt/kubevirt/pull/3001 moves the responsibility to read the secret
from virt-handler to virt-launcher. virt-controller renders the launcher pod with corresponding
volume mount.
In the same PR I also revoked the permission to GET secrets from virt-handler .

[2020-01-28 23:32] azaiter commented on #2942
Make sure that the container has ip forwarding enabled.... check calico settings or manually change host container settings.

[2020-01-29 11:14] #2633 closed

[2020-01-29 13:05] fabiand commented on #3029
@plwhite do you mind opening a PR?

I think it's safe to increase this limit. On th elong run I'd hop ethat we can monitor the memory consumption and identify the real limit ..

[2020-01-29 13:53] plwhite commented on #3029
https://github.com/kubevirt/kubevirt/pull/3033

[2020-01-29 15:29] anandgbhat opened #3035 "sriov network plugin does not work with kubevirt 0.24.0"
/kind bug

**What happened**:

VM launch with kubevirt version 0.24.0 fails with the following error:

{"component":"virt-launcher","kind":"","level":"error","msg":"Failed to sync vmi","name":"vmi-sriov","namespace":"default","pos":"server.go:161","reason":"virError(Code=67, Domain=10, Message='unsupported configuration: host doesn't support passthrough of host PCI devices')","timestamp":"2019-12-

[2020-01-31 11:01] #2658 closed

[2020-01-31 12:09] fabiand commented on #3031
Can you try to enable EFI: https://github.com/kubevirt/user-guide/blob/master/creating-virtual-machines/virtualized-hardware-configuration.adoc#biosuefi

[2020-01-31 14:05] #2660 closed

[2020-01-31 15:42] azaiter opened #3041 "Support changing scheduler name + allowing live migrations on PVCs with multiple node replicas."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Can't set `schedulerName` for any `virt-launcher` pods from either VM or VMI resource types. Adding the option to do so will allow the usage of some storage-aware schedulers such as stork to only schedule to nodes that has the block replicas of the PVCs, and that gives kubevirt node failover advantage when using p

[2020-02-02 12:50] #2672 closed

[2020-02-03 13:56] DrissiReda commented on #3031
The yaml I provided uses EFI. The disk image was also generated using qemu in UEFI mode

[2020-02-03 14:12] fabiand commented on #3031
Oh you are right. My bad ..

But now I see that it looks like the image upload already fails.

@awels @aglitke can you help with the image upload error?

[2020-02-03 14:20] awels commented on #3031
What are you using for an ingress into your cluster? Or are you using a port-forward to get into the cluster. The uploadproxy url should point to the entry point into your cluster. We attempt to detect existing Ingress but the message says we cannot find it. This is why the upload failed.

[2020-02-03 14:22] DrissiReda commented on #3031
I'm not using an ingress, but port-forward. This might be _an_ issue but I'm not sure it is _the_ issue as this fails even with a `hostDisk`

[2020-02-03 14:24] awels commented on #3031
okay if you are port forwarding you need to provide the proxy url, lets say you have port-forwarded the uploadproxy service to port 9000 on your localhost, then pass
[code]
as well

[2020-02-03 14:55] DrissiReda commented on #3031
Thanks @awels this brings me one step further. Now it find a disk, and freezes on "Booting from Hard Disk"

[2020-02-03 14:57] awels commented on #3031
@fabiand back to you I think?

[2020-02-03 14:59] DrissiReda commented on #3031
It's been a while since I created this image, I'll just create a new one and check with it

[2020-02-03 19:13] garretholland opened #3042 "testVM stuck in "Scheduling" Phase"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Following your guide here: https://kubevirt.io/labs/kubernetes/lab1 when I get to the point where I want to console into a VM I can't because the VM is perpetually in "Scheduling" phase

**What you expected to happen**:
I'd expect to be able to console into the VM and the VM to be scheduled onto a node.

**How to reproduce

[2020-02-03 19:13] garretholland opened #3043 "testVM stuck in "Scheduling" Phase #3042"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2020-02-03 19:20] #3043 closed

[2020-02-03 19:20] garretholland commented on #3043
empty duplicate, sorry

[2020-02-03 21:28] #2967 closed

[2020-02-04 07:26] danielBelenky commented on #3042
Hi,

Could you please post here the output of
`kubectl describe vmi testvm` ?

[2020-02-04 12:31] danielBelenky commented on #3017
Hi @DrissiReda,

From the logs, it seems that we failed to register the device plugins and from https://github.com/kubevirt/kubevirt/issues/2676 I think that the reason is that the path in k3s differs from the path in k8s.

[2020-02-04 12:44] #3029 closed

[2020-02-04 13:04] DrissiReda commented on #3031
@fabiand I managed to get it working, now I'm using nanoserver. But no network interface appears (same yaml). Are there any drivers I need to install to have network? I'm planning to use a kubernetes service to reach the VM from the host. Any insight?

[2020-02-04 14:15] garretholland commented on #3042
` kubevirt kubectl describe vmi testvm
Name:         testvm
Namespace:    default
Labels:       kubevirt.io/domain=testvm
              kubevirt.io/size=small
Annotations:  kubevirt.io/latest-observed-api-version: v1alpha3
              kubevirt.io/storage-observed-api-version: v1alpha3
API Version:  kubevirt.io/v1alpha3
Kind:         VirtualMachineInstance
Metadata:
  Creation Timestamp:  2020-02

[2020-02-04 14:19] garretholland commented on #3042
[code]

[2020-02-04 14:22] danielBelenky commented on #3042
@garretholland thanks, it seems like you're missing the vhost-net device is not present on the node or we can't see it. Could you also provide logs from `virt-handler`?

[2020-02-04 14:31] garretholland commented on #3042
[code]
@danielBelenky Thank you for your help.

Am I using the correct command?

[2020-02-04 14:34] zakkg3 commented on #1491
I am having the same problem, installed cdi and deleting a random namespace now gets stuck.
my ns have finalizer: kuberenetes
found this tread with a workaround like @candlerb did: https://github.com/kubernetes/kubernetes/issues/60807

[2020-02-04 14:52] danielBelenky commented on #3042
`kubectl -n kubevirt logs virt-handler-zcrp7`

[2020-02-04 14:54] garretholland commented on #3042
Thanks!

[code]

[2020-02-04 15:14] candlerb commented on #1491
The working sequence to uninstall kubevirt is now documented here:
https://kubevirt.io/user-guide/docs/latest/administration/intro.html#delete

[2020-02-04 20:36] fabiand commented on #3031
nanoserver .. .isn't this a container image?

For windows you need to install the virtio windows drivers, or select e1000
or e1000e  as drivers.

[2020-02-04 20:41] danielBelenky commented on #3042
@garretholland any chance that you are using `minikube<v0.35.0` ? if so, it lacks the support of vhost-net. A quick workaround, if your goal is to start a VM for playing around is to use emulation. See `Check for the Virtualization Extensions` section of our quickstart doc (https://kubevirt.io/quickstart_minikube/) for more info.

[2020-02-05 09:37] slintes commented on #2530
/remove-lifecycle stale

[2020-02-05 10:09] rmohr commented on #2530
/lifecycle frozen

[2020-02-05 10:21] rmohr commented on #2108
/remove-lifecycle stale

[2020-02-05 10:21] rmohr commented on #2108
/lifecycle frozen

[2020-02-05 10:52] abhiniveshjain opened #3047 "Unable to launch a windows VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I have downloaded windows 2012 based image (.qcow2 format) from https://cloudbase.it/ and then ran below commands on master node to add it to openshift default registry.

oc login -u kubeadmin -p xx-xxxx-xxx

podman login -u kubeadmin -p $(oc whoami -t) image-registry.openshift-image-registry.svc:5000

podman build -t vm

[2020-02-05 11:48] rmohr commented on #3028
@maya-r we directly push the code and tag it on releases via travis. We could however push them regularly whenever we merge code into master.

[2020-02-05 11:52] rmohr commented on #3047
@abhiniveshjain in general most things look ok. I think the only issue is that you are placing the disks in `/tmp`:

[They need to be added to](https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#containerdisk) `/disk` to auto-detect it.

An alternative would be to explicitly give the path to the disk in the spec: `path: whatever`.

[2020-02-05 11:55] rmohr commented on #3041
Allowing to set the scheduler name should not be an issue. We can just add the scheduler field to our VMI spec and pass it through, to the pod.

Allowing live migrations with replicas sounds nice. Is it somehow visible on the PVC that it has node replicas? Could you point us to some documentation?

[2020-02-05 11:59] rmohr commented on #3035
@anandgbhat that is interesting. We have e2e tests with sriov cards, so at least the sriov device plugins work for intel and melanox. I can see that there exist different sriov cni plugins. Which one are you using?

@phoracek maybe you can have a look?

[2020-02-05 12:11] phoracek commented on #3035
@anandgbhat I double Roman. Could you please describe how did you install SR-IOV plugin? Our CI is not running with the latest one, so there may have been an issue introduced.

[2020-02-05 12:15] rmohr commented on #3035
@anandgbhat could you also share the logs from the virt-launcher container? There are also some bogus errors, where libvirt simply logs that specific features are not present, but which don't have an impact on kubevirt.

[2020-02-05 13:07] azaiter commented on #3041
Great.

As for your replicas question, setting up the replicas would be done in the [storage class that the PVC is created from (`parameters.repl`)](https://kubernetes.io/docs/concepts/storage/storage-classes/#portworx-volume). The PVC has a `spec.storageClassName` key that points to the storage class that has the replicas count.

[2020-02-05 13:22] abhiniveshjain commented on #3047
Thanks. PODs came up fine after this but VMI is showing in failed state.

[root@master-0 tmp]# oc get vmis
NAME          AGE   PHASE    IP            NODENAME
vmi-windows   45m   Failed   10.x.x.x   worker-0

Following is the error that I am seeing here. Is it /disk that I need to add in DockerFile or /disk/
does one missing "/" at the end causing this?

  Phase:             Failed
  Qos Class:

[2020-02-05 13:29] rmohr commented on #3047
Ha yes. It has to go into the `/disk` folder. So very likely a missing `/`.

[2020-02-05 13:35] dhiller opened #3048 "Cleanup regarding openshift-ci merge"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
The PR #3037 has been merged due to importance without required cleanup performed. Now cleanup needs to be done.

**What you expected to happen**:

Required cleanup that needs to be performed:

## Cleanup Dockerfile.ci

The content of `hack/ci/Dockerfile.ci` is largely the same as `hack/builder/Dockerfile`. Instea

[2020-02-05 13:50] abhiniveshjain commented on #3047
I have changed it and performed whole exercise again, still getting same error. Please see the logs.
My windows image is in .gz format, hope this is ok?

[root@master-0 win]# cat Dockerfile
FROM scratch
ADD  win2k12r2new.qcow2.gz /disk/

[VMI failure log.txt](https://github.com/kubevirt/kubevirt/files/4159804/VMI.failure.log.txt)

[2020-02-05 14:21] rmohr commented on #3047
We only support `qcow2` and `raw`.

[2020-02-05 14:23] rmohr commented on #3047
Also the error said that it still sees a `/disk` directory. You use the image pull policy `IfNotPresent`. So your node may not pull the latest image.

So two things: 1) ensure that you have the image uncompressed, 2) ensure that the image gets pulled (e.g. using Always as pull policy).

[2020-02-05 15:12] garretholland commented on #3042
@danielBelenky Thank you. I switched to VirtualBox and am having the same issue. Can you recommend a way I can test this locally on my mac? Is KVM necessary to use as the HV?

[2020-02-05 15:23] danielBelenky commented on #3042
@garretholland unfortunately I suspect that to support `vhost-net` we need kvm. You can use emulation though... it doesn't require the `vhost-net` device.

[2020-02-05 15:37] DrissiReda commented on #3031
Thanks, that worked. And no it's not a container image. I used nano server image builder to build an iso, then created a qemu vm to install that iso on a qcow2 disk which I then uploaded as a pvc using virtctl's image-upload which uses cdi.

One last question. Now that everything is functional I need to run a webserver inside the vm and access it from outside. What I did is this:

Create a service

[2020-02-05 15:42] awels commented on #3031
The same way you accessed the upload proxy service. I believe you used a port-forward in that instance. The upload proxy service would be no different than the service you are trying to connect to. For a real cluster you would use an Ingress to get from outside of the cluster to inside the cluster.

[2020-02-05 15:48] garretholland commented on #3042
Thank you, I think we can consider this issue closed. Thanks for the assist!

[2020-02-05 15:55] danielBelenky commented on #3042
Thank you.

[2020-02-05 15:55] #3042 closed

[2020-02-05 16:37] abhiniveshjain commented on #3047
Looks like something is wrong with the image that I am using. Do you have any idea on below error? This started coming after I extracted .gz file and used that.

  Warning  Failed     63s (x2 over 3m50s)            kubelet, worker-0  Failed to pull image "image-registry.openshift-image-registry.svc:5000/default/win2k2012image:latest": rpc error: code = Unknown desc = Error committing the finished

[2020-02-05 17:01] plwhite commented on #3030
It turns out that you can run sidecars, using the hookSidecar capability. I'm now investigating whether that gives me what I need, but it might be this was opened prematurely.

[2020-02-06 10:06] iranzo commented on #3047
Have you checked https://kubevirt.io/2019/How-To-Import-VM-into-Kubevirt.html ?

[2020-02-06 10:24] abhiniveshjain commented on #3047
Instead of CDI, I am using Container Registry Disks (https://github.com/kubevirt/kubevirt/blob/master/docs/container-register-disks.md ) method. Is there any issue with this method?

[2020-02-06 10:46] rmohr commented on #3047
There is nothing wrong with it. The only difference is that in the containerDisk case, you can't write permanently to the image. In the case of CDI you can, since the data is stored in a PVC.

This reminds me of a docker bug where it had issues with layers which were bigger than I think 5 GB. Updating docker normally helps.

[2020-02-06 10:52] abhiniveshjain commented on #3047
Thanks. so Ideally it should work with container disk case also. In place of docker, I am using Podman and it is of below version.

podman version
Version:            1.4.2-stable3
RemoteAPI Version:  1
Go Version:         go1.12.12
OS/Arch:            linux/amd64

[2020-02-06 11:17] #1491 closed

[2020-02-06 12:15] gesslein commented on #2676
I just want to mention that as a simple workaround you can create a symlink to use the unmodified kubevirt-operator.yaml

' ln -s /var/lib/rancher/k3s/agent/kubelet/device-plugins/ /var/lib/kubelet/device-plugins'

I also created a bug on the k3s side rancher/k3s#1390 because this should not require any modifications on the node to work, but neither in the operator using device plugins, and the cu

[2020-02-06 13:49] abhiniveshjain commented on #3047
Do you suggest to use CDI since in practical purposes, we would be required to change the image? e.g. If I install an application on top of the OS then effectively I am changing the image and these changes need to persist after POD/node reboot. Is this correct understanding?

[2020-02-07 12:21] #2677 closed

[2020-02-07 15:47] anandgbhat commented on #3035
We used Intel SRIO-V plugin with SRIO-V device plugin to manage VFs.

https://github.com/intel?utf8=%E2%9C%93&q=sriov&type=&language=

[2020-02-07 23:32] #2686 closed

[2020-02-08 12:21] plwhite opened #3057 "Support passing Multus network information to VM on creation"
**FEATURE REQUEST**:

/kind enhancement

**What happened**:

Creation of a VM with multiple networks and static IP configuration is difficult (i.e. images that do not have DHCP). This use case is really running old VMs images that assume static configuration and yet must run in a DHCP only environment. The flow is as follows.

- VMI is defined and pod scheduled.

- NPWG compliant CNI plugin (e.g.

[2020-02-09 08:55] jchraibi commented on #2931
hi, any update on this topic? I have the same issue, iso and qcow2 saying not bootable, even in EFI mode. Thanks

[2020-02-10 14:04] petrkotas opened #3059 "Invalid OpenAPI 2 specification"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When introduced a minimal change to the API(#3060) these tests started to fail:

* [test_id:836] Creating a VM with DataVolumeTemplates should succeed
* [test_id:837]deleting VM with cascade=true should automatically delete DataVolumes and VMI owned by VM
* [test_id:838]deleting VM with cascade=false should orphan DataVol

[2020-02-10 21:00] phoracek commented on #3035
I will bump the version of the SR-IOV operator we use on our CI to see if it reproduces https://github.com/kubevirt/kubevirtci/pull/277.

@anandgbhat could you share what is the vendor of the NIC you use? Also, it would be helpful if you shared the `NetworkAttachmentDefinition` you have for the SR-IOV connection.

I would advice you to try https://github.com/openshift/sriov-network-operator. It su

[2020-02-11 12:27] booxter commented on #3035
@anandgbhat I assume you deploy SR-IOV components (CNI, DP) manually, not via sriov-network-operator that Petr linked to. I would highly advise you to try the operator in your environment, it will automate both deploying components into cluster as well as configuring kernel (even rebooting the machine when needed to apply the new command line arguments). Regardless...

The original error message f

[2020-02-11 14:11] rmohr commented on #3059
@petrkotas we work around this issue for instance here: pkg/util/openapi/openapi.go

[2020-02-11 14:12] rmohr commented on #3059
here the more exact location: https://github.com/kubevirt/kubevirt/blob/master/pkg/util/openapi/openapi.go#L78.

[2020-02-11 14:14] rmohr commented on #3059
I don't understand the issue to be honest. We validate exactly the structs like defined in https://github.com/kubevirt/kubevirt/blob/master/pkg/util/openapi/openapi.go#L78 all the time in our webhooks.

[2020-02-11 15:23] slintes opened #3061 "Better error message for pausing a stopped VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
When trying to pause a stopped VM, the error message is `Error pausing VirtualMachineInstance test-vm: virtualmachineinstance.kubevirt.io "test-vm" not found`.

**What you expected to happen**:
Error message should suggest to check if the VM is running.

**How to reproduce it (as minimally and precisely as possibl

[2020-02-12 07:59] rmohr commented on #3059
@petrkotas could you clarify if this is just about the online editor or if you have an issue?

[2020-02-12 14:44] anandgbhat commented on #3035
@booxter Thanks for looking at this. We will try using sriov operator.

Between, we could circumvent the issue using some hacks. IOMMU was enabled using kernel command line and VT-D was also enabled. Issue was due to virt-launcher not being privileged container. Same setup worked well with version 0.17 which had virt-launcher container as a privileged container.

I understand that privileged conta

[2020-02-12 14:52] murilofv opened #3065 "Wrong architecture label on container image built for Power (ppc64le)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The container images built in Power are showing up with the wrong architecture (amd64) instead of ppc64le in dockerhub.

For example some of the images in: https://hub.docker.com/u/murilofv

They work properly on a Power platform without any issues despite the wrong label, but it is confusing for a user and would cause iss

[2020-02-12 15:38] murilofv opened #3066 "Privileged flag is currently set for Power arch (ppc64le)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
In order to workaround a issue with memory lock in the enablement of Power architecture in https://github.com/kubevirt/kubevirt/pull/2944 the privileged was enabled in `virt-launcher`. This issue is to investigate so.

Currently when we have privileged flag disabled the VMI won't start and it will fail with the fol

[2020-02-12 16:09] murilofv opened #3067 "Don't rely on GOARCH in tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

This is a follow up item from the PR https://github.com/kubevirt/kubevirt/pull/2944 to enable ppc64le in kubevirt and was requested by @rmohr in the following discussion: https://github.com/kubevirt/kubevirt/pull/2944#discussion_r377566566

In it he suggested that we don't depend on GOARCH inside the test and move it to an outer laye

[2020-02-13 03:47] leyao-daily opened #3068 "cannot console to vmi with hostdisk img"
**Is this a BUG REPORT or FEATURE REQUEST?**:
bug

**What happened**:
when create a vm with host disk img (ubuntu img), i cannot use '''virtctl console myvm", it will stop and show "Successfully connected to vmi-u console. The escape sequence is ^]" without further action.
I log into the pod, and use 'virsh console myvm', encounter
"
Connected to domain default_vmi
Escape character is ^]
error: in

[2020-02-13 05:11] leyao-daily commented on #2886
Hi, have you solved this problem?

[2020-02-13 08:17] DrissiReda commented on #3031
The problem was that the windows vm hanged due to a lack of ressources, after I requested more, it worked. Thank you both for your help.

[2020-02-13 08:17] #3031 closed

[2020-02-13 10:05] zakkg3 opened #3069 "When setting a deafult network with multus, need to specify the namespace."
/kind bug
this works:
[code]

this does not work (its looking for the network attach definition on the kube-system namespace...)

[code]

[2020-02-13 10:18] zakkg3 commented on #2942
be sure also that there is no iptables rules conflicting in your host, like the ones docker sets. try
[code]

[2020-02-13 13:08] xpivarc commented on #3061
I`m taking this...

[2020-02-13 13:09] petrkotas commented on #3061
/assign @xpivarc

[2020-02-13 13:56] timstoop opened #3070 "Allow setting of annotations on virt-launcher"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
When setting annotations in a VirtualMachine resource, using the `spec.template.metadata.annotations` key, some keys (notably ones with `kubernetes.io` in them) are filtered and not passed along to virt-launcher. This interferes with setting for instance the `cluster-autoscaler.kubernetes.io/safe-to-evict` annotat

[2020-02-13 14:20] booxter commented on #3035
@anandgbhat it did not break SR-IOV per se - we have it working with sriov-network-operator in gate CI. Every patch in gate is tested against the SR-IOV job. So whatever the issue you have is probably some form of configuration issue, either BIOS or kernel or incorrect versions of SR-IOV plugins. Now, I cannot guarantee there is no obscure bug in what you describe, but definitely SR-IOV works in c

[2020-02-13 14:29] booxter commented on #3035
Another question I have is: you said in the description:

Considering this, and considering that we don't support environments that don't have their VFs pre-registered with VFIO (in `sriov-network-operator` enabled environment, the operator takes care of picking the right kernel driver for each VF, in case of kubevirt it's `vfio-pci`), could you please check that your deployment / host configurati

[2020-02-13 14:53] booxter commented on #3035
Please also check that `/etc/pcidp/config.json` defines a resource pool of `vfio` type and not `netdevice`. The latter was once used in earlier versions of `kubevirt` but is no longer supported. Instead, VFs are pre-registered with VFIO, device plugin is configured for `vfio` which makes it allocate the corresponding `/dev/vfio/{DEVICE}` to the `virt-launcher` container, which should make it possi

[2020-02-13 20:51] #2652 closed

[2020-02-14 12:03] qinqon commented on #2942
@azaiter thanks we were facing the same issue

[2020-02-14 12:33] petrkotas opened #3072 "Unify letter capitalization for VM and VMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When returning the stats for VM and VMI, the LIVE-MIGRATABLE field does not have unified capitalization.

For VM it is true | false.
For VMI it is True | False.

The UX should be the same for both cases.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Start the vm-cirros.

Result:
[code]

**Any

[2020-02-14 12:34] phoracek commented on #2942
It seems like we need to explicitly enable ipv4 forwarding in the pod. Thank you all. Once https://github.com/kubevirt/kubevirt/pull/2837 is merged, we should enable the forwarding in Pod from virt-handler (privileged enough to do so).

[2020-02-14 12:37] petrkotas commented on #3072
/label "good first issue"

[2020-02-14 21:24] murilofv commented on #3065
I opened an issue in `rules_docker` (https://github.com/bazelbuild/rules_docker/issues/1421) to check with the community if a potential modification I've done would be acceptable, with the modification in it I was able to get the images properly labeled as ppc64le, so in case it gets accepted we would need to point to the new release that contains the fix, then we could move to the point of releas

[2020-02-17 07:06] anandgbhat commented on #3035
@booxter Thanks for the detailed explanation. Will try sriov-network-operator.

[2020-02-17 09:21] petrkotas commented on #3072
/assign @xpivarc

[2020-02-17 09:22] xpivarc commented on #3072
ping

[2020-02-17 09:24] petrkotas commented on #3072
/assign @xpivarc

[2020-02-17 15:21] oshoval opened #3078 "Suggestion - support make cluster-sync CI prow lanes"
/kind enhancement

We are vendoring cluster-up folder of kubevirtci, in order to run cluster-up and cluster-sync make targets.

cluster-up has prow lanes that test it as part of kubevirtci.
but when adding code to kubevirtci it might cause make cluster-sync to break on some lanes,
causing us to not able to bump-kubevirtci gracefully without breaking cluster-sync on some lanes which is mandatory fo

[2020-02-17 15:22] oshoval commented on #3078
/cc @phoracek

[2020-02-18 04:26] wavezhang opened #3081 "Add kubevirt_vmi_memory_total_bytes metric"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

**What you expected to happen**:
virt-handler expose `kubevirt_vmi_memory_total_bytes `metric
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or V

[2020-02-18 12:36] rmohr commented on #3078
Normally we build the cluster and always tested them against kubevirt/kubevirt before merging. Yes that should be more automated, but I don't know why people stopped testing their changes.

[2020-02-18 12:38] rmohr commented on #3078
That should not have happened and is really bad.

That one is still wip and did never work so far. That is why we never enabled reporting for it.

OCP lanes also don't run on kubevirt/kubevirt because even if you tested them properly during provisioning they stop working sooner or later and we didn't get past that.

[2020-02-18 16:31] dhiller commented on #3078
First of all: this should be a kubevirtci issue, not a kubevirt issue.

Regarding k8s-1.17 my understanding was that we agreed on collecting data from the k8s-1.17 lane in order to fix the provider?

That the sr-iov lane is broken is really bad, agreed. And this is blocking us, that's true. But now that the situation is like it is we either have the option of reverting the changes on SR-IOV provid

[2020-02-18 16:42] oshoval commented on #3078
ok thanks,
Roman if you want we can continue the conversion that was paused on the google chat, or to close this issue if you guys prefer

just thought about a simple (maybe even script that will be run manually)
that people will be able to test their new kubevirtci  code doesnt break cluster-sync on kubevirt
(for the status once we fix the syncs)

thanks

[2020-02-18 17:04] oshoval commented on #3078
@dhiller
"Regarding k8s-1.17 my understanding was that we agreed on collecting data from the k8s-1.17 lane in order to fix the provider?"

make cluster-sync works after bumping (not merged yet because it blocked on the effort that is ongoing with the sriov as you said), and i am not totally in the loop beside, sorry

[2020-02-18 19:05] booxter opened #3085 "Complete migration of network configuration from launcher into handler pod"
As of the time of writing, all network configuration (wiring) for VMI pod interfaces is handled inside podinterface.go entry points that are executed by virt-launcher. While it works, it's not ideal. Specifically, because of security implications where we have to leave some capabilities set on all launcher pods that are not completely safe to leave set for resources managed by users (launchers are

[2020-02-18 19:10] booxter commented on #3085
@davidvossel let me know if this is clear enough.

[2020-02-19 05:36] wavezhang opened #3086 "Specify monitorNamespace not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. install kubevirt v0.26.0
2. install prometheus operator
3. update kubevirt object using following yaml
[code]
servicemonitor not created
**What you expected to happen**:
servicemonitor created under monitoring namespace
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2020-02-19 08:30] oshoval opened #3087 "make generate leave running container leftovers"
/kind bug

**What happened**:
Running make generate leaves a running container when its done

$ docker ps
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS               NAMES
3291617f66e7        kubevirt/builder    "/entrypoint.sh hack…"   53 seconds ago      Up 53 seconds

**What you expected to happen**:
Its more tidy that it would ru

[2020-02-19 13:04] xpivarc commented on #3072
This is a think of kubectl. For CRD we can supply options for printing(but this does not help) but we use Running in VM as bool so there will be always lowercase. As of VMI the LIVE-MIGRATABLE field is PodCondition which is string allowing True/False/Unknown (https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-conditions) so allways uppercase. Without reworking API or other think

[2020-02-19 14:45] xpivarc commented on #3061
During this I find out that in https://kubevirt.io/api-reference/v0.26.0/definitions.html#_v1_virtualmachinerunstrategy is confusing runstrategy which acts like its object but is only string alias. I would suggest to inline this and add k8s like enum of allowed values in this field (see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#deploymentstrategy-v1-apps).

[2020-02-19 16:25] HenriTEL opened #3089 "Add priorityClassName support to VirtualMachineInstanceSpec"
/kind enhancement
It would be great to have the ability to configure VMIs like:
[code]
So that the `virt-launcher` pod can be scheduled in priority.

[2020-02-20 11:56] #2588 closed

[2020-02-20 14:27] petrkotas commented on #3086
Hi @wavezhang can you please provide more information about your setup?

What cluster are you running? How did you install the Prometheus? How was Kubevirt installed?

Moreover please paste `kubectl/oc get pods --all-namespaces` choose whichever apply to you.

Thank you for reporting this issue!

[2020-02-20 18:53] murilofv commented on #3065
So the patch ( https://github.com/bazelbuild/rules_docker/commit/b7abf82341aeacb320b1b81804a046930fc4d421 ) was merged, the final solution was different than what I originally had in mind. So for Kubevirt it involves some additional changes in some `BUILD.bazel` files.

The patch should look something like this to address this issue:
[Set-proper-architecture-label-in-generated-container.txt](https

[2020-02-21 07:16] wavezhang commented on #3086
according to lines here,  only `imagePullPolicy` works

https://github.com/kubevirt/kubevirt/blob/2c1969d92afe62ee092a08f2b3ec3e5ad6d6fac5/pkg/virt-operator/util/config.go#L120-L123

[2020-02-21 08:57] petrkotas commented on #3086
Hi @wavezhang, this is correct. However, from the KubeVirt side, it is tested on most platforms that Prometheus works. Therefore it would be most helpful if you would be able to provide asked information.

It helps to find the precise cause of the failure.

Thank you!

[2020-02-21 09:21] wavezhang commented on #3086
[code]

[2020-02-21 09:55] fabiand commented on #3081
@wavezhang any chance that you can provide a patch?

[2020-02-21 09:55] fabiand commented on #3069
@phoracek @oshoval ideas?

[2020-02-21 09:56] fabiand commented on #3068
This does not look like it's related to the host disk ..

On which OS do you run virtctl? @leyao-daily ?

[2020-02-21 10:16] #1973 closed

[2020-02-21 10:37] petrkotas commented on #3086
I see the cluster is working correctly. It may be an issue with the version.
I have checked the documentation and asked around. The KubeVirt should setup monitoring automatically from v0.20+.

Would you mind consulting the documentation https://kubevirt.io/2019/More-about-Kubevirt-metrics.html and also https://gist.github.com/fromanirh/a7f6fa877598da721cc2f2e56153a01a

One more question, is there

[2020-02-21 10:43] wavezhang commented on #3086
if i create namespace openshift-monitoring， servicemonitor will be created under namespace openshift-monitoring，but what i want is servicemonitor created under namespace monitoring

[2020-02-21 11:06] petrkotas commented on #3086
I see. For this, you can update the KubeVirt config, which is a ConfigMap created in the KubeVirt namespace with the name `kubevirt-config`.
The item you are looking for is `additionalProperties` which is a map.

Add the `monitorNamespace: YOUR_NAMESPACE` and the ServiceMonitor should land in that namespace.

Hope this helps.

You can see the code here: https://github.com/kubevirt/kubevirt/blob/ac

[2020-02-21 11:17] wavezhang commented on #3086
No, the config was designed from KubeVirt object like following

[code]

see code here,
https://github.com/kubevirt/kubevirt/blob/ac73fc0aef98829e16fbb2d8abdffce81eeaa9b0/pkg/virt-operator/util/config.go#L264-L272

[2020-02-21 11:32] xpivarc commented on #3089
Hi @HenriTEL,
can you provide more details about how you think this should work? Do you want to reuse k8s PriorityClasses(so just pass this on the pod) or something totally new ?
Thanks.

[2020-02-21 12:13] petrkotas commented on #3086
Hey, I spend some more time with the code, not my code originally.
Sorry for confusing you with the config.

Now I see your problem. I also see that the namespace should already exist, otherwise it defaults to `openshift-monitoring`.

If this is not the case this is a bug and it has to be scheduled for a fix.
Thanks for finding it out.

[2020-02-21 12:18] HenriTEL commented on #3089
The idea is to pass PriorityClasses to the pod, something similar to the implemented `VirtualMachineInstance` `affinity` spec.

[2020-02-21 12:26] petrkotas commented on #3086
Hey @wavezhang it is like I said: https://github.com/kubevirt/kubevirt/blob/8d5ed15ba2f351e568572cf9d903ca4e887a6ee1/pkg/virt-operator/install-strategy/strategy.go#L126

Does the monitoring namespace exist?

[2020-02-21 15:21] #2378 closed

[2020-02-21 18:57] slintes commented on #3086
Hey @wavezhang,

at the code place you mentioned (`GetTargetConfigFromKV()`) the `ImageTag` and `ImageRegistry` are handled individually for historic reasons. `MonitorNamespace` will be handled in the subsequent `getKVMapFromSpec(kv.Spec)` funvtion. You can check if the code picked up the right value by looking at the status of your `KubeVirt` resource. There you find `TargetDeploymentConfig`, whi

[2020-02-22 16:45] #2705 closed

[2020-02-23 06:43] rmohr commented on #2566
/reopen
/remove-lifecycel rotten

Still a (seldom and strange) issue.

[2020-02-24 09:39] phoracek commented on #3069
@zakkg3 are you using Kubernetes or OpenShift? Does secondary (not a default) Multus network work without explicit namespace?

[2020-02-24 10:07] #2728 closed

[2020-02-24 11:29] fabiand commented on #3031
Awesome!

[2020-02-24 11:34] xpivarc commented on #3009
Seems like we know where is the problem with not copying annotations to VMI but there is slight issue with copying this to pod.

#3070 seems same as this...

Please assign me @petrkotas

[2020-02-24 13:24] fabiand commented on #2606
v0.26.0 was planned to fix this. This works for some people locally,
but not for others (incl the kubevirt/demo)

[2020-02-24 14:35] xpivarc commented on #3089
Seems reasonable, maybe kubevirt can build upon this and provide better availability guaranties with this feature. From top of my head, I can see that we can define 2 PriorityClasses (Non-preemptive and preemptive).
As of now I don`t see we provide any mechanism for involuntary disruptions only for voluntary ones (PDB if EvicationStrategy is set in vmi.spec) and PriotiyClasses help in this.
Priori

[2020-02-24 15:33] zakkg3 commented on #3069
k8s on bare metal.

Only if use `default: True` its looking for the net-attach-def in the kube-systyem network. otherwise it works. No normal pods this always works without explicit set the namespace.
Cheers.

[2020-02-24 15:58] skolnickm opened #3097 "usb passthrough to VMs spun up using kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Tried to pass USB devices to a VM spun up by Kubevirt which had a GPU passed through to it and was displaying on a physical display. This was done on Openshift 4.3 using the Kubevirt Operator

**What you expected to happen**:
Being able to interface with the VM through USB devices connected to the node it was runn

[2020-02-25 11:08] petrkotas commented on #3009
/assign @xpivarc

[2020-02-26 07:54] abhiniveshjain opened #3104 "virtctl vnc connection disappears immediately"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have created windows VM using below blog https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html but when I try to launch it using vnc, it is showing below message and it disappears. I can see windows screen for a moment.

root@localhost win2012iso]# ./virtctl vnc win2k12-iso --v=8
{"component":"

[2020-02-26 13:41] petrkotas commented on #3104
Hi @abhiniveshjain can you please provide logs from the `virt-launcher` pod, the `virt-api` pod (probably all of them) and from the `virt-handler`?

Also what is you kubevirt state? Can you also paste `kubectl get pods -n kubevirt`? Thank you

[2020-02-27 09:03] #2312 closed

[2020-02-27 16:09] zakkg3 opened #3111 "Watch vmi.go does not update IP on Ubuntu without pod network."
/kind bug

I have VM's running with 2 Multus networks, without pod network. I config the ifaces with cloud-init network. I can see the IP with `kubectl get vmi` (takes 80 secs for the IP to appear there if there is no pod network)  but in ubuntu, it does not show at all. Both are working, ifaces up and I can ssh in (i get the IP inspecting the pod), I wonder if maybe because eth ifaces names are d

[2020-02-27 17:26] #3061 closed

[2020-02-28 08:33] zakkg3 commented on #3111
Could be that  qemu-guest-agent is not installed. trying to edit the image. I ll update this if this is the case 🤓

[2020-02-28 12:16] xpivarc commented on #2865
@fabiand can you assign me please?

[2020-02-28 12:25] fabiand commented on #2865
You can do it yourself by adding a comment with /assign

[2020-02-28 12:41] xpivarc commented on #2865
/assign

[2020-02-29 11:38] slintes commented on #2865
/remove-lifecycle rotten

[2020-02-29 14:47] #2085 closed

[2020-03-01 16:11] yhaenggi commented on #2470
/remove-lifecycle stale

[2020-03-02 03:54] luckyfengyong opened #3117 "Failed to create VM in the enviroment with the devicemapper as the storage driver of Docker"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In the enviroment with the devicemapper as the storage driver of Docker, VMI failed to be started with error message of `failed to detect root mount info of containerDisk` in the log of `virt-hanlder`.

The root cause probably is that `virt-handler` assume in the pods of `virt-launcher`, the rootfs of `/` is mount from `/

[2020-03-02 12:38] luckyfengyong opened #3118 "Failed to create VM in the environment with the default umask of OS configued other than `0022`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In our product environment, the umask of OS is configured as `0077` by default.  In such enviroment, Kubevirt failed to create VM with the following error message from `virt-launcher`.

[code]
The directory of `/var/run/libvirt/empty-disks` is created with the access mode of `drwxr-s---` of owner of `root`.

Even though i

[2020-03-02 17:07] dren-dk opened #3119 "VM stuck Scheduled on btrfs: failed to detect root mount info of containerDisk"
**What happened**:

Started VM, but it didn't start or cause an error.
As there doesn't seem to be good googleable error or any interesting log message I'm kinda stuck, any clue?

**What you expected to happen**:

An actual running VM or an error.

**How to reproduce it (as minimally and precisely as possible)**:

* Install kubernetes 1.16.3 using RKE
* Install kubevirt v0.26.1
* Start a VM.

**An

[2020-03-02 19:02] dren-dk commented on #3119
I've been attempting to recreate the problem on a different cluster and the same version of kubevirt and the same VM image works perfectly on the other cluster.

The difference between the two environments is that the working working system has just a single master+worker host, vs. 3+4 in the original one.

At least I now have an example of what a working virt-launcher log looks like, but as far a

[2020-03-02 21:42] rmohr commented on #3111
If you use multus without ipam from CNI, then yes the guest agent would be needed to show anything. Let us know if that was the reason then.

[2020-03-03 10:23] rmohr commented on #3119
@dren-dk could you check if `virt-handler` is properly running on the nodes? Maybe it has an issue? What you see on one cluster is that the pod got scheduled, but the actual VMI specification was then never submitted by our node daemon  (virt-handler) to virt-launcher.

You should see the `virt-handler` instances in the `kubevirt` namespace.

[2020-03-03 10:25] rmohr commented on #3118
@luckyfengyong thanks for reporting, would you mind createing a PR with the fix?

[2020-03-03 10:27] rmohr commented on #3117
Nice catch. If you want this fixed fast, it would be awesome if you could create a PR.

[2020-03-03 11:42] dren-dk commented on #3119
Thanks for the hint, this group of messages repeat:

[code]

[2020-03-03 11:44] rmohr commented on #3119
Which container runtime and which fs do you use for containers? overlay fs? devicemapper?

[2020-03-03 11:46] dren-dk commented on #3119
The runtime is docker 18.9.9, the fs is btrfs

[2020-03-03 11:52] dren-dk commented on #3119
Some more details about docker:

According to kubectl get nodes -o wide, I'm using:
Ubuntu 18.04.4 LTS   4.15.0-74-generic   docker://18.9.9

According to dpkg -l docker-ce I'm using:
5:18.09.9~3-0~ubuntu-bionic

The docker command line interface package (docker-ce-cli) is not locked down, so it's running: 5:19.03.6~3-0~ubuntu-bionic

I would not expect the command line docker utility to be access

[2020-03-03 12:02] rmohr commented on #3119
/bug

ok, this is clearly us, probably looking at the wrong mount root for the containerDisks. Could you show me the mount table when the pod is started, so that I can see the mount paths?

If you want to immediately make things working you could switch to e.g. overlayfs2. There this works for sure. Otherwise I would need the mount table.

[2020-03-03 12:02] rmohr commented on #3119
/kind bug

[2020-03-03 12:09] dren-dk commented on #3119
Thank you so much, I've been banging my head against this problem for a while.

Here's the list of mounts seen inside the virt-launcher pod, please let me know if there's anything else I can do to help debug or if you know of a workaround:
[code]

[2020-03-03 12:26] rmohr commented on #3087
this container will exit after some time. It is the bazel server. We mimic the behaviour which you also have if you just run bazel directly. I think the default idle time is one hour. Having this container running drastically improves the bazel performance.

[2020-03-03 12:29] rmohr commented on #3119
one more t hing would be helpful. Can you try to run a VMI and post the mount table directly of `/proce/$pid/mountinfo` where the pid is the pid from virt-launcher. That will also allow me to see the mount table of the container from the host perspective.

[2020-03-03 12:30] rmohr commented on #3119
It is important that you look at `/proc/$pid/mountinfo` from the host, not from within the `virt-launcher` container. If you can't access the host itself, you can also exec into virt-handler, since virt-handler runs in the host PID view.

[2020-03-03 12:34] oshoval commented on #3087
thanks Roman,
didnt fully understand but why when make generate finish we still need it , bazel finished already isnt it ?

if you suggest, lets close the issue, thanks

[2020-03-03 12:39] dren-dk commented on #3119
Sure thing, here you go:
[code]

[2020-03-03 12:47] dren-dk commented on #3117
It seems this problem is closely related to #3119 which happens on btrfs.

This is a shame as I was considering switching to LVM as a workaround for my btrfs woes.

The reason I want either LVM or btrfs is that I have a workload that contains huge data files that get sparsely written to during execution, so block-level COW in the overlay file system is very much needed.

[2020-03-03 13:33] rmohr commented on #3117
I think #3124 should solve the issue for all filesystem backends. I think that my validation was just too strict.

[2020-03-03 13:44] rmohr commented on #3087
most of our make commands run bazel commands. If we would always stop the server after every invocation, the server would have to be started afterwards and some cache results would be lost. That is just how you use bazel. It is posibble to do a `batch` invocation with bazel, where it automatically stops the server afterwards, but that would definitely not be the default option. How would we know i

[2020-03-03 13:46] oshoval commented on #3087
sure thanks for the explanation
closing

[2020-03-03 13:46] #3087 closed

[2020-03-04 02:29] Apokleos commented on #2892
/close

[2020-03-04 02:29] #2892 closed

[2020-03-04 07:05] luckyfengyong commented on #3117
@rmohr #3124 seems not fix all the issue. Besides checking in `MountInfoRoot()`, we also need fix following codes in  `Mount()`  to add `nodeMountInfo.Root` into `sourceFile` as well.

[code]

[2020-03-04 07:07] luckyfengyong commented on #3118
@rmohr Our pleasure. We will create a PR soon.

[2020-03-04 07:59] rmohr commented on #3117
@luckyfengyong could you share `/proc/<pid>/mountinfo` for the virt-launcher pid and pid `1`? What is then the final full path of the mount?

[2020-03-04 12:23] #3089 closed

[2020-03-04 19:40] fabiand commented on #2902
@rmohr I could still imagine that we provide an api like cloudInit for this common use cse, which is then internally using the mechanisms you layed out above.

[2020-03-04 19:40] fabiand commented on #2902
/cc @omeryahud

[2020-03-04 21:43] #2763 closed

[2020-03-05 02:07] luckyfengyong commented on #3117
@rmohr Sorry, the enviroment was reprovisioned for other purpose. But I keep the related error message as follows.

`/proc/1/root/opt/docker/devicemapper/mnt/83f8464c5ce21fa7334ed8d181d235c935c41421f347c2d03d3347abe2488171/disk: no such file or directory","timestamp":"2020-02-29T07:12:59.562971Z","uid":"cba8f66a-b1dc-46ef-bc0f-2fb1e45e828f"`

The right path is `/proc/1/root/opt/docker/devicemapper

[2020-03-05 11:18] dhiller opened #3127 "Use error return value instead of embedding the error in the message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
In a PR discussion we discovered [Stringly typed errors](https://github.com/kubevirt/kubevirt/pull/3039/files#r388228965), which should be cleaned up.

**What you expected to happen**:
Instead of using the message to convey the error only, also return the error with the corresponding return value.

**How to reprod

[2020-03-05 11:29] petrkotas commented on #3127
/assign

[2020-03-05 11:30] petrkotas commented on #3127
Thank you @dhiller for creating this issue. I will work on it as soon as possible.

[2020-03-05 11:56] #2641 closed

[2020-03-05 12:02] slintes commented on #3127
I replied on the issue, let me repeat here:

The grpc/protobuf implementation generates the func signature with err even though we don't declare it (see cmd.proto and cmd.pb.go). Also, it uses the error in case something goes wrong during the grpc call itself.
We, on the other hand, only use our own declared response type for reporting non-grpc related errors. It is stringly typed for sure, but II

[2020-03-05 12:09] alosadagrande opened #3129 "Virt-handler error when running in Fedora CoreOS due to semanage package missing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Installing KubeVirt on OKD 4.3 following the manual procedure: install kubevirt-operator and then kubevirt-crds (since I could not find anymore the KubeVirt community operator) found that virt-handler does not start due to semanage (core-policyutils package) is missing in the installation of Fedora CoreOS 31 (probably old

[2020-03-05 12:32] alosadagrande opened #3130 "Add and option to add disk capacity to a containerDisk"
/kind enhancement

**What happened**:
containerDisk creates a VM with the block size and root filesystem size specified in the image (qcow2/raw). In case I want to have the same container image in different sizes I need to resize the qcow2 and expand the partition. Then containerized the image and push it to a container registry.

Eventually I end up with the same "base" image copied multiple time

[2020-03-05 15:10] vladikr commented on #3129
Thanks for opening this issue.

There is an ongoing discussion with openshift/okd to include the core-policyutils package.
https://github.com/openshift/okd/issues/77

However, perhaps virt-handler can include it, at least until okd does?
/cc @rmohr @fabiand

I'm not sure if we need to use rpm-ostree to install the package. The selinux-operator project installs policies[1] successfully without rest

[2020-03-05 15:15] zakkg3 commented on #3111
Installing quemu-guest-agent solved
/close

[2020-03-05 15:15] #3111 closed

[2020-03-06 11:16] fabiand commented on #3129
I'd say that it depends on the impact/size.

Do we know how much difference it would make?

[2020-03-06 11:17] fabiand commented on #2864
/remove-lifecycle stale.

[2020-03-06 19:01] jiridanek opened #3134 "Windows nodes in Kubernetes cluster get a virt-handler pod too, this is undesirable."
/kind bug

Instance of virt-handler is being scheduled onto my Windows Kubernetes node. The pod is stuck permanently in ImagePullBackOff state.

**What you expected to happen**:

Pods of virt-handler are not scheduled on Windows nodes, or on any nodes other than Linux nodes.

**How to reproduce it (as minimally and precisely as possible)**:

Notice that

[code]

is not configured for virt-handler.

[2020-03-07 01:44] LorbusChris commented on #3129
just a note: `policycoreutils` (which contains `semodule`, but not `semanage`) is by default included in RHCOS and FCOS, so https://github.com/kubevirt/kubevirt/pull/2694 would solve this at least on these OSes afaict.

[2020-03-08 09:50] #1684 closed

[2020-03-08 09:50] #2292 closed

[2020-03-08 14:50] #2679 closed

[2020-03-09 07:46] omeryahud opened #3137 "'virtctl rename' accepts invalid names"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When providing an invalid name to `virtctl rename` the name is accepted:
`virtctl rename vm-cirros "a b"`

**What you expected to happen**:
An error should be returned to the user and the renaming process should not initiate, instead the error is written to `virt-controller` logs and the controller will attempt to rename t

[2020-03-09 07:53] omeryahud commented on #3137
Will prepare a PR for it

[2020-03-09 09:20] petrkotas commented on #3134
Hi, @jiridanek thanks for reporting this issue.
Indeed this is a serious issue breaking the deployment.

The KubeVirt will be configured to only schedule on nodes labeled with `kubernetes.io/os=linux`.

[2020-03-09 11:46] xpivarc opened #3140 "VM refuse to migrate/stop when VMI name is specified"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Using VM yaml which should be able to migrate will produce :
Error migrating VirtualMachine Operation cannot be fulfilled \
on virtualmachine.kubevirt.io "vm-migratable": VM is not running

**What you expected to happen**:

Migration will be scheduled / VMI should stop.

**How to reproduce it (as minimally and precisely a

[2020-03-10 08:09] slintes commented on #3140
After starting the VM, did you wait until it is running? It can take a while.

[2020-03-10 08:38] xpivarc commented on #3140
@slintes Sure think. I can see VM,VMI in true/Running accordingly and I can console to it.
The problem here is that stop/migrate command want VM name. But when I specify name of VMI in yaml, these command won't work...

[2020-03-12 09:02] phoracek commented on #3035
@anandgbhat I recently witnessed the same error. It happened when the SR-IOV driver was not set to `vfio-pci` but was kept on the default `netlink`. Could you please make sure you are using the right driver and let us know if it resolved the issue?

[2020-03-12 09:46] #2386 closed

[2020-03-13 09:04] #2495 closed

[2020-03-13 11:57] hashwing opened #3153 "Support customized Dial from k8s rest.Config for vnc 's websocket in client-go"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

**What happened**:

When creating a kubevirt client  using client -go , the customized  Dial   from `rest.Config`  not passed along to nvc's `websocket.Dialer`.

**What you expected to happen**:

The customized  Dial   from `rest.Config`  passed along to nvc's `websocket.Dialer`.

**How to reproduce it (as minimally and precisely as

[2020-03-16 08:06] kunalkushwaha opened #3159 "support for binding k8s service on secondary networks"
**FEATURE REQUEST**:

/kind enhancement

**What happened**:

*Filing this as an issue, to keep the discussion and PR on GitHub.*

When a VM is created with secondary networks, Kubernetes services cannot be mapped to these secondary networks.
To enable this, a workaround is available e.g. creating headless service for each VM so DNS entries can be created, with separate endpoints with IP of the sec

[2020-03-16 14:28] petrkotas commented on #3134
This issue is rather relevant to scheduling. Would you mind taking a look @omeryahud once you have the capacity? Thank you.

[2020-03-17 17:06] oshoval opened #3169 "Suggestion , add a way to focus lane running, in order to save resources"
/kind enhancement

Hello,
At the moment, each PR runs all the mandatory lanes,
sometimes we need to iterate on one specific lane or just a few but not all,
each lane take resources and waiting times for all the other that wait for resources,

Grooming with Roman and Daniel Hiller,
we suggest to add at kubevirt automation/test.sh a variable checking, that in case is exported
will fail immediately a

[2020-03-18 08:09] qinqon commented on #3169
So we set this var at test.sh right ?
Maybe we can use verb "focus" for lanes too, like KUBEVIRT_LANE_FOCUS=kind-k8s-1.17-ipv6
Also use regex to match multiple lanes.

Would be also nice to always fail test.sh in case this var is set, so we ensure that this is not merged.

[2020-03-18 08:41] oshoval commented on #3169
yep
nice idea
as we discussed, no need because rest of the lanes would fail

[2020-03-18 09:37] oshoval commented on #3169
a POC,
will return to it when Team decide

#!/bin/bash

# target comes from the prow lane
# uncomment for an example
# TARGET=kind-k8s-1.17.0-ipv6

# create list of the focused lanes, rest will auto fail
# assign "" in order to revert to regular mode and able to merge
export KUBEVIRT_LANE_FOCUS="kind-k8s-1.17.0 kind-k8s-1.17.0-ipv6 pull-kubevirt-e2e-k8s-genie-1.11.1"

if [[ $KUBEVIRT_LANE_FOCUS !=

[2020-03-18 15:32] pkliczewski opened #3177 "PVC spec inconsistent with k8s"
We see that our kubevirt java [client](https://github.com/oVirt/java-client-kubevirt) generated from kubevirt swagger file [fails](https://bugzilla.redhat.com/1814215) to unmarshall virtual machines with data volume defined. I investigated the issue and it seems there is a difference in `PersistentVolumeClaimSpec` definition.

In [k8s](https://raw.githubusercontent.com/kubernetes/kubernetes/master

[2020-03-19 07:20] anencore94 opened #3179 "Support for using multipvc vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Created multipvc vm with this yaml : [kubevirt github example](https://github.com/kubevirt/kubevirt/blob/master/examples/vm-alpine-multipvc.yaml):

I used one pvc made by datavolume (5G, cirros image, csi-cephfs)
Another pvc made by just storageclass (7G, rook-ceph-block)

And i can find my 2 pvcs mounted on virt-launcher-pod as be

[2020-03-19 07:43] ormergi opened #3180 "VM migration test lacks ID"
*FEATURE REQUEST*:
Adding ID to VM migration test so it will be easier to focus on while running function tests.

kind enhancement

**What happened**:
While working on ipv6 lane, VM migration issues on Kind providers,
I was trying to run only the VM migration test by passing rfe/test_id to ginkgo.focus,
but this test lacks id:
https://github.com/kubevirt/kubevirt/blob/master/tests/vm_test.go#L865

[2020-03-19 08:37] anencore94 commented on #2947
@awels
I think when using thin-provisioning-block-device or cephfs pvc, the storage provider does not give all the requested size at once. But the backend storage will fill more and more until the requeseted size as using vm.
Thus qcow2 image may save more backend storage resources.

[2020-03-21 09:00] watermelon-brother opened #3187 "panic: Search domain is not valid: 'DHCP'"
**What happened**:
when I run the vm ,define below
[code]
the vmi virt-launcher-testvm-vc7g9 states:
[code]
locking in the logs:
[code]
my k8s pod everything is ok except the kubevirt virt-launch-pod.

my host machine /etc/resolve.conf
[code]
why this problem happen? Please help me....
**Environment**:
- KubeVirt version (0.26)
- Kubernetes version (1.17.x)

[2020-03-21 10:28] woohhan opened #3188 "go-client example is not working on kubevirt go-client v0.27.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[listvms](https://github.com/kubevirt/kubevirt/tree/master/staging/src/kubevirt.io/client-go/examples/listvms) with go-client version v0.27.0 not working correctly. But it works fine in v0.26.0.

[code]

**What you expected to happen**:
listing vms.

**How to reproduce it (as minimally and precisely as possible)**:
Just us

[2020-03-23 20:32] mlsorensen opened #3194 "Bazel can't push to private HTTPS registry"
FEATURE REQUEST ?

/kind enhancement

**What happened**:
Trying to 'make push' to an HTTPS registry results in:

 unable to push image to <image name> Get https://registry/v2/: x509: certificate signed by unknown authority

**What you expected to happen**:

Push succeeded

**How to reproduce it (as minimally and precisely as possible)**:
1. Create an HTTPS docker registry signed by a private or lo

[2020-03-23 20:52] caniszczyk opened #3195 "Update SECURITY.md away from redhat.com email address"
We should probably create an alias for you on kubevirt.io or you can use a groups.io email address

[2020-03-24 08:08] rmohr commented on #3188
Here is another report from a user that it does not work:

[code]

[2020-03-24 08:25] rmohr commented on #2566
/reopen
/remove lifecycle-rotten
/lifecycle frozen

[2020-03-24 09:03] rmohr commented on #3188
@woohhan how are you compiling the code? It works for me. What I did is the following on go `1.12.8`:

[code]

[2020-03-24 12:26] Zizhen commented on #3188
@woohhan I ran into your problem too, it seems this lib: github.com/go-kit/kit unexported NewContext in v0.4.0 release

https://github.com/go-kit/kit/releases/tag/v0.4.0

I solved it by adding this in go mod github.com/go-kit/kit => github.com/go-kit/kit v0.3.0

[2020-03-24 13:49] rmohr commented on #3187
That is interesting. What networking solution are you using? It looks like you networking provider uses NetworkManager. I haven't seen this before? Do you use bridges?

@phoracek FYI

[2020-03-24 13:54] vladikr commented on #3187
I think https://github.com/kubevirt/kubevirt/issues/868 was similar...

[2020-03-24 16:14] pkliczewski commented on #3177
We found exactly the same issue for 2 more types `EvictionStrategy` and `VolumeMode`. Please check whether there are more types defined in this way.

[2020-03-24 16:27] phoracek commented on #3187
I don't see how the NetworkManager running on host can affect the DHCP server in virt-launcher. In operates in the Pod's netns on this tiny network connecting netns and VM. I believe we have NetworkManager running on our test nodes as well and we haven't seen this issue.

Search domains are obtained from pod: https://github.com/kubevirt/kubevirt/blob/58faac539952374a1629fc7cc72a9e69dfa53bb0/pkg/vi

[2020-03-25 02:15] watermelon-brother commented on #3187
when I use the bridge，everything is ok. I use the masquerade before,so why is not work.
my k8s is make by rancher rke and run in the virtualbox have 2 nic , one use nat ，other use bridge。
@phoracek @rmohr@vladikr

[2020-03-25 02:18] watermelon-brother commented on #3187
I use the CNI plugin is the flannel@phoracek

[2020-03-25 08:15] rmohr commented on #3187
Hm, this is still strange. An application inside the container should never have to use a dhcpclient to get info for `/etc/resolv.conf`. Flannel does not start dhcp clients for containers and it also does not use NetworkManager , so I wonder if there is anything in the system which actually could make use of `search dhcp`. That looks suspicious to me.

[2020-03-25 08:16] rmohr commented on #3187
Oh, and now I see, @watermelon-brother could you share the `/etc/resolv.conf` from an arbitrary running container? Maybe the host configuration gets appended to the container.

[2020-03-25 09:19] phoracek commented on #3187
https://rancher.com/docs/rancher/v2.x/en/troubleshooting/dns/#check-upstream-nameservers-in-kubedns-container

I believe this describes the issue. @watermelon-brother could you follow that and try to override the default resolv.conf?

[2020-03-25 09:41] #3118 closed

[2020-03-25 12:57] pkliczewski commented on #3177
I went over swagger file and I see that there are more types defined like this. It seems like we are generating the file using buggy or different tools than k8s. I checked [PodQOSClass](https://github.com/kubernetes/kubernetes/blob/0fd4beb089a31642d7f86bb561b66568ab4afa59/pkg/apis/core/types.go#L2898) and it is defined as string in k8s api [definition](https://raw.githubusercontent.com/kubernetes/

[2020-03-25 12:58] pkliczewski commented on #3177
@rmohr @fabiand fyi

[2020-03-26 09:26] watermelon-brother commented on #3187
I change a virtual machine,launch the k8s.It's not work when use the bridge or masquerade.so,I think is my environment problem.

[2020-03-26 09:31] watermelon-brother commented on #3187
the /etc/resolv.conf belong to the one running container as below:
[code]

[2020-03-27 23:09] #3137 closed

[2020-03-29 14:19] watermelon-brother opened #3219 "git clone and make filed"
**What happened**:
when I excuted the commond make in the macos environment.
**What you expected to happen**:
[code]
**Anything else we need to know?**:
I use the code which clone from the github.Generally speaking, the commond make will be ok,but  It`s run failed.so, what reason cause it happened,I can sove this problem by some way?
**Environment**:
- KubeVirt version (0.27.0):

[2020-03-30 02:18] woohhan commented on #3188
@rmohr Thanks for replying. I built similarly, but I modified the client-go version to v0.27.0 in the go.mod file.

[2020-03-30 02:24] woohhan commented on #3188
@Zizhen Thanks for helping! I added the replacement but looks not working. Could you please share your go.mod file?

[2020-03-30 14:06] #3219 closed

[2020-03-30 21:21] #3194 closed

[2020-04-01 07:51] rmohr commented on #3195
The domain is owned by cncf already, right? Sounds great if you could do the alias for us.

[2020-04-01 07:53] rmohr commented on #3188
@woohhan the steps above worked for me without any modifications. It just takes ages until the dependencies are resovled. Did you try it completely unmodified whith the steps above?

[2020-04-01 07:53] rmohr commented on #3187
@phoracek should we just ignore `DHCP`?

[2020-04-01 07:57] rmohr commented on #3179
Sorry that it took so long for an answer. KubeVirt does not interfere with VMs in any way. I am pretty sure that the disks are there. They are just not mounted. You can probably see it by typing something like `lsblk`.

There are two typical use-cases on how  the disks are then normally prepared for usage:

* cloud-init can do the setup. You would basically put a filesystem on the disk and mount i

[2020-04-01 08:01] phoracek commented on #3187
@rmohr  To me it seems like a random name declared by the host, isn't it? So ignoring it would be a workaround for this specific scenario.

We have two options here, either we consider this an environment issue and @watermelon-brother follows https://rancher.com/docs/rancher/v2.x/en/troubleshooting/dns/#check-upstream-nameservers-in-kubedns-container and probably drop DHCP from the host. I see how

[2020-04-01 08:08] woohhan commented on #3188
@rmohr It works fine with the above steps without any modifications :) But is the latest version of the kubevirt client not available? As far as I know, the latest version of kubevirt go-client is [v0.27.0](https://github.com/kubevirt/client-go/tree/v0.27.0).

[2020-04-01 08:15] rmohr commented on #3188
In my steps I checked out the `v0.27.0` tag, so that should exactly be what you want :).

We don't update the `master` branch. We only do releases directly to tags. I think we need to improve the documentation here. I can understand that this can cause confusion.

[2020-04-01 08:45] woohhan commented on #3188
@rmohr I may be wrong, but `git checkout v0.27.0` doesn't determine what module to be used in `go build`. When we type `go build` command, It downloads the packages what we needed(described in the go.mod file) and builds a binary with the packages. You can check it with the following commands. Please let me know if I am wrong :) Thanks

[code]

[2020-04-01 09:51] rmohr commented on #3188
That looks strange. When I look at https://github.com/kubevirt/client-go/blob/v0.27.0/go.mod and https://github.com/kubevirt/client-go/blob/v0.27.0/go.sum I don't see any depency to `kubevirt.io/client-go` and also the `go.mod` file says that it is `module kubevirt.io/client-go`.

[2020-04-01 09:52] rmohr commented on #3188
Oh now I see it. We have this extra `go.mod` file in the example directory. That is not right. Thanks! :+1:

[2020-04-01 10:06] anencore94 commented on #3179
Thanks :) It works!

[2020-04-01 10:06] #3179 closed

[2020-04-01 11:18] rmohr commented on #3140
If the VMI is backed by a VM, the name of the VM and the VMI should match. This sounds strange.

[2020-04-01 11:22] rmohr commented on #3177
As discussed offline, @pkliczewski it would be great if you switch kubevirt to use the k8s api generator when you find some time.

[2020-04-01 11:41] xpivarc commented on #3140
@rmohr Yes but in my example I override it to vmi-migratable from vm-migratable. So I think there should be validation of this when VM is created/updated or we should handle this in other manner(without assumption of vmi having same name).

[2020-04-02 09:57] csharpknife2002 opened #3231 "upload-image doesn't finish"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I am using cdi along with virtctl to upload a window iso image via the following command:
kubectl-virt image-upload \
--image-path=/mnt/disks/images/chen-win-server-disk.qcow2 \
--pvc-name=win-svr-image \
--access-mode=ReadOnlyMany \
--pvc-size=25G \<br>
--uploadproxy-url=https://10.109.0.11:443 \
--insecure \
--wait-sec

[2020-04-02 13:08] maiqueb opened #3234 "Ephemeral PVC functional tests run on `kind` based providers are broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[Ephemeral PVC functional tests](https://github.com/kubevirt/kubevirt/blob/master/tests/storage_test.go#L196) fail when run on providers built on top of kind. Those tests are both on `rfe_id:3106`:
* test_id:3136
* test_id:3137

Tests are failing because libvirt throws the following error when it tries to start the VM:
[c

[2020-04-02 20:19] anuraagrijal3138 opened #3239 "Mapping rules for mapping libvirt XML to the KubeVirt API cannot map graphics option"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I tried to set graphics option in VirtualMachine yaml file and In got some error
**What you expected to happen**:
kubectl create displays successful output.
**How to reproduce it (as minimally and precisely as possible)**:
Install kubernetes and kubevirt. Apply the following yaml. I don't know if I am doing this correctly.

apiVersi

[2020-04-03 07:54] bharatnc commented on #2618
@kacpercf  closing this issue out as this is no longer our priority I think. Pleas feel free to reopen if necessary.

[2020-04-03 07:54] #2618 closed

[2020-04-03 08:37] phoracek commented on #2618
@bharatnc IPv6 should be supported soon via https://github.com/kubevirt/kubevirt/pull/3112 in case somebody will need it.

[2020-04-03 08:56] phoracek opened #3242 "Enforce IP assigned by IPAM by IP spoofing filter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

When administrator specified IPAM in CNI configuration, we assign the given IP to VMs, but we don't enforce them to use only that. That introduces a security gap.

**What you expected to happen**:

If the administrator is specific about IP assignment, we should respect it and don't let users mess with the address

[2020-04-03 09:29] maiqueb opened #3244 "Outdated kubevirt `images` docs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
All links present in the [images docs](https://github.com/kubevirt/kubevirt/tree/master/images) are outdated - you get 404 when clicked.

**What you expected to happen**:
Links should be valid, and point to the correct documentation.

[2020-04-03 10:51] dhiller opened #3246 "Add fossa check to enforce license check on PRs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

ATM the [license check provided by FOSSA](https://app.fossa.io/projects/git%2Bgithub.com%2Fkubevirt%2Fkubevirt?ref=badge_shield) (see FOSSA badge [here](https://github.com/kubevirt/kubevirt#kubevirt) is not executed on PRs which may lead to license issues when upgrading or updating dependencies. Furthermore it wo

[2020-04-03 13:52] maiqueb opened #3247 "HTTP readiness probe not working when VMIs have IPv6 configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[Positive HTTP probe tests](https://github.com/kubevirt/kubevirt/blob/master/tests/probes_test.go#L75) fail when run on IPv6 based VMIs. The failing test is:
  - rfe_id: 1182 ; test_id: 1200

**What you expected to happen**:
Test should pass.

**How to reproduce it (as minimally and precisely as possible)**:
Run the afore

[2020-04-04 17:47] #2722 closed

[2020-04-05 04:31] #3119 closed

[2020-04-05 13:47] yhaenggi commented on #1376
/remove-lifecycle stale

[2020-04-05 13:48] yhaenggi commented on #2948
/remove-lifecycle stale

[2020-04-06 02:33] #3244 closed

[2020-04-06 10:00] alevitter opened #3253 "`make functests` doesn't use KUBECONFIG"
/kind bug

**What happened**:
I tried running `make functests` with a valid $KUBECONFIG environment variable set but the tests failed with `panic: invalid configuration: no configuration has been provided`

**What you expected to happen**:
When executing the tests, it would use the configuration provided by $KUBECONFIG

**How to reproduce it (as minimally and precisely as possible)**:
Run `make fu

[2020-04-06 10:09] oshoval commented on #3253
happened also on ocp-4.5 dev-scripts

[2020-04-06 14:25] rmohr commented on #3117
/close

should be fixed in #3124

[2020-04-06 14:25] #3117 closed

[2020-04-06 14:27] rmohr commented on #3153
/kind enhancement

[2020-04-06 19:11] rmohr commented on #3239
Hi, I fear that you ended up looking at an internal API. You can find the official schema at https://kubevirt.io/api-reference/master/ and the user guide at https://kubevirt.io/user-guide/#/.

We add a graphics device by default and it should be accessible via `virtctl vnc <vmname>`.

I hope that helps.

[2020-04-06 19:14] rmohr commented on #3239
And here the actual link regarding to graphics: https://kubevirt.io/user-guide/#/creation/devices?id=video-and-graphics-device

[2020-04-07 08:11] rmohr commented on #3130
That would be a nice feature. However I am not sure how this should work. We could indeed add a `capacity` field. That would also lead to a bigger overlay disk, but it would still not increase the root partition size. We would potentially also have to know about the partition which should be extended and we would have to support the file system format in the conversion process.

Finally, depending

[2020-04-07 11:07] rmohr commented on #3041
@azaiter #3258 should add the first step. Regarding to the PVCs. We would end up with PVCs which are readwriteonce, but where the scheduler can schedule pods to different hosts based on the replica count?

[2020-04-07 17:56] #3239 closed

[2020-04-07 17:56] anuraagrijal3138 commented on #3239
Thank you for the information.

[2020-04-08 15:02] davidvossel opened #3269 "replace usage of libvirt domain metadata with a virt-handler cache"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

Today we're using the libvirt metadata on the domain object as a state store for kubevirt specific data related directly to the domain. Setting and retrieving this metadata is tricky because libvirt has this notion of a offline domain config and the current running config. When we set and get metadata, we have to merge these two con

[2020-04-08 20:14] davidvossel commented on #3130
My expectation is that if someone is wanting to use a container disk with VMI's that need dynamic storage capacity, that that dynamic capacity would be added using an emptyDir rather than modifying the partitions within the containerDisk's qcow image.

I wouldn't anticipate many people would be in a situation where the root partition needs to be dynamically resized on a per VMI basis.

[2020-04-09 09:11] #2221 closed

[2020-04-09 11:16] moadqassem commented on #2849
Hello guys, are you sure that this issue is actually fixed? I have multiple kubevirt clusters versions:
- v0.26.4
- v0.24.0
- v0.23.3
- v0.19.0

And among those only version v0.19.0 is able to run a coreos machine with ignition. I used the same image(which works on 0.19.0) and they don't inject the ignition data to the vmi. CoreOS image `2345.3.0`, ` coreos_production_qemu_image.img.bz2`.

I can s

[2020-04-09 11:23] karmab commented on #2849
i don't think there has been a lot of change in ignition support ever since it was added so i suggest:

- boot your image and have a look at the qemu process in the launcher pod to check whether it contains a section like `-fw_cfg name=opt/com.coreos/config,file=...` pointing to the ignition data.
- trying with a known to work image like fedora-coreos container disk (make sure to set ignition vers

[2020-04-09 11:28] salkin commented on #2849
I have been successfully running on kubevirt 0.25.0 for few months and no issues. 0.21-0.23 I think I tried but those did not work.

[2020-04-09 12:26] moadqassem commented on #2849
@karmab

The image is booting correctly without any issue, however the line that you mentioned is not shown in the `virt-launcher` pod.

The [image](https://stable.release.core-os.net/amd64-usr/current/coreos_production_qemu_image.img.bz2) that I am using used to work without any issue in v0.19.0, but again maybe I am overlooking something.

@salkin

Are you running fedora-coreos images?

One thin

[2020-04-09 12:36] salkin commented on #2849
@moadqassem  I am only running Container Linux coreos. Tried fedora-coreos so also that works but we do not use that.

[2020-04-09 13:27] #3234 closed

[2020-04-10 14:13] fabiand commented on #2904
Pleae reopen if this is still an issue

[2020-04-10 14:13] #2904 closed

[2020-04-10 14:15] fabiand commented on #2596
Is this what you were looking for:
https://github.com/kubevirt/kubevirt/pull/3208 @nmsnitin ?

[2020-04-10 14:17] fabiand commented on #2741
@xprxprx how would you expect to provide the kernel?
Should it be on a PVC in a containerDIsk or somewhere else?
How would you expect to specify the initrd/cmdline?

[2020-04-12 01:37] oatakan commented on #2902
Currently config files are generated as symlinks which doesn't work on Windows. This PR https://github.com/kubevirt/kubevirt/pull/3283 will enable sysprep on Windows using configmap. In my case Autounattended.xml file size 23 KB and I load it via configMap and load as cdrom.

[2020-04-12 01:49] oatakan opened #3284 "Add RHEL kickstart support (ks.cfg)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently the only way to automatically kickstart (ks.cfg) is via PXE or load an ISO as PVC. Similar to the sysprep issue here (https://github.com/kubevirt/kubevirt/issues/2902), you should be able to store ks.cfg file in configMap and load as cdrom. However this doesn't work because kickstart process looks for a

[2020-04-12 06:23] shawnU96 commented on #1919
testing NVIDIA GPU passthrough , driver error code 43 .
https://www.reddit.com/r/VFIO/comments/8pl48l/code_43_with_nvidia_passthrough_even_after/
kubevirt not support set

<kvm>
<hidden state='on'/>
</kvm>

[2020-04-12 06:24] shawnU96 commented on #1919
kubevirt not support set  **features.kvm.hidden = on**

[2020-04-12 06:29] shawnU96 opened #3285 "testing NVIDIA GPU passthrough , driver error code 43 . kubevirt not support set features.kvm.hidden = on"
testing NVIDIA GPU passthrough , driver error code 43 .
https://www.reddit.com/r/VFIO/comments/8pl48l/code_43_with_nvidia_passthrough_even_after/

[2020-04-12 06:31] shawnU96 commented on #3285
[code]

[2020-04-14 07:12] rmohr commented on #2932
/remove-lifecycle rotten
/lifecycle frozen

[2020-04-14 07:18] rmohr commented on #2984
/remove-lifecycle stale

[2020-04-14 08:06] rmohr commented on #3284
I think I would tackle this in two ways:

 1) Allow setting the volume id on the CDRomTarget to have full flexibility, but also
 2) For kickstart and sysprep, add special sources which do the right thing for you by default

[2020-04-14 08:26] cedbossneo commented on #3285
i have developed a hook to modify domain:

add theses annotations to you virtualmachineinstance :

    hooks.kubevirt.io/hookSidecars: '[{"image": "cedbossneo/kubevirt-custom-hook"}]'
    custom.kubevirt.io/domain.features.kvm.hidden.-state: "-state:on"

[2020-04-14 08:32] fabiand commented on #2953
@rmohr could you specify where the logs should be written to?

[2020-04-14 08:34] rmohr commented on #2953
They should be written to stderr (converted to structured logs, the same way like we do it for libvirt).

[2020-04-14 11:37] rmohr commented on #2397
/remove-lifecycle rotten

[2020-04-14 12:18] watermelon-brother opened #3296 "VMI does not have guest agent connected?"
**What happened**:
I get below message when I requested the guestosinfo`s api .
[code]
**What you expected to happen**:
`why centos7 vm is ok,but win7 vm is failed?`

I guest that centos7 vm is installed the guest tool,but win7 vm is not installed.

so, I need to install the guest tool for the win7 vm by my hand.It's right?

**Anything else we need to know?**:

**Environment**:
- KubeVirt version

[2020-04-14 14:56] moadqassem commented on #2849
@salkin I see. It looks like the virt launcher is trying to lookup the ignition data and it is not found. I can see however the ignition data template in the vm manifests but it's not present in the vmi nor is being copied to `/sys/firmware/qemu_fw_cfg/by_name/opt/com.coreos/config/raw` as @rmohr suggests in a previous comment. Something must have been changed thus the functionality is not working

[2020-04-14 16:05] oatakan commented on #3284
@rmohr that sounds good. Perhaps #1 could be implemented first as together with configmap this will provide an immediate generic solution. It would be nice to have a special source to handle kickstart/sysprep and expose this in the documentation.

[2020-04-15 07:05] shawnU96 commented on #3285
I use hookSidecar, run success.   and modify kvm.hidden on
example: /cmd/example-hook-sidecar.

[2020-04-15 16:31] rmohr commented on #3284
@oatakan, solution one should be addressed with #3301

[2020-04-15 17:20] oatakan commented on #3284
@rmohr , that was quick! :) hope it gets merged.

[2020-04-16 09:55] xprxprx commented on #2741
Hi @fabiand,

maybe I can expose a bit deeper what are we trying to get with this feature. We are partners of the European Project [Unicore](http://unicore-project.eu/). In this project we are developing the unikraft tool which makes easier to create a Unikernel from a typical application. Also we want to integrate unikernels on the most popular orquestrator like OpenNebula, OpenStack and Kubernet

[2020-04-16 09:59] #2885 closed

[2020-04-16 12:20] rmohr commented on #3296
That is very likely the issue. We offer a `containerDisk` with virtio-win drivers. The container which contains it is called `kubevirt/virtio-container-disk`.

This tutorial, which shows on how to install windows in general on kubevirt also contains details about the guest agent too: https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html

Let me know if it does not help.

[2020-04-16 12:40] jakub-dzon opened #3304 "Cannot start VM with clock timezone set"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I tried to create VM with following clock configuration:
[code]
and the VM startup fails due to (virt-launcher log):
[code]

**What you expected to happen**:
I expect the VM to start correctly and have clock configured with given timezone.

**How to reproduce it (as minimally and precisely as possible)**:
With vm specifica

[2020-04-16 13:15] rmohr commented on #3285
Nice hook. We can definitely also add this feature to our API. Also happy if one of you just adds it. It should not be too hard to do.

[2020-04-16 14:23] vladikr commented on #3285
I also think that this should be set by us without a hook. I'm not sure if we should just add it to the API.
As this is only relevant for GPU passthrough, perhaps we should allow this to be set as an option in the GPU section?

[code]

[2020-04-16 14:42] rmohr commented on #3285
Does anyone know why nvidia requires this? I can find a lot of references which tell you to hide kvm, but why is that actually needed?

[2020-04-16 14:52] vladikr commented on #3285
perhaps they are not certified on kvm and don't allow the driver to load properly... I'm not sure.
I remember Alex added this a while ago : https://www.redhat.com/archives/libvir-list/2014-August/msg00744.html

[2020-04-17 13:20] salkin opened #3306 "Support SMBios in VMI spec"
**FEATURE REQUEST?**:

 /kind enhancement

**What happened**:
Smbios settings are global for kubevirt deployment our use case is to simulate different hardware ontop of kubevirt. As detection is done on manufacturer it should be possible to set SMBios options on VMI basis

[2020-04-18 20:27] EmilFurniga commented on #2912
/remove-lifecycle rotten

[2020-04-20 09:25] munnerz opened #3309 "Cannot start VM with GPU attached due to permissions error in /sys"
**Is this a BUG REPORT or FEATURE REQUEST?**:

(for lack of a better label for something that could definitely be user error!)
/kind bug

**What happened**:

I'm trying to make use of the GPU passthrough feature in KubeVirt, in combination with https://github.com/NVIDIA/kubevirt-gpu-device-plugin/.

I am able to boot VMs just fine, however, when adding the following to my `devices` config:

[code]