[2020-12-24 03:29] zxb789 commented on #4677
@gouyang

[2020-12-24 08:15] #3341 closed

[2020-12-24 09:10] gouyang commented on #4677
@fabiand @rmohr @dankenigsberg @davidvossel
zxb789 and I have a talk about the topic, both of us are interested in run a local community to get more local people's interests in kubevirt. Before we start it, we'd like to hear your voices on this. Is it good or is it bad?

Thanks,

[2020-12-24 09:46] dankenigsberg commented on #4677
It would be great to have a Chinese-language community call, and I would be happy to read its summary over kubevirt-dev. Please send the invite to that mailing list so anyone can join.

@zxb789, I'd love to hear more about your company and its use case for KubeVirt. You can provide it as a PR for  https://github.com/kubevirt/kubevirt/blob/master/ADOPTERS.md

[2020-12-24 09:53] zxb789 commented on #4677
@dankenigsberg thanks for your reply , I have provided my team's use case as a PR

[2020-12-24 11:13] dankenigsberg commented on #4677
@zxb789 can you add a url to your pr? I cannot find it.

[2020-12-24 11:17] #3828 closed

[2020-12-24 11:39] zxb789 commented on #4677
@dankenigsberg sorry, has a mistake just now ,following is my pr:  https://github.com/kubevirt/kubevirt/pull/4713, 3ks

[2020-12-24 12:13] #3924 closed

[2020-12-24 13:19] AlonaKaplan opened #4715 "[flaky ci] Creating a VirtualMachineInstance when virt-handler is not responsive [test_id:1634] - virt-handler not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.4-e2e/1341942352272429056

tests/vmi_lifecycle_test.go:581
Should get virthandler client
Unexpected error:
    <*errors.errorString | 0xc002148600>: {
        s: "No virt-handler on node ci-op-xpqg518b-001db-9b4vr-master-0 fou

[2020-12-24 13:43] AlonaKaplan opened #4716 "[flaky ci] VM Live Migration Starting a VirtualMachineInstance with a shared ISCSI Filesystem PVC (using ISCSI IPv4 address) [test_id:3238]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3479/pull-kubevirt-e2e-k8s-1.19/1341358770105618434

 [test_id:3238]should migrate a vmi with UNSAFE_MIGRATION flag set [It]
15:18:43:       tests/migration_test.go:648
15:18:43:
15:18:43:       Timed out after 240.000s.
15:18:43:       Time

[2020-12-24 13:47] AlonaKaplan opened #4717 "[flaky ci] VM Live Migration with a live-migrate eviction strategy set with a VMI running with an eviction strategy set [test_id:3242]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4710/pull-kubevirt-e2e-k8s-1.17/1341726342290345986

tests/migration_test.go:1504
Timed out after 360.000s.
Unexpected error:
    <*errors.errorString | 0xc000ba33a0>: {
        s: "VMI is still on the same node",
    }
    VMI is still on t

[2020-12-24 13:50] AlonaKaplan opened #4718 "[flaky ci] VirtualMachine An invalid VirtualMachine given with a PVC from a Datavolume [test_id:4643]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4710/pull-kubevirt-e2e-k8s-1.19/1341726342298734593

tests/vm_test.go:143
Timed out after 30.000s.
Error: Unexpected non-nil/non-zero extra argument at index 1:
	<*errors.StatusError>: &errors.StatusError{ErrStatus:v1.Status{TypeMeta:v1.Type

[2020-12-24 13:55] AlonaKaplan opened #4719 "[flaky ci] Creating a VirtualMachineInstance [Serial]with node tainted [test_id:1635]the vmi with tolerations should be scheduled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4710/pull-kubevirt-e2e-k8s-1.17/1341915356280655873

tests/vmi_lifecycle_test.go:689
There should be some compute node
Expected
    <[]v1.Node | len:0, cap:0>: []
not to be empty
tests/vmi_lifecycle_test.go:691

**What you expected to happen

[2020-12-24 13:55] AlonaKaplan opened #4720 "[flaky ci] Creating a VirtualMachineInstance when virt-handler is not responsive [test_id:1634]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4710/pull-kubevirt-e2e-k8s-1.17/1341915356280655873

tests/vmi_lifecycle_test.go:630
Expected
    <string>:
to equal
    <string>: NodeUnresponsive
tests/vmi_lifecycle_test.go:663

**What you expected to happen**:

**How to reproduce it (as

[2020-12-24 13:56] AlonaKaplan opened #4721 "[flaky ci] DataVolume Integration with oc/kubectl [test_id:836] Creating a VM with DataVolumeTemplates should succeed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4710/pull-kubevirt-e2e-k8s-1.17/1341915356280655873

tests/datavolume_test.go:439
Timed out after 160.000s.
Unexpected error:
    <*errors.errorString | 0xc0028d59e0>: {
        s: "Waiting on VMI to enter running phase",
    }
    Waiting o

[2020-12-24 14:03] AlonaKaplan commented on #4665
link to the same error - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4710/pull-kubevirt-e2e-windows2016/1341915356289044480

[2020-12-24 15:03] AlonaKaplan commented on #4717
/triage build-watcher

[2020-12-24 21:30] #3134 closed

[2020-12-25 08:36] bugrahanceran commented on #2307
@Apokleos can you please share windows image based container disk link?

[2020-12-25 09:42] #3847 closed

[2020-12-25 09:42] #3745 closed

[2020-12-26 00:48] gouyang commented on #4677
@dankenigsberg Thank you. We will try to run the Chinese-language community call to see how far we can get.

[2020-12-28 08:41] rmohr commented on #2978
/reopen

We still lack a simple curl-oneliner to always get the latest version, which we can use universally in our user-guides and blogs.

[2020-12-28 08:41] rmohr commented on #2978
/remove-lifecycle rotten
/lifecycle frozen

[2020-12-28 21:23] sseetharaman6 commented on #4687
In the virt-launcher pod:
[code]
In the VM:
[code]

[2020-12-29 00:00] #4590 closed

[2020-12-29 08:10] rmohr opened #4725 "[api doc] addvolume and removevolume have no body in our api reference"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://kubevirt.io/api-reference/v0.36.0/operations.html#_vm-addvolume has no body. The generated API doc is incomplete.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):

[2020-12-29 08:11] rmohr commented on #4725
/assign @awels

[2020-12-30 04:29] winkee01 commented on #4684
hi, can someone take a look into this issue? much appreciated

[2020-12-30 10:07] dhiller opened #4729 "k8s 1.20 fails on IPV6 tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A test run of the new 1.20 lane failed with some test failures for IPV6:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4662/pull-kubevirt-e2e-k8s-1.20/1344200275589599232

/cc @phoracek @qinqon

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as pos

[2020-12-30 15:31] rupeshr9 opened #4731 "Error from server (InternalError): error when creating "vmi.yml": Internal error occurred: failed calling webhook "virtualmachineinstances-create-validator.kubevirt.io": Post https://virt-api.kubevirt.svc:443/virtualmachineinstances-validate-create?timeout=4s: context deadline exceeded this is with k3s and kube virt together."
**Is this a BUG REPORT

We are using sing k3s and kubevirt together to use containerization and virtualization together. and we are geeting this error when we dont have internet connection

Error from server (InternalError): error when creating "vmi.yml": Internal error occurred: failed calling webhook "virtualmachineinstances-create-validator.kubevirt.io": Post https://virt-api.kubevirt.svc:443/v

[2020-12-30 15:32] rupeshr9 opened #4732 "error while creating vmi"
**Is this a BUG REPORT

We are using sing k3s and kubevirt together to use containerization and virtualization together. and we are geeting this error when we dont have internet connection

Error from server (InternalError): error when creating "vmi.yml": Internal error occurred: failed calling webhook "virtualmachineinstances-create-validator.kubevirt.io": Post https://virt-api.kubevirt.svc:443/v

[2020-12-30 21:10] alonSadan commented on #4642
seeing this also in the vlan test, where a ping is also asserted. for example:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4708/pull-kubevirt-e2e-kind-1.17-sriov/1344291381077610497

vlan test was xfail in the meanwhile:
https://github.com/kubevirt/kubevirt/pull/4733

[2020-12-31 08:02] lixiaobing1 opened #4734 "1"

[2020-12-31 17:42] orenc1 commented on #4103
Again on Dec.29th:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4714/pull-kubevirt-e2e-k8s-1.17/1343585461200752640

[2020-12-31 17:47] orenc1 commented on #4689
Another recurrence - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4704/pull-kubevirt-e2e-k8s-cnao-1.19/1343579183988609024

[2020-12-31 19:45] #3535 closed

[2021-01-01 01:04] #4515 closed

[2021-01-01 01:04] #4615 closed

[2021-01-01 11:54] #4690 closed

[2021-01-01 11:54] #4691 closed

[2021-01-01 12:55] #4692 closed

[2021-01-01 13:56] #4650 closed

[2021-01-01 14:57] #4694 closed

[2021-01-01 16:40] dankenigsberg commented on #4731
@rupeshr9 would you please share your vmi.yaml as well of the other requested data under "Environment"?

[2021-01-01 18:05] #3933 closed

[2021-01-03 08:45] orenc1 commented on #4103
/reopen

[2021-01-03 14:38] #3907 closed

[2021-01-03 16:34] #4700 closed

[2021-01-03 16:34] #4701 closed

[2021-01-03 17:41] #3842 closed

[2021-01-03 18:42] #3948 closed

[2021-01-04 02:10] chendave commented on #2948
/cc @zhlhahaha  is that image already supported on ARM?

[2021-01-04 02:19] zhlhahaha commented on #2948
Not yet. Please refer to the patch https://github.com/kubevirt/kubevirt/pull/3415

[2021-01-04 17:50] #4543 closed

[2021-01-04 19:28] davidvossel commented on #4687
[code]

yep i get what's going on. Looking at the code we parse that ```/usr/bin/cat /sys/fs/cgroup/cpuset/cpuset.cpus``` file and build a list of cpus, that list is in order based on the entries in the cpuset.cpus file and not what core each vcpu belongs to.

to fix this, we need to parse the ```/proc/cpuinfo``` file in order to understand what core each vcpu belongs to

[2021-01-04 23:23] sseetharaman6 commented on #4687
@davidvossel , `lscpu -p=cpu,core,node` could help simplify as well.

[2021-01-05 09:05] #4509 closed

[2021-01-05 09:15] dhiller commented on #4729
Version bump of kubevirtci done here: kubevirt/kubevirt#4662

[2021-01-05 10:31] phoracek commented on #4729
The API of services has changed in 1.20. Instead of ipFamily, we have ipFamilies.

https://kubernetes.io/docs/concepts/services-networking/dual-stack/

/assign @maiqueb

[2021-01-05 11:14] maiqueb commented on #4729
Do we want to take this opportunity to define the preferred IP family to IPv6 ? @phoracek / @AlonaKaplan / @EdDev

[2021-01-05 11:27] phoracek commented on #4729
Meaning that all services on our CI would go over IPv6 unless said otherwise? I'd imagine that our main audience is still on IPv4 default. I think that keeping IPv4 well tested has higher priority than covering "niche" IPv6.

[2021-01-05 13:59] KostadinKrushkov opened #4748 "VMs are stuck in scheduling due to 0/2 nodes are available: 2 Insufficient devices.kubevirt.io/kvm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried to launch a virtual machine, but it gets stuck in scheduling. Bug is simmilar to [1316](https://github.com/kubevirt/kubevirt/issues/1316)
**What you expected to happen**:
The VM to be scheduled and then started. Describing the vmi I can see:
`Message:               0/2 nodes are available: 1 Insufficient devices.k

[2021-01-05 14:06] vladikr commented on #4748
As you can see from the virt-handler log, it seems that `/dev/kvm` is not present on the node.

```{"component":"virt-handler","level":"warning","msg":"device '/dev/kvm' is not present, the device plugin can't expose it.","pos":"generic_device.go:315","timestamp":"2021-01-05T13:42:07.255711Z"}```

Could you please verify that the kvm module is loaded?
`lsmod|grep kvm`

[2021-01-05 14:28] KostadinKrushkov commented on #4748
Hi @vladikr, yes I saw that but in the next message it was found:
{"component":"virt-handler","level":"warning","msg":"device '/dev/kvm' is not present, the device plugin can't expose it.","pos":"generic_device.go:315","timestamp":"2021-01-05T13:42:07.255711Z"}
{"component":"virt-handler","level":"info","msg":"device '/dev/kvm' is present.","pos":"generic_device.go:318","timestamp":"2021-01-05T13:

[2021-01-05 14:55] vladikr commented on #4748
great, I didn't notice.

Can you please post the output of `kubectl describe nodes`?

[2021-01-05 15:00] KostadinKrushkov commented on #4748
@vladikr Thanks for responding quickly.

kubectl describe nodes
Name:               <worker node>
Roles:              <none>
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/arch=amd64
                    kubernetes.io/hostname=<worker node>
                    kubernetes.io/os=linux
                    kubevirt.io/

[2021-01-05 15:07] #4317 closed

[2021-01-05 16:09] vladikr commented on #4748
Thank you for the output.

[code]

Seems that there are no allocatable kvm devices available on the worker node.
This may happen if the device plugin decides that the provided device is not healthy.
When the device is re-appears it should be set as healthy again.
We log it as:                     logger.Infof("monitored device %s appeared", dpi.deviceName)

However,  from these logs, I see that th

[2021-01-05 17:02] KostadinKrushkov commented on #4748
I believe I found the error but I don't have time to test it today. The server I've installed the virual machine on does not seem to support nested virtualization. I will Investigate and update this tomorrow.

[2021-01-06 11:01] dhiller commented on #4729
Please note that the 1.20 lane is available, but does not report to GitHub yet. At the moment the only way to find test runs is via Prow.

Examples:
* https://prow.apps.ovirt.org/?job=pull-kubevirt-e2e-k8s-1.20
* https://prow.apps.ovirt.org/pr-history/?org=kubevirt&repo=kubevirt&pr=4662

[2021-01-06 14:49] KostadinKrushkov commented on #4748
@vladikr Yes as I guessed the problem was with the node, for some reason the nested virtualization wasn't working properly. Creating new node on another server with working kvm nested virtualization worked. Thank you

[2021-01-06 14:49] #4748 closed

[2021-01-07 09:12] fgimenez commented on #4689
Same on IPv4 IP family https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4581/pull-kubevirt-e2e-k8s-1.18/1346378629180821504

[2021-01-07 10:01] #2902 closed

[2021-01-07 14:58] #4716 closed

[2021-01-07 14:58] #4721 closed

[2021-01-07 14:58] #4719 closed

[2021-01-07 14:59] #4718 closed

[2021-01-07 14:59] #4665 closed

[2021-01-07 15:59] #4717 closed

[2021-01-07 16:38] mel1nn opened #4762 "Cannot login with cloud init credentials into Ubuntu VM"
/kind bug

**What happened**:

I created a datavolume composed of an Ubuntu 20.04 cloud image (https://cloud-images.ubuntu.com/focal/20201210/focal-server-cloudimg-amd64.img). Then I create the VMI that references this datavolume with a cloud init config that specifies username and password but when I want to login using the `virtlctl console` command, it tells me that the login is incorrect.

Her

[2021-01-07 23:14] #3638 closed

[2021-01-08 02:52] MarkSpencerTan opened #4764 "PVCs for the same VM getting assigned to different nodes"
/kind bug

**What happened**:
After a couple VMs have been deployed in our cluster that's using persistent storage, the VMs got stuck in Scheduled state and pods were reporting "volume node affinity conflict" error messages. We're not yet hitting any sort of cpu/memory restriction yet but we seem to be hitting a limit somewhere since if I were to delete a couple of VMs the VM would deploy as usual

[2021-01-08 04:46] MarkSpencerTan commented on #4764
I noticed that there's some disk image pvcs for the same VM that are assigned in different Nodes for some reason. Is this okay?

For example, for one of the VMs, disk 1' pvc has the `volume.kubernetes.io/selected-node` set to worker node 2, whule disk 2's pvc is for node 4... Is this expected?

[2021-01-08 09:28] fgimenez commented on #4689
It is pretty easy to reproduce by executing `test_id:1536` in a loop, after a few executions the jobs that checks the UDP connection gets stuck, its logs look like:
[code]
In a successful execution, the logs of the completed job look like:
[code]
It seems that the problem comes from the code here https://github.com/kubevirt/kubevirt/blob/master/tests/job.go#L132 in some cases the local UDP listene

[2021-01-08 11:44] dhiller commented on #4715
/reopen

Seen on OpenShift CI here: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.8-e2e/1347378044184039424

[2021-01-08 12:19] mfranczy opened #4767 "Report data from guest agent to VMI status field"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What you expected to happen**:
KubeVirt reports all crucial data from guest agent, this is a follow up on the discussion at https://github.com/kubevirt/kubevirt/pull/4217 and https://github.com/kubevirt/kubevirt/pull/4217#issuecomment-707126962

[2021-01-08 12:21] mfranczy commented on #4767
@rmohr @EdDev @AlonaKaplan would you like to have more fields reported than CIDR?
Should I create another struct called `GuestAgentInfo` (or something like this)? Let's continue the discussion https://github.com/kubevirt/kubevirt/pull/4217#issuecomment-707126962 here.

[2021-01-08 12:21] mfranczy commented on #4767
/assign @mfranczy

[2021-01-08 12:28] mfranczy opened #4768 "CRD REST coverage tool stopped working and artifacts are no longer uploaded"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
CRD coverage tool stopped working

**What you expected to happen**:
coverage artifacts are being uploaded after tests again

**Anything else we need to know?**:
after the bugfix we should merge https://github.com/kubevirt/project-infra/pull/726

the main reasons why the tool stopped working are:
* report is not being gene

[2021-01-08 12:28] mfranczy commented on #4768
/assign @mfranczy

[2021-01-08 12:29] mfranczy commented on #4768
/cc @dhiller @fgimenez

[2021-01-10 08:00] oshoval commented on #3886
In case it helps, while running the multi sriov POC it happened
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_project-infra/822/rehearsal-pull-kubevirt-e2e-kind-1.17-sriov/1348156475482050563

assuming its not due to the POC, nor cross talk hopefully, but because of the stress the POC does on the machine.

The counter part jobs which ran on the same time finished success

[2021-01-10 21:05] arvin-a opened #4776 "virtctl image-upload fail using raw images"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

**What happened**:
When attempting to upload a raw image using virtctl it always fails complaining about the image size being bigger than the PVC size. Regardless of the size specified the required size is always slightly more.

Example:
└──╼ virtctl image-upload dv fedora-rbd-raw2 --size=40G --storage-class=ocs-storagecluster-ceph-rbd --image-

[2021-01-11 09:44] EdDev commented on #4767
Hi @mfranczy , I would like to see the existing structs through which we parse the guest agent data be expose to the VMI status under a guest agent info subtree.

IMO all available data we current handle should be exposed there, but I will be glad to see at the minimum the interfaces ones: https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/virtwrap/agent-poller/agent_parser.go#L23

[2021-01-11 15:29] brybacki commented on #4601
The PR #4779 solves part of the problem. It informs user about the system state.

Now I wonder if we can update some documentation (but I cannot find one for virtctl image-upload) or provide a new doc with more info about working with upload and WFFC storage.

[2021-01-11 17:17] MarkSpencerTan commented on #4764
Seems like that is the issue why the pods are getting stuck is because of the PVCs not being bound to the same node for the same VM. I noticed the new version of kubevirt has a fix for a CDI issue: [PR #4025][brybacki] Adds a special handling for DataVolumes in WaitForFirstConsumer state to support CDI's delayed binding mode.

Can anyone confirm this will fix my issue? Or is it completely unrelate

[2021-01-11 20:55] MarkSpencerTan commented on #4764
Deployed version 0.36.0 of kubevirt and the issue still persists

[2021-01-11 20:56] MarkSpencerTan commented on #4762
there's not an existing user already called user in the image right? I found that I had to create a brand new user for the cloudconfig login to work properly on my ubuntu image.

[2021-01-12 01:52] MarkSpencerTan commented on #4764
found out I had to enable feature gates for CDI to allow for WaitForFirstConsumer:

[code]

[2021-01-12 01:52] #4764 closed

[2021-01-12 06:26] ezio-auditore opened #4781 "Enable discard=unmap in vm xml for reclaiming space when using ceph rbd images."
**Is this a BUG REPORT or FEATURE REQUEST?**:

  /kind enhancement

**What happened**:
Ceph-rbd images are thinly provisioned and after mounting in a vm(filesystem or block) they expand accordingly. After deleting files from the images the image size remains the same and thus ends up filling up the storage pool. Fstrim on the mounts also doesn't discard the expanded filesystem.

**What you expecte

[2021-01-12 06:52] zhlhahaha opened #4782 "make rpm-deps error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
**What you expected to happen**:
`make rpm-deps` run success

**How to reproduce it (as minimally and precisely as possible)**:
`make rpm-deps`

**Environment**:
- OS (e.g. from /etc/os-release): Ubuntu 20.04 LTS
- Kernel (e.g. `uname -a`): Linux entos-x86-desktop-03 5.9.0+
- Git commit: 5df851b3cb4611eee39e3fe2ebaa99361e0e5d

[2021-01-12 06:53] zhlhahaha commented on #4782
@rmohr

[2021-01-12 07:26] zhlhahaha commented on #4782
Hi Roman, I found the repomd.xml sha256 is under tag <mm0:alternate> as following image, and bazeldnf only use the first sha256 to verify repomd.xml.
![image](https://user-images.githubusercontent.com/5655282/104282814-8ecfde00-54ea-11eb-84c8-4cddea4e794f.png)

[2021-01-12 08:39] #4762 closed

[2021-01-12 08:43] zhlhahaha commented on #4782
/assign @rmohr

[2021-01-12 09:03] dhiller commented on #4715
This is no longer a failing test, it fails every time for a while now: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.8-e2e/1348827553007144960

[2021-01-12 09:16] rmohr commented on #4782
Thanks. I think this is fine. I intentionally want to use the latest state. The alternative ones represent older states. I think the main issue was that not every mirror url which you get represented necessarily has the latest state mirrored already. I did not properly check the http return code and created the shasum of a 404 response. Instead the code should just go on to the next mirror urls.

[2021-01-12 09:18] zhlhahaha commented on #4782
Thanks, clear explanation. I will close this issue.

[2021-01-12 09:21] #4782 closed

[2021-01-13 10:33] MarkSpencerTan opened #4797 "Issue downgrading from v0.36.0"
/kind bug

**What happened**:

I tried to downgrade from v0.36.0 to v0.35.0 by updating the kubevirt-operator.yaml but it only seemed to update the kubevirt-operator pods and not the others. Seemed to have gotten stuck at the kubevirt-cr.

Attaching describe logs from the kubevirt CR:
https://gist.github.com/MarkSpencerTan/676eea2e2f01ae733ff6a9766ab7f68f

**What you expected to happen**:
the kube

[2021-01-13 10:33] rmohr commented on #4797
@davidvossel @ashleyschuett FYI

[2021-01-13 11:03] ksimon1 commented on #3389
The labels `feature.node.kubernetes.io` are used, because node-labeller was developed as a simple replacement for node-feature-discovery (https://github.com/kubernetes-sigs/node-feature-discovery#node-feature-discovery) and NFD is using `feature.node.kubernetes.io` labels. In the beginning of labeller we wanted to stay in complience with official NFD, so we could in the future deprecate labeller a

[2021-01-13 11:32] rmohr commented on #3389
Since we provide all this info based on versions which we need, without wanting to depend on updates going into NFD or not, I would suggest our own labels.

[2021-01-13 11:34] rmohr commented on #3389
Are we in contact with NFD people regarding this?

[2021-01-13 13:12] rthallisey commented on #2076
/reopen

[2021-01-13 13:51] davidvossel commented on #4797
If you want to downgrade, the only option that we can reliably make work is for you to continue to use the 0.36.0 operator to downgrade /install the older v0.35.0 version of kubevirt. This would be accomplished by editing the kubevirt CR's `kubectl get kubevirt -n kubevirt kubevirt` image tag to point to v0.36.0.

Example:

[code]

The reason for this is that the operator's rbac has to have permis

[2021-01-13 15:13] alicefr opened #4799 "Enable to set the error policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Libvirt has the field error policy and this defines how qemu is going to treat IO errors. More details in the [libvirt documentation](https://libvirt.org/formatdomain.html). The possible values are :
  - stop
  - report
  - ignore
  - enospace

Currently, the value is not set and the default is `report`.

I tried l

[2021-01-13 15:20] phoracek commented on #4781
/assign @mhenriks

[2021-01-13 15:22] phoracek commented on #4776
Looks like a difference between giga bytes and gibibytes, could you  try specifying a bigger PVC?

/assign @mhenriks

[2021-01-13 15:24] phoracek commented on #4734
/assign @rmohr

[2021-01-13 15:24] rmohr commented on #4734
@lixiaobing1 does your VM support ACPI triggered shutdown?

[2021-01-13 15:32] phoracek commented on #4732
Duplicates #4731

[2021-01-13 15:32] #4732 closed

[2021-01-13 15:32] phoracek commented on #4731
@rupeshr9 could you please verify that connectivity within the cluster works fine?

[2021-01-13 15:34] rmohr commented on #4731
This could be related: https://github.com/jetstack/cert-manager/issues/2811

[2021-01-13 15:50] davidvossel commented on #4711
I'm hesitant to add logic that live propagates the VM label/annotations to a running VMI.  The VM is meant to represent the offline config of the VM which can be mutated independently of a currently running VMI.

I wouldn't have an issue with having the VMI labels/annotations propagate to the launcher pod though.

Would this help your use case? It would simply mean updating the annnotation on the

[2021-01-13 15:55] haslersn commented on #4711
No, because propagating from the VMI to the launcher pod does never occur if the VMI is immutable.

[2021-01-13 16:01] haslersn commented on #4711
I guess it's better to not have this feature, because other aspects of the VMI also are not updated.

[2021-01-13 16:01] fgimenez commented on #4103
5 more occurrences in the last 10 days, usually paired with a failure in test_id:1534:
https://prow.k8s.io/view/gcs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.17/1345380679688392704
https://prow.k8s.io/view/gcs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.17/1346076642933477376
https://prow.k8s.io/view/gcs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.17/134802951

[2021-01-13 16:19] davidvossel commented on #4711
The VMI's labels/annotations should be mutable. It's only the VMI's spec that is not allowed to mutate after creation.

[2021-01-13 16:22] haslersn commented on #4711
Ah, so you were referring to someone manually mutating the labels/annotations via `kubectl patch`. Okay, I don't do such things, because I prefer to have resources that are either fully managed by an operator or fully self-manager (via `kubectl apply` or GitOps etc.). But maybe that's useful for somebody else, so I reopen.

[2021-01-13 16:27] haslersn commented on #4711
Maybe another approach is to propagate labels/annotations from the VM to the VMI. No, I'm not talking about the `vm.spec.template.metadata.annotations` but rather about the `vm.metadata.annotations`. This way the user could choose:

- label/annotate `vm.spec.template.metadata` -> no live update
- label/annotate `vm.metadata` -> live update

[2021-01-13 16:41] vladikr commented on #4734
In a normal virt-launcher creation flow, a new container is created, being configured and marked as ready.
Then it waits for virt-handler to start a VM.

It seems, in this case, virt-launcher was `Marked as ready`, but either there was no command from virt-handler to start a vm or the vm just crashed immediately.

We'll probably need to look at the virt-handler logs, from the node where this virt-

[2021-01-13 17:57] MarkSpencerTan commented on #4797
@davidvossel thank you for your response, I tried adding the imageTag to the kubevirt cr, it deployed a kubevirt pod to the kubevirt namespace, succeeded and exited, however it didn't deploy the new versions to the other kubevirt components.

https://gist.github.com/MarkSpencerTan/accd28d8fce97eed787d757db1e7bafa

[2021-01-13 20:30] MarkSpencerTan opened #4800 "Issue with extra disks behaving differently after v0.36.0 update"
/kind bug

**What happened**:
After I updated Kubevirt from v0.35.0 to v0.36.0, I noticed issues with my VM not able to properly format/mount the primary and secondary disks I've added to the VM. There's a bootloader disk that has the main kernel/os that is responsible for formatting and mounting the said disk and it failed to do so. I was wondering what was a change in v0.36.0 that could have cau

[2021-01-13 20:34] davidvossel commented on #4797
are you positive that the virt-operator installed on your cluster is v0.36.0? This error is what i'd expect with the v0.35.0 operator trying to transition an install from v0.36.0 to v0.35.0

[2021-01-13 21:16] MarkSpencerTan commented on #4797
@davidvossel ahhh I didn't know the operator had to be v0.36.0! It was still v0.35.0 when I tried to downgrade by updating the kubevirt-operator route.

Was able to get it downgraded by doing the following:
1. upgraded kubevirt-operator to v0.36.0 again
2. added imageTag: v0.35.0 on kubevirt-cr
3. manually downgraded the kubevirt-operator to v0.35.0 (I guess the imageTag doesn't downgrade the oper

[2021-01-13 21:16] #4797 closed

[2021-01-13 21:42] MarkSpencerTan commented on #4800
Updated v0.32.0 gist to v0.35.0 gists

[2021-01-13 22:21] MarkSpencerTan commented on #4800
tried to override machine type to: pc-q35-rhel8.2.0 since that was one of the diffs from the domain, but it didn't do anything

[2021-01-13 22:35] #3442 closed

[2021-01-13 22:43] tliron commented on #3442
Can we please reopen this?

[2021-01-14 08:27] rmohr commented on #4565
@lixiaobing1 since https://github.com/kubevirt/kubevirt/pull/4703 the image is at least smaller. It has now roughly 600M instead of 800M. I guess there is some potential with explicit excludes from the resolved RPMs to make it smaller, but I don't know how much potential we have there.

@andreabolognani FYI.

[2021-01-14 08:27] rmohr commented on #4565
@crobinso FYI

[2021-01-14 09:56] alicefr commented on #4799
If I set the error_policy to `stop`, the VM is paused in libvirt.
More details:
Diff:
[code]
Setup:
For simplicity create single node cluster with `make cluster-up`.
Create a faulty disk:
[code]
Apply these yamls:
- faulty-disk.yaml:
[code]
- faulty-vm.yaml:
[code]
After you create the VM:
[code]

[2021-01-14 12:38] awels commented on #4610
So IMO the problem is in the article. The article suggests using --access-mode=ReadOnlyMany which is readonly, there is no possible way one can upload a file to a read only volume.

[2021-01-14 12:41] awels commented on #4635
This is fixed by https://github.com/kubevirt/kubevirt/pull/4761

[2021-01-14 12:41] #4635 closed

[2021-01-14 13:08] mhenriks commented on #4776
Yeah, try `--size=40Gi`

[2021-01-14 15:08] ezrasilvera opened #4805 "Remove the docs directory from PR testing"
/kind enhancement

**What happened**:
When changing MD files under docs directory all tests are triggered.

**What you expected to happen**:
Don't run code/functional test tests on document changes

[2021-01-14 15:09] ezrasilvera commented on #4805
/cc @dhiller

[2021-01-14 22:48] mlsorensen opened #4809 "Admission blocks integers in CPU and memory resources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The validation of VM yaml now blocks integers. This isn't a huge issue but it is making users need to go "fix" yaml and it behaves differently from other resources.

The OpenAPIv3 schema for the VirtualMachine and VirtualMachineInstance CRDs seem to allow integers or strings per standard Kubernetes APIs. Yet kubevirt val

[2021-01-15 02:16] zhlhahaha opened #4811 "make bazel-build-images failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`make bazel-build-images` failed

[code]

**What you expected to happen**:
`make bazel-build-images` success

**How to reproduce it (as minimally and precisely as possible)**:
Get the master branch, and run `make bazel-build-images`

**Environment**:
- OS (e.g. from /etc/os-release): ubuntu 18.04
- Kernel (e.g. `uname -a`)

[2021-01-15 03:02] zhlhahaha opened #4813 "make cluster-up failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`make cluster-up` get following error
[code]

**What you expected to happen**:
`make cluster-up` run success

**How to reproduce it (as minimally and precisely as possible)**:
pull the master branch, and run `make cluster-up`

**Environment**:
- OS (e.g. from /etc/os-release): ubuntu 18.04
- Kernel (e.g. `uname -a`): Linux

[2021-01-15 06:01] xpivarc commented on #4813
@zhlhahaha can you make sure you don't have any running or even leftover containers(`docker ps -a`)?

[2021-01-15 06:07] vasiliy-ul commented on #4813
I faced similar problem with `SIGSEGV` a couple of times. In my case running `make cluster-down` and then `make cluster-up` solved the issue. Looks like there were some remaining leftovers from my prev cluster session which were preventing to bring up a new one. According to my observations that happens e.g. if you reboot the host machine while the cluster is still running (without shutting it dow

[2021-01-15 06:07] zhlhahaha commented on #4813
Yes you are right. After I clear up all container. `make cluster-up` works fine now.

[2021-01-15 06:07] #4813 closed

[2021-01-15 06:09] xpivarc commented on #4809
I think the issue might be fixed by `https://github.com/kubernetes/kube-openapi/pull/221` and also the issue is probably in this dependency. We need to check if we updated this dependency recently. @mlsorensen thanks for the last known version where it works!

[2021-01-15 07:49] zhlhahaha commented on #4811
Can be overcame by run following commands
[code]

[2021-01-15 07:49] #4811 closed

[2021-01-15 11:19] phoracek commented on #4731
There is a workaround described in another k3s issue: https://github.com/kubevirt/kubevirt/issues/4568

[2021-01-15 11:27] maiqueb commented on #4094
/close

[2021-01-15 11:27] #4094 closed

[2021-01-15 13:13] #3908 closed

[2021-01-15 19:02] mlsorensen commented on #4809
Cool, thanks for pointing that out.  I was going to see if I could test that out quickly but it seems it may be a bit tricky to upgrade the version of this module given changes in dependent/related modules, I can get past some of it by upgrading openshift/kubernetes modules to v0.19 but it looks like that has its own issue missing "auditregistration/v1alpha1"...

[2021-01-16 23:07] Redo11 commented on #2470
you are really dragging this one out

[2021-01-17 19:27] yhaenggi commented on #2470
/remove-lifecycle rotten

[2021-01-18 08:18] imluyuan commented on #4677
cool

[2021-01-18 11:04] andreabolognani opened #4825 "Drop libvirt-daemon-driver-storage for libvirt v6.9.0+"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

As of libvirt 6.9.0, the QEMU driver no longer unnecessarily depends on the storage driver, and so it should be possible to stop including the `libvirt-daemon-driver-storage-core` package in containers once a newer libvirt version is imported.

**Anything else we need to know?**:

Original issue: https://github.c

[2021-01-18 12:38] maya-r opened #4827 "[flaky CI]Infrastructure Start a VirtualMachineInstance when the controller pod is not running and an election happens [test_id:4642]should succeed afterwards"
/kind bug
/triage build-watcher

In the following run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4808/pull-kubevirt-e2e-k8s-1.18/1350662934186954753

This test was the sole failure. It's likely flaky.

[2021-01-18 13:07] maya-r commented on #4698
/reopen
happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4806/pull-kubevirt-e2e-k8s-1.19/1349758796997595136

[2021-01-18 13:12] maya-r opened #4828 "[flaky CI]Should create a ClusterIP service on VMRS and connect to it over IPv6 IP family"
/kind bug
/triage build-watcher

(This was flaky in 2019 too, but I am making a new issue because the failure doesn't seem to be the same and it has been a while)
Failed here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4779/pull-kubevirt-e2e-k8s-1.17/1350646828177035265

websocket: bad handshake

[2021-01-18 13:16] maya-r opened #4829 "[flaky CI][rfe_id:3106]Alpine PVC should be successfully started with NFS Disk PVC using ipv6 address of the NFS pod expand_more"
/kind bug
/triage build-watcher

Failed in the following run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4779/pull-kubevirt-e2e-k8s-1.18/1350903519170793472

[2021-01-18 13:20] maya-r opened #4830 "[flaky CI]Storage Starting a VirtualMachineInstance [rfe_id:2298] With HostDisk and PVC initialization With a HostDisk defined With 'DiskExists' type [test_id:2306]Should use existing disk image and start"
/kind bug
/triage build-watcher

Failed in this run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4806/pull-kubevirt-e2e-k8s-1.19/1350711756128784384

Unexpected Warning event received: testvmi-ntszw,6955d6a4-8510-4983-82d0-82597fa777d7: server error. command SyncVMI failed: "LibvirtError(Code=38, Domain=18, Message='Cannot access storage file '/var/run/kubevir

[2021-01-18 13:22] maya-r opened #4831 "[flaky CI]VM Live Migration Starting a VirtualMachineInstance migration monitor Should detect a failed migration"
/kind bug
/triage build-watcher

Failed in the following run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4816/pull-kubevirt-e2e-k8s-1.17/1350941521460858880

[2021-01-18 14:39] phoracek commented on #2942
@scuzhanglei you are right, we now have the precedent of https://github.com/kubevirt/kubevirt/pull/3112/files#diff-7cea0cc72a89ff86def413e0982f49cbbb527157a092cd507a336ced23b7ce2aR153. It would be worth consideration to enable it on IPv4 too and not depend on the CNI.

@AlonaKaplan since we already set `net.ipv6.conf.all.forwarding=1`, is anything against extending it to `net.ipv4.ip_forward=1`, s

[2021-01-18 15:10] maya-r commented on #4715
Failing on kubernetes:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4816/pull-kubevirt-e2e-k8s-1.17/1351033626933858304
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4816/pull-kubevirt-e2e-k8s-1.17/1350792286249684992

[2021-01-18 15:13] maya-r opened #4833 "[flaky CI]Creating a VirtualMachineInstance [Serial]with node tainted [test_id:1635]the vmi with tolerations should be scheduled"
/kind bug
/triage build-watcher

Failed here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4816/pull-kubevirt-e2e-k8s-1.17/1351033626933858304
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4816/pull-kubevirt-e2e-k8s-1.17/1350792286249684992
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4808

[2021-01-18 15:18] maya-r opened #4834 "[flaky CI]HookSidecars [rfe_id:2667][crit:medium][vendor:cnv-qe@redhat.com][level:component] VMI definition with SM BIOS hook sidecar should not start with hook sidecar annotation when the version is not provided"
/kind bug
/triage build-watcher

Failed here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4806/pull-kubevirt-e2e-k8s-1.17/1349789116002209792

could not retrieve the VMI pod: <nil>

[2021-01-18 15:19] maya-r opened #4835 "[flaky CI]Storage Starting a VirtualMachineInstance Run a VMI with VirtIO-FS and a datavolume should be successfully started and virtiofs could be accessed"
/kind bug
/triage build-watcher

Failed here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4806/pull-kubevirt-e2e-k8s-1.17/1349758796985012225

[2021-01-18 15:20] maya-r opened #4836 "[flaky CI][ref_id:1182]Probes for readiness should succeed [test_id:1202][posneg:positive]with working TCP probe and tcp server on ipv4"
/kind bug
/triage build-watcher

Failed here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4779/pull-kubevirt-e2e-k8s-1.17/1350742207136534528

[2021-01-18 15:21] maya-r opened #4837 "[flaky CI][rfe_id:609]VMIheadless [rfe_id:609]Creating a VirtualMachineInstance without headless [test_id:714][posneg:negative]should have one vnc graphic device in xml"
/kind bug
/triage build-watcher

Failed here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4816/pull-kubevirt-e2e-k8s-1.17/1350895466706898945

[2021-01-18 16:33] rmohr commented on #4649
/triage build-watcher

[2021-01-19 12:30] brybacki commented on #4715
again here:
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.8-e2e/1351364419715600384

[2021-01-19 12:57] bhkamath opened #4843 "v0.37.0 configmap and emulation variable incorrect ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

- kubevirt initiated testvm pod was always in pending state.
- virtctl console testvm failed to launch

**What you expected to happen**:

Expected to get console prompt of testvm

**How to reproduce it (as minimally and precisely as possible)**:

Installation of kubevirt 0.37.0; no additional configuration required.  How

[2021-01-19 17:21] #4541 closed

[2021-01-20 06:41] zhlhahaha commented on #3558
Hi @rmohr @davidvossel I have update the todo list at the begin of this Issue and add some tasks for crossbuild kubevirt.

Updated summary of current status for kubevirt on arm64.
1. With great support from @rmohr , bazeldnf works fine on ARM64 and `make rpm-deps` works well to auto-generate rpms informations.
2. Investigation on cross-build kubevirt for ARM64 on x86_64 server. And now blocked on

[2021-01-20 13:36] enp0s3 opened #4852 "[flaky CI][test_id:3145] operator upgrade test doesn't calculate the correct release tag for downgrade"
/kind bug
/triage build-watcher

**What happened**:
For cherry-picked PRs, the operator upgrade test doesn't consider current running KV release, therefore
it will take the latest upstream release tag although the current release may be later then the latest.
for example when running the CI lanes on a release-0.35 branch, the operator test will try to downgrade to release-0.37
which is the latest

[2021-01-20 15:42] #4649 closed

[2021-01-20 15:42] #4698 closed

[2021-01-20 15:44] phoracek commented on #4843
@bhkamath do your hosts support nested virtualization? The issue seems to be related to the lack of it.

[2021-01-20 15:47] phoracek commented on #4825
AFAIK we are currently using libvirt 6.6. Keeping this issue as a tracker.

[2021-01-20 15:52] phoracek commented on #4800
@mhenriks could you take a look?

[2021-01-20 16:04] andreabolognani commented on #4825
Yup, that was the intention :)

[2021-01-21 08:21] #3999 closed

[2021-01-21 09:20] mzzgaopeng opened #4858 "how to hot add disk in v0.36.0"
It is now possible to hotplug DataVolume and PVC volumes into a running Virtual Machine.

How do i dynamically add disks，in this version v0.36.0

[2021-01-21 09:46] dhiller commented on #4805
I have had a look at [Golang RE2 Syntax](https://github.com/google/re2/wiki/Syntax). This unfortunately does not support negative lookahead. So I don't see any easy solution to this (besides moving docs folder into another repo, which we surely do not want).

[2021-01-21 11:53] KostadinKrushkov commented on #4651
Hi @vladikr, could you possibly look into this ?

[2021-01-21 14:27] puckipedia opened #4861 "cgroups v2 silently breaks kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
VMIs get stuck on "Scheduled", and the pods backing the VMI keep restarting, with no error message.
The virt-handler errors out with "Could not detect slice of whitelisted controller: [devices]"

**What you expected to happen**:
VMs just work.

**How to reproduce it (as minimally and precisely as possible)**:
Run kubevirt

[2021-01-21 15:43] detiber commented on #3648
/remove-lifecycle rotten

[2021-01-21 15:44] detiber commented on #4207
/remove-lifecycle stale

[2021-01-21 17:16] bhkamath commented on #4843
I am not certain how I be able to inspect this support.  I have CentOS 7 on my Baremetal system with three virtual machines (also running CentOS 7).  These VM's were created using VMM.  Kubernetes platform was created over these virtual machines.

For experimentation purposes, I had installed kubevirt.  This is a scenario of Kubevirt-VM inside CentOS-7-VMM VM.

On modifying the key name in the sai

[2021-01-21 18:46] awels opened #4868 "[Flaky CI]ImageUpload Upload an image and start a VMI with PVC on rook-ceph [test_id:4621] Should succeed DataVolume expand_more"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
Test failed during run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4853/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1351899458278789120
Seems likely that the port-forward did not succeed.

**What you expected to happen**:

**How to reproduce it (as minimally and precis

[2021-01-21 18:50] awels commented on #4858
There is currently no cli way to do it. You have to do it programatically. An example of code doing this can be found in the functional tests. https://github.com/kubevirt/kubevirt/blob/master/tests/storage/hotplug.go#L79-L90 I am working on adding a new command to virtctl so you can do something like virtctl addvolume <vm_name> --volume-name=<name> to add it.

Also this currently only works with i

[2021-01-21 18:55] awels commented on #3610
New occurrences: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4853/pull-kubevirt-e2e-k8s-1.17/1351899458249428992 https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4853/pull-kubevirt-e2e-k8s-1.18/1351899458262011904 and https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4853/pull-kubevirt-e2e-k8s-1.

[2021-01-22 01:36] mzzgaopeng commented on #4858
can I use the hostpath pv to hotplug ehis datavolume

[2021-01-22 09:19] wavezhang opened #4869 "[Proposal] Possible to add VMImage CRD?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

As cluster admin, we want to simplify the creation process of vms. Users are from different namespaces want to create vms with common os releases easily.

**What you expected to happen**:

 I'm wondering if we could have cluster-wide VMImage CRD like following:
[code]
and OSDisk CRD to use VMImages like following

[2021-01-22 12:23] tomob commented on #4179
/reopen

[2021-01-22 12:23] tomob commented on #4179
Happened again:

* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4672/pull-kubevirt-e2e-k8s-1.17/1351463459878866944
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4672/pull-kubevirt-e2e-k8s-cnao-1.19/1350574855682002944

[2021-01-22 12:52] rmohr commented on #4052
/reopen
/remove-lifecycle stale

[2021-01-22 12:52] rmohr commented on #4052
/remove-lifecycle rotten

[2021-01-22 13:06] tomob commented on #4868
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4672/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1350881373799321602

[2021-01-22 14:08] awels commented on #4858
No for two reasons. 1 its WFFC, and 2 there is an issue where for hostpath the location I use to look up the file is not there. I have some ideas on how to solve this, and hopefully I will get to implement that soon, but for now it won't work.

[2021-01-22 14:31] mfranczy commented on #4768
@dhiller i've fixed the tool and released a new tag https://github.com/mfranczy/crd-rest-coverage/tree/v0.1.1, no I will take care of KubeVirt problems.

[2021-01-22 15:39] mfranczy commented on #4768
I think I should remove crd-rest-coverage implementation from KubeVirt itself and move it under kubevirt.io/qe-tools and create a rest coverage reporter there.

[2021-01-22 15:40] mfranczy commented on #4768
@dhiller wdyt?

[2021-01-22 16:53] #4037 closed

[2021-01-22 17:54] #4038 closed

[2021-01-24 04:29] #3330 closed

[2021-01-24 19:25] arnongilboa opened #4875 "[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with an Alpine DataVolume [test_id:3239]should reject a migration of a vmi with a non-shared data volume"
/triage build-watcher
/kind bug

**What happened**:
`[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with an Alpine DataVolume [test_id:3239]should reject a migration of a vmi with a non-shared data volume`

logs [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4865/pull-kubevirt-e2e

[2021-01-24 19:30] arnongilboa opened #4876 "[rfe_id:3423][crit:high][vendor:cnv-qe@redhat.com][level:component]VmWatch [test_id:3466]Should update vmi status with the proper columns using 'kubectl get vmi -w'"
/triage build-watcher
/kind bug

**What happened**:
`[rfe_id:3423][crit:high][vendor:cnv-qe@redhat.com][level:component]VmWatch [test_id:3466]Should update vmi status with the proper columns using 'kubectl get vmi -w'`

logs [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1353100369529409536)

**What you expected to happen**:

**How to reproduce i

[2021-01-24 19:34] arnongilboa opened #4877 "Configurations VirtualMachineInstance definition [Serial][rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with guestAgent [Serial]with cluster config changes VMI condition should signal unsupported agent presence"
/triage build-watcher
/kind bug

**What happened**:
`Configurations VirtualMachineInstance definition [Serial][rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with guestAgent [Serial]with cluster config changes VMI condition should signal unsupported agent presence`

logs [here](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4866/pull-kubevirt-

[2021-01-25 01:51] mzzgaopeng commented on #4858
I think is that hostpath is a local disk, which must first have pv and pvc, and then mount it to the vm by means of mounting

[2021-01-25 01:51] mzzgaopeng commented on #4858
I think is that hostpath is a local disk, which must first have pv and pvc, and then mount it to the vm by means of mounting

[2021-01-25 07:22] ksimon1 commented on #3389
No we are not. If we use our own labels, we need to solve the upgrade path, because if kubevirt will remove old labels, the VMs which uses the old format will be unschedulable.

[2021-01-25 08:54] nunnatsa opened #4881 "pkg/hooks/... uses the same proto file name"
/kind bug
In HCO functional tests, there is a warning:
[code]

This is because pkg/hooks/info/api.proto, pkg/hooks/v1alpha1/api.proto and pkg/hooks/v1alpha2/api.proto share the same file name, and that is not allowed and going to break the packages at a future release.

**What you expected to happen**:
Let's rename these files.

[2021-01-25 09:24] rmohr commented on #3389
We can't conflicth with NFD if we want to combine this. For the upgrade path, node labeller just needs to be uninstalled as the last bit. Our rollout works like this:

 1) virt-handler (it will establish the new labels, so both exist at the same time)
 2) virt-controller (only now it will use the new labels, and they are there  already)
 3) now you can uninstall the node labeller

[2021-01-25 09:48] dhiller commented on #4768
Makes total sense!

@qinqon FYI

[2021-01-25 15:41] rmohr commented on #4861
@puckipedia thanks.

[2021-01-25 15:54] crobinso commented on #4565
The `qemu-kvm` RPM has explicit deps on all modularized qemu subpackages, like qemu-kvm-block-{curl,gluster,iscsi,rbd,ssh}. `qemu-kvm-core` does not. If kubevirt isn't using some of those features, we could switch deps to `qemu-kvm-core` and explicitly add back modules that are needed.

Every time we update to a new qemu-kvm version it will need an audit though, as more bits are modularized. Work

[2021-01-25 16:37] rmohr commented on #4861
@vasiliy-ul would that be something you would be interested to look into?

[2021-01-25 17:40] vasiliy-ul commented on #4861
@rmohr , frankly speaking I've already briefly looked at the issue :) Fixing the slice detection error is rather simple. Though with cgroups v2 a new files hierarchy is introduced and AFAIK there are several places in Kubevirt that potentially may not work with v2. IMHO its probably worth decoupling cgroups handling into a separate utils package. Additionally I guess it will require adjustments in

[2021-01-25 20:27] knfoo opened #4888 "RBAC rolebinding kubevirt.io:edit failed to list kubevirts in kubevirt.io"
/kind bug

**What happened**:
I have installed the kubevirt operator from upstream manifest.
 kubectl apply -f https://github.com/kubevirt/kubevirt/releases/download/v0.37.1/kubevirt-operator.yaml

I have created a rolebinding to allow users in a namespace to use kubevirt.io:edit clusterrole.
[code]

When I run `kubectl get all` I get a permission error.
[code]

**What you expected to happen**:
Wh

[2021-01-25 20:34] MarkSpencerTan commented on #4800
updated to v0.37.0 and same issue persists

[2021-01-25 20:44] rmohr commented on #4800
What I see is that you end up with different pci addresses. You could try setting them on the yaml. The guest operating system could discover then in the order which you need.

[2021-01-25 20:46] MarkSpencerTan commented on #4800
@rmohr how do I go about adding that on the yaml? is that a new feature that was added recently?

I also noticed this new virtio-scsi block that was added, do you know what might've caused it to appear?:
[code]

[2021-01-25 21:36] rmohr commented on #4800
Ah forget it. That are sata disks. We have a field for pci addresses: https://kubevirt.io/api-reference/master/definitions.html#_v1_disktarget but that does not help here, since the pci address which changed is on the sata controller. Controller can't be configured in kubevirt at the moment.

That was added for disk hotplug support. You can get rid of by setting `disableHotplug` to `true` in the d

[2021-01-25 22:26] MarkSpencerTan commented on #4800
ahh that was it @rmohr ! Thank you for the help to suggest disabling the Hotplug feature! Yeah with the hotplug stuff disabled, all the controllers and addresses looks the same and the kernel was able to format/mount the additional disks!

[2021-01-26 08:47] rmohr commented on #4800
/reopen

Great that it helped, my main concern is that we may still break you in the future without any workaround for you. We would have to allow managing controller addresses (and possibly sata addresses), but we wanted to avoid that. I am reopening the issue, since one of our main goals is supporting legacy workloads which you just can't change.

[2021-01-26 11:17] rmohr commented on #4433
/remove-lifecycle stale
/lifecycle-frozen

[2021-01-26 11:17] rmohr commented on #4433
/lifecycle frozen

[2021-01-26 14:11] knfoo commented on #4888
I also tried to remove
[code]
From the operator manifest - line 25-26.
But I still need to add the above permissions in the clusterrole.

[2021-01-26 16:03] karmab opened #4897 "Deploying a vm with uefi fails"
BUG REPORT

/kind bug

**What happened**:
Deploying a vm with uefi fails with a message about secure boot

HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"admission webhook \"virtualmachine-validator.kubevirt.io\" denied the request: spec.template.spec.domain has EFI SecureBoot enabled. SecureBoot requires SMM, which is currently disabled.","reaso

[2021-01-26 16:14] rmohr commented on #4888
hm, in principle that sounds like the solution. @xpivarc could you have a look?

[2021-01-26 16:41] vladikr commented on #4897
/cc @jean-edouard  can you please take a look?

[2021-01-26 17:53] jean-edouard commented on #4897
I think what you want is to turn off Secure Boot, which is enabled by default for security reasons:
[code]

Thanks for the heads-up @vladikr!

[2021-01-26 18:00] karmab commented on #4897
ah, that makes sense, my bad
that said, it s a bit incoherent to silently enable secureboot but not the corresponding SMM feature?

[2021-01-26 18:02] jean-edouard commented on #4897
Yeah, well SMM is kinda the opposite of a security feature, we want to make sure the user knows its enabled...
I agree this is not ideal, we should improve the UX here but I'm not sure how.

[2021-01-26 18:52] akrejcir opened #4900 "[Flaky CI] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance rook-ceph live migration cancelation should be able to cancel a migration [test_id:2226] with ContainerDisk"
/triage build-watcher
/kind bug

**What happened**:
[code]

[Prow logs](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4859/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1353705734851792896)

[2021-01-26 18:54] akrejcir opened #4901 "[Flaky CI] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance rook-ceph live migration cancelation should be able to cancel a migration [test_id:2731] with OCS Disk (using ISCSI IPv4 address)"
/triage build-watcher
/kind bug

**What happened**:
[code]

[Prow logs](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4859/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1353705734851792896)

[2021-01-26 19:01] akrejcir opened #4902 "[Flaky CI] Storage Starting a VirtualMachineInstance [rfe_id:3106][crit:medium][vendor:cnv-qe@redhat.com][level:component]With an emptyDisk defined [test_id:3134]should create a writeable emptyDisk with the right capacity"
/triage build-watcher
/kind bug

**What happened**:
[code]

[Prow logs](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4850/pull-kubevirt-e2e-k8s-1.19/1353660186358714368)

[2021-01-26 19:03] akrejcir opened #4903 "[Flaky CI] Storage Starting a VirtualMachineInstance [rfe_id:3106][crit:medium][vendor:cnv-qe@redhat.com][level:component]With ephemeral alpine PVC should be successfully started with Ephemeral PVC from NFS using ipv6 address of the NFS pod"
/triage build-watcher
/kind bug

**What happened**:
[code]

[Prow logs](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4873/pull-kubevirt-e2e-k8s-1.19/1353628727874949120)

[2021-01-26 19:07] akrejcir opened #4904 "[Flaky CI] [Serial]Operator [rfe_id:2291][crit:high][vendor:cnv-qe@redhat.com][level:component]infrastructure management [rfe_id:2897][crit:medium][vendor:cnv-qe@redhat.com][level:component]With OpenShift cluster [test_id:2910]Should have kubevirt SCCs created"
/triage build-watcher
/kind bug

**What happened**:
[code]

[Prow logs](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4801/pull-kubevirt-e2e-k8s-1.19/1351477804226580481)

[2021-01-26 19:36] akrejcir commented on #4833
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4850/pull-kubevirt-e2e-k8s-1.19/1353678682610208768

[2021-01-26 19:39] akrejcir commented on #4835
Maybe a related failure: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4801/pull-kubevirt-e2e-k8s-1.18/1351477804213997570

[2021-01-27 01:07] MarkSpencerTan commented on #4800
Sounds great @rmohr, this would definitely be appreciated for our workloads

[2021-01-27 08:18] rmohr commented on #4382
@yichengliu58 we have merged https://github.com/kubevirt/kubevirt/pull/4730 which will allow starting latest official centos6 and rhel6 kernels when you set the `useVirtioTransitional` flag with `q35`.

[2021-01-27 08:19] rmohr commented on #4382
It will be available in 0.36.1, 0.37.1 or 0.38, or right now in a developer release: https://kubevirt.io/user-guide/#/installation/installation?id=installing-the-daily-developer-builds

[2021-01-27 15:06] xpivarc commented on #4888
Hi @knfoo,
Can you confirm that your working namespace contains `kubevirt` resource? Otherwise, the `all` should not make a problem.

IMO `:edit` clusterrole is intended for default users of kubevirt.  I don't see anything wrong with exposing the `kv` for users.

[2021-01-27 15:24] phoracek commented on #4897
Scrubbing: We consider this the most secure option. If somebody wants to opt-out, they should do it explicitly.

[2021-01-27 15:24] #4897 closed

[2021-01-27 15:27] phoracek commented on #4869
Could you please check https://github.com/kubevirt/containerized-data-importer#containerized-data-importer and see if it covers your use-case? It uses a different name `DataVolume`, but it should do pretty much what you describe.

[2021-01-27 15:40] phoracek commented on #4805
This would require a lot of work to get the RE going while we don't have that many doc-only PRs coming in.

[2021-01-27 15:40] #4805 closed

[2021-01-27 16:06] ironxyz opened #4910 "Use static IP for VM that live migration will be reports IP conflict"
/kind bug

**What happened**:
kube ovn  solves static IP for VM, but meets a problem while doing VM live migration, if it binds the same IP to the migration pod, it reports IP conflict as the two PODs have the same IP.

**How to reproduce it (as minimally and precisely as possible)**:

##VM.yaml\
[code]
#migration-job.yaml
apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachineInstanceMigration
meta

[2021-01-27 16:49] #4103 closed

[2021-01-27 20:36] #4809 closed

[2021-01-28 02:22] shwetaap commented on #4903
Same error see for both the tests failed here - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4792/pull-kubevirt-e2e-k8s-1.18/1354023581536751617

[2021-01-28 02:52] shwetaap opened #4911 "[Flaky CI] [rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine [rfe_id:273]with oc/kubectl [test_id:232]should create same manifest twice via command line"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4844/pull-kubevirt-check-tests-for-flakes/1352642101065551872

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environm

[2021-01-28 03:00] shwetaap opened #4912 "[Flaky CI][rfe_id:127][posneg:negative][crit:medium][vendor:cnv-qe@redhat.com][level:component]Console [rfe_id:127][posneg:negative][crit:medium][vendor:cnv-qe@redhat.com][level:component]A new VirtualMachineInstance without a serial console [test_id:4118]should not connect to the serial console"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:
[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4844/pull-kubevirt-e2e-k8s-1.17/1352642101057163264

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ku

[2021-01-28 03:15] shwetaap commented on #4689
Seeing a timeout issue here as well - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4844/pull-kubevirt-e2e-k8s-1.19/1354528908422156289. Not sure if it is related to the timeout issue here

[2021-01-28 03:33] shwetaap opened #4913 "[Flaky CI] [Serial]Operator [rfe_id:2291][crit:high][vendor:cnv-qe@redhat.com][level:component]infrastructure management [test_id:3150]should be able to update kubevirt install with custom image tag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:
[code]
Prow - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4844/pull-kubevirt-e2e-k8s-1.19/1352642101069746176

occurred
tests/operator_test.go:367

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything els

[2021-01-28 03:36] shwetaap commented on #4913
The issue seemed different from this recently closed issue - https://github.com/kubevirt/kubevirt/issues/4698

[2021-01-28 03:38] shwetaap commented on #4525
Observed again here - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4792/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1351845980965703681

[2021-01-28 03:44] shwetaap commented on #4525
Observed on rook-ceph test - [Serial]DataVolume Integration [rfe_id:3188][crit:high][vendor:cnv-qe@redhat.com][level:system] DataVolume clone permission checking using Alpine import/clone deny then allow clone request on rook-ceph [test_id:5254]with explicit role (one namespace)
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4792/pull-kubevirt-e2e-k8s-1.17-rook-c

[2021-01-28 07:19] fgimenez commented on #4689
/reopen

Indeed, thanks for the heads up @shwetaap looks like there has been a regression. We started observing failures in the daily master executions. I've tried to reproduce but it is not so easy now, will take a look.

[2021-01-28 07:25] mzzgaopeng commented on #4858
Can I implement the dynamic adding operation by manually calling

edit the crd vm or vmi to path the pvc or hostpath？

[2021-01-28 10:19] todaygood commented on #4910
I met the similar issue , I think the keypoint is that  vm's IP is come from its mother pod,  Can we modify the  mechanism then  vm's mother pod' IP  is different that vm , or  modify IPAM that IPAM can tolerate to allocate same IP by multi times for the same VM?

[2021-01-28 13:16] dhiller commented on #4285
/close

[2021-01-28 13:16] #4285 closed

[2021-01-28 14:53] knfoo commented on #4888
@xpivarc the namespace does not contain anything currently.
[code]

[2021-01-28 15:36] davidvossel commented on #4365
fixed by https://github.com/kubevirt/kubevirt/pull/4366

[2021-01-28 15:36] #4365 closed

[2021-01-28 18:39] xphyr opened #4925 "permittedHostDevices requires device ID to be in capital letters"
/kind bug

**What happened**: While configuring a kubevirt instance to support pci passthrough for NVIDIA GPUs I have found that the pciVendorSelector must be entered with capital letters only.

For example this does not work:
[code]

But this does:
[code]

If you run an `lspci` all the vendor IDs are output in lower case (such as below)
[code]

We should support both upper and lowercase letters i

[2021-01-29 10:30] #4081 closed

[2021-01-29 12:05] borod108 commented on #4720
/reopen
Occurred again:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4885/pull-kubevirt-e2e-k8s-1.17/1353717697505923072

[code]

[2021-01-29 12:06] borod108 commented on #4833
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4885/pull-kubevirt-e2e-k8s-1.17/1353717697505923072

[2021-01-29 12:25] borod108 opened #4931 "[Flaky CI][Serial]VMIDefaults Disk defaults [test_id:4115]Should be applied to VMIs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4885/pull-kubevirt-e2e-k8s-1.18/1354225912467427328

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2021-01-29 12:31] borod108 opened #4932 "[Flaky CI] [Serial][rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with masquerade binding mechanism MTU verification should have the correct MTU IPv6 e"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4885/pull-kubevirt-e2e-k8s-cnao-1.19/1354151421221539840
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2021-01-29 12:35] borod108 commented on #4829
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4885/pull-kubevirt-e2e-k8s-1.18/1354151421217345538

[code]

[2021-01-29 13:18] borod108 commented on #4720
/reopen

[2021-01-29 18:35] jean-edouard commented on #4720
More: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4736/pull-kubevirt-e2e-k8s-1.17/1355102063595360256

[2021-01-29 18:37] jean-edouard commented on #4835
More: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4736/pull-kubevirt-e2e-k8s-1.19/1355102063612137474

[2021-01-29 18:42] jean-edouard opened #4938 "[Flaky CI] [sig-network] [Serial]Services bridge interface binding with a service matching the vmi exposed [test_id:1548] should fail to reach the vmi if an invalid servicename is used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/batch/pull-kubevirt-e2e-k8s-1.18/1355038767810875392
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4870/pull-kubevirt-e2e-k8s-1.20/1355087088759869440
[code]

**What you expected to happen**:

**How to

[2021-01-29 18:44] jean-edouard opened #4939 "[Flaky CI] [rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine An invalid VirtualMachine given with a PVC from a Datavolume [test_id:4643]should NOT be rejected when VM template lists a DataVolume, but VM lists PVC VolumeSource"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4905/pull-kubevirt-e2e-k8s-1.18/1355102063591165952
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ku

[2021-01-30 09:46] wyyxd2017 opened #4942 "Allow emulating other architectures (e.g. x86_64 machines on arm64 nodes)"
can add arch to support cross compile

[2021-01-30 18:37] bravecobra opened #4943 "Katacoda example is broken with 0.37.2"
I tried to run the katacoda getting started example but failed during install.

/kind bug

**What happened**:
I ran the katacoda examplemas advertised on kubevirt.io
**What you expected to happen**:
Katacoda should run without errors
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`): 0

[2021-01-31 19:43] kwiesmueller opened #4945 "Update Golang Version"
Golang 1.13 was released over a year ago and [reached EOL with the release of 1.15 in 2020/08/11](https://golang.org/doc/devel/release.html#policy).
Kubernetes itself is already on 1.15, we should update too.

It might also be worth investigating if we can get automated reminders/updates with new Golang versions.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

Sorry if there is a

[2021-02-01 11:20] #4729 closed

[2021-02-01 12:42] #4827 closed

[2021-02-01 13:35] Elassyo commented on #4678
Hello?

[2021-02-01 13:43] #4828 closed

[2021-02-01 13:43] #4831 closed

[2021-02-01 15:45] #4837 closed

[2021-02-01 17:47] salanki commented on #4440
/remove-lifecycle stale

[2021-02-01 20:54] vladikr commented on #4440
@salanki thanks, for the reminder. I hope we will get to sort this issue this week.

[2021-02-01 21:26] kklemon opened #4950 "GPU passthrough is not working"
/kind bug

**What happened**:

When trying to create a VM with a GPU, I get the following error: `The request is invalid: spec.template.spec.GPUs: GPU nvidia.com/TU102_TITAN_RTX is not permitted in kubevirt-host-device-plugin-config`.

I tried both using the https://github.com/NVIDIA/kubevirt-gpu-device-plugin with `externalResourceProvider` set to `true` and without any device plugin. Latter shou

[2021-02-01 23:27] vladikr commented on #4950
I wonder if you have anything configured on the kubevirt-config config map as well?
In this version (and until kubevirt-config configMap will become deprecated) there is a clash between the setting in the kubevirt CR and the config map.
It is better to configure everything in one place; either on kubevirt CR or the config map. I assume that the permitted devices were listed on the CR and the featu

[2021-02-02 02:35] leyao-daily opened #4951 "Network provision error in Kubevirt VM with sriov network"
Multus + sriov cni + sriov dp

The vmi
[code]

The sriov crd
[code]
and the default network is flannel with subnet 10.233.xxx.xxx
the vm creation is successful, but **the interface ip is wrong with 10.0.2.2**

And the virt-vmi-xxx pod description is
[code]

[2021-02-02 10:28] kklemon commented on #4950
This was actually the problem. After putting both the GPU feature gate and permitted device configuration into a single CR, it worked.

I followed the instruction on https://github.com/NVIDIA/kubevirt-gpu-device-plugin which provides a custom CM for the feature gate, but I guess, the project is a bit outdated and not conform with the latest KubeVirt version.

[2021-02-02 10:28] #4950 closed

[2021-02-02 13:31] dhiller commented on #4715
/reopen

still an issue: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.8-e2e/1356437936719007744

[2021-02-02 13:31] dhiller commented on #4715
FYI @kwiesmueller

[2021-02-02 16:04] fgimenez commented on #4938
Happened in the periodic e2e from master too https://prow.k8s.io/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1356361861309665280

It's easy to reproduce executing `test_id:1548` in a loop.

[2021-02-03 05:18] chendave commented on #2948
/remove-lifecycle stale

[2021-02-03 05:19] chendave commented on #2948
/remove-lifecycle rotten

[2021-02-03 13:07] phoracek commented on #4951
You have used `masquerade` binding for the pod network. The 10.0.2.2 IP is given by that - it keeps the VM behind a firewall to make sure it persists its IP between migrations. If you want to obtain the public IP given by flannel, use the `bridge` binding instead. You can read about details https://kubevirt.io/user-guide/#/creation/interfaces-and-networks and https://github.com/kubevirt/kubevirt/b

[2021-02-03 13:52] jean-edouard commented on #4829
3 times in row there: https://prow.apps.ovirt.org/pr-history/?org=kubevirt&repo=kubevirt&pr=4937
I remember this test ID, 3106, it's not the first time we're having problems with this one, we really need to do something about it.

[2021-02-03 14:31] #4852 closed

[2021-02-03 15:17] phoracek commented on #4945
We indeed should bump the version. I'm not aware of a duplicate Issue neither.

Any volunteers to take this one? @kwiesmueller ;)

[2021-02-03 15:18] phoracek commented on #4943
Thanks @bravecobra, I copied this to our katacoda repo: https://github.com/kubevirt/katacoda-scenarios/issues/11

[2021-02-03 15:18] #4943 closed

[2021-02-03 15:20] phoracek commented on #4942
@wyyxd2017 would you please elaborate what exactly do you want?

[2021-02-03 15:26] nelsonspbr opened #4958 "Tests Suite: [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance [Serial]when virt-handler is not responsive [test_id:1634]the node controller should mark the node as unschedulable when the virt-handler heartbeat has timedout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:

https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.8-e2e/1356800216870686720

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt ve

[2021-02-03 15:32] phoracek commented on #4781
Bug scrub: This is something we'd like to have in KubeVirt.

[2021-02-03 15:35] phoracek commented on #4734
@lixiaobing1 could you provide the logs @vladikr requested? Thanks.

[2021-02-03 15:35] phoracek commented on #4731
@rupeshr9 hello, did you get a chance to try the workaround?

[2021-02-03 15:39] phoracek commented on #4711
Bug scrub: We want to keep these two label entities separated. Anything that gets propagated to the VMI should be taken from the VMI template defined in the VM.

[2021-02-03 15:39] #4711 closed

[2021-02-03 16:05] nelsonspbr commented on #4958
Might be related to some extent: https://github.com/kubevirt/kubevirt/issues/4715

[2021-02-03 16:10] bravecobra commented on #4943
I don't think the error is in the scenario but more in the compat between katacoda and kibevirt. It may need fixing in another repo.

[2021-02-03 16:21] nelsonspbr opened #4959 "[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance migration postcopy [test_id:4747] should migrate using cluster level config for postcopy [It] migration should not fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/triage build-watcher
/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1356361861309665282#1:build-log.txt%3A7113

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt ver

[2021-02-03 16:30] nelsonspbr opened #4961 "periodic-kubevirt-e2e-k8s-prev #1356519903128981504 — Storage Starting a VirtualMachineInstance [rfe_id:2288][crit:high][vendor:cnv-qe@redhat.com][level:component] With Cirros BlockMode PVC [test_id:1015] should be successfully started"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1356519903128981504

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virt

[2021-02-03 16:30] jean-edouard commented on #4829
This is actually currently affecting the vast majority of test runs.
A PR has been open to temporarily disable the test while we investigate the issue:
https://github.com/kubevirt/kubevirt/pull/4960
The current hypothesis is some kind of resource exhaustion due to missing cleanup.
Note: the test succeeds when ran focused locally.
/assign @vladikr
/assign @jean-edouard

[2021-02-03 16:31] nelsonspbr commented on #4961
Related:
- https://github.com/kubevirt/kubevirt/issues/4543
- https://github.com/kubevirt/kubevirt/issues/4314

[2021-02-03 16:33] nelsonspbr commented on #3821
Reported again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1356519903128981504

**Configurations [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with CPU spec [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]when CPU model equals to passthrough [test_id:1679]should report exactly the same model as node CPU**

[code]

[2021-02-03 16:36] nelsonspbr commented on #3821
/reopen

[2021-02-03 16:39] nelsonspbr opened #4962 "Storage Starting a VirtualMachineInstance [rfe_id:3106][crit:medium][vendor:cnv-qe@redhat.com][level:component]with Alpine PVC should be successfully started with NFS Disk PVC using ipv4 address of the NFS pod not owned by qemu"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1356519903128981504

[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (u

[2021-02-03 16:42] nelsonspbr commented on #4959
Observed here as well: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1356538149265739776

[code]

[2021-02-03 17:27] nelsonspbr commented on #4962
Also observed here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1356724248772612098

[code]

[2021-02-03 17:44] kwiesmueller commented on #4945
I'll give it a take as soon as I can.
If somebody else is faster, just assign it to yourself so i don't start at the same time.

[2021-02-03 17:45] kwiesmueller commented on #4945
/assign

[2021-02-03 18:13] arvin-a commented on #4776
That did the trick. Thanks!

[2021-02-03 18:13] #4776 closed

[2021-02-03 18:19] phoracek commented on #4843
@bhkamath  I think I understand now. May I ask from where you got the original (wrong) key name? So we could fix the docs.

[2021-02-03 19:07] jean-edouard commented on #4829
I think this is a docker-related infrastructure issue.
This was seen when running the flakefinder:
[code]
Ganesha happens to be the NFS server used for this test.

[2021-02-04 01:53] leyao-daily commented on #4951
Got it. Thanks

[2021-02-04 01:53] #4951 closed

[2021-02-04 04:13] ezio-auditore commented on #4781
Hi @phoracek can this be assigned to me? I would like to start contributing to the Kubevirt space.
I have also documented a workaround for the same, let me know your thoughts.
[Workaround for RBD disk reclaim issue](https://hackmd.io/ZHEVaJEWQ0C3Rl-AmtsvEw?view)

[2021-02-04 05:35] nelsonspbr commented on #4962
Also being reported at the moment at https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2021-02-04-024h.html. Failed for:

- pull-kubevirt-e2e-k8s-1.18
    - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4953/pull-kubevirt-e2e-k8s-1.18/1357005226543943681
- pull-kubevirt-e2e-k8s-1.20
    - https://prow.apps.ovirt.org/v

[2021-02-04 05:36] nelsonspbr commented on #4868
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4953/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1356899908354838528

[2021-02-04 06:28] knfoo commented on #4888
@xpivarc to get the `:edit` clusterrole changed to include the above in kubevirt going forward should I create a PR?
So that I do not have to maintain that in my own deployments.

[2021-02-04 07:28] xpivarc commented on #4888
@knfoo Sorry, been busy the last few days and I wanted to try it out one more time.
1. The
[code]
would need to be edited from kubevirt crd. Clients(kubectl) can cache the Openapi from Kubernetes, so it might take some time to not get the error :)

2. Let's edit the cluster role but keep in mind that every crd that has `-all` needs to be adjusted for the user.

[2021-02-04 08:10] phoracek commented on #4781
Hello! Sure thing, assigning. I can't speak for the workaround though, it's far from my domain.

/assign @ezio-auditore

[2021-02-04 08:54] maiqueb commented on #2942
I'm reopening since this, imho, was not addressed.

/reopen
/sig network

[2021-02-04 08:55] maiqueb commented on #2942
/remove-lifecycle rotten
/sigs network

[2021-02-04 10:07] dhiller commented on #4962
We have it failing more than half of the time on [kubevirt 1.20 lane](https://prow.apps.ovirt.org/job-history/gs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.20), also often on [kubevirt 1.19](https://prow.apps.ovirt.org/job-history/gs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.19) since a while.

@mhenriks could you take a look why this is happening?

FYI @aglitke

[2021-02-04 11:13] ashleyschuett commented on #4198
This seems to be an issue again, but seemingly only in the flakey-test-lane
https://prow.k8s.io/view/gcs/kubevirt-prow/pr-logs/directory/pull-kubevirt-check-tests-for-flakes/1354376788372885504
https://prow.k8s.io/view/gcs/kubevirt-prow/pr-logs/directory/pull-kubevirt-check-tests-for-flakes/1354759555677949952
https://prow.k8s.io/view/gcs/kubevirt-prow/pr-logs/directory/pull-kubevirt-check-tests-f

[2021-02-04 11:13] ashleyschuett commented on #4198
/reopen

[2021-02-04 15:16] jean-edouard opened #4969 "CRDs should be upgraded from apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Building KubeVirt triggers the following warning a lot:
[code]
We should make sure everything is upgraded to v1 in KubeVirt before k8s 1.22 comes out.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVi

[2021-02-04 16:45] ashleyschuett commented on #4938
again - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4941/pull-kubevirt-e2e-k8s-1.20/1357280917537689601

[2021-02-04 16:56] ashleyschuett opened #4970 "[rfe_id:3064][crit:medium][vendor:cnv-qe@redhat.com][level:component]Pausing A valid VM when paused via virtctl [test_id:3226]should be restarted successfully into unpaused state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4949/pull-kubevirt-e2e-k8s-1.20/1357001330085859328

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2021-02-04 16:59] ashleyschuett opened #4971 "[rfe_id:3423][crit:high][vendor:cnv-qe@redhat.com][level:component]VmWatch [test_id:3466]Should update vmi status with the proper columns using 'kubectl get vmi -w'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4953/pull-kubevirt-e2e-k8s-1.20/1356962067667488768

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2021-02-04 22:28] davidvossel commented on #4962
container gets stuck in ContainerCreating

[code]

found event that says this

[code]

the nfs server is trying to mount a hostPath that doesn't exist now I think... so the question is what happened to that host path.

[2021-02-05 09:48] dhiller commented on #4198
Will look into this, eventually something to do with the prow job setup differing. Maybe we should disable/skip the job for the check-for-flakes lane.

[2021-02-05 12:12] knfoo commented on #4888
Thank you for the quick turn around :)

[2021-02-05 14:01] dhiller commented on #4962
Also observed again here:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt-e2e-k8s-1.19/1357310991280377856
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt-e2e-k8s-1.19/1357249585390555136
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt

[2021-02-05 14:04] dhiller opened #4974 "[flaky ci] [sig-storage] Hotplug Offline VM Should add volumes on an offline VM with PersistentVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test flaked: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt-e2e-k8s-1.20/1357372396872404992

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[code]

**Env

[2021-02-05 14:07] dhiller opened #4975 "[flaky ci] Subresource Api [rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component] VirtualMachine subresource with a restart endpoint [test_id:1304] should restart a VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:

Test flaked: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt-e2e-k8s-1.20/1357372396872404992

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[code]

**Env

[2021-02-05 14:10] dhiller commented on #4971
Seen again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt-e2e-k8s-1.20/1357188180465422336

[2021-02-05 14:11] dhiller commented on #4959
Seen again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4960/pull-kubevirt-e2e-k8s-1.19/1357382337263833088

[2021-02-05 14:14] dhiller opened #4976 "[flaky ci] [sig-network] [Serial]Services Masquerade interface binding *without* a service matching the vmi exposed should fail to reach the vmi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
Test flaked: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4960/pull-kubevirt-e2e-k8s-1.20/1357026365903212544

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[code]

**Envi

[2021-02-05 14:17] dhiller commented on #4179
/reopen

Seen again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4960/pull-kubevirt-e2e-k8s-cnao-1.19/1357382337242861568

[2021-02-05 14:21] dhiller commented on #4835
Seen again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt-e2e-k8s-1.20/1356988617087520768

[2021-02-05 14:22] dhiller commented on #4939
Seen again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4937/pull-kubevirt-e2e-k8s-1.20/1356988617087520768

[2021-02-05 14:26] dhiller opened #4978 "k8s-1.20 lane cluster failure - 58 tests failed "Can't connect to websocket (503): websocket: bad handshake""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
Test lane failed on 58 tests: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4960/pull-kubevirt-e2e-k8s-1.20/1357026365903212544

Supposedly due to a cluster failure. Lots of "Can't connect to websocket (503): websocket: bad handshake"

**What you expected to happe

[2021-02-05 17:54] #4799 closed

[2021-02-07 03:14] threestoneliu opened #4980 "Why HotPlugVolumes feature's validate webhook only support scsi bus?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Why HotPlugVolumes feature's validate webhook only support scsi bus?

[validateVolumeRequests](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go#L367)

/kind question

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2021-02-07 08:28] EdDev commented on #4976
/sig network

[2021-02-07 08:33] EdDev commented on #4976
@qinqon is this related to #4957 ?

[2021-02-07 14:03] #3820 closed

[2021-02-07 14:03] #4157 closed

[2021-02-07 20:08] #4875 closed

[2021-02-07 20:08] #4877 closed

[2021-02-08 07:25] akashrpo opened #4981 "Unable to connect to http data source: Get https://download.fedoraproject.org/pub/fedora/linux/releases/33/Cloud/x86_64/images/Fedora-Cloud-Base-33-1.2.x86_64.raw.xz: dial tcp: lookup download.fedoraproject.org: Temporary failure in name resolution"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I was trying to run a VM in Kubevirt following https://kubevirt.io/labs/kubernetes/lab2 guide. However, after following "Use the CDI" step executing "kubectl create -f https://raw.githubusercontent.com/kubevirt/kubevirt.github.io/master/labs/manifests/pvc_fedora.yml" command. The PVC and its importer-fedora pod gets created but afte

[2021-02-08 08:02] akashrpo commented on #4981
[code]

In this .yaml file, I even tried giving file:// URL. However, it stated the following error as:
Unable to connect to http data source: Get file://Fedora-Cloud-Base-33-1.2.x86_64.raw.xz: unsupported protocol scheme "file"

[2021-02-08 08:26] qinqon commented on #4976
@EdDev yes, I think the PR got merged this is suppose to be fixed.

[2021-02-08 08:30] qinqon commented on #4976
This is a dup of https://github.com/kubevirt/kubevirt/issues/4938

[2021-02-08 10:53] fgimenez commented on #4931
Happened here again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1357811414370095104 this time on `test_id:3200`

[2021-02-08 11:03] fgimenez commented on #3620
/reopen

Happened here again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1358173799794610177

[2021-02-08 11:10] fgimenez commented on #4689
Similar timeout again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1358536187786039296

[2021-02-08 11:18] fgimenez commented on #3821
Happened here again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1358536187786039298

[2021-02-08 11:45] fgimenez commented on #3821
/remove-lifecycle stale

[2021-02-08 15:51] jmguzik commented on #4101
@phoracek I would be interested. I would be more than happy to do entry-level tasks (fixing, refactoring, cleanups, etc). Please let me know if you still have time to arrange something.

[2021-02-08 17:51] phoracek commented on #4101
@jmguzik awesome! Would you try to identify some places where a helper asserts the error? If you would not be sure about what you found, do let me know.

/assign @jmguzik

[2021-02-09 08:49] EdDev commented on #4101
Examples:
https://github.com/kubevirt/kubevirt/blob/a750459f172dfccb0200d74e842781b076572eaf/tests/libnet/skips.go#L12
https://github.com/kubevirt/kubevirt/blob/a750459f172dfccb0200d74e842781b076572eaf/tests/vmi_multus_test.go#L1127
https://github.com/kubevirt/kubevirt/blob/a750459f172dfccb0200d74e842781b076572eaf/tests/vmi_multus_test.go#L1226
https://github.com/kubevirt/kubevirt/blob/a750459f172

[2021-02-09 08:57] EdDev commented on #4101
@jmguzik I added some examples.

Please follow the [To start developing KubeVirt](https://github.com/kubevirt/kubevirt#to-start-developing-kubevirt) section and setup your env.

[2021-02-09 10:15] akashrpo commented on #4981
[code]

In this .yaml file, I even tried giving file:// URL. However, it stated the following error as:
Unable to connect to http data source: Get file://Fedora-Cloud-Base-33-1.2.x86_64.raw.xz: unsupported protocol scheme "file"

[2021-02-09 11:42] xpivarc commented on #4939
Seen again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1359079770846924800

[2021-02-09 11:42] xpivarc commented on #4835
Seen again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1359079770846924800

[2021-02-09 14:16] alexanderniebuhr opened #4992 "Can't start VM on k3os"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cannot start VM on k3os Cluster
[code]
**What you expected to happen**:
Succesfully start VM

**How to reproduce it (as minimally and precisely as possible)**:
install cluster of k3os and try to start linux vm

**Anything else we need to know?**:
logs of handler show that vhost-net is not present, shortly after that it is

[2021-02-09 16:49] jmguzik commented on #4101
@phoracek I pushed the first PR just to see if this is what you pursue. Please note I come from the C++ world and may not be familiar with all go concepts. Feel free to point what should be changed freely.
@EdDev I have to be honest, after following twice the KubeVirt developer's section I still have an issue with some tests. Unfortunately, also with tests in regards to this commit (vmi_multus_tes

[2021-02-09 16:52] phoracek commented on #4101
@jmguzik your local cluster is missing Multus and other components for advanced networking. To deploy those, do:

[code]

[2021-02-09 19:51] #4900 closed

[2021-02-09 19:51] #4904 closed

[2021-02-09 20:07] xpivarc opened #4996 "[flaky ci] Storage Starting a VirtualMachineInstance With both SCSI and SATA devices [It] should successfully start with distinct device names"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-watcher

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4991/pull-kubevirt-e2e-k8s-1.18/1359126330364399616

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt v

[2021-02-09 20:23] xpivarc commented on #4829
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4740/pull-kubevirt-e2e-k8s-1.18/1356355947043229696

[2021-02-09 20:25] xpivarc opened #4997 "[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set [It] [test_id:3243]should recreate the PDB if VMIs with similar names are recreated"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug
/triage build-watcher

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4740/pull-kubevirt-e2e-k8s-1.20/1358629426744528896
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]

**Environment**:
- Kub

[2021-02-09 20:29] xpivarc opened #4998 "Configurations [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with CPU spec [BeforeEach] [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]when CPU model not defined [test_id:1680]should report CPU model from libvirt capabilities"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-watcher

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1359079770834341888

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]

**Environment**:
- KubeVirt version (use `virtc

[2021-02-09 20:46] xpivarc commented on #4962
Again: (caused by single PR #4736 )
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4736/pull-kubevirt-e2e-k8s-1.20/1357571958752940032
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4736/pull-kubevirt-e2e-k8s-1.20/1357433800719601664
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4736/pull-kube

[2021-02-10 01:37] gitlawr commented on #4992
You need to load the vhost_net kernel module.
Example snippet in k3os config:
[code]

For reference: https://github.com/rancher/k3os#k3osmodules

[2021-02-10 05:22] #2076 closed

[2021-02-10 06:22] alexanderniebuhr commented on #4992
fixed by adding kernel module through k3os config https://github.com/rancher/k3os#k3osmodules

[code]

[2021-02-10 06:22] #4992 closed

[2021-02-10 12:09] maiqueb opened #4999 "masquerade binding: connectivity lost after VM migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After a VM is migrated, it loses connectivity from the outside world on its masquerade interface.

We should make sure that the connectivity becomes available immediately after the migration.

**What you expected to happen**:
Connectivity should be preserved.

**How to reproduce it (as minimally and precisely as possible)

[2021-02-10 12:24] jmguzik commented on #4101
@phoracek many thanks, everything works

[2021-02-10 12:51] jmguzik commented on #4881
@nunnatsa @phoracek I have a fix ready here: https://github.com/kubevirt/kubevirt/compare/master...jmguzik:rename-protofiles-in-pkghooks
Renamed it to api_*.proto [Example api_info.proto]. Wanted to rename directly to eg info.proto but this name is already taken elsewhere so I preserved api_.
Please assign me to this issue.

[2021-02-10 12:54] phoracek commented on #4881
/assign @jmguzik

[2021-02-10 13:28] phoracek commented on #4971
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4985/pull-kubevirt-e2e-k8s-1.20/1359089962724626433

[2021-02-10 13:29] phoracek opened #5004 "[flakey] Configurations when requesting virtio-transitional models should start and run the guest"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4985/pull-kubevirt-e2e-k8s-1.20/1359228124809662464

[2021-02-10 13:31] phoracek commented on #4903
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4948/pull-kubevirt-e2e-k8s-1.20/1358859571765972992

[2021-02-10 13:32] phoracek commented on #4902
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4948/pull-kubevirt-e2e-k8s-1.20/1358859571765972992

[2021-02-10 13:33] phoracek commented on #4835
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4989/pull-kubevirt-e2e-k8s-1.19/1359063792171880448

[2021-02-10 13:35] phoracek opened #5005 "[flakey] Configurations [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with CPU spec [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]when CPU model defined [test_id:1678]should report defined CPU model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4552/pull-kubevirt-e2e-k8s-1.19/1357413415898845184

[2021-02-10 13:37] phoracek commented on #4868
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4948/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1357325966732431361

[2021-02-10 13:39] phoracek opened #5007 "[flakey] [Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set [test_id:3243]should recreate the PDB if VMIs with similar names are recreated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4948/pull-kubevirt-e2e-k8s-1.20/1359013207296970752

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4552/pull-kubevirt-e2e-k8s-1.20/1359229757991948288

[2021-02-10 13:41] phoracek commented on #4198
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4985/pull-kubevirt-e2e-k8s-1.19/1358967152656257024

[2021-02-10 13:42] phoracek commented on #4962
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4552/pull-kubevirt-e2e-k8s-1.20/1357472429466718208
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4948/pull-kubevirt-e2e-k8s-1.20/1357328236014473216
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4552/pull-kubevirt-e2e-k8s-1.19/135734949723

[2021-02-10 13:43] phoracek commented on #4833
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4552/pull-kubevirt-e2e-k8s-1.17/1357472429475106816

[2021-02-10 13:44] phoracek opened #5008 "[flakey] [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance [Serial]with default cpu model [test_id:3201]should not set cpu model when vmi does not have it set and default cpu model is not set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4948/pull-kubevirt-e2e-k8s-1.19/1358850387121016832

[2021-02-10 13:46] phoracek commented on #4958
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4552/pull-kubevirt-e2e-k8s-1.17/1357472429475106816

[2021-02-10 15:08] fgimenez commented on #4833
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1359442157462622208 happened together with `test_id:1634`

[2021-02-10 15:18] fgimenez commented on #5007
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1359442157471010816 also on 1.20. Happened together with `test_id:3201`

[2021-02-10 15:53] xpivarc commented on #5007
I think this [PR](https://github.com/kubevirt/kubevirt/pull/5001) could solve this.

[2021-02-11 00:15] jmguzik opened #5011 "Generate jobs should not relay on committed (some time ago) generated proto files"
**Is this a BUG REPORT or FEATURE REQUEST?**
/kind enhancement

**What happened:**
During work with issue #4881 I found that generated protos are needed to be present in pkg/hooks/info, pkg/hooks/v1... etc directories. If not, make generate as well as pull-kubevirt-generate job will fail (on line 46 of pkg/hooks/manager.go).
I think that it requires a separate issue since there are protos generate

[2021-02-11 04:23] #4912 closed

[2021-02-11 04:23] #4911 closed

[2021-02-11 08:26] #4134 closed

[2021-02-11 09:06] maiqueb commented on #4976
/close

Closing since https://github.com/kubevirt/kubevirt/pull/4957 - which allegedly fixes this issue was merged 5 days ago.

Let's re-open if it happens again.

[2021-02-11 09:06] #4976 closed

[2021-02-11 09:55] maiqueb commented on #4642
@alonSadan / @ormergi could you sum up your findings up to know in the issue ?

Thanks in advance for the effort.

[2021-02-11 10:35] EdDev commented on #4642
/assign @alonSadan

[2021-02-11 14:32] maiqueb commented on #4179
I'm looking into this issue; here's my findings so far:
  - the test creates 4 VMs in a `BeforeAll` block
  - whenever the test flakes, it's because one of those 4 VMs fail to start
  - it then iterates a test table where one of the VMs tests (always the same one) pings one of the remaining 3 VMs (one per test)

My first idea here is that running 4 VMs one each of the tests is not necessary (I'm a

[2021-02-11 14:37] fgimenez commented on #4903
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1359804546938834944 also on 1.20

[2021-02-11 14:38] xpivarc commented on #4179
The containerdisk is not ready seems to be also a problem in PDB tests which are flaky right now.

[2021-02-11 14:44] maiqueb commented on #4179
Could you elaborate a bit more ? I don't even know what PDB stands for - python debugger ? 0_o :)

[2021-02-11 14:48] fgimenez commented on #4198
Happened again here https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1359804546922057728

[2021-02-11 14:48] EdDev commented on #4179
I guess the original idea was to save time for running the tests. But we know that using `BeforeAll` is broken due to the missing `AfterAll`. The unfortunate reality is that we cannot use a common resource for a group of tests and adjust to the reality.
ginkgo has plans to add something like this in they next major release, but its development seems frozen for a long time.

Therefore, I would reco

[2021-02-11 14:51] fgimenez commented on #4959
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1359804546922057728 on 1.19

[2021-02-11 14:56] xpivarc commented on #4179
Sorry :)
I am referring to [this](https://github.com/kubevirt/kubevirt/issues/4997) flaky test where we can see that containerdisk is not ready(when we look at the launcher`s pod definition -> status section). It is cause for VMI deletion to hit the timeout of the test.

[2021-02-11 15:21] rmohr commented on #4179
This looks like issues around deleting a pod fast when init containers are not yet ready. I am not entirely sure if the issue you reference is the same thing. In https://github.com/kubevirt/kubevirt/issues/4997 I could see that the init container was not ready yet when the pod was marked for deletion and it had warnings like this:

[code]

Note that we actually deleted the pod before this:

[code]

[2021-02-11 16:26] maiqueb commented on #4179
Nothing on the launcher's logs, but kubelet has these errors on every failed linked failed test available in the issue:
[code]

I've re-run this locally > 35 times, it never failed, and I *never* got that log in the node's kubelet.

The above log seems to come from https://github.com/kubernetes/kubernetes/blob/0ffe89ed0b06a1355afe0a35e495aca3e6545b19/pkg/kubelet/dockershim/network/plugins.go#L262,

[2021-02-11 16:44] EdDev commented on #4179
Looks similar to this one: https://github.com/kubevirt/kubevirt/pull/4552

see the issue it fixed.

[2021-02-11 16:58] xpivarc commented on #4179
@rmohr You are right. I mixed two things together because I didn't check properly this issue :+1:

@maiqueb
Sync error:
There is libvirt failure which triggers shut down.
[code]
Containerdisk not ready:
The Pod is already gone ```name": "volumedisk0",
                        "state": {
                            "terminated": {
                                "exitCode": 0,

[2021-02-11 17:02] maiqueb commented on #4179
Could very well be; thanks for digging that up @EdDev  - I've ran this locally > 50 times now (I have that PR rebased) and I didn't manage to reproduce it.

@rthallisey , can you think of a way of 'knowing' if your fix #4552 also addresses this issue ? Anything I should be looking for in the logs ?

[2021-02-11 17:51] rthallisey commented on #4179
This issue looks similar to what was solved in #4552.  #4552 makes it so that the virt-launcher pod ip will now have a dummy interface with the original name and ip.  If there is a kubelet restart, this prevents the CNI from returning an error and the pod VM failing.  I talk about it in more detail in this [comment](https://github.com/kubevirt/kubevirt/pull/4552/files#r565388228).  What CNI are yo

[2021-02-11 17:54] maiqueb commented on #4179
calico

[2021-02-11 17:57] rthallisey commented on #4179
Calico doesn't use the `CmdCheck` RPC, so it's something else.

[2021-02-12 05:26] alonSadan commented on #4642
Findings so far:
From what we have seen so far this happens only on one specific CI node with connectX-5 HW.

We noticed that the vlan tags and mac addresses stays in tact between different CI jobs.
This means that on this node, they will have this vlan tag on every job, and this could cause one VF to be on different vlan than the other VF, which will lead to connectivity issues.

We noticed as we

[2021-02-12 05:43] EdDev commented on #4642
if this is the case, it cannot explain the problem.

[2021-02-12 10:13] #4881 closed

[2021-02-12 11:00] maiqueb commented on #4179
OK, so while I think we're into the right track (kubelet is shutting the containers in the pod, as shown in https://github.com/kubevirt/kubevirt/issues/4179#issuecomment-777643849), we still have no clue as to what triggers it.

[2021-02-12 12:55] #4932 closed

[2021-02-12 15:13] fgimenez commented on #4997
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1360167059601756160

[2021-02-12 15:14] fgimenez commented on #5007
Duplicate of #4997

[2021-02-12 15:16] phoracek commented on #5007
Oh, sorry, somehow I missed that one

[2021-02-12 15:16] #5007 closed

[2021-02-12 17:28] #2942 closed

[2021-02-12 22:07] davidvossel opened #5023 "remove libvirtd and other unused tools from virt-handler"
Virt handler and virt launcher should have different RPM trees. There's no reason (i'm aware of) for virt-handler to contain the libvirtd daemon for example. This has led to some assumptions that since libvirtd is available within virt-handler, that it has a purpose.

[2021-02-12 22:16] davidvossel opened #5024 "Reduce virt-handler GET PVC api calls"
While auditing the API calls virt-handler makes, I found two instances where we are performing GETs on every PVC attached to a VMI during every reconcile loop.

`hostdisk.ReplacePVCByHostDisk(vmi, d.clientset)` will perform a GET on every pvc to determine if it is a block pvc.
https://github.com/kubevirt/kubevirt/blob/3f2fdf3f22e0ac710ee4d6f9c3d92eb047c430f7/pkg/virt-handler/vm.go#L2042

```_, sha

[2021-02-12 22:20] davidvossel commented on #5024
@mlsorensen i'm not 100% certain, but there's a chance this could be related to the performance issue you experience with virt-handler at scale. other than that, The VMI informers we use for virt handler should be pretty efficient given they only sync changes related to the specific node and not all VMIs.

[2021-02-13 19:04] #4440 closed

[2021-02-14 15:26] oshoval opened #5027 "SyncVMI DeadlineExceeded warnings when running parallel sriov jobs on CI"
/kind bug

**What happened**:

Running multi sriov jobs at the same time (2 or 3),
where each job run several machines at the same time,
gives warning like

[code]

The tests currently assert upon this warning, so the test fails.
In case we don't assert, there is a built-in mechanism of kubevirt to re-enqueue the request.

Example - those 3 jobs ran on the same time
https://prow.apps.ovirt.org/vie

[2021-02-14 23:32] Omar007 opened #5028 "Configure disk sector sizes and other disk device fields"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
KubeVirt does not currently seem to allow tweaking/tuning disk configuration. Think of details such as:
- Logical sector size
- Physical sector size
- Minimal I/O size
- Optimal I/O size
- Rotational device or not

**What you expected to happen**:
The VM(I) spec to provide fields to configure these device propertie

[2021-02-15 11:24] maiqueb commented on #4720
/reopen

I've been able to reproduce this locally sometimes w/ `KUBEVIRT_E2E_FOCUS='test_id:1634' FUNC_TEST_ARGS='-untilItFails -race' make functest`

You can see that the node is marked as unresponsive - in the [events](https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4736/pull-kubevirt-e2e-k8s-1.17/1355102063595360256/artifacts/k8s-reporter/1_events.log) log -  but som

[2021-02-15 12:01] RamLavi commented on #4720
When I reproduced it locally - I saw that there are no vmis on the node at the time of the node's [watch](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-controller/watch/node.go#L181), but it was only recreated once.

[2021-02-15 16:17] fgimenez commented on #4997
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1360348254058844160

[2021-02-15 17:17] fgimenez commented on #4961
Happened again here https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1360891835496534016

[2021-02-15 17:19] fgimenez commented on #4835
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1360891835496534016

[2021-02-15 17:20] fgimenez commented on #4939
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1360891835496534016

[2021-02-15 17:26] fgimenez commented on #4835
It is common to see this one happening with #4939

[2021-02-15 17:39] fgimenez commented on #4518
/reopen

Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1361254223462797313

[2021-02-15 22:23] davidvossel commented on #5023
/cc @rmohr

[2021-02-16 07:42] #4240 closed

[2021-02-16 07:42] #4226 closed

[2021-02-16 08:24] fgimenez commented on #4913
/reopen

Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1361435416300883968

[2021-02-16 08:33] fgimenez commented on #3610
/reopen

Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1361435416300883969

[2021-02-16 09:13] oshoval commented on #4902
About the job in the issue description,
the VM has couple issues, one for example is OOM
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4850/pull-kubevirt-e2e-k8s-1.19/1353660186358714368#1:build-log.txt%3A16984

[2021-02-16 09:45] rhrazdil commented on #4833
Potentially fixed by #5035

[2021-02-16 14:29] #4715 closed

[2021-02-17 08:26] oshoval opened #5040 "Upgrade Cirros image due to ext4 OOM"
/kind bug

**What happened**:
Issue https://github.com/kubevirt/kubevirt/issues/4902 shows the is OOM kernel panic

**What you expected to happen**:
Kernel should be stable
so we should update the Cirros image in order to have the new fixes.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl ver

[2021-02-17 08:31] fgimenez commented on #4903
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1361797805819039744 1.20 too

[2021-02-17 08:33] oshoval commented on #3821
I think https://github.com/kubevirt/kubevirt/pull/5019 would fix it, because its an issue of the login,
i saw it once comes with the race condition between the cloud-init which set the password and the Login,
When the login failed the first time, it comes out of sync in the 2nd retry and this is the error that occurs.

The last stdout is
[code]
For some reason it didn't dump the VM starting consol

[2021-02-17 08:34] fgimenez commented on #3620
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1361797805819039745 after the error a lot of subsequent tests fail and the build finally times out

[2021-02-17 09:02] oshoval commented on #4962
Has in common to https://github.com/kubevirt/kubevirt/issues/4829
Both tests  are skipped with  a comment
[code]

for nfs ignoreWarnings is true, so even Error events will be ignored
Please consider this fix
https://github.com/kubevirt/kubevirt/pull/5012
so we see the exact Error event in the log and assert on it,
In case desired, also warnings can be enabled, and by using
https://github.com/kubev

[2021-02-17 09:02] oshoval commented on #4829
see https://github.com/kubevirt/kubevirt/issues/4962#issuecomment-780409349 for some possible info

[2021-02-17 09:53] andreabolognani commented on #4427
/remove-lifecycle stale

[2021-02-17 09:57] phoracek commented on #5040
@oshoval this issue is mixing Cirros version, unstable Kernel and OOM. If the issue is OOM in Cirros, please reflect it in the title.

You also suggest that update of Cirros would fix it. Do you have any BZ supporting that claim? Have you tried updated Cirros to prove that it was fixed?

[2021-02-17 10:09] oshoval commented on #5040
I didn't try, its not out of the box as fedora, (at least that i know of)
I do see scattered reports about oom with ext4, with fixes, for different linux deployments, so i think its well deserved giving it a try.
For example https://patchwork.ozlabs.org/project/linux-ext4/patch/20180510153851.4689-1-jack@suse.cz/
and i see the OOM follows this function `ext4_ind_map_blocks`
We didn't update the Ci

[2021-02-17 10:21] phoracek commented on #5040
If the cirros update is simple, let's do that right away instead of trying to avoid the issue by increasing the memory 8 times. Dodging a leak is just deferring the flake.

[2021-02-17 13:43] oshoval commented on #5040
While trying to upgrade, i see that its not that trivial
Using the new image, the machine doesn't have a console

But look on this please
https://github.com/cirros-dev/cirros/issues/52#issuecomment-595389740
The minimal required memory is indeed 128MB and we are using 64MB before the mentioned PR.
wdyt ?

[2021-02-17 13:52] #3886 closed

[2021-02-17 15:48] jean-edouard commented on #4962
Opened a PR to re-enable the tests and see what happens: https://github.com/kubevirt/kubevirt/pull/5042
It they still fail, https://github.com/kubevirt/kubevirt/pull/5012 should help debug once merged, thanks!

[2021-02-17 15:54] phoracek commented on #5028
@mhenriks would this be something we want in KubeVirt?

[2021-02-17 15:58] oshoval commented on #5040
@phoracek @enp0s3
Do we want to only bump the memory in this specific test to 512Mi and on the rest of the Cirros to 128Mi
(or some other combination),
or we also want to bump the version ?
According the community bumping the memory and staying with 0.4.0 is sane.
Bumping to 0.5.0+ is a nice to have, i can do it on other PR if needed (almost there hopefully but it will take a bit).

[2021-02-17 20:20] mlsorensen commented on #5024
I see. I was just about to open a ticket.  I got a report today that virt-handler accounts for 12% of all API use in one of our clusters.

As a total tangent, I also got this message but have no context on it yet. When I get more concrete information we can create an issue, I have no idea at this point if it's a real problem.

```kubevirt requests rate without resourceVersion set (even though they

[2021-02-17 20:33] mlsorensen commented on #5024
Would we first query a cache in: https://github.com/kubevirt/kubevirt/blob/3f2fdf3f22e0ac710ee4d6f9c3d92eb047c430f7/pkg/util/types/pvc.go#L72

And return that instead of doing a get, if found? Can we assume that the PVC wouldn't change meaningfully for us as long as the pod is on the node? We only have the volume name and the namespace to tell if we need to grab cache or query the API, not somethi

[2021-02-17 21:46] mlsorensen commented on #5024
I'm playing with the k8s audit logs and if I'm reading this right, the vast majority of API calls from virt-handler are for "/version".  I have a test cluster with a dozen nodes, and over the course of 5 minutes "userAgent:  virt-handler/v0.0.0" made 1287 requests, 722 of these were for "/version".

[2021-02-18 09:22] poojaghumre commented on #3057
/reopen

[2021-02-18 09:26] xpivarc commented on #3057
/reopen
/cc @phoracek FYI

[2021-02-18 11:52] xpivarc opened #5052 "Add test for roles"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Was looking for a test that verifies our roles give credentials which we want. For example, our roles should honor `kubectl get all` .

This is a tracking issue for follow-up [work.](https://github.com/kubevirt/kubevirt/pull/4963)
**What you expected to happen**:

**How to reproduce it (as minimally and precisely a

[2021-02-18 13:45] Omar007 commented on #5028
Some extra context/information on the subject;

In libvirt, the sector sizing would be managed with the `blockio` section within the disk configuration.

[code]
https://libvirt.org/formatdomain.html#hard-drives-floppy-disks-cdroms

    If present, the blockio element allows to override any of the block device properties listed below. Since 0.10.2 (QEMU and KVM)
    **_logical_block_size_**

[2021-02-18 17:27] mlsorensen opened #5058 "virt-handler calls GET "/version" each healthcheck and liveness probe"
/kind bug

**What happened**:

I'm playing with the k8s audit logs and if I'm reading this right, the vast majority of API calls from virt-handler are for "/version". I have a test cluster with a dozen nodes, and over the course of 5 minutes "userAgent: virt-handler/v0.0.0" made 1287 requests, 722 of these were for "/version".

Looking at some other larger clusters, virt-handler accounts for about

[2021-02-18 17:28] mlsorensen commented on #5024
I went ahead and opened #5058 to track the "/version" piece separately.

[2021-02-18 18:23] davidvossel commented on #5058
@mlsorensen for the 744 version requests, if you have ~100 nodes in this cluster running virt-handler then this is likely the virt-handler heart beat.

heartbeat interval is every 1 minute. so math would be... `5 minutes * 144 nodes = 720 requests`

I'm guessing it's this [line of code,](https://github.com/kubevirt/kubevirt/blob/4b576cb7107fc55dbb60c6fa6f763ec447e7e17c/pkg/virt-handler/vm.go#L2361

[2021-02-18 19:01] mlsorensen commented on #5058
@davidvossel Yeah, I found that! I have a hard time understanding why it would be triggered every minute, isn't the for loop below that the actual heartbeat?  Seems like it's something here though as that is the only way I can get to this:

https://github.com/kubevirt/kubevirt/blob/9f66405f8e445d5ecb5b66f1b724f5251e70d863/pkg/util/cluster/cluster.go#L59

[2021-02-18 19:13] oshoval commented on #4901
Happened again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5039/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1362430350462029824

/reopen

[2021-02-18 19:14] oshoval commented on #4868
two 4621 failures here
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5039/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1362430350462029824
[code]

[2021-02-18 19:43] davidvossel commented on #5058
oh yeah... you're right. This call is outside of the loop. Weird. You're right that it doesn't look possible. Unless virt-handler is crashing over and over.

[2021-02-18 19:59] mlsorensen commented on #5058
Yes, I just checked for that. There are one or two that have restarted a few times but the source IP of the APIs is pretty evenly spread among all of the nodes.

[2021-02-18 20:36] xpivarc commented on #5058
My suspect would be https://github.com/kubevirt/kubevirt/blob/master/cmd/virt-handler/virt-handler.go#L390. 2 request (liveness+readiness probe) each 10 seconds so `5min * 60 / 10 * 2 = 60` request per handler in 5 minutes?

[2021-02-18 20:46] mlsorensen commented on #5058
Looks right to me... every call to /healthz results in a call to /version.

https://github.com/kubevirt/kubevirt/blob/4b576cb7107fc55dbb60c6fa6f763ec447e7e17c/pkg/healthz/healthz.go#L44

[2021-02-18 20:51] davidvossel commented on #5058
yep, i think this is it

[2021-02-18 20:57] mlsorensen commented on #5058
So my example, we have readiness probe of 30 seconds and liveness probe of 30 seconds.  37 pods in the daemonset... 148 calls to /healthz per minute.  Over 5 minutes is 740.

[2021-02-18 21:13] davidvossel commented on #5058
I doubt it would hurt to loosen up the interval for the liveness check a bit. I #5061 i changed the defaults we're using in the operator to 20 seconds for readiness and 45 for liveness. It was an interval of 10 seconds each

[2021-02-18 21:20] xpivarc commented on #5058
I would like to raise 2 questions:
1. Why do we use readiness checks in the first place? I was under the impression it is only good for `services`.
2. What benefit the `/version` API call brings us? Kubelet will also notice if there will be a connectivity issue. We also don't probably want to kill the handler if K8S API goes away, am I missing something?

[2021-02-18 21:21] mlsorensen commented on #5058
Yeah, in my case I think we will have to bump it to 300 seconds or so to make a meaningful improvement and drop virt-handler down as not the top API consumer.

Do you think it's worthwhile to cache this value? I assume it's meant to ensure the virt-handler is able to reach the API Server, or something like that?  Would the informers be able to tell us if that's an issue?

[2021-02-18 21:26] mlsorensen commented on #5058
It might be possible that the network policy that virt-handler is operating under may disallow communication to the API but kubelet would be fine. In that case it may be beneficial to ensure there is no regression there during operations.

[2021-02-18 21:46] xpivarc commented on #5058
Good point, not sure but I think there is a way to use the failing watchers.... @davidvossel wdyt?

[2021-02-19 08:18] rmohr commented on #3558
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-02-19 08:41] fgimenez commented on #4518
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1361979001106599936 also on 1.20

[2021-02-19 08:54] fgimenez commented on #4939
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1362160195538522113 also with #4835

[2021-02-19 08:54] fgimenez commented on #4835
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1362160195538522113 also with #4939

[2021-02-19 10:01] yangchenliang opened #5064 "ping vm ip"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2021-02-19 10:02] #5064 closed

[2021-02-19 10:11] yangchenliang opened #5065 "ping the ip of vm failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
ping the ip of vm failed
[root@worker1 kubevirt]# ping 10.244.1.114
PING 10.244.1.114 (10.244.1.114) 56(84) bytes of data.

**What you expected to happen**:
ping the ip of vm success

**How to reproduce it (as minimally and precisely as possible)**:
![image](https://user-images.githubusercontent.com/24475740/108490561-d6156f80-72dd-

[2021-02-19 10:15] yangchenliang commented on #5065
In another normal environment:
![image](https://user-images.githubusercontent.com/24475740/108490909-399f9d00-72de-11eb-8df0-9b23b86e5182.png)

In the current abnormal environment:
![image](https://user-images.githubusercontent.com/24475740/108491038-605dd380-72de-11eb-8c49-91f3c6963a95.png)

[2021-02-19 10:16] yangchenliang commented on #5065
Only lo net devices are visible in the virtual machine In the current abnormal environment.

[2021-02-19 13:39] #4229 closed

[2021-02-19 14:14] Omar007 commented on #4590
I don't think this is actually solved. The problem is still present on 0.38.1.

Going through the MR that supposedly fixed/closed this issue, it seems it has only hacked around it for systems where people have set up all their subvolumes in a 1-to-1 hierarchy on a subvolume named `@` below the default/top-level (id=5) but has not actually implemented support for btrfs.
I.o.w., it only covers a set

[2021-02-19 14:40] #4974 closed

[2021-02-19 14:40] #4975 closed

[2021-02-19 14:40] #4978 closed

[2021-02-19 14:51] vasiliy-ul commented on #4590
Hi, @Omar007 . Probably you are right. The fix was based only on one specific host configuration. You can refer to the comments in that PR. That concern was discussed and we just agreed to apply it as a starting point. Do you have ideas how to implement it in a more generic way?

[2021-02-19 14:54] fgimenez commented on #4958
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1362703775432708096

[2021-02-19 15:03] Omar007 commented on #4590
I don't have a good grasp on how it's currently implemented in KubeVirt so I'd have to take a better look at the implementation but I get the feeling it's currently not properly using/parsing mountinfo.

This is also the first time I've looked at mountinfo in this context so I might be completely wrong but to me it looks like that if you want to retrieve the mountpoint/path for something that is m

[2021-02-19 18:36] davidvossel commented on #5058
i think the internal informer cache remains available, but if the list/watch is failing then we won't receive any updates... meaning the handler's reconcile loop won't get popped until connectivity is restored.

[2021-02-21 01:14] #3732 closed

[2021-02-21 02:22] outbackdingo opened #5068 "qemu-kvm: error: failed to set MSR 0x48e"
/kind bug
{"component":"virt-handler","level":"info","msg":"re-enqueuing VirtualMachineInstance default/testvm","pos":"vm.go:1053","reason":"server error. command SyncVMI failed: \"LibvirtError(Code=1, Domain=10, Message='internal error: qemu unexpectedly closed the monitor: 2021-02-21T02:17:50.604694Z qemu-kvm: error: failed to set MSR 0x48e to 0xfff9fffe04006172\\nqemu-kvm: /builddir/build/BUILD

[2021-02-21 05:18] #4133 closed

[2021-02-21 05:48] Mohitsharma44 opened #5069 "Failed to connect socket to '/var/run/libvirt/libvirt-sock"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
`virt-launcher` pod keeps restarting. Logs mentioned below

**What you expected to happen**:
vm would launch

**How to reproduce it (as minimally and precisely as possible)**:
Followed the quick start guide for setting up kubevirt on `microk8s`. Specific steps to reproduce:
[code]

**Anything else we need to kn

[2021-02-21 06:01] Mohitsharma44 commented on #5069
Exact steps and their output that were run (a couple of times in fresh Microk8s instance):

- Get latest release:
[code]

- kubevirt-operator:
[code]

- useEmulation:
[code]

- custom resource definition:
[code]

- Verify everything came up fine:
[code]

- Made sure ip forwarding is enabled:
[code]

- (Re-)Install virtctl via krew:
[code]

- Create VM:
[code]

- Start the VM:
[code]

- Check logs

[2021-02-21 08:19] oshoval commented on #3696
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5045/pull-kubevirt-e2e-k8s-1.18/1362429846705147904
Not related to the PR
verified that before the PR it had 64M (so the PR should just increase it)
[code]

/reopen

[2021-02-21 09:37] oshoval commented on #4903
Happend again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5055/pull-kubevirt-e2e-k8s-1.19/1363403510711848960

Sound it might be just matter of waiting more, as its Scheduling instead of Running,
adding memory (64M -> 512Mi) can also make it faster from what i saw on other tests.

[2021-02-21 10:29] oshoval commented on #4962
Maybe worth running all this Context as [Serial] first for a while ?

[2021-02-21 10:30] oshoval commented on #4829
Maybe worth running all this Context as [Serial] first for a while ?

[2021-02-21 13:55] oshoval opened #5071 "Kubevirt cluster-sync fails: cdi-insecure-registries config-map not found"
/kind bug

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5060/pull-kubevirt-e2e-k8s-1.17/1363387908672720896#1:build-log.txt%3A5471
Fails due to `cdi-insecure-registries config-map not found`
Happens pretty often

**What you expected to happen**:
Should pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else w

[2021-02-21 15:32] oshoval commented on #4939
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5045/pull-kubevirt-e2e-k8s-1.17/1363468574340943872

[2021-02-21 15:33] oshoval commented on #4835
Again with https://github.com/kubevirt/kubevirt/issues/4939 as above comment
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5045/pull-kubevirt-e2e-k8s-1.17/1363468574340943872

[2021-02-21 17:37] nunnatsa commented on #4219
Today again

[2021-02-21 17:42] nunnatsa opened #5073 "[Flaky CI][test_id:3245]should not migrate more than two VMIs at the same time from a node"
/kind bug

/triage build-watcher

Failed in CI:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5066/pull-kubevirt-e2e-k8s-1.17/1362881320216170496
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5066/pull-kubevirt-e2e-k8s-1.17/1362723781545562112
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4

[2021-02-21 17:47] nunnatsa opened #5074 "[CI failure] [test_id:3108]Should not initialize an empty PVC with a disk.img when disk is too small even with toleration"
/kind bug
/triage build-watcher

Test fails in CI:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5066/pull-kubevirt-e2e-k8s-1.17/1362881320216170496
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4952/pull-kubevirt-e2e-k8s-1.20/1363280449228509184
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_ku

[2021-02-21 17:50] nunnatsa commented on #5074
Actually, it seems like an environment issue.

[2021-02-21 17:50] #5074 closed

[2021-02-21 17:50] nunnatsa commented on #5073
Actually, it seems like an environment issue.

[2021-02-22 08:23] #4888 closed

[2021-02-22 11:48] #4689 closed

[2021-02-22 21:05] mlsorensen commented on #5058
Maybe we could make this check on a longer interval, cache the result. At a minimum the liveness and readiness could benefit from deduplicating the requests and using the same result.

[2021-02-23 07:14] oshoval commented on #4958
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5076/pull-kubevirt-e2e-k8s-1.17/1363869838698614785

[2021-02-23 07:16] cumirror opened #5080 "[HotplugVolumes] Why disk must use a scsi bus?"
I am using the HotplugVolumes feature recently. In the test, I found that only the disks with scsi bus are supported, but usually a virtio bus will be used.

Why does kubevirt have this limitation? The underlying qemu does not seem to have this limitation.

code: pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
[code]

[2021-02-23 07:16] oshoval commented on #4913
other error but same test, might be just a variant of the same problem
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5076/pull-kubevirt-e2e-k8s-1.17/1363869838698614785

[code]

[2021-02-23 07:42] cumirror opened #5081 "[snapshot] When the pvc related to volume is from a clone, vm snapshot will create failed"
I recently used the snapshot feature of vm, and the following error occurred during use:
[code]

vm's volume relation pvc is as following:
[code]

Through analysis, it should be because the apiGroup field in  dataSource has no "omitempty" flags, resulting in null when json is serialized, and an error occurs when deserialization from configuration.

By modifying the json attribute of the related fi

[2021-02-23 09:37] fgimenez commented on #4913
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1363428550803197952 in this case with this error:
[code]

[2021-02-23 10:02] fgimenez commented on #4938
/reopen

Happened again during AfterEach https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1363428550807392257
[code]
It caused a lot of failures after this error and a final 7h timeout.

[2021-02-23 10:30] fgimenez commented on #4876
/reopen

Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1363609743750336512

[2021-02-23 11:09] DanielQujun opened #5083 "duplicated log files generated in tmp directory"
I noticed that there are log files in the /tmp directory, It looks like leaked by klog.

If we don't take over it, It could be very large.

[code]

[2021-02-23 14:03] yangxiaoliang opened #5085 "How to setup the default mount path of emptyDisk ?"
Hello,

Following is my VMI specifications,

[code]

after the VM starts up, I can see flowing info from `lsblk`

[root@vm-test01 ~]# lsblk
NAME   MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
vda    253:0    0    8G  0 disk
└─vda1 253:1    0    8G  0 part /
vdb    253:16   0   50G  0 disk

I want to use the device vdb directly, while it doesn't have a mount point , so I have to setup mount point manually.

[2021-02-23 14:06] davidvossel commented on #5058
I suppose we could create a custom tunable for the /version polling interval and cache the result. We'd want to be really careful with how that's done though. If we get a failure on the /version endpoint, we'd want to start polling it much quicker in order to determine when connectivity restored

If we don't do that in the event of connectivity failures, it's possible that the liveness probe could

[2021-02-23 14:24] xpivarc commented on #5058
Maybe we can use [SetWatchErrorHandler]( https://pkg.go.dev/k8s.io/client-go/tools/cache#SharedInformer).

[2021-02-23 14:53] vasiliy-ul commented on #5085
Probably you could do mkfs/mount via cloudinit. Not sure it is possible to specify the mount via the VMI spec.

[2021-02-23 20:20] #4996 closed

[2021-02-23 21:21] #4998 closed

[2021-02-23 23:04] mlsorensen commented on #5058
I spent some time experimenting with SetWatchErrorHandler. I set up a new struct type that the controllers could pass to KubeConnectionHealthzFuncFactory. If the struct was empty, the healthcheck function would fetch `/version` and save it into this, otherwise it would just return what is in the struct. I then added functions to handle SetWatchErrorHandler on the various informers being used by th

[2021-02-24 10:06] fgimenez commented on #4931
/reopen

Happened here again on test_id:4558 https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1363609743758725120

[2021-02-24 10:11] fgimenez commented on #4931
/close

In fact this is the same underlying issue as #4649 and #4698, reopening the oldest one.

Duplicate of #4649

[2021-02-24 10:11] #4931 closed

[2021-02-24 10:12] fgimenez commented on #4649
Duplicate of #4649

[2021-02-24 10:12] fgimenez commented on #4931
Duplicate of #4649

[2021-02-24 10:14] fgimenez commented on #4698
Duplicate of #4649

[2021-02-24 10:29] fgimenez commented on #3645
/reopen

Same test failing here https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1363609743758725121 looks like the reason is different though

[2021-02-24 11:50] fgimenez commented on #4544
Could we identify which tests break the cluster?

In recent builds where there are a lot of failures after one test breaks the cluster we are getting 7h timeouts and the test output is not parseable by junit, like in this case https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1364334520735633408 For this one the first test that failed was `test_id:2221` already

[2021-02-24 13:25] oshoval commented on #4526
Again here

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5039/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1364546921913389056

/reopen

[2021-02-24 13:29] oshoval commented on #4525
Again here (indeed rook-ceph)
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5039/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1364546921913389056

/reopen

[2021-02-24 13:37] #5004 closed

[2021-02-24 14:03] fgimenez commented on #4544
Looking at the kubelet logs in this last case I see a lot of:
[code]
and also:
[code]

[2021-02-24 14:07] fgimenez commented on #4544
/reopen

reopening given that we are still getting a lot of failed builds because of this.

[2021-02-24 14:12] fgimenez commented on #4913
Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1364334520727244800 with this error message:
[code]

[2021-02-24 14:14] fgimenez commented on #5005
/reopen

Happened again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1364334520735633409

[2021-02-24 14:40] oshoval commented on #4720
can it be duped by https://github.com/kubevirt/kubevirt/issues/4958 ?
(which reoccurred after the merge i think)

[2021-02-24 14:54] ormergi commented on #4529
/close

Configuring etcd to run on RAM memory solved this issues

[2021-02-24 14:54] #4529 closed

[2021-02-24 15:34] oshoval commented on #5071
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5002/pull-kubevirt-e2e-k8s-1.19/1364572716350312448

[2021-02-24 15:53] davidvossel commented on #5080
/cc @awels maybe you can clarify why this decision was made. I seem to remember there were some limitations that made scsi the easiest initial path.

[2021-02-24 16:04] awels commented on #5080
Well basically the problem boils down to virtio bus uses a pci-root-port for each disk that is hotplugged. And you cannot dynamically increase the number of pci-root-port once the VM is started. By default there is a single available port for hot plugging a disk. So you can only add a single disk, which is not suffcient for many use cases.

We did not want to expose all the intricate details on co

[2021-02-24 16:12] fabiand commented on #2902
https://github.com/kubevirt/kubevirt/pull/4921

[2021-02-25 02:47] cumirror commented on #5080
Got it, thank you for your reply @awels

[2021-02-25 02:47] #5080 closed

[2021-02-25 05:40] c0dyhi11 commented on #4950
@kklemon Would you mind sharing what your CR looks like now?

[2021-02-25 07:04] vasiliy-ul commented on #5068
I have a feeling that the error comes because of a more-or-less recent version of qemu `5.1.0` and an old Linux kernel `4.18`. For example a similar problem was discussed here: https://forums.gentoo.org/viewtopic-t-1118670-start-0.html:

As a workaround you may try to set the CPU model (or maybe features) explicitly to avoid the 0x48e MSR (which is MSR_IA32_VMX_TRUE_PROCBASED_CTLS I guess). Or upd

[2021-02-25 15:02] #4959 closed

[2021-02-25 16:58] thetechnick opened #5104 "kubevirt-io-periodic-link-checker failure (some links return 404)"
/kind bug
/triage build-watcher

`kubevirt-io-periodic-link-checker` is failing since `2021-02-09 20:11:51 UTC` due to an increasing number of links returning 404.

[code]
https://prow.apps.ovirt.org/job-history/gs/kubevirt-prow/logs/kubevirt-io-periodic-link-checker

[2021-02-25 17:14] thetechnick opened #5105 "[Flaky CI][Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] should block the eviction api and migrate"
/kind bug
/triage build-watcher

[code]

`periodic-kubevirt-e2e-k8s-prev`
From: https://prow.apps.ovirt.org/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev/1364878104538910720

[2021-02-25 17:52] Omar007 commented on #4590
I had a bit of time to look into this. It looks like KubeVirt is currently written as if this is something to handle and test in a way that is unique or would differs per filesystem but the way to process this should, from what I can tell based on the mount namespaces documentation, be the exact same regardless of filesystem and only depend on whether it's a private, shared or slave mount (and may

[2021-02-26 11:22] #4179 closed

[2021-02-26 19:30] #4276 closed

[2021-02-26 20:07] mlsorensen commented on #4560
There might be some work to do on calculating the guest memory, as I have been seeing VMs get OOMKilled as well without using overcommit. At first I thought perhaps that the node was experiencing memory pressure due to other pods having a very high limit but the node was carved up based on requests. If pods started going far beyond their request, that could cause the node to start looking for proc

[2021-02-27 01:55] vqthanh opened #5110 "Not support booting disk when using virtio bus on windows VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
![8B30EB11-1994-40A9-A816-A2AD5802B6D5](https://user-images.githubusercontent.com/36762946/109371880-715ba580-78d9-11eb-854d-62842bb5cbfd.jpeg)

When use bus: virtio:
after installing driver from container disk,
The disk appeared but notified “not support booting disk...”
**What you expected to happen**:
Can use virtio driver
**How

[2021-02-27 03:46] yichengliu58 commented on #4382
@rmohr that's good to know, thanks !

[2021-02-27 03:46] #4382 closed

[2021-02-28 16:14] #1023 closed

[2021-02-28 21:59] salanki commented on #4290
/reopen

[2021-03-01 04:31] EdDev opened #5113 "[Conformance][test_id:1780][label:masquerade_binding_connectivity]should allow regular network connection IPv6: Fails external connectivity"
/kind bug

**What happened**:
IPv6 connectivity check to an external address fails.
The address used is specific to kubevirtci setup (which is a problem by itself).

Filed assertion:
[code]

**What you expected to happen**:
IPv6 connectivity check should pass.

**How to reproduce it (as minimally and precisely as possible)**:
Unable to reproduce it on local run, it seems to happen consistently on

[2021-03-01 07:55] enp0s3 commented on #5113
Checked and it can be reproduced on a local kubevirtci setup, therefore the upstream CI infra is not the root cause

[2021-03-01 08:51] EdDev commented on #5113
I was not able to reproduce it locally.
I wander what is the difference... I ran it on the CNAO lane.

[2021-03-01 10:22] enp0s3 commented on #5113
@EdDev my bad. I forgot to configure my local docker to support Ipv6, as stated in the [documentation](https://github.com/kubevirt/kubevirtci/blob/b87ef18cd10ed8e98da58c8b0f92620e34407481/cluster-up/cluster/k8s-1.19/README.md#enabling-ipv6-connectivity). Now after the configuration has been applied the tests pass. So indeed it may be related to the [bootstrap](https://github.com/kubevirt/project-i

[2021-03-01 10:41] zhlhahaha opened #5124 "VM boot failure on ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When booting example/vmi-fedora.yaml on **ubuntu**, it failed with following error message form virt-handler
[code]

**What you expected to happen**:
VM boot successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
It seems related to the https://github.co

[2021-03-01 10:41] zhlhahaha commented on #5124
cc @maiqueb @rmohr

[2021-03-01 10:42] zhlhahaha commented on #5124
/assign @maiqueb

[2021-03-01 12:56] sanzende opened #5125 "Resize OS volume that was uploaded using virtctl image-upload"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I did not find options to increase of the volume hence used the method described below.

Edited the pvc spec(yaml) that was created as part of virtctl image-upload command to increase the size from 80Gi to 100Gi. In the kubectl describe pvc it does show the modified value. If I exec into the pod that is hosting VM using t

[2021-03-01 14:52] maya-r commented on #4720
happened on openshift-ci as well: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.8-e2e/1366222299895697408

[2021-03-01 15:00] maya-r commented on #5005
/reopen
this failed with: `Can't connect to websocket (500): websocket: bad handshake` in https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1366146270376235008
fyi @rhrazdil

[2021-03-02 08:50] #3906 closed

[2021-03-02 14:57] rmohr commented on #5124
seems like https://github.com/kubevirt/kubevirt/pull/4849/files introduce this.

[2021-03-02 15:12] xpivarc commented on #5058
1. I don't see this as a problem. Even with the probe, we have a 10seconds interval and I would expect watch will fail in a similar time.

2. I don't see it being used maybe our test suit will show us otherwise.

3. You are right, there is also a heartbeat that is patching the node but we don't react to failures in the virt-handler. Virt-controller is responsible for response in case of heartbeat

[2021-03-02 15:27] vasiliy-ul commented on #5124
I create a quick fix... for the case if this issue is blocking someone.

[2021-03-02 21:55] mhenriks commented on #4958
Again:  https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-4.8-e2e/1366584623005437952

[2021-03-03 09:16] #3620 closed

[2021-03-03 09:16] #3821 closed

[2021-03-03 09:58] watermelon-brother opened #5142 "how to hotplug interface、cpu、memory in the running vm?"
**What happened**:
I want add/reduce the cpu num or memory or interface  in the running vm ,so,how can do it ?
**What you expected to happen**:
I know that current kubevirt version is not support above function,I want develop it, do you have any idea to me?
**How to reproduce it (as minimally and precisely as possible)**:
nothing...

**Anything else we need to know?**:
I want join the kubevirt dev

[2021-03-03 10:39] EdDev commented on #5113
This has been confirmed to be related to the prow bootstrap image change.
The bootstrap has been fixed by placing the docker config in the expected location and these tests are now passing fine.

We plan to control the external IP/domain for both IPv4 and IPv6 from outside the tests, in order to allow the checks to occur on clusters that have access to an out-of-cluster IP/domain and to skip it fo

[2021-03-03 12:30] tomob commented on #3610
And again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.19/1365675040699322368

/reopen

[2021-03-03 12:39] tomob commented on #4525
And again:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1364692756617760768
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1364570828917706753
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-

[2021-03-03 12:45] tomob commented on #4868
And here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1364692756617760768
And here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1365237344944263168

[2021-03-03 12:46] tomob commented on #4527
And again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1364692756617760768
And again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1365237344944263168

/reopen

[2021-03-03 12:52] tomob opened #5143 "[Serial][rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance rook-ceph live migration cancelation [test_id:3241]should be able to cancel a migration right after posting it"
/kind bug
/triage build-watcher

**What happened**:

Test timed out:

[code]

**Anything else we need to know?**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1364872943875657728

**Environment**:

Root-ceph storage, k8s-1.17

[2021-03-03 12:55] tomob commented on #4833
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-cnao-1.19/1365490827337404416

/reopen

[2021-03-03 12:58] tomob commented on #4970
Another failure: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4387/pull-kubevirt-e2e-k8s-1.20/1366846259251384320

/reopen

[2021-03-03 15:28] phoracek commented on #5142
@watermelon-brother This is definitely something we want to have in KubeVirt. Could you please split this into a separate RFE per each type of device? Then provide specific usecases you want to support. If you want to start working on it, proposing a design on our mailing list.

[2021-03-03 15:32] phoracek commented on #5125
@sanzende interesting, the issue may be that while the PVC gets resized, the virtual disk / file system does not. In any case, I feel like this Issue belongs to CDI https://github.com/kubevirt/containerized-data-importer. Would you please reopen this issue there?

[2021-03-03 15:36] phoracek commented on #5113
The issue was resolved.

[2021-03-03 15:36] #5113 closed

[2021-03-03 15:37] phoracek commented on #5085
@yangxiaoliang could you please confirm that the comment above have solved the issue?

[2021-03-03 15:40] phoracek commented on #5083
@DanielQujun could you please share from which pod/node have you collected these logs?

[2021-03-03 15:45] phoracek commented on #5081
@mhenriks there seems to be an issue with the snapshot feature, would you please take a look?

[2021-03-03 15:53] mazzystr commented on #5104
Links are repaired

- ./_site/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html > https://github.com/kubevirt/kubevirt.github.io/pull/699
- ./_site/hostpath-provisioner-operator/index.html > https://github.com/kubevirt/kubevirt.github.io/issues/701

We can close this issue

[2021-03-03 16:28] mhenriks commented on #5081
Thanks for the detailed bug report @cumirror!  Will fix this

[2021-03-03 16:49] #5104 closed

[2021-03-03 20:26] dimm0 commented on #5110
@vqthanh How did you solve this?

[2021-03-03 20:53] mlsorensen commented on #5058
Do you think we need to `SetWatchErrorHandler()` on all of the informers, or just on any one of the watches per virt-api, virt-controller, or virt-handler?

As far as testing - I can easily add a test for the cache itself, but aside from just ensuring the software still works and there are no regressions via functional tests I'm not sure how to exercise this via test suite... something that kills

[2021-03-04 06:11] sunkai-XDD opened #5148 "Run windows vm on kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I want to create a windows vm on my kubevirt env，but it seems meet some question，i can’t create correctly
**What you expected to happen**:
create a windows vm
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
![image](https://user-images.githubusercontent.com/42962379/109919387-87

[2021-03-04 07:05] yangxiaoliang commented on #5148
probably you used a dedicated volume source, please update "registryDisk" to "containerDisk" to see if it works

https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#containerdisk

[2021-03-04 07:07] #5085 closed

[2021-03-04 07:10] yangxiaoliang commented on #5085
thanks @vasiliy-ul , it works via cloud-init.

[2021-03-04 09:18] htlabc commented on #5110
i hava the same problem @vqthanh  How did you solve this

[2021-03-04 09:38] htlabc opened #5151 "kubevirt running windows image not suppot booting disk"
**What happened**:
![image](https://user-images.githubusercontent.com/20431134/109943421-2645f600-7d10-11eb-9033-502c8b4c6d48.png)

When use bus: virtio:
after installing driver from container disk,
The disk appeared but notified “not support booting disk...”

![image](https://user-images.githubusercontent.com/20431134/109943197-e4b54b00-7d0f-11eb-86be-eb68f91f60da.png)

**Environment**:
- KubeVir

[2021-03-04 15:33] awels commented on #5151
You will need to also attach the virtio drivers disk so you can point windows to it.

[2021-03-04 16:09] awels commented on #4868
And here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5126/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1367273577207828480

[2021-03-04 16:10] awels commented on #4901
And here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5126/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1367397893715005440

[2021-03-04 16:36] awels opened #5154 "Configurations VirtualMachineInstance definition [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with namespace limits higher than VMI requests [test_id:3120]should start the VMI with the right default settings from namespace limits"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
[code]

**What you expected to happen**:
Test to pass
**How to reproduce it (as minimally and precisely as possible)**:
Look in https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5126/pull-kubevirt-e2e-k8s-1.18/1366743582274228224

**Anything else we need to know?**:

*

[2021-03-04 16:38] awels commented on #4834
/reopen

Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5139/pull-kubevirt-e2e-k8s-1.20/1367373235062050816

[2021-03-04 16:40] awels commented on #4835
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5126/pull-kubevirt-e2e-k8s-1.20/1366753649002287104

[2021-03-04 16:43] awels commented on #4961
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5126/pull-kubevirt-e2e-k8s-1.20/1366753649002287104

[2021-03-04 16:53] awels commented on #4830
Happen again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5126/pull-kubevirt-e2e-k8s-1.18/1366465375138484224

[2021-03-04 21:20] davidvossel commented on #5058
Okay, so if the informer's persistent connection breaks, then we start polling version again until that connectivity is restored. That keeps us from having to indefinitely poll /version.

I think that makes sense. I assume that the informers are performing some sort of keep-alive mechanism to ensure they can accurately detect when the connection isn't active anymore in order to reconnect. Otherwis

[2021-03-04 21:26] xpivarc commented on #5058
Regarding testing, can't you do what you described in the previous comment? `I exec'd into the virt-handler...`

[2021-03-04 22:25] mlsorensen commented on #5058
I'm just not certain what the existing code around testing the health endpoint looks like yet, or anything really about the actual running of the test suite in the kubevirt CI process. It's something to look into...

[2021-03-04 22:55] mazzystr commented on #5151
User-guide has some good directions on how to attach virtio driver disk.  Link is [here](https://kubevirt.io/user-guide/virtual_machines/windows_virtio_drivers/#how-to-obtain-virtio-drivers)

You can also d/l the latest/greatest from the virtio-win project.  Link is [here](https://github.com/virtio-win/virtio-win-pkg-scripts/blob/master/README.md)

[2021-03-05 00:17] mazzystr opened #5155 "Org permissions"
@fabiand  @davidvossel  Can someone check the settings to the KubeVirt org?  I should be a member and maintainer.

I should be able to adjust settings like Branch Protection via the web portal to at least membership, community, kubevirt.github.io, user-guide, demo, katacoda-scenarios, and kubevirt-tutorial repos.  I'm not able to even see the branch protection settings or any of the other advanced

[2021-03-05 04:21] condaatje commented on #3495
Hoping to re-open this issue - kubevirt does not work with the default workflow on microk8s still

[2021-03-05 04:35] condaatje commented on #3495
this didn't fix the issue:

`ln -s /var/lib/kubelet/ /var/snap/microk8s/common/var/lib/kubelet/`

[2021-03-05 04:43] condaatje commented on #5069
also getting `Failed to connect socket to '/var/run/libvirt/libvirt-sock`

https://github.com/kubevirt/kubevirt/issues/3495 didn't help for me but maybe it will for you?

[2021-03-05 10:04] #4518 closed

[2021-03-05 13:20] vqthanh commented on #5110
Sorry, I haven’t solved it, i just think I did something wrong and need learning more

[2021-03-05 16:22] brybacki commented on #4900
again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5054/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1366430772151455744

[2021-03-05 16:23] brybacki commented on #4525
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5054/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1366430772151455744

[2021-03-05 16:28] brybacki commented on #4649
this looks similar -on test "[Serial]Slirp Networking should be able to VirtualMachineInstance with slirp interface expand_less"
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5054/pull-kubevirt-e2e-k8s-1.20/1367316860910964736

x509: certificate signed by unknown authority

[2021-03-05 16:50] brybacki commented on #4601
The PR  [CDI #1560](https://github.com/kubevirt/containerized-data-importer/pull/1560) adds new annotation "storage.bind.immediate.requested" that might help when one does not care about node selection.

[2021-03-05 16:53] brybacki opened #5160 "[sig-storage] Hotplug WFFC storage Should be able to add and use WFFC local storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
[code]

log file shows volumes with phase: `"phase": "AttachedToNode",`
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5054/pull-kubevirt-e2e-k8s-1.20/1366428003701100544
**What you expected to happen**:
volume phase: "Ready"

**How to reproduce it (as minimally and

[2021-03-05 17:05] brybacki commented on #4974
happened again here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5054/pull-kubevirt-e2e-k8s-1.20/1366428003701100544
for

[sig-storage] Hotplug Offline VM Should add volumes on an offline VM with PersistentVolume
and
[sig-storage] Hotplug Offline VM Should add volumes on an offline VM with DataVolume

[2021-03-07 08:49] #3696 closed

[2021-03-07 10:51] #4903 closed

[2021-03-07 13:48] arnongilboa commented on #4971
Happened again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1368320598559690752

/reopen

[2021-03-07 13:54] #4962 closed

[2021-03-07 13:55] arnongilboa commented on #4961
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1368501792899338240

[2021-03-07 14:07] arnongilboa commented on #4939
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1368139530867052545

[2021-03-07 14:09] arnongilboa commented on #4835
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-prev-prev/1368139530867052545

[2021-03-07 16:22] arnongilboa commented on #4262
Again:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5089/pull-kubevirt-e2e-k8s-cnao-1.19/1368526208303632384

[2021-03-07 16:22] arnongilboa commented on #4262
/reopen

[2021-03-07 17:58] #5073 closed

[2021-03-07 18:50] arnongilboa commented on #4836
Looks quite similar:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5128/pull-kubevirt-e2e-k8s-1.18/1368540049833988096

/reopen

[2021-03-07 19:02] arnongilboa opened #5163 "HookSidecars [rfe_id:2667][crit:medium][vendor:cnv-qe@redhat.com][level:component] VMI definition with SM BIOS hook sidecar [test_id:3155]should successfully start with hook sidecar annotation"
/kind bug
/triage build-watcher

Failed here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5135/pull-kubevirt-e2e-k8s-1.20/1368529856605720576

[2021-03-07 19:04] arnongilboa opened #5164 "[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance with affinity [test_id:1638]the vmi with node affinity and anti-pod affinity should not be scheduled"
/kind bug
/triage build-watcher

Failed here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5135/pull-kubevirt-e2e-k8s-cnao-1.19/1368529727811227648

[2021-03-08 02:36] sfxworks commented on #3820
Same problem. Also happens with freebsd in general.
Using rook ceph as a backend.
[code]

[2021-03-08 12:12] oshoval commented on #4902
/reopen

[2021-03-08 12:13] oshoval commented on #4902
closing as a PR that should fix it was merged
https://github.com/kubevirt/kubevirt/pull/5039

[2021-03-08 12:13] oshoval commented on #4902
/close

[2021-03-08 12:13] #4902 closed

[2021-03-08 20:16] mazzystr opened #5172 "Begin process to promote KubeVirt to a CNCF incubating project"
/kind enhancement

Per Josh Berckus in Red Hat OSPO (Open Source Program Office) it is time to begin the process to get project KubeVirt promoted to an incubating project under the CNCF.

CNCF Technical Oversight Committee (TOC) Due Diligence doc is [here](https://github.com/cncf/toc/blob/main/process/due-diligence-guidelines.md)

# Where to start

- [ ] make sure you're clear on the TOC Principle

[2021-03-09 02:01] yangxiaoliang opened #5173 "Run vmi on ssd nodes, how to persistent the datas between vmi restarts ?"
**What happened**:
I am running VMI on SSD nodes, and the volume types i used are containerDisk and emptyDisk. After the VMI restarts, the data on the disks are gone. From the user-guide https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#volumes
  it seems if i want to persistent the data between VMI restarts,  i have to use local PV/PVC ?
do you have any suggestions or "best pract

[2021-03-09 06:17] DanielQujun commented on #5083
The Klog imported by lastest release of kubevirt has fixed this issue, closing.

[2021-03-09 06:17] #5083 closed

[2021-03-09 06:32] lixiaobing1 opened #5174 "1"

[2021-03-09 06:34] lixiaobing1 commented on #5174
@rmohr @talcoh2x can cc?  :)

[2021-03-09 07:31] oshoval commented on #4836
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5167/pull-kubevirt-e2e-k8s-1.19/1369075071338942464

@phoracek should we mark it sig network ?

[2021-03-09 08:50] dhiller opened #5175 "Add support for running changed tests only in tests binary"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

The maintenance of the `automation/repeated_test.sh` is cumbersome and error prone. We should move the feature of running only the changed tests into the tests binary and activate it by using the flag `-run-changed-tests-only=true`.

See #5171, #5170

**What you expected to happen**:

**How to reproduce it (as mi

[2021-03-09 08:57] phoracek commented on #4836
@oshoval what are you asking? Whether to mark test_id:1202 as sig-network too?

test_id is owned by Red Hat QE, they should be the ones deciding about it.

[2021-03-09 09:22] oshoval commented on #4836
meant either that or if to mark this issue as sig-network
ok thx

[2021-03-09 09:49] xpivarc opened #5177 "Eviction is not canceled if the node gets healthy/schedulable again."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
1. We drain node and triggers an eviction of VMI from the node. The migration fails.
2. We cancel the drain and uncordon node. The eviction is not canceled.

**What you expected to happen**:
Eviction to be canceled.

**How to reproduce it (as minimally and precisely as possible)**:
See` What happened` .

**Anything else we

[2021-03-09 09:50] brybacki commented on #4868
Able to reproduce locally, looks like sometimes the upload pod has a slow start. No idea why. Updating timeout should help.
[code]

[2021-03-09 09:57] brybacki commented on #4868
Looking at the prow logs I can see the pod logs are not available. It means so pod did not start yet. This confirms my findings from local runs.

Now lets wait for test lanes on #5178.

[2021-03-09 10:38] #4938 closed

[2021-03-09 10:38] #4876 closed

[2021-03-09 11:24] availati commented on #5151
Hi @awels  and @mazzystr ,
looking at yaml and problem description, he already has installed virtio-win drivers attaching virtio-container-disk.
The same I did, following w2k12 tutorial https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html, and I'm stucked in same point with same error.
A point more is that on same host, if I try install win2k12 with virt-manager, mountin

[2021-03-09 12:43] awels commented on #5151
Well if you mounted the virtio disk with a container disk, you have to pick load drivers and pick the drive the container disk is in. The container disk cannot be virtio (as it can't be read until the drivers are installed). Once you have loaded the drivers it should be able to use the virtio drive.

[2021-03-09 13:26] brybacki commented on #4961
Pod is unschedulable because of: "0/2 nodes are available: 2 pod has unbound immediate PersistentVolumeClaims."

Volume is not bound and the following message can be seen in most cases mentioned above:
`1_kube-system_kube-controller-manager-node01-kube-controller-manager`: " there are no remaining CIDRs left to allocate in the accepted range"

[2021-03-09 14:12] oshoval commented on #4997
/reopen

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5167/pull-kubevirt-check-tests-for-flakes/1369251488844484608

[2021-03-10 03:33] #4097 closed

[2021-03-10 06:29] #4630 closed

[2021-03-10 08:58] #4158 closed

[2021-03-10 09:03] cumirror opened #5185 "[disk target miss match with device in vm]when use scsi bus for disk, disk target will miss match with device"
When I have multiple scsi disks, I found disk's target in vmi is inconsistent with the device inside the vm. and when use virtio bus for disks, this problem will not occur.

vmi‘s volumeStatus is consistent with qemu, but device mapping in vm is missmatch.

vol-26iz4lhs's target is sdb, but the device in vm is sdc;  vol-cccnwc1w also miss match, device in vm is sdb

vmi
[code]

vm's xml info in vi

[2021-03-10 11:02] #3645 closed

[2021-03-10 14:05] #4526 closed

[2021-03-10 15:06] #4913 closed

[2021-03-10 15:08] oshoval commented on #4544
7h happened today
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5167/pull-kubevirt-check-tests-for-flakes/1369555863940894720

/reopen

[2021-03-10 15:39] davidvossel commented on #5173
Hey, I'd recommend using a VirtualMachine rather than a VirtualMachineInstance.

With a VirtualMachine you can dynamically create a PVC to host a disk and impoart your container disk into that PVC. This will allow the data to persist across restarts. You can accomplish this by installing cdi and using the DataVolumeTemplate section of the VM spec.

[code]

[2021-03-10 15:56] brybacki commented on #4868
But anyway, now I think it is not the pulling that is problematic, when pulling image, the events look like this:
[code]

And in the few cases, where the test failed the message was:
[code]

So there was some time spent between the event `Normal SuccessfulAttachVolume` and the event `Pull`.

[2021-03-10 16:05] #3512 closed

[2021-03-10 16:53] brybacki commented on #4961
Thanks @qinqon.
I hope it is the cause of the problem and not a coincidence.

[2021-03-10 19:58] mlsorensen opened #5193 "virt-handler metrics trigger API DoS with list calls to virtualmachineinstances"
https://github.com/kubevirt/kubevirt/blob/d7a7d09b7c7ef9f67c9a9a598d7f6d2ec083cb57/pkg/util/lookup/lookup.go#L19

Prometheus metrics collection triggers a list call to virtualmachineinstances from each virt-handler. This can hit the Kubernetes API server pretty hard in larger clusters. Perhaps we can find a more efficient way to reflect this information. Further, this list call doesn't set a resou

[2021-03-10 22:32] davidvossel commented on #5155
@mazzystr i'm working on this

[2021-03-10 22:39] davidvossel commented on #5155
@mazzystr you're set as a "maintainer" for most of these projects. For user-guide for example, does that not let you adjust branch protection settings? If not i can bump to admin priv

[2021-03-11 01:04] fanzhangio opened #5195 "virt-controller should update vmi status phase based on pod status"
**BUG REPORT**:

/kind bug

**What happened**:
Controller normally has two types of resources to care about in reconciliation: 1) primary resources which are the ones controller is going to update status. 2) secondary resources are the ones that controller will operate (CRUD) or being for lookups.

Currently, after creating a launcher pod, in following virt-controller's VMI updateStatus progress,

[2021-03-11 03:58] noobone123 opened #5196 "How to modify and compile kvm-qemu in the "compute" container in kubevirt"
Well, I am adding some new features in kvm-qemu, now I want to make my VMI running on this new kvm-qemu container.
But I don't know how to change default kvm-container(in my kubevirt system, this container's name is "K8S_compute") to my new container.....

I know this question looks so fool, but I really can not find the way to change it....

Can someone help me!!!

[2021-03-11 06:46] qinqon commented on #4961
Let's x fingers :-)

[2021-03-11 08:41] xpivarc opened #5201 "[Unit-test] [Flaky] SRIOV HostDevice safe detachment fails due to a missing event from a sriov device"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Unit test failed in https://github.com/kubevirt/kubevirt/pull/5183 .
See https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5183/pull-kubevirt-unit-test/1369687355304185856

**What you expected to happen**:
Pass
**How to reproduce it (as minimally and precisely as possible)**:

**Anything els

[2021-03-11 09:16] oshoval commented on #5143
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5167/pull-kubevirt-check-tests-for-flakes/1369920144674918400

[2021-03-11 09:51] EdDev opened #5202 "[RFE] Prioritize PR/s for merge"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
There are scenarios where specific PR/s are required to urgently get merged, solving an critical bug or fixing flakiness that blocks all CI jobs.
Non prioritized PR/s will compete on getting merged and may delay the most important PR/s.

This has been seen recently with the test falkes on CI, where PR/s with low pr

[2021-03-11 09:56] EdDev commented on #5202
One idea to implement this is using GitHub Actions, monitoring a "priority-merge" label on PR/s and commenting other PR/s which do not have this label with a `/hold` and adding a label which mentions this has been done.
Once no PR/s have the "priority-merge" label, issue a `/hold cancel` on all PR/s that have been hold previously.

[2021-03-11 12:25] lixiaobing1 opened #5205 "kubevirt/builder not exist in dockerhub?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
docker pull kubevirt/builder
Using default tag: latest
Error response from daemon: manifest for kubevirt/builder:latest not found

**What you expected to happen**:
pull successful.

**How to reproduce it (as minimally and precisely as possible)**:
docker pull.

**Anything else we need to know?**:
no

**Environment**:
- Kub

[2021-03-11 14:11] jmguzik commented on #5202
@EdDev I asked this some time ago and I do not know if this is the right place to ask it again but have you thought of actually splitting the test plans to make them pass in smaller batches?
It is a real pity and a waste of time to see the whole 4.5h test plan failing because one of the tests is failing (1 from 700ish). Maybe it would be worthwhile to split 1 test plan into 4 smaller ones? To not

[2021-03-11 15:13] EdDev commented on #5202
@jmguzik, work is in progress to stabilize the CI. Splitting into several jobs with other interesting options has been proposed.
There is no full consensus on how to do this and its cost vs gain is not trivial.

I hope a proposal will land soon so we can discuss it in more details.

In the meantime, this request is about controlling PR merges in extreme cases, something we are lacking today and ma

[2021-03-11 17:31] #5105 closed

[2021-03-11 17:48] qinqon commented on #4961
/open

[2021-03-11 17:49] qinqon commented on #4961
/reopen

[2021-03-11 17:52] qinqon commented on #4961
Bumping kubevirtci PR should fix this https://github.com/kubevirt/kubevirt/pull/5207

[2021-03-12 00:50] #5205 closed

[2021-03-12 02:28] llhhbc opened #5209 "save vm stats after restart (vmi is recreated)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:
I an create a vm spec like:

[code]

**What you expected to happen**:

I want to save vm info after the vm is restarted.
pod will be deleted after vm is restart. and all data volume is emptyDir, the data will all lost. How can I set to keep this data?

[code]

**How to reproduce it (as minimally and precisely as

[2021-03-12 02:41] llhhbc commented on #5173
Thanks, I also encountered this problem, I will try to take a look

[2021-03-12 06:47] llhhbc commented on #5209
I have resolved by  https://github.com/kubevirt/kubevirt/issues/5173

[2021-03-12 06:47] #5209 closed

[2021-03-12 07:46] yangxiaoliang commented on #5173
Thank you David, yes, pv/pvc is a perfect solution, but the problem is we don't have a distributed storage in our production environment, we are using local storage. Local pv/pvc can works, but that's need much effort to prepare the local pv/pvc.

[2021-03-12 08:33] qinqon commented on #5143
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5207/pull-kubevirt-e2e-k8s-1.18/1370139207158206464

[2021-03-12 08:40] wangzh21 opened #5211 "Mdev discover failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I'd like to config my intel GPU in kubevirt cluster. Then I follow the doc https://kubevirt.io/user-guide/virtual_machines/host-devices/, but there is no file /sys/bus/pci/devices/SLOT:BUS:DOMAIN.FUNCTION/mdev_supported_types/TYPE/name in my env. And Intel guy said that they do not have the `name` file. Also, I find the same issue i

[2021-03-12 16:04] salanki commented on #4502
/remove-lifecycle rotten

[2021-03-12 19:46] davidvossel commented on #5173
what are the pain points for you all? would using the hpp for local pvcs help? (https://github.com/kubevirt/hostpath-provisioner-operator)

[2021-03-13 12:07] vasiliy-ul opened #5217 "Unit tests results are cached in CI"
By default Bazel caches the results of unit tests execution and does not re-run the tests if the corresponding sources have not beed modified. That is also the case for the execution in CI at the moment:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5136/pull-kubevirt-unit-test/1368172498033577987
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-lo

[2021-03-13 16:51] #4961 closed

[2021-03-14 13:52] yangxiaoliang commented on #5173
The pain point is we want the local pvs/pvcs can be dynamically provisioned, but currently we don't find an available implementation/solution. Looks the combination of cdi and hpp is a potential solution for us, I will try later.

Thanks again ~

[2021-03-15 12:15] watermelon-brother opened #5220 "virt-launcher start failing in the version of kubevirt v0.39.0"
**What happened**:
the virt-launcher-pod is Terminating when I start the vm
**What you expected to happen**:
the error as blow:
`
[root@member ~]# kubectl logs virt-launcher-cirros-vm-ggdm8 -n vm
{"component":"virt-launcher","level":"info","msg":"Collected all requested hook sidecar sockets","pos":"manager.go:68","timestamp":"2021-03-15T12:07:37.497541Z"}
{"component":"virt-launcher","level":"info

[2021-03-15 13:26] rmohr commented on #4833
/close

Duplicate of #4720

[2021-03-15 13:29] rmohr commented on #4833
Ups, that was the wrong bug, I clicked the wrong in the list.

[2021-03-15 13:30] rmohr commented on #4833
/reopen

[2021-03-15 13:36] rmohr commented on #4958
@enp0s3 this should be fixed with the PR regarding to config restore if I am not mistaken.

[2021-03-15 13:48] rmohr commented on #4958
[code]

will fixed as part of https://github.com/kubevirt/kubevirt/pull/5221. The background is that the test first tells virt-operator to evict virt-handler from a node and then tries to get the pod of it. Most of the time it is fast enough, but if there is node pressure it could happen that virt-handler was already gone. It should of course first get the client.

Note that this seems to happen p

[2021-03-15 15:03] #4720 closed

[2021-03-15 19:06] davidvossel commented on #5193
Thanks for pointing this out. I find it frustrating that this got merged. We probably need to figure out a way to begin locking down when new k8s api server calls occur so it's harder for things like this to inadvertently slip in.

For this issue, i bet the fix is fairly simple.

all the VMIs on the each node are already cached in this virt-handler informer, https://github.com/kubevirt/kubevirt/bl

[2021-03-15 19:26] davidvossel opened #5228 "VMIs fail during in-flight migration when performing workload updates"
/kind bug

One of the flaky tests we've been battling is our functional test that validates updating from the previous official kubevirt release to whatever the latest code is in the PR. This test fails often while validating that VMI migrations have completed as part of the VMI workload update logic.

The issue here is that the VMI is somehow failing during the migration. The migration kicks off,

[2021-03-15 19:37] davidvossel commented on #5228
/release-blocker master

[2021-03-16 02:03] #4858 closed

[2021-03-16 02:04] mzzgaopeng commented on #4858
use the api to add hotplugin

[2021-03-16 07:33] wzy109871 opened #5231 "How to use Kubevirt's VirtualMachinesnapshots feature？"
I want to use Kubevirt's snapshot functionality to snapshot and restore a running VM, but I can't find the instructions in the Kubevirt User-Guide.Where can I find the relevant instructions？

[2021-03-16 07:35] wzy109871 opened #5232 "How to use Kubevirt's VirtualMachinesnapshots feature？"
I want to use Kubevirt's snapshot functionality to snapshot and restore a running VM, but I can't find the instructions in the Kubevirt User-Guide.Where can I find the relevant instructions？

[2021-03-16 09:16] karmab opened #5233 "Required disk size not visible in vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I’ve created a vm with a datavolume which does cloning from a pvc with resources/requests/storage of 3gb.
but the target pvc in my datavolume has resources/requests/storage set to 10gb which is the size of disk i was expecting the vm to see (from “inside”).
vms shows a 3gb disk instead of 10gb disk

**What you expected to

[2021-03-16 09:34] karmab commented on #5233
the vm spec

[code]

there are two pvcs, ubuntu2004 which is the origin with a 3gb request size and focused-ritchie-disk0, which is a clone with a 10gn request size

[code]

[code]

[code]

In the resulting vm, the disk shows with a 3gb size

[2021-03-16 09:59] rmohr commented on #4901
Happens very frequent. Proposing quaratine for it: https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2021-03-15-168h.html#row35

[2021-03-16 10:04] #4527 closed

[2021-03-16 10:04] fabiand commented on #4868
CLosing b/c referencing PR got merged.

[2021-03-16 10:04] fabiand commented on #4527
CLosing b/c referencing PR got merged.

[2021-03-16 10:35] fabiand commented on #4830
… and again

[2021-03-16 10:35] fabiand commented on #4830
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5214/pull-kubevirt-e2e-k8s-1.19/1370738271901978624

[2021-03-16 13:23] vasiliy-ul commented on #5232
There are some docs available at https://github.com/kubevirt/kubevirt/blob/master/docs/snapshot-restore.md

[2021-03-16 14:29] brybacki commented on #4939
Need to observe the test on new runs. Old logs have the IP `CIDRNotAvailable`
[code]

[2021-03-16 15:14] brybacki commented on #4939
What is suspicious this always fail when following test fails:
"Merged Test Suite.Storage Starting a VirtualMachineInstance Run a VMI with VirtIO-FS and a datavolume should be successfully started and virtiofs could be accessed". I have not found a single case where 4643 fails alone.

But that other test fails more often. Maybe the VirtIO-FS does not cleanup correctly? Maybe the problem was becaus

[2021-03-16 15:16] brybacki commented on #4939
But I think it is too early to have any meaningful conclusions. I'll try to investigate.

[2021-03-16 20:34] davidvossel commented on #5228
https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5194/pull-kubevirt-check-tests-for-flakes/1371817098656878592/build-log.txt?Expires=1615926228&GoogleAccessId=prow-46%40kubevirt-240711.iam.gserviceaccount.com&Signature=WiqonFsN3RR5213vPSu7TsCpDS80StLTerQalHLcQXyAlfl6GAk4gCDV1ePfpN98b6ncb3g0pF5UXW9ZRcUvAc0L8mm1KSrQ5%2BqTNRDUxLm0bad5sinFUGSWI5wy1k7s%2BuWyg3JNQkcIihyvbMWSgJ

[2021-03-16 21:20] vladikr commented on #5228
unfortunately, this log is not available anymore :)

we should probably improve our logging to capture all of this.

Awesome!

[2021-03-17 08:10] #4958 closed

[2021-03-17 09:59] #4830 closed

[2021-03-17 10:23] wardwouts commented on #5220
I'm seeing this same issue with:
- kubevirt 0.39.0
- kubernetes v1.19
- OS k3os version v0.19.5-rc.1

[code]

[2021-03-17 10:26] xpivarc commented on #5220
Hi @wardwouts,
can you provide a pod definition of `virt-launcher-testvm-6llz7 `?

[2021-03-17 10:41] enp0s3 opened #5245 "virt-handler introduces a "hidden" dependency when it calls virt-chroot with hard-coded "qemu" user"
/kind bug

**What happened**:
virt-handler `GetImageInfo` failed because no `qemu` user was defined in the virt-handler container.

**What you expected to happen**:
Either manage the qemu user existence directly from Bazel, or make virt-chroot independent of a specific user.

**How to reproduce it (as minimally and precisely as possible)**:
When building virt-handler, consume RHEL-AV stream for in

[2021-03-17 10:46] wardwouts commented on #5220
The vm description is actually taken from https://kubevirt.io/labs/kubernetes/lab1:

[code]

[code]

[2021-03-17 10:53] larssb commented on #5233
I'm being hit by this. And the workaround is to set the PVC size of e.g. the ubuntu2004 OS image to a bigger size (hardcoded). This is not too great for the future - as a code-change is needed for the [KCLI](https://github.com/karmab/kcli) project whenever I would like the disk, of whatever KCLI deployed VM/VM's, to be bigger.

Looking forward to a solution to this. From the discussion on Slack I

[2021-03-17 12:46] #3610 closed

[2021-03-17 13:46] #4970 closed

[2021-03-17 15:34] phoracek commented on #5233
@awels is this something we are looking into fixing? If so, should it be tracked on kubevirt/kubevirt or CDI?

[2021-03-17 15:35] phoracek commented on #5231
Duplicate of https://github.com/kubevirt/kubevirt/issues/5232

[2021-03-17 15:35] #5231 closed

[2021-03-17 15:37] phoracek commented on #5232
@wzy109871 would you confirm that the shared documentation helped you?

[2021-03-17 15:41] xpivarc commented on #5220
Can you do `kubectl get po virt-launcher-testvm-wh5r4 -o yaml`? This could  be also SELinux issue. What distribution are you running on node?

[2021-03-17 15:49] vladikr commented on #5211
There is a PR that addresses this issue: https://github.com/kubevirt/kubevirt/pull/5215
Thank you for reporting this!

[2021-03-17 16:07] rmohr commented on #5217
In general you are right. As it is right now, where we first pull everything from the cache, just to then not run the tests, does not make much difference. The heavy part is pulling everything, just to then find out that most of the tests do not even need to be executed.

I was working on making use of `--remode_download_minimal`, which would have led to downloading actually nothing, and that make

[2021-03-17 16:27] wardwouts commented on #5220
I'm running on k3os v1.19.5-rc1. It doesn't have selinux.

Can't run the command right now as I uninstalled kubevirt. I'll try to create a new setup to test this on.

[2021-03-17 18:58] xpivarc commented on #5220
@wardwouts
Ah, I missed the fact you are running k3os. This [PR](https://github.com/kubevirt/kubevirt/pull/5243 ) will fix your issue.

[2021-03-18 07:12] EdDev commented on #5202
During the last community meeting (from 17.03.2021) @rmohr voted to drop this request in favor of maintainers forcibly merge PR/s which are prioritized.

A practical case where such a feature was needed occurred only once, when no maintainer was available.
I am ok with deferring/closing this but please note that:
- A systematic workflow is always preferred over a force action which requires specia

[2021-03-18 07:24] wzy109871 commented on #5232
Yes, thank you very much

[2021-03-18 07:50] #5211 closed

[2021-03-18 08:10] rmohr commented on #5008
/reopen

still an issue

[2021-03-18 08:48] #5232 closed

[2021-03-18 08:54] phoracek commented on #5202
Thanks @EdDev. Closing for now. Let's revisit this if the problem reoccurs more often.

[2021-03-18 08:54] #5202 closed

[2021-03-18 09:05] rmohr commented on #5217
I made up my mind. As you say. It is not too important for CI load. Let's see that we detect flakes early. :+1:

[2021-03-18 09:59] vasiliy-ul commented on #5217
.. and I already started thinking that a periodic might fit better :) since it will not impact the PRs.

Anyway when I was trying to run locally with `runs_per_test` I noted that there were tests which fail. I think that is because they use some dependencies internally and do not mock them (e.g. a system directory). Apart from that I see that the execution of some tests takes too long (>2min for s

[2021-03-18 10:50] xpivarc commented on #5220
Hi @watermelon-brother ,
any chance you have disabled SELinux?

[2021-03-18 11:13] brybacki commented on #4525
https://github.com/kubevirt/kubevirt/pull/5259

[2021-03-18 11:33] rmohr opened #5260 "failed to configure vmi network: Critical network error: error creating tap device named tap0"
/kind bug

**What happened**:

I sometimes see in jobs like this one https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5248/pull-kubevirt-e2e-k8s-1.19/1372457569523601411, the following sync errors:

[code]

I have seen it on different tests, therefore not filing it under a specific one.

**What you expected to happen**:

**How to reproduce it (as minimally and prec

[2021-03-18 15:15] rmohr commented on #5260
@AlonaKaplan @qinqon FYI

[2021-03-18 17:13] #5154 closed

[2021-03-18 17:13] #4834 closed

[2021-03-18 17:48] enp0s3 opened #5267 "Failed to launch VMI with VirtioFS disk on k8s-1.20 provider"
/kind bug

**What happened**:
All VirtioFS related functional tests are failing on k8s-1.20 provider
The error message that comes from QEMU is :
[code]
**What you expected to happen**:
VMI with virtoFS disks to successfully start and run, as it does with other FS types.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
The issue reproduc

[2021-03-19 00:13] vladikr commented on #5267
Is it a specific test that failed or both of them?

[2021-03-19 03:56] watermelon-brother commented on #5220
@xpivarc I have disabled the SELinux before ask this question.

[2021-03-19 09:01] rmohr commented on #5193
Yes frustrating. It slipped through on a PR which I reviewed in 2019 already. The whole `lookup` package is an issue. For instance the `node` controller there also lists all VMIs from the apiserver since that change. I will take care of the node controller when #5269 is merged.

[2021-03-19 11:29] phoracek commented on #5233
Thanks. Closing as a duplicate.

[2021-03-19 11:29] #5233 closed

[2021-03-19 11:42] ashleyschuett commented on #4843
@bhkamath where you following this guide https://github.com/ContainerCraft/Kargo/blob/main/kubevirt/donor/build.log ?

[2021-03-19 11:47] ashleyschuett commented on #4684
@winkee01 This PR was recently merged for the the vm definition https://github.com/kubevirt/kubevirt.github.io/pull/687/files it could be that there's an imagepull error. If you try again and use the new definition it might fix your issue. If not can you give the status information of the vm, vmi, and related pod?

Alternatively, if this change works please close the issue.

[2021-03-19 12:04] jichenjc opened #5273 "inconsistent error when run virtctl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

the error report is not consistent ,
[code]

**What you expected to happen**:

`# ./cluster-up/virtctl.sh  guestosinfo vmi-ephemeral12` has simliar output format when error happened to
`rename`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt versio

[2021-03-19 12:04] jichenjc commented on #5273
/assign

[2021-03-19 12:07] jichenjc opened #5274 "Rename a VMI is not supported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

virtctl only support rename a VM instead of VMI
[code]

**What you expected to happen**:

can we rename a VMI ?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl v

[2021-03-19 12:11] jichenjc opened #5275 "hostname of created VM is not same to VMI name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

not sure whether it's a valid one, just open here to get some opinion

use `vmi-ephemeral` (example/vmi-ephemeral.yaml) then created a VMI
and found hostname is same to my KVM hypervisor hostname
[code]

**What you expected to happen**:

the hostname should be `vmi-ephemeral` because examples/vmi-ephemeral.yaml

[2021-03-19 12:14] jichenjc commented on #5273
[code]

is something we might want to remove it

[2021-03-19 12:17] jichenjc commented on #5273
Turn out found it's in `staging/src/kubevirt.io/client-go/kubecli/vmi.go` ,maybe not suitable to report here

[2021-03-19 12:30] #4137 closed

[2021-03-19 12:32] jichenjc commented on #5274
ok, looks like a rename is only applied to virtual machine ,not VMI

but the command promotion is unclear, need enhancement

[2021-03-19 13:22] #5193 closed

[2021-03-19 17:36] #5160 closed

[2021-03-20 07:37] EdDev opened #5279 "[flaky unit-test] setMountTargetRecord should not write record to file, if record already exists, and no changes"
/kind bug

**What happened**:
While running the unit-tests (`make test`) locally, a flaky tests pops up from time to time:

[code]