[2021-11-10 18:12] wangxin311 commented on #6351
@alonSadan  Sorry for the later response as I am in PTO.

Are you using the same VLAN for these two VMIs? If yes, you may not able to reproduce it because even the VLAN VF assignment is wrong you still be able to ping each other because the VLAN is the same.

Can you please try different VLAN for two VMI, and you need the external device(switch) to route traffic btw these two VLANs?

High level di

[2021-11-10 18:26] zcahana commented on #6763
The most comprehensive upgrade test I found is [this](https://github.com/kubevirt/kubevirt/blob/ff8ebf3626bf2043f024bcd38377a1a9df4251a3/tests/operator_test.go#L1265), but it doesn't install a previous release of the virt-operator, but rather keeps/uses the current (tested) virt-operator and installs a previous release of the rest of the KubeVirt components (by setting the image tags in the KubeVi

[2021-11-11 01:28] newhuangchuan commented on #6770
You mean. Are you creating a DV and adding it to a new virtual machine?
This operation is no problem. The newly created DV is an unformatted empty disk and can be inserted and removed all the time.
However, because in Linux system or Windows system, it needs to be formatted before it can be used.
So I wonder if this hot-swappable disk is only suitable for a disk that has been written by the file s

[2021-11-11 06:43] newhuangchuan commented on #6770
Hello, I re-tested here, created a DataVolume, and then `virtctl addvolume` to the virtual machine.
Execute the command `mkfs.ext4 /dev/sda && sudo mount /dev/sda /mnt`, and then unplug it is no problem.

I'm thinking about a question, is it caused by the partition operation of `fdisk` I performed

[2021-11-11 08:21] rmohr opened #6779 "Remove kubevirt-config traces, since the configmap is deprecated for more than one year"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We deprecated kubevirt-config more than a year ago: https://groups.google.com/g/kubevirt-dev/c/_mJP0RilTd4/m/xdrfk1JABgAJ.

As @nunnatsa pointed out, we still have it in the code.

**What you expected to happen**:

Let's remove it for 0.48.

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2021-11-11 08:22] rmohr commented on #6779
@nunnatsa leaving you the honor of removing it, if you like :)

[2021-11-11 09:56] yanxingponyai commented on #6607
Same issue here.

I think we do not initialize the `http.Request.Header` here
https://github.com/kubevirt/kubevirt/blob/7a93ca68a86ff39d01424fb9d5c38b46fe3f34c0/staging/src/kubevirt.io/client-go/kubecli/vmi.go#L151

@alicefr @davidvossel

[2021-11-11 11:44] rmohr commented on #6607
This looks a little bit like protobuf may play a role here? I am not sure what I see here. @yanxingponyai @dorroddorrod can you think of any more unusual configurations in your cluster which are worth mentioning?

[2021-11-11 11:45] rmohr commented on #6607
@yanxingponyai what header do you think that we are missing?

[2021-11-11 11:46] rmohr commented on #6607
Oh I see what you mean. Maybe it is as simple as that, I just don't understand how one could trigger the issue. Did you compile your own virtctl? maybe it is a change in go itself.

[2021-11-11 12:01] yanxingponyai commented on #6607
No. I feel it is ok in v0.43.0, but I got this error in v0.47.0.
I met this error when I was setting up kubevirt in my self host kubernetes.

[2021-11-11 12:14] bk201 opened #6782 "kubectl drain command evict VMs according to specified eviction policy but exits with non-zero exit status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Draining a node causes VMs on the node to be live-migrated to other nodes (if `evictionStrategy` is  `LiveMigrate`).
But the draining command itself exits with a non-zero exit-status.

e.g.,
[code]

The VM is migrated but exit statue of drain command is `1`.

**What you expected to happen**:

The drain command should exi

[2021-11-11 13:08] awels commented on #6770
Can you post the VM definition of the VM where this is not working from a KubeVirt perspective we don't care at all what you do with a disk once it is attached to the VM. The error message you are seeing is highly unusual and really should never happen. We have some logic that identifies which disks are hotplugged and which ones are not. And the error is coming from there.

[2021-11-11 15:15] nunnatsa commented on #6779
Done: https://github.com/kubevirt/kubevirt/pull/6784

[2021-11-11 15:40] ormergi commented on #6776
@andreabolognani Hey is there any chance that the last Libvirt and QEMU update is related?

[2021-11-11 16:56] davidvossel opened #6785 "Need dedicated KubeVirt operator update lane"
Release v0.47.0 caused a regression #6763 which impacted the ability to seamlessly update to and from other releases.

The reason this wasn't detected is because our current update tests only execute transitioning from one release to the next using the latest virt-operator. The update is triggered by changing the release in the KubeVirt CR... So same virt-operator transitioning between two kubevir

[2021-11-11 21:13] zcahana commented on #6785
I'm not sure a dedicated lane is needed. I've started working on extending the following test[1] to have two table entries, which in one of them it'll perform the upgrade by installing a new operator. I still didn't get all the bits right there, but I hope I can get it to work within the existing lane (while allowing the rest of the tests to continue normally).

[1] https://github.com/kubevirt/kub

[2021-11-12 00:12] zcahana commented on #6785
/assign

[2021-11-12 06:08] newhuangchuan commented on #6770
Hello, the following is the content of the yaml file of my virtual machine. After the Windows system is formatted, it cannot be removed. The Linux system can be removed without partitioning. After partitioning, it fails.
[code]

[2021-11-12 09:05] andreabolognani commented on #6776
@ormergi I mean, I can't really claim that it's impossible but I wouldn't necessarily think of it either :)

What makes you think it might be related to the new virtualization packages? When did the issue start showing up? Did anything change in the test suite recently?

[2021-11-12 10:01] newhuangchuan commented on #6770
I am wondering if it is related to my version of kubevirt?
[code]

[2021-11-12 10:05] alicefr commented on #6770
@newhuangchuan can you just try with one of the examples like for example [vm-apline-datavolume](https://github.com/kubevirt/kubevirt/blob/main/examples/vm-alpine-datavolume.yaml) and try to add and remove a volume from that VM?

This should prove at least if it is your kubevirt version

[2021-11-12 10:50] mack1024 opened #6788 "There is a problem with the return value of kubectl, the value of the progress item of the created volume displays as N/A."
Starting a new virtual machine from the backup also creates volumes, However, the value of the progress item of the created volume displays N/A, Why is N/A displayed? there is a problem with the return value of kubectl,  I think the display of this value is error.
I analyzed the kubevirt code,  Also, I printed the JSON value of the Progress item , as follows:

{
    "conditions": [
        {

[2021-11-12 10:58] mack1024 commented on #6484
This problem has been solved. Thank you for your reply. If you have any questions, please feel free to communicate.

[2021-11-12 22:09] jeniferh commented on #6756
How are these typically exposed in the pod spec, as another resource quantity and then Kubernetes hands the pod the info on the correct resctl topology, so Kuebvirt only needs to map the *tune vcpu lists based on how they are pinned to host cpus?

[2021-11-13 14:27] rthallisey commented on #6756
Yes exactly.  This feature is similar to exposing cpus on the VMI spec, so that the virt-launcher can pickup the cpus that were allocated to the pod and add them to VM's domain spec.

[2021-11-13 15:58] #5832 closed

[2021-11-13 20:58] #5295 closed

[2021-11-14 06:58] #5619 closed

[2021-11-14 10:17] zcahana commented on #6763
The bugfix has been backported in #6775 and a new release (v0.47.1) has been released and announced.
/close

[2021-11-14 10:17] #6763 closed

[2021-11-15 01:53] newhuangchuan commented on #6731
Hello, I have a question here. Now when I am performing live migration, I write this `vmim` resource as follows:
[code]
I saw that this content does not seem to specify which node to migrate the virtual machine to. If I migrate in a large cluster, how can I migrate it to the designated node in real time?

[2021-11-15 06:10] gidde8 opened #6795 "Libvirtd crash on virt-launcher during host reboot"
**What happened**:  Libvirtd crash on virt-launcher during host reboot.

**What you expected to happen**:  No Crash is expected.

**How to reproduce it (as minimally and precisely as possible)**:
Launch a VM and restart host-os on vmi instance running.

**Anything else we need to know?**:
Backtrace:

[root@0e711a7d997a ~]# gdb /usr/sbin/libvirtd test_vm-default_defa-1.core
GNU gdb (GDB) Fedora 9.1

[2021-11-15 08:38] rmohr commented on #5802
Oh, now I see what the issue may be. The image you were using is from dockerhub. We moved to quay.io for quite some time. The virtio image (even if :latest) is therefore probably very old.

[2021-11-15 08:40] andreabolognani commented on #6795
@gidde8 Can you please post a full backtrace (`thread apply all bt`), making sure you have all debuginfo packages installed? gdb gives you instructions on how to do the latter.

Can you reproduce this consistently, regardless of the configuration of the VM, or does it happen only some of the times?

Something that jumped to my eye is that the host is running CentOS 7. @rmohr what is KubeVirt's sup

[2021-11-15 08:46] rmohr commented on #6795
We try to avoid talking about supported host operating systems and instead talk about requirements which the host has to bring:

 * kvm
 * vhost-net
 * tun
 * iptables or nftables
 * cgroupsv1 (not v2 yet)
 * needs to be able to run a currently supported kubernetes version

 This possibly also implies a minimum kernel version(and some kernel versions have bugs in areas which may affect us), but th

[2021-11-15 08:58] #5862 closed

[2021-11-15 08:58] #6729 closed

[2021-11-15 09:10] andreabolognani commented on #6795
We mostly use our OS support matrix to decide what version of each of our dependencies we can consider to be the baseline, so in that sense as long as it compiles you're good :) I don't think we necessarily care about the kernel version that much. But of course at this point there is basically nobody testing the latest libvirt on CentOS 7, so there might be unknown issues lurking there. Then again

[2021-11-15 09:19] rmohr commented on #6795
Makes sense. So the baseline: I would expect that kubevirt works on CentOS 7 if the kernel is fine since we bring our own userspace.

[2021-11-16 08:58] #5069 closed

[2021-11-16 19:11] ajith29 commented on #1491
Still not able to delete namespace need to run this
# kubectl get apiservices | grep kubevirt
v1.subresources.kubevirt.io            kubevirt/virt-api                                                False (ServiceNotFound)   59d

# kubectl delete apiservices v1.subresources.kubevirt.io
apiservice.apiregistration.k8s.io "v1.subresources.kubevirt.io" deleted

# kubectl delete ns kubevirt
namespace "k

[2021-11-17 06:06] gidde8 commented on #6795
@andreabolognani Here is the complete bt from all the threads.

[root@0e711a7d997a ~]# gdb /usr/sbin/libvirtd license_vm-default_defa-1.core
GNU gdb (GDB) Fedora 9.1-7.fc32
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the ext

[2021-11-17 16:06] rmohr commented on #6731
The idea is that your VMs have all the necessary requirements configured (node selectors, affinities, ...) and then the k8s scheduler is doing the rest. Like for any other workload on the k8s cluster. Do you have a use-case where VMs need to go to special nodes but Pods do not have to?

[2021-11-17 16:10] rmohr commented on #6731
You may find the discussion in this thread interesting: https://github.com/kubevirt/kubevirt/pull/6550

[2021-11-17 20:43] rthallisey commented on #6756
cc @vladikr

[2021-11-18 07:34] strus38 opened #6813 "virt-operator job's pod has no parameters to specify nodeSelector"
/kind enhancement

**What happened**:
When deploying kubevirt it does not seem possible to specify which nodes are allowed to execute the jobs.

**What you expected to happen**:
Being able to add nodeSelector parameter to execute the jobs only on specific nodes.

**How to reproduce it (as minimally and precisely as possible)**:
Create a cluster with different labels for the worker nodes. The job w

[2021-11-18 08:45] rmohr commented on #6756
@rthallisey would you see kubevirt responsible for creating this or do you want to expose it? For instance I would expect that kubevirt would model the l3 cache to match the specification of the node sockets automatically. Taking

it sounds like this is your assumption too?

[2021-11-18 10:41] fabiand commented on #6756
Wouldn't [guaranteed CPUs with a static policy](https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#static-policy) achieve a similar level of isolation?

[2021-11-18 10:46] iholder-redhat commented on #6061
Hey @ormergi :)
Want to give an update on remaining task? I just don't want this issue to be rotten

[2021-11-18 13:19] victortoso commented on #4137
#6650 is now merged, feel free to give it a try in the next release, just add `sound: {}` under devices for ich9 sound card. ac97 is also supported, to configure it, just set the model:
[code]

[2021-11-18 13:19] rmohr commented on #6616
/close

fixed in #6650

[2021-11-18 13:19] #6616 closed

[2021-11-18 13:44] strus38 commented on #6813
So you mean updating the CR by adding:
[code]

[2021-11-18 13:49] strus38 commented on #6813
does not seem to work .. it is still trying to deploy the job on a worker which is not labeled this way.

[2021-11-18 13:53] rmohr commented on #6813
Thanks, yep I missed that. So you can try:

[code]
Note the `infra`. I am however not sure if it also covers this one-time job. If not I would consider it potentially an issue to fix.

[2021-11-18 13:59] strus38 commented on #6813
Does not work either. Sorry :-).
![image](https://user-images.githubusercontent.com/5890515/142429093-caf290ad-6fd0-4975-ae7b-592fb3f2209f.png)

Here an exemple of the target node:
![image](https://user-images.githubusercontent.com/5890515/142429169-b530ae4f-2109-4e80-8f4e-08595d04339b.png)

[2021-11-18 14:01] rmohr commented on #6813
Yes so the `operator` itself and this one job are not affected by `infra`. Why do you need this one job to not be general schedulable?

[2021-11-18 14:04] strus38 commented on #6813
That is because I have a few workers made for some purposes only. This dozer8 node is targetted to only execute jobs from another software, it is not a 'general' purpose node for the K8S core services.

[2021-11-18 14:10] rmohr commented on #6813
Ok. The general way of ensuring that would be to give workloads from the special software a special tolerance and taint the nodes, so that other workloads do not have to deal with all exceptions. Basically flipping the ownership of the target selection. Does that make sense for you?

[2021-11-18 14:17] rmohr commented on #6813
Here the documentation on how that works: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/

[2021-11-18 14:21] strus38 commented on #6813
well, my nodes are tainted that is why I want this kubevirt job executed on specifc nodes which have this specific label.
Typically on all my service deployments, I have updated them to tell them to execute on those specifc nodes only.
Here, It does not seem to work.

[2021-11-18 14:37] rmohr commented on #6813
Ok, I think for that case we need a code change, where `infra` would take the job into account. Thanks for reporting.

[2021-11-18 14:44] strus38 commented on #6813
you are welcome. I will follow up the fix and test it when available.

[2021-11-18 16:14] zcahana commented on #6055
I've proposed some updates to the control plane dashboard, including to the work queue metrics panels. If interested, please take a look at kubevirt/monitoring#61.

[2021-11-18 17:51] rthallisey commented on #6756
@rmohr yes, that's my assumption. This is very similar, almost identical, technically to adding vcpu support in kubevirt.   KubeVirt exposes the vcpu field on its APIs and wires it up to the guest.  The CPU Manager or some other plugin would handle communication with the kube-scheduler.

Hey @fabiand.  For some use cases, the guaranteed CPU policy works fine.  For instance, it exposes cpu sets whi

[2021-11-18 18:38] vladikr commented on #6756
@rthallisey the two use-cases you have mentioned are in serious conflict with this statement.

When you allow vCPUs to be pinned to a physical CPU that is shared with other processes - this is a way to invite a noisy neighbor, not to isolate it.
This is even worse for latency-critical applications, the second use-case you have mentioned, these applications would require exclusive access to a physi

[2021-11-18 19:01] vladikr commented on #6756
KubeVirt already supports the pinning of guests' vCPUs to physical CPUs allocated to the vmipod by the CPU manager. [1]
It also supports the mapping of the hosts' NUMA topology to the guest [2] - this works best for large VMs that take the whole node resources.
We have also recently added support for running real-time workloads [3]

All of these methods pin vCPUs on physical CPUs and rely on the C

[2021-11-18 19:20] vladikr commented on #6756
As for the `cachetune` and `memtune`, these would require libvirt to have access to hosts' `resctrl`. Virt-launcher pod is unprivileged and I doubt it would have access.
However, it seems that libcontainer has support for Intel RDT features [1], so probably this can be controlled on the pod level - however, I have never tried.

[1] https://github.com/opencontainers/runc/blob/master/libcontainer/in

[2021-11-18 20:08] rthallisey commented on #6756
The two use-cases I described are legitimate use-cases for the enhancement - L3 QoS.  However, I agree with you that in general resctl isn't the only way to solve the problem.  Fabian's suggestion is one way, but I illustrated why it doesn't go far enough.

This is even worse for latency-critical applications, the second use-case you have mentioned, these applications would require exclusive acces

[2021-11-19 01:26] vladikr commented on #6756
Intel RDT may only be a supplementary measure... Even if it allows to somehow to control the L3 cache allocation that all CPUs in a given socket use, it is worth nothing if there is another vCPU (or any other thread/process) that steals cputime. If CPUs are not exclusive, personally I don't understand how RDT can help.

Just my 2c

[2021-11-19 01:57] vladikr commented on #6756
FWIW, QEMU exposes (by default) Virtual L3 cache to guests. That's the reason why we don't have a tunable in our API.

[2021-11-19 02:04] vladikr commented on #6756
So, let me ask this differently. :)

Is this ticket about us properly supporting Intel RDT (CAT and MBA)?

[2021-11-19 02:21] wzy109871 opened #6817 "Add permissions to kubevirt-handler"
I would like to add permission to ClusterRole Kubevirt-Handler, but after I add it and save it, it will be restored by operator.How do you do that
The version I use is 0.46.1

[2021-11-19 11:06] VirrageS opened #6819 "Improve documentation around VM and VMI"
I'm not sure if I should be creating issue here or in [user-guid repo](https://github.com/kubevirt/user-guide/issues) - let me know!

I was doing some research about VMs and VMIs. But I couldn't find much information about the VM/VMI specification. Also I was searching for some kind of comparison VM vs VMI but I think this is missing as well. I think it would be beneficial to have such documentati

[2021-11-19 12:32] dren-dk opened #6820 "bridge and masqurade networking doesn't work, but slirp does"
/kind bug

**What happened**:

Starting a VM with an interface in either bridge or masquerade mode gives a broken network where the default gateway is 169.254.1.1 and the VM is unable to ping it or connect to anything on the network.

If I use slirp, then networking seems to work correctly.

The VM has worked perfectly a long time on kubevirt v0.35.0 / kubernetes v1.16.3 / ubuntu 18.04 with networ

[2021-11-19 22:26] lee-b commented on #4942
I would love this feature.  Seems like it should be relatively easy to allow the other architectures and systems that qemu supports.  It would allow, for example, upgrading to x86 and running a last remaining legacy app that requires sparc or PPC; or emulating legacy systems for computer museum purposes; or experimenting with an old-school Amiga render farm of many 68k lightwave render nodes on mo

[2021-11-20 01:09] #5860 closed

[2021-11-20 05:59] yuchen-sun opened #6824 "cannot run memory locked vm in kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I implemented a hook that sets hard_limit and mem locked for each virtual machine.However, I can't start the virtual machine normally and properly.
**What you expected to happen**:
Virtual machines that require memory locking to run properly
**How to reproduce it (as minimally and precisely as possible)**:
use this yaml
[

[2021-11-20 14:09] wuestkamp opened #6825 "Node gets label kubevirt.io/schedulable=false"
Version: v0.47.1

Sometimes some nodes get the label `kubevirt.io/schedulable=false`
I can't see any related error logs of pods in the kubevirt namespace.

After that the only way to "repair" is to
1. remove all VMIs on that node
2. restart all pods in the kubevirt namespace

I found this: https://kubevirt.io/user-guide/operations/unresponsive_nodes
But I can't see any `kubevirt.io/heartbeat` anno

[2021-11-21 10:09] #6500 closed

[2021-11-22 09:53] marceloamaral commented on #6055
Thanks @zcahana for updating the dashboard in kubevirt/monitoring#61
I've rerun the experiments with the lastest KubeVirt version from the main branch and used the new dashboard.

The vmi creation time from 600 to 800 is still weak scaling
![image](https://user-images.githubusercontent.com/5133121/142839374-7eb93aa8-ce38-4791-bb13-60c87ad76bbb.png)

Unfinished work and longest running key is still

[2021-11-22 10:02] ormergi commented on #6061
@iholder-redhat I think we can call it obsolete since we use the same image also on SRIOV lane :slightly_smiling_face:
https://github.com/kubevirt/kubevirt/pull/6108

[2021-11-22 11:16] iholder-redhat commented on #6061
Sure :) I guess we can close this issue then.
/close

[2021-11-22 11:16] #6061 closed

[2021-11-22 12:11] rmohr opened #6828 "sound device in the VMI yaml has no name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

#6650 introduced sound devices. I made a mistake on the review and did not request for it to get a `name` on the yaml and a corresponding `alias` on the domain xml.

**What you expected to happen**:

There should be a name:

[code]

All configurable devices require names, to be for instance trackable with device role tag

[2021-11-22 12:11] rmohr commented on #6828
/assign @victortoso

Sorry I missed this point on your PR.

[2021-11-22 12:34] victortoso commented on #6828
Aha, sorry that I missed that too. I'll rework this Today (in a few hours).

[2021-11-22 13:06] phoracek commented on #6498
/assign @orelmisan

[2021-11-22 19:47] nysan commented on #4564
https://github.com/k8snetworkplumbingwg/multus-cni/issues/278#issuecomment-603676446

[2021-11-23 10:23] dren-dk commented on #6820
I have since upgraded kubevirt on the old cluster and bridge works ok there, so that means that the working setup is:

* Kubevirt v0.35.0 and v0.47.1
* Kubernetes v1.16.3
* Docker 20.10.7
* Ubuntu 18.04
* Linux 4.15.0-128-generic
* Metallb in layer 2 mode

The setup where bridge and masqurade is broken is:

* Kubevirt v0.47.1
* Kubernetes v1.21.5
* Docker 20.10.10
* Ubuntu 20.04
* Linux 5.4.0-89-g

[2021-11-23 15:48] fabiand commented on #6756
I can just second what Vladik says: We really try to push things where they belong. Getting better shared resource handling is something we'd want to see in Kubernetes in order to do the right thing. Or is there a reason why this would not apply to containers?

However, did somebody think about some hook mechanism (existing or something new) to support you until work like thislands in Kube?

[2021-11-23 15:57] wuestkamp commented on #6825
closed as I couldn't reproduce any longer

[2021-11-23 15:57] #6825 closed

[2021-11-24 01:16] newhuangchuan commented on #6770
Hello, what if it is a virtual machine with persistent volumes?

[2021-11-24 15:25] rmohr commented on #6824
/assign @jordigilh

[2021-11-24 15:28] rmohr commented on #6820
@dren-dk I see that you updated ubuntu there. Could it be related to app-amor? Just a first guess.

[2021-11-24 15:29] rmohr commented on #6820
/assign @maiqueb

thanks for following up here.

[2021-11-24 15:33] rmohr commented on #6819
@VirrageS thanks a lot for the detailed description. You may be right that a clear description is indeed missing. You found great questions. By answering them on a core page, like you suggested we would have a great start. I don't know yet who could do that, unless you want to tackle it, but we should definitely do that.

[2021-11-24 15:34] mazzystr commented on #6819
Hello, We spoke of this req in the community call bug scrub.

Would you be willing to create a new page or modify an existing page in [user-guide](https://github.com/kubevirt/user-guide) with what you would like to see as a starting point?

[2021-11-24 15:35] mazzystr commented on #6819
/triage accepted

[2021-11-24 15:39] rmohr commented on #6788
/assign @zvikorn

@zvikorn could you have a look if we print already the right information?

[2021-11-24 15:44] rmohr commented on #6782
@bk201 I think the issue is

[code]

and https://github.com/kubevirt/kubevirt/pull/6297 should address that, starting from `0.46.0`. Can you give that a try?

[2021-11-24 15:47] bk201 commented on #6782
@rmohr. Thanks! I'll try it and report back.

[2021-11-24 15:48] rmohr commented on #6764
/close

@tulanian thanks for reporting this. This issue was a little bit overlooked and a newer issue reporting the same thing got some discussion and attention. Therefore I am closing this one, so that we can keep the focus on the issue with the discussion: https://github.com/kubevirt/kubevirt/issues/6813. I hope this is fine for you.

[2021-11-24 15:48] #6764 closed

[2021-11-24 15:49] rmohr commented on #6764
/triage duplicate

[2021-11-24 15:51] rmohr commented on #6748
@Icedroid did you find a solution in the meantime? Could you share the full kubelet and virt-handler logs? Maybe we can see some hints there on what is going on.

[2021-11-24 15:51] rmohr commented on #6748
/triage needs-information

[2021-11-24 15:53] rmohr commented on #6748
@Icedroid your version is also a little bit old. Does it still occur after updating kubevirt to at least 0.44.3?

[2021-11-24 15:54] rmohr commented on #6748
@Icedroid I also see that k8s 1.16 is very old and not supported anymore. There can easily be device-plugin bugs in the kubelet too.

[2021-11-24 17:26] vladikr commented on #6824
@yuchen-sun
Can you please explain what does this hook do?
Virt-launcher is not a privileged component, therefore, it won't be able to do things like `prlimit`.

[2021-11-24 17:27] dominikholler opened #6851 "virtctl ssh to fedora 35 guests is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**What you expected to happen**:
to see a ssh promt

**How to reproduce it (as minimally and precisely as possible)**:
create a fedora 35 VM from cloud image and try to login via `virtctl ssh  `

**Anything else we need to know?**:
`virtctl ssh --local-ssh fedora@example-fedora-35` would work fine.

**Environment**

[2021-11-24 17:29] dominikholler commented on #6851
Is there a way to default to `virtctl ssh --local-ssh` or even disable the internal ssh client?

[2021-11-24 19:53] dren-dk commented on #6820
The new cluster does have apparmor running, but so did the old one:

docker-default (enforce)
/usr/sbin/ntpd (enforce)
/usr/sbin/tcpdump (enforce)
/{,usr/}sbin/dhclient (enforce)
/usr/lib/connman/scripts/dhclient-script (enforce)
/usr/lib/NetworkManager/nm-dhcp-helper (enforce)
/usr/lib/NetworkManager/nm-dhcp-client.action (enforce)
lsb_release (enforce)
man_groff (enforce)
man_filter (enforce)
/u

[2021-11-25 01:17] yuchen-sun commented on #6824
@vladikr Thanks!
I have a GPU workload where the cuda pinned mem bandwidth is 8GB/s without mem locked, but it should actually be close to the PCIE limit (PCIE3:13, PCIE4:26).
So, I added locked to the xml in the hook, but I got an error.
[code]
But if I go into the launch pod via exec, do a virsh edit vm, add the above to the xml, and reboot vm, I will get the normal cuda pinned mem bandwidth.

[2021-11-25 03:36] vladikr commented on #6824
@yuchen-sun Thanks for the details. Interesting.
I wonder if this is not just an effect of a restart...

We are already locking the memory for any VMI that uses VFIO[1]
https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-handler/isolation/detector.go#L155

[2021-11-25 04:26] marceloamaral commented on #6309
/remove-lifecycle stale

[2021-11-25 05:42] yuchen-sun commented on #6824
@vladikr thanks！
But I found that there doesn't seem to be a real lock on the memory.
![image](https://user-images.githubusercontent.com/37729051/143382411-9ab62389-3015-4d11-beaf-30b91ed46267.png)

[2021-11-25 07:38] yuchen-sun commented on #6824
@vladikr
If the memory is already locked, then why is my memory bandwidth only normal after adding locked.

[2021-11-25 07:43] yuchen-sun commented on #6824
I have started a virtual machine with a GPU, but I noticed that it doesn't seem to lock up memory.
[code]
[code]

[2021-11-25 08:21] rmohr commented on #6851
There is no way to default to it. For context see https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/19 where I summarized the situation. It will at some point work again when virtctl is compiled with a new enough go version.

[2021-11-25 08:22] rmohr commented on #6851
Regarding to defaulting, we have an issue filed but no work started on it: https://github.com/kubevirt/kubevirt/issues/6617

[2021-11-25 08:30] rmohr commented on #6851
Correction, I can just bump the crypto library. Will do that and cc you when I have thing sready.

[2021-11-25 10:45] rmohr opened #6857 "Using a fedora 35 OS with guest-agent enabled results in no IP being reported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Using `quay.io/containeridisks/fedora:35` resultes in no IP being reported:

[code]

As soon as I disable the qemu-guest-agent I get IPs reported:

[code]

I increased the log verbosity and still don't see why not IP is reported.

I see with increased verbosity what capabilities the guest-agent reports, but I don't see t

[2021-11-25 11:17] rmohr commented on #6851
@dominikholler have a fix ready. DO you already use a ECDSA private key or do you use an RSA key?

[2021-11-25 11:32] rmohr commented on #6607
@yanxingponyai @dorroddorrod would be great if one of you could check out #6858, do

[code]

and try the resulting virtctl.

[2021-11-25 11:47] fossedihelm commented on #5819
I forgot to mention this issue in the PR [#6814](https://github.com/kubevirt/kubevirt/pull/6814). Sorry about that.

[2021-11-25 12:28] yun-ling opened #6860 "Is there any way to allow VM to acquire ip address from real DHCP server not the k8s network ?"
I want to create  a network bridge between VM and real local area network ,which allows other device not in  k8s network can discover  those VMs . Does  kubevirt support this feature?

[2021-11-25 12:34] yanxingponyai commented on #6607
looks good

[2021-11-25 12:40] dren-dk commented on #6820
I looked at the dmesg to see if apparmor metioned anything about it messing things up, but this is all that happens:

[Thu Nov 25 12:31:53 2021] eth0-nic: renamed from eth0
[Thu Nov 25 12:31:53 2021] k6t-eth0: port 1(eth0-nic) entered blocking state
[Thu Nov 25 12:31:53 2021] k6t-eth0: port 1(eth0-nic) entered disabled state
[Thu Nov 25 12:31:53 2021] device eth0-nic entered promiscuous mode
[Thu

[2021-11-25 13:59] dren-dk commented on #6820
We uninstall snap and that left a dangling references in /etc/apparmor.d/usr.lib.snapd.snap-confine.real which caused
apparmor to not start, removing it and restarting apparmor didn't do anything, though.

I noticed that /etc/apparmor.d/usr.sbin.libvirtd didn't exist, so I lifted one from another system with libvirt-daemon-system installed, but restarting apparmor didn't do anything.

[2021-11-25 14:44] orelmisan commented on #6498
/assign @orelmisan

[2021-11-25 15:58] vladikr commented on #6824
@yuchen-sun I will look into this. From a first glance, It's not what I would expect to see.
If it is a bug, we will need to provide a proper fix in the virt-handler, so you will not need to use a hook.

[2021-11-26 02:34] #6607 closed

[2021-11-26 06:30] gidde8 commented on #6795
@andreabolognani @rmohr  Please provide pointer on this. This issue is consistently happening in the system on reboot.

[2021-11-26 09:23] #4207 closed

[2021-11-26 10:57] liuminjian opened #6868 "how to attach the nvme device plugged in the PCI Express multi root switch to the virtual machine"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

i want to passthrough some nvme devices to vm but the devices is plugged into the PCI Express multi-root switch.how to separate the devices or passthrough all the devices to vm.

![image](https://user-images.githubusercontent.com/7840869/143570297-7b7e621c-79b7-4ed3-8a24-8941fa2c4fc9.png)

**What you expected to happen**:

**How to

[2021-11-26 19:33] dominikholler commented on #6851
thanks, I have a ssh-rsa key.

[2021-11-27 00:48] rthallisey commented on #6756
Right, L3 cache tunables are not in K8s today.  That was my assumption too.   The enhancement I'm interested in from KubeVirt is creating some hooks that will expose L3 cache tunables while this work is pushed into K8s.

I can think of a few ideas for how this would look:

1. Make the virt-launcher privileged, mount the resctrl pseudo filesystem and let virt-launcher or a prestart hook assign resc

[2021-11-27 16:24] #5885 closed

[2021-11-27 16:24] #5909 closed

[2021-11-27 17:24] #5815 closed

[2021-11-28 21:47] ruslanloman commented on #6860
@yun-ling Hi, yes it's possible. Just create linux bridge using appropriate k8s cni and attach it to the VM.

[2021-11-29 00:06] #6828 closed

[2021-11-29 03:50] yun-ling commented on #6860
Thanks~Now I’m trying using bridge plugin to build the connection

[2021-11-29 08:31] iholder-redhat commented on #6795
Hey @gidde8,

I've recently dealt with a [similar issue](https://bugzilla.redhat.com/show_bug.cgi?id=2006571), so hopefully I can provide some helpful info here.

After deeply investigating this it seems that from Kubevirt's perspective, or more precisely from virt-launcher's perspective, we are resilient to reboots/shutdowns and deal with them correctly. The way we do that is by making virt-launc

[2021-11-29 08:33] rmohr commented on #6795
Note, that while libvirt sould definitely not crash if it gets a SIGTERM or something, @gidde8 consider first draining a node before rebooting it. As @iholder-redhat said, grace periods and so forth on pods are not properly dealt with by a host initiated shutdown. While everything should be capable of dealing with this without breaking things, it is not a "nice" shutdown as intended during normal

[2021-11-29 12:29] #6507 closed

[2021-11-29 15:45] andreabolognani commented on #6795
@gidde8 Sorry for not replying earlier - I was off for a few days.

I asked fellow libvirt developer @zippy2 for help, and he recognized the libvirtd crash on shutdown issue as one that's been addressed some time ago. Specifically, he tracked down the relevant patches and identified libvirt 6.8.0 as the first release that contains them. Great detective work!

According to the backtrace you posted,

[2021-11-29 16:47] #5920 closed

[2021-11-30 07:40] yun-ling commented on #6860
Now I‘m trying to use Multus + Calico + brige to create multiple network for k8s pods. The Calico is  the major  CNI aiming to  build internal network  for all pods communication .The second bridge CNI is only for kubevirt to expose itself into real local network. This configuration will keep all  k8s pods  still in the internal k8s network but only the kubevirt pod exposed,which I think it's more

[2021-11-30 10:04] phoracek opened #6885 "VMs cannot reboot when emulation is used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

With `useEmulation: true`, VMs are unable to soft reboot.

**What you expected to happen**:

It should be slow, but they should eventually reboot.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy KubeVirt with:

[code]

Create a cirros VM (although it is reproducible with Fedora too):

[code]

C

[2021-11-30 11:18] ormergi commented on #6771
Seen on
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.19-sriov/1463447537674358784
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.19-sriov/1462903912943063040
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.19-sriov/1456199571733483520
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/p

[2021-11-30 12:43] ormergi commented on #6771
Verified with virt team, the `qemu-kvm: warning: host doesn't support requested feature: CPUID.40000001H:EAX.kvm-asyncpf-int [bit 14]` log message suggests libvirt passing unsupported feature to qemu.
It doesn't cause the permission error we see next.

[2021-11-30 12:50] rhrazdil commented on #6885
@phoracek Didn't you mean `useEmulation: true`?

[2021-11-30 13:20] phoracek commented on #6885
Oh, you are right! Fixed. Thanks @rhrazdil

[2021-11-30 13:48] ormergi commented on #6771
The QEMU version that Kubevirt runs seems to include a patch that force enable ` kvm-asyncpf-int` feature for newer  rhelmachine types (e.g RHEL 8.5) while the CI node the failing jobs were scheduled on runs older OS/Kernel versions.

It may explain why we see this on SRIOV lane which runs on a containerized k8s cluster (KinD based provider) in contrast to other sig-lanes which runs with virtualiz

[2021-11-30 13:53] ormergi commented on #6776
@andreabolognani there was a bump to virt packages around the time we started to see this behavior on CI but since we dont save history longer than that I cant be sure.
There is another issue regarding SRIOV lane flakes, while I was working on it I found  this https://github.com/kubevirt/kubevirt/issues/6771#issuecomment-982652760
Do you think it also cause the behavior this issue describe?

[2021-11-30 15:23] andreabolognani commented on #6771
Yeah, I would say the actual issue is the one with permissions and the CPU feature warning is just a red herring.

You checked that the `chmod` call shows up in the log, but how about adding a call to `ls -l` for good measure?

I'm unclear on why the cluster setup script needs to do this in the first place. In regular deployments, doesn't virt-handler request access to the `/dev/vfio` itself using

[2021-11-30 15:44] andreabolognani commented on #6776
I see no clear indication of the bug being caused by the virt packages being updated from my (admittedly uninformed) reading of the logs you posted, and the fact that the timing roughly lines up is not a very strong indicator either IMO, considering how fast KubeVirt moves and that the underlying CI environment is not frozen in time either.

Again, I'm not claiming that virt packages are definitel

[2021-11-30 17:32] ormergi commented on #6776
@andreabolognani Thank you very much for looking into this and your feedback, it is much appreciated :slightly_smiling_face:

Actually I have dev environment with SRIOV hardware but it wont reproduce :/

the host is RHEL 8.4 maybe its fits with the QEMU version we use.
I want to test what you suggest, by revert latest virt packages update you meant to checkout to a commit before or is it something

[2021-11-30 18:01] awels commented on #6770
hotplugging should not care if it is a DV or a PVC, a DV is just a wrapper around a PVC, and in the end its a PVC mounted into the pod.

[2021-11-30 18:10] andreabolognani commented on #6776
The fact that you can't reproduce it despite having access to SRIOV-capable hardware is a big bummer :(

The virt packages that are currently in KubeVirt are taken from the advancedvirt-common CentOS Stream 8 repo and roughly correspond to what was shipped in RHEL Advanced Virtualization 8.5.

If the CI is running RHEL 8.3, maybe you could try having your local environment match that? Alternativel

[2021-11-30 18:11] ormergi commented on #6771
Good point, we dont print the its state to the logs, I will do that.

virt-handler device plugin does not handle SRIOV devices, for that we deploy [sriov-device-plugin](https://github.com/k8snetworkplumbingwg/sriov-network-device-plugin) and [sriov-cni](https://github.com/k8snetworkplumbingwg/sriov-cni) in order to provision virt-launcher pods with the SR-IOV VF resource.
Thus we need to some conf

[2021-11-30 22:36] #6779 closed

[2021-12-01 04:46] #6669 closed

[2021-12-01 09:30] #6785 closed

[2021-12-01 10:06] andreabolognani commented on #6771
I probably got the nomenclature wrong and most of the details simply fly over my head, but my point is: if virt-handler expects SRIOV devices to be set up by external components in a production cluster, can't we get the same external components running in the CI cluster as well?

Having our own implementation of the SRIOV handling logic that's specific to the CI cluster sounds like it's not only a

[2021-12-01 11:27] zakkg3 commented on #6447
+1 to tpm
What about AMD sev ?
https://libvirt.org/kbase/launch_security_sev.html
some work founded here https://github.com/jimcadden/kubevirt-sev/tree/sev
Mail discussion https://groups.google.com/g/kubevirt-dev/c/a6XlT0qRNAY/m/lhfCz9CCAwAJ

[2021-12-01 11:36] rmohr commented on #3876
/reopen
/remove-lifecycle rotten

[2021-12-01 13:50] alicefr commented on #6868
@liuminjian have you already check the documentation at https://github.com/kubevirt/user-guide/blob/master/docs/virtual_machines/host-devices.md . There are some limitation for the pass-through and it isn't possible to select the device by using the bus address

[2021-12-01 15:31] davidvossel commented on #6885
@phoracek and just to clarify, this workflow works when not using emulation mode?

[2021-12-01 15:33] phoracek commented on #6885
@davidvossel correct. When emulation is not enabled, reboot works perfectly fine.

[2021-12-01 15:33] davidvossel commented on #6885
do we have any indication why the reboot doesn't succeed?

[2021-12-01 15:35] phoracek commented on #6885
I only looked at the console and that just hangs. I was suspecting memory at first, but it was reproduced even after I increased the memory used for kubevirtci nodes and requests for the VM. Which logs would be helpful to collect?

[2021-12-01 15:37] maiqueb commented on #6860
Does [this blog post](https://kubevirt.io/2020/Multiple-Network-Attachments-with-bridge-CNI.html) help you ?

[2021-12-01 16:55] agantuk opened #6898 "Not able to run VMs in kubevirt"
/kind bug

**What happened**:

I am trying out the scenario noted in https://www.katacoda.com/kubevirt/scenarios/kubevirt-cdi on a local k8s setup. I have created a k8s cluster with kind, installed kubevirt, installed cdi, and am then trying to run the fedora image as noted in the setup.

**What you expected to happen**:

The Fedora image to be downloaded and run in kubevirt.

**How to reproduce i

[2021-12-02 07:47] alicefr commented on #6898
@agantuk it seems to me that the PVC is not provisioned and for this reason the importer cannot start. Could you please check the state of the PVC and the importer pod?
[code]

[2021-12-02 08:01] wzy109871 opened #6899 "When I add patches to virt-operator, resourceName always fails verification"
When I add patches to virt-operator, resourceName always fails verification
==
Here is the content of my YAML file:
==
---
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  certificateRotateStrategy: {}
  configuration:
    developerConfiguration:
      featureGates: []
  customizeComponents:
    patches:
    - resourceType: Deployment
      resourc

[2021-12-02 08:33] #5837 closed

[2021-12-02 11:23] fossedihelm commented on #6899
Hi @wzy109871, thanks. As replied in the [group](https://groups.google.com/g/kubevirt-dev/c/qIC3Nvjsm4s/m/o8Jkt40XBAAJ?utm_medium=email&utm_source=footer), there was a typo in the yaml file (resourecName instead resourceName). This PR [#507](https://github.com/kubevirt/user-guide/pull/507) fixed that. Thanks

[2021-12-02 15:01] stefanDeveloper opened #6906 "VM failed to get write lock"
**What happened**:
I'm currently testing this [Windows Server example](https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html) to get familiar with KubeVirt and I receive the following message during startup: `kubectl describe vmi win2k12-iso`:

[code]

I've also tested the following https://github.com/kubevirt/kubevirt/issues/6731#issuecomment-964888498, however it didn't

[2021-12-02 16:06] kobi86 commented on #6898
Hey @agantuk, does this environment does have access to the internet? Did you added some NNCP that maybe affecting both NS that the CDI and the VM are trying to be downloaded and created?

[2021-12-03 00:24] usrbinkat commented on #6857
Multiple qemu-ga functions are impacted
  - ssh key injection
  - password injection
  - ip reporting

Workaround:
  - Set SELinux enforcing to Permissive or Disabled (not recommended for prod)

[code]

qemu-guest-agent log:
[code]

[2021-12-03 05:40] EdDev commented on #6857
@rmohr , this issue seems to expose two problems: The lack of data collected by the guest agent and the lack of debug information collected from logs and guest (in tests).

You looking to handle both under this issue? It is not clear to me per your expected clause in the description.

[2021-12-03 08:45] rmohr commented on #6857
@EdDev clarified the description. With the info from @usrbinkat it now also made sense to file an issue in fedora bugzilla.

[2021-12-03 11:19] agantuk commented on #6898
@alicefr, @kobi86

Thank you for your replies. I have been trying a different way to upload images so don't have the setup with me currently but I will get back to you with the data very soon since this is an important point for me.

@kobi86 The environment does have access to the internet. Not sure what is meant by NNCP - some sort of network plugin with it's own namespace which is interfering wi

[2021-12-04 13:36] agantuk commented on #6898
This issue is solved after a discussion on the #virtualization channel on slack for kubernetes where Alexander Wels pointed me to the steps. A summary -

It appears that the steps in the katacoda environment are for an older version of hostpath-provisioner. I did not have hostpath-provsioner installed/setup properly. If it helps, here are the steps to install hostpath-provisioner v0.11.0 -

1. htt

[2021-12-04 13:36] #6898 closed

[2021-12-06 01:44] newhuangchuan commented on #6731
Hello, I have a question about the storage part. If I use the `kubernetes` cluster's own `local` storage,I found that the created virtual machine itself gives 100G of storage, but performs `du -sh *`in the local directory. It is found that his size is indeed around 60G. Will his capacity increase dynamically with the use of virtual machines?

[2021-12-06 09:15] orelmisan commented on #6498
When creating a new VM, the following input fields are validated using net.ParseIP()

[v1.VirtualMachineInstanceSpec](http://kubevirt.io/api-reference/main/definitions.html#_v1_virtualmachineinstancespec)
- dnsConfig.nameservers [k8s.io.api.core.v1.PodDNSConfig](https://kubevirt.io/api-reference/main/definitions.html#_k8s_io_api_core_v1_poddnsconfig)
- domain.devices.interfaces.dhcpOptions.ntpServ

[2021-12-06 09:35] #5995 closed

[2021-12-06 13:56] awels commented on #6731
Hi, no the PVs are statically created, and the capacity value doesn't have actually have any meaning with regards to the actual available space. I am guessing you are using minikube in that particular case?

[2021-12-06 14:04] agantuk commented on #6898
Just wanted to note that the correct order of installing (kubectl create/apply -f) is -

1. https://github.com/jetstack/cert-manager/releases/download/v1.6.1/cert-manager.yaml
2. webhook.yaml
3. namespace.yaml
4. operator.yaml (need to install in the hostpath-provisioner namespace so add -n hostpath-provisioner to the create/apply command)
5. hostpathprovisioner_cr.yaml
6. storageclass-wffc-csi.ya

[2021-12-06 17:10] rthallisey commented on #6368
/remove-lifecycle stale

[2021-12-07 09:51] rupipal opened #6915 "Import Virtual Machine images for Kubevirt using CDI"
Hi,
Following https://kubevirt.io/labs/kubernetes/lab2  I am trying to set up the VM on minkube installation minikube v1.23.2 on Debian 11.1 Kubernetes v1.22.2.  The importer pod seems to end with the following errors:

$kubectl logs -f importer-fedora
I1207 09:40:33.240770       1 importer.go:77] Starting importer
I1207 09:40:33.241418       1 importer.go:113] begin import process
I1207 09:40:36.

[2021-12-07 12:10] alicefr commented on #6915
@rupipal please open the issue under https://github.com/kubevirt/containerized-data-importer for better visibility

[2021-12-07 12:37] rupipal commented on #6915
Thanks @alicefr  Done.  https://github.com/kubevirt/containerized-data-importer/issues/2053

[2021-12-07 13:08] yun-ling commented on #6860
Thanks,I've already succeeded in creating second network for VM

[2021-12-07 16:18] maiqueb commented on #6860
But did the provided post help out or not ? You complained there was no "tutorial about second network interface of kubevirt" but - imo - that blog post is exactly what you wanted.

What should we do w/ the issue ? Can we close it @yun-ling ?

[2021-12-08 03:38] yun-ling commented on #6860
Yes,but I didn't find it before. I only search for tutorial in "https://kubevirt.io/user-guide" . This issue can be closed.

[2021-12-08 10:35] alicefr commented on #6906
@stefanDeveloper could you please provide the virt-handler output?
You might want to try this work around. Instead of using the PVC, you could try to substitute with a blank datavolume:
[code]

[2021-12-08 13:02] yun-ling opened #6928 "Discovering differencing disk feature in kubevirt project for the purpose of persistent storage"
For a huge VM cluster,differencing disk is a very  effective  way to reduce space usage.Now I'm modifying source code to make differencing disk become persistent .I've already noticed that the  ephemeral volume and containerDisk are using this kind of disk but they are both temporary.

Why don't you provide a feature to make differencing disk persistent ?Is there any historical reason ?

[2021-12-08 15:52] usrbinkat commented on #6906
Given we're seeing hostpath in use here and permissions/locking issues on that hostpath, are you able to install an alternate storage provider/class and test with that also?

[2021-12-09 03:04] newhuangchuan commented on #6731
Hello, I am using a regular kubernetes cluster, and then I found the problem after creating pv and pvc.
Can I understand it this way? The pv and the volume created are not a completely fixed value. The part used by the pod can exceed the capacity of the PV. Can I understand it this way?

[2021-12-09 08:54] stefanDeveloper commented on #6906
virt-handler output:

[code]

I'll test it with alternate storage provider/class and give you feedback

[2021-12-09 10:12] Ajayimpec opened #6930 "Do VNFs supports Kubevirt ? Are VNFs complient to Kubevirt? How quickly are VNFs adapting to be deployed on Kubvirt VMs?"
this is just an information request

[2021-12-09 11:45] xpivarc commented on #3910
@AlonaKaplan Was this fixed?

[2021-12-09 12:25] maiqueb commented on #6860
OK, cool. I'm considering linking this blog post from the user guide, but I must first understand if there's a precedence for this.

For now, I'm closing this bug.
/close

[2021-12-09 12:25] #6860 closed

[2021-12-09 13:23] awels commented on #6731
So the answer to that question is a little complex. Kubernetes uses a number of factors when binding a PVC to a PV. It matches on storage class (if used), accessModes, volumeMode, and size. Now assuming storageclass/accessModes/volumeMode between the PVC and PV match, it checks if the capacity value of the PV >= the request size value of the PVC. If that is the case then it can bind the PV and PVC

[2021-12-10 16:15] stefanDeveloper commented on #6906
I figured out what my mistake was, I set the same hostpath as the CDI is using it.
So changing this
[code]
to
[code]
fixed it. However, now I face the problem that I get an `Can't connect to websocket (504): websocket: bad handshake` when I try to connect via `virtctl vnc win2k12-iso`. The same happens when I try this example `https://kubevirt.io/labs/manifests/vm.yaml` with cirros.

[2021-12-10 17:32] rupipal opened #6939 "KubeVirt deployment on a kind cluster"
Hi,
Following the instructions https://kubevirt.io/quickstart_kind/, I'm trying to install KubeVirt on a kind cluster. I can see all components except virt-handler pod and daemonset virt-handler it seems it depends on. I'm guessing that the pod crashes because it is waiting for the daemonset to start running. With all other components up, it is a bit difficult to suspect anything wrong in my setup

[2021-12-11 14:50] qkfrksvl opened #6940 "passing the handler flag with kubevirt-cd did not create any cmd argument on virt-handler"
In my case, I changed my kubelet pod dir, so I had to pass the handler flag when I created kubevirt resouce.

---
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  certificateRotateStrategy: {}
  configuration:
    developerConfiguration:
      featureGates: []
  customizeComponents:
    flags:
      handler:
        kubelet-pods-dir: /data0/kubelet

[2021-12-13 08:24] mokarage opened #6943 "virt-launcher can't create VMI with disabled/permissive SELinux"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
KubeVirt(virt-handler) ignores running `virt-launcher.cil` on environments like Flatcar that have disabled/permissive SELinux due to this #5298. In these situations virt-launcher won't be able to create VMs:
[code]

**What you expected to happen**:
It is expected that virt-launcher successfully create pods with running VM in it.
**H

[2021-12-15 08:00] alicefr commented on #6756
@rthallisey the entire discussion reminded me to a talk I watch at KubeCon 2021 about [Smarter runtime](https://kccnceu2021.sched.com/event/iE1Y/maximizing-workloads-performance-with-smarter-runtimes-krisztian-litkey-alexander-kanevskiy-intel?iframe=no&w=100%&sidebar=yes&bg=no).
I don't know how far they got with this effort

[2021-12-15 10:05] rmohr commented on #6393
/remove-lifecycle stale

[2021-12-15 10:06] rmohr commented on #6393
Quite some progress was made here. See https://github.com/kubevirt/api#readme.

Could you check if that is siffuicient for you?

[2021-12-15 10:15] rmohr commented on #6943
Hm, I hoped that this use-case was fixed in https://github.com/kubevirt/kubevirt/pull/6377 (0.46), but looks like we have other issues again. Thanks for reporting.

[2021-12-15 10:16] rmohr commented on #6943
@jean-edouard FYI

[2021-12-15 10:39] mokarage commented on #6943
@rmohr Thanks for the reply. I also had another issue regarding the hostpath mounting paths like `/var/run/kubevirt` in `virt-handler` because these paths are immutable in Flatcar and I had to patch it with new paths like `/opt/var/run/kubevirt`. it would be great if these issues were documented for immutable OSs.

[2021-12-15 10:44] fossedihelm commented on #6383
Hi @23r096  I tried to reproduce the bug with your config but it seems to work. During some attempts, I realized that if you put `Snapshot ` (with white space at the end) it seems that Feature Gate is enabled but the snapshot procedure fails as you described. I can't be sure that's the case for you. Could you give feedback if the problem persists?

[2021-12-15 14:56] jean-edouard commented on #6943
@mokarage do you run into the issue with both permissive and disabled SELinux environments? Permissive SELinux should not ever cause any trouble. However, without proper checks, SELinux-related code can break in disabled mode, which I would suspect to be the case here.

[2021-12-15 15:13] rthallisey commented on #6422
/remove-lifecycle stale

[2021-12-15 15:44] usrbinkat commented on #6939
Thank you for reporting this bug.

Can you include virt-handler logs so we can see what is happening?

/triage needs-information

[2021-12-15 15:46] usrbinkat commented on #6930
I'm unclear about your question, can you share specific outcome explanation and details of what components you want to support specifically?

/triage needs-information

[2021-12-15 15:49] rmohr commented on #6928
@yun-ling we rely in kubevirt a lot on PVCs from kubernetes and there we expect that a lot of these features are coming from backends like e.g. Ceph. I think this is mostly the reason. The case you mentioned is very nice for e.g. CI use-cases. What exactly is your use-case you want to cover?

/triage needs-information

[2021-12-15 16:35] maiqueb commented on #5477
IIUC, there are a bunch of tests currently skipped pointing at this issue.

We should either re-open the issue, or enable the tests back. Does the issue still persist @AlonaKaplan / @phoracek ?

[2021-12-16 06:13] mokarage commented on #6943
@jean-edouard, @rmohr  Yes, actually I tried all scenarios even with `enforce` mode and  all of them breaks for some reasons in Flatcar but the error I mentioned in the issue is for `permissive` mode, here is my `virt-handler` log:
[code]
Here is what I think causes the error:
1. `virt-handler` checks the selinux mode in host and finds that it's permissive so it won't try to run `virt-launcher.cil

[2021-12-16 06:55] yun-ling commented on #6928
I plan to use k8s to manage a huge VM cluster  which has  more than 40 machines.

For most situation,base  image  can  already satisfy the needs of VM instance. But what if the image is a very large  image?

I'm working on creating macos  image ,of which the size is larger than 30 GB. if user want to create 10 macos VM instances,this action  will take  up  300GB   in the cluster that could  run ou

[2021-12-16 08:32] rmohr commented on #6943
Thanks for the details, this looks like another case where we relabel something like in https://github.com/kubevirt/kubevirt/pull/6377 and do not handle it gracefully. I think (1) is the right way to fix this. (2) seems to be unrelated. `virt-handler` never sees the pod definition of virt-launcher, they communicate with each other on the container level.

[2021-12-16 08:39] xpivarc commented on #6943
`Relabeling a file faild, continuing since selinux is permissive` seems to me we handle this gracefully.

Do I understand correctly that removing the `selinuxOption` fixes your problem? (Seems odd to me)

[2021-12-16 08:41] rmohr commented on #6943
One possibility: As a side effect it is possible. If this is the only case where we don't treat the relabeling graceful when selinux is permissive, it could by accident have the expected labels and then the relabel would not happen.

[2021-12-16 08:44] mokarage commented on #6943
As I said in the case of permissive mode yes (as for a second I see the log of my `kubectl describe virt-launcherXXXX` that pod created successfully) but because I do this manually I think KubeVirt removes it automatically.

[2021-12-16 08:58] mokarage commented on #6943
Is it possible for virt-launcher auto definition to check if host is in permissive mode or not?

[2021-12-16 11:55] maiqueb commented on #5477
/reopen since the tests are still x-failed.

[2021-12-16 12:05] AlonaKaplan commented on #5477
/remove-lifecycle rotten

[2021-12-16 12:06] AlonaKaplan commented on #5477
/reopen

[2021-12-16 12:28] alicefr opened #6962 "Sidecar with virt-xml to add unsupported xml options for development and testing"
/kind enhancement

**What happens**:
From time to time people are asking how to try libvirt options not supported by KubeVirt API. The current solution is to develop an ad-hoc sidecar that sets those options. We have a tool called [virt-xm](http://manpages.ubuntu.com/manpages/xenial/man1/virt-xml.1.html)  from virt-manager that allows modifying the xml from the command line.
I have been experiment

[2021-12-16 12:30] alicefr commented on #6962
fyi @andreabolognani

[2021-12-16 12:55] yun-ling commented on #6928
It's a goddamn big work to fit my requirement. I have almost lost  in a large quantities of code of virt-handler,virt-controller,virt-launcher but I won't give up.

[2021-12-16 12:58] rmohr commented on #6928
I think the advantage of automatic thin provisioning with e.g. ceph is that if the base ever changes, your VMs will still work as expected (with the expected amount of de-duplication). If you use overlay files, you can easily share the root disks, but when you want to update the root disk due to e.g. a new version it is hard to continue using the overlay disks.

I am curious, did you think about a

[2021-12-16 13:58] yun-ling commented on #6928
Version control might be a solution but not so perfect.The version of base image must correspond with the overlay disk.Another solution is applying patch to the currently  existing  VM instance which has one or more overlay disks instead of directly upgrading  base image . If the VM instance is gone, next time the deployment will create a completely new overlay disk according to the new baseline.

[2021-12-17 10:14] yun-ling commented on #6928
Today I  makes some  progress . I use container disk as base image , and then I mount a  node  dir ( placing at "/root/virtual_disk/") into virt-launcher pod  ( placing at  " /overlay-disk/" ) like what hostdisk does .

"CreateBackedImageForVolume"  func will redirect the  ephemeralDisk to "/overlay-disk/"  and  "Convert_v1_ContainerDiskSource_To_api_Disk" func will  get the  correct path of  the

[2021-12-17 10:23] rmohr commented on #6928
@yun-ling I appreciate your enthusiasm, but do you think that you could first outline more clearly how your feature should work and for which use-cases, maybe even open a proposal in https://github.com/kubevirt/community, so that we can avoid that you spend a lot of energy on an implementation which we may not be able to take in?

[2021-12-17 12:12] rmohr commented on #6906
@stefanDeveloper can you share `kubectl get pods -n kubevirt` an aside from that overview also the pod logs of `virt-handler` and `virt-api` in the `kubevirt` namespace?

[2021-12-18 11:48] #6080 closed

[2021-12-18 11:48] #6085 closed

[2021-12-18 18:49] #5969 closed

[2021-12-20 02:54] yun-ling commented on #6928
Thanks for your suggestion.I'm working on  my design document.

[2021-12-20 09:23] Icedroid commented on #6748
@rmohr Not solved. I open new issue @6903

[2021-12-20 09:24] rmohr commented on #6748
:+1: can you attache to #6903 the kubelet logs? I am really curious to find out what is going on, but I think we need to look at the kubelet logs there.

[2021-12-20 14:13] alicefr opened #6976 "Container images do not support sparse files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
If you try to use container disks with sparse files, copying or adding the image in the container image doesn't preserve the file spareness.

Example:
[code]

This is a limitation in container tools and the [OCI specification](https://github.com/opencontainers/image-spec/blob/main/layer.md#file-attributes). A [similar issue](https:/

[2021-12-20 14:50] sradco commented on #6486
New query should be :
sum by(pod, container) ( kube_pod_container_resource_limits{resource='memory', unit='byte', pod=~'virt-launcher-.*'}
- on(pod,container) container_memory_working_set_bytes{pod=~'virt-launcher-.*'})

[2021-12-20 16:05] alicefr commented on #6976
This seems to be even a limitation in golang: https://github.com/golang/go/issues/13548

[2021-12-21 08:03] Icedroid opened #6981 "numa vm mem policy can't change"
/kind bug

**What happened**:
I create a vm with NUMA memory size is 2Gi, NUMA node0 have Hugepages 1290, NUMA node1 have Hugepages 758. Hugepagesize is 2MB. But I can't start my vm normally.  vm virt-laucher pod logs as follow:
[code]

**What you expected to happen**:
policy=bind could be changed like policy=preferred or policy=interleave.
libevirt set policy:
https://access.redhat.com/documentat

[2021-12-21 09:01] chenlein commented on #6646
[Checking if nested virtualization is supported
](https://docs.fedoraproject.org/en-US/quick-docs/using-nested-virtualization-in-kvm/index.html)

[2021-12-21 09:25] iholder-redhat commented on #5336
/remove-lifecycle rotten
/remove-lifecycle stale

This PR https://github.com/kubevirt/kubevirt/pull/6042 has LGTM and is still waiting for review.
@rmohr @stu-gott

[2021-12-21 11:14] zhhray commented on #6620
I had the same problem with version v0.44.1

[2021-12-21 11:18] zhhray commented on #6567
I had the same problem with version v0.44.1
When the vm use masquerade mode.
[code]
But I got the result is:
[code]

[2021-12-21 12:40] rupipal commented on #6939
Thanks for your reply. Sorry for the delay; I'd deleted the kind cluster and had I promptly recalled what the logs were, though I'd many other things in my hands all at once, I might've got back quicker. Because there were no logs and that is the reason, I think, I used describe.

I re-did on a new cluster and I get the same situation.

$ kubectl get all -n kubevirt
NAME READY STATUS RESTARTS AGE

[2021-12-21 15:34] candidoma opened #6987 "Port-forward doesn't work when interface is Bridge"
/kind bug

**What happened**:
I Created a VM with the following yaml

[code]

I'm not able to connect using port-forward to some services running inside the VM, for example VNC or SSH.
I'm able to connect to SSH or VNC from any other pod using Service name or VM IP.

**What you expected to happen**:

Using port-forward I expect to be able to connect to the VM through ssh or vnc.
If I change the in

[2021-12-22 02:20] zhhray commented on #6620
Have you solved your problem?

[2021-12-22 02:20] zhhray commented on #6567
@tiezhuoyu Have you solved your problem?

[2021-12-22 05:11] vasiliy-ul opened #6991 "AMD SEV technology enablement"
This is the placeholder issue for tracking the progress of AMD Memory Encryption features (SEV, SEV-ES, SEV-SNP) enablement in KubeVirt.

Original discussion from the mailing list: https://groups.google.com/g/kubevirt-dev/c/a6XlT0qRNAY/m/IWFAOu2xAAAJ

/kind enhancement

### Implementation

- [x] Basic SEV support
- https://github.com/kubevirt/kubevirt/pull/6166
- [x] Encrypted State (SEV-ES)
- htt

[2021-12-22 20:07] usrbinkat commented on #6939
@rupipal I'm unable to re-create this issue. I just ran a kind deploy to create [this gist](https://gist.github.com/usrbinkat/a457c96a50e325200fd59ed681a0242d) and it worked a few times in a row.

I'm un-sure if your logs commands are missing a namespace flag eg: `--namespace kubevirt` that might get you further than the 'not-found' errors shared in your last post.

For information's sake, are you

[2021-12-23 04:26] gidde8 commented on #6795
Thanks @andreabolognani for reply and possible resolutions.

Updating kubevirt to 0.47.1 version is not easy for us as we are using some customised changes on top of upstream version.

Is it possible to port this correction into libvirt 6.6.0 and provide a docker image. We will to update kubevirt workspace to use this image accordingly.

The above kubevirt is  already in customer place. so we need

[2021-12-23 04:29] rupipal commented on #6939
Hi Kathryn
Thanks for your reply.  Yes, I missed namespace by slip. Here it is now.

$ kubectl logs pod/virt-handler-p65f9 -n kubevirt
Error from server (BadRequest): container "virt-handler" in pod
"virt-handler-p65f9" is waiting to start: PodInitializing

$ kubectl logs daemonset.apps/virt-handler -n kubevirt
Error from server (BadRequest): container "virt-handler" in pod
"virt-handler-p65f9" is

[2021-12-23 07:41] AlonaKaplan commented on #3910
The test is still existing and skipped, so seems it wasn"t addressed.

/remove-lifecycle rotten
/reopen

[2021-12-23 07:57] andreabolognani commented on #6795
@gidde8 I'm afraid backporting the fix would be far from trivial.

Whatever version of KubeVirt you're running, it was clearly released before the switch to CentOS Stream 8 and so it still relies on Fedora 32, which has been EOL for more than half a year at this point, and custom COPR repositories. COPR has, understandably, dropped support for Fedora 32, and so even just producing a build would re

[2021-12-23 13:58] #4767 closed

[2021-12-23 23:41] gbrayut commented on #6885
I did some [testing](https://kubevirt.io/labs/kubernetes/lab3) and it looks like rebooting emulated VMs last worked in `KUBEVIRT_VERSION=v0.35.0` which used QEMU version 4.2.0 (qemu-kvm-4.2.0-27.fc31) and it stopped working in [v0.36.0](https://github.com/kubevirt/kubevirt/releases/tag/v0.36.0) which updated QEMU to 5.1.0 (qemu-kvm-5.1.0-16.fc32). When it was working in v0.35 it still hung for abo

[2021-12-25 16:00] #6130 closed

[2021-12-25 16:00] #6126 closed

[2021-12-26 11:11] orelmisan commented on #6498
The virtctl utility has several options where a user can input an IPv4 address:

$ ./virtctl port-forward --address
$ ./virtctl expose
--cluster-ip
--external-ip
--load-balancer-ip

[2021-12-26 21:37] itmwiw opened #7001 "Multus Network, bridge over vlan, does not work as secondary interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When I try to launch a VM with multus Network as second interface,  the VM don't start and I get the following error event:
`failed to configure vmi network: failed plugging phase1 at nic 'net1': No gateway address found in routes for net1`
**What you expected to happen**:
The VM start correctly.
**How to reproduce it (a

[2021-12-27 03:51] zhhray commented on #6620
@rmohr Is it a bug in 0.44.1 version of kubevirt?

[2021-12-27 03:51] zhhray commented on #6567
@rmohr Is it a bug in 0.44.1 version of kubevirt?

[2021-12-27 04:05] tiezhuoyu commented on #6567
Yes, I solved it, but its cause should be different from yours. I incorrectly modified file 'pkg/virt-launcher/virtwrap/network/podinterface.go', and it led to iptables configuration incorrect.

[2021-12-27 08:19] zhhray commented on #6567
OK, Thank you for your reply. You mean the problems caused by the new code compiled by yourself?
Have you found similar problems in the kubevirt release version?

[2021-12-28 03:43] zhhray opened #7006 "cannot ssh to vm when in masquerade mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Can not ssh to vm when the vm in masquerade mode.
And the VM cannot access the Internet and cannot connect to the node.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
But I got the result is:
[code]

**Anything else we need to know?**:
This problem exists with both the kube

[2021-12-28 03:46] zhhray commented on #7006
Is it a bug in 0.44.1 version of kubevirt?
Is it the same issue with this issue? https://github.com/kubevirt/kubevirt/issues/6620

[2021-12-28 09:03] fabiand commented on #6756
@rthallisey my worry is just that we are adding to much kubevirt specific tunables into the core of kubevirt. I'd like ot avoid this in order to rather inherit from Kubernetes in general. For several reasons, like consistent experience between containers and VMs, ensuring to create synergies, less maintenance burden, etc.
OTOH we want to see use-cases like this enabled, at best by using a strong p

[2021-12-28 14:18] orelmisan commented on #6498
There is another problematic field:
v1.VirtualMachineInstanceSpec:
spec.networks[].pod.vmNetworkCIDR [v1.PodNetwork
](http://kubevirt.io/api-reference/v0.48.1/definitions.html#_v1_podnetwork)

[2021-12-29 11:12] nicolacdnll commented on #6620
No, we did not.

[2021-12-29 15:18] D1abloRUS opened #7012 "Incorrect operation of the device plugin"
/kind bug

**What happened**:

I added several host devices:
[code]

These are the same devices, but they have a different device id. But in the capaicty of the node, I see only one of them, not the sum.

[code]

**What you expected to happen**:

In order for the device plugin to group different device IDs into one device

**How to reproduce it (as minimally and precisely as possible)**:

Create d

[2021-12-30 05:39] newhuangchuan commented on #6731
alright, thank you very much

[2021-12-30 07:27] zhhray commented on #7006
This problem persists when kubevirt is upgraded to the latest version.
Can anyone answer this question?
@rmohr

[2021-12-30 15:40] maiqueb commented on #6469
/remove-lifecycle stale

[2021-12-30 15:41] maiqueb commented on #6322
/remove-lifecycle stale

[2021-12-30 15:41] maiqueb commented on #6322
/remove-lifecycle rotten

[2021-12-31 02:49] zhlhahaha opened #7015 "Verify Sig-compute related e2e tests on Arm64"
This issue is used to track sig-compute related e2e tests status on Arm64 and the process of enablement.

**Is this a BUG REPORT or FEATURE REQUEST?**:

[2021-12-31 02:54] zhlhahaha commented on #7015
**Failed Test**
- [ ] usbredir_test
- [ ] vmidefaults_test
- [ ] vmi_ignition_test
- [ ] credentials_test
- [ ] vmi_kernel_boot_test
- [ ] pool_test
- [ ] vmi_multiqueue_test
- [ ] flavor_test
- [ ] vm_test
- [ ] console_test
- [ ] mdev_configuration_allocation_test
- [ ] security_features_test
- [ ] subresource_api_test
- [ ] vmi_sound_test
- [ ] vmi_cloudinit_test
- [ ] vmi_gpu_test
- [ ] vmi_co

[2022-01-01 15:04] #6142 closed

[2022-01-01 15:04] #6148 closed

[2022-01-02 08:07] iholder-redhat commented on #6491
@sradco this issue can be closed

[2022-01-02 08:13] #6491 closed

[2022-01-03 09:17] alicefr commented on #6976
It might be useful to document this limitation of container images and suggest to use the qcow2 format

[2022-01-03 13:24] alicefr commented on #7012
@D1abloRUS do you expect that 2 devices with different product and vendor ids could have the same resource name?

I just tested with 2 (emulated) NVMes that has the same product/vendor id and this is listed as 2 devices:
[code]

[2022-01-03 13:28] D1abloRUS commented on #7012
@alicefr Hi
Yes, i expect that 2 devices with different product and vendor ids could have the same resource name

[2022-01-03 13:28] alicefr commented on #7012
fyi @vladikr

[2022-01-03 15:30] alicefr commented on #7012
I don't know, I think it is expected behavior. If we want to start grouping devices by a certain property and listed under a certain name maybe this requires a new device plugin or extend how the device plugins are registered https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-handler/device-manager/device_controller.go#L155-L162

Let's see what @vladikr thinks :)

[2022-01-04 05:06] qkfrksvl opened #7022 "Livemigration method is only seen 'blockmigration' even if with pvc RWX mode."
**Is this a BUG REPORT or FEATURE REQUEST?**:

****What happened**:**
I have enabled 'LiveMigration' feature but it's only seen the 'blockmigration'
- Checked using RWX PVC access modes.
- the VM doesn't have pod network, only has multus with bridge mode.
- CPU flag is 'Host-model'
- There is no Pass-through device and SRIOV.

**What you expected to happen**:
Migration method appears 'LiveMigratio

[2022-01-04 05:15] qkfrksvl commented on #7022
------- VMI Information -------
apiVersion: kubevirt.io/v1
kind: VirtualMachineInstance
metadata:
  annotations:
    kubevirt.io/latest-observed-api-version: v1
    kubevirt.io/storage-observed-api-version: v1alpha3
  creationTimestamp: "2022-01-03T15:37:17Z"
  finalizers:
  - kubevirt.io/virtualMachineControllerFinalize
  - foregroundDeleteVirtualMachine
  generation: 12
  labels:
    kubevirt.io

[2022-01-04 05:16] qkfrksvl commented on #7022
![image](https://user-images.githubusercontent.com/86870268/148012686-25106cf4-f4ac-4af2-ae21-2c223484b4f7.png)

[2022-01-04 08:52] D1abloRUS commented on #7012
I would like to clarify that my case is the same vendor id and different device id. This case is with gpu. The cards have the same model, but different device id

[2022-01-05 03:37] greg-bock commented on #5290
/reopen

[2022-01-05 03:37] greg-bock commented on #5290
/remove-lifecycle rotten

[2022-01-05 08:44] maiqueb commented on #6538
/remove-lifecycle stale

[2022-01-05 08:47] maiqueb commented on #6538
@dteplits / @AlonaKaplan can we close this issue, now that https://github.com/kubevirt/kubevirt/pull/6833 was merged ?

[2022-01-05 10:23] #6498 closed

[2022-01-05 15:26] rthallisey commented on #6054
/remove-lifecycle stale

[2022-01-05 15:26] rthallisey commented on #6144
/remove-lifecycle stale

[2022-01-05 19:07] fanzhangio opened #7032 "ghost record not cleanup properly causes error to find the correct launcher client"
**BUG REPORT**:

/kind bug

**What happened**:
We noticed an issue that VMI stuck in Scheduled and the launcher pod was Error:
[code]
Looked into the stuck vmi, the pod went to Error because the compute container was terminated due to timeout failure of creating virt-launcher client connection when the entry already exists with differing UID

[code]

panic: timed out waiting for domain to be defin

[2022-01-05 19:18] fanzhangio commented on #7032
Here is what I investigated this issue and some thoughts :

For each new created virt-launcher pod needs to provide a launcher-socket and register it into `/var/run/kubevirt-private/ghost-records/<vmi id>` path for caching. And every time virt-launcher restarted it will read all files in this path into its cache. The issue happens after virt-handler restarted.

However the virt-handler on  was not

[2022-01-05 19:51] rthallisey commented on #7032
How would you reproduce this issue? Would it be these two steps on repeat:
1) reboot a node with active VMIs
2) recreate VMIs with the same name on the same node

[2022-01-06 11:40] rthallisey commented on #6348
/remove-lifecycle stale

[2022-01-06 13:19] #5828 closed

[2022-01-07 07:00] gidde8 opened #7040 "Query: System resource requirements for kubevirt cluster for optimal performance."
/kind bug

We are using kubevirt 0.37.2 version with MULTUS CNI and SRIOV.

Would like to understand what are system resource requirements in terms of  CPU and memory requirements for kubevirt cluster to run.

[root@appliance-1 ~]# kubectl get pods -n kubevirt
NAME                               READY   STATUS    RESTARTS   AGE
virt-api-56769d9fc6-tvz6g          1/1     Running   0          33h
vir

[2022-01-07 08:43] Jchicode opened #7041 "Can it support multiple VNC connected to VM？"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:Only support one VNC connection per VM.After I tried the second connection, the first connection was automatically disconnected

**What you expected to happen**: Multiple VNC connected to VM.

[2022-01-09 14:51] EdDev opened #7050 "SR-IOV interfaces are not reported correctly when the guest has no guest-agent."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When looking at a VMI status with SR-IOV interfaces and no guest-agent running, the reported interfaces are wrong.
- In cases where only SR-IOV interfaces are defined, it will wrongly show the interfaces with just their network name and without validating that the data is in sync with the domain (e.g. the device may be d

[2022-01-09 14:51] EdDev commented on #7050
/sig network

[2022-01-10 03:06] zhlhahaha commented on #7015
credentials_test
vmi_multiqueue_test
subresource_api_test
vmi_cloudinit_test
portforward_test

5 tests pass after we have fedora-with-test-tooling for Arm64. https://github.com/kubevirt/kubevirtci/pull/732

[2022-01-10 08:37] rmohr commented on #5932
/remove-lifecycle stale

[2022-01-10 08:37] rmohr commented on #5932
/lifecycle frozen

[2022-01-10 09:52] alicefr commented on #7012
@D1abloRUS after talking with @vladikr this should be a valid case. Vlakdik pointed me to https://github.com/NVIDIA/kubevirt-gpu-device-plugin/issues/19#issuecomment-952428518.

I managed to reproduce your issue with 2 emulated sound cards. It is enough to set `export KUBEVIRT_PROVIDER_EXTRA_ARGS="--qemu-args \"-soundhw ac97\""` before `make cluster-up`. Also in this case, it counts a single devic

[2022-01-10 09:57] rmohr commented on #6531
/remove-lifecycle stale

[2022-01-10 09:58] rmohr commented on #6531
So sounds like at some point we can drop the complicated flow because the CSI implementations can make use of the populator and for the classic types we can rely on the node-level-locking behaviour?

[2022-01-10 10:11] rmohr commented on #7006
@zhhray can you verify that other pods can reach the internet, and in addition, can you try connecting to the vm via `virtctl console` (serial console) or `virtctl vnc` (remote desktop) and check its network setup? Maybe it does not run `dhcp` by default?

[2022-01-10 10:17] rmohr commented on #6620
/assign @phoracek

@phoracek maybe you can find someone to have a look?

[2022-01-10 10:28] zhhray commented on #7006
I can reach the internet and nodes in virt-launcher Pod. But I can’t in VM when I connect to the vm via `virtctl vnc`.
Ping the IP address of the node in the VM, the source IP address is 10.0.0.2, which is a private NAT network address.
I think the source IP address should be the IP address of the Virt-Launcher Pod.
So  I guess that, the code of virt-Launcher Pod is having problems configuring the

[2022-01-10 13:40] awels commented on #6531
Yes, I think that would be the appropriate approach.

[2022-01-10 14:05] phoracek commented on #6620
/assign @rhrazdil

[2022-01-10 14:45] rhrazdil commented on #6620
Hello @nicolacdnll , would you be able to provide us with logs of the `virt-handler` pod, that's running on the same node as the VM? That may help up see if something bad happened during the in-pod network setup.

Additionally, I'd like to confirm that the NAT table is configured correctly in the virt-launcher pod.
That can be obtained by:
1. ssh to the node where the VM is running
2. Run `$ docke

[2022-01-10 21:20] #5744 closed

[2022-01-11 05:53] zhhray commented on #5680
@phoracek
I'm having the same problem now. Can you confirm what the problem is?
https://github.com/kubevirt/kubevirt/issues/7006

[2022-01-11 08:27] oshoval commented on #7050
Worth to update this ticket with what you expect still to be done
after https://github.com/kubevirt/kubevirt/pull/7051 is merged please

[2022-01-11 10:13] chestack opened #7055 "how CNI plugin get the specified macAddress in devices.interfaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
with https://github.com/kubevirt/kubevirt/pull/1213, it cloud specify macAddress of VM, a template like
[code]

however,  kube-ovn could not get this mac address(macA) info from virt-launcher pod but allocated another mac address(macB) for VM nic.

clients failed to access VM because that ovn do the arp reply and return the macB ins

[2022-01-11 12:53] rthallisey commented on #6756
In a community meeting a few weeks ago, I agreed to go over a POC of 1) in a future community meeting (I still plan to do that).  I'm hoping that will provide clarity on a direction, whether that's a plugin mechanism, one of the options I listed, or something else.

[2022-01-12 02:53] zhhray commented on #7006
Is there any key information or log that I can provide?

[2022-01-12 06:37] docvirt commented on #6928
@yun-ling  Hi, I have the same problem, have you solved it? @rmohr For this way of storage, how can I start a virtual machine using kubevirt？ubuntu-test.qcow2
[code]

[2022-01-12 15:40] dhiller commented on #7041
We do not support multiple VNC connections yet. Please specify a bit more on your use case please, so that we can understand the need.

/triage needs-information

[2022-01-12 15:43] dhiller commented on #7040
We don't have documentation on what exactly is required, but you can check on the pods what request we are setting.

Please note that when the cluster scales you would need more resources than the requests say.

[2022-01-12 15:44] davidvossel commented on #7032
interesting bug.

The ghost records exist in order to guarantee that a VMI's local data is cleaned up when virt-handler re-initializes even if the VMI is deleted from etcd.

What you're hitting is that the ghost record for a VMI is sticking around even after a new VMI with the exact same name has been created. Looking at the code, we don't handle this situation at all, and the result is the new VM

[2022-01-12 15:44] dhiller commented on #7022
/assign @vladikr

[2022-01-12 15:47] dhiller commented on #7012
/triage accepted

[2022-01-12 16:01] maiqueb commented on #7055
@chestack The documentation is correct; the CNI plugin should be configured with the MAC - the virt-launcher pod's network annotations - the explicit key is `k8s.v1.cni.cncf.io/networks` - will feature the MAC address, as per [this code](https://github.com/kubevirt/kubevirt/blob/8feee088fd9e830a1281f8b093878aae396ed7d7/pkg/virt-controller/services/multus_annotations.go#L95).

The value for the ann

[2022-01-12 16:02] maiqueb commented on #7055
/assign @maiqueb

[2022-01-12 16:35] maiqueb commented on #7055
@chestack FWIW, I've noticed that `kube-ovn` does **not** feature the MAC address as a parameter to its [configuration](https://github.com/kubeovn/kube-ovn/blob/3f4b0bfd1305ca1791a7b1c7712c9aa1c2931922/cmd/cni/cni.go#L150).

[2022-01-12 23:12] #6667 closed

[2022-01-13 09:08] cszixin opened #7065 "`kubectl get vmi my-vmi ` can not show ip"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I create a vmi ,  It was normal at first，but after a while
when I use ` kubectl get vmi `,  it does not show the IP of vmi , but virt-launcher does,
and ssh to the vmi , eth0 nic shows the ip ,which as the same with   virt-launcher pod

![image](https://user-images.githubusercontent.com/16910250/149298726-c158fac1-6770-4562-820a-49c

[2022-01-13 09:49] phoracek opened #7066 "Network section of docs/components.md is outdated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

The [section](https://github.com/kubevirt/kubevirt/blob/main/docs/components.md#networking) shares future plans on how advanced networking should be done in KubeVirt. Since it was written, we have advanced in this area and that should be reflected there.

**What you expected to happen**:

The section should link

[2022-01-13 09:54] vasiliy-ul opened #7067 "virt-launcher, ProcessMonitor: Searching the VM proccess by domain.Spec.UUID is not reliable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The process monitor in `virt-launcher` uses  `domain.Spec.UUID` in order to find the main VM process (i.e. `qemu`):

https://github.com/kubevirt/kubevirt/blob/49b9e4a71ae09577ad7578932420b3e639d9e440/cmd/virt-launcher/virt-launcher.go#L501

Currently the approach is to search for `domain.Spec.UUID` in `/proc/$pid/cmline`

[2022-01-13 10:16] #7055 closed

[2022-01-13 10:19] maiqueb commented on #7055
@chestack feel free to re-open the issue if the [answer](https://github.com/kubevirt/kubevirt/issues/7055#issuecomment-1011196935) is not correct.

[2022-01-13 10:36] maiqueb commented on #7006
I'm interested in the VMI status (just making sure you're sshing to the correct address). Can you show us the interface status of the VM ?
`kubectl get vmi <vm name> -ojsonpath="{ @.status.interfaces }"`

Also, does the issue persist if your VMI spec does not feature the list of allowed ports ? (i.e. drop the `ports` key from the interface spec portion).

[2022-01-13 10:40] rhrazdil commented on #7006
Hello @zhhray, this does seem to be the same issue as described here: https://github.com/kubevirt/kubevirt/issues/6620

Could you please provides us with the virt-handler logs (collected from the virt-handler pod that runs on the same node as your VM is scheduled on) and NAT table as described in this comment? https://github.com/kubevirt/kubevirt/issues/6620#issuecomment-1008942320

[2022-01-13 12:32] chestack commented on #7055
@maiqueb thanks for your answer.

I use kube-ovn as multus default network as following, so that's why I didn't  find the annotation in virt-launcher pod's annotation
[code]

Cloud you help to tell more about why **only** happens for **Multus non-default networks** but not for multus default network. Thanks.

[2022-01-13 13:35] 0xFelix opened #7071 "virtctl: --identity-file is not applied when setting --local-ssh=true"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I wanted to use virtctl to ssh into a VM. I specified a private key with `--identity-file` and set `--local-ssh=true`.

The executed ssh command was:

`/usr/bin/ssh -o ProxyCommand=/home/felix/.krew/bin/kubectl-virt port-forward --stdio=true vmi/rhel8-rapid-alligator.vmtest 22 cloud-user@vmi/rhel8-rapid-alligator.vmtest`

[2022-01-13 13:47] 0xFelix opened #7072 "virtctl: Native ssh client does not use supplied identity file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I wanted to use virtctl to ssh into a VM. I specified a private key with `--identity-file`.

The identity file is not used and authentication fails.

`ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain`

**What you expected to happen**:

The identity file i

[2022-01-13 14:01] dominikholler commented on #7072
CC @rmohr

[2022-01-13 19:39] vladikr commented on #7022
Hi @qkfrksvl , thanks for raising this.

KubeVirt uses the `BlockMigration` method when a VMI has at least one local disk that needs to be copied during the migration process.
Network-attached disks/disks that are located on centralized storage are being simply re-connected on the destination and are not being copied.
Looking at your vmi definition, this vmi has a cloud init disk attached. This di

[2022-01-14 04:17] qkfrksvl commented on #7022
Big thanks for answer. One question for you, is it possible to config migration with specific destination node?

[2022-01-14 07:05] ikandars opened #7078 "virtctl: error DataVolume.storage spec is missing accessMode and volumeMode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Found this following error when creating DV:

[code]

**What you expected to happen**:

DataVolume cirros created

**How to reproduce it (as minimally and precisely as possible)**:

When I run this following command in virtctl version v0.47.1:

[code]

The DataVolume fail to create with following error:

[code]

But ever

[2022-01-14 10:03] maiqueb commented on #7055
Su

That explains it :)

Sure. As you can see in the [multus code](https://github.com/k8snetworkplumbingwg/multus-cni/blob/d52f2b6a4539ae6717fbca1af319804de0c333f4/pkg/k8sclient/k8sclient.go#L599), the "overridden" default network is configured via a separate annotation - its key is `v1.multus-cni.io/default-network`. That's why we don't generate the "general purpose" network annotations for the m

[2022-01-14 11:23] #6165 closed

[2022-01-14 12:08] rthallisey commented on #6307
/remove-lifecycle rotten

[2022-01-14 13:16] zhhray commented on #7006
1. Firstly, the interfaces of vmi status are:
[code]
2.Secondly,I modified my YAML content as follows:
[code]
But the problems mentioned above still exist.

[2022-01-14 13:23] #6239 closed

[2022-01-14 13:25] zhhray commented on #7006
THX.
[code]
The result is :
[code]

[2022-01-14 13:32] adamiBs opened #7080 "Reduce complexity in virt-chroot main.go main() function"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:

Issued in order to assign Issue [6310](https://github.com/kubevirt/kubevirt/issues/6310) to myself as a first contribution.

**What you expected to happen**:

Breaking down the code into smaller functions for better readability.

[2022-01-14 13:35] adamiBs commented on #7080
I would like to request to be assigned to this issue or the one mentioned in the description please.

Created this according to the [comment on the other issue](https://github.com/kubevirt/kubevirt/issues/6310#issuecomment-925061847)

[2022-01-14 13:38] zhhray commented on #7006
By the way, my configuration in Kubevirt's CR is already like this. However, the startup argument `-v` of all virt-xxx components still has a value of `2`. I killed all pods in kubevirt namespace.But it didn't work.
[code]
I looked through virt-handler's logs and didn't get any valuable error messages.

[2022-01-14 14:13] marceloamaral opened #7083 "Prometheus rest_client_requests_total metric is missing pod DELETE and CREATE events"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We identified this issue occurring in our performance test on the CI/CD system. The test deploys kubevirt, creates 100 VMIs, and cleans up the environment. Also, the test runs the [perfscale-audit tool](https://github.com/kubevirt/kubevirt/tree/main/tools/perfscale-audit) to collect some Prometheus metrics and dump the res

[2022-01-14 14:17] alicefr opened #7084 "Update the devices of an already started device plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
If you change the per pciHostDevices in KubeVirt CR of an already started device plugin, the plugin is not update with the current list without the need of restarting virt-handler

**What you expected to happen**:
Be able to modify the pciHostDevices in KubeVirt CR and see the update in the node description

**How

[2022-01-16 15:24] EdDev commented on #6668
@talcoh2x I think that the problem you are seeing originates from the fact that the guest-agent is not active in the guest (or there is a problem with communicating to it).

Currently, SR-IOV interfaces are reported only by the guest-agent.
But work is undergoing to resolve this. See #7050 for more information.

Try to confirm the guest-agent is active and let us know if it got resolved.

[2022-01-16 15:25] EdDev commented on #6668
/assign EdDev

[2022-01-16 16:37] EdDev commented on #6268
@silenceper , reading through this issue, it seems to me like the solution was provided in the form of could-init.
Is there anything else you are looking for or can we close this issue now?

[2022-01-16 16:46] EdDev commented on #6245
There has been no feedback from the author of this issue for some time now.
I suggest closing it.

If new information will pop up, the issue can be re-opened with the additional information.

/close

[2022-01-16 16:46] #6245 closed

[2022-01-16 20:11] mor120 commented on #7071
Hey, I can take this.
If It is okay, I would need a little bit of guidance.

It looks to me like when passing `--local-ssh=true`, `Run` function here - https://github.com/kubevirt/kubevirt/blob/314b515473a3720dce35f5477c6dbfdc7d544e5c/pkg/virtctl/ssh/ssh.go#L108 immediately calls https://github.com/kubevirt/kubevirt/blob/314b515473a3720dce35f5477c6dbfdc7d544e5c/pkg/virtctl/ssh/wrapped.go#L15 and r

[2022-01-17 02:14] #6268 closed

[2022-01-17 10:02] Jchicode commented on #7041
Hi!
I just found this when using kubevirt, I want to connect to the same vm with a friend, can I modify this part of the code to support this.
https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-handler/rest/console.go#L210-L255

[2022-01-17 12:08] sradco commented on #6545
Closing since this issue was fixed #6570

[2022-01-17 12:09] sradco commented on #6545
/close

[2022-01-17 12:09] #6545 closed

[2022-01-17 14:28] maiqueb commented on #5447
/remove-lifecycle stale

[2022-01-17 19:04] nicolacdnll commented on #6646
@chenlein This output I have reported should be enough, no? Have I missed something?

[2022-01-17 19:24] #3648 closed

[2022-01-18 12:36] dhiller commented on #5819
/close

Should be done for this repo.

[2022-01-18 12:36] #5819 closed

[2022-01-18 14:02] vladikr commented on #7012
@talcoh2x is this something that you've experienced as well?

[2022-01-18 14:18] nicolacdnll commented on #6620
Dear @rhrazdil, thanks for your input.

Here is the NAT table of the virt-launcher pod:
[code]

And here is the handler log:

Non-info levels:
[code]

All levels:
[code]

[2022-01-18 14:21] talcoh2x commented on #7012
@vladikr  yes. I need a solution for the same thing. A situation that we have a different PCI ID for the same Vendor.

[2022-01-18 15:37] iholder101 opened #7101 "Scaling virt-api to overcome Kubevirt scalability issues"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Recently there were attempts to run Kubevirt on very large clusters (~100 nodes). During these attempts it a large amount of VMs was created at once - approximately 500 VMs - roughly 5 VMs per node.

This caused the cluster to hang and VMs were created very very slowly (after 12 hours about 150 VMs weren't running

[2022-01-18 15:40] iholder-redhat commented on #7101
/cc @vladikr

[2022-01-19 02:55] docvirt commented on #6928
@rmohr  hi, The way to modify the source code is more complicated for me, and I expect kubevirt to have a good solution

[2022-01-19 07:10] qkfrksvl opened #7105 "Is there a method to config the target of live migration ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

As far as I know, there is no setting of target migration.
Sometimes we need to set specific target of migration due to rebalancing resource.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl ve

[2022-01-19 07:27] iholder-redhat commented on #7101
/cc @bbenshab

[2022-01-19 09:38] dhiller commented on #7041
If you want to work on this, feel free to go ahead. We are always looking out for additional hands on the project in several areas :)

Maybe you want to read the contribution guidelines and the getting started guides, starting from here: https://github.com/kubevirt/kubevirt/blob/4f0a9a8470d6ef2fec8e75e1d3a7adec25b2ca10/README.md#to-start-developing-kubevirt

Also, if you need any help, just contac

[2022-01-19 09:39] dhiller commented on #7041
/area virtctl

[2022-01-19 09:40] dhiller commented on #7041
/kind enhancement

[2022-01-19 09:42] dhiller commented on #7041
@Jchicode but still the question remains, what exactly do you want to achieve?

[2022-01-19 09:53] Jchicode commented on #7041
@dhiller I created a VM and want to share it with my friends. So want multiple vnc's to connect to it at the same time.
But only one VNC connection is supported per VM.

[2022-01-19 10:01] dhiller commented on #7041
I haven't looked very close, but from what I understand you would need to work on the virt-handler side to make this work. I see this as a starting point to have a look:

https://github.com/kubevirt/kubevirt/blob/356ddf402a446d81b1a8c9654149907f8449f995/pkg/virt-handler/rest/console.go#L135

I am guessing that you would need to add the handling of several connections there. But the task is way ove

[2022-01-19 10:01] dhiller commented on #7041
/area handler

[2022-01-19 10:10] Jchicode commented on #7041
Yes, I found it from VNCHandler.
I found there is an env setting, does this setting make a difference? https://github.com/kubevirt/kubevirt/blob/main/pkg/virtctl/vnc/vnc.go#L306

[2022-01-19 10:11] Jchicode commented on #7041
@dhiller Hi! I have one more question, can I copy local text, paste into the VM via vnc? How should I implement this part.

[2022-01-19 10:43] dhiller commented on #7041
The guide for developers new to the project starts here: https://github.com/kubevirt/kubevirt/#to-start-developing-kubevirt

After you walked through this, I think you should make yourself familiar with the architecture.

However, if you don't see yourself implementing this, you can still help improving this issue in explaining in more detail what exactly you want to be able to do. I.e. something

[2022-01-19 12:45] mokarage opened #7109 "Nvidia vGPU failed on Windows 10, driver error code 12: The device cannot find enough free resources that it can use."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am trying to create a windows 10 vm with the following config:
[code]
I am using latest nvidia kubevirt gpu device plugin (v1.1.0) and following kubevirt-cr.yml:
[code]
after starting vm and installing windows 10 & nvidia display drivers, in windows 10 vm device manager under Display adapters I get Code 12 for my `GRID M10-0Q` dev

[2022-01-19 16:30] vladikr commented on #7109
Hi,

Thanks for raising this issue.

Making this specific vGPU work properly on Windows 10 is largely depending on the compatibility of the NVIDIA grid driver on the host and the guest driver as well as NVIDIAs' licensing of using this device on Windows.

From what you are describing I don't see any specific issue with either with KubeVirt, nor with the device plugin, you are using. (especially if

[2022-01-19 18:06] EdDev commented on #6671
@newhuangchuan , I am pretty sure you need a driver from the vendor of the nic.
kubevirt is plugging the device through vfio to the guest, which is suppose to recognize it and bind it to the right driver. There may be restriction on the windows version you use to which devices it supports, I suggest you check this with its support team and possibly with the nic vendor.

If you already resolved thi

[2022-01-19 18:08] EdDev commented on #6671
BTW, you cannot use virtio drivers for the SR-IOV VF, these are not related.
Also, the model of the interface sec should have no affect AFAIK.

[2022-01-20 03:07] cszixin opened #7112 "how to exec qemu-guest-agent command on kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
i want to use qemu-guest-agent  exec some command, such as set-user-password,  how can i do it?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

KubeVirt version (use virtctl version): Client Version: version.Info{GitVersion:"v0.39.0", GitCommi

[2022-01-20 07:23] kobi86 commented on #7065
Hey @cszixin , I would first suggest to upgrade the versions of both ```virtctl``` and ```kubectl``` and see if it solves the problem,Its working for me on this versions:
[code]
AND
[code]

Please update us if the issue solved :)

[2022-01-20 08:54] rhrazdil commented on #7006
Hello @zhhray, thanks for the info.

I can confirm that the NAT table rules is correct, so nothing bad happened in the virt-handler.
So traffic entering the virt-launcher pod should be delivered to the VM, and traffic coming out of the VM should
have source address set to the IP of the pod.

@zhhray you mentioned:

I think the source IP address should be the IP address of the Virt-Launcher Pod.

W

[2022-01-20 09:16] mokarage commented on #7109
I must also add that I'm using the exact mdev type on ESXi and it's working.

[2022-01-20 14:10] EdDev commented on #6671
With the help from @ormergi , we confirmed that for Linux, drivers that serve VF/s are owned and provided by the vendor of the device. With the one we checked, the same VF driver is used in the host and guest.

Therefore, I conclude that the previous message was correct. You need to check with the SR_IOV device vendor and your OS vendor about the proper driver to use.

[2022-01-20 17:09] #7012 closed

[2022-01-21 02:17] #6731 closed

[2022-01-21 06:02] wonleing commented on #4640
That's a quite good idea, anyone implement code for this anywhere?

[2022-01-21 07:14] newhuangchuan opened #7122 "When VirtualMachineInstanceReplicaSet replica service connects through vnc, two vnc clients connect to one vmi replica"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Hello, about `VirtualMachineInstanceReplicaSet`, when I create vmirs, the number of replicas is 5. Then create a service. When connecting to serivce through vnc, five copies should be assigned to me by default. However, when I connect to one with vnc, and then connect through service later, the one he assigns to me will so

[2022-01-21 08:16] rmohr commented on #4640
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-01-21 08:17] rmohr commented on #4640
Not yet. But I agree, it is the one missing piece which would make them much more useful.

[2022-01-21 10:24] rmohr opened #7124 "[flaky test] [Serial][sig-compute]MediatedDevices with mediated devices configuration Should successfully passthrough a mediated device with a disabled display"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The test

[code]

fails pretty often. One exampl failure: https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7119/pull-kubevirt-e2e-kind-1.19-vgpu/1484261728718950400

More reports:

https://search.ci.kubevirt.io/?search=MediatedDevices+with+mediated+devices+configuration+Should+successfully

[2022-01-21 10:24] rmohr commented on #7124
@vladikr FYI

[2022-01-21 15:29] #5309 closed

[2022-01-21 23:19] EdDev commented on #7050
/reopen

[2022-01-21 23:20] EdDev commented on #7050
/assign @EdDev

[2022-01-23 07:05] mokarage commented on #7109
I managed to fix this by disabling `autoattachGraphicsDevice` and `virtualGPUOptions` after installing NVIDIA Display Drivers:
[code]

[2022-01-23 07:05] #7109 closed

[2022-01-23 07:30] #6197 closed

[2022-01-23 09:06] EdDev commented on #6668
@talcoh2x , we are closing this issue. You are welcome to re-open it when you have more info.

/close

[2022-01-23 09:06] #6668 closed

[2022-01-24 04:53] ajith29 commented on #2608
If someone like me is coming to find out how to make virtctl work on rancher in prem
This is how I got virtctl to work with rancher on prem
Using this link gave me an hint that we can pull the api-server kubeconfig and talk to it directly https://github.com/rancherlabs/support-tools/tree/master/how-to-retrieve-kubeconfig-from-custom-cluster
then ssh into the contral-plane node and performed the st

[2022-01-24 07:55] alicefr commented on #7124
In the [previous test](https://github.com/kubevirt/kubevirt/blob/main/tests/mdev_configuration_allocation_test.go#L136-L150) shouldn't we delete and wait the previous VM in order to release the resource and be available for the next test?

[2022-01-24 09:19] iholder-redhat commented on #7101
After discussing this in Kubevirt's community meeting, I have edit the issue adding options 1 (HPA option) and 2 (manual Kubevirt CR knobs as @davidvossel suggested) and pros and cons for both options.

[2022-01-24 12:05] rmohr commented on #7124
That is a good thought, however, we are deleting the previous VM in the general cleanup. What we don't do is waiting for it. But even then, the expectation is that the one GPU device should be "in use" until the VM is finally gone. Only then the scheduler should see that it is usable again, and only then a new VM should go there.

What i believe what we are seeing is that the VM gets scheduled bec

[2022-01-24 12:17] cloudnativer commented on #4564
There are also ways to fix the IP address in combination with `multus` :  https://github.com/cloudnativer/kube-ipam/blob/main/docs/Networksecuritylayering.md

[2022-01-24 12:17] cloudnativer commented on #4564
Here are ways to help `kubevirt` fix the IP address, and support a variety of CNI plug-in types: https://github.com/cloudnativer/kube-ipam

[2022-01-24 15:44] vladikr commented on #7124
oh...
@rmohr how many tests can execute on this node?

[2022-01-24 15:50] rthallisey commented on #7083
Summarized the problem and solution in https://github.com/kubevirt/kubevirt/pull/7075#issuecomment-1020242919

[2022-01-25 09:53] itmwiw commented on #5483
Hello,
Is this issue still relevant? I have the exact same behavior: ping does work from POD to POD but the POD to VMI or VMI to VMI communication via the multus interface is unsuccessful.
I've also tried to work around it using :
- IP link show net1
-  bridge fdb delete <mac address above > dev net1 master
But it seems NET_ADMIN capability has been removed from virt-launcher pod.
Can you help me

[2022-01-25 10:03] ezrasilvera commented on #7101
@itamarh I'm not sure the issue listed under Option 1 cons is indeed a problem. We can always monitor the number of virt-api instances, the CPU usage and the number of requests. We can then (even automatically) correlate between the number of requests (bursts) and the virt-api instances and cpu usage , and detect whether we created instances due to performance bug or due to legitimate burst of req

[2022-01-25 10:05] iholder-redhat commented on #7101
This makes a lot of sense IMO.
@davidvossel can you share you thoughts on this?

[2022-01-25 10:28] teo-tsou commented on #5483
What worked for me was to use bridge instead of macvlan.  I also had to disable ufw and I made sure that there's no query iptables for package routing and there's no additional processing for multicast packages:

[code]

[2022-01-25 10:45] sardella commented on #5483
I still have this problem , this goes back to
 https://github.com/kubevirt/kubevirt/pull/2192

[2022-01-25 12:37] rmohr commented on #7124
@vladikr we have set max_concurrency to 1, but that only applies for the same job, so if a release-branch job gets triggered, more than one can run. We can check if we can set a hard anti-affinity, but I am not sure if that is exposed on prow jobs.

[2022-01-25 18:05] vasiliy-ul opened #7138 "Legacy container image schema1 manifest breaks migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Some container images still use the legacy Docker `schema1` manifest. `containerd` does not resolve `repoDigest` for such images. As a result the `Image ID` field in the pod spec will not expose a unique pullable reference with the digest. Instead it will contain the internal ID of the image used by `containerd`. This br

[2022-01-25 18:12] vasiliy-ul commented on #7138
@rmohr FYI

Not sure if the 'legacy' stuff needs to be supported in KubeVirt. Though maybe it makes sense to have it documented somewhere.

Alternatively I think it may work if we add some `Image ID` parsing logic. It seems that when the digest is not resolved it contains just an ID `sha256:e800d84a0968abfc7be833b043038cd14c96c72907d65caa0f1340eb50705284` without the host part (`quay.io/...`). So

[2022-01-25 22:17] #6473 closed

[2022-01-26 10:39] guleng opened #7142 "libvirtd: error while loading shared libraries: libvirt.so.0: cannot stat shared object: Permission denied"
**What happened**:
virt-handler cannot start

log：libvirtd: error while loading shared libraries: libvirt.so.0: cannot stat shared object: Permission denied

**Environment**:
 k8s：1.21.9    node：ubuntu 16.04   kernel：4.4.0-210-generic
- KubeVirt version (use `virtctl version`): 0.49.0
- Install tools: yml

[2022-01-26 11:35] dhiller commented on #6684
This is still a thing: https://search.ci.kubevirt.io/?search=FAIL%3A+%2F%2Fpkg%2Fvirt-launcher%3Ago_default_test&maxAge=336h&context=1&type=build-log&name=&excludeName=&maxMatches=5&maxBytes=20971520&groupBy=job

IIUC 20% failure rate does not look good. According to the [quarantine docs](https://github.com/kubevirt/kubevirt/blob/9e359d8292e405a6845e9e03339a13e4a2420937/docs/quarantine.md#goal) it

[2022-01-26 15:17] rmohr commented on #7142
/triage needs-information

@guleng do you create your own virt-handler containers?

[2022-01-26 15:24] guleng commented on #7142
@rmohr Yes, there is an error when creating this virt handler and it cannot be started normally

[2022-01-26 15:28] rmohr commented on #7138
/triage accepted

maybe we should ask on kubevirt-dev to see if we need to support this.

[2022-01-26 15:29] rmohr commented on #7138
As @vasiliy-ul mentioned on the meeting, potentially we can just block migrations on such old images.

[2022-01-26 15:32] rmohr commented on #7122
@newhuangchuan can it be that your service is selecting all 5 VMs? In this case k8s will distribute all calls across all selected VMs. If you want one service for each VM you would have to match them based on unique labels. What exactly are you trying to achieve?

/triage needs-information

[2022-01-26 15:36] rmohr commented on #7112
@cszixin I don't think that we have a generic command (e.g. via `virtctl guest-agent-exec`), but @davidvossel implemented a feature to distribute ssh keys through the qemu-guest-agent which may be what you are looking for. @davidvossel will add a link.

/triage needs-information

[2022-01-26 15:38] davidvossel commented on #7112
here's the pr that allows for using the access credential api for setting a password. https://github.com/kubevirt/kubevirt/pull/4195

unfortunally i see the user guide is lacking in that area, but the feature does exist and is tested. You can see the e2e functional tests here https://github.com/kubevirt/kubevirt/blob/cf3d7126264e7f17a4bfbc281db729f78ae53654/tests/credentials_test.go#L285

[2022-01-26 15:39] rthallisey commented on #5732
/remove-lifecycle stale

[2022-01-26 15:39] rmohr commented on #7105
@qkfrksvl the migration target will be chosen based on VMI node selectors, affinities and so forth. This turned out to be sufficient in the past for most relevant use-cases. Could you share what you are trying to achieve? That would help us either working with you on a solution based on implemented flows, or would provide a use-case which may make us reconsidering our current possibilities.

/tria

[2022-01-26 15:40] rmohr commented on #7084
/assign @vladikr

I think you had thoughts on this already. Could you provide some context?

[2022-01-26 15:41] rmohr commented on #7083
/triage accepted

handled in sig-scale.

[2022-01-26 15:44] rmohr commented on #7078
@mhenriks can you have a look at this one?

Maybe specific to longhorn. @vasiliy-ul thinks that maybe setting some defaults in CDI can help if some defaults are not set on a storage provider.

/triage accepted

[2022-01-26 15:45] dhiller commented on #6684
Test failing in question is `pkg/virt-launcher/monitor_test.go`

@rmohr @davidvossel @jean-edouard I haven't been able to fix this. Would be willing to work on this, but would need some ideas where I can start. Can you help here?

[2022-01-26 15:45] rmohr commented on #7072
/triage accepted

Looks like the commandline is not picked up in the case of native ssh.

[2022-01-26 15:46] rmohr commented on #7071
Is this a duplicate of https://github.com/kubevirt/kubevirt/issues/7071 ?

[2022-01-26 15:48] brybacki commented on #7078
I suppose it is happening because of change introduced to virtclt: "virtctl imageupload now uses DataVolume.spec.storage"
https://github.com/kubevirt/kubevirt/pull/6367

I need to check if maybe some kind of handling the defaults was lost and if we can fix it.

[2022-01-26 15:48] rmohr commented on #7067
/triage accepted

#7103 may contain a fix already.

[2022-01-26 15:50] rmohr commented on #7066
/triage accepted

[2022-01-26 15:51] brybacki commented on #7078
Previously virtctl used `ReadWriteOnce` if accessMode was not specified. But now, as we want to use possibilities provided by StorageProfiles, it does not set accessMode.

If StorageProfile has it, we have much better PVC. If StorageProfile does not have accessMode we end up with the `  Warning  ErrClaimNotValid  24s (x16 over 3m8s)  datavolume-controller  DataVolume.storage spec is missing access

[2022-01-26 15:52] vasiliy-ul commented on #7078
I had a similar issue. fixed that using:
[code]

[2022-01-26 15:53] rmohr commented on #7065
/sig networking

[2022-01-26 15:54] rmohr commented on #7065
/sig network

[2022-01-26 15:59] brybacki commented on #7078
More info on StorageProfiles here: https://github.com/kubevirt/containerized-data-importer/blob/main/doc/storageprofile.md

The difference in behavior is described in options available, if one does
`virtctl image-upload --help` for old version says that `ReadWriteOnce` is default if not provided. New version does not say it.
...
Flags:
      --access-mode string       The access mode for the PVC.

[2022-01-26 17:51] vasiliy-ul commented on #7078
@brybacki ,

What about setting the default access mode to `ReadWriteOnce` in `StorageProfile` for the rest of the backends? If the `--access-mode` flag is not mandatory for `image-upload` command then IMHO it should work without it.

[2022-01-26 20:11] #6486 closed

[2022-01-27 02:16] guleng commented on #7142
Is this related to the system version?

[2022-01-27 07:33] 0xFelix commented on #7071
@rmohr Did you mean #7072? I would say it is not a duplicate, because in this case the ssh binary of the users machine is used. A `-i /path/to/privatekey` needs to be appended to the arguments passed to ssh.

[2022-01-27 08:37] rmohr commented on #7078
This seems to summarize the core of the issue pretty nicely. I am not sure if `ReadWriteOnce` is the best default mode, but setting a default sounds reasonable to me.

[2022-01-27 09:05] rmohr commented on #7142
@guleng it is really hard for me to undertand what you are doing without seeing how you are building the container, but  the container which is erroring probably needs `libvirt-libs` installed.

[2022-01-27 09:07] rmohr commented on #7124
@vladikr trying to set an anti-affinity on the prow job to itself would probably be the easiest option, but what I don't understand: I would expect that the device plugin on our CI node would allocate the device to the pod where we are running the e2e tests and that inside that pod we would do the reconfiguration. If we only have one card exposed, how can another job be scheduled there too when it

[2022-01-27 09:13] rmohr commented on #7072
@0xFelix I just see now that you use FC35, I think you are running into #6851. What is basically happening is, that you have the ssh agent running. `virtctl` is fetching all default keys from the agend and all fail to authenticate due to the crypto bug mentioned there. Even if you would specify the EC key on the commandline it would not necessarily ever be used because the ssh server responds with

[2022-01-27 11:46] vasiliy-ul commented on #7138
Schema1 seems deprecated https://docs.docker.com/registry/spec/deprecated-schema-v1/ so probably no need to support it. Though I was thinking if it would make sense to have a general fallback with tags if for some reason the reference provided in `Image ID` could not be resolved. There is an open discussion https://github.com/kubernetes/kubernetes/issues/46255 about these image references and seem

[2022-01-27 11:58] rmohr commented on #7138
Great link! Added our use-case there, just that more people are aware of it. I still wonder if we should  mark the VMI as non-migratable if we can reliably detect a v1 format. I would prefer to not use tags. It is inherently broken to migrate to a pod which has potentially a changed root disk layer.

[2022-01-27 14:03] EdDev commented on #6671
As stated earlier, the availability of specific windows drivers for VF/s is in the scope of the OS and NIC vendor.
Kubevirt is not providing such drivers (not even for Linux OS).

Unfortunately, I do not see how we can assist on this subject beyond what was shared so far.
Nevertheless, please share with the community if you do find a solution from another source, so others could benefit from it.

[2022-01-27 14:03] #6671 closed

[2022-01-27 17:00] #7083 closed

[2022-01-28 08:38] #6313 closed

[2022-01-31 07:24] EdDev commented on #5816
The previous answer from Jun 2021 is valid and seems to be the reason for this issue.
When an IPAM (with static IP) is set on the NAD, on migration another pod will be created (to which the VM will be migrated to) with the same IP. At that point, there will be two identical addresses on the network, which will surely cause problems like the one expressed in this issue.

If this is still relevant a

[2022-01-31 07:24] #5816 closed

[2022-01-31 07:38] EdDev commented on #5477
/sig network

[2022-01-31 07:48] EdDev commented on #5680
/sig network

[2022-01-31 08:03] EdDev commented on #6567
/sig network

[2022-01-31 08:03] EdDev commented on #6567
/kind bug

[2022-01-31 08:04] EdDev commented on #7006
/kind bug

[2022-01-31 08:43] maiqueb commented on #6538
/close

#6833 added the requested tests .

[2022-01-31 08:43] #6538 closed

[2022-01-31 12:08] 0xFelix commented on #7072
@rmohr I can confirm that authentication fails with `ssh: handshake failed: ssh: disconnect, reason 2: Too many authentication failures` when keys are loaded in my agent. But this was not my problem cause during my inital tests no keys were loaded. I think I must have missed the user or used the wrong key... it is working now.

[2022-01-31 12:08] #7072 closed

[2022-01-31 12:09] 0xFelix commented on #7072
#7071 still persists though.

[2022-01-31 12:10] rmohr commented on #7072
:+1:

And thanks for the updates.

[2022-01-31 12:22] aglitke commented on #7078
@vasiliy-ul We considered setting RWO as the default for unrecognized provisioners but decided not to.  The reason for this is the recommended settings in the StorageProfile are supposed to be a recommendation by the kubevirt project about how a particular storage is best used to run virtual machines.  It is not meant to be a failsafe default.  If you want that you can simply set RWO/Filesystem mo

[2022-01-31 12:27] rmohr commented on #7078
@aglitke I think that even if we don't want to set a default, we can at least improve on the user-facing side. I would for instance not understand easily what I have to do and why it succeeds on one cluster and not on another. All kinds of things could help, like right-away failing the command (it is kind of imperative), printing warnings, ...

[2022-01-31 12:34] brybacki commented on #7078
@rmohr yes, I agree that the command might be improved,

Adding default value directly to virtctl might break the use of StorageProfile defaults (if configured),
Failing with nice description, even with sample command is possible, So this is the preffered way to solve it.

[2022-01-31 13:30] #6229 closed, assigned to nobody

[2022-01-31 16:34] newhuangchuan commented on #7122
Hello, thank you very much for your reply, what I want to achieve is when I create a `vmirs` resource, what I want to see is when I load balance the resource pool through svc. It allows users to connect one-to-one through svc.
What exists now is that there will be two people pulling a virtual machine in a resource pool.

[2022-02-01 01:48] codesiddhant opened #7163 "Please add Cloud-hypervisor (Rust-Vmm) for light weight Virtual Machines"
**Description**
The new rest-vmm based virtual machine are extremely fast and secure with minimum overhead please add new [cloud-hypervisor](https://github.com/cloud-hypervisor/cloud-hypervisor) in kubevirt.io for adding light weight VMs with much faster Boot time

**Use case**
[cloud-hypervisor](https://github.com/cloud-hypervisor/cloud-hypervisor) is very similar to firecracker but with some add

[2022-02-01 14:37] knfoo commented on #6481
Will this be resolved by https://github.com/kubevirt/kubevirt/pull/7052 ?

[2022-02-02 12:10] maiqueb commented on #6733
/remove-lifecycle stale

[2022-02-02 12:49] rmohr opened #7170 "The dump logic around networking seems to have some issues"
/kind bug

**What happened**:

When a test fails, I often see the following errors when we are gathering debug artifacts:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specificatio

[2022-02-02 12:50] rmohr commented on #7170
/sig network

[2022-02-02 16:18] rmohr opened #7172 "kind testing lanes fail pretty frequently after the tests on the cluster shutdown"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `vgpu` and the `sriov` test lane are using kind and they fail frequently after the tests on the kind cluster-destruction:

[code]

Example job: https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7169/pull-kubevirt-e2e-kind-1.22-sriov/1488875123187388416

**What you expected to happen**:

[2022-02-02 16:19] rmohr commented on #7172
/sig virtualization
/sig network

[2022-02-03 10:35] marko-k0 commented on #6620
I experience the same issue and it seems it always happen on restart of a VM when VM gets another IP address. I can not ping the new IP. Within VM over consoe, I see the following:
[code]
Would further logs be helpful?

[2022-02-03 11:20] iholder-redhat commented on #7101
Good question. @bbenshab do you have any information on this? or any ideas on how we can get this info?

Wish we get there soon :crossed_fingers:

[2022-02-03 11:27] bbenshab commented on #7101
Marcelo is working on a report that should answer those questions , but without the multiplication per API you would get when using a PVCs & workload.

[2022-02-03 12:04] maiqueb commented on #6620
This is a good lead, thanks for sharing; would you elaborate a bit on "when VM gets another IP address" ?

What exactly do you do to trigger this scenario ? It would be amazing if you could provide the reproducer @marko-k0.

[2022-02-03 12:35] marko-k0 commented on #6620
If I do `virtctl restart test`, wait until instance reboots, run `kubectl get vmi`, I see different IP for the instance in the output. I have this behavior on every restart it seems.

Let me know what further info, config and logs would be helpful here.

[2022-02-03 12:52] maiqueb commented on #6620
The gist of it is this involves a new launcher pod: kubevirt schedules a new pod, and the vm is moved there. This new pod, gets a new IP. And in this binding mode, you access the VMs using directly the IP of the pod.

I think we now need to understand how the restarted VM fails to get an IP ... AFAIU, it should re-run cloud-init which should configure dhcp on the interface.

@rhrazdil it seems we

[2022-02-03 12:59] rmohr commented on #6620
cloud-init is typically not re-executed when the root filesystem is persisted.

[2022-02-03 13:03] rmohr commented on #6620
If you configure the device to use dhcp, you can also ensure that cloud-init deletes after the dhcp setup the mac address reference in the network setup files. Otherwise a mac address change leads to the situation that network-manager thinks that eth0 is a different device and that it has no config for it.

[2022-02-03 13:42] #5175 closed

[2022-02-03 15:24] ezrasilvera commented on #7101
@itamarh I think the main point here is that we need additional exploration and analysis of the exact issue and root-cause before going to specific solution.
While horizontal scaling will probably address the issue, we may find simpler solutions for the specific bottleneck we currently see in virt-api

[2022-02-03 15:51] rthallisey opened #7177 "[SIG-scale] The number of GET node requests is high"
/kind bug

The [scale-perf periodic jobs](https://testgrid.k8s.io/kubevirt-periodics#periodic-kubevirt-e2e-k8s-1.21-sig-performance&width=20) show a high amount of GET requests to nodes: [example1](https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.21-sig-performance/1488296138510438400), [example2](https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kub

[2022-02-04 19:14] #6684 closed

[2022-02-05 15:43] #6264 closed

[2022-02-05 15:43] #6305 closed

[2022-02-05 15:43] #6371 closed

[2022-02-06 02:43] #6244 closed

[2022-02-06 12:22] AlonaKaplan opened #7184 "ipv6, ra: reply to RouterSolicitations w/ RouterAdvertisements"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
VMs with masquerade binding has to configure ipv6 manually or via cloud-init.

**What you expected to happen**:
dhcpv6 + RA should configure the ipv6 on the vm in a similar manner done with ipv4.

**How to reproduce it (as minimally and precisely as possible)**:
Run a masquerade vm on a singe stack ipv6 cluster or

[2022-02-06 12:25] AlonaKaplan commented on #7184
/sig network

[2022-02-07 08:19] rmohr commented on #6712
/remove-lifecycle stale

[2022-02-07 13:24] marceloamaral commented on #7101
I agree with @zcahana and @ezrasilvera that we first need to understand the performance of a single `virt-api` before scaling it to many replicas and possibly hiding bugs.

The virt-api performance is given by many components, especially the Rest Client Rate Limiter configuration and the number of threads.

I did an experiment testing it, increasing the Rest Rate Limiter QPS of virt-api from 5 to

[2022-02-08 08:36] majorinche opened #7193 "pod failed after restart physical server"
hi support,
   our vm running well for almost 3 months, and in the last holiday, we need shutdown all the physical servers. now we need to start these servers.

[root@d0404 cdh]# kubectl get pod -n vm-cdh
NAME                                   READY   STATUS    RESTARTS   AGE
virt-launcher-cdh11-centos76-nbdhr     0/2     Error     0          90d
virt-launcher-cdh12-centos76-mkd2d     0/2     Erro

[2022-02-08 11:43] orelmisan opened #7196 "Cannot import kubevirt.io/client-go to a new project"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I've created a new go project and tried to import `kubevirt.io/client-go`:
[code]

The command fails with the following error:
[code]

**What you expected to happen**:
I expected to be able to import the library.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Env

[2022-02-08 11:45] xpivarc commented on #7196
`I've created a new go` seems misleading as go outputs it is update.

[2022-02-08 19:04] EdDev commented on #6351
/remove-lifecycle stale

[2022-02-08 19:06] sardella commented on #6351
we found it to be the seabios 1.4 rpm in the virt-launcher container
seabios 1.2 and 1.3 did not have this problem

[2022-02-09 02:49] wonleing opened #7202 "[Feature Request]How to use VGPU in VirtualMachineInstanceReplicaSet"
I want to assign different VGPU to each VMI Replicas. So we can make sure each VMI Replicas has strong graphic process ability.
Can we do that with some similar yaml like following?
[code]

[2022-02-09 09:32] brybacki opened #7203 "[flaky] unit test ImageUpload is not safe for parallel run"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

ImageUpload unit test failed on file:
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/7191/pull-kubevirt-unit-test/1491317236600672256

File `archiveFilePath` is created and removed, with the same name for a group of tests.

**What you expected to happen**:

**How to reproduce it (as minimally and p

[2022-02-09 17:35] xpivarc commented on #6991
How the plan for testing looks like? Would it be possible to test this with non-root? Thanks, @vasiliy-ul !

[2022-02-09 18:31] vasiliy-ul commented on #6991
HI @xpivarc . The actual test cases are provided with the implementation PR (well, only one test case so far...). Though for testing the feature there are a couple of prerequisites that are still missing: 1) we need to have a guest VM with recent kernel and UEFI boot support. The relevant PRs (switch to Fedora 35) are under discussion at the moment; 2) the feature requires specific hardware to run

[2022-02-09 18:34] xpivarc commented on #6991
As far as I know, we are missing the hw in our clusters.

Thanks for the response. It is also our assumption but we want to be sure :) I would appreciate it if you give it a try.
/cc @vladikr

[2022-02-09 20:56] jayasai470 opened #7208 "virtctl vnc not working on gpu enabled windows vms"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
virtctl vnc displays blank screen on gpu windows vms
**What you expected to happen**:
use virtctl vnc to stream gpu enabled desktops
**How to reproduce it (as minimally and precisely as possible)**:
try to run virtctl vnc on gpu enabled vm

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl versio

[2022-02-09 20:57] jayasai470 commented on #7208
@victortoso FYI

[2022-02-09 23:30] rthallisey commented on #6412
/remove-lifecycle rotten

[2022-02-10 05:53] #7196 closed

[2022-02-10 09:20] bbenshab commented on #7101
As previously discussed there are 2 paths that need to be taken on this road map:
1. there is always room for improvement that can be achieved via tweaking and it's up to us to find the best setting for optimal performance.
2. that being said no matter how much tweaking we do - it can only take us so far with a single API pod on a full-scale setup and for that reason, auto-scaling is a must.

both

[2022-02-10 10:44] #4267 closed

[2022-02-10 12:44] dankenigsberg opened #7212 "tests: functests should not refer to xml"
/kind bug

For KubeVirt users, xml is an implementation detail. IMHO we should have a very good reason to mention it in a functional test, and I feel that too many functests use `util.GetRunningVMIDomainSpec`.
[code]
This issue is filed per [suggestion of @xpivarc](https://github.com/kubevirt/kubevirt/pull/7183#discussion_r803605651) to track review/elimination of these usages.

[2022-02-10 14:20] victortoso commented on #7208
Hi @jayasai470, thanks for the bug.

So, just to be clear upfront, as far as I know, there is no way for the vnc server that runs in the host to display the contents of the gpu provided to the guest. There are projects that do that but they usually run on the guest too. QEMU's vnc server does not have that feature.

The fact that you see a blank screen is a bit puzzling. I think that the Guest is

[2022-02-10 15:07] xpivarc opened #7214 "Too verbose logging in func checkVolumesForMigration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

Logs are pretty chaty:
[code]

The source is this line
`log.Log.Object(vmi).Infof("migration is block migration because of %s volume", volume.Name)`

**What happened**:

**What you expected to happen**:

I expect to print this only the first time or on change(hotplug and so on).

**How to reproduce it (as minimally and precisely as p

[2022-02-10 15:09] knfoo commented on #6732
Is the current target date still April 22 ?
We are planing to deploy clusters in IPv6 single-stack by that time and we are using KubeVirt so it would be super great.

[2022-02-10 15:10] xpivarc opened #7215 "Not meaningful log about disk capacity"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:

[code]

**What you expected to happen**:

I would expect to at least know which disk is full and why do we care.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl

[2022-02-10 16:24] jayasai470 commented on #7208
Hi @victortoso yes I can view the desktop using RDP

[2022-02-10 17:47] xpivarc opened #7216 "Enrich our matchers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:

On failure we can see:

[code]

**What you expected to happen**:

On failure I can identify what **kind** of the object and what was the **name** of the object.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl

[2022-02-11 15:33] phoracek opened #7220 "NetworkPolicy conformance test uses ICMP which is not part of the standard"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Our NetworkPolicy test uses ICMP ping to confirm connectivity (or lack of it). However, ICMP support is not widely adopted in network CNIs which are focused on L4 protocols listed in [Kubernetes API reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#networkpolicyport-v1-networking-k8s-io). Th

[2022-02-12 15:46] #6397 closed

[2022-02-13 02:46] #3743 closed

[2022-02-14 09:07] sradco commented on #6590
@enp0s3 This should still stay open right?

[2022-02-14 09:46] enp0s3 commented on #6590
@sradco Hi, yes.

[2022-02-14 09:46] enp0s3 commented on #6590
/remove-lifecycle rotten

[2022-02-14 14:42] rmohr commented on #6590
if we know that this does not solve itself, let's add

/lifecycle frozen

[2022-02-14 17:40] #7050 closed

[2022-02-16 11:44] wavezhang opened #7238 "cannot migrate VMI which does not use masquerade to connect to the pod network"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
cannot migrate VMI which does not use masquerade to connect to the pod network
**What you expected to happen**:
can migrate VMI that use bridge to connect to the pod network
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Don't allow live migration with a brid

[2022-02-16 14:37] simonflood commented on #3558
https://youtu.be/RWhaC8LKP70

Description at https://2021.allthingsopen.org/sessions/running-vms-on-raspberry-pi-using-kubevirt/

[2022-02-16 17:11] lyarwood opened #7240 "Attaching a sysprep disk containing a single `unattend.xml` file results in a failure to start the vmi"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Attaching a sysprep disk containing a single `unattend.xml` file results in a failure to start the vmi:

[code]

**What you expected to happen**:

Both `autounattend.xml` and `unattend.xml` should be allowed on their own within the sysprep disk.

**How to reproduce it (as minimally and precisely as possible)**:

As above.

[2022-02-16 19:49] salanki commented on #7101
For reference, we run a 3,000 node cluster with 1,500 active VMIs. We run two virt-api instances:
[code]

[2022-02-17 01:57] timchenxiaoyu opened #7244 "virtctl console connection timeout"
**What happened**:

apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: testvm
spec:
  running: false
  template:
    metadata:
      labels:
        kubevirt.io/size: small
        kubevirt.io/domain: testvm
    spec:
      domain:
        devices:
          disks:
            - name: containerdisk
              disk:
                bus: virtio
            - name: cloudinitdisk

[2022-02-17 03:32] #6712 closed

[2022-02-17 08:06] luckyuuuu opened #7245 "guest has not initialized the display (yet)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**What happened**:
with no vGPU I can run the win10 vm

our gpu does not support disply=on,ramfb=on
so config as follow：

        devices:
          gpus:
          - deviceName: xxx.com/qs50
            name: gpu
          virtualGPUOptions:
              display:
                enabled: false

run win 10 vm

virtctl vnc win10vm

then I

[2022-02-20 02:52] timchenxiaoyu commented on #7244
into lancher container:

error: internal error: character device console0 is not using a PTY

[2022-02-20 06:37] tyleraharrison opened #7254 "[Feature Request] Ability to specify listening IP address for the virtctl VNC proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**: virtctl VNC proxy only allows for 127.0.0.1 connections

**What you expected to happen**: Ability to specify in the command line flags which address to listen for connections

**How to reproduce it (as minimally and precisely as possible)**:
`virtctl vnc [vm] --proxy-only`
Would like to be able to do the following

[2022-02-20 06:40] tyleraharrison commented on #7254
It looks like when the `proxy-only` feature was added, the code that could have addressed this issue would have been added in the following pull: https://github.com/kubevirt/kubevirt/pull/3289
One of the comments actually asks the question if there should be the ability to do `0.0.0.0` as well but it was never answered:

In the case of proxy-only, wouldn't it make sense to listen on 0.0.0.0 instea

[2022-02-21 02:30] #6632 closed

[2022-02-21 02:55] qpzmtyv opened #7256 "make generate Error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:  I add a list type item to  VirtualMachineStatus in staging/src/kubevirt.io/client-go/api/v1/types.go, and run make generate , it report error:
You introduced new API rule violation
174d173
< API rule violation: list_type_missing,kubevirt.io/client-go/api/v1,VirtualMachineNetworkInterface,Ips
177d175
< API rule violation:

[2022-02-21 07:28] xpivarc commented on #6991
@vasiliy-ul Thank you!

[2022-02-21 11:58] guleng opened #7257 "Use of multi GPU card"
version:
    k8s:v1.22.6
    docker:1.19.3
    node:Ubuntu 18.04
    kubevirt: 0.50
    kubevirt-gpu-device-plugin: 1.0.0

question：
I deployed kubevirt in k8s, and each node has eight NVIDIA GPU cards. I use "kubevirt GPU device plugin" to use GPU for virtual machines. I want four cards for virtual machines and four cards for other business non virtual machine k8s pods. However, if "kubevirt GPU

[2022-02-21 19:46] xpivarc opened #7260 "Add test for virtiofs and migration."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
As far I know we don't have a functional test for VM with virtiofs that would show what is our expectation on migration.

**What you expected to happen**:
I would like to see a test for this case.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment*

[2022-02-22 11:28] iholder-redhat commented on #7101
+1, I agree 100%.

Following this approach - I think we should, as a first step, use HPA in an un-optimized way like simply referring to CPU usage. Then, we can explore virt-api's performance, optimize it, then optimize the HPA to scale in a smarter way.

[2022-02-22 11:40] tiraboschi commented on #5447
bug https://bugzilla.redhat.com/show_bug.cgi?id=2008521 is now fixed and we are finally able to start kubevirt VMs also in openshift CI using GCP.
See https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1789/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-kv-smoke-gcp/1496023014616076288 for an example

So now we can close this

[2022-02-22 11:44] erkanerol commented on #5447
I AM REALLY GLAD TO SEE THIS! CONGRATS!

[2022-02-22 12:08] marceloamaral commented on #7101
How will the CPU threshold be defined to scale the replicas?
What was the max CPU usage that you have experienced in the virt-api under high load?
Currently, the virt-api has no CPU limit (only a small requests), so in theory it can use up to all CPUs available on the host.

[2022-02-22 12:45] iholder-redhat commented on #7101
I think we should think of a value that indicates of a scaling problem with a high probability, but that does not have to be accurate. Maybe @bbenshab can help with determining the value.

As @bbenshab said, I think that as a first step we must be able to reach a point where we can scale

[2022-02-23 06:52] #6417 closed

[2022-02-23 07:45] iholder-redhat commented on #7101
Appreciate if you can give us your thoughts regarding this @davidvossel

[2022-02-23 14:38] sradco commented on #6412
/lifecycle frozen

[2022-02-23 15:39] dhiller commented on #7257
@vladikr could you take a look here? Thank you!

[2022-02-23 15:40] dhiller commented on #7257
/triage accepted

[2022-02-23 15:41] dhiller commented on #7256
as @rmohr suggested, you just have to add the type of the list [1]. For instance `+listType=atomic`.

[1] https://github.com/kubernetes/kube-openapi/blob/master/pkg/idl/doc.go#L21

[2022-02-23 15:44] dhiller commented on #7245
@vladikr could you take a look here, please? Thank you!

[2022-02-23 15:47] dhiller commented on #7244
/triage needs-information

[2022-02-23 15:47] dhiller commented on #7244
@rmohr to follow up here

[2022-02-23 15:48] rmohr commented on #7244
Can you check if your VM is runnig with `kubectl get vmis --all-namespaces`?

The message

[code]

sounds to me like `virtctl` can't reach the node where the VM is running. So you may also want to check the apiserver logs to see if everything is fine.

[2022-02-23 15:52] crobinso commented on #6857
I have some questions, coming from the Fedora bug.

Is this a regression? Did these qemu-guest-agent commands work on previous versions of Fedora?
Do these qemu-guest-agent commands work on other linux distros?

In that list of commands above, I don't see anything network related, so I'm a bit confused by the IP address component here. qemu-guest-agent has some guest-network-* commands for looking

[2022-02-23 15:53] dhiller commented on #7238
This is by design. VMs can't take their IPs with them because it's delivered by CNI. As a consequence VMs would loose connectivity after the migration, so we are blocking the migration.

So we are not planning to implement this currently.

/close

[2022-02-23 17:06] crobinso commented on #6857
I'm seeing the same selinux denials with F34 cloud image too.

With root in the VM starting from stock cloud image with root password changed with `virt-customize`
[code]

From the host
[code]

VM journalctl
[code]

Also, with RHEL/CentOS qemu-guest-agent packages, guest-exec and guest-open-file are explicitly blacklisted and have been for a long while, see [/etc/sysconfig/qemu-ga from centos 8 st

[2022-02-24 01:50] timchenxiaoyu commented on #7244
# kubectl get vmis --all-namespaces
NAMESPACE   NAME     AGE     PHASE     IP           NODENAME   READY
default     testvm   6d23h   Running   10.11.0.14   weixian    True

[2022-02-24 01:52] timchenxiaoyu commented on #7244
kubectl get pods -owide
NAME                         READY   STATUS    RESTARTS   AGE     IP           NODE      NOMINATED NODE   READINESS GATES
virt-launcher-testvm-2rx64   2/2     Running   0          6d23h   10.11.0.14   weixian   <none>           1/1

[2022-02-24 02:46] yuchen-sun commented on #6824
/remove-lifecycle stale

[2022-02-24 05:18] zhuchenwang opened #7272 "Relocate the functions in staging/src/kubevirt.io/client-go/api/utils.go"
This is a request for internal cleanup.

The  `staging/src/kubevirt.io/client-go/api/utils.go` only contains 2 util functions used for test only.

Our code base depends on the `kubevirt.io/kubevirt/tests` package. Also, we have a higher `kube-openapi` version. Now the `kube-openapi` version conflicts with the version that is used in Kubevirt. This is because the https://github.com/kubevirt/kubevir

[2022-02-24 10:09] maiqueb commented on #6410
/remove-lifecycle stale

[2022-02-24 11:49] AlonaKaplan opened #7276 "[sig-network] Support port forwarding over IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Port forwarding to a VM over ipv6 is not working.

**What you expected to happen**:
It should work.

**How to reproduce it (as minimally and precisely as possible)**:
1. Run a masquerade fedora vm.
2. Run an http server on the vm `nc -s fd10:0:2::2 -klp 1700 -c 'echo -e "HTTP/1.1 200 OK\nContent-Length: 12\n\nHell

[2022-02-24 11:49] AlonaKaplan commented on #7276
/label sig-network

[2022-02-24 11:50] AlonaKaplan commented on #7276
/sig network

[2022-02-25 01:46] zhlhahaha commented on #5976
/reopen

[2022-02-25 02:10] marceloamaral opened #7278 "[sig-scale] performance functional test is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Recently,  an optional performance presubmit prow job was added in the project-infra. The job was already running for a while and stable.

However, the job that should be optional is automatically triggering for non-performance related PRs...for example the PR #6180.
In addition, regarding this test, for some reason it is

[2022-02-25 08:58] eshenayo commented on #2904
I had this same question. Yes, KubeVirt can run on a Kubernetes cluster that has containerd as the runtime:

![2-node-cluster-containerd-runtime](https://user-images.githubusercontent.com/8902109/155684631-0de9274c-adfd-4ff4-b519-4aae6a11ece7.png)

Installed KubeVirt, services running:

![kubevirt-svcs](https://user-images.githubusercontent.com/8902109/155684962-1a38ea58-87d0-4a00-b385-8763882fe37

[2022-02-25 09:24] dhiller commented on #7278
@marceloamaral `optional: true` doesn't mean that the job is never triggered, it means that the job is not barring the merging via tide.

I guess what you want then is either
* `always_run: false` , this would make the job only be triggered by a comment of `/test pull-kubevirt-e2e-k8s-1.21-sig-performance` or
* `run_if_changed: <your-go-path-regex>`, this would trigger when relevant changes for pe

[2022-02-25 09:30] dhiller commented on #7238
Please see the use-guide here: https://kubevirt.io/user-guide/operations/live_migration/#limitations

/triage unresolved

[2022-02-25 10:03] luckyuuuu commented on #7245
kubectl logs virt-launcher-win10vm6-bdnjp -c compute

{"component":"virt-launcher","level":"warning","msg":"PCI_RESOURCE_******** not set for resource mthreads.com/S30","pos":"addresspool.go:50","timestamp":"2022-02-25T09:53:20.366455Z"}
{"component":"virt-launcher","level":"info","msg":"host-device created: 56a4c4e2-c81f-4cba-82bf-af46c30ea32d","pos":"hostdev.go:85","timestamp":"2022-02-25T09:53:

[2022-02-25 10:44] rmohr commented on #6851
/remove-lifecycle stale

still waiting for the crypto fix. We could use my workaround in #6854 , but since only two or three complaints came in so far, I want to wait for the official fix.

[2022-02-25 13:19] sergeimonakhov opened #7279 "VM does not start if you use more 128Gi ram and 1/2/3/N GPU"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

VM does not start if you use more 128Gi RAM and 1/2/3/N GPU. Everything works correctly on 128Gi.

**What you expected to happen**:

VM works correctly with GPU and RAM larger than 128Gi*

**How to reproduce it (as minimally and precisely as possible)**:
Create VM with 1 GPU and 129Gi ram or 2/3/4 GPU and 128Gi ram.

**A

[2022-02-25 18:16] cloudcafetech opened #7281 "Can't connect to websocket (504): websocket: bad handshake"
Setup 2 node K8S (1.20) cluster using RKE2 on AWS EC2 (Master: t2.medium Node: c5.metals)

[Installations steps](https://github.com/cloudcafetech/nestedk8s/blob/main/README.md)

(remove steps **kubectl -n kubevirt patch kubevirt kubevirt --type=merge --patch '{"spec":{"configuration":{"developerConfiguration":{"useEmulation":true}}}}'**)

Tested in Katakoda, working fine. But running on AWS bareme

[2022-02-27 11:59] cloudcafetech opened #7284 "POD & VM IP change after cluster restart"
Setup 2 node K8S (1.20) cluster using RKE2 on AWS EC2 (Master: t2.medium Node: c5.metals)

[Installations steps](https://github.com/cloudcafetech/nestedk8s/blob/main/README.md)

(remove steps kubectl -n kubevirt patch kubevirt kubevirt --type=merge --patch '{"spec":{"configuration":{"developerConfiguration":{"useEmulation":true}}}}')

After cluster reboot POD & VM IP got change, **looking for fixe

[2022-02-27 23:53] #6493 closed

[2022-02-28 10:55] lixiaobing1 opened #7286 "where to download kubevirt image v0.55.0?"
Where to download kubevirt image v0.55.0?
There is no this version in hub.docker.com.
Thx :)

[2022-02-28 10:55] lixiaobing1 commented on #7286
Thx again :)

[2022-02-28 11:01] xpivarc commented on #7286
Hi,
The latest release can be found here https://github.com/kubevirt/kubevirt/releases/tag/v0.50.0
We push the images to https://quay.io/kubevirt/ as stated on the release.

[2022-02-28 11:49] luckyuuuu commented on #7245
in the host I tested

sudo ./qemu-kvm -name guest=default_win10vm5,debug-threads=on -machine pc-q35-6.0,accel=kvm,usb=off,dump-guest-core=off,memory-backend=pc.ram -cpu Icelake-Server,ss=on,vmx=on,hypervisor=on,tsc-adjust=on,avx512ifma=on,sha-ni=on,rdpid=on,md-clear=on,stibp=on,arch-capabilities=on,xsaves=on,ibpb=on,ibrs=on,amd-stibp=on,amd-ssbd=on,rdctl-no=on,ibrs-all=on,skip-l1dfl-vmentry=on,mds

[2022-02-28 11:55] lixiaobing1 commented on #7286
ok, thx :)

[2022-02-28 11:57] xpivarc commented on #7286
/close
@lixiaobing1 feel free to reopen if you find the need

[2022-02-28 11:57] #7286 closed

[2022-02-28 14:24] jean-edouard commented on #7245
@luckyuuuu hi, could you please post the `permittedHostDevices` section from your kubevirt CR? Thanks

[2022-02-28 15:16] vladikr commented on #7245
@luckyuuuu is this device that you are adding is a virtual GPU, such as a mediated device, or is it a PCI device?
What is the vendor of this device?

Looking at the qemu command line, you are adding a PCI device not MDEV - therefore, this is *not* a virtual GPU. Hence, the `virtualGPU` display will not be enabled for PCI devices and you shouldn't set anything in this API field.

[2022-02-28 18:14] zhuchenwang commented on #7272
Hi there,

Are there any thoughts regarding to the proposal?

[2022-02-28 20:55] xpivarc commented on #7272
Hi, I think it makes sense. Feel free to open PR.

[2022-02-28 22:40] zhuchenwang commented on #7272
I just take a deep look at the code. The test functions are also used in `kubevirt/pkg/..`. Simply move them to the `kubevirt/tests/utils.go` will cause circular dependencies.

However, I still want to decouple it from the openapi generated code. I think it would be better to move the [staging/src/kubevirt.io/client-go/api/utils.go](https://github.com/kubevirt/kubevirt/blob/main/staging/src/kubevi

[2022-03-01 02:41] luckyuuuu commented on #7245
@jean-edouard @vladikr
our company focus on GPU research and development, like intel & NVIDIA，our Product coming soon，so i am sorry i can not tell you the vendor now.
I reference this to create vGPU and deploy kubevirt to KS8  https://kubevirt.io/2021/intel-vgpu-kubevirt.html#validate-vgpu-detection

create vGPU
`ExecStart=/bin/sh -c "echo '56a4c4e2-c81f-4cba-82bf-af46c30ea32d' > /sys/devices/pci0

[2022-03-01 07:35] lixiaobing1 opened #7291 "could anyone tell me where to download 0.33.0 code, thx:)"
could anyone tell me where to download 0.33.0 code?
only 0.34.0 code in github.
thx very much :)

[2022-03-01 07:38] lixiaobing1 commented on #7291
thx very much :)

[2022-03-01 09:10] tjjh89017 opened #7295 "Expect shutdown VM with RerunOnFailure and start it, should keep same runStrategy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Create a VM with `runStrategy: RerunOnFailure`
stop it and start it via kubevurt rest api.
It becomes `runStrateget: Always`

Users will expect stopped VM is acceptable with `runStrategy: RerunOnFailure` and keep the specs even start/restart it.
but API will change the spec to `Halted` and start/restart VM will change it

[2022-03-01 13:01] wavezhang commented on #7238
Since some cni support this situation，is this possible to allow bridge migration by configuration？

[2022-03-01 13:59] xpivarc commented on #7238
/open
As this now seems to be feature request

[2022-03-02 02:28] npu21 opened #7297 "Need to support hybird kubevirt vms in a cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In a cluster with both arm64 and amd64 nodes, currently,when virt-operator NewHandlerDaemonSet,there's some logic regarding this
![image](https://user-images.githubusercontent.com/11768607/156282352-435a2003-0101-4bb3-9cd5-33020de68f67.png)
so the virt-handler on arm64 nodes crashloopbackoff because of the InitContainers
![`W5NKI 7)

[2022-03-02 09:50] uril commented on #7291
Do you mean this: https://github.com/kubevirt/kubevirt/releases/tag/v0.33.0 ?

[2022-03-02 09:59] phoracek opened #7299 "Confromance migration test fail when emulation is used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Due to https://github.com/kubevirt/kubevirt/issues/6885, network conformance tests fail on environments using emulation.

**What you expected to happen**:

Our network conformance test should work well on emulated cluster, so CNI vendors can run KubeVirt tests in their automation without access to nested virtualization.

[2022-03-02 14:03] phoracek commented on #6885
I certainly am not a good user - I haven't.

[2022-03-02 15:31] dhiller commented on #7297
/triage accepted

[2022-03-02 15:36] dhiller commented on #7291
You can either use the [release-0.33](https://github.com/kubevirt/kubevirt/tree/release-0.33) branch or the v0.33.0 tag

[2022-03-02 15:41] dhiller commented on #7281
I am assuming that you did get a cluster running because you created another issue? Is that correct or does this problem still exist?

[2022-03-02 15:48] D1abloRUS commented on #7279
Without gpu no problem any memory size

[2022-03-02 15:49] cloudcafetech commented on #7281
Thanks for reply.

That issue got resolved facing new issue.

After VM restart, VM got new IP same as pod but when I enter using console network interface IP missing.

VM Ubuntu cloud image using CDI. Clusters flannel NW with multus.

[2022-03-02 16:08] dhiller commented on #7279
@vladikr do you have an idea how memory size could be related to gpu?

[2022-03-02 16:08] maiqueb commented on #7284
From your VM spec above I understand it'll use the default cluster network - and KubeVirt does not configure that in any way: it just uses whatever is configured on the cluster. And also, sticky IPs is against the dynamic nature of Kubernetes' IP layer.

You first need to understand which is the default cluster CNI, then understand if that CNI's IPAM provides sticky IP addresses. I honestly **do n

[2022-03-02 16:10] dhiller commented on #7281
OK, so then I am closing this one. Let's follow up on #7284 then.

/close

[2022-03-02 16:10] #7281 closed

[2022-03-02 16:10] dhiller commented on #7284
Please see https://github.com/kubevirt/kubevirt/issues/7281#issuecomment-1057079844 related to this one.

[2022-03-02 16:11] dhiller commented on #7291
Closing this issue, as it should be resolved by the comments. If not, feel free to reopen for further questions.

/close

[2022-03-02 16:11] #7291 closed

[2022-03-02 16:15] dhiller commented on #7297
@zhlhahaha so I am assuming that you are already looking at this with #3558. As discussed in the community meeting we don't see an easy way to test this somehow. What do you think we should do with this one? Would there be a way to write a unit test at least?

[2022-03-02 16:19] cloudcafetech commented on #7284
use multus

[code]

- VM yaml

[code]

Is thing apart from, I have to do?

[2022-03-02 16:34] maiqueb commented on #7284
This should work - for KubeVirt interfaces of `Bridge` type - which are the ones you mention on your snippet. The limitation being that you'd need to "burn" one net-attach-def for *each* VM - since you need to specify the IP address there. In your example, I'd say it makes sense - since you're naming your network `k3s-master-eth2`.

We could evaluate exposing a field that would mutate the pod's an

[2022-03-02 16:50] cloudcafetech commented on #7284
With my above configuration ...

When first time I am starting VM, I can see two interface inside VM .. one interface is bind with same POD IP another **No IP**

But After VM restart, VM got new IP same as pod but when I enter using console **ALL network interface IP missing**.

FYI, VM prepare with Ubuntu cloud image using CDI.

[2022-03-02 16:54] maiqueb commented on #7284
We need the running VMI's (`kubectl get vmi <vmi-name>`), and well as as the associated pod (`kubectl get pod <associated pod name>`).

The multus logs will also be relevant - make sure they're at [debug level, and output to a file](https://github.com/k8snetworkplumbingwg/multus-cni/blob/a28f5cb56c79a582f5ea2b35a61b38f34b937930/docs/configuration.md#multus-cni-configuration-reference).

[2022-03-02 17:00] cloudcafetech commented on #7284
? We need the running VMI's (kubectl get vmi <vmi-name>), and well as as the associated pod (kubectl get pod <associated pod name>).

Did not get you, what u want?

Will try to do ..

[2022-03-02 17:05] maiqueb commented on #7284
I want you to paste the output of those two commands:
  - `kubectl get vmi <vm name> -oyaml `
  - kubectl get pod <pod name where the running VM is running> -oyaml`

Without that, I have no clue on what you're actually running.

[2022-03-02 17:37] #7216 closed

[2022-03-02 17:39] cloudcafetech commented on #7284
[code]

- VM

[code]

- POD

[code]

[2022-03-02 17:57] maiqueb commented on #7284
Everything seems correctly configured in the pod, but I think you're missing the cloud init configuration for the secondary interface.

This is adapted from https://github.com/kubevirt/kubevirt/blob/main/examples/vmi-masquerade.yaml#L38; would you try adding this `network-data` stanza to your VM's config `cloudInitNoCloud` ?

[code]

[2022-03-02 18:22] cloudcafetech commented on #7284
After added NWdata to VM yaml, VM & POD IP got changed. **But as I said earlier when I enter using console ALL network interface IP missing.**

- CMD

[code]

- VM

[code]

- POD

[code]

[2022-03-02 18:54] cloudcafetech commented on #7284
Able to FIX :)

Original interface is **enp1s0** & **enp2s0**

Not as you mentioned ...

[code]

Thanks for your kind support 👍
Closing now ....

[2022-03-02 18:54] #7284 closed

[2022-03-03 00:09] #7240 closed

[2022-03-03 03:12] zhlhahaha commented on #7297
Hi Daniel, I do not see the discuss in the [2022-03-02 MINUTES](https://docs.google.com/document/d/1kyhpWlEPzZtQJSjJlAqhPcn3t0Mt_o0amhpuNPGs1Ls/edit#heading=h.1y6ervkayqsm).
Anyway, I have not though it deeply. Here is some roughly ideas.
The core problem for hybird cluster is where we can get cpu architecture information. After solve this we can use the CPU arch information to generate arch speci

[2022-03-03 07:55] shuiyunwudi commented on #5572
hi，i follow the tips to delete all kubevirt apiservices, mutatingwebhooks and validatingwebhooks, but it didn't work. would you mind give more details on how to clean this namespace and deploy it newly.

[2022-03-03 10:01] rmohr commented on #7272
@zhuchenwang I did not get to untagle this function at the time when I started with our clean `api` package. How about leaving the function in `client-go`? It really is only there for kubevirt-internal testing and has no real meaning for others.

There are just two usages in the `/tests` package. I think it is worth just "duplicating" a proper function for `/tests`. We can then independently evolv

[2022-03-03 10:37] rmohr commented on #6857
Yes, we allow injecting ssh credentials now. However, we are not using it in this scenario and we still don't get anything reported. We only use these  commands by default: `GET_INTERFACES, GET_OSINFO, GET_TIMEZONE, GET_HOSTNAME`.

Is this helpful?

[2022-03-03 11:18] rwmjones commented on #2667
Can someone describe what the actual fix is for this?  Where exactly should `--mtu 1450` be placed?

[2022-03-03 14:58] #6481 closed

[2022-03-03 18:47] zhuchenwang commented on #7272
@rmohr I recreate the PR. Please take a look. Thanks!

[2022-03-03 19:35] fungiboletus opened #7305 "virtctl command not working on Arm Mac"
/kind bug

**What happened**:

I followed [the documentation to install virtctl](https://kubevirt.io/quickstart_cloud/).

It suggested to use the following code:

[code]

My arch is `darwin-arm64` because I use a MacBook M1. This architecture is not supported and it downloaded a file containing `Not Found` instead of returning an error.

**What you expected to happen**:

 - An error message like `

[2022-03-03 20:53] David-Krupa opened #7306 "Old version of GO throwing High and Critical CVEs from Twistlock Scans"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

/kind bug

**What happened**:
Container scans reveal high and critical CVEs with current golang version:

**What you expected to happen**:

Update go to the newest version which to mitigate the vulnerabilities.

**How to reproduce it (as minimally and precisely as possible)**:
https://go.dev/doc/install

1. Download go v1.17.8 or greater
2. Remove

[2022-03-04 03:03] bochengdong opened #7308 "Error reported by virt launcher container"
error: failed to get emulator capabilities

error: internal error: Failed to start QEMU binary /usr/libexec/qemu-kvm for probing: libvirt:  error : cannot execute binary /usr/libexec/qemu-kvm: Permission denied

k8s: v1.23.1
os: ubuntu 20.04.2 LTS

[2022-03-04 03:27] bochengdong commented on #7308
已解决：https://github.com/kubevirt/kubevirt/issues/4303

[2022-03-04 08:50] npu21 opened #7309 "vmi pending and virt-launcher pod missing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After WaitForFirstConsumer temporary pod virt-launcher  launched and datavolume import successfully，the temporary virt-launcher pod gets killed, I find the formal virtual machine virt-launcher pod missing and the vmi stuck in pending phase
**What you expected to happen**:
The vmi running successfully
**How to reproduce it (as minima

[2022-03-04 11:33] dominikholler opened #7310 "Drop experimental ignition support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

kubevirt has currently experimental support for igntion.
This was introduced by the PR "Add Ignition Support #1657"
Presented in blog post https://kubevirt.io/2018/ignition-support.html .
Currently,  the ignition data can be injected into kubevirt VMs using openstack ready images using cloud-init config drive lik

[2022-03-04 14:59] #6457 closed

[2022-03-04 17:03] David-Krupa commented on #7306
/kind bug

[2022-03-04 17:07] David-Krupa commented on #7306
/remove enhancement

[2022-03-04 19:53] chattytak opened #7314 "The "virt-handler" has a status of "CrashLoopBackOff" due to failure to install SELinux Policy."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[code]

**What you expected to happen**:
Successful installation.

**How to reproduce it (as minimally and precisely as possible)**:
- `export VERSION=$(curl -s https://api.github.com/repos/kubevirt/kubevirt/releases | grep tag_name | grep -v -- '-rc' | sort -r | head -1 | awk -F': ' '{print $2}' | sed 's/,//' | xargs)`
- `echo $VE

[2022-03-05 10:02] #4678 closed

[2022-03-05 13:20] cloudcafetech opened #7317 "User name & password not working with RHCOS"
I have download Image for RHCOS from **https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/latest/latest/rhcos-metal.x86_64.raw.gz** using CDI.

Then added following userdata in VM manfest.

[code]

I m getting console login and provided above user (root) & password (passwd) but **its not working.**

If I do ```ssh root@10.244.1.16```

I got

**Permission denied (publickey,gssapi-keye

[2022-03-05 16:02] #6495 closed

[2022-03-07 06:44] lixiaobing1 opened #7319 "compiling problem: staging/src/kubevirt.io/client-go/log/log.go:99:3: undefined: glog.SetLogFile"
1、in staging/src/kubevirt.io/client-go/log/log.go
"github.com/golang/glog"
glog.SetLogFile(logger)

2、in staging/src/github.com/golang/glog/glog.go
func SetLogFile(l log2.Logger) {
	logger = l
	toStderr = true
}

3、but
compiling problem:

make go-all
hack/dockerized "export KUBEVIRT_NO_BAZEL=true && KUBEVIRT_VERSION= ./hack/build-go.sh install  && ./hack/build-copy-artifacts.sh  && DOCKER_PREFIX=

[2022-03-07 06:48] lixiaobing1 commented on #7319
thx:)

[2022-03-07 09:03] #6310 closed

[2022-03-07 09:03] #6360 closed

[2022-03-07 20:25] rthallisey commented on #7278
Tracking in project-infra
/close

[2022-03-07 20:25] #7278 closed

[2022-03-07 22:08] emilyastranova opened #7323 "[Feature Request] Allow option in virtctl for persistent VNC connections rather than closing on client disconnect"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

**What happened**: VNC session with virtctl vnc proxy closes automatically

**What you expected to happen**: Would like for the option to have a persistent connection that is still open and listening after disconnect

This is actually mentioned here and never addressed:

It may be what we want, that the proxy does not terminate when th

[2022-03-08 00:48] ikandars commented on #7105
@rmohr  it would be possible if kubevrit admission webhook allow to edit property `spec.nodeSelector` in VMI manifest. So the steps will be:

1. edit or add `spec.nodeSelector` in VMI object and put the target node label
2. apply `VirtualMachineInstanceMigration` to run live migration

[2022-03-08 06:35] #7272 closed

[2022-03-08 07:39] lixiaobing1 opened #7325 "VMI is in phase: Scheduled | Domain does not exist"
kubevirt 0.55.0, deploy windows, problems:

{"component":"virt-handler","kind":"","level":"info","msg":"VMI is in phase: Scheduled | Domain does not exist","name":"win2016","namespace":"admin","pos":"vm.go:1547","timestamp":"2022-03-08T07:21:22.270713Z","uid":"1ca6a79e-d7b3-4974-95cc-1cbdd0223f5b"}
{"component":"virt-handler","kind":"","level":"info","msg":"VMI is in phase: Failed | Domain does no

[2022-03-08 07:39] lixiaobing1 commented on #7325
thx:)

[2022-03-08 08:16] alicefr commented on #7317
@cloudcafetech AFAIK you need to use ignition for configuring RHCOS, I don't know if it supports cloud-init. SSH root login should also be disabled maybe the system hasn't been configure correctly

[2022-03-08 08:26] cloudcafetech commented on #7317
Hmm, some how I manged that part by adding ignition ignition file. But after boot if I installed any packages that is not persist if I restart kube virt VM. Can you please help me to fix because system installation in os disk.

[2022-03-08 08:28] alicefr commented on #7317
How do you pass the disk to the VM? Certain volumes type in KubeVirt do not persist the data like container disks. Could you past the entire VM/VMI definition?

[2022-03-08 08:42] cloudcafetech commented on #7317
[code]

[2022-03-08 08:46] alicefr commented on #7317
Ok, container disks don't persist data. It basically creates a snapshot on the rhcos disk, the packages are installed there and it is thrown away when you restart the VM. In order to persist any modification to the VM, you need to use a PVC. If you still want to use the container image `quay.io/containerdisks/rhcos:4.9`, you could import the container image into a PVC using CDI and pass the PVC to

[2022-03-08 09:15] cloudcafetech commented on #7317
Challenge is if create pvc using CDI then same type of VM we have to create multiple pvc and it takes time to pull image in pvc where one image in node will reside as container image as many as VM we can create from there.

[2022-03-08 09:30] alicefr commented on #7317
I think you could mitigate this issue in 2 different ways:
  1. You could create a PVC from the image once, then use that PVC as source for the other PVCs. CDI has the ability to import also from another PVC (https://github.com/kubevirt/containerized-data-importer/blob/main/doc/clone-datavolume.md).
  2. Create a custom container disk (from the official one) with the packages and configuration alr

[2022-03-08 13:59] uril commented on #7257
Currently, based on [documentation](https://kubevirt.io/user-guide/operations/mediated_devices_configuration/), kubevirt takes control over all GPUs of a (selected) node.
This (taking control) is done based on the mediatedDevicesTypes list.

@guleng
Can you add a vGPU device to a non-VM container (instead of the whole GPU) ?
It should be possible but I do not have instructions for how to do it.
Li

[2022-03-09 02:38] cloudcafetech commented on #7317
@alicefr

Let me try this :)

[2022-03-09 03:17] cloudcafetech commented on #7317
Getting error ... Seems PVC in pending state due to PV not created.

[code]

[2022-03-09 03:47] cloudcafetech commented on #7317
after annotation issue got resolved 👍

[code]

[2022-03-09 03:48] cloudcafetech commented on #7317
I think I can close this,.

thank you for your valuable support 💯 👍

[2022-03-09 03:48] #7317 closed

[2022-03-09 09:31] oshoval opened #7332 "unit tests: Missing mock controller finish calls"
/kind bug

**What happened**:

Some unit tests are not calling `gomock.Controller.Finish()`.
`Finish` verifies that there are no missing/unexpected calls.

Once we update to Ginkgo 2.0, Finish will be called automatically,
by the extended `GinkgoT()`, and those tests would fail.

**What you expected to happen**:
Tests should pass, and be correct.

**How to reproduce it (as minimally and precisely

[2022-03-09 10:34] zhhray opened #7334 "cpuAllocationRatio does not take effect"
**Is this a BUG REPORT or FEATURE REQUEST?**:

I configured the value of cpuAllocationRatio in kubevirt CR, but it does not take effect.
[code]
Then I create the virtual machine, as defined in YAML：
[code]
And then , the configuration you see in vmi looks like this:
[code]
However, the resource.cpu value of the virt-launcher pod is always 1000m.
[code]
But I think, according to Kubevirt's code log

[2022-03-09 15:20] dhiller commented on #7334
/triage needs-information

[2022-03-09 15:23] dhiller commented on #7325
/triage needs-information

Could you please attach virt-handler and virt-launcher logs, also the complete vm spec?

[2022-03-09 15:26] dhiller commented on #7323
/triage accepted

At least having an option to transparently reconnect sounds reasonable.

[2022-03-09 15:28] dhiller commented on #7319
/triage needs-information

Can you add the information on what commit it failed like this! Thank you!

[2022-03-09 15:31] dhiller commented on #7314
@xpivarc can you follow up on this one, please? Thank you!

[2022-03-09 15:34] rmohr commented on #7319
I just tried this on latest main:

[code]

It seems to work for me.

[2022-03-09 15:38] dhiller commented on #7309
/triage needs-information

Can you add a list of all pods in the namespace? Can you also add list of events for all namespaces here? Thank you!

[2022-03-09 15:45] dhiller commented on #7306
/triage needs-information

So you are suggesting that we update to go 1.17.8 to get rid of those? Could you elaborate on how exactly you used Twistlock please?

[2022-03-09 15:50] xpivarc commented on #7314
Hi, can you ensure you have SELinux policies(container_t) installed on the underlying OS? Can you run arbitrary Pod with SELinux enabled?

[2022-03-09 16:07] David-Krupa commented on #7306
Sure,

Without going into too much detail because of the company I work for, we scan all container images that we put in our image repo for any known CVE. These vulnerabilities are provided from various organizations, government or other and have been determined by the DoD organizations to not be acceptable or in need of mitigation. A fellow employee looked into the newer go versions and assessed

[2022-03-09 18:46] fungiboletus commented on #7305
I'm afraid I don't know your build system and adding support to this architecture seems like a big task for someone outside of the project. It's not about adding a line in a github action yaml file.

However I could probably do a pull request to update the documentation, so the example script downloads the `darwin-amd64` instead of a 404 error file.

[2022-03-09 21:23] xpivarc commented on #7314
Can you check the problematic attribute `seinfo -a | grep container_domain`?

[2022-03-09 21:30] chattytak commented on #7314
`# seinfo -a | grep container_domain` response was an empty letter.

I additionally typed the following command, but the containerd process was not container_t, so it seems that container_t is not working effectively, assuming it exists.
All the pod processes already running were also unconfined_service_t.

So even if kubevirt detected that the OS setting was Enforce and the failure to add SELinux

[2022-03-10 01:38] zhhray commented on #7334
I mean that, if cpuAllocationRatio is 4, the request cpu of resource of virt-launcher pod shoud be 3, but not 1.
Not sure if this is a bug, or is the configuration incorrect somewhere？

[2022-03-10 04:06] dimm0 commented on #4950
Have you resolved this?

[2022-03-10 04:26] FrankYang0529 opened #7339 "Stopping a VM has a temporary failure message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Create a VM with `runStrategy: RunStrategyAlways`. After it is running, stop the VM.

We can see there is a temporary `FailedDelete` condition in the VM.
[code]

Logs in virt-controller:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a VM with `runS

[2022-03-10 05:55] lixiaobing1 opened #7341 "failed to look up user qemu: user: unknown user qemu"
use 0.50.0 to deploy windows, logs following in virt-handler:

{"component":"virt-handler","level":"error","msg":"failed to write pod Interface to ifCache, failed to look up user qemu: user: unknown user qemu","pos":"podnic.go:146","reason":"failed to look up user qemu: user: unknown user qemu","timestamp":"2022-03-10T03:35:37.533582Z"}
{"component":"virt-handler","kind":"","level":"error","msg":"

[2022-03-10 05:55] lixiaobing1 commented on #7341
thx:)

[2022-03-10 06:00] lixiaobing1 commented on #7319
yeah, when gomod11 off, it will search in vendor.
when gomod11 on, why not search in staging ? how to config to search?
thx:)

[2022-03-10 06:50] #7341 closed

[2022-03-10 07:08] #6566 closed

[2022-03-10 07:18] lixiaobing1 opened #7343 "Unknown model type 'virtio-non-transitional'"
deploy windows with pvc:

{"component":"virt-handler","kind":"","level":"info","msg":"mounting kernel artifacts","name":"win2016","namespace":"admin","pos":"mount.go:407","timestamp":"2022-03-10T06:48:14.519788Z","uid":"6463c51d-aed6-46b3-9c6a-33d76eac349b"}
{"component":"virt-handler","kind":"","level":"info","msg":"kernel boot not defined - nothing to mount","name":"win2016","namespace":"admin",

[2022-03-10 08:27] lixiaobing1 commented on #7343
when I set useVirtioTransitional: true, errors:
    unsupported configuration: Unknown model type 'virtio-transitional
so what can i set for useVirtioTransitional?

[2022-03-10 08:28] lixiaobing1 commented on #7325
thx, issue has been fixed :)

[2022-03-10 08:29] #7325 closed

[2022-03-10 08:30] rmohr commented on #7319
kubevirt is built around using vendoring. The staging modules are linked into the vendor folder. If you need to build without vendoring, you can "replace" the client-go staging repo in the `go.mod` and point it to the staging folder (https://thewebivore.com/using-replace-in-go-mod-to-point-to-your-local-module/).

[2022-03-10 08:31] rmohr commented on #7319
We could probably add permanent replace directives in the main `go.mod`. What do you think?

[2022-03-10 10:11] #7339 closed

[2022-03-10 11:08] #6496 closed

[2022-03-10 13:40] rmohr commented on #7343
@lixiaobing1 do you use our official builds, or do you build your own virt-launcher containers?

[2022-03-10 16:01] xpivarc opened #7350 "Fix NewRandomVMIWithDataVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`NewRandomVMIWithDataVolume` function [request](https://github.com/kubevirt/kubevirt/blob/main/tests/utils.go#L2223) 1Gi memory for VM. This can lead to unnecessary flakiness and overloading of clusters.

**What you expected to happen**:
Use the lowest amount of memory possible.

**How to reproduce it (as minimally and pr

[2022-03-11 11:08] #6195 closed

[2022-03-11 12:22] dominikholler opened #7357 "virtctl ssh: known_hosts: illegal base64 data at input byte 140"
`virtctl ssh` fails with  `known_hosts:1413: illegal base64 data at input byte 140`

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

[2022-03-12 02:38] npu21 opened #7360 "[help] kubevirt run failed on arm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I create kubevirt vms on my arm64 cluster using storage class，hostpath-provisioner .However，when using ssd volume, the vm will created  successfully，but when using sata  volume the vmi failed and the virt-launcher pod restart
[code]

**Anything else we need to know?**:
I compare the two vm's virt-launcher pod and found one thing may

[2022-03-12 08:34] lixiaobing1 commented on #7343
@rmohr yeah, libvirt is old, thx:)

[2022-03-12 08:34] #7343 closed

[2022-03-12 10:06] #7254 closed

[2022-03-12 23:16] crobinso commented on #6857
@rmohr I tried those 4 commands with unaltered f35 cloud image, they all work, and no AVCs in the VM

[code]

So yeah I'm still confused. It looks like those commands are working fine with selinux enabled, and the guest-exec and guest-file-open usage has never worked with selinux. If you are saying the error is independent of guest-exec/guest-file-open usage, it will help if someone can capture `a

[2022-03-13 04:11] #6577 closed

[2022-03-13 13:55] cloudcafetech commented on #7317
@alicefr

With RHEL 8c facing some issue with data importer ... not all time :(

[code]

Any pointer ?

[2022-03-14 03:35] lxzjd opened #7364 "Updating the VirtualMachineInstance status failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When creating a vmi, the vm cannot start.The vmi is always in the Scheduled state.
The handler reported an error:
{"component":"virt-handler","kind":"","level":"error","msg":"Updating the VirtualMachineInstance status failed.","name":"vmi-host-disk","namespace":"default","pos":"vm.go:1336","reason":"VirtualMachineInstance.kubevirt.i

[2022-03-14 07:16] alicefr commented on #7317
@cloudcafetech mmh it seems more a dns issue. It might be even caused by quay. If the issue persists, please open an issue under [CDI](https://github.com/kubevirt/containerized-data-importer)

[2022-03-14 08:19] cloudcafetech commented on #7317
@alicefr

Thanks !! will do.

Now I am facing new issue (**coreos-installer not installing on /dev/vda found busy partitions**) VM build with rhcos images.

Setting OCP 4.9 on Kubevirt VMs.

when executing below command in bootstrap node...

```sudo coreos-installer install /dev/vda --insecure --image-url http://10.244.1.215:8080/ocp4/rhcos  --ignition-url http://10.244.1.215:8080/ocp4/bootstrap.i

[2022-03-14 08:42] alicefr commented on #7317
Where and how are you running the coreos installer? If you use the container disk image, I don't think you need to run coreos installer. So my impression is that you are trying to run the installer on an already in use disk, but I might be completely wrong :). You should run coreos-installer if you want to create a custom image. In your case the installer will install rhcos on `/dev/vda` at firstb

[2022-03-14 08:49] cloudcafetech commented on #7317
Using data volume (pvc) besed on your reference, already provided VM yaml.

Normally same steps I used to install on standard VM with RHCOS image.

[2022-03-14 08:59] alicefr commented on #7317
Is the coreos-installer run in a container with the PVC attached? Or this is not completely clear to me. Because coreos installer prepares the VM image and you need to supply during the installation. So, if you want to use this custom image created you need to replace the container disk with your custom image and the first time the VM will run, it will install it on the PVC (that need to be /dev/v

[2022-03-14 09:10] cloudcafetech commented on #7317
Yes, still using.

First I downloaded RHCOS mage from quay.

Then using dataVolumeTemplates it's creating pvc where image.img is there.

Then normal VMI creation from DataVolume (coreos-dv)

Ref. Using

https://github.com/kubevirt/containerized-data-importer/blob/main/doc/image-from-registry.md#import-registry-image-into-a-data-volume-using-node-docker-cache

[2022-03-14 09:13] rmohr commented on #6617
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2022-03-14 10:12] #6615 closed

[2022-03-14 11:37] cloudcafetech opened #7365 "coreos-installer not installing on /dev/vda found busy partitions"
My goal is setting up OCP 4.9 on top of Kubernetes using Kubevirt VMs. So target is **Nested Kubernetes [Kubernetes  (Openshift) in Kubernetes]**

Base K8S Cluster build using kubeadm with Flannel along with Multus NW on AWS EC2 and Persistent Storatge (kubevirt.io/hostpath-provisioner)

- Master (t2.medium) Ubuntu 18.4
- Node (c5.metal) Ubuntu 18.4,  where all Kubevirt VMs deployed.

**Created 6

[2022-03-14 12:04] dhiller commented on #7306
Hey @David-Krupa, thanks for the heads up!

We do the golang update only now and then when we deem it required.

However, if you want to participate, we have created a guide on how to update the Golang version here: https://github.com/kubevirt/kubevirt/blob/main/docs/update-go-version.md

[2022-03-14 12:16] dhiller commented on #7334
Sounds legit.

/triage accepted

@xpivarc I am not sure who might be able to look into this, can you tell?

[2022-03-14 12:55] alicefr commented on #7365
@cloudcafetech why do you want to execute `coreos-installer` on the bootstrap node? Coreos should be already installed or do you want to prepare a custom image? I'm missing this part

[2022-03-14 13:08] cloudcafetech commented on #7365
That is as per openshift cluster installation procedure.

[2022-03-14 13:22] cloudcafetech commented on #7365
Same way we used to install in normal VMs.

https://www.linuxtechi.com/install-openshift-baremetal-upi/

Mentioned in above URL Step4

[2022-03-14 13:24] alicefr commented on #7365
could you please point me to the documentation of the installation procedure you want to use? Is it the user provisioned? Because for me, you already have installed coreos on the boostrap node and it is normal that it is failing in opening `/dev/vda`.

[2022-03-14 13:29] cloudcafetech commented on #7365
Yes

https://www.linuxtechi.com/install-openshift-baremetal-upi/

Mentioned in above URL Step4

[2022-03-14 13:29] alicefr commented on #7365
Ok, you want to run coreos live installation and this is not what is happening in your example. The installation has already occurred and firstboot and ignition has already been configured. The proof is that you have already installed the ssh key

[2022-03-14 13:31] cloudcafetech commented on #7365
Correct, I also little bit understood but not sure how to mitigate this issue.

[2022-03-14 13:49] cloudcafetech commented on #7365
It's a long process, same I have to do for all 6 Kubevirt VMs (Bootstrap, Master1, Master2, Master3, Worker1 & Worker2). 🤔

[2022-03-14 13:56] alicefr commented on #7365
yes, maybe you could pass the already generate ignition files to each VMs and have some kind of automatic installation.

[2022-03-14 14:03] cloudcafetech commented on #7365
That is also not possible bcoz it's a one time job.

Challenge is if I restart VMI, that will again execute. 🙄

[2022-03-14 14:08] alicefr commented on #7365
are you sure that it will execute again? Because after the firstboot the /boot/ignition.firstboot file should be disappeared and ignition should not run again. Are you on slack :)?

[2022-03-14 14:13] cloudcafetech commented on #7365
Yes, if you put it in ```userdata``` of VM yaml.

No

[2022-03-14 14:29] alicefr commented on #7365
I just tried and you can remove the userdata from the VM definition. So, once rhcos has been installed you could patch the VM and remove the userdata definition

[2022-03-14 14:41] cloudcafetech commented on #7365
Can you share what you did.

Is it using image or ISO.

[2022-03-14 14:45] alicefr commented on #7365
I used the container disk and I simply edit the VM definition with `kubectl edit VM <vm-name>` are removed the userdata but you can also patch it

[2022-03-14 14:51] cloudcafetech commented on #7365
Okay, but for my original issue I can't use container image.

[2022-03-14 15:13] #6586 closed

[2022-03-14 15:39] xpivarc commented on #7334
@dhiller
I can have a look :)

[2022-03-15 02:56] npu21 commented on #7360
@akalenyu Thanks！
I go through the cdi and kubevirt source code，and the two storage class ssd and sata base disk volume sector size is different，ssd is
![6HW61J0~5U}CN~2E%{IG@FO](https://user-images.githubusercontent.com/11768607/158296537-fcb11a6d-8f8d-41dc-a988-7d1cf24f0662.png)
but the sata is `Units: sectors of 1 * 4096 = 4096 bytes
Sector size (logical/physical): 4096 bytes / 4096 bytes
`
Doe

[2022-03-15 05:29] zhhray commented on #7334
Thank you for taking the time to look at this.
By the way, my Kubevirt was installed into the K8S cluster by the HCO operator（https://github.com/kubevirt/hyperconverged-cluster-operator）

[2022-03-15 07:03] cloudcafetech commented on #7365
@alicefr

I tried with ISO image but same issue **busy partition**

![image](https://user-images.githubusercontent.com/68260844/158324153-501ab57b-dc29-4022-bed1-5921114e2b6f.png)

[2022-03-15 07:17] alicefr commented on #7365
@cloudcafetech I don't think you can install the OS on the same device as the ISO. You need a second disk

[2022-03-15 07:24] cloudcafetech commented on #7365
@alicefr

what is alternative? I can add second disk but after that lets say I have installed in second disk then how to boot from there?

[2022-03-15 07:25] maya-r commented on #7360
kubevirt#7007 mentions SATA doesn't work on arm64, could that be related?

There are some fixes for disks needing 4K alignment in newer versions, if you still believe this is the problem it is a good idea to try the latest release.

[2022-03-15 07:32] alicefr commented on #7365
My understanding is that you need to boot from rhcos image and install it on a device and reboot from that device. I never install RHCOS on KubeVirt but this is the usual way you do the installation for UPI. Coreos installer cannot overwrite the /dev/vda because is in use. Maybe there is an in place installation

[2022-03-15 08:27] lixiaobing1 opened #7368 "can't get businfo with "github.com/safchain/ethtool" in kubevirt 0.55.0"
"github.com/safchain/ethtool"
ethHandle.BusInfo() return empty, is this func invalida already?

[2022-03-15 08:27] cloudcafetech commented on #7365
@alicefr

I did installed on 2nd hdd using modify the VM yaml

-  bootstrap.yaml

[code]

But little confuse what is below boot order does ? from **cdromiso** or **harddrive**.

[code]

[2022-03-15 08:32] cloudcafetech commented on #7365
if you want I can do live session, let me know ?

[2022-03-15 08:32] alicefr commented on #7365
Did you use the same yaml? I think you need to remove ignition and the cdrom when you reboot

[2022-03-15 08:34] alicefr commented on #7365
Maybe you could have 2 VM yamls. One for the installation with the cdrom and the other for the post-installation with a VM that simply use the second hdd.

[2022-03-15 08:45] lixiaobing1 commented on #7368
thx:)

[2022-03-15 08:50] cloudcafetech commented on #7365
can u help to prepare 2nd vm yaml (post installation).

**1st yaml** below

[code]

[2022-03-15 09:39] cloudcafetech commented on #7365
Help me to boot from harddrive

[2022-03-15 09:45] alicefr commented on #7365
OK, I got some clean example with 2 VM.
First of all, you need to create a PVC that is the target where rhcos will be install and I used a blank DV:
[code]
After, you need to start a temporary VM that install on `/dev/vdb` rhcos. Here, what I used:
[code]
I access the console of the VM:
[code]
Once, the installation is successful you need to delete the first VM but the datavolume persist. You can

[2022-03-15 09:49] alicefr commented on #7365
You can still use the iso if you prefer. I just simplified the whole process. We could try to define a systems job that automatically trigger the coreos-installation and shutdown when it is successful in the `vm-installatiom`. But before trying if this configuration works for you. Let me know how it goes

[2022-03-15 09:57] cloudcafetech commented on #7365
OK, let me try

[2022-03-15 11:05] cloudcafetech commented on #7365
Done 🥇

[code]

- OCP

[code]

[2022-03-15 11:13] cloudcafetech commented on #7365
@alicefr

After a long fight we are able create Openshift 4.10 Cluster on top of Kubernetes 💯

Thank you very much for kind support 👍

[2022-03-15 11:31] alicefr commented on #7365
Cool :). Yeah, it has been a learning experience for me too :). I'll try to document the procedure. I think it can be very useful for others too :)

[2022-03-15 11:43] cloudcafetech commented on #7365
Earlier I did Nested Kubernetes **[Kubernetes In Kubernetes (KIK)]** using kubevirt but first time did **Nested Kubernetes [Kubernetes (Openshift) in Kubernetes]**.

Kubernetes In Kubernetes was not so complex as there no use coreos, you can use any linux os.

Anyway its great learning :)

Once again thank you very much 🥇

[2022-03-15 11:43] #7365 closed

[2022-03-15 11:55] rmohr commented on #6393
/close

Addressed via https://github.com/kubevirt/api

[2022-03-15 11:55] #6393 closed

[2022-03-15 11:58] rmohr commented on #7357
Could you share the corrupt file?  think that there is no newline written at the end of the line in some cases and then two keys get concatenated in a single line.

[2022-03-16 04:25] gidde8 commented on #6795
@andreabolognani  We are observing one more core with different backtrace than mentioned above. Following is the bt.

**Core-1**

[root@a66c412430ab ~]# gdb /usr/sbin/libvirtd -c prio-rpc-worker-1.core
GNU gdb (GDB) Fedora 9.1-7.fc32
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to

[2022-03-16 05:41] zippy2 commented on #6795
Please note that Fedora-32 is End of Life for almost a year and with Fedora-36 just around the corner the only Fedora release we could possibly backport anything to is Fedora-35 which has libvirt-7.6.0 release. So even if you did find a genuine bug that's still not fixed anywhere you would not get the fix if you stick with libvirt-6.8.0.fc32. Your only option is to upgrade.

I didn't look into the

[2022-03-16 06:01] gidde8 commented on #6795
Thanks @zippy2  for the reply.

I am unable to install debug symbols (dnf debuginfo-install libvirt-daemon-6.6.0-8.fc32.x86_64) recently. May i know where the debug symbols can be found.

[2022-03-16 08:14] rmohr commented on #6795
@gidde8 I am sorry but upstream kubevirt can't help you with this old versions. Please consider porting your custom modifications  to a newer release (or if they make sense, contribute them on main, so that you have an easier time to follow the official releases).

[2022-03-16 09:16] xpivarc commented on #7350
/asssign

[2022-03-16 09:17] xpivarc commented on #7350
/assign

[2022-03-16 10:30] saschagrunert commented on #6481
I think this is still valid and unresolved
/reopen

[2022-03-16 10:33] #7368 closed

[2022-03-16 10:35] lixiaobing1 opened #7371 "Unmanaged PCI device 0000:c3:1b.1 must be manually detached from the host"
Deploy vm with kubevirt 0.50.0，sriov network，err as following, so how to manually detached from the host?

{"component":"virt-launcher","kind":"","level":"error","msg":
"Failed to start VirtualMachineInstance with flags 0.","name":"win2016",
"namespace":"admin","pos":"manager.go:928","reason":
"virError(Code=55, Domain=0, Message='Requested operation is not valid: Unmanaged PCI device 0000:c3:1b.1

[2022-03-16 10:35] lixiaobing1 commented on #7371
thx:)

[2022-03-17 05:08] gidde8 commented on #6795
@rmohr Okay.

[2022-03-17 07:25] npu21 commented on #7360
Thanks for your reminder！Will have a try.

[2022-03-17 16:06] David-Krupa opened #7403 "OpenSSL vulnerability with BN_mod_sqrt() function at High Severity"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Discovered high severity vulnerability in the openssl-libs package. See release notes here: https://www.openssl.org/news/openssl-1.1.1-notes.html

The vulnerability resides in the function BN_mod_sqrt(). This function, for computing square roots contains a bug that could cause it to loop indefinitely for non-prime moduli.

[2022-03-18 01:48] npu21 commented on #6531
@rmohr , Could you please take a look at this issue? The pv created on node hci-002 which should created on hci-001.
https://github.com/kubevirt/containerized-data-importer/issues/2192

[2022-03-18 10:22] #7371 closed

[2022-03-18 10:26] lixiaobing1 opened #7405 "what gcc version is appropriate for go 1.17.5 of kubevirt 0.50.0?"
what gcc version is approprite for go 1.17.5 of kubevirt 0.50.0?
anybody know that?
thx very much:)

[2022-03-19 08:44] chattytak commented on #7314
Sorry for the late reply.

I was able to work around the problem by making it Permissive or installing the `container-selinux` package.
However, I am currently setting up my test environment in a BSD-based bhyve virtual environment, so I can't use kvm and can't actually check the VM to deploy it.
I thought `kubectl create configmap kubevirt-config -n kubevirt --from-literal debug.useEmulation=true

[2022-03-19 15:19] #6494 closed

[2022-03-21 02:06] #7405 closed

[2022-03-21 02:08] lixiaobing1 opened #7409 "failed to hot-plug SR-IOV interfaces"
kubevirt 0.55.0, deploy ubuntu with sriov:
{"component":"virt-handler","kind":"","level":"error","msg":"failed to hot-plug SR-IOV interfaces: no QEMU process found under process 8141 child processes","name":"ubuntu","namespace":"ubuntu","pos":"vm.go:2542","timestamp":"2022-03-21T02:00:36.890421Z","uid":"094ac1c1-65cd-4ed0-be24-edafcb3d7904"}

[2022-03-21 02:09] lixiaobing1 commented on #7409
thx:)

[2022-03-21 09:34] iholder-redhat commented on #5336
PR is merged. I think this issue can be closed.

[2022-03-21 09:43] yangxggo opened #7411 "root volume always have same size with copy source"
k8s v1.23.3, kubevirt v0.51.0

**What happened**:
I post a custom centos7 qcow2 image(install from iso) by virtctl in pvc type, size 10Gi,  and clone it to dataVolume in two ways:

1. Kind DataVolume , size 11Gi;
2. VirtualMachine.spec.dataVolumeTemplates (in VitualMachine yaml), size 15Gi;

the sizes of the three pvc are 10Gi, 11Gi and 15Gi.

I create 2 vms, the first has the system volume in way

[2022-03-21 21:44] David-Krupa commented on #7306
We are working with our team now to determine if this is a feasible option for us and if we are allowed. Otherwise, we would love to get our hands dirty lol.

[2022-03-22 01:43] zhhray commented on #7334
Thanks very much for your reply.
Once again, I only deployed kubevirt and cdi operators, not hco, but the cpuAllocationRatio was still not in effect in my environment.
Can you describe your reproduce steps to me? I want to know the difference between your operation and mine.
In particular, VirtualMachine YAML and virt-launcher pod YAML.

[2022-03-22 04:17] zhhray commented on #7334
I found the reason because I set limitrange on my namespace.
vmi.spec.domain.resources is set to the value of limitrange default. The virt-launcher pod cpu value calculated from the `cpuAllocationRatio` is overridden.
[code]
But I don't think it makes sense. When I set up a `cpuAllocationRatio` should ignore the value of `vmi.spec.domain.resources.cpu`.

[2022-03-22 13:00] marceloamaral commented on #6055
The workqueue performance is directly related to client-go rate limiter configuration, i.e., QPS and Bust.

In an experiment, I increased the virt-controller rate limiter from 5/10 to 200/400 QPS/Burst which improved the overall workqueue performance.

Consider the following figure, left has a higher rate limiter and right the default rate limiter.

<img width="1326" alt="image" src="https://user-