[2020-07-09 16:43] #2953 closed

[2020-07-10 07:51] gyliu513 commented on #3451
nice, thanks @mazzystr !

[2020-07-10 07:51] #3451 closed

[2020-07-10 09:20] banksyian commented on #3776
Hi, to help investigate this further with StorageOS are you able to advise what the mechanism for initiating the scratch PVC creation is. Unfortunately I am struggling to find any logs to suggest where it is failing, and this should be able to point StorageOS in the right direction to pinpoint the issue.

[2020-07-10 11:23] awels commented on #3776
So the scratch PVC is a regular PVC, with one distinct difference from most other PVCs. The ownerRef of the PVC is set to the POD that will use it. This allows us to not worry about manually deleting the PVC after the POD is complete, because the POD will get deleted, and in turn due to the owner being deleted, k8s will automatically delete the PVC as well. You should be able to reproduce the prob

[2020-07-10 11:56] qinqon commented on #2566
Checking one of the nodes at running kind I think the number of openfiles done by root is over the ulimit

[code]

[2020-07-10 12:52] #3030 closed

[2020-07-10 14:54] #2272 closed

[2020-07-10 20:43] #3400 closed

[2020-07-11 09:10] #3059 closed

[2020-07-12 12:46] omeryahud opened #3808 "[Flakey CI] [rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance live migration cancelation should be able to cancel a migration [test_id:2226]with ContainerDisk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder reported a faleky test:
[code]
in this Prow job:
- [Timed out](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3782/pull-kubevirt-e2e-k8s-1.17/1280615799995764736)

**What you expected to happen**:
Test to pass
**How to reproduce it (as minimally and prec

[2020-07-12 12:49] omeryahud opened #3809 "[Flakey CI] [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance with non default namespace [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]should log libvirt start and stop lifecycle events of the domain [test_id:1641]kubevirt-test-default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder reported a flakey test:
[code]
in this Prow job:
- [Timed out](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3720/pull-kubevirt-e2e-k8s-cnao-1.17/1280142057624571904)

**What you expected to happen**:
Test should pass
**How to reproduce it (as minimally

[2020-07-12 12:53] omeryahud opened #3810 "[Flakey CI] Infrastructure [rfe_id:3187][crit:medium][vendor:cnv-qe@redhat.com][level:component]Prometheus Endpoints [test_id:4142]should include the storage metrics for a running VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder reported a flakey test:
[code]
in this Prow job:
- https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3738/pull-kubevirt-e2e-k8s-1.18/1280492741075144704

**What you expected to happen**:
Test to pass, and provide a proper failure message (description of the

[2020-07-12 12:57] omeryahud opened #3811 "[Flakey CI] [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with masquerade binding mechanism [test_id:1780][label:masquerade_binding_connectivity]should allow regular network connection with a specific port number"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder reported a flakey test:
[code]
in this Prow job:
- [Timed out](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3735/pull-kubevirt-e2e-k8s-1.17/1280614918751522816)

**What you expected to happen**:
Test to pass
**How to reproduce it (as minimally and prec

[2020-07-12 15:53] dankenigsberg commented on #3405
If I understand correctly, PR https://github.com/kubevirt/kubevirt/pull/3208 tries to provide just that.

[2020-07-13 12:14] rmohr commented on #2397
/remove-lifecycle stale
/lifecycle frozen

[2020-07-13 12:22] rmohr commented on #3587
Sorry for the late reply. Let me cherry-pick it to the 0.31. We can include it in 0.31.1 and release that when the PR is merged.

[2020-07-13 12:52] alexanderturner commented on #3760
Hey there - I'm still seeing this even with Authorize Cluster Endpoint set.  @MarkSpencerTan did you set a FQDN and import a cert?

[2020-07-13 19:45] stu-gott commented on #3606
@dhiller Is the state of this issue still accurate? Is it still an open issue?

[2020-07-13 20:14] MarkSpencerTan commented on #3760
@alexanderturner, all I had to do in addition to setting the authorize cluster endpoint is setting my kubeconfig file to point to the correct cluster context that is for one of your nodes in the kubeconfig file. Did you do that part already?

so in your new kubeconfig from Rancher you should see something like this:

apiVersion: v1
kind: Config
clusters:
- name: "mycluster"
...
- name: "mycluster-

[2020-07-13 21:02] jean-edouard commented on #3810
Duplicate of https://github.com/kubevirt/kubevirt/issues/3689

[2020-07-13 21:03] jean-edouard commented on #3689
/assign jean-edouard

[2020-07-13 21:07] arnongilboa commented on #3754
/assign arnongilboa

[2020-07-13 21:45] rmohr commented on #3129
Finally merged. Should be available in the next developer build: https://kubevirt.io/user-guide/#/installation/installation?id=installing-the-daily-developer-builds

[2020-07-14 00:25] alexanderturner commented on #3760
Thanks @MarkSpencerTan !!

For others playing along at home - I also had to set the `current-context:` to the `mycluster-node1` once that was done, it was working fine.

[code]

[2020-07-14 04:15] dhiller commented on #3606
@stu-gott thanks for the reminder, no, we should be good here.

/close

[2020-07-14 04:15] #3606 closed

[2020-07-14 13:13] akkibatra opened #3820 "VM getting stuck on boot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to instantiate pfSense VM and it is getting stuck while mounting.

[code]

and when i try

`mountroot> ?`

i get

`Invalid file system specifications.`

I have tried same process with other os like ubuntu, it works fine. Seems like while launching it is corrupting the partition or changing the partition format

[2020-07-14 14:09] akrejcir opened #3821 "Configurations [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with CPU spec [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]when CPU model equals to passthrough [test_id:1679]should report exactly the same model as node CPU"
/kind bug
/triage build-officer

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2694/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1282643157204340737

[2020-07-14 14:14] akrejcir opened #3822 "[rfe_id:609]VMIheadless [rfe_id:609]Creating a VirtualMachineInstance with headless [test_id:713]should have more memory on pod when headless"
/kind bug
/triage build-officer

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2694/pull-kubevirt-e2e-k8s-1.16/1282643157204340740

[2020-07-14 15:09] akrejcir opened #3824 "[Flaky CI] [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with masquerade binding mechanism [test_id:1780][label:masquerade_binding_connectivity]should allow regular network connection with custom CIDR"
/kind bug
/triage build-officer

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3803/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1282776410632491011

[2020-07-14 23:13] #3687 closed

[2020-07-15 06:12] #3689 closed

[2020-07-15 09:23] wavezhang opened #3826 "upgrade qemu-kvm to 4.1.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

I‘m facing a bug when use kubevirt ([vhost version](https://github.com/kubevirt/kubevirt/pull/3208)) with ovs-dpdk.
And finally, I find out it a [bug ](https://bugzilla.redhat.com/show_bug.cgi?id=1738768) in qemu-4.1.0 which [fixed ](https://github.com/qemu/qemu/commit/7b404cae7fa2850d476c29258f03b8e77a5b4bd0) in qemu-4.1.1 .

Since

[2020-07-15 11:02] rmohr commented on #3430
/kind enhancement

[2020-07-15 11:20] identw opened #3827 "update of VMI object is restricted when update image in the containerDisk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
I don’t know if it is a bug or not. Maybe a bug
 /kind bug

**What happened**:
I create a virtual machine using the following manifest:
[code]
Then I change the image in the contaierDIsk field (kubevirt/fedora-cloud-container-disk-demo:latest) and apply this. But getting the error:
[code]
I tried using VirtualMachineInstanceReplicaSet, but nothing happ

[2020-07-15 12:03] yichengliu58 commented on #320
Hi @fabiand , just curious, has there been any updates about this feature? Cuz I'm currently looking for a method to make kubevirt support hot-plug disks, and haven't found any solutions (didn't find any explicit solution in the related issues above...)
libvirt supports hot-plugin devices, but I didn't find any interfaces in kubevirt to support. It would be a bit complex to change kubevirt code to

[2020-07-15 13:44] omeryahud opened #3828 "[Flaky CI] SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3957]should connect to another machine with sriov interface over IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder reported a flaky test
[code]
in this Prow job:
- [Timeout](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3784/pull-kubevirt-e2e-kind-1.17-sriov/1283282998891909121)

**What you expected to happen**:
Test to pass
**How to reproduce it (as minimally and p

[2020-07-15 13:50] omeryahud opened #3829 "[Flaky CI] [rfe_id:3423][crit:high][vendor:cnv-qe@redhat.com][level:component]VmWatch [test_id:3466]Should update vmi status with the proper columns using 'kubectl get vmi -w'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder reported a flaky test:
[code]
in this Prow job:
- [Timeout](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3784/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1283178938201280512)

**What you expected to happen**:
Test to pass
**How to reproduce it (as minimally

[2020-07-15 15:20] rmohr commented on #3829
@jean-edouard would you mind having a look?

[2020-07-15 15:20] rmohr commented on #3829
/assign @jean-edouard

[2020-07-15 15:23] rmohr commented on #3827
@identw hi, yes VMIs are basically our Pod. They are atomic and can't be change. Maybe later on some aspects when we will get e.g. hotplug support. VMIRS will not role out changes automatically. Only new instances would get the new change. We don't have right now `virtctl rollout` and we don't have right now a `VirtualMachineInstanceDeployment` which would do that for you.

You should see that if

[2020-07-15 15:31] rmohr commented on #3780
@kbidarkar why do you expect the tests to work on kind? I don't think that we can rely on selinux in kind setups. @qinqon any thoughts?

[2020-07-15 15:33] rmohr commented on #3824
/assign @phoracek

[2020-07-15 15:34] rmohr commented on #3822
/assign

Failing on /dev/kvm not permitted. That's not related to the test. Will close it and create an extra issue for that if I find more reports which belong to it.

[2020-07-15 15:41] jean-edouard commented on #3829
This test has quite a flaky history, however the problem here seems to be related to VMI management issues rather than actual test code.
I will look into it more closely and hopefully find something.

[2020-07-15 16:07] rmohr commented on #3829
Thanks @jean-edouard

[2020-07-15 17:50] jean-edouard commented on #3829
There are a lot of errors in https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3784/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1283178938201280512/artifacts/k8s-reporter/pods/1_kubevirt_virt-handler-66sf7-virt-handler.log
This one happens a few times:
[code]
It seems like that could prevent the restart request from going through, which would lead to the exact failure that hap

[2020-07-16 10:38] rmohr opened #3832 "Remove the "lane-focus" feature from our code to stop reporting failing test lanes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

With #3431 a focus feature got added to our code-base. It seemed to not hurt at the time but now that it is used sometimes it becomes clear that it pollutes the CI system with failing jobs.

As a replacement the Draft feature for PRs should be used. On Drafts, only test-lanes which are explicitly triggered with a `/test

[2020-07-16 10:39] rmohr commented on #3832
/assing @oshoval

[2020-07-16 10:39] rmohr commented on #3832
Here is one example: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3797/pull-kubevirt-e2e-k8s-cnao-1.17/1283655830280867840

[2020-07-16 10:41] oshoval commented on #3832
will do,
just a nit, if desired, we can do that Travis would detect if a focus is enabled, and make the lane `exit 0`
this way it wont create noise, and no need to move to draft

[2020-07-16 10:44] rmohr commented on #3832
Hm, then technically the test would have passed which would make it probably worse :)

[2020-07-16 10:46] rmohr commented on #3832
Yes and Yes. We mostly care about our Prow jobs since that accounts against our infra, Travis does not.

[2020-07-16 11:06] oshoval commented on #3832
yep but Travis would guard us of course, np just was an idea in case you like it, thx

[2020-07-16 11:23] ashleyschuett commented on #3644
Both these test failures are from when PR https://github.com/kubevirt/kubevirt/pull/3488 was merged. The error ```{"component":"virt-handler","level":"error","msg":"failed to read from cache file: open /var/run/kubevirt-private/network-info-cache/44f1331f-7850-428f-ab46-8da01b40925e/default: no such file or directory","pos":"vm.go:415","reason":"open /var/run/kubevirt-private/network-info-cache/44

[2020-07-16 12:17] krsacme commented on #3405
PR #3208 provides the implementation for vhostuser interface type, since it is a one big PR. lets break it in to smaller PRs (list of tasks and associated PRs with status will be added below) and close PR #3208.
### Tasks
- [ ] Refeactor getPodInterfaceName API to be used in virtwrap/api package
- [ ] Create Vhostuser interface API
- [ ] Create virt-launcher Pod resources required for vhostuser in

[2020-07-16 12:45] ams0 opened #3835 "Implementing sidecar containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We want to explore the use case of using a sidecar container to collect the logs from a VM and ship it to a logging facility. We understand the `hookSidecars` feature can be of help here but it seems to have an hardcoded path for a shared volume with the compute container on `/var/run/kubevirt-hooks`; we would li

[2020-07-16 13:12] stu-gott commented on #3644
This was fixed by #3641

[2020-07-16 13:12] danielBelenky commented on #3644
Closing as this was fixed with the revert.

[2020-07-16 13:12] #3644 closed

[2020-07-16 14:34] jean-edouard commented on #3829
The above was a red herring...
I think the problem really is the timeout this time. 60 seconds to reboot a cirros VM is pretty tight, especially on an ipv6 system, since part of the boot process involves pinging IPs.
I ran the test with added debug a few times on my non-IPv6 setup, and it already routinely hits 35+ seconds just for the reboot.
I could increase the timeout, but we could also switch

[2020-07-16 14:38] rmohr commented on #3829
This normally only happens if the cirros VM does not have cloud-init payload attached. Cirros is the fastest booting OS (if the workload is there). I assume that it tries to find a cloud-init source on the network?

[2020-07-16 17:31] #2108 closed

[2020-07-16 21:12] jean-edouard commented on #3829
@rmohr, that's probably the issue! The VM is definitely created without cloud-init. However, I could only find examples of adding cloud-init data to VMIs, not VMs. Is that something that has yet to be implemented? If that's complicated, wouldn't it just be easier to fallback to alpine? Thanks

[2020-07-16 22:32] shwetaap opened #3840 "[flaky test] SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3985]should create a virtual machine with sriov interface with custom MAC address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder reported a flaky test:

SRIOV VirtualMachineInstance with sriov plugin interface [test_id:3985]should create a virtual machine with sriov interface with custom MAC address

/root/go/src/kubevirt.io/kubevirt/tests/vmi_multus_test.go:790
MAC "de:ad:00:00:be:ef" was not found in the VMI test

[2020-07-17 03:42] wavezhang opened #3842 "Support ovs port directly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

**What you expected to happen**:
Support start vm with interfaces like following config:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or

[2020-07-17 04:21] #3832 closed

[2020-07-17 04:58] krsacme commented on #3405
/assign @EdDev

[2020-07-17 07:35] rmohr commented on #3829
Something like

[code]

should do the trick.

[2020-07-17 09:52] identw commented on #3827
@rmohr Thank you for answer.
Okay, I will delete the vmi to start it from another image. There is no other way now.

[2020-07-17 09:52] #3827 closed

[2020-07-17 10:19] rmohr commented on #3827
@identw if we talk about single VMs and not a group of VMs, consider using a `VirtualMachine`. It is basically a StatefulSet of size one for VMIs. It also has convenience methos like `virtctl restart` and so forth.

[2020-07-17 19:16] #3078 closed

[2020-07-18 01:38] rajha-korithrien commented on #3495
I have an identical problem when deploying against a Kubernetes cluster that was built via the RKE project. My cluster deployment specifies `--root-dir` for kubelet of `/opt/rke/var/lib/kubelet` which then causes the `launcher-sock` socket to be missed because the `pods` directory is not where kubevirt expects.

There is a similar problem with k3s #2676

It might be nice if kubevirt could detect t

[2020-07-20 01:58] dustymabe commented on #3129
Seems to be working for me!

[2020-07-20 07:29] npu21 opened #3847 "Connect vmi stuck via virtctl console"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Connect vmi stuck via virtctl console

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
v0.30.3
- Kubernetes version (use `kubectl version`):
v1.14.3
- VM or VMI specifications:

[code]
the image,registry.icp.com:5000/cke/cks-ubuntu18:latest is  qcow2 format.
I also tried

[2020-07-20 10:57] #3081 closed

[2020-07-20 10:57] #3068 closed

[2020-07-20 11:54] sgarbour commented on #3732
Hi,

@mazzystr Thanks for approaching this issue.
First I would like to comment that --help and -h works
e.g
./virtctl expose -h

second,
Sounds like a better error handling would be to invoke the help command in case no parameters were passed.
code change I suggest is as follows,
1. exactArgs should be created with different logic from cobra.exactArgs to provide better error message
2. the new ex

[2020-07-20 12:33] ormergi opened #3850 "Test suite: AfterSuite errors"
/kind bug

**What happened**:
SRIOV lane Prow jobs are failing due to AfterSuite error, whether tests passed or not
it also happend once on k8s-1.18 lane:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3755/pull-kubevirt-e2e-k8s-1.18/1280142057649737728
[code]

Debugging this error, I found that deleting the namespace `kubevirt-test-default` at AfterSuite
causing

[2020-07-20 14:04] sgarbour commented on #3732
/assign

[2020-07-21 04:43] y2kenny opened #3858 "Feature request: downwardAPI as supported volume type"
/kind enhancement

Currently supported volume type are listed here:
https://kubevirt.io/user-guide/#/creation/disks-and-volumes?id=volumes

- cloudInitNoCloud
- cloudInitConfigDrive
- persistentVolumeClaim
- dataVolume
- ephemeral
- containerDisk
- emptyDisk
- hostDisk
- configMap
- secret
- serviceAccount

I would like to expose some of the Kubernetes metadata (namespace, node name, etc.) into th

[2020-07-21 10:06] ashleyschuett opened #3863 "[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Delete a VirtualMachineInstance's Pod [test_id:1650]should result in the VirtualMachineInstance moving to a finalized state"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-officer

**What happened**:
[code]

**What you expected to happen**:
Test to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Failed Job:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3852/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1285

[2020-07-21 14:47] oshoval commented on #3318
can be closed ocp is removed from kubevirtci
thanks

[2020-07-21 14:50] ArthurSens commented on #3081
Hello @wavezhang! I was tackling this issue and I was wondering if Kubernetes pod metrics could be enough for this...

Could you share a use-case for this particular metric?

[2020-07-21 21:41] ArthurSens opened #3865 "Migrations observability - new metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
As one of the tasks to improve Kubevirt observability, we should make VMI migrations more observable.
We can start by creating metrics to be exposed to a Prometheus server.

We can create some high-level metrics for the following use-cases:
* As a cluster-admin, I'd like to monitor time spent on migrations to be a

[2020-07-21 21:41] ArthurSens commented on #3865
/assign

[2020-07-22 02:01] wavezhang commented on #3081
@ArthurSens You mean pod memory request or pod memory limit or real-time pod memory usage? None of them are accurate

[2020-07-22 11:14] ArthurSens commented on #3081
Yes, I was thinking about something like [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics) or [metrics-server](https://github.com/kubernetes-sigs/metrics-server).

They are not accurate indeed, but usually, they are enough for alerting or giving a good idea about memory usage. Is there a particular reason for having an accurate metric about total memory available for a VMI?

[2020-07-22 12:50] ArthurSens commented on #3865
Reading prometheus' docs about [Histogram vs Summary](https://prometheus.io/docs/practices/histograms/#:~:text=The%20essential%20difference%20between%20summaries,the%20server%20side%20using%20the), I think that a Histogram would be the best approach for the time spent metric

[2020-07-22 13:02] ArthurSens commented on #3865
I do have some doubts about the migration architecture though. I'm not sure which component should be exposing these metrics.

It is a metric that is shared between all nodes, so they definitely won't be exposed by virt-handler.
I think all metrics will be updated exactly when a migration ends at failed or completed state, but I don't know where that happens

Could anyone share some thoughts here?

[2020-07-22 19:42] jean-edouard commented on #3757
New instance spotted, in a different test and on a non-ipv6 lane:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3869/pull-kubevirt-e2e-k8s-1.17/1285947809488441344

[2020-07-22 19:45] jean-edouard commented on #2566
Seen on 1.18 today: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3869/pull-kubevirt-e2e-k8s-1.18/1285947809471664128

[2020-07-22 19:49] jean-edouard opened #3872 "[Flaky CI] qemu-kvm: failed to initialize KVM: Operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flaky test:
[code]
in this prow job:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3585/pull-kubevirt-e2e-k8s-1.17/1285926381586223104

**What you expected to happen**:
Test to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2020-07-22 19:51] jean-edouard opened #3873 "[Flaky CI] Can't connect to websocket (500): websocket: bad handshake"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flaky test:
[code]
is this prow job:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3856/pull-kubevirt-e2e-k8s-1.18/1285864699644088320

**What you expected to happen**:
Test to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2020-07-22 19:53] jean-edouard opened #3874 "[Flaky CI] command failed: cannot run command [...]kubectl drain node[...]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flaky test:
[code]
in this prow job:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3585/pull-kubevirt-e2e-k8s-1.18/1285926381607194624

**What you expected to happen**:
Test to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2020-07-23 02:48] bryantson opened #3876 "virtctl in Windows 10 throws "Make raw terminal failed: The handle is invalid?" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Running virtctl CLI command in Microsoft Windows 10 through Cygwin/Mingw64 CLI returns "Make raw terminal failed: The handle is invalid?" error. The work-around solution exists by using "winpty" in front of the command, but the limitation remains.

**What you expected to happen**:

virtctl command works correctly in Mic

[2020-07-23 11:45] ArthurSens commented on #3081
hi @wavezhang

Keep track of memory usage percentage to know if the VMIs deployed are being over-dimensioned or under dimensioned for a particular use case

* `kubevirt_vmi_memory_available_bytes` - Would be available memory for the VMI, coming from [DOMAIN_MEMORY_STAT_AVAILABLE](https://github.com/kubevirt/kubevirt/blob/3f59446934da55e3e17e3e8f1ee659ee794ce966/vendor/github.com/libvirt/libvirt-go

[2020-07-23 17:06] #3097 closed

[2020-07-23 22:08] MarkSpencerTan opened #3886 "VMIs Stuck in Scheduled, but accessible through ssh"
/kind bug

There seems to be an issue with the latest versions of Kubevirt ever since version 0.29.0 where our VMIs get stuck in 'Scheduled' phase after a while. When we're on version 0.28.0 it doesn't happen. The odd thing is even though the VMIs report to be in Scheduled state, they could still be accessed using the SSH service for that VM. This is an issue for us since we can't access the VMs t

[2020-07-24 15:22] stu-gott opened #3891 "[Flaky CI][rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine An invalid VirtualMachine given should be rejected when VM template lists a DataVolume, but VM lists PVC VolumeSource [It]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-officer

**What happened**:

[code]

Also, probably same issue:

[code]

**What you expected to happen**:
Test to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Failed job: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-c

[2020-07-24 15:59] stu-gott commented on #3873
Issue observed again on 2020-07-24:

[code]

Prow job: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1286496876157210624#1:build-log.txt%3A646

[2020-07-24 16:08] stu-gott opened #3892 "[Flaky CI][rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance when virt-launcher crashes [test_id:1631]should be stopped and have Failed phase [It]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-officer

**What happened**:

[code]

**What you expected to happen**:
test to pass

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Failed job: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-

[2020-07-24 16:11] stu-gott commented on #3809
Occurred again on 2020-07-24

[code]

Prow job: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1286496876157210624#1:build-log.txt%3A646

[2020-07-26 09:19] ormergi commented on #3405
Hey as for kubevirtci part I think you should consider use the `k8s-fedora-1.17.0` provider which has nodes with Fedora OS
(I also commented at https://github.com/kubevirt/kubevirtci/issues/365)

It could save you lot of time by let you to configure and install missing packages for DPDK at provision stage that already automated like any other kubevirtci provider, instead of figuring out how to wor

[2020-07-26 14:57] RamLavi opened #3895 "[Flaky CI] [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance with user-data without k8s secret [test_id:1630]should log warning and proceed once the secret is there"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
filed test [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance with user-data without k8s secret [test_id:1630]should log warning and proceed once the secret is there
[prow log](https://prow.ci.op

[2020-07-26 14:57] RamLavi commented on #3895
/triage build-officer

[2020-07-26 15:28] RamLavi opened #3896 "Pull-kubevirt-check-tests-for-flakes Job fails on 2 PRs. Seem to fail when handling new files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
2 PRs fail on
- #3871 - [prow log](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3871/pull-kubevirt-check-tests-for-flakes/1287389389390876673#1:build-log.txt%3A30)
- #3883  - [proe log](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3883/pull-kubevirt

[2020-07-27 06:26] wavezhang commented on #3341
/remove-lifecycle stale

[2020-07-27 06:28] wavezhang commented on #3330
/remove-lifecycle stale

[2020-07-27 10:05] rmohr commented on #3354
/close

This will be interesting when we start a new attempt to merge the node-labeller but is not actionable right now us such.

[2020-07-27 10:05] #3354 closed

[2020-07-27 10:47] qinqon opened #3900 "[flaky CI] pull-kubevirt-e2e-k8s-1.16 [rfe_id:3064][crit:medium][vendor:cnv-qe@redhat.com][level:component]Pausing A valid VM when paused via virtctl [test_id:3226]should be restarted successfully into unpaused state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-officer

**What happened**:

The test fails at unrelated change
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3883/pull-kubevirt-e2e-k8s-1.16/1287350007413870593

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2020-07-27 21:46] lucatk commented on #2763
@lxs137 Could you share your resource file for getting either [OSX-KVM](https://github.com/kholia/OSX-KVM) or [macOS-Simple-KVM](https://github.com/foxlet/macOS-Simple-KVM) running on Kubevirt?

[2020-07-28 08:47] rmohr commented on #3886
@MarkSpencerTan thanks for the report. Could share virt-handler logs of that node? Maybe we see there something.

[2020-07-28 08:49] rmohr commented on #3876
@bryantson thanks for the report. We did not even think about windows when we implemented this and are therefore not testing it. Could you explain on how you are using "winpty  in front of the command"?

[2020-07-28 08:50] rmohr commented on #3876
/kind enhancement

Marking as enhancement since we did not target windows with `virtctl console` but if we can, it would be great to add.

[2020-07-28 08:51] rmohr commented on #3847
@npu21 sorry that a response took so long.

Looks like something is blocking the connection. Could it be that you have `NetworkPolicies` defined in your cluster?

[2020-07-28 08:52] rmohr commented on #3842
@phoracek could you help out here?

[2020-07-28 08:54] rmohr commented on #3826
@andreabolognani @crobinso let's meet soon and see if we can switch to coprs to provide qemu/libvirt updates more fluently.

[2020-07-28 08:56] rmohr commented on #3820
@akkibatra could you share your VM/VMI definition? What are GEOM managed drives?

[2020-07-28 08:57] phoracek commented on #3842
@warmchang the supported and Kubernetes way of attaching to network interfaces, including OVS bridges, is to use CNI. You can install [Multus](https://github.com/intel/multus-cni) (allowing you to connect Pods and VMs to secondary interfaces) and [OVS CNI](https://github.com/kubevirt/ovs-cni) (exposing OVS bridges) using an [operator](https://github.com/kubevirt/cluster-network-addons-operator/) o

[2020-07-28 09:00] rmohr commented on #3781
Thanks @crobinso .

/assign @jean-edouard

[2020-07-28 09:01] rmohr commented on #3746
@jean-edouard maybe something you may be able to help with.

[2020-07-28 09:02] rmohr commented on #3745
@waveywaves we have a sidecar-hook solution in place which allows you to modify the domain xml in arbitrary ways. Have a look at https://github.com/kubevirt/kubevirt/tree/master/cmd/example-hook-sidecar for an example. Hope that helps.

[2020-07-28 10:57] oshoval commented on #3619
original problem was fixed by https://github.com/kubevirt/kubevirt/pull/3543
general method by https://github.com/kubevirt/kubevirt/pull/3882

[2020-07-28 11:53] andreabolognani commented on #3826
Yeah, I've been plenty busy with other work but we should definitely try to switch over to the new COPRs soon.

[2020-07-28 13:28] #3619 closed

[2020-07-28 13:31] oshoval commented on #3824
`random: nonblocking pool is initialized`
i see this print that comes randomly, it might kill the expected string if it burst in the middle
we can disable this print maybe in order to avoid such problems, or mount rng?

[2020-07-28 13:35] jean-edouard opened #3901 "ipv6: Tests that use Fedora + dmidecode fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running on the ipv6 lane, tests labelled with "[rfe_id:2926]" fail.

**What you expected to happen**:
The tests to pass.

**How to reproduce it (as minimally and precisely as possible)**:
`export KUBEVIRT_PROVIDER=kind-k8s-1.17.0-ipv6 && make cluster-up && make functest`

**Anything else we need to know?**:
For these

[2020-07-28 15:46] MarkSpencerTan commented on #3886
Thanks @rmohr! here's a gist of the logs:
https://gist.github.com/MarkSpencerTan/58423c8df3b4368cae33b7ea0131e23e

The VMI in question here is called **vr3668sean-gateway**

[2020-07-28 17:03] ormergi opened #3903 "Use one container-disk VM image to *all tests suite"
/kind enhancement

**What happened**:
While working on stabilizing sriov-lane I noticed that there is extensive use of cloud-init
and `cdi-http-import-server` in order to configure the VM before each test.
This methodology causes flakiness to sriov-lane.
I also noticed that we use this methodology of configuring a VM on the fly before test starts
in all tests suite.

I would like to offer differen

[2020-07-28 18:17] jean-edouard commented on #3746
@waveywaves and I already briefly chatted about this.
`ovmfPath` is indeed intended for use-cases that involve a custom virt-launcher image.
Being able to use a custom OVMF_CODE.fd would allow users to self-sign kernels, which would probably be nice to have for some very specific use-cases, but also a significant security concern.
A custom writeable OVMF_VARS.fd location would allow for the persis

[2020-07-28 20:14] jean-edouard commented on #3896
/assign jean-edouard

[2020-07-28 21:55] jchraibi opened #3906 "service not routing to VM anymore after changing VM size because of wrong flavor selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have created a VM of flavor "large" and created a service that routes to that vm. A default selector on the service is created with "flavor=large" among others, and after changing the VM size (RAM, CPU), the selector becomes invalid because the VM is no longer of flavor=large.

**What you expected to happen**:
The servi

[2020-07-28 22:40] mazzystr opened #3907 "minikube adddon kubevirt fails to deploy"
**What happened**:
* Deploy minikube
` minikube start --driver=podman --container-runtime=cri-o`
* Deploy kubevirt addon
`minikube addons enable kubevirt`
* kubevirt addon fails to deploy

**What you expected to happen**:
I expect kubevirt addon to deploy correctly

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]

It appears `-n kube-sy

[2020-07-28 22:46] mazzystr commented on #3907
Frankly the bash script in `pod/kubevirt-install-manager:/kubevirt-scripts/install.sh` is very low grade.  This script needs to be equipped with better conditionals and logging.

[2020-07-29 02:36] Sad-polar-bear opened #3908 "pvc bond to ceph rbd storage not support live migration"
Hi,
   Because of pvc bond to ceph rbd storage not support ReadWriteMany AccessMode,result of vmi can't support live migration.
   How can I do for this?
   thanks

[2020-07-29 07:56] npu21 opened #3909 "kubevirt virt-launcher pod stuck using multus calico"
**What happened**:
[code]
**What you expected to happen**:
virt-launcher running
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
kubelet.log
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
v1.14.3
- Network plugin and version (if this is a network-related bug):
Client Version:    v3.8.0
Git commit:        c84e9f21
Cluster

[2020-07-29 07:58] npu21 commented on #3909
@rmohr ,Could you take a look at this issue? Thanks!

[2020-07-29 08:09] rmohr commented on #3909
Let me pass this on to our multus expert @phoracek :)

[2020-07-29 08:46] AlonaKaplan opened #3910 "test: "start a vm with guest memory different from requested and keed guaranteed qos" is passing due to a bug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:
The test fails but is marked as passed due to a bug.

Sent: "swapoff -a && dd if=/dev/zero of=/dev/shm/test bs=1k count=118k; echo $?\n"

{"component":"tests","kind":"VirtualMachineInstance","level":"info","msg":"[{1 [ $(free -m | grep Mem: | tr -s ' ' | cut -d' ' -f2) -lt 80 ] \u0026\u00

[2020-07-29 09:39] phoracek commented on #3909
Hello @npu21

Could you share the definition of your VM?

Have you tried to run the same scenario with plain Pods?

If you want to use Calico with KubeVirt, you need to enable `ip_forwarding` on it. See this diff to get an idea on what you need to apply to your CNI config: https://github.com/kubevirt/kubevirtci/blob/3ac3596b5c94e22cade3a92e60b869b5ca22e45f/cluster-provision/manifests/cni/calico/sc

[2020-07-29 10:15] npu21 commented on #3909
kubectl describe virt-launcher pod
[code]
I've tried plain pod without multi network and calico assigned IP as expected

[2020-07-29 10:16] phoracek commented on #3909
Have you tried plain Pod *with* multi network or VM with a single network of Calico?

Try to configure `ip_forwarding` as I mentioned, it is likely the cause of your issue.

[2020-07-29 17:07] mazzystr commented on #3907
Interestingly this seems to be a coredns issue.  Coredns ships out the box with the following:
[code]

If I change forward to `forward . 192.168.0.1` then dns within the cluster works correctly.  github.com gets resolved by `pod/kubevirt-install-manager:/kubevirt-scripts/install.sh`.  The curls complete successfully.  KubeVirt deploys successfully.

[2020-07-30 01:27] npu21 commented on #3909
@phoracek hi,
Tried ip_forwarding but still the same error
cat /etc/cni/net.d/00-multus.conf
[code]
kubelet log
[code]
Also tried VMI with a single network of Calico and running well.
Here's my multus vmi yaml
[code]

[2020-07-30 06:39] npu21 commented on #3909
I notice that in the kubelet log,

 and virt launcher pod annotations

                      [{
                          "name": "cni0",
                          "ips": [
                              "100.101.242.84"
                          ],
                          "default": true,
                          "dns": {}
                      },{
                          "name": "cni0",

[2020-07-30 09:54] rmohr commented on #3195
/remove-lifecycle rotten
/lifecycle frozen

[2020-07-30 10:42] hsychla commented on #3369
We are facing the same problem but have not touched anything on that cluster other than deploying VMs.
The cert expired ~2.5 weeks ago.
Is there a solution to this issue that does not require us to reinstall a production cluster?

[2020-07-30 11:06] rmohr commented on #3369
@hsychla which version are you using?

[2020-07-30 11:16] hsychla commented on #3369
v0.19.0.
quite old, I know. but since this is a production cluster, we did not have a chace to update.

I am currently in the process of upgrading to 0.20.5.
But the only mention of cert was in release notes of 0.29.0?
So would we need to go there?

[2020-07-30 11:18] rmohr commented on #3369
@hsychla all certificates should be renewed if you delete all our control-plane pods in these old versions. Just do

[code]

Once the pods were recreated everything should work again.

[2020-07-30 11:19] rmohr commented on #3369
@hsychla I can recommend 0.30.5 (except if you are on gce, there is a qemu issue in there which makes it not work there).

[2020-07-30 11:29] hsychla commented on #3369
This worked nicely, thanks!

[2020-07-30 11:59] phoracek commented on #3909
Aha, now I see you are connecting to Calico as the default network **and** as a secondary one.

Does it work for you with plain Pod? Could you try to attach a basic Pod to the Calico network through Multus? I'd like to be sure it is expected to work with Pods before we get to debug it with a VM.

[2020-07-30 15:39] jean-edouard commented on #3824
Fun to see an example of dmesg "garbage" in the expecter logs.
In this example though, I don't think the print caused the problem. The command was successfully sent and executed, but failed with `1`.

[2020-07-31 03:09] npu21 commented on #3909
Created plain pod as below:
[code]

[code]
seems the same error
[code]

[2020-07-31 05:58] oshoval opened #3917 "make deps-update create a file in vendor folder"
/kind bug

As can see on
https://github.com/kubevirt/kubevirt/pull/3915
Running `make deps-update` creates a file which doesnt exist anymore due to the refactor done at
https://github.com/kubevirt/kubevirt/pull/3767

Possible solutions:
1. add `cluster-up/cluster/kind-k8s-sriov-1.17.0/csrcreator/BUILD.bazel` to git ignore.
2. update `make deps-update` (and all other bazel generators) to skip clust

[2020-07-31 06:13] oshoval commented on #3917
/assign @oshoval

[2020-07-31 07:36] phoracek commented on #3909
Calico does not seem to be built to be used for secondary (Multus) networks. Maybe there is a trick to enable it with Multus, but you may want to ask that on [Calico](https://github.com/projectcalico/calico) project. In any case, this is not a KubeVirt bug.

[2020-07-31 07:57] maiqueb commented on #2566
Hit this today on kind-ipv6:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3794/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1286734977844645888

Test: `Configurations [rfe_id:2926][crit:medium][vendor:cnv-qe@redhat.com][level:component]Check Chassis value [test_id:2927]Test Chassis value in a newly created VM`

[2020-07-31 08:01] maiqueb commented on #3757
Saw this today, on https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3794/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1286734977844645888

Test case: `IOThreads IOThreads Policies [ref_id:2065] should honor auto ioThreadPolicy [test_id:3096]for four CPUs`

[2020-07-31 09:15] rmohr commented on #3886
@MarkSpencerTan which version are you running on? I have the suspicion that this could be fixed by #3520 which should be part of 0.30.5 and 0.31.0.

[2020-07-31 10:04] DanielQujun commented on #3535
Is someone working on this? I think we need add `memory_usage_bytes` for VMI metrics.

[2020-07-31 10:16] chenhaiq opened #3920 "migration failed due to "Cannot migrate empty or read-only disk sda""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
migration failed.

[code]

**What you expected to happen**:
vm can be live migrated to another node

**How to reproduce it (as minimally and precisely as possible)**:
create a vm with:
1. ovs cni network
2. nfs pv
3. focal-server-cloudimg-amd64.img

**Anything else we need to know?**:
kubernetes cluster has 2 nodes. Both of them can

[2020-07-31 10:23] #3920 closed

[2020-07-31 10:34] chenhaiq commented on #3920
this is because cloudInitNoCloud has a read-only disk sda. It can be migrated without this device.

[2020-07-31 12:31] ArthurSens commented on #3535
Hi @DanielQujun, yeah... there was a lot of PRs recently that are improving KubeVirt metrics exposure:

#3841 #3785 #3636 #3568 #3887, also another one that will auto-generate documentation about those metrics #3715

But this proposal has changed a lot since the creation of this issue, the [google doc](https://docs.google.com/document/d/1bEwrnZZkVsCtz0PSyzlxOdhupL6GTurkUYcz7TXFM1g/edit?usp=sharing

[2020-07-31 13:48] DanielQujun commented on #3535
Hi @ArthurSens, thanks for your great enhancement works~

IIRC, most metrics of VMI we exposed ends with `total`, which means we need to calculate to get resource usage rate,  and about memory, I only found `kubevirt_vmi_memory_resident_bytes`.

IMHO, It's common that the user wants to know the VM's realtime load(e.g. CPU utilization, memory usage), then the user could tell that VM's memory is suf

[2020-07-31 19:49] jean-edouard commented on #2566
Got the same with a different devnode! (urandom)
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3905/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1289160100287614977

Tried debugging this, failed but found that:
- It’s not SELinux (happened before it was enforced, also happens in kind, no denials in the logs even with dontaudit -> deny)
- If /dev/null is removed before

[2020-08-01 00:30] MarkSpencerTan commented on #3886
@rmohr , we're running it on v0.31.0 at the moment with the same issues still

[2020-08-01 16:30] #3896 closed

[2020-08-01 16:30] #3917 closed

[2020-08-02 18:10] nunnatsa commented on #3891
[Update - 02-AUG-2020]: failed again:
https://prow.ci.openshift.org/?type=periodic&job=periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4

[2020-08-02 18:11] nunnatsa commented on #3891
[Update 02-AUG-2020] faile again: https://prow.ci.openshift.org/?type=periodic&job=periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4

[2020-08-02 18:18] nunnatsa opened #3924 "[rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine An invalid VirtualMachine given should fail to start when a volume is backed by PVC created by DataVolume instead of the DataVolume itself"
/kind bug

Tes failed in CI: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1289758438993170432

/triage build-officer

[2020-08-02 18:22] nunnatsa commented on #3873
And again on 02-Aug-2020:
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1289758438993170432

[2020-08-03 09:28] rmohr commented on #3886
@MarkSpencerTan thanks,

so this is really weird:

[code]

It looks like virt-handler has properly working watches established to the apiserver, but it can't post anything to the apiserver anymore. This line is the reason why the status is not updated. virt-handler sees that it should update the status to `Running`, but it can't. It tries over and over with a back-off but fails always.

Could you

[2020-08-03 15:25] jean-edouard commented on #3910
/assign @vladikr

[2020-08-03 15:59] LinshanYu opened #3926 "Connecting to libvirt daemon failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

pod log

log is DEPRECATED and will be removed in a future version. Use logs instead.
{"component":"virt-launcher","level":"info","msg":"Collected all requested hook sidecar sockets","pos":"manager.go:68","timestamp":"2020-08-03T15:12:23.234024Z"}
{"component":"virt-launcher","level":"info","msg":"Sorted all collected sidecar socke

[2020-08-03 17:05] orenc1 commented on #3924
recurred [today](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1290120822886764544) as well on the nightly build.

[2020-08-03 17:36] ArthurSens commented on #3535
hi @DanielQujun, once #3927 gets merged, I think it will be possible to do what you are describing

[2020-08-03 18:15] orenc1 opened #3928 "[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]should be able to boot from selected disk [test_id:1628]Cirros as first boot"
/kind bug
/triage build-officer

**What happened**:
`[Fail] [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance with boot order [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]should be able to boot from selected disk [It] [test_id:1628]Cirros as first bo

[2020-08-04 00:58] #3926 closed

[2020-08-04 01:46] npu21 opened #3933 "virt-launcher and vmi failed to start [panic: timed out waiting for domain to be defined]"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
vmi yaml
[code]
describe virt launcher pod
[code]
virt-launcher pod log:

Error from server (BadRequest): a container name must be specified for pod virt-launcher-test-vmi8-ng7d9, choose one of: [compute volumecontainerdisk] or one of the init containers: [container-disk-binary]
root@mgt01:/home/test/kubevirt# kubectl logs

[2020-08-04 03:09] npu21 commented on #3909
Seems to be so. Thanks!

[2020-08-04 03:09] #3909 closed

[2020-08-04 03:10] npu21 commented on #3933
@phoracek @rmohr Could you pls take a look？Thanks in advance！

[2020-08-04 07:44] phoracek commented on #3933
Please share the `NetworkAttachmentDefinition` you are referring to in the spec.

[2020-08-04 08:19] npu21 commented on #3933
Sure,
[code]

[code]

[2020-08-04 08:21] phoracek commented on #3933
macvtap-cni won't work with `bridge` binding. You would need to use a special binding that is being developed as a part of https://github.com/kubevirt/kubevirt/pull/2935

[2020-08-04 08:31] maiqueb commented on #3933
Unfortunately the work to get the macvtap bind mechanism (PR #2935) merged had to be postponed (it's currently failing on 2 functional tests that I need to debug), but I'll resume it ASAP.

[2020-08-04 08:35] npu21 commented on #3933
Thank you both @phoracek @maiqueb ,need it very much

[2020-08-04 13:36] npu21 commented on #3933
I trid calico+macvlan and got this error:

{"component":"virt-handler","kind":"","level":"info","msg":"VMI is in phase: Scheduled\n","name":"test-vmi8","namespace":"kube-system","pos":"vm.go:1035","timestamp":"2020-08-04T11:57:50.989866Z","uid":"7b1f3b18-d649-11ea-a182-525400a630d9"}
{"component":"virt-handler","level":"info","msg":"Domain does not exist","pos":"vm.go:1042","timestamp":"2020-08-04

[2020-08-04 15:10] phoracek commented on #3933
The same setup worked for me. The only difference was that I defined the network as NetworkAttachmentDefinition object, not as a file on the disk. Could you try that?

[code]

[2020-08-04 20:03] birdiesanders opened #3934 "Cannot ssh to running Vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I followed the lab2 tutorial, and cannot get ssh access to the machine.
**What you expected to happen**:
passwordless login via ssh_key
**How to reproduce it (as minimally and precisely as possible)**:
Install according to tutorial, use virtctl to expose the Vm, attempt to connect.

**Anything else we need to know?**:
CIV

[2020-08-04 22:04] maya-r commented on #3365
I don't have a problem with the existence of a patch functionality but I'd rather we also offer a proper API for what seem like very reasonable requests. We seem to be discussing a more proper API for the proposed use cases in https://github.com/kubevirt/hyperconverged-cluster-operator/pull/718, perhaps you can add to this discussion by explaining various things you'd like to have added to the kub

[2020-08-05 03:30] DanielQujun opened #3935 "[FEATURE REQUEST] add version subcommand for Kubevirt component"
Hi, guys.

Looks like we do not have a version subcommand, wish we could add it. It would be useful at some usercases~

[2020-08-05 03:38] DanielQujun opened #3936 "[FEATURE REQUEST] Add list subcommand for virtctl"
Hi, guys.

when I try to operate a VMI, I need to use `kubectl get vmi` to get VMI's Name, It might be convenient if we add list VM subcommand for `virtctl`.

[2020-08-05 08:19] #2676 closed

[2020-08-05 14:22] mazzystr opened #3943 "Multiple virtctl binaries for 64bit Linux"
/kind bug

**What happened**:
While updating the virtctl section of the quickstart page I noticed there are multiple binaries for 64bit Linux... amd64 and x86_64.  Which one is correct?  Which one do we want to advertise?  Can we drop the unnecessary build?

**Anything else we need to know?**:
https://github.com/kubevirt/kubevirt/releases

[2020-08-05 15:07] ormergi commented on #3850
When using customized container-disk image w/o CDI operator the AfterSuite errors are gone
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3797/pull-kubevirt-e2e-kind-1.17-sriov/1290711903110172672
PR #3797

[2020-08-05 23:44] cchengleo commented on #3086
Hi @wavezhang,

I recently also encounter this issue with minikube. This issue results from a minor bug.

KubeVirt’s virt-operator checks the existence of the `MonitorNamespace` and `MonitorServiceAccount`. KubeVirt will automatically create a ServiceMonitor resource in the monitorNamespace, as well as an appropriate role and rolebinding in KubeVirt’s namespace.

https://github.com/kubevirt/kubevi

[2020-08-06 00:11] ArthurSens commented on #3086
hi @cchengleo

I was facing that issue for some weeks now. Just curious, how did you manage to debug that? I wanted to fix this, but I didn't even know how to start.

anyways, I'm glad you found the problem

[2020-08-06 00:42] cchengleo commented on #3086
Hi @ArthurSens ,

I am new to KubeVirt so I am not sure whether my methodology is the best practice. Here is the replay:

1. From what mention by @wavezhang:

I tried the same practice (i.e., deploy kube-prometheus and create openshit-monitoring in minimum) and noticed that the `kubevirt-install-strategy` configmap was created with valid `MonitorService`.

2. I checked the code and confirmed the l

[2020-08-06 11:38] ArthurSens commented on #3086
I tried and couldn't find anything wrong with the code... so the way that works is the better way I guess :)
I was just curious about how you approached this, thanks again

[2020-08-06 12:51] dankenigsberg commented on #3907
/cc @ashleyschuett

[2020-08-06 12:54] maiqueb commented on #2925
I think that you might be interested in PR #2935 , which adds a macvtap binding mechanism, that will plug the char device part of macvtap into the VM, effectively achieving what you're after.

[2020-08-06 15:57] yuvalturg opened #3948 "[rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine"
/kind bug
/kind build-officer

**What happened**:

• Failure [64.461 seconds]
[rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine
/root/go/src/kubevirt.io/kubevirt/tests/vm_test.go:53
  An invalid VirtualMachine given
  /root/go/src/kubevirt.io/kubevirt/tests/vm_test.go:67
    should be rejected when VM template lists a DataVolume, but VM lists PVC VolumeSource [It]

[2020-08-07 13:48] tomob opened #3951 "Repeating problems with test env provisioning"
Possibly a problem with networking or disk space. Hints:

* Timeout waiting for VM to be up: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirtci/403/check-provision-k8s-1.15/1291708839774654464
* Timeout fetching an external resource (`Curl error (28): Timeout was reached for http://ftp.usf.edu/pub/centos/8.2.2004/BaseOS/x86_64/os/Packages/patch-2.7.6-11.el8.x86_64.

[2020-08-07 14:12] #3127 closed

[2020-08-09 07:52] oshoval opened #3955 "Test 1780 doesnt detect traceroute failures"
/kind bug

**What happened**:
The test use traceroute, and didnt detect when it fails.
Found out by Injecting an error (use traceroute of ipv6 address with a vm without ipv6 address).

**What you expected to happen**:
Test should detect the error.

**How to reproduce it (as minimally and precisely as possible)**:
tests/vmi_networking_test.go
Replace `if netutils.IsIPv6String(serverIP) {` to true

[2020-08-09 07:52] oshoval commented on #3955
/assign @oshoval

[2020-08-09 09:49] maya-r commented on #3717
Currently hitting a [timeout](https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1292295170280132608):
[code]

[2020-08-09 09:52] #3035 closed

[2020-08-09 14:15] #3955 closed

[2020-08-10 08:14] npu21 opened #3959 "Can't ssh vmi when vmi use masquerade network interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
[code]
[code]
[code]
[code]
And ‘allow_ip_forwarding‘  configuration is true
[code]
Could not connect
[code]

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`): v0.30.3

[2020-08-10 08:15] fabiand commented on #2902
/remove-lifecycle rotten

[2020-08-10 13:11] arnongilboa opened #3963 "Creating a VirtualMachineInstance with default cpu model [It] [test_id:3199]should set default cpu model when vmi doesn't have it set"
/kind bug
/triage build-officer

**What happened**:
[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3791/pull-kubevirt-e2e-k8s-cnao-1.17/1292727402945843200

[2020-08-10 13:25] arnongilboa opened #3964 "Networking VirtualMachineInstance with dhcp options [It] [test_id:1778]should offer extra dhcp options to pod iface"
/kind bug
/triage build-officer

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3888/pull-kubevirt-e2e-k8s-cnao-1.17/1292723654873845760

Fixed by: #3953

[2020-08-10 13:26] xpivarc commented on #3304
/assign

[2020-08-10 13:44] arnongilboa opened #3965 "VirtualMachineInstance with CPU pinning cpu pinning with fedora images, dedicated and non dedicated cpu should be possible on same node via spec.domain.cpu.cores [It] [test_id:832]should start a vm with cpu pinning after a vm with no cpu pinning on same node"
/kind bug
/triage build-officer

**What happened**:
[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3946/pull-kubevirt-e2e-k8s-1.16/1292722620919189508

[2020-08-10 13:58] alonSadan commented on #3964
/assign @alonSadan

[2020-08-10 15:04] arnongilboa opened #3968 "A new VirtualMachineInstance with a serial console [It] [test_id:1593]should fail waiting for the virtual machine instance to be running"
/kind bug
/triage build-officer

**What happened**:
[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3947/pull-kubevirt-e2e-k8s-1.17/1292709939151638528

[2020-08-10 15:24] arnongilboa opened #3969 "Certificate Management CA certificate bundle should suggaest a rotation on the certificate according on 80% of the certificate lifespan [It] with a long valid CA"
/kind bug
/triage build-officer

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3946/pull-kubevirt-unit-test/1292722620914995200

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3930/pull-kubevirt-unit-test/1292817408158863360

[2020-08-10 18:04] AlonaKaplan commented on #3964
PR https://github.com/kubevirt/kubevirt/pull/3953 solves the issue.

[2020-08-10 18:16] AlonaKaplan commented on #3824
PR #3882 fixes the dmesg garbage issue.

[2020-08-10 18:18] AlonaKaplan commented on #3824
@arnongilboa you mentioned in today's build officer report this bug was reproduced. Can you please attach link to the fresh prow failing job?

[2020-08-10 18:27] #3964 closed

[2020-08-10 21:11] davidvossel commented on #3638
I started work on this feature here, https://github.com/kubevirt/kubevirt/pull/3970

I purposefully limited it to containerDisks for the time being with no chaining of multiple backing files. For multiple backing files, i believe the API is structured in a way that leaves the door open to that discussion in the future. A simple solution would be to have a list of backing volumes rather than a sing

[2020-08-11 07:53] arnongilboa commented on #3824
@AlonaKaplan,
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3843/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1292710451993382912

[2020-08-11 12:52] awels commented on #3702
Another instance here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3961/pull-kubevirt-e2e-k8s-1.18/1293065443031912448

[2020-08-11 13:01] awels opened #3974 "VirtualMachine VM rename VM update should succeed"
/kind bug
/triage build-officer

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3883/pull-kubevirt-e2e-k8s-1.18/1292970397448278016

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt

[2020-08-11 13:04] awels commented on #3664
Another instance of this: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3961/pull-kubevirt-e2e-k8s-1.16/1292906884843442176

[2020-08-11 13:07] awels commented on #3644
I am seeing this particular test fail here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3946/pull-kubevirt-e2e-k8s-1.16/1292962824393330688 but that might just be the CI being super slow.

[2020-08-11 13:24] awels opened #3975 "Networking VirtualMachineInstance with disabled automatic attachment of interfaces [test_id:1774]should not configure any external interfaces"
/kind bug
/triage build-officer

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3961/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1293065443069661184

/root/go/src/kubevirt.io/kubevirt/tests/vmi_networking_test.go:511
Unexpected Warning event received: testvmi4nnwm5l4szx6c6pwwkvhdm4wbkvd8vfr7cmd5vw95x49z

[2020-08-11 13:30] awels opened #3976 "Starting and stopping the same VirtualMachineInstance with ephemeral registry disk [test_id:1463]should success multiple times expand_more"
/kind bug
/triage build-officer

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3961/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1293065443069661184

/root/go/src/kubevirt.io/kubevirt/tests/container_disk_test.go:110
Unexpected Warning event received: testvmibrscc5ffthnjslf4vlc97f45llhpqs4s498q88b6tqpf8

[2020-08-11 13:32] awels commented on #3811
Another instance here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3961/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1293065443069661184

[2020-08-12 10:59] brybacki commented on #3924
and today https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1293382309428334592

[2020-08-12 11:00] brybacki commented on #3891
again: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1293382309428334592

[2020-08-12 13:09] cjreyn opened #3983 "Control where Kubevirt pulls disk iamges from"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**Question**:
Is there a recommended way of restricting/controlling the images that can be used? In my organization we would want to limit images to be deployed from a certain registry only. I noticed there is an admission control webhook. Could this be used or extended? Would Open Policy Agent be preferred?

[2020-08-12 15:35] dhiller opened #3984 "Release v0.32.0 dropped virtctl-linux-amd64 binary, determine why it disappeared"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In [kubevirt v0.32.0 release](https://github.com/kubevirt/kubevirt/releases/tag/v0.32.0) the virtctl amd binary was dropped, i.e. `virtctl-v0.32.0-linux-amd64` is missing.

When asking in the community meeting today about whether it would be required I was told that the two linux binaries (`amd64` vs `x86_64`) would be i

[2020-08-12 17:01] ipolonsk opened #3985 "virtctl image-upload get stack and access-mode flag doesn't apply for the image-scratch pvc"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm trying to upload a disk image (Centos 8) using the 'virtctl image-upload':
[code]
using the flag **--access-mode=ReadWriteMany**
This is the output of the command:
[code]
and no "Processing completed successfully" output even after few hours.
while checking the PVC, I noticed the mode for the centos8 is as provided in

[2020-08-13 07:00] oshoval opened #3987 "Suggestion, improve travis / make generate targets by reusing intermediate products"
/kind enhancement

**What happened**:
Running Travis even after `make generate` was moved to prow, still take lots of time for the 2 tasks,
looking on travis log, it seems some sub targets which are time consuming, such as "generate.sh" or "bazel-generate.sh"
run couple times.

Worth to check if reordering and using intermediate products for decisions other tests are doing there,
is possible (and

[2020-08-13 07:00] oshoval commented on #3987
/cc @EdDev

[2020-08-13 08:29] dhiller commented on #3984
Interesting about this is that [goarch list](https://github.com/golang/go/blob/master/src/go/build/syslist.go) does **not** contain the value x86_64.

[2020-08-13 09:17] #3159 closed

[2020-08-13 10:55] dhiller commented on #3984
The `ARCHITECTURE` value that is used is derived here: https://github.com/kubevirt/kubevirt/blob/3567e9feec920e194932727b708f0d175c6cd0c4/hack/common.sh#L19

On local machine this yields `x86_64`.

The change enabling this behaviour was introduced here: https://github.com/kubevirt/kubevirt/commit/220b6f8392cac5550dbe1ac9e97877d4dee888e9#diff-76ed4b9fac47b19f6b81d5c70501de86R51

Still unclear why t

[2020-08-13 11:15] #3304 closed

[2020-08-13 12:03] fabiand commented on #320
Hey - Good for getting back.

So - There were _many_ brainstorms by different groups of how to achieve this.

@awels has actually started to look into this.

[2020-08-13 13:49] omeryahud opened #3990 "[Flakey CI] [rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set with multiple VMIs with eviction policies set [test_id:3245]should not migrate more than two VMIs at the same time from a node"
/kind bug
/triage build-officer

**What happened**:
Flakefinder found this test to be flakey:
[code]
It failed during this job:

- https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3947/pull-kubevirt-e2e-k8s-1.17/1293384254578757632

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2020-08-15 05:38] headwhacker commented on #1491
https://kubevirt.io/user-guide/#/installation/updating-and-deleting-installs?id=deleting-kubevirt

Following this document. Managed to remove the kubevirt namespace, validatingwebhookconfigurations and some apiservices.

However, when I delete these 4 apiservices. they just keep coming back. Anyone has any idea why?

 $ kubectl delete  apiservices v1alpha1.cdi.kubevirt.io v1alpha1.snapshot.kubevir

[2020-08-16 09:13] #3180 closed

[2020-08-16 09:53] #3793 closed

[2020-08-16 19:11] fabiand commented on #1491
Not really answering your question: But are you using the operator? Because
then the uninstall flow is much simpler

[2020-08-16 20:19] tliron commented on #3442
/remove-lifecycle stale

[2020-08-17 06:21] #2947 closed

[2020-08-17 06:28] maiqueb commented on #3421
@AlonaKaplan can we close this ?

[2020-08-17 07:10] ksimon1 commented on #3389
/remove-lifecycle stale

[2020-08-17 08:25] slintes commented on #3984
This catched my eyes, because IIRC building and releasing multiple virtctl variants was one of my first PRs for KubeVirt :)
I would add option 3:

3. Revert relevant parts of the change mentioned above: the build (which builds release artifacts) should not depend on the machine the build is running on. If you need additional binaries (and images), either add them to the list with hardcoded arch (a

[2020-08-17 08:31] rmohr commented on #3984
Must have to do something with travis I guess.

Yes, virtctl should not depend  on the architecture. It should just always be built and released for all supported architectures. Let's fix that. THanks @slintes .

[2020-08-17 09:19] dhiller commented on #3984
@slintes so you're saying we should build virtctl like before, I understand. But still the issue with the duplicate binary persists, and you are saying we should keep it that way (i.e. build **both** binaries for `x64_64` **and** `amd64` even though they are duplicates?

[2020-08-17 09:22] rmohr commented on #3984
Created #3993. I think we never intended to release x86_64. I would just go back to what  we intended: releasing -amd64.

FYI the amd64 binary is now present on the 0.32 release.

[2020-08-17 09:27] rmohr commented on #3984
Note that golang only list `amd64`: https://golang.org/doc/install/source#introduction in general.

[2020-08-17 09:33] dhiller commented on #3984
Great, thanks!

[2020-08-17 10:38] rmohr commented on #3985
@mhenriks @awels  maybe you could have a look.

[2020-08-17 10:40] rmohr commented on #3983
@cjreyn a pod webhook would probably work. It may look a little bit strange for users, since they would see a successful VMI creation and then see warning events that the image is not accepted when the VMI is scheduled.

What exactly is k8s doing in that area?

[2020-08-17 10:41] rmohr commented on #3943
@mazzystr finally identified and a fix is pending in #3993. The binary is now also on release-0.32. We will drop the x86_64 ending and only release the amd64 one (like it was intended).

[2020-08-17 10:48] rmohr commented on #3951
That should be fixed with moving our CI caches to a dedicated node.

THis is basically bad luck. We can't do here much than just retriggering. The provision jobs on kubevirtci are intended to pull in all these resources to avoid issues like that then in repos like kubevirt/kubevirt.

That was due to some core dumps which ate up the whole disk space also fixed.

[2020-08-17 10:48] rmohr commented on #3951
/close

[2020-08-17 10:48] #3951 closed

[2020-08-17 10:49] rmohr commented on #3959
@phoracek could you help out here?

[2020-08-17 10:51] rmohr commented on #3906
@ksimon1 I wonder if the flavour should be a label at all. Maybe it should be an annotation instead?
/assign @ksimon1

[2020-08-17 10:59] cjreyn commented on #3983
I installed Open Policy Agent to test this. It provides a framework to programmatically define policy based upon the admission control webhooks. I tested it rejecting pods based upon the image name which worked fine. From what I can tell, it would work fine with Custom Resources too.

I believe that OPA wouldn't interfere with the existing admission control webhook that Kubevirt provides, since al

[2020-08-17 11:18] rmohr commented on #3983
Great. Let us know if there is anything which you would needed changed in kubevirt to make it work seamlessly with Open Policy Agent.

[2020-08-17 11:28] rmohr commented on #3936
@DanielQujun did you have a look at the krew plugin for virtctl https://github.com/kubevirt/kubectl-virt-plugin?

After you install virtctl with it you can basically do this:

[code]

Would that already be a good enough improvement for you?

[2020-08-17 11:31] rmohr commented on #3935
Did you try `virtctl version`? There is also a rest endpoint to get the information: https://kubevirt.io/api-reference/master/operations.html#_version.

[2020-08-17 11:49] awels commented on #3985
So the scratch space having RWO is on purpose. The scratch space can conceptually be any storage class, including a local one. Nothing that it provides requires RWX, so to keep it possible to create scratch space for any storage class, we use RWO. As the PVCs got bound, there was no problem there.

Do you know which version of NFS you are running, we have found v3 to have some issues with CDI.

[2020-08-17 11:51] phoracek commented on #3959
@npu21 try explicitly setting the SSH port on the spec:

[code]

See https://github.com/kubevirt/kubevirt/issues/3312.

[2020-08-17 13:23] DanielQujun commented on #3935
sorry, I did not know that. my case is sometimes we need to check the version or git commit ids before we push to the production environment, so it might be convenient if check it offline.

[2020-08-17 13:25] rmohr commented on #3935
you mean running it on the container image binaries?

[2020-08-17 13:26] DanielQujun commented on #3936
yes, I'll check it.

[2020-08-17 13:26] #3936 closed

[2020-08-17 13:27] DanielQujun commented on #3935
yes~

[2020-08-17 13:32] rmohr commented on #3935
There should be a `/.version` file in every container which we build. Is that sufficient?

[2020-08-17 13:58] #3935 closed

[2020-08-17 15:42] talcoh2x commented on #2766
i have the same issue
apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: testvm
spec:
  #terminationGracePeriodSeconds: 30
  # pass: gocubsgo
  # user: cirros
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/size: small
        kubevirt.io/domain: testvm
    spec:
      domain:
        devices:
          disks:
            - name: containerdisk

[2020-08-17 16:00] talcoh2x opened #3999 "KubeVirt for HA"
Hi, first I want to say you developed a cool Kubernetes plugin! :)
I start to check kubevirt for HA and I have a couple of qus:
- can I use with kubevirt for HA? if yes, what I should take care of?
- Today I'm using with Rancher. do you have a recommendation for other platforms?

and i'll happy to get help with a different thing,
I'm able to run VM and VM,  right now I'm using with same demo image

[2020-08-17 16:33] alonSadan commented on #3840
hopefully #4001 will solve it.
/assign @alonSadan

[2020-08-17 16:34] alonSadan commented on #3774
hopefully #4001 will solve it.
/assign @alonSadan

[2020-08-17 16:34] alonSadan commented on #3747
hopefully #4001 will solve it.

[2020-08-17 16:56] talcoh2x commented on #3999
btw, if I'm changing the spec to  '{"spec":{"running":true}}' its working and I'm able to run ssh to Host. but still virtctl does not work

[2020-08-17 19:42] AlonaKaplan commented on #3421
@maiqueb if you can attach the pr that fixed the issue before closing, it can be great.

[2020-08-17 20:20] peng-isi opened #4002 "VM with VFIO stuck in pending"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 kind bug

**What happened**:
When I created a VM instance configure with SRIOV network interface (Mellanox IB interface), the VMI stuck in pending status.  I appended the config map, network attachment definition and debugging information. I am not sure what is wrong with my configuration.

Any help and suggestion is appreciated.

- I use the followi

[2020-08-17 20:34] shwetaap opened #4003 "[Flakey Test] Configurations VirtualMachineInstance definition [rfe_id:893][crit:medium][vendor:cnv-qe@redhat.com][level:component]with rng [test_id:1675]should not have the virtio rng device when not present"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Test fails
Configurations VirtualMachineInstance definition [rfe_id:893][crit:medium][vendor:cnv-qe@redhat.com][level:component]with rng [test_id:1675]should not have the virtio rng device when not present

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3938/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/

[2020-08-17 20:44] shwetaap opened #4004 "[Flakey Test] VM Live Migration Starting a VirtualMachineInstance with an Cirros shared ISCSI PVC [test_id:3240]should be successfully with a cloud init"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:

[rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with an Cirros shared ISCSI PVC [test_id:3240]should be successfully with a cloud init

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3973/pull-kube

[2020-08-18 06:45] maiqueb commented on #3421
They're already mentioned above:
  - #3454
  - #3429

I fail to see a button to close this issue, hence I'm reaching out for you to hit it (I'm assuming closing issues require approver rights).

[2020-08-18 08:52] rmohr commented on #4004
/close

Thanks @shwetaap, closing this as a duplicate of #3872.

[2020-08-18 08:52] #4004 closed

[2020-08-18 08:54] rmohr commented on #4003
/close

Thanks @shwetaap closing this as a duplicate of #2566

[2020-08-18 08:54] #4003 closed

[2020-08-18 08:54] rmohr commented on #2566
/triage build-officer

[2020-08-18 08:55] npu21 commented on #3959
RESOLVED，Thanks！

[2020-08-18 08:55] #3959 closed

[2020-08-18 08:58] rmohr commented on #3990
I see in https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3947/pull-kubevirt-e2e-k8s-1.17/1293384254578757632/artifacts/k8s-reporter/pods/1_kubevirt-test-default_virt-launcher-testvmignbrjbfwq6p5br7vzc5rbzw56lrpc47fjx2s2n29bd-compute.log:

[code]

and over and over

[code]

@davidvossel could you have a look?

[2020-08-18 09:00] rmohr commented on #3983
/close

So to summarize, we don't have any preferred ways on how admins block unwanted content. Open Policy Agent is definitely fine from a KubeVirt perspective. @cjreyn if that answer is not good enough for you, feel free to reopen the issue.

[2020-08-18 09:00] #3983 closed

[2020-08-18 09:01] rmohr commented on #3976
/close

@awels thanks, closing this as a duplicate of #2566.

[2020-08-18 09:01] #3976 closed

[2020-08-18 09:02] rmohr commented on #3975
/close

@awels thanks.

Closing this as a duplicate of #2566

[2020-08-18 09:02] #3975 closed

[2020-08-18 09:58] rmohr commented on #3969
/assign

[2020-08-18 09:59] rmohr commented on #3990
/assign @davidvossel

[2020-08-18 10:06] rmohr commented on #3974
@enp0s3 we found a bug here. Have a look at https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3883/pull-kubevirt-e2e-k8s-1.18/1292970397448278016/artifacts/k8s-reporter/pods/1_kubevirt_virt-controller-5666d5dfbd-sgjgp-virt-controller.log:

The relevant error:

[code]

I think the issue is that it can happen that a rename request is actually happening before the VM-control

[2020-08-18 10:06] rmohr commented on #3974
/assign @enp0s3

[2020-08-18 11:23] oshoval opened #4009 "[Flaky CI] [test_id:3090]should be continued after the VMI is unpaused"
/kind bug

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4005/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1295622272194711552

This test is flaky (saw couple failures)
[code]

**What you expected to happen**:
Test should pass

The mentioned PR is not connected, it just link it, because i mentioned this issue there (after it was flake there, but not

[2020-08-18 11:25] rmohr commented on #3749
/close

Thanks @tiraboschi closing this as a duplicate of #2566

[2020-08-18 11:25] #3749 closed

[2020-08-18 11:26] rmohr commented on #3753
/close

Thanks @tiraboschi, closing this as duplicate of #2566

[2020-08-18 11:26] #3753 closed

[2020-08-18 11:27] rmohr commented on #3822
/close

Thanks @akrejcir, closing this as duplicate of #3872

[2020-08-18 11:27] #3822 closed

[2020-08-18 11:35] rmohr commented on #4002
/assing @phoracek

could you have a look?

[2020-08-18 11:38] rmohr commented on #3999
@talcoh2x regarding the virtctl issue, I think that you need to configure your rancher account a little bit different than the default is. Check out https://github.com/kubevirt/kubevirt/issues/3760, it should describe what you have to do.

[2020-08-18 11:39] rmohr commented on #3999
@talcoh2x kubevirt can support a range of HA scenarios, but it depends on what you actually need. Do you just want that the VM gets automatically restarted when it is shut down or crashes? Do you want a standby machine for e.g. web applications?

[2020-08-18 11:39] rmohr commented on #3987
/assign

[2020-08-18 11:41] rmohr commented on #3934
/assign @codificat

@codificat who can help with the tutorials?

[2020-08-18 11:42] rmohr commented on #3908
/assign @aglitke

Sorry that you needed to wait so long for a response. @aglitke could you help out here?

[2020-08-18 11:47] rmohr commented on #3863
/close

Thanks @ashleyschuett closing this as a duplicate of #3757

[2020-08-18 11:48] #3863 closed

[2020-08-18 11:48] rmohr commented on #3748
/close

Thanks @tiraboschi  closing this as a duplicate of #3757

[2020-08-18 11:48] #3748 closed

[2020-08-18 13:04] talcoh2x commented on #3999
Hi @rmohr
ill check the link that you sent me regarding the virtctl thanks!

about the Kubevirt, my plan ( and I still don't know if it's possible ) is  to use with kubevirt to lunch number of VM per KVM it can be 1 or more (e.g: 6,7,8 ...)
for each one, I need to define the number of PCI devices that I want to expose ( PCI device I mean like a GPU device) and on top of that, I can run my workload

[2020-08-18 14:36] davidvossel commented on #3990
sounds like another reason to move the metadata out of the domain

[2020-08-18 15:11] maiqueb commented on #3421
/close

Fixed by #3454 , #3429 .

[2020-08-18 15:11] #3421 closed

[2020-08-18 17:40] talcoh2x commented on #3999
@rmohr thanks! with #3760, it took me 5 min to fix the issue.

I have just one thing, I'm able to open the serial console with
**./virtctl console  testvm2**  and even with **kubectl virt console testvm2**

but **./virtctl vnc testvm2** show me black screen witout the option to do/see something.

any idea?

[2020-08-18 19:39] davidvossel commented on #3990
The issue doesn't have to do with the qemu agent or a failure to get metadata, all of that is transient and/or mostly benign.

Here's the timeline.

- VMI starts on node1
- eviction controller migrates VMI
- migration fails
- time passes
- eviction controller tries to migrate VMI again
- migration fails with "migration job already executed"
- time passes
- eviction controller tries to migrate VMI

[2020-08-18 21:28] davidvossel commented on #3990
This issue goes pretty deep, but here's what I know... A VMI migration fails, and then subsequent attempts to migrate the same VMI continue to fail indefinitely afterwards

This sort of issue has been a sore spot for us for awhile and continues to cause issues.

What we need is a functional test like the disabled [1] that causes a vmi migration to fail, then we need to ensure that subsequent migra

[2020-08-18 21:36] davidvossel commented on #3990
@rmohr i have a theory...

https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-handler/cmd-client/client.go#L226

We're using the activePods list to find the command client. When a migration fails, that pod is never removed from the ActivePods list, furthermore the pod can keep going for awhile and remain active i believe. I actually found 4 pods in the ActivePods list for the vmi in questio

[2020-08-19 07:38] rmohr commented on #3990
@davidvossel sounds like a high-impact issue. Would be great if you can investigate it further and resolve it.

[2020-08-19 07:40] ksimon1 commented on #3772
occured today again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4000/pull-kubevirt-e2e-k8s-1.16/1295913091296399360
but with different error:
[code]

[2020-08-19 07:46] rmohr commented on #3129
Fixed.

/close

[2020-08-19 07:46] #3129 closed

[2020-08-19 08:01] phoracek commented on #4002
@peng-isi could you please show resources available on your nodes? Using `kubectl get nodes -o yaml | grep vfio_ib_sriov`. I believe you miss a prefix for the requested resources on NetworkAttachmentDefinition. It should be something like `<prefix>/vfio_ib_sriov`.

BTW, I'd recommend you to use [SR-IOV operator](https://github.com/openshift/sriov-network-operator) which is what we test with and it

[2020-08-19 11:07] ksimon1 opened #4017 "some presubmit tests are failing due to: no space left on device"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-officer

**What happened**:
some presubmit tests are failing due to no space left on device. E.g.:
https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3972/pull-kubevirt-e2e-k8s-1.16/1296030638830260224/build-log.txt?Expires=1597835686&GoogleAccessId=prow-46%40kubevirt-240711.iam.gserviceaccount.com&Signa

[2020-08-19 11:09] rmohr commented on #4017
Thanks, I again manually deleted the coredumps right now. Will ping the infra guys again.

[2020-08-19 11:23] ksimon1 commented on #3673
occured again
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1295919041008898048

[2020-08-19 11:26] oshoval commented on #3673
[code]
i would suggest to open a new issue, its not the original issue that is described in the topic, just tne same test number.

[2020-08-19 11:27] ksimon1 commented on #3891
It occurred again https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-hyperconverged-cluster-operator-release-4.5-hco-e2e-nightly-bundle-release-4-5-azure4/1295919041008898048
But since the PR was merged two hours ago, I am not sure if the failing test was testing the old code without fix.

[2020-08-19 11:34] ksimon1 opened #4018 "[Flakey CI] [test_ids:3198]device plugins should re-register if the kubelet restarts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
[rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance when virt-handler is responsive [test_ids:3198]device plugins should re-register if the kubelet restarts
[code]

Failing j

[2020-08-19 11:34] ksimon1 commented on #3673
I created a new issue https://github.com/kubevirt/kubevirt/issues/4018

[2020-08-19 12:42] ksimon1 opened #4019 "[Flakey CI] kube-admission library Check objects recovery should be able to recover from mutatingWebhookConfiguration caBundle deletion"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-officer

**What happened**:
kube-admission library Check objects recovery should be able to recover from mutatingWebhookConfiguration caBundle deletion

[code]
Failing job: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_cluster-network-addons-operator/509/pull-e2e-cluster-network-addons-operator-kubemac

[2020-08-19 16:34] peng-isi commented on #4002
@phoracek thanks for your help.
I run the "kubectl get nodes -o yaml|grep vfio_ib_sriov" command and get no output. I configured 4 VFs on the IB interface (Mellanox) and bind two of them to vfio. However, the VFIOs are not recognized by the device plugin daemon. When I run the "kubectl get nodes -o yaml" and the "lspci -nnv" commands ( on hp6 in my case), I got the following outputs

output of the

[2020-08-19 20:28] davidvossel commented on #3990
i have a test that I think will reliably cause a migration to fail.  I was able to confirm that the target pod outlives (and is running) beyond the point where the migration fails.

I think that's the problem that needs to be solved. We need to signal to virt-launcher to shutdown when the migration fails so that pod doesn't remain active.

[2020-08-19 21:00] davidvossel commented on #3990
I take that back... The migration target pod has an anti-affinity rule on it that prevents two pods from being active on the same node. So while the failed migration pod does stay around for awhile until it timesout, a new target pod will stay in the `pending` phase until the old target pod exits.

It's still unclear exactly what's happening in this test failure.

To give us more confidence in how

[2020-08-20 08:18] #3987 closed

[2020-08-20 08:18] #3969 closed

[2020-08-20 10:41] phoracek commented on #4002
Seems that the daemon exposing the resource is not properly handling the ConfigMap you've created. Have you tried to kill pods of these daemons, so they restart and use the new config you've created?

On the other hand, you already have resources of `mellanox.com/mlnx_sriov_ib_netdevice: "2"`, was that configured by you?

[2020-08-20 13:54] InbarRose commented on #3253
I encountered the same issue. It is very simply that the command created tries using `${kubeconfig}` instead of `${KUBECONFIG}` as the OP said. Here is my output after running `hack/functests.sh`

[code]

[2020-08-20 19:40] peng-isi commented on #4002
@phoracek thanks for your reply. I restarted the device plugin daemon and got the same results. I suspect that device plug-in Dameon cannot detect the "vfio_ib_sriov" resource on hp6.  This is shown  by the output of the " "kubectl get nodes -o yaml" appended in the following.  From this output, we can see that there is no "vfio_ib_sriov" resource on hp6.  Does this mean that the "vfio_ib_sriov" r

[2020-08-20 20:54] davidvossel commented on #3990
@rmohr My functional test might have uncovered something. [[1]]( https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4023/pull-kubevirt-e2e-k8s-1.16/1296190027184738304/artifacts/k8s-reporter/pods/1_kubevirt-test-default_virt-launcher-testvmihmj8dgdhbqrf7r2nj8tfz2xfnccfcpzm6qbwhlcrfp-compute.log)[ [2]](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt

[2020-08-21 04:14] talcoh2x commented on #3999
@rmohr  UP

[2020-08-21 06:28] talcoh2x opened #4032 "failed to upload new image with CDI [port-forward]"
Hi, I need your help. is my first time with CDI
I'm trying to upload a new image (qcow2) from my local machine.
I tried a lot of things:
- I created  dv & pv & pvc and then try run folowing commad - ./virtctl image-upload --pvc-name=minio-pv-claim   --namespace default  --size=5Gi --image-path /home/tacohen_nfs/Centos74-clean.qcow2  --uploadproxy-url=https://127.0.0.1:18443 --insecure

- I created

[2020-08-21 06:29] talcoh2x commented on #4032
@vladikr  @awels

[2020-08-21 07:00] rmohr commented on #3999
@talcoh2x could you check with a very minimalistic VM? Just to ensure that it is not an OS issue:

[code]

[2020-08-21 07:29] phoracek opened #4033 "Validator rejects cloudInit section that does not contain userData, even though it already has networkData"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

KubeVirt validator tries to prevent user from creating an empty `cloudInitNoCloud` section by making sure that it contains `userData` sub-section. However, that is not the only subsection it may contain, there is also `networkData`.

And when I provide only` networkData` and on `cloudData`, which should be valid, the val

[2020-08-21 08:09] phoracek commented on #4033
/assign @phoracek

[2020-08-21 08:16] talcoh2x commented on #4032
if I create manually the PV + PV scratch and the PVC
I get the following error

/virtctl image-upload dv centos74  --namespace default   --size=5Gi --image-path /home/tacohen_nfs/Centos74-clean.qcow2  --uploadproxy-url=https://10.111.12.16:31001  --insecure  --no-create
panic: assignment to entry in nil map

goroutine 1 [running]:
kubevirt.io/kubevirt/pkg/virtctl/imageupload.ensurePVCSupportsUploa

[2020-08-21 13:39] dhiller opened #4037 "When PR 4011 has gotten merged, there will be no builder for ppc64le"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

During #4011 we needed to [deactivate ppc64le](https://github.com/kubevirt/kubevirt/pull/4011/files#diff-43133687864b8cf77be5753022fdfd6cR3) as there were no builds for ppc64le for the required packages. Therefore we need to find a fix for updating the builder image to support ppc64le again.

Maybe @xpivarc s branch on u

[2020-08-23 14:57] talcoh2x opened #4038 "VirtualMachineInstance started/Running but can't login"
Hi, I upload new disk image (qcow2)
virtual size: 300G (322122547200 bytes)
disk size: 9.6G

And I'm using the following VMI to run it. my problem is that I can't login  into the VMI or get any kind of messages for debug

![image](https://user-images.githubusercontent.com/34831587/90981478-eb495580-e569-11ea-8780-ae6212a0b64b.png)

![image](https://user-images.githubusercontent.com/34831587/909814

[2020-08-23 23:00] #3664 closed

[2020-08-24 07:01] rmohr commented on #3999
Hm, that may be two distinct problems then. First I would assume that the ubuntu image simply does not print anything to the monitor (maybe kernel settings or something?). Regarding to the keyboard, I have never seen something like this. Could it be a local configuration issue?

[2020-08-24 07:13] maiqueb commented on #3085
/reopen

of the 3 items referenced in the issue's description, only item #2 was addressed.

[2020-08-24 07:14] talcoh2x commented on #3999
@rmohr can I check with another vnc configuration?

[2020-08-24 07:26] rmohr commented on #3999
If you have virtctl from 0.32, tiger-vnc should work too. I think though that you would have to remove remote-viewer first, because we simply iterate over a few possible existing vnc viewers.

[2020-08-24 11:15] oshoval opened #4041 "pull-kubevirt-generate lane doesnt detect changes in directory due to the generate"
/kind bug

**What happened**:
pull-kubevirt-generate should detect if directory isnt clean
after running `make generate`
locally running the `make generate-verify` target
it does find that we have a problem, because there was a direct update of cluster-up folder
which is venored

so there are two problems here
1. make it detect the changes again
2. move the change that it detect to kubevirtci and

[2020-08-24 11:15] oshoval commented on #4041
/cc @danielBelenky

[2020-08-24 11:29] awels commented on #4032
So kubernetes uses several things to decide if it can bind a PV to a PVC.
* AccessMode (These have to match, so a RWX PVC will not bind to a RWO PV)
* VolumeMode (These have to match)
* Size (only PVs with capacity >= PVC request size are considered)
* StorageClass and provisioner The storage class name has to match on the PVC and PV, as well as the provisioner on the PV has to match the provision

[2020-08-24 12:31] vladikr commented on #4038
Tal, did you try opening a console to the VMI?
virtctl console [vmi_name] ?

[2020-08-24 12:38] rmohr commented on #4041
/assign @danielBelenky

[2020-08-24 12:48] enp0s3 opened #4044 "Openshift CI test failures on Kubevirt nightly run"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-officer

**What happened**:
A lot of test failures seen on Openshift CI nightly run of Kubevirt tests. failures are of the same reason - virt-launcher fails to create tap device.
Link: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1297731023731167232

[2020-08-24 12:49] enp0s3 commented on #4044
/cc @maiqueb @phoracek

[2020-08-24 13:09] talcoh2x commented on #4038
@vladikr  Yes, I did it, just stuck.

[2020-08-24 16:28] enp0s3 commented on #3990
Happened again: https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2020-08-24-024h.html

[2020-08-24 17:28] talcoh2x commented on #4038
Someone can help, please ?

[2020-08-25 11:29] rmohr opened #4052 "Rename master branch to main"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

black lives matter

**What you expected to happen**:

Our `master` branch should be called `main`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI

[2020-08-25 11:55] maiqueb commented on #4044
Proposed fix on #4054 .

Only updates the label of the clone device on the virt-handler namespace (not the node's).

[2020-08-25 15:09] ashleyschuett commented on #3990
Failed again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4022/pull-kubevirt-e2e-k8s-1.16/1298039088628109312

[2020-08-25 15:19] xpivarc commented on #4037
/assign

[2020-08-25 16:53] vladikr commented on #4038
@talcoh2x Perhaps you didn't assign enough memory for the guest to boot?
Are you sure that 64M is enough for this guest OS? I know that Fedora, for example only boots properly with 512MiB

[2020-08-26 08:35] #3477 closed

[2020-08-26 10:09] ak89224 opened #4060 "Support for latest k8s versions | kubevirt Not Compataible in a code-base that uses Kubenetes 1.18.8 dependencies."
/kind enhancement

**What happened**:
After migrating the code-base to k8s `1.18.8` dependencies, kubevirt client-go started crashing.
kubevirt client-go Version used is `v0.32.0 ` (Although tried with multiple versions).
GO Version is `1.15`
Looks like No support for latest k8s Versions.

Please let me know if there is any work-around !

**What you expected to happen**:
Support for latest k8s ver

[2020-08-26 10:13] ak89224 commented on #4060
#https://github.com/kubevirt/client-go/issues/8#issue-685447620

[2020-08-26 11:41] dhiller commented on #3990
Failed again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4011/pull-kubevirt-e2e-k8s-1.16/1298418719243898880

[2020-08-26 11:43] dhiller commented on #3721
Failed again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4011/pull-kubevirt-e2e-k8s-1.16/1298418719243898880

[2020-08-26 17:05] danielBelenky commented on #4041
I think that the problem is that `make` actually executes each target in a separate subshell and the environment in which `check-git-tree-state` is being executed doesn't get the updates from `generate`. Maybe there's a way around this using some Makefile magic but I don't think that we should invest too much time in it at this point.

I've sent a PR to work around this in the job: https://github.

[2020-08-26 18:50] oshoval commented on #4041
ok, or to please consider the refactor i created once of travis, where all snippets are in the same file, and you can run one / list / all of them with arguments to the script https://github.com/kubevirt/kubevirt/pull/3524

[2020-08-27 01:56] wavezhang commented on #3330
/remove-lifecycle rotten

[2020-08-27 07:07] #4044 closed

[2020-08-27 13:15] #3850 closed

[2020-08-27 17:56] jean-edouard commented on #3621
Duplicated by https://github.com/kubevirt/kubevirt/issues/3990
Though this is the first issue filed, the other one is where the action is happening.
@oshoval, please close.

[2020-08-27 17:58] #3621 closed

[2020-08-27 17:58] jean-edouard commented on #3707
New occurrence: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4062/pull-kubevirt-e2e-k8s-1.17/1298838791783452672

[2020-08-28 14:40] rmohr opened #4073 "If kubevirt does not become ready in our cluster-up scripts, it retries indefinitely sometimes"
/kind bug

**What happened**:

If kubevirt does not become ready, we wait for 5 minutes and retry again a few times with waiting, but once we are sure that it does not become up, we want to dump the cluster state and exit. The current logic hower would not exit the loop if the cluster dump itself failed.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possib

[2020-08-28 14:42] rmohr commented on #4073
https://github.com/kubevirt/kubevirt/blob/master/hack/cluster-deploy.sh#L114 is the main issue.

[2020-08-28 14:43] rmohr commented on #4073
Observed in #4029.

[2020-08-28 14:43] rmohr commented on #4073
@cchengleo, @danielBelenky, @dhiller  FYI

[2020-08-28 15:09] davidvossel commented on #3858
This feature is similar in concept to how our [secret](https://kubevirt.io/user-guide/#/creation/disks-and-volumes?id=secret) and [configmap](https://kubevirt.io/user-guide/#/creation/disks-and-volumes?id=configmap) volumes work today.

Note that neither the secret or configmap volumes support update propagation at the moment, so they are static to what the values are when the VMI starts. For prop

[2020-08-28 19:28] yhaenggi commented on #2470
/remove-lifecycle stale

[2020-08-29 12:37] #3188 closed

[2020-08-29 18:42] rmohr commented on #3187
/reopen

[2020-08-29 21:59] #3990 closed

[2020-08-30 00:33] mlsorensen commented on #3085
I’d be interested in knowing how this is going to be handled. From what I’ve been able to dig up, just using an existing tap device requires NET_ADMIN at the point where Qemu opens /dev/net/tun and issues a TUNSETIFF. The kernel code in net/tun.c checks for NET_ADMIN when fetching a tap.

[2020-08-30 14:24] danielBelenky opened #4077 "Automatically decide which disk I/O mode should be used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
KubeVirt supports setting a disk I/O mode for disk devices. This configuration can have great impact on
disk performance but using the wrong configuration can cause negative impact on the performance.

Though `io=native` provides a better performance in many cases (with preallocated disks), it can block the VM
whe

[2020-08-30 20:24] mlsorensen commented on #3085
Aha! That’s where this is going...

https://www.spinics.net/linux/fedora/libvirt-users/msg12261.html

[2020-08-31 08:06] #3626 closed

[2020-08-31 11:21] #3242 closed

[2020-08-31 11:40] oshoval opened #4081 "NetworkPolicy Doesnt have the expected effect on kubevirtci kind ipv6"
/kind bug

**What happened**:
As part of the effort on
https://github.com/kubevirt/kubevirt/pull/4045
We saw that the NetworkPolicy tests that were skipped Upstream, are not working as expected on Kind ipv6 lane.
A possible approach to try is suggested
https://github.com/kubevirt/kubevirt/pull/4045#issuecomment-683447157
In order to understand for sure its related to kind only as it seems.

**What

[2020-08-31 13:54] RamLavi commented on #4019
This Issue belongs in [CNAO repo](https://github.com/kubevirt/cluster-network-addons-operator).
Issue was fixed in this [PR](https://github.com/kubevirt/cluster-network-addons-operator/pull/521), bumping KMP to v0.20.0.
So we can close it now

[2020-08-31 13:55] RamLavi commented on #4019
FYI @phoracek @qinqon

[2020-08-31 15:43] phoracek commented on #4002
@peng-isi I'm sorry, but I would be only guessing, my only experience was with the aforementioned SR-IOV operator. I'd recommend you reach out to mellanox folks in their U/S repository. This is clearly related to the DaemonSet, not to KubeVirt.

[2020-08-31 16:46] mazzystr commented on #3381
This is no longer an issue

/close

[2020-08-31 16:46] #3381 closed

[2020-08-31 18:00] peng-isi commented on #4002
@phoracek thanks for your suggestion! I really appreciate it.  I will reach out to Mellanox folks.

[2020-08-31 18:01] davidvossel commented on #3512
unfortunately, moving the KubeVirt CR to another operator group at this point is a fairly complex endeavor.

The simplest approach is to pick exactly what kubevirt.io APIs virt-controller is allowed to access. This is what we're doing for all our other components such as virt-api and virt-handler, so it's a consistent pattern we already use.

The change involves updating the virt-controller rbac i

[2020-09-01 02:48] yichengliu58 opened #4085 "Hard drive passthrough"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:

I have a ssd hard drive device on my host machine, for example `/dev/sda`, and I want to pass this block disk directly into VM for the best performance.

Libvirt uses `<hostdev>` tag to pass a host device into VM, but for now kubevirt only supports GPU devices passthrough. I think we should open this feature up to any

[2020-09-01 03:41] yichengliu58 commented on #953
I'm confronting the same problem, I'm trying to passthrough block disk devices from the host machine to guest. So is there any plans for this feature ?

[2020-09-01 07:46] phoracek commented on #4002
Good luck! :)

[2020-09-01 07:50] oshoval opened #4086 "tests, Migration test "Should detect a failed migration" is flaky on kind ipv6"
/kind bug

**What happened**:
As Petr raised
The test is really flaky on CI, causing a stall of merging PRs.
See for example
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3871/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1300594483074699264

**What you expected to happen**:
Test should either pass or be skipped.

**How to reproduce it (as minimally and precisely as po

[2020-09-01 08:30] RamLavi commented on #4081
@oshoval can you fix the title typo `efffect` --> `effect`

[2020-09-01 08:33] oshoval commented on #4081
@RamLavi done thx

[2020-09-01 09:48] wangzh21 opened #4088 "vm-cirros create failed when selinux is disabled"
/kind bug

**What happened**:
If I set selinux to disabled,  kubevirt can not run vm.
Here is the output of "kubectl describe virtualmachineinstance.kubevirt.io/vm-cirros":

Events:
  Type     Reason            Age   From                        Message
  ----     ------            ----  ----                        -------
  Normal   SuccessfulCreate  34s   virtualmachine-controller   Created virtu

[2020-09-01 10:01] rmohr commented on #4086
/assign @davidvossel

I have also seen it fail on multiple no-yet-merged PRs.

[2020-09-01 11:35] alicefr commented on #3781
@crobinso @berrange do you know from which version libvirt started to support memfd as memory backing?

[2020-09-01 11:44] rmohr commented on #4088
Yes that is a bug. We don't require selinux. Thanks for reporting.
/assign @maiqueb
/assign @jean-edouard

[2020-09-01 12:14] jean-edouard commented on #4088
@wangzh21 please ensure your build includes https://github.com/kubevirt/kubevirt/pull/4054
If you still run into the issue with that, then please add some details about your environment so we can reproduce it.
The output of `ausearch -m avc` would also be helpful here.
Thank you!

[2020-09-01 13:24] #4019 closed

[2020-09-01 14:04] berrange commented on #3781
From 4.10.0 onwards - see https://libvirt.org/formatdomain.html#memory-backing

[2020-09-01 14:36] crobinso commented on #3781
@alicefr @berrange but the only qemu version build that supports memfd that kubevirt is 4.2.0-27.el8. any other build doesn't have support enabled yet. I'm not sure what kubevirt's test matrix is though so maybe that's not relevant

[2020-09-01 14:42] rhrazdil commented on #4086
/triage build-officer

happened today
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4042/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1300726000866299905

[2020-09-01 14:50] rhrazdil opened #4090 "[Flaky CI] [rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set [ref_id:2293] with a VMI running with an eviction strategy set with node tainted during node drain [test_id:2222] should migrate a VMI when custom taint key is configured"
/triage build-officer

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardwar

[2020-09-01 14:56] alicefr commented on #3781
@crobinso it is. Some of the tests in the CI are failing because memfd is not supported. I was looking at it with @vladikr and it seems that the testsuite is based on centos 7.

[2020-09-01 14:59] crobinso commented on #3781
@alicefr right I believe they use centos7 as the base OS but you'll want to specifically check the qemu package version installed there, because they are are all based on RHEL8 qemu content currently. The question is whether it's version 4.2.0-27 or something older

[2020-09-01 14:59] rhrazdil opened #4091 "[Flaky CI] Networking VirtualMachineInstance with custom MAC address in non-conventional format [test_id:1772]should configure custom MAC address"
/triage build-officer
/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-releas

[2020-09-01 15:04] alicefr commented on #3781
@crobinso so, do you think that simply checking libvirtd version doesn't help? I was thinking to simply set memfd only if libvirtd is newer than 4.10.0

[2020-09-01 18:14] crobinso commented on #3781
@alicefr in practice for kubevirt it may be sufficient if libvirt 4.10 is always paired with a new enough qemu in their CI, I'm not sure. give it a spin and see if it works.

libvirt should be reporting this in its domcapabilities output though which is meant for reporting these types of features, but unfortunately that support is missing (and kubevirt isn't consuming domcapabilities yet anyways)

[2020-09-02 02:31] wangzh21 commented on #4088
Yes, I'm sure it includes https://github.com/kubevirt/kubevirt/pull/4054,  I update my local branch everyday ;).
Here is the output of `ausearch -m avc` :

1. lk-compute-3

[root@lk-compute-3 ~]# getenforce
Disabled
[root@lk-compute-3 ~]# ausearch -m avc
<no matches>

2.lk-compute-2
[root@lk-compute-2 ~]# getenforce
Permissive
[root@lk-compute-2 ~]# ausearch -m avc
[ausearch.log](https://github.co

[2020-09-02 07:42] phoracek commented on #4086
The test is now being skipped on IPv6 kind lane. It will be soon replaced by kubevirtci based one, so we can close this issue.

[2020-09-02 07:42] #4086 closed

[2020-09-02 07:58] lixiaobing1 opened #4094 "VM is killed every 10 seconds and created immediately"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
VM is killed every 10 seconds, and created immediately.

virt-controller start Dispatching delete event:

{"component":"virt-controller","level":"info","msg":"reenqueuing VirtualMachineInstance default/testvm","pos":"vmi.go:201","reason":"Operation cannot be fulfilled on virtualmachineinstances.kubevirt.io \"testvm\": the object has

[2020-09-02 08:54] qinqon opened #4096 "[Flaky CI] Configurations VirtualMachineInstance definition with Clock and timezone guest should see timezone"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-officer

**What happened**:
The following test is failing at not related PRs.
`Configurations VirtualMachineInstance definition with Clock and timezone guest should see timezone`

prow logs:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4087/pull-kubevirt-e2e-k8s-1.18/1300870049690554368

**

[2020-09-02 09:31] yichengliu58 opened #4097 "cloud-init should support network server as data source"
**Is this a BUG REPORT or FEATURE REQUEST?**:

For now, kubevirt only supports NoCloud and CloudDrive as cloud-init data sources, these methods force users to mount an additional small disk into VM.

In production environment clients don't like this additional disk. Since cloud-init supports a server on the network as its data source, we should implement this feature in kubevirt for users to choos

[2020-09-02 11:18] alonSadan opened #4101 "tests: extract assertions from helper functions."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Helper functions for tests make assertions on errors, instead of returning the error.
**What you expected to happen**:
Assertions on errors should happen only in the test it self. Helpers should, if needed, to create the error and return it.
One reason it is necessary , for example, is that it makes harder to writ

[2020-09-02 11:20] alonSadan commented on #4101
@EdDev  deserves the credit for that one :
https://github.com/kubevirt/kubevirt/pull/3479#discussion_r468484017

[2020-09-02 11:26] alonSadan commented on #4101
/good first issue

[2020-09-02 11:52] enp0s3 commented on #3974
PR #4102 should fix this issue

[2020-09-02 12:02] qinqon opened #4103 "[Flaky CI] [test_id:1635] VMIlifecycle Creating a VirtualMachineInstance with node tainted the vmi with tolerations should be scheduled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4058/pull-kubevirt-e2e-k8s-cnao-1.17/1301099814515118082
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**

[2020-09-02 12:46] oshoval commented on #4101
I dont see a problem imo for helper to have assert, i think an helper can check lets say 3 things which are connected and can be encapsulated to one function, and then what it should do if it cant assert?
the assert of Expect is very readable imo.

[2020-09-02 13:09] lixiaobing1 commented on #4094
/cc @davidvossel@rmohr :)

[2020-09-02 13:14] jean-edouard commented on #4088
All the SELinux denials in your logs are about critical system files being mislabeled, like:
[code]
You could try running `restorecon -FRv /`, that command will output the list of previously mislabelled files and fix them.
But it's concerning that your system went into that state, there could be something wrong with it...

[2020-09-02 14:20] alonSadan opened #4104 "tests: config VMs via cloud-init, not console"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Vms are configured through the console.
**What you expected to happen**:
We should have all the desired configurations in advance,using cloud-init, and not rely on console (and Expecters).
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
An example for a config

[2020-09-02 14:20] alonSadan commented on #4104
/good first issue

[2020-09-02 14:34] alonSadan commented on #4104
/ credit to @EdDev on this.
https://github.com/kubevirt/kubevirt/pull/3479#discussion_r465514771

[2020-09-02 14:46] alonSadan opened #4105 "test: use safe expecter-batcher"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Expecters are being used widely in kubevirt tests to run batch scripts.
**What you expected to happen**:
that only the safe [expecter-batcher](https://github.com/kubevirt/kubevirt/pull/3882) will be used, which is a lot more reliable, less prone to cover for bugs.
**How to reproduce it (as minimally and precisely as poss

[2020-09-02 14:46] alonSadan commented on #4105
started some work on that:
https://github.com/kubevirt/kubevirt/pull/4010

[2020-09-02 14:47] alonSadan commented on #4105
/good first issue

[2020-09-02 15:06] alonSadan commented on #4105
/kind bug

[2020-09-02 15:08] alonSadan commented on #4105
/remove-kind enhancement

[2020-09-02 15:10] dhiller commented on #4105
/label good first issue

[2020-09-02 15:24] dhiller commented on #4105
/good first issue

[2020-09-02 15:27] dhiller commented on #4105
/label good-first-issue

[2020-09-03 02:25] wangzh21 commented on #4088
I try to run `restorecon -FRv /` on lk-compute-2, there are a lot of output as you said. But it is the node which I can create vm successfully. And the node lk-compute-3, which config selinux disabled, is no output with `ausearch -m avc` and `restorecon -FRv /`.

Also, I'd like to know that can you reproduce "create failed" in your env?
Plz feel free to ping me if u need more information.

[2020-09-03 07:40] lixiaobing1 commented on #4094
vm testvm resource version changes immediately:

kubevirt describe vm testvm
Resource Version:    2527242

Resource Version:    2527475

[2020-09-03 09:05] nunnatsa opened #4108 "Upgrade from v0.30.4 to 0.33.0-rc.0 fails"
/kind bug

**What happened**:
In HCO, Bumping KubeVirt to version v0.33.0-rc.0 was failed. The PR is here: https://github.com/kubevirt/hyperconverged-cluster-operator/pull/774

The failure was in the upgrade-prev tests, that upgrades HCO from previous version to the current one. HCO failed to complete the upgrade process because kubevirt reports it's degraded. The full error message in virt-operat

[2020-09-03 10:02] dk-lockdown commented on #2296
hi, i meet this error too, how did you solved it?

[2020-09-03 12:34] davidvossel commented on #4108
/release-blocker release-0.33

[2020-09-03 13:44] fabiand commented on #953
That's already possible today using a local PV in block mode.

[2020-09-03 19:48] davidvossel commented on #4108
yeah... so  we broke this pretty bad.  The label we key off of for our informers somehow changed between versions.

previously our informers keyed off of  `app.kubernetes.io/managed-by: kubevirt-operator`

now they key off of `app.kubernetes.io/managed-by: virt-operator`

I'm tracking this down still to gain a better understanding of how this went unnoticed and what versions it impacts.

[2020-09-03 20:59] davidvossel commented on #4108
to fix this, our informers need to filter on both `app.kubernetes.io/managed-by: kubevirt-operator` and `app.kubernetes.io/managed-by: virt-operator`.

It looks like label selectors are capable of expressing this logic. For example.

[code]

I'm working on a fix now.

[2020-09-04 10:19] dhiller commented on #3246
/label good-first-issue

[2020-09-05 15:22] #3269 closed

[2020-09-05 22:02] phoracek opened #4114 "[Flaky CI] [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with masquerade binding mechanism when performing migration preserves connectivity"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The test failed in Kind IPv6 lane.

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4093/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1301462205975236609

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

*

[2020-09-06 05:56] alonSadan commented on #4101
/kind enhancement
/good-first-issue

[2020-09-06 05:58] alonSadan commented on #4105
/label good-first-issue

[2020-09-06 06:01] alonSadan commented on #4105
/good-first-issue

[2020-09-06 08:33] RamLavi commented on #4114
failing also on k8s lane: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4107/pull-kubevirt-e2e-k8s-1.16/1301485102974373891

[2020-09-06 08:39] RamLavi commented on #4114
/triage build-officer

[2020-09-06 08:42] RamLavi opened #4116 "[Flaky CI] - Infrastructure [rfe_id:4102][crit:medium][vendor:cnv-qe@redhat.com][level:component]certificates should be rotated when deleted for [test_id:4104] virt-controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
The test failed in Kind IPv6 lane - seems like update conflict.

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4107/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1301699767306293248

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as po

[2020-09-06 09:00] RamLavi commented on #3990
Failed again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4107/pull-kubevirt-e2e-k8s-1.16/1301699767302098945

[2020-09-06 09:58] RamLavi commented on #3990
@rmohr can you reopen this issue? it's seems that the flakiness is still there.

[2020-09-06 10:01] #3086 closed

[2020-09-06 11:05] 3d0c opened #4117 "Single libvirtd instance support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Normally there is a per container instance of `libvirtd`.

**What you expected to happen**:
Wouldn't it better to have a single instance of `libvirtd` on host? Is there any limitations? Why current implementation runs per-container instance?

[2020-09-06 11:59] RamLavi opened #4118 "[Flaky CI] Configurations with all devices on the root PCI bus [test_id:4623]should start run the guest as usual"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
The test fails on `pull-kubevirt-e2e-k8s-1.18` lane:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4029/pull-kubevirt-e2e-k8s-1.18/1301207272482934785

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2020-09-06 12:03] RamLavi commented on #3965
also https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4029/pull-kubevirt-e2e-k8s-1.18/1301207272482934785

[2020-09-06 12:20] ormergi opened #4119 "Errors on boot VMI using Cirros container disk image"
/kind bug

There is a bug with Cirros container-disk causing a 5 minutes delay on boot.
The workaround for it is using cloud-init with any arbitrary userData just to trigger cloud-init make the VMI boot normally.
Cirros container-disk is extensively used all around tests suite, enforces using that workaround making the code look awkward.

Creating cirros VMI and console to it during boot shows tha

[2020-09-06 12:29] EdDev commented on #4119
The address is the default cloud-init server which is used to fetch the configuration instead of the mounted option.
On cloud that is the preferred option as it is centralizing the configuration management.

We could hide in the libvmi this workaround and use this option as the default for cirros.

[2020-09-06 14:32] alonSadan commented on #4105
/label good-first-issue

[2020-09-06 14:34] ormergi opened #4120 "CDI operator apiservice not available on sriov provider cluster"
/kind bug

**What happened**:
Following https://github.com/kubevirt/kubevirt/issues/3850
There is a problem when running sriov provider cluster with CDI operator
on prow causing `AfterSuite` error when trying to delete test namespace due to
`upload.cdi.kubevirt.io/v1alpha1` ApiService being not unavailable.
The current workaround is to stop deploying CDI operator for sriov lane

I noticed that thi

[2020-09-06 15:15] RamLavi opened #4121 "[Flaky CI] - Configurations [rfe_id:897][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachineInstance with CPU pinning cpu pinning with fedora images, dedicated and non dedicated cpu should be possible on same node via spec.domain.cpu.cores [test_id:829]should start a vm with no cpu pinning after a vm with cpu pinning on same node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
This test fails on `pull-kubevirt-e2e-k8s-1.16` lane

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4029/pull-kubevirt-e2e-k8s-1.16/1301807224884039681

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2020-09-06 15:20] RamLavi opened #4122 "[Flaky CI] - [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Delete a VirtualMachineInstance with ACPI and some grace period seconds [rfe_id:273][crit:medium][vendor:cnv-qe@redhat.com][level:component]should result in vmi status succeeded [test_id:1653]with set grace period seconds"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
This test failed on `pull-kubevirt-e2e-k8s-1.16` lane:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4058/pull-kubevirt-e2e-k8s-1.16/1301470004042010626

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anythin

[2020-09-07 04:21] #3365 closed

[2020-09-07 06:28] oshoval commented on #3873
Again at 7.9.2020
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4099/pull-kubevirt-check-tests-for-flakes/1302849844318048258

[2020-09-07 07:10] oshoval opened #4125 "[Flaky CI] [test_id:1620] Creating a VirtualMachineInstance .. should start it"
/kind bug
/triage build-officer

**What happened**:
Test is flaky
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3612/pull-kubevirt-e2e-k8s-1.17/1302476509646163969
[code]

**What you expected to happen**:
Test should be stable

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt vers

[2020-09-07 07:14] oshoval commented on #4103
Again 7 Sept 2020
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3612/pull-kubevirt-e2e-k8s-1.17/1301734243675672577

[2020-09-07 07:27] oshoval commented on #4096
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3612/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1302605484561272832

[2020-09-07 07:33] oshoval opened #4126 "[Flaky CI] [test_id:1678]should report defined CPU model"
/kind bug
/triage build-officer

**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3612/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1301188397901025280

Is flaky

**What you expected to happen**:
Test should be stable

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt ver

[2020-09-07 07:44] maiqueb commented on #3085
This features the reply: https://www.spinics.net/linux/fedora/libvirt-users/msg12265.html . It is indeed possible to open a tap device without NET_ADMIN.

[2020-09-07 07:52] oshoval commented on #4009
Happened again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3612/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1301530402082525184

/triage build-officer

[2020-09-07 08:13] oshoval commented on #4114
Again
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3612/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1302476509641969665

[2020-09-07 22:31] #3974 closed

[2020-09-08 03:43] yichengliu58 opened #4133 "How to create an image from a running vm instance"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:

Suppose I have a running VMI, I've made some changes in the guest OS (installed some software packages and other files), I need to export this instance into an image, for my other VMIs to start.

There is no such function in kubevirt right now, we should support this image export function.

Or is there any solution al

[2020-09-08 07:33] oshoval opened #4134 "Suggestion, add Custom test_id family for the tests without test_id"
/kind enhancement

**What happened**:
Some tests dont have test_id,
test_id usually come from Polarion or custom by vendors.
test_id is important in order to find the tests easily, skip or focus it with ginkgo,
or mention it when discussing with other people.

**What you expected to happen**:
Each test should have test_id,
I suggest we create a family of test_ids that start with C (C for custom)
f

[2020-09-08 07:40] oshoval commented on #4134
/kind-remove bug

[2020-09-08 07:43] oshoval commented on #4134
/remove-kind bug

[2020-09-08 11:29] oshoval commented on #4134
/cc @rmohr
/cc @AlonaKaplan
/cc @yossisegev
/cc @myakove

[2020-09-08 12:02] maiqueb commented on #4119
https://github.com/kubevirt/kubevirt/pull/4035/commits/886fd42d7b0e80f42c2b57df747850599637cc1b#diff-310823e407ba19baac5e5e3ee718b6bbR56 would address what you're proposing, iiuc.

I'll watch this issue, closing it if/when the aforementioned PR gets merged.

[2020-09-08 12:04] timyinshi opened #4137 "how kubevirt support sound configurations"
/kind bug

**What happened**:
i want to use kubevirt config the vm's sound,how to config?

**What you expected to happen**:
i want to use kubevirt config the vm's sound

**How to reproduce it (as minimally and precisely as possible)**:
the kubevirt code has no sound:
type Devices struct {
	Emulator    string       `xml:"emulator,omitempty"`
	Interfaces  []Interface  `xml:"interface"`
	Channels

[2020-09-08 12:12] fabiand commented on #4077
/assign

[2020-09-08 12:43] yossisegev commented on #4134
I am in favor of this suggestion, just as long as it doesn't replace the test_id that is used to map test cases in Polarion.
So a test implementation can have both IDs (the "test_id" and the suggested C1234 ID), which will be independent of each other). This way the test_id will continue to map Polarion test-cases, and the C1234 ID will serve for the purposes suggested above (e.g. discussions).

[2020-09-08 13:06] oshoval commented on #4134
I originally meant
`test_id:c1234`
but we can as well add a `ctest_id:1234` as you said if preferred ?

[2020-09-08 14:47] victortoso commented on #4137
Perhaps a kind/enhancement as it does not exist nowadays?

I think the preferred are either ich6, ich9 and ac97, do you mean you would like to pick one of the available [sound devices](https://libvirt.org/formatdomain.html#sound-devices)? Or perhaps you just want to connect with some VNC viewer with audio support? Or even play some audio in the host machine?

[2020-09-08 17:48] oshoval commented on #4134
edited with a possible idea that would save some time,
see please under
"**Anything else we need to know?**:"

[2020-09-08 18:11] davidvossel commented on #4094
It looks like the VM is failing to launch, and then being immediately rescheduled. This could be caused by a number of issues.

I'd recommend setting the VM's `vm.spec.runStrategy` to `manual`, then using virtctl to start the VM. This will prevent the VM controller from automatically restarting the VMI right as it fails.

From there, observe why the VMI is failing

Some clues might be visible in t

[2020-09-08 21:12] mazzystr opened #4142 "Documentation confusion"
/kind bug

**What happened**:
I want to add a Getting Started page to `https://kubevirt.io/user-guide/#/`  The `user-guide` uri is served by an app called docsify.

This should be as simple as ...
1) Create the markdown page ... This is done

2) Run a container with docsify app to verify page content ... but this isn't documented.  There is no image in the [KubeVirt](https://hub.docker.com/u/kubev

[2020-09-09 01:02] timyinshi commented on #4137
/kind enhancement
i just want to have my vm with some audio,but i can not do that.i do not know how to config the sound.

[2020-09-09 05:33] #3781 closed

[2020-09-09 07:27] oshoval opened #4145 "Test 4140 doesn't actually work on ipv6"
/kind bug

**What happened**:
PR https://github.com/kubevirt/kubevirt/pull/4140
Shows that test 4140 doesnt actutally pass on prow, but since its a test that expect errors,
it didnt detect "connect: network is unreachable" error on ipv6 kind provider.

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4140/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1303379460854124544

[2020-09-09 08:36] oshoval opened #4148 "generation of swagger.json is nondeterministic"
/kind bug

**What happened**:
See https://github.com/kubevirt/kubevirt/pull/4146
Running `pull-kubevirt-generate` several times yield different results each time,
Causing PRs to stall and have false errors

Fail run (first run on the exact same PR was successful)
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4146/pull-kubevirt-generate/1303609223350849536

**Wha

[2020-09-09 09:35] ormergi opened #4150 "VMI's and pods fails to consume IPv6 ISCSI PV, PVC's"
/kind bug

**What happened**:
I am trying to change tests that uses PV's with `ISCSIPersistantVolumeSource` (so called ISCSI PVC's) to support dual-stack clusters, by configuring a PV `ISCSIPersistantVolumeSource.TargetPortal` with IPv6 address.
The problem is that VMI's fails to consume PVC of that PV, causing all related tests to fail.

**What you expected to happen**:
Be able to configure PV wi

[2020-09-09 10:23] dhiller commented on #4148
As far as I can say, the issue is caused by a non deterministic behaviour of the tool we use to generate the openapi swagger.json file during the build. This manifest itself that it sometimes leaves the file as is but other times it modifies it and the generate fails.

[2020-09-09 11:03] dhiller commented on #4148
IIUC correctly the openapi generator fails to generate the correct swagger document, it only sometimes updates it to be correct.

[code]

Might be related to protobuf error messages that are emitted:
[code]

[2020-09-09 12:48] dhiller commented on #4148
Not sure but our Patch might conflict with this one here: https://github.com/kubevirt/kubevirt/blob/d072d7ffcbba8d862e79db7749fd0effe2ca2f4e/vendor/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto#L744

[2020-09-09 12:53] dhiller commented on #4148
Now I'm sure there is a conflict somehow. When repeatedly running the `openapispec` binary about half of the runs it emits the simple variant

[code]
which has a matching description with the protobuf mentioned above, the other times it emits the mentioned more specific definition.

[2020-09-09 13:00] jean-edouard commented on #4088
Sorry @wangzh21, I initially misread the issue, and then got sidetracked.
I finally got around to looking at this today with @maiqueb and we've managed to reproduce the issue.
We're still investigating, but just looking at the error, the issue was likely introduced recently when we reworked the way network taps are created.
Thank you for submitting this issue, and sorry again for the delay.

[2020-09-09 18:07] #4108 closed

[2020-09-09 23:13] mlsorensen commented on #3085
It's actually NOT possible, if you have SELinux enabled.

The kernel checks to see if you have access to relabelto/relabelfrom on tun_socket class here:
https://github.com/torvalds/linux/blob/34d4ddd359dbcdf6c5fb3f85a179243d7a1cb7f8/security/selinux/hooks.c#L5493

It's an easy fix if we can upstream container-selinux to give container_t access to relabel tun_socket.

[2020-09-10 07:57] lixiaobing1 commented on #4094
@davidvossel there is not runStrategy in vm.yaml, should I add it explicitly?

[2020-09-10 08:04] alonSadan commented on #4105
/good-first-issue

[2020-09-10 08:05] alonSadan commented on #4105
/label good-first-issue

[2020-09-10 09:21] dhiller commented on #4142
First of all I think this issue does not belong here, but rather to kubevirt.github.io. Other than that, IIUC the image is used by a verify job you want to create inside kubevirt/project-infra, right? And IIUC you then later want to run docsify somehow? Where would you run it? Or is it generated as a static page and served?

[2020-09-10 09:48] shmoon-kt commented on #3820
@akkibatra Have you solved this problem? I am also having the same problem after creating pfsense qcow2 image.

[2020-09-10 11:02] maiqueb commented on #3085
AFAIU, it is, since we have this neat little hole punched in the selinux policy: https://github.com/kubevirt/kubevirt/blob/0e3d19a5c940490fa10c020ee389277dfc41508c/cmd/virt-handler/virt_launcher.cil#L6

Thanks for this pointer to the code; I was actually under the impression that it was libvirt doing the relabeling.

@jean-edouard : do you think we should / could pursue this course of action ?

[2020-09-10 11:02] oshoval commented on #2566
Happens today on 1.17
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4140/pull-kubevirt-check-tests-for-flakes/1303990361718263808

[code]

[2020-09-10 11:55] oshoval opened #4157 "Test 4137 suffers from generic VM creation flakiness (Detected by pull-kubevirt-check-tests-for-flakes)"
/kind bug

**What happened**:
Test 4137 suffers from VM creation flakiness (general problem, not test specific)
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4140/pull-kubevirt-check-tests-for-flakes/1303950345965146112

Detected by pull-kubevirt-check-tests-for-flakes

[code]

This is the Expect that failed.

[code]
Its called in the BeforeAll, and this lane ru

[2020-09-10 14:22] oshoval opened #4158 "Test 4134 might panic when running by pull-kubevirt-check-tests-for-flakes"
/kind bug

**What happened**:
[code]

The refereed line is
[code]
It might be because the test run on a freshly created cluster (due to the nature of this lane), and there was a hiccup
in the cluster, where there were not schedulable nodes, so node was nil.

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4140/pull-kubevirt-check-tests-for-flakes/13037009540082606

[2020-09-10 14:56] JinjunXiong commented on #1491
In the [Get Started document](https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md), we always started to create the CR and Operator

[code]

But let's say that I've done the above in my k8s cluster, and am now ready redeploy a newly updated operator and CR. My questions are:

- Should I follow the discussion here to [delete operator and CR first](https://kubevirt.io/user-guide

[2020-09-10 16:32] mlsorensen commented on #3085
Just talking through this (probably for my own sake) - In the Libvirt case where it is opening an fd and passing it by number to qemu, I think the same process occurs, just when libvirt first attaches. As long as the labeling matches between /dev/net/tun wherever libvirt is running and wherever qemu runs, from what I can see I believe the check will be skipped.

However, if libvirt has NET_ADMIN i

[2020-09-10 17:25] Muratbucak opened #4161 "Kube"

[2020-09-10 19:44] #4161 closed

[2020-09-10 19:44] vladikr commented on #4161
I'll close this as there is nothing in here.

[2020-09-10 20:28] davidvossel commented on #4097
interesting, what kinds of concerns do people have with the cloud-init disks?

[2020-09-10 20:29] davidvossel commented on #4094
yes, this `runStrategy: manual` value would be a replacement for `running: true|false`.

[2020-09-10 20:31] davidvossel commented on #4094
I think there's definitely some usability improvements we can make here.

VMs should fast loop, recreating VMIs constantly when failures occur. There should be a backoff period, and we should provide better tools for determining what is occuring.

[2020-09-10 20:36] davidvossel commented on #4117
The idea is we want VM guests scheduled and self contained as Pods. libvirtd simply exists as a shim for starting/stopping the qemu process within our pod.

having a centralized libvirtd per host means a 1:many relationship of libvirtd to VM guest pods. That centralized libvirtd would have to exist outside of the Pod environments on the host level, and then coordinate launching qemu processes with

[2020-09-11 18:51] mazzystr commented on #4142
I updated my issue to try to clarify my line of thought

re First of all ... I absolutely agree but where does _it_ belong?  I put it here to get attention on helping untangle the mess.

re image ... We likely want to use kubevirt/project-infra to create the docsify image.  I don't mind self building one or having one built via project-infra and posted up to docker hub kubevirt.  That would be a C

[2020-09-12 13:03] 3d0c commented on #4117
Thanks

[2020-09-12 13:03] #4117 closed

[2020-09-13 01:12] arvin-a opened #4166 "virtctl image-upload ignores specified storage class"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Failed to upload qcow image due to the generated PVCs ommiting the storage class specified by the virtctl command.

**What you expected to happen**:
Upload qcow to existing PV successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create local-storage PV for the DV and DV scratch
2. Attempt to upload ima

[2020-09-13 09:12] oshoval commented on #4148
https://github.com/kubevirt/kubevirt/pull/4154
Should fix it, closing
Thanks

[2020-09-13 09:12] #4148 closed

[2020-09-13 10:11] oshoval commented on #4158
/assign

[2020-09-13 13:26] #3296 closed

[2020-09-13 13:40] ormergi commented on #4119
Actually we can use an empty cloud-init config just to trigger cloud-init no cloud to work inside the VM.

A proper solution would be editing the image with
`echo 'DATASOURCE_LIST=\"nocloud\"' > /etc/cirros-init/config`
this will skip that check on boot
https://serverfault.com/questions/646326/how-do-i-disable-the-metadata-lookup-at-cirros-boot

[2020-09-13 21:19] orenc1 opened #4169 "[Flaky CI][test_id:3115][rfe_id:140][crit:medium] Configurations VirtualMachineInstance definition with diverging memory limit from memory request and no guest memory should show the memory limit inside the VMI"
/kind bug
/triage build-officer

**What happened**:
A flaky CI test has been found on k8s-1.18 lane:
[code]
**[Prow Job log](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4082/pull-kubevirt-e2e-k8s-1.18/1304497451276701696)**

[2020-09-13 21:20] orenc1 commented on #4169
/triage build-watcher

[2020-09-13 21:29] orenc1 opened #4170 "[Flaky CI][test_id:802][rfe_id:897][crit:medium]Configurations::VirtualMachineInstance with CPU pinning with cpu pinning enabled should configure correct number of vcpus with requests.cpus"
/kind bug
/triage build-watcher

**What happened**:
A flaky CI test has been found on k8s-1.16 lane:
[code]

**[Prow Job link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4165/pull-kubevirt-e2e-k8s-1.16/1304654863027671041)**

[2020-09-13 21:32] orenc1 opened #4171 "[Flaky CI] Infrastructure [rfe_id:3187][crit:medium]Prometheus Endpoints [test_id:4137]should find one leading virt-operator and two ready"
/kind bug
/triage build-watcher

**What happened**:
A flaky test as been found on k8s-1.16 lane:
[code]

**Anything else we need to know?**:
**[Prow Job link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4165/pull-kubevirt-e2e-k8s-1.16/1304654863027671041)**

[2020-09-13 21:33] orenc1 commented on #3811
Another instance here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4165/pull-kubevirt-e2e-k8s-1.16/1304654863027671041

[2020-09-13 21:37] orenc1 opened #4172 "[Flaky CI] [test_id:3148][rfe_id:2291][crit:high]infrastructure management should be able to create kubevirt install with custom image tag"
/kind bug
/triage build-watcher

**What happened**:
A flaky CI has been found on IPv6 lane:
[code]

**Anything else we need to know?**:
**[Prow Job link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4165/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1304654863031865345)**

[2020-09-13 21:40] orenc1 opened #4173 "[Flaky CI]VirtualMachineRestore Tests With simple VM and good snapshot exists should reject restore if VM running"
/kind bug
/triage build-watcher

**What happened**:
A flaky CI test has been found on kind-k8s-1.17-IPv6 lane:
[code]

**Anything else we need to know?**:
**[Prow Job link](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4082/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1304243779573649408)**

[2020-09-13 21:41] orenc1 commented on #3704
Another recurrence today:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4082/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1304175203437252608

[2020-09-13 22:35] tylerauerbeck commented on #3231
@mhenriks Just a +1 as this was my issue as well. Any idea if there are plans of better ways to bubble this error up or kill the upload right away if the PVC isn't large enough?

[2020-09-13 22:45] MichaelWasher commented on #4105
/assign

[2020-09-13 22:58] MichaelWasher commented on #4105
Has this been completed by https://github.com/kubevirt/kubevirt/pull/4010/files ?

I ran `rg ExpectBatch | grep -v WithValidatedSend | less` but didn't turn up much except from a couple instances in `expecter.go` and `login.go`.

Should I unassign?

[2020-09-14 05:48] oshoval commented on #4171
Duplicate of https://github.com/kubevirt/kubevirt/issues/4157

[2020-09-14 05:49] oshoval commented on #4172
Duplicate of
https://github.com/kubevirt/kubevirt/issues/3758
https://github.com/kubevirt/kubevirt/issues/3740
https://github.com/kubevirt/kubevirt/issues/3668

[2020-09-14 05:49] oshoval commented on #4172
Duplicate of
https://github.com/kubevirt/kubevirt/issues/3758
https://github.com/kubevirt/kubevirt/issues/3740
https://github.com/kubevirt/kubevirt/issues/3668

[2020-09-14 05:49] oshoval commented on #4170
Duplicate of
https://github.com/kubevirt/kubevirt/issues/3758
https://github.com/kubevirt/kubevirt/issues/3740
https://github.com/kubevirt/kubevirt/issues/3668

[2020-09-14 06:08] oshoval commented on #4134
Added a POC of the straightforward method mentioned in the issue, please review
https://github.com/kubevirt/kubevirt/pull/4174

[2020-09-14 07:12] wangzh21 commented on #4133
It is a useful feature in our cloud scenario. Is there any solution or plan? Also, I'd like to contribute if you need it.

[2020-09-14 07:37] alonSadan commented on #4105
Hey @MichaelWasher .I opened a PR open on that : https://github.com/kubevirt/kubevirt/pull/4010
Sorry for not updating. Nothing much for you to do here (though I would love some reviews:) )
Thanks.

[2020-09-14 08:01] oshoval commented on #4041
Fixed by
https://github.com/kubevirt/kubevirt/pull/4066

[2020-09-14 08:01] #4041 closed

[2020-09-14 09:49] wangzh21 commented on #4088
Nothing, I also misread your reply. Thanks again.

[2020-09-14 17:15] #3903 closed

[2020-09-14 19:03] nunnatsa commented on #3701
Again on 14/9/2020: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-kubevirt-kubevirt-master-e2e-periodic-azure-nested-virt/1305341062084038656

[2020-09-14 22:14] MichaelWasher commented on #4105
You're alright!
Thanks for doing the work! :)

[2020-09-14 22:14] MichaelWasher commented on #4105
/unassign

[2020-09-14 22:24] MichaelWasher commented on #3732
Is this resoled with #3880 ?

[2020-09-15 07:04] sgarbour commented on #3732
yes.
any issue with the PR?

On Tue, Sep 15, 2020 at 1:25 AM MichaelWasher <notifications@github.com>
wrote:

--
Best regards,

*Shaul Garbourg*
He / Him / His

Associate Manager - Kubevirt

Red Hat <https://www.redhat.com/>

sgarbour@redhat.com
@RedHat <https://twitter.com/redhat>   Red Hat
<https://www.linkedin.com/company/red-hat>  Red Hat
<https://www.facebook.com/RedHatInc>

<https://www.redh

[2020-09-15 07:53] dhiller commented on #4142
@codificat please keep me honest where I am wrong, I guess you know better.

OK, so I read a bit of docsify docs and now I think I understand. So what you are trying to do should be done with a pull request against github.com/kubevirt/user-guide repository, as that is the repo from where the user guide is served. Even though it is hidden below the kubevirt.io url it is server from there IIUC. Also

[2020-09-15 10:28] brybacki opened #4178 "[Flaky CI] [rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with a shared ISCSI Filesystem PVC [test_id:3238]should migrate a vmi with UNSAFE_MIGRATION flag set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
Flakefinder reported a flaky test:
`[rfe_id:393][crit:high][vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance with a shared ISCSI Filesystem PVC [test_id:3238]should migrate a vmi with UNSAFE_MIGRATION flag set`

https://prow.apps.ovirt.org/view/gcs/kubevirt

[2020-09-15 10:35] Hokwang commented on #2296
@Apokleos
I met same error, can you share how to do?

[2020-09-15 15:13] brybacki opened #4179 "[Flaky CI] [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking Multiple virtual machines connectivity using bridge binding interface should be able to reach [test_id:1539]the Inbound VirtualMachineInstance ex"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/triage build-watcher

**What happened**:
Flakefinder reported a flaky test:
[rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking Multiple virtual machines connectivity using bridge binding interface should be able to reach [test_id:1539]the Inbound VirtualMachineInstance ex

prow link:
https://prow.apps.ovirt.org/

[2020-09-15 15:17] brybacki opened #4180 "[Flaky CI] Windows VirtualMachineInstance [ref_id:139]with winrm connection [test_id:3160]should have the domain set properly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
Test failed
[code]

prow link:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4155/pull-kubevirt-e2e-windows2016/1305640986470256640

**What you expected to happen**:
Test pass
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2020-09-15 15:20] brybacki opened #4181 "[Flaky CI] VMIDefaults MemBalloon defaults Should override period in domain if present in virt-config [test_id:4558]with period 0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
Test failed:
[code]
prow link:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4155/pull-kubevirt-e2e-k8s-1.17/1304503239995035648

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2020-09-15 15:23] codificat commented on #4142
@mazzystr I understand that the intention is to raise awareness of an issue that spans beyond the user guide i.e. diverse sources of documentation with not enough guidance / clarity on how to navigate, where to find what, ... the _confusion_ that is mentioned in the title. However, I believe we all agree that the issue itself does not really belong here.

I believe we can handle specific/concrete

[2020-09-15 15:54] xpivarc commented on #4178
Root cause: ISCSI pod get oomkiled

[2020-09-15 16:16] mazzystr commented on #4142
ok, let's close this issue and move over to repo user-guide.

[2020-09-15 16:16] #4142 closed

[2020-09-15 17:08] avairavan opened #4182 "KubeVirt VM's DisK I/O performance is low compared to VM running in the host"
I am measuring the disk I/O performance with KubeVirt VM in K3s cluster using fio. The KubeVirt VM shows only 60% of the performance when compared to the VM in the host. The data is as follows:

KubeVirt VM Disk I/O performance:
![image](https://user-images.githubusercontent.com/16446281/93240783-8d67f200-f752-11ea-987d-2273faab9a61.png)

VM Disk I/O performance in host:
![image](https://user-imag

[2020-09-15 19:37] aglitke commented on #4173
@mhenriks Have you seen this?

[2020-09-15 20:03] #3943 closed

[2020-09-15 20:03] #3984 closed

[2020-09-15 22:10] #2912 closed

[2020-09-16 03:02] salanki commented on #1919
Any chance we can get `features.kvm.hidden = on` added properly to kubevirt?

[2020-09-16 03:26] todaygood opened #4184 "kubectl deploy vm failed in k8s and calico environment"
[root@pcentos kubevirt]# kubectl apply -f https://raw.githubusercontent.com/kubevirt/demo/master/manifests/vm.yaml
Error from server (InternalError): error when creating "vm.yaml": Internal error occurred: failed calling webhook "virtualmachine-validator.kubevirt.io": Post "https://virt-api.kubevirt.svc:443/virtualmachines-validate?timeout=4s": dial tcp 10.107.10.64:443: i/o timeout

[root@pcentos

[2020-09-16 08:05] Hokwang opened #4185 "creating vm / uninstall kubevirt fail"
Hi,

Recently I installed kubevirt on my kubernetes cluster.
vanilla kubernetes and it's master is on VM, others are on baremetal.
and here's company proxy.

I installed below way,
[code]

and then, creating vm command failed.
[code]

also when deleting cr.yaml for uninstall, there's same error.
[code]
when I use `kubectl delete --force --grace-period=0`, this also failed.

what is the problem and

[2020-09-16 08:43] nkhare commented on #4088
Is there any workaround for this issue? We are on Ubuntu and hitting this issue as well.

[2020-09-16 10:22] yichengliu58 commented on #4133
That would be very helpful if you could contribute ! looking forward to that !

[2020-09-16 11:33] vladikr commented on #4182
Could you also please provide the domxml of the VM you are running directly on the host?

[2020-09-16 11:37] vladikr commented on #4182
Also, could you please run the same, but add `cpu: 2` to requests:

[code]

[2020-09-16 11:44] todaygood commented on #4184
I resolved it  , it is caused by calico misconfiguration.

[2020-09-16 11:44] #4184 closed

[2020-09-16 13:34] jean-edouard commented on #4088
Yes! https://github.com/kubevirt/kubevirt/pull/4163

[2020-09-16 23:17] salanki commented on #3285
Only GeForce cards require this. Quadro and Tesla don't.

[2020-09-17 07:40] fabiand opened #4187 "Guest agent based readiness probe"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
VM booted but I don't know about it

**What you expected to happen**:
VM booted and I know about it and the VM becomes ready

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Today tcp probes can be used to determine a VMs readiness.
But many VMs carry he guest

[2020-09-17 09:00] yichengliu58 commented on #4097
@davidvossel Hi, sorry for late reply. For a client using cloud virtual machines, they usually use some startup script to format, make partition and initiate all the data disks (usually from vdb). If there is a read-only cloud-init disk (like vdb), this might cause startup script fail to run, which clients are not willing to accept.

Common cloud providers like AWS, Azure, they provide virtual mac

[2020-09-17 09:55] guangbochen opened #4188 "Masquerade binding mechanism of ports"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**What happened**:
according to the doc https://github.com/kubevirt/kubevirt/blob/master/docs/devel/networking.md#masquerade-binding-mechanism

- ports: an attribute of the interface, described in the spec::domain::interfaces subtree. Here the user indicates the white-list of ports and protocols. It is important to mention that when the list is om

[2020-09-17 10:05] wangzh21 commented on #4137
I also need this feature, let me imply it.

[2020-09-17 12:26] mhenriks opened #4190 "[Flaky CI] Configurations VirtualMachineInstance definition [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with guestAgent [test_id:4627]should return the whole data when agent is present"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

```Unexpected Warning event received: testvmijgh5kxh5m7ntgpz27pjbqw9mx2lx55zd67ch5pgts5xk9mjw,6c7f05f5-e43b-44de-a5f0-3cd7e14c8e24: server error. command SyncVMI failed: "LibvirtError(Code=1, Domain=10, Message='internal error: qemu unexpectedly closed the monitor: 2020-09-16T09:14:26.831150Z qemu-k

[2020-09-17 12:30] mhenriks opened #4191 "[Flaky CI] [rfe_id:151][crit:high][vendor:cnv-qe@redhat.com][level:component]CloudInit UserData [rfe_id:151][crit:medium][vendor:cnv-qe@redhat.com][level:component]A new VirtualMachineInstance with cloudInitNoCloud networkData [test_id:3183]should have cloud-init network-config from k8s secret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4129/pull-kubevirt-e2e-k8s-1.18/1305763418212405248

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2020-09-17 13:18] maiqueb commented on #4145
Please help me understand this better; does this fail every time the metrics are exposed via an IPv6 address ?

[2020-09-17 13:20] oshoval commented on #4145
yes , 100% failure, with "connect: network is unreachable"
also on kind btw, which do expose a service, it was just hidden because the test_id:4140 expects errors, so it let this error pass as well quietly

[2020-09-17 14:04] peter-maday commented on #4185
Seems the main issue is `x509: certificate signed by unknown authority`

[2020-09-18 04:02] nsharma1231 commented on #4101
Good evening, I'm a student at the University of Texas at Austin. I'm taking a class in Virtualization and one of our projects is to contribute to an open-source repository. My group and I were interested and KubeVirt and wanted to contribute. Is this an issue that we could potentially work on?

[2020-09-18 04:03] estherlyoon commented on #4104
Hi, myself and my group members are interested in taking on this as our first contribution to this repo; we're university students working on open-source projects for a course we're taking on Virtualization. If this would be a suitable issue for us to tackle, could someone provide more information on what's needed to be done for it?

[2020-09-18 04:58] Hokwang commented on #4185
@peter-maday
so how can I fix this? I can't delete, upgrade, create vm...

[2020-09-18 09:13] tomob commented on #4180
/triage build-watcher

[2020-09-18 09:26] tomob opened #4197 "[Flaky CI] Configurations VirtualMachineInstance definition [rfe_id:3077][crit:medium][vendor:cnv-qe@redhat.com][level:component]with input devices [test_id:3073]should start the VMI with tablet input device with usb bus"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:
CI Test failed

[code]
Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4083/pull-kubevirt-e2e-k8s-1.16/1306513737737310208

**What you expected to happen**:
CI tests should pass.

**How to reproduce it (as minimally and precisely as possible)**:

**Anythin

[2020-09-18 09:45] tomob opened #4198 "[Flaky CI] Infrastructure [rfe_id:4102][crit:medium][vendor:cnv-qe@redhat.com][level:component]certificates [test_id:4099] should be rotated when a new CA is created + Infrastructure [rfe_id:4102][crit:medium][vendor:cnv-qe@redhat.com][level:component]certificates [test_id:4100] should be valid during the whole rotation process"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

Two tests related to certificate rotation failed.

* Infrastructure   [rfe_id:4102][crit:medium][vendor:cnv-qe@redhat.com][level:component]certificates  [test_id:4099] should be rotated when a new CA is created
* Infrastructure   [rfe_id:4102][crit:medium][vendor:cnv-qe@redhat.com][level:component]c

[2020-09-18 10:09] tomob opened #4199 "[Flaky CI] ImageUpload Upload an image and start a VMI with PVC [test_id:4621] Should succeed DataVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI Test failed:

[code]

**What you expected to happen**:

Test should pass.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Test lane: pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6

[2020-09-18 13:45] #3285 closed

[2020-09-18 14:53] tomob opened #4204 "[Flaky CI] [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance when virt-handler is not responsive [test_id:1634]the node controller should mark the node as unschedulable when the virt-handler heartbeat has timedout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI test failed

[code]

Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4035/pull-kubevirt-e2e-k8s-cnao-1.17/1306211623098126336

**What you expected to happen**:

The test should pass

**How to reproduce it (as minimally and precisely as possible)**:

**

[2020-09-18 14:56] tomob opened #4205 "[Flaky CI] [rfe_id:3064][crit:medium][vendor:cnv-qe@redhat.com][level:component]Pausing A valid VM when paused via virtctl [test_id:3083]should gracefully handle console connection"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI test failed

[code]

Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4035/pull-kubevirt-e2e-k8s-1.17/1306071699006951424

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2020-09-18 14:59] tomob opened #4206 "[Flaky CI] [rfe_id:899][crit:medium][vendor:cnv-qe@redhat.com][level:component]Config With a ConfigMap defined With a single volume [test_id:782]Should be the fs layout the same for a pod and vmi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI Test failed

[code]

Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3471/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1306691283586125824

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2020-09-18 15:01] detiber opened #4207 "Support for built-in vnc client on Mac"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

`virtctl vnc` currently requires installing a third party application on Mac OS X in order to function

**What you expected to happen**:

`virtctl vnc` to use the built-in vnc client on Mac OS X

**How to reproduce it (as minimally and precisely as possible)**:

Run `virtctl vnc <name>` on a Mac OS X host without

[2020-09-18 15:05] tomob opened #4208 "[Flaky CI] [rfe_id:253][crit:medium][vendor:cnv-qe@redhat.com][level:component]Expose Expose service on a VM Expose ClusterIP service [test_id:1531][label:masquerade_binding_connectivity]Should expose a Cluster IP service on a VMI and connect to it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI Test failed: timed out on an unusual time duration

[code]

Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4035/pull-kubevirt-e2e-k8s-1.16/1306211623102320640

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as poss

[2020-09-18 15:07] tomob opened #4209 "[Flaky CI] [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]VMIlifecycle [rfe_id:273][crit:high][vendor:cnv-qe@redhat.com][level:component]Creating a VirtualMachineInstance when name is longer than 63 characters [test_id:1625]should start it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI Test failed

[code]

Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4035/pull-kubevirt-e2e-k8s-1.16/1306686374597890048

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2020-09-18 15:10] tomob opened #4210 "[Flaky CI] Configurations VirtualMachineInstance definition [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with diverging guest memory from requested memory [test_id:1669]should show the requested guest memory inside the VMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI Test failed with libvirt error:

[code]

Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4035/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1305961095365660673

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**

[2020-09-18 15:14] tomob opened #4211 "[Flaky CI] Configurations VirtualMachineInstance definition [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with guestAgent [test_id:4628]should not return the whole data when agent is not present"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-watcher

**What happened**:

CI Test failed with libvirt error:

[code]

Prow link: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4035/pull-kubevirt-e2e-k8s-1.16/1305762285783879680

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anythin

[2020-09-18 15:17] tomob commented on #3704
Another one: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4035/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1306409927496962048

[2020-09-18 15:36] rmohr commented on #4180
Thanks for reporting. Duplicate of #2566. Sadly an infra issue which we so far can only make happen less often and could not identify the root cause.

[2020-09-18 15:36] rmohr commented on #4180
/close

[2020-09-18 15:36] #4180 closed

[2020-09-18 15:36] rmohr commented on #4197
/close

Thanks for reporting. Duplicate of #2566. Sadly an infra issue which we so far can only make happen less often and could not identify the root cause.

[2020-09-18 15:36] #4197 closed

[2020-09-18 15:37] rmohr commented on #4190
/close

Thanks for reporting. Duplicate of #2566. Sadly an infra issue which we so far can only make happen less often and could not identify the root cause.

[2020-09-18 15:38] #4190 closed

[2020-09-18 15:39] rmohr commented on #4181
/close

Thanks for reporting. Duplicate of #3872. Sadly an infra issue which we so far can only make happen less often and could not identify the root cause.

[2020-09-18 15:39] #4181 closed

[2020-09-18 15:39] rmohr commented on #4181
Thanks for reporting. Duplicate of #3872. Sadly an infra issue which we so far can only make happen less often and could not identify the root cause.

[2020-09-18 15:41] rmohr commented on #4211
/close

Thanks for reporting. Duplicate of #3872. Sadly an infra issue which we so far can only make happen less often and could not identify the root cause.

[2020-09-18 15:41] rmohr commented on #4210
/close

Thanks for reporting. Duplicate of #3872. Sadly an infra issue which we so far can only make happen less often and could not identify the root cause.

[2020-09-18 15:41] #4210 closed

[2020-09-18 15:41] #4211 closed

[2020-09-18 19:50] uma-sethuraman commented on #2530
Hello, my group members and I are students at the University of Texas at Austin. One of the projects in our Virtualization course is to contribute to an open-source repository. We are interested in contributing to KubeVirt. Would this be a suitable first issue for us to work on?

[2020-09-19 13:35] #3306 closed

[2020-09-19 15:37] #3318 closed

[2020-09-20 00:37] #4088 closed

[2020-09-20 07:52] #3324 closed

[2020-09-20 20:05] nsharma1231 commented on #4077
Good afternoon, my group members and I are students at the University of Texas at Austin. For our Virtualization class, one of our assignments is to contribute to an open source repository, and we are interested in KubeVirt. Would we be able to work on this issue?

[2020-09-21 02:06] Hokwang commented on #4185
after remove `finalizers:` in CRD, I can remove kubevirt.

[2020-09-21 02:06] #4185 closed

[2020-09-21 07:55] maya-r commented on #4178
I see OOM on some runs but [here's a failing run that doesn't have those messages](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4092/pull-kubevirt-e2e-k8s-1.16/1307540376097132544).

[2020-09-21 08:08] #3331 closed

[2020-09-21 08:10] maya-r commented on #4198
[More occurrences](https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4092/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1306953511015026688), interesting that it is on the same lane.

[2020-09-21 08:55] maya-r commented on #4198
I wonder if this test would be more stable if we changed [this Eventually block](https://github.com/kubevirt/kubevirt/blob/master/tests/infra_test.go#L89-L104) to Get the secret and check that the Data no longer matches the bogus "random": "nonsense" value.

That is, that the flakiness might be occurring since we managed to get the old value before it was deleted.

what do you think, @rmohr?

[2020-09-21 09:46] guangbochen commented on #4188
close as this is resolved with a build-in masquerade rule.

[2020-09-21 09:46] #4188 closed

[2020-09-21 10:10] rmohr commented on #4198
@maya-r not sure this is the right approach. I think the main issue is that we actually have issues connecting to the VMI. We basically just force a certificate rotation and then check if we can still connect. I know that it recovers later, but there should be the whole time no single point in time where we can't connect to the VM. With or without the new certificate :/

[2020-09-21 10:10] suomiy commented on #2530
@uma-sethuraman it seems this issue is getting fixed by https://github.com/kubevirt/kubevirt/pull/3257

[2020-09-21 11:11] ThreeFx commented on #4094
I am observing the same issues on microk8s and kubevirt v0.33.0. Manual running seems to indicate a misplaced socket: the virt-launcher pod is complaining about not finding the libvirt-sock in /var/run/libvirt/ but an `exec` into the container shows that it is only found under `/run/libvirt`.

[2020-09-21 11:48] maya-r opened #4219 "[Flaky CI][test_id:3245]should not migrate more than two VMIs at the same time from a node"
/kind bug

The test in the subject has appeared in flakefinder in this run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4092/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1307192333317443584

this test has been flaky before (see #3990, #3621) but those previous issues were closed, and this failure looks different:
[code]

[2020-09-21 11:49] rmohr commented on #4166
/kind bug

Thanks  for reporting!

Fixed in #4155. Should be in 0.34.

[2020-09-21 11:49] rmohr commented on #4166
/close

[2020-09-21 11:49] #4166 closed

[2020-09-21 11:50] maya-r commented on #4219
/triage build-watcher

[2020-09-21 11:52] rmohr commented on #4133
Hi, that is certainly something which we want to add. Just recently @mhenriks added offline snapshot and restore. Not sure when we will get to online snapshots. @mhenriks would it be with offline snapshots possible to clone the VM right now?

[2020-09-21 11:53] rmohr commented on #4133
/enhancement

[2020-09-21 11:53] rmohr commented on #4133
/kind enhancement

[2020-09-21 12:08] maya-r commented on #3872
getting "Domain requires KVM, but it is not available." here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4092/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1306486558169239552

[2020-09-21 13:42] jean-edouard commented on #3872
The cause is `/dev/kvm` being absent: https://github.com/libvirt/libvirt/blob/7143ae1265407e30e35bf0fc34c2dc8ab2d77600/src/qemu/qemu_process.c#L5391
Since I already have a PR open to ensure `/dev/null` and `/dev/urandom` are there, I just added a commit for `/dev/kvm`: https://github.com/kubevirt/kubevirt/pull/4194
Hopefully this is a timing issue, otherwise the fix will just move the error...

[2020-09-21 14:57] birdiesanders opened #4221 "Version 0.33.0 changes to tun causes failure to spin up VMs."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When standing up a new cluster, I was unable to get any VM to boot. Upon investigation, all the VMs were stuck after being unable to attach tun0 to the pods.
**What you expected to happen**:
I expected the VMs to spin up as they did with 0.32.0
**How to reproduce it (as minimally and precisely as possible)**:
We are using

[2020-09-21 15:09] anandgbhat opened #4222 "kubevirt containers have vulnerable sudo version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
virt-api container image ships sudo version 1.8.27 which has known CVE CVE-2019-14287 . This is a privilege escalation issue and need to be updated ASAP.

**What you expected to happen**:
virt-api container with no known security issues :-)

**How to reproduce it (as minimally and precisely as possible)**:
1> Launch the v

[2020-09-21 17:11] #3041 closed

[2020-09-21 21:02] davidvossel commented on #4094
If you can find the failed pod, this should give us some hints as to why it failed.

```kubectl logs -n <namespace> -c compute <pod> ```

[2020-09-22 05:53] rupang790 opened #4226 "server error. command SyncVMI failed: "LibvirtError(Code=67, Domain=10, Message='unsupported configuration: host doesn't support passthrough of host PCI devices')""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

I tried to create VM with SR-IOV which uses PCI-Passthrough on OKD 4.5 platform.
I already check that SR-IOV VF interface was attached and active well with container Pod.
However, it was not work on KubeVirt vm and I can see the error message as below on OKD dashboard.
<img width="991" alt="image" src="https://us

[2020-09-22 06:28] ksimon1 opened #4227 "VM created from common-template can't run on openshift ci"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When creating VM from Fedora common-template on openshift ci, vm is failing with
`server error. command SyncVMI failed: "LibvirtError(Code=38, Domain=0, Message='Unable to create tap device tap0: Invalid argument')"`
**What you expected to happen**:
VM is running
**How to reproduce it (as minimally and precisely as possib

[2020-09-22 06:29] todaygood opened #4228 "kube-apiserver restart after start cirros vm"
**What happened**:
I found after I run "virtctl start testvm"  , kube-apiserver restart.

**What you expected to happen**:
kube-apiserver always run fine.

**How to reproduce it (as minimally and precisely as possible)**:
1. build k8s cluster via kubeadm
2. install kubevirt
3. start cirros vm

**Anything else we need to know?**:
kube-apiserver  exit after "virtctl start testvm"

[code]
kube-apiser

[2020-09-22 07:00] dhiller opened #4229 "k8s-1.19 has some suspicious test failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When looking at the failed runs for the new k8s-1.19 lane I had some suspicious test failures that didn't look like flakes:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4162/pull-kubevirt-e2e-k8s-1.19/1308199092169478144
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/p

[2020-09-22 07:02] #4009 closed

[2020-09-22 07:09] fabiand commented on #4227
@AlonaKaplan thins like this get me back to ensure that we find a good slirp replacement.

[2020-09-22 09:54] rmohr commented on #3648
Something like `certManager` strategy would indeed be nice to have. I could see the following strategies emerging:

[code]

[2020-09-22 11:18] dhiller commented on #4229
These two seem somehow network related: @phoracek do you mind taking a quick look?

* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4196/pull-kubevirt-e2e-k8s-1.19/1308109881026285568
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3949/pull-kubevirt-e2e-k8s-1.19/1308096291313553408

[2020-09-22 11:20] dhiller commented on #4229
This one looks storage related: @aglitke do you mind taking a quick look, please?

* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/3837/pull-kubevirt-e2e-k8s-1.19/1308153040678686720

[2020-09-22 11:28] phoracek commented on #4229
@qinqon are those related to our new Policy tests?

[2020-09-22 12:24] avairavan commented on #4182
Apologies for the delayed response. Was running other tests in my setup and couldn't collect these stats. Will do it today. What is the difference between allocating resources -> requests -> cpu: 2 for the pod and allocating cores =2 for the VM.

[2020-09-22 12:52] rmohr commented on #4228
@todaygood could you check the kube-apiserver logs from the instance which crashed? Should be something like `kubectl logs -p` (`-p` for previous). The provided logs don't contain any hint of a crash.

[2020-09-22 13:04] rmohr commented on #4221
Hm, that is tricky. Could you share virt-handler logs and a logs from one of the virt-launcher pods which are stuck? I can only say that things are working four our kubeadm clusters (1.16, 1.17, 1.18 and 1.19 with selinux) without more logs.

[2020-09-22 13:04] rmohr commented on #4221
/assign @jean-edouard
/assign @maiqueb

[2020-09-22 13:04] rmohr commented on #4221
@jean-edouard @maiqueb would be great if you could have a look if we can get some logs.

[2020-09-22 13:06] rmohr commented on #4137
@wangzh21 did you mean that you want to implement it? That would be great. Feel free to reach out to us if you need something.

[2020-09-22 13:27] jean-edouard commented on #4221
https://github.com/kubevirt/kubevirt/pull/4232

[2020-09-22 15:58] maiqueb commented on #4227
We've changed how the tap devices are created; the super-privileged virt-handler now creates the tap device on behalf of the unprivileged virt-laucher, in which libvirt will afterwards consume it (without performing any kind of configuration).

The tap device is being created in multi-queue mode, but then, the consuming side requests a single queue - as can be seen by this portion of the domxml: `

[2020-09-22 16:50] avairavan commented on #4182
I ran the performance tests with

        requests:
          cpu: 2
          memory: 1024M

but the performance is still low as shown below:

![image](https://user-images.githubusercontent.com/16446281/93909812-315f1980-fcce-11ea-995e-2d8ddcf44c3a.png)

The domxml of VM is as follows:

[vm1.docx](https://github.com/kubevirt/kubevirt/files/5262903/vm1.docx)

[2020-09-22 18:40] vladikr commented on #4182
Could you also please post the domxml of the VM you are running on the host, so I could compare, please?

[2020-09-22 19:28] birdiesanders commented on #4221
I will attempt to find logs, but I may have to build an entire cluster in
order to replicate this, so please bear with me if the lead time is a bit
of time. We have some spare OCP compute nodes, so I should be able to pull
this off by the end of the week. I’ll probably enlist one of the other
engineers as well to speed up the process a bit.
On Tue, Sep 22, 2020 at 8:27 AM Jed Lejosne <notification

[2020-09-23 01:43] avairavan commented on #4182
Attached herewith domxml of the host VM.

[hostvm.docx](https://github.com/kubevirt/kubevirt/files/5265014/hostvm.docx)

[2020-09-23 06:42] omeryahud commented on #4179
Happened again here:

- https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4215/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1307929565825339393

- https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4200/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1306898648696623104

[2020-09-23 06:43] omeryahud commented on #4198
Failed again here: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4216/pull-kubevirt-e2e-k8s-1.17/1307931454021308416

[2020-09-23 06:47] omeryahud opened #4238 "[Flakey CI] Operator With PrometheusRule Disabled [test_id:4615]Checks that we do not deploy a PrometheusRule cr when not needed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder found this test to be flakey:
[code]

Failed in this prowjob with the following error: `unable to listen on any of the requested ports: [{5000 8444}]`:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4200/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1306898648

[2020-09-23 06:52] omeryahud commented on #3749
@rmohr This test failed again, but with this error: `Can't connect to websocket (500): websocket: bad handshake`

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4196/pull-kubevirt-e2e-kind-k8s-1.17.0-ipv6/1306702732689674240

[2020-09-23 06:57] omeryahud commented on #3872
Seeing `Unable to open /dev/kvm: Operation not permitted` here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4196/pull-kubevirt-e2e-k8s-1.16/1307987326898540544

[2020-09-23 07:01] omeryahud opened #4239 "[Flakey CI] [rfe_id:150][crit:high][vendor:cnv-qe@redhat.com][level:component]Networkpolicy when three cirros VMs with default networking are started and serverVMI start an HTTP server on port 80 and 81 and connectivity between VMI/s is blocked by Default-deny networkpolicy [test_id:1511] should fail to reach serverVMI from clientVMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/triage build-officer

**What happened**:
Flakefinder found this test to be flakey:
[code]

Failed in this prowjob due to invalid interface conversion: `Panic: interface conversion: runtime.Object is *v1.Status, not *v1.Event`

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4196/pull-kubevirt-e2e-k8s-1.19/1

[2020-09-23 07:22] rupang790 opened #4240 "How to config static IP address to SR-IOV interface on Kubevirt vmi ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Trying to attach SR-IOV interface to KubeVirt VMI, but I could not set static IP address on the interface on yaml file.
Do you have any Ideas about this?
I share my SR-IOV and VM yaml file to understand.

**SR-IOV Node Policy**
<img width="433" alt="image" src="https://user-images.githubusercontent.com/40801176/93980061-187f6280-fdb

[2020-09-23 07:36] rmohr commented on #4221
@birdiesanders #4232 is merged on master, you can instead also try out the latest developer build. It if works for you then, we don't need anything in addition.

Here how to deploy the developer build: https://kubevirt.io/user-guide/#/installation/installation?id=installing-the-daily-developer-builds

[2020-09-23 08:38] rmohr commented on #3648
/reopen

The PR partially addresses this issue.

[2020-09-23 09:20] akrejcir opened #4241 "[Flaky CI] [rfe_id:151][crit:high][vendor:cnv-qe@redhat.com][level:component]CloudInit UserData [rfe_id:151][crit:medium][vendor:cnv-qe@redhat.com][level:component]A new VirtualMachineInstance with cloudInitNoCloud userDataBase64 source with injected ssh-key [test_id:1616]should have ssh-key under authorized keys"
/kind bug
/triage build-watcher

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4196/pull-kubevirt-e2e-k8s-1.17/1306702732685479936

[2020-09-23 09:22] akrejcir commented on #4241
/triage build-watcher

[2020-09-23 09:33] akrejcir commented on #3704
Another: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4216/pull-kubevirt-e2e-k8s-1.17/1307931454021308416

[2020-09-23 09:44] akrejcir opened #4242 "[Flaky CI] Subresource Api [rfe_id:1195][crit:medium][vendor:cnv-qe@redhat.com][level:component] Rbac Authorization For Version Command with authenticated user [test_id:3172]should be allowed to access subresource version endpoint"
/kind bug
/triage build-watcher

**What happened**:
[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4162/pull-kubevirt-e2e-k8s-1.19/1308199092169478144

[2020-09-23 09:52] akrejcir opened #4243 "[Flaky CI] [rfe_id:899][crit:medium][vendor:cnv-qe@redhat.com][level:component]Config With a Secret defined With a single volume [test_id:779]Should be the fs layout the same for a pod and vmi"
/kind bug
/triage build-watcher

**What happened**:
[code]
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4202/pull-kubevirt-e2e-k8s-1.18/1308068357873864704

[2020-09-23 09:58] akrejcir opened #4244 "[Flaky CI] AfterSuite"
/kind bug
/triage build-watcher

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4223/pull-kubevirt-e2e-k8s-1.18/1308071881005338625

[2020-09-23 10:03] akrejcir opened #4245 "[Flaky CI] Configurations [rfe_id:140][crit:medium][vendor:cnv-qe@redhat.com][level:component]with CPU spec when CPU features defined [test_id:3123]should start a Virtaul Machine with matching features"
/kind bug
/triage build-watcher

**What happened**:
[code]

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4202/pull-kubevirt-e2e-k8s-1.17-rook-ceph/1308145993014841344

[2020-09-23 10:23] phoracek commented on #4239
/assign @qinqon

[2020-09-23 12:18] awels commented on #4182
Correct me if I am wrong, but I was under the impression that in k3s the node is a VM itself. So if you run a KubeVirt VM on a k3s node, then you are running a VM inside a VM, which will impact performance.

[2020-09-23 12:29] yichengliu58 commented on #4133
@rmohr I think snapshot is slightly different from the issue here. In this issue we just want to export the data from a system disk of a vmi into an image. So we can regard this disk device as a raw image file, and use qemu-img to convert the file into a qcow2 image file, then the image is ready to use.

As for snapshot, I find the implementation is far more complex than this. I'm not sure if I un

[2020-09-23 13:24] rmohr commented on #4133
@yichengliu58 so to clarify, you only want to clone a disk?

@mhenriks @awels FYI.

[2020-09-23 14:08] awels commented on #4133
If the system disk lives on a PVC, you can just clone the PVC. But if the system disk is some ephemeral type disk like a container disk, then we would need something like online snapshots before we can export it.

[2020-09-23 14:22] birdiesanders commented on #4221
Ok, this current testing cluster has some test customers running on it until the end of the week. After that, we can start doing potentially destructive things such as upgrading kubevirt. The plan as of now is to let them have the cluster through the weekend, and on Monday we will start testing a few changes that we have come up with, and I will include the update to the newer version in that list

[2020-09-23 14:34] banksyian opened #4250 "Adding disk to running virtual machine"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Editing running virtualMachine spec and adding a disk to use an existing PVC.
The additional disk is not detected by the `virt-launcher` pod or the virtualMachine until the virtual machine is restarted.

**What you expected to happen**:
I am trying to add a disk to the running virtual machine without having to res

[2020-09-23 14:43] avairavan commented on #4182
@awels The K3s is a physical machine and is not a VM. The system config is as follows:

H/W path           Device        Class          Description
===========================================================
                                 system          Edge (Default string)
/0                               bus            Default string
/0/0                             memory         64KiB BIOS

[2020-09-23 14:46] rmohr commented on #4133
Like described at https://github.com/kubevirt/containerized-data-importer#clone-another-pvc ?

[2020-09-23 16:26] mhenriks commented on #4182
KubeVirt disk images are initially sparse files.  Is that also the case for your VM?

[2020-09-23 16:33] #4116 closed

[2020-09-23 23:14] MichaelWasher commented on #3732
Nope, lgtm. I'm just looking at the project looking for low-hanging fruit to start with.

[2020-09-24 03:01] yichengliu58 commented on #4133
I think this quite similar with disk cloning, but after clone has done, the disk data should be converted to an image format (e.g. using qemu-img convert). Because users always want a ready-to-use image instead of a PVC

[2020-09-24 06:29] ksimon1 commented on #3872
Seeing `Unable to open /dev/kvm: Operation not permitted` here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4100/pull-kubevirt-e2e-k8s-1.18/1308357893736632320

[2020-09-24 07:42] dhiller opened #4254 "test_id:1511 is failing often on k8s-1.19 lane"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

On all 1.19 lane fails the test [test_id:1511](https://github.com/kubevirt/kubevirt/blob/c00e33c2c0ca003ecfd50d343bbbf094ce99d8a1/tests/networkpolicy_test.go#L90) is the one to be seen most. Before making the lane 1.19 a default we need to investigate this failure.

Examples:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-

[2020-09-24 07:43] ksimon1 opened #4255 "[Flaky CI] IOThreads IOThreads Policies [It] [test_id:4025]Should place io and emulator threads on the same pcpu with auto ioThreadsPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-watcher

**What happened**:
IOThreads IOThreads Policies [It] [test_id:4025]Should place io and emulator threads on the same pcpu with auto ioThreadsPolicy

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4100/pull-kubevirt-e2e-k8s-1.16/1308357893728243712

[code]

[2020-09-24 07:49] dhiller commented on #4254
Related kubevirt build watcher issue: https://github.com/kubevirt/kubevirt/issues/4239

[2020-09-24 07:55] dhiller commented on #4254
Closing this in favor of other issue, PR related seems ready: https://github.com/kubevirt/kubevirt/issues/4239

[2020-09-24 07:55] #4254 closed

[2020-09-24 08:14] ksimon1 opened #4256 "[Flaky CI] [rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine A valid VirtualMachine given Using virtctl interface Using RunStrategyAlways [It] [test_id:4119]should migrate a running VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/triage build-watcher
**What happened**:
[rfe_id:1177][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachine A valid VirtualMachine given Using virtctl interface Using RunStrategyAlways [It] [test_id:4119]should migrate a running VM

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4100/pull-ku

[2020-09-24 08:15] ksimon1 commented on #4256
/triage build-watcher

[2020-09-24 08:19] #3486 closed

[2020-09-24 08:22] ksimon1 opened #4257 "[Flaky CI] Storage Starting a VirtualMachineInstance Run a VMI wiht VirtIO-FS and a datavolume [It] should be successfully started and viriofs could be accessed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
 /triage build-watcher
**What happened**:
Storage Starting a VirtualMachineInstance Run a VMI wiht VirtIO-FS and a datavolume [It] should be successfully started and viriofs could be accessed

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4100/pull-kubevirt-e2e-k8s-1.16/1308357893728243712

[code]

[2020-09-24 08:27] ksimon1 opened #4258 "[Flaky CI] Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With a HostDisk defined With 'DiskExists' type [It] [test_id:2306]Should use existing disk image"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
 /triage build-watcher
**What happened**:
Storage Starting a VirtualMachineInstance [rfe_id:2298][crit:medium][vendor:cnv-qe@redhat.com][level:component] With HostDisk and PVC initialization With a HostDisk defined With 'DiskExists' type [It] [test_id:2306]Should use existing disk image

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-l

[2020-09-24 08:38] qinqon commented on #4239
I see that at kubevirt we have client-go 0.16.4 but k8s is 1.19 could this be the issue ? openned at bug/question at k8s client-go https://github.com/kubernetes/client-go/issues/869

[2020-09-24 13:01] avairavan commented on #4182
I used the disk image used in the Host VM on the KubeVirt VM. Even with the same disk image, the performance of KubeVirt VM is low compared with the Host VM

![image](https://user-images.githubusercontent.com/16446281/94148324-79a04800-fe44-11ea-8b4e-593044116549.png)

[2020-09-24 15:44] todaygood commented on #4228
I rebuild the envionment  and met this issue , but this time , I didn't found apiserver recoved, so I can't get the output of  "kubectl logs -p kube-apiserver"
[code]

and I find golang dumpstack  in kube-apiserver container's log  , please check file:
[issue4228-kube-apiserver.zip](https://github.com/kubevirt/kubevirt/files/5277299/issue4228-kube-apiserver.zip)

[2020-09-25 03:27] lixiaobing1 commented on #4094
kubectl logs -c compute virt-launcher-testvm-ds8ww
Error from server (BadRequest): container "compute" in pod "virt-launcher-testvm-ds8ww" is waiting to start: PodInitializing

[2020-09-25 08:19] rmohr opened #4262 "[flaky ci] [Serial]Slirp Networking should be able to VirtualMachineInstance with slirp interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The test

[code]

fails a lot since #4051 got merged with

[code]

It turns out that the reason are missing readiness probes on virt-handler in combination with a long startup time. We see between the selinux detection and the controller-start in virt-handler sometimes huge delays:

[code]

The things which are happening

[2020-09-25 08:19] rmohr commented on #4262
@maiqueb @jean-edouard FYI.

[2020-09-25 08:34] rmohr opened #4264 "virt-handler startup is sometimes unreasonably slow"
/kind bug

**What happened**:

Break-out of #4262 which gets partially fixed with #4263.

[code]

The things which are happening during this lost time:

* some selinux relabeling
* installing a selinux policy
* waiting for list-watchers to get ready

All three should be reasonably fast, but one of these operations seems to cause issues.
It varies between roughly 10-30 seconds until these three ope

[2020-09-25 10:35] rmohr commented on #4250
@banksyian that is not possible right now. @awels is working on a POC to allow adding disks to running VMs (hotplug).

[2020-09-25 10:37] rmohr commented on #4228
@todaygood I think that the apiserver may have an issue in your k8s build. It looks like it just crashes when `virtctl` tries to do the `/start`-REST call to our aggregated apiserver. This looks like an apiserver bug. I would suggest updating k8s from 1.19.0-rc0 to 1.19.2.

[2020-09-25 13:00] banksyian commented on #4250
@rmohr Thanks for the confirmation, I will keep an eye out for it.

[2020-09-25 13:07] jean-edouard commented on #4262
That's 23 seconds delay, right?
Installing a .cil SELinux policy takes 17 seconds on my machine, so that delay doesn't surprise me.
What's more surprising is that until very recently (https://github.com/kubevirt/kubevirt/pull/4183), we were installing 2 .cil files, which must have added up to a 30+ seconds delay.
Maybe we're having the opposite problem, and virt-handler being ready earlier reveale

[2020-09-25 13:08] awels commented on #4250
The PoC code can be found [here](https://github.com/awels/kubevirt/tree/hotplug-poc). But it requires a custom version of the libvirt container used to build virt-launcher. I am currently working on a design proposal for support in KubeVirt

[2020-09-25 13:15] rmohr commented on #4262
If this long period is really ok, then we  are good with #4263. We had not readiness probes on virt-handler, but some tests alrady  wanted to connect to it, because the ready condition was already set while virt-handler was still installing the selinux policy.

[2020-09-25 13:27] birdiesanders commented on #4250
@awels  Thanks very much, we have been racking our brains on this one for a few days now, good to see you guys seem to be thinking of the same things we are. I let @banksyian know about your reply, he will probably have some questions for you about it shortly.

[2020-09-25 13:31] andyjeffries commented on #4250
We (@banksyian, @birdiesanders and I work for the same company) may not be that much help at first, but we want to get more involved with the software we're using, so if we can help in any way @awels, let us know.

[2020-09-25 15:44] #3356 closed

[2020-09-25 16:34] awels commented on #4250
I am putting the final touches on my hot plug proposal. I will be sending the link to the kubevirt-dev mailing list soon(tm). Once I put it out there, please feel free to add comments/questions/etc for your specific use case.

[2020-09-25 16:51] birdiesanders commented on #4250
@awels You, and the rest of your team, are simply amazing. Truly a pleasure to work with. Thank you for your help and efforts.

[2020-09-25 17:57] rootfs opened #4267 "Support CNI IPAM DNS config"
/kind enhancement

**What happened**:
CNI IPAM DNS strings not passed to the VM
**What you expected to happen**:
Currently the VM DNS config comes from launch pod as seen [here](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/virtwrap/network/common.go#L337). This prevents an IPAM DNS config passthrough when a VM solely uses Multus network.

Please use IPAM DNS config when the V

[2020-09-25 18:57] banksyian commented on #4250
@awels Thats great news, thanks.

[2020-09-25 20:31] davidvossel opened #4268 "DataVolumeTemplates API regression"
/kind bug

When I made the recent change to the DataVolumeTemplate section of the VirtualMachine API in this pr #4261 it resulted in an unexpected regression.

Previously, the DataVolumeTemplate referenced a list of DataVolume objects, which contained a Status.  The new revision removed the Status struct. Even though the status struct is marked as "omitempty", it is still persisted in etcd for eac