[2021-07-08 08:55] xpivarc commented on #5828
@gidde8
It`s nothing major. It`s ensuring API consistency, e.g naming or tags for server-side apply. I would need to see the message to tell you which one it is.

[2021-07-08 09:58] 66545shiwo opened #5999 "process "qemu-kvm" with high cpu load"
Hello,

When I execute the jps command in my VirtualMachineInstance,  this command hangs there , and  the process "qemu-kvm" was with high cpu load.

​

[code]

[code]

[code]

​

[code]

Could you please help me see what's wrong with the VirtualMachineInstance?

[2021-07-08 10:09] rmohr commented on #5995
@Kate-DONG I am not sure I can follow. I think the issue will go away now with working networking as soon as you restart docker. Something like `systemctl restart docker`.

[2021-07-08 11:08] rmohr commented on #5969
Ok #5973 was different. Could you share the domain xml of a VM where this is happening (`$ kubectl exec <vm-pod-name> -c compute -- virsh dumpxml <namespace>_<vmname>`)?

[2021-07-08 11:09] vasiliy-ul commented on #5999
49451 qemu      20   0 6428280   1.9g  21188 R 99.3  0.5 142:35.05 CPU 3/TCG
 49452 qemu      20   0 6428280   1.9g  21188 R 99.3  0.5   3:58.55 CPU 4/TCG
 49449 qemu      20   0 6428280   1.9g  21188 R 99.0  0.5   2:52.80 CPU 1/TCG

Just a guess but `TCG` stands for tiny code generator meaning software emulation. Do you have hw virtualization enabled on your machine?

[2021-07-08 14:04] kwiesmueller commented on #3558
Great to see this!
One question/potential task would be if we can get multi-arch images for this.
We tried deploying kubevirt with a custom ARM build on a cluster made from mixed nodes (Raspberry Pi and regular VMs) and right now it's not possible to do.
To support mixed architectures right now we need to:
a) build multi-arch images
b) use tags for pulling images (as the internal SHAs will be diff

[2021-07-08 17:53] rraj-gautam commented on #5966
Here is the xml file:
[code]

[2021-07-09 01:33] Kate-DONG commented on #5995
@rmohr We tried the step "systemctl restart docker", but there still is the similar error. Well, we encounter the error is in kubevirt v0.42.1, and we tried that running the code in kubevirt v0.30.5 is ok.

[2021-07-09 02:24] zhlhahaha commented on #3558
Now we have experimental release for ARM64, and here is the guide for how to deploy kubevirt on ARM64 https://kubevirt.io/user-guide/operations/installation/#experimental-arm64-developer-builds
I have not tried to deploy it on Raspberry Pi, so please tell me if you meet any problems.

By the way, the arm64 vmi images are also in `quay.io/kubevirt`,  for example:
[code]

As images for ARM64 arch is

[2021-07-09 03:05] 66545shiwo commented on #5999
@vasiliy-ul

Thank you for your reply.

I have enabled  hw virtualization on my machine.

[code]

[code]

[code]

As you can see ,  the jps command was executed for three seconds and the javac command was executed for 11 seconds.

Is there any other reason for the TCG thread with high CPU load  when I execute just a javac command  in my VirtualMachineInstance?

[2021-07-09 03:15] LLLLLBJ commented on #5996
@rmohr Yes, it is!  Hope `--kubele-pods-dir` fully support.

[2021-07-09 07:01] 66545shiwo commented on #5999
@vasiliy-ul
I have found the reason that I didn't use this hardware virtualization.
I set the useEmulation to true in the KubeVirt CR .
Thank you for your advice !
Thank you for your help!

[2021-07-09 07:02] #5999 closed

[2021-07-09 07:13] rmohr commented on #3558
We can simply push all images and then afterwards build a multi-arch image with e.g. `dockerx`. That should not be too hard. We did that in a few other contexts.

However: virt-handler and virt-api have no understanding what mixed cluster means. It just knows about the architecture it is running on. Supporting mixed clusters is in my opinion its own epic outside of supporting arm.

[2021-07-09 07:15] rmohr commented on #5996
@LLLLLBJ maybe you can create a symlink like mentioned in #5913. Closing this as duplicate of #5913. Feel free to reopen if needed.

[2021-07-09 07:16] rmohr commented on #5995
Hm, I have no other idea right now. We did not really change anything in the build environment. Does `main` work for you? Maybe try deleting the `kubevirt` docker volume and related images and try again `docker volume rm kubevirt`.

[2021-07-09 07:24] Kate-DONG commented on #5995
@rmohr thanks，next we will try your suggest，and I want to know if podman can replace docker?

[2021-07-09 07:26] rmohr commented on #5995
Yes, you can use podman instead. If you have podman installed and simply disable docker it should choose podman. As an alternative you can `export KUBEVIRT_CRI=podman`.

[2021-07-09 07:32] Kate-DONG commented on #5995
@rmohr ok, thanks.

[2021-07-09 11:00] weihanglo opened #6010 "[Enhancement] Support hotplug volume being hot-unpluggable after restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Support persistent hotplug volume being unpluggable after restart

**What you expected to happen**:

A hotplugged volume is expected to remain unpluggable after restart.

**Anything else we need to know?**:

Thanks for implementing hotplug volume features. At this moment, KubeVirt gets two modes of hotplug volume

[2021-07-09 11:29] marceloamaral opened #6012 "[Sig-scale] Expose workqueue metrics to Prometheus"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Today, KubeVirt has already some logic to expose the workqueue metrics to Prometheus as you can see [here](https://github.com/kubevirt/kubevirt/blob/main/pkg/monitoring/workqueue/prometheus/prometheus.go).

However, those metrics are not been exposed. It is missing some additional configurations to properly work.
- we mu

[2021-07-09 12:36] rmohr commented on #5996
/close

[2021-07-09 12:36] #5996 closed

[2021-07-09 21:47] #6012 closed

[2021-07-10 13:54] #4101 closed

[2021-07-11 15:27] orenc1 commented on #5973
kubevirt v0.43.0-rc.1 has been validated in HCO in https://github.com/kubevirt/hyperconverged-cluster-operator/pull/1434.
thanks for fixing the issue.

[2021-07-12 08:07] rmohr commented on #5920
I think `virt-controller` could make use of https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate and set the pod to not-ready while the VM is paused, if no readiness probes are set.

[2021-07-12 10:46] vasiliy-ul commented on #6010
I wonder if such functionality was considered when the hotplug feature was initially implemented. @awels , maybe you could comment on that? Do you see potential issues? I guess modifying the existing VM spec by adding hotplug info shouldnt be a problem...

[2021-07-12 11:43] alicefr opened #6024 "libguesetfs container doesn't have proper ca-certificates for curl"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm not able to properly use curl with ssl inside the libguestfs-tool container (but also in virt-handler). The ca-certificates do not exist in the container. This is required for certain libguestffs-tools like `virt-builder` that uses curl with ssl

**What you expected to happen**:

**How to reproduce it (as minimally and

[2021-07-12 11:56] awels commented on #6010
We did consider it, but in the first version that would mean creating X new attachment pods on starting a new VM, so we defaulted to the '--persist' making it a regular permanent disk. Unfortunately I see no easy way of making regular permanent disks hot unplug-able as those disks are on PVCs and they are part of the pod spec. We could make hot plugged disks be auto re-hotplug when restarting, and

[2021-07-12 12:24] alicefr commented on #6024
After I run:
[code]
I got it working and I have also been able to run `virt-builder` correctly.

However, I'd like to avoid to generate the certificates at runtime. The best option would be to have them already generated at build time. Any idea how to do it with bazel?

[2021-07-13 00:00] weihanglo commented on #6010
Does that mean after the flip flop attachment pods merged, we now can make hot plugged disks auto re-hotplug, as well as being hot-unpluggable after a restart? If yes, sounds that we can also remove `--persist` flag to reduce complexity. 😀

[2021-07-13 08:14] colinblack commented on #3558
Hi, @zhlhahaha, where can i get virtctl for Arm64.

[2021-07-13 08:28] zhlhahaha commented on #3558
As we only compile amd64 virtctl in the upstream now, you need to compile Arm64 virtctl by yourself.
Here are two ways
for native build:
[code]
for cross build:
[code]

[2021-07-13 08:33] colinblack commented on #3558
OK, thanks

[2021-07-13 14:40] gidde8 commented on #5828
@xpivarc
Here is the error message:

[code]
I had to add following missing field into  api-rule-violations-known.list to make compilation successful.

API rule violation: names_match,kubevirt.io/client-go/api/v1,VirtualMachineInstance,CPU_ENV

Is it okay adding the parameters into api-rule-violations-known.list ??

[2021-07-14 08:59] vasiliy-ul commented on #6010
I am now thinking about two possible scenarios and wonder which one makes sense to focus on:

1. a volume is automatically re-hotplugged as soon as a VMI reaches the `Running` state: this is the same as performig the manual steps: 1) `virtctl start <vm>`; 2) `virtctl addvolume <vm> --volume-name=<name>`. Here for me it seems that for implementing this we just need to skip the update of the `VM.Spe

[2021-07-14 17:31] #6024 closed

[2021-07-15 08:04] dhiller opened #6043 "Check flakefinder: it states there were no merged PRs for the 24h/168h reports"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Just noticed that the reports state there were no PRs merged.

Example:
https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/kubevirt/kubevirt/flakefinder-2021-07-14-168h.html

Possibly a search problem.

/cc @rmohr @fgimenez

**What you expected to happen**:

**How to reproduce it (as minimally and precisely

[2021-07-15 08:08] rmohr commented on #6043
@dhiller is it still using `master`?

[2021-07-15 08:35] weihanglo commented on #6010
Thank you @vasiliy-ul.

While both solutions look great, the first one may not fit some use cases, such as a user mounting disks via fstab. It would be great if we can have a deterministic view of devices after VM boot. IMHO this is a general user experience for cloud VM providers. We can investigate the second solution more though.

[2021-07-15 09:40] dhiller commented on #6043
Good point! Will check that!

[2021-07-15 12:12] awels commented on #6010
So I think you just made an argument for the current behavior, namely that the disks become part of the VM itself. Is being able to hot unplug the disk that important?

[2021-07-15 16:42] #5245 closed

[2021-07-16 03:20] Kate-DONG commented on #4811
Do you know how to overcome this mistake when we run `make`?

`ERROR: An error occurred during the fetch of repository 'go_image_base':
   Traceback (most recent call last):
        File "/root/.cache/bazel/_bazel_root/6f347497f91c9a385dcd9294645b76e0/external/io_bazel_rules_docker/container/pull.bzl", line 189, column 13, in _impl
                fail("Pull command failed: %s (%s)" % (result.stde

[2021-07-16 03:22] Kate-DONG commented on #4811
@zhlhahaha
Do you know how to overcome this mistake when we run `make`?

`ERROR: An error occurred during the fetch of repository 'go_image_base':
   Traceback (most recent call last):
        File "/root/.cache/bazel/_bazel_root/6f347497f91c9a385dcd9294645b76e0/external/io_bazel_rules_docker/container/pull.bzl", line 189, column 13, in _impl
                fail("Pull command failed: %s (%s)" % (

[2021-07-16 05:29] zhlhahaha commented on #4811
It seems that pull "go_image_base" failed. You can find detailed information about the image in `WORKSPACE`. Then you can give it a try to pull the image directly via `docker pull`.

[2021-07-16 05:31] Kate-DONG commented on #4811
thanks, i'll try it.

[2021-07-16 05:45] Kate-DONG commented on #4811
@zhlhahaha thanks for your advice.
     well, i has tried pulling the image `gcr.io/distroless/base`  into the address `/root/.cache/bazel/_bazel_root/6f347497f91c9a385dcd9294645b76e0/external/go_image_base/image`, after running `make`, and pulling the image into docker images, but there is still the mistake, so did i do something wrong?

[2021-07-16 06:02] zhlhahaha commented on #4811
There are two possible reason that may lead to time out.
1. network issue, which means you can not connect to the repository.
2. the image tag is out of date.
So you can pull the image via `docker pull` right? I just want to make sure there is no network issue that leads to bazel pull image failure. If the network is fine, and the go_image_base exists, I do not know why `TIMEOUT` in `bazel build`.

[2021-07-16 06:05] Kate-DONG commented on #4811
thanks， i'll check it with our parters.

[2021-07-16 06:06] zhlhahaha commented on #4811
I just see you use `make`, so just run `make clean`

[2021-07-16 06:07] Kate-DONG commented on #4811
ok, thanks

[2021-07-16 07:30] xpivarc commented on #5245
@enp0s3 I think this is still an issue.

[2021-07-16 07:36] luoyunhe commented on #3558
@zhlhahaha I encountered some [problems](https://github.com/kubevirt/containerized-data-importer/pull/1863) during the pipeline test, can you provide me with some help?

[2021-07-16 08:28] weihanglo commented on #6010
Hi, @awels. Thank you for making a concise conclusion of my opinion.

My opinion is about making KubeVirt behavior more awesome and less unexpected. Taking major cloud providers for examples, Google Compute Engine [^1], AWS EC2 [^2] [^3], and  Azure Virtual Machine [^4], all support hot detaching a disk, as well as auto-remount/reattachment if the underlying OS supports the feature. With these fea

[2021-07-16 09:33] #6043 closed

[2021-07-16 10:59] rthallisey opened #6053 "[SIG-scale] API requests to kubevirt.io virtualmachineinstances returns 404s"
### Summary
Create n VMIs, wait until they are all running, delete n VMIs, wait until they are all deleted, sleep 5s, and repeat.  Scenarios creating 10, 20, 40, 60, 80, 100, 200, 300 VMIs shows an increasing number of 404s on virtualmachineinstances.
Note: only the virutalmachineinstance API is being used, so the other APIs measured may also have the same issue.

### KubeVirt control plane metric

[2021-07-16 11:27] awels commented on #3558
Note on the CDI side we had never considered aarch64 so it is highly likely our bazel configuration is not flexible enough, in particular our bazelrc. But we are very much open to supporting it, so if I can help in some way.

[2021-07-16 11:30] rthallisey opened #6054 "[SIG-scale] virt controller disruption budget workqueue add rate is very high"
### Summary
Create n VMIs, wait until they are all running, delete n VMIs, wait until they are all deleted, sleep 5s, and repeat. Scenarios creating 10, 20, 40, 60, 80, 100, 200, 300 VMIs causes virt controller's disruption budget workqueue add rate to grow exponentially.

### KubeVirt control plane metrics
<img width="468" alt="work-queue-depth-5982" src="https://user-images.githubusercontent.com

[2021-07-16 11:43] rthallisey opened #6055 "[SIG-scale] Work queue performance"
### Summary
Create n VMIs, wait until they are all running, delete n VMIs, wait until they are all deleted, sleep 5s, and repeat. Scenarios creating 10, 20, 40, 60, 80, 100, 200, 300 VMIs shows high work queue latency, an exponential increase in work queue depth, and a lot of unfinished work/long running processes.

- Work queue latency is high (8s!) even from 10 VMIs.
- Work queue depth is growin

[2021-07-16 12:05] rthallisey opened #6056 "[SIG-scale] Goroutine count and memory remains high after VMIs are removed"
### Summary
Create n VMIs, wait until they are all running, delete n VMIs, wait until they are all deleted, sleep 5s, and repeat. Scenarios for 10, 20, 40, 60, 80, 100, 200, 300 VMIs shows an increase in virt-handler mem/cpu usage and go routines, however only cpu usage returns back to the expected level when there are 0 VMIs.

### KubeVirt control plane metrics
<img width="468" alt="mem-leak-#598

[2021-07-16 12:55] #4187 closed

[2021-07-16 20:54] thockin commented on #4564
Hi all.  I found my way to this issue through a long chain, and I was very surprised to see that static IP is not an option.  Is this not something commonly requested?

[2021-07-18 07:45] iholder-redhat opened #6061 "Replace dead "stress" binary with new, maintained "stress-ng" binary"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind enhancement

**What happened**:
The following is copied from a mail sent by me to kubevirt-dev:

While trying to stabilize one of our migration tests I figured that the stress binary we're using sometimes crashes, which is installed on "fedora-with-test-tooling" image [1]. I tried to reduce the memory allocation size, but the str

[2021-07-18 09:00] ormergi commented on #6061
I have published the new image for SRIOV lane it includes `stress-ng`
https://quay.io/repository/omergi/fedora-sriov-lane/manifest/sha256:5939d92c4569ba67fa83490a571889bbd433b4142816c88900c8e9e2a478a261
We will *probably* need it for #5922 e2e tests, though we could end up not using it as we encountered some issues
I will update if we will actually need it or not.

[2021-07-18 09:05] iholder-redhat commented on #6061
Are you talking about issues with new `stress-ng`? I would appreciate more info on that.
In general, IMHO, we need a very good reason to not deprecate a dead, old and unmaintained executable. Eventually I expect us to completely get rid of the old stress everywhere.

[2021-07-18 09:05] iholder-redhat commented on #6061
My PR's for Kubevirt: https://github.com/kubevirt/kubevirt/pull/6062

[2021-07-18 13:10] #5052 closed

[2021-07-19 01:58] zhlhahaha commented on #3558
I think @awels has already given you some comments. Let see how the CI test result. I will give it a try today or tomorrow, then give you a reply.

[2021-07-19 06:31] luoyunhe commented on #3558
Ok, thanks.

[2021-07-19 06:53] rmohr commented on #4942
@wyyxd2017 renaming regarding to the requrest description. Feel free to change it back if you think it is not accurate.

[2021-07-19 11:10] #5065 closed

[2021-07-20 06:24] alonSadan commented on #4642
https://github.com/kubevirt/kubevirt/pull/5093 solved the issue, so it can be closed.

[2021-07-20 06:30] alonSadan commented on #4642
/close

[2021-07-20 06:30] #4642 closed

[2021-07-20 08:52] rmohr commented on #5455
@jasonbunch sorry I think I missed your updated back then.

The error line:

[code]

is a typical indicator that the kubelet pod-directory is not at the default location. This is very likely a duplicate of #5913.

[2021-07-20 13:10] weihanglo commented on #6010
Hi, I just created a PoC PR #6079. Feel free to comment. Thanks!

[2021-07-20 13:14] marceloamaral commented on #5732
This might require [kubevirt/monitoring/dashboards](https://github.com/kubevirt/monitoring/tree/main/dashboards)

[2021-07-21 05:52] greg-bock commented on #5290
This issue could lead to data loss when the underlying device is using the wrong cache settings.

[2021-07-21 07:21] fabiand opened #6080 "VMs are unprivileged workloads"
**Is this a BUG REPORT or FEATURE REQUEST?**:
A little bit of both?

/kind enhancement

**What happened**: Today VMs are run with many caps and possibly elevated privileges. On some platforms where security policy mechanisms are used (like OKD's SCCs), KubeVirt is providing an SA to these VMs to allow them to function. But this is strictly speaking privilege escalation, as the user can run a workl

[2021-07-21 07:29] fabiand opened #6081 "libvirt needs to be run as non-root (opt-in)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**: Launcher is running libvirt as root. But running a container as root is problematic if for whatever reason the suer can escape the container, because then the user will be root on the host.
There are also other aspects, i.e. if libvirt is run as root, libvirt expects to have root access - i.e. it does do pinning d

[2021-07-21 07:30] fabiand commented on #6081
Basic intro of this feature with #6041

[2021-07-21 07:30] fabiand commented on #6081
/closed

[2021-07-21 07:31] #6081 closed

[2021-07-21 08:07] marceloamaral opened #6082 "[Sig-scale] enable virt-operator to configure virt-handler to run more than 110 VMs per node"
/kind enhancement

**Motivation**:
In the recent [SIG-scale meeting](https://docs.google.com/document/d/1d_b2o05FfBG37VwlC2Z1ZArnT9-_AEJoQTe7iKaQZ6I/edit#heading=h.50eclt5fctl9), we are discussing to run a scale test with more than 110 VMIs per node. It is trivial to increase the max number of pods per node, but the max number of VMIs is not straightforward.

**What happened**:
Currently, `virt-ha

[2021-07-21 08:14] fabiand opened #6083 "VMs run with fewest privileges necessary"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**: Today VMs are run with many privileges and capabilities, but some of these can be moved to the launcher

**What you expected to happen**: All functionality that requires caps/privs should be moved to the handler if possible

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2021-07-21 08:14] fabiand commented on #6083
This got addressed by many PRs by @xpivarc  in 2020H2 - 2021H1

[2021-07-21 08:32] fabiand commented on #6083
@xpivarc @phoracek please add some PRs to this issue that were used to move privileges away from the launcher.

[2021-07-21 08:36] fabiand commented on #5969
@fanzhangio do you think you can provide a fix for this issue?

[2021-07-21 08:36] fabiand commented on #6083
This is mainly for retrospectively keep an overview

[2021-07-21 08:36] #6083 closed

[2021-07-21 10:08] fabiand opened #6085 "User can provide SA for running a VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**: If I run a VM, then the kubevirt SA is used

**What you expected to happen**: If I run a VM then my SA is used

**How to reproduce it (as minimally and precisely as possible)**:
Run a VM in KubeVirt v0.40

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes

[2021-07-21 11:04] fabiand opened #6086 "Persistent containerDisk volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

Persistent containerDisk volumes for simple VM workflows. This is “easy mode” for new users and people with simple production use cases.

- Implementation TBD. this might be a delta qcow on a PVC, or it could be importing containerDisks to pvcs. We agreed that something needs to be done to streamline the usage of persistent containe

[2021-07-21 11:04] fabiand opened #6087 "Establish predictable community release and support patterns"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

Establish predictable community release and support patterns. Release x will receive backports for y weeks/months before requiring to update to release z. Explicitly define why backports happen and what criteria they must meet.

- Define a deprecation policy - we need to be clear about things that might be removed in the future. We

[2021-07-21 11:06] fabiand opened #6088 "Review and Revise User Guide"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

Review and Revise User Guide by ensuring all information remains accurate and concise. We have some outdated items in there today.[s] Also, the documentation must include:
   * known limitations, including what’s deferred from V1 and in the roadmap
      * Make the roadmap a visible item
   * day 2 operations guidance, e.g. upgrades

[2021-07-21 11:08] fabiand opened #6089 "Templating mechanism for VMs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind enhancement

Templating mechanism for VMs to abstract away API complexities from users. Something similar to what we get OpenShift templating
- Document recommendation VMI specs for common use cases like Windows.

[2021-07-21 11:22] 66545shiwo opened #6090 "image not found: RBD image not found"
Hello，An error “image not found: RBD image not found” occured  when I use Data Volume cloning with Smart-Cloning .

My environment is as follows:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

**Environment**:

- KubeVirt version (use `virtctl version`):
  Client Version: version.Info{GitVersion:"v0.37.0", GitCommit:"e7bb186ff71a565732da0a5ef979016feff51236", GitTreeState

[2021-07-21 13:14] marceloamaral commented on #6082
There are some discussion to use [HCO annotation](https://github.com/kubevirt/hyperconverged-cluster-operator/blob/main/docs/cluster-configuration.md#jsonpatch-annotations) to patch the controllers
For example:
[code]
However, [kubevirtci](https://github.com/kubevirt/kubevirtci) does use HCO to deploy Kubevirt Operator

[2021-07-21 13:43] marceloamaral commented on #6082
cc @rmohr @rthallisey @davidvossel @fgimenez
wdyt?

[2021-07-21 13:48] rmohr commented on #6082
@marceloamaral yes I think we should allow setting this on the `KubeVirt` CR in an easy fashion.

In the meantime: HCO uses a patch mechanisms which is built into `KubeVirt` CR. You can define patches directly in the KubeVirt CR. See this PR for details: https://github.com/kubevirt/kubevirt/pull/3612

It is a slightly hidden feature, but I hope it helps.

[2021-07-21 14:35] davidvossel commented on #6082
can we easily detect the per node pod limit and use that as our VMI limit?

[2021-07-21 17:28] fanzhangio commented on #5969
@rmohr @fabiand Thank you. I've investigated this issue and have some clues. Will update shortly.

[2021-07-22 08:41] marceloamaral commented on #6082
I created the PR #6098 to detect the per node pod limit and use that as our VMI limit

[2021-07-22 11:11] ansijain commented on #5932
/assign

[2021-07-22 12:19] gojoy commented on #5881
yes,I run DHCP client manually in eth1 and it works well.  It seems that I should use cloudinit
Thanks

[2021-07-22 13:38] yuchen-sun commented on #6090
Is there a solution to this problem, I have encountered the same situation

[2021-07-22 14:10] rthallisey commented on #6054
@marceloamaral can you post the VMI spec?

[2021-07-22 14:12] rthallisey commented on #6055
Gather work queue perf after https://github.com/kubevirt/kubevirt/pull/6101 merges and see if there's a difference

[2021-07-22 22:41] dimm0 commented on #4441
Any way to enable shared?

[2021-07-23 07:27] rmohr commented on #4441
No, still no way. What is your use-case?

[2021-07-23 16:34] dimm0 commented on #4441
Need to provide a Windows VM with GPUs to university faculty and students for teaching and research

[2021-07-25 06:32] yuchen-sun commented on #6088
Hi @fabiand
I'd be happy to help you with these documentation questions if you need help, as I too had a lot of doubts when I first read the documentation.

[2021-07-25 11:21] #5068 closed

[2021-07-26 03:16] 66545shiwo commented on #6090
@yuchen-sun  Not yet.
If Small-Clone delete the snapshot , this error will occur.

[2021-07-26 03:17] 66545shiwo commented on #6090
@yuchen-sun Not yet.
If Smart-Clone delete the snapshot , this error will occur.

[2021-07-26 03:28] marceloamaral commented on #6054
In all experiments, the VMI configuration is:
- a cirros Image with an ephemeral-storage of 50M,
- 0.1 (100m) of CPU limit and
- 90Mi of Memory limit, but the VMI has an overhead of 171Mi, then, total of 261Mi

The test was conducted in the environment that we plan to use for the performance tests in the KubeVirt CI/CD. The infrastructure is composed of 6 Bare-metal nodes from IBM Cloud Classic. E

[2021-07-26 07:11] #5881 closed

[2021-07-26 11:56] mfranczy commented on #4767
/remove-lifecycle stale

[2021-07-26 12:51] rmohr opened #6123 "[sig networking] Please remove all BeforeAll usages in the test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:

A lot of the networking tests rely on `BeforeAll`. This is not working properly and is keeping the test suite from evolving properly. Please address this long standing issue.

**What you expected to happen**:

All tests should create what they need in their `BeforeEach` and not rely on left-over artifacts from o

[2021-07-26 22:14] christopherhein opened #6125 "Spelling Error in CRD description"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Non-major - Bug/spelling

/kind bug

**What happened**:
We noticed while doing some code reviews that there is a spelling error in the types.go that ends up in the CRDs.
[code]
https://github.com/kubevirt/kubevirt/blob/33727f918b8462c55f0d7340a067f4ebfa351649/staging/src/kubevirt.io/client-go/api/v1/types.go#L1958

You'll notice `tupple` vs `tuple`.

[2021-07-26 22:14] christopherhein commented on #6125
cc @mlsorensen for visibility.

[2021-07-27 00:57] lzang opened #6126 "VMI doesn't show IO error when its access to boot disk is blocked."
/kind bug

**What happened**:

When a VM cannot access its boot disk, the VMI shows the following without the actual reason of failure, i.e the IO error
[code]
**What you expected to happen**:
The VMI is paused with the event indicating the IO error. This is the behavior in v0.40.0.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a VM using a NFS storage for its boot d

[2021-07-27 07:11] talcoh2x opened #6127 "V0.43 failed to enable NUMA topology"
Hi all, I have an issues with V0.43.  as of now I'm working with 0.37 with dedicatedCpuPlacement (cpuManager) all is working fine. I want test now the new numa topology. for that i uninstalled kubevirt and install 0.43
I updated the kubevirt-config with the new NUMA feature-gate but still get an error: NUMA feature gate is not enabled in kubevirt-config
cpumanager label is always false. i have the

[2021-07-27 07:15] rmohr commented on #6127
@talcoh2x can you share your `KubeVirt` CR? `kubectl get kubevirt -n kubevirt kubevirt`. Also can you ensure that you are not still using a configmap for configuration? `kubectl get configmaps -n kubevirt kubevirt-config`?

[2021-07-27 07:30] talcoh2x commented on #6127
kubectl get kubevirt -n kubevirt kubevirt
NAME       AGE    PHASE
kubevirt   109m   Deployed

my kubevirt-config is under "default" namespace

kubectl get configmaps -n kubevirt kubevirt-config
Error from server (NotFound): configmaps "kubevirt-config" not found

 kubectl get configmaps  kubevirt-config
NAME              DATA   AGE
kubevirt-config   2      87m

~/ws-test-numa# kubectl describe con

[2021-07-27 07:33] vaibhavraizada-hcl opened #6130 "VMI Failed for GPU A40: Could not open '/var/run/kubevirt-ephemeral-disks/cloud-init-data/default/vmi-gpu/noCloud.iso': Invalid argument'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

    /kind bug

**What happened**:
Tried to create a VM Instance but it failed. Output of command `kubectl describe vmi vmi-gpu` is below:

"LibvirtError(Code=1, Domain=10, Message='internal error: process exited while connecting to monitor: 2021-07-27T04:19:23.102128Z qemu-kvm: -blockdev {\"driver\":\"file\",\"filename\":\"/var/run/kubevirt-ephemeral-

[2021-07-27 07:39] rmohr commented on #6127
@talcoh2x you say that your config map is under `default`. In which namespace do `virt-operator`, `virt-api`, ... run?

[2021-07-27 07:50] talcoh2x commented on #6127
@rmohr  virt-operator, virt-api is  under kuebvirt namespace. it's a
problem ?

[code]

[2021-07-27 07:57] rmohr commented on #6127
Yes, it means that the configmap is ignored. It has to run in the same namespace. You do not yet use our operator?

[2021-07-27 07:59] talcoh2x commented on #6127
yes I am.
kubevirt             virt-api-866b4fb4f4-bdj8r                  1/1     Running   0          98m
kubevirt             virt-api-866b4fb4f4-hq7c9                  1/1     Running   0          132m
kubevirt             virt-controller-67d4bf4947-jb57l           1/1     Running   0          98m
kubevirt             virt-controller-67d4bf4947-vj5js           1/1     Running   1          131m

[2021-07-27 08:03] talcoh2x commented on #6127
@rmohr  ok it working now. cool so something changed from 0.37 you read from same namespace only now.

now seems it failed because cpumanager is false and not true.

Events:
  Type     Reason            Age   From               Message
  ----     ------            ----  ----               -------
  Warning  FailedScheduling  33s   default-scheduler  0/7 nodes are available: 3 Insufficient devices.

[2021-07-27 08:04] rmohr commented on #6127
Ok, then I would recommend adding your configuration to the kubevirt `cr` (kubectl edit kubevirt -n kubevirt kubevirt`. Something like this:

[code]

[2021-07-27 08:07] talcoh2x commented on #6127
@rmohr  seems like reconcile working now and also the cpumanager label updated! so both issue fixed.

[2021-07-27 08:08] talcoh2x commented on #6127
@rmohr
configmap  is more simple for me (configurable) . there is a problem with that?

[2021-07-27 08:08] rmohr commented on #6127
It is deprecated. What is more simple with it?

[2021-07-27 08:10] talcoh2x commented on #6127
@rmohr  just wondering how to automate the installation of kuebvirt now with "kubectl edit kubevirt"

[2021-07-27 08:13] rmohr commented on #6127
The `kubevirt` CR has api-stability guarantee and it has no reference to the version of kubevirt (except if you want to pin the version). Just create your own kubevirt-cr and use it instead of our minimal CR.

A few example:

Initial fresh install with your configuration:

[code]

Updating kubevirt works by simply applying the new operator and not touching the CR:

[code]

But since automation doe

[2021-07-27 09:52] talcoh2x commented on #6127
I think we can close this ticket.

[2021-07-27 09:52] talcoh2x commented on #6127
@rmohr  thanks on your help

[2021-07-27 15:51] aghandoura opened #6142 "some methods are missing a namespace parameter in openapi-spec swagger.json file"
Using java swagger code gen to generate a java kubevirt client from openapi-spec swagger.json file
The following methods do not have a namespace parameter.
deleteCollectionNamespacedVirtualMachines
deleteCollectionNamespacedVirtualMachinesInstance
deleteCollectionNamespacedVirtualMachinesInstanceMigration
...

shouldn't be a namespace parameter in the swagger.json for these methods?

I see this wi

[2021-07-27 16:13] rraj-gautam commented on #5966
@rmohr The disk is actually attached, but not mounted. So I had to manually create a disk volume using diskpart.

[2021-07-27 17:04] #5556 closed

[2021-07-27 18:45] #5834 closed

[2021-07-28 11:47] marceloamaral opened #6144 "[Sig-scale] KubeVirt modules are using more cpu than requested"
/kind enhancement

**What happened**:
Kubevirt virt-operator has some configured alerts to show if the controllers are using more CPU or Memory than requested.
https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-operator/resource/generate/components/crds.go#L946
https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-operator/resource/generate/components/crds.go#L934

Requests affect how the p

[2021-07-28 14:17] phoracek commented on #6144
This should be discussed on the SIG Scale community meeting tomorrow.

[2021-07-28 14:20] phoracek commented on #6142
We probably should fix this.

[2021-07-28 14:22] phoracek commented on #6130
@vaibhavraizada-hcl would you please check whether this reproduces without GPU config too? So we can better triage this issue.

[2021-07-28 14:22] #6127 closed

[2021-07-28 14:27] phoracek commented on #6126
Bug scrub: It sounds like virt-launcher is stuck trying to connect to NFS. This could/should be probably improved with a timeout and a meaningful error.

[2021-07-28 14:30] phoracek commented on #6090
This seems to be a CDI issue. It should be reported under https://github.com/kubevirt/containerized-data-importer

[2021-07-28 14:35] phoracek commented on #6089
Bug scrub: This needs a bigger discussion. We need to see if we need anything more than existing alternatives (e.g. Helm)

@fabiand would you please join one of the next community calls to defend this?

[2021-07-28 17:16] rraj-gautam opened #6148 "A Disk not attached to multiple VMs as readwrite"
**I am trying to mount a  NFS PVC to VirtualMachineInstanceReplicaSet inorder to get a additional disk(readwrite) shared among different  virtualmachines (similar to NFS mounts on different vms)**
Following is the issue I got which says that we cannot attach a disk as readwrite on multiple vms at a time.
[code]

**Is there any way to achieve this?**

**VM yaml**
[code]

**Domain XML**
[code]

**En

[2021-07-29 09:00] rhrazdil commented on #5912
After investigating the issue, we haven't found a feasible solution and for the moment we need to state, that live migration of VMs with macvlan interface is not seamless and connectivity over macvlan network is interrupted in the following case:
1) VMs A and B are running on the same node
2) VM B is migrated to another node
3) VM A tries to communicate with VM B

In this case, VM A is able to rea

[2021-07-29 10:06] 66545shiwo commented on #6090
@phoracek okay

[2021-07-29 10:06] #6090 closed

[2021-07-29 13:06] talcoh2x opened #6159 "v0.43 - CPU pinning return wrong CPU topology on VMI"
@rmohr @vladikr

**What happened**:
I'm able to see a strange CPU topology in my VMI  that show me wrong allocation of socket|thread|core
it happen after i changed the kubelet "reservedSystemCPUs" from "1" to "0,56,28,84" ( the first vcpu from each NUMA)

server:
[code]

VMI
[code]

VMI instance
[code]

**What you expected to happen**:
allocation of CPU(s):    according to the VMI config

**Anythi

[2021-07-29 13:24] talcoh2x commented on #6159
kubeconfig:

cpuManagerPolicy: static
featureGates:
  CPUManager: true
reservedSystemCPUs: "0,56,28,84"

[2021-07-29 14:24] rmohr commented on #6159
@talcoh2x could you check  the domain xml too and see if there are two threads requested in the xml?

[2021-07-29 17:02] talcoh2x commented on #6159
[code]

[2021-07-29 17:02] talcoh2x commented on #6159
[code]

[2021-07-29 23:41] #6082 closed

[2021-07-30 02:44] yuchunyun opened #6165 "Error starting VirtualMachine Unauthorized"
**What happened**:
virtctl start testvm
Error starting VirtualMachine Unauthorized

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f https://raw.githubusercontent.com/kubevirt/kubevirt.github.io/master/labs/manifests/vm.yaml

[root@rancher-141 vm]# kubectl get VirtualMachine
NAME     AGE   VOLUME
testvm   12m
[root@rancher-141 vm]# virtctl start testvm
Error start

[2021-07-30 06:34] rmohr commented on #6159
@ehabkost do you have an idea how something like this can happen? As you can see here the request is 96 threads:

[code]

but the gest reports:

[code]

Especially interesting here is that according to the topology there are 96 CPUs with one thread while the topology hints 100 (1*25*2*2).

[2021-07-30 06:34] rmohr commented on #6159
Here a possibly related issue: https://bugzilla.redhat.com/show_bug.cgi?id=1987329

[2021-07-30 15:44] rthallisey commented on #6056
- [ ] https://github.com/kubevirt/kubevirt/pull/6168

[2021-07-31 17:47] #5142 closed

[2021-07-31 18:47] #5081 closed

[2021-08-01 09:47] #5148 closed

[2021-08-02 18:49] #4601 closed

[2021-08-03 19:03] vladikr commented on #6159
@talcoh2x Tal, does this issue appear if you don't mask "0,56,28,84" CPUs?
If it doesn't, could you please provide the domain XML so we could compare it to the one you previously provided?

I would also ask you to provide the virt-launcher log from the VMI that you encounter the issue.
Before starting the VMI, please add a `debugLogs: true` label - alternatively you could increase the verbosity of

[2021-08-03 20:55] rthallisey commented on #6053
404s went away in latest main branch

[2021-08-03 20:55] #6053 closed

[2021-08-04 14:18] phoracek commented on #6165
@yuchunyun it seems that your user is not inheriting the default RBAC roles. Would you please check http://kubevirt.io/user-guide/operations/authorization/#kubevirt-default-rbac-clusterroles and see if it helps you setting this up?

[2021-08-04 14:26] phoracek commented on #6148
This won't work with ReadWrite. You may want to use ephemeral volumes, see if http://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#ephemeral helps you.

[2021-08-04 18:52] #4262 closed

[2021-08-04 22:12] salanki commented on #4687
/remove-lifecycle rotten

[2021-08-05 17:06] rthallisey commented on #6056
Fixed by #6176 and #6168

[2021-08-05 17:06] #6056 closed

[2021-08-06 11:54] #5177 closed

[2021-08-06 13:00] teo-tsou opened #6195 "Can't Connect to Ubuntu VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 kind bug

Hello KubeVirt Community! I want to deploy an Ubuntu VM using local path PV-PVC. I used containerized-data-importer and then I created the VM which is reported in a running state by the virtctl. But I can't connect to it through virtctl console. I notice that the disk size is less than the virtual size.The configuration files & logs are att

[2021-08-07 11:00] #5185 closed

[2021-08-08 01:00] #5155 closed

[2021-08-08 03:00] #5195 closed

[2021-08-08 06:00] #5196 closed

[2021-08-08 10:47] ghost opened #6197 "Could not open '/var/run/kubevirt-private/vmi-disks/pvcvolume/disk.img': Permission denied' in k3s cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Below are the steps followed for creating kubevirt vm :-

1)	Deployed K3s cluster successfully with one master and one worker in KVM-based Sles 15 sp3  host.
2)	Later deployed  Kubevirt service successfully.
3)	Then created CDI service for uploading images in k3s cluster.
4)	Sles 15 Sp3 Image has been uploaded in PVC successfully and it is bounded .

[2021-08-09 07:12] attila123 commented on #2904
Could somebody please confirm whether kubevirt actually works on top of containerd or not?

[2021-08-09 07:27] attila123 commented on #2904
Meanwhile I heard from a colleague that kubevirt runs fine on Talos (which has containerd, no docker).

[2021-08-09 18:04] #4502 closed

[2021-08-09 19:00] blakjak44 opened #6212 "Cloning PVC with destination size larger than source results in failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I used the tekton pipelines workflow to provision a new Windows 10 base image. The pipeline executed correctly and left me with a `windows-10-base-*` DV. When I try to clone the base image DV as the source DV for a new VM, the new VM hangs in a `Provisioning` state.

**What you expected to happen**:
I expect the new VM to

[2021-08-10 10:05] guangbochen opened #6218 "[Bug] software emulation is enabled but still failed with /dev/kvm not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
software emulation is enabled for my testing kind cluster but after starting a new VM it still failed with /dev/kvm not found error:
[code]

**What you expected to happen**:
the `/dev/kvm` should not be required when the software emulation is enabled

**How to reproduce it (as minimally and precisely as possible)**:
- depl

[2021-08-10 10:13] xpivarc commented on #6218
This will be fixed by https://github.com/kubevirt/kubevirt/pull/6190

[2021-08-10 23:33] blakjak44 commented on #6212
### Update
So I figured out that the VM hung in a provisioned state because the DV cloning process failed with an error complaining about the source/destination sizes being incompatible.

My understanding is that the destination DV needs to be as big or bigger than the source DV. Is this correct? Are there any caveats?

As a test, I tried just performing a clone of the DV with the following manife

[2021-08-11 00:18] blakjak44 commented on #6212
### Solved
In case anyone else runs into this issue, the solution is to ensure you have enabled `allowVolumeExpansion` on the StorageClass used for the PVC. In my case, I needed to edit the `standard` StorageClass and add the attribute:

[code]
[code]

FYI: Running on Minikube

[2021-08-11 00:18] #6212 closed

[2021-08-11 08:01] sradco opened #6229 "NoReadyVirtOperator alert and VirtOperatorDown alert are the same"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`NoReadyVirtOperator` alert and `VirtOperatorDown` alert are the same
If there are no Virt operators then both alerts will fire. It will cause duplicate alerts.

**What you expected to happen**:
We should only have one of the alerts

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2021-08-11 11:37] erkanerol commented on #5447
We are hitting the same issue for AWS as well. It breaks our pipeline.

https://prow.ci.openshift.org/job-history/gs/origin-ci-test/pr-logs/directory/rehearse-20950-pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-image-index-aws

[2021-08-11 16:32] pbxqdown opened #6235 "For phase_transition metrics, duration of phase="Failed" is dis-proportionally long compared to other phase transition duration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Not able to monitor VM shutdown/cleanup process using phase_transition metrics. kubevirt_vmi_phase_transition_time_from_creation_seconds_bucket{phase="Failed"} is very large(always in largest bucket such as 600 and +Inf) compared to other phases.
![1](https://user-images.githubusercontent.com/6386150/128924289-e86

[2021-08-12 07:49] rmohr commented on #5447
@tiraboschi can you extract the auditlog? Access denied could be due to selinux.

[2021-08-12 07:51] rmohr commented on #5447
But it is probably not that, because I think we would get a `Permission denied` then, and not a `connection refused`. :/

[2021-08-12 08:26] tiraboschi commented on #5447
https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1472/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-image-index-gcp/1425686614738210816/artifacts/hco-e2e-image-index-gcp/gather-audit-logs/artifacts/audit-logs.tar

[2021-08-12 08:32] tiraboschi commented on #5447
oh, the SELinux audit logs? sorry, checking

[2021-08-12 11:25] gidde8 opened #6239 "is ivshmem device supported in kubevirt 0.37.2?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We are using kubevirt version 0.37.2 along with k3s.
Our requirement is to have ivshmem device attached the VM .
We see that ivshmem is not supported in this version kubevirt.

<test_pod># libvirtd --version
libvirtd (libvirt) 6.6.0

<test_pod># /usr/libexec/qemu-kvm  --version
QEMU emulator version 5.1.0 (qemu-kvm-5.1.0-16.fc32)
C

[2021-08-12 14:04] erkanerol opened #6242 "kubevirt v0.41.0 doesn't work on k8s 1.22"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

The bug was already fixed but I am opening this issue for documentation purposes only.

**What happened**:
kubevirt v0.41.0 doesn't work on k8s 1.22 since
- Beta API versions of SubjectAccessReview is not available in k8s 1.22 https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes
- This PR is missing on v0.4

[2021-08-12 16:50] tiraboschi commented on #5447
Here we have kubevirt-must-gather logs, if the info that we need to debug this are not there, we should think about improving kubevirt-must-gather:

https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1329/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-image-index-gcp/1425837152389828608/artifacts/hco-e2e-image

[2021-08-13 03:16] wonleing opened #6244 "kubevirt0.41.2 cannot install windows with virtio driver"
/kind bug

**What happened**:
There are 2 kinds of virtio driver (viostar, vioscsi) pops up, but none of them can make disk installable
The disk error is:
The computer's Hardware may not support to this disk. Ensure that the disk controller is enabled in the computer's BIOS menu

**How to reproduce it (as minimally and precisely as possible)**:
load win10.yml (with virtio-container-disk and win10

[2021-08-13 03:18] wonleing commented on #6244
![企业微信截图_16288234208073](https://user-images.githubusercontent.com/105055/129300201-0b4e8266-ee1c-458c-9acd-51ef56cf8dc4.png)

[2021-08-13 03:32] h807892124 opened #6245 "VM cannot set PF netcard in front of SR-IOV"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The VM network interface order cannot customize. SR-IOV netcard always in front of PF.

**What you expected to happen**:
I want to using VM with two netcard, PF be default like eth0, SR-IOV be second like eth1.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2021-08-13 06:22] wonleing commented on #6244
very nice I found the solution here: https://github.com/kubevirt/kubevirt/issues/5151#issuecomment-862461145
applause!

[2021-08-13 19:45] fabiand commented on #5744
The idea to use `runtimeClass` to do VMI placement is neat - kudos. However, I wonder if it's a good idea :)

Independently of this use-case, I do wonder why Kube decided to have the runtimeClass on the Pod API. But because it has, to me this is a strong reason to also have it on the VMI level, at the same time, the custer wide defaulting seems reasonable as well, as a mix of. i.e. KuebVirt and Ka

[2021-08-14 16:11] weikinhuang commented on #3820
A solution I found was the set the disk bus to `sata`.

[2021-08-15 11:54] zcahana commented on #6218
#6190 has been merged to `main`, also backported to `v0.44.1` via #6236.
Thanks for reporting @guangbochen!

/close

[2021-08-15 11:54] #6218 closed

[2021-08-15 16:19] #5151 closed

[2021-08-16 03:06] zhlhahaha opened #6246 "The cluster up script does not sync between kubevirt project and kubevirt ci project"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Recently I am doing migration test on ARM64 server by using kind-k8s-1.17 provider. I found the script are not sync between kubevirt project and kubevirt ci project.
e.g. In kubevirt project, the kind provider uses calico CNI, while in kubevirtci project it uses kind default CNI.

Are there any particular reasons for thi

[2021-08-16 07:37] VirrageS opened #6247 "`virt-*` Pods can produce lot of logs during traffic"
Different parts of `virt-*` Pods on `verbosity: 2` can produce huge number of logs what can be problematic in huge clusters in peak traffic. Here is a distribution of hot places:

![hot_places](https://user-images.githubusercontent.com/3855799/129526160-80276dbe-c70a-45be-af47-0be25350bb86.png)

Some of these logs do not look like they should be logged on `verbosity: 2` or are duplicated.

[2021-08-16 13:19] #4684 closed

[2021-08-16 13:19] #5273 closed

[2021-08-16 13:19] #5275 closed

[2021-08-17 06:52] hamidrezash2000 commented on #6165
I had the same issue, would you please explain how you resolved this issue step by step.

[2021-08-17 11:26] vladikr commented on #6239
Hello,

`ivshmem-plain` and `ivshmem-doorbell` are supported in qemu - these are different from the deprecated ivshmem device.
 I wonder what is the use case for enabling this in KubeVirt?

[2021-08-17 11:45] silenceper opened #6255 "use sriov cni set ip failed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I follow this document to configure step by step, https://github.com/kubevirt/kubevirt/blob/main/docs/sriov.md
And successfully started the vmi container, but found in the container, and did not see the network card configured by sriov-cni.

pod spec:
[code]

**What you expected to happen**:

**How to reproduce it (as mi

[2021-08-17 12:07] silenceper commented on #6255
I understand it wrong, I can see the newly added network card when I log in to the vm.

[2021-08-17 12:07] #6255 closed

[2021-08-17 14:30] #6242 closed

[2021-08-17 20:21] #5279 closed

[2021-08-17 20:46] jean-edouard opened #6258 "The container image `imega/jq:1.6` is sometimes impossible to pull"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
KubeVirt build fails with:
[code]
This is because podman fails to pull imega/jq:1.6.
Indeed, trying a manual pull shows 4 potential servers:
[code]
However, only the docker.io one works, and that's when docker.io co-operates (spoiler, it didn't):
[code]

**What you expected to happen**:
The `jq` image to pull correctly an

[2021-08-17 20:50] jean-edouard opened #6259 "Build sometimes fail on missing artifacts directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
KubeVirt build sometimes fail on:
[code]
This may only happen when using podman as container runtime.
Manually creating the directory works as a temporary workaround, but the directory may get automatically deleted!

**What you expected to happen**:
No fail

**How to reproduce it (as minimally and precisely as possible)**

[2021-08-17 21:03] jean-edouard commented on #6258
Also, those two `jq` commands sometimes fail even when the image successfully pulls, because of podman piping issues.
The following PR supposedly fixed that, but for some reason it still fails on my Fedora 34 ARM64:
https://github.com/containers/podman/pull/4818
Since these 2 `dockerized` lines are the only place where we use `jq`, maybe we could just parse the output with a line of sed/awk instea

[2021-08-17 21:14] jean-edouard opened #6260 "`hack/dockerized`: podman auth file not visible from build container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After doing a `podman login` and setting `DOCKER_PREFIX` to the corresponding account, `make push` is expected to work fine.
It's the case with docker thanks to:
https://github.com/kubevirt/kubevirt/blob/0294004fda493df8d2b8856e644915622cf6ace1/hack/dockerized#L110
By default, the location for the podman auth file looks l

[2021-08-17 21:35] jean-edouard commented on #6260
Workaround: `cp /tmp/podman-run-1001/containers/auth.json ~/.docker/config.json`

[2021-08-18 08:52] #4942 closed

[2021-08-18 16:42] Cerebus opened #6264 "Can emptyDisk be shared with other containers in the VM pod?"
Is there a storage driver or other way to share a VMI emptyDisk with another container in the pod?

The general use case is the sidecar pattern.  For example, I could integrate VM logs into my cluster solution:

- VMI with emptyDisk mounted on /var/log
- Sidecar running a log forwarder (filebeat, fluent-bit, etc)

Sidecars are an essential part of k8s flexibility, and the ability to embrace & exte

[2021-08-19 08:35] silenceper opened #6268 "use SR-IOV can not set ip address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
I successfully deployed the relevant components according to this document https://github.com/kubevirt/kubevirt/blob/main/docs/sriov.md. You can see the new second network card in the vm, but the network card’s ip is not set.

According to the investigation(ref:https://github.com/k8snetworkplumbingwg/sriov-cni/pul

[2021-08-19 08:35] silenceper commented on #6268
Is there a way to successfully set the ip in vm in kubevirt? For example, through cloud-init?

[2021-08-19 09:22] fabiand commented on #6144
Cool to see this identified. Are there plans to address this?

[2021-08-19 14:03] tiraboschi commented on #5447
ok, now we added SELinux audit logs tokubevirt-must-gather, but we don't see anything strange there

[2021-08-19 15:43] davidvossel commented on #5024
resolved by #6226

[2021-08-19 15:43] #5024 closed

[2021-08-19 17:24] #5288 closed

[2021-08-19 19:12] #6259 closed

[2021-08-20 01:25] #5293 closed

[2021-08-20 01:25] #5294 closed

[2021-08-20 01:25] #5292 closed

[2021-08-20 01:25] #5296 closed

[2021-08-20 02:28] silenceper commented on #6268
After a detailed test, using `cloudInitConfigDrive` to configure networkData can succeed in the windows virtual machine, but it fails in the linux vm.
[code]

Configuring networkData through cloudInitNoCloud can succeed in linux but fail under windows.
[code]

[2021-08-20 07:47] fabiand commented on #5679
Closing according to the prev comment.

[2021-08-20 07:47] #5679 closed

[2021-08-20 07:48] fabiand commented on #5466
There should be a release by now with a fix.

[2021-08-20 07:48] #5466 closed

[2021-08-20 07:49] fabiand commented on #5336
@iholder-redhat  @vasiliy-ul  is theer actually still outstanding work? If so, is there roughly a target date of when this work is finished?

BTW - Awesome to see this work taking place.

[2021-08-20 07:51] fabiand commented on #4687
cc @vladikr @rmohr

[2021-08-20 07:55] fabiand commented on #2932
One question here is if kubevirt/kubevirt should be published there or rather hco. Today @orenc1 et al just enabled regular publishment of HCO to operatorhub.io - HCO is including KubevIrt and some helpful other projects.

[2021-08-20 10:35] rmohr commented on #5023
/remove-lifecycle stale
/lifecycle frozen

[2021-08-20 11:19] dhiller commented on #5378
/close

[2021-08-20 11:19] #5378 closed

[2021-08-20 16:59] xpivarc commented on #5290
/reopen
We should fix this or confirm this is working.

[2021-08-20 18:24] detiber commented on #3648
/remove-lifecycle stale

[2021-08-23 04:04] ansijain commented on #6125
this issue is fixed in https://github.com/kubevirt/kubevirt/pull/6138
kindly validate and close the issue

[2021-08-23 04:31] christopherhein commented on #6125
/close

[2021-08-23 04:31] #6125 closed

[2021-08-23 07:19] iholder-redhat commented on #5336
Hey @fabiand!
Yes - there is certainly an ongoing work which can be found in this PR: https://github.com/kubevirt/kubevirt/pull/6042 (which is not ready to review yet).

Long story short:
- I expect this PR to be updated & ready for review later today.
- This PR will not cause virt-handler to be cgroups v2 aware just yet - since container-selinux' policy prevents us from supporting it. I've merged

[2021-08-24 05:02] ansijain commented on #5697
Retried this using migration [lab](https://kubevirt.io/labs/kubernetes/migration.html)
It was successful
Closing this issue.

[2021-08-24 05:02] #5697 closed

[2021-08-24 13:41] maya-r commented on #5309
/remove-lifecycle rotten
saw it in https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/6238/pull-kubevirt-e2e-k8s-1.19-sig-storage/1430134173703606272

[2021-08-25 01:15] #6260 closed

[2021-08-25 06:33] zhlhahaha commented on #5976
Update for the tests filter:

Test cases | Status
-- | --
tests/access_test.go | 11   Passed \| 0 Failed
tests/container_disk_test.go | 1 Passed \| 0 Failed
tests/migration_test.go | 7 Passed \| 32 Failed \| 1 Pending (46)
tests/network/networkpolicy.go | all tests has skipped
tests/network/vmi_lifecycle.go | 1 Passed \| 1 Failed
tests/storage/datavolume.go | all tests has skipped
tests/storage/st

[2021-08-25 06:39] zhlhahaha commented on #5976
cc: @rmohr

[2021-08-25 08:12] gaojinhao opened #6300 "Cannot access storage file '/var/run/kubevirt-ephemeral-disks/disk-data/containerdisk/disk.qcow2'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Below are the steps followed for creating kubevirt vm :-

1. Deployed K8s cluster successfully with one master and one worker in KVM-based host.
2. Later deployed Kubevirt service successfully.

**What happened**:
While creating kubevirt vm with the help of user guide, it’s getting failed due to below error

kubectl describe vmi testvm

Normal   Succe

[2021-08-25 09:57] #5023 closed

[2021-08-25 13:45] vladikr commented on #6300
Hi, thanks for this report.

First, I'd like to say that we don't test KubeVirt on k8s 1.22 just yet.
I'm also not familiar with the EulerOS. Can you please tell me what is the default mask on this os?

[2021-08-25 14:28] ehabkost commented on #6159
@rmohr sorry, I had missed the notification for this. Was this caused by the bug discussed at https://bugzilla.redhat.com/show_bug.cgi?id=1987329 ?

[2021-08-25 14:34] ehabkost commented on #6159
Does this result in a configuration that relies on the QEMU default NUMA CPU assignment? (i.e. with no `-numa node,..,cpus=...` option at all)

I thought the default CPU assignment was deprecated in QEMU a while ago (because it was an awful algorithm when sockets had multiple cores or multiple threads), but I might be mistaken. In either case, explicit assignment of VCPUs to NUMA nodes is preferre

[2021-08-25 20:45] awels opened #6303 "hostpath hotplug with path on separate device does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When attempting to hotplug a hostpath volume that is on a different device from the root partition, the hotplug fails because findmnt returns the path relative to the device instead of relative to the root.
**What you expected to happen**:
Hotplug works for hostpath volumes on different devices.

**How to reproduce it (as

[2021-08-26 07:10] LLLLLBJ opened #6305 "UUID in CloudInitConfigDrive metadata is changed by VMI's uid which may cause cloudinit redo when VMI recreates"
https://github.com/kubevirt/kubevirt/blob/f7b8dcf1655e4296d15736da69d6fedda7a77b2d/pkg/cloud-init/cloud-init.go#L130

[2021-08-26 18:40] rthallisey opened #6307 "KubeVirt Policies for API Priority and Fairness"
/kind enhancement

This issue is to investigate whether it makes sense for KubeVirt to have it's own policies for API priority and fairness (APF).
https://kubernetes.io/docs/concepts/cluster-administration/flow-control/

API priority and fairness (APF) feature was introduced as alpha in kubernetes 1.18 and it’s beta in 1.20.  The API priority and fairness is used to protect the API server from bei

[2021-08-27 03:24] marceloamaral opened #6309 "[Sig-Scale] Continuous Performance Evaluation of KubeVirt Control Plane in the CI/CD System"
## Motivation:
Code changes may affect system performance and scalability. The goal is to design and create performance/scalability tests that can run periodically and on-demand for each PR and each new Release.

## Tests Types:
- [ ] (i) Burst Density test, creating absolute # of VMIs (Showing how system’s behavior during normal operations)
   - Test Scenarios:
      - [x] Small-scale -> creating

[2021-08-27 06:51] vatsalparekh opened #6310 "[Outreachy][good-first-issue] Reduce Cognitive complexity"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Sonarcloud has found many cognitive complexity issues in kubevirt [here](https://sonarcloud.io/project/issues?id=kubevirt_kubevirt&resolved=false)
**What you expected to happen**:
Breaking down of the code in an attempt to reduce the cognitive complexity

[2021-08-28 01:28] gaojinhao commented on #6300
The permission of /var/run/kubevirt-ephemeral-disks/disk-data/containerdisk directory is 600, and the group and user in qemu.conf is "qemu". I change  mod the permission of /var/run/kubevirt-ephemeral-disks/disk-data/containerdisk directory to 777, but it doesn't work. And I can restart libvirtd in the virt-launcher container.

[2021-08-28 15:41] #5352 closed

[2021-08-28 15:41] #5335 closed

[2021-08-29 08:47] kbc8894 commented on #3558
I have a problem when I test kubevirt on arm64. how to handle it?
kubectl virt console is work.

kubectl virt vnc is not work.
[code]
so I try to vnc with [repo](https://github.com/wavezhang/virtVNC)
result is it.
<img width="1030" alt="Screen Shot 2021-08-29 at 5 44 15 PM" src="https://user-images.githubusercontent.com/3617939/131244438-f2312ca8-6291-4252-ad09-ad0c3bc70df6.png">

below is Virtual

[2021-08-29 09:42] #5220 closed

[2021-08-29 10:42] #5373 closed

[2021-08-29 22:24] Dines97 opened #6313 "Can't vnc into virtal machine. Can't connect to websocket (504): websocket: bad handshake"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to follow this guide https://kubevirt.io/2020/KubeVirt-installing_Microsoft_Windows_from_an_iso.html. At the last stage, I cannot vnc into the virtual machine.

[code]

**What you expected to happen**:
See the virtual machine screen as in the picture.

**How to reproduce it (as minimally and precisely as possi

[2021-08-29 22:28] Dines97 commented on #6313
If something is missing to solve the problem, please let me know. This is my first issue in my life, I could have made mistakes so I'm sorry.

[2021-08-30 13:11] LarsBingBong commented on #2904
@attila123 KubeVirt also runs fine on [Harvester](https://github.com/harvester/harvester). It's an integral part of the Harvester project.

[2021-08-30 19:57] fabiand opened #6322 "Build a public roadmap and mechanism to maintain it"
/kind enhancement

**What happened**: Trying to gain insights into KubeVirt's roadmap

**What you expected to happen**: Have some way to see what is coming up in KubeVirt

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

We want to establish a mechanism to allow users and developers to gain an insight into KubeVirt's roadmap, and at the same t

[2021-08-31 06:48] fabiand commented on #6322
For example #6085, and #6083

[2021-08-31 07:40] ansijain commented on #6313
Could you please check if the vm is running
kubectl get vmi
Also please provide the output of kubectl describe <pod name>

[2021-08-31 12:12] gaojinhao commented on #6300
Can anyone know how to solve this problem?

[2021-08-31 14:19] vielmetti commented on #6322
This would be a welcome addition!

Milestones can also have dates attached to them, so that any sort of project scheduling that's going to have a release target for a specific date can also be handled.

[2021-08-31 22:59] hem2 commented on #5811
@fanriming could you provide more details on the default CNI exception? I'm seeing the exact issue and not sure what is causing it. I'm using Calico as default CNI and my hardware configuration is same as yours. Thanks.

[2021-09-01 01:57] yangxiaoliang opened #6328 "create vm with datavolume, the images has exist in local, but still pull image from remote registry"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind enhancement

**What happened**:
Create VM with datavolume, the image has exist in local , but during creating vm, cdi still pull image from remote registry.

**What you expected to happen**:
Using local image rather than pull from remote registry.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2021-09-01 03:08] zhlhahaha commented on #3558
Yes, graphics devices has disabled on ARM, please refer to the following code
https://github.com/kubevirt/kubevirt/blob/ef3e07525537d7b3ee1fa4c7d0d524bbd6eca93f/pkg/virt-api/webhooks/arm64.go#L65-L71

The root cause for this is that the qemu-kvm binary in virt-launcher does not support vga devices. For more detail, you can read the discuss here https://github.com/kubevirt/libvirt/issues/49

[2021-09-01 07:42] xpivarc commented on #6300
Did you have a chance to check the permissions and ownership of the disk?

[2021-09-01 09:29] kbc8894 commented on #3558
@zhlhahaha Thanks for your explanation!

[2021-09-01 10:14] yangxiaoliang commented on #5617
Hi @strowi  if you have set the resource limits successfully, could you share the output of your KubeVirt CR ? I tried to patch the deployment as follow,

[code]

 but it doesn't works, I also tried edit the deployment directly, but not works too.

cc-ing @davidvossel

[2021-09-01 18:53] hem2 commented on #5811
/reopen

I'm seeing the same issue. My environment is similar to the @fanriming. VF gets assigned to VM by sriov device plugin.

kubevirt is on v0.44.0, Multus/sriov-cni/sriov-network-device-plugin are latest from master and Calico is v3.20. VT/sriov enabled in bios, both iommu and iommu_pt flags set to kernel.
PF is Intel's 82599ES with ixgbe driver. For vf, I tried with both ixgbevf and vfio-pci

[2021-09-01 19:10] hem2 opened #6337 "VM fails to create with SRIOV device"
/kind bug

**What happened**:
VM failed to create with SRIOV device. No issues creating pods with sriov VF (without kubevirt).
Issue is similar to https://github.com/kubevirt/kubevirt/issues/5811.

[code]

**What you expected to happen**:
VM created successfully

**How to reproduce it (as minimally and precisely as possible)**:
VM definition:
[code]
Network attachment definition:
[code]
**Environm

[2021-09-02 11:09] alicefr commented on #6328
@yangxiaoliang you should open this issue under [cdi](https://github.com/kubevirt/containerized-data-importer) repository.

[2021-09-02 11:11] alicefr commented on #6328
Additionally, I don't think this is possible today as the cdi importer doesn't have access to the local image repository of the container engine. You could achieve a similar result by importing the image in a PVC and using it as source.

[2021-09-02 15:57] yangxiaoliang opened #6343 "How to add the resources limits to the virt-api/virt-controller/virt-handler pods ?"
/king consulting

**What happened**:
I want add resources limits to the virt-api , virt-controller and virt-handler pods, following is the cr yaml:

[code]
but it seems not works after execute `kubectl apply -f kubevirt-cr-v0.41.0.yaml`,
and even if I edit the deploy directly , it not take effect too, anybody can help me ?

**What you expected to happen**:
the resources limits can be added to virt

[2021-09-02 16:13] yangxiaoliang commented on #6328
Thanks @alicefr , I filed a new one in cdi repo: https://github.com/kubevirt/containerized-data-importer/issues/1921 .

[2021-09-02 16:24] #6303 closed

[2021-09-02 18:52] #5394 closed

[2021-09-03 02:45] #6328 closed

[2021-09-03 07:57] alicefr commented on #6343
@yangxiaoliang probably virt-operator is not watching that field in KubeVirt CR and doesn't update the . However, I tried to manually edit the virt-api deployment and then it started new pods with the limit:
[code]

[2021-09-03 09:51] yangxiaoliang commented on #6343
After the installation. @alicefr

[2021-09-03 10:26] alicefr commented on #6343
@yangxiaoliang it can be that the virt-controller and virt-operator don't watch the changes in the field and it doesn't get updated. Can you try to install kubevirt with already the modification in the KubeVirt CR?

[2021-09-03 11:25] rmohr commented on #3558
On Wed, Sep 1, 2021 at 5:08 AM zhlhahaha ***@***.***> wrote:

Would it make sense to look into virtio-gpu like suggested by Andrea and
use it instead for arm as the default device?
I guess in the worst case, older ARM guests would just not understand the
device and would still not have VNC, but newer ones would have it.

Best regards,
Roman

[2021-09-03 11:37] xpivarc opened #6348 "[Outreachy] Reduce memory overhead for virt-launcher"
**What happened**:
Kubevirt is running VM inside a Pod as any other application in Kubernetes. Other than the VM (the qemu process),  we are running virt-launcher which is responsible for interacting with libvirt, monitoring the qemu process, and also provides API for local virt-handler over GRPC. (More can be found [here](https://github.com/kubevirt/kubevirt/blob/main/docs/architecture.md))

As a

[2021-09-03 17:32] wangxin311 opened #6351 "SRIOV VF interface assignment mess up during associate to VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
VM SRIOV interface mapping to VF is wrong

**What you expected to happen**:
VM SRIOV interface mapping should be based on the yaml definition.

**How to reproduce it (as minimally and precisely as possible)**:
Bring up the VM with attached yaml file, and kill VMI multiple times, you have 10-20% probability to hit the issue

[2021-09-04 02:54] #5372 closed

[2021-09-04 05:26] yangxiaoliang commented on #6343
Thanks @alicefr, I tried with `kubectl patch` and it works.
[code]

I noticed that the default replicas of virt-operator/virt-api/virt-controller deployment is 2, why set 2 as default value rather than 3 ？ do you have any suggestion ?

[2021-09-06 02:39] wonleing commented on #6268
Anybody can set VM's (second) IP inside hostOS's IP section?

[2021-09-06 06:23] phoracek commented on #6337
Hello @hem2. The `sriov: {}` binding must be used with the vfio-pci passthrough mode of the SR-IOV CNI, the example you show would only work with Pods, not VMs. Have you checked [SR-IOV user-guide](https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#sriov)? It would be interesting to see what kind of error do you see when using the vfio mode.

[2021-09-06 06:26] alicefr commented on #6343
@yangxiaoliang I'm not sure why 3. I suppose that if one pod dies the other can supply the requests while the deployment create a new pod. It seems to be a hardcoded value and not configurable if you don't patch the value (https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-operator/resource/generate/components/deployments.go#L201). Maybe the slack channel is the right place where to ask the q

[2021-09-06 12:36] dhiller commented on #5175
/remove-lifecycle stale

[2021-09-07 07:16] vatsalparekh opened #6360 "[Outreachy] Side-car Container for Serial console log passthrough"
**What happened**:
Kubernetes cluster level logs are collected by capturing the container logs output. VM's serial console is not logged because it is not part of any container log output.

**What you expected to happen**:
The idea is to provide a container running along with VMI, that is simply exposing the VM's serial console in order to allow this getting picked up by cluster level log collecti

[2021-09-07 07:17] vatsalparekh commented on #6360
Related discussion: https://groups.google.com/g/kubevirt-dev/c/qBdboekQ_Vk/m/1lSb8Fi9AAAJ

[2021-09-07 08:32] zhlhahaha opened #6363 "Cirros image failed to start when memory is 128M on arm64"
This issue is used to track this known issues.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When boot cirros on arm64 and set memory to 128M, get following error message:
[code]

**Anything else we need to know?**:
This issue only happens on ARM64 and is not related to kubevirt. Boot cirros VM directly via qemu-kvm on arm64 server would also get this error.

[2021-09-07 16:14] rthallisey opened #6368 "[SIG-scale] Profile KubeVirt control plane under high load"
/kind enhancement

Stress the KubeVirt control plane and profile the virt-api, virt-handler, virt-controller, and virt-launcher code to locate any scale or performance bottlenecks.  Here are the steps to run for each test:
1) Start profiling a component https://github.com/kubevirt/kubevirt/pull/6211
2) Generate load https://github.com/kubevirt/kubevirt/pull/6191
3) Remove load
4) Analyze

### Stre

[2021-09-07 16:15] hem2 commented on #6337
@phoracek, I had my VFs bound to vfio_pci. Not sure what caused the issue, I'm unable to reproduce it now.
Few things changed in my environment are, unbinding/binding the VF to VFIO-PCI again, reset sriov connections at the TOR switch, machine reboot, having just the "vfio-pci" in sriovdp-config.

Thank you for looking into it.

[2021-09-07 16:15] #6337 closed

[2021-09-07 16:19] rthallisey commented on #6368
/assign @knopt

[2021-09-07 16:21] knopt commented on #6368
^

[2021-09-07 16:25] knopt commented on #6368
/assign @knopt

[2021-09-07 19:34] mazzystr opened #6370 "Update GitHub org membership"
@fabiand This one might be one for you.

I would like my member account added to GitHub org admin.  This will allow me to do repo setting maintenance.  I'm currently blocked on the respectful branch name initiative because of this.

[2021-09-08 04:03] #5374 closed

[2021-09-08 04:51] 66545shiwo opened #6371 "VirtualMachine doesn't support "setHostnameAsFQDN: true" filed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:
VirtualMachine doesn't support "setHostnameAsFQDN: true" filed, but k8s pod support this filed.

[code]
[code]

**Environment**:
- KubeVirt version (use `virtctl version`):
Client Version: version.Info{GitVersion:"v0.37.0", GitCommit:"e7bb186ff71a565732da0a5ef979016feff51236", GitTreeState:"clean", BuildDate:"202

[2021-09-08 09:21] #5547 closed

[2021-09-08 14:26] davidvossel commented on #6371
looks useful, is this something you'd be interested in contributing to the project?

[2021-09-08 14:28] davidvossel commented on #6351
/cc @EdDev @AlonaKaplan @phoracek

[2021-09-08 14:33] fdupont-redhat opened #6373 "Starting a VM fails if IPv6 is disabled on the k8s node/cluster"
/kind bug

**What happened**:

In a Kubernetes where IPv6 is disabled, both at the k8s and the nodes level, starting a virtual machine fails with the following error message in the virt-launcher pod.

[code]

It looks like it's trying to create a DHCPv6 server, even though IPv6 is disabled, and that fails.

**What you expected to happen**:

I would expect virt-launcher to not try to start the DHCP

[2021-09-08 14:36] davidvossel commented on #6305
sounds reasonable

also sounds reasonable

[2021-09-08 14:41] davidvossel commented on #6264
For your use case, would it be reasonable to use a Pod mutation webhook to add the volume mountpoint to the side car container?

[2021-09-08 14:44] davidvossel commented on #6246
there's a daily job that syncs kubevirtci with the kubevirt/kubevirt repo. We use a PR to sync the repo to make sure CI passes with the new cluster-up changes before the changes are committed.

[2021-09-08 14:46] davidvossel commented on #6245
/cc @AlonaKaplan @EdDev Maybe you all have some thoughts here?

[2021-09-08 14:49] davidvossel commented on #6229
@sradco Which alert do you think we should keep? Is there one that's more consistent with other component alerts?

[2021-09-08 14:56] phoracek commented on #6351
Hello @wangxin311. UNfortunatelly, the order of passthrough interfaces in the guest cannot be guaranteed to be the same as defined on the VMI spec. To make it more predictable, you can use https://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames/, but even that would not give you 100 % guarantee. The most reliable way would be to handle the mapping through device role tag

[2021-09-09 01:55] wonleing commented on #6244
Yes, please.
However, that solution looks like a work around to me. If there's a commit to fix this, that would be better.

[2021-09-09 05:55] EdDev commented on #6351
[Consistent naming](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networking_guide/ch-consistent_network_device_naming) is the way to go, and it has the same consistency as you will get with the device tagging.
The most reliable way would be to match the network device by its explicitly set MAC address.

You can also explicitly set the PCI address in the guest (alth

[2021-09-09 07:42] sradco commented on #6229
@davidvossel  We should keep VirtOperatorDown, since its more consistent.
We use "Down" when we base the alert on the "up" metric. For "Ready" alerts we use dedicated ready metrics.

I believe we just need to update the "NoReadyVirtOperator" alert with this expression: "kubevirt_virt_operator_ready_total == 0"

[2021-09-09 10:44] dirien commented on #5736
I close this isse, i can't solve it on my own. :(

[2021-09-09 10:44] #5736 closed

[2021-09-09 10:44] zhlhahaha commented on #6246
Thank

[2021-09-09 10:44] #6246 closed

[2021-09-09 10:48] rmohr commented on #5736
Sorry I missed your response.

We try to install a selinux policy by default. The issue is probably that the directories are read-only on the filesystem to avoid that someone can tamper with selinux. We would have to change our permissive mode to still continue if we can't install the policies.

[2021-09-09 11:13] rmohr commented on #5736
Looks like this may make selinux writeable on the nodes: https://kinvolk.io/docs/flatcar-container-linux/latest/setup/security/selinux/#check-a-containers-compatibility-with-selinux-policy

[2021-09-09 13:28] phoracek commented on #6373
/assign @alonSadan

[2021-09-09 19:14] kewang-equinix commented on #6351
Thanks @phoracek and @EdDev for replying.
I agree in guest OS the interface sequence is not persistent and will cause the similar symptom, but I am feeling this issue might be different, and I think the mess up is happened in KVM layer, not in guest OS.

If you look at the domain XML file I got in non-working case.
[code]
[code]

[code]
Interface name "ua-sriov-sriov-vsrx-if30" is mapped to PCI ad

[2021-09-10 08:58] rmohr commented on #5736
@dirien  the daily developer build contains #6377 now. If you like you can give it a try: https://kubevirt.io/user-guide/operations/installation/#installing-the-daily-developer-builds.

[2021-09-10 09:03] rmohr commented on #5603
/remove-lifecycle rotten
/lifecycle frozen

[2021-09-10 10:54] 23r096 opened #6383 "virtualmachinesnapshot-validator error"
/kind bug

**What happened**:
I'm trying to create a snapshot of a VM, but when i try to create it i get this error:
[code]
i followed this guide:  https://github.com/kubevirt/kubevirt/blob/main/docs/snapshot-restore.md

I enabled the feature gates in the kubevirt deploy and in the /etc/kubenetes/manifiset/* files

**Anything else we need to know?**:
snap.yml file:
[code]

**Environment**:
- KubeV

[2021-09-10 11:40] vladikr commented on #6351
@wangxin311 @kewang-equinix please take a look at the device role tagging mechanism in KubeVirt : https://kubevirt.io/user-guide/virtual_machines/startup_scripts/#device-role-tagging

This will allow you to tag guests' network interfaces and read the mapping for the interface to a physical device in the attached metadata.

[2021-09-10 16:11] #4687 closed

[2021-09-10 16:11] #6159 closed

[2021-09-10 18:43] #6235 closed

[2021-09-10 21:16] #5353 closed

[2021-09-10 22:06] wangxin311 commented on #6351
Thanks @vladikr.

I am trying to play with device role tagging, however, I am not able see the device information in meta_data.json file, here is my yaml file:
[code]
After VM come up, I didn't see my configdrive  is mounted anywhere, so I manually mount it to /mnt, and here is the content of meta_data.json file, seems there is no device information.
[code]
Kubevirt document is not too helpful reg

[2021-09-11 02:17] #5298 closed

[2021-09-11 17:18] #5450 closed

[2021-09-12 11:07] EdDev commented on #6351
Based on [this comment](https://github.com/kubevirt/kubevirt/issues/6351#issuecomment-916367591), the problem is not in the guest. The data presented suggests that the SR-IOV DP/CNI did not set the right VLAN on the VF passed to the pod.

[2021-09-12 11:41] ormergi commented on #6351
@wangxin311 Hey thanks for the detailed analysis and insights :slightly_smiling_face:
Regarding the `lspci` output from the snippet on this [comment](https://github.com/kubevirt/kubevirt/issues/6351#issuecomment-916367591),
I wouldn't relay on the VF's index's we see there as it generated by `awk '{print NR-1 ": " $0}' `
`lspci` doesn't show the VF index natively not even with -vvv.

The end resul

[2021-09-12 14:15] ormergi commented on #6351
@wangxin311 @kewang-equinix Here is how to get the VF's PCI addresses from the domain
and compare them with iplink output
[code]

Could you please compare it again like so?

[2021-09-13 06:05] ansijain commented on #6383
Seems like feature gate is not enabled. Please try below command.
[code]
Also if you face any issue regarding feature gates please refer [user-guide](https://kubevirt.io/user-guide/operations/activating_feature_gates/)

[2021-09-13 08:47] ansijain commented on #6383
Could you please run
[code]
and share the output

[2021-09-13 09:16] maiqueb commented on #4267
/remove-lifecycle rotten
/assign @maiqueb

[2021-09-13 09:23] 23r096 commented on #6383
Of course:
[code]
as you can see the snapshot feature gate is enabled:

[code]
I have also manually enabled snapshots in the kubernetes configuration. (/etc/kubernets/manifest)

[2021-09-13 10:25] PendaGTP opened #6393 "Cloud not use kubevirt.io/client-go/kubecli - openshift unknown revision v0.0.0"
**What happened**:
I try to use the go client but I fail to install the kubevirt.io/client-go module :
[code]
I'm a new Go user, sorry if this problem is directly related to my use of Go and not kubevirt.io/client-go.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Go : go1.16.8 linux/amd64

[2021-09-13 13:04] VirrageS opened #6397 "Add possibility to remove monitoring process in `virt-launcher` or reduce its memory footprint"
/kind enhancement

Currently, by default, `virt-launcher` starts as monitoring process which then creates actual `virt-launcher` process. The monitoring process watches the subprocess and other subprocesses and reacts if something happens. This monitoring mechanism is controlled by `no-fork` flag - initially it is set to `false` and monitoring process sets it to `true` when starting `virt-launcher

[2021-09-13 13:37] xpivarc commented on #6397
I think this relates to https://github.com/kubevirt/kubevirt/issues/6348

[2021-09-13 13:40] VirrageS commented on #6397
Oh, yes, it is definitely related, I haven't noticed this issue before, thanks! My issue focuses a little bit more on the `virt-launcher` forking itself but I think we are fighting for the same thing :D

[2021-09-13 14:11] rthallisey commented on #6348
Do you want to bring this up for discussion at SIG-scale?  SIG-scale is tracking https://github.com/kubevirt/kubevirt/issues/6368 which is for profiling Kubevirt under heavy load.  This issue has some overlap plus it touches on the topic of mem/cpu footprint, which plays a factor in scale.

[2021-09-13 15:55] rmohr commented on #6300
This may have already been checked but did you create the containerdisk like described [here](https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#containerdisk-workflow-example):

[code]

Note that the `ADD` sets the file ownership to the typical qemu uid/gid.

[2021-09-13 18:32] wangxin311 commented on #6351
Sure @ormergi. My original deployment was deleted, and here is the new deployment with the same yaml file, but keep in mind VF mac address is different, so I'll trying to keep all the details in this comments.

# SriovNetwork and VMI Yaml file, already shared before, post here for completeness.
[code]
From my yaml file, I am planning to create two SRIOV network, one with VLAN30 and the other one w

[2021-09-13 22:01] francisco-pc7063 opened #6402 "VM stuck on Pending"
**This a BUG REPORT**:
/kind bug

**What happened**:
Similar to #4748

[code]

[code]
**What you expected to happen**:
VM should start

**How to reproduce it (as minimally and precisely as possible)**:
Fresh minikube install (script in install tools)

**Anything else we need to know?**:
[code]
ls -l
`crw-rw----+ 1 root kvm 10, 232 Sep 13 17:39 /dev/kvm`

lsmod | grep kvm
[code]

I have (offline) e

[2021-09-14 11:23] EdDev commented on #6351
@wangxin311, we have not been able to recreate this issue.

The workflow is split between the SR-IOV operator (which includes the DP and CNI) and Kubevirt which annotates the pod on which the VF/s should be plugged to and defines the domain.

To save us some time, can you share the setup in its problematic state?

BTW, you mentioned:

Could you please share the "script" we can follow to try and re

[2021-09-14 14:40] francisco-pc7063 commented on #4303
virt-launcher pod still logs this out for me:
[code]
Even after adding the symlink to /usr/libexec/qemu-kvm
[code]
I'm not using apparmor.
Debian GNU/Linux 10 (buster)
I'm using minikube with docker driver

@moto-timo did you add any extra config?

[2021-09-14 15:24] dhiller commented on #5819
/lifecycle frozen

[2021-09-14 15:25] dhiller commented on #5819
/remove-lifecycle stale

[2021-09-14 15:46] wangxin311 commented on #6351
@EdDev, I'll chat with you offline for the testbed access.

[2021-09-14 15:54] wangxin311 commented on #6351
Thanks @vladikr, here is my VMI yaml file.
[code]
And here is the domain XML from the virt-laucher pod.
[code]
and double confirmed device information is not in meta_data.json
[code]

[2021-09-14 17:47] mjschmidt opened #6410 "Cannot Connect to VM over NodePort service after VM restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Create a VM and a corresponding ssh NodePort Service. Then Restart the VM by deleting the pod.
**What you expected to happen**:
After VM starts back up I expected to reconnect to the VM
**How to reproduce it (as minimally and precisely as possible)**:
Using an ubuntu image, but any image should do. Just create a vm listed

[2021-09-14 21:03] vladikr commented on #6351
Perfect, thank you! I'll try to figure out what went wrong.

If you could spend several more minutes on this... Could you also start a VMI without SRIOV with any other interface with a Tag. Could you please check that the device metadata is being added to meta-data.json in this case.

[2021-09-15 00:13] pbxqdown opened #6412 "kubevirt_vmi_phase_count metric missing "phase" label"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Sometimes kubevirt_vmi_phase_count metric doesn't have "phase" label. This causes the vm-phase-count dashboard behaves incorrectly:
<img width="610" alt="kubevirt-upgrade-lost-running-count" src="https://user-images.githubusercontent.com/6386150/133349520-2819e964-2ce0-474a-a524-a05e52c7bbdb.png">

**What you expected to h

[2021-09-15 05:27] wangxin311 opened #6413 "Device role tagging is not working for SRIOV interface"
/kind bug

**What happened**:
When enable device role tagging on SRIOV interface, the device information is not in meta_data.json file.

**What you expected to happen**:
The SRIOV interface device information should be in meta_data.json file.

**How to reproduce it (as minimally and precisely as possible)**:
Here is the yaml file, I have two interface, one is bridge interface, and the other is sri

[2021-09-15 05:30] wangxin311 commented on #6351
@vladikr. I tried bridge interface and seems works fine, I created a new issue to track this device role tagging issue separately, I don't want one ticket tracking two different issues, sorry about that.

https://github.com/kubevirt/kubevirt/issues/6413

[2021-09-15 11:22] maiqueb commented on #6410
/sig network

[2021-09-15 11:39] Animezjy opened #6417 "How to run mac vm in kubevirt?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
How to run mac vm in kubevirt?

1. According to https://github.com/kholia/OSX-KVM.git
This project completed the installation of macOS in kvm
But when I import the made macOS image to the kubevirt platform, kubevirt cannot start the macOS virtual machine

**What you expected to happen**:

**How to reproduce it (as minimally and prec

[2021-09-15 12:42] maiqueb commented on #6410
We need at least the VMI spec to be able to reproduce this.

[2021-09-15 12:58] mjschmidt commented on #6410
[code]

[2021-09-15 12:59] mjschmidt commented on #6410
something like this ^

[2021-09-15 13:04] mjschmidt commented on #6410
There may be typos... I don't have a cluster on the internet I can test on

[2021-09-15 13:36] rthallisey opened #6418 "[SIG-scale] At a large scale (1000+ VMIs), deleting a lot of VMIs can cause virt-controller to panic"
/kind bug

At a large scale,  edge triggered events like `Deleted` have an even higher chance to be missed.  When a watch misses a `Deleted` event, the `DeletedFinalStateUnknown` object is added to the DeletaFIFO.  KubeVirt picks up the `DeletedFinalStateUnknown` as a key and attempts to assert key's type `vmi := obj.(*virtv1.VirtualMachineInstance)`.  The result is a runtime panic.

[code]

[code

[2021-09-15 13:38] xpivarc commented on #6348
@rthallisey I will try to attend.

[2021-09-15 14:16] MohammadRVR commented on #6310
Please assign this issue to me

[2021-09-15 14:17] rmohr commented on #6417
Hi, we would need more information, like `kubectl describe vmis <vmname>` to see what is going on.

[2021-09-15 14:18] rmohr commented on #6413
@vladikr any clue what could be wrong?

[2021-09-15 14:19] rmohr commented on #6343
Note that we explicitly don't recommend adding limits to our system components. The main issue is that if the pods sporadically go over their limits they would be killed and processing the VM workloads stop. Could you explain why you need the limits?

[2021-09-15 14:28] rmohr commented on #6413
/assign @vladikr

[2021-09-15 14:29] rmohr commented on #6413
/kind bug

[2021-09-15 14:31] rmohr commented on #6397
/kind enhancement
/triage accepted

[2021-09-15 14:35] rmohr commented on #6393
It is really difficult right now to use our client-go/kubevirt library with the right dependencies. You will probably have to override some `go.mod` dependencies in your project to make this work.

We just discussed in todays community meeting that we need to improve the flow here.

[2021-09-15 14:36] rmohr commented on #6393
/kind bug
/kind enhancement
/triage accepted

Adding the bug label here too because it is almost impossible right now to make a proper use of kubevirt/client-go.

[2021-09-15 14:36] mazzystr commented on #6370
@fabiand thank you sir!

/close

[2021-09-15 14:36] #6370 closed

[2021-09-15 14:42] dhiller commented on #5857
/close

k8s 1.17 is deprecated for a longer while now

[2021-09-15 14:42] #5857 closed

[2021-09-15 17:49] vladikr commented on #6413
yeah, working on a fix now.
It looks like we are exposing SRIOV VFs as `hostdev`s instead of `<interface type='hostdev'...`

I've only considered `<interface>`s in the initial implementation and didn't extend this to <hostdev> until we would start supporting tags for host devices and GPUs.
It should be an easy fix...

I can't remember the reason why do we expose SRIOV VFs using  `hostdev` instead

[2021-09-16 01:50] MarkSpencerTan commented on #3743
/remove-lifecycle stale

[2021-09-16 11:44] rthallisey opened #6422 "[SIG-scale] Deleting VMIs at scale virt-controller often returns 422 errors from the api server"
/kind bug

When deleting VMIs at large scale (1000+ VMIs), the virt-controller logs tons of `StatusReasonInvalid` errors - http error code 422.  My theory is that the virt-controller is attempting to patch the `.Status.activePods` field on the VMI and the server is not allowing it.

[code]

Log:
[code]

The code causing the error:
[code]

[2021-09-16 14:14] rthallisey commented on #6422
Possibly similar to https://github.com/kubevirt/kubevirt/pull/5982 ?

[2021-09-16 17:32] #5479 closed

[2021-09-17 05:14] ansijain commented on #6402
Could you please provide logs of your virt-handler pods.

[2021-09-17 11:50] phoracek commented on #6413
@vladikr I have a vague memory that it was so libvirt does not attempt to configure/manage the interface, to reduce needed capabilities **or** maybe that it was not able to work with only the VF available in the pod (while PF stayed on the host).

[2021-09-17 13:33] francisco-pc7063 commented on #6402
virt handler pod
[code]

[code]

[2021-09-17 13:34] yangxiaoliang opened #6430 "VM start failed with error "SyncVMI failed: ... disk.img: No such file or directory""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Creating VM with datavolume,  VM start failed with error :

SyncVMI failed: "LibvirtError(Code=38, Domain=18, Message='Cannot access storage file '/var/run/kubevirt-private/vmi-disks/datadv-vm-devd05-disk/disk.img': No such file or directory')"

during the cdi importer pods creating the disk.img, there is no error occurs.

**What yo

[2021-09-17 14:04] ansijain commented on #6402
Well from the output it seems  that there are no allocatable kvm devices available on the worker node.
[code]
Please check if it is a nested virtualization issue, If your minikube cluster runs on a virtual machine consider enabling nested virtualization.
Also you can  restart the virt-handler - it should re-register the device plugins.

[2021-09-17 14:11] ansijain commented on #6383
@phoracek can you please take a look on this one

[2021-09-17 14:17] #6402 closed

[2021-09-17 15:11] EdDev commented on #6413
Yes, Petr is right.
When used as “interface”, libvirt will try to access the PF, but it can’t as it is not exposed in the NS.

[2021-09-17 15:55] rthallisey commented on #6055
@marceloamaral did some new [experiments](https://docs.google.com/document/d/1jGQvYaxh5BKSrg6WKfeYGQ6957Ext3dP5lVhaSMbEHk/edit#).

![vm-count](https://user-images.githubusercontent.com/6795213/133817870-6854ab0d-be42-487a-87ee-bf7fcc8ebb74.png)

Unfinished work is still high.  This is the longest running key from the work queue.
![unfinished-work](https://user-images.githubusercontent.com/6795213/

[2021-09-18 16:59] #5201 closed

[2021-09-18 16:59] #5455 closed

[2021-09-19 04:59] #5503 closed

[2021-09-19 10:10] omeryahud opened #6432 "VMI migration with dedicated CPUs nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Migration of a VMI with dedicated CPUs fails with:
[code]

**Anything else we need to know?**:
- Following the stack trace, looks like a non-nil node topology is expected in the `cpuChunksToCells` function in the case of dedicated CPUs without numa passthrough here: https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-l

[2021-09-19 10:36] omeryahud commented on #6432
/assign @omeryahud

I will start looking into it, but I will be going on PTO starting tomorrow, so probably won't have a PR until next mid week

[2021-09-19 20:59] #5517 closed

[2021-09-20 08:46] phoracek commented on #5483
/reopen

[2021-09-20 09:05] phoracek commented on #6383
Sorry, this is outside of my zone of expertise. Adding @mhenriks who worked on the documentation.

[2021-09-20 13:05] VirrageS opened #6436 "Usage of deprecated API leads to reporting incorrect metrics"
/kind bug

**What happened**:

KubeVirt uses deprecated `Prefix("/watch")` API (see [deprecation logs 1.12](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.12.md#deprecations-and-removals)). This causes `apiserver` to interpret this API call wrongly and can report it as LIST call instead of WATCH. This causes `apiserver_request_duration_seconds` metrics for LIST to shoot

[2021-09-20 13:05] VirrageS commented on #6436
/assign @VirrageS

[2021-09-20 20:50] davidvossel opened #6442 "virtctl image upload requires permissions not available to most users"
#6367 introduces the requirement for clients to have permissions to list storageclasses and get cdi storage profiles within the cluster, which limits who can upload images.

We need to reconsider how defaults are calculated in virtctl for this feature in order to support users who do not have access to these fields. Perhaps we can transfer this defaulting logic to the backend somehow

[2021-09-20 20:51] davidvossel commented on #6442
/cc @brybacki

[2021-09-20 22:33] #6418 closed

[2021-09-21 06:40] brybacki commented on #6442
It is in progress, and actually the check might be not needed.

The only thing we loose is a fast fail - with error message about ReadOnly accessmode. But this might be available in DataVolume Condition/Event.

[2021-09-21 12:56] th-2021 opened #6447 "TPM support"
tpm is mentioned at https://github.com/kubevirt/kubevirt/blob/main/docs/vm-configuration.md
but I couldn't figure out how I have to specify it.

I tried:
...
devices:
...
  tpm:
          - model: tpm-tis
             backend:
                  type: emulator
                  version: "2.0"
...
but I got an error tpm unknown.

If it works, can you give an example?
Thanks

[2021-09-21 12:59] th-2021 opened #6448 "windows vm gets 169 address"
When I start the Windows VM kubectl get vmi shortly shows the address in the pod IP range, but a few seconds later it changes to a 169 address.
(Linux VMs are working)

**Environment**:
- KubeVirt version (use `virtctl version`):
0.45.0
- Kubernetes version (use `kubectl version`):
microk8s 1.22.1

On an older combination this worked.

[2021-09-22 08:37] MohammadRVR commented on #6310
Hi @vatsalparekh @kubevirt-bot @phoracek

I would like to work on this issue. Please assign it to me

[2021-09-22 15:55] xpivarc commented on #6310
Hi @MohammadRVR
feel free to open an issue and put your specific goal(e.g reduce complexity in `this` function) to the description. You should then be able to assign the issue to yourself (or I will assign it for you). This issue is more of a placeholder.
Thank you for your interest and I am looking forward to your contribution.

[2021-09-22 22:59] wangxin311 commented on #6351
Hi @EdDev, I left message on slack channel but didn't get response, I am not sure if I reach out the the right person (Edward H, Slack ID: U0158D98CG4), could you share your slack ID or maybe ping me @kewang@equinix.com, we can take a look the issue together? thanks

[2021-09-23 03:41] hxjr commented on #6268
Is there a complete YAML file for deploying the virtual machine, otherwise there will always be various errors in Linux？

[2021-09-23 09:43] ansijain commented on #6447
/kind enhancement

[2021-09-23 13:43] mjschmidt commented on #6410
Were you guys able to reproduce the issue?

[2021-09-23 15:47] th-2021 commented on #6447
Windows 11 seems to require this also for VMs

[2021-09-23 18:55] jean-edouard commented on #5447
Looking at an HCO GCP test cluster, which has 3 masters and 3 workers, I noticed that for 7.5 minutes after deployment and into the test suite, the virt-handler daemonset only deployed 1 virt-handler pod.
That might be a red herring, and an acceptable solution in production, but during those 7.5 minutes a lot of tests that require multiple nodes can fail, most likely on timeouts.
Here's the output

[2021-09-23 21:24] sured77 opened #6457 "image-upload: timed out waiting for the condition"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When going to upload an windows ISO image, the following happens:

virtctl image-upload \

Using existing PVC default/iso-pvc
Waiting for PVC iso-pvc upload pod to be ready...
timed out waiting for the condition
.
.

**What you expected to happen**:
I expect the image upload to complete.

**How to reproduce it (as minimally and prec

[2021-09-24 11:09] rthallisey opened #6459 "Error launching VMI: the number of GPU/s do not match the number of devices"
/kind bug
kubevirt 0.45

Copying from the gpu dp bug report:
[code]

Looks to be introduced by https://github.com/kubevirt/kubevirt/pull/6069.

https://github.com/NVIDIA/kubevirt-gpu-device-plugin/issues/26

[2021-09-24 11:09] rthallisey commented on #6459
@EdDev can you have a look?

[2021-09-24 11:48] phoracek commented on #6459
I don't think that Edy is too savvy of the GPU plugin. Maybe @vladikr would know?

[2021-09-24 13:15] brianventuro commented on #6459
We found a work around for this problem last night. With nvidia-device-plugin still running on the host (unsure if this is needed), enumerating all PCI IDs for GPUs required like this works:

[code]

The key was setting `externalResourceProvider` to `false`.

[2021-09-24 13:49] erkanerol commented on #5447
The reason for that we have only virt-handler pod is that we are labeling the nodes with infra/workload labels and then use nodePlacement configuration to assign VMIs into workload nodes. This is a part of that test so having one virt-handler pod is expected.

I  did re-trigger the job and connect to the cluster while tests are being running. Then access the virt-launcher logs. Here is the real er

[2021-09-24 13:54] phoracek commented on #5447
Thanks @erkanerol, it seems that it fails on https://github.com/kubevirt/kubevirt/blob/962aabb5f4816066c99b18993513abdca96fcf49/pkg/network/dhcp/server/server.go#L274, since "c.openshift-gce-devel-" does not match our expectation for a DNS domain. It should not be difficult to fix it, we'll try to address it the next week.

[2021-09-24 13:57] jean-edouard commented on #5447
Confirmed that this is a cluster-wide network issue by opening a debug shell to a worker node:

[code]

[2021-09-24 14:07] th-2021 commented on #6448
Networking works through the second interface (multus).

[2021-09-24 14:12] maiqueb commented on #5447
`c.openshift-gce-devel-` does not appear to be all that valid, at least `dig` does not like it:

[code]

Do we have an understanding of whoever is configuring that particular DNS name ?

[2021-09-24 14:33] salanki commented on #6448
Yeah but not primary?

[2021-09-24 14:35] th-2021 commented on #6448
remote desktop is not working on first interface (169). virtctl console works.

[2021-09-24 15:03] salanki commented on #6448
Inside windows, if you do `ipconfig` does it have an IP on the first interface? If not, if you do `ipconfig /renew` does it get a "The parameter is incorrect" error?

[2021-09-24 15:05] th-2021 commented on #6448
It has the same 169 address. When I try to renew I get a DHCP server error.

[2021-09-24 15:09] salanki commented on #6448
Ok, I think you are having the same issue we just stumbled upon. Can't get Pod networking to work in any Windows machine in recent Kubevirt builds. I am working on tracking down the commit where the issue was introduced, I will keep you posted.

[2021-09-24 18:10] mjschmidt commented on #6410
I have checked this with a loadbalancer service. it still does not work which makes given the pod is the thing not passing on the network traffic to the VM on boot up

[2021-09-24 19:10] salanki opened #6462 "DHCP Gateway Option severely broken since 0.43"
**What happened**:

In one of the commits in this range https://github.com/kubevirt/kubevirt/compare/v0.43.0...v0.43.1-rc.1 the gateway IP address that ends up at: [pkg/network/dhcp/server/server.go#L117](https://github.com/kubevirt/kubevirt/blob/main/pkg/network/dhcp/server/server.go#L117) is no longer been treated with `.To4()`. This leads to the address being converted to a byte array of a IPv6

[2021-09-24 19:15] salanki commented on #6448
Ok, we found the issue, see #6462. If you want to get this working now, you can use our fixed branch. Change your virt-operator deployment to reference image: `registry.gitlab.com/atlantic-crypto/kubevirt/virt-operator:cw-network9`

[2021-09-26 03:12] wonleing commented on #3558
Seems basic functions work already. Is it possible to release a tech-preview for arm64 (by disabling non-work parts)?
So we can carry on upper development (like harvester) at the same time.

[2021-09-26 04:55] Animezjy commented on #6417
Name:         osx-1
Namespace:    default
Labels:       injector.droidvirt.io/request=osx-worker-sidecar
              kubevirt.io/nodeName=k8s-ceph-1
              vmName=osx-1
Annotations:  converter.droidvirt.io/type: board,vnc,boot-loader,input-device,nic-model
              hooks.kubevirt.io/hookSidecars: [{"image":"registry.cn-shanghai.aliyuncs.com/droidvirt/hook-sidecar:osx-202010062044"}]

[2021-09-26 04:58] Animezjy commented on #6417
I'm sorry for the slow reply, I tried to use this solution to solve the problem of running mac virtual machine in kubevirt
Serval enhancement to port macOS VM to kubevirt · Issue #2763 · kubevirt/kubevirt (github.com)

[2021-09-26 07:37] zhlhahaha commented on #3558
Sorry, I missed this comment. I have not verified virtio-gpu on arm64 server yet, but I think this should work, I will give it a try.

[2021-09-26 07:52] zhlhahaha commented on #3558
Hi Leon, I am not sure how this works, as there are no clarified parts that are not supported by ARM64, but we do have some parts that are not verified yet, like SRIOV and Multus. Roman @rmohr, do you have any comments?

Yes, it is keeping updated, currently, I am doing CDI parts. The key gap is that many kubevirt features have not been verified on ARM64 server, like SRIOV, Multus, CPU pinning, an

[2021-09-27 02:24] vladikr commented on #6459
@brianventuro Yes, this is the right way to go forward from my point of view. I don't think that the nvidia-device-plugin is well maintained at this point. Using the above configuration KubeVirt will run a dedicated device plugin for any permitted device on each node this device is discovered (assuming it is bound to the vfio-pci driver)
This functionality is being tested in the KubeVirt CI.

Plea

[2021-09-27 07:03] rmohr commented on #3558
As @zhlhahaha said, there should only be specific features which are not working which we can enable step-by-step. Identifying and disabling specific parts would require us to maintain and test these switches too. I would rather prefer to increase the CI coverage over time and fix specific features along the way and securing the progress with passing CI tests.

I think you can just start working w

[2021-09-27 07:48] rmohr commented on #4207
Maybe we can fake the password authentication in `virctl` on our proxy when we select  this viewer?

[2021-09-27 08:27] zhlhahaha commented on #5976
Additional Tests

test file | summary
-- | --
config_test.go | use config to attach volume and secret as file
console_test.go | check VM console
credentials_test.go | verify Guest Access Credentials, like sshkey
infra_test.go | verify when applying some config in k8s, (like change the taints and toleration), if kubevirt can response correctlly.
kubectl_test.go | verify if kubectl works well with k

[2021-09-27 08:27] zhlhahaha commented on #5976
Test not support

test file | summary
-- | --
nonroot_test.go | verify SRIOV and VirtioFs in nonroot
vmi_gpu_test.go | GPU is needed
mdev_configuration_allocation_test.go | GPU is needed
windows_test.go | verify windows vms
sysprep_test.go | use to verify windows-disk
template_test.go | verify vm template with openshift
  |  

[2021-09-27 08:54] rmohr commented on #6462
/assign @phoracek

[2021-09-27 08:55] rmohr commented on #6462
/assign @AlonaKaplan

[2021-09-28 02:52] fengxidi opened #6466 "USB redirection dysfunction"
**What happened**:

When I was using USB redirection, I encountered some problems. After I reset the USB device, I can see the USB device in the virtual machine through the command lsusb, but the USB device cannot be loaded through the command fdisk.
This means that the device is not available. In fact, I can't use it when I mount.
Error message:

![image](https://user-images.githubusercontent.com

[2021-09-28 05:49] wangxin311 commented on #6351
@EdDev  This is the full yaml file for you to recreate the issue, you only need modify the resoruceName, try to kill VM multiple times, you should be able to recreate the issue.

[code]

Thanks
Xin

[2021-09-28 08:32] erkanerol commented on #5383
/reopen

I think the root cause of this bugzilla item is this issue https://bugzilla.redhat.com/show_bug.cgi?id=2008166

[2021-09-28 09:03] maiqueb commented on #5447
I think so - imo, this seems to be a configuration issue. Plus a bug on some component that allowed that domain name to be set. I unfortunately do not know which.

I've found [this unit test](https://github.com/kubevirt/kubevirt/blob/236eb73ed2af4d698ab943fd4340bda9747757eb/pkg/network/dhcp/server/server_test.go#L158) on our code that seems to prevent domains starting with `-` , which, are not [In

[2021-09-28 09:44] erkanerol commented on #5383
This PR added metrics based on `up` + namespace labels: https://github.com/kubevirt/kubevirt/pull/2780

This PR added `labeldrop` https://github.com/kubevirt/kubevirt/pull/3125 which broke that metrics.

[2021-09-28 11:07] maiqueb opened #6469 "Invalid search domain validation regex for domain names with 253 characters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Our search domain validation regex is incorrect on (at least) a corner case; the [test asserting a domain name with 253 characters as valid](https://github.com/kubevirt/kubevirt/blob/236eb73ed2af4d698ab943fd4340bda9747757eb/pkg/network/dhcp/server/server_test.go#L170) is actually checking the regex matching operation **fai

[2021-09-28 11:16] maiqueb commented on #6469
/cc @mlsorensen

This is was a typo, right ?

[2021-09-28 12:55] erkanerol commented on #5447
I created a bug against Network Manager of Red Hat Enterprise Linux.  https://bugzilla.redhat.com/show_bug.cgi?id=2008521

[2021-09-28 13:45] jean-edouard commented on #5447
@erkanerol Network Manager usually just writes whatever the DHCP server said to /etc/resolv.conf. IMO, the only way this is its fault is if it truncates the search list to 72 characters.
To me it looks a lot more like a GCP+OCP cluster misconfiguration.
I could be interesting to run a dhcp client in verbose mode to see the IP of the DHCP server. That IP should point you directly to the culprit!

[2021-09-28 14:17] davidvossel opened #6473 "re-enable release update functional test for non-root test lanes."
https://github.com/kubevirt/kubevirt/pull/6472 disabled the update test for non-root in order to unblock PRs. non root is still experimental, so this shouldn't be considered a release blocker.

We still need to re-enable this test `test_id:3145` quickly for non-root given how important update guarantees are.

[2021-09-28 15:49] #6413 closed

[2021-09-28 19:14] #6462 closed

[2021-09-28 21:20] davidvossel commented on #6473
@xpivarc is this something you can look at?

The issue here is that the non root lanes are failing our update test that tests the previous release can update to whatever is currently in a PR.

The test failure doesn't look super complicated or anything. What's failing this [line](https://github.com/kubevirt/kubevirt/blob/22827c34372f6e22cae03ab5a28692ca3f64ea1d/tests/operator_test.go#L1332) where

[2021-09-28 23:36] mmellin commented on #4762
I've been stuck on the same thing here. @mel1nn can you confirm what worked for you?

[2021-09-29 02:42] t3hmrman commented on #5913
bump

[2021-09-29 07:28] EdDev commented on #6351
Thank you.
How do you "kill" the VM? The method affects how the system revives it.

[2021-09-29 11:11] EdDev commented on #6245
@h807892124 , I am trying to understand what you are looking to achieve exactly.

When you specify SR-IOV interfaces, it points to a NAD that is expected to ref an SR-IOV resource (that is backed up by the SR-IOV Device Plugin and CNI).
I'm unclear how is the Physical Function (PF) relevant here. It is not managed by the SR-IOV CNI/DP, only the VF are.

Please try to describe in detail what you me

[2021-09-29 11:29] EdDev commented on #6245
/sig network

[2021-09-29 11:30] EdDev commented on #6351
/sig network

[2021-09-29 12:12] rthallisey commented on #6459
Looking at the PR, I thought the dp would still work with this code change.  It's not clear to me what needs to be fixed here.  Does the NVIDIA gpu dp need to make a change to function with the `permittedHostDevices` API or should the new code structure support external dps?

[2021-09-29 12:20] knopt opened #6478 "[SIG-scale] ClusterProfiler virt-api memory usage scales lineary with number of kubevirt pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

ClusterProfiler, feature introduced in #6211, causes significant memory usage on virt-api, even if a cluster is not under any load (no virt-launcher pods). Memory usage grows lineary with size of the cluster. This might lead to OOM kills for virt-api pods. When I was experimenting on a large scale cluster, OOMs h

[2021-09-29 12:21] knopt commented on #6478
/cc @davidvossel

[2021-09-29 14:40] mazzystr commented on #6466
@victortoso Can you take a look at this?

[2021-09-29 14:41] mazzystr commented on #6466
/kind bug

[2021-09-29 14:42] rmohr commented on #6466
/triage needs-information

[2021-09-29 14:43] maiqueb commented on #6448
Would you retry w/ latest master ? There's a good chance this was fixed by https://github.com/kubevirt/kubevirt/pull/6465.

[2021-09-29 14:45] mazzystr commented on #6457
@mhenriks Can you take a look at this?

[2021-09-29 14:53] mazzystr commented on #6430
@davidvossel Can you please take a look?

[2021-09-29 14:57] EdDev commented on #6459
@rthallisey , the intention was to keep for now the support for the "legacy" external DP and not to break anything.
I do see the problem we have now with the new code: The NVIDIA DP resources are processed, but then the new Kubevirt DP is processed and fails (because it sees GPU/s defined, but no resources/addresses available).

I need to check why this was not failing validation in the previous c

[2021-09-29 14:57] mazzystr commented on #6412
@rthallisey `release-0.35` is fairly old.  Can they update?  Or is this something that you can handle?

[2021-09-29 15:15] vladikr commented on #6459
Hey @rthallisey,
I've outlined the changes that need to happen in NVIDIA DP some time ago. (https://github.com/NVIDIA/kubevirt-gpu-device-plugin/issues/19)

I'll be happy to elaborate on this if you'll have questions. In general, external devices plugins will be supported with `permittedHostDevices` API.

[2021-09-29 15:34] wangxin311 commented on #6351
You can use kubectl delete command for example `kubectl delete virtualmachineinstance.kubevirt.io/vsrx-cm-priwmjkc` (preferred) or reboot the server (may take longer time). After the VM is deleted, VMIReplicaSet will re-create a new virt-launcher pod and a new VM for us, at this time, the new domain file will be recreated and sometimes got mess up on SRIOV VF and interface mapping.

[2021-09-29 15:41] davidvossel commented on #6430
@yangxiaoliang can this be reproduced with a single VM? If not, is there any relationship between the 3 VMs being started, meaning do they share any volumes or anything like that between them?

[2021-09-29 19:32] knfoo opened #6481 "prometheus duplicate series for the match group"
**BUG REPORT**:
/kind bug

**What happened**:
I have installed kubevirt v 0.44.1 which installs a bunch of prometheus rules 2 of the rules are reporting `found duplicate series for the match group`

It is `record:kubevirt_vm_container_free_memory_bytes` and `alert:KubeVirtComponentExceedsRequestedMemory`

[code]
and
[code]

**What you expected to happen**:
No errors in the prometheus rules.

**How

[2021-09-30 02:46] mack1024 opened #6484 "building kubevirt based on arm64 architecture,but unrecognized import path "golang.org/x/crypto""
**

**I'm building kubevirt based on arm64 architecture,I used the make command building kubevirt,but org_golang_x_crypt Cannot download,I have set up an HTTPS proxy and go proxy,it still cannot download.Can you help me?thank you very much.**

**

hack/dockerized "export BUILD_ARCH= && DOCKER_PREFIX= DOCKER_TAG= IMAGE_PULL_POLICY= VERBOSITY= ./hack/build-manifests.sh && \
    hack/bazel-fmt.sh &&

[2021-09-30 08:09] omeryahud commented on #6432
/cc @dominikholler

[2021-09-30 08:56] xpivarc commented on #6473
@davidvossel I think https://github.com/kubevirt/kubevirt/pull/6445 will resolve it.

[2021-09-30 10:21] yangxiaoliang commented on #6430
Thanks @davidvossel 。 Yes, this issue can be reproduced with a single VM . Actually the 3 VMs didn't share any volumes, they are they are independent from each other.

From my digging, looks the failed VMI encountered a race condition during the importer pod deleting and the virt-launcher pod starting, the PV didn't unmounted from importer pod before attach to the new virt-launcher pod.

vmi start

[2021-09-30 11:35] sbulage opened #6486 "Recording Rule "kubevirt_vm_container_free_memory_bytes" is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When try to execute recording rules: "kubevirt_vm_container_free_memory_bytes" shows "No datapoints found."

I debugged more and found that metrics used in this recording rules expression is changed.

**What you expected to happen**: It should work and show output.

**How to reproduce it (as minimally and precisely as pos

[2021-09-30 11:35] sbulage commented on #6486
@sradco Can you please take a look into it.?

[2021-09-30 12:53] knfoo commented on #6481
I guess it is related to #6486

[2021-09-30 14:22] rmohr opened #6490 "Removing python from virt-launcher"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

At this stage we don't need for production python inside the virt-launcher or virt-handler image. However, there is one e2e test which makes use of python: https://github.com/kubevirt/kubevirt/blob/main/tests/network/vmi_networking.go#L1052.

**What you expected to happen**:

Once this test does not rely on pytho

[2021-09-30 14:23] rmohr commented on #6490
/area networking
/cc @phoracek

[2021-09-30 14:23] rmohr commented on #6490
/sig network

[2021-09-30 14:23] rmohr commented on #6490
/assign @phoracek

[2021-09-30 14:42] sandrobonazzola commented on #5447
I think NetworkManager just reports what the DHCP is providing. It's `systemd-resolved` which populates `/etc/resolv.conf`.

[2021-09-30 14:48] oshoval commented on #5447
Hi, not sure its related but it might,
When debugging other problem, I saw that fedora which has cloud-init NoCloud config, cause kubevirt to set cloud-init's metadata `local-hostname`, which in turn cause the VM to disregard what DHCP configures,
removing the marked line, or removing the cloud-init "fixed" the problem, but its under research still (in order to know the consequences)

[code]

[2021-09-30 15:16] sradco opened #6491 "Missing runbooks for VirtApiRESTErrorsHigh and VirtApiRESTErrorsBurst alerts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Missing runbooks for new alerts: VirtApiRESTErrorsHigh, VirtApiRESTErrorsBurst

**What you expected to happen**:
All Kubevirt alerts should include a runbook_url annotation and runbooks at https://github.com/kubevirt/monitoring/tree/main/docs/runbooks

See example:
https://github.com/kubevirt/kubevirt/blob/42a49a

[2021-09-30 15:16] sradco commented on #6491
@iholder-redhat Can you please handle this issue?

[2021-09-30 16:59] alonSadan commented on #6373
Hi @fdupont-redhat
I didn't manage to fully recreate your bug on my local env on a minikube cluster. The vmi was succefully created.
But, I did check the logs and I saw :
[code]
I validated ipv6 is disabled k8s-wise and nodes-wise.

It means it did try to create the DHCP6, which is a bug on it's own and I will post a patch later to fix it.

I am still wondering  about the vmi failing to create. Ca

[2021-09-30 17:10] davidvossel commented on #6478
only the cluster control plane (virt-controller, virt-api, virt-operator) and the node level control plane (virt-handler) currently report back profiles. So for 500 nodes, that's probably about 506 profiles... Which is still a whole lot of data.

Part of the reason the profiler is designed to aggregate all the profiles in virt-api is that it solves the problem of how to extract the profiles from t

[2021-09-30 20:02] eddienko opened #6493 "Console and VNC disconnection"
/kind bug

**What happened**:

When connecting to a virtual image instance using either `virtctl console` or `virtual vnc` there is a websocket error almost exactly after 21s in case there is no interaction with the console. In detail, connection with:

[code]

If then I run e.g. `top` in the console it keeps going. However when I leave the console without anything running on it and I do not type

[2021-09-30 20:33] davidvossel commented on #6473
i'm not sure how. If we were hitting the bug you're talking about during the update tests, I'd expect it to either work or not work. But instead the test is flaky.

[2021-09-30 21:34] eddienko commented on #6493
Note: Using nightly version 30.09.2021 the issue with `vnc` seems gone. The issue with `console` is still there.

[2021-10-01 07:09] vatsalparekh opened #6494 "[outreachy] [good-first-issue] Refactor pkg/controllers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Sonarcloud has many refactoring observations to reduce the code complexity in `pk/controllers` directory [here](https://sonarcloud.io/project/issues?directories=pkg%2Fcontroller&id=kubevirt_kubevirt&resolved=false)

**What you expected to happen**:
Refactor the code and break it into more readable and less complex

[2021-10-01 07:12] vatsalparekh opened #6495 "[outreachy] [good-first-issue] Refactor tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Sonarcloud has many refactoring suggestions to reduce code complexity for the `tests` directory [here ](https://sonarcloud.io/project/issues?directories=tests&id=kubevirt_kubevirt&resolved=false)
**What you expected to happen**:

Refactor and break the code into more readable and manageable blocks

[2021-10-01 07:41] vatsalparekh opened #6496 "[outreachy] [good-first-issue] Refactor pkg/virt-handler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
Sonarcloud has suggestions to reduce code complexity of `pkg/virt-handler` directory [here](https://sonarcloud.io/project/issues?directories=pkg%2Fvirt-handler&id=kubevirt_kubevirt&resolved=false)

**What you expected to happen**:
Refactor and break the code into more readable and manageable blocks

[2021-10-01 12:45] mhenriks commented on #6457
@sured77 kubevirt version reported here does not seem correct.  Can you also add the CDI version?

[2021-10-01 13:08] phoracek opened #6498 "golang 1.17 fails to parse IPs with leading zeros"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

With Golang 1.17, the way `net.ParseIP` and `net.ParseCIDR` changes. While up until now, IPs with leading zeros (e.g. 192.168.001.100) were accepted, they won't be any longer.

**What you expected to happen**:

While the simple fix to this would be to strip leading zeros from each octet, it would be a backwards compatibi

[2021-10-02 17:09] #5522 closed

[2021-10-03 07:46] EdDev opened #6500 "[pull-kubevirt-e2e-k8s-1.21-sig-network] macvtap e2e test setup is flaky on CI"
/kind bug

**What happened**:
macvtap e2e test setup is flaky on CI

Occurrences are rare (once a week): https://search.ci.kubevirt.io/?search=Macvtap+VMI+migration+with+live+traffic+should+keep+connectivity+after+a+migration&maxAge=336h&context=1&type=bug%2Bjunit&name=&excludeName=&maxMatches=5&maxBytes=20971520&groupBy=job

Example:
[code]

Ref: https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/

[2021-10-03 07:46] EdDev commented on #6500
/sig network

[2021-10-03 07:50] EdDev commented on #6500
This seems to be a low priority issue as it occurs only once a week and on an experimental CNI (macvtap).

[2021-10-03 09:38] th-2021 commented on #6448
I just tried against main, but the issue is still there.
To test it did:
kubectl apply -f _out/manifests/release/kubevirt-operator.yaml
kubectl apply -f _out/manifests/release/kubevirt-cr.yaml
<wait until all pods are ready again>
kubectl delete -f win10.yaml
kubectl create -f win10.yaml

was this right?

[2021-10-03 11:43] th-2021 commented on #6448
after 2 hours (next time I looked at it) the pod address was shown and no longer the 169 address.

[2021-10-03 11:43] #6448 closed

[2021-10-04 07:05] iholder-redhat commented on #6491
Yes, no problem :)

[2021-10-04 08:02] redhat-demo commented on #3593
hello how do you solve this problem？ Can you share your step?

[2021-10-04 11:09] alicefr opened #6507 "Operation not permitted in setting unpriv_sgio with scsi lun"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If you want to use lun disk with scsi, the VM fails to start because libvirt cannot set unpriv_sgio

**How to reproduce it (as minimally and precisely as possible)**:
Start a VM with a block PVC:
[code]

Check the virt-launcher log:
[code]
Xml:
[code]

BZ: https://bugzilla.redhat.com/show_bug.cgi?id=2010306

[2021-10-04 11:19] alicefr commented on #6507
For this bug, there are actually 2 distinct problems.

First of all, sysfs is always mounted as read-only (also for privileged containers). In order to workaround this issue, it is possible to pass sysfs as an additional volume to a privileged container:
[code]
We should avoid for security reasons passing sysfs as rw volume and the privileged option to the virt-launcher pod. For this reason, virt-

[2021-10-04 11:34] xpivarc commented on #6473
[Here](https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/6112/pull-kubevirt-e2e-k8s-1.20-sig-compute-nonroot/1441580733129822208/artifacts/k8s-reporter/pods/1_kubevirt-test-default1_virt-launcher-vm-v1alpha3-4728q-compute.log) we can see problem with permissions of DV. I think what's causing this (flakiness) is the randomness of where the VM lands. Why? -> We are using HP

[2021-10-04 13:55] knopt commented on #6478
/assign @knopt

[2021-10-05 06:30] rmohr commented on #5784
/remove-lifecycle stale

[2021-10-05 07:28] #6436 closed

[2021-10-05 07:54] phoracek commented on #6351
@wangxin311 would you please also share the version of the SR-IOV operator you've used on your cluster?

[2021-10-05 10:45] erkanerol commented on #6412
cc: @sradco

[2021-10-05 11:05] rmohr commented on #6432
@omeryahud thanks. It is not clear to me how we can have an empty topology. I will check it.

[2021-10-05 13:47] sured77 commented on #6457
it's v1.39

[2021-10-05 14:51] alicefr commented on #6507
Patch for libvirt fix posted and merged: https://listman.redhat.com/archives/libvir-list/2021-October/msg00073.html

[2021-10-05 16:38] wangxin311 commented on #6351
@phoracek,I tried both master branch and release-4.10, the issue are the same, here is the image I am using for the sriov-netwokr-operator from one of my setup.
[code]

[2021-10-06 08:24] phoracek commented on #4678
/remove-lifecycle rotten

[2021-10-06 10:53] phoracek commented on #6410
We should extend the expose e2e test suite with this scenario.

@mjschmidt I'll keep you posted.

[2021-10-06 10:59] phoracek commented on #6490
We probably can replace the code with ethtool, if we don't have the tool inside virt-launcher, we can access it from another container or the node.

[2021-10-06 11:21] rmohr opened #6531 "Improve WFFC handling by removing the dummy pod step"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The WFFC handling of PVCs right now involves first starting a pod without a VM inside which binds the WFFC PVCs to a node.
Then we hope that when we stop that pod and start the actual pod with a VM inside, that the pod can still fit on the node.

In case that a cluster is used well, this assumption is very likely pretty

[2021-10-06 11:22] rmohr commented on #6531
@awels @mhenriks FYI

[2021-10-06 12:44] awels commented on #6531
So let me see if I understand this correctly. Instead of the dummy pod, you want to just start the virt-launcher pod normally, but not start the VM process until all the volumes are marked as ready? Starting the virt-launcher pod will bind the PVCs to the node the pod is running on. But instead of starting the VM process, we just wait until all the volumes are marked as ready, which will be ongoin

[2021-10-06 14:33] odra commented on #6495
I would like to work on this issue if it is free :-)

[2021-10-06 14:50] odra commented on #6495
I don' t think I have the perms to do so :)

[2021-10-06 14:50] xpivarc commented on #6495
/assign @odra

[2021-10-06 14:55] odra commented on #6495
thanks!

[2021-10-06 15:08] mjschmidt commented on #6410
Thank you! @phoracek

[2021-10-07 07:20] rmohr opened #6538 "[tests] Improve windows DHCP coverage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We test linux pretty well with our internal DHCP server but we don't do the same for windows. This led to a regression: https://github.com/kubevirt/kubevirt/issues/6462.

**What you expected to happen**:

Let's add a few more windows tests around networking.

**How to reproduce it (as minimally and precisely as p

[2021-10-07 07:28] rmohr commented on #6531
Yes that would be the rough idea. I was counting on the RWO behaviour which you mention. If we can't assume that storage providers adhere to that, then we probably can't do that (still wonder if we can live with e.g. 5% of exotic providers not working).

Apart from the scheduling issues, I had troubles implementing some advanced scheduling features due to this (around NUMA). I eventually could sol

[2021-10-07 08:11] rmohr opened #6541 "Docuement ways on how to best use custom libvit/qemu for custom builds"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

It is not too hard to use your own libvirt/qemu and it is sometimes required for getting:

 * newer features
 * work around bugs which are not there in specific newer or older versions
 * enabling/disabling certain features which require a recompile of libvirt/qemu

But People are sometimes struggling finding the

[2021-10-07 11:46] alicefr commented on #6507
I verified Michal's patch for libvirt and the fix solves the problem.
The missing part is for KubeVirt. We need to set /sys/dev/block/<maj:min>/queue/unpriv_sgio to 1 and also add the attribute sgio='unfiltered'.

Xml example:
[code]

[2021-10-07 13:10] alicefr commented on #6531
Could we deploy the CDI importer container inside the virt-launcher pod as init container?

[2021-10-07 15:45] sbulage opened #6545 "Recording Rules are missing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Following Metrics(recording rules) are missing:

- Kubevirt_virt_controller_ready_total
- Kubevirt_virt_operator_ready_total
- Kubevirt_virt_operator_leading_total

**What you expected to happen**:
All metrics should be available

**How to reproduce it (as minimally and precisely as possible)**:100%

**Anything else we ne

[2021-10-07 21:15] #5444 closed

[2021-10-08 00:35] #6373 closed

[2021-10-08 04:18] weihanglo opened #6551 "Reconcile and enable monitoring even after virt-operator startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

virt-operator deteremine whether or not to enable monitoring by checking the existence of sevicemonitor CRD. However it only occurs [during startup]. This is somehow limited since a user may deploy prometheus monitoring stack after virt-operaetor startup.

[during startup]: https://github.com/kubevirt/kubevirt/bl

[2021-10-08 07:33] vatsalparekh commented on #6310
@MohammadRVR feel free to take a look at the issues from https://github.com/kubevirt/kubevirt/issues?q=is%3Aissue+is%3Aopen+outreachy

[2021-10-08 08:55] rmohr opened #6552 "Kernel image is not prepulled as an initConainer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If one specifies a kernel image with a kernel we pull that image and the VM will use the kernel form that image, however we are not prepulling it like we do for containerDisks. As a result, if the pull takes longer virt-launcher will time out.

**What you expected to happen**:

We should prepull the image like containerD

[2021-10-08 08:56] rmohr commented on #6552
@iholder-redhat maybe you want to have a look.

[2021-10-08 11:52] erkanerol commented on #5383
All recording rules and alert which contains "namespace" label as filter don't work because of the issue above.

[2021-10-08 17:09] VirrageS opened #6561 "Allow configuration of `virt-handler` DaemonSet spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**: After redeploying new version of KubeVirt the `virt-handler`'s DaemonSet has default `.spec.strategy` set. This means that the `.spec.strategy.rollingUpdate.maxUnavailable` is set to `1`. This is problematic for large clusters (with hundreds of nodes) because the full update will take hours. The current fix for th

[2021-10-08 22:42] pbxqdown commented on #6412
Is this issue observed on latest Kubevirt version? It looks like vm related metrics undergoes large code-refactor since release-0.35. vms/prometheus folder is replaced with vmistats folder.
https://github.com/kubevirt/kubevirt/blob/main/pkg/monitoring/vmistats/collector.go#L100
Not sure whether the issue is fixed during release upgrade.

[2021-10-10 08:40] zcahana commented on #5920
This is being addressed in #6533.

/remove-lifecycle stale
/assign

[2021-10-10 11:04] watermelon-brother opened #6564 "ADD hotplug volume more than one will cause io error"
**What happened**:
when I first add one hotplug volume to a vm ,everything is ok.
but when I second add one or more volume to a vm ,hotplug volume was added before will appear the io error.
**What you expected to happen**:
vm will be paused , because the io error
**How to reproduce it (as minimally and precisely as possible)**:
you can try add hotplug volume in the different time to a vm.

**Anyth

[2021-10-10 11:10] watermelon-brother commented on #6564
[code]
I review above code, I think this io error is caused by below reason:
when I add a new hotplug volume,old  attachmentPodForVolume will be deleted , it cause the pv unmount.if this pv is use by the vm , it will cause the io error.

[2021-10-10 23:10] raphaeljlps commented on #6494
is this up for grabs ?

[2021-10-11 05:20] AudaxAli opened #6566 "VM Stuck at Successfully connected to vm-cloudera-datavolume console. The escape sequence is ^]"
**Hi Team! i'm not able to login VM/VMI**. .......... Logs attached

`**kubectl describe vm vm-cloudera-datavolume**
Name:         vm-cloudera-datavolume
Namespace:    default
Labels:       kubevirt.io/vm=vm-cloudera-datavolume
Annotations:  kubevirt.io/latest-observed-api-version: v1
              kubevirt.io/storage-observed-api-version: v1alpha3
API Version:  kubevirt.io/v1
Kind:         Virtua

[2021-10-11 05:22] AudaxAli commented on #6566
**kubectl virt vnc vm-cloudera-datavolume**
{"component":"","level":"info","msg":"connection timeout: 1m0s","pos":"vnc.go:144","timestamp":"2021-10-08T03:54:15.350956Z"}
{"component":"","level":"error","msg":"vncviewer execution failed: exit status 1, output: \nTigerVNC Viewer 64-bit v1.8.0\nBuilt on: 2020-11-16 16:46\nCopyright (C) 1999-2017 TigerVNC Team and many others (see README.txt)\nSee htt

[2021-10-11 07:09] tiezhuoyu opened #6567 "cannot ssh to vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
A vm is created successfully. The command 'kubectl get po -owide' shows virt-launcher is running on node 'oy-edge-1'. with ip 192.168.3.16.
![image](https://user-images.githubusercontent.com/25275281/136745978-5747ef21-4971-40c2-be51-c59fd661f184.png)

However, I fail to connect the vm by ssh on oy-edge-1. It reports 'connection ref

[2021-10-11 07:30] alicefr commented on #6564
@watermelon-brother which storage provider are you using for the pvc?

fyi @awels

[2021-10-11 08:05] rmohr commented on #6466
So seems like the switch to centos stream 8 as base image fixed it.

Thanks for the update.

[2021-10-11 08:54] alicefr commented on #6564
@watermelon-brother IRC @awels changed it from a pod per PVC to a single pod that holds all the hotplugged volumes. Let me search for the PR

[2021-10-11 09:31] Gre8t commented on #6496
thank you

[2021-10-11 11:30] tiezhuoyu commented on #6567
Thank you for your reply!

No yet. Up to now, I just want to ssh the vm from its host machine. It works well on other host machine, but fail on 'oy-edge-1', and the connection was refused.

[2021-10-11 13:09] phoracek commented on #6490
/assign @rhrazdil

[2021-10-11 15:51] awels commented on #6564
We have functional tests in place that plug in multiple volumes with rook ceph, we also test with hotpath and local volume. I also know this is tested extensively with longhorn.

[2021-10-12 03:14] zhang10609 opened #6577 "Kubevirt with type-1 hypervisor (Xen)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently, kubevirt can manage kvm(type-2) VM not only on x86 but also on arm64(experimental stage) via libvirt and the experience is good for me. But it can not support type-1 hypervisor now.

**What you expected to happen**:
Add Xen hypersivor support in kubevirt.

As kubevirt architecture is designed to manage VM via libvirt and

[2021-10-12 04:18] #5110 closed

[2021-10-12 04:53] ShubhamTatvamasi opened #6578 "virtctl is not working on macOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

getting error while running virtctl command on macOS
[code]

**What you expected to happen**:

It's working on my linux box:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl

[2021-10-13 02:00] zhlhahaha commented on #3558
Ok, I will contact you on slack.

[2021-10-13 03:22] larryliuqing opened #6585 "[vlan+macvtap] two vms under same vlan and same node can't ping successful echo other"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I have designed IP pool mode like:

eth0
------> eth0.100 (vlan 100)
------------> net1 (macvtap type device for every virt-launcher-i-xx which will be used by qemu)

and I have created two kubevirt vm to run on the same node to verify the networking communication, but the ping failed.

[code]
The NIC info in host node / container

[2021-10-13 07:00] hellocloudnative commented on #3558
@zhlhahaha

[2021-10-13 07:31] cszixin opened #6586 "virtctl image-upload failed: A larger PVC is required"
use virtctl to upload a iso file, but always fails

[code]

use qemu-img cmd , it shows

[code]

 it so strange, why cdi -upload-proxy calculate Virtual image size  2147483648

[code]

how to fix it?

[2021-10-13 08:47] maya-r commented on #4290
/reopen
/life-cycle-frozen

[2021-10-13 10:28] erkanerol commented on #5383
/reopen

This is also necessary for fixing this issue https://github.com/kubevirt/kubevirt/pull/6588

[2021-10-13 10:40] iholder-redhat commented on #6552
PR is created: https://github.com/kubevirt/kubevirt/pull/6589

[2021-10-13 13:35] enp0s3 opened #6590 "[monitoring] Virt-operator and virt-controller readiness metrics being calculated inaccurately"
/kind bug

**What happened**:
Virt-operator and virt-controller expose a Gauge metric called `kubevirt_virt_operator_ready` and `kubevirt_virt_controller_ready`. That metric should reflect the readiness of the app.
Currently this metric is not correct. As can be seen in the [handler](https://github.com/kubevirt/kubevirt/blob/099be903803556bfe3a85075a7b55f0a711d9ca7/pkg/healthz/healthz.go#L71) of t

[2021-10-13 14:41] mazzystr commented on #6590
/triage accepted

[2021-10-13 14:44] mazzystr commented on #6586
@awels ping

[2021-10-13 14:50] rmohr commented on #6578
@ShubhamTatvamasi could you run `virtctl version -v9`?

[2021-10-13 14:59] rmohr commented on #6567
@tiezhuoyu what CNI plugin do you use? For instance macvlan/macvtap based solutions may have issues reaching pod IPs from the node IP.

[2021-10-13 16:59] mazzystr commented on #3558
I'm making some forward steps.  I pulled one rpi out of the cluster and installed minikube k8s with KubeVirt.  KubeVirt fully deploys.  I am now able to launch a virtual machine.

Next problems
* I am unable to ping the vm IP yet I can ping the docker hub ip of 172.17.0.1
* I need to compile virtctl for arm.  See https://github.com/kubevirt/kubevirt/issues/3558

[2021-10-13 20:13] mazzystr commented on #3558
virtctl compiles successfully

Console on the virtual machine is empty.

[code]

[code]

[code]

[2021-10-13 22:49] xinyanzh97 opened #6599 "VMI is still paused after the storage access is recovered"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After the storage access is recovered, the VMI is still paused, and libevirt continues to report IO error.

**What you expected to happen**:
The VMI should be unpaused when the storage is recovered.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a VM using a NFS storage for its boot disk.
2.

[2021-10-13 23:28] xinyanzh97 opened #6600 "VMI is not paused after storage fails (storage type: soft mount mode NFS)"
/kind bug

**What happened**:
(The VMI uses the soft mount mode NFS as storage)
After I block NFS storage access, the VMI is not paused. And I found from logs that domain.status.status alternates between Running and Paused very quickly.

**What you expected to happen**:
Libvirt should only report domain pausedByIOError event and not domain Running event, and the VMI should be paused.

**How to rep

[2021-10-14 01:40] cszixin commented on #6586
@awels thanks !  this is a centos image iso file with raw format,  pvc size are --pvc-size=1194Mi,  pvc volume are using ceph shared storage
it is strange，No matter how large PVC size is specified, errors always exist, example pvc-size=2Gi, cdi shows virtual size is 3Gi, when pvc-size=3Gi, cdi shows virtual size is 4Gi

[2021-10-14 01:47] cszixin commented on #6586
What makes me wonder is why for the same file, just because different PVC sizes are specified, CDI shows that the size of virtual size will change

[2021-10-14 01:55] zhlhahaha commented on #3558
No, it does not support VGA devices, please refer to https://github.com/kubevirt/kubevirt/issues/3558#issuecomment-909835219

You can try to run virt-Launcher directly via `docker run`, then install the qemu-kvm directly form fedora official repository or compile it by yourself. After that, you can use `docker commit` to save the new virt-Launcher image.

[2021-10-14 02:42] hellocloudnative commented on #3558
I want to run VNC graphical interface on ARM, is there any way?  @zhlhahaha

[2021-10-14 03:12] hellocloudnative commented on #3558
Is virtio-GPU configured in the VIRTUAL machine's YAML file? @zhlhahaha

[2021-10-14 03:12] zhang10609 commented on #6577
Thank you for your suggestion and I had opened a conversation to discuss this topic (https://groups.google.com/g/kubevirt-dev/c/C6cUgzTOsVg)

[2021-10-14 03:14] hellocloudnative commented on #3558
How do I configure a supported Virtio-GPU? @zhlhahaha

[2021-10-14 04:20] zhlhahaha commented on #3558
I do not know, I don't do any investigation on this, but this code is for kubevirt setting vnc which may help.
https://github.com/kubevirt/kubevirt/blob/d64731bde56065a1c61cba01bcc248fa3a2f7b7f/pkg/virt-launcher/virtwrap/converter/converter.go#L1699-L1720

[2021-10-14 07:04] xpivarc commented on #6600
Hi @xinyanzh97,
this is intended behavior. This behavior is caused by the never-ending reconciliation of the domain and VMI object. The benefit is that VM will resume once the storage comes up.

Can you reason why staying paused is better?

[2021-10-14 07:10] xinyanzh97 commented on #6600
Hi @xpivarc, thanks for your quick reply!
Maybe my previous description is not clear. The problem is that **when** the storage is failed/not accessible, the VMI is not paused. I think the intended behavior should be paused?

[2021-10-14 07:15] xinyanzh97 commented on #6599
Thanks for your suggestion, let me have a try and test.

BTW, "_I guess this is related to #6599_": maybe another bug number?

[2021-10-14 07:26] rmohr commented on #3558
This is right now not possible. We normally hardcode the vga device in theVMs (except if you select the headless VM options). @zhlhahaha so far just ensured that the vga device never gets added. If virtio-gpu would be a suitable replacment for vga, I would assume that we simply est the virtio-gpu device instead of the vga one.

[2021-10-14 07:47] zhlhahaha commented on #3558
Hi Roman, I verified the virtio-gpu on bare-metal libvirt, it works fine. I will verify it on kubvirt.

[code]

[2021-10-14 08:39] hellocloudnative commented on #3558
I changed the code model= VGA to virtio, which can be accessed through VNC, but the mouse and keyboard can not move.
@zhlhahaha

[2021-10-14 09:05] maiqueb commented on #6585
I'm also interested in knowing your cloud init configuration for both VMs @larryliuqing . I can't infer it from the VM snippets you've provided.

Knowing the domxml snippets of the macvtap interfaces would also be interesting.

[2021-10-14 09:12] andreabolognani commented on #3558
I believe USB keyboard plus USB tablet is the preferred configuration. Even on x86, a tablet is usually chosen over a mouse because it works better in practice for whatever reason.

[2021-10-14 09:56] dorroddorrod opened #6607 "Cannot use console / vnc with virtctl"
/kind bug

**What happened**:
When running `virtctl console dors-vm` i'm getting the following error :
[code]
**What you expected to happen**:
Connect the VM

[code]
**Environment**:
- KubeVirt version (use `virtctl version`):
[code]

- Kubernetes version (use `kubectl version`):
[code]

[2021-10-14 10:10] alicefr commented on #6507
Reopen it to remind to update the libvirt rpm when the fix is available in centos stream

[2021-10-14 10:33] maiqueb commented on #6585
Just for clarification; the NAD you've referencing above w/ the resource name `macvtap.network.kubevirt.io/eth0` **is** working correctly ?

I'll try to reproduce this ASAP, but, right now, best I can say is we never tried this (this being creating the macvtap on top of a VLAN interface) before, and we do not have a test for it.

I'll keep you posted.

/assign @maiqueb

[2021-10-14 13:51] mjschmidt commented on #6410
You can't use the virtctl client for the test, virtctl client works, but direct ssh and rdp do not

[2021-10-15 00:37] #6432 closed

[2021-10-15 01:13] hellocloudnative commented on #3558
I tried this configuration and got an error as follows:
`The request is invalid: spec.template.spec.domain.devices.inputs[1].type: Input device can have only tablet type.`
@zhlhahaha

[2021-10-15 01:44] zhlhahaha commented on #3558
Have you applied my patch?

[2021-10-15 02:15] hellocloudnative commented on #3558
I modified the relevant code and it can be created normally, but the keyboard still does not respond
`
    devices:
      autoattachGraphicsDevice: true
      inputs:
      - type: tablet
        bus: virtio
        name: tablet1
      - type: keyboard
        bus: virtio
        name: keyboard1
`

[2021-10-15 02:23] zhlhahaha opened #6614 "Enable virtio graph with VNC, and related input device"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Continue the conversation in https://github.com/kubevirt/kubevirt/issues/3558#issuecomment-943928779

[2021-10-15 02:24] zhlhahaha commented on #3558
I open a new issue for this, we can discuss it there.
https://github.com/kubevirt/kubevirt/issues/6614

[2021-10-15 03:06] luoMonkeyKing opened #6615 "Error running manager: no matches for kind "Ingress""
When I tried this [experiment,](https://kubevirt.io/labs/kubernetes/lab2) the cdi-deployment pod reported the following error. Is there any installation prerequisite for this? My k8s environment is installed by kubeadm, not through kind. Does it have anything to do with this?

![image](https://user-images.githubusercontent.com/31637804/137425787-cc1c8cdc-7f62-44ec-ac75-3443d88c1233.png)

**Environ

[2021-10-15 03:13] zhlhahaha commented on #3558
Hi @hellocloudnative
I have update the patch
https://github.com/zhlhahaha/kubevirt/commit/cfead387025912a30e4cbbcf71cad7b18c0e2a8e

Apply the patch and recompile virtctl, then give it a try. It works fine on my arm64 server.

[2021-10-15 03:17] cszixin commented on #6586
@awels yes, you are right, volume mode is block

[2021-10-15 03:17] zhlhahaha commented on #6614
There is an experimental branch for this issue and it works fine. https://github.com/zhlhahaha/kubevirt/tree/virtio-gpu
In order to work with virtio-gpu the following configuration is necessary:
[code]
We can use `virtctl vnc vmi-xxx` to connect to the server.

[2021-10-15 03:29] zhlhahaha commented on #6614
@rmohr Here are few issues that need to discuss here:
1. As VGA device does not support in qemu-kvm in virt-launcher of ARM64, we will set virtio-gpu as default graphic device. How about the default graphic device on x86_64, keeping VGA or changing to virtio-gpu.
2. The input devices, tablets and keyboard, are needed when using vnc connect virtio-gpu graphic device. Shall we setup them by default

[2021-10-15 06:22] larryliuqing commented on #6585
Ok, thanks, I will try it based on the specs, and will share the output here.

[2021-10-15 06:24] zhlhahaha commented on #3558
I do not understand this.

[2021-10-15 06:27] alicefr commented on #6564
@watermelon-brother could you please give us more details. Like the steps you perform and at least the virt-launcher and virt-handler logs

[2021-10-15 06:48] wonleing commented on #4137
how's this feature going on?
Any official setup doc?

[2021-10-15 06:59] hellocloudnative commented on #3558
Is a boot boot boot, before entering the system installation interface, my keyboard is not available.

[2021-10-15 06:59] wonleing opened #6616 "Does kubevirt vm support sound card?"
Ideally, I want to set a soundcard device inside vm creation yaml, and vm can install sound driver with virtio or auto installed.
I search around, there's no official doc about sound card setting.

I found an unmerged commit: https://github.com/kubevirt/kubevirt/commit/e5cd87be4cb39eb38959cbdf9bc4ac0515c19657
It requires compile all images and yaml setup doc.
Anyone can provide an easy way?

[2021-10-15 07:22] alicefr commented on #6564
@watermelon-brother the second disk has definitely a weird size also in the guest `vdb    253:16   0   1M  0 disk`. How did you create the `vm-test-hotplug-disk-two`? Could you please copy how you created the disk?Is it a PVC?

Just to double check, could you also try to hotplug first the second volume? Or directly start the VM with `vm-test-hotplug-disk-two` just to be sure that the issue is the

[2021-10-15 07:37] rmohr commented on #6614
VGA for x86_64 should be the default. It just works always. virtio-gpu for arm sounds great. There we have no compatibility issues since it is anyway our only option.

I would say yes. It may even be that qemu/libvirt automatically adds them if we do not forcefully remove the usb controller (which we do if no usb device or usbredirect is selected). We can just add an exception for arm in the code

[2021-10-15 07:40] alicefr commented on #6564
@watermelon-brother many thanks! I'll try to reproduce it

[2021-10-15 07:59] rmohr commented on #6614
Oh and in general it may make sense to improve the virtctl usability a little. I think it may make sense to add something like a `virtctl config` command which does some basic setup (like asking for preferred vnc viewer, ...). Will create an issue for that.

[2021-10-15 08:08] rmohr opened #6617 "Add a setup procedure to `virtctl` to allow people configuring preferences"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We have a few commands in `virtctl` which are guessing based on well known tools and file locations what people will most likely want to use when they run commands like `virtcl vnc` or `virtcl ssh`.

**What you expected to happen**:

We should add something like a `virtctl config` command which will do auto-detec

[2021-10-15 08:25] watermelon-brother commented on #6564
So,What reason cause it when the attachment pod is recreated? @alicefr

I think that delete old attachment pod will cause the pv unmount(something csi plugin will lose connection, such as iscsi csi plugin)

[2021-10-15 09:17] rmohr commented on #4137
@victortoso is that something where your usbredir feature can be used, to e.g. connect my local headphones to the remote VM?

[2021-10-15 09:18] alicefr commented on #6564
yes, you are right it seems the PV is unmounted. I got this:
[code]

[2021-10-15 09:58] LarsBingBong commented on #5802
We just tried the `spec.domain.devices.useVirtioTransitional` setting on a `Kind: VirtualMachine` - for deploying a Windows Server 2016 std. server. The `kubevirt/virtio-container-disk` is used for providing drivers.
Doing this unfortunately do not seem to work. We get a `....Windows could not apply the disk configuration settings...` ....

Is there something else we can do or are we left with usi

[2021-10-15 10:13] hellocloudnative commented on #3558
It works on x86.

[2021-10-15 12:45] LarsBingBong commented on #5802
Hmmm it helps specifying the correct path in the autounattend.xml file .... Apparently the guest driver container disk (latest) do not have a win2k16 path underneath amd64. So we switched to w10 as the folder ... things started working.
But, I tried downloading the driver disk to peep into it - [this](https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/archive-virtio/virtio-win-0.1.20

[2021-10-15 13:35] newhuangchuan commented on #5999
Hello, can you show me your kubevirt-cr.yaml file? I also encountered the problem that qemu occupies a high CPU after the vmi virtual machine is turned on.

[2021-10-15 14:56] nicolacdnll opened #6620 "Connectivity issues to and from VMs when using masquerade mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hi, I'm experiencing connectivity issues to and from kubevirt VMs when using an interface in `masquerade` mode.
In other words, I can't ssh into the VMs and VMs do not have connectivity to the outside (e.g., `ping 1.1.1.1` fails).

(Although I've seen that there are many open issues regarding connectivity, I've decided to

[2021-10-15 15:13] xpivarc opened #6622 "Take "[test_id:6978] Should detect a failed migration" out of QUARANTINE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Tracker issue

Few notes from observation:
1. In some cases only one node gets killer-pod. In this case, there are 3 nodes that have `virt-handler`. The theory is that a test that is executed before this one is not contained proparly.
2. Killer-pod ends sooner than the migration actually happens. Here I would suggest removing `exit 0` from killer-pod
F

[2021-10-15 20:56] #6442 closed

[2021-10-17 13:31] alonSadan commented on #6410
Thanks @mjschmidt. I was now able to recreate the issue with my own vm:

[code]

The thing is, I tried a few times after I got `no route to host` and eventually it worked out after a minute or two:
[code]

[2021-10-18 02:16] wonleing commented on #4137
I want to  support sound devices in the VM. And we have our own remote desktop solutions (something like ctrix)
We want to play video inside VM, and remote desktop client connected to that VM can hear the sound
I already tried https://github.com/kubevirt/kubevirt/pull/4384 (merge his patch to newest kubevirt code), compile failed. It is a pitty that master didn't merge that fix after such a long t

[2021-10-18 07:31] wonleing commented on #3558
I guess you need add a USB keyboard, instead of a virtio tablet.
It is not yet able to virtio driver on the grub stage.

[2021-10-18 08:01] rmohr commented on #6410
Most of the time it is related to mac address changes on restarts. Many init procedures take the mac address as the device identifier. If it changes, even if the eth name stays the same, they will not treat the eth device as the same again. Setting a mac address on the outside should resolve that, if that is the case. In many cases also a early-boot init script which deletes the mac from config fi

[2021-10-18 08:18] 66545shiwo commented on #5999
@newhuangchuan
firstly ,  use virt-host-validate to ensure that your hosts are capable of running virtualization workloads.
[code]
if the node support it , you can check wether  you enabled software virtualization . It  will  occupy a high CPU with software virtualization .
[code]
Delete this config - "useEmulation: true" .

[2021-10-18 08:21] hellocloudnative commented on #3558
This modification is successful. Thank you very much.
[code]

[2021-10-18 10:08] #6585 closed, assigned to maiqueb

[2021-10-18 11:34] sradco commented on #6545
This issue is related to https://github.com/kubevirt/kubevirt/issues/5383#issuecomment-938580869

[2021-10-18 12:47] nicolacdnll commented on #6620
Quick update: When using interfaces in `bridge` mode, we **just had to wait for a couple of minutes** (for the VM to spin up) and after everything works (pings, ssh, outside connectivity).

However, in `masquerade` mode, things are not working as expected.

[2021-10-18 12:57] mjschmidt commented on #6410
So question about this though, every time you restart the VM isn't it like it is a new vm? So the cloud init is rerunning each time and on pod restart it is like you are creating a totally new VM. In mine I am persisting the storage. So really your test isn't duplicating a functional use case for a VM because it is not simulating the restarting action, but creating a brand new instance?

I tested

[2021-10-18 13:29] rmohr commented on #6410
You can set a static `macAddress` on the interface: http://kubevirt.io/api-reference/v0.46.0/definitions.html#_v1_interface. That may help.

As you already say this is a potential issue on VMs which persist their boot partition. There cloud-init is not re-run.

[2021-10-18 13:39] #6010 closed

[2021-10-19 05:35] yunzck8s opened #6632 "virtctl console Successfully connected to testvm console. The escape sequence is ^]"
[root@k8s-master ~]# kubectl get pod
NAME                         READY   STATUS    RESTARTS   AGE
virt-launcher-testvm-7j2v5   2/2     Running   0          177m
[root@k8s-master ~]# virtctl console testvm
Successfully connected to testvm console. The escape sequence is ^]

When you run to this step,you will get stuck here,and you can't get in when you run virtctl vnc.

ENV
[root@k8s-master ~]# ku

[2021-10-19 08:27] newhuangchuan opened #6637 "Error: failed to start container "container-disk-binary""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
[code]
[code]

**What you expected to happen**:
[code]
[code]
**How to reproduce it (as minimally and precisely as possible)**:
After deploying sriov-cni multus-cni sriov-network-device, create a virtual machine. Add label
[code]
[code]

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl ve

[2021-10-19 08:33] hellocloudnative commented on #3558
Which video Device I can use for an Quemu Arm64 VM for Windows 10 on Arm? if I try the ramfb Device I only see "Press Enter for DVD Boot" but after that no more Setup Screen.
@zhlhahaha

[2021-10-19 12:07] rmohr commented on #6410
kubemacpool does that If kubemacpool is on the cluster, it will use a modifyingwebhook to assign unique mac addresses during the VM creation. So your helm chart would not assign macs, but a cluster where kubemacpool is installed would assign to the VM in the cluster a stable mac.

We can probably add something like this. We ensure for instance also stable machine uids. In this case we generate pre

[2021-10-19 12:49] mjschmidt commented on #6410
Actually I was able to find the mac address in skydive

[2021-10-19 17:26] nicolacdnll opened #6646 "Kubevirt VMs not booting on ESXi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We are running Kubevirt in an ESXi node and the `testvmi-nocloud` defined in [kubevirt VMI user guide](https://kubevirt.io/user-guide/virtual_machines/virtual_machine_instances/) is not booting.

If we use `virtio` disk the VM hangs at boot with `virtctl console`  hanging with the `The escape sequence is ^]` message and

[2021-10-20 02:24] zhlhahaha commented on #3558
I have not used this device before, so I do general research on this. It seems that you can only add this device via `<qemu:commandline>` as the example in the following website https://wiki.archlinux.org/title/Intel_GVT-g#Enable_RAMFB_display_(optional).

In kubevirt, you may try to use a sidecar-hook to modify the domain xml and add the ramfb related xml config.
https://github.com/kubevirt/kubev

[2021-10-20 06:06] hellocloudnative commented on #3558
use a sidecar-hook to modify the domain xml and add the ramfb related xml config.

[2021-10-20 09:21] hellocloudnative commented on #3558
I want to enable Win 10 virtual machine on KUbevirt on ARM.

[2021-10-20 10:47] andreabolognani commented on #3558
I just tried running a CirrOS 0.5.2 aarch64 VM with 128 MiB of RAM and indeed it panics early during boot. I had more luck with 150 MiB, but it was not consistently successful. We've seen VMs becoming unreliable on very low memory in the past, even on x86_64, so I guess considering 256 MiB to be the minimum makes sense.

I haven't tried either, but my guess would be that UEFI is simply more resour

[2021-10-20 11:32] maiqueb commented on #6410
I don't understand what this is exactly, but, I think it's pretty doable to persist whatever MAC gets assigned to the VMI across reboots. Was that it ?

[2021-10-20 11:38] phoracek commented on #6410
Possibly. I was thinking about something even simpler (I think) - VM mutating webhook looks at a VM that is being CREATEd. If it has macAddress set, it does nothing. If it has none, it assigns a random one. That will get it persisted on the API server and thanks to that, the MAC will be used for every VMI. Oh and on UPDATE, we need to look up the previously assigned MAC.

This would be pretty much

[2021-10-21 03:17] hellocloudnative commented on #3558
How to use sidecar-hook?   @zhlhahaha

[2021-10-21 07:51] nicolacdnll commented on #5680
@chenyg0911 did you find a solution? I'm facing a similar issue.

[2021-10-21 08:14] phoracek commented on #5680
@nicolacdnll would you please share on which version of KubeVirt you are now?

[2021-10-21 08:39] chenyg0911 commented on #5680
I've rreinstalled kubevirt v0.34. No solution yet.

[2021-10-21 08:57] nicolacdnll commented on #6620
I've also made sure to test all suggestions from [this other issue](https://github.com/kubevirt/kubevirt/issues/2942), but no progress.

[code]

[2021-10-21 09:10] phoracek commented on #5680
@chenyg0911 to clarify, you have observed this issue on v0.46 too?

[2021-10-21 12:55] mjschmidt commented on #6410
In short, I agree much easier to simply set a default static and consistent MAC address and call it a day should the user not set the mac address themselves.

[2021-10-22 13:14] m0sh1x2 opened #6665 "Is there a way to attach virtual machine storage to a LVM Group?"
Hello,

I am trying to attach the storage of VirtualMachines managed by KubeVirt to a specified LVM group but at the moment I am not very successful.

Please let me know if there might be any good CSI solutions or if there is some other way to use LVM with KubeVirt.

[2021-10-22 18:47] talcoh2x opened #6667 "PCI Device Role Tagging"
Device Role Tagging.
It will be very good to get similar feature as we have for [Network Interfaces](https://kubevirt.io/user-guide/virtual_machines/startup_scripts/#device-role-tagging) for PCIe devices,

As you know on VM we don't have the NUMA ID and the PCI -BUS changeing once it passthrough to VM. so we dont have the mapping of PCI ID between the server  and VM. we need such solution to make

[2021-10-22 18:55] talcoh2x opened #6668 "Kubevirt 0.46 - "status.interface" of SRIOV network is missing"
on Kubevirt 0.46 status.interface  does not appear and show me only "name": sriov
i can tell you that on release version 0.43 and 0.45.1 all is working fine.

**BUG REPORT**:

**What happened**:
status.interface is missing and include only "name"

**What you expected to happen**:
I expect to see status.interface info

**How to reproduce it (as minimally and precisely as possible)**:
install Kubevi

[2021-10-24 12:40] futuretea opened #6669 "Support reboot"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

The current logic for restart is："set termincationGracePeriod and delete the VMI pod to trigger a forced restart"

If we support soft reboot, we can:
1. Support  graceful soft reboot, to allow the VM and filesystem on it to have a chance to shutdown properly.
2. Support reboot button in the Web VNC window.
3. No need to rebuild pod,

[2021-10-25 07:55] newhuangchuan opened #6671 "Windows virtual machine in kubevirt cannot use sriov's network"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I currently deploy the multus-cni, sriov-cni, sriov-network-device-plugin components in the kubernetes cluster, and currently install the virtual machine resources of Linux, the network is a cni network, the other is a sriov network, but I installed Windows After the system is installed, only one network card driver can be installed

[2021-10-25 12:53] th-2021 opened #6675 "no dns entry for VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
New VMs with Debian 10 (buster)/Ubuntu 20.04 don't get a DNS entry (even if hostname and subdomain is set)
**What you expected to happen**:
As with other VMs (SLES/RHEL/Windows) a dns entry
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt v

[2021-10-26 09:36] #6675 closed, assigned to rhrazdil

[2021-10-27 08:31] FrankYang0529 opened #6682 "VM is not rescheduled if it is on a unhealthy node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A VM on an unhealthy node doesn't automatically move to a healthy node.

[code]

**What you expected to happen**:
VM should be moved to a healthy node if the prior Pod is stuck in an unhealthy node.

**How to reproduce it (as minimally and precisely as possible)**:

1. `export KUBEVIRT_NUM_NODES=3`
2. `make cluster-up`
3.

[2021-10-27 11:12] dhiller opened #6684 "Test //pkg/virt-launcher:go_default_test is flaky, fails sometimes at push-kubevirt-main"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Test //pkg/virt-launcher:go_default_test is flaky, fails sometimes at push-kubevirt-main. Example:
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/push-kubevirt-main/1448277641076412416

**What you expected to happen**:
Test shouldn't fail.

**How to reproduce it (as minimally and precisely as possible)**:
I've tri

[2021-10-27 12:16] fanzhangio opened #6685 "VMI stuck in running status while pod is gone"
**BUG REPORT**:

/kind bug

**What happened**:
In practice, we noticed an issue that happened a couple of times that launcher pod was removed from k8s cluster but VMI was still in Running status.

For example:
VMI name *5ba1d5ac-3d7d-40ed-8e13-7067d7a68b3c*

[code]

Looked into the virt-handler, it shows the launcher pod of vmi *5ba1d5ac-3d7d-40ed-8e13-7067d7a68b3c* was completed removed from node

[2021-10-28 08:36] rhrazdil opened #6692 "Check if Istio tests can be run in parallel"
Currently, Istio tests create Sidecar resource, that applies configuration for proxies arcoss all namespaces.
That means, currently, Istio tests can't run in parallel.

[2021-10-29 00:35] #6614 closed, assigned to nobody

[2021-10-29 14:59] #6541 closed, assigned to nobody

[2021-10-29 18:34] #5565 closed

[2021-10-30 08:36] #5638 closed

[2021-10-31 12:36] kobi86 commented on #6578
HI @ShubhamTatvamasi, any update on this?

[2021-11-01 01:02] ShubhamTatvamasi commented on #6578
Got same error:
[code]

[2021-11-01 01:10] ShubhamTatvamasi commented on #6578
So I found that it was my terminal issue. I was using Lens terminal that's why I was getting this error. After switching to iTerm the issue has been resolved. Thanks, @kobi86 for all your help.

[2021-11-01 01:10] #6578 closed

[2021-11-01 08:56] alonSadan commented on #6351
Hi @wangxin311 .
I have modified https://github.com/kubevirt/kubevirt/pull/6529 and tried to mimic the scenario you described as much as I can based  on the info you provided. It doesn't reproduce. would you take a look and see if it follows what you described?

[2021-11-01 09:00] #5774 closed

[2021-11-01 09:40] iholder-redhat commented on #6552
PR is merged. I guess this can be closed?

[2021-11-01 16:13] phoracek commented on #5816
/remove-lifecycle rotten

[2021-11-01 20:07] theunknownport opened #6712 "Virtualmachineinstance cannot start because of virthandler server error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

[code]

**What you expected to happen**:
Virtualmachineinstance should start normally
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Every request to create pvcs, vms, vmis and so on, is done in go via the various golang client tools.
**Environment**:

[2021-11-02 07:00] newhuangchuan commented on #4950
Hello, I'm sorry to disturb you. I am also testing the issue of GPU pass-through. Now I have found the resource pool in my kubernetes cluster, but when I use it to create a virtual machine, he prompts the following error. I don’t know how you operate the GPU?
[code]

My resource pool：
[code]

[2021-11-02 08:28] newhuangchuan commented on #6637
alright, thank you very much

[2021-11-02 10:50] rthallisey commented on #6459
Closing since this is on the gpu plugin

[2021-11-02 10:50] #6459 closed

[2021-11-02 14:57] talcoh2x commented on #5958
after @rmohr added support for guestMappingPassthrough we don't have such problem any more
we can close it

[2021-11-02 15:07] rmohr commented on #5958
nice to hear :)

/close

[2021-11-02 15:07] #5958 closed

[2021-11-02 15:25] mjschmidt commented on #6410
Okay so now that we have a work around, what would you all like @rmohr @phoracek @maiqueb to do about this github issue? Simply close it? Tie it to a different ticket? I want to make sure you all get the closure on this issue you are looking for before I close the github issue. I have my work around and it works fantastic.

[2021-11-02 15:27] rmohr commented on #6410
I think it would be great if we get an out-of-the box improvement for that too, but great to hear that it works for you.

[2021-11-02 15:29] mjschmidt commented on #6410
Unfortunately I am not allowed to submit a pull request due to the nature of my employer agreement, but it could be as simple as adding some troubleshooting documentation?

[2021-11-02 15:31] mjschmidt commented on #6410
I'll write a draft and post it here to help you all out.

[2021-11-02 15:32] rmohr commented on #6410
The user-guide: https://github.com/kubevirt/user-guide/blob/96f940c9cc97354a17199d0d7b615c8c64caf5ca/docs/virtual_machines/interfaces_and_networks.md may be an ice place.

[2021-11-02 18:45] sradco commented on #6486
It seems that the container is "volumecontainerdisk" and there is no "compute".
We should update the recording rule to kube_pod_container_resource_limits{resource='memory', unit='byte', pod=~'virt-launcher-.*'}

[2021-11-03 08:18] newhuangchuan opened #6718 "Please ensure all devices within the iommu_group are bound to their vfio bus driver."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
**What you expected to happen**:
Both pod and vmi are in the running state, and I can enter the virtual machine to view the gpu I mapped into it.
**How to reproduce it (as minimally and precisely as possible)**:
1

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
[code]
- Kuber

[2021-11-03 08:19] newhuangchuan commented on #6718
Related resource pools can be found:
[code]

[2021-11-03 08:57] wonleing opened #6720 "can virt-api be called outside k8s cluster?"
I want to control kubevirt vm force start/stop/restart via virt-api, from machine outside k8s cluster.

I found there's a API    /apis/subresources.kubevirt.io/v1alpha3/namespaces/default/virtualmachines/<vm_name>/restart
but don't know to how to auth and call it. Anyone tried it before?

[2021-11-03 14:17] mazzystr commented on #6720
@rmohr

[2021-11-03 14:17] rmohr commented on #6720
/triage needs-info

[2021-11-03 14:18] mazzystr commented on #6720
/label needs-info

[2021-11-03 14:19] rmohr commented on #6720
@wonleing you can access our endpoints from any location where you can reach the cluster apiserver. So when you have access with `kubectl` to the cluster you can also reach these endpoints. Our `virtctl` uses these endpoints too.

[2021-11-03 14:19] mazzystr commented on #6720
/triage needs-information

[2021-11-03 14:21] mazzystr commented on #6718
@vladikr

/triage needs-information

[2021-11-03 14:22] rmohr commented on #6671
/triage needs-information

[2021-11-03 14:23] rmohr commented on #6671
@ormergi  could you have a look?

[2021-11-03 14:23] rmohr commented on #6671
/sig network

[2021-11-03 14:25] rmohr commented on #6712
Seems like the disk is not well aligned:

[code]

We should probably check if we still have some flows where we are not properly aligning the disks.

[2021-11-03 14:26] rmohr commented on #6712
@jean-edouard could you have a look since you worked in that area recently?

[2021-11-03 14:27] rmohr commented on #6712
/triage accepted

[2021-11-03 14:27] rmohr commented on #6667
/triage accepted

[2021-11-03 14:28] rmohr commented on #6667
/kind enhancement

[2021-11-03 14:34] rmohr commented on #6561
@VirrageS I think there are two things which can help you.

First we allow adding json patches to the KubeVirt CR to introduce any changes to specs and ensure that they don't get stomped on again: https://github.com/kubevirt/kubevirt/pull/3612

Second there is work going on to address exactly this case: https://github.com/kubevirt/kubevirt/pull/6702

[2021-11-03 14:34] jean-edouard commented on #6712
Recent qemu/libvirt versions require disks to be 4k-aligned.
Looking at the logs, it seems that the volume behind `1-18-user-volume-pvc` is not 4k-aligned.
This is probably something that has to be fixed locally.

[2021-11-03 14:36] mazzystr commented on #6561
/triage accepted

[2021-11-03 14:37] mazzystr commented on #6498
/triage accepted

[2021-11-03 14:38] rmohr commented on #6712
I don't think we took care of creating volumes the right size in the past. Can we ensure that we are crating these files with the right size (if the PVC is empty we just create an iso in it), and maybe we also have to fix them if we find them with the wrong size?

[2021-11-03 14:42] mazzystr commented on #6484
There has been quiet a lot of work to stabilize ARM64 builds.

Issue filed on Sept 29.  Are you still seeing this issue?

/triage needs-information

[2021-11-03 14:45] mazzystr commented on #6363
https://github.com/kubevirt/kubevirt/pull/6639

[2021-11-03 15:25] acardace commented on #6561
This issue is also partly addressed by https://github.com/kubevirt/kubevirt/pull/6524.

[2021-11-03 17:16] tiraboschi opened #6727 "The upgrade from v0.46.0 to v0.47.0-rc.0 is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The upgrade from v0.46.0 to v0.47.0-rc.0 is failing with:
[code]

See https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1582/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-upgrade-index-aws/1455922178967998464/artifacts/hco-e2e-upgrad

[2021-11-03 17:52] theunknownport commented on #6712
The pvc `1-18-user-volume-pvc` is automatically provisioned by k8s.io/minikube-hostpath. It creates the following pv:
[code]
[code]
I've checked the size of the `disk.img`, which is located on the pv and should get mounted by the virtual machine, by attaching it to a test pod with a shell available and it uses most of the pvc's size:
[code]
I've also changed the owner of the disk.img file to 107:1

[2021-11-03 18:19] jean-edouard commented on #6712
@theunknownport thank you for the details!
Could you by any chance run that `ls` command again but without the `-h` option? That way we can verify if the size is indeed not divisible by 4096.
This is surprising to me, I wonder how that image got generated...

[2021-11-03 21:42] stu-gott commented on #6552
@davidvossel I can't remember, do we wait for the next release before closing, or when the fix PR is merged on main?

[2021-11-04 02:02] wonleing commented on #6720
Could you give me more detail? The control side doesn't have Kubectl or virtctl installed. Are you suggesting copy kubectl or virtctl binary to control side? And run it with host:port:token parameter? Any doc about it?
Is there any way to call `/apis/subresources.kubevirt.io/v1alpha3/namespaces/default/virtualmachines/<vm_name>/restart` API via standard http request, like python urllib2? And where

[2021-11-04 07:17] rmohr commented on #6720
I think https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/ may be helpful for you. Our API is part of the k8s API after KubeVirt is installed. You can access our endpoints the same way. Also note that rbac permissions need to be given to the user/serviceaccount from which you will use the bearer token.

[2021-11-04 07:45] zhhray opened #6729 "A more recognizable certificate secret type is required"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I found that the secret automatically generated by the kubevirt-operator is `Opaque` type.
[code]
However, in CDI code, the secret automatically generated by the cdi-operator is `kubernetes.io/tls` type.
[code]
We prefer to monitor the health of these cert secret through the same type.

**What you expected to happen**:

Change secre

[2021-11-04 08:07] rmohr commented on #6552
/close

fixed in #6589

[2021-11-04 08:08] #6552 closed

[2021-11-04 10:07] newhuangchuan opened #6731 "server error. command SyncVMI failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
By deploying the virtual machine, the pod has been started, but vmi has not been started, `describe vmi` found the following:
[code]
**What you expected to happen**:
Both pod and vmi are running, and the virtual machine can be started.
**How to reproduce it (as minimally and precisely as possible)**:

The nfs used in the back-end us

[2021-11-04 10:23] #6123 closed

[2021-11-04 10:50] phoracek opened #6732 "Support IPv6 single-stack"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

#6322

**What happened**:

KubeVirt is currently tested with IPv4+IPv6 dual-stack where IPv4 is used as the primary addressing for the control plane.

Some cluster may be built with IPv6 addressing only. This use-case should be considered and supported by KubeVirt.

**What you expected to happen**:

* KubeVirt CI should cover IPv6 s

[2021-11-04 11:11] maiqueb opened #6733 "Support nic hotplug / hot-unplug"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement
#6322

**What happened**:
Hot-plug / hot-unplug (add / remove) nics to running VMs is an industry standard available in multiple platforms, allowing the dynamic attachment of L2 networks. This is useful when the workload (VM) cannot tolerate a restart when attaching / removing networks, of for scenarios where, for instance, the worklo

[2021-11-04 11:50] ormergi commented on #6671
@newhuangchuan maybe you need to select other device on the device-manager, and install the driver to it
check this out: https://kubevirt.io/user-guide/virtual_machines/windows_virtio_drivers/

You can also try to configure the SRIOV interface with e1000 model until you figure out how to install virtio drivers
[code]

[2021-11-04 11:57] newhuangchuan commented on #6671
Okay, let me give it a try, because the other drivers are done by the container with virtio mounted. However, only the sriov network card cannot add related drivers, and the Linux operating system can directly recognize and use it.

[2021-11-04 12:40] ormergi commented on #6671
AFAIK you should mount virtio container-disk as CDROM and install virtio driver manually from there.
It probably works for you using Linux because it includes virtio drivers.
Note that once you have virtio drivers install you can also use it for disks instead of `sata`.

[2021-11-04 14:59] rmohr commented on #6731
@newhuangchuan I think the error is a little bit misleading, but it looks like the pod the VM is running in does not seem to have write permission: `chown /var/run/kubevirt-private/vmi-disks/harddrive/disk.img: operation not permitted`.

[2021-11-04 16:18] maiqueb commented on #5984
https://github.com/kubevirt/kubevirt/issues/5984#issuecomment-875658443

[2021-11-04 16:18] #5984 closed

[2021-11-04 17:19] theunknownport commented on #6712
@jean-edouard sure. Here's the command in non-human readable form or without the `-h`:
[code]

[2021-11-04 17:28] jean-edouard commented on #6712
Aha! Yeah that disk is not compatible with qemu 5.2.0 and higher (https://github.com/qemu/qemu/commit/9c60a5d1978e6dcf85c0e01b50e6f7f54ca09104)
Something needs to be adjusted to use factors of 1024 instead of 1000 for disk creation.

[2021-11-04 22:44] DMajrekar commented on #6727
I can confirm this is happening with our upgrade as well, slightly different error lines

[code]

[2021-11-05 01:39] newhuangchuan commented on #6731
Hello, in this case, do I need to add an initContainers to the yaml that creates the virtual machine? Write it like this:
[code]

[2021-11-05 02:03] wonleing commented on #6720
Thank you. That doc really helps. I can contol remote vm with curl request now.
But I still have a question. Is it possible to make virtctl binary support remote usage? I want to do some hack to support something like this:
./virtctl --host=x.x.x.x restart <vm_name>

I did some host address modify (hardcode as https://10.10.82.51:6443 for now) and re-compile the binary, I input correct username/pa

[2021-11-05 02:10] newhuangchuan commented on #6731
[code]

[2021-11-05 07:24] newhuangchuan commented on #6671
If the current driver of my network card is vfio-pci, is it true that the value of my `model` should be `vfio-pci`.

[2021-11-05 07:52] newhuangchuan commented on #6731
Hello, I checked the directory of my failed virtual machine pod and found that his user and user group are incorrect, but it seems that the manual modification cannot be successful.
[code]

Do you have any other suggestions or methods?

[2021-11-05 07:58] xpivarc commented on #6731
Hi @newhuangchuan
Are you running `NonRootExperimental` feature? Also, can you check Selinxu|Apparmor just in case?

[2021-11-05 07:58] rmohr commented on #6731
@newhuangchuan if you have a writable PVC, you will have to ensure that the underlying storage provider provides them writable to the Pod/VM. Seems like the underlying storage does not provide the storage in a correct form.

[2021-11-05 08:03] yuchen-sun commented on #6620
@rmohr Is there any update on this issue

[2021-11-05 08:07] rmohr commented on #6620
I can't dig into that right now. @maiqueb, @qinqon any idea?

[2021-11-05 09:07] rmohr commented on #6720
@wonleing you can look at the global options of `virtctl` with `virtctl options` (the same like for `kubectl`). Here the relevant parameters for you:

[code]

[2021-11-05 09:17] wonleing commented on #6720
That works. Thank you

[2021-11-05 09:17] #6720 closed

[2021-11-05 10:05] nicolacdnll commented on #6620
If there is anything else we can try out, let me know.

[2021-11-05 12:39] phoracek commented on #5680
I understood the trouble. You just should be aware that `ipAddrs` will likely not work with live-migration. You may want to keep the live migration feature gate disabled on your cluster: https://kubevirt.io/user-guide/operations/activating_feature_gates/#how-to-activate-a-feature-gate

[2021-11-05 14:12] timbuchwaldt opened #6740 "dataVolumeTemplates importer permissions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running in a cluster with restricted rights the dataVolumeTemplates feature fails due to runAsNonRoot: ` Error: container has runAsNonRoot and image will run as root`. It would be helpful if there would be the possibility to e.g. inject security setting, specify a role to be created or the likes so the CDI can run in

[2021-11-06 06:16] newhuangchuan commented on #6731
I looked for the reason, the directory `/var/run/kubevirt-private/vmi-disks` in the normal virtual machine, his user and user group are `qemu:qemu`, but the nfs I used is ` 1001: 1000`, maybe this is the reason.
At present, my nfs uses Truenas storage method, his permissions seem to be unable to achieve the `no_root_squash` in nfs, so I uninstalled this shared storage, and then created a nfs stora

[2021-11-06 06:18] newhuangchuan commented on #6731
Thank you very much for your help. My firewall and `selinux` are both disabled. May I ask, what is the function of this `NonRootExperimental`? Is he also written in `kubevirt-cr.yaml`?

[2021-11-06 06:18] newhuangchuan commented on #6731
Thank you very much for your help. My firewall and `selinux` are both disabled. May I ask, what is the function of this `NonRootExperimental`? Is he also written in `kubevirt-cr.yaml`?

[2021-11-06 06:34] newhuangchuan commented on #6731
@rmohr
Sorry, I have a problem here, that is, in my kubevirt cluster, the shared storage of nfs used by my back-end storage is mounted in all stages of me, then my virtual machine on node1 If you want to migrate to node2 or node3 in real time, it will still copy the memory pages and disk blocks, because it is already shared storage. My idea is that there will be no copying process, but my migratio

[2021-11-06 16:50] #5632 closed

[2021-11-07 15:51] ormergi commented on #6668
@talcoh2x I am not sure why it doesnt appear on the system you work with, could you please try with `kubectl get vmi <name> -o yaml`?

[2021-11-07 21:06] theunknownport commented on #6712
Any idea how i can automatically solve this issue? I would just mount the pvc, and then resize the `disk.img` to the next bigger factor of 1024.

[2021-11-08 01:53] newhuangchuan opened #6747 "The live migration of the virtual machine failed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The live migration of the virtual machine failed.
[code]
**What you expected to happen**:
The virtual machine was migrated from one host to another, and running was successful.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]
With only these two steps, the back-end storage of my kubernetes cluster use

[2021-11-08 01:56] newhuangchuan commented on #6747
[code]

[2021-11-08 01:57] newhuangchuan commented on #6747
[code]

[2021-11-08 02:46] Icedroid opened #6748 "k8s node.spec.Capacity deivces auto change to zero, can't create vm anymore."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubevirt running normally  but k8s node.spec.Capacity deivces.kubevirt.io/kvm, deivces.kubevirt.io/tun, deivces.kubevirt.io/vhost-net  will auto change to zero. I must to kill virt-handler pod to make it have value.
![F832AF7A6E4063FBBF07C023DD50C1EF](https://user-images.githubusercontent.com/674647/140675051-27ae1151-76cc-40fa-8668

[2021-11-08 08:02] rmohr commented on #6712
I think the easiest solution may be to request `7Gi` instead of `7G`. Gibibyte are divisable by 1024, this will probably work. But we also have to fix some code to make it work properly with `G` again.

[2021-11-08 08:11] rmohr commented on #6731
@newhuangchuan if you mount the storage on the node yourself, then it looks for kubevirt like local storage. Is that what you do? You will have to mount your NFS share via a PV/PVC, then we detect it correctly as shared storage and do not copy anything.

[2021-11-08 08:13] rmohr commented on #6731
I think I don't fully understand the context. Memory always has to be copied always.

[2021-11-08 09:40] wonleing commented on #6731
newhuangchuan wanted to say: He is using a shared storage (longhorn), Is it really necessary to copy the VM image during VM migration (from one node to another)? Why it complain 'block node is read only'? And how to resolve it?

[2021-11-08 09:50] rmohr commented on #6731
I am not entirely sure, but it looks like Longhorn would potentially need extra handling in kubevirt. Looping in some storage people: @mhenriks @awels

[2021-11-08 09:55] newhuangchuan commented on #6731
NFS also has this error.
How to detect that it is shared storage?

[2021-11-08 12:58] theunknownport commented on #6712
Okey, thx for the tip.

[2021-11-08 17:23] rthallisey opened #6756 "Expose resource control to provide QoS for performance sensitive workloads"
/kind enhancement

## Summary
Dividing physical CPUs into vCPUs is one solution system admins use in large cloud environments to maximize cpu usage and limit cpu idle time.    Breaking CPUs into smaller units means workloads are sharing physical resources.

When bringing performance sensitive or high priority VMs to the cloud, they can be negatively affected by the shared CPU resources. A few year

[2021-11-08 17:33] rthallisey commented on #6756
@jeniferh @rmohr

[2021-11-09 11:46] tiraboschi opened #6763 "The upgrade from v0.46.0 to v0.47.0 is failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The upgrade from v0.46.0 to v0.47.0 is failing with:
[code]

See https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1582/pull-ci-kubevirt-hyperconverged-cluster-operator-main-hco-e2e-upgrade-prev-index-aws/1458014523230261248/artifacts/hco-e2e-upgrad

[2021-11-09 11:51] tulanian opened #6764 "Initial job after installing kubevirt-cr not adhering to nodePlacement rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have added nodePlacement rules to the kubevirt-cr.yaml  for both infra and workloads, but after applying it the first batch job that runs is scheduled on an incorrect node. This causes it to hang, so everything else that's meant to run after this job completes is stuck. If I taint the incorrect node then the install pro

[2021-11-09 12:57] dhiller commented on #5611
/remove-lifecycle stale

[2021-11-09 13:40] xpivarc opened #6768 "Some tests can be flaky because of pre-start expansion of image"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug (test only)

**What happened**:
Tests are failing with:
`Unexpected Warning event received: testvmi-n4d8d,75d39470-b700-4a83-89e9-cff1b9b2cfce: unknown error encountered sending command SyncVMI: rpc error: code = DeadlineExceeded desc = context deadline exceeded`

**What you expected to happen**:
Test to pass.

**How to reproduce it (as minim

[2021-11-09 14:19] dhiller commented on #6763
@rmohr @davidvossel maybe you can help here?

[2021-11-09 20:35] zcahana commented on #6763
The important bit from the logs is actually this:
[code]

So, the virt-operator attempts to **create** the VMI CRD instead of patching it, which leads to this conflict error ([here](https://github.com/kubevirt/kubevirt/blob/a7cddcc4fb5b332429978204984b1aab8ffbb720/pkg/virt-operator/resource/apply/crds.go#L76)). No clue yet why this happens, any chance the `CrdCache` hasn't synced yet while this fu

[2021-11-10 01:46] newhuangchuan commented on #6731
NFS also has this error.
How to detect that it is shared storage?

[2021-11-10 06:51] newhuangchuan opened #6770 "About the virtual machine hot plug problem"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Hello, I am hot-plugging the disk into the virtual machine, whether it is Windows or Linux operating system, when the hot-plugged disk is recognized, it can be recognized as an unformatted empty disk.
But after I format this disk, I cannot perform `removevolume` operation on the disk.
[code]
**What you expected to happen**:
My under

[2021-11-10 08:08] rmohr commented on #6731
Can we untangle the two problems? Seems like you report two issues

1. `block node is read only` do you see this on NFS and longhorn?
2. you wrote `it will still copy the [...] disk blocks`. What do you mean by that? How do you see that it copies the PVC?

[2021-11-10 08:14] alicefr commented on #6770
@newhuangchuan the formatting shouldn't have any effect on the hotplug and unplug. Could you please provide is the sequence of the commands you are trying? Where does the formatting take place?

Are you able to add and remove the volume as it is? Just by performing:
[code]
Could you please also provide the `virtctl version` output?

FYI @awels

[2021-11-10 08:14] alonSadan commented on #6351
Hello @wangxin311 we gave another look on the scenario you described and the tests seem to match it. Your bug won't reproduce. Do you have any more information to add, or do you think the [test](https://github.com/kubevirt/kubevirt/pull/6529) does not cover your scenario?
If not maybe we can close this issue.

[2021-11-10 08:17] newhuangchuan commented on #6731
The migration is currently carried out in nfs, and the prompts are as follows:
[code]
About `it will still copy the [...] disk blocks` ，I think so：
It should be displayed only when the disk block is copied. Maybe my idea is wrong, so let's see how you implemented it.

[2021-11-10 08:19] alicefr commented on #6740
@timbuchwaldt could you please open the same issue under [CDI](https://github.com/kubevirt/containerized-data-importer) ?

[2021-11-10 08:24] rmohr commented on #6731
Ok, I think what may not be obvious is that you also defined a disk which is not on shared storage:

[code]

kubevirt automatically creates an overlay file and will copy it if something gets modified. So I think this may be related to the cdrom drive which is read-only by default. This is probably related to https://github.com/kubevirt/kubevirt/pull/5020. However that fix should be in 0.41 already

[2021-11-10 08:28] newhuangchuan commented on #6770
In the current environment:
[code]

- Kubevirt version
[code]

My disk was formatted in a virtual machine, including using `diskmgmt.msc` in Windows and `fdisk /dev/sda` in Linux system.

[2021-11-10 09:11] newhuangchuan commented on #6731
Thank you very much, this method is very useful and has been successfully migrated
I tested it while looking at the official document（https://kubevirt.io/user-guide/）, but the document does not seem to mention anything like this. For now, is there any relevant and complete document for reference?

[2021-11-10 09:14] rmohr commented on #6731
@newhuangchuan no, there is no documentation reference. Especially since you should not have experienced that issue in `0.41.2`. I wonder why you still see it. @vladikr would be great if you can have a look.

[2021-11-10 09:21] newhuangchuan commented on #6731
Okay, thank you very much for your help.

[2021-11-10 10:35] ormergi opened #6771 "SRIOV lane periodic flakes: VMI failed to start due to missing permissions on /dev/vfio/vfio device"
**What happened**:
The k8s-1.19 SRIOV lane failed on periodic jobs

Periodic jobs:
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.19-sriov/1453481832623378432
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.19-sriov/1456199571733483520
SearchCI
https://search.ci.kubevirt.io/?search=%2Fdev%2Fvfio%2Fvfio%3A+Permission+denied&maxA

[2021-11-10 12:37] zcahana commented on #6763
Here's what's happening: a recent PR (#6565) has changed the `app.kubernetes.io/managed-by` label value from `kubevirt-operator` to `virt-opertor`. This label is used as a label selector for most of the informers used by virt-operator, e.g. [here](https://github.com/kubevirt/kubevirt/blob/a7cddcc4fb5b332429978204984b1aab8ffbb720/pkg/controller/virtinformers.go#L690). Following the upgrade, this ca

[2021-11-10 12:37] zcahana commented on #6763
/cc @Barakmor1

[2021-11-10 12:39] rmohr commented on #6763
@zcahana thanks for checking. Let's revert the PR and do a quick patch-level release.

[2021-11-10 12:40] rmohr commented on #6763
In a follow-up we should check why the upgrade for 0.46 to the devel release passed in the operator tests.

[2021-11-10 12:40] zcahana commented on #6763
On it.

[2021-11-10 12:40] rmohr commented on #6763
Awesome. Thanks.

[2021-11-10 15:08] alicefr commented on #6770
@newhuangchuan can you try with a fresh VM without formatting the disk? From the example, it seems to me that you already added that volume. It is just to ensure that it is just the unplug and exclude the formatting

[2021-11-10 16:14] ormergi opened #6776 "SRIOV lane flakes: The guest VM kernel/driver hangs to configure the SRIOV device network interface"
## Update
 the root cause for this issue is a bug in sriov-cni which we use to attach SR-IOV VFs to VMs in tests,
more details at https://github.com/k8snetworkplumbingwg/sriov-cni/issues/219.

---

**What happened:**
Various SR-IOV  tests randomly fails because the guest SR-IOV network interface gets unexpected MAC address
which causing cloud-init to fail leaving the VM SR-IOV  interface not confi