[2018-07-03 13:03] #718 closed

[2018-07-03 13:06] fabiand commented on #1196
Bottom line. There is not much we can do right now. It's a bug in kubernetes.

We could decouple DP from handler, but the issue will not be resolved.

[2018-07-03 13:16] fabiand opened #1265 "Add support for k8s-1.11.0 in CI"
Our CI should run KubeVirt on Kubernetes 1.11.0

[2018-07-03 13:42] fabiand commented on #1222
I wonder if we really need identifiers which are longer than 63 characters.

My take would be:

- Identifier is a label and less than 64 chars.
- Descriptive title is an annotation and can be longer than 64 chars

The side effect is that the identifier can be used for selecting VMs, The descriptive title is only for display purpose.

[2018-07-03 13:43] fabiand commented on #1229
Btw I created https://github.com/kubevirt/kubevirt/issues/1247 to track further work.

[2018-07-03 13:49] fabiand commented on #744
Yes, I think so ...

It would be convenient if we could select a pod in kubernetes using the selector, then we don't need #818

[2018-07-03 14:07] fabiand commented on #1201
I imagine that it will be about piggy backing readiness* and livenessProbe of the launcher pod.
Just like resources, this is something we would copy from the VM spec to the pod spec.

Just not the exec method.

[2018-07-03 14:43] fabiand commented on #1196
@stu-gott how does #1266 relate to this.

Also "renaud [16:41]
@fabiand I believe 1.9.5, 1.9.6, 1.10.0 1.10.1, 1.10.2 are the only releases affected by this bug."

[2018-07-03 15:10] fabiand commented on #834
We'll be dropping the patch .

I think web console now has the capability to call a custom command (because there is now a dedicated vm page with a console).

Thus now they can call what the hack does.

[2018-07-03 15:20] #1229 closed

[2018-07-03 17:38] booxter commented on #1080
I read the latest comments as a suggestion to document internal annotations too. OK I will post a PR.

[2018-07-03 18:42] #1069 closed

[2018-07-03 20:29] booxter commented on #1251
Reopened since we don't persist MAC right now when rebooting unless it's explicitly specified in the spec.

[2018-07-04 07:23] #834 closed

[2018-07-04 07:53] yuvalif commented on #996
if we add too many verbs it will clutter "help" and autocompletion.

how about the following:
virctl vnc
virtctl spice
virtctl console
virtctl ssh
virtctl rdp

virtctl guest winrm
virtctl guest scp
virtctl guest http
virtctl guest https
virtctl guest vnc
virtctl guest spice

another option, would be to scope out the "guest xxx" options from this enhancement. maybe add them later if there is need?

[2018-07-04 08:03] michalskrivanek commented on #996
We should clearly separate out-of-band from guest protocols. SSH and RDP are still in-guest protocols, no matter how prominent they could be, and we should not mix them up with those which are independent on guest

[2018-07-04 08:20] rmohr commented on #996
That should really be the least of our problems. Did you ever run `kubectl --help`? It has a lot and it is still very informative. We can follow the same patterns and it kubectl also supports autocomplete. I never found it confusing.

[2018-07-04 08:23] rmohr commented on #996
We can have list them as separate types in the help page. E.g. like `kubectl` does:

[code]

I really can't understand the issue. Also `kubectl` has commands like `proxy` or `port-forward` on the same command level although they are for completely separate things. Also there `port-forward` depends on the pod content and it is still not behind `kubectl pod port-forward` or something.

[2018-07-04 08:30] michalskrivanek commented on #996
IIUC it doesn't depend on the actual POD content - or does it? The fact that you forward a port is something you set up in infra and let app talk to a port. Whether there is any useful service running on that port inside the container is irrelevant. With guest rdp/ssh you presume that it's running and ready. That's why I wouldn't mix it up with things which do not depend on whether anything is run

[2018-07-04 10:17] rmohr commented on #1242
Ok, I constructed requests for both, first for pod exec:

[code]

Response:

[code]

Then for our subresource:

[code]

Response:

[code]

So works in both cases.

In case I supply a wrong encoded key in the protocol header I get in both cases:

[code]

[2018-07-04 10:45] rmohr commented on #1242
@mareklibra your initial thought that it was the origin check was right.

[2018-07-04 10:52] yanirq commented on #1222
So going back to the discussion above , we might want to use the vm UID as an identifier (instead of its name)

[2018-07-04 10:55] rmohr commented on #1222
@yanirq yes I agree, let's go with uid folders.

[2018-07-04 12:16] #1211 closed

[2018-07-04 12:47] cynepco3hahue commented on #975
@rmohr I check k8s-1.10.4 and I do not see any taints on the master node, so I think the single thing that we need to set on the daemon set is label selector `node-role.kubernetes.io/master`.

[2018-07-04 12:54] rmohr commented on #975
@cynepco3hahue make sure that you just don't see them because we remove them: https://github.com/kubevirt/kubevirtci/blob/master/k8s/scripts/node01.sh#L8

[2018-07-04 13:35] cynepco3hahue commented on #975
@rmohr Oh I see thanks for pointing me

[2018-07-04 14:02] SchSeba opened #1273 "virtctl export not allow string for target-port"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Cant create a target-port with a string value with the virtctl expose command

[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
just run the command

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernet

[2018-07-04 15:46] #1256 closed

[2018-07-04 16:24] ansiwen opened #1276 "Device plugin for /dev/net/tun not necessary"
/kind enhancement

The device manager of virt-handler creates a device plugin for both `/dev/kvm` and `/dev/net/tun`. However, the latter is not required. The `NET_ADMIN` capability is sufficient. As opposed to `/dev/kvm`, unprivileged containers can either create the device by themselves with
[code]

or they can be created with a hostPath volume within the pod specification, like for example this

[2018-07-04 16:31] yuvalif commented on #744
not sure that kubectl will cover all needed functionality in "virtctl expose", there is different handling there to the selectors of VMs, VMIs, VM replica sets

[2018-07-04 17:32] SchSeba commented on #1001
Note to developer:

The command virtctl console is inside the pkg/virtcl/console
To make the console to wait until we get interrupt or time out we need to check the error coming back from the function in line 97
[code]

If the error is "Unable to connect to VM because phase is Scheduling instead of Running" wait for a few second and retry.

We also need to add a signal interrupt just like in line

[2018-07-05 06:14] rmohr opened #1278 "Introduce a mutating webhook to set defaults and presets at creation/update time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Right now we have an extra controller which sets presets and defaults. This means that invalid specs can be persisted in the cluster because they are not necessarily complete on creation or update.

**What you expected to happen**:

Remove the preset controller and do presetting and defaulting on creation or upda

[2018-07-05 06:50] yuvalif commented on #1063
generated files should be excluded from coverage report: https://stackoverflow.com/questions/50065448/how-to-ignore-generated-files-from-go-test-coverage

this will be a low hanging fruit for increasing coverage in significant numbers (thanks @SchSeba for the idea!)

[2018-07-05 07:02] rmohr commented on #1063
@yuvalif I fear that most are already excluded. The only ones included are the defaulter and deepcopy files. They are tested with some fuzzing and have almost 100% coverage (another question is if it is really necessary since k8s would probably detect immediately if their generators are broken but it was just easy to do).

[2018-07-05 07:02] rmohr commented on #1063
@yuvalif FYI: https://github.com/kubevirt/kubevirt/blob/master/hack/goveralls.sh

[2018-07-05 07:25] bej-syan opened #1279 "kubevirt v0.7.0-alpha.2 doesn't work with k8s 1.11"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

When my cluster is up and running, I applied the following two commands.
    # export VERSION=v0.7.0-alpha.2
    # kubectl create     -f https://github.com/kubevirt/kubevirt/releases/download/$VERSION/kubevirt.yaml

**What happened**:
Got one error:
error: error validating "https://github.com/kubevirt/kubevirt/releases/download/v0.7.0-alpha

[2018-07-05 07:54] cynepco3hahue commented on #975
To summarize:
- change type from `Deployment` to `DaemonSet`
- add label selector to `DaemonSet` spec
[code]
- add toleration to pod spec
[code]

Above  true for both k8s and OpenShift.
After the change you will see `virt-controller` pod only on master node.

[2018-07-05 08:53] SchSeba commented on #1087
Developer Info:

For this issue we need to work and a couple of different files.
1. Add version to the build-manifests script
    - Add ``` source hack/version.sh ``` to the ``` build-manifests.sh ``` file inside hack folder
    - Run the kubevirt::version::get_version_vars function and add the KUBEVIRT_GIT_VERSION variable to the manifest-templator in line 43 and 50 with a new parameter ```--git-

[2018-07-05 10:08] fabiand opened #1282 "Custom MAC address functional test case fails on OpenShift"
From https://rfenkhuber.fedorapeople.org/jenkins/143/openshift-3.10-release-console.log

[code]

[2018-07-05 11:01] yanirq commented on #1222
@rmohr @fabiand
Will it be safe to say that we will not need the "Created by" annotation `kubevirt.io/created-by` any more  (which value hold the vm uid)  and use the domain label `kubevirt.io/domain`  against the vmi.UID (instead of vmi.Name) ?

[2018-07-05 15:36] slintes commented on #1279
Hi, the missing field "storedVersions" is new in Kubernetes 1.11, which we don't support yet. I will check our plans regarding this and report back. In the meanwhile you might want to run kubevirt on a 1.10 Kubernetes cluster. Thanks for reporting!

[2018-07-05 17:09] booxter commented on #1080
@fabiand @davidvossel there is an argument in PR that this information should be captured in the code and then it will be easier to maintain its relevance. What do we want to do here - having a dev doc or inline comments?

[2018-07-05 17:28] booxter commented on #989
For the record, latest kubevirt API supports specifying model for network interfaces: https://kubevirt.io/api-reference/master/definitions.html#_v1_interface (Note the model is on interfaces: level not bridge: level.)

@ansiwen Apart from model, is there anything else that is missing for your use case?

[2018-07-05 19:01] #1242 closed

[2018-07-05 21:17] fabiand commented on #1251
Here we probaly want something like an intitializer like we have for the firmware uuid, which takes the mac from a random set, a "defined pool", or maybe derives it from something. but in all cases, persists it in the spec.

[2018-07-05 21:40] stu-gott commented on #1201
Note to Developer:

If you start a VirtualMachineInstance and inspect the pod's manifest, each container will have a readienssProbe that looks something like this:

[code]

The idea behind this issue is that a user should be able to define their own notion of a readiness probe (presumably a service running inside a VirtualMachineInstance) that can be used by Kubernetes to determine the health of a

[2018-07-06 06:20] rmohr commented on #991
/assign

[2018-07-06 06:21] rmohr commented on #991
@mfranczy taking this issues over since as far as I know you don't have time right now to work on kubevirt.

[2018-07-06 07:10] yuvalif commented on #1063
@rmohr the zz_generated... files are still pretty low, probably better to exclude them.

@stu-gott I have written a post on general guidelines http://kubevirt.io/2018/Unit-Test-Howto.html on unit testing in our project.
will try to identify and list areas of focus and will add here.

[2018-07-06 07:53] yuvalif commented on #1063
looked at files that were recently modified as part of bug fixes, and has low coverage (=indication that adding coverage will find bugs):
- pkg/virt-api/rest/subresource.go
- pkg/virt-handler/device-manager/generic_device.go
- pkg/virt-handler/device-manager/device_controller.go
- pkg/virt-launcher/virtwrap/cli/libvirt.go

another files that probably be on the list:
- pkg/virt-api/api.go

if you f

[2018-07-06 07:59] yuvalif commented on #996
ok. trying to converge on the requirements. will add the following CLI verbs:
MUST:
[code]
SHOULD (may split to a different issue):
[code]
these will be spread under two different documentation sections:
- host supported: vnc, spice, console
- requires guest support: ssh, rdp, winrm, scp, http, https, guest-vnc, guest-spice

[2018-07-06 08:15] rmohr commented on #991
@mlsorensen your observation is interesting. I would have guessed that it is the task of the storage provisioner to provide the required space and that the storage provisioner takes something like admin overhead into account but apparently that is not the case for `ext4`. Using `statfs` as you suggested seems then to be the way to go.

If we take sparse qcow2 files we will also have to take the me

[2018-07-06 08:31] rmohr commented on #996
What are these for? I would prefer having a `port-forward` command instead if that is for forwarding ports.

[2018-07-06 10:30] slintes commented on #912
things to do for implementing this:

- read and understand how kubectl plugins work: https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/
- check which subcommands / arguments / flags are supported by `virtctl`, see https://github.com/kubevirt/kubevirt/blob/master/pkg/virtctl/root.go#L21
- create a plugin manually, by
    - creating the `plugin.yaml` file
    - put it alongside with th

[2018-07-06 11:48] slintes commented on #894
Note to developer:

While the initial reason for this issue is "only" about a sending a wrong kubernetes event, the story is a bit more complex, and we want to improve the whole story.

The story is:

- at the moment we are sending a "VirtualMachineInstance defined" event from `virt-handler` right after sending a `sync` command to  `virt-launcher`, see https://github.com/kubevirt/kubevirt/blob/73e

[2018-07-06 12:13] stu-gott commented on #1063
@yuvalif that sounds like a plan. thanks!

[2018-07-06 12:35] stu-gott commented on #1230
@michalskrivanek If I understand what you're saying, you're opting for "option number 2" from @fabiand's original proposition: "don't take machine type out of the KubeVirt API, but limit it to a single value"

What @fabiand is saying is that *for now* there's no possibility to specify anything besides q35, so why ask the user that question? It just adds complexity (and no known downstream project

[2018-07-06 16:56] booxter commented on #1085
OK I am not convinced there is anything we can do better here that would not end up with a more complex code in validator webhook. I consider explicit checks against a list in code and documenting possible values in api reference with regular text (not generated from a possible values mapping) is good enough for our needs.

I am closing the issue without a code resolution. I hope everyone is ok wi

[2018-07-06 16:56] #1085 closed

[2018-07-06 17:45] mlsorensen commented on #991
I ran into it because I had done an initial, simple implementation as proof of concept with raw sparse, primarily so I didn't have to think at all about the qcow2 metadata overhead and didn't have to wait forever for it to provision. Using the statfs worked for both XFS based PVs (to get the full space) and EXT4 based (to account for the admin reserve).

The qcow2 may be better in the long run for

[2018-07-06 20:59] booxter commented on #1282
This is not a *sometimes* issue. I can consistently reproduce it on OpenShift. I believe it's because of how its SDN is configured. Here is the OVS flow rule that is configured to steer ARP traffic from pods:

[code]

See that it assumes a specific arp_sha (hardware address). I believe the flow is the culprit, though I need some more time to dig it.

[2018-07-07 02:07] jeffvance opened #1284 "add unit and functional test to the cloner controller"
This important piece was intentionally omitted due to schedule pressure but needs to be done as the next pr for the cloner. However, there is a dependency on a unit test/make pr which has not yet been started -- see @copejon
@zvikorn @screeley44

[2018-07-07 02:08] jeffvance commented on #1284
Scott, do you have time to work with Tzvi on this issue?

[2018-07-07 06:06] rmohr commented on #1284
@jeffvance can it be that this issue belongs to https://github.com/kubevirt/containerized-data-importer?

[2018-07-07 06:28] rmohr commented on #991
@mlsorensen great summary. I think we can use `raw` sparse files. Might be better for this use-case right now. I referenced `qcow2` more out of habit.

[2018-07-07 14:38] aglitke commented on #991
qcow2 should not be used since right now we are requiring disk.img files to be raw.

[2018-07-08 02:09] jeffvance commented on #1284
Yes it does. Moved it. Sorry.

[2018-07-08 02:09] #1284 closed

[2018-07-08 09:54] yanirq commented on #1144
Note to Developer:

Writing functional tests is an important aspect of the ongoing development.
All tests can be run local without the need of CI. Have a look at the [testing section](https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md#testing).

Functional tests are located under `tests` folder in the main src directory.

To grasp the general idea about affinity and anti-affi

[2018-07-08 09:57] nertpinx commented on #1201
@stu-gott How about separating VM and Pod probes? Pod probes are taken care of by k8s, but VM probes could be taken care of  by KubeVirt since it handles VMIs. Yes, polling would need to be added in virt-handler, but KubeVirt could use both liveliness probe (e.g. see whether qemu process exists) and readiness probe (e.g. see whether qemu is responding). Disclaimer: these are simplest examples I co

[2018-07-08 15:13] yuvalif commented on #1063
- **pkg/virt-api/rest/subresource.go**
subresource_test.go already exists, however, the actual logic is not tested. to test it, the calls from the test code should be calling into the request handler (ideally via the public APIs). most of the work there would be around mocking of websocker, upgrader and io.
 - **pkg/virt-api/api.go**
api_test.go already exists, covering mainly certification code .

[2018-07-09 20:58] booxter commented on #1282
The reason why it happens on OpenShift is because its SDN configures specific rules to forbid traffic that carries a MAC address that was not configured for the pod. The code is here: https://github.com/openshift/origin/blob/cd9faeeb75810a8141a08e5a5e1d288964641227/pkg/network/node/ovscontroller.go#L241

Since we pass frames from vnet0 directly to eth0 (through br1) without overriding hwaddr, OVS

[2018-07-10 11:15] fabiand opened #1289 "Baseline performance configuration"
KubeVirt is currently not tuned for performance.
The assumption is that we don' expose enough tunables to configure a VM ffor performance, thus the countermeasure is to expose the required fields to make a VM to perform.

A strategy to identify the important tunables is to launch an oVirt  High-Performance VM and dump the domxml, to then identify the relevant fields.

In general we also want to st

[2018-07-10 11:17] fabiand commented on #1289
/cc @nertpinx @michalskrivanek

[2018-07-10 14:44] fabiand commented on #1282
Awesome debug effort!

How do you think about accepting this limitation on the Kubernetes pod network, and rather add a check to the pod backend to raise an error if a mac address is specified which diverges from the pod's mac?

Actually. This should be with delegateIP only - but not be affected by SLIRP. Could this be correct?

[2018-07-10 17:36] booxter commented on #1282
@fabiand I would prefer that we build a more complex in-pod networking solution to accommodate for a custom MAC address to have it transparent to everyone. While there is a performance / complexity hit to endure, we can isolate it to the custom MAC address case, leaving the current br1 setup as-is for regular case.

Having a piece of API not working for the happy / default path seems rather limiti

[2018-07-10 17:43] booxter commented on #1014
https://github.com/kubevirt/kubevirt/issues/1282 should be added to the tracker since it's a consistent failure of one of functional tests in OpenShift environments.

[2018-07-10 19:48] booxter commented on #1251
@fabiand generating the MAC address may be a complication considering https://github.com/kubevirt/kubevirt/issues/1282 that may well mean that we can't configure a random MAC address and expect it to work in general case (unless we refactor our in-pod network setup into something more complex than what we have right now).

At least for happy path (no explicit MAC address set) it would make sense t

[2018-07-11 14:48] adityaramteke commented on #1221
@stu-gott I would like to give a try if no one else

[2018-07-11 20:48] booxter commented on #1282
@fabiand you've asked if SLIRP is affected. No, though it has its own issues (like ICMP not working at all).

[2018-07-12 06:42] vatsalparekh commented on #975
/assign

[2018-07-12 07:06] BradfordNichols commented on #1221
Users coming from OSP and OCP users will not expect a synchronous wait on this kind of operation ( cloud instance or container respectively). Should a synchronous wait for success be an additional flag the use passes ?

[2018-07-12 07:38] danielBelenky commented on #1230
/assign

[2018-07-12 07:41] michalskrivanek commented on #1230
@fabiand @stu-gott not really - what I'm saying is that while "q35" is a good enough type for now to start with, it's not the one you want to use long term in stable environment. It's not a pointless knob, it's a fundamental knob for ABI stability.
Again in other words, if you want existing machines to be stable  between upgrades you want to __not__ use q35, but a more concrete versioned type. "q3

[2018-07-12 07:45] fabiand opened #1295 "Use kubectl context instead of custom config file"
Today we copy the kubeconfig from the developer environment to the build host in order to give convenient access to the developer environment.

Instead of this we can use the `kubectl context` functionality.

[2018-07-12 08:12] gouyang commented on #1221
The simplest thing is just like #1292, put a message like the request xxx is sent successfully, the message can be improved a little bit like adding "please check the VM status by blabla...".

I vote for  "wait for results" and filtering some message from `virt-handler` pod like:
[code]
If it's using an image, check image existence:
[code]

[2018-07-12 08:13] cynepco3hahue commented on #1230
@michalskrivanek What machine type do you recommend to use?

[2018-07-12 08:32] michalskrivanek commented on #1230
I think we're still at a stage where guest ABI stability doesn't matter much (we're missing stable addresses now anyway) - then "q35" is a good default, even though upgrading infrastructure will change VMs ABI.
Once we have facilities (and thoughts) around cluster upgrade and notion of compatibility levels for upgrades (and stable addresses) we should switch to a fixed type as a default and mainta

[2018-07-12 10:35] danielBelenky commented on #1230
@michalskrivanek from what I've undersood, the default is already set to 'q35'

`pkg/api/v1/defaults.go:         obj.Spec.Domain.Machine.Type = "q35"`

[2018-07-12 10:38] evol262 commented on #1230
A suggestion was made to add a validator to ensure that this is true, but it's already the default in most places.

Is the purpose of this issue to remove the type selection from a generated UI (from the Spec), or to ensure it's the default?

Where it is the default:
https://github.com/kubevirt/kubevirt/blob/master/pkg/api/v1/defaults.go#L128

Where it is not (but easily changed):
https://github.c

[2018-07-12 10:39] adityaramteke commented on #1255
/assign

[2018-07-12 10:43] scollier commented on #1295
@fabiand actually, after walking through the rest of the guide and wrapping my head around how you interact with the instance, personally, I'm ok with the current flow.  I was able to complete everything listed on the page.

[2018-07-12 10:43] slintes commented on #1295
My (hacky?) approach to this is adding this to the shell config:
`export KUBECONFIG=~/.kube/config:~/go/src/kubevirt.io/kubevirt/cluster/k8s-1.10.3/.kubeconfig`

Also have a look at https://github.com/ahmetb/kubectx :)

[2018-07-12 11:03] evol262 commented on #1230
A suggestion was made to add a validator to ensure that this is true, but it's already the default in most places.

Where it is the default:
https://github.com/kubevirt/kubevirt/blob/master/pkg/api/v1/defaults.go#L128

Where it is not (but easily changed):
https://github.com/kubevirt/kubevirt/blob/master/tests/vmi_configuration_test.go#L345

It seems that the original request (to remove it from th

[2018-07-12 11:04] lukas-bednar commented on #1227
/assign

[2018-07-12 12:06] stu-gott commented on #1221
I think @BradfordNichols might have a point here. Perhaps we should make non-blocking the default, and add something like a `--watch` flag to the command to invoke an interactive status update along the lines of what @gouyang articulated.

[2018-07-12 13:05] fabiand opened #1305 "Support for memory over commitment"
The expectation is that all of the hypervisors memory can be allocated to VMs - if wanted.
This obviously ignores that the hypervisor itself has memory requirements.

Thus this is about memory over commitment.

Example: Host has 32GB of ram, thus I can fit 8 VMs with 4GB of RAM each on it.

[2018-07-12 14:19] j-griffith commented on #1222
Chiming in a bit late, I'd suggest that we up the limit to 253 characters for names to match K8's BUT that we do in fact continue to enforce the validation hook and disallow creation of resources with >53 chars.

Also converting the identifiers (ie socket name) to a UUID as well as using the UUID as a handle for access going forward would be ideal IMO.  I wasn't aware that this was something that

[2018-07-12 14:57] j-griffith commented on #1222
I think converting to using UUID as a handle for things (including socket name) is something we should definitely do.  As far as the name length, I don't think 63 is actually arbitrary.  Also although K8's generally allows up to 253 characters for resource names that's not a rule (it can be less, I don't believe it can be more however and I don't have specific examples to share right now).

The li

[2018-07-12 16:25] SchSeba commented on #1087
Hi @tripledes!! :)

Thanks for helping us make kubevirt amazing.

I think just add to all the kinds inside our templates.

Just config a const string like this ```const KubernetesManageBy string = "app.kubernetes.io/managed-by" ```

Then just like the pod.label you can add it with vmi.label we are using the same meta data like kubernetes so you should have a label list in the object.

Please repla

[2018-07-12 17:19] fabiand opened #1308 "Rename registryDisk to containerDisk"
Today we have a volume source called `registryDisk`.

1. The term itself implies that there is a disk registry, which is technically right, but might be misleading.
2. The API could lead to the impression that the whole container is used as the disk source for the VM. but in reality it is a file within the container which is used as a disk image.

These two points are worth to resolve, in order to

[2018-07-12 17:20] fabiand commented on #1308
To me this kind of API cleanup would be something for 1.0

[2018-07-12 17:20] fabiand commented on #1308
/cc @davidvossel

[2018-07-12 18:16] masayag commented on #1221
@stu-gott could you have a look at the suggested PR on https://github.com/kubevirt/kubevirt/pull/1307 which added the option to block till the action (start/stop) is completed ?

[2018-07-13 09:33] fabiand commented on #1230
Thanks for the discussion. For now I'd then suggest to go with limiting it to one value (q35).

[2018-07-13 09:34] fabiand commented on #1295
Right, that's cool. My reason for this issue is mainly to converge back with how ctxts are managed in kubectl - how others are doing it.

[2018-07-13 09:36] fabiand commented on #1295
@slintes yeah, that works as well :)

I was just wondering if using kubectl context/cluster etc will just strengthen what is there.

[2018-07-13 09:53] fabiand opened #1310 "Not able to debug libvirt issues if launcher crashes"
**What happened**:
A VM fails to start, the pod logs hint that it's a libvirt issues:

[code]

When trying to exec into the compute pod, this fails, because the container continues to crash.

**What you expected to happen**:
Either get the libvirt logs on the pod logs. Or ability to log into the pod to debug libvirt

**How to reproduce it (as minimally and precisely as possible)**:
Make virt-launc

[2018-07-14 02:20] gageorsburn opened #1315 "Allow bridge name to be passed in to interface bridge"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently interface with bridge only allows default br1 to be defined in manifests. When messing around with adding a new network type e.g. a DevicePluginInterface the interface was set to type bridge and qemu added it to the vm under the default bridge name even though Plug() was empty for the interface definitio

[2018-07-14 02:20] gageorsburn commented on #1315
/kind enhancement

[2018-07-15 06:41] cynepco3hahue commented on #1310
In general, we can enable libvirt logs to write to `/var/log/libvirt` and to add the possibility to add PVC that will be mounted to this directory. @fabiand Will it be good enough?

[2018-07-15 18:10] tripledes commented on #1087
@SchSeba Thanks for the tips! I just did a new push to my fork https://github.com/tripledes/kubevirt/commit/bd5455b35c4c96402f6a84f5171372f9009b7255.

Currently it seems to compile (testing as I write), will have a look to the result. If you happen to get some time to review the commit, please do let me know if you see anything wrong.

Regarding unit tests, I haven't had a look yet but I assume I'

[2018-07-16 08:57] michalskrivanek commented on #1222
+1 on using UUID

as for the name - well, we should also consider using a different field for "user name" as often people do want to use names not conforming to DNS limitations, with full UTF and special chars support

[2018-07-16 09:04] karmab opened #1316 "VMs fail to launch with Insufficient devices.kubevirt.io/tun"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
try to launch a vm on 0.7.0 . the related pod stays in pending mode, with the following message
Warning  FailedScheduling  5s (x6 over 20s)  default-scheduler  0/1 nodes are available: 1 Insufficient devices.kubevirt.io/tun.

**What you expected to happen**:
vm launches

**How to reproduce it (as minimally and precisely a

[2018-07-16 09:21] rmohr commented on #1295
I would not want to do that. It just increases the chance that we mess something up. We also copy over `oc` and `kubectl` btw. Everything neatly separated. It just adds burden to everyone.

[2018-07-16 09:29] fabiand commented on #1196
The KVM issue is resolved. Now a tun issue resides, see #1316

[2018-07-16 09:29] #1196 closed

[2018-07-16 09:30] rmohr opened #1318 "Check qcow2 before converting it to raw to prohibit DOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

It is possible to constract qcow2 images which will cause `qemu-img` to consume incredible amounts of cpu and memory. See
 * https://groups.google.com/d/msg/kubevirt-dev/4h7R8fPq0eU/fyL2IaiSBAAJ
 * https://bugs.launchpad.net/ossa/+bug/1449062

for details. @berrange thx for the hint.

We have at least one place with regi

[2018-07-16 09:41] rmohr commented on #1308
For me it is equally clear/unclear if the `container` is the disk or if we have a disk inside the container, no matter if we call it `registryDisk` or `containerDisk`. Also `imageDisk` would be an option to align it with the `image` term on pods.

But whatever is clearer for the majority works for me.

[2018-07-16 10:07] urabenst opened #1319 "kubevirt v0.7.0-alpha.2 fails on k8s 1.10.5 on Ubuntu 16.04.4"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The VM remains in state "Scheduling" and its pod is in "Error" state. This is the output of `kubectl logs <VMPod> -c compute`: [compute.log](https://github.com/kubevirt/kubevirt/files/2197197/compute.log)

Please let me know, if other log files are relevant for you as well.

**What you expected to happen**:

That the Pod

[2018-07-16 10:19] rmohr commented on #1319
@urabenst could you also share the log of the `virt-handler` pod on the node?

I see these errors:

[code]

Is nested virtualization enabled?

[2018-07-16 10:20] rmohr commented on #1319
With other words, since your node seems to be a VM, does you node have the `/dev/kvm` device?

[2018-07-16 10:49] simon3z commented on #1318
cc @aglitke @copejon

[2018-07-16 11:20] rmohr commented on #1221
I think that it is expected that everything is asynchronous in k8s. When I do

[code]

it also only does a patch. It is not waiting until all three instances are created. I would want us to follow with our message style here. So `virtualmachine "myvm" started` instead of something like `start request for virtualmachine "myvm" issued`.

[2018-07-16 11:31] fabiand commented on #1295
I see.

[2018-07-16 11:31] #1295 closed

[2018-07-16 11:33] urabenst commented on #1319
Thanks for the hint! I had it enabled, but I forgot to re-enable it during one of the reinstalls. I just enabled it, so `/dev/kvm` is there, but the error is basically still the same (despite the first 4 lines about /dev/kvm).

[2018-07-16 11:41] fabiand commented on #1310
Logs are written afaik.

The issue is that the container is restarting to fast to get them.
Adding a PVC could help. But if we use the PVC approach, then we should see that it fits in with other log aggregation.

What I want to say: libvirt logs are important for for debugging, thus these logs must land in the log aggregation system of the cluster.
Thus here to me it would be important to understa

[2018-07-16 12:03] urabenst commented on #1319
Btw... I tried the same setup on CentOS: Everything works fine there and the VM comes up

[2018-07-16 12:10] fabiand commented on #1319
So the last comment makes this interesting. I'd really like to understand why this is Ubuntu specific. After all we have few host things. Maybe it's something network related.

[2018-07-16 12:15] rmohr commented on #1310
From my point of view the `virt-launcher` process which also starts and monitors libvirt should also collect the logs and write them to stdout. If we change the architecture on how we use libvirt we can change that again. Right now that seems to be the most logical solution ...

[2018-07-16 12:20] fabiand commented on #1310
That looks straight forward.

Although we could also add a fluentd side-car as described in https://kubernetes.io/docs/concepts/cluster-administration/logging/#sidecar-container-with-a-logging-agent

[2018-07-16 13:30] fabiand commented on #1316
[code]

[2018-07-16 13:50] yanirq commented on #1222
@xsgordon  We are indeed talking about using UUID for internal handles only.
Currently the handles are using the VM name with labels, by that we inherit the k8s labels limitations (63 characters) so using UUIDs in labels will remove this restriction.

Removing the labels obstacle, the VM will have the same limitation as other k8s resources  names ([maximum length of 253 characters](https://kuberne

[2018-07-16 14:00] rmohr opened #1322 "Subdomain field needs to be validated to be RFE 1123 compatible"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

It is possible to specify a `spec.Subdomain` which has more than 63 characters and which may contain not RFE 1123 compatible symbols.

**What you expected to happen**:

Validate the field before it gets persistet and reject the object if the field is not valid.

**How to reproduce it (as minimally and precisely as possib

[2018-07-16 14:05] stu-gott commented on #1316
@karmab: Though @fabiand is probably correct, there are a small number of things that might cause this. A few questions might help us pinpoint the root cause here.

 - What host OS are you running KubeVirt from?
 - Are you using the docker based dev image? ansible?
 - Does `/dev/net/tun` exist on your nodes? (`./cluster/cli.sh ssh node01` if you're using the dev image)
 - Does `lsmod | grep tun` s

[2018-07-16 14:11] karmab commented on #1316
hello @stu-gott
- running kubevirt on centos
- deploying through a manifest ( no docker based image)
- /dev/net/tun does exist
- lsmod | grep tun does show the module
- devices.kubevirt.io/tun doesnt show in allocatable section nor capacity section
- there are no logs for the pod, because it s in pending state

[2018-07-16 14:19] rmohr commented on #1322
/kind bug

[2018-07-16 14:31] karmab commented on #1316
here are the virht-handler logs
[code]

[2018-07-16 14:45] fabiand commented on #1222
We need to keep in mind that UUIDs are pod-lifecycled as in they will change whenever there is a VM entity start/stop cycle (or in future probably live-migration).

This means that it's probably safe to use it in the node context, but not on the cluster level for referencing entities.

[2018-07-16 14:50] j-griffith commented on #1225
@yanirq @rmohr I'm trying to understand why we would *not* want to always set a hostName (default to name)?  This sort of matches the behavior of Docker for example, if you don't provide the `--hostname` then the Container name is used by default.  This seems like a good expected behavior to follow no?

Or are we considering the different stage of VMI vs VM?  If that's the case then the field shou

[2018-07-16 15:41] kfox1111 commented on #1318
Does the conversion happen under the users quota?

[2018-07-16 15:44] tripledes commented on #1087
Hey, I've updated the code, https://github.com/tripledes/kubevirt/commit/94ee3c11b9cc1ecf028c72778dd20a7fbbf88e81

Currently doing the split in `updateStatus()`, but I don't feel like it's the right place as it's an static value so we probably shouldn't be executing split every time `updateStatus()` is called.

So far I've used https://raw.githubusercontent.com/kubevirt/demo/master/manifests/vm.ya

[2018-07-16 16:40] SchSeba commented on #1087
Hey @tripledes good job!

I agree with you the split don't need to be there.

My recommendation is to make the split in the version.sh level.

We want to print the version command just like kubernetes

Kubernetes version output
[code]

KubeVirt version output
[code]

So I think it will be good to remove everything after the `-` character.

@fabiand sounds good?

[2018-07-16 19:39] aglitke commented on #1308
I like containerDisk but I wonder if diskPath would be better than just path.

[2018-07-16 19:48] j-griffith commented on #1308
imageDisk is rather intuitive to me, but I wouldn't complain about containerDisk either.  I have to poke around a bit WRT the suggestion from @aglitke on using diskPath, seems like we naturally used that for some local variables so maybe that was the natural choice to begin with?

[2018-07-16 20:52] fabiand opened #1325 "Add support for stable (PCI) addresses and introspection"
IOW: The guest ABI should have stable addresses.

This is a mandatory feature for VM identity, and avoiding that certain guests need reactivatio, i.e. Microsoft Windows

[2018-07-16 20:54] fabiand opened #1326 "Add support for device to resource correlation"
Design: https://docs.google.com/document/d/1Mv4lvxa4r8f4E51npzrBAq_1c2jmioPMmsCXcUpBsco/edit

Issue #1325 is covering to introduce stable addresses. This is orthorgonal and provides a mechanism to correlate devices to their external resources.

[2018-07-16 20:56] fabiand opened #1327 "[tracker] Add necessary fields for performance tuning"
Requirements:

- [ ] Update requirements based on references below

References
- https://www.ovirt.org/develop/release-management/features/virt/high-performance-vm/
- https://www.ovirt.org/blog/2017/10/introducing-high-performance-vms/
- https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.2/html-single/virtual_machine_management_guide/#Configuring_High_Performance_Virtual_Machin

[2018-07-16 21:08] fabiand opened #1328 "Allow cascading delete of VMs"
Especially with cloning support of PVs it makes sense to cleanup the data disks, if the Vm entity is getting deleted.

This issue is about letting `VirtualMachines` own `PVCs` and thus allow the controller to clean up the owned PVCs.

Design: https://docs.google.com/document/d/1n6S1zo5VVBEuk_l98jk_vWW_bRzjy8fW37K9okOcZHU/edit

[2018-07-16 21:16] fabiand opened #1329 "Provide network device plugin for basic L2 bridging"
The requirement here is to have a simple network device plugin which allows me to bridge a vNIC onto a local network using a dedicated physical NIC of the host.

Design: https://docs.google.com/document/d/1IrAKDph9qEX7kcx04uUQy6MYHn6vratOi_UfGNIjTfI/edit#

[2018-07-16 21:19] fabiand commented on #1316
I think I am seeing the same issue with kubevirt 0.7.0 on minishift.

[2018-07-16 21:20] fabiand commented on #1067
Closing this issue, as it's merged.

[2018-07-16 21:20] #1067 closed

[2018-07-16 22:22] fabiand commented on #1251
IIUIC then #1282 should be limited to the pod network. In that case we should adopt the MAC of the pod interface.

For any additonal network which has a non-pod network backend, we should be fine - in general. But for specific backends we might have specific constratints again - but we'll see that down the road.

In that sense: The MAC address generation should be backend specific, where righ tnow

[2018-07-16 22:34] stu-gott commented on #1316
@fabiand the current minishift downloads an OpenShift 3.9.0 cluster, which would definitely behave like described as the device manager API changed (and requires a feature-gate to enable). Is there a way to direct minishift to download a 3.10 image?

Per conversations with @karmab, I believe his OpenShift (3.10.0?) cluster is running on CentOS. The "no such file or directory" error seen in the log

[2018-07-17 07:50] rmohr commented on #1318
Yes just user quota.

[2018-07-17 09:07] fabiand opened #1330 "Sanitize Network API"
Today the network API provides a lot of flexibility (connections/bindings).
This was intentional in order to allow developers and users to develop and test the networking capabilities.

At some point the flexibility should be removed in order to provide a more streamlined API.

This should probably take place before v1.

[2018-07-17 11:45] karmab commented on #1316
checked on a multiple nodes installation using 3.10 and the kubelet socket is indeed there, so i believe the issue is specific to oc cluster up ( and some missing flags)

[2018-07-17 12:03] karmab commented on #1316
installed was done with those steps

[code]

[2018-07-17 12:46] karmab commented on #1316
i can confirm that the issue is specific to *oc cluster up*, where we need to sort out how to properly enable device plugin.
since i dont think work is needed on kubevirt side, closing this

[2018-07-17 12:54] fabiand commented on #1265
@slintes are you working on this?

[2018-07-17 13:02] fabiand opened #1332 "Presets should respect if devices: {} is not present"
Today creating a preset which does not contain `spec.domain.devices` will fail with

[code]

Does not work:
[code]

[2018-07-17 13:03] fabiand commented on #1332
@stu-gott wasn't this something we had fixed in the past?

[2018-07-17 13:18] karmab opened #1333 "oc cluster up and kubevirt dont work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
try to launch a vm on a 3.10 openshift origjn cluster with kubevirt 0.7.0

**What you expected to happen**:
vm running

**How to reproduce it (as minimally and precisely as possible)**:
deploy openshift with oc cluster up
deploy kubevirt >= 0.7.0
cry

**Anything else we need to know?**:
the issue seems to be missing flags for device

[2018-07-17 13:19] karmab commented on #1333
virt-handler logs

[code]

[2018-07-17 13:20] karmab commented on #1333
install was done with those steps:

[code]

[2018-07-17 13:24] karmab commented on #1333
logs of origin pod, related to device plugin

[code]

[2018-07-17 13:32] fabiand commented on #1333
Do we know if this is an issue with our DP on oc.

Or is it that oc has an issue with all DPs?

[2018-07-17 13:32] karmab commented on #1333
the proper way to enable device plugin in *oc cluster up* is to add the following snippet to /etc/origin/node/node-config.yaml ( and restart origin container)

[code]

[2018-07-17 13:33] karmab commented on #1333
@fabiand issue is not related to kubevirt DP, but to DP initialization on oc cluster up

[2018-07-17 13:43] #1185 closed

[2018-07-17 14:59] stu-gott commented on #1316
As a data point, I repeated the above steps twice, once using the `oc cluster up` command exactly as provided and once adding the `device-plugins` flag to `--enable`. In both cases I ended up with a cluster with `/var/lib/kubelet/device-plugins/kubelet.sock` present.

[2018-07-17 15:17] stu-gott commented on #1316
Actually, there is an issue here.

 - `/var/lib/kubelet/device-plugins/` from the virt-handler pod's point of view
 - `/rootfs/var/lib/kubelet/device-plugins/` is where it's actually mounted on the node

[2018-07-17 15:51] slintes commented on #1265
yes
https://github.com/kubevirt/kubevirtci/pull/25

[2018-07-17 17:51] stu-gott commented on #1316
I've retraced @karmab's steps and concur with his assessment. The root cause of the symptom seen here is that a mount point is missing in the origin docker container: `/var/lib/kubelet/device-plugins` needs to be bind mounted to the host's filesystem.

Currently kubelet does create `/var/lib/kubelet/device-plugins/kubelet.sock` within the origin container, but since it's not exposed on the host, t

[2018-07-17 20:34] fabiand commented on #1316
@deads2k @bparees any insights on this?

@stu-gott do you think it's a bug in `oc`? Worth filing a bug?

[2018-07-18 07:06] shiywang opened #1335 "command Launcher.Sync failed: virError(Code=38, Domain=18, Message='Cannot access storage file '/var/run/kubevirt-private/vmi-disks/pvcvolume/disk.img'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
trying to run automation test in cluster, got
[code]

my vmi yaml file

[code]

**What you expected to happen**:
all pass

**How to reproduce it (as minimally and precisely as possible)**:
see pr https://github.com/kubevirt/kubevirt-ansible/pull/246

**Anything else we need to know?**:

**Environment**:
- KubeVirt version

[2018-07-18 07:48] shiywang commented on #1335
fabiand, yes, PVC was created by CDI, and cluster I use was created by https://cnv-qe-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/deploy-cnv-cluster/

[2018-07-18 08:06] pkliczewski commented on #1227
@rmohr @fabiand Can we give it a bit of priority it blocks https://github.com/candlepin/virt-who/pull/155 with this [issue](https://github.com/kubevirt/client-python/issues/23)?

[2018-07-18 08:48] shiywang commented on #1335
@nellyc @fabiand  I tried use vm to start, got the same error

[2018-07-18 11:46] yuvalif commented on #1315
@gageorsburn I'm currently working on issue #1329 - once it is fixed, there will be no conflicts between the bridge created for the device plugin and the one created for the pod network.
I plan to name the bridge: `br1-<network name>` so it is guaranteed not to conflict with the default name.

[2018-07-18 11:49] fabiand commented on #1333
Thanks @karmab

Are there any additional insights? @karmab @stu-gott

@scollier this is something you probably want to own

[2018-07-18 11:50] fabiand commented on #1319
This is something you probably want to own @scollier

[2018-07-18 11:51] fabiand commented on #1318
qcows are not handled in kubevirt.
the only input format we support is raw.

Along these lines CDI is the component which does transofrmation, thus this is something you probably want to own @aglitke

[2018-07-18 11:58] rmohr commented on #1318
We use it also in this code-base in the mentioned situations in the issue description: https://github.com/kubevirt/kubevirt/search?q=qemu-img&unscoped_q=qemu-img

[2018-07-18 12:32] petrkotas commented on #1161
@shiywang How does the issue look?

[2018-07-18 12:33] slintes commented on #1265
/assign

[2018-07-18 13:03] fabiand opened #1337 "vNIC model not recognized"
/bug

**What happened**:
Defined a VM with a e1000 vNIC model, see https://github.com/kubevirt/kubevirt/pull/1321/files#diff-22351c6f93523dd42005da85f6e7bf02

But the VM got a virtio model

**What you expected to happen**:
VM would get a e1000 vNIC

**How to reproduce it (as minimally and precisely as possible)**:
1. Define VM according to VM link above
2. Start VM
3. Check VMI - the vNIC model is

[2018-07-18 13:03] fabiand commented on #1337
/cc @urabenst

[2018-07-18 13:12] SchSeba commented on #912
Hi I can work on this if no one take this.

@fabiand  @rmohr  @slintes just tell me what option we want to use.

Option 1:
[code]

Option 2:
[code]

[2018-07-18 13:31] #1225 closed

[2018-07-18 13:36] yanirq commented on #1225
closed - NOT A BUG.

[2018-07-18 13:47] karmab commented on #1316
opened https://github.com/openshift/origin/pull/20351 with a possible fix

[2018-07-18 13:48] karmab commented on #1333
same issue as https://github.com/kubevirt/kubevirt/issues/1316

[2018-07-18 13:56] slintes commented on #912
I'm for option 2: 1 kubevirt plugin with x subcommands. Otherwise it's not clear where the commands belong to imho.

[2018-07-18 14:04] rmohr commented on #912
Also option two, with `kubevirt` or `virt` as entrypoint for the same reason

[2018-07-18 14:09] SchSeba commented on #912
@slintes @rmohr  no problem start working on this

[2018-07-18 14:12] michalskrivanek commented on #1337
Why do we still have/use e1000? didnt' we change it to e1000e since anyway the only chipset we support is q35?

[2018-07-18 14:31] rmohr commented on #1337
Independend from @michalskrivanek's comment if we should have e1000 at all, I could set the model on `v0.7.0` and on `master`. It was kept on the object, visible on the domain xml and was reported inside the vm.

[2018-07-18 14:33] rmohr commented on #1337
@fabiand could you do `virtctl version` and ensure that you have at least `v0.7.0` or `v0.7.0-alpha.5`? For instance `v0.7.0-alpha.2` only supports setting the model via an annotation.

[2018-07-18 15:01] fabiand commented on #1289
It seems that a key requirements is to be able to set the CPU model, which is now possible. A more fine grained issue is #1327

[2018-07-18 15:01] #1289 closed

[2018-07-18 15:05] #1117 closed

[2018-07-18 15:33] booxter commented on #1337
@michalskrivanek there were some networking issues with e1000e with either cirros or alpine that I don't remember of the top of my head right now.

[2018-07-18 17:16] fabiand commented on #1337
This issue is not about the model itself.

This issue is about the ability to specify it.

[2018-07-18 17:23] rmohr commented on #1337
@fabiand in case you missed the message above, I can't reproduce your issue.

[2018-07-18 17:23] dcritch opened #1340 "Unable to set a cpu mode for a VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Attempted to set a VM to use host-passthrough for the CPU mode in the template, as per https://kubevirt.io/user-guide/#/workloads/virtual-machines/virtualized-hardware-configuration?id=mode

I can successful edit the VM template:

[code]
But upon starting the VM, the cpu property gets reset to {}:
[code]
**What you expecte

[2018-07-18 17:31] gageorsburn commented on #1315
@yuvalif Thanks, I saw that issue get created after this one but that was essentially my goal. I'd love to help with the implementation in any way I can. I have a very specific use case that I'm trying to support.

[2018-07-18 17:40] benwatcisco opened #1341 "Build breaks because of upstream project "shfmt""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Try to build, this happens:
[code]
This is known, and has been reported upstream by @rmohr
https://github.com/mvdan/sh/issues/267

**What you expected to happen**:
The docker image should build properly.
**How to reproduce it (as minimally and precisely as possible)**:
Run **make all**

**Anything else we need to know?**:

[2018-07-18 18:16] fabiand commented on #1337
But with cpu mode

[2018-07-18 19:30] fabiand commented on #1337
So, I clenaed my env and setup 0.7.0 and everything works:

[code]

Not sure what went wrong.

[2018-07-18 19:30] #1337 closed

[2018-07-18 19:33] rmohr commented on #1340
@dcritch can you check if it works if you use `model` instead of `mode`?

[2018-07-18 19:41] dcritch commented on #1340
@rmohr yup, model works. I switched to Conroe to test/as per example and it was effective

[2018-07-18 19:54] rmohr commented on #1340
Ok. So it looks like the user-guide is messed up. We don't have a `mode` field right now. Just `model`. If you don't set `model` it should use `host-passthrough`. Otherwise it would use the specified `model`. @dcritch in your case you should actually not have to set anything.

[2018-07-18 19:57] dcritch commented on #1340
I don't get host-passthough, I get `<cpu mode='custom' match='exact' check='full'>` if I don't set anything

[2018-07-18 19:59] dcritch commented on #1340
Actually I don't know what I get....

In the virt-controller pod, if I do a virsh dumpxml VM, I get:
`  <cpu mode='custom' match='exact' check='full'>`
but if I cat the xml on the filesystem I get:
[code]

[2018-07-18 20:16] rmohr commented on #1340
Opened https://github.com/kubevirt/user-guide/pull/107. This aligns what we currently have in the code with the user-guide. We don't have the `mode` field. We only have `model`. If you don't set a `model`, your host cpu will be examined and the closest matching cpu model known by qemu/libvirt will be selected, aka `host-model`.

So right now `host-passthrough` can't be selected on the API.

[2018-07-18 20:31] dcritch commented on #1340
Is selecting it in the works? I was under the impression from @fabiand that it already was there

[2018-07-19 07:07] cynepco3hahue commented on #1340
@dcritch Will push the PR today.
@fabiand @rmohr @dcritch From API perspective do we want to introduce `mode` field or adding boolean `passthrough` to CPU section can be enough?

[2018-07-19 07:09] #794 closed

[2018-07-19 07:16] rmohr commented on #1340
@cynepco3hahue we could also add special `model` types: `host-passthrough` and `host-model`. Not sure if we need/want extra fields for that.

[2018-07-19 07:17] rmohr commented on #1340
@michalskrivanek do you have some thoughts?

[2018-07-19 07:32] cynepco3hahue commented on #1340
@rmohr mm `model: host-passthrough` looks a little bit strange, but if everyone agrees I can do it this way.

[2018-07-19 07:50] michalskrivanek commented on #1340
@rmohr,
we do not need to mirror the exact libvirt syntax here. We do want to use named models, add(maybe remove/forbid, though I haven't really seen a use for it in real deployments) individual flags, and host-model, host-passthrough as special cases.
With host-(model|passthrough) it would be great to get the resulting CPU details somewhere (in status?) as that information is going to be useful(w

[2018-07-19 07:54] michalskrivanek commented on #1340
oh, and also need to figure out how we want to express the secured variants. currently it's with additional flags, but it may make sense to use a separate field (secure: yes|no). I think that's the only way how to keep it user friendly/understandable and it doesn't explode in too many named types either (I like the recent "AMD EPYC IBPB SSBD" in oVirt:-D)

[2018-07-19 08:15] rmohr commented on #1340
I like the `secure` boolean solution.

[2018-07-19 08:30] fabiand commented on #1340
maybe it's to early to add secure?

For this specific issue I wonder if we can do an opt-in for pastshrough, as it's a pretty special case (i.e. influences migration).

`usePassthrough: true` would be something for this specific case.

Then it's also easily validateable i.e. when we get live migration.

[2018-07-19 08:35] rmohr commented on #1340
Why would it be easier validatable? You would have to check two fields then, since the model does not have any meaning and would not be allowed to be set.

[2018-07-19 09:24] yuvalif commented on #1315
@gageorsburn would be great if you can have a look here: https://github.com/kubevirt/kubevirt/pull/1342 and provide feedback. Mainly on whether this satisfy your case.

[2018-07-19 09:53] rmohr commented on #1341
I kind of agree, however it is not that bad. We use `glide` to manage the build dependencies. We wanted to switch to `dep` but `client-go` from k8s never properly worked with it. With `glide` all build dependencies are checked in and properly maintained.

We only use `go get` to fetch and install helper binaries (code generators, code formatting, code checking). In most cases we also check out spe

[2018-07-19 10:40] fabiand commented on #1332
Yes - WFM - just like the vNIC model issue - I probably had a borked environment.

[2018-07-19 10:40] #1332 closed

[2018-07-19 10:55] fabiand commented on #1305
According to https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#specify-a-memory-request-that-is-too-big-for-your-nodes scheduling is based on `requests`.

A container is allowed to exceed `requests` up to `limits` (if memory is available) - if it exceeds `limits` then it's a candidate for termination.

Now, based on this, we can already achieve over commitment by set

[2018-07-19 10:59] lukas-bednar commented on #1227
@rmohr  I started to looking into this, but don't have anything in my hands right now.
Feel free to take it ...

[2018-07-19 11:06] lukas-bednar commented on #1217
I am taking down these errors one by one ...

@fabiand could you please help me to figured out what should be value for `Version` field ?
I am aware of `pkg/version/version.go` package which provides `Get` function returning `Info` structure.
Is it OK to use `Info.GitVersion` for this field ? If it is not I am open to suggestions.

[2018-07-19 12:15] davidvossel commented on #1308
I'm good with something that looks like this.

[code]

Calling it "containerDisk" implies it's a disk that lives in a container. The "image" variable in the containerDisk spec indicates the container image to use which has the disk. All of that seems to mesh well with me.

So, just from that spec I can derive two things without prior knowledge of what a containerDisk is.. 1. This volume has someth

[2018-07-19 12:33] #1221 closed

[2018-07-19 14:03] stu-gott opened #1346 "virt-handler blocks waiting on KVM"
/kind bug

**What happened**:
~virt-handler does not check the cluster-level ConfigMap for the useEmulation setting, which means it will block waiting on a KVM device that will never show up.~

Device plugins in virt-handler are started sequentially, and the readiness check for each plugin is done before forking--so if kvm devices are missing, tun devices are never started.

**What you expected to

[2018-07-19 14:03] stu-gott commented on #1316
@rwsu Believe it or not your issue is completely different. I just filed https://github.com/kubevirt/kubevirt/issues/1346

[2018-07-19 14:29] stu-gott commented on #1346
Upon further review of the code, the issue is slightly different. The real issue is that multiple device plugins are started sequentially--in a single thread. Thus the device manager blocking on KVM devices also inadvertently blocks tun devices.

[2018-07-19 15:13] #1322 closed

[2018-07-19 15:39] vladikr opened #1348 "Reject VMs with resources requests larger than namespace limits"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
This is a follow up to #970, which copied namespace limits to the vm spec, so it will be visible for the users. However, we don't reject the VM spec and are letting the pod be created which later will be rejected by k8s. We could save the additional steps of the pod creation.

**What you expected to happen**:
We should fin

[2018-07-19 19:19] fabiand opened #1350 "Uniqueness of VM "friendly-name""
It was recently discussed that it might make sense to separate identifier and a "friendly-name" of a VM. The friendly name should be an annotation to have fewer restrictions on charset and length.

The identifier (NAME in kubernetes entities) will be used to reference the entitiy, and is the "primary key", implicitly unique.

The friendly name can not directly be used for referencing objects in th

[2018-07-19 19:19] fabiand commented on #1350
/cc @yanirq

[2018-07-20 08:19] fabiand commented on #912
#2 with `virt` as the entrypoint.

[2018-07-20 09:50] #1346 closed

[2018-07-20 10:09] fabiand opened #1354 "Move to e1000e"
e1000 is the interface model we use in many examples, but we should move to e1001 which is the native device for q35 our default machine type.

[2018-07-20 10:09] fabiand commented on #1354
We shoul densure that windows is working with it.

[2018-07-20 11:55] slintes commented on #1279
Turned out that this issue is caused by unneeded CRD status fields in our manifests. This was fixed already in the library we use for generating the manifests, see https://github.com/ant31/crd-validation/pull/5

Once the PR is merged and a new release is published, KubeVirt will work on k8s 1.11

[2018-07-20 15:48] shiywang commented on #1335
it might be a vm create and importer-pod writing race problem, I can't reproduce it any more, will reopen if I met this problem again.

[2018-07-20 15:48] #1335 closed

[2018-07-22 06:34] #1279 closed

[2018-07-22 13:42] #1340 closed

[2018-07-23 08:00] yuvalif opened #1358 "DNS lookup fail from dev cluster"
/kind bug

**What happened**: trying to pull a device plugin image from quay.io

**What you expected to happen**: image would be pulled

**How to reproduce it (as minimally and precisely as possible)**:
[vagrant@node01 ~]$ sudo docker pull quay.io/kubevirt/device-plugin-network-bridge:latest

**Anything else we need to know?**:

**Environment**: N/A
- KubeVirt version (use `virtctl version`):
- Ku

[2018-07-23 08:16] rmohr commented on #1358
@yuvalif which cluster, aka `KUBEVIRT_PROVIDER`?

[2018-07-23 08:41] rmohr commented on #1358
hm, works for me on a fresh `make cluster-up`. Are you using your notebook and wifi? I can confirm that there are sometimes, for me not yet reproducible, issues regarding to network connectivity for the vms if you put your notebook repeatedly to sleep in combination with wifi.

[2018-07-23 11:09] cynepco3hahue commented on #1327
I created the list of things that we need to enable or disable:
- Enable L3 cache - what downsides this feature has, why does not enable it by default
The best performance increasement will have a VM that uses cores from the same socket
- Enable Headless Mode - we need to disable graphical and video devices
- Disable USB devices
- Disable Smart Card device - IIRC we do not have this device so noth

[2018-07-23 12:24] yuvalif commented on #1358
currently I added the image that i need under "images" directory and into the "config-defaults.sh" script. this was to workaround the issue, but also to allow caching of the image. is this an acceptable solution?
(see: https://github.com/kubevirt/kubevirt/pull/1342/files#diff-20c5ebb40cc5ceaf45efe96e7bbc1a5c from the PR)

[2018-07-23 14:55] awels commented on #1218
So this is behaving as expected, When you define a PV you specify the size of the PV. This is the total available space in the PV. PVCs map onto a PV one to one. So now if you make a PVC, and specify a size, kubernetes will look for PVs that can satisfy the request, and bind the PVC to the PV that satisfies the request. So this means the size you get can be larger than the size request if no PVs t

[2018-07-23 15:02] awels commented on #1218
As for the local provisioner issue described, this is also expected. Because we are bind mounting a directory. each PV will be the size of the available space in that directory, and thus each request for a PVC that is smaller than the total available space in that directory will be satisfied by any PV from the local provisioner. If you want to actually have exclusive available storage for a PV, yo

[2018-07-24 02:01] mhenriks commented on #932
Logic to delete the subresources apiservice will be added to the Kubevirt operator in #1122.

[2018-07-24 05:58] #445 closed

[2018-07-24 08:41] fromanirh commented on #1327
@cynepco3hahue I'm volunteering to help implementing this feature if you want

[2018-07-24 08:43] rmohr commented on #1358
Are you going to use it to test kubevirt-integration with it only, or also to test the plugin? In general adding it via `images` directory is correct. While we do have network access in the test vms, it is not meant to pull in test-relevant dependencies at test-time.

I am a little concerned about this device plugin. Is it going to be shipped as part of core-kubevirt? If yes, then I would prefer i

[2018-07-24 08:46] fromanirh commented on #1327
my 2c about the implementation: IMHumbleO all of the above should be hidden behind a single tunable setting (AFAIK kubevirt already has ways to do most of the relevant settings) like the ovirt vm profiles, to be later moved in the virtuned/libvirt-profiles.

[2018-07-24 08:49] tripledes commented on #1087
@SchSeba @fabiand I was checking out how they do it on Kubernetes and found out that the output from last comment is likely from a K8s release, building it from master I get:

[code]

I couldn't find anywhere in k8s code where they use the version for labels, so I guess that's why they don't bother.

If we still want to use version as a label and keep `GitVersion` as it is today (for consistency w

[2018-07-24 08:51] rmohr commented on #1327
We can add a autoattachGraphicsDevice boolean field. Maybe starting with an annotation to gather feedback. That might be something more users care about, to save ram without going for full performance.

Do we have that by default? We don't have ballooning right now. I would make sure it is not added by default at this moment.

I guess that we want to expose the cache directly? Afaik it depends on

[2018-07-24 08:55] rmohr commented on #1327
We could do that right now and thinking about adding them the right way once we support attaching stuff to them.

Hm, that depends on the fact if the guest supports virtio or not. Is that even important? Does having a compatible console attached slowing down the vm already?

Here I still wonder if host-model makes any sense at all and if we should not just use passthrough. According to e.g. https:

[2018-07-24 09:01] cynepco3hahue commented on #1327
@fromanirh Hi, and thanks for the proposal. IMHO I do not have much to do here, because
- @stu-gott works on IO threads
- @vladikr works on CPU pinning
- @petrkotas works on virtio-rng

So here we just need to decide what approach we prefer, to use profiles or create separate API fields for every needed feature(it more customizable than profile). Ovirt has profiles, but still, you have the API for

[2018-07-24 09:09] yuvalif commented on #1358
This is the PR for that work is here: https://github.com/kubevirt/kubevirt/pull/1342
The plugin is not kubevirt specific - it exposes an L2 network to a pod, and can work with other applications.
Also, the kubevirt code does not need this [specific plugin](https://github.com/kubevirt/kubernetes-device-plugins/tree/master/cmd/network/bridge), any plugin that follows the env var based API, would wor

[2018-07-24 09:14] fromanirh commented on #1327
@cynepco3hahue ack

[2018-07-24 09:22] cynepco3hahue commented on #1327
Do you mean to use annotation instead of API field?

Yes we have it by default, I think if you do not specify model to be `none`, libvirt set it by default to `virtio`
[code]

I checked Ovirt disk parameters(`none` means that it does not caching on the host), so it possible that it does not suite good for all cases, @aglitke maybe do you know which option is best from performance perspective, will

[2018-07-24 09:37] fromanirh commented on #1327
AFAIK the footprint in terms of CPU and memoru of a console device, either serial or virtio, is negligible, and we need it anyway to offer *a* mean to connect to the VM :)

for console devices, virtio is the default, but as rmohr pointed out, requires drivers from the guest. For Linux should be no issue, for windows we need it. For the maximum compatibility we should use the serial emulation.

[2018-07-24 10:00] dankenigsberg commented on #1354
@fabiand why don't we use virtio? Do we target any operating that does not support it?

[2018-07-24 10:09] karmab commented on #1354
@fabiand only Windows 2012 and later support e1000e
@dankenigsberg installing virtio drivers in windows has always been quite cumbersome, hence defaulting to something known to work out of the box

[2018-07-24 10:48] karmab commented on #1316
for the record, it seems there s little chance the fix will happen on origin side....

[2018-07-24 10:57] duyanyan commented on #1354
Agree, I got same result when reading some doc.

E1000E – emulates a newer real network adapter, the 1 Gbit Intel 82574, and is available for Windows 2012 and later.

And I tried to test on kubevirt v0.7.0, windows vmi can be started when using e1000e mode, but seems failed to ping the IP of windows vmi. I'm still working on it, will update if I have more clues.

[2018-07-24 11:05] karmab commented on #1319
tested it with kubernetes and ubuntu, and worked as expective
@urabenst you really want to make sure you have nested enable in your vm ( `grep vmx /proc/cpuinfo`) or use emulation (by creating a configmap in the kube-system namespace with the following command
and recreating kubevirt pods afterward)
`oc create configmap -n kube-system kubevirt-config --from-literal debug.useEmulation=true`

[2018-07-24 11:51] cynepco3hahue commented on #1327
@fromanirh Thanks for the information, will use serial emulation.

[2018-07-24 13:07] cynepco3hahue commented on #1327
@fromanirh I see that we anyway do not use virtio console
[code]
so no need to change it.

We can consider to expose two consoles one serial emulation and another one virtio serial console.

[2018-07-24 13:19] fromanirh commented on #1327
@cynepco3hahue indeed, it seems you are OK already. I think two consoles are overkill - if memory serves well we never encountered a case on which it was worth adding two, in oVirt.
IOW, I think that the "console" item is pretty much OK already, no extra work seems to be needed.

[2018-07-24 13:37] yuvalif opened #1366 "allow for multiple interfaces connected to the same network"
/kind enhancement

Once this: https://github.com/kubevirt/kubevirt/pull/1342 is delivered, it should be possible to expose a network from the host into the VM.
As noted there, the underlying device plugin, as well as the API defined with kubevirt, allows for multiple interfaces on the pod, to be connected to the same network. Hence, it should be possible to connect multiple interfaces from the VM

[2018-07-24 14:06] #1273 closed

[2018-07-24 15:11] michalskrivanek commented on #1327
the only drawback of serial was that it's buggy:) for OSes where we have drivers(like Linux) we should go with virtio. For random stuff, BSD, Windows (if someone finds that useful at all) "serial" could be good enough
As for two consoles - I do not see a reason why to limit it to one at spec level really. It can be useful to define more, albeit rarely.

[2018-07-24 15:18] cynepco3hahue commented on #1327
@michalskrivanek Do you have some examples of buggy behavior, because currently all our VM's uses the serial console and I did not see any problems with it.

[2018-07-25 07:26] gouyang opened #1369 "annotation "kubevirt.io/created-by" for VMI pod is not readable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
VMI's uid is used in the pod annotation, at the first look I don't know what it is, after some time I figure out it's VMI's uid.

[code]
**What you expected to happen**:
uid is not clear enough to user, how about to use VMI's domain?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2018-07-25 09:20] grafuls opened #1370 "Admission controller not checking for non existing PVC claims"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Admission controller webhook not checking for missing PVC when creating VMI with non existing claim.

**What you expected to happen**:
Tried creating a VMI with a definition for a pvc claim that was not yet created.
Given that the admission controller was enabled, I was expecting to get validation error for the non existin

[2018-07-25 09:45] rmohr commented on #1370
@grafuls thanks for the report.

You should see on the vmi object itself something like this:

[code]

if you type `kubectl get vmi myvmi -o yaml`.

That is the intended behavour. Since k8s is declarative every valid object can be posted. If objects it depends on already exist does not matter since they could appear anytime. So as soon as you create the PVC, the vm start will just continue.

Note

[2018-07-25 12:10] rmohr commented on #1369
Hm, they are only meant for controller itself. In the past k8s did the same way. Now controllerRefs are used. I think we will do the same. I can't remember right now why I postponed that on the last refactoring round. These annotations will completely go away.

You will then see something like this instead:

[code]

[2018-07-25 12:30] gouyang commented on #1369
I can see pods like `virt-handler`, `virt-controller` have `ownerReferences` in them already, if the VMI's pod is going to change as you said, it's good to know. Thanks for the updates.

[2018-07-25 13:40] grafuls commented on #1370
Thanks for the clarification Roman, I was expecting to see some validation error when running `oc create`. Makes perfect sense to me now hence closing this issue as not a bug. Cheers.

[2018-07-25 13:40] #1370 closed

[2018-07-25 14:08] karmab commented on #1333
yes

[2018-07-25 19:34] #1001 closed

[2018-07-26 05:19] #1080 closed

[2018-07-26 05:29] #1305 closed

[2018-07-26 05:43] shiywang commented on #1208
dibs
/assign @shiywang

[2018-07-26 07:32] fromanirh commented on #1136
Hey, I think this issue is solved by https://github.com/kubevirt/kubevirt/pull/1364 - or do we need something more?

[2018-07-26 08:37] fromanirh opened #1375 "[RFC] [WIP] Evolve vm presets into virt profiles"
/kind enhancement

**What happened**:
We would like to have [virt profiles](https://github.com/nertpinx/virt-manager/pull/1) in kubevirt.
This issue maps the gaps between the current implementation of presets in kubevirt (considering commit 35862a65) and the aforementioned virt profiles design document.

**What you expected to happen**:
A much desired property of the implementation of virt profile

[2018-07-26 08:41] fromanirh commented on #1375
/cc @michalskrivanek @nertpinx @fabiand @stu-gott for discussion

Implementation wise, we are still looking for a generic solution reusable from other projects, like cockpit, and maybe maybe even oVirt? Thus, I think it's fine to reuse some kubevirt components granted that the solution can be easily deployed standalone, outside kubevirt.

[2018-07-26 08:45] veeraready opened #1376 "kubevirt on arm64"
FEATURE REQUEST?

**What happened**:
I am trying to enable kubevirt on arm64, when i compiled from repository amd64 images generated.
**What you expected to happen**:
It should generate arm64 docker images
**How to reproduce it (as minimally and precisely as possible)**:
I followed below steps:
#> git clone https://github.com/kubevirt/kubevirt-ansible
#> cd kubevirt-ansible
#> ansible-playbook -i

[2018-07-26 08:53] fromanirh commented on #1375
/assign @fromanirh

[2018-07-26 10:18] rmohr commented on #1261
Fixed in #1304

[2018-07-26 10:18] #1261 closed

[2018-07-26 10:19] rmohr commented on #1358
Can you confirm that you also can't reach the internet if you start a fresh cluster? If not, can you close the issue?

[2018-07-26 10:47] yuvalif commented on #1358
working after restart

[2018-07-26 10:47] #1358 closed

[2018-07-26 12:01] #1136 closed

[2018-07-26 14:33] urabenst commented on #1319
@karmab For me, everything works fine with v0.7.0, but I encounter the described error with v0.7.0-alpha.2. So I would assume that my setup is correct and this is indeed some ubuntu-related problem.

[2018-07-26 20:56] j-griffith commented on #1376
Thanks for logging this veeraready

So yeah, we're setting the architecture to amd64 on the builds,
(ie https://github.com/kubevirt/kubevirt/blob/master/hack/build-go.sh#L92).  It would be interesting to modify the build file there and see how things go.  We could then consider if we wanted to make that configurable or not.  Not sure how others feel about that but if it works it seems like it migh

[2018-07-27 07:35] rmohr commented on #1366
I am not sure if adding `resourceCount: 3` there. You would then have to reference the same `networks` entry three times from different interfaces. I think the correct way for this would be:

[code]

[2018-07-27 09:36] rmohr commented on #1014
This one fails from time to time:

[code]

[2018-07-27 13:52] #970 closed

[2018-07-27 15:07] petrkotas commented on #1260
Lets split this issue into three separate ones.
1. Implement the API support, which is done in #1385,
2. Implement new presents with default for the virtio RNG,
3. Tackle the challenge with hardware RNG device.

[2018-07-29 06:47] yuvalif commented on #1366
this would also require defining 3 interfaces. this extra verbosity does not provide extra functionality in this case. why do you think this is needed?

[2018-07-30 08:01] pkliczewski commented on #1227
@lukas-bednar @rmohr any updates?

[2018-07-30 08:01] yuvalif commented on #1014
the following test is intermittently failing when running "make test":
[code]

[2018-07-30 08:34] rmohr commented on #1366
You need to define three interfaces anyway. So you would save two "networks" definitions for this corner-case (not interface definition) and sacrifice the very predictable way on how networks and interfaces are connected. I am sure there are also corner-cases in k8s where someone would want to mount the same volume to multiple directories inside the same container. Still the person will have to ad

[2018-07-30 09:44] yuvalif commented on #1366
OK, makes sense. I guess this should just work with the device plugin as it works today - these will just be multiple allocation request for the same network.
Please keep the issue open, since this will have to be at least verified.

[2018-07-30 12:32] rmohr opened #1388 "Ensure that virt-controller assesses partially complete launcher pods properly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

If the launcher pod is still controlled by virt-controller, and the `compute` container terminated, the vmi was stuck in `scheduled` since the pod did not completely terminate because of an exit code `0` but also never got ready, since we don't restart the `compute` container.

Here an example of the situation:

[code]

T

[2018-07-30 12:46] #1255 closed

[2018-07-30 13:22] j-griffith commented on #1376
/assign j-griffith

[2018-07-30 13:38] #1265 closed

[2018-07-31 06:29] veeraready commented on #1376
Able to compile kubevirt for arm64, Generated all required binaries and docker containers.
Now i am facing issue with bringing up vm in arm64, it require to pass more options to libvirt or qemu.
to bring up vm in arm64 need to provide kernel, initrd and disk to qemu-sustem-aarch64.

How we can add extra options to libvirt fron virt-launcher.

[2018-07-31 08:12] simon3z commented on #1376
That probably requires a design document or at the very least a separate issue here on GitHub.
The best way to bootstrap those is probably joining the [community meetings](https://docs.google.com/document/d/1tqwALVx4URxfUR5SLZCD0YOYUVg-MoJQRAYoT5hgDIQ/edit) (Wednesdays at 2pm UTC) and bring up this discussion there.

[2018-07-31 10:37] fromanirh opened #1395 "Conflict between kubevirt and kubernetes types when used in third party projects"
/kind bug

**What happened**:
Context: I'm experimenting with an out-of-tree implementation of virt-profiles for kubevirt (see https://github.com/kubevirt/kubevirt/issues/1375), but this applies to anyone which want to use kubevirt
types out of tree.

KubeVirt vendors the dependencies from kubernetes, most notably `api` and `apimachinery` packages. This may lead to issues when a third party tries

[2018-07-31 11:02] slintes commented on #1310
@rmohr would configuration of libvirt to use stderr for all logs be a good solution?
https://libvirt.org/logging.html

[2018-07-31 11:12] fromanirh commented on #1395
Edited the title to reflect the issue rather than the (possible) solution

[2018-07-31 11:27] slintes commented on #1395
I think one solution is to remove nested vendor directories. If you're using glide in your project, that can be done by adding the `-v` flag to `glide up` / `glide install`.

[2018-07-31 11:35] fromanirh commented on #1395
@slintes

Please note I'm _not_ vendoring yet kubevirt dependencies. I'm just using them from GOPATH.
I can vendor them, so your suggestion could indeed work for me.

But does that mean that a third-party projects _needs_ to vendor kubevirt dependencies?

[2018-07-31 11:48] rmohr commented on #1310
If that works then great. As far as I remember the qemu logs are sent to `virtlogd`. So not sure if we would see these logs then too.

[2018-07-31 12:01] rmohr commented on #1395
Yes vendoring, flattening and trying to find a common working version of `apimachinery`, ... is currently the only solution for go projects which are working on k8s, as far as I know.

[2018-07-31 12:02] cynepco3hahue commented on #1310
@slintes Just take in account that libvirt debug log is huge, so it ok for me if you want to send only errors messages to stderr, but you still will have cases when you will need whole debug log.

[2018-08-01 07:27] fromanirh commented on #1395
@rmohr ok, good to know. I'll go this way, I consider this issue closed.

[2018-08-01 07:27] #1395 closed

[2018-08-01 10:28] mareklibra commented on #1316
Any expectation whether this will be fixed in 0.7.1, please?

[2018-08-01 13:35] cynepco3hahue commented on #780
@rmohr I succeeded to refactoring a code and run 6-7 specs in parallel, it was fast :smile: but to do it under our CI we need to have `ginkgo` CLI, and for this, we need to install `go` on the executioner node.
Any thoughts? Ran tests under container?

[2018-08-01 13:48] rmohr commented on #780
Hm, best would be if we then run the test binary from a container too.

[2018-08-02 01:31] gouyang opened #1403 "Label "kubevirt.io/os" in vm templates should be placed at spec.template.metadata.labels"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Label "kubevirt.io/os: fedora27" is currently under `metadata.labels`, after the VM is created, cannot find such label in VM's metadata.labels.

**What you expected to happen**:
Place the label "kubevirt.io/os" at spec.template.metadata.labels, and with such a label in place, the operating system could be able to show on

[2018-08-02 01:33] gouyang commented on #1403
If there is a fix for this issue, please apply it to release-0.6 as well.

[2018-08-02 07:43] #1388 closed

[2018-08-02 18:28] gageorsburn commented on #1316
Experiencing this same issue on Fedora Atomic running upstream kubernetes 1.10.5.

[code]

Looks like the device plugins aren't being created but I'm not sure why.

[2018-08-03 10:13] petrkotas commented on #1161
@shiywang do you still encounter this issue after upgrade?

[2018-08-03 10:44] petrkotas commented on #1350
@fabiand What is the use case for this naming? How it would be used and by whom? Thanks for the reply.

[2018-08-03 12:37] petrkotas opened #1406 "Guest shutdown from within the Virtual Machine"
**FEATURE REQUEST**:
The ability for Virtual Machine to stay powered down after shutdown from within Virtual Machine, aka Graceful shutdown.

/kind enhancement

**Open questions**:
- How should graceful shutdown from within be reflected in Virtual Machine status?
- How should the cluster operator shutdown the VM gracefully?
- How should we treat Highly Available Virtual Machines?
  - Where it shou

[2018-08-03 12:39] petrkotas commented on #1406
Please lets focus first on gathering relevant feedback and than work on possible solutions.

[2018-08-03 12:55] petrkotas commented on #1406
We also need a mechanism to detect the internal status of the Virtual Machine as a helper for detecting graceful shutdown.

Also the cluster admin have to be able to issue graceful shutdown to Virtual Machine just with issuing a command and the rest will take action from within the Virtual Machine.

As for the Highly Available virtual machine. Once it has been shutdown, it should be started on som

[2018-08-03 22:17] davidvossel commented on #1406
We’ve overloaded the term “Graceful Shutdown” to mean different things depending on the context of the discussion.  To help with this discussion, here's an enumeration all the different ways I can think of that a VM's process terminates.

1. Graceful shutdown via ACPI when 'Running=false' and 'terminationGracePeriodSeconds' > 0
2. Immediate shutdown when 'Running=false' and 'terminationGracePeriod

[2018-08-06 08:40] yanirq commented on #1350
The general idea was to add another annotation for user friendly name in addition to the existing vm name
for the purpose of restricting the original vm name to comply with labels/sockets/dns length restrictions in code.

The fix #1320 might be able to tackle all of  these restrictions and if accepted it will remove the need of another annotation for a friendly name.

[2018-08-06 09:58] pkliczewski commented on #1227
@lukas-bednar @rmohr @stu-gott This blocks delivery of [this](https://trello.com/c/ciaOT94o/127-13-demo-of-entitlement-system) card. When can we have it fixed?

[2018-08-06 09:59] pkliczewski commented on #1227
@fabiand when can we expect this?

[2018-08-07 06:26] rmohr commented on #1227
I can't work on that right now. Maybe someone else can handle it.

[2018-08-07 06:34] cynepco3hahue commented on #1227
@lukas-bednar Do you have time to work on it, if no I can start to look on it.

[2018-08-07 06:52] lukas-bednar commented on #1227
@cynepco3hahue Unfortunately I don't ... but please talk to @pkliczewski, I was giving him some info how client generation works, so I believe that he has already started work on that.

[2018-08-07 07:19] cynepco3hahue commented on #1227
@lukas-bednar Thanks will ask him.

[2018-08-07 11:58] grafuls opened #1413 ""Import Virtual Machine" apb does not allow a VM name with capital letters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When using the "Import Virtual Machine" APB from the catalog, if the name of the VM is specified with capital letters, the "Provision PVC" task fails with:

fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["oc", "create", "-f", "/tmp/pvc.yml"], "delta": "0:00:00.434773", "end": "2018-08-07 11:35:47.418035", "msg":

[2018-08-07 12:02] fabiand commented on #1413
Well, it's a true error.
Isn't this error about an incorrect PVC name?

I think this is a usual Kubernetes "limitation".

[2018-08-07 12:02] #1413 closed

[2018-08-07 12:25] fabiand commented on #1376
@veeraready as @simon3z mentiond - a design document to discuss the gaps would be helpful, because there are many details to take care of.

Biggest is probbaly to modify launcher to generate a different domxml on arm.

[2018-08-07 12:27] fabiand commented on #1316
@rmohr @stu-gott what's the curretn statee? Isn't this already fixed?

[2018-08-07 12:44] grafuls commented on #1413
The PVC name is composed by the VM name and created dynamically.

from: https://github.com/ansibleplaybookbundle/import-vm-apb/blob/master/templates/windows-template.j2#L59

`claimName: vm-${NAME}-disk-01`

@fabiand I don't believe this issue should be closed.

[2018-08-07 13:12] #1222 closed

[2018-08-07 13:12] #1223 closed

[2018-08-07 13:13] yanirq commented on #1144
/assign

[2018-08-07 14:48] cynepco3hahue commented on #1413
@grafuls Can you create a PVC with such name?

[2018-08-07 14:59] cynepco3hahue commented on #1227
I tried to change our `pkg/tools/openapispec.go` to use `BuildOpenAPISpec`, but I receive an error when I run it
[code]
@rmohr @lukas-bednar Do you have an idea what it can be?
You can see the code under https://github.com/cynepco3hahue/kubevirt/commit/acf5900fb1eeeaf013cc82f9ad6842c856844127

[2018-08-07 15:00] nellyc commented on #1413
the problem is indeed on APB/CDI side
we have a bug for the APB to do some verification on the passed vm name to avoid that

[2018-08-07 19:57] fabiand commented on #1403
On what entity are you settin gthat label?
VM or VMI?

Can you please share the examples?

[2018-08-08 02:28] gouyang commented on #1403
Cannot find label `kubevirt.io/os: fedora27` currently.
[code]

Change the label place, then it can be finding at `spec.template.metadata.labels`.
[code]

[2018-08-08 07:48] cynepco3hahue commented on #1227
The problem that our generated `GetOpenAPIDefinitions` does not include a lot of types that we are using, I will try to figure how can I add it.

[2018-08-08 08:16] gouyang commented on #1413
It think it's a kubernetes limitation as well, easy to hit the same error via:
[code]

[2018-08-08 08:45] rmohr commented on #1227
But if we use `openapi-gen`, it should produce them, right?

[2018-08-08 09:01] veeraready commented on #1376
As i am working on some POC , for that i am  modify launcher code to bring up vm on aarch64.
Removing some xml nodes in (schema.go) to run vm on arm64.
By seeing code i understand user can pass kernel from vm.yaml, can you suggest how to write yaml file to pass kernel.

[2018-08-08 09:49] fabiand commented on #1376
Currently it is not possible to pass a kernel (to boot) using a VM definition.

You can only use disks to boot a VM.

[2018-08-08 10:11] cynepco3hahue commented on #1227
Changing `go:generate` line under `scheme.go` and `types.go` to
[code]
solved this problem, but created other problems.
We use `resource.Quantity` that defined as
[code]
so `openapi-gen` tries to generate definitions also for `infDecAmount` and `int64Amount` which one does not have `// +k8s:openapi-gen=true` comment, and I do not know how to solve it on our side(I think I will need to open issue t

[2018-08-08 10:14] rmohr commented on #1227
@cynepco3hahue e.g. `Qunatity` contains a function called `OpenAPISchemaType`. Maybe if you find out where exactly that function is used, you can identify why it is not converted into a `string` type.

[2018-08-08 10:59] yanirq commented on #1350
@fabiand  now that PR #1320  was merged, there is no immediate need for a user friendly VM name.
Current VM name now behaves as pod name.
We still hold the VM name under an annotation : `"kubevirt.io/domain"`  , which i now contemplate if its really needed.

A side note here, with our current template form we still might have an issue when passing a long name to a template as a parameter (see http

[2018-08-08 11:25] cynepco3hahue commented on #1227
@rmohr I see thanks for the info.

[2018-08-08 11:32] cynepco3hahue commented on #1227
@rmohr From what I can see, it just must work without any additional stuff, but it not :worried:

[2018-08-08 11:46] fabiand commented on #1350
Yes, I think it is good enough for now.
I also think that the annotation can go away.

The template issue is a separate one.

[2018-08-08 12:04] cynepco3hahue commented on #1227
Ok it works, but does not really help(it does not work for composition case), `openapi-gen` generated
[code]
So I can see that indeed `s` and `Format` have expected scheme type and format, but two additional structs no.

[2018-08-08 12:18] cynepco3hahue commented on #1227
I currently blocked by https://github.com/kubernetes/apimachinery/issues/48

[2018-08-08 16:11] phoracek opened #1418 "[RFE] Hooking framework"
/kind enhancement

**Current state**

Hooking support was added in https://github.com/kubevirt/kubevirt/pull/1171. However, it requires users to implement the whole sidecar hook server, create sockets etc.

**Desired state**

KubeVirt should provide library/framework to make creating of sidecar hook servers as easy as possible. Hook implementation should look something like this:

[code]

[2018-08-09 06:55] rmohr commented on #1369
/assign shiywang

Let me know how it goes or if you need something.

[2018-08-09 06:56] rmohr commented on #1369
/assign @shiywang

[2018-08-09 13:05] shiywang opened #1420 "VM labels can not be inherited by VMI ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]
[code]
[code]
**What you expected to happen**:

I have a vm with label
[code]

then I use virtctl start running, I expected vmi also has that label

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- K

[2018-08-09 13:08] shiywang commented on #1420
@fabiand @vladikr @yuvalif

[2018-08-09 13:12] cynepco3hahue commented on #1420
@shiywang I do not sure if it must to inherit it if you want some VMI labels you need to specify it under the template.

[2018-08-09 14:17] shiywang commented on #1420
Sorry, my bad...

[2018-08-09 21:02] #1310 closed

[2018-08-10 03:12] shiywang commented on #1420
[code]
hi @cynepco3hahue  even specified in template doesn't work

[2018-08-10 03:13] #1420 closed

[2018-08-10 09:42] fabiand commented on #1316
@mareklibra @rwsu are you still seeing this issue? (I assume you do)

@stu-gott do you have an idea why the bug appears to them? And do you know why it obviously does not appear in CI?

[2018-08-10 10:04] rmohr opened #1425 "Enable virt-preview repos via "dnf copr enable""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We are referencing in our docker builder a `.repo` file at https://fedorapeople.org/groups/virt/virt-preview/ which is no longer there. As a consequence installing libvirt packages fails in the container.

**What you expected to happen**:

That we now use

[code]

**How to reproduce it (as minimally and precisely as poss

[2018-08-10 10:33] rmohr commented on #1425
@fabiand because of that issue that release can't succeed building: https://github.com/kubevirt/kubevirt/releases/tag/v0.8.0-alpha.0

[2018-08-10 12:18] stu-gott commented on #1316
@rwsu I believe that the issue you reported was fixed in https://github.com/kubevirt/kubevirt/pull/1351. Can you confirm whether or not you're still having issues with latest master? There has not been a release since that was merged, so 0.7.0 will have the improper device plugin order on startup.

@karmab This issue is limited to OpenShift Origin clusters that were instantiated with `oc cluster u

[2018-08-10 12:28] stu-gott commented on #1316
@karmab Are you still completely blocked by this issue, or have you found an interim workaround?

[2018-08-10 12:41] karmab commented on #1316
i switched to k8s for the time beeing.
@rwsu also confirmed me that using emulation mode worked correctly on
master.

El El vie, 10 ago 2018 a las 14:28, Stu Gott <notifications@github.com>
escribió:

--
Karim,

[2018-08-10 19:37] ronf commented on #1325
I need this capability as well, but for disk devices, as the OS I'm running in the virtual machine expects content to appear on specific PCI addresses. More specifically, it's a custom boot loader and it's having trouble finding the images to boot.

When I start up a VM with libvirt directly, it works when I specify something like:

    <disk type='file' device='disk'>
      <driver name='qemu' ty

[2018-08-10 21:32] fabiand commented on #1325
That's interesting - we wondered about the disk case. So far we knew that the serials were the primary guest sided identifier. Interesting to see the use-case where the PCI address is relevant.

[2018-08-11 00:55] ronf commented on #1325
Yeah - I know it's a bit of an edge case (particularly for disks), but it'd be great if there was a way to specify the address information for any PCI device. I'm not sure yet if I'll run into a similar issue with the NICs, but I suspect I'll need it there too.

[2018-08-12 08:02] #1161 closed

[2018-08-12 15:20] alvaroaleman opened #1434 "Networking broken because vmi gets no route"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Followed along the kubevirt quickstart in v0.7.0. After starting the vm it successfully came up but was not reachable via network.  A `virtctl console testvm` later I found out this is because it had no default route:

[code]

Adding a default route fixed the issue:

[code]

**What you expected to happen**:

Network conne

[2018-08-12 19:17] #1144 closed

[2018-08-13 09:14] yanirq commented on #1369
@shiywang   Please notice the latest changes of VMI UID in #1320
`kubevirt.io/created-by`  is no longer an annotation , but a label.

[2018-08-13 10:49] fabiand commented on #1316
Another fact is that this only seems to affect dockerized based Origin depoyments.

Dropping the urgency.

[2018-08-13 14:58] #1434 closed

[2018-08-13 15:10] lukas-bednar opened #1442 "Enable healthz check for KubeVirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Deploy KubeVirt.

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
[code]
- Kubernetes version (use `kubectl version`):
[root@cnv-executor-lbednar-mas

[2018-08-13 16:34] alvaroaleman opened #1444 "RFE: Allow specifying the desired size of a vms root disk"
/kind enhancement

**What happened**:

Currently it is not possible to specify the size of a virtual machines root disk at runtime, the only way to get that done is by pre-baking different `RegistryDiskSource` images/PVCs.

**What you expected to happen**:

It would be awesome if it was possible to specify the desired size of a VMs root disk on the `RegistryDiskSource` or PVC and then just have th

[2018-08-13 16:53] alvaroaleman opened #1445 "RFE: Provide image-distribution mechanism"
/kind enhancement

**What happened**:

Currently, kubevirt takes a vmis rootimage either from `RegistryDisk` or from a PVC. In both cases, it is assumed that the image is already there. This means that images are not really discoverable as end user and in the case of the PVC there are even manual steps required in order to prepare it.

**What you expected to happen**:

It would be awesome if there

[2018-08-13 18:27] aglitke commented on #1444
Could you explain the use case(s) for this?

[2018-08-13 20:09] alvaroaleman commented on #1444
a) Needing a varying amount of ephemeral storage on a vm: This currently requires multiple docker images than only differ in the virtual size of the `qcow2` in them or using an `emptyDisk`, but the latter is less flexible and rather cumbersome as it has to be configured via `cloud-init`

b) Getting to the point where the size of a persistent root disk is not sufficient anymore. [PVC expansion is n

[2018-08-14 12:06] cynepco3hahue opened #1448 "virt-handler do not clean socket files from /var/run/kubevirt/sockets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
virt-handler does not clean socket file after VMI deletion
[code]
[code]

**What you expected to happen**:
`/var/run/kubevirt/sockets/` must be empty, if no VMI exist

**How to reproduce it (as minimally and precisely as possible)**:
- Create a VMI
- Delete a VMI
- Check `/var/run/kubevirt/sockets/` directory on the node

[2018-08-14 12:25] cynepco3hahue commented on #1445
It looks like `DataVolume` support that @davidvossel introduced, can you check documentation https://github.com/kubevirt/user-guide/pull/100 and say if it fits good for you use case?

[2018-08-14 12:47] alvaroaleman commented on #1445
It does not really solve the use-case and feels a little like a half-baked solution. It does not solve the problem of discoverability at all (as in: As an administrator, I want to give a set of pre-defined images to my users) and it only works when using a PV as backing store for the root disk.

It would be nice to have a generic solution for this, that works with any kind of backing store for the

[2018-08-14 13:00] alvaroaleman commented on #1445
And just to ensure this does not come off wrong: I would like to contribute on this, but I assumed this could result in some controversy and I do not know what the process for adding new features is and if there is a way other than an issue to get design feedback prior to implementing something.

[2018-08-14 15:31] davidvossel commented on #1448
I wouldn't expect the UUID to ever be dropped.

What's likely happening is the VMI key is getting re-enqueued after the VMI is deleted for some reason. when that occurs, there's logic to create an empty vmi to represent the deleted vmi.

[code]

that object get's passed around in the execute() function if the vmi doesn't actually exist.

Likely all we have to do here is guarantee that the finalize

[2018-08-14 15:33] davidvossel commented on #1445
so, essentially you're asking for a CRD that represents a virtual machine image in the same way AWS has AMI objects?

[2018-08-14 15:41] alvaroaleman commented on #1445
Yes, that would be perfect

On Tue, Aug 14, 2018, 17:34 David Vossel <notifications@github.com> wrote:

[2018-08-14 16:52] davidvossel commented on #1445
@aglitke What was the plan here? Were we going to recommend people create a separate namespace for their DataVolume immutable images?

[2018-08-15 06:00] cynepco3hahue commented on #1448
@davidvossel Thanks for the info, I missed this part where we create dummy VMI(if it does not exist), for each domain in the cache.

[2018-08-15 06:04] cynepco3hahue commented on #1448
@davidvossel But it means that `virt-handler` crashed on some stage, and was restarted because code fills it only on the start.

[2018-08-15 14:19] fabiand opened #1454 "Support conditions"
/kind enhancement

**What happened**:
`kubectl wait --for condition=…` appeared

**What you expected to happen**:
That we can use kubectl wait with vms (vmi, maybe vm)

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl wait --for condition=ready vmi fedora`

**Anything else we need to know?**:
I think we just need to provide the correct conditions on the VMI object

[2018-08-16 06:31] shiywang commented on #1454
dibs

[2018-08-17 14:43] alexxa opened #1458 "Confusing docs directory structure/naming"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
When one sees `/docs` directory in this repo, they may question of it's a devel or user guide documentation or expect both inside. And atm, inside there is  "Technical Overview" with many other seems to be devel pages and separate `devel` repo. Why is there that separate `devel` repo?

**What you expected to happe

[2018-08-19 08:34] cynepco3hahue opened #1460 "VMI stuck in scheduled state"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I stop and start the VMI with the same name, possible situation that VMI will stuck on the second start.

**What you expected to happen**:
VMI succeeds to start and change state to `Running`

**How to reproduce it (as minimally and precisely as possible)**:
I can see it pretty often happens under the test
[code]

**An

[2018-08-19 14:13] cynepco3hahue commented on #1448
Looks like I solved only part of the problem:
- domain exists, VMI does not exist

But we still have a case when
- domain and VMI do not exist

So I will reopen the issue.

[2018-08-20 08:31] #1181 closed

[2018-08-20 11:47] mareklibra commented on #1316
Still facing the same issue with v0.8.0-alpha.1 for **both** devices.kubevirt.io/kvm and devices.kubevirt.io/tun.

Running OC 3.10 via `oc cluster up`.

@stu-gott , I'm not sure if I understand the described issue with missing /var/lib/kubelet/device-plugins . Can you please explain? Is there a workaround? Thanks.

[2018-08-21 12:42] fabiand commented on #1425
We can also use the updated url which is also named here:

https://github.com/oVirt/ovirt-release/blob/master/ovirt-f28-deps.repo.in#L11

[2018-08-21 16:14] cynepco3hahue commented on #1460
Ok after additional digging, the problem that we lost connection with libvirt before we get domain DELETE notification. So domain will stay in the cache and because VMI name stays the same, we will get this domain from the cache and so we will always skip `execute` logic because of
[code]
so VMI will stay in `Scheduled` phase forever.

[2018-08-21 16:16] cynepco3hahue commented on #1460
@davidvossel Do you know how can we remove it from the cache in this case, I still do not fully understand this notify server stuff.

[2018-08-21 16:29] davidvossel commented on #1460
Ah, so there are two issues here.

1. We have to handle removing an old domain from the cache in the event that a new VMI matching that domain is created.

take a look at this comment
https://github.com/kubevirt/kubevirt/pull/1461#pullrequestreview-147656385

In the event that we don't receive the last notification from libvirt for whatever reason, the watchdog file will trigger the domain's delet

[2018-08-22 08:07] gouyang opened #1469 "Failed to create virtual machine pod on v0.8.0-alpha.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`# oc create -f ./cluster/examples/vmi-ephemeral.yaml`
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. oc create -f https://github.com/kubevirt/kubevirt/releases/download/v0.8.0-alpha.1/kubevirt.yaml
2. oc create -f ./cluster/examples/vmi-ephemeral.yaml

**Anyt

[2018-08-22 08:16] fabiand opened #1470 "Add test for detecting go version bump"
/kind enhancement

**What happened**:
A PR introduced a dependency on go-1.10

**What you expected to happen**:
Automation detects the bump of go-1.10 and raise flag as it's a major change

[2018-08-22 08:19] cynepco3hahue commented on #1470
We changed our containerized build to 1.10 time ago, I was never aware that we have some restrictions on go version.

[2018-08-22 09:09] gouyang commented on #1469
I'm suspecting it's an env issue, I'm retesting it.

[2018-08-22 09:16] fabiand commented on #1470
Switching a runtime is something notable.

To me it look slike a good habit to give head's up (like it was done in the past i.e. https://groups.google.com/d/msg/kubevirt-dev/0eKOvMxfA6w/lip_j6q0BAAJ).

This issue is about enforcing this pattern.

[2018-08-22 10:04] shiywang commented on #1454
@fabiand I have a question about code here https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-controller/watch/vmi.go#L246-L251, why we have to add and remove `condition` on VMI conditionally?

Can we just fully sync up the `condition` between pods and VMIs ?  also the code change should only happen in virt-controller right? no virt-handler change I guess?

[2018-08-22 12:38] fabiand commented on #1325
@vladikr we also need pciAddresses for network devices, as they influence the interface name.

[2018-08-22 12:48] vladikr commented on #1325
@fabiand did you mean pciAddresses for disks? #1393 adds a support for setting pciAddresses for network devices.

[2018-08-22 12:49] vladikr commented on #1325
I'm working on allowing setting pciAddresses for disks.

[2018-08-22 13:04] fabiand commented on #1316
Same for me.

[2018-08-22 13:52] gouyang commented on #1469
Retest hit the same error.

[code]

[2018-08-22 14:55] stu-gott commented on #1316
@mareklibra So the issue is there's a missing bind mount in some configurations. Components that use the device plugin framework (e.g. virt-handler) do so by contacting the device plugin manager using a unix socket. Unfortunately the missing bind mount means virt-handler cannot contact the device plugin manager and register tun/kvm devices. Because KubeVirt cannot advertise tun or kvm devices, pod

[2018-08-22 15:17] davidvossel commented on #1454
There are Pod conditions that do not directly translate to the VMI.  The "Scheduling" condition happens to mean something for the VMI, which is why it applied here. The "Ready" condition for a Pod doesn't mean anything for a VMI, and would be confusing if we placed it on a VMI because it would indicate that the VMI is actually running and "Ready" when in fact it would just mean that the Pod is up.

[2018-08-23 14:15] davidvossel commented on #1460
@cynepco3hahue When a VMI is deleted, virt-controller tears down the VMI's pod. The kubelet sends that signal to pid 1 in the pod as part of the shutdown process.

We're supposed to be trapping that signal to prevent it from tearing down virt-launcher and libvirt. Maybe somehow this isn't happening correctly and libvirt is being shutdown prematurely because of that signal.

The kubelet's going to

[2018-08-27 13:03] rmohr commented on #1425
I have been told on the libvirt mailing list that all updates will land in the mentioned copr repo. So I guess using it makes sense?

[2018-08-27 19:17] xsgordon commented on #1316
To answer myself, looks like you need to go all the way back to v0.6.4 top get something going on Minishift with Origin 3.10 (or at least, to get past this particular error as now I am hitting different issues).

[2018-08-28 12:40] fabiand commented on #1469
Hm.

Can you please check if the kubevirt-privileged service account exists?

https://github.com/kubevirt/kubevirt/blob/master/manifests/release/kubevirt.yaml.in#L276-L282

[2018-08-28 15:58] rmohr opened #1478 "Libvirt logs in virt-launcher are not structured"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We stream libvirt logs to stdout of our `virt-launcher` container. The logs look like this:

[code]

**What you expected to happen**:

They should look somewhat like this:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Start a VMI and look at the virt-launcher logs.

**Anything else we need t

[2018-08-28 16:00] rmohr opened #1479 "logs from client-go are not logged to stdout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Increasing the verbosity level of virt-launcher does not increase the log verbosity for our structured logger and for client-go but the client-go logs are not written to stdout unless `--logtostderr` is not supplied too.

**What you expected to happen**:

That we wrap glog in our codbase and only write logs via our struc

[2018-08-28 16:01] rmohr commented on #1479
Have a POC. Will create a PR soon.

[2018-08-29 02:19] gouyang commented on #1469
The kubevirt-privileged service account is existed.
[code]

[2018-08-29 08:49] fabiand commented on #1469
This then look slike a deployment issue.

How did you deploy kubevirt?

[2018-08-29 09:08] gouyang commented on #1469
Firstly, I deploy the cluster via a d/s job which is deploying kubevirt via apb.
And then I delete the serviceinstance kubevirt which delete the RBAC as well.
Then, deploy the kubevirt 0.8.0 via `oc create -f https://github.com/kubevirt/kubevirt/releases/download/v0.8.0-alpha.1/kubevirt.yaml`.  VMI pod cannot be started.

On v0.7.0, it works even without this RBAC.

Should I close the issue now?

[2018-08-29 09:41] fabiand commented on #1469
0.8.0a1 should also contain RBAC elements, thus I am not sure where
the problem lies.

What happens if you deploy 0.8.0a1 cleanly without the 0.7 bits?

[2018-08-29 14:18] gouyang commented on #1469
Deploy the 0.8.0a1 cleanly just will hit this issue. The difference is:
On 0.8.0a1,  it need to apply `oc adm policy add-scc-to-user privileged system:serviceaccount:kube-system:kubevirt-controller`.
On 0.7.0, it does not need to apply this policy.

It should be some changes in v0.8.0a1.

[2018-08-29 14:39] fabiand commented on #1469
I see that c3198857c63436d5ec857464cdc5f4d568f63a4b did this, and recall that there was a cluster annotation to automate some parts.

@davidvossel do you recall the details?

[2018-08-29 23:34] gouyang commented on #1469
@davidvossel thanks for the explanation.

[2018-08-30 08:06] fabiand commented on #1469
I think this is a bug.
Originally the SA was granted privileged mode, because we did not look into defining the fine grained privileges.

The removal should have been accompanied by providing the fine grained policies. But not only RBAC; but also custom SCC, PodSecurityContexts and alike.

IOW this is a bug, because we dropped privileges (which is good) without providing an adequate profile to per

[2018-08-30 08:06] fabiand commented on #1469
Raising this to critical urgent, as the deployment of KubeVirt is broken.

[2018-08-30 11:44] rmohr commented on #1469
That the privileges are needed is documented in the [installation guide](https://kubevirt.io/user-guide/#/installation/README?id=using-command-line-interface).

We also set the security context when deploying kubevirt in CI.

I agree that it is nice if we codify and include the SCC as yaml (now that this is possible in openshift), but I am surprised that this now immediately becomes a critical iss

[2018-08-31 02:35] gouyang commented on #1469
@rmohr The answer is in above comments. It work for me if run `oc adm policy add-scc-to-user privileged system:serviceaccount:kube-system:kubevirt-controller`

[2018-08-31 08:56] fabiand commented on #1469
@gouyang I think we just want to be clear that the user guide documentaiton is correct. Does it work with the command from the user-guide? (`oc adm policy add-scc-to-user privileged -n kube-system -z kubevirt-controller`)?

@rmohr critial urgent might be a bit exaggerating. However, otoh hand it was argued that privileged is to privileged, and therefor we removed it from the yamls. But you still d

[2018-08-31 13:40] #1260 closed

[2018-09-03 15:46] rmohr opened #1487 "In openshift 3.10 it is possible to express SCCs as yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Right now, in order to run on openshift, one first deploys `kubevirt.yaml` and then runs a few SCC updates (taken from version 0.8.0):

[code]

**What you expected to happen**:

Depending on what comes first, we can either add the SCCs in a 3.10 `kubevirt-openshift.yaml` and let openshift users install that one,

[2018-09-03 15:48] rmohr commented on #1469
@gouyang great thanks. Closing this and created #1487 to track the possible enhancement.

[2018-09-03 15:48] #1469 closed

[2018-09-04 11:41] fabiand commented on #1119
I'm suggesting to keep presets and templates in a repository separate from KubeVirt.

I've started this repo https://github.com/fabiand/common-templates to gather presets and templates for common guests., including functional tests for templates and presets.

[2018-09-04 11:41] fabiand commented on #1208
Thus closing my own request.

[2018-09-04 11:41] #1208 closed

[2018-09-04 11:41] fabiand commented on #1119
Thus closing my own request.

[2018-09-04 11:41] #1119 closed

[2018-09-04 12:48] fabiand commented on #1487
/cc @rthallisey

[2018-09-04 20:46] gageorsburn opened #1491 "Uninstall/cleanup procedures"
I don't have a lot of logs backing this because my lab cluster has been in a lot of flux lately but I was running into an issue where the kube-controller-manager pods were crashing whenever a newer version of kubevirt was installed which would cause complete unstability within the cluster.

[code]

I had no idea where those were coming from until today when I looked at the apiservice objects.

[co

[2018-09-05 06:37] cynepco3hahue commented on #1491
@gageorsburn IIRC to deploy a new version of kubevirt you need to delete all old KubeVirt components and install a new one after it.
[code]
I think this flow will exist until we will write some operator.

Good point, we need to document upgrade procedure.

[2018-09-05 08:14] fabiand commented on #1445
To me this sounds like some magic (incolving CDI) around DataVolumes to provide a set of disks based on definitions - aka a `FedoraImage` definition, would create a `Fedora` DataVolume for the consumption in a VMI.

[2018-09-05 08:26] fabiand commented on #1333
Fix https://github.com/openshift/origin/pull/20351

Dupe of #1316

[2018-09-05 08:26] #1333 closed

[2018-09-05 08:27] fabiand commented on #1316
Btw - minishift is likely also affected,because it has the same bug as oc cluster up (as minishift is using oc cluster)

[2018-09-05 08:29] fabiand commented on #1319
@urabenst did you try 0.8.0-alpha.0 as well?

[2018-09-05 08:29] fabiand commented on #1318
@aglitke any ETA?

[2018-09-05 08:30] fabiand commented on #1276
@stu-gott can you take a look at this?

I also have the gut feeling that only exposing /dev/kvm should be enough.

[2018-09-05 08:35] #1205 closed

[2018-09-05 08:37] fabiand opened #1493 "Fine grained SELinux profile for launcher"
#1205 wsa about an SELinux issue `spc_t` was used to grant enough privileges to do whatever we need.
It is probably better to have a more fine grained profile.

[2018-09-05 08:38] fabiand commented on #1118
@stu-gott can you check if this is still the case?

[2018-09-05 08:38] fabiand commented on #1078
This is done, and works with auto-injection.

[2018-09-05 08:38] #1078 closed

[2018-09-05 08:40] fabiand commented on #977
This is done. The API changes were merged.

[2018-09-05 08:40] #977 closed

[2018-09-05 08:50] rmohr commented on #1276
We want to  get rid of `NET_ADMIN`. At the end tap devices will be created from outside the container and  libvirt/qemu can connect to the pre-created taps. That works without NET_ADMIN if the permissions on /dev/net/tun are set. The optimal solution is to also start virt-launcher as non-root (so no permission to create device from inside the container).

[2018-09-05 10:36] fabiand commented on #1276
What is teh risk of having NET_ADMIN capabilities on the launcher pod?

Is NET_ADMIN actually limited to the single pod or does it also apply to other namespaces i.e. o the host? That would be bad.

/cc @booxter @phoracek @yuvalif @SchSeba ?

[2018-09-05 11:42] fabiand commented on #1491
/cc @rthallisey something for the operator.

[2018-09-05 11:45] rthallisey commented on #1491
ack.  Thanks for the mention.  Adding to trello for tracking

[2018-09-05 11:59] urabenst commented on #1319
@fabiand No, I didn't try anything more recent than v0.7.0-alpha.2.

[2018-09-05 12:12] fabiand commented on #1319
Ok, could you give 0.8.0-alpha.2 a try?

Otherwise I'd close the bug for now.

[2018-09-05 12:14] SchSeba opened #1494 "MAC address starting with reserved value 0xFE"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
qemu process fails to start.
Error: unsupported configuration: Unable to use MAC address starting with reserved value 0xFE

Pod interface MAC address starting with reserved value 0xFE.

**What you expected to happen**:
the vm start.

**How to reproduce it (as minimally and precisely as possible)**:
Create a vm multiple tim

[2018-09-05 12:16] SchSeba commented on #1494
@mkletzander @berrange @dankenigsberg @rmohr

[2018-09-05 12:41] rmohr commented on #1454
@davidvossel that's correct right now. However, I think that at the end we need to align with the pod ready readiness on the VMI too. If no readiness probe is there, then set the VMI ready after a few seconds, otherwise align with the pod where the readiness probe will be executed. That means that we have to shovel the readiness condition free, so that it can again represent "ready to accept traff

[2018-09-05 13:42] rmohr commented on #1494
@SchSeba it might make sense to add that the issue is that CNI plugins may happily create MAC addresses which fall into this range (randomly generated). In order to stay connected with the provided network, in may cases we pass the mac address to the guest and remove it from tho CNI-created interface.

In that case we are not able to start the VMI because we get

[code]

[2018-09-05 14:00] gageorsburn commented on #1491
@cynepco3hahue The main thing I wanted to point out is that even after `kubectl delete -f kubevirt_old.yaml` was run an apiservice for the kubevirt API still existed.

[2018-09-05 14:02] dankenigsberg commented on #1494
@SchSeba do you know who allocated the illegal MAC address? Was it a CNI plugin, or KubeVirt?

[2018-09-05 14:27] fabiand commented on #1491
Yes the API server registration is the worst bit.

@davidvossel I actually wonder if we could add a stub api server
registration ot the release yaml, which is then "reused" by the real
registration. If it's in the release yaml, then removal with the yaml would
work.

[2018-09-05 14:35] SchSeba commented on #1494
@dankenigsberg The cni plugin creates the interface and we try to take this mac address from the pod interface and give it to the vm.

[2018-09-05 14:44] rmohr commented on #1491
We are reusing it if it already exists, so in theory it might work, but we are creating more objects (secrests for certificates for instance). Also moving kubevirt to a separate namespace than kube-system would not solve the whole issue, since not all things we need to create/use are namespaced.

I fear that right now, for a real `uninstall` doing what we do in `https://github.com/kubevirt/kubevir

[2018-09-05 14:50] berrange commented on #1494
Note also that the MAC address actually used/seen inside the VM by the guest OS must *not* be the same as the MAC address on the TAP device in the host. If they match then it can result in network errors from the kernel ""received packet on vnetX with own address as source address". So because libvirt uses 0xFE on the host TAP device, we must forbid use of 0xFE in the guest exposed MAC address. Es

[2018-09-05 14:54] rmohr commented on #1491
@fabiand but if we move kubevirt to a separate namespace, like you suggested we could at least shorten the needed commands in https://github.com/kubevirt/kubevirt/blob/master/cluster/clean.sh.

[2018-09-05 14:54] stu-gott commented on #1276
Note: this PR is somewhat related: https://github.com/kubevirt/kubevirt/pull/1372

However 1372 only addressed removing the tun device/NET_ADMIN capability if there are no networking devices at all.

I agree with @rmohr that creating the tun device within the pod, and thus requiring the permissions to do so is taking us in the wrong direction.

Please note, the reason that Pods currently have NET_

[2018-09-05 14:59] rmohr commented on #1276
Also #1404.

One of the intents of #1404 is to prepare the ground for `virt-handler` to prepare the network interfaces, which would also include the actual tap creation (which libvirt right now does and which needs the privieleges, libvirt can use pre-created taps directly), so that we can continue with removing privileges.

[2018-09-05 15:01] fabiand commented on #1491
Yes, a dedicated namespace should at least improve.

[2018-09-05 15:10] rmohr commented on #1276
@fabiand it is in general limited to the network namespace of the pod. Depending on the CNI implementation and additional networks this resides between being almost no security risk up to a huge one. I don't know if NET_ADMIN itself is risky enough to provide an escape route in general.

If we keep it we can for sure never hand over the pod to users. For instance no `kubectl exec` will work if the

[2018-09-05 16:57] davidvossel commented on #1454
@rmohr that's an interesting point about "ready" meaning that the pod (and ultimately the qemu process in our case) is ready to accept traffic.

In KubeVirt, we've been using the readiness checks to mean something different though. A "ready" VMI pod means that the KubeVirt components in that pod are online and ready. This indicates to virt-controller that it is time to schedule the VMI to the node

[2018-09-05 17:08] fabiand commented on #1454
https://github.com/kubernetes/community/blob/master/keps/sig-network/0007-pod-ready%2B%2B.md for some pod readiness context.

[2018-09-05 18:47] dankenigsberg commented on #1494
Si the bottom line is: we can delegate MAC address only from cni plugins
that would allocate valid ones, or explicit addresses.

Coincidentally, I've recently filed an rfe that would make ovn-cni be such
a plugin https://bugzilla.redhat.com/show_bug.cgi?id=1623260

Adding Petr to block fe* MACs in ovs-cni, too.

On Wed, 5 Sep 2018, 17:50 Daniel Berrange, <notifications@github.com> wrote:

[2018-09-06 06:17] yuvalif commented on #1276
I think this is the main reason why we should strive to remove this, if the pod does not have NET_ADMIN than we don't need to care whether it is a security risk or not.

[2018-09-06 07:29] fabiand commented on #1319
Very cool. Thanks.

[2018-09-06 12:13] fabiand commented on #1333
https://github.com/kubevirt/demo/pull/71 conains a workaround: https://github.com/kubevirt/demo/pull/71/files#diff-7efff1768a14c4df93c738d9c406385aR37

[2018-09-06 12:13] fabiand commented on #1316
https://github.com/kubevirt/demo/pull/71 conains a workaround: https://github.com/kubevirt/demo/pull/71/files#diff-7efff1768a14c4df93c738d9c406385aR37

[2018-09-06 12:14] fabiand commented on #1316
Workaround:
[code]

[2018-09-06 12:38] #1278 closed

[2018-09-06 15:42] karmab opened #1498 "running a coreos vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST?

/kind enhancement

**What happened**:
deploy a coreos vm and try to access with a ssh public key

**What you expected to happen**:
able to access it

**How to reproduce it (as minimally and precisely as possible)**:
import a pvc with coreos production image code
create a yaml with cloudinit and ssh public key and try to access the

FE

[2018-09-06 15:45] karmab commented on #1498
xml extra information
--
<qemu:commandline><qemu:arg value='-fw_cfg'/><qemu:arg value='name=opt/com.coreos/config,file=/tmp/ignition'/></qemu:commandline>

[2018-09-07 15:15] pkliczewski opened #1500 "subresources api definition not correct"
I started to experiment with openshift dynamic [client](https://github.com/openshift/openshift-restclient-python) and noticed that is failing during discovery.
`subresources.kubevirt.io/v1alpha2` endpoint  is returned when calling `https://127.0.0.1:32775/apis/` but discovery of `https://127.0.0.1:32775/apis/subresources.kubevirt.io/v1alpha2` fails due to empty response:
[code]
Kube-apiserver is c

[2018-09-07 15:48] pkliczewski commented on #1500
[Here](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-api/api.go#L264) is wrong the api definition. @davidvossel your comment gives explanation why it is ok but it seems to be not correct.

[2018-09-07 21:37] gageorsburn opened #1501 "ARP issues"
Edited: Not a route issue but an ARP issue.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Built images from master and deployed. Applied VMI in cluster/examples/vmi-fedora.yaml.

When a VM comes up it doesn't have network connectivity for a couple minutes until ARP finally goes through.

[code]

Fedora VMI:
[https://imgur.com/a/15wE6ra](https://imgur.com/a/15wE6ra)

[2018-09-08 04:54] gageorsburn commented on #1501
Hmm, I guess the container isn't supposed to have routes, but I'm seeing some weird behavior where sometimes my VMs can't hit anything. I'll keep trying to debug it further.

[2018-09-08 07:20] gouyang opened #1502 "VM memory validate should be more restricted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently the parameter of memory is a string, the validation of the example below is PASS, after the VM is created, it be started and get into `running` status, but it's not a functional VM, it should be caused by the parameter `MEMORY=2048`.

[code]
The working one is:
[code]

As an end user, I might run into th

[2018-09-09 07:56] gageorsburn commented on #1501
I've narrowed it down to an arp problem, but not sure if its our underlying network infra or kubevirt.

[2018-09-10 08:29] fabiand commented on #1501
@karmab didn't you also see some arp problems?

@phoracek did you see this bug before?

[2018-09-10 11:11] rmohr commented on #1502
These kinds of problems should finally be fixable, now that #1278 is merged. We were not able to reject such invalid VMIs before. @cynepco3hahue we still may to be too lax regarding this specific case, since just a number would still be a valid unit.

[2018-09-10 12:18] rmohr commented on #1502
@gouyang oh, actually the value 2048 is valid and makes sense, it is just too small to make the OS successfully boot (but the qemu process is still happily simulating the VMI environment). If you connect via VNC you probably see it crashing because of not enough memory. `2048` literally means 2048 bytes whereas `2048Mi` means 2048 MebiByte (note power of two here) and `2048M` means 2048 MegaBytes

[2018-09-10 12:30] SchSeba commented on #1501
@gageorsburn Can you please tell us about your environment?

openshift/kubernetes? (version)
network plugin that you are using? (flannel,calico,etc..)
kubevirt version

You try to ping a machine inside the cluster or outside? (can you try to ping pod from the vm)

[2018-09-10 13:04] karmab commented on #1501
no, i didnt hit this.
@gageorsburn i d suggest to try with f28

[2018-09-10 15:34] gageorsburn commented on #1501
@SchSeba latest stable which is 11.2 I believe.
Flannel, with multus. Calico used to be deployed in the ENV and we're running 0.8 on kubevirt. It's like it's really slow to get connectivity. Sometimes might take a minute or two but eventually I can ping out. We figured out if we ping'd from outside into the pod/vm it would help ARP go through. Just really strange. I'll work on getting more clearer

[2018-09-10 15:42] renner-osi commented on #1501
In one case debugging this weekend I observed the vm interface send arp towards gateway on host. This broadcast frame was successful and was able to verify through tcpdumps that all traffic was forwarded as expected in that direction.

On the return trip the the veth pair from host to pod was operating as expected as well. The new bridge name k6t-eth0 was the first device which did not service tra

[2018-09-10 16:15] davidvossel commented on #1500
I'm not sure what we can do about the resource list being empty. We don't want to advertise that the aggregated api endpoint serves any resources because that would conflict with our registered CRDs

[2018-09-11 06:25] #1502 closed, assigned to nobody

[2018-09-11 07:08] rmohr commented on #1500
@pkliczewski if we would return a definition here, would we have a way to tell the client about our subresources? If not, we should really return nothing here. I would not want that we are generating CRUD operations for a non-existing object.

[2018-09-11 07:11] rmohr commented on #1498
@karmab nothing against ignition in general, but what subset of cloud-init does it support? Does it not even   allow executing a bash-script?

[2018-09-11 07:12] rmohr commented on #1498
Also this may be helpful: https://kubevirt.io/user-guide/#/workloads/virtual-machines/startup-scripts?id=inject-ssh-key-using-a-custom-shell-script (you can also use the clear-text `userData` field instead of `userDataBase64` if you like).

[2018-09-11 07:15] rmohr commented on #1494
Yes and no. For as long as we don't start hot-plugging networks, we could easily set mac addresses which are not colliding with the allocated ones on the tap device. At least if libvirt would allow us disabling the extra check and if we create the tap for libvirt.

[2018-09-11 07:20] karmab commented on #1498
@rmohr indeed
- ignition doesnt directly support bash scripts, but it does support injecting files, so what i did in my tooling was to create oneshot systemd files which points to my script. maybe we could do something similar in kubevirt to give user this feature
reason for going with ignition was also because coreos-cloudinit, a fork of cloudinit, didnt work for me (neither on libvirt nor on kub

[2018-09-11 12:13] #991 closed

[2018-09-11 12:27] pkliczewski commented on #1500
@rmohr @davidvossel I pushed a PR which return empty array instead of `null`. It seems to be valid endpoint description - no description.

[2018-09-11 14:38] #1500 closed

[2018-09-11 14:39] davidvossel commented on #1500
thanks @pkliczewski !

[2018-09-11 18:23] rthallisey opened #1505 "Replace custom controller code with Kubernetes controller-runtime library"
/kind enhancement

Since April, the Kubernetes community has been developing a library for controller called [controller-runtime](https://github.com/kubernetes-sigs/controller-runtime) that is being consumed by other major projects like knative, all new kubebuilder projects, and relatively soon, the operator-sdk.

KubeVirt maintains it's own controller code using informers when it can consume the

[2018-09-12 02:58] gouyang commented on #1502
Thanks for the explanation, okay to close this.

[2018-09-12 06:43] cynepco3hahue commented on #1505
@rthallisey Does k8s also uses it?

[2018-09-12 07:18] rmohr commented on #1505
The library looks interesting. Here a few notes:

 * It looks like it could be successful and useful for simple controllers where you are monitoring a single resource type (e.g. just Pods, just a CRD).
 * It looks right now a little bit oversimplified to allow abstractions. We had something similar in the beginning in kubevirt.
 * I never saw the k8s primitives which we use as very complicated. We

[2018-09-12 11:58] fabiand commented on #1023
https://docs.okd.io/latest/admin_guide/diagnostics_tool.html is somewhat related

[2018-09-12 14:34] rthallisey commented on #1505
Currently, it's used by controllers and extensions with the goal of eventually be adopted by core k8s controllers.

[2018-09-12 14:49] SchSeba commented on #1494
@rmohr, @dankenigsberg

The problem of setting a specific mac on the vm interface and not taking it from the eth0 interface of the pod is that network plugins that implement mac filter functionality like openshift-sdn will block the vm traffic.

[2018-09-12 14:52] rmohr commented on #1494
Agreed. Re-reading my previous message, I actually meant: We can easily set mac addresses on the tap devices which are not colliding with the ones which are provided by cni plugins.

[2018-09-12 16:09] phoracek commented on #1494
@rmohr do I understand it correctly that we need to set MAC out of this range on pod nic that is later connected to the bridge (and connects it to the outside)? If so, we have a problem: when the MAC is out of the range, it fails with `RTNETLINK answers: Cannot assign requested address`.

[code]

[2018-09-12 18:51] mlsorensen commented on #1491
I actually ran into an interesting issue around this just a day ago. When I upgraded from kubernetes 1.11.2 to 1.11.3, suddenly namespaces wouldn't delete, they'd get stuck in 'terminating'. It looks to have been caused by a lingering 'v1alpha1.subresources.kubevirt.io' and kubernetes validating the namespace deletion against all the apiservices.

[2018-09-12 19:27] awels opened #1507 "DataVolumeTemplates doesn't copy PVC source to created DataVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When creating a Virtual Machine using a DataVolumeTemplates, the created Data Volume does not pick up a pvc 'source' and thus doesn't trigger the creation of the cloner pods.

**What you expected to happen**:
The created DV contains the pvc source from the Template.

**How to reproduce it (as minimally and precisely as po

[2018-09-12 19:28] awels commented on #1507
@davidvossel This is the one we talked about.

[2018-09-12 19:31] davidvossel commented on #1507
looks like the PVC source is getting stripped out of the DataVolume for some reason.

[2018-09-12 19:44] davidvossel commented on #1507
@awels I found the issue. It's in the CDI 1.1.1 release.

There's a DataVolume deepcopy function that KubeVirt uses to make a copy of the datavolume in it's informer cache. https://github.com/kubevirt/containerized-data-importer/blob/v1.1.1/pkg/apis/datavolumecontroller/v1alpha1/zz_generated.deepcopy.go#L90

The cnv 1.1.1 version of that deepcopy function doesn't include the PVC source, so when Ku

[2018-09-12 22:05] gageorsburn commented on #1491
@mlsorensen Not sure if you've come across the work around for that yet but you can output the namespace to json, delete the finalizer and apply the namespace json.

[2018-09-12 22:17] dankenigsberg commented on #1494
Petr, I bet your problem is the lsb of your 0x67, it means multicast.

As long as ovs-cni does not have a MAC pool, I'd ask you to choose only
locally-administered unicast addresses that doesn't start with fe.

On Wed, 12 Sep 2018, 12:09 Petr Horacek, <notifications@github.com> wrote:

[2018-09-12 22:28] phoracek commented on #1494
@dankenigsberg you are right, pushed a PR that should resolve the problem https://github.com/kubevirt/ovs-cni/pull/19

[2018-09-13 11:26] fabiand opened #1509 "virt-handler is ready even if resources are not announced yet"
/kind bug

**What happened**:
Deployed kubevirt, and checked the node resources. kvm and tun were missing.

**What you expected to happen**:
The resource are available once handler is ready.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy kubevirt, and check resources right after deployment.

**Anything else we need to know?**:
This might get fixed with https://github.com

[2018-09-13 14:13] fabiand commented on #1230
Follow up - We probably do not have to limit to q35 strict, but rather to the q35 family.

[2018-09-13 17:05] awels commented on #1507
@davidvossel I just created a 1.2.0-alpha.1 release here: https://github.com/kubevirt/containerized-data-importer/releases/tag/v1.2.0-alpha.1

[2018-09-14 06:31] gageorsburn commented on #1501
Also, this seems to happen a decent amount:

[code]

[2018-09-14 06:34] fabiand commented on #1501
Hm. Let's see if we find something

[2018-09-14 07:11] karmab commented on #1501
Can we know which OS the host uses?
I hit arp issues a week ago but was using centos7.2. Upgrading to 7.5 (
newer kernel so) solved it

El El vie, 14 sept 2018 a las 8:34, Fabian Deutsch <notifications@github.com>
escribió:

--
Karim,

[2018-09-14 13:43] stu-gott commented on #1509
On second thought, as stated, this issue is basically asking for a regression. On systems where a device isn't present, we can assume it will *never* be present. In such a case blocking startup of virt-handler (or reporting it as not-ready -- same thing) is the wrong course of action.

Instead of thinking of device plugins tying into the overall readiness of the pod, think of their capacity as mor

[2018-09-14 15:47] gageorsburn commented on #1501
@karmab Fedora Atomic 28 Kernel is 4+

[2018-09-14 16:04] booxter commented on #1501
Initial procedural thoughts on the bug report:

1. please expand description, it doesn't really tell what actually happens (I see logs but I don't see ping command, or ARP cache dump, or tcpdump output...) Please explain in words what you expect to happen, and what doesn't happen, and provide output. (I see there is "ip r" empty result posted but AFAIU you no longer think there is an issue with ro

[2018-09-14 19:48] awels commented on #1507
With the 1.2.0 CDI release, it fixes the problem, so you can close this issue

[2018-09-14 20:42] gageorsburn commented on #1501
@booxter Added some more details. We're still actively debugging and have this issue for tracking purposes of it with the broader community.

[2018-09-16 05:17] renner-osi commented on #1501
[root@fedora /]# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
3: eth0@if37: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1450 qdisc noqueue

[2018-09-16 06:36] EdDev commented on #1501
Only 3 options come to mind:
- Loop
- Duplicate mac on the LAN.
- Bug in the kernel.

A tcpdump of the traffic may reveal what are these packets (not on k6t-eth0 but on the node/host side).

If I understand correctly, the mac address from eth0 (of the pod) is passed to the VM and then replaced. If the relocated mac address is "activated" before the one on eth0 is replaced, it may explain the "rece

[2018-09-16 08:36] yuvalif commented on #1501
Maybe something went wrong when moving the MAC from the pod's eth0 to the VM's eth0?
(although the code is clearly removing it from the pod before adding it to the VM).

@gageorsburn  can you please run ```ip l``` on the VM?

@EdDev the only IP address that remain on the pod is the one we set on the bridge and use for the DHCP server (169.254.75.10 in the case above). But this is working without a

[2018-09-16 23:53] gageorsburn commented on #1501
[code]

Here I noticed that when the VM comes up. The arp entry on the host is STALE and remains STALE until the host attempts a ping then it becomes REACHABLE.

[2018-09-17 01:35] renner-osi commented on #1501
Please reference this original capture to help with centering around the path of the packet. What it shows is not only the mac address information that is being requested but also the headers from tcpdump captures at all 5 points of interest along the path.

I don't disagree that there needs to be more investigation but want to make sure we don't skip over the fact that all forwarding behavior is

[2018-09-17 19:16] booxter commented on #1501
There are lots of interesting snippets, but I am not sure they all belong to the same reproduction attempt.

Could someone post, or confirm, all 'ip a' / 'ip l' / 'ip neigh' commands for all of: host, in-pod, in-vmi. I have a suspicion that the k6t-bridge (or one of its ports) carries the VMI MAC address, short-circuiting communication and not allowing ARP reply to get back into VMI, but I can't c

[2018-09-17 19:59] gageorsburn commented on #1501
@booxter You are correct they do not. One minute and I'll get you consistent output for a run.

[2018-09-17 20:10] gageorsburn commented on #1501
@booxter

container:
[code]

host:
[code]

[VMI](https://imgur.com/gbfMVhG)

[2018-09-18 15:15] renner-osi commented on #1501
@booxter you are correct that explains the dmesg logs as well as the forwarding behavior. How do these two interfaces come to have the same mac address and what do you recommend we do to resolve ?

[2018-09-18 22:09] karmab opened #1520 "virtctl vnc is barely usable over a slow link"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
i tried to use virtcl vnc on a relatively slow link. i never saw the console

**What you expected to happen**:
see a console

**How to reproduce it (as minimally and precisely as possible)**:
when accessing through a vpn for instance, virtcl vnc is not able to display anything

**Anything else we need to know?**:
it seems

[2018-09-19 06:39] slintes commented on #1520
Hey @karmab, just to be sure: what do you mean with "I never saw the console"? Did remote-viewer show "waiting for display 1"? If so, and if you're using Openshift CRI-O, it's fixed by https://github.com/kubevirt/kubevirt/pull/1516

[2018-09-19 07:42] karmab commented on #1520
@slintes this is indeed exactly my issue

[2018-09-19 17:41] #1520 closed

[2018-09-19 21:01] booxter commented on #1501
@renner-osi I don't think that's what happens here. See in the output posted:

4: k6t-eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1450 qdisc noqueue state UP group default
    link/ether 0a:58:0a:9e:ce:ea brd ff:ff:ff:ff:ff:ff

But inside the VMI, the MAC address is 0a:58:0a:e9:40:81, which is different. No other interface in the pod or on the host carries this address. This is not a duplicate MAC

[2018-09-19 21:55] booxter commented on #1501
Also, for the record, there was a comment suggesting that VMI neigh entry for gateway starting in STALE state is somehow a problem. It is not in general: these entries become STALE just for the lack of traffic for this specific MAC address in a period (60 secs is default I believe). Once you ping an IP address, it sends a ICMP packet and sees a reply from gateway, and updates the entry. (If it won

[2018-09-19 22:02] booxter commented on #1501
Thanks for the latest upload of output, it was helpful (to understand that it's NOT the case of duplicate MAC addresses in pod and VMI). I just deployed with k8s-1.11.0 provider (as well as with 1.10.* but the behavior is same), it has flannel CNI, and I used the example for vmi-fedora as specified. I couldn't reproduce the issue. I logged in via virtctl console and pinged google.com and it worked

[2018-09-19 22:34] gageorsburn commented on #1501
@booxter Happens every time. I completely understand the amount of information being asked here. It's tough to debug with little information to go on.  I would be more than happy to get your access to this environment and even walk you through how to reproduce it.

[2018-09-19 23:00] gageorsburn commented on #1501
@booxter Do you have a way I can contact you privately? E.g slack or redhat rocketchat.

[2018-09-20 05:15] #1403 closed

[2018-09-20 07:08] rmohr commented on #677
/remove-lifecycle stale

[2018-09-20 07:08] rmohr commented on #677
@pkliczewski assigning that to you since I think you are looking into that.

[2018-09-20 07:09] rmohr commented on #925
/remove-lifecycle stale

[2018-09-20 07:09] rmohr commented on #922
/remove-lifecycle stale

[2018-09-20 07:10] rmohr commented on #933
/remove-lifecycle stale

[2018-09-20 07:11] rmohr commented on #933
@gouyang is that something which you guys have on the list for testing?

[2018-09-20 07:13] slintes commented on #812
/remove-lifecycle stale

[2018-09-20 07:14] slintes commented on #812
I'd like to revive the PR

[2018-09-20 07:16] rmohr commented on #316
Will this be solved with e.g. ovs-cni or should this stick around until DPs are used in the project for networking?

[2018-09-20 07:17] rmohr commented on #128
With the move to standardci there is right now nothing we want to do.

/close

[2018-09-20 07:17] #128 closed

[2018-09-20 07:19] duyanyan commented on #927
https://github.com/kubevirt/kubevirt/pull/1360

[2018-09-20 08:04] rmohr commented on #956
We use libvirt 4.2 right now.

/close

[2018-09-20 08:04] #956 closed

[2018-09-20 08:06] rmohr commented on #965
@cynepco3hahue let's check if we are passing all of the conditions through right now regarding to scheduling issues. You added at least parts of it.

[2018-09-20 08:15] slintes commented on #1057
I can't find these strings in the repo anymore, so I guess it was fixed in the meanwhile. Please open a new issue if you find more typos, thanks!

/close

[2018-09-20 08:15] #1057 closed

[2018-09-20 08:16] rmohr commented on #861
Picking up the discussion. To summarize my thoughts, we have:

 * W have the same reachability guarantee through kube-dns backed services for pods like we have for VMs
 * We have `virtctl expose <myvm>` which works on VMs, to make life for people easy
 * Labels on the VMI in the VM template work like they work on pods regarding to services
 * For accessing non-workload services like ssh, I would r

[2018-09-20 10:21] fabiand commented on #1052
@rmohr is this still an issue?

[2018-09-20 10:33] fabiand commented on #1029
All done.

[2018-09-20 10:33] #1029 closed

[2018-09-20 10:34] fabiand commented on #173
@rmohr do we already expose the crash informations to the degree that
libvirt provides them?

[2018-09-20 11:11] fabiand commented on #861
My take would be to close this.

The similar behavior to the Kubernetes pod and service relationship is what makes sense for me here as well.

[2018-09-20 11:18] fabiand commented on #1024
Is this still relevant @rmohr?

[2018-09-20 11:34] rmohr commented on #1024
Preparing a PR. Afaik the only outstanding issue which we have which will change the API.

/remove-lifecycle stale

[2018-09-20 11:39] rmohr commented on #1166
virt-controller now has its own service account and  its own rbac roles.

/close

[2018-09-20 11:40] #1166 closed

[2018-09-20 13:14] rmohr commented on #1509
@fabiand by "ready", do you mean that virt-handler reported "ready" to the kubelet, or that it marked the node with it's schedulable label?

[2018-09-20 13:54] fabiand commented on #615
@davidvossel is this still a thing?

[2018-09-20 13:55] #736 closed

[2018-09-20 13:56] fabiand commented on #772
Done: https://travis-ci.com/kubevirt/common-templates/

/close

[2018-09-20 13:56] #772 closed

[2018-09-20 13:57] fabiand commented on #771
We rely on OpenShift Templates for now - not in core, but outside of it,
see:

https://github.cmo/kubevirt/common-templates/

/close

[2018-09-20 13:57] #771 closed

[2018-09-20 13:58] ant31 opened #1527 "vm and vmirs are redundant"
Hi,

I've been using kubevirt and I found that having VM and VMIRS is a bit confusing and the distinction hasn't real benefit but complexify things.

Unless I miss a important piece of knowledge:
- VM are like VMIRS with replicas set to 1
- VMIRS are like VM with state=running

I suggest to drop VMIRS and add the replicas field in the VM specs
As an alternative, I would do VMRS that manages multip

[2018-09-20 14:05] ant31 opened #1528 "PodPresets for devices.disk and volumes"
/kind enhancement

I've wanted to create presets with images, e.g:
[code]
and
[code]

I would expect to have a merge and the disk and volume appended to the VM spec

[2018-09-20 14:18] ant31 commented on #975
Sorry, I don't know anything about the project, so I have some naive question:

1. Why does it has to run on master nodes?
2. Is there an issue to run two virt-controller on the same node, a part from solving HA?
e.g: it's an issue for LB that use hostNetwork, it's an issue for log shipper that would ship logs twice....
3. In which cases it must be scaled up ?

[2018-09-20 14:42] rmohr commented on #975
Hi @ant31

That are sometimes the best ones.

It does not have to run on master nodes. We can simply faster recover in case of e.g. a cluster-split.
This way we can ensure that virt-controller and virt-api already runs in the cluster-part which will recover.
If we don't do that, after kubernetes itself recovers in a cluster part, it will first have to start the kubevirt components again, pulling i

[2018-09-20 14:44] rmohr commented on #975
What I forgot to mention: Our controller are tightly coupled to e.g. pods, including  finalizers. So the garbage collector of k8s and other components can continue their work faster in a normal fashion if our controllers and APIs are recovering fast.

[2018-09-20 15:00] rmohr commented on #615
/remove-lifecycle stale

[2018-09-20 16:17] booxter commented on #1501
@gageorsburn I am available in #kubevirt IRC channel on freenode and internal network.

[2018-09-20 19:27] booxter commented on #1501
For the record, @gageorsburn gave me access to the cluster, and I've just noticed that their virt-launcher images are not fedora based. Looks like debian:

[code]

I would suggest to rebuild images with the right base image (perhaps it's time to revisit OSI usage of - apparently - custom Dockerfiles for the images?) and retry.

[2018-09-20 20:39] gageorsburn commented on #1501
@booxter Hmmm, shouldn't be debian:

[code]

Also it looks like you're execing into the registry image container and not the compute container.

[2018-09-20 20:42] gageorsburn commented on #1501
@booxter yeah definitely something with the registry disk using ubuntu, not related to issue at hand

[code]

[2018-09-20 21:00] gageorsburn commented on #1501
@booxter Hmm proxy arp seems to be set to 0 inside the container, i'm going to try setting it to 1 and see if that fixes things.

[2018-09-21 03:17] gageorsburn commented on #1501
I just noticed this subtle line:

[code]

[2018-09-21 06:55] rmohr commented on #1528
@ant31 sounds good from my perspective. `volumes` needs  to be addded. I see that in theory we already have `disk` support. However, I could not manage to make it work (setting features and other machine details works).

@stu-gott seems like we don't have tests for disks. Could you have a look?

[2018-09-21 07:07] rmohr commented on #1527
VM is more like a not yet existing `VirtualMachineStatefulSet` with replicas set to 1. Identity is cruicial. In case something is not right it potentially will not do anything until admins/users resolve issues.

One example: A single activated windows guest which relies on a consistent identity of the machine. If something is not  right with the machine manual intervention may be necessary.

VMIRS

[2018-09-21 07:11] rmohr commented on #1527
Maybe we can explain that better in the user-guide? It would be great to get some feedback on these passages: [When to use a VirtualMachine](https://kubevirt.io/user-guide/#/workloads/controllers/virtual-machine?id=when-to-use-a-virtualmachine) and [When to use a VirtualMachineInstanceReplicaSet](https://kubevirt.io/user-guide/#/workloads/controllers/virtual-machine-replica-set?id=when-to-use-a-vi

[2018-09-21 08:34] rmohr commented on #1527
Indeed. Still the VMIRS goes more into the direction of a `Deployment`, whereas the VM goes more into the direction of a `StatefulSet` with replica 1.

[2018-09-21 08:41] rmohr commented on #1527
Let me explain that a little bit more: Since the VM is about identity, we have to ensure that we hand out predictable names, bios UUIDs, ... to the VMIs. If e.g. the third replica `replica3` in this case would be stuck and we have specified that we want three replicas, we can't simply create another VM with name `replica4`. It would have a never-before seen identity then. In this case an admin/use

[2018-09-21 08:46] ant31 commented on #975
Thank for the detailed answer.

1. In some cases the user don't have access to master and scale master: most managed kubernetes don't provide access to the control plane (GKE, azure, openshift online?).
Those user can't even run workload on nodes role=master. There's also cases where only cluster administrator can deploy on masters/kube-system and other teams are limited to one namespace.

2. It a

[2018-09-21 09:01] rmohr commented on #975
Out of curiosity: They can't even schedule stuff on master nodes if they are cluster-admins and explicitly create pods with the corresponding tolerations?

Anyway, KubeVirt needs a bare-metal cluster. It does not run on these providers. KubeVirt is an add-on which needs to be installed by cluster-admins. Users can't install it on their own.

virt-api scales horizontally and should normally get les

[2018-09-21 09:10] rmohr commented on #975
And to highlight that: KubeVirt can only be installed and run once on a whole cluster. It also comes with its own aggregated RBAC roles, ...

[2018-09-21 09:46] fabiand commented on #975
The idea ot use Deployment with pod anti-affinity rules sounds charming to me.

It looks better controllable than the DaemonSet approach.

Just my 2ct

[2018-09-21 09:48] ant31 commented on #1527
Thank you, that's clear !

[2018-09-21 09:48] #1527 closed

[2018-09-21 12:10] rmohr opened #1530 "Old socket and watchdog files can stay around"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In case virt-handler is not responsive and admins or fencing controllers do hard deletes on VMIs and let the Pod shutdown itself, then we do not remove watchdog and socket files which are used to communicate between virt-handler and virt-launcher.

Part of the issue is that virt-handler will detect stale watchdog files o

[2018-09-21 13:05] petrkotas opened #1532 "Failing shutdown when provided with graceful period"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When provided with graceful period the VMI does not shutdown. Instead it crashes.
This does not happen every time.

**What you expected to happen**:
VMI to shutdown gracefully

**How to reproduce it (as minimally and precisely as possible)**:
Run test suite multiple time with focus on `It("should run graceful shutdown", f

[2018-09-21 19:45] garimavsharma commented on #1001
I'm seeing the same error when running the kubevirt tutorial [1]

[root@student001 ~]# ./virtctl console testvm
Escape sequence is ^]
                     Can't connect to websocket (400): Unable to connect to VirtualMachineInstance because phase is Scheduling instead of Running

What release is this fixed in ?

[1] https://github.com/scollier/kubevirt-tutorial

[2018-09-22 10:40] SchSeba commented on #1001
Hi @garimavsharma

Please try to use the v0.8.0 release.

[2018-09-23 11:47] fabiand opened #1536 "Some disk leads to path collision"
/kind bug

**What happened**:
Used this VM:

[code]

and got this event:

[code]

**What you expected to happen**:
VM could start

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`): v0.8.0
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or har

[2018-09-24 07:41] fabiand opened #1538 "virtctl vnc fails to quick if VM is running but is not"
/kind bug

**What happened**:
VMI in an error condition:
[code]

and this fails:

[code]

The bug is that this fails right away, it does not fail after 1m0s (as it's stated).

**What you expected to happen**:
That it waits 1min0s before it fails.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtct

[2018-09-24 07:42] fabiand opened #1539 "virtctl console fails if VM is marked as running but is not"
/kind bug

**What happened**:

[code]

when a VMI is in this state:

[code]

**What you expected to happen**:
Console does nto connect while the VM is in a bad state OR it waits until it's good

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`): v0.8.0
- Kubernetes version (use `kubect

[2018-09-24 08:58] rmohr commented on #1530
/cc @yanirq @davidvossel

[2018-09-24 12:19] #1536 closed

[2018-09-25 06:55] #1077 closed

[2018-09-25 07:12] rmohr commented on #1153
We definitely need this.

/remove-lifecycle stale

[2018-09-25 08:03] fabiand opened #1541 "Support for the default ServiceAccount token"
/kind enhancement

**What happened**:
Within a VM I want to use kubectl to access the kubernetes cluster the VM is rnuning on.

Pods have a [default SA token](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-to-access-the-api-server) which they can use to access the cluster.
This - or whatever token the pod has - should be consumab

[2018-09-25 08:31] fabiand opened #1542 "ConfigMap (and Secret) Volume is not usable (b/c not accepted by webhook adm controller)"
/kind bug

**What happened**:
Posted and started a VM with ConfigMap disk:
[code]
This failed with:
[code]

**What you expected to happen**:
VM could be started.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
The webhook adm controller does probably not know about the new disk type, see: https://github.com/kubevirt/kubevirt/blob/master/pkg/v

[2018-09-25 08:40] mfranczy commented on #1542
The webhook adm controller knows about the new disk type, https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-api/webhooks/validating-webhook/validating-webhook.go#L257

I am checking what's wrong...

[2018-09-25 08:46] fabiand commented on #1542
True. I wonder what I missed when I lokoed at the source.

[2018-09-25 08:51] mfranczy commented on #1542
Can you provide spec which you used? I would like to see what other volumes you had there.

[2018-09-25 09:03] mfranczy commented on #1542
Ok I see what's the problem, https://github.com/kubevirt/kubevirt/tree/release-0.8/pkg there is no config pkg which provides ```configMap``` and ```secret``` feature.

[2018-09-25 09:05] fabiand commented on #1542
Obviously!

It's not in 0.8.0.

My bad

[2018-09-25 09:05] #1542 closed

[2018-09-25 11:51] gouyang opened #1546 "'--help' is a flag in virtctl command's help"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
'--help' is a flag in virtctl command's help

[code]
**What you expected to happen**:
Remove '--help' in virtctl command's help output.

[2018-09-25 14:31] davidvossel opened #1547 "VMI console with unprintable characters and echoing commands back to terminal"
/kind bug

**What happened**:

virtctl console <vmi name> now results in terminal access echoing back everything I type in the terminal twice.

Example.

[code]

The console shouldn't be printing back what I write twice like that.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

create an alpine or cirros vmi. connect to the console using virtct

[2018-09-25 14:32] davidvossel commented on #1547
@slintes I think this might be related to the recent changes you made to fix vnc for crio.

[2018-09-25 15:46] slintes commented on #1547
yep, will have a look

[2018-09-25 18:39] xsgordon commented on #1316
@fabiand when are we expecting this to no longer be required? I ask because I see the getting started content would still fail on Minishift today (it uses 0.8.0 but does not list these workarounds).

[2018-09-25 18:50] fabiand commented on #1316
The workaround for oc and minishift will be required until openshift
releases an update to 3.10 or 3.11.

We shoudl adjust the getting started content in the meantime ...

[2018-09-26 09:21] rmohr opened #1551 "/dev/kvm is sometimes not present"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**One** out of many tests in https://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2017//artifact/check-patch.k8s-1.11.0-release.el7.x86_64/mock_logs/script/stdout_stderr.log shows

[code]

so `/dev/kvm` is there in general. Looks like this is an issue on our side.

**What you expected to happen**:

**How to

[2018-09-26 10:13] fabiand opened #1552 "Meanigful error message when disk.img is not present on PV"
/kind enhancement

**What happened**:
A PV without a disk.img was attached to a VM.
And a libvirt error message was shown, including some praivte launcher paths.

**What you expected to happen**:
A _meaningful_ error should be show in the VM status telling that the disk.img is not present.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
We sh

[2018-09-26 10:13] fabiand commented on #1551
/cc @nertpinx

[2018-09-26 10:29] rmohr commented on #1552
@fabiand could you add the version and the message? At least master should just initialize the PV behind the scenes.

[2018-09-26 10:30] rmohr commented on #1552
/cc @mfranczy

[2018-09-26 10:38] fabiand commented on #1552
Indeed. It was v0.8.0. I don#t recall the message but will provide it.

[2018-09-26 10:41] fabiand commented on #1552
Fixed with #1349

[2018-09-26 10:41] #1552 closed

[2018-09-26 11:53] fabiand opened #1553 "Move components to dedicated namespace"
/kind enhancement

This issue is about discussing to move the kubevirt infra components to their own namespace.
Compared to the current approach (all living in kube-system) this logical grouping of namespaced components  has a few advantages:

- Easier to identify relevant KubeVrt components
- Easier to retrieve logs from infra components (as the components are easier to identify)
- Avoiding to cl

[2018-09-26 14:28] alvaroaleman commented on #1445
Yes, that is exactly what I am looking for

[2018-09-26 14:39] alvaroaleman commented on #1444
Say I have a set of physical machines on which I spawn VMs via kubevirt. I do not care too much about the individual instances so I use a `registryDisk` instead of a PVC for their root volume. I want the option to specify the virtual size of the root disk, thought.

Currently I have to do that by creating multiple `registryDisks` that only differ in the virtual size of the contained QCOW2.

This v

[2018-09-26 14:41] alvaroaleman commented on #1444
The PVC template inside the VM sounds like an awesome idea, is there some issue that tracks the progress on that? Potentially I could spend some time on it if no one is working on it yet.

I do btw not have permissions to access the linked google docs document.

[2018-09-26 14:41] petrkotas opened #1555 "Validation webhook panics when no VMI found in cache"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Validation webhook panics, when VMI could not be found in object cache.

**What you expected to happen**:

Validation webhook should retry or simply does not panic.

**How to reproduce it (as minimally and precisely as possible)**:

Call consecutively two calls to API: 1) create VMI, 2) get VMI.
Sometimes it gets the VMI

[2018-09-26 14:51] rmohr commented on #1555
@petrkotas we merged https://github.com/kubevirt/kubevirt/pull/1549 today. This may have solved the issue. Could you check?

[2018-09-26 14:56] fabiand commented on #1444
I don't think that there is an issue for having a registryDisk as a
template for PVCs.

[2018-09-26 14:59] #1507 closed

[2018-09-26 15:14] alvaroaleman commented on #1444
template for PVCs.

Thats not what I meant, my comment was regarding the `volumeClaimTemplate` inside the `VirtualMachine` definition. But judging from the comments on that doc it seems to me that this will instead by done by defining a `DataVolume` as part of a VM spec, right?

[2018-09-26 18:48] #1547 closed

[2018-09-27 04:11] j-griffith opened #1558 "Incorrect manifest_docker_prefix when using external provider"
/kind bug

**What happened**:
Using the external provider, and a DOCKER_PREFIX of "jgriffith" (my dockerhub account), images are built and pushed to my repo correctly, however when the manifests are generated the image value has ```/kubevirt``` appended to it.  In other words the image listed in the manifest is ```jgriffith/kubevirt/xxxx``` which is not a valid image source.

**What you expected t

[2018-09-27 06:01] petrkotas commented on #1555
@rmohr of course, on it

[2018-09-27 06:33] #1558 closed

[2018-09-27 08:13] fabiand commented on #1444
Right, thanks for clarification.

I'd not be to opposed against plain claimTemplates, as dataVolumes will
have additional dependencies (and additional features), claimTeplates would
work out of the box - thus a win as well.

[2018-09-27 13:43] rmohr commented on #1501
right. Good catch.

[2018-09-28 10:08] fabiand commented on #1509
I have to close this - Right now I can not provide enough details (as I don't have them anymore) to provide enough context. I should have provided enough informations up front.

Sorry for the noise.

[2018-10-01 06:58] slintes opened #1569 "Several tests fail on the k8s multus cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

For every PR several tests on the k8s multus cluster fail. See e.g. http://jenkins.ovirt.org/job/kubevirt_kubevirt_standard-check-pr/2036//artifact/check-patch.k8s-multus-1.11.1-release.el7.x86_64/mock_logs/script/stdout_stderr.log

**What you expected to happen**:

Successful tests

**How to reproduce it (as minimally a

[2018-10-01 07:09] rmohr commented on #1081
@yuvalif I never managed to reproduce it. Did you see this again? Can we close it?

[2018-10-01 09:28] fabiand commented on #961
/remove-lifecycle stale

[2018-10-01 10:05] rmohr commented on #994
The issue still exists.

/remove-lifecycle stale

[2018-10-01 13:18] rmohr commented on #816
/remove-lifecycle stale

[2018-10-01 17:29] booxter commented on #1017
Still a reasonable issue / enhancement.

[2018-10-02 08:47] yuvalif commented on #1081
@rmohr didn't try that for a long while (didn't need to add new pods). OK to close.

[2018-10-02 08:50] fabiand opened #1576 "[tracker] API changes"
A couple of API changes we want to do:

- [x] volumeName https://github.com/kubevirt/kubevirt/pull/1570 (probably a breaking change/non migratable)
- [x] registryDisk #1730
- [x] launcher ownerReference https://github.com/kubevirt/kubevirt/pull/1641/
- [x] q35 https://github.com/kubevirt/kubevirt/pull/1718
- [x] dedicated namespace https://github.com/kubevirt/kubevirt/issues/1553
- ~[ ] move to qu

[2018-10-02 08:55] rmohr commented on #1576
@fabiand probably also bevore `v1beta1`?

[2018-10-02 08:55] rmohr commented on #1081
/close

[2018-10-02 08:55] #1081 closed

[2018-10-02 09:09] fabiand commented on #1576
Well, could be.

To me it would e important that we look through our API and see what we
think should be changed - to have a good bag of changes.
I'm fine in then doing the changes before 1b1 - I think it's even good -
thenw e have more time to stabilize on the settled API.

[2018-10-02 12:37] fabiand commented on #816
/assign slintes

[2018-10-02 12:37] fabiand commented on #816
Assigned to you @slintes because it should be fixed by #1540

[2018-10-02 12:45] fabiand commented on #906
Before the automation closes this, I'm going to close this :)

The previous comment mentions workarounds. There is nothing more be can do in an elegant fashion.

[2018-10-02 12:45] #906 closed

[2018-10-02 12:53] fabiand commented on #1308
xref https://github.com/kubevirt/kubevirt/issues/1576

[2018-10-02 12:54] fabiand commented on #1444
To be clear:

For local storage this request makes sense, we also have this with local ephemeral storage in kubernetes: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage

[2018-10-02 15:04] #945 closed

[2018-10-03 06:00] yuvalif commented on #744
@fabiand can we close this one? did we get feedback that this is needed n top of "virtctl expose"?

[2018-10-03 07:46] fabiand commented on #1569
@SchSeba @dankenigsberg please take a look with higher priority. As failing CI affects everybody.

[2018-10-03 10:16] SchSeba commented on #1569
I am looking into that.

[2018-10-03 17:15] gageorsburn opened #1579 "Custom DHCP Options"
As a virtual network operator, I want to be able to pass custom dhcp arguments such as `dhcp.OptionTFTPServerName` so that virtual network appliances will be able to load configuration. An extendable solution should be implemented so that any dhcp options that do not interfere with what kubevirt interface setup requires.

As an example the api could look like,

[code]

[2018-10-03 17:17] gageorsburn commented on #1579
I've been working on this change, and will submit a PR to close this pretty soon, could I be assigned this if this is something that would be wanted?

[2018-10-03 20:14] jtudelag opened #1581 "Kubevirt 0.8.0 virt-handler DS only run Pods in computes nodes when deployed in OpenShift"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

After deploying kubevirt 0.8.0 on an OCP 3.10.45 cluster deployed on AWS,  virt-handler DS Pods were only running in compute Nodes.

[code]

I would say the main reason is that there is a default node selector in the master-config.yaml. This could be avoided by having  kube-system annotated with:
[code]
Which I dont think is the ri

[2018-10-04 06:43] slintes commented on #1579
/assign @gageorsburn

[2018-10-04 07:05] rmohr commented on #1581
@jtudelag ah now I think i get it. The issue is now that a project could independent of `virt-handler` try to start VMIs on that node because it can override the default selector and then we don't have virt-handler there. That's indeed interesting. We would then have the following situation:

 * VMIs never get scheduled to a node where virt-handler is not running (virt-handler registers itself on

[2018-10-04 08:58] rmohr opened #1584 "VirtualMachineInstancePresets contain much more fields than are actually considered when merging"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The `VirtualMachineInstancePreset` contains a full `DomainSpec`, which indicates that it is possible to preset arbitrary elements. In reality it is only possible to set certain sections in the spec. The rest is simply ignored.

**What you expected to happen**:

Create a `DomainPresetSpec` which only contains structs and

[2018-10-04 08:58] rmohr commented on #1584
/cc @stu-gott

[2018-10-04 09:06] fromanirh commented on #1375
we don;t want to go in this direction after all

[2018-10-04 09:06] #1375 closed

[2018-10-04 10:12] fabiand commented on #1487
Do you have a link of how this can be expressed in yamls?

[2018-10-04 10:14] fabiand commented on #1329
This is now available by using multus: https://github.com/kubevirt/user-guide/blob/master/workloads/virtual-machines/interfaces-and-networks.md#multus

[2018-10-04 10:14] #1329 closed

[2018-10-04 10:16] rmohr commented on #1487
@fabiand didn't you yourself close the PR which started expressing it as yaml a few days ago? #732

[2018-10-04 10:19] #955 closed

[2018-10-04 10:40] fromanirh opened #1585 "VM fails to start with "XML error: Memory size must be specified via <memory> or in the <numa> configuration""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm trying to run a EL7.5 VM for benchmark purposes. The startup fails with the error reported above

**What you expected to happen**:
The VM starts

**How to reproduce it (as minimally and precisely as possible)**:
I used this YAML:

[code]

seems consistent with the example in https://github.com/kubevirt/kubevirt/blob/ma

[2018-10-04 11:53] rmohr commented on #1585
@fromanirh so there is definitely a bug. The message you get is total garbage, since it should fail much earlier. The reason you get this error is that the `resources` section is wrong. It needs to be under `spec.domain`:

[code]

In your case the `resources` section gets silently removed during the post and then there is no memory requested.

[2018-10-04 12:05] fromanirh commented on #1585
@rmohr ops, silly mistake from me!. Indeed it works just fine with the change you described.
I guess better validation would have helped figuring out the mistake.

[2018-10-04 12:36] stu-gott commented on #1584
While it is true that not all fields are merged, I wonder if this is just an oversight when a new field is created in the DomainSpec. Are there really any fields that specifically should not be merged?

[2018-10-04 12:54] rmohr commented on #1584
Until explicitly requested, I would for instance not allow setting the UUID in the preset.

[2018-10-04 15:35] jtudelag commented on #1581
@rmohr I firstly open the issue because of two reasons:

a) By default since 3.9 OCP Masters are schedulables, and there are use cases (Big bare-metal nodes) where you can allow App workloads to run there. So why not running VMs there.
b) Because not all the nodes of the cluster where ruuning a DS Pod, which was counter-intuitive for me. For me, DS Pods should run on every node.

But reading k8s D

[2018-10-04 15:37] rmohr commented on #1581
Makes sense and would align with the goals of #1553.

[2018-10-04 15:43] jtudelag commented on #1581
@rmohr Good to know!! It would a matter of discussion then if the virt-handler DS Pods should run in every node or not. As easy as adding the annotation `openshift.io/node-selector: ""`

[2018-10-05 08:34] rmohr commented on #1584
test

/lifecycle stale

[2018-10-05 08:37] rmohr commented on #1584
/remove-lifecycle stale

[2018-10-05 15:38] gageorsburn opened #1589 "Multiple VNC/Console"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind enhancement

We sometimes work with appliances that have multiple console or vnc ports. It would be nice to be able to configure multiple consoles in the vmi spec.

[2018-10-05 19:04] fabiand commented on #1589
There used to be a way to select from multiple consoles. It seems this was
lost.

[2018-10-05 22:15] fabiand commented on #1585
We need to validate the VMI spec better. But iiuic then the error would also appear if no memory us set at all. @vladikr something you can look at?

[2018-10-07 05:50] yuvalif commented on #996
not sure about priority, but this (or subset of it) is probably still needed.

[2018-10-08 17:13] mhenriks commented on #1585
I am getting this error with the demo manifest at https://raw.githubusercontent.com/kubevirt/demo/master/manifests/vm.yaml

[2018-10-09 09:24] gouyang opened #1593 "Move assertion to actual test files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
There are lots of ginkgo assertions in helper functions in utils.go, I think it's not a graceful way to do assertions in these functions, it should return the error and do assertions in actual test files. Opinions?

[2018-10-09 11:57] fromanirh opened #1594 "Kubevirt doesn't report detailed VMI metrics"
/kind enhancement

**What happened**:
In order to monitor, troubleshoot and tune VMs, we would like to expose detailed metrics about how the VMI instance is behaving. We are concerned about the infrastructure here, so the infrastructure processes running inside the virt-launcher pod.
For example, we want to assess the overhead of the aformenentioned infrastructure, allowing to have answers to quer

[2018-10-09 12:02] fromanirh commented on #1594
/cc @MarSik @michalskrivanek @yanirq @fabiand @rmohr  for awareness and discussion

[2018-10-09 12:09] fromanirh commented on #1594
In general, we need to extract infos from processes running inside the virt-launcher compute container.
We thought about two possible way to implement this enhancement.

1. enhance the virt-launcher image to collect the metrics. We can do that using an image like this:
https://github.com/fromanirh/libvirt-collectd
This image is a drop-in replacement over `kubevirt/libvirtd`, using it is trivial: h

[2018-10-09 12:15] fromanirh commented on #1594
Another possible option is to add a per-host (no longer per-pod) collectd instance to collect all the needed information at once. This will be a daemonset which can be deployed side-by-side to the prometheus operator pods and daemonsets. Highlights of this solution are

1. we will have a new daemonset featuring collectd and a helper program; this will need to scan the *host* /proc to collectd data

[2018-10-09 12:28] fromanirh commented on #1594
Collectd is just the path of least resistance, I can't (and won't) claim is the best approach here.

This is totally doable and IMHO a much nicer long-term solution.
I think I can adapt my POC code to integrate it into virt-handler.
Gathering metrics from virt-launchers is also fine, granted we figure out how to collect and expose them since virt-launcher cannot be a metrics endpoint (no network a

[2018-10-09 12:34] rmohr commented on #1594
You can use our RPC connection betwwen virt-handler and virt-launcher: https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-handler/cmd-client/client.go#L55 to collect the metrics from virt-launchers. If possible, we should also live-query all instances when prometheus scrapes the target.

[2018-10-09 14:07] #1479 closed

[2018-10-10 06:54] rmohr commented on #1594
/cc @davidvossel @vladikr @MarSik

Getting your feedback would be great.

[2018-10-10 11:39] MarSik commented on #1594
Well the point of collectd here is that it works right now. There is no code to write and no code to maintain. We currently lack all the code that would know how to scrape /proc for example.

Maintaining everything ourselves seems unnecessary to me and I hate the NIH syndrome. The scalability concern is a valid one if that is what you are afraid of, but we will have to check and see what happens w

[2018-10-10 12:55] slintes commented on #1594
I understand that we need to extend the `procwatch` plugin [0]?

I guess the prometheus client provides most of what we need [1].

[0] https://github.com/fromanirh/procwatch
[1] https://github.com/prometheus/client_golang/blob/master/prometheus/process_collector.go#L76

[2018-10-10 13:20] fromanirh commented on #1594
Yes. Unfortunately this is something we need to do. We cannot simply use stock collectd plugins.

It seems so, with two caveats:
1. we may need to add more metrics in the future, extending the prometheus client of course works but takes longer - granted the metrics we need fit in the larger prometheus usecase. May or may not be true
2. the issue is how expose the metrics. We will need to extend th

[2018-10-10 13:34] slintes commented on #1594
for adding more metrics you don't need to **extend** the prometheus client, you can just **use** it to expose whatever you want. It's only a few lines of code :) See e.g. [0]

[0] https://github.com/prometheus/client_golang/blob/master/examples/random/main.go

[2018-10-10 14:35] priley86 commented on #1333
hi - can you possibly include instructions for macOS? I seem to be having some troubles on this step in the workaround mentioned above:

[code]

[2018-10-10 14:54] MarSik commented on #1325
Just to resurrect the thread a bit. Commonly users do not want to specify the address beforehand, but would expect the sane behaviour after restart (no extra driver re-installation, same device ordering). Can we open the discussion about how to achieve the stable addressing the title of the issue mentions?

[2018-10-10 19:56] #1501 closed

[2018-10-10 20:31] davidvossel commented on #1594
I'm in favor of collecting the metrics in our components and exposing them to prometheus. Like it's been suggested, virt-handler can scrape metrics related to the VMI's pod using the cmd channel.

From what I see so far, anything else is going to involve us introducing more infrastructure and more custom dev to achieve the visibility we really need.

Generic solutions are great for operations team

[2018-10-11 04:53] vladikr commented on #1594
I also like the idea of collecting metrics in our components, but I'm a bit worried about the additional overhead we will introduce to each launcher. Would be great if we could find a way to just implement it all in virt-handler.

[2018-10-11 06:49] yuvalif opened #1601 "[feature] enhancing "virtctl expose" to support secondary networks"
This [blogpost PR](https://github.com/kubevirt/kubevirt.github.io/pull/140) demonstrate how this could be done. Currently the pod selection in ```virtctl expose``` is just using the main pod network, but there could be value from automating the process described in the above blogpost.

[2018-10-11 07:41] rmohr commented on #1601
Yep could work for some case. If we have the IP of the VMI reported. We could couple it with the qemu-guest-agent which can report it.

A side-note: For manually connecting services across interfaces [externalIPs](https://kubernetes.io/docs/concepts/services-networking/service/#external-ips)- or [externalName](https://kubernetes.io/docs/concepts/services-networking/service/#externalname)-Services

[2018-10-11 08:30] rmohr commented on #1594
@fromanirh the proposed solutions

1. makes assumptions about kubevirt internals
2. is very complex
3. and while it re-uses an existing solution, it simply reuses a plugin which solely you use and develop for a system which we don't use right now.

So I don't think that your arguments will hold in this context. The same for the comment from @MarSik:

I don't think that anyone would for instance ev

[2018-10-11 14:15] kbidarkar opened #1602 "CPU count specified via spec.domain.resources.requests.cpu does not honour the value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Creating a VM with 2 cpus, gets created with only 1 cpu.

**What you expected to happen**:
Creation of the VM with 2 cpus, when checked vi `nproc` or `cat /proc/cpuinfo`.

**How to reproduce it (as minimally and precisely as possible)**:
When trying to create a VM with cpu-manager enabled as per the 2nd option, https://gi

[2018-10-11 16:43] mlsorensen commented on #1602
My impression was that the physical CPU count was handled by:

`spec:
    domain:
      cpu:
        cores: 2
`

While the actual resource utilization on the node (pod limit) was gated with:

`
spec:
    domain:
      resources:
        limits:
          cpu: "1"
`

In this way, one could theoretically create say an 8 CPU VM that can't really use more than 1 core worth of CPU on the host. Going th

[2018-10-11 16:53] mlsorensen commented on #1602
Ah, I see reading through the 'dedicated CPU' guide linked that this is a bug specific to trying to use the CPU Manager feature. The documentation for that feature says you can specify either domain.cpu.cores or domain.resources.limits.cpu, but not both.

As of Kubevirt 0.8.0 what I describe above still seems to be the standard behavior as I can specify both and I get the expected cpu.cores in the

[2018-10-11 17:14] kbidarkar commented on #1602
Yes, it works fine and we can see the count as "2" via `nproc` or `cat /proc/cpuinfo`, when specifying via `domain.cpu.cores`.

[2018-10-11 17:32] vladikr commented on #1602
Yes, of course. When `domain.cpu.cores` is set together with the `dedicatedCpuPlacement` we will update the pod cpu limits with this number to make the pod get the `Guaranteed` QOS level.

I have a fix for this issue as part of another PR I'm working on. I'll post it later when I'll have all the tests written.

[2018-10-11 18:17] mlsorensen commented on #1553
Previously we had been running the components (virt-api, virt-controller, virt-handler) in their own namespace by setting a namespace in "hack/config-local.sh" when generating manifests. It's possible that we simply weren't using the features that would have had a problem with this, but it seemed to work fine.

I noticed recently with 0.8.0 that I had to add some RBAC to keep this working, which i

[2018-10-11 18:19] davidvossel commented on #1594
Generic solutions are great for operations teams who need to cast a wide net across their infrastructure, but we're talking about a very detailed look into a single system (KubeVirt). This means being able to correlate things specific to KubeVirt. For example, these generic solutions aren't going to give us visibility into the virt-launcher, qemu and libvirtd processes specific to a single VMI bec

[2018-10-12 08:01] rmohr commented on #1553
Yes we don't test it currently. I think what you saw is that our components were trying to access the kubevirt config-map which is currently hardcoded  to `kube-system`.

[2018-10-12 13:08] fromanirh commented on #1594
Thanks everyone for the comments, the suggestions and the thought-provoking discussion.
It is worth to mention that we also reached the point of diminishing returns for collectd: it is starting to prove itself unfit for this very specific task, so we need to start looking for a replacement.

At this point, the in-code solution looks even more interesting.

However, even at this point collectd prov

[2018-10-12 15:36] #676 closed

[2018-10-12 16:27] davidvossel opened #1609 "Live Migration Progress Tracking"
/kind enhancement

We need to be calling "jobStatus()" to periodically verify that the live migration is still making progress. This lets us detect hung migrations and it should also allow us to export metrics related to the progress of the migration.

related to #1550

[2018-10-12 16:28] davidvossel commented on #1609
from https://github.com/kubevirt/kubevirt/pull/1550#issuecomment-429360868

Both vdsm[1] and nova[2] has a similar functionality to prevent the VMs from getting stuck in a migration forever.
[1] https://github.com/oVirt/vdsm/blob/master/lib/vdsm/virt/migration.py#L782
[2] https://github.com/openstack/nova/blob/master/nova/virt/libvirt/driver.py#L7279

[2018-10-12 16:41] davidvossel opened #1610 "Should Migration CRD be namespaced or not"
/kind enhancement

There's been an ongoing discussion about whether or not the live migration CRD should be namespaced. The current implementation has the CRD namespaced. The discussion is about if we should remove that.

The discussion so far boils down to whether or not there's a use case where we'd need to assign permission to perform migrations per namespace. Certainly users shouldn't be allow

[2018-10-12 16:41] davidvossel commented on #1610
@rmohr

[2018-10-12 16:45] davidvossel opened #1611 "Use Migration Conditions over more detailed Phases"
/kind enhancement

from https://github.com/kubevirt/kubevirt/pull/1550#pullrequestreview-164180606

and https://github.com/kubevirt/kubevirt/pull/1550#discussion_r224403437

The result is we should consider removing some of the more detailed Migration phases that occur between the Pending and Running phases, and treat those as conditions instead. It's possible some of the more detailed phases will

[2018-10-12 16:55] senior7515 opened #1612 "glog shadow breaks transitive builds."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
the glog build shadowing glog -> ../../../pkg/staging/glog//

breaks transitive builds, if they have libs that actually depend on glog.

The whole dependency closure doesn't work.

[code]

**What you expected to happen**:

For kubevirt to not shadow glog.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-10-12 17:02] davidvossel opened #1613 "Improve Migration Unit Test Coverage"
related to #1550

The introduction of live migrations reduced the test coverage by -0.5%. One thing that would improve coverage is targeted test that exercises the migration async job in pkg/virt-launcher/virtwrap/manager.go.  There might be other areas that can be improved as well.

[2018-10-12 21:14] stu-gott commented on #725
/remove-lifecycle stale

[2018-10-13 03:02] visheshtanksale opened #1615 "Windows VM cannot ping the default gateway."
**What happened**:
Created a windows VM using kubevirt windows template. It does not have internet access. It cannot even ping its default gateway. I have a centos vm with same network config on same node which can access internet.
**What you expected to happen**:
Windows VM to be able to ping its default gateway and access internet
**Anything else we need to know?**:
I am using Weave as CNI
**Env

[2018-10-15 02:11] ngocson2vn commented on #687
For my case:
[code]
I have edited the file `/etc/kubernetes/manifests/kube-apiserver.yaml`.  For example, I have enabled `DefaultStorageClass`
[code]
Then,
[code]

[2018-10-15 07:42] fabiand commented on #1615
@duyanyan can you reproduce this issue?

[2018-10-15 09:50] fabiand commented on #413
/remove-lifecycle stale

[2018-10-15 09:51] fabiand commented on #1330
@dankenigsberg how shall we proceed here?

[2018-10-15 09:51] fabiand commented on #1201
/remove-lifefcycle stale

[2018-10-15 10:04] fabiand commented on #1251
This feature is now present, a MAC address can be configured - and if the selected backend is supporting it, then it will even be used: https://github.com/kubevirt/user-guide/blob/master/workloads/virtual-machines/interfaces-and-networks.md#frontend

[2018-10-15 10:04] #1251 closed

[2018-10-15 10:05] fabiand commented on #1328
/remove-lifecycle stale

[2018-10-15 10:05] fabiand commented on #1328
So, DataVolumes support this partially.

[2018-10-15 11:35] rmohr commented on #1325
@MarSik if we really have to, here some choices on how we can express it, which come to my mind:

 1. add it to the `status` of a `VMI` and the `VM`. One special thing to consider here, which we would have to solve, is to re-create a VMI from a `VM` with a pre-populated status (the privileged controller user would be able to pre-populate the VMI status basically with data from old runs). From the

[2018-10-15 12:48] dankenigsberg commented on #1330
@fabiand, I don't have a clear vision how a clear API should look like. IMHO, UI should be thin and clear, APIs should be powerful.

Would you lay out more details for the criteria for a clear API? Could you give examples?

[2018-10-15 13:34] ronf commented on #1325
For my use case, it was definitely important to be able to set the exact PCI addresses. The code running in the VM expected devices at specific locations and failed if it didn't find them where it was expecting them.

[2018-10-15 13:38] karmab commented on #1615
can you share the yaml definition of your vm with the following command

[code]

i suspect the definition lacks an interface+network section, which seems to be mandatory starting from 0.9.X to get nics in the vm

[2018-10-15 13:44] karmab opened #1618 "vms with v0.9.X need interfaces and network section"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
vms lack networking

**What you expected to happen**:
vms have networking

**How to reproduce it (as minimally and precisely as possible)**:
launch a vm with an old yaml definition

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
Client Version: version.Info{GitVersion:"v

[2018-10-15 13:47] karmab opened #1619 "virtctl need priviledged scc on openshift and v0.9.X"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
- run virtctl console your_vm
- try to access the vm console and it doesnt work

**What you expected to happen**:
- access the vm console and succeed

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
the following command fixes the issue

[code]

**Environment**:
- Kub

[2018-10-15 13:49] karmab commented on #1615
possibly related to https://github.com/kubevirt/kubevirt/issues/1618

[2018-10-15 13:57] SchSeba opened #1620 "vm mac learned from the wrong interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Related to https://groups.google.com/forum/#!topic/kubevirt-dev/-anESzo6dxQ
[code]

The mac address that we pass into the vm was learned by the k6t-eth0 bridge from interface 1 (pod interface)

**What you expected to happen**:
The virtual machine mac address needs to be learn from port 2

[code]
note: the vnet0 and the mac

[2018-10-15 14:00] rmohr commented on #1618
@karmab I suspect that the webhooks could not successfully register in cluster and that `virt-api` has some issues. Could you check the `kube-system` namespace if you see something strange?

[2018-10-15 14:01] rmohr commented on #1618
/cc @davidvossel do you have some thoughts on how we could reject CRDs until our webhooks are fine?

[2018-10-15 14:06] SchSeba commented on #1615
I think it is related to https://github.com/kubevirt/kubevirt/issues/1620
also I think I fix it here https://github.com/kubevirt/kubevirt/pull/1621

[2018-10-15 14:33] rmohr commented on #1282
/remove-lifecycle stale

[2018-10-15 14:39] gageorsburn commented on #1620
Possibly related to #1534?

[2018-10-15 14:49] SchSeba commented on #1620
@gageorsburn Yes!

I was thinking maybe remove this https://github.com/kubevirt/kubevirt/pull/1621/files#diff-d3ed8eb8cca020f37cab207c079f2627R222

But we can't reproduce it so I cant be sure if this also fix your issue so i don't remove it from the code.

If you can do it in your environment it can be great!

[2018-10-15 14:51] rmohr commented on #1325
@ronf I hope that you will be all set once #1484 from @vladikr  is merged. You can then set pci addresses for disks and interfaces. Your use-case would then not depend on the outcome of this discussion.

[2018-10-15 15:58] rmohr commented on #1612
@senior7515 let me remove the additional public functions and fields. That should make it work again. Then we should be able to have both: Transitive builds and structured logging for kubevirt. Thanks!

[2018-10-15 16:32] karmab commented on #1618
does this mean this issue should be seen as random ?

[2018-10-15 17:33] SchSeba commented on #1620
@gageorsburn using my PR https://github.com/kubevirt/kubevirt/pull/1621 and removing the learning line you were able to reproduce it?

[2018-10-15 18:33] gageorsburn commented on #1620
@SchSeba Ah I haven't tried with your PR, I'll give it a shot over the next couple days.

[2018-10-15 18:38] SchSeba commented on #1620
@gageorsburn Thanks! this really can help us.

[2018-10-15 19:22] kbidarkar opened #1622 "non-dedicated CPU VM remains in scheduled state if starting after dedicated CPU VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
On a 3 node cluster with cpu-manager enabled. 4 cpus on each node (node1 and node2)
3 allocatable CPU's.

`Scenario 1:`

Launch 2 VM's ( with 2 dedicate cores each) with dedicatedCpuPlacement. ( 2 VM's launch successfully )
Later launch 2 VM's ( with 200 millicores each) without dedicatedCpuPlacement, to find these 2 VM's

[2018-10-15 19:37] davidvossel commented on #1618
@rmohr ugh... This is bad. We need to set the failure policy on the webhook. By default k8s ignores if the webhook isn't available, which lets CRD objects get posted even if the webhook isn't online.

Essentially our webhooks are just best effort right now and not guaranteed.

[2018-10-16 03:48] duyanyan commented on #1615
I only have a OCP env with openshift sdn, and I can not reproduce the issue on OCP3.11+kubevirt v0.9.1. Maybe it is related to weave cni.

[2018-10-16 07:27] slintes commented on #1618
afaik CRD registration can/should be handled by the OLM (Operator Lifecycle manager) later on. Might be worth to discuss this with the operator team?

[2018-10-16 07:29] rmohr commented on #1618
Yeah I don't think so. I think that t here is a misunderstanding. OLM normally need their own CRDs to manage the installation. I have it on my list to clarify that with them. Also since OLM is in a different repo I simply think that it can't do it properly if it would want to do it.

[2018-10-16 07:32] rmohr commented on #1618
@rthallisey FYI

[2018-10-16 08:05] fabiand commented on #1553
@mlsorensen just curious: What was your reason to have KubeVirt in it's dedicated namespace?

[2018-10-16 08:32] fabiand commented on #1618
There are the two CRDs - Operator one, and the one by the application (KubeVirt's CRDs). But I also learned that the Operator wants to control both of them, as @slintes noted.

Could the API server not reject requests until it knows that the webhooks are present and registered properly?

[2018-10-16 09:01] rmohr commented on #1618
That would immensely increase the complexity of updates since the operator is external. I hope that they are not serious about that and that it is just a misunderstanding. The CRDs provide a public API but they are application internal.

Not really, that's a chicken- and egg problem. If the webhooks are not registered, it is not involved in CRDs, so any CR can be created.

But as said, if the oper

[2018-10-16 14:12] gbenhaim opened #1628 "Failed to use demo-content.yaml"
/kind bug

**What happened**:
While trying to create `demo-content.yaml`, I'm getting the following error:

[code]

**What you expected to happen**:
Demot content should have been created in the cluster

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- KubeVirt version (use `virtctl version`):
0.9.0
- Openshift version (use `kubectl version`):
3.10