[2019-06-19 03:42] yinjingjiu commented on #2392
Dear @petrkotas  @nertpinx
I re-created vm with virt-manager, I found that virtio viorng driver is not compatible during the installation process using win7.iso, viostor and NetKVM drivers can be installed smoothly.
In order to solve the pic unidentified device, I installed virtio ballooon and serial Driver, The mouse is normal in the virt-manager vnc viewer.

[2019-06-19 08:08] rmohr commented on #2108
/reopen

@mikejk8s we finally have `name`, `namespace`, and `node`. How desperately do you need labels? @fromanirh do we know if `kubelet` metrics expose pod labels too?

[2019-06-19 08:10] rmohr commented on #2108
I guess labels are great to monitor distributed or scaleable apps or VMs.

[2019-06-19 08:23] rmohr opened #2397 "Updating virt-handler can cause VMI evictions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If updating virt-handler takes more than 5 minutes (virt-handler is down for more than 5 minutes), then our node eviction controller will start deleting pods to migrate the VMIs to healthy nodes. This causes issues if e.g. the registry is not reachable during updates.

**What you expected to happen**:

**How to reproduce

[2019-06-19 08:46] slintes commented on #2396
Hi @visheshtanksale, quay.io seems to be in process of a rolling update for supporting the newer image manifest schema version, which is used by our build tool (bazel) for pushing images, see https://github.com/moby/buildkit/issues/409#issuecomment-469759226. Unfortunately there is nothing we can do on our side.

[2019-06-19 11:50] jeremyrogers commented on #2377
Patching the daemonset worked; I was thinking the operator might overwrite changes, if it was declaratively managing the daemonset object. Thanks!

[2019-06-19 11:54] fabiand commented on #2377
Cool.
And yes - if the operator was stricter that would have happened ... we'll
probably encounter this in future again until we sort out how to do these
c(k)ustom things)

Do you mind adding a section to the kubevirt user guide i.e. here
https://github.com/kubevirt/user-guide/blob/master/administration/intro.adoc#cluster-side-add-on-deployment
with the titlte "Limiting KubeVirt to a sub-set of no

[2019-06-19 12:56] fromanirh commented on #1957
I'd love to work on this, was this issue already assigned?

[2019-06-19 13:13] fabiand commented on #1957
No, nobody assigned so far.

Please note that (at least imho) this should involve a server side
subresource which creates the migration object (the <namespace/name> pair
thebn returned by the virtctl migrate command).

[2019-06-19 13:21] fromanirh commented on #1957
got it @fabiand , thanks

[2019-06-19 14:47] phoracek opened #2400 "iptables on OKD"
We fail to configure iptables on OKD since they are not initialized on the host (and maybe we are also missing some kernel modules). I think we have two options: Enable and initialize iptables on OKD host **or** use nftables in case we run on OKD.

[code]

Kudos to @cynepco3hahue for reporting the issue.

[2019-06-19 14:48] phoracek commented on #2400
/cc @dankenigsberg @SchSeba @booxter @qinqon

[2019-06-19 14:52] cynepco3hahue commented on #2400
Some details regarding the environment where it happened:
[code]

[2019-06-19 14:58] phoracek commented on #2400
The log complains about ip_tables module though.

[2019-06-19 15:05] petrkotas commented on #2392
Thanks for the quick reponse @yinjingjiu. Can you also please upload an XML from the VM created in virt-manager?

The only thing that comes to my mind is issue with the viewer itself. Which VNC client do you use?

[2019-06-19 15:09] cynepco3hahue commented on #2400
I meant that it has `iptables` binary but not the module, so I believe we need support for `nf_tables`, likes I said to Petr,  I do not believe that RHCOS will add additional kernel module only because we are working only with `iptables` but we can try to speak with them.

[2019-06-19 15:14] cynepco3hahue commented on #2400
I think it is an urgent issue because it blocks all functional testing on top of OKD.

[2019-06-19 15:22] dankenigsberg commented on #2400
@phoracek Why do we touch `iptables`? Only for `masquerade`? Or also for something else?

[2019-06-19 15:28] phoracek commented on #2400
@dankenigsberg yes, it seems to be only under masquerade code.

[2019-06-19 15:38] rmohr commented on #2378
@yinjingjiu I have a POC in #2395. We have a public holiday tomorrow. Can probably finish it during next week.

[2019-06-19 15:39] rmohr commented on #2378
And this one was merged in #2385. Will be included in the next release.

[2019-06-19 16:19] visheshtanksale commented on #2396
@slintes Thanks for the update.

[2019-06-19 16:19] #2396 closed

[2019-06-19 16:39] SchSeba commented on #2400
I will take a look on that

[2019-06-19 22:01] sachja opened #2402 "Support specifying device name for disks"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
No way to specify the device name to use for a disk. Need this to support bringing up a clone of VM from other environments like VMware using snapshot of their disk images.

**What you expected to happen**:
Since libvirt supports giving target device name expected kubevirt to expose the same.

Ec2 also supports it
https://docs.aws.a

[2019-06-20 07:09] yinjingjiu commented on #2378
Dear @rmohr
I am sure I will use it. thanks!

[2019-06-20 07:23] rmohr commented on #677
/reopen

We need to sync the content to an extra repo

[2019-06-20 07:33] rmohr commented on #677
#2368 needs to be addressed too.

[2019-06-20 07:37] cynepco3hahue commented on #677
@rmohr Will start to work on it, I believe we also need some documentation under the client-go repository and some examples.

[2019-06-20 07:55] cynepco3hahue commented on #677
@fabiand Can you create a new repository for `client-go`?

[2019-06-20 10:06] fabiand commented on #1406
Fixed with #2070

[2019-06-20 10:06] #1406 closed

[2019-06-20 10:09] fabiand commented on #1760
This is fixed.

[2019-06-20 10:09] #1760 closed

[2019-06-20 10:51] yinjingjiu commented on #2392
Dear @petrkotas
The following is the xml file to create vm with virt-manager
<details>
<summary>virsh dumpxml win2k8-2:</summary>

[code]

</details>
----------------------------------------

[2019-06-20 12:04] fromanirh commented on #2011
/remove-lifecycle stale

[2019-06-20 12:05] fromanirh commented on #2011
Do we still want this? I can find some capacity to work here, but I think we will need some design

[2019-06-20 12:12] fromanirh commented on #2393
Looking at the code (master branch @052ade384 it seems to me it is the other way around: the only supported console device is "serial":  https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/virtwrap/api/converter.go#L926

AFAIK, emulated serial consoles are the most compatible, so this is a good default.
Do we want to add support for VirtIO consoles?

[2019-06-21 03:16] yinjingjiu commented on #2392
Dear @petrkotas
Does the **viorng driver** incompatibility cause problems?

[2019-06-21 07:49] dhiller opened #2410 "Integrate krew package creation into release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
[kubectl-virt-plugin](https://github.com/kubevirt/kubectl-virt-plugin) has scripts to create a release for the artifacts required for making it available as a [krew package](https://krew.dev) and to create a PR to integrate the new `virt.yaml` into [krew-index](https://github.com/kubernetes-sigs/krew-index/). It c

[2019-06-21 11:08] fabiand commented on #2393
Interesting, thanks for checking.
We have a few guests (OpenSUSE iirc) which have issues with the serial console. Maybe you can check what they expect and then we see if we need to adjust our code.

[2019-06-21 11:22] fromanirh commented on #2393
Sure, will have a look at our SUSE guests a soon as possible. Can't make promises about when, though.

[2019-06-21 11:55] andreabolognani commented on #2393
What kind of issues are you talking about? No output showing up on the serial console, or something different?

In my experience the inability to use the serial console is almost always caused by the guest OS not being configured to do so: Fedora and RHEL are pretty good at enabling it automatically, Debian for example not so much.

In general, you want to make sure `console=ttys0` is present on t

[2019-06-21 11:58] fabiand commented on #2393
Yes, I agree. It's porbably a guest configuraiton issue. But OTOH the opensuse cloud image is also able to run on OpenStack and there it's is likely providing serial console output.

IOW I'think we should have the ability to configure the VM (ABI) to macth what the gest expectecs.

For Fedora and RHEL serial console works (Yey), for OpenSUSE we might need something else ... Let#s see, thanks Franc

[2019-06-21 12:54] petrkotas commented on #2392
Thank you @yinjingjiu for sharing the XML. The virtiorng is important, but it does not cause the issues you are experiencing.

The only difference I can see in the XML is the graphics device. KubeVirt uses vnc and virt-manager uses spice. I am not familiar with how QEMU handles these two protocols internally.

Which VNC viewer opens when you connect to VM in KubeVirt? The issue is most likely in t

[2019-06-21 13:06] nertpinx commented on #2392
What may be interesting is to see if the issue is there when you switch the virt-manager machine to VNC and try connecting there with the same account.

[2019-06-21 15:55] SchSeba commented on #2400
Related to:
* https://bugzilla.redhat.com/show_bug.cgi?id=1708500
* https://github.com/istio/istio/issues/13986

[2019-06-21 19:11] jeremyrogers commented on #2377
Here you go!
https://github.com/kubevirt/user-guide/pull/261

[2019-06-22 09:19] yinjingjiu commented on #2392
Dear @nertpinx  @petrkotas
Thank you for taking the time to help me.
I connect the VM with novnc in the browser.

noNVC connects to the virtual machine created by kubevirt (as shown below):
![Video_2019-06-22_110210-64](https://user-images.githubusercontent.com/8465157/59958820-3b98d380-94df-11e9-891c-b966ade6161d.gif)

------------------------------------------------------------------------------

[2019-06-22 09:39] petrkotas commented on #2392
Hi @yinjingjiu thanks taking so much care in this issue. My gut feeling points to the noVNC. I will test it if you can share the image.

Thanks a lot!!

[2019-06-23 13:13] rmohr commented on #1638
With the dynamic client we can any time detect if CDI got installed or removed (group discovery). I would love if we have a dynamic approach which enables/disables CDI support dynamically. VMIs which were started when CDI was present would still continue to function, not yet started VMIs would fail.

[2019-06-23 13:47] jagusztinl opened #2417 "https://github.com/kubevirt/kubevirt/releases/download MISSING"
Directory https://github.com/kubevirt/kubevirt/releases/download is disappeared!

**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

 /kind bug

**What happened**:
Tried to download kubevirt

**What you expected to happen**:
https://github.com/kubevirt/kubevirt/releases/download missing

**How to reproduce it (as minimally and precisely as possible)**:

Check it

**Anything else we need to know?**

[2019-06-24 02:23] yinjingjiu commented on #2392
Dear @petrkotas  @nertpinx
Visit the：https://hub.docker.com/r/1356325709/kubevirt-win7-base

docker pull 1356325709/kubevirt-win7-base
...

For questions, please contact me.

Thanks

[2019-06-24 04:09] petrkotas commented on #2417
Hi @jagusztinl, it might have been that the directories changed. The current releases are located at https://github.com/kubevirt/kubevirt/releases. The most feature full release is v0.18.1.

Would you please share, where did you get the link, so we can fix it? Thank you.

[2019-06-24 07:57] rmohr commented on #2143
/remove-lifecycle stale

Let's copy  the exact values from the old pod.

[2019-06-24 08:01] rmohr commented on #2417
This https://github.com/kubevirt/kubevirt/releases was always the entrypoint to all releases. However if you download you have urls like https://github.com/kubevirt/kubevirt/releases/download/v0.18.1/kubevirt-operator.yaml

[2019-06-24 08:10] fabiand commented on #2377
That's awesome, thank you!

[2019-06-24 14:36] davidvossel commented on #1638
dynamic meaning without restarting virt-controller work queue?  i'm not sure how that's possible since we have to populate the datavolume informer cache once CDI is detected

[2019-06-24 14:38] rmohr commented on #1638
queue restart or even fully restarting virt-controller is all fine. I just don't want to see something like the need for manual intervention from an admin.

[2019-06-24 14:54] davidvossel commented on #1638
yep, agreed.

[2019-06-25 01:56] michaelhenkel commented on #2114
I am facing the same issue with kubevirt v0.18.1 and k8s 1.15.0. Manifest is defined correctly, launch container has the ignition file and it is expressed in qemu cmd but doesn't appear in the VM. Any idea?:

VM definition:

apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: testvm
spec:
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/size: small

[2019-06-25 01:58] michaelhenkel opened #2425 "I am facing the same issue with kubevirt v0.18.1 and k8s 1.15.0. Manifest is defined correctly, launch container has the ignition file and it is expressed in qemu cmd but doesn't appear in the VM. Any idea?:"
I am facing the same issue with kubevirt v0.18.1 and k8s 1.15.0. Manifest is defined correctly, launch container has the ignition file and it is expressed in qemu cmd but doesn't appear in the VM. Any idea?:

VM definition:
[code]
Qemu process:

[code]
launcher pod:
[code]
keys in VM:
[code]

_Originally posted by @michaelhenkel in https://github.com/kubevirt/kubevirt/issues/2114#issuecomment-5052

[2019-06-25 08:29] karmab commented on #2114
please try with the default container disk images, fedora for instance. You
re using a custom one ( that i should/will delete) :)

El El mar, 25 jun 2019 a las 3:56, michaelhenkel <notifications@github.com>
escribió:

--
Karim,

[2019-06-25 12:28] fabiand opened #2427 "Deleting kv opeator fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Installed KubeVirt with operator + CR, then removed CR, then tried to remove the operator using

[code]

This command hang.

Upcon the next creation I get the following error:
[code]

**What you expected to happen**:
KubeVirt to be deleted

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2019-06-25 20:16] #2425 closed

[2019-06-26 00:10] booxter commented on #1847
I finally have an explanation of what's going on here.

It turns out that with newer guest kernels, boot process may get stuck if the guest doesn't have enough entropy generated for it. This happens all the time during Fedora boot process. A workaround is connecting to the guest via VNC and moving your mouse a bit, which gives enough pseudo-entropy for RNG to produce output and unlock boot process

[2019-06-26 00:33] booxter commented on #1847
adding rng to fedora examples: https://github.com/kubevirt/kubevirt/pull/2429

[2019-06-26 09:43] yu2003w commented on #2427
I also met similar problem when I tried kubevirt first time.
It seemed that crd kv was not deleted as expectedly.

[2019-06-26 11:22] rmohr commented on #2378
@yinjingjiu  following the other issue #2392, if window itself boots slow too, maybe you need RNG enabled. Maybe windows needs also more entropy when booting?

[2019-06-26 13:08] itzikb-redhat opened #2433 "Launching a vm fails - service "fake-validation-service" not found"
**This a BUG REPORT**:
/kind bug

**What happened**:
Got an error when launching a vm by running
[code]

**Environment**:
[code]

[2019-06-26 13:16] cynepco3hahue commented on #2433
@itzikb-redhat I think the issue lack some details under the environment section at lease first 3 can be useful

- KubeVirt version (use virtctl version):
- Kubernetes version (use kubectl version):
- VM or VMI specifications:

[2019-06-26 13:20] itzikb-redhat commented on #2433
[vm.yaml.txt](https://github.com/kubevirt/kubevirt/files/3330155/vm.yaml.txt)
[virt-operator-log.txt](https://github.com/kubevirt/kubevirt/files/3330156/virt-operator-log.txt)

[2019-06-26 13:29] itzikb-redhat commented on #2433
@cynepco3hahue I don't have virtctl installed. I attached the vm spec and last line from virt-operator

[2019-06-26 13:35] cynepco3hahue commented on #2433
@itzikb-redhat Can you show the output of `oc -n kubevirt get pods`?

[2019-06-26 13:46] cclark1974 commented on #2303
/usr/share/kubevirt/virt-launcher/sock-connector /var/run/kubevirt-private/fa5f48fe-78cb-11e9-b79a-0026b92c94fc/virt-serial0
-bash: /usr/share/kubevirt/virt-launcher/sock-connector: No such file or directory

I am not seeing it connect.

I launched the VM via: kubectl apply -f vm.yaml

[2019-06-26 14:01] itzikb-redhat commented on #2433
[code]

[2019-06-26 14:05] cynepco3hahue commented on #2433
@itzikb-redhat Yep, I do not see any kubevirt components except the virt-operator, for me, it looks like a bug in the HCO, because it does not grant enough permissions to the virt-operator, can you please open the bug under https://bugzilla.redhat.com/enter_bug.cgi?product=Container%20Native%20Virtualization%20(CNV) with the installation component.

[2019-06-26 14:06] itzikb-redhat commented on #2433
This is how I installed:
[deploy_hyperconverged_kubevirt.sh.txt](https://github.com/kubevirt/kubevirt/files/3330372/deploy_hyperconverged_kubevirt.sh.txt)

[2019-06-26 14:09] cynepco3hahue commented on #2433
Or you can open an issue under https://github.com/kubevirt/hyperconverged-cluster-operator

[2019-06-26 14:14] itzikb-redhat commented on #2433
Opened Bug in Bugzilla

[2019-06-26 15:37] petrkotas commented on #2303
Hi @cclark1974 it confirms my suspicion. The issue is with the VM.
How was the ubuntu VM created (the image)? Where did you get he VM image?

[2019-06-26 16:01] rmohr commented on #2161
/remove-lifecycle stale

[2019-06-26 17:13] cclark1974 commented on #2303
I created the VM based off a qcow2 image.

./virtctl image-upload --no-create --pvc-name=flex-vnf-volume-claim --pvc-size=80Gi --image-path=flexvnf.qcow2 --uploadproxy-url=https://127.0.0.1:2222 --insecure

[2019-06-26 18:20] gageorsburn commented on #2161
@rmohr Is this something that still needs to be implemented? I can pick up the implementation if needed.

[2019-06-26 20:17] booxter commented on #2303
@cclark1974 I know it may sound crazy but - please try to add `rng: {}` to VMI `devices` section and reboot. There is a bug with newer guest kernels that may lock booting its OS due to lack of entropy: https://github.com/kubevirt/kubevirt/issues/1847 and I wonder if you may have hit it here too. Worth a try.

[2019-06-26 21:33] cclark1974 commented on #2303
Could you please elaborate?  Add rng: {} to devices section where?  Thanks

[2019-06-26 21:41] cclark1974 commented on #2303
Is the sufficient to restart the VM? virtctl restart flex-vm

[2019-06-27 02:42] jimma opened #2434 "virt-launcher remove and create socketPath twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:
cmdserver.RunServer in virt-launcher.go cleans and create socketPath when starts the grpc server. There is no need to remove and create socketPath in vert-launcher.

**What you expected to happen**:
No duplicate work to remove and clean socketPath.

**How to reproduce it (as minimally and precisely as possible)**

[2019-06-27 05:01] booxter commented on #2303
@cclark1974 there is no user guide documentation merged yet for RNG but you can follow this: https://github.com/kubevirt/user-guide/pull/262/files Do you think you can recreate the VM(I) with RNG device added and see if it helps in any way?

[2019-06-27 07:57] rmohr commented on #2161
@gageorsburn sounds great!

[2019-06-27 07:57] rmohr commented on #2161
It still applies that the container name has no meaning for kubevirt.

[2019-06-27 08:38] yinjingjiu commented on #2378
Dear @rmohr
First of all, thank you for your concern. You have helped me a lot.:smile:

I can't enable RNG, During the installation of windwos, I am prompted that the viorng driver is not compatible. Unless I force the installation, I tried, the problem is still, In addition, I also installed virtio ballooon and serial Driver. But the problem has not been solved.

[2019-06-27 09:48] petrkotas commented on #2378
Hi @yinjingjiu you can install the virtio drivers during the installation as described https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/virtio-win.html .

Entropy is a source for random numbers, used in encryption.
However I remember windows handles the entropy differently then linux. It still needs the driver to provide better entropy, but it does not suffer from entropy deple

[2019-06-27 11:11] yinjingjiu commented on #2378
Dear @petrkotas
Thank you for your help! Yes, I installed the virtio driver during the installation of windows.

![Video_2019-06-27_184748](https://user-images.githubusercontent.com/8465157/60260513-57034480-990c-11e9-9b18-17a5f1fae0bd.gif)

This is my configuration
Begin installation
...
I installed some virtio drivers during windows installation.
1. NetKVM
2. viostor
3. vioser
4. Balloon

I trie

[2019-06-27 12:31] cclark1974 commented on #2303
Ok I recreated the VM with the rng: added.

[2019-06-27 12:34] cclark1974 commented on #2303
Im still not seeing anything in:
k8s-master ~]$ ls /var/run/kubevirt-private/
k8s-master ~]$

[2019-06-27 12:36] cclark1974 commented on #2303
The VM reports:
Spec:
  Running:  true
  Template:
    Metadata:
      Creation Timestamp:  <nil>
      Labels:
        Kubevirt . Io / Size:  small
        Kubevirt . Io / Vm:    flex-vm
    Spec:
      Domain:
        Devices:
          Disks:
            Disk:
            Name:  mypvcdisk
          Interfaces:
            Bridge:
            Name:  default
          Rng:
        Machine:

[2019-06-27 12:56] rollandf opened #2438 "VM with Datavolume in Block mode not starting"
/kind bug

**What happened**:
Define a VM with a DataVolume in Block mode and the VM failed to start.

The virt launcher pod stays in ContainerCreating state with the following error:

Warning  FailedMount  28s (x2 over 2m43s)  kubelet, node01    Unable to mount volumes for pod "virt-launcher-vm-cirros-vmd4n_default(1eceea32-98b7-11e9-97da-525500d15501)": timeout expired waiting for volumes to att

[2019-06-27 13:33] vladikr commented on #2438
This looks very similar to #2272 and kubernetes/kubernetes#74787

[2019-06-27 13:44] j-griffith commented on #2438
Not sure, that's specifically an iSCSI logout but in K8s.  I've been running rbd block mode volume VMs for quite a while now.  I haven't tried using templates though.  I can take a look at this and see if I can figure out what's going on.

[2019-06-27 13:44] j-griffith commented on #2438
/assign j-griffith

[2019-06-27 20:55] j-griffith commented on #2438
@rollandf I finally got an fresh env up to test this out (there are currently some issues with rook).  I used my own version of the template (below) and it worked without issue.  Perhaps there's something malformed in your yaml?  I didn't spot anything at first glance.

Her'es the manifest file I used:

[code]

[2019-06-27 22:05] booxter commented on #2155
/remove-lifecycle stale

[2019-06-28 05:59] rollandf commented on #2438
I see the issue if the DV is creating a block mode PVC.
Same thing if I create first the DV (block mode), then reference the DV by name in the VM yaml.

But, if I create the DV(blovk mode) first, then reference the PVC by name in the VM yaml, it will work.

[2019-06-28 13:55] petrkotas commented on #2378
Hi @yinjingjiu thanks for the information. I will be able to test it later after 14 days. I will not be reachable.
Will get back to you. Thanks.

[2019-06-28 14:10] #2434 closed

[2019-06-28 15:40] slintes commented on #2433
see https://github.com/kubevirt/hyperconverged-cluster-operator/issues/143#issuecomment-506779691

/close

[2019-06-28 15:40] #2433 closed

[2019-06-30 08:04] yinjingjiu commented on #2378
Dear @petrkotas
I will continue to pay attention to this issue. I wish you a happy life

[2019-06-30 16:05] yu-yang2 opened #2442 "can't connect to vmi instance in running state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
can't connect to vm instance through port 22.
**What you expected to happen**:
When I wrote a vmi yaml by hand, the ssh works fine, but when I created the vmi by go SDK, the vmi status is running, but virconsole and ssh can't work. I telnet the 22 port didn't open. here is my yamls, please kind tell me where am I wrong? And I can on

[2019-07-01 03:05] x8091 opened #2443 "Rescheduling issue with VM/Pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: When the worker node (which hosts the VM/pod) became Not Ready state (by poweroff for example), the VM didn't get rescheduling to another nodes, it just keep staying in Terminating state.

**What you expected to happen**: The VM terminate successfully and re-create on another node.

**How to reproduce it (as minimally and

[2019-07-01 08:22] cynepco3hahue commented on #2443
In general, we can not know if it was the poweroff issue, or maybe kubelet crashed, so it possible situation when the node has `NotReady` state, but the VM that runs on this node still continue to write on the storage. In this case similar to k8s we do not restart the VM on the other node until an admin will remove it to avoid data corruption.
We have some solutions to make this process automate,

[2019-07-01 08:25] slintes commented on #2442
Hi @yu-yang2 , I think your cloud init volume is not formatted correctly: it has to start with `#cloud-config`, and it must be valid yaml.

[2019-07-01 13:37] #2172 closed

[2019-07-01 17:42] cclark1974 commented on #2303
Am I missing anything?

[2019-07-02 06:51] dhiller commented on #2366
/close

[2019-07-02 06:51] #2366 closed

[2019-07-02 07:02] EdDev commented on #2292
This issue subject about multicast and the content about LLDP is confusing.
LLDP and other similar protocols (e.g STP) use reserved mac addresses which are required by the standards not to be forwarded beyond a bridge or a local LAN (the same exist at the L3 level for protocols like VRRP and alike).
Regular multicast data forwarding is one thing, control frames like the ones LLDP is using is a dif

[2019-07-03 06:19] lurenjia528 opened #2448 "add Dockerfile"
on some other machine ,such as arm64, dockerhub don't have image, and in China ,the network problem, so need go build and docker build  Manually, so suggest recovery the Dockerfile (virt-api  virt-controller  virt-handler  virt-launcher  virt-operator)(include kubevirt/libvirt)

[2019-07-03 09:30] fedepaol opened #2449 "Unable to run disks-images-provider with docker in docker scenario"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In order to make sriov-ci work, we are running a [kind](https://github.com/kubernetes-sigs/kind) cluster inside a pod spawn by Prow.

The final picture is:
- a container with docker in docker enabled
- a running container that resembles the cluster's node
- pods inside this "node"

In this particular scenario, the `disks-

[2019-07-04 06:33] lurenjia528 opened #2455 "virt-operator imageName spec"
I build the image "xxx/xxx/virt-operator-arm64:v0.18.1" , and run failed
[code]
reason as follow:
the reg is strict：

https://github.com/kubevirt/kubevirt/blob/147b09fc228d03e11323595bfbb0ae3cc29c1b81/pkg/virt-operator/util/config.go#L64

[2019-07-04 06:41] lurenjia528 opened #2456 "virt-operator run failed with root"
version:0.18.1

I am in arm64
 I build the image from [Dockerfile](https://github.com/kubevirt/kubevirt/blob/v0.14.0/cmd/virt-operator/Dockerfile)

the release [yaml](https://github.com/kubevirt/kubevirt/releases/download/v0.18.1/kubevirt-operator.yaml)

[code]
I modify the yaml and run it
[code]

[2019-07-04 07:08] #2449 closed

[2019-07-04 07:11] lurenjia528 opened #2457 "on arm64　arch　 run launch failed"
[code]

[code]
[code]
[code]

image libvirt
[code]

image launcher

[code]

I am om arm64  why x86_64??

[2019-07-04 08:38] #1850 closed

[2019-07-04 10:12] slintes commented on #2448
Hi @lurenjia528, we are using bazel in the meanwhile for building the images. Maybe you can use that too?
There is a similar ongoing effort for ppc64le, see https://github.com/kubevirt/kubevirt/pull/2145. I'm sure about its status, but it might help you.

[2019-07-04 10:33] slintes commented on #2456
What k8s version are you using? You might be running into this bug: https://github.com/kubernetes/kubernetes/issues/78308

Also, please use our issue template...

[2019-07-04 10:34] slintes commented on #2455
I guess there are more places in our codebase and build scripts where we assume this pattern for our image names. I suggest to put `arm64` into the tag name. Wdyt?

[2019-07-04 10:50] lurenjia528 commented on #2455
@slintes ok,thanks

[2019-07-04 10:50] #2455 closed

[2019-07-04 10:53] lurenjia528 commented on #2456
@slintes  thanks , I know now.

version: 1.14.2

[code]

[2019-07-04 10:55] #2456 closed

[2019-07-04 11:07] lurenjia528 commented on #2448
thanks, but no effort ,I accord to the Dockerfile from version v0.14.0 ,and build the image on arm64,
can you please see #2457 ? Thanks

[2019-07-07 11:52] #1445 closed

[2019-07-07 16:57] #1990 closed

[2019-07-08 07:22] slintes commented on #1153
/remove-lifecycle stale

[2019-07-08 19:18] awels commented on #2300
@fabiand I would send this over to the cdi issue tracker.

[2019-07-09 16:49] gageorsburn commented on #2292
I agree that a linux bridge is not the proper transport for this type of traffic.

[2019-07-09 21:26] j-griffith commented on #2438
@rollandf Yeah, I dropped off a while on vacation but I'm seeing the same thing, using DVs seems to be the root issue for me.  I also did a sanity check on a local bock device with similar results.

[2019-07-09 23:26] kfox1111 commented on #1777
Noticed this was mentioned in the toc meeting. :)

[2019-07-10 08:01] fromanirh commented on #2108
(sorry for late answer) I need to check about kubelet. Do we want to go and add the labels?

[2019-07-10 08:30] nixpanic commented on #2438
Just hit this problem as well when experimenting with ceph-csi/rbd. It seems the PVC from the DV is assumed to be a `VolumeMode=Filesystem`, which is obviously not the case for raw block devices.

`osdisk` is the raw block volume, `oc describe pod/virt-launcher-...` shows that the PVC can not be mounted (`FailedMount` with `timeout expired waiting for volumes to attach or mount for pod`). The foll

[2019-07-10 09:36] lurenjia528 opened #2470 "Support arm64 nodes (Unexpected enum value 0 for virDomainDeviceAddressType)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

by default (x86_64),launcher can not get the right cpu arch
I debug it
https://github.com/kubevirt/kubevirt/blob/v0.18.1/pkg/virt-launcher/virtwrap/api/defaults.go#L18

before I edit the source code ,the launcher log :
[code]

because I am working on arm64, so I modify the source code and build it
[code]
and go on run it

[2019-07-10 09:42] lurenjia528 commented on #2457
/kind/bug

[2019-07-10 09:43] lurenjia528 commented on #2457
/kind bug

[2019-07-10 10:08] lurenjia528 commented on #2448
/close

[2019-07-10 10:08] #2448 closed

[2019-07-10 10:47] slintes opened #2471 "SyncVMI sometimes fails with "context deadline exceeded" (not only) during migrations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Mostly during migrations, but also on other tests (see 1st comment), SyncVMI sometimes fails with "context deadline exceeded". During our CI tests this results in a test failure, because this triggers an unexpected warning event. However, if you ignore this warning, SyncVMI succeeds on the next try.

e.g.:
[code]

**What

[2019-07-10 19:25] j-griffith commented on #2438
I believe the problem is here:  https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/virtwrap/api/converter.go#L240

We assume filesystem mode and don't do any checks.  I'll get this tested and see if I can get a PR put together.

[2019-07-11 07:04] mbhatnagar11 opened #2474 "Virtctl stuck at "The escape sequence is ^]""
- KubeVirt version = v0.15.0

I have created a vm using rest api : /apis/kubevirt.io/v1alpha3/namespaces/default/virtualmachines

Below is the json configuration passed to the rest api :

{"apiVersion":"kubevirt.io/v1alpha3","kind":"VirtualMachine","metadata":{"name":"vmwanoptimizer3"},"spec":{"running":true,"template":{"metadata":{"labels":{"kubevirt.io/size":"389a95f7-d272-4955-94bd-63c3bd46a471

[2019-07-11 07:12] mbhatnagar11 commented on #2209
Hi @bharatnc , how did you enable ttyS0 for your VM ? I am facing the same issue

[2019-07-11 07:40] slintes commented on #2474
Hi @mbhatnagar11,

where is your rootfs containerdisk `kubevirt/ubuntu-firewall` coming from, I don't see it on our docker hub account? Can you please provide logs of the VM's virt-launcher pod? And `kubectl describe virt-launcher-...`

And please format the logs etc as code (surround them with backticks, or use the editor UI), that makes it much more readable :slightly_smiling_face:

Last but not

[2019-07-11 07:56] slintes commented on #2471
saw the same error on a non migration test:
[code]

[2019-07-11 09:16] mbhatnagar11 commented on #2474
- `kubevirt/ubuntu-firewall` is a custom image that I've created .
- output for kubectl describe pod virt-launcher-vmwanoptimizer3-b78cz :

`Name:               virt-launcher-vmwanoptimizer3-b78cz
Namespace:          default
Priority:           0
PriorityClassName:  <none>
Node:               ubuntu/172.19.63.21
Start Time:         Thu, 11 Jul 2019 17:51:07 +0530
Labels:             kubevirt.io=vi

[2019-07-11 14:45] SchSeba commented on #2474
Hi @mbhatnagar11 can you please try to run `virtctl vnc <vm-name>` if there is a problem with the operating system you will be able to see it there.

[2019-07-11 14:55] petrkotas commented on #2474
@mbhatnagar11 my guess it is definitely the issue within the operating system. I have already seen similar issue. The problem was within wrongly configured TTY. This can happen when you create VM in virtmanager and let the TTY configured to be proxied as TTY. Kubevirt, however, redirects TTY into the socket. Both devices are different in the means of output devices and OS does not send the TTY to

[2019-07-11 15:09] petrkotas commented on #2474
@mbhatnagar11 moreover, I am referencing the similar issue: https://github.com/kubevirt/kubevirt/issues

Since you are using ubuntu, here is the guide to enable ttyS0: https://help.ubuntu.com/community/SerialConsoleHowto

[2019-07-11 15:20] SchSeba commented on #1777
/remove-lifecycle stale

[2019-07-11 15:31] rmohr opened #2477 "[flaky test] [rfe_id:1758][crit:medium][vendor:cnv-qe@redhat.com][level:component]VirtualMachineInstance definition with quemu guest agent [test_id:1757] should report guest interfaces in VMI status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This is the most unstable test on the openshift multus lane within the last 5 weeks:

Lanes: | pull-kubevirt-e2e-k8s-1.13.3 | pull-kubevirt-e2e-k8s-multus-1.13.3 | pull-kubevirt-e2e-os-3.11.0-crio | pull-kubevirt-e2e-k8s-genie-1.11.1 | pull-kubevirt-e2e-k8s-1.11.0 | pull-kubevirt-e2e-os-3.11.0-multus | pull-kubevirt-e2e-

[2019-07-11 15:34] rmohr opened #2478 "[flaky test] [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking VirtualMachineInstance with TX offload disabled [test_id:1781]should get turned off for interfaces that serve dhcp"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This test fails a lot on the openshift lanes:

Lanes: | pull-kubevirt-e2e-k8s-1.13.3 | pull-kubevirt-e2e-k8s-multus-1.13.3 | pull-kubevirt-e2e-os-3.11.0-crio | pull-kubevirt-e2e-k8s-genie-1.11.1 | pull-kubevirt-e2e-k8s-1.11.0 | pull-kubevirt-e2e-os-3.11.0-multus | pull-kubevirt-e2e-os-3.11.0
-- | -- | -- | -- | -- | -- |

[2019-07-11 15:38] rmohr opened #2479 "[flaky test] [rfe_id:253][crit:medium][vendor:cnv-qe@redhat.com][level:component]Expose Expose UDP service on a VMI Expose NodePort UDP service [test_id:1536]Should expose a NodePort service on a VMI and connect to it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This test fails on various lanes from time to time:

Lanes: | pull-kubevirt-e2e-k8s-1.13.3 | pull-kubevirt-e2e-k8s-multus-1.13.3 | pull-kubevirt-e2e-os-3.11.0-crio | pull-kubevirt-e2e-k8s-genie-1.11.1 | pull-kubevirt-e2e-k8s-1.11.0 | pull-kubevirt-e2e-os-3.11.0-multus | pull-kubevirt-e2e-os-3.11.0
-- | -- | -- | -- | --

[2019-07-11 15:40] rmohr opened #2480 "[flaky test] [rfe_id:393][crit:high[vendor:cnv-qe@redhat.com][level:system] VM Live Migration Starting a VirtualMachineInstance migration security [test_id:2303][posneg:negative] should secure migrations with TLS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This test fails on multiple lanes from time to time:

Lanes: | pull-kubevirt-e2e-k8s-1.13.3 | pull-kubevirt-e2e-k8s-multus-1.13.3 | pull-kubevirt-e2e-os-3.11.0-crio | pull-kubevirt-e2e-k8s-genie-1.11.1 | pull-kubevirt-e2e-k8s-1.11.0 | pull-kubevirt-e2e-os-3.11.0-multus | pull-kubevirt-e2e-os-3.11.0
-- | -- | -- | -- | --

[2019-07-11 15:43] rmohr opened #2481 "[flaky test] [rfe_id:393][crit:high[vendor:cnv-qe@redhat.com][level:system] VM Live Migration with sata disks [test_id:1853]VM with containerDisk + CloudInit + ServiceAccount + ConfigMap + Secret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This is the most unstable migration test:

Lanes: | pull-kubevirt-e2e-k8s-1.13.3 | pull-kubevirt-e2e-k8s-multus-1.13.3 | pull-kubevirt-e2e-os-3.11.0-crio | pull-kubevirt-e2e-k8s-genie-1.11.1 | pull-kubevirt-e2e-k8s-1.11.0 | pull-kubevirt-e2e-os-3.11.0-multus | pull-kubevirt-e2e-os-3.11.0
-- | -- | -- | -- | -- | -- | --

[2019-07-11 15:46] rmohr opened #2482 "[flaky test] [rfe_id:393][crit:high[vendor:cnv-qe@redhat.com][level:system] VM Live Migration with a live-migrate eviction strategy set with multiple VMIs with eviction policies set should not migrate more than two VMIs at the same time from a node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This migration test is pretty flaky:

Lanes: | pull-kubevirt-e2e-k8s-1.13.3 | pull-kubevirt-e2e-k8s-multus-1.13.3 | pull-kubevirt-e2e-os-3.11.0-crio | pull-kubevirt-e2e-k8s-genie-1.11.1 | pull-kubevirt-e2e-k8s-1.11.0 | pull-kubevirt-e2e-os-3.11.0-multus | pull-kubevirt-e2e-os-3.11.0
-- | -- | -- | -- | -- | -- | -- | --

[2019-07-11 21:28] bharatnc commented on #2209
@mbhatnagar11  you should be able to specify it in the grub config file (that is what I did).

Example: https://www.tldp.org/HOWTO/Remote-Serial-Console-HOWTO/configure-kernel-grub.html

[2019-07-12 05:11] lurenjia528 commented on #2470
because on my machine (arm64) ,do not have q35 ,
[code]

[2019-07-12 05:29] lurenjia528 commented on #2470
and go on ,i modify the source
[code]

and the error has changed

I get the domain.xml
[code]
the error logs :
[code]

[2019-07-12 06:19] kunalkushwaha commented on #2109
I think we can close this issue. So far I was not able to reproduce it again. Maybe id happens again, I will reopen.

[2019-07-12 06:19] #2109 closed

[2019-07-12 08:31] lurenjia528 commented on #2457
see #2470

/close

[2019-07-12 08:32] #2457 closed

[2019-07-12 09:46] petrkotas commented on #2392
Hi @yinjingjiu I have tried your image and I can confirm that it indeed works as expected. The cursor works fine in virt-viewer.

![Peek 2019-07-12 11-43](https://user-images.githubusercontent.com/8687113/61119150-84b6c480-a49a-11e9-8b8b-79346aeb7547.gif)

Therefore, I would suspect the error is within the noVNC client.

[2019-07-12 10:22] petrkotas commented on #2378
Hi @yinjingjiu when I tried to boot your windows VM.

The first boot really takes a lot of time, due to image pull. After that the image is in local cache and VM starts at normal speed.

The windows itself boots slow, however I would suspect this is the case of windows 7. The desktop version was really slow to boot.

Did you tried different windows version?

[2019-07-12 12:59] dhiller commented on #912
/close

[2019-07-12 12:59] #912 closed

[2019-07-12 18:47] #2356 closed

[2019-07-14 02:54] SriKrishnaPaparaju opened #2485 "Flagging probable vulnerabilities for KubeVirt ecosystem"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:
KubeVirt codebase rely on dependencies from more than few direct & indirect repositories. All these repositories would go thru their own lifecycle (Issues/PRs/Commits) and potentially might introduce few security vulnerabilities. Most of the vulnerabilities introduced either have a huge time lag / never get to a

[2019-07-14 18:10] SchSeba commented on #2161
Can we just add a validating webhook to block this??

I think the volume name should have the same restriction as the pod name.

[2019-07-15 02:05] yinjingjiu commented on #2392
Dear @petrkotas
Please use the password admin123 to enter the windows desktop, Will there be a mouse asynchronous problem?

[2019-07-15 03:01] yinjingjiu commented on #2378
Dear @petrkotas
Thanks, I will try the Windows 2008 desktop version and report my information later.

[2019-07-15 07:55] rmohr commented on #2161
You are right. The issue is that the volume name check is not strict enough ...

[2019-07-15 10:29] rmohr commented on #2485
@SriKrishnaPaparaju thanks for creating the issue and taking action from my email. Let me know if I can assist in any way.

[2019-07-15 14:20] gklein opened #2490 "Failed to run the kubevirt integration tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:
Test should run according to the documented steps at:
https://github.com/kubevirt/kubevirt/tree/master/tests#run-them-on-an-arbitrary-kubevirt-installation

**How to reproduce it (as minimally and precisely as possible)**:
$ go test -kubeconfig=/home/kni/dev-scripts/ocp/auth/kubeco

[2019-07-15 15:42] SchSeba commented on #2490
can you try to run `make functest`

[2019-07-16 05:24] gklein commented on #2490
[code]

[2019-07-16 07:24] linqingping opened #2491 "the vmi can never be deleted."
when I create vm the pod unschedulabe ，when I delete vmi the vmi can never be deleted

[2019-07-16 07:28] linqingping commented on #2491
![image](https://user-images.githubusercontent.com/20528139/61274358-3ed16780-a7de-11e9-8880-50749e13e0c2.png)
![image](https://user-images.githubusercontent.com/20528139/61274385-4b55c000-a7de-11e9-822e-132a048cb165.png)

[2019-07-16 07:52] fabiand commented on #1852
I wonder if anybody watching this issue has started to work on this already?

[2019-07-16 10:00] slintes commented on #2490
The first issue rings a bell at me, I remember a discussion about the same error. IIRC it was a relative/absolute path issue. If you run tests from KubeVirt's root dir, it should work. Need to find where we had the discussion and if it was solved somehow (obviously not).
No clue about the error from make functest, never saw that before...?

[2019-07-16 10:15] gklein commented on #2490
Doesn't work from the project root directory either
[code]

[2019-07-16 10:43] moadqassem opened #2494 "DataVolume feature gate is not enabled even thought the config map is created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While I was trying to create a VirtualMachine with DataVolume enabled, I always get this error:
`The  "" is invalid: spec.template.spec.volumes[0]: DataVolume feature gate is not enabled `

Even though the configmap for enabling the DataVolume Feature Gate is actually created.

**What you expected to happen**:
I expect th

[2019-07-16 10:51] rmohr opened #2495 "Failed migrations are not properly reflected on the VMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After a failed migration I see

[code]

on the VMI. If I try to create a new migration, I get

[code]

The migration object was not even present anymore and I did not do a force-delete, so with finalizers it would have been able to  clean this up.

**What you expected to happen**:

If a migration fails, the VMI status sh

[2019-07-16 10:53] rmohr commented on #2491
@linqingping from the snippet you shared, I can see `Error from server: etcdserver: request is too large`. That sounds like there is an issue in the cluster. Is everything else working normally for you?

[2019-07-16 10:57] SchSeba commented on #2490
@gklein can you please move the kubevirt folder under.

`$GOPATH/src/kubevirt.io/` and try again

[2019-07-16 11:15] slintes commented on #2490
No, since we use go modules, that should not be needed.
I think tests/config.go is messed up (even though it somehow works in CI ;) ). It even offers a flag to override the config file location, but that is not used. Will have a look at it later on today.

[2019-07-16 11:17] gklein commented on #2490
[code]

[2019-07-16 12:35] moadqassem commented on #2494
So the main problem here is, the newly created configmap that configure the VM to enable the DataVolume is not picked up by the `virt-api`, thus restarting the `virt-api` will be sufficient. Once the pods are deleted the operator will create new one and the VM should be created successfully.

[2019-07-16 12:35] #2494 closed

[2019-07-16 12:39] vladikr commented on #2495
Tricky :) ... I'll take a look.

[2019-07-16 13:28] codificat opened #2496 "virtctl image-upload error message for missing pvc size is confusing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

When you invoke `virtctl image-upload` without specifying a `--pvc-size` you get an error message that is not clear enough about the nature of the problem:

[code]

**What you expected to happen**:

It should say something like:

    Missing --pvc-size

or similar.

**How to reproduce it (as minimally and precise

[2019-07-16 14:56] fabiand commented on #2400
@cynepco3hahue @SchSeba anything blocking this work?

[2019-07-16 15:02] SchSeba commented on #2400
@fabiand waiting for this PR https://github.com/kubevirt/kubevirt/pull/2487 to be merge and I am fixing the review comments here #2430

[2019-07-16 15:10] fabiand commented on #2400
Thanks, that does not sound to bad.

[2019-07-17 00:54] linqingping commented on #2491
![image](https://user-images.githubusercontent.com/20528139/61339381-26aa2880-a870-11e9-8ac5-14550572d4c9.png)
Other work is normal

[2019-07-17 01:25] gageorsburn commented on #2161
Assuming the disk section of the vmi admission hook in virt-api would be the right place to add naming validation for volumes?

https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go#L484

[2019-07-17 07:08] SchSeba commented on #2161
Hi @gageorsburn this is the right file but you should validate both volumes and disks. just like on pods you have volumes and mounts

[2019-07-17 07:12] rmohr commented on #2491
Hm, ok so let's approach this a little bit structured:

 1) The pod is not schedulable, but apparently ol the other ones are. Does the network attachment definition exist in the namespace of the VMI?

 2) could you schare your vmi definition? What in theory could be the reason on why it can't be deleted: There is an object limit of 1M per default in etcd. So it might be the case that the whole VMI

[2019-07-17 10:52] KrisTC commented on #1852
We are also interested in this feature.

[2019-07-17 13:55] slintes commented on #2471
and another one, not on migration...
[code]

[2019-07-17 14:05] petrkotas commented on #2392
Dear @yinjingjiu I tried to login and I can verify the mouse works. There certainly is offset with the host cursor, but this is not and error. Mouse send relative coordinates and there is difference between an host and guest OS display resolution.

I am strongly convinced, the error in your case is with the use of noVNC. The mouse works from the KubeVirt perspective.

Anyway, thank you for reporti

[2019-07-18 07:38] rmohr commented on #2049
@mmack @dcritch  so far we never managed to reproduce this. Is this still an issue?

[2019-07-18 07:41] fromanirh opened #2502 "Integration in the OCP prometheus monitoring"
/kind enhancement
We need to do some steps to properly integrate in the OCP/OKD monitoring infrastructure.
This boils down to set namespaces properly (naming, labels) and add few RBAC permissions.
I'm not sure this issue needs to be addressed in kubevirt core, let's discuss this in the issue

**What happened**:
Without user action, kubevirt metrics aren't scraped by default by OCP/OKD prometheus m

[2019-07-18 08:46] fromanirh opened #2504 "Incorrect prefix for kubevirt VMI metrics"
/kind bug

**What happened**:
Kubevirt exports some prometheus metrics related to VMI (virtual machine *instance*) behaviour. The prefix of such metrics is "kubevirt_vm_", and this is misleading.

**What you expected to happen**:
The prefix for VMI metrics should be "kubevirt_vmi_"

**How to reproduce it (as minimally and precisely as possible)**:
Fetch metrics from virt-handler

**Environment**:

[2019-07-18 10:06] petrkotas opened #2505 "Add missing TARGET variable for CI."
/kind bug

**What happened**:
CI is missing the `TARGET` variable specifying which environment is running in the CI suite. Due to this misconfiguration, the `oc` tests for OCP cluster are not run and are skipped.

**What you expected to happen**:
`oc` tests are not skipped and are run normally as other tests.

**How to reproduce it (as minimally and precisely as possible)**:
Open any PR and look a

[2019-07-18 10:52] slintes commented on #2505
the TARGET is set by Prow, see e.g. https://github.com/kubevirt/project-infra/blob/master/github/ci/prow/files/jobs/kubevirt/kubevirt-presubmits.yaml#L136 ...? The problem must be somewhere else.

[2019-07-18 12:39] mbhatnagar11 opened #2508 "Access Kubevirt vm's file system from host machine"
Kubevirt version = v0.15.0

Is there any way we can access kubevirt vm's file system through host machine ?

[2019-07-18 16:32] dcritch commented on #2049
@rmohr I have not seen it reoccur myself. To me, I'd say its no longer an issue

[2019-07-19 09:13] linqingping opened #2511 "Failed to accept unix sock connection"
{"component":"virtctl","level":"info","msg":"Failed to accept unix sock connection. accept tcp [::]:5920: i/o timeout","pos":"vnc.go:143","timestamp":"2019-07-19T16:12:37.086201Z"}
Error encountered: accept tcp [::]:5920: i/o timeout

[2019-07-19 10:28] petrkotas commented on #2505
This issue turns out to be irrelevant.  Also symptoms are resolved via #2500. Closing this as being deprecated.

[2019-07-19 10:28] #2505 closed

[2019-07-19 12:00] moadqassem commented on #2474
I have actually encountered the same issue and there are couple of things you need to  make sure about:
1- make sure that the VM has booted up and running without any issues(describing the VM might give you some insights, `kubectl get vm` is not enough due to the absence of the events.
2- if the VM is booted then give it some time to connect.

[2019-07-19 13:27] petrkotas commented on #2511
Hi @linqingping in order to help you with your issue, you have to provide more information.
Please follow the template for the new issue and also please provide the logs for `virt-api`, `virt-controller`, `virt-laucher` and `virt-handler`.

Thanks in advance.

[2019-07-19 13:39] fromanirh commented on #1957
/remove-lifecycle rotten

[2019-07-19 14:09] petrkotas commented on #2508
Hi @mbhatnagar11 currently there is no feature enabling you to do it directly.
Kubevirt stores the filesystem as raw disk in the storage domain. If you can access that domain directly
and the machine is not running you can access the dist directly by mounting the raw image to you system. The tip how to do it is e.g. here http://blog.siphos.be/2016/09/mounting-qemu-images/

[2019-07-20 06:25] #2490 closed

[2019-07-20 08:56] #1874 closed

[2019-07-20 08:56] #1943 closed

[2019-07-20 08:56] #1994 closed

[2019-07-20 09:57] #965 closed

[2019-07-20 14:01] #1747 closed

[2019-07-20 14:01] #975 closed

[2019-07-20 14:01] #1632 closed

[2019-07-22 07:25] slintes commented on #2471
another one:
[code]

[2019-07-22 07:28] slintes commented on #2471
[code]

[2019-07-22 11:27] mfranczy commented on #2373
/cc @vatsalparekh

[2019-07-22 11:29] vatsalparekh commented on #2373
/assign me

[2019-07-22 11:31] mfranczy commented on #2373
/assign @vatsalparekh

[2019-07-22 11:33] vatsalparekh commented on #2373
/assign @vatsalparekh

[2019-07-22 12:53] rmohr commented on #677
/close

fixed in #2510 and #2514.

[2019-07-22 12:53] #677 closed

[2019-07-22 16:14] winsopc commented on #2214
I hit same issue on my k8s with 3 nodes,
 kubectl get pods --all-namespaces |grep cdi
cdi              cdi-apiserver-bf7bf7456-x99lf                 1/1     Running     0          2d18h
cdi              cdi-deployment-67cc7d9b59-s7nn8               0/1     Evicted     0          2d18h
cdi              cdi-deployment-67cc7d9b59-s7vxq               1/1     Running     9          2d18h
cdi

[2019-07-23 14:20] fedepaol commented on #2471
Just happened to me:

[code]

[2019-07-23 18:40] vladikr commented on #2471
I think that in all of these examples we also must look at the virt-launcher log.
The `DeadlineExceeded` error just means that virt-launcher didn't respond on time.
In the case of NFS, we know that libvirt create command is blocking and it never returned, leaving the virt-launcher stuck.
As for the other cases, we need at least to look at the virt-launcher logs.

[2019-07-24 07:27] fedepaol commented on #2471
In my case I think the guest just takes more than 5 seconds for be activated.

The following happened on three consecutive runs of the CI lane I am trying to setup, now it's not happening anymore.

On the virt-handler logs I see:
[code]

So the call must have started at ~ 16:47:20

On the virt launcher I see
[code]

Which should be the activation of the guest, which took roughly 14 seconds to happ

[2019-07-24 07:46] fromanirh commented on #2471
It seems it boils down to this: the VM starts succesfully, but it is just too slow and the timeout triggers.
I wonder what's the proper solution here, since this can very much happen on production environment as well - plenty of cases from oVirt experience. Maybe we can start relaxing the timeout only on CI?

[2019-07-24 07:49] fedepaol commented on #2471
And, I add, it won't even get noticed since it gets recovered by the retries.

[2019-07-24 08:50] slintes commented on #2471
tbh, the 5 seconds timeout was a quite random value chosen by me when refactoring the handler-launcher communication to GRPC a while ago. Would it make sense to increase it? What would be a good value? How long can a call to libvirt take?
For CI: the `waitForVMIPhase` func has a `ignoreWarnings` flag. I'm only a bit afraid that using this for "fixing" all the test where this warning occured might

[2019-07-24 08:54] fedepaol commented on #2471
Yes I wasn't sure about what the _proper_ solution was. Ignoring all the warnings seems a bit too extreme to me.

Maybe allow the watcher to filter not interesting warnings could be a way to do that (i.e. filtering out SyncVMI timeouts but still failing for all the other kind of warnings) but I don't have a strong opinion on that. Every solution we pick is a compromise, I'm afraid.

[2019-07-24 09:00] cynepco3hahue commented on #2471
IMHO we should just to ignore this specific warning because we have retry logic anyway.

[2019-07-24 09:13] slintes commented on #2471
Oh, with `might hide real, not time related issues` I also meant this timeout warning, because it might also be caused by other things than just "it takes longer than expected". E.g., for the NFS migration Vladik mentioned above, I increased the timeout to several minutes, didn't help. But the 2nd call always succeeded, also with a short timeout.
However, I agree that on the other hand this works

[2019-07-24 09:44] fedepaol commented on #2471
@slintes agree, but let's try with (at least) 5 attempts. My test took 14 seconds to spin the vm up so it would be a little on the edge.

I'll send a PR for this soon.

[2019-07-24 10:12] hsychla opened #2527 "Allow adding annotations to a VM's pod"
/kind enhancement

**What happened**:
I want/need to give the Pod interface of the VM a static calico IP but can not find a way to add the needed annotation `cni.projectcalico.org/ipAddrs:` to the VM's pod.

**What you expected to happen**:
Find a way to add the annotation to the pod.

**How to reproduce it (as minimally and precisely as possible)**:
**Anything else we need to know?**:
**Environme

[2019-07-24 12:45] petrkotas commented on #2527
Hi @hsychla, thanks for reporting this issue. We do support some level of cni annotations.
Would this https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/interfaces-and-networks.html be helpful to you?

Otherwise, I am sure @SchSeba or @phoracek would be able to provide more help.

[2019-07-24 13:40] SchSeba commented on #2527
Hi @hsychla can you please give as more details about your use case?
Thanks!

[2019-07-25 07:20] #2373 closed

[2019-07-25 17:40] suomiy opened #2530 "description and properties are missing in swagger JSON"
/kind bug

**What happened**:

`description` and `properties` of `VirtualMachine`, `VirtualMachineInstance`, etc. are missing in swagger JSON

Only this info is available for `VirtualMachine`

[code]

compared to `VirtualMachineList`

[code]

**What you expected to happen**:

Properties and description should be available.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2019-07-26 08:33] kunalkushwaha opened #2532 "make cluster-sync not working."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

after `make cluster-up`
`make cluster-sync` fails .

The images are not build and hence while pushing images to local registry it fails.

**What you expected to happen**:

Images should be build and visible in host machine `docker images` output

**How to reproduce it (as minimally and precisely as possible)**:

**Anythi

[2019-07-26 09:14] petrkotas commented on #2532
Hi @kunalkushwaha, thanks for reporting this issue.  Please, which OS are you running? What docker version are you using? Also do you have any nod default setup on you machine - eg virtualization solution.

Thanks a lot.

[2019-07-26 09:34] fromanirh opened #2533 "kubevirt upgrade 0.18.1 -> 0.19.0 failed on minishift"
/kind bug

**What happened**:
The kubevirt-template-validator projects wants to test compatibility against various kubevirt versions. To do so, on travis we run minishift, we install kubevirt version N-1, we do the tests, and if succesfull we upgrade kubevirt using kubevirt-operator to version N. Of course N <= last released kubevirt version.
In this scenario, the upgrade from version v0.18.1 to v

[2019-07-26 11:19] slintes commented on #2533
IIUC, you are using the v0.18.1 operator to update KubeVirt from v0.18.1 to v0.19.0, right?
That won't work (at least not always), because in case the newer KubeVirt version needs extended RBAC rules, like in this case, the old operator can't deploy the new version because it doesn't have those extended RBAC rules itself. The way to go is to update the operator itself by applying the newer `kubevi

[2019-07-26 11:49] slintes commented on #2532
also, which KUBEVIRT_PROVIDER do you use? I just tried it with the k8s-1.13.3 default provider and it worked (on current master branch, commit 292310f82a96e727e69c7cb7b5e692a46dd7f446)

[2019-07-26 12:07] fromanirh commented on #2533
yes, that's the case, thanks for clarifying. Not sure if is really a bug, then. Maybe worth a mention in the user-guide?

[2019-07-26 12:52] kunalkushwaha commented on #2532
[code]
@slintes @petrkotas I just updated the required information.

Also, I tried to do with `make clean`, but still images are not visible in `docker images` output.

[2019-07-26 16:35] #2471 closed

[2019-07-27 03:38] lxs137 commented on #2508
I have a workaround to handle this situation:
* mount a block device in VM's pod, VM use this device as disk directly
* this block device can also be mounted on host

[2019-07-27 16:17] mbhatnagar11 commented on #2508
Hi @lxs137

Can you please post the yaml file you used for creating VM with mounted block device and also share the procedure .

[2019-07-28 03:05] lxs137 commented on #2508
It is nothing special about `virtualmachine.yaml`, I just use a `PVC`, which is bound to a Block `PV`. (When `Pod` spec has a Block `PVC`, `kubelet` will create the container with the Block `PVC` as a device, so you can access the device by `/dev/sdx`):

[code]

In VM guestOS, you can access that device, and store your data on it.

In hostOS, `kubelet` will create the Block Volume as a device, and

[2019-07-28 14:38] #1847 closed

[2019-07-29 01:32] linqingping opened #2538 "Flashback after connecting VNC"
I have three work nodes deploy 40 virtual machines，The vmi status all runing.When I use virtcrtl vnc connect vm flashback after connecting VNC
The kubevirt version：v0.19.0

[2019-07-29 02:02] linqingping commented on #2538
virt-api
![api](https://user-images.githubusercontent.com/20528139/62017077-e0e24e00-b1e7-11e9-8909-08f2af8f6297.png)

[2019-07-29 02:03] linqingping commented on #2538
virt-handler
![handler](https://user-images.githubusercontent.com/20528139/62017121-066f5780-b1e8-11e9-9aae-3ec19c79d9d6.jpg)

[2019-07-29 02:30] Helenbj commented on #2511
@petrkotas

**virt-api**

[code]

**virt-controller**

[code]

**virt-launcher**

[code]

**virt-handler**

[code]

[2019-07-29 03:12] Helenbj opened #2539 ""virtctl vnc" cannot connect to vmi VNC occasionally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When accessing the vmi VNC via command `virtctl vnc vmi`, I sometimes can open and operate in the VNC window, while other times the VNC window just flash and close immediately leaving me an error message `Error encountered: read tcp 127.0.0.1:35649->127.0.0.1:54416: read: connection reset by peer` in the terminal.

When accessing t

[2019-07-29 05:22] Helenbj commented on #2539
I see changes of code for issue #2171 were merged to kubevirt:master on Apri 6, while my kubevirt version is v0.19.0 which is updated 24 days ago. My vm qemu-version is 3.1.0, could I think that current version of kubevirt I use has already walkaround #2171 ?

What's more,  I see 5 of 11 checks passed:

My kernel is 3.10.0-957.12.1.el7, so if this mean v0.19.0 not work for my kernel?

[2019-07-29 06:13] kunalkushwaha commented on #2532
[code]
even after `make clean`,  `make bazel-build-images` skips building images and push to local registry.
I see this line
[code]

Is this correct behaviour?
Is there any way, I can skip the cache check, and bazel forcefully build without cache?

[2019-07-29 07:59] petrkotas commented on #2532
@kunalkushwaha I am honestly not sure what is happening. I have not encountered this error before. Maybe @cynepco3hahue may help, since he build the bazel tooling.

[2019-07-29 08:04] slintes commented on #2532
That the images aren't rebuild after a clean is strange indeed. That no push happens is expected, because bazel-build-images does not push at all. That's done by bazel-push-images

The bazel server is running in docker, and all cached files are in a docker volume. You can try do delete the latter and retry:
[code]

[2019-07-29 08:15] petrkotas commented on #2538
Hi @linqingping, what do you mean by flashback? I am not sure I understand your issue. Are you having trouble with opening VNC connection? Does the VNC connection closes?

Also would you please share the logs in plaintext format? The important logs are for `virt-controler, virt-handler, virt-launcher (problematic VM), virt-api`

Thank you for reporting.

[2019-07-29 08:18] fromanirh commented on #2533
user-guide patch proposed here: https://github.com/kubevirt/user-guide/pull/265
We can close this issue.

[2019-07-29 08:18] #2533 closed

[2019-07-29 08:19] kunalkushwaha commented on #2532
I tried deleting the `kubevirt-bazel-server` container , but never deleted volume. Maybe this will fix.
I am trying to rebuild again after deleting volume.

[2019-07-29 08:23] cynepco3hahue commented on #2532
@kunalkushwaha Can you please provide the output of `docker ps` command on the environment when do you run `make cluster-up`, probably `F0726 08:20:35.171421   24317 fast_pusher_.py:194] Error publishing localhost:32803/kubevirt/virt-handler:devel: (503, 'Service Unavailable')` happens because it refers wrong registry port.

[2019-07-29 08:28] petrkotas commented on #2539
Hi @Helenbj, thanks for reporting this issue. Did you also try `virtctl console` for linux vms?
For the VNC did you try the remote-viewer that comes with virtualization package?

As for the patch #2171, yes this one is in the release. That means, the VNC should stay available.

One of the reasons for not being able to open VNC properly can be the way VM is created. We use a socket rediect from the

[2019-07-29 08:36] kunalkushwaha commented on #2532
The ports have changed, as I created cluster again.
[code]
But I had checked that and I was able to push other images into registry on same port and pull it in `kubevirt` k8s VM from registry.

The problem is images e.g (`localhost:32803/kubevirt/virt-handler:devel`) should be visible after build images on host with `docker images`. Its not visible.

even after I removed the docker volume  `kubvev

[2019-07-29 08:42] cynepco3hahue commented on #2532
nope it is not, currently we are building via bazel, so all images exist under the bazel cache and not under the local registry

[2019-07-29 08:44] kunalkushwaha commented on #2532
The error has changed now.

[code]

- I updated the code to master ( earlier code was of last week)
- removed the docker volume `kubevirt`

complete log https://gist.github.com/kunalkushwaha/b85f45ccc086023afaac72120ff425cb

[2019-07-29 08:45] kunalkushwaha commented on #2532
@cynepco3hahue got it. Please check here https://github.com/kubevirt/kubevirt/issues/2532#issuecomment-515902657 error is changed now.

[2019-07-29 08:50] Helenbj commented on #2539
Hello, @petrkotas , thanks for your quick reply.

If using `virtctl console vmi`, I'll get:

[code]

As I know, `virtctl vnc` uses remote-viewer to display VNC window, which is installed in desktop linux version by default. I also have tried only use remote-viewer to access, no better.

[2019-07-29 08:50] cynepco3hahue commented on #2532
@kunalkushwaha hm, what exactly command do you run?

[2019-07-29 08:51] linqingping commented on #2538
@petrkotas  Thank you for you help！The VNC connection close
virt-api
[code]

virt-controller
[code]
virt-launcher
[code]
virt-handler
[code]

[2019-07-29 08:53] kunalkushwaha commented on #2532
[code]

error happens on `make cluster-sync`

[2019-07-29 09:02] cynepco3hahue commented on #2532
@kunalkushwaha Give me some time will check it locally.

[2019-07-29 12:57] #2400 closed

[2019-07-30 07:03] #2368 closed

[2019-07-30 08:57] #1638 closed

[2019-07-30 10:34] cynepco3hahue commented on #2532
@kunalkushwaha hm I check it locally after the rebase, and all works as expected :worried:

[2019-07-30 10:50] kunalkushwaha commented on #2532
Can proxy be issues?

Though I am able to push image to registry form host and pull it from
KubeVirt VM.

Can you give me pointer to debug the issue? Like check in cache if images
are build, and place where I need to look for pushing images

On Tue, Jul 30, 2019, 7:34 PM Artyom Lukianov <notifications@github.com>
wrote:

[2019-07-30 11:55] slintes commented on #2532
Mh, the push is trying to push to localhost:32803
`F0726 08:20:35.171421   24317 fast_pusher_.py:194] Error publishing localhost:32803/kubevirt/virt-handler:devel: (503, 'Service Unavailable')`

But I don't see that port open:
`2080ec374838        kubevirtci/k8s-1.13.3   "/bin/bash -c /dnsma…"   59 seconds ago      Up 58 seconds       127.0.0.1:8443->8443/tcp, 0.0.0.0:32843->2201/tcp, 0.0.0.0:3284

[2019-07-30 15:16] slintes commented on #2532
I just came into a similar situation and noticed that `make push` ignores KUBEVIRT_PROVIDER and always uses settings of k8s-1.13.3, which does not work if you started another cluster. `make cluster-sync` should work though.

[2019-07-30 17:19] slintes commented on #2532
the `make push` issue mentioned in the last comment will be fixed by https://github.com/kubevirt/kubevirt/pull/2549

[2019-07-31 01:28] kunalkushwaha commented on #2532
The output is from different run, so ports changed.

I feel this error is due to proxy settings

I have one question:
`F0731 00:55:18.670257    4551 fast_pusher_.py:194] Error publishing localhost:32849/kubevirt/virt-handler:devel: (503, 'Service Unavailable') `
this line i.e. push logic executes on host or within container?

[2019-07-31 01:48] kunalkushwaha commented on #2532
@slintes @cynepco3hahue @petrkotas It got resolved :)

bazel push script understand proxy with `HTTP_PROXY` & `HTTPS_PROXY` setting not in small cases i.e. `http(s)_proxy`

Thanks for all help :)

[2019-07-31 01:48] #2532 closed

[2019-07-31 08:19] slintes commented on #2532
glad that you sorted this out! :slightly_smiling_face:

[2019-07-31 09:55] petrkotas commented on #2532
@kunalkushwaha thanks for sharing the how-to solve this issue. And I am glad that this issue is sorted out.

[2019-07-31 21:14] awels opened #2553 "DataVolumeTemplates do not copy annotations properly."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Data Volume Templates are not copying annotations from the template to the created data volume.

**What you expected to happen**:
Annotations are copied properly.

**How to reproduce it (as minimally and precisely as possible)**:
Put an annotation in a data volume template, and see it doesn't get copied into the resulting

[2019-08-01 08:15] SriKrishnaPaparaju commented on #2485
@rmohr [Here is the list ](https://gist.github.com/SriKrishnaPaparaju/d3ef94f77ebaed78fdd66432432b99e5)of repositories (direct and transitive) that KubeVirt project rely on. Would be great if I can get confirmation before we start scanning these repositories for any probable vulnerabilities.  Please suggest if sending out the weekly scan results (might contain few false positives) to kubevirt-secu

[2019-08-01 12:01] #2553 closed

[2019-08-01 14:49] #2504 closed

[2019-08-01 17:19] #2161 closed

[2019-08-02 07:02] mbhatnagar11 opened #2560 "Is there any way to change the image of a deployed VM"
Kubevirt verison  - v0.15.0

I need to upgrade the image of a VM , that VM is already deployed with an image of prior version.
Is there any api provided in Kubevirt for this?

[2019-08-02 07:26] #2538 closed

[2019-08-02 07:30] #2491 closed

[2019-08-02 07:30] #2511 closed

[2019-08-02 07:32] rmohr commented on #2491
@linqingping the reason finally that the nework attachment definition did not exist?

[2019-08-02 08:27] petrkotas commented on #2560
Hi @mbhatnagar11 would you please share more information regarding your use case?
Please provide a full yaml file for your VM. What do you want to change?
The answer depends on how your VM looks like.

[2019-08-02 08:34] petrkotas commented on #2539
Hi @Helenbj , how did you created the images? There is a bug related to the issue here https://github.com/kubevirt/kubevirt/issues/2209

Also, have you tried to boot the images outside of the KubeVirt? Are they booting?

[2019-08-02 08:35] mbhatnagar11 commented on #2560
Hi @petrkotas

Basically what I want to do is , deploy a VM using an image . After deployment , I want to change or upgrade the image which that deployed VM was using. Below is the yaml file I am using for creating the VM :

`apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: wanoptimizer
spec:
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/domain:

[2019-08-02 09:21] petrkotas commented on #2560
If you are OK with downtime, you can change the YAML specification to point to new image and than reboot the VM. The new VM will pick up the new image.

For the scenario without downtime, I am not aware of any current solution KubeVirt can offer. We have [`VirtualMachineReplicaSets`](https://kubevirt.io/user-guide/docs/latest/using-virtual-machines/virtual-machine-replica-set.html), which unfortun

[2019-08-02 09:30] mbhatnagar11 commented on #2560
Hi @petrkotas

Yes , we are okay with the down time. Thanks for the solution . Can you please tell me the procedure to update yaml of a running vm , is there any test api for doing the same?

[2019-08-02 09:49] rmohr commented on #2485
Not sure, but this line looks like a vim accident:

[code]

The list looks overall good. Was it extraced from our `go.mod` file? Would it help you if you just take our `go.mod` file?

Please suggest if sending out the weekly scan results (might contain few false positives) to [kubevirt-security@redhat.com](mailto:kubevirt-security@redhat.com) makes sense.

Yes this mail address is a good start.

[2019-08-02 11:29] petrkotas commented on #2560
The update is done the same as for any other K8s object.

If you have created the VM via `kubectl apply` you can easily change the yaml file and do the `kubectl apply -f yamlfile.yaml` again and the object will be updated.

Otherwise you can call `kubectl patch` passing the changed part of the yaml. It will merge the changes to existing object. The documentation and examples are shown here https:/

[2019-08-02 14:08] #2053 closed

[2019-08-02 14:29] gabrielecerami commented on #2530
Hi, trying to solve as a first bug, if you deem this bug too urgent to be fixed by me, please tell me.

[2019-08-02 14:49] SriKrishnaPaparaju commented on #2485
Yes :)

Yes, extracted from '.mod file'

Ack.

[2019-08-02 15:03] slintes commented on #2530
Hey, I'm looking already into this, but since I didn't find the cause of this yet, and I'm on PTO next Monday and Tuesday, help is welcome.
What I found out so far:
- there is a pattern: every singular resource (e.g. VirtualMachine) is missing description etc., every list (e.g. VirtualMachineList) is ok
- our generated swagger.json looks good for both (see https://github.com/kubevirt/kubevirt/blob

[2019-08-02 16:10] #2084 closed

[2019-08-04 23:08] lpgc commented on #1230
I would note that recently qemu-system-x86_64 has added a new machine type 'microvm' which is intended to support small/fast VM r/t environments, due to this restriction it is not possible to configure a VMI to use this latest machine type.

[2019-08-05 06:58] mbhatnagar11 commented on #2560
Hi @petrkotas ,

I have been using `kubectl patch virtualmachine vm5 --type=merge -p '{"spec":{"image":"kubevirt/ubuntu-firewall"}}'` , but running into below error :

`The  "" is invalid: : spec.image in body is a forbidden property`

[2019-08-05 08:03] rmohr commented on #1023
/remove-lifecycle stale

[2019-08-05 09:18] petrkotas commented on #2560
Hi @mbhatnagar11 happy Monday :).

Let me help you with that, it is a simply typo. The `image` is actually actually part of a volume, not `spec`. Than the `spec` is inside the `template` inside the `spec`. Also the particular `volume` is part of an array.

The actual command should look like this:

[code]

To help with the structure here is the patch formatted:

[code]

When patching the array, th

[2019-08-05 09:42] mbhatnagar11 commented on #2560
Hi @petrkotas

Thanks for your help . After running the command that you have provided , I am running into below error :
`Error from server (UnsupportedMediaType): the body of the request was in an unknown format - accepted media types include: application/json-patch+json, application/merge-patch+json`

[2019-08-05 12:02] rmohr commented on #2378
@yinjingjiu so #2395 is finally merged. It will be part of the next release and should remove the unnecessary copies. It should help you a little.

[2019-08-05 12:06] mbhatnagar11 commented on #2560
Hi @petrkotas

I was able to patch the vm using this command : `kubectl patch virtualmachine vm5 --type=merge -p '{"spec": {"template": {"spec": {"volumes": [{"name": "rootfs","containerDisk": {"image": "kubevirt/ubuntu-firewall-newimage"}},{"name": "cloudinit","cloudInitNoCloud": {"userData": "ip a add 10.0.0.10/24 dev enp2s0\nip a add 10.0.0.20/24 dev enp3s0\nip link set dev enp2s0 up\nip link s

[2019-08-05 14:16] rmohr commented on #2470
@lurenjia528 sorry that for so long no one answered. Right now we don't support arm64. We are always happy if someone wants to add it though. There is a similar attempt to support ppc64le (#2145). Like there we are happy to assist with code review, integrating to travis and do container releases, but we can right now not support or test it.

[2019-08-05 14:43] rmohr commented on #2470
/kind enhancement

[2019-08-05 14:49] rmohr commented on #2474
@moadqassem could you connect via `vnc` and confirm from within the guest that the tty was indeed used for the console by the kernel?

[2019-08-05 15:55] moadqassem commented on #2474
@rmohr As far as I can see yes:

`Ubuntu 18.04.2 LTS ubuntu-1-15-0-kubevirt-6b9***** tty1`

[2019-08-05 20:33] brianberzins commented on #2474
I had what sounded like a similar problem and it turned out to be blocked by entropy.
This may not be it, but it should be fairly easy to test out!

https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/virtualized-hardware-configuration.html#random-number-generator-rng

[2019-08-06 02:02] yinjingjiu commented on #2378
Dear @rmohr
Thank you for your contribution, You are a star!😄

[2019-08-06 07:31] petrkotas commented on #2560
Hi @mbhatnagar11 it is due to the fact that the patch does not know how to merge which item in an positional array is going to be replaced. Therefore it needs the whole array.

[2019-08-06 07:38] rmohr commented on #2560
@mbhatnagar11 in case you are not interested in the patch, for automation purposes, consider

[code]

You can then modify the image with your favourite text editor. Like you can on all other k8s resources.

[2019-08-06 07:43] rmohr opened #2566 "[flaky test] No permission to open /dev/null"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There is sometimes a weird error in CI which makes tests randomly fail.

virt-launcher logs: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2565/pull-kubevirt-e2e-os-3.11.0/1158359492350447616/artifacts/pods/1_kubevirt-test-default_virt-launcher-testvmirmdd8lx8lz2nk6w8dc85lqjgw42b5km9754br5vd

[2019-08-06 07:44] rmohr commented on #2566
@cynepco3hahue @SchSeba @slintes @fedepaol FYI

[2019-08-06 07:45] rmohr commented on #2566
Edit: removed `/dev/mem/` error from here because that is always there.

[2019-08-06 07:48] cynepco3hahue commented on #2566
Some additional test that failed because of it:
[code]

[2019-08-06 08:25] rmohr opened #2567 "Get rid of "false positive" errors during migrations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We don't seem to use libvirt right during migrations in certain scenarios. This produces errors, which don't break the migration but make tracing things hard:

[code]

[code]

Logs:
 * https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2395/pull-kubevirt-e2e-k8s-1.11.0/1157613201068658688/artifac

[2019-08-07 00:38] jichenjc commented on #2496
/assign

brand new to this project, try to learn from work..

[2019-08-07 01:42] lurenjia528 commented on #2470
@rmohr thanks

[2019-08-07 07:21] mfranczy commented on #2496
@jichenjc I don't think that making the `pvc-size` mandatory is a way to solve the issue, consider that the PVC may already exist or someone doesn't want to attempt to create a new one ([--no-create flag](https://kubevirt.io/user-guide/docs/latest/administration/image-upload.html)). My guess is that we try to validate the pvc-size param even if it is not passed and that's why we have the regex mes

[2019-08-07 07:45] mfranczy commented on #2496
the error comes from https://github.com/kubevirt/kubevirt/blob/master/pkg/virtctl/imageupload/imageupload.go#L349 (look at [link](https://play.golang.org/p/Qq9t8cfhjGb)) we can check there if the `size` is empty and return an appropriate message or make `pvc-size` mandatory only when `no-create` flag is not passed.

Regardless the solution to solve it, I think it's worth to improve error mesage, w

[2019-08-07 07:49] jichenjc commented on #2496
ok, I will modify my PR, thanks for the info

BTW: brand new to here, so need time to warm up the whole stuffs :)

[2019-08-07 08:26] slintes commented on #2530
Hey @gabrielecerami, did you have a chance to look into this?

[2019-08-07 11:40] plwhite opened #2577 "Interfaces set in domain.spec ignored if networks field left as default"
**BUG REPORT**

/kind bug

**What happened**:

When creating a VMI (either directly or through a VM or a VMIRS), the VMI ended up with the default values for interfaces, even if something different was supplied. In other words, create a VMI with (say)
[code]
using `kubectl apply`. As soon as you have done so, get the object you just created with `kubectl get -o yaml`. The interfaces part of the sp

[2019-08-07 15:06] gabrielecerami commented on #2530
Sorry, I am and will be very slow as I'm trying to get familiar with the code. Had some time to check also openapi generated files and generic proxies, they look ok, I was starting to check if the operationIds "read.*" and "list.*" are treated in some different way by a filter during the GET.

[2019-08-07 15:24] fabiand commented on #2144
/remove-lifecycle stale

[2019-08-07 17:05] slintes commented on #2530
No problem, we all know that it takes a while to get familiar with the code :slightly_smiling_face:

I went on with this today because there is some urgency, and fixed it... even though I don't know exactly yet how :thinking:
So I am afraid to need to pick another issue, sorry.

[2019-08-07 17:09] davidvossel commented on #2378
agreed. PR #2395 is a serious accomplishment. great work @rmohr !

[2019-08-08 06:49] slintes commented on #2530
that was a false positive yesterday, but I found out what is causing this:

a) we don't have a openapi validation schema on our CRDs (wasn't needed until now, validation is done by our apiserver/webhook)
b) even if we have, this is a feature gated alpha feature in k8s 1.14, see https://github.com/kubernetes/enhancements/issues/692

[2019-08-08 06:51] mbhatnagar11 commented on #2560
Hi @petrkotas

Thanks for the reply . I just wanted to  ask , is there any way we can assign IP address to the interfaces created inside VM . Right now I pass commands in user data for assigning ip addresses to the interfaces . Is there any other work around but I don't want to go inside the VM using virtctl to assign ip addresses.

Actually I am running this command from java code : `kubectl patc

[2019-08-08 07:29] rmohr commented on #2530
Also CRD validation via published openapi spec is sadly very limited, so we will continue using our own webhooks, but there will come more and more CRD features which will also require us to add the schema on the CRD. We can do that as soon as we think we are ready for it (if someone finds the time :) ).

Yep, but there are features for CRD planned which will need the schema there. We should provi

[2019-08-08 07:47] rmohr commented on #2560
For the pod network and additional multus networks, we provide the IPs via DHCP. If you configure in cloud-init the VMI to use dhcp for all interfaces,  you should get the right data offered (uncluding mtu and such).

[2019-08-08 07:57] slintes commented on #2530
Sure. In the context of this issue the name "validation scheme" is a bit misleading, but that's the field name of the scheme on the CRD :man_shrugging: So for this issue we "just" need the descriptions in the scheme, no actual validation.
Mh, well, maybe validation is also used in the UI?

[2019-08-08 09:22] SchSeba commented on #2560
@mbhatnagar11 can you share the network attachment definition for the additional networks?

[2019-08-08 10:55] rmohr commented on #2577
@plwhite our validation seems to fail, if only an interface is set, but not backing network.

Here the diff on how the VMI should look like:

[code]

and the full spec:

[code]

[2019-08-08 11:03] rmohr opened #2581 "PodUnschedulable condition is added over and over instead of being replaced"
**Is this a BUG REPORT or FEATURE REQUEST?**:

We add pod conditions to the VMI, to make it more obvious if things go wrong. This logic does not seem to work. Instead of replacing an existing condition, it just appends it over and over.

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

just create a VMI without a PV

[2019-08-08 11:04] rmohr commented on #2581
@davidvossel @cynepco3hahue @slintes

The yaml will grow over time until it has the max size of what is allowed in etcd.

[2019-08-08 11:52] slintes commented on #2581
ouch, good catch.
@rmohr Are you already looking into it? Else I can do.

[2019-08-08 11:53] rmohr commented on #2581
Would be great if you can.

[2019-08-08 13:04] fabiand commented on #1823
/remove-lifecycle stale

I made some progress but still need to finish it.

[2019-08-08 13:52] plwhite commented on #2577
The bug is more subtle than it appeared and has a simple workaround.

1. If you miss out the networks and interfaces sections, both get defaulted with sensible defaults. That is correct behaviour.

2. If you specify both of them, it all works just fine.

3. If you specify interfaces but not networks, then networks is defaulted, but the interfaces config is discarded and defaulted silently. That is

[2019-08-08 15:48] davidvossel commented on #2581
whoa, good catch. That's not an obvious unit test case :)

[2019-08-09 05:55] visheshtanksale opened #2585 "Proposal: GPU & vGPU pass through support for Kubevirt VMs"
We have been working for sometime on Kubevirt. As part of my work I have implemented NVIDIA GPU and  vGPU pass through support for Kubevirt VMs. I would love to contribute this change to Kubevirt.

To get the ball rolling I have brief informal design of my implementation [here](https://docs.google.com/document/d/1wxljHFfxc16DIIdd-s94rs4OmL2wtNZP1cyBSjQPDLg/edit?usp=sharing). Please review and shar

[2019-08-09 06:39] terinjokes commented on #2049
This looks to have been fixed in 0.17.0. In 0.16.0 the `client-ca-file` datum of the "extension-apiserver-authentication" ConfigMap was prepended with the `requestheader-client-ca-file` datum.

Except there was no newline between the two certificates. This is shown in the example above:

[code]

You can see this behavior in [this repl].(https://repl.it/@TerinStock/ThinEarlyMicrostation)

AFAICT, t

[2019-08-09 07:45] rmohr commented on #2049
@terinjokes thanks.

/close

[2019-08-09 07:45] #2049 closed

[2019-08-09 20:59] mlsorensen commented on #2527
I just ran across the same use case.

Basically we just want to see the VMI annotations copied to the pod, for any arbitrary use case that might come along. In this instance, Calico supports specifying the pod IP for its IPAM selection, via pod annotation.

[2019-08-09 21:00] #2093 closed

[2019-08-09 22:03] nimanjun opened #2588 "Unable to connect to VM console"
[root@kubernetes01 ~]# kubectl get pods
NAME                      READY   STATUS    RESTARTS   AGE
virt-launcher-vm3-jwbqt   1/1     Running   0          4m
[root@kubernetes01 ~]# kubectl describe  pods
Name:           virt-launcher-vm3-jwbqt
Namespace:      default
Priority:       0
Node:           kubernetes01/172.19.90.73
Start Time:     Fri, 09 Aug 2019 12:02:48 -0700
Labels:         kubevirt.

[2019-08-09 22:20] nimanjun opened #2589 "Virt launcher for VM restarts every 6 minutes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Virthandler pod restarts every 6 min pod creation,  restarting vm instances as well.

**What you expected to happen**:
Virthandler pod up and running , virtual instance up and running

**How to reproduce it (as minimally and precisely as possible)**:
Deployed below yaml on kubevirt v0.19.0:

apiVersion: kubevirt.io/v1alpha3
kind: Vi

[2019-08-10 06:22] rmohr commented on #2581
/reopen

https://github.com/kubevirt/kubevirt/pull/2583#issuecomment-520122520

[2019-08-11 08:38] cynepco3hahue commented on #2589
It looks like QEMU process fails to start, can you provide relevant virt-handler logs?

[2019-08-11 14:31] SchSeba commented on #2589
Please add also the virt-launcher logs.

`kubectl logs -f <virt-launcher> -c compute`

Thanks!

[2019-08-11 14:39] SchSeba commented on #2588
Can you try to open the vnc `virtctl <vm-name> vnc` ?
Which operating system are you trying to run ?
Can you please share the virt-launcher pod logs `kubectl logs -f <virt-launcher-pod> -c compute` ?

Thanks!

[2019-08-12 01:48] yu2003w commented on #2221
/remove-lifecycle stale

[2019-08-12 08:26] yinjingjiu commented on #2378
Dear @rmohr
    I did the experiment.

**Environment**:
- KubeVirt version v0.20.1
- Kubernetes version v1.14.3
---------------------------------

**1.  VirtualMachineInstance file**
<details>
<summary>testvmi-containerdisk1.yaml:</summary>

[code]
</details>
<details>
<summary>testvmi-containerdisk2.yaml:</summary>

[code]
</details>

**2. start  VirtualMachineInstance**
[code]
![20190812155912](

[2019-08-12 12:37] mbhatnagar11 commented on #2560
Hi @SchSeba

Below is the yaml file I am using :

`apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: vm5
spec:
  running: false
  template:
    metadata:
      labels:
        kubevirt.io/size: small
        kubevirt.io/domain: testvm3
    spec:
      domain:
        devices:
          disks:
          - disk:
              bus: virtio
            name: rootfs
          - dis

[2019-08-12 13:15] nmsnitin opened #2596 "vhost-user capability inside VM"
**What happened**:
We are trying to use Kubevirt to create VM that can use the vhost-user capability. As a platform on host, we have “OVS+DPDK” along with MULTUS.
I can use the vhost-user capability for the POD that has container using “UserSpace CNI” but unable to do the same on the Kubevirt.

**What you expected to happen**:
I want the capability of the vhost-user in VM.

**Environment**:
- Kube

[2019-08-12 13:20] rollandf commented on #2438
@j-griffith any update on this one?

[2019-08-12 18:38] nimanjun commented on #2588
**virtctl  vnc vm3 gives below response:**
{"component":"virtctl","level":"info","msg":"connection timeout: 1m0s","pos":"vnc.go:137","timestamp":"2019-08-12T09:37:16.146822Z"}
{"component":"virtctl","level":"error","msg":"remote-viewer execution failed: exit status 1, output: \n(remote-viewer:12821): Gtk-WARNING **: 09:37:16.908: cannot open display: \n","pos":"vnc.go:230","timestamp":"2019-08-12T

[2019-08-12 18:42] nimanjun commented on #2589
**Compute logs:**

kubectl logs -f virt-launcher-vm3-f4ll8 -c compute

{"component":"virt-launcher","level":"info","msg":"Collected all requested hook sidecar sockets","pos":"manager.go:68","timestamp":"2019-08-12T16:34:09.289046Z"}
{"component":"virt-launcher","level":"info","msg":"Sorted all collected sidecar sockets per hook point based on their priority and name: map[]","pos":"manager.go:71","

[2019-08-13 07:23] cynepco3hahue commented on #2589
Ok the relevant error is
[code]
I just do not sure from where this file is comming, looks like CDI creates it with wrong permissions.
@awels Can you please take a look?

[2019-08-13 08:40] slintes commented on #2588
duplicate of #2589 ? There is I see the same error "Could not open '/root/vmd/cdi/dcnm-iso/dcnm-va.dcnmNG-65.ova"

[2019-08-13 08:52] slintes commented on #2378
will have a look, but need to understand what Roman did first :wink:

[2019-08-13 12:05] awels commented on #2589
@cynepco3hahue CDI did not create that file, I am seeing the VMI yaml that they are creating an ephemeral hostDisk in /root/vmd/cdi/ could that be what is creating the disk. CDI will only create disk.img files on a PV.

[2019-08-13 12:14] cynepco3hahue commented on #2589
@awels ok thanks for the clarification, cdi directory mislead me

[2019-08-13 12:41] yinjingjiu commented on #2378
Dear @rmohr  @scollier
It takes some time to create windows vm from kubectl until VIM is running.  What is the cause?

<details>
<summary>kubectl describe pods virt-launcher-testvmi-containerdisk2-4bzlv</summary>

[code]
</details>

[2019-08-13 16:30] #1610 closed

[2019-08-13 17:15] slintes commented on #2378
As far as I can tell, this looks as expected. What Roman meant with "should remove the unnecessary copies" is, that per VMI the disk is not copied anymore during startup, but mounted, which should improve startup time. But still every VMI uses its own disk, even when it's coming from the same containerDisk image. But since the containerDisk is cached by the container runtime, this isn't an issue,

[2019-08-13 17:29] slintes commented on #2378
[code]
3 seconds from assigment to started, that's fine.
Can you please provide logs of virt-launcher? That should show what happens after the container was started. I'm wondering if it takes so long to start the VM, or to boot it. I'm afraid it's the latter, and then we are back at Petr's comment are while ago...

[2019-08-13 19:39] afritzler opened #2601 "Support for Ignite MicroVMs in Kubevirt"
I just stumbled upon Ignite[0] from weaveworks which allows you to spawn Firecraker based microVMs from docker images. Would it be a good idea to look into Ignite as an alternative to Qemu to spin up VMs within KubeVirt? Any thoughts on that? Maybe somebody already had this idea before.

/kind enhancement

[0] https://github.com/weaveworks/ignite

[2019-08-13 21:00] SchSeba commented on #2596
Hi @nmsnitin can you explain the environment a bit more how the cni plugin works?

[2019-08-13 21:19] davidvossel commented on #2378
yep, @rmohr's fix reduces both the amount of local storage required to launch a VMI from a container disk, and the amount of time it takes to start a VMI with a large container disk (due to not requiring the disk copy)

If hardware virtualization is enabled, I'm not really sure what would be causing the VMI to boot slowly other than physical resource constraints. If nothing else, try increasing th

[2019-08-13 22:30] larcher commented on #1017
Apologies for bumping an old issue.
@fabiand you say "IPv6 can be delivered via additional networks" -- can you provide an example, or point me toward the relevant docs?

I've been using the [Interfaces and Networks](https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/interfaces-and-networks.html) page so far.  My config is similar to the first example on that page.  That's workin

[2019-08-13 23:42] nimanjun commented on #2589
@cynepco3hahue , good catch, yes issue with permissions and/or storage settings. Its resolved now. VM instance up and running without restarts. Closing issue.

[2019-08-13 23:42] #2589 closed

[2019-08-13 23:50] nimanjun commented on #2588
@slintes resolved issue with host image permissions / storage settings. VM instance up and running and not restarting.

If vnc to the VM instance with ./virtctl console vm3,  prompt just hangs :
Successfully connected to vm3 console. The escape sequence is ^]

Also, vnc:
 ./virtctl vnc  vm3

{"component":"virtctl","level":"info","msg":"connection timeout:
1m0s","pos":"vnc.go:137","timestamp":"2019

[2019-08-14 02:34] yinjingjiu commented on #2378
Dear @rmohr  @davidvossel  @slintes
My technical level is limited,There are many places in kubevirt that need to learn,This is a cool project.
I recreated a VirtualMachineInstance,  try increasing the memory/cpu. @davidvossel If it is a docker win images problem, can you provide a docker win image?:grin:
<details>
<summary>testvmi-containerdisk2.yaml</summary>

[code]
</details>

<details>
<summar

[2019-08-14 08:42] nmsnitin commented on #2596
Hi @SchSeba, we are using [userspace-cni-network-plugin](https://github.com/intel/userspace-cni-network-plugin) to create the network objects that implement networking in the user space rather than Kernel Space.
We have OVS with DPDK as the platform in userspace.

[2019-08-14 09:52] petrkotas commented on #2601
Hi @afritzler, thank you for sharing the idea. If I remember correctly there were already few discussion around this topic. It always boiled to the different use cases between virtualization providers.

The KubeVirt is designed around QEMU to provide a full virtualization in an traditional sense. Think oVirt for instance, but running in the Kubernetes. This means KubeVirt have to provide devices l

[2019-08-14 10:14] petrkotas commented on #2588
Hi @nimanjun to help we need to know following:

* what OS runs in the VM?
* How did you created the VM?
* Please post the libvirt XML for the VM: `kubectl exec -it virt-launcher-vmi-vm3-<CURRENTID> -c compute virsh dumpxml default_vmi-vm3 >> xml.log`
* Please post `virt-handler, virt-controller` logs.

Currently my guess: there is either problem in the connection (it is not passed around) or the

[2019-08-14 11:44] petrkotas commented on #2527
Hi @mlsorensen, passing arbitrary annotations makes sense and should be straightforward as we already copy labels.

Will create the PR for this.

[2019-08-14 12:35] davidvossel commented on #2378
@yinjingjiu What hardware are you running kubernetes and KubeVirt on? Is this baremetal or within a VM on a public cloud provider?

[2019-08-15 04:03] yinjingjiu commented on #2378
@davidvossel  VM created by vmware esix, and opened virtuailze intel VT-x/EPT

[2019-08-15 10:40] plwhite opened #2603 "OOM crashes in v0.20.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Using 0.20.1 on Azure, all VMIs failed. The volumecontainerdisk container was hitting the OOM killer 100% of the time.

**What you expected to happen**:

VMIs to start!

**How to reproduce it (as minimally and precisely as possible)**:

Take a vanilla ubuntu 18.04 image, and create a VMI with a minimal config. It will fai

[2019-08-15 10:56] fabiand commented on #2603
Peter, thanks for reporting. Was there an outcome of the discussion which gives a hint why this could be happening?

[2019-08-15 15:07] phoracek opened #2604 "Add `interfaceName` parameter to `pod` network option"
/kind enhancement

We currently allow our users to use default `pod` interface (`eth0`), `multus` and `genie` networks as connections and plug them to their VMs [1]. However, there is one scenario, raised by our user, that we are not able to cover. In their setup, they use CNI plugin (for the default network) which plugs two interfaces in their pod, `eth0` and `mgmt0`. While the former is passed t

[2019-08-16 13:44] #2129 closed

[2019-08-16 14:46] allanbarklie commented on #1852
I see that some detailed discussions/proposals in this area can now be found on the group
https://groups.google.com/d/msg/kubevirt-dev/5G7nqXXhHM0/I-WLdDlbDwAJ

[2019-08-16 19:18] nimanjun commented on #2588
Update on issue:
vnc connects and window comes up momentarily.
But there is a prompt indicating waiting for display 1 and then after a few minutes the window exits.

Relaunching of vnc works but has the same outcome mentioned above.

Any idea on why its stuck waiting for display 1 to be up and running?

**Environment:**
KubeVirt version (use virtctl version): v0.19.0
Kubernetes version (use kubect

[2019-08-16 20:36] booxter commented on #2596
@nmsnitin I don't think anyone tried the "userspace" CNI plugin with KubeVirt before.

Could you please share:
- kubelet logs;
- `kubectl describe pod` for launcher pod;
- `kubectl logs -c compute` for launcher pod?

I imagine there should be an error either in CNI plugin/Multus logs or in libvirtd that makes the guest fail.

[2019-08-17 13:29] rmohr commented on #925
/reopen

[2019-08-17 15:09] #1348 closed

[2019-08-17 15:12] mjschmidt opened #2605 "namespace stuck in terminating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
installed kubevirt using https://kubevirt.io/user-guide/docs/latest/administration/intro.html
then tried to delete the yaml files by replacing all apply commands with delete. Namespace is now stuck in terminating
**What you expected to happen**:
all k8s objects to clean up
**How to reproduce it (as minimally and precisely as possibl

[2019-08-17 15:13] mjschmidt commented on #2605
This is probably simular to this issue, but I am pretty sure I did clean up all the crds so I am not sure what else kubevirt could be holding the ns back from terminating

https://github.com/kubernetes/kubernetes/issues/60807

[2019-08-17 15:17] mjschmidt commented on #2605
Playing around with the cluster I was able to get it to delete, I cannot reporduce. I really hope the fix the Namespace issues in Kubernetes this has been a problem for a year. We can close, but just know there might be a problem here in the future for kubevirt...

[2019-08-17 15:17] #2605 closed

[2019-08-17 15:25] mjschmidt opened #2606 "kubevirt.kubevirt.io/kubevirt hangs in deleting"
just following the intro here:
https://kubevirt.io/user-guide/docs/latest/administration/intro.html

[2019-08-17 15:25] mjschmidt commented on #2606
It is probably this custom resource that was causing the namespace to not clean up

[2019-08-18 11:11] SchSeba commented on #2596
@nmsnitin can you please also share:

* `kubectl exec -it <virt-launcher-pod> -c compute ip a`
* the network attachment definition `userspace-networkobj`

Thanks!

[2019-08-18 11:28] mjschmidt commented on #2606
Namespace is hung again. kv was patched to no affect, what else can I look at?

[2019-08-18 11:36] mjschmidt commented on #2606
This worked, this should be added to the documentation imo (:

@azaiter you're a hero

https://github.com/kubevirt/kubevirt/issues/1491

[2019-08-18 11:42] mjschmidt commented on #2606
I will leave this open until KubeVirt lets me know if they want to take any action as a result (:

[2019-08-18 12:55] mjschmidt opened #2608 "virtctl not working, configuration location not documented in how to guide"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG
 Uncomment only one, leave it on its own line:
 /kind bug

**What happened**:
Followed the install guide, was able to successfully install and start a vm, but only using the kubectl apply and patch commands. The virtctl tool does not work regardless of whether i install with crew or just use the amd linux command line tool.

**What you expected to

[2019-08-18 18:04] cherusk opened #2609 "PROPOSAL|PROVOKING: kubevirt as expedited containernet(network emulator)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST/Proposal

As kubevirt comes with container-disks, that makes it an ideal candidate to swiftly and concisely spin up network emulation instance. Moreover, that's in a far more sophisticated way than containernet is meant to be capable so far, when one spun it far enough. Harsh part seems to be down to tuggin together network instances wi

[2019-08-19 07:28] slintes commented on #2605
Hey @mjschmidt, thanks for reporting this. The issue probably was that after deleting the CustomResource, and before deleting the operator (as described here [0]), you need to wait until KubeVirt was undeployed. If you don't do that, the operator can't finish cleanup, especially removing finalizers. We should improve this in the user-guide.

[0] https://kubevirt.io/user-guide/docs/latest/administr

[2019-08-19 07:32] SchSeba commented on #2608
Hi @mjschmidt

can you try to run this command `virtctl start <vm-name> -v 10` and share the output please

[2019-08-19 07:33] slintes commented on #2606
@mjschmidt see https://github.com/kubevirt/kubevirt/issues/2605#issuecomment-522447858
A PR on improving docs (waiting for KubeVirt undeployment after deleting the CR) would be great.
Not sure if want to make such a cleanup script as mentioned in the other issue "official" though... @fabiand ?

[2019-08-19 07:37] fabiand commented on #2606
This is related to kubernetes/kubernetes#60807 and it seems that finally somebody is looking at it.

Until then it's probably worth it to at least link to the script from our user-guide.

[2019-08-19 08:02] slintes commented on #2608
`virtctl` should use the same config as `kubectl`. If that does not work, it's a bug indeed. For verifying, can you please try setting the location manually with the `--kubeconfig` flag? Find more flags etc with `virtctl help` and `virtctl options`.

[2019-08-19 08:09] SchSeba commented on #2560
Hi @mbhatnagar11 please run `kubectl get network-attachment-definitions.k8s.cni.cncf.io -o yaml`

and share the output.
Thanks!

[2019-08-19 08:59] mbhatnagar11 commented on #2560
Hi @SchSeba

Below is the output :

`- apiVersion: k8s.cni.cncf.io/v1
  kind: NetworkAttachmentDefinition
  metadata:
    creationTimestamp: "2019-08-02T14:32:58Z"
    generation: 1
    name: ovs-conf
    namespace: default
    resourceVersion: "5961262"
    selfLink: /apis/k8s.cni.cncf.io/v1/namespaces/default/network-attachment-definitions/ovs-conf
    uid: 6cabb972-b532-11e9-bf8c-d4bed9eb3325

[2019-08-19 10:21] SchSeba commented on #2560
@mbhatnagar11 thanks!

with this configure you connect the br1 using some interface on the host to the physical network?

If yes you can configure a dhcp server on that network and in the cloud-init just run dhclient on the interfaces to get ip from the dhcp server on the network.

[2019-08-19 10:40] nmsnitin commented on #2596
@booxter @SchSeba
Here are the requested logs

[code]

###########userspace-networkobj####
[code]
#################################

[Temp.zip](https://github.com/kubevirt/kubevirt/files/3515411/Temp.zip)

[2019-08-19 10:43] mbhatnagar11 commented on #2560
Hi @SchSeba

Yes, I am using this to connect interfaces on the vm to physical network . I cannot use DHCP server here as I want to assign user given IPs to these interfaces. I already have a set of IPs which I  want to assign.

[2019-08-19 10:46] nmsnitin commented on #2596
@booxter @SchSeba
Here are the kubelet logs
[kubelet-logs-new.zip](https://github.com/kubevirt/kubevirt/files/3515442/kubelet-logs-new.zip)

[2019-08-19 10:59] rmohr commented on #1318
/close

Fixed as part of #2395

[2019-08-19 10:59] #1318 closed

[2019-08-19 12:09] mjschmidt commented on #2608
@slintes same error. I wonder if it is because
[code]

This seems like a bug to me? To reproduce you can run a quick docker run command to get a rancher server up and running in literally and then use rancher to deploy a quick 3 node cluster or something.
I have run a lot of other services on rancher created k8s clusters and never had an issue. If you want me to pull more info just let me know wha

[2019-08-19 12:12] mjschmidt commented on #2608
This is the kubeconfig used to start and stop the vm with patch
[code]

then stopping
[code]

[2019-08-19 13:13] mjschmidt commented on #2606
So yeah honestly, I am not really sure either. I just know when I ran this guy's script it did actually go through and clean everything up

[2019-08-19 14:07] SchSeba commented on #2560
@mbhatnagar11 for user assign ips I can't think on another solution.

I think you need to configure the ips statically in the cloud init data.

[2019-08-19 23:11] #2496 closed

[2019-08-20 08:36] mfranczy commented on #2496
@jichenjc sorry for my lack of response in the PR, I was on vacations.

[2019-08-20 09:18] jichenjc commented on #2496
that's fine, Thanks a lot for your help :) @mfranczy

[2019-08-20 10:27] SchSeba commented on #2596
Hi @nmsnitin thanks for the logs.

From the kubelet logs looks like you have some issues with the cluster maybe?

Related to the vhost-user I will need to read more about it. if you create an interface from the vhost-user so you will not have an iplink interface (this is way we don't see it in the `ip a` command output) you know where the socket is been created inside the pod?

[2019-08-20 13:34] petrkotas commented on #2588
Hi @nimanjun the libvirt xml is missing. Would you please provide it at full?
Also, please how did you create the VM before you uploaded it to kubevirt?
What VM image are you using? What OS is running inside the VM?

[2019-08-20 15:26] petrkotas commented on #2303
Hi @cclark1974 does this issue resolved itself with newer version of KubeVirt or does it still apply?

[2019-08-20 15:27] petrkotas commented on #2539
@Helenbj does this issue still occurs?

[2019-08-20 15:51] cclark1974 commented on #2303
I’ll have to check I haven’t been able to verify

On Tuesday, August 20, 2019, Petr Kotas <notifications@github.com> wrote:

[2019-08-20 15:52] bharatnc opened #2618 "IPv6 networking not working in Kubevirt VM"
This is related to https://github.com/kubevirt/kubevirt/issues/1017

**What happened**:
[code]
Getting IPv6 Network unreachable

We have a IPv6 interface for Kubevirt VM but it's not working when we try to use IPv6 to reach out to other services in cluster or to the web.

**What you expected to happen**:
 I would expect ping to work on IPv6 and resolve

**How to reproduce it (as minimally and prec

[2019-08-20 16:42] fabiand commented on #2618
hey, thanks for reporting - but I think this is known, but:

Please share your VM definition.
Did oyu use a multus backed or pod-network?

In KubeVirt the pod network is known to not support IPv& (yet) - even if
the underlying Kubernetes is configured in a native IPv6 way.

All in all IPv6 support is something we want to add - no question.

[2019-08-21 13:23] kacpercf commented on #2618
Hi, thanks for a quick answer!

We're using a pod network, happy to change if there is a workaround.

VMIRS definition
[code]

[2019-08-21 13:38] fabiand commented on #2618
Ah, pod network.

If you are flexible, then I'd recommend to use a multus backed L2 interface.

@phoracek might be able to help our here

[2019-08-21 13:46] phoracek commented on #2618
@bharatnc first of all, I'd advise you  to change `bridge: {}` to `masquerade: {}` since there are known issues with the `bridge` binding. What network plugin are you using (Flannel/Calico/...)? That may have an affect on IPv6 for pods in general. I have to check what is the state of our IPv6 support with `masquerade`. As Fabian said, if you could, try to use Multus and L2. I can recommend Linux b

[2019-08-21 14:23] aglitke commented on #2214
We've also seen this issue and it seems to be a JSON processing issue:

From upload pod log:
I0630 14:35:55.676426       1 data-processor.go:173] Validating image
E0630 14:35:55.691042       1 qemu.go:156] Invalid JSON:

E0630 14:35:55.706343       1 data-processor.go:164] unexpected end of JSON input
Invalid json for image /scratch/tmpimage

We have a report in RH Bugzilla: https://bugzilla.redha

[2019-08-21 14:33] bharatnc commented on #2618
@phoracek  thank you!

To answer your question: >  What network plugin are you using (Flannel/Calico/...)?
We use Calico as our Network CNI. I guess it would be interesting to use IPv6 with masquerade to check if that makes a difference. But, like you have mentioned, it would be great if you can check if this is possible at all.

It would be nice if we can have native support without additional pl

[2019-08-21 20:27] amontalban opened #2621 "Can't get minikube + kubevirt working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I'm following this guide https://kubevirt.io/quickstart_minikube/ and can't get `virt-handler` pod to start.

[code]

Output of `kubectl describe pod virt-handler-rhw7v -n kubevirt`: https://gist.github.com/amontalban/f14d65880bd3e2bccdf5179ab85e4e86

**What you expected to happen**:
To have a fully working kubevirt deploy

[2019-08-21 21:51] booxter commented on #1852
PR here: https://github.com/kubevirt/kubevirt/pull/2597

[2019-08-22 08:12] fabiand commented on #1017
Hey Larry.

Usually I am referring to multus backed networks as explained here:
https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/interfaces-and-networks.html#multus

With L2 networks provided by multus you can tie your VM into your existing
netwoirk or create an isolatd segment, and offer IPv6 on it.

[2019-08-22 08:55] phoracek commented on #1017
@larcher, not sure if you are familiar with Multus. In short, it allows you to connect your Pod/VM to an additional network. For instance, you can use [network-addons-operator](https://github.com/kubevirt/cluster-network-addons-operator) to install [Linux bridge CNI](https://github.com/kubevirt/cluster-network-addons-operator#linux-bridge). Then you would configure a Linux bridge on your nodes, co

[2019-08-22 09:40] mjschmidt commented on #2608
Was this helpful? Is there some sort of ticket made to handle this? Are you guys still looking into it? Anything else I can do on my end to provide more info or investigate further?

[2019-08-22 10:12] slintes commented on #2608
Hey, sorry, just didn't have time yet to have a further look into this. Thanks for providing steps to reproduce! Will give it a try asap.

[2019-08-22 11:05] #2138 closed

[2019-08-22 12:31] phoracek commented on #2618
@bharatnc IPv6 doesn't seem to be supported on `masquerade` at the moment https://github.com/kubevirt/kubevirt/blob/a523d9ad55fb1cd6145bd2dc49a94164f34a18a2/pkg/virt-launcher/virtwrap/network/podinterface.go#L606 (we don't setup anything in IPv6 tables) and neither it is on default pod interface with `bridge` https://github.com/kubevirt/kubevirt/blob/a523d9ad55fb1cd6145bd2dc49a94164f34a18a2/pkg/vi

[2019-08-22 14:29] petrkotas commented on #2442
Hi @yu-yang2 do you still encounter the issue?

[2019-08-22 14:54] booxter commented on #2618
@phoracek AFAIR Kubernetes itself had issues with proper IPv6 support in the recent past. https://github.com/kubernetes/enhancements/issues/563 We can of course try and see whether it works but I expect the road to be bumpy.

[2019-08-23 05:29] jichenjc opened #2624 "The sample files contains invalid image location"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**What you expected to happen**:
behavior correctly

[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider

[2019-08-23 05:29] jichenjc commented on #2624
/assign

[2019-08-23 05:31] jichenjc commented on #2624
even with above change, seems still have following issue, need further inspect..

[code]

[2019-08-23 10:09] slintes commented on #2624
Hey @jichenjc, thanks for rising this, but those image locations are pointing to the docker registry in our CI clusters, so this is on purpose. See https://github.com/kubevirt/kubevirt/issues/1045.

/close

[2019-08-23 10:09] #2624 closed

[2019-08-23 10:13] jichenjc commented on #2624
maybe some doc update... at least it makes me struggle for a while.. I will open another PR

[2019-08-23 14:06] #2442 closed

[2019-08-24 10:30] mjschmidt commented on #2608
Okay thank you @slintes! And again if you have any questions I am here!

[2019-08-24 15:57] mjschmidt commented on #2608
By the way, I don't think this has anything to do with the deployment, but emulation is turned on for this.

[2019-08-25 11:14] #1044 closed

[2019-08-25 11:25] SchSeba commented on #2621
@amontalban thanks for reporting this.

Can you please check if there are some logs for the virt-handler container.

run `kubectl -n kubevirt logs -f virt-handler-rhw7v`

Can you also ssh into the machine `minikube ssh` and check the machine logs ?
Thanks!

[2019-08-26 06:33] #413 closed

[2019-08-26 09:27] plwhite commented on #2603
Sorry for the delay, missed this question.

It looks like (slightly speculatively) the 20M resource limit in the volumecontainerdisk container is too low, and the OOM killer destroys the container. I don't have any idea why I always see the OOM killer and it isn't seen in other environments, but I am running in Azure.

If it's easy to get a build with a larger (or configurable) limit, it would be

[2019-08-26 09:37] fabiand commented on #2603
Hey. it would be helpful if you can try to set a higher request for the
container and see if it fixes your issue.
There were some changes in the containerDisk area which could explain this.

[2019-08-26 13:08] mbhatnagar11 opened #2633 "Create a kubevirt compatible image from an iso image"
I am trying to create a Kubevirt compatible image using an iso file . I am using `kubevirt/cirros-registry-disk-demo` as the base image and adding my iso on top of it . Below are the contents of my Docker file :

`FROM kubevirt/cirros-registry-disk-demo
ADD VYOS.img /disk
`

I am able to create an image using this docker file but when I create a VM using this image , effects of the iso image are n

[2019-08-26 15:14] slintes commented on #2223
/remove-lifecycle stale

[2019-08-27 08:36] #2527 closed

[2019-08-28 06:32] jichenjc opened #2641 "Kind: Readiness probe failed: cat: /var/run/kubevirt-infra/healthy: No such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
after 'make cluster-sync', I have

[code]

and
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specificati

[2019-08-28 06:33] jichenjc commented on #2641
any guide on /var/run/kubevirt-infra/healthy not found??

[2019-08-28 07:00] slintes commented on #2608
That's an interesting detail indeed. virtctl uses custom endpoints, which are provided by our virt-api container, and are registered as "aggregated api" at the k8s api-server. Maybe rancher recognize this and blocks requests to such aggregated api severs? Then the next thing is, that for virtctl console/vnc we upgrade the http connection to websocket, curious how the rancher server deals with it o

[2019-08-28 07:26] slintes commented on #2641
Hey @jichenjc, the complete output of `kubectl describe pod virt-launcher-testvm-cn9hp` might be interesting, especially the section about the containerdisk container.

[2019-08-28 07:52] jichenjc commented on #2641
here's output, @slintes , thanks~

[code]

[2019-08-28 07:58] slintes commented on #2641
Thanks, that looks good to me (the containerdisk container). Will try to reproduce later on and report back here.

[2019-08-28 18:51] slintes commented on #2608
just gave it a quick try and can't even install kubevirt, because virt-operator can't reach the k8s apiserver. This is a really weird setup with Rancher. Can you give some more details about your setup please? Do you use a cloud provider, or the local setup where you start "nodes" with docker? Which network provider?

[2019-08-28 18:52] slintes commented on #2608
oh, and no, ingress isn't an alternative imho, virtctl should work the same way as kubectl does

[2019-08-29 05:42] jichenjc commented on #2641
thanks, I will dig as well on the issue here

[2019-08-29 07:13] natemoseman commented on #2608
As a sort of work around...

In the kubeconfig that is generated by rancher they setup a bunch of different 'clusters' and 'contexts' in there.  There is a context setup for each node in the cluster.

If you change your context in ~/.kube/conf to one of those other contexts so the api calls don't go through the rancher API proxy thingy then virtctl starts working.

[2019-08-29 08:15] slintes commented on #2608
Thx @natemoseman! That kind of proves my assumption that rancher does not work well with aggregated apiservers.

[2019-08-29 08:19] plwhite commented on #2603
I thought the request was hard-coded in KubeVirt? I tried just manually changing the pod spec (removing limits from the containers), and that changed the behaviour, in that the VM didn't start any more but it didn't hit the OOM killer while copying disk contents.

[2019-08-29 08:25] slintes commented on #2603
yes, memory request/limit for the containerdisk container is hardcoded
We might have 2 issues here:
- the values might be too low for new containerdisks (strange though that this is happening in @plwhite's env only so far)
- the values are very likely too low for old containerdisks

[2019-08-29 08:45] petrkotas commented on #2527
@mlsorensen, @hsychla with the PR #2627 being merged, annotations are now carried from the VM down to the POD.

If you find it useful and it works for you, would you please come back to us and share your experience? Thanks a lot.

[2019-08-29 14:50] slintes commented on #2603
oh, no, old containerdisks also use the new binary only

[2019-08-29 17:15] mjschmidt commented on #2608
I will try this out and let you guys know how it goes! Thanks for the advisement!

[2019-08-29 23:06] mjschmidt commented on #2608
@natemoseman sorry can you provide an example of doing such a work around? I am not seeing any contexts in my rancher kubeconfig that would allow me to talk directly to the cluster?

[code]

[2019-08-29 23:07] mjschmidt commented on #2608
When I tried to point the server directly at a master node for a cluster I get a x509 because the certificate auth is for the rancher server not my work station.

[2019-08-30 06:51] jichenjc commented on #2641
@slintes I am using kind and when I switch to k8s, seems this problem is gone
so if you think kind is not a good way to go, we can close this issue...

[2019-08-30 07:50] slintes commented on #2641
Interesting, thanks for the investigation. I think we should find find out why it fails on kind, so please leave this open.

[2019-08-30 10:55] ronit1495 opened #2650 "Fedora/Ubuntu VM and VMI are ready but console access hangs."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
VMs on KubeEnv don't allow console access.

**What you expected to happen**:
Console access to booted VMs
**How to reproduce it (as minimally and precisely as possible)**:
Running on AWS t2.mdium ec2 instances, 1 master 2 workers using Kubeadm.
Used krew to install the virt ctl.  Followed Lab2 step by step:
https://kubevirt.io/labs/

[2019-08-30 12:18] mjschmidt commented on #2608
Disregard for now, I updated to a new rancher version and provisioned a newer cluster from that updated rancher. I now see the seperate kubeconfig to talk directly to my cluster. Going to redeploy and test virctl wit that kubeconfig.

[2019-08-30 16:07] mjschmidt commented on #2608
Can confirm, kubevirt works when a direct endpoint to the cluster is used over port 6443. So this is a feature request to support virtctl via a proxy server rather than a bug request  and should probably just be captured as a pre req section that you must have direct connection to your cluster.

[2019-08-30 16:52] mjschmidt commented on #2608
Can confirm, kubevirt works when a direct endpoint to the cluster is used over port 6443. So this is a feature request to support virtctl via a proxy server rather than a bug request  and should probably just be captured as a pre req section that you must have direct connection to your cluster. Thanks for the help everyone! Kubevirt looks like a great project I'm excited to dig in more.

[2019-08-30 17:11] slintes commented on #2608
nice!

well, I don't see what we can do here, this looks like a result of the "interesting" default setup of Rancher, and their default "api server" or proxy or whatever it is does not work as expected.

Thanks and enjoy! :slightly_smiling_face:

[2019-09-01 01:44] mjschmidt commented on #2608
So being able to point virtctl at an ingress would be nice and having kubevirt support an ingress controller. Then you could point at the ingress without having to point at master node at 6443 (:

[2019-09-01 01:44] mjschmidt commented on #2608
Still an awesome project so far, making lots of progress.

[2019-09-01 08:44] cynepco3hahue commented on #2633
@mbhatnagar11 Can you please share virt-launcher and virt-handler logs?

[2019-09-01 13:54] cynepco3hahue commented on #2609
I do not really familiar with the subject, maybe you can explain what features are lacking under the KubeVirt and we can discuss if it possible(worth) to implement it under the KubeVirt?

[2019-09-02 09:12] plwhite commented on #2603
To progress this, is there some way I can change the hardcoded limit? Even if it's a bit of a hack for now, it might give some information about what is going on.

[2019-09-02 10:04] slintes commented on #2603
You could build KubeVirt on your own, you only need to have `make` and `docker` installed:

- change limits at [0] and following lines
- run `DOCKER_PREFIX="index.docker.io/<yourDockerUsername>" DOCKER_TAG="<aDockerTag>" make bazel-push-images manifests`

That will build and push new images (make sure you are logged in in your docker account), and create manifests in `_out/manifests/release`

[0]

[2019-09-02 11:21] plwhite commented on #2603
Thanks - let me have a shot at that. I should get to that later in the week.

[2019-09-02 13:21] ahadas opened #2652 "Avoid more than 1 ongoing live migrations"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
It is possible to initiate two live migrations for the same VMI at the same time

**What you expected to happen**:
The system should have blocked me from initiating an additional live-migration until the first migration is completed (successfully or with failure)

**How to reproduce it (as minimally and precisely as possib

[2019-09-02 15:29] cherusk commented on #2609
Think I've specified most relevant. Couldn't you also look up also what is behind **containernet** and draw the parallels.

Conceptionally, not much is "lacking", all the bricks are, but for an emulator, certainly the "virtual" network quality specification|configurability, say latency,throughput, jitter needs to be enable.

Clearer? Might other media?

[2019-09-03 04:08] jichenjc commented on #2652
seems a logic prevent this ..

[code]

[2019-09-03 08:34] petrkotas commented on #2609
@cherusk this is actually quite interesting proposal. Would you mind specifying the use-case you are looking for? It helps us to determine priorities.

[2019-09-03 08:58] slintes opened #2658 "Investigate how to prevent too low memory limits for cri-o"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
virt-launcher's infra container had a too low memory limit [0] for cri-o, which was increased recently [1] from 4MB to 12MB. That resulted in VMs which were running, but didn't report their running state correctly. Investigate if/how we can prevent running into this issue in future.

[0] https://github.com/kubevir

[2019-09-03 09:51] cherusk commented on #2609
@petrkotas - I'd say there's no "confined" use case as such, such an emulation capability should be generic enough from my perspective. It's only the current emulators, including container-net hardly ever covered the full spectrum of emulation needs thinkable, e.g. including local node specifics, which containers can be too non-representative at times, e.g. for lacking virtual NIC etc., you call i

[2019-09-03 10:36] fedepaol opened #2660 "Flaky test - virt launcher crashing. Failed to create nat rules for vm error: running [/usr/sbin/iptables -t nat -N KUBEVIRT_PREINBOUND]: exit status 4"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While checking for flaky tests, I came across this run https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2576/pull-kubevirt-e2e-os-3.11.0-crio/1159042117620731904

The first test `[ref_id:1182]Probes for liveness should not fail the VMI [test_id:1201][posneg:positive]with working HTTP probe

[2019-09-03 13:53] SchSeba commented on #1017
Hi @larcher are you using ipv6 on your kubernetes sdn?

[2019-09-03 17:23] slintes commented on #2608
I don't see a real usecase for this. virtctl is supposed to work similar to kubectl, so it needs access to the apiserver. With krew [0][1] you can even install and use it as a kubectl plugin.

@fabiand wdyt?

[0] https://github.com/kubernetes-sigs/krew
[1] https://github.com/kubernetes-sigs/krew-index/blob/master/plugins.md

[2019-09-03 18:18] slintes commented on #2650
Hey, sorry for the late response. IIUC the setup described in the lab only works reliable on 1 node clusters. It uses a hostpath storage provisioner, which is deployed on a random node, and provides storage only on that node. So you would need to find out the correct node, and limit the VM to be deployed on that node... which is not ideal of course.

Will move this issue to the website repo.

[2019-09-03 21:09] #2438 closed

[2019-09-04 06:08] CoRfr opened #2664 "Unable to launch virt-handler v0.20.4 on CoreOS with selinux"
/kind bug

**What happened**:
I started kubevirt v0.20.4 using some instructions from https://kubevirt.io/quickstart_minikube/ on a Kubernetes v1.15 cluster running on bare-metal nodes with CoreOS 1883.0.0 (~1yo ...).

**What you expected to happen**:
`virt-handler` fails to start with:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
I think running kubevirt on CoreOS sho

[2019-09-04 06:11] CoRfr commented on #2664
Also the created date of the image is not set: `"Created": "1970-01-01T00:00:00Z"`

[2019-09-04 06:46] cynepco3hahue commented on #2664
@CoRfr thanks for the report, looks like we have wrong log message - https://github.com/kubevirt/kubevirt/blob/0a69f68c14f26af53d21d454dd087e038a68335e/pkg/virt-handler/selinux/labels.go#L119
we do not really print the error, so its hard to say what the problem, I will create the PR with the fix, and can you try again after it will be merged, just to see what the error?

[2019-09-04 07:49] slintes commented on #2664
Works as designed, that's how bazel produces reproducable images.

[2019-09-04 10:41] jichenjc opened #2667 "failed to pull kubevirt/cdi-operator:v1.10.1 images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
k8s1.15.1 env

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware

[2019-09-04 11:03] plwhite commented on #2603
OK, so I changed that file and set all of the memory limits in the container to 200M and the CPU limits to 100m just for good measure. Having done so, I rebuilt and redeployed and can now create VMs based on container images - I've tried at least a dozen including some multi-GB images.

I have no idea what the actual memory limit should be in practice; for the monster images I am often working wit

[2019-09-04 11:09] slintes commented on #2667
hm, works on my machine...
[code]
Is it reproducable? Maybe just a temporary network hickup? Do other pods start?

[2019-09-04 11:13] slintes commented on #2603
Thanks a lot for the valueable feedback!
I'm a bit busy myself this week, followed by 2 weeks vacation.
Maybe @rmohr can follow up on this next week, when he is back from his vacation, he is very familiar with this topic.

[2019-09-04 11:15] jichenjc commented on #2667
tried 3 times, same issue and reproducable
and ,the other images can be pulled correctly...

I will try again tomorrow and see whether it works or not
thanks for try

[2019-09-04 11:28] SchSeba commented on #2618
@booxter I think that PR is for using dual stuck on a single cluster and not only ipv4 or ipv6.
ipv6 is supported by kubernetes you can use calico as the cni provider that support ipv6

[2019-09-04 11:56] plwhite commented on #2603
Sure - happy to help, especially given that this is after all a bug that only I have come across! Do let me know if there's anything else I can do.

[2019-09-04 12:25] SchSeba commented on #2667
@zvikorn can you please take a look on this?

[2019-09-04 13:18] CoRfr commented on #2664
@slintes , sounds good, didn't knew that was expected.

@cynepco3hahue , I tried the PR #2665 and I see the following:
[code]
Seems like we would need to ship `semanage` with the image, provided by package `policycoreutils-python-utils`.

[2019-09-04 14:15] stu-gott commented on #2664
/cc @vladikr

[2019-09-04 14:34] CoRfr commented on #2664
I'm trying to see if I can bring in `/usr/sbin/semanage` and (minimal) dependencies through an `
`rpm_image`.

[2019-09-04 14:40] cynepco3hahue commented on #2667
@jichenjc Probably it some problem with our kubevirtci cluster, can you ssh to the VM and try to pull image manually, sometimes when you change network(ethernet to wi-fi), cluster stop to get the traffic.

[2019-09-04 15:38] CoRfr commented on #2664
I was able to do that in https://github.com/CoRfr/kubevirt/commit/a1c91af9b0e658c0730cca4d86dabb216ae9d372 , but I still get `error: could not find binary semanage`.

I suspect there is some error in the lookupPath function:
[code]

[2019-09-04 16:35] CoRfr commented on #2664
Ok I had not understood that the container is running with `PidMode: host`, so that `/proc/1/root` actually refers to the init of the host (systemd for instance) and not the init of the container.

So when we are executing `getenforce`, it's actually executing the host binaries, not the container ones. There is therefore no need to ship anything else with the container.

Two things that caused pro

[2019-09-04 16:47] slintes commented on #2664
thanks for the detailed investigation and the PR :+1:

[2019-09-05 07:23] jichenjc commented on #2667
werid... I can pull from my host, but vargent VM can't ... I can curl means http is ok..not sure what happened,

[code]

[2019-09-05 10:31] fedepaol opened #2672 "Flaky tests: domain is started but the vmi is still scheduled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

While looking at this https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2576/pull-kubevirt-e2e-os-3.11.0-crio/1159042117620731904 flaky test report (test [rfe_id:694][crit:medium][vendor:cnv-qe@redhat.com][level:component]Networking Multiple virtual machines connectivity using bridge binding interface should

[2019-09-05 10:49] slintes commented on #2672
Thanks a lot for taking the time for investigating flaky tests :+1:
I only had a quick look at the first vmi you investigated, for it there also is a k8s event "The VirtualMachineInstance crashed". So I assume something went wrong with virtual machine itself. Hard to tell what.
Is this somewhat reproducable? Maybe worth enabling libvirt debug logs (see https://github.com/kubevirt/kubevirt/pull/257

[2019-09-05 10:53] fedepaol commented on #2672
I think the crashed event is related to the first case I analyzed (testvmiw8s5wlv9zrkh857x4llpqrv728qbgld92t2q4qfpkpkxm8vs).

Again, from the launcher point of view everything is fine, the state is written by the handler that then generates that event here:
https://github.com/kubevirt/kubevirt/blob/560eaa35adde9663cde334dc5af190fe0ed07f95/pkg/virt-handler/vm.go#L507

I tried to find possible expla

[2019-09-05 10:54] fedepaol commented on #2672
(and of corse I did not manage to reproduce it)

[2019-09-06 16:10] booxter commented on #1493
I believe this is fixed with https://github.com/kubevirt/kubevirt/pull/2468

[2019-09-06 16:10] #1493 closed

[2019-09-07 12:40] pojntfx opened #2676 "Cannot create VirtualMachineInstances on k3s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I tried to use KubeVirt on k3s, and after some changes to the mount paths I managed to get it to run:

[code]

Everything appears to be working OK:

[code]

The handlers, on which I changed the hostPaths, also appear to be working:

[code]

So I tried to use the `virtctl` CLI:

[code]

Which does not work, so I tried man

[2019-09-08 13:52] linqingping opened #2677 "How to realize the initialization system is windows"
I can use nocloud to initialize the Linux system，but I can‘t use nocloud to initialize the Windows system！Is there any relevant information or case available?

[2019-09-09 07:03] cynepco3hahue commented on #2677
Currently, we do not have one, it possible to add Sysprep file, but I do not aware if do we have it on the road map.

[2019-09-09 15:23] mjschmidt commented on #2608
Hi I was out for a week. My exact setup is using the ha rancher deploy and then creating a cluster from those rancher servers using the "custom" option, which on the back end just uses rke to create a cluster.

We may need to ask the rancher folks how kubectl commands are forwarded to the cluster...

[2019-09-09 15:23] mjschmidt commented on #2608
Again, rancher gives direct access to the kubernetes api now, so when I use that context it works fine.

[2019-09-09 15:45] caniszczyk opened #2678 "Enable DCO"
Ensure DCO checking is enabled for all repos

https://github.com/apps/dco

cc: @fabiand

[2019-09-09 15:45] caniszczyk opened #2679 "Get a passing score for CII Best Practices Badge"
This is a requirement for CNCF:

https://bestpractices.coreinfrastructure.org/en

[2019-09-09 15:46] caniszczyk opened #2680 "Add FOSSA license scanning"
Add FOSSA license scanning to the build: https://fossa.io

CNCF has a license.

[2019-09-10 06:40] nimanjun commented on #2588
Any inputs or thoughts on having console access for VMs?

[2019-09-10 09:39] fabiand commented on #2678
@dhiller can oyu please take a look at this?

/cc @rmohr

[2019-09-10 09:39] fabiand commented on #2679
Yeah - We started on it and should actually finish it.

[2019-09-10 10:07] dhiller commented on #2678
Will do.

[2019-09-10 10:30] dhiller commented on #2678
@fabiand In order to enable this I need access to the repository settings. I need to enable the status check within the [branch protection settings](https://github.com/probot/dco/blob/master/docs/required-statuses.md) for the Sign Off check done by DCO to be enforced.

[2019-09-10 11:00] petrkotas commented on #2588
Hi @nimanjun. If you created the centos VM yourself, you also need to add the `console=tty0 console=ttyS0` to the GRUB2.

You can follow the guide [here](https://8gwifi.org/docs/creating-cloud-images.jsp).

I have finally figured that it is not added by default, therefore the connection will not work properly.

[2019-09-10 11:04] petrkotas commented on #2677
The support for sysprep is currently discussed. Please stay put.

[2019-09-10 11:09] petrkotas commented on #2609
@cherusk thanks for your feedback. From my perspective we are slowly approaching such functionality. IT will take some time to enable full feature set, especially the network part.

But we will get there. If you need specific functionality to be enabled, please specify it preferably with the reason for it. This allows us to set priorities and do a roadmap.

Thank you for you input!

[2019-09-10 11:48] fabiand commented on #2678
Ok, I can grant you those.
Before enforcing the DCO: Please send out an email explaining why we are doing this, why it's now needed.

[2019-09-10 19:28] mjschmidt opened #2684 "Deployment does not work on base k8s no openshift"
/kind bug

**What happened**:
Attempted to deploy kubevirt on prem, had to docker save and docker load images to do so, changing the sha of ever image
**What you expected to happen**:
After changing the sha inside the operator yaml, I expected kubevirt to deploy
**How to reproduce it (as minimally and precisely as possible)**:
Docker save and docker load every image and shove them into some other

[2019-09-10 19:36] dhiller commented on #2678
I've sent the DCO installation request. Now someone needs to ACK that within the organization settings under _Installed GitHub Apps_ .

[2019-09-10 19:36] dhiller commented on #2678
@fabiand ^^

[2019-09-10 19:41] mjschmidt commented on #2684
Looking into the cr the issue seems to be tied to the non existence of an openshift-monitoring?

[2019-09-10 19:57] mjschmidt commented on #2684
Can confirm this is an error when deploying out kubevirt v0.20.3 on prem (i originally wanted to go straight for the latest), but alas all .0 releases have issues lol

[2019-09-10 19:59] cherusk commented on #2609
@petrkotas pardon, almost repeated initial statement, not brightest moment.

Let me attempt:
- having network specifics cnfg as to network quality exposed as paramters. That a starting point

Might close as doc from here.

[2019-09-10 21:16] CoRfr commented on #2664
Is there anything missing from the PR?

[2019-09-10 21:16] nmsnitin opened #2685 "Issue with LVM during boot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We are trying to create a VM using Kubevirt but that VM stuck in the booting process for a while and showing "Volume group "system" not found" on boot prompt.  It seems issue with LVMs. We need some LVMs snipped it attached in last.
While we are able to create the same using Qemu commands successfully.
(qemu-system-x86_64 -m 4092 -s

[2019-09-10 21:21] CoRfr opened #2686 "Proposal: support for generic PCI passthrough"
/kind proposal

I'm looking at Kubevirt to switch from a homegrown solution to manage QEmu VM instances on few bare metal servers.

The idea behind the infra is that each VM Host has a number of USB PCI controllers.
It's in the form of the 1 or 2 USB controllers that generally come with a motherboard, + extra controllers using extension cards (see https://www.startech.com/Cards-Adapters/USB-3.0/Ca

[2019-09-10 23:48] mjschmidt commented on #2684
I think I'll close this and open a new ticket. I was able to identify the problem.

[2019-09-10 23:48] #2684 closed

[2019-09-10 23:50] mjschmidt opened #2688 "V0.21.0 breaks with non open shift deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:
There needs to be a way for the operator to not break if the openshift metrics ns isn't there. Maybe making metrics a configurable yaml file element would be a good idea?

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment

[2019-09-11 04:03] nimanjun commented on #2588
@petrkotas  thanks for inputs, will check it out for console open on grub.

On the current setup I have,

At present, on running vm, observe that there is a vnc socket opened. Does vnc access require specific mapping on kubernetes pod / service to connect? This is because  if I do a list of all kube-private sockers of the following:
/var/run/kubevirt-private/0d4843b9-1f09-47d0-80ec-de85246c51a6

I

[2019-09-11 06:52] fabiand commented on #2678
@dhiller you should have all needed permissions now

[2019-09-11 07:25] cynepco3hahue commented on #2685
@nmsnitin I can see you are using `containerDisk` does it on purpose because it looks like you want to use `persistentVolumeClaim`?

[2019-09-11 07:26] cynepco3hahue commented on #2688
Can you please provide logs from the `virt-operator`?

[2019-09-11 09:09] fabiand commented on #2680
@dhiller I suppose this is also something for you

[2019-09-11 09:22] signmem commented on #1684
@slintes

Thanks for offering this solution.
But I wondering  "virtctl vnc  xxxx --v=9"  show me  the links " wss://server:ip/apis/subresources.kubevirt.io/v1alpha3/namespaces/default/virtualmachineinstances/centos7-vnc/vnc"

Can I use nginx proxy pass function access wss address ?
So I can use noVNC connection to nginx access VMI vnc.

[2019-09-11 21:39] mjschmidt commented on #2688
Tomorrow I can spin up a quick minikube and get you some logs. Its complaining about looking for openshift metrics namespace.

[2019-09-11 22:23] mjschmidt commented on #2608
Closing issue since this works for me.

[2019-09-11 22:23] #2608 closed

[2019-09-12 11:19] chandrajr opened #2693 "Starting container process caused "exec: \"/entry-point.sh\": stat /entry-point.sh: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

 Trying to launch VM through Kind: VirtualMachineInstance using containerdisk image
virt-launcher-myimage-14.1.0.3-hf7q7  Launcher container created and started
but actual VM failed due to the entry-point.sh error.

# kubectl describe pod virt-launcher-myimage-14.1.0.3-hf7q7  | grep Error
      Reason:       Error
  War

[2019-09-13 07:32] slintes commented on #2688
Artyom Lukianov <notifications@github.com> schrieb am Do., 12. Sept. 2019,
13:37:

There is a property on the KubeVirt CRD already

—

[2019-09-13 07:43] rmohr commented on #2688
Maybe we should fall just fall back to the install namespace if we are not on openshift?

[2019-09-13 08:25] rmohr commented on #2664
@CoRfr, I played a bit with container linux. The bottom line is that we can't install policies on core os, since everything is read-only. It is not yet clear to me on how to best solve that. However, since you already have #2670 in place, I want to take in your PR. I will then rebase #2694, which will be an additional improvement, but will still only partially configure selinux on container linux.

[2019-09-13 11:19] pojntfx commented on #2676
Nevermind, figured it out, see this snippet:
https://gitlab.com/snippets/1893008
Changed from Kube-Router to Flannel, from Rancher Longhorn to OpenEBS, from CentOS to Ubuntu and for some reason it seems to work now.

[2019-09-13 11:21] rmohr commented on #2676
@pojntfx It might make sense to make the modifications configurable, so that you can use the kubevirt operator instead of the raw manifest (which is deprecated). What do you think?

[2019-09-13 11:22] rmohr commented on #2624
At least the user-guide should not use the `devel` tag. I am not sure where we would want to place the `warning`, but I agree that it is confusing.

[2019-09-13 12:18] pojntfx commented on #2676
That would be awesome! Let me know if I can help with something (although I am not a Go developer).

[2019-09-13 12:22] rmohr commented on #2676
/reopen

We should make device plugin path configurable

[2019-09-13 12:27] rmohr commented on #2676
@pojntfx is this

[code]

instead of

[code]

the only difference?

[2019-09-13 12:36] rmohr commented on #2577
@SchSeba could you please review #2697?

[2019-09-13 15:46] slintes commented on #2688
Not sure what the common setup of Prometheus is. If it usually looks in all
namespaces for ServiceMonitor CRs, it might make sense. If not, probably
not. IMHO we are fine already if we just give a warning in case the
default/configured ns doesn't exist, instead of failing the deployment.

Roman Mohr <notifications@github.com> schrieb am Fr., 13. Sept. 2019, 09:43:

[2019-09-13 17:21] pojntfx commented on #2676
@rmohr Yes, it is!

[2019-09-14 11:08] mjschmidt commented on #2688
Agreed, throwing a warning would work fine as the shortest possible way forward.

Creating a namespace in my opinion would go down the road of causing all types of problems for non OCP users

[2019-09-14 11:16] mjschmidt commented on #2606
The PR is here:
https://github.com/kubevirt/user-guide/compare/master...mjschmidt:patch-1

[2019-09-14 11:43] mjschmidt commented on #2688
Thanks for working to make the fix by the way!

[2019-09-15 07:26] cynepco3hahue commented on #2664
Maybe you can re-mount the whole system as `rw`, apply the policy and back it to `ro`, at least it worked for RHVH.

[2019-09-16 05:17] dhiller commented on #2680
@caniszczyk hm, OK, I thought I was supposed to enable this for all repos under the KubeVirt org, like it was requested to enable DCO?

I have imported the kubevirt/kubevirt already, will be starting to sort out the issues there soon.

[2019-09-16 07:00] rmohr commented on #2664
I tried that out of curiosity. `semodule` then tries to call some executeables in libexec which are not available on core os :D

[2019-09-16 12:49] #2664 closed

[2019-09-16 12:49] chandrajr commented on #2693
Thanks @rmohr i have upgraded and it is working fine now

[2019-09-16 12:50] #2693 closed

[2019-09-16 13:28] ahadas opened #2704 "Domain gets tainted due to custom guest agent command"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Noticed the following error in the log:
`Domain id=1 name='kubevirt-test-default_testvmixbcjc6f7szp4s6xq9vc987pqtz5s79gvsrfdts4gspzt4fgf' uuid=273534ef-9541-4036-a019-bd2b177926c1 is tainted: custom-ga-command`
It happened several time during migration tests, e.g., [here](https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2682/

[2019-09-16 13:54] #925 closed

[2019-09-16 18:44] booxter commented on #2603
@plwhite could you please retest with https://github.com/kubevirt/kubevirt/pull/2687 and close if no longer reproducible?

[2019-09-16 19:35] rudicio opened #2705 "Support qcow2 for hostDisk"
Kubevirt does not support qcow2 when loading a hostDisk (always shows in qemu as format=raw)

This actually looks like a much bigger bug - I cannot get a hostDisk to load as a SATA device either.

[2019-09-17 07:27] jichenjc commented on #2667
ok, I can't pull the image in container but I can pull from my host.. don't know the reason

[2019-09-17 07:36] rmohr commented on #2667
@jichenjc a very common issue is a `mtu` mismatch between your host ethernet device and the docker bridge (`docker0`). On many occasions I have seen `1500` on `docker0` and `eth0` had `1450`. Then some things work and some things behave strange.

[2019-09-17 07:48] jichenjc commented on #2667
ok, appreciate the info, I will check this soon :) thanks!

[2019-09-17 09:49] rmohr commented on #2397
/remove-lifecycle stale

[2019-09-17 11:46] rmohr commented on #2479
I looked a little bit deeper into the logs. It looks like the issue is coming from the attempt to ping the VMI over a nodePort. This seems to fail very  often. The initial ping over the cluster IP always succeeds.

[2019-09-17 11:46] rmohr commented on #2479
@SchSeba FYI

[2019-09-17 11:48] rmohr commented on #2479
Here the monthly report: https://storage.googleapis.com/kubevirt-prow/reports/flakefinder/flakefinder-2019-09-12-672h.html

which shows that the failures are almost exclusively happening on the `pull-kubevirt-e2e-k8s-multus-1.13.3` lane.

[2019-09-18 07:09] jichenjc commented on #2667
[vagrant@node01 ~]$ sudo ip link set dev eth0 mtu 1450
[root@node01 ~]# docker -D pull kubevirt/cdi-operator:v1.10.1
Trying to pull repository docker.io/kubevirt/cdi-operator ...
v1.10.1: Pulling from docker.io/kubevirt/cdi-operator
6dbefcee4a4b: Downloading   403 kB/40.3 MB
520330dd34bf: Download complete
88b1f18d9fa9: Downloading 669.4 kB/3.121 MB

[2019-09-18 07:10] jichenjc commented on #2667
The MTU helped me ,I will open a PR to add some doc update..

[2019-09-18 08:35] jichenjc opened #2709 "[question] does kubevirt has plan to support baremetal?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
To my understanding, kubevirt is a thing that interact with libvirt to boot vms, do we have a roadmap that we will use something like baremetal such as openstack Ironic to manage baremetal ? Thanks
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-09-18 08:41] cynepco3hahue commented on #2709
@jichenjc Can you please describe your use case?
In general, KubeVirt should only manage VM's and not bare metal nodes, for this purpose we have metal3 repository, see https://github.com/metal3-io/metal3-docs/pull/48/files for more information.

[2019-09-18 08:42] biliwewe commented on #2539
hi @Helenbj, this issue still occurs. First successful connection to vmi VNC, Reconnected vmi vnc connection failed when I disconnected.

**Environment:**

- KubeVirt version (use virtctl version):
[code]
Virt-api has an error log:
[code]

I found that only kubevirt (version = v0.17.0)  vmi vnc can disconnect duplicate connections.

[2019-09-18 08:45] rmohr commented on #2667
@jichenjc great that it helped. However, changing this inside the VM will not be permanent. The next time you do cluster-down and cluster-up the change will be lost again. In your case it seems like docker on your server/notebook/pc is not configured correctly. Your notebook probably hase MTU 1450 and the docker bridge probably has 1500. I would recommend to fix the docker setup (something like re

[2019-09-18 08:47] jichenjc commented on #2709
yes, that's my understanding by now, we need be sure on the scope of kubevirt and out-of scope of kubevirt, so just to confirm, the metal 3 and kubevirt are different repo and no interaction technically ,correct? @cynepco3hahue

by the way, do we have any document that describe whether other hypervirsor such as vmware/xen/ etc will be a to do item?

[2019-09-18 11:33] biliwewe opened #2710 "An error occurred while uploading a local disk image to a PVC using CDI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
An error occurred while uploading a local disk image to a PVC using CDI
[code]
**How to reproduce it (as minimally and precisely as possible)**:

1.  install cdi
[code]
2. expose cdi-uploadproxy service(Use NodePort)
[code]
2. create StorageClass and pv, pvc:
[code]
4. upload local image
[code]

**Environment**:
- KubeVirt version (

[2019-09-18 14:14] lukasmrtvy commented on #2621
It will somehow break dockerd service in VM.
1. Restart minikube VM
2. minikube ssh "journalctl -u docker"

[2019-09-18 15:31] #2585 closed

[2019-09-19 06:55] #2688 closed

[2019-09-19 14:10] SchSeba commented on #2577
@rmohr done can you please take a look I just have a small comment there

[2019-09-20 15:43] #2577 closed

[2019-09-21 09:55] mjschmidt commented on #2688
Thanks all!

[2019-09-21 14:41] j-griffith opened #2720 "Kubevirt Operator fails to determine cluster type - kubeadm 1.15"
/kind bug

**What happened**:

Attempted to build and deploy latest kubevirt to an external cluster (KUBEVIRT_PROVIDER=externa; DOCKER_PREFIX=xxxx) and when the operator is deployed it starts up but then errors out , failing to determine cluster type:

`ERROR: logging before flag.Parse: I0921 14:33:17.102400       1 application.go:164] Error determining cluster type: Get https://10.96.0.1:443/api?

[2019-09-22 07:11] llhhbc commented on #2378
@yinjingjiu  My windows qcow2 is 19G, cann't build into docker image, Do you know how to solve it? Thanks.

[2019-09-22 08:05] rmohr commented on #2378
Can you try building it with latest podman or docker? I know that we had issues with some docker versions because of a bug there when the layer got bigger than 10 GB.

[2019-09-22 13:49] SchSeba commented on #2720
Hi @j-griffith can you please run `kubectl get po --all-namespaces` ?

[2019-09-22 14:00] SchSeba commented on #2479
Hi @rmohr thanks for the report.

I think @fedepaol already take a look on that.

https://github.com/kubevirt/kubevirt/pull/2714

can we close this issue?

[2019-09-22 14:35] j-griffith commented on #2720
@SchSeba sure, here's the output

[code]

[2019-09-22 17:11] chandrajr opened #2721 "Not able to access K8S pod service(nginx) from VM able to ping pod network and nginx pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Not able to access K8S service from kubevirt VM

**What you expected to happen**:
Should be able to access nginx pod service
$ curl 10.98.102.246:32100
<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial,

[2019-09-23 01:17] llhhbc commented on #2378
Tanks, I will have a try.

[2019-09-23 07:10] rmohr opened #2722 "Starting a domain is sometimes slow due to not being able to send an "audit message""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

This message occurs over and over again:

[code]

Finally sending the audit message works and the VMI is started. However tests are likely failing then because of timeouts.

Job: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2717/pull-kubevirt-e2e-os-3.11.0/1175919830482554880
Log: htt

[2019-09-23 07:10] rmohr commented on #2566
another one: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2717/pull-kubevirt-e2e-os-3.11.0/1175919830482554880, log: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2717/pull-kubevirt-e2e-os-3.11.0/1175919830482554880/artifacts/pods/1_kubevirt-test-default_virt-launcher-testvmi8qd729cq4s8xlcf74w7j78m9jvrlvp72n2vbd5bhls-compute.log

[2019-09-23 07:23] SchSeba commented on #2721
Hi @chandrajr thanks for reporting this.

can you please run `ip route` from inside the vm and paste the output here?

[2019-09-23 08:40] rmohr commented on #2479
/close

Yes did not fail anymore after we merged #2714.

[2019-09-23 08:40] #2479 closed

[2019-09-23 08:41] rmohr commented on #2705
Yes that is right now not supported.

/cc @petrkotas could you have a look?

Maybe we can untangle the issue into two separate ones, @rudicio? A bug report and an enhancement.

[2019-09-23 08:41] rmohr commented on #2705
/cc @petrkotas

[2019-09-23 08:43] rmohr commented on #2710
/cc @awels

@biliwewe could you show the events and the logs for the pod which got created for the upload? There could be many reasons. E.g. no space, no memory, and so on. That would help to track the root cause down.

[2019-09-23 08:49] petrkotas commented on #2705
Hi @rmohr and @rudicio.

@rudicio please, I second Roman with splitting the issue. It will be much easier to plan and work on, when we know what is the issue you are bugged and what feature you would like to use.

[2019-09-23 09:09] petrkotas commented on #2588
Hi @nimanjun these sockets are for internal use with virt-launcher process running in the container.
They expose the serial console and VNC from the QEMU process. Than they are forwarded through the virt-launcher and used to connect to QEMU from the outside.

When you see them, it means configuration was working and they are exposed. However in serial console case, it does not confirm there is a d

[2019-09-23 09:11] rmohr commented on #1823
Superseeded by #2679.

[2019-09-23 09:12] rmohr commented on #1823
/close

[2019-09-23 09:12] #1823 closed

[2019-09-23 11:08] brysk opened #2728 "Kube apiserver panic'd on GET for virtualmachineinstances"
Hi KubeVIrt Folks,

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have tried to create configmap but failed with:

[code]

Checked k8s apis server logs and found that process panic'd when executing GET against VMI:

```E0920 12:51:13.717624       1 wrap.go:32] apiserver panic'd on GET /apis/subresources.kubevirt.io/v1alpha3/namespaces/default/virtualmachineinstance

[2019-09-23 11:15] petrkotas commented on #2728
@brysk what is the config map yuu tried to create? I see multus and sriov in your descriptions. Did you install the required plugins for them? Adding @phoracek as he is more familiar with the networking.

[2019-09-23 11:47] awels commented on #2710
Your PVC doesn't have the right annotations for the upload server to start. There are 3 ways to solve the issue:
1. Use a data volume as described [here](https://github.com/kubevirt/containerized-data-importer/blob/master/manifests/example/upload-datavolume.yaml) the PVC to use in the upload command will have the same name as the data volume.
2. Allow virtctl upload to create the PVC for you. This

[2019-09-23 12:07] rmohr opened #2729 "When we scrape handlers without vmis, with prometheus we log too much"
/kind bug

**What happened**:

If no VMI is present we log

[code]

whenever the handler gets scraped.

The same applies when the scrape has completed:

[code]

**What you expected to happen**:

Increase the verbosity level and don't print it in the default log level.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVir

[2019-09-23 12:07] rmohr commented on #2729
/cc @fromanirh FYI

[2019-09-23 12:12] brysk commented on #2728
Hi @petrkotas

Yes, there's also sriov network plugin in play. I was actually in the middle of sriov plugin deployment here: https://github.com/intel/sriov-network-device-plugin#example-deployments and you can find the configMap in this location: https://github.com/intel/sriov-network-device-plugin/blob/master/images/configMap.yaml

Yes, Multus, OVS and Flannel have been installed. Also sriov bina

[2019-09-23 12:43] zhipengzuo opened #2730 "I want to add public ip and internal ip for the vm by cni . what should i do ?whether kubevirt support cni?Is there any Introduction?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2019-09-23 12:54] phandox commented on #2621
Got the same issue on minikube 1.3.1, started worked for me with Minikube 1.4.0.

[2019-09-23 13:34] nmsnitin commented on #2685
@cynepco3hahue ,  I have a qcow2 image on my host machine. How can I use same image to boot the VM using PVC.

[2019-09-23 13:35] petrkotas commented on #2728
This sounds strange, can you please share the state of the cluster?
`kubectl get pods --all-namespaces` and share logs for any failures?

[2019-09-23 15:09] brysk commented on #2728
I had to delete kube-apiserver pod to bring it back to operational state. (it was recreated by kubelet) I'm now running some VMs with 2 interfaces, one provided by OVS CNI and second by SRIOV and waiting for reoccurrence.

In the meantime I can share apiserver and controller logs.

[code]

[kube-logs.tar.gz](https://github.com/kubevirt/kubevirt/files/3642788/kube-logs.tar.gz)

[2019-09-23 15:25] #2667 closed

[2019-09-23 16:10] plwhite commented on #2603
Looks like #2687 fixes this.

[2019-09-23 16:10] #2603 closed

[2019-09-24 03:53] #2217 closed

[2019-09-24 06:54] rmohr commented on #2679
Badge is now there. We currently have 77%. Improving it should be simple, just minor gaps. The main point is that we also need some kind of dynamic code analysis (fuzzing), and I am not sure how other tools are solving that.

[2019-09-24 07:11] rmohr commented on #2730
Hi @zhipengzuo, we have our user-docs here: https://kubevirt.io/user-guide/docs/latest/welcome/index.html. By default any VMI which you create is connected (via CNI) to the pod network. The IP which we get assigned from CNI is offered to the VMI via DHCP. So as long as you configure your interfaces inside the VMI to use DHCP (either default anyway, or use cloud-init), you will see inside your VMI

[2019-09-24 08:00] slintes commented on #1973
/remove-lifecycle stale

[2019-09-24 08:18] phoracek commented on #1973
@slintes ahead of his time!

[2019-09-24 10:40] slintes commented on #2410
/remove-lifecycle stale

[2019-09-24 11:09] slintes commented on #2603
Great :) Thx for the feedback!

[2019-09-24 12:51] SchSeba commented on #2566
another one: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2649/pull-kubevirt-e2e-os-3.11.0-multus/1176139398991843328, log: https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2649/pull-kubevirt-e2e-os-3.11.0-multus/1176139398991843328/artifacts/pods/1_kubevirt-test-default_virt-launcher-testvmisv9c52pjm7lvh9trgc6wnn2xbft6q6grqm9dsxrbkt-

[2019-09-24 13:08] vladikr commented on #2566
Is it only happening on openshift lanes? Perhaps it has to do with our selinux profile.

[2019-09-24 13:39] lxs137 opened #2738 "Multiple hook sidecars cause virt-launcher crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When virt-launcher has multiple hook sidecars (on the same `HookPoint`), virt-launcher crash with stacktrace:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

`sortCallbacksPerHookPoint` function is from https://github.com/kubevirt/kubevirt/blob/bc2d9deda

[2019-09-24 14:22] j-griffith commented on #2720
@SchSeba it looks like @stu-gott may have already fixed this here:  https://github.com/kubevirt/kubevirt/commits/master/pkg/virt-operator/util/client.go

I'll build a new version and test is today and update here accordingly.

[2019-09-24 14:38] zhipengzuo commented on #2730
thanks for you reply .I also want to know  whether kubevirt support containerd .I found that kubevirt supports docker and runv .I want to know more about kubevirt containerd .

When I apply kubevirt-operator.yaml with containerd ,some error like
 Error: failed to create containerd container: error unpacking image: wrong diff id calculated on extraction "sha256:c72e9cb60a9daecfd6504f500a73292ed469e

[2019-09-24 15:56] rmohr commented on #2730
We have no code in kubevirt which depends on a specific container runtime. This looks like a containerd issue.

[2019-09-24 16:04] j-griffith commented on #2720
Gahh, this is a config issue on my side with DNS.  Sorry for the noise.

[2019-09-24 16:04] #2720 closed

[2019-09-24 16:21] phoracek commented on #2728
Hello @brysk, makes me happy to see OVS and SR-IOV being used/tested!

I would recommend you to install SR-IOV plugin via OpenShift's SR-IOV operator. We test it on Kubernetes, so it should work just fine. It does all the heavy lifting for you. If you hit an issue with the operator, please let us know. @booxter and @fedepaol are working closely with the operator's team.

https://github.com/openshi

[2019-09-24 16:47] SchSeba commented on #2728
@brysk which version of k8s are you using?

looks like our console stream kills the k8s api pod this is really weird.

[2019-09-24 16:59] slintes commented on #2036
/remove-lifecycle rotten

[2019-09-25 03:17] zhipengzuo commented on #2730
thanks

[2019-09-25 03:17] #2730 closed

[2019-09-25 06:31] rmohr commented on #2722
Related to #2566

[2019-09-25 06:32] rmohr commented on #2566
Could be. It is just strange, because it looks like it "normally" works.

[2019-09-25 09:27] brysk commented on #2728
@SchSeba it's 1.15, you can check version details in the first post

[2019-09-25 10:03] marcus-sa commented on #2312
What's the progress and thoughts on this?
I would love to utilize KubeVirt for an open source continuous integration platform, but for that I really need the ability to use MacOS VMs.

[2019-09-25 10:03] xprxprx opened #2741 "Add kernel provision through command line"
FEATURE REQUEST

/kind enhancement

We are testing kubevirt and it seems to be great, however, we miss the feature of pass a kernel parameter to provide by command line a different kernel than it has in the image.

As an example in the case of kvm the command line will be:

qemu-system-x86_64 -kernel "custom_kernel_provided".

Thank you very much.
Xavi.

[2019-09-25 10:18] rmohr commented on #1852
/close

implemented in #2597. It will be possible in the next release to attach gpus via the gpu device plugin. If that does not solve the problem, feel free to reopen.

[2019-09-25 10:18] #1852 closed

[2019-09-25 10:20] rmohr commented on #2728
So fare we only test against 1.15.1. Might be a regression in k8s 1.15.3.

[2019-09-25 12:33] slintes commented on #2312
Hey @marcus-sa, did you already try to run a MacOS VM? Do you know what are the missing parts in KubeVirt are?

/remove-lifecycle stale

[2019-09-25 12:41] marcus-sa commented on #2312
Nope not yet @slintes, just discovered KubeVirt a few days ago.
I'll try to give it a go.

[2019-09-25 12:44] slintes commented on #2728
You are running different versions of KubeVirt and virtctl. Can you try virtctl v0.17.0? There have been some changes for console / vnc connections (even though I am not sure without having a deeper look if virtctl itself was affected by this, however it is always better to use mat hing version)

[2019-09-25 14:22] petrkotas commented on #2705
Hi @rudicio I have checked the functionality and it seems to work. Would you please provide more information about your setup?
We need:

1. cluster state: `kubectl get pods --all-namespaces`
2. logs for virt-launcher, virt-handler, virt-controller
3. logs for any failed pods related to kubevirt namespace

Thank you for reporting an issue.

[2019-09-25 15:16] rmohr opened #2746 "Make controller threads configurable on the operator CR"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Some users fine-tune the controller thread count. See #2648. Using manifests is already deprecated. We should not forget to move these options  to the operator install.

**What you expected to happen**:

That I can either set these specific options on the CR, or that we introduce a generic mapping between compone

[2019-09-25 15:18] rmohr commented on #2746
@visheshtanksale @shengnuo FYI
/cc @slintes @vladikr

[2019-09-26 03:27] zhipengzuo opened #2748 "Could kubevirt offer image build by Dockefile ? containerd may not support images build by bazel."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
crictl pull index.docker.io/kubevirt/virt-handler@sha256:74463ee0d468203d7319099650d8590bbbb8af4ab67315f7a27b205a2885e8c2
FATA[0015] pulling image failed: rpc error: code = Unknown desc = failed to pull and unpack image "docker.io/kubevirt/virt-handler@sha256:74463ee0d468203d7319099650d8590bbbb8af4ab67315f7a27b205a2885e8c2": failed

[2019-09-26 06:05] zhipengzuo opened #2749 "panic: ValidatingAdmissionWebhook [virt-api-validator] is already registered using services endpoints in a different namespace. Existing webhook registration must be deleted before virt-api can proceed."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i create virt-api ,that's the log .it seems something that are not cleaned up.how can i clean it . By  the way  i also want to know how to get root password for a vm.thanks.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2019-09-26 06:23] zhipengzuo commented on #2749
error: unable to retrieve the complete list of server APIs: subresources.kubevirt.io/v1alpha2: the server is currently unable to handle the request, subresources.kubevirt.io/v1alpha3: the server is currently unable to handle the request

[2019-09-26 08:16] cynepco3hahue commented on #2748
@zhipengzuo hm it works for `podman` and `docker`, did you try to open an issue under the https://github.com/kubernetes-sigs/cri-tools?

[2019-09-26 10:45] slintes commented on #2749
Hey. Let's try to sort things out...

1. > when i create virt-api

What exactly are you trying to do?

2. >  something that are not cleaned up

Did you uninstall KubeVirt? How? What version?

3. > how to get root password for a vm

Which VM?

4. >  list of server APIs: subresources.kubevirt.io/v1alpha2

v1alpha2 is really old... Can you provide some more context on your env please?

[2019-09-26 10:55] zhipengzuo commented on #2749
sorry,i will  be careful next time .thanks for your reply.some env list:
k8s 1.3.4
centos 7.3
kubevirt 0.14

[2019-09-26 11:19] zhipengzuo commented on #2748
thanks . I am going to try to translate the bazel format to Dockfile

[2019-09-26 11:35] cynepco3hahue commented on #2748
if you will check the history you can find that we used Dockerfile before, but it will include a lot of changes.
Do understand why crictl fails to pull the image?

[2019-09-26 11:50] zhipengzuo commented on #2748
i think the containerd will calculated the id and compare with image's sha256. different way to build may
produce different  file 。so the diff id is different.

I am reading the BUILD.bazel. i want to know can i build it in my env ? can i get  all the dependent file from the internet ?thanks

[2019-09-26 11:53] slintes commented on #2749
Oh wow, that's all quite old. I'm tempted to recommend to set up a new server :wink:
However, we have a PR open for the user guide with a script which should remove everything. I hope this helps :slightly_smiling_face:

https://github.com/kubevirt/user-guide/pull/287/files

[2019-09-26 12:44] zhipengzuo commented on #2749
thanks.hope you all good .

[2019-09-26 12:44] #2749 closed

[2019-09-26 20:51] marcus-sa commented on #2621
minikube v1.4.0 fixed it, but now I just keep hitting (even on GKE)
[code]

[2019-09-26 21:24] tchellomello commented on #2641
Hitting that as well. Had to create the file manually to get the LiveMigration working

[2019-09-26 21:36] fabiand commented on #2641
Interesting
but a good reminder to add a migration testcase to the demo repository and kind branch

[2019-09-27 06:40] slintes commented on #2621
Did you just follow the lab on a clean minikube instance? Wondering why there are 2 default SCs... :thinking:

Please create a separate issue for the GKE problem and provide version numbers etc., thanks.

[2019-09-27 06:44] marcus-sa commented on #2621
@slintes oh yeah sorry, I'll create a separate issue for the GKE.
Following this https://kubevirt.io/pages/gcp.html works perfectly.

I've tried to setup a clean Minikube installation twice and ensured that I setup everything correctly according to the documentation provided in the labs, but this keeps happening.
As you can see it's not only a Minikube issue, but it also happens when doing it on a

[2019-09-27 07:36] brysk opened #2754 "Missing images on KubeVirt Network deep dive blog post"
Hi,

There is a problem with images on KubeVirt Network Deep Dive: https://kubevirt.io/2018/KubeVirt-Network-Deep-Dive.html it worked couple fo days ago

![image](https://user-images.githubusercontent.com/455368/65751185-441a2f00-e10a-11e9-9c68-bc55a6b55314.png)

Can you please fix it, thanks!

[2019-09-27 07:38] brysk commented on #2728
@slintes I will try v0.17.0. In fact I haven't seen any recurrence so far

[2019-09-27 08:14] slintes commented on #2621
ack, let me try to reproduce

[2019-09-27 08:24] #2738 closed

[2019-09-27 08:57] rmohr commented on #2748
@zhipengzuo we right now produce docker v2.2 images. I would be surprised if containerd can't read docker own v2.2 format. Can you ensure that your containerd is up-to-date and if it is, open an issue on the containerd project?

[2019-09-27 08:59] zhipengzuo commented on #2748
i will try . thanks

[2019-09-27 08:59] #2748 closed

[2019-09-27 09:02] rmohr commented on #2748
Oh wait, now I see that you use `cri-tools`. That only support OCI containers, not v2.2. You can configure bazel to produce OCI images instead of v2.2 (we build v2.2 because it is in most cases still more broadly adopted), let me look that up.

[2019-09-27 09:03] rmohr commented on #2748
Checking this, it looks like you would only have to exchange the `container_push` rules with `oci_push` ruiles in the root BUILD.bazel: https://github.com/bazelbuild/rules_docker#basic-rules

[2019-09-27 09:07] zhipengzuo commented on #2748
thank you so much for your kindly reply. i will try .thanks.

[2019-09-27 10:56] rmohr opened #2761 "Update README.md to align with the project state and with kubevirt.io"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Two things:
* Our README.md represents the project state from a very long time ago.
* irc is still listed as our main live-communication channel. Realistically it is now #virtualization in k8s slack

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we ne

[2019-09-27 10:56] rmohr commented on #2761
/cc @codificat

[2019-09-27 10:56] rmohr commented on #2761
/assign @codificat

[2019-09-27 21:39] mlsorensen commented on #2722
I'm playing around with version 0.21.0 in a lab and seeing the same.

[code]

[code]

I'm also unable to get t console, not sure if that's related. Both console and vnc just sort of hang as though they're connected but getting no data. Still looking into it.

[code]

[code]

[2019-09-28 08:49] rmohr commented on #2722
@mlsorensen that looks similar to https://bugzilla.redhat.com/show_bug.cgi?id=1753606. However, I was never able to reproduce it with `virtctl`, only through the openshift console.

@ahadas that looks now very much like #2519 introduced an issue. We should probably open a github issue here too and investigate. Can you do that?

[2019-09-28 08:49] rmohr commented on #2722
@nertpinx @andreabolognani do you have any idea what could cause this? @mlsorensen do you have `selinux` enabled or permissive?

[2019-09-28 10:19] rmohr commented on #2722
@mlsorensen btw. Which vnc viewer do you use?

[2019-09-29 10:55] biliwewe commented on #2710
Hi @rmohr @awels ,Thank you for helping me solve this problem.

[2019-09-29 10:55] #2710 closed

[2019-09-29 11:33] biliwewe opened #2762 "Request help Start window VM blue screen"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a Windows 2003 image and a blue screen appears when I launch it with kubevirt
![20190929191037](https://user-images.githubusercontent.com/55482479/65831504-d8dc8280-e2ec-11e9-8eb8-7d6427a4d229.png)

**Environment**:
- KubeVirt version (use `virtctl version`): v0.17.0
- Kubernetes version (use `kubectl version`): v1.14.6
- OS

[2019-09-29 12:03] chandrajr commented on #2721
This issue resolved .
Issue with Networking where i was using multus
As it expects default network for pod subnet

[2019-09-29 12:33] lxs137 opened #2763 "Serval enhancement to port macOS VM to kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

I want to create a macOS VM that runs and is managed by kubevirt (related issue #2312). I follow the guide on [OSX-KVM](https://github.com/kholia/OSX-KVM).

But I found we miss some `libvirt` fields to define macOS VM with **release-0.21** `VirtualMachineInstanceSpec`.

I handle this by adding serval `OnDefineDom

[2019-09-29 19:10] hetzbh opened #2764 "Regarding Kubevirt and AWS/GCP (VMX/SVM)"
Hi,

I'm not sure if this classifies as a bug, but the docs are pretty short on this issue:

One thing that is not explained well on the docs, is actually how does Kubevirt runs on AWS or GCP, so you cannot run nested VM's, so how the VM is running on public clouds? soft emulation?

[2019-09-30 06:42] marcus-sa commented on #2763
Take a look at this https://github.com/foxlet/macOS-Simple-KVM

[2019-09-30 06:46] tlawrie commented on #2312
@fabiand do you know if anyone else has attempted getting a MacOS VM to work with Kubevirt?

[2019-09-30 07:19] fabiand commented on #2312
IIRC there were attempts to run MacOS on KubeVirt, but I do not know how
they went.
Despite that I'm also not sure about the licensing situation for running
MacOS inside a VM

[2019-09-30 07:22] tlawrie commented on #2312
I think you can as long as it runs on licensed Mac hardware. But dont quote me.

Hopefully the others have had more luck as I would like to kick start an attempt at it again...

[2019-09-30 07:44] lxs137 commented on #2763
Yes, macOS can work in kubevirt now in my situation. But it need some dirty work, such as miscellaneous hook sidecars and an extended [MutationWebhook](https://github.com/lxs137/k8s-sidecar-injector).

[2019-09-30 07:51] lxs137 commented on #2312
@fabiand I think it's legal because macOS can run on [Parallels](https://www.parallels.com/products/desktop/#compare). http://www.contrib.andrew.cmu.edu/~somlo/OSXKVM/#sec_4

[2019-09-30 07:55] lxs137 commented on #2312
@tlawrie I have already ran macOS on kubevirt with some workarounds, so I want to add some features to kubevirt. See my [comment](https://github.com/kubevirt/kubevirt/issues/2763#issuecomment-536444094) here.

[2019-09-30 08:14] slintes commented on #2721
Thanks for the follow up! :slightly_smiling_face:

/close

[2019-09-30 08:14] #2721 closed

[2019-09-30 08:19] slintes commented on #2764
Hi,

yes, if nested virt is disabled, software emulation is the only way to go. See here how to enable it: https://kubevirt.io/user-guide/docs/latest/administration/intro.html#software-emulation

Side note: there might be cloud providers with nested virt enabled, e.g at least a few months ago I tested on DigitalOcean successfully, even though it is not documented by them IIRC.

[2019-09-30 10:39] andreabolognani commented on #2722
Doesn't ring any bells, sorry :(

[2019-09-30 11:43] nertpinx commented on #2722
On Mon, Sep 30, 2019 at 03:40:05AM -0700, Andrea Bolognani wrote:

Neither with me, I'm not familiar with libaudit at all.

[2019-09-30 16:43] mlsorensen commented on #2722
I've used all three VNC options for MacOS, Normally I use TigerVNC but I've also got the others intalled and tried them as well.

I do have selinux enforcing in this environment.

[2019-10-01 05:28] chinadd opened #2766 "Unable to start VM with kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
unable to start the VM
[code]

**What you expected to happen**:
Should be able to start the VM

**How to reproduce it (as minimally and precisely as possible)**:
1. Have kubevirt installed (https://github.com/kubevirt/demo).
2. Deploy the pv and pvc by `kubectl apply -f https://github.com/dlambrig/kubevirt-lustre/blob/mas

[2019-10-01 09:51] fabiand commented on #2764
Can we state this more prominently in the user-guide?
Or in the README.

- fabian

[2019-10-01 11:38] marcus-sa commented on #2621
@slintes were you able to reproduce it? Because it seems like it's not an issue with Minikube, but with KubeVirt over all.

[2019-10-02 08:47] cynepco3hahue commented on #2766
@chinadd Do your hosts support nested virtualization? See - https://kubevirt.io/user-guide/docs/latest/administration/intro.html

[2019-10-02 09:16] rmohr commented on #2766
Interesting, I think that there are two issues. First that the node probably does not have /dev/kvm, but kubevirt is not configured to use software emulation.

Second, it looks like `virtctl` can't authenticate, but `kubectl` can. That can have two reasons: First, some exotic auth plugin is used and we don't support that correctly, second something new got introduced in kubernetes 1.16, and we nee

[2019-10-02 09:17] rmohr commented on #2766
@chinadd how did you create the cluster?

[2019-10-02 09:17] rmohr commented on #2766
Found two changes regarding to auth, may or may not be related: https://kubernetes.io/docs/setup/release/notes/#auth

[2019-10-02 09:21] rmohr commented on #2762
@biliwewe would it be possible for you to start your windows VM directly with libvirt and post the resulting domain xml? I guess we just have to enable some guest features (can be that we already support them, or that they need to be exposed).

[2019-10-02 09:21] rmohr commented on #2762
/enhancement

[2019-10-02 09:22] rmohr commented on #2762
/kind bug

[2019-10-02 09:25] rmohr commented on #2709
Yes, they are independent. You can "somehow" (via metal3, kubeadm, ...) install a kubernetes cluster on bare-metal. Once you have the cluster, you can deploy kubevirt. Depending on your cluster-version kubevirt may require some beta features (so should be enabled by default already) from kubernetes itself.

There are currently no plans to support other hypervisors.

[2019-10-02 11:21] cynepco3hahue commented on #2641
I had the same problem under the OKD run - https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/2623/pull-kubevirt-e2e-okd-4.1/1177201027313569792/artifacts/8_events.log
[code]

[2019-10-02 11:25] cynepco3hahue commented on #2641
But I unsure that it indicates to some real problem because after under the pod describe I have
[code]

[2019-10-02 12:09] lxs137 commented on #2763
@fabiand What do you think about these four features? I have no idea how to impl feature-1, is it suitable to load `EFI` data from [volumes](https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/disks-and-volumes.html#volumes)?

[2019-10-02 13:45] slintes commented on #2085
/remove-lifecycle rotten

[2019-10-02 16:01] chinadd commented on #2766
I am not sure about this. Below is the output for virtualization support.
[code]

[2019-10-02 16:03] chinadd commented on #2766
I created the minikube cluster like this
[code]

[2019-10-02 16:05] chinadd commented on #2766
I think so.
[code]

[2019-10-02 18:09] chinadd commented on #2766
The newest version of `virtctl` is v0.21.0, I will try by reinstallation of this version

[2019-10-03 05:08] nmsnitin commented on #2685
@cynepco3hahue,
I have tried PV and PVC to resolve the issue but the issue is the same with our image that required LVM.

I have a small query here, my application VM requires two physical disk  **/dev/sda2 and /dev/sda3**
to create the Volume Groups (VGs) and Logical Volume (LVs) over it as part of LVM.  I tried HostDisk, emptydisk and PVC as well to provide disks to the VM but it attaches as  **

[2019-10-03 11:12] slintes opened #2778 "Images with `kv-` image name prefix were pushed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Images with `kv-` image name prefix were released for v0.20.8 (see #2776)

**What you expected to happen**:
No new images with the prefix

**Anything else we need to know?**:
I deleted the images already
Probably it is enough to set IMAGE_PREFIX_ALT="" in the build step which pushes images

[2019-10-03 12:12] cynepco3hahue commented on #2685
IIRC you need to change the bus type
[code]
but to be honest I can not find any example with it, so I just it will work for you

[2019-10-03 22:55] vladikr opened #2782 "virtio multiqueues are being incorrectly calculated"
/kind bug

**What happened**:
The number of queues that are being assigned to virtio interfaces and disks is incorrectly calculated based on the physical cpus. This calculation should be based on the number of virtual cpus the guest has, as described in [1]

[1] https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/interfaces-and-networks.html#virtio-net-multiqueue

[2019-10-05 06:09] #2782 closed

[2019-10-06 10:55] jichenjc commented on #2709
thanks for the information, let's close this , appreciate :)

[2019-10-06 10:55] #2709 closed

[2019-10-06 19:37] fabiand commented on #2763
I could imagine that we could support pointing to a different EFI loader by using an annotation, just like it's done in Kubernetes for alpha/try-out features.

I.e. you'd add an annotation to the VM/VMI definition to specify the loader to use. Which could i.e. reside on a PV/C or containerDisk

But I am just on voice.

[2019-10-07 07:54] cynepco3hahue commented on #2641
I can see we create this file once the virt-launcher ready to start the libvirt domain, so it looks just a temporary warning that the virt-launcher pod has after the start.

[2019-10-07 09:29] slintes commented on #2352
/remove-lifecycle rotten

[2019-10-07 09:29] rmohr commented on #2762
Some people told me that Windows 10 worked for the, This configuration should normally be sufficient: https://github.com/kubevirt/kubevirt/blob/master/examples/vm-template-windows2012r2.yaml#L31. The main difference I see to your configuration seems to be the clock settings. Can you try it with these settings again?

[2019-10-07 10:38] rmohr commented on #2641
This file is normally created after we have started libvirt and we could connect to it. Could one of you share the logs from a `virt-launcher` pod where this is happening? I wonder how a migration could start and succeed if this file is created by hand, because if it is not there, one can normally not talk to libvirt.

[2019-10-07 10:39] rmohr commented on #2641
Maybe it is a permission problem. We will see it in the logs then.

[2019-10-07 11:00] nmsnitin commented on #2685
@cynepco3hahue ,  Thanks.. Yes I can see the the sda as a disk in the VM, but it is not mounted anywhere. I need to create a partition like /dev/sda1.  Can I provide such information using VM yaml.

root@vm13:~# lsblk
NAME   MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
**sda      8:0    0   10G  0 disk**
vda    253:0    0  2.2G  0 disk
`-vda1 253:1    0  2.2G  0 part /
vdb    253:16   0  366K  0 disk

root

[2019-10-07 11:14] cynepco3hahue commented on #2685
Can you please describe what are you trying to achieve? IIUC you have some pre-provisioned image `stn-vmfx2-disk1.qcow2` that do you want to use for the VMI start, do you want to run it as stateless or stateful VM?

[2019-10-07 13:19] nmsnitin commented on #2685
Actually my application running inside VM is looking for a partition mounted on **/dev/sda1.**
I am just trying to provide an emptyDisk or PVC that mounted as /dev/sda1.

[2019-10-07 15:08] cynepco3hahue commented on #2685
@nmsnitin Thanks for the explanation, you can try to configure mounts via cloud-init, in general, you can pass any bash script that you want to it - https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/startup-scripts.html.

[2019-10-08 00:23] chinadd commented on #2766
May I ask what makes you ask this?

[2019-10-08 03:28] biliwewe commented on #2762
Hi @rmohr  I updated my yaml file by following https://github.com/kubevirt/kubevirt/blob/master/examples/vm-template-windows2012r2.yaml#L31
**win2k3.yaml:**
[code]
The issue still exists
[code]
view some logs:
<details>
<summary>kubectl logs -f virt-launcher-win2k3-6s7zp  -c compute</summary>

[code]

</details>

<details>
<summary>virsh edit default_win2k3:</summary>

[code]

</details>

![Video_

[2019-10-08 03:54] biliwewe commented on #2762
@rmohr I can start win2k3 vm directly using libvirt
[code]
**virsh dumpxml win2k3**
[code]

![Video_2019-10-08_114254](https://user-images.githubusercontent.com/55482479/66365974-773da780-e9c1-11e9-99b2-2238ae0d43fe.gif)

[2019-10-08 06:33] slintes commented on #2766
The kubernetes node is running in a VM (because of the minikube KVM driver), and you want to start another VM inside that VM. So you need either nested virt, or you need to enable software emulation. See [0] for how to enable nested virt on CentOS 7. Once you set it up, `$ minikube ssh -- test -e /dev/kvm` won't return an error anymore.

Will try to reproduce the auth issue now.

[0] https://www.l

[2019-10-08 06:37] Helenbj commented on #2539
Through my test of virtctl, I think virtctl has its original bugs, however, I can't figure out without your help. So I give up virtctl while using other methods to display VNC.

[2019-10-08 06:37] #2539 closed

[2019-10-08 07:04] slintes commented on #2766
hm, I can't reproduce the auth problem, neither with downloaded virtctl nor with krew... :thinking:
[code]

[2019-10-08 08:58] slintes commented on #2621
Hey, sorry for the delay.
Well, the error message is saying everything: there are 2 default storage classes:
- the 1st is installed by minikube (see below, this seems to be new) or GCE respectively:
[code]
- the 2nd is installed by our storage setup, see last part of [0]

Moving this to the correct repository, as this is not an issue with KubeVirt itself.

[0] https://raw.githubusercontent.com/kub

[2019-10-08 09:43] chinadd commented on #2766
Thanks for the effort! This error message is specific to the yaml file (https://github.com/dlambrig/kubevirt-lustre/blob/master/yaml/centos7.yaml) I am using. I didn't see the error either when trying to start testvm (https://raw.githubusercontent.com/kubevirt/demo/master/manifests/vm.yaml)

[2019-10-08 10:24] slintes commented on #2766
Oh... now I see it :)
It doesn't have anything to do with your VM, but how you use virtctl:
1. virtctl just takes the name of the virtualmachine as argument, without resource type, no need for `virtualmachineinstance.kubevirt.io/`
2. `virtualmachine*instances*` can't be started at all, they are running per definition. You can start/stop `virtualmachines`, which will create/delete the `virtualmachi

[2019-10-08 12:32] #2249 closed

[2019-10-08 13:37] chinadd commented on #2766
ted at all, they are running per definition. You can start/stop `virtualmachines`, which will create/delete the `virtualmachine*instance*` for you.

I see. Thanks!

[2019-10-08 16:47] nmsnitin commented on #2685
@cynepco3hahue Thanks for the help. One last question is there any impact on the performance if I use bus as "sata" instead of the "virtio" for the containerDisk (rootfs).

[2019-10-09 00:13] chinadd commented on #2766
I got some new situations when running the new commands
[code]
And I checked the disk space usage before and after I start the VM
before:
[code]
after
[code]
Probably due to the almost full disk space, minikube is paused
[code]
and I can't describe the VM or delete the deployment either
[code]

[2019-10-09 06:46] slintes commented on #2766
Seems you are still trying to start a virtualmachine**instance**. That is not possible. VMIs are always running. You can only start virtualmachines.
Also, your centos7 VM seems to be so big that your very small machine (only 2 GB space left before creating the VMI) is running out of space and just stops working.

[2019-10-09 07:36] slintes commented on #1684
/remove-lifecycle stale

upstream issue is still WIP

[2019-10-09 12:25] SchSeba commented on #2292
/remove-lifecycle stale

[2019-10-09 17:00] #2264 closed

[2019-10-09 17:32] rmohr commented on #2478
/close

Solved

[2019-10-09 17:32] #2478 closed

[2019-10-09 17:33] rmohr commented on #2481
/close
Solved

[2019-10-09 17:33] #2481 closed

[2019-10-09 17:33] rmohr commented on #2482
/close

Solved

[2019-10-09 17:33] #2482 closed

[2019-10-09 17:53] chinadd commented on #2766
So I deployed the YAML file for VM and ran `kubectl virt start <name of VM> `. That seems to be the same as the way I start the testVM. Also, I am kind of lost about `VM` vs `VM instance` since instance and VM are sometimes interchangeable on cloud platforms like GCP.
Disk usage is another issue. I need to try with a larger instance but I am not sure that will work since the disk space keeps growi

[2019-10-10 09:04] slintes commented on #2766
yes, because downloaded docker images aren't removed automatically

Looking for a good explanation of VM vs VMI...

[2019-10-10 10:01] rmohr commented on #2762
Hm, I think I remember something like that windows **desktop** versions also need `usb` and `tablet` present.

Can you retry with adding the following to `spec.domain.devices`:

[code]

[2019-10-10 11:22] biliwewe commented on #2762
Hi @rmohr, I modified my vm.yaml
[code]
Running Windows Server 2003 vm is still blue screen, But running Windows Server 2012 R2 vm succeeded.
This is my win2k3 driver, Is it a problem with my Windows Guest Virtual Machines?

![微信图片_20191010191725](https://user-images.githubusercontent.com/55482479/66564466-a48d7f80-eb92-11e9-9e1d-9f115144efc0.png)

[2019-10-10 11:24] rmohr commented on #2762
@biliwewe I am now out of ideas.
@MarSik any ideas?

[2019-10-10 11:25] biliwewe commented on #2762
@rmohr  Have you successfully run win2k3 vm?

[2019-10-10 12:39] chinadd commented on #2766
OK we got it working by removing the PersistentVolumeClaim part of VM.
[code]

[2019-10-10 13:24] rmohr commented on #2477
/close

fixed

[2019-10-10 13:24] #2477 closed

[2019-10-10 13:55] rmohr commented on #2679
@caniszczyk what are other golang projects using for dynamic code analysis? I see that many have 100% on the badge, but I don't see what they do in this area.

[2019-10-10 16:37] #2352 closed

[2019-10-10 16:37] #2778 closed

[2019-10-10 22:15] jeniferh opened #2798 "networkInterfaceMultiqueue also enables virtio-blk queues"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Only enabling 'networkInterfaceMultiqueue: true' also adds virtio-blk queues, ex:
[code]

**What you expected to happen**:
networkInterfaceMultiqueue should only enable virtio-net queues

**How to reproduce it (as minimally and precisely as possible)**:
Use 'networkInterfaceMultiqueue: true' and set cpu requests (require

[2019-10-11 07:01] fromanirh commented on #2729
ack, sorry I didn't noticed this before.

[2019-10-12 05:20] chinadd opened #2801 "Problem in console into VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Can't access VM via serial cable
[code]

**What you expected to happen**: I should be able to login

**How to reproduce it (as minimally and precisely as possible)**:
Create a kubernetes cluster, deploy `pv-mds.yaml`, `pvc-mds.yaml` and `centos7-lustre-mds.yaml` sequentially. (https://github.com/chinadd/kubevirt-lustre-ne

[2019-10-14 07:40] slintes commented on #2386
/remove-lifecycle rotten

[2019-10-14 08:10] petrkotas commented on #2801
Hi @chinadd I am guessing right now, but it seems to me, that you have created the VM image yourself from centos installation. Is that correct?

If so, to make it work with serial console you have to update GRUB to enable console. Centos does not have it by default.

Please look for instance [here](https://www.hiroom2.com/2016/06/07/centos-7-grub2-and-linux-with-serial-console/) how to do this.

I

[2019-10-14 08:49] slintes commented on #2801
the console technically works, see
[code]
So either username or password is incorrect. I see the password is set in cloud init, so that leaves us to the username. I'm not sure if the default user for CentOS is `centos`... did you try `root`?

[2019-10-14 14:18] chinadd commented on #2801
Thanks! I think GRUB2 is set to serial console here in my Kubernetes node since I get the login prompt.
I also checked /etc/default/grub
[code]

[2019-10-14 14:24] chinadd commented on #2801
Yeah, I also wonder about this since I was borrowing other people's code. `root` doesn't work either. The reason I tried `centos` was that this deployment (https://github.com/chinadd/kubevirt-lustre-new/blob/master/yaml/centos7.yaml) was successful, with username & password == `centos`. That one doesn't have a persistent volume though.

[2019-10-14 20:50] rmohr commented on #2762
@biliwewe no I did not. We will have to look at the domain xml differences, to seewhat we are missing.

[2019-10-14 20:56] rmohr commented on #2762
Ah now I see it. You need i440 machine type, while we only support the newer q35 machine type. You can have a look here https://kubevirt.io/user-guide/docs/latest/creating-virtual-machines/virtualized-hardware-configuration.html#machine-type on how to set the older type.

[2019-10-15 04:16] biliwewe commented on #2762
Hi @rmohr  Reference document I modified the Machine Type
[code]
An error occurred：
[code]
I checked the machine supported by qemu-system-x86_64
[code]
I don't know how to handle it, can you help me?
thank

[2019-10-15 05:30] #2729 closed

[2019-10-15 06:55] biliwewe opened #2805 "vnc connection vmi error encountered reading from client stream"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Kubevirt upgraded from v0.17.0 to v0.22.0. Using vnc to connect vmi exception. The first connection to vnc can succeed. Unable to connect after disconnecting.

**Environment**:
- KubeVirt version (use `virtctl version`): v0.22.0
- Kubernetes version (use `kubectl version`): v1.14.6
- OS (e.g. from /etc/os-release): centos7
- Kernel

[2019-10-15 07:31] slintes commented on #2495
I guess this is still an issue?

/remove-lifecycle stale