[2021-03-20 09:51] #3057 closed

[2021-03-20 13:54] #3405 closed

[2021-03-20 18:19] vasiliy-ul commented on #5279
I think this is the same issue as I hit in https://github.com/kubevirt/kubevirt/pull/5263#issuecomment-802800892 . I will try address it in that PR.

[2021-03-21 09:13] #2746 closed

[2021-03-21 12:32] wuestkamp commented on #5124
ran into the same issue on ubuntu using `export RELEASE=v0.39.0`, downgrading to `export RELEASE=v0.38.1` solved it.

[2021-03-21 13:18] wuestkamp commented on #1684
/reopen

I have the same issue, but when I try to connect manually I'm getting:

[code]
Did the location of the script change?

[code]

[2021-03-21 13:33] alonSadan commented on #4642
https://github.com/kubevirt/kubevirt/pull/5093 Fixed this issue. All the details are the PR.
Since the PR got merged the SRIOV job ran
Therefore this issue can be closed.

[2021-03-21 13:38] oshoval commented on #4642
Remove than the XFail please?

[2021-03-21 13:46] alonSadan commented on #4642
https://github.com/kubevirt/kubevirt/pull/5282
Done.

[2021-03-21 13:52] #4997 closed

[2021-03-21 14:20] #4835 closed

[2021-03-21 14:20] #4971 closed

[2021-03-21 19:25] #5163 closed

[2021-03-21 19:25] #5164 closed

[2021-03-21 22:26] #4271 closed

[2021-03-22 08:20] oshoval opened #5285 "[Flaky CI] Unexpected Warning event received ... fatal error: runtime: cannot allocate memory"
/kind bug

**What happened**:
`[sig-network] [Serial]Services Masquerade interface binding *without* a service matching the vmi exposed should fail to reach the vmi` is flaky

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-1.19-sig-network/1373786699879944192

**What you expected to happen**:
Should be stable

**How to reproduce it (as minimally and precisely as

[2021-03-22 11:57] rmohr commented on #5285
Looking at the ci search dashboard: https://search.ci.kubevirt.io/?search=failed+to+get+image+info%3A+failed+to+invoke+qemu-img%3A&maxAge=336h&context=1&type=bug%2Bjunit&name=&maxMatches=5&maxBytes=20971520&groupBy=job

I see it occuring the first time 7 days ago on this PR: https://github.com/kubevirt/kubevirt/pull/5102. It then disappeared  in the build logs until work was resumed on this PR and

[2021-03-22 12:11] enp0s3 commented on #5267
@vladikr Hi. Yes, both are failing on K8s 1.20 with same libvirt error.

[2021-03-22 13:46] rmohr commented on #5285
I would suggest reverting #5102 and investigate #5102 in a new PR.

[2021-03-22 13:51] iholder-redhat commented on #5285
@rmohr Sure, I'm on it.

[2021-03-22 14:43] #4411 closed

[2021-03-22 15:41] mazzystr opened #5288 "Data sync question"
A colleague asked me if KubeVirt or CDI had a mechanism to synchronize data at the vdisk / pvc layer from a multicluster perspective.  Or do we rely on the geo rep features of the underlaying storage?

[2021-03-22 17:50] #5228 closed

[2021-03-22 18:32] greg-bock opened #5290 "Disk driver cache not always set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
If a VM fails to start on the first try disk cache settings can be lost. This is due to the fact that setting the disk cache is only done once in _preStartHook_ (manager.go). _SyncVMI_ (and _PrepareMigrationTarget_) calls _Convert_v1_VirtualMachine_To_api_Domain_ which rebuilds the disk objects. Suggested fix is to call S

[2021-03-22 20:10] The-Loeki commented on #4942
If we had API stanza's for arch|emulator|device-type we could instantiate different HW-emulated VM's through KubeVirt (e.g. a x86_64 machine running an ARM64 build with a different qemu-$machine)

[2021-03-22 22:51] mazzystr opened #5292 "Archive kubevirt-ansible & kubevirt-ansible-modules repositories"
Is the kubevirt-ansible & kubevirt-ansible-modules repos used anymore?  Let's archive/deprecate them if not.

[2021-03-22 22:57] mazzystr opened #5293 "Review and update Code of Conduct"
KubeVirt Code of Conduct hasn't been reviewed since 2018.

Let's do a deep review and side-by-side comparison to CNCF/Kubernetes's CoC document.  Link is [here](https://kubernetes.io/community/static/cncf-code-of-conduct/).

Cross link to Community [here](https://github.com/kubevirt/community/issues/84)

[2021-03-22 22:59] mazzystr opened #5294 "KubeVirt deployment one-liner"
How feasible would it be to have a one-liner to deploy KubeVirt?

The thinking is ...
`curl https://kubevirt.io/setup | bash`
...and KubeVirt and at least CDI is installed and deployed

- [ ] Create one-liner script
- [ ] Create page in kubevirt.io
- [ ] Update all the quickstart labs
- [ ] Update user-guide

[2021-03-22 23:06] mazzystr opened #5295 "Review & update CONTRIBUTING"
Review & update CONTRIBUTING.

I suggest we follow very closely to the Kubernetes page so we don't have to maintain multiple wheels
https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md

[2021-03-22 23:34] mazzystr opened #5296 "Archive kubevirt cloud image builder repo"
Is kubevirt cloud image builder repo used anymore? Let's deprecate/archive it if not.

[2021-03-23 09:58] pothos opened #5298 "Disabled SELinux detected as Permissive Mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

KubeVirt tries to relabel `/dev/net/tun` when running on Flatcar Container Linux 2765.2.1 with SELinux disabled, which results in a panic and crash (because SELinux is not reachable).

The relabeling attempt happens because KubeVirt detects the system would be in Permissive Mode just because the filesystem `/sys/fs/selinux` is moun

[2021-03-23 10:04] #4836 closed

[2021-03-23 11:44] xpivarc commented on #5220
@watermelon-brother
Can you check this [PR](https://github.com/kubevirt/kubevirt/pull/5243) help you? If not we might have some loose end.

[2021-03-24 08:06] rmohr commented on #5285
I see that since this got merged, we only had one single appearance: https://prow.apps.ovirt.org/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirtci/577/check-provision-k8s-1.19/1374433589126500352 (still one too much but at least CI is happier).

[2021-03-24 08:12] iholder-redhat commented on #5285
I'm trying to think about how to identify where the problem is coming from. Will sync with @dhiller about it. Also will try to `increase memory of Cirros, from 128Mi to 512Mi` as @oshoval suggested above to see if it helps.

[2021-03-24 08:16] rmohr commented on #5285
I don't see a connection. `qemu-img` is run from virt-handler and not from virt-launcher. It makes no difference if you give the VM more memory.

[2021-03-24 11:04] #5217 closed

[2021-03-24 13:12] rmohr opened #5309 "Mount/Unmount errors during e2e tests in kubelet logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I see very often jobs which schedule and start a pod. The pod then needs minutes until the init containers executed successfully. No warning or anything are visible on the cluster level.

This job is a good example: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5216/pull-kubevirt-e2e-k

[2021-03-24 15:33] #4544 closed

[2021-03-24 15:34] oshoval commented on #4544
Time is the best cure for flakiness,
even the hardest ones

[2021-03-24 17:43] pvorontsovd commented on #5069
i think key of problem here is
[code]
i have the same problem with kubevirt version v0.39.0 on k3s
when i install kubevirt version v0.36.1, i also see these info messages,
[code]
but the vm creation is successful

[2021-03-25 07:23] fgimenez commented on #4829
/reopen

[2021-03-25 09:31] dhiller opened #5313 "Several unit tests are flaky and need to get fixed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

With PR we introduced some changes to our testing on CI that a) avoids caching of test results and b) tests multiple times. Now a couple of PRs already have suffered by the unit test lane `pull-kubevirt-unit-test` blocking merges due to flaky unit tests.

The test suites discovered that were flaky are (please add to this

[2021-03-25 09:57] acardace commented on #5313
Test `should verify that migration failure is set in the monitor thread` is flaky and managed to catch a stack trace when running it with `hack/dockerized bazel test --repository_cache='' --test_output=all  --features race --cache_test_results=no --runs_per_test=4  //pkg/virt-launcher/virtwrap:go_default_test`

Here's the stack trace:

[code]

Interestingly I managed to get it to fail only when ru

[2021-03-25 09:59] vasiliy-ul commented on #5313
Apart from flakiness because of e.g. timeouts there are also tests that may use some hardcoded common resources, e.g.:
[code]
Probably here the listening port needs to be randomized otherwise the parallel execution will fail.

[2021-03-25 10:57] acardace commented on #5313
This is exactly what's making `should verify that migration failure is set in the monitor thread` fail, If it makes sense we can just let the OS decide the port so that conflicts will not occur.

[2021-03-25 11:07] oshoval commented on #5027
https://github.com/kubevirt/kubevirt/pull/5002 was merged

[2021-03-25 11:07] #5027 closed

[2021-03-25 11:08] oshoval commented on #5071
@maya-r
this one can be closed?
thanks

[2021-03-25 11:08] oshoval commented on #5040
OOM was fixed, the bump is nice to have if desired but not mandatory
closing

[2021-03-25 11:08] #5040 closed

[2021-03-25 11:17] acardace commented on #5313
Just not possible, the migration proxy uses a pair of known-ports between virt-launcher and virt-handler, either we pass this information somehow (but the pain is probably higher than the gain) or we instruct bazel to not spawn multiple processes running this test in parallel.

[2021-03-25 11:23] rmohr commented on #5313
Making not configurable values in production configurable for testing is pretty normal and should be done.

[2021-03-25 11:32] acardace commented on #5313
Yes, actually this makes a lot of sense, thank you @rmohr. I'll try putting together a PR to fix this test.

[2021-03-25 12:00] ormergi opened #5316 "Flaky test "[ref_id:1182]Probes for readiness should succeed [test_id:1202]with working HTTP probe and http server, no ip family is specified""
**What happened**:
Failed twice:
 https://prow.apps.ovirt.org/view/gs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.18/1369425882703204352
https://prow.apps.ovirt.org/view/gs/kubevirt-prow/pr-logs/directory/pull-kubevirt-e2e-k8s-1.19/1370183121533669376

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2021-03-25 12:35] maya-r commented on #5071
go for it

[2021-03-25 12:38] #5071 closed

[2021-03-25 16:51] rmohr commented on #1376
/reopen
/remove-lifecycle rotten

[2021-03-25 17:06] ormergi commented on #3811
Another instance here:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirtci/563/check-provision-k8s-1.19/1375108411544309760

A VM creation timeout

[2021-03-25 20:57] #5274 closed

[2021-03-26 01:23] #5173 closed

[2021-03-26 06:07] wavezhang opened #5325 "Support Disk Hot Resize"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
block pvc support hot resize，but when kubevirt vm use block pvc, it donot support hot resize
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (u

[2021-03-26 08:44] vasiliy-ul commented on #5313
To address the timing issues I think it makes sense to introduce a simple interface:
[code]
The default implementation will just return `time.Now()`. But in the code all the calls to `time.Now()` need to be repaced with `timeSource.Now()`. Then in the tests it will be easy to mock the call and thus avoid dependencies on real timeouts.

Such change will require some ammount of refactoring across th

[2021-03-26 09:13] #5143 closed

[2021-03-26 09:22] rmohr commented on #2965
This should work now. See https://github.com/kubevirt/kubevirt/pull/2980#issuecomment-808064426 for details.

[2021-03-26 19:21] #4423 closed

[2021-03-26 19:21] #4294 closed

[2021-03-29 01:39] zhlhahaha commented on #3558
Please use this PR. https://github.com/kubevirt/kubevirt/pull/3415

[2021-03-29 03:24] watermelon-brother commented on #5220
I have a try to above solution,but there is no one solution To take effect.Now,I use the version of kubevirt v0.37.0,All versions after that have problems.

[2021-03-29 07:49] acardace commented on #5313
/reopen

[2021-03-29 10:37] rmohr opened #5335 "Some operator unit tests are flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Some operator unit tests fial quite often. Here a typical example: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/4907/pull-kubevirt-unit-test/1376471768809607171.

We only collect junit files for a few days yet, but https://search.ci.kubevirt.io/?search=operator&maxAge=168h&context=1&t

[2021-03-29 10:37] rmohr commented on #5335
@davidvossel @ashleyschuett FYI

[2021-03-29 11:29] awels commented on #4725
/lifecycle frozen

[2021-03-29 11:41] bhkamath commented on #4843
It is quite possible that I would have referred to document with statement, "kubectl create configmap kubevirt-config -n kubevirt --from-literal debug-useEmulation=true".  I am unable to spot my specific reference.

Thanks for your follow-up.

[2021-03-29 11:42] vasiliy-ul opened #5336 "Support cgroupv2 in Kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

This is a placeholder issue to track the status of Control Group v2 (cgroupv2) support in Kubevirt.

https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html

Cgroupv2 comes as a replacement of cgroupv1 and it introduces a new interface. Some features in Kubevirt make direct use of cgroup and therefore r

[2021-03-29 12:12] #4843 closed

[2021-03-29 13:42] xpivarc commented on #5267
/close

[Fix](https://github.com/kubevirt/kubevirt/pull/5305 )

[2021-03-29 13:42] #5267 closed

[2021-03-29 13:57] ormergi commented on #4198
Failed due to a conflict
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5332/pull-kubevirt-e2e-k8s-1.18/1376449874530144256

[2021-03-29 13:59] oshoval commented on #4198
/reopen

[2021-03-29 14:26] #4833 closed

[2021-03-29 15:00] #3389 closed

[2021-03-29 16:40] bhkamath opened #5339 "virt-operator CrashLoopBackOff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
virt-operator is in CrashLoopBackOff state
kubevirt      virt-operator-58644dcfcc-7nn8n      0/1     CrashLoopBackOff   50         4h21m
kubevirt      virt-operator-58644dcfcc-gk9th      0/1     CrashLoopBackOff   50         4h21m

kubectl apply -f https://raw.githubusercontent.com/kubevirt/demo/master/manifests/vm.yaml
e

[2021-03-30 07:24] #4781 closed

[2021-03-30 10:46] #4901 closed

[2021-03-30 10:46] #4868 closed

[2021-03-30 15:51] #4939 closed

[2021-03-30 21:23] jobbler opened #5352 "Failed to Pull Operator Image from Quay"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to install kubevirt in minikube fails pulling operator from Quay. It appears the kubevirt-operator.yaml file has an incorrect sha in it.
https://github.com/kubevirt/kubevirt/releases/download/v0.39.1/kubevirt-operator.yaml
It lists a sha ending in 0c7f. In #virtualization, I was told it should end in 0e58.

**What

[2021-03-30 22:57] salanki commented on #4290
/reopen

[2021-03-31 05:04] #4861 closed

[2021-03-31 08:33] maya-r commented on #5220
There is a 0.39.1 release containing a fix. Can you confirm it is fixed?

[2021-03-31 08:34] maya-r commented on #5124
There is a 0.39.1 release containing this fix, too.

[2021-03-31 09:13] futuretea commented on #5110
@htlabc @vqthanh I have solved it by add bootOrder to the rootdisk
![image](https://user-images.githubusercontent.com/15064560/113119414-ff151280-9242-11eb-87e9-ea1c61e6534b.png)

[2021-03-31 09:31] fgimenez opened #5353 "Panic in apiserver logs during e2e test runs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Since 2021-03-26 11:36 CET we started noticing panics in the logs of the apiserver pods running on kubevirtci clusters, they look like this https://storage.googleapis.com/kubevirt-prow/logs/periodic-kubevirt-e2e-k8s-latest/1375749634630094849/artifacts/k8s-reporter/1/pods/1_kube-system_kube-apiserver-node01-kube-apiserver

[2021-03-31 09:44] vasiliy-ul commented on #5352
Some time back I faced a similar issue with incorrect SHA digest in the manifests. Though I was making a local build with `make && make push` as suggested in https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md.

It turned out that even though the default make target included the building of the `manifests`:
https://github.com/kubevirt/kubevirt/blob/4cab16cfd6f31555fd96077e81fa

[2021-03-31 10:30] ansijain opened #5355 "v0.39.1 virt-operator ErrImagePull"
Deployment failing
I tried installing kubevirt on minikube using quickstart guide https://kubevirt.io/quickstart_minikube/
there was an error in image pull of virt -operator
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:
Deployment of kubevirt should be successful

**How to reproduce it (as minimally and precisely as possible)**:
mini

[2021-03-31 11:47] yangxiaoliang commented on #4764
Hi,
I hit the same issue, could you guide me on how to enable the feature gates for cdi to allow for WFFC ?

Thanks very much.

[2021-03-31 12:25] ansijain opened #5358 "Unable to create VM"
VM creation failed due to Critical network error
  Warning  SyncFailed        2s    virt-handler, minikube     failed to configure vmi network: Critical network error: could not retrieve pid 52093 selinux label: operation not supported

I tried VM cration following lab https://kubevirt.io/labs/kubernetes/lab1

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you

[2021-03-31 13:04] jichenjc opened #5360 "console command stuck there if VMI is failed status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

[code]

the console command stuck there for long time

**What you expected to happen**:

should report error and quit this command

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes vers

[2021-03-31 13:04] jichenjc commented on #5360
/assign

[2021-03-31 13:26] jichenjc commented on #5360
[code]

[2021-03-31 14:00] yangxiaoliang opened #5362 "PVCs for the same VM were getting assigned to different nodes"
Hi,
I hit an issue when using hpp and cdi together, following is my VM specification. After a couple of VMs have been created in our cluster by using cdi and hpp, the VM got stuck in scheduling state with error message: "Unable to schedule default/virt-launcher-vm-c7-datavolume-name50-zclsv: no fit: 0/2 nodes are available: 2 node(s) had volume node affinity conflict.; waiting". Looks the persiste

[2021-03-31 14:37] phoracek commented on #5362
@brybacki could you please take a look?

[2021-03-31 14:38] awels commented on #4725
@rmohr Does this mean I am just missing a 'consumes' for those? I am not entirely sure what I am missing.

[2021-03-31 14:39] phoracek commented on #5358
Thanks for reporting this, it should be resolved with 0.39.1.

Duplicate of https://github.com/kubevirt/kubevirt/issues/5220.

[2021-03-31 14:39] #5358 closed

[2021-03-31 14:41] phoracek commented on #5355
Thanks for reporting this. I believe it is a duplicate of https://github.com/kubevirt/kubevirt/issues/5352

[2021-03-31 14:41] #5355 closed

[2021-03-31 14:48] phoracek commented on #5339
@bhkamath it seems that the operator pod has issues accessing the API server. Would you please try accessing the API from a regular Pod. `curl --insecure https://10.96.0.1:443/api` may be enough.

[2021-03-31 14:52] phoracek commented on #5325
Could you please share which storage provisioner are you using?

[2021-03-31 14:56] phoracek commented on #5298
@pothos is the problem that KubeVirt does not work on a system without SELinux present? If so, it may be already fixed in 0.39.1.

If that is not the case, your proposal may be a nice improvement for the SELinux detection.

[2021-03-31 15:09] yangxiaoliang commented on #5362
kubevirt version: v0.37.0
cdi version: v1.30.0

[2021-03-31 15:10] yangxiaoliang commented on #5362
kubevirt version: v0.37.0
cdi version: v1.30.0

[2021-03-31 16:10] tiraboschi opened #5364 "virt-handler in crashback loop after upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to consume nightly images from kubevirt 20210331_4987c1102 tag,
we cannot pass the CI upgrade lanes because on HCO repo because virt-handler is in crashback loop after the upgrade:

[code]
and in virt-handler logs:
[code]

**What you expected to happen**:
virt-handler is still working after an upgrade

**How to rep

[2021-03-31 19:24] nirmoy opened #5367 "fedora cloud image isn't accepting password through"
I am using below yaml to create a fedora 33 vm but I can't seem to log in.
Similar config works on ubuntu img file. Wondering what am I doing wrong
[code]
[code]

[2021-03-31 20:13] pothos commented on #5298
It works without SELinux present but only if the the filesystem is unmounted, too. Simply disabling SELinux is not enough because KubeVirt detects it as Permissive as long as the filesystem is mounted.

[2021-04-01 04:01] ikandars opened #5371 "virt-operator in crashback loop in version v0.39.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Try to install version v0.39.1  but got ImagePullBackOff in pod/virt-operator-6d5988c4bf-pmmcs

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

If we look at `https://github.com/kubevirt/kubevirt/releases/download/v0

[2021-04-01 07:00] yangxiaoliang commented on #4764
I found the way to enable this feature gate。

[2021-04-01 07:01] brybacki commented on #5362
Currently this is enabled by default when managed by https://github.com/kubevirt/hyperconverged-cluster-operator.

We wanted to be fully backwards compatible, and do not brake existing workflows. But I think we might reconsider changing defaults.

[2021-04-01 07:16] yangxiaoliang opened #5372 "a new launcher pod should be created after the temporary launcher pod is deleted"
/kind bug

**What happened**:
Create 9 VMs at a time, 1 VM got stuck in Pending state.

From the output of `kubectl describtion `, looks the  temporary launcher pod is deleted successfully, but no new pod is created caused this issue.

[code]

**What you expected to happen**:
All 9 VMs should be scheduled.

**How to reproduce it (as minimally and precisely as possible)**:
Create more than 9 VMs at

[2021-04-01 07:56] watermelon-brother commented on #5220
docker image not found when I deploy the virt-operator of kubevirt v0.39.1.
`bash
[root@member kubevirt-v0.39.1]# docker pull quay.io/kubevirt/virt-operator@sha256:2429917d5fa837c5b3f7a8ebcc4df6f9574d3bbab8f9d47c45d1a71d150e0c7f
Error response from daemon: manifest for quay.io/kubevirt/virt-operator@sha256:2429917d5fa837c5b3f7a8ebcc4df6f9574d3bbab8f9d47c45d1a71d150e0c7f not found: manifest unknown

[2021-04-01 08:31] #5008 closed

[2021-04-01 08:40] maya-r commented on #5220
david vossel mentioned that [something went wrong with the release manifests](https://groups.google.com/g/kubevirt-dev/c/1yoV88b3HPk), so it'll be working soon but not yet.

[2021-04-01 09:42] gitlawr opened #5373 "launcher pod on the target node is not cleaned up after a migration is canceled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The launcher pod on target node stays running for ~5min then turns into error status.
[code]

**What you expected to happen**:
Clean up the target pod when migration is canceled

**How to reproduce it (as minimally and precisely as possible)**:
1. Run a VM.
2. create a VMIM, then remove it.
[code]
3. check pod status

**A

[2021-04-01 10:31] #4477 closed

[2021-04-01 11:07] gitlawr opened #5374 "Support choosing VM migration target nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently, we cannot specify a set of nodes as the migration target.

**What you expected to happen**:
It would be nice if we can set node selectors in virtualMachineInstanceMigration specification.

**Environment**:
- KubeVirt version (use `virtctl version`): v0.39.1

[2021-04-01 11:34] #4525 closed

[2021-04-01 12:58] dhiller opened #5378 "Decide whether we want to enable flake-issue-creator"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[`periodic-flake-issue-creator`](https://prow.ci.kubevirt.io/job-history/gs/kubevirt-prow/logs/periodic-kubevirt-flake-issue-creator) is running in dry-run for a while now. It would have created or reopened 85 issues on kubevirt/kubevirt according to the data I grepped from the logs of the runs.

Results: [flake-issue-creator-resul

[2021-04-01 15:28] erkanerol opened #5383 "Alert "VirtAPIDown" doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
VirtAPIDown alert doesn't work. The reason is here:

[code]
Output:
[code]

The query has the namespace label. However, the namespace is dropped from metrics because of the conf below.

[code]
Output:
[code]

Therefore, the metrics don't have namespace labels, and the query return empty. The other problem is here that the

[2021-04-01 15:38] #5260 closed

[2021-04-02 01:34] yangxiaoliang commented on #5362
Thanks @brybacki , feel free to closed this one.

[2021-04-02 02:42] wavezhang commented on #5325
CSI support hot resize，but block in vm didnot update. Need use virsh blockresize to notify.

[2021-04-02 03:48] #4441 closed

[2021-04-02 12:57] #4485 closed

[2021-04-03 11:19] #4467 closed

[2021-04-03 17:25] #4270 closed

[2021-04-03 17:25] #4002 closed

[2021-04-04 00:17] teo-tsou commented on #5374
As I am working on project that requires the preselected target nodes , I am very interested to this feature.

[2021-04-04 02:21] teo-tsou commented on #5374
There's something from Rancher Harvester Project that might do the work. Kubevirt could merge it.
https://github.com/rancher/harvester/commit/0f960117c906262d534eb5b4c412bf61c5ca21a4

[2021-04-04 12:08] ormergi commented on #5353
I saw this panic also on a local setup, here is how to reproduce
Get kube-apiserver logs `kubectl logs kube-apiserver-node01 -n kube-system --since 1m -f`
On another terminal session create simple VMI `kubectl apply -f examples/vmi-masquerade`
And console to the VMI `virtctl console vmi-masquerade`
After a while I was connected to the VMI console, the panic error raised on the logs
there was no fu

[2021-04-05 00:00] salanki commented on #4687
Not stale

[2021-04-05 11:59] #4480 closed

[2021-04-05 12:10] davidvossel commented on #5371
/cc @dhiller

this is a known issue. We switched over to new release automation and something incorrectly occurred when publishing release assets

https://groups.google.com/g/kubevirt-dev/c/1yoV88b3HPk

I'm going to remove 0.39.1 from our releases for now so people stop attempting to use this until it is resolved. Due to holidays and PTO, it might be next week before we can address this properly.

[2021-04-05 12:21] davidvossel commented on #5371
I've deleted the v0.39.1 release to avoid further confusion here until we can get the issue sorted out

[2021-04-05 17:22] ansijain opened #5393 "VMI Phase remains same when paused / unpaused"
VMI Phase is **Running** even if it is paused the VMI
How will the user know VMI is paused?
We can change the phase to "Paused" when VMI is paused

~$ kubectl get vmi
NAME     AGE     PHASE     IP            NODENAME
testvm   9m13s   Running   172.17.0.16   minikube
~$ virtctl pause vm testvm
VMI testvm was scheduled to pause
~$ kubectl get vmi
NAME     AGE     PHASE     IP            NODENAME
tes

[2021-04-05 17:34] ansijain opened #5394 "Inconsistant Error when run virtctl vnc testvm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
$ virtctl vnc testvm
{"component":"","level":"info","msg":"connection timeout: 1m0s","pos":"vnc.go:144","timestamp":"2021-04-05T22:57:55.185403Z"}
Error encountered: could not find remote-viewer or vncviewer binary in $PATH

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anythi

[2021-04-05 17:48] ansijain opened #5395 "Unable to create VM using Always RunStrategy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Tried creating a VM using   Always RunStrategy But got response **The request is invalid: spec.runStrategy: Invalid RunStrategy (always)**

Yaml used :- https://kubevirt.io/user-guide/virtual_machines/run_strategies/#always
apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  labels:
    kubevirt.io/vm: vm-cirros
  name: vm-cirros
spec:

[2021-04-05 18:40] #5316 closed

[2021-04-05 21:13] terinjokes commented on #5298
I've written a patch to `virt-chroot` inspired by the checks conducted by libselinux. It works well on the systems I've tested with, but doesn't work inside a KubeVirt container because `/etc/selinux/config` from the host is not mounted into the container.

I can modify the checks to check procfs (though it looks like `thread-self` is too new for RHEL), but I would prefer to match the checkes done

[2021-04-06 00:18] #4725 closed

[2021-04-06 07:20] scuzhanglei opened #5396 "ssh connection hang after VM migrated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
ssh to a VM hang after VM migrated.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
ssh to a VM(Masquerade to pod network) via service IP from terminal, then migrate the VM, after migrated, the ssh connection hang(can't make any operation), and I have to open a new ssh c

[2021-04-06 07:45] pothos commented on #5298
As mentioned, this here should work from inside the container to detect if SELinux is on or not:

This is also how sestatus or getenforce check whether SELinux is disabled on Flatcar Container Linux.

[2021-04-06 08:12] phoracek commented on #5298
@pothos would you mind opening a PR with your suggested fix? Please don't hesitate to reach out if you would need any assistance with it

[2021-04-06 08:12] terinjokes commented on #5298
That's not how [getenforce checks](https://github.com/SELinuxProject/selinux/blob/d155b410d4bbc90d28f361b966f0429598da8188/libselinux/src/enabled.c#L11), it uses a combination of checking the mountpount at `/sys/fs/selinux` or `/selinux` for the magic selinux type and for the existence of `/etc/selinux/config`.

As mentioned in my previous comment, checking `/proc/thread-self/attr/current` might w

[2021-04-06 08:38] nirmoy commented on #5367
never mind, it started working!

[2021-04-06 08:38] #5367 closed

[2021-04-06 12:34] davidvossel commented on #5364
/release-blocker release-0.40

[2021-04-06 12:48] oshoval commented on #5113
Fails on the new CI node

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/kubevirt_project-infra/1081/rehearsal-pull-kubevirt-e2e-k8s-1.19-sig-network/1379398661657595904

reopen please if desired

[code]

[2021-04-06 15:03] oshoval commented on #5113
@EdDev
Is it safe to remove the XFAIL from those tests ?
From what i understand this issue is closed
and then we need to fix the failures of it on the new CI cluster (which still doesn't run jobs, and fail this tests mentioned above)

[2021-04-06 16:01] EdDev commented on #5113
The xfail can be removed once https://github.com/kubevirt/kubevirt/pull/5169 is taken in.

[2021-04-06 20:42] davidvossel commented on #4687
/remove-lifecycle stale

[2021-04-07 06:05] oshoval commented on #5113
Thanks, and what about the new CI cluster, should https://github.com/kubevirt/kubevirt/pull/5169
take care about it as well, or on other PR ?
test_id 1780 (the one here in this issue title) fails on the new cluster https://github.com/kubevirt/kubevirt/issues/5113#issuecomment-814092722

[2021-04-07 07:36] emctl opened #5406 "Question - Gaming on kubevirt"
I was looking at spinning up a K8 cluster and a separate gaming pc when I came across the nvidia plugin for kubevirt. Does anyone know / can confirm they have been able to game on a kubevirt instance?

[2021-04-07 08:30] #5360 closed

[2021-04-07 08:39] EdDev commented on #5113
So you have a new issue on your hand with the same end result.
Being a new cluster smells that something is different there from the "old" cluster.

In any case, I do not think it belongs on this issue.

[2021-04-07 09:02] oshoval commented on #5113
I will open a new one if needed.
but i don't think we need to parallel investigate when https://github.com/kubevirt/kubevirt/pull/5169 is on going.

[2021-04-07 09:16] EdDev commented on #5113
That has nothing to do with it. That PR talks about controlling when to run the test, and you want to discuss why the test fails on a setup where it is expected to pass.

[2021-04-08 08:07] #4829 closed

[2021-04-08 08:39] pothos commented on #5298
Hm, I have not checked when this code was dropped but it was part of at least version 2.4:
https://github.com/SELinuxProject/selinux/blob/libselinux-2.4/libselinux/src/enabled.c#L26

Checking the config file does not make much sense to me not only due to the mount namespaces but also because the file can be changed/removed/created independently from the current setting and vice versa.

About `/pro

[2021-04-08 08:50] pothos commented on #5298
Here the commit that removed detecting that no policy was loaded: https://github.com/SELinuxProject/selinux/commit/685f4aeeadc0b60f3770404d4f149610d656e3c8
I can understand trying to follow what upstream does and check for the config file in the right mount namespace and Flatcar will need to change its behavior to not mount the filesystem (probably by updating the SELinux libraries). Still I think

[2021-04-08 08:53] terinjokes commented on #5298
Looks like the config file check was added due to a regression: https://bugzilla.redhat.com/show_bug.cgi?id=1219045

It might be worth asking libselinux if they want to revisit this. I also thought checking the config file was unusual.

[2021-04-08 09:13] pothos commented on #5298
Yes, I think the circumstances are also a bit different now and it's quite likely that `getenforce` ends up being used in a container where `selinux_mnt && has_selinux_config` would lead to SELinux being detected as disabled while it's enforcing/permissive, even assuming that the mounting of the filesystem is done as expected by newer versions.

[2021-04-08 09:19] pothos commented on #5298
Test on a new Fedora host and a Fedora container (which does not ship `/etc/selinux/config` by default):
[code]

[2021-04-08 15:37] maiqueb commented on #4267
/reopen
/sig network

[2021-04-08 18:20] pothos commented on #5298
@terinjokes I sent a mail: https://lore.kernel.org/selinux/CAL6HQvHN+9pp8+h0kqf9mJAtYS6_ZQvVE2JNkk3QqqUveXiTzg@mail.gmail.com/T/#u

[2021-04-08 20:33] rstober commented on #5298
I'm not a developer, just an admin trying to use Kubevirt. I've got selinux disabled, so I run into this bug and cannot start a VM.
Is there any workaround?

[2021-04-08 20:38] terinjokes commented on #5298
I believe setting the kernel parameter `selinux=0` will disable mounting the filesystem. Alternatively, from the host you can unmount `/sys/fs/selinux` and restart the KubeVirt pod.

[2021-04-09 07:15] bachradsusi commented on #5298
Actually using the kernel parameter `selinux=0` is only reliable way how to disable SELinux. Run time disabling SELinux is deprecated since 5.6 kernel and it's supposed to be removed in near future - https://lwn.net/Articles/831748/

[2021-04-09 07:26] terinjokes commented on #5298
In this case, SELinux is already disabled though?

[2021-04-09 07:30] ansijain opened #5420 "unknown field "nodeSelector" in io.kubevirt.v1alpha3.VirtualMachine.spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Tried creating VM using Node Selector got an error below however I was able to successfully create VM using validation off but why this occoured.
error validating "node-selector.yaml": error validating data: ValidationError(VirtualMachine.spec): unknown field "nodeSelector" in io.kubevirt.v1alpha3.VirtualMachine.spec;

node-selector.yaml
[code]

**What

[2021-04-09 07:38] xpivarc commented on #5420
Hi,
It should be
[code]

[2021-04-09 07:42] ansijain commented on #5420
@xpivarc thanks

[2021-04-09 07:42] #5420 closed

[2021-04-11 02:00] bhkamath commented on #5339
Hi,

I am able to create container pods.  That means my worker nodes can interact with master node.

Yes, I observe failure when interacting with the API server inside the pod. This is not worker node specific.

What may be the cause for this issue?  Any tips to troubleshoot?

Thanks,

[2021-04-12 07:36] maya-r commented on #5353
Hi @fgimenez, any chance we can look at node usage metrics?
e.g. in the time of the panic 11:23:18.624116, did [node01](https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5240/pull-kubevirt-e2e-k8s-1.19/1375395932824145920/artifacts/k8s-reporter/1/1_nodes.log) have heavy usage (i/o, cpu)?

[2021-04-12 08:46] dhiller commented on #5378
@fgimenez there still is the option of using [flake-issue-threshold](https://github.com/kubevirt/project-infra/blob/master/github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml#L167) flag to cut down on created issues and concentrate on the most flaky ones for the moment.

[2021-04-12 09:33] #5364 closed

[2021-04-12 09:58] pothos commented on #5298
So, in summary the way forward is to ensure that the filesystem is not mounted when SELinux is disabled. One can also argue that the purpose of the check in `getenforce` and in KubeVirt is different and for KubeVirt it does not make sense to exactly copy this behavior (e.g., don't check if the config file exists) – this is also an opportunity to include the sanity check for `/proc/PID/attr/current

[2021-04-12 10:21] fgimenez commented on #5353
I see from https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5240/pull-kubevirt-e2e-k8s-1.19/1375395932824145920/podinfo.json that this job run on `ibm-srv07.ovirt.org` here you can see the resource usage around that time https://graphite.phx.ovirt.org/d/IxtiYBemz/openshift-bare-metals?orgId=1&var-node=ibm-srv07_ovirt_org&from=1616714218475&to=1616804984617

[2021-04-12 11:11] maya-r commented on #5353
I came across [this](https://github.com/openshift/kubernetes/pull/480) which mentions several kubernetes pull requests like [this one to add a timeout to some requests](https://github.com/kubernetes/kubernetes/pull/95725) which otherwise starve other requests. I wonder whether this is what we're seeing.

Also, I would assume we need to update our vendored packages and not just the cluster version

[2021-04-12 14:48] #4198 closed

[2021-04-12 18:57] birdiesanders opened #5437 "Datavolumes hotplugged to VM do not updated their status to "Running""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When passing a datavolume, we have noticed that the attachment occurs and works properly, but has not been updating the datavolume Running status to true.

**What you expected to happen**:
Status Running == true, Ready == false
**How to reproduce it (as minimally and precisely as possible)**:
Hotplug a datavolume to a vm.

[2021-04-13 07:27] tiraboschi opened #5438 "virt-handler in crashback loop after upgrade also with v0.40.0-rc.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Trying to consume v0.40.0-rc.0
we cannot pass the CI upgrade lanes because on HCO repo because virt-handler is in crashback loop after the upgrade:
we cannot pass the CI upgrade lanes because on HCO repo because virt-handler is in crashback loop after the upgrade:

[code]
and in virt-handler logs:
[code]

**What you expect

[2021-04-13 08:10] dhiller commented on #5371
@davidvossel we could cherry pick the changes from moving towards prow and rerun the release from there. WDYT?

[2021-04-13 16:56] zulh-civo opened #5443 "Unable to compile and run KubeVirt locally for development"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm following the [Getting Started docs](https://github.com/kubevirt/kubevirt/blob/master/docs/getting-started.md#compile-and-run-it) to run KubeVirt locally so I can build and contribute. But, the `make cluster-up` command didn't work as expected. I tried it on Mac and Ubuntu. None of them worked for me.

Looks like the

[2021-04-13 18:13] zulh-civo opened #5444 "Block I/O tuning - need help/pointers to contribute this"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I'm running a multi-tenant cluster where every tenant/user has Kubevirt VMs running in their own tenant network. There were some VMs that are using a lot of read IO — which causing high IO wait on the underlying node.

**What you expected to happen**:

AFAIK, there is no block I/O tuning support Kubevirt (yet). But when I looked at

[2021-04-13 18:15] zulh-civo commented on #5443
I really hope someone can help me with this issue so I can work on https://github.com/kubevirt/kubevirt/issues/5444

[2021-04-13 18:15] #5005 closed

[2021-04-13 19:06] maya-r commented on #5353
awels mentioned that the test failures might be a regular race.

[2021-04-13 20:27] awels commented on #5437
Running = true means the DV pod that is populating the pod is running. Once the phase is succeeded, running will always be false because the pod completed and is stopped and removed.

[2021-04-13 20:30] #5362 closed

[2021-04-13 20:35] awels commented on #4980
There is no technical reason we cannot support virtio for instance, however that comes with a large problem. Each disk hotplugged will use a pci-root port, and there is a maximum of 32 for all devices. So the number of disks we can hotplug is very limited, second you cannot modify the pci configuration after you start the VM, so you need to know ahead of time how many disks you want to hotplug. In

[2021-04-14 00:01] terinjokes commented on #5298
I think this should be well described in the release notes, but otherwise seems like a reasonable position to take.

[2021-04-14 01:45] threestoneliu commented on #4980
Ok，i got it. Thank you for your answer!

[2021-04-14 01:45] threestoneliu commented on #4980
/close

[2021-04-14 01:45] #4980 closed

[2021-04-14 03:03] actor168 opened #5446 "virt-launcher-xxx pod cannot be deleted, keeping terminating after deleting vmi"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
when `virtctl stop centos1`, it shows
[code]
**What you expected to happen**:
should stop gracefully.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
kubelet log shows:
[code]
/proc/mounts
[code]
**Environment**:
- KubeVirt version (use `virtctl version`): v0.36.0
- K

[2021-04-14 03:06] actor168 commented on #5446
after umount /vdata/kubelet/pods/fcf92054-d335-4dac-a90c-c90794702bb5/volumes/kubernetes.io~empty-dir/container-disks/disk_0.img _manually_, pod can not be seen anymore using kubectl, it seems kubectl trying to delete the mounting directory but disk_0.img is still **mounted**.

[2021-04-14 03:58] actor168 commented on #5446
I found that it may seem to be I was using /vdata/kubelet as default data dir, which conflict with /var/lib/kubelet as kubevirt default dir.

[2021-04-14 04:03] #5446 closed

[2021-04-14 05:32] vasiliy-ul commented on #5443
How much RAM do you have? You can probably try to set `export KUBEVIRT_MEMORY_SIZE=...` env var to some lower value. I guess the default value is `5120M`.

[2021-04-14 06:18] nunnatsa opened #5447 "Can't create VMs in openshift CI using GCP"
/kind bug

**What happened**:
All HCO GCP tests are failing. These tests are running in openshift-ci on gcp cluster. The tests fail to create VMs.

The errors in virt-handler look like this:
[code]

There is no direct access to the cluster, and there are no virt-launcher logs.

There are many examples of these failures because **all** GCP tests are failing. Here is one: https://prow.ci.openshift.o

[2021-04-14 07:19] zulh-civo commented on #5443
@vasiliy-ul thank you for your reply. I tried it but the problem still persist.

**Ubuntu environment, 1GB RAM**

[code]

---

**Mac environment, 4GB RAM**

Interestingly, there's no `cannot set up guest memory 'pc.ram'` error here.

[code]

Any idea?

[2021-04-14 07:23] tiraboschi commented on #5447
on the journal on the node we see in a loop:
[code]

[2021-04-14 07:57] jichenjc opened #5450 "should report error when VMI:cores is <=0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

should report error when VMI cores is <=0
[code]

succeed in create teh VMI

**What you expected to happen**:

should report error and block VMI creation

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
-

[2021-04-14 07:57] jichenjc commented on #5450
/assign

[2021-04-14 08:47] vasiliy-ul commented on #5443
Do you mean you have only 1Gb RAM on your host machine? I think just a bare k8s requires 2Gb on a master node. I personally would not recomment setting smth less than 4Gb in the test cluster.

Regarding Mac, I dont think it will work with kvm cluster.

[2021-04-14 09:14] zulh-civo commented on #5443
@vasiliy-ul I really appreciate your assistance here.

* the 1GB environment is my Ubuntu VM (VPS)
* the 4GB environment is the memory that I've set when testing it on my local dev machine (Mac)

Correct me if I'm wrong here. From my understanding, I don't need to have any Kubernetes cluster in order to compile and run this Kubevirt locally. All I need is just Docker — I assume the "Kubernetes clu

[2021-04-14 09:21] vasiliy-ul commented on #5443
`make cluster-up` brings up a Kubernetes cluster. More precisely it runs a Docker container which in turn starts a VM with configured k8s. Therefore if you do not have a kvm-capable machine it can only be run in emulation mode which is terribly slow.

Kubevirt can be deployed on any cluster (on Minikube as well) though again since Kubevirt runs VMs you will need kvm in order to leverage all the fe

[2021-04-14 14:47] phoracek commented on #5450
@jichenjc could you expand on what would be your solution on this one? This may conflict with the defaulting mechanism we have.

[2021-04-14 14:50] phoracek commented on #5447
@nunnatsa we won't be able to fix this without necessary logs. Is there a way to get the list of KubeVirt pods running in the namespace (to confirm that the deployment is healthy)?

[2021-04-14 14:54] zulh-civo commented on #5444
@phoracek

[2021-04-14 14:56] phoracek commented on #5438
@tiraboschi this should be resolved in the next rc via https://github.com/kubevirt/kubevirt/pull/5439.

[2021-04-14 14:56] #5438 closed

[2021-04-14 14:57] phoracek commented on #5437
@awels could we consider this "not a bug" then?

[2021-04-14 14:59] phoracek commented on #5406
@emctl it should work. You may have better luck finding references to this usecase by sending a messages to kubevirt-dev mailing list.

[2021-04-14 14:59] #5406 closed

[2021-04-14 15:01] nirmoy commented on #3718
Hi  @rmohr,  I am wondering if we already have this implemented?

[2021-04-14 15:03] phoracek commented on #5444
You mention that you tried using libvirt to confirm whether it really has that attribute. What I'm wondering is whether you tried it to prove that setting it resolves the I/O issue on the cluster, with realistic workload.

[2021-04-14 15:07] awels commented on #5437
Right the DV conditions stop being useful after the DV completes. So this is normal behavior. So not a bug.

[2021-04-14 15:12] phoracek commented on #5437
Thanks for clarification!

[2021-04-14 15:12] #5437 closed

[2021-04-14 15:34] birdiesanders commented on #5437
Gotcha! Thanks everyone!

[2021-04-14 19:01] jasonbunch opened #5455 "cannot start vmi/vms on ubuntu 20.04LTS using microk8s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
cannot start VMI or VMS on Ubuntu 20.04 LTS running microK8S.

**What you expected to happen**:
vmi / vms to start

**How to reproduce it (as minimally and precisely as possible)**:
install 20.04LTS
install microk8s from snap
install dns and multus using microk8s.enable
deploy kubectl using quick start guides
apply yaml f

[2021-04-15 06:54] alicefr commented on #5444
@zulh-civo the current issue is that you should specify those values for a pvc, and then kubevirt should read them, and create the xml option accordingly. Currently, the k8s APIs don't have a field for this, the workaround is to use a custom annotation that kubevirt could read. The real question is if the iotune should be exposed to the user or not, and how you generate those values.

If you want

[2021-04-15 15:17] tiraboschi opened #5462 "v0.40.0-rc.1 fails the upgrade from v0.36.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
upgrading from v0.36.0 to v0.40.0-rc.1, virt-operator get stuck with:
[code]

in virt-operator logs we see in a loop something like:
`{"component":"virt-operator","kind":"","level":"error","msg":"Failed to create all resources: unable to patch crd \u0026CustomResourceDefinition{ObjectMeta:{virtualmachineinstancereplicasets

[2021-04-15 17:05] zulh-civo commented on #5443
@vasiliy-ul thank you for the explanation. If I understood that correctly, I need to have a VM with Docker installed and its kubeconfig needs to be connected/pointed to a Kubernetes cluster — is that correct? If that's correct, I believe I can use [k3s](https://k3s.io) and let it run in the same machine where the Docker daemon/server is running.

So I launched 2 more tests today on 2 Ubuntu VMs (4

[2021-04-15 17:30] vasiliy-ul commented on #5443
If I understand correctly you are running an Ubuntu VM on Mac. I am afraid that you need a baremetal Linux machine in order to run the cluster via `make cluster-up`.

[2021-04-15 18:12] zulh-civo commented on #5443
@vasiliy-ul I'm not running Ubuntu VM on Mac. Both VMs are running on cloud provider. In terms of environment, both test 1 and test 2 are running on same VM setup (Ubuntu OS) and cloud provider.

[2021-04-15 20:33] jberkus commented on #5172
So, all of the above is off of the Due Dilligence document.  We should already have a DD created for when Kubevirt entered Sandbox, and we should just be updating it with all the changes over the last 2 years.  Who would know where that document is?  If nobody in the project does, I'll ask CNCF staff on Monday.

[2021-04-16 06:17] #5462 closed

[2021-04-16 06:18] vasiliy-ul commented on #5443
I see, probably I misunderstood what your envionment is. Anyway, I would still recommend using a baremetal Linux machine if you want to build and run kubevirt with the dev cluster (`make cluster-up`). The reason is that Kubevirt runs VMs and in your setup it will be a 3-levels nested virtualization (Ubuntu VM -> dev cluster VM -> workload VM). Such setup may work but you may face issues. Also your

[2021-04-16 07:06] zulh-civo commented on #5443
@vasiliy-ul thank you for the explanation. Unfortunately, I don't have bare metal to test at this moment. I'll try the _8Gigs if you set KUBEVIRT_MEMORY_SIZE=4096_ you mentioned above.

WRT using external cluster e.g. k3s, does is suitable for local/development work? What I'm looking for now is, a reproducible Kubevirt stack that I can run for development.

What I mean by that is, I was looking fo

[2021-04-16 07:47] vasiliy-ul commented on #5443
Well, I usually work with an external cluster like the following:
1. Specify the local registry `export DOCKER_PREFIX=...`
2. Build the source code: `make && make push && make manifests`
3. Redeploy Kubevirt: `kubectl apply -f _out/manifests/release/kubevirt-operator.yaml`

With the dev cluster `make cluster-sync` does basically the same. Though from my observation it takes more time since it depl

[2021-04-16 07:52] garimaanurag opened #5465 "VM"
I am getting the below issue while creating the VM using Kubevirt

**Is this a BUG REPORT or FEATURE REQUEST?**:

Events:
  Type     Reason            Age   From                       Message
  ----     ------            ----  ----                       -------
  Normal   SuccessfulCreate  17s   virtualmachine-controller  Created virtual machine pod virt-launcher-testvm-dckxk
  Warning  SyncFailed

[2021-04-16 07:56] garimaanurag opened #5466 "kubevirt"
Events:
  Type     Reason            Age   From                       Message
  ----     ------            ----  ----                       -------
  Normal   SuccessfulCreate  17s   virtualmachine-controller  Created virtual machine pod virt-launcher-testvm-dckxk
  Warning  SyncFailed        9s    virt-handler               failed to configure vmi network: Critical network error: could not retrie

[2021-04-16 07:56] garimaanurag commented on #5466
Events:
  Type     Reason            Age   From                       Message
  ----     ------            ----  ----                       -------
  Normal   SuccessfulCreate  17s   virtualmachine-controller  Created virtual machine pod virt-launcher-testvm-dckxk
  Warning  SyncFailed        9s    virt-handler               failed to configure vmi network: Critical network error: could not retrie

[2021-04-16 07:58] zulh-civo commented on #5443
@vasiliy-ul I launched a 8GB Ubuntu VM on my cloud provider and set the _KUBEVIRT_MEMORY_SIZE_ to 4GB. Everything seems OK now. But, there's no Kubevirt API resource (vm, vmi) found — which means I can't launch Kubevirt VM in the Dockerized environment. Did I miss something?

[2021-04-16 08:03] zulh-civo commented on #5443
@vasiliy-ul just to clarify. When you mentioned "local registry", is that running in the Kubernetes cluster? Take this scenario, I have a 8GB Ubuntu VM (running on a cloud provider). Then, I launched a k3s cluster inside it and I'm going to use this Ubuntu VM as my development machine. Where will be the "local registry" running in this scenario? On the Ubuntu VM? In the k3s cluster?

[2021-04-16 08:27] vasiliy-ul commented on #5443
You missed `make cluster-sync` I guess. When you run `make cluster-up` it just brings up a VM with k8s. To deploy Kubevirt run `make cluster-sync` and it will build your sources and deploy it to the cluster.

On the Ubuntu VM. Just run smth like `docker run -d -p 5000:5000 --name registry registry:2` and it will serve on the port 5000. Then you will need to konfigure k3s so it can use it.

[2021-04-16 09:17] vasiliy-ul commented on #5443
Something wrong with permissions on your source tree. Check that the sources directory is owned by your user and not by root.

[2021-04-16 14:19] #4563 closed

[2021-04-17 07:26] vasiliy-ul commented on #5466
This is a known issue and it has been fixed. Unfortunately there is still no release available which includes the fix. You may switch to an older version e.g. 0.38.x. Or probably wait for the next release (hopefully will be available early the next week).

[2021-04-18 10:02] #4120 closed

[2021-04-18 11:03] #4182 closed

[2021-04-18 13:00] dsmackie opened #5473 "Unable to upload image with virtctl"
/kind bug

**What happened**:

When attempting to upload an image using `virtctl` the operation times out.

[code]

Output from the `cdi-upload-win10-pvc` is as follows;

[code]

Services listing;
[code]

**What you expected to happen**:

Expected the image to upload and be processed.

**Environment**:
- KubeVirt version (use `virtctl version`): v0.39.0
- Kubernetes version (use `kubectl version`)

[2021-04-18 13:21] nunnatsa commented on #5447
yes. For example:
https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1263/pull-ci-kubevirt-hyperconverged-cluster-operator-master-hco-e2e-image-index-gcp/1383754513193635840/artifacts/hco-e2e-image-index-gcp/gather-extra/artifacts/pods/

And since it fails all the time, there are many logs.

[2021-04-19 04:32] bhkamath commented on #5339
I am suspecting flannel configuration issue when non-default Pod CIDR is assigned.  Hence am closing this issue.

[2021-04-19 04:32] #5339 closed

[2021-04-19 05:01] bhkamath opened #5474 "testvm - scheduling - failed"
/kind bug

**What happened**:
Installed Kubevirt and then deployed testvm.  testvm is toggling between 'scheduling' and 'failed' states.  The pod, virt-launcher-testvm-xxxx is transitioning from Init to Terminating and restarting.  Hence virtctl console testvm, timed out as well.

I am unable to look into the Pod Logs of virt-launcher-testvm-xxxx as well, since it is getting recreated freshly.

[c

[2021-04-19 08:29] rmohr commented on #1376
/close

We made quite some progress lately.
Let's continue tracking the remaining work in #3558.

[2021-04-19 08:29] #1376 closed

[2021-04-19 08:29] rmohr commented on #2470
/close

We made quite some progress lately.
Let's continue tracking the remaining work in #3558.

[2021-04-19 08:30] #2470 closed

[2021-04-19 08:30] rmohr commented on #2948
/close

We made quite some progress lately.
Let's continue tracking the remaining work in #3558.

[2021-04-19 08:30] #2948 closed

[2021-04-19 08:31] rmohr commented on #4942
So, this seems to be more about rinning e.g. x86 machines on arm64 nodes, or the other way round and not about cross-compile?

[2021-04-19 08:34] rmohr commented on #5455
This seems to be the selinux issue fixed in https://github.com/kubevirt/kubevirt/pull/5243. It should be part of 0.,39.1 but we had release issues. You can try this pre-release: https://github.com/kubevirt/kubevirt/releases/tag/v0.40.0-rc.2

[2021-04-19 11:03] AlonaKaplan opened #5477 "Secondary ip on dual stack service is not working (k8s 1.20)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Communication to the vm/pod via the secondary address of a dual stack service is not working.

note: I guess the root cause for the non working communication is the fact the endpoint doesn't contain the secondary address (`endpoints.Subsets[0].Addresses`). It contains only the address belongs to the primary ip family of the service.

[2021-04-19 14:29] #3934 closed

[2021-04-19 15:30] #4558 closed

[2021-04-19 16:19] rraj-gautam opened #5479 "Unable to upload image: Input/Ouput Error, while using NFS dynamic provisioner storage"
**While using virtctl image-upload command, stuck on issue write /data/disk.img: input/output error**:

`$ virtctl image-upload --image-path=/ISO/Win10_1909_Italian_x64.iso --pvc-name=win10-upload-test --access-mode=ReadWriteMany --pvc-size=7G --storage-class nfs-sc  --uploadproxy-url=https://10.100.188.172:443 --insecure --wait-secs=240`

**logs from cdi-upload-vm pod:**:
[code]

**created NFS dy

[2021-04-19 18:29] jasonbunch commented on #5455
Hi rmohr,

I recreated the server using v0.40.0-rc.2 as requested and the output in the same, the VMI transitions to failed and the log outputs are the same.

microk8s.kubectl get pods --all-namespaces
NAMESPACE     NAME                                      READY   STATUS    RESTARTS   AGE
kube-system   coredns-86f78bb79c-vd8sv                  1/1     Running   0          40m
kube-system   calico

[2021-04-19 20:45] davidvossel commented on #5371
I was able to get a v0.39.1  release out with travis. it's unreliable, but it managed to work this time.

https://github.com/kubevirt/kubevirt/releases/tag/v0.39.1

[2021-04-19 20:45] #5371 closed

[2021-04-20 06:29] teo-tsou opened #5483 "VMI has second network/IP but no connectivity"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a VMI with a secondary multus macvlan network interface on it. It seems that the attachment was successful as I can see the eth1 interface and the IP address correctly assigned, but I cannot access no one from the eth1.

More specifically I want to communicate with the other pods that have also a secondary macv

[2021-04-20 06:37] teo-tsou commented on #5483
**From VMI:**

[code]

[code]

**FROM VIRT LAUNCHER POD:**
[code]
[code]

[2021-04-20 07:26] rmohr commented on #5455
could you share the logs from `virt-handler` on that node from the `virt-handler` daemonset?

[2021-04-20 08:29] zulh-civo commented on #5443
@vasiliy-ul you are right. I fixed that permission problems and rerun the `make cluster-sync` command. Now I can see all the Kubevirt APIs in the cluster. Thank you for your help!

[code]

[2021-04-20 08:29] #5443 closed

[2021-04-20 09:54] mzzgaopeng opened #5487 "canout get VMI ipaddress in status.interfaces"
When we use the multus network to use the bridge network solution, when creating vms in batches, we will find that the status.interface on some vmi does not have ipaddresses configuration.
![image](https://user-images.githubusercontent.com/22125180/115374138-225a2e80-a1ff-11eb-8bc0-e24c6ab04711.png)

But when I looked at the code, I found that the way to obtain the IP address of the VMI is use thi

[2021-04-20 11:50] dsmackie opened #5491 "virt-handler no longer loads since v0.40.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

virt-launcher no longer loads. Continues crash.
[code]

**What you expected to happen**:

I expected it to load. It worked 3hrs ago before `quay.io/kubevirt/virt-handler:v0.40.0` was released.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeV

[2021-04-20 13:10] dsmackie commented on #5491
I blame apparmor. Grrrrr.

[2021-04-20 13:10] #5491 closed

[2021-04-20 16:37] avairavan commented on #4182
The issue is because the VM disk image in the raw format lost its sparseness during the file transfer. Hence, the VM's disk image size has grown leading to poor performance. The performance issue got fixed by using the command "virt-sparsify" on the disk image.

[2021-04-20 17:13] talcoh2x commented on #4182
Hi  @avairavan, this is something that you run before you uploading the image ?

[2021-04-20 17:19] andreabolognani commented on #4825
/remove-lifecycle stale

[2021-04-20 18:13] jasonbunch commented on #5455
{"component":"virt-handler","level":"info","msg":"Processing event default/vmi-fedora-1","pos":"vm.go:1410","timestamp":"2021-04-20T18:11:39.678224Z"}
{"component":"virt-handler","kind":"","level":"info","msg":"VMI is in phase: Failed\n","name":"vmi-fedora-1","namespace":"default","pos":"vm.go:1412","timestamp":"2021-04-20T18:11:39.678275Z","uid":"a8ef97e4-f052-4cdf-a24f-2d7da05ae092"}
{"component

[2021-04-20 20:26] mazzystr commented on #5172
Moving issue to [kubevirt/community/issues/96](https://github.com/kubevirt/community/issues/96)

[2021-04-20 20:26] #5172 closed

[2021-04-21 05:41] ansijain commented on #5395
Seems like yaml should have runStrategy: Always instead of runStrategy: always

[2021-04-21 06:51] EdDev commented on #5201
The issue in hand is basically resolved, the only leftover is to try and change the tested function to allow tests not to depend on the timer (e.g. stub/mock it).

[2021-04-21 09:28] #4303 closed

[2021-04-21 11:01] ansijain commented on #5474
@bhkamath could you please describe testvm

[2021-04-21 11:07] ansijain commented on #5465
@garimaanurag Would you mind closing this issue as it is duplicate of https://github.com/kubevirt/kubevirt/issues/5466

[2021-04-21 13:19] zhhray opened #5499 "can IPv4 and IPv6 dual-stack support on bridge mode ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I want to know why IPv4 and IPv6 dual-stack why not support on bridge mode.
Cluster info:
  kubernetes cluaster (v1.19.7)
  kubevirt (v0.36.0)
  vm os version (centos 7.9)
I tried `masquerade` mode double stack on this environment.
But if I switch the network mode to `Bridge` and find that virt-launcher pod only passes IPv4 addresse

[2021-04-21 14:54] phoracek commented on #5499
With IPv4, we have our own DHCP server running in virt-launcher and offering the IP of the pod further to the VM. With IPv6, we don't have this DHCP server and due to the complexity of introducing one, we don't plan to do so today.

This should be doable with masquerade, following https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#masquerade-ipv4-and-ipv6-dual-stack-support.

[2021-04-21 14:55] phoracek commented on #5487
To expose status of secondary network interfaces, you have to have QEMU guest agent installed and running on your guest. Is that the case for you?

[2021-04-21 14:58] phoracek commented on #5483
MACVLAN is know not to work with KubeVirt. This issue was described in detail in https://github.com/kubevirt/kubevirt/pull/2192 where a solution was offered. That was later picked up and rebased in https://github.com/kubevirt/kubevirt/pull/3489. However, neither of those got merged.

This issue is still relevant. However, I'm not aware of anybody actively working on it.

[2021-04-21 15:13] phoracek commented on #5336
@vasiliy-ul with your PR merged, can we consider this Issue resolved?

[2021-04-21 15:14] #5465 closed

[2021-04-21 15:15] phoracek commented on #5466
@garimaanurag could you try again with the recent release 0.40?

[2021-04-21 15:18] phoracek commented on #5396
@scuzhanglei this is expected and there is no way around it. Due to limitations of underlying Kubernetes Pod network, external IP address of the VM changes once it lands on a different host.

If you want to preserve open connections, you have to use secondary multus network and handle IP management there yourself.

[2021-04-21 15:18] #5396 closed

[2021-04-21 15:22] phoracek commented on #5393
I believe this was answered on Slack via https://kubernetes.slack.com/archives/C0163DT0R8X/p1618972278155800.

@zcahana (hope you don't mind me quoting you):  there's no VMI phase corresponding with a paused state, see here:
https://github.com/kubevirt/client-go/blob/ba6a204f03fea5d1b1c41eca285e3ac78f558eae/api/v1/types.go#L525However, there is a Paused VMI condition just for that, here:
https://g

[2021-04-21 15:22] #5393 closed

[2021-04-21 15:41] zhhray commented on #5499
Thanks for your answer.I still have two questions here:
1. In Masquerade mode, the IPv6 address needs to be configured by cloud-init or the user manually configures it in the virtual machine. It cannot be automatically configured because of the IPV6 DHCP Server as you mentioned above?
2. Is it possible to improve on this problem in the future, even if it is a bit complicated to implement?

[2021-04-22 01:22] mzzgaopeng commented on #5487
I have installed the agent client in the vm.
 The scenarios for this phenomenon are as follows:
1. when 3-5 vms are created at the same time
2.  when a single virtual machine is created occasionally

[2021-04-22 02:00] mzzgaopeng commented on #5487
Is there any number of retries and time intervals when getting the guest-interface-config of vm in the code? I checked the code here and found that the retries are retried in nanoseconds. If the virtual machine is heavier, the boot time is slower , Is it impossible to get the interface information of vm at this time?

[2021-04-22 02:54] gitlawr opened #5503 "Migration status is not reported in VMI.status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
VMIM resource is in failed phase, but migration state in VMI.status is empty.

**What you expected to happen**:
From [kubevirt docs](https://kubevirt.io/user-guide/operations/live_migration/#migration-status):

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a VM
2. Create a VMIM to migrate the

[2021-04-22 04:52] bhkamath commented on #5474
This is the test VM provided on kubevirt.io page.

[code]

[2021-04-22 05:00] ansijain commented on #5474
@bhkamath Thank you for the response
 Could you please run  kubectl describe virtualmachine.kubevirt.io/testvm and let me know the output

[2021-04-22 05:05] bhkamath commented on #5474
[code]

[2021-04-22 05:17] ansijain commented on #5474
@bhkamath could you please run virtctl start testvm
I want to see the events after running testvm currents its none
also events of virt-launcher if created kubectl describe pod/virt-launcher-testvm-xxxxx

[2021-04-22 05:19] bhkamath commented on #5474
[code]
[code]
[code]

[2021-04-22 05:28] ansijain commented on #5474
It seems similar to https://github.com/kubevirt/kubevirt/issues/5220 issue
would you mind upgrading to the latest version  v0.40.0

[2021-04-22 05:33] bhkamath commented on #5474
Shall update to v0.40.0 version

[2021-04-22 05:34] vasiliy-ul commented on #5336
@phoracek , no the items listed in the description are not resolved yet. They need to be addressed in separate PRs.

[2021-04-22 10:22] phoracek commented on #5487
The reporting should happen periodically and so even if your VM takes a while to start, the status should eventually pop-up.

You mention two specific scenarios. Does it mean that in other cases the status of secondary interfaces appears?

[2021-04-22 11:57] phoracek commented on #5499
Correct.

I theory, yes. However, due to the complexity to implement it and to maintain it it is not on the roadmap now.

[2021-04-22 16:52] bhkamath commented on #5474
On upgrading to v0.40.0 version, I am able to create testvm and login to console successfully.

Thanks a lot.

[2021-04-22 16:52] #5474 closed

[2021-04-22 19:23] MarkSpencerTan commented on #3743
/remove-lifecycle stale

[2021-04-22 19:23] MarkSpencerTan commented on #3743
/remove-lifecycle rotten

[2021-04-22 19:27] mazzystr opened #5517 "Move libvirtd from downstream rhel to community"
Currently KubeVirt shipped libvirtd builds from RHEL source.

This process need to move to the community version of libvirtd using Prow build system.

We're going to need to do this prior to a v1.0 release.

[2021-04-23 01:56] zhhray commented on #5499
So, the problem is not that bridge mode does not support dual-stack, but that IPv6 is not automatically configured to a virtual machine in either Masquerade mode or Bridge mode.
The difference is that in Masquerade mode, the configuration of VM IPv6 is determined, whereas in Bridge mode, the configuration of VM IPv6 is required to follow the virt-launcher pod.

[2021-04-23 02:52] zhhray commented on #5499
So, the problem is not that bridge mode does not support dual-stack, but that IPv6 is not automatically configured to a virtual machine in either Masquerade mode or Bridge mode.
The difference is that in Masquerade mode, the configuration of VM IPv6 is determined, whereas in Bridge mode, the configuration of VM IPv6 is required to follow the virt-launcher pod.

[2021-04-23 03:17] mzzgaopeng commented on #5487
I think there are two situations when updating the vmi resource object:
1. virt-handler will periodically obtain the IP address through the getPodInterfacefromFileCache method to update the status.interface in the vmi resource object.
2. When the vm restarts, virt-launcher uses qemu-agent to obtain the qemu-interface method to update the vmi resource object at startup.

Is it because of the above

[2021-04-23 07:38] rmohr commented on #4640
/remove-lifecycle stale

[2021-04-23 13:26] phoracek commented on #5487
Would you please help providing a reproducer? Is it that when you have a VM connected to a multus network, after reboot the IP does not appear (while it was reported before the reboot)?

[2021-04-23 13:27] phoracek commented on #5499
Precisely, you summarized it well

[2021-04-23 16:27] mazzystr opened #5522 "disk img registry"
/kind enhancement

Is there any reason why we only use quay.io to distribute KubeVirt images?

The architecture for quay.io is pretty bad resulting in severe outages in recent times.  I would like to see us get some redundancy.   CentOS yum repos have had redundancy for like 17.5 years.

[2021-04-23 20:25] kwiesmueller commented on #5522
I don't know about the options we have.
Docker is being moved away in many cases due to the pull limits.
We could provide our images on something like Google Container Registry, but that would mean additional cost for pulls we need to pay. Are there other options or does the CNCF suggest/provide anything?
Does GitHub offer something like this now?

[2021-04-23 21:26] #5395 closed

[2021-04-24 09:18] mzzgaopeng commented on #5487
What information do you need, such as the yaml file of the VM resource object?

[2021-04-25 03:37] xiaozhao123254 opened #5526 "kubevirtanzhuang centos"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2021-04-25 03:40] xiaozhao123254 commented on #5526
KubeVirt版本（使用virtctl version）：0.37.0
Kubernetes版本（使用kubectl version）：19
VM或VMI规格：centos7
云提供商或硬件配置：
操作系统（例如，从/ etc / os-release）：
内核（例如uname -a）：
安装工具：
其他：
![image](https://user-images.githubusercontent.com/83004907/115979825-c4409900-a5ba-11eb-8ab6-d26efe6d8e2c.png)
![image](https://user-images.githubusercontent.com/83004907/115979837-d1f61e80-a5ba-11eb-8d70-db2e31de14e9.png)
部署centos时出现如图2情况，停止到

[2021-04-25 12:45] mfranczy commented on #4768
/remove-lifecycle stale

[2021-04-25 12:46] mfranczy commented on #4767
/remove-lifecycle stale

[2021-04-25 14:37] #4594 closed

[2021-04-25 17:37] #4104 closed

[2021-04-26 00:54] #5028 closed

[2021-04-26 09:34] enp0s3 commented on #5447
@phoracek looks like all the KV pods are in place. According to the [virt-handler ](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1263/pull-ci-kubevirt-hyperconverged-cluster-operator-master-hco-e2e-image-index-gcp/1383754513193635840/artifacts/hco-e2e-image-index-gcp/gather-extra/artifacts/pods/kubevirt-hyperconverged_

[2021-04-26 16:15] detiber commented on #3648
/remove-lifecycle stale

[2021-04-26 16:15] detiber commented on #4207
/remove-lifecycle stale

[2021-04-26 16:19] rmohr commented on #4207
To implement this,  someone with a mac would have to take this. @mlsorensen maybe you know someone who can do that?

[2021-04-26 16:51] phoracek commented on #5487
Ideally bunch of `kubectl` commands that when copy-pasted into terminal, reproduce the problem. It should describe steps one needs to take to reproduce it and have the VM manifest too.

[2021-04-27 01:36] jobbler commented on #3584
This should be closed by the following user guide pr.
https://github.com/kubevirt/user-guide/pull/438

[2021-04-27 07:50] dhiller commented on #4768
@mfranczy apologies, fell off my list :confused: I didn't find a PR over at qe-tools, do you have an estimate when this will land? I understand your bandwidth is not very high for this, maybe I can help somehow?

[2021-04-27 10:12] mzzgaopeng commented on #5487
I seem to find the point of the problem because the guest-network-get-interfaces is not obtained when the virtual machine is started.

Then I did debug as follows to print this command print with
			log.Log.Infof("interface is : %s", interfaces)

[code]

Then come up with the following screenshot
![image](https://user-images.githubusercontent.com/22125180/116224238-00265a80-a783-11eb-8392-9aa54167

[2021-04-27 14:09] oshoval commented on #5487
Can you please try with both those fixes:

https://github.com/kubevirt/kubevirt/pull/5381
https://github.com/kubevirt/kubevirt/pull/5428

The first fix so the exponential backoff will be indeed bound by 120 and not by 120 * very large number,
resulting in updates stopping (see please BZ in the ticket)

The 2nd fix a periodic resync each 300 seconds that cause the report to be gone

[2021-04-27 15:34] kraxel opened #5546 "setting nodeSelector for virt-handler daemonset does not work"
/kind bug

**What happened**:

Tried to set the nodeSelector to "kubernetes.io/arch: amd64" for the virt-handler daemonset.
Does not work no matter what way I try (kubectl patch, kubectl edit, kubernetes dashboard).

It does work fine for the deployments (virt-{api,controller,operator}).

**What you expected to happen**:

I can set the nodeSelector according to my needs.
(I have a aarch64 node in

[2021-04-27 20:39] mazzystr commented on #5522
GitHub offers a registry ... https://docs.github.com/en/packages/guides/about-github-container-registry

[2021-04-27 20:41] #4560 closed

[2021-04-27 22:43] usrbinkat commented on #5522
Just passing through, personally I push images to quay.io, & docker.io for all builds. Critical images also go to ghcr.io & public.ecr.aws. I fallback to pulling from docker.io during quay outages. ghcr/ecr is last resort due to costs getting out of hand quickly on them.

I wish K8s had a native feature to pull fully qualified images in a list via weighted mechanism. Absent of that a manual flip c

[2021-04-28 00:35] teo-tsou commented on #2206
Same problem here. How actually the problem is fixed? Is there any exampe vmi yaml file? Because I believe that is a Disk Definition problem.

[2021-04-28 01:34] teo-tsou opened #5547 "VMs no bootable device"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
The Cirros VM does boot, but others does not. Following the guide : https://kubevirt.io/2019/How-To-Import-VM-into-Kubevirt.html
I have created PV / PVC that bounds to PV , uploaded the image succesfully , pods all running but VM can't start as no boot
able device . Exactly same issue as #2206
**What you expected to happ

[2021-04-28 07:17] #5487 closed

[2021-04-28 09:47] mfranczy commented on #4768
no worries, unfortunately it fell of my list too, since I was working on some other KubeVirt related projects.

I spoke with @rmohr a little bit about it, instead of creating a PR to qe-tools it will be better to ship a binary of the tool. Next week I have planned work only for KubeVirt upstream so if everything goes well I will finish this next week.

[2021-04-28 14:32] awels opened #5556 "Able to post VM with cloudinit without disk for cloudinit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I post the following yaml, I expect it to get rejected because there is no disk for the cloud init
[code]
**What you expected to happen**:
The validation to reject the yaml as it is invalid.
**How to reproduce it (as minimally and precisely as possible)**:
Apply the specified yaml

**Anything else we need to know?**:

[2021-04-28 15:29] rmohr commented on #5556
It seems like, while we validate a lot on the disk/volume mapping, we only seem to check that every volume has a disk, but not the other way round. I could post this VM/VMI too.

[2021-04-28 23:47] #4602 closed

[2021-04-29 00:48] vladikr commented on #4925
This was addressed by #4940

[2021-04-29 00:48] #4925 closed

[2021-04-29 13:18] ormergi opened #5565 "Unexpected behavior when a VM with nodeSelector is migrated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When a VM with `nodeSelector` is live migrated,  the migration job hang on `Scheduling`.
Looking on virt-launcher target and source pod state, shows that the target pod wont schedule
and stuck on `Pending` phase, with the following error:
[code]
When I tried to cancel the migration by deleting the VMIM object it hangs and

[2021-04-29 15:12] jeffwubj opened #5568 "run kind cluster with antrea failed on centos 7, maybe report an error if needed?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
run kind cluster script on my centos

**What you expected to happen**:
tell me my centos can not be supported or let the kind hack script handle the "old" centos kernel more gracefully

**How to reproduce it (as minimally and precisely as possible)**:
./ci/kind/kind-setup.sh create kind-antrea-cluster

**Anything else we need to kno

[2021-04-29 15:14] #5568 closed

[2021-04-29 22:48] hickersonj opened #5571 "docker save not working for virt-handler and virt-launcher"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Docker save for two images is not working. The other kubevirt images are saving fine.
[code]
**What you expected to happen**:
The docker save command should save the image manifests in the tarball.

**How to reproduce it (as minimally and precisely as possible)**:
1. docker pull quay.io/kubevirt/virt-handler:v0.40.0
2. doc

[2021-04-30 06:11] ansijain opened #5572 "Strange Behaviour of kubevirt after deleting namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried deleteting  Kubevirt using https://kubevirt.io/user-guide/operations/updating_and_deletion/#deleting-kubevirt
kubevirt namespace was in terminating state so I manually deleted  finalizer from the resource.
So the namespace got delted  but kubevirt.kubevirt.io/kubevirt was in deploying state when i did  kubectl get

[2021-04-30 07:42] ansijain commented on #5572
Also on deleting  I got the below error
[code]

[2021-04-30 12:42] kraxel commented on #5546
Oops, no, for the deployments the nodeSelector can't be changed either.
Seems that they all ran on x86_64 nodes was caused by the aarch64 node being offline, not the attempt to patch the nodeSelector.

[2021-04-30 19:33] moto-timo commented on #4303
I see the same failure mechanism on Debian 10 "buster". Seems like there is an assumption in the code looking for /usr/libexec/qemu-kvm that is too rigid.

[2021-04-30 20:32] unikzforce commented on #4303
Hey @moto-timo , Have you tried this? this worked for me well.

[2021-04-30 21:36] moto-timo commented on #4303
I didn't need to do that previously. There was zero issue running kubevirt a few weeks ago.

[2021-05-01 19:14] #4556 closed

[2021-05-02 11:16] #4568 closed

[2021-05-02 12:28] oshoval commented on #3187
does https://github.com/kubevirt/kubevirt/pull/4817 should solve this issue as well ?
or not totally ?

[2021-05-02 13:10] maya-r commented on #3187
Sounds like it should be fixed. Feel free to reopen if you are still encountering issues.

[2021-05-02 13:13] maya-r commented on #3187
/close

[2021-05-02 13:13] #3187 closed

[2021-05-02 13:14] oshoval commented on #3187
Thanks Maya, all

[2021-05-03 04:16] #4567 closed

[2021-05-03 12:57] davidvossel opened #5584 "Live Migrations with custom versions of newer libvirt (than default) can fail"
/kind bug

**What happened**:

Newer versions of libvirt send different domain events than previous versions, and this impacts virt-launcher's domain detection on target pods during migration.

The result is that depending on the timing, migrations can fail.

We noticed this while evaluating new versions of libvirt

[2021-05-03 12:58] davidvossel commented on #5584
/release-blocker release-0.41

[2021-05-03 12:59] davidvossel commented on #5584
https://github.com/kubevirt/kubevirt/pull/5328 addresses this and moves us to a new version of libvirt. I think we should take this in asap and make it part of the current 0.41. release that is in RC at the moment.

[2021-05-04 09:37] phoracek commented on #5447
@enp0s3 but virt-launcher logs are empty, that makes me thing it never started, and due to that we failed talking to it through the socket. Does that sound reasonable?

[2021-05-04 09:46] phoracek commented on #5447
And there are other logs where handler fails with this error while launcher is not listed in logs at all, e.g. https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kubevirt_hyperconverged-cluster-operator/1242/pull-ci-kubevirt-hyperconverged-cluster-operator-master-hco-e2e-image-index-gcp/1381618709780500480/artifacts/hco-e2e-image-index-gcp/gather-extra/artifacts/po

[2021-05-05 11:26] #5058 closed

[2021-05-05 14:12] phoracek commented on #5499
@zcahana could we close it now or do you have any further questions?

[2021-05-05 14:25] enp0s3 commented on #5546
@kraxel Hi. I think that it didn't work for you because you have tried to apply the node selector directly on the DS/Deployment resource. Currently the only way to configure pod placement for the virt-handler is via the Kubevirt CR. The same is for the virt-api, virt-controller and virt-operator deployments. The virt-handler falls into the category called `workloads` while the rest of the deployme

[2021-05-05 14:44] phoracek commented on #5571
@hickersonj the rumor is you managed to work around this. Is that true and could we close this?

[2021-05-05 14:46] phoracek commented on #5565
@ormergi is there something broken (suggesting a bug) or should this be an RFE for better validation of a migration?

[2021-05-05 14:49] phoracek commented on #5547
@teo-tsou could you please share logs of the virt-launcher and virt-handler? Is following the linked how-to a reproducer?

[2021-05-05 14:50] kraxel commented on #5546
That works.  https://kubevirt.io/user-guide/operations/installation/ ("Restricting virt-handler DaemonSet" section) needs an update then.

[2021-05-05 14:50] lzang commented on #5571
This should be already fixed by https://github.com/kubevirt/kubevirt/pull/5533, right? @rmohr

[2021-05-05 14:51] phoracek commented on #5546
@kraxel thanks for checking. Could you please close this issue then, we would open a follow-up RFE for docs.

[2021-05-05 14:55] phoracek commented on #5526
@xiaozhao123254 could you please translate this issue to English?

[2021-05-05 14:58] kraxel commented on #5546
ok, closing (adding a comment with a link to the doc RFE would be nice, thanks).

[2021-05-05 14:58] #5546 closed

[2021-05-05 15:00] zcahana commented on #5499
I believe you meant to tag @zhhray :-)

[2021-05-05 15:03] mazzystr commented on #5522
I will check with RH OSPO / CNCF to see what they can provide for GitHub services

[2021-05-05 18:15] rmohr commented on #5571
Yes, the fix will be in 0.41 an 0.40.1.

[2021-05-05 18:16] rmohr commented on #5571
Here the fix: https://github.com/kubevirt/kubevirt/pull/5533

[2021-05-05 18:36] hickersonj commented on #5571
Yes I needed to use the skopeo utility mentioned above to create the docker archive.  This of course bloats the overall size when splitting the virt-* images, but it still worked.

Awesome it has been fixed! I’ll go ahead and test the new version out soon.

[2021-05-05 19:03] hickersonj commented on #5571
Yes I needed to use the skopeo utility mentioned above to create the docker archive.  This of course bloats the overall size when splitting the virt-* images, but it still worked.

Awesome it has been fixed! I’ll go ahead and test the new version out soon.

[2021-05-06 00:45] lzang opened #5602 "Inconsistent path for node-labeller.sh in virt-handler image"
/kind bug

**What happened**:

node-labeller.sh is packaged into the /usr/bin directory as shown here https://github.com/kubevirt/kubevirt/blob/e286b55c2c51d7dd7afda162722b142103df3968/cmd/virt-launcher/BUILD.bazel#L145

but is referred by /bin/node-labeller.sh when it is being used here https://github.com/kubevirt/kubevirt/blob/e286b55c2c51d7dd7afda162722b142103df3968/pkg/virt-operator/resource/g

[2021-05-06 06:45] hickersonj commented on #5571
I can confirm that v0.41.0-rc.0 fixes this issue.

[2021-05-06 06:45] #5571 closed

[2021-05-06 09:21] rmohr commented on #5572
@ansijain we add some webhooks and apiservices to k8s which become suddenly unavailable if you remove the whole namespace. Normally you first have to do `kubectl delete -n kubevirt kubevirt kubevirt` to uninstall kubevirt and  then delete the namespace.

In order to resolve the issue with this unclean install, you can delete all kubevirt apiservices, mutatingwebhooks and validatingwebhooks. After

[2021-05-06 09:24] rmohr opened #5603 "qemu an libvirt logs are not attached clearly to the corresponding VM in the lgos"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

qemu and libvirt logs are converted to structured log entries and written together with the other logs, but they don't containe a `name` and `namespace` reference to the actual VMI. Instead they kind of "hang" a little bit in the air. It is possible to deduce the VM due to the pod, but e.g. in a log viewer the entries c

[2021-05-06 10:18] xiaozhao123254 commented on #5526
How to set the virtual machine to dual NIC？thanks @phoracek

[2021-05-06 10:27] phoracek commented on #5526
@xiaozhao123254 see https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#multus

[2021-05-06 12:47] aglitke commented on #5444
@zulh-civo I see in your initial comment on the PR you use a containerDisk as your example.  Then the conversation moved to PVCs.  While PVCs are likely the primary use case for iotune I'm not sure about limiting it to PVCs by placing annotations on PVCs and DataVolumes.  Semantically, iotune (as implemented) is a directive to the workload not a property of the storage.  To me it makes more sense

[2021-05-06 14:02] zulh-civo commented on #5444
@aglitke do you have any recommendation where the iotune annotations should be placed if it's not inside PVC/DataVolume?

Or, are you saying that we shouldn't use annotations at all and add new struct fields to VMI/VM instead? If that's what you meant, where is the best place to put it?

(by asking "where" above, I'd really appreciate it if you can point me out to the specific file(s) and line num

[2021-05-06 14:16] davidvossel commented on #5584
fixed by https://github.com/kubevirt/kubevirt/pull/5586

[2021-05-06 14:16] #5584 closed

[2021-05-06 15:25] tiraboschi opened #5608 "upgrading to kubevirt v0.41.0-rc.0 with OLM on OKD/OCP 4.8 doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Upgrading (from different older releases) to kubevirt v0.41.0-rc.0 with OLM on OKD/OCP 4.8 doesn't work.

Older versions of kubevirt-operator are writing something like:
[code]
under status.generations on the kubevirt CR.

Although hash and namespace were supposed to be mandatory fields, for some reason (probably another

[2021-05-06 15:29] rmohr commented on #5608
/release-blocker release-0.41

[2021-05-06 15:30] rmohr commented on #5608
I think merging and backporting https://github.com/kubevirt/kubevirt/pull/5495 will fix this. It will generate the correct api definition, which we would then publish via HCO to OLM and the validation should pass then.

[2021-05-06 15:31] rmohr commented on #5608
@davidvossel FYI

[2021-05-06 17:57] davidvossel commented on #5608
we have a potential fix here, https://github.com/kubevirt/kubevirt/pull/5609

[2021-05-06 18:34] #4564 closed

[2021-05-07 01:36] xiaozhao123254 commented on #5526
Thank you, how to make virtual machine snapshot and recovery？ @phoracek

[2021-05-07 02:41] ansijain commented on #5572
Thank you @rmohr
It got resolved so closing this  issue.

[2021-05-07 02:41] #5572 closed

[2021-05-07 04:13] zhhray commented on #5499
yeah, you can close it. But I hope the feature gets into the roadmap early.

[2021-05-07 07:32] #5499 closed

[2021-05-07 08:06] dhiller opened #5611 "KubeVirt tag release output on GCS is missing manifests and tests binary"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

When comparing the nightly release output against the tag release output we see the following:

[code]

This means that:
* if we want to consume the tag release we need to download the manifests from the GitHub release, as they are missing in the GCS bucket.
* the `tests.test` binary is missing in the tag release

[2021-05-07 10:55] tiraboschi commented on #5608
There was also a bug in the OLM that was not validating existing CRs against the new version of the CRD if that CRD was owned just by a single CSV (and this is obviously our case!).
This got fixed on the OLM side only 28 days ago and this perfectly explains why we start seeing this issue only now, see:
https://github.com/operator-framework/operator-lifecycle-manager/pull/2090/commits/35271e927752d

[2021-05-07 15:51] mlsorensen commented on #5444
I commented on this in the groups thread but just for the sake of tracking on the issue - There is a generic way provided by Kubevirt to mutate the VM definition - have you considered making a simple sidecar hook to inject the iotune into your VMs? That would be an even faster solution that you'd have complete control of.

You'd create a docker image with a small golang program that can edit the l

[2021-05-07 17:15] zulh-civo commented on #5444
@mlsorensen thank you for sharing that. I didn't know Kubevirt has hooks support. If I choose this approach, will it work even if the [schema](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/virtwrap/api/schema.go) doesn't have iotune fields declared?

In my PR, I added the iotune fields to the libvirt schema ([see here](https://github.com/kubevirt/kubevirt/pull/5573/files#diff-

[2021-05-08 01:10] #4825 closed

[2021-05-08 03:51] xiaozhao123254 opened #5615 "The data disappeared after the virtual machine was restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2021-05-08 05:00] #5313 closed

[2021-05-08 14:37] #4150 closed

[2021-05-08 19:57] strowi opened #5617 "resource limits cpu/memory on resources created by kind: KubeVirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:
kind enhancement

**What happened**:
No resource limits on resources created by `kind: KubeVirt`( virt-api/controller/handler ).
We have a policy that requires limits on *every* Pod.

**What you expected to happen**:
Being able to set resource limits on the CRD-created Deployments/Pods.

**How to reproduce it (as minimally and precisely as possible)**:

[2021-05-09 14:37] #4603 closed

[2021-05-09 15:22] wenxinlee2015 commented on #5069
@Mohitsharma44 the problem has been solved? I meet the same.

[2021-05-09 16:28] Mohitsharma44 commented on #5069
No, I couldn’t get it to work either on microk8s or rke.
--
-Thanks
Mohit Sharma
https://sharmamohit.com

[2021-05-09 22:34] usrbinkat commented on #5069
This is definitely not resolved. I'll be happy to recreate and produce logs also if it would help?

[2021-05-10 07:24] maiqueb commented on #4150
@ormergi / @maya-r should we re-open this, or is it indeed now working ?

[2021-05-10 07:24] maiqueb commented on #4267
/reopen
/remove-lifecycle rotten

[2021-05-10 07:25] nunnatsa commented on #5447
@enp0s3  @phoracek - this is still happening. Could you please take a look again?

[2021-05-10 07:30] phoracek commented on #5447
I don't know how to address this ... it seems that virt-launcher Pods don't even start. @enp0s3 have you noticed anything that would point to the cause of that?

[2021-05-10 07:38] enp0s3 commented on #5447
@phoracek @nunnatsa Sorry but I couldn't spot the root cause yet. Need to further look at the logs

[2021-05-10 07:46] enp0s3 commented on #5447
@phoracek @nunnatsa Is there an option to inject a long sleep into the test suite, thus making this setup available, and connect to the cluster for observation?

[2021-05-10 09:52] KinglyWayne opened #5619 "NVIDIA GPU passthrough failed , driver error code 43 . kubevirt features.kvm.hidden = on not working properly in kubevirt 0.40"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying to use kubevirt 0.40 to run windows 10 os with NVidia gpu(titan xp) passthrough,
however gpu driver always failed to load with error code 43 in windows guest os.

I have tried to add kvm feature hidden in kubevirt vmi crd config.
https://github.com/kubevirt/kubevirt/issues/3285

This method used to work with k

[2021-05-10 10:23] #5615 closed

[2021-05-10 10:23] xiaozhao123254 opened #5621 "Can kubevirt deploy virtual machines in a persistent way, and can you provide examples"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2021-05-10 13:18] davidvossel commented on #5619
/cc @vladikr

maybe you've encountered this?

[2021-05-10 13:23] davidvossel commented on #5619
maybe we should  automatically set that `ioapic driver='kvm' ` setting when the hidden kvm feature is enabled on our api.

[2021-05-10 19:40] davidvossel commented on #5444
My expectation is that this will work.

The sidecar hooks work exclusively with xml. So as long as your hook consistently injects that field into the xml every time the hook is called, then your domain changes should stick around and be persisted into libvirt.

if this doesn't work for you, then it's likely a bug in our sidecar hooks implementation.

[2021-05-10 22:45] KinglyWayne commented on #5619
Hi David, is there any workaround for now?  Thanks😊

[2021-05-11 01:41] xiaozhao123254 opened #5632 "CDI error creating PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubectl describe pods cdi-upload-iso-win10
Name:           cdi-upload-iso-win10
Namespace:      default
Priority:       0
Node:           <none>
Labels:         app=containerized-data-importer
                cdi.kubevirt.io=cdi-upload-server
                cdi.kubevirt.io/uploadTarget=6593a3ba-08d4-40bd-87ae-11aa3fdc4c8e

[2021-05-11 05:50] #5608 closed

[2021-05-11 14:29] KinglyWayne commented on #5619
Hi Justin  I tried the method in https://github.com/kubevirt/kubevirt/issues/3285#issuecomment-613299783 , it does not work.
I can not find that sidecar's code, but I think maybe it's outdated for new version

[2021-05-11 19:31] moto-timo commented on #4303
I finally got around to trying this again and it does work. I still don’t understand why it broke between 0.36/0.38 and 0.40

`$ sudo ln -s /usr/bin/kvm /usr/libexec/qemu-kvm`

And then the apparmor change above and restart the apparmor.service

[2021-05-12 08:53] soodpr opened #5638 "VMs are stuck in scheduling due to 0/7 nodes are available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried to create a virtual machine, but it gets stuck in scheduling. Bug is similar to [4748](https://github.com/kubevirt/kubevirt/issues/4748).

**What you expected to happen**:
The VM to be scheduled and then started. Describing the vmi I can see:
Warning FailedScheduling 4m27s default-scheduler 0/7 nodes are available

[2021-05-12 12:04] JustinHuang402490 commented on #5619
Thanks for the reply.

How about trying to pass through the GPU card to a VM without kubevirt?
I think there would be other issues that are not related to kubevirt.

[2021-05-12 14:49] phoracek commented on #5638
@soodpr is your cluster running or bare-metal (or do you have nested virtualization enabled)? If not, you may need to allow emulation (not that that will make you VMs quite slow).

If that is not helpful, could you please provide logs of your virt-handler pods.

[2021-05-12 14:50] phoracek commented on #5632
Would you please reopen this on CDI repository? https://github.com/kubevirt/containerized-data-importer

[2021-05-12 14:53] phoracek commented on #5617
@davidvossel does this sounds like a reasonable RFE?

[2021-05-12 14:56] phoracek commented on #5602
AFAIK, /usr/bin is a link to /bin, no? Is what you expect just consistent use of the path or is there any functionality issue?

[2021-05-12 15:01] xphyr commented on #4207
@rmohr I am going to take a look at this, and look to implement with the `open vnc://<url>` command. It might actually be possible to simplify some of the OSX VNC detection code then down to just using the open command, but I need to do a little more research on this. (I do have a mac, so I can test this out... ).

[2021-05-12 15:04] jmguzik commented on #5011
/close

[2021-05-12 15:04] #5011 closed

[2021-05-12 15:23] lzang commented on #5602
Hi Peter, /usr/bin is not always a link to /bin.  Some discussions on this topic is here https://unix.stackexchange.com/questions/5915/difference-between-bin-and-usr-bin. Making this assumption in code may break for a different linux system. In our use case, we packed the executable on top of a different base image, and we couldn't bring up the deployment because of this. From the code, this seems

[2021-05-12 16:59] vasiliy-ul commented on #5602
+1 from my side. We also use different base images and currently need to install node-labeller.sh explicitly in /bin. Its not causing big troubles but having some consistency would be nice indeed.

[2021-05-12 20:07] xphyr commented on #4207
OK, I have spent some time testing/mocking this up. It would appear that the built in MacOS client `/System/Library/CoreServices/Applications/Screen\ Sharing.app/Contents/MacOS/Screen\ Sharing` requires that there be a password on the vnc server side. It will not progress with an empty password.

Doing some quick searching on the Internet pulls up a few others running into this for other projects:

[2021-05-12 21:01] davidvossel commented on #5619
There are two options here for you. A short term one and medium term.

short term:  Create your own sidecar hook which lets you inject the `ioapic driver='kvm'` into the libvirt domain at the point in time the VMI launches in the pod. here's an example of how a side car can be developed. https://github.com/kubevirt/kubevirt/tree/master/cmd/example-hook-sidecar

medium term: Wait for a kubevirt cha

[2021-05-12 21:15] davidvossel commented on #5617
@strowi You can accomplish this today.

I'll start with the bottom up.

The workload pods that the virtualmachines run in are influenced by the VMI spec, there you can set cpu/mem request/limits which ultimately get transfered to the VMI pod.

For our control plane components, those are all influenced by the KubeVirt CR definition. There is a field called `customizeComponents` where you can add pa

[2021-05-13 03:13] xiaozhao123254 commented on #5632
CDI import image error
![image](https://user-images.githubusercontent.com/83004907/118072361-3814db00-b3dc-11eb-83f4-0eebbddfa9e8.png)

[2021-05-13 06:28] wenxinlee2015 commented on #5069
@Mohitsharma44 @usrbinkat  I have solved this problem because in my scenario, the root path of kubelet was changed to be different from the default path of the community. You can see in the yaml file of daemonset virt-lancher, whether the configuration of kubelet's volume hostpath is the same with your kubelet --root-dir. In addition, some of the code is hard-coded to the default /var/lib/kubelet.

[2021-05-13 06:56] strowi commented on #5617
@davidvossel Thank you very much for the thorough explanation, those `patches` must have slipped by me ;) I will try this after the long weekend.

Will be interesting to see if this will get past the opa-gatekeeper.
Just curious, do you happen to know if the patches are applied on files or after throwing everything at the kube-api?
But i think either way works for us.

[2021-05-13 06:56] #5617 closed

[2021-05-14 11:49] unikzforce commented on #4303
@moto-timo So on debian kvm installation path is different

[2021-05-14 22:24] usrbinkat commented on #5069
Confirmed, as of microk8s 1.21, kubevirt appears to work without issue.

[2021-05-15 02:42] JamesB41 commented on #5110
@futuretea I...am at a loss for words at how simple this was relative to how much time I spent troubleshooting it. Thank you so much for posting this.

[2021-05-17 10:47] rhrazdil opened #5657 "Live Migration of VMI With Istio leaves proxy running in the original virt-launcher"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When VMI with Istio is migrated, the proxy continues to run in the original virt-launcher pod.
This causes the original virt-launcher pod to hang :

[code]

Istio exposes `/quitquitquit` endpoint at port 15020, we should use this to signal termination of the proxy
when migration is completed.

**What you expected to happ

[2021-05-17 10:47] rhrazdil commented on #5657
/assign

[2021-05-17 13:51] davidvossel commented on #5617
But i think either way works for us.

@strowi if you place the patches on the KubeVirt CR before posting the CR to the cluster (so pre-populate the patches on the CR's spec) then every component will get created immediately with the requests/limits you set.

[2021-05-17 14:55] soodpr commented on #5638
@phoracek: we have a k3s cluster running on 4 bare-metal nodes which are worker nodes and 3 kvm VM's on 1st 3 nodes which are master nodes. So, its a 3 master(KVM VM's) +4 worker node(bare metal) cluster. So, hardware virtualization is enabled on the nodes.
As, I have restarted the virt-handler pods, I am not sure if you need current pod logs but i am attaching it for your reference here. Please n

[2021-05-17 15:42] davidvossel commented on #5023
/remove-lifecycle stale

[2021-05-18 06:30] oshoval commented on #5487
Note please that #5428 was reverted and https://github.com/kubevirt/kubevirt/pull/5560 was merged instead

[2021-05-18 08:45] rmohr opened #5667 "Replace fedora VMs for hotplug tests with cirros"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

The hotplug tests use fedora because the assumption was made that cirros does not support scsi hotplug.
However cirros supports hotplug:

[code]

**What you expected to happen**:

The hotplug storage tests should be switch to cirros, since fedora is quite heavy.

**How to reproduce it (as minimally and precisely

[2021-05-18 08:46] rmohr commented on #5667
/assign @awels

[2021-05-18 08:52] rmohr commented on #5638
@soodpr I found

[code]

in the logs which is unrelated, but can it be that you are mounting the same PVC to different VMs as writeable at the same time? If not, do you use nfsv3?

Regarding to KVM, the logs only show what I would expect if kvm is present. We would probably need the logs if this happens again. What I find strange is that it seems to have happened on all involved nodes, which may b

[2021-05-18 08:53] rhrazdil commented on #5657
I verified that after sending a post request to the proxy /quitquitquit endpoint from virt-launcher pod, eg. `curl -sf -XPOST http://127.0.0.1:15020/quitquitquit` the proxy terminates gracefully and the source virt-launcher pod gets to `completed` state.

[2021-05-18 09:01] soodpr commented on #5638
@rmohr - we have different pvc/pv for both vm's and .qcow2 images are uploaded to NFS in separate folders via virtctl image-upload command.

[2021-05-18 11:48] rmohr commented on #5638
Ok, the error may come from the nfs3 usage (if you use it?). Consider using nfsv4, because nfsv3 does not work properly with qemu. But again, that is not related to your kvm problem.

[2021-05-18 14:02] andreabolognani commented on #4427
@danielhb in the months since this issue was created, KubeVirt has gained aarch64 support.

This support is solid enough that cross-builds are run by default for all PRs (see [here](https://github.com/kubevirt/kubevirt/pull/5328#issuecomment-830149969) for an example of cross-building issues blocking a change).

So I think that, at this point, someone who wanted to make KubeVirt available on ppc64

[2021-05-18 21:49] rancherissue2 opened #5679 "Adding a Disk to running VM"
**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

Hello Guys Please Help me out
Look for the other options that how we can attach the Storage in running VM
                        H

[2021-05-18 22:32] waveywaves commented on #3746
/reopen

[2021-05-18 22:37] waveywaves commented on #3746
@jean-edouard I was using the custom OVMF to run a hackintosh machine when I was testing. I was able to partailly boot it up when I tested this a few months ago, but at the time I was running kubevirt in emulation mode if I am not wrong. I am going to test this without emulation this time to see how well it could work.

[2021-05-19 03:34] chenyg0911 opened #5680 "upgrade to v0.41.0, virt-launcher can't forword network traffic to VM."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
upgrade from v0.34 to 0.41, vm instance can't  access directly.
I'm using calico cni with setting:
[code]
with set router bgp, all inter user can access VM with the podip like a usual host.

ALL work fine in kubevirt v0.34.0.
I can ssh user@podip as a normal machine.

After upgrade to v0.41.0, it not work now.
I try to ro

[2021-05-19 11:55] CaptainHulk23 opened #5683 "HA in Kubevirt"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Is HA possible with kubevirt for active-standby mode?

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Clo

[2021-05-19 21:17] davidvossel commented on #5024
/remove-lifecycle stale

[2021-05-20 01:30] xiaozhao123254 opened #5686 "How to make a snapshot and one click recovery？Do you have relevant documents？"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2021-05-20 09:28] yangxiaoliang opened #5688 "Did kubevirt v0.37.0 support hotplug datavolume ?"
**What happened**:
I want add a new datavolume to running vm, but after modified the yaml and execute `kubectl apply -f vm.yaml`, I have to execute `virtctl restart myvm` to make the change works. I wondering if there is a way I can hotplug datavolue without have to restart the vm.

**What you expected to happen**:
The datavolume can be added successfully without have to restart the vm.

**How to

[2021-05-20 11:56] #4999 closed

[2021-05-20 13:22] danielhb commented on #4427
@andreabolognani since the ARM support apparently cut our work short, we can close this issue in my opinion.

WRT COPR, I asked around and apparently the situation is still the same, unfortunately. The Fedora tech support staff has a lot of work to do, and getting the ppc64le builders online aren't their top priority ATM.

In fact, COPR online for ppc64le is a hard requirement for ppc64le support

[2021-05-20 13:22] #4427 closed

[2021-05-20 14:04] rajasaur opened #5692 "KubeVirt in-depth install VERSION is not latest"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug (in documentation)

**What happened**:
The command given in the Quickstart page at https://kubevirt.io/quickstart_minikube/ points to fetching VERSION using

`export VERSION=$(curl -s https://api.github.com/repos/kubevirt/kubevirt/releases | grep tag_name | grep -v -- '-rc' | head -1 | awk -F': ' '{print $2}' | sed 's/,//' | xargs)
`

This re

[2021-05-20 23:36] #4696 closed

[2021-05-21 07:36] #4707 closed

[2021-05-21 16:03] ansijain commented on #5692
@rajasaur Thanks for this issue.
This has been fixed https://github.com/kubevirt/kubevirt.github.io/pull/739
Feel free to close this issue

[2021-05-21 16:06] #5683 closed

[2021-05-21 16:34] rajasaur commented on #5692
Thanks. Realized that it belonged to the website repo after filing and dint have access to move it. Thanks for committing.

[2021-05-21 16:34] #5692 closed

[2021-05-22 09:37] #4280 closed

[2021-05-24 02:37] #4673 closed

[2021-05-24 05:56] ansijain opened #5697 "Error in Live Migration using virtctl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: I want to live migrate vm using virtctl but I am getting below error
[code]
kubectl get pods -n kubevirt
[code]

**What you expected to happen**: Vm should successfully migrate

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**: Virtctl binary is located at  /usr/local/bin

**Envir

[2021-05-24 18:46] candlerb commented on #1491
I was playing with kubevirt again, and I managed to break a k3s cluster by applying the kubevirt resources, creating a couple of VMs, and then removing kubevirt with `kubectl delete -f ...`.  The namespace `kubevirt` was in Terminating state for 5 days.

In this state, even `kubectl api-resources` was failing:

[code]

Manually deleting resources where I can:

[code]

Still broken, and `systemctl

[2021-05-25 23:12] mazzystr opened #5717 "Please provide community with an updated dependency list"
Please provide community with an updated dependency list.

This will be used for CNCF due diligence in graduating to incubating stage.

[2021-05-26 08:03] k-p-ani opened #5719 "VirtCtl not able to find VM resource created in name space other than default name space"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
created a VM resource in **custom name space** successful, and when tried to start this VM using below command is giving error <br/>
**virtctl** start centos-tomcat-vm
**Error :-** starting VirtualMachine virtualmachine.kubevirt.io "centos-tomcat-vm" not found
**What you expected to happen**:
Should have been able to star

[2021-05-26 08:30] npu21 commented on #2076
@rthallisey has this issue resolved?

[2021-05-26 10:00] xpivarc commented on #5719
Hi @k-p-ani
you can do this with `virtctl -n <your namespace> start <your VM name>` .

[2021-05-26 10:53] rthallisey commented on #2076
yes: https://github.com/kubevirt/kubevirt/pull/4552

[2021-05-26 11:24] JustinHuang402490 commented on #5619
After many tests, I successfully pass through the GPU card 1080 Ti **without kubevirt**. There are some important things I found:
1. We need to give the additional modified 1080 Ti ROM file and modify the corresponding configuration in the VM XML file.
![image](https://user-images.githubusercontent.com/41780406/119646101-5bff0480-be51-11eb-8e7f-c7d617e9263e.png)

2. The firmware should be UEFI.
![

[2021-05-26 12:55] vladikr commented on #5619
@KinglyWayne @JustinHuang402490

Thank you for your interest!

I would like to make a few observations.
First, the issues you are experiencing are related to the NVIDIA driver - this is not directly a KubeVirt issue.
The NVIDIA driver failing when detecting the KVM hypervisor means that NVIDIA does not support this card to be assigned to Virtual Machines running on the KVM hypervisor.
I wouldn't s

[2021-05-26 14:49] #5717 closed

[2021-05-26 14:49] rmohr commented on #5717
For reference, this was also asked and discussed in https://groups.google.com/g/kubevirt-dev/c/LHRk9P4mNgg/m/akp8jD87AQAJ.

[2021-05-26 14:51] phoracek commented on #5697
Is there anything special about the way you access your Kubernetes API server? And it would be also helpful if you could provide verbose log of virtctl via `-v9`.

[2021-05-26 14:53] phoracek commented on #5688
It did not. It should be available as a tech preview in 0.39

[2021-05-26 14:54] #5688 closed

[2021-05-26 14:55] phoracek commented on #5686
@mhenriks  do you know if there is any work covering this coming to the user guide?

[2021-05-26 14:59] phoracek commented on #5680
For the rollback, please stick to the 0.41 operator. The version change should be defined in the `KubeVirt` CR:

[code]

For the Calico issue, we are running Calico on our CI, so it is surprising to see it fail. Could you describe what kind of connectivity does not work and what does? Are you able to ping the VM from another pod/VM? Are you able to get to the outside network from the VM?

[2021-05-27 03:50] chenyg0911 commented on #5680
Yes, I can ping the pod but I can't ping to VM, it seems pod can't forword traffic to vm as expect.

[2021-05-27 04:05] chenyg0911 commented on #5680
On kubevirt cluster I have 2 type vm pods. Some vm is create before upgrade, and some in create after that. The pods which created before still running normally but the new pods (create after) can't ssh or ping to vm. I check the pod between them. The olny differents is the virt-launcher:
After upgrade:
[code]
Before upgrade:
[code]

Another question is : How can I roll back the virt-launcher to 0

[2021-05-27 11:59] JustinHuang402490 commented on #5619
Hi Vladik, thank you for your reply. I list three possible ways of adding a custom ROM file to the pod created by KubeVirt.

1. Use a shared file with the localhost.

    I notice that there is one directory called "virt-bin-share-dir". The details are shown below. See pod description.

    I am curious about that **is "virt-bin-share-dir" possible to be used as a shared directory between the loca

[2021-05-27 12:16] yangxiaoliang opened #5730 "The vm memory is not the same as specified in the yaml"
**What happened**:

Create a VM with 4096M memory specified in the yaml，but the actual VM memory is only 3907M， I am not clearly on the logic why this happen, could you help me ?

qemu process:
`
107       34531  1.6  2.4 9245072 3168728 ?     Sl   May26  30:00 /usr/libexec/qemu-kvm -name guest=default_vm-with-testwin7-01,debug-threads=on -S -object secret,id=masterKey0,format=raw,file=/var/lib/li

[2021-05-27 13:07] vladikr commented on #5730
I see that you have requested `4096M` (megabyte 1000) which translates to `3906.25 Mib` (mebibytes)
you just need to request `4096Mi` instead

[2021-05-27 15:18] yangxiaoliang commented on #5730
Thank you @vladikr , request 4096Mi works as expect.

I have another question, from the output of `kubectl describe virt-launcher-xxx`, I noticed that the requested memory of virt-launcher pod is larger than 4096Mi, so  it means if I create a VM with 4096Mi memory requested, the target host would consumes more than 4096Mi memory, as the virt-launcher pod would consumes some additional memory, righ

[2021-05-27 19:50] rthallisey opened #5732 "Measure and Export KubeVirt Performance Metrics"
In the recent [SIG-scale meeting](https://docs.google.com/document/d/1d_b2o05FfBG37VwlC2Z1ZArnT9-_AEJoQTe7iKaQZ6I/edit#heading=h.50eclt5fctl9), the community shared ideas about how we can measure KubeVirt for performance and gather that measurement data.  Here's the design we came up with:

/kind enhancement

### High Level Design
Create a new pkg in KubeVirt that will hold all the performance mea

[2021-05-27 23:10] fanzhangio opened #5733 "[KEP] Improve the reconciliation in virt-controller for VMI status update"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
For creating a huge number of VMIs, we noticed that there is always a systematical latency happens between pod being running and vmi status being updated.

<img width="903" alt="Systematical latency between Pod and VMI" src="https://user-images.githubusercontent.com/22812247/119843132-1af00a00-bebc-11eb-8d2b-e7d5d

[2021-05-27 23:10] fanzhangio commented on #5733
/assign @fanzhangio

[2021-05-28 07:33] ansijain commented on #5697
No I don't access API server in any special way.
[code]

[2021-05-28 10:17] LLLLLBJ opened #5735 "ping virt-launcher pod(VM) IP failed with pod network and bridge type"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Use default pod network and bridge type, I can not connect to virt-launcher pod IP.

The pod:
virt-launcher-vm-cirros-zfl56              1/1     Running            0          174m   192.168.5.158   10.2.0.139   <none>           <none>

Ping 192.168.5.158 failed.

The net links in pod:  pod original interface eth0 state is DOWN, brid

[2021-05-28 19:50] dirien opened #5736 "panic: error relabeling required files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Followed the install instructions under https://kubevirt.io/quickstart_cloud/ on a STACKIT SKE 1.19 Kubernetes.

Every other pod is running fine, except the virt handler
![image](https://user-images.githubusercontent.com/38325136/120033697-3a8e4c00-bffc-11eb-8391-9ea4df811168.png)

It panics with following error:

[code]

[2021-05-29 07:15] dirien commented on #5736
Link exising issue to this https://github.com/kubevirt/kubevirt/issues/5298

[2021-05-29 07:16] dirien commented on #5736
So is using Flarcar not possible for kubevirt? Do i need to ask my kubernetes provider to change something?

[2021-05-30 19:33] salanki commented on #4290
/reopen

[2021-05-31 07:59] LLLLLBJ commented on #5735
I find that the CNI writes a PERM arp entry (169.254.1.1) in pod instead of using proxy_arg, so no one is responsible for the 169.254.1.1 arp requests.

[2021-05-31 13:59] LLLLLBJ commented on #5735
Enable proxy ARP:
/proc/sys/net/ipv4/conf/${hostVethName}/proxy_arp

[2021-05-31 13:59] #5735 closed

[2021-05-31 14:53] nunnatsa commented on #5447
This is still happening

[2021-06-01 00:43] mazocode opened #5744 "Support runtimeClassName in VirtualMachine template spec"
/kind enhancement

The template spec of the VirtualMachine CRs  does not allow specifying **runtimeClassName**. This should be supported for the following szenarios:

a) The nodes default runtime is not useful for running kubevirt workloads (i.e. kata)

b) Improves UX:  by simplifying tolerations and node selection, which can be done at a central place (RuntimeClass), ie:

`runtimeClassName: gpu-w

[2021-06-01 08:48] #5730 closed

[2021-06-01 15:29] maiqueb commented on #4678
/remove-lifecycle rotten

[2021-06-01 16:34] maiqueb commented on #5565
I agree here; I don't see how a VM you specifically indicate want running on a particular node can be migrated.

IMO, best you can hope for is a the migration request to be rejected.

[2021-06-01 16:57] maiqueb opened #5753 "Flaky heartbeat unit test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The "Heartbeat without deviceplugin and becoming ready after a few probes, node should be set to unschedulable immediately and switch earlier than one minute [It]" **unit** test is lately very flaky, as can be seen on [this CI kubevirt search](https://search.ci.kubevirt.io/?search=%2F%2Fpkg%2Fvirt-handler%2Fheartbeat%3Ago

[2021-06-01 17:55] mlsorensen opened #5754 "Support admin-configured custom runtimeClassName on virt-launcher pods"
/kind enhancement

Support configuring the runtimeClassName for the virt-launcher pod, for situations where clusters offer multiple runtime classes. We can use the KubeVirt CR for admins to control this runtime selection.

Can follow the same pattern used for things like SELinuxLauncherType

https://github.com/kubevirt/kubevirt/blob/31ca00e3acce0e2431e6403c50e9be8c23b073a2/staging/src/kubevirt.io/

[2021-06-01 18:30] fabiand commented on #5754
/assign mlsorensen

[2021-06-02 06:14] soodpr commented on #5638
@rmohr - i have confirm we are using nfsv4.
For the original issue, we are monitoring our enviroment, but we haven't faced this issue yet. So, will update you once we face any issue with the scheduling of the VM's.

[2021-06-02 09:04] mazocode commented on #5754
@mlsorensen I think you can use customizeComponents for this:
[code]

[2021-06-02 14:20] qinqon commented on #5680
/cc @qinqon

[2021-06-02 16:14] mlsorensen commented on #5754
Thanks for pointing this out! I knew something like it was in the works, I'm glad it's available. However - I'm less concerned about the virt-handler daemonset, more concerned about the virt-launcher pods.  This would be a field added to virt-launcher PodSpecs by virt-controller based on some config, similar to what is done with the SELinux launcher type.  I'm not sure if the patch-based customiza

[2021-06-02 16:34] mazocode commented on #5754
@mlsorensen Sorry, I've misread your initial post. Unfortunately patches does not seem to work with virt-launcher. I created this similar request https://github.com/kubevirt/kubevirt/issues/5744 for runtimeClassName support in the VMI spec.  I think this could be useful on a per VM basis as it could do more than just runtime selection (ie adding tolerations).

[2021-06-02 17:27] mlsorensen commented on #5754
@mazocode - ok, that is interesting.  I was thinking from the perspective of allowing the admin to choose the runtimeClass for the virt-launcher pods. The users can be unaware of runtime classes and Kubevirt can just know what to do.

Having the user choosing the runtime class is a valid use case as well. These may not be competing features - the admin one could be developed and be taken as having

[2021-06-02 17:30] mlsorensen commented on #5744
Following up on our other conversation on #5754:

I do wonder how an end user is expected to know which runtimeClasses work with Kubevirt VMs - perhaps the runtime class is labeled so the users can see this if they 'kubectl get runtimeclasses', or maybe KubeVirt itself looks at the runtime classes and validates the selected one is labeled somehow to support in-pod virtualization. Maybe that is too

[2021-06-02 18:19] mazocode commented on #5744
Good points! I guess as a user I would like to specify three things: OS, capacity and hardware features needed. As an admin, I can already provide the user with the parameters required for the OS via the VMI presets.  Would it make sense also being able to predefine nodes according to their hardware features?

For example something like:
[code]

VMI could then look like this:
[code]

The kubevirt

[2021-06-02 19:33] mlsorensen commented on #5744
Thinking through this a bit more, since runtime classes can be used to link runtime handlers to specific node labels and taints in an arbitrary way, does that fulfill the need met by the VirtualMachineNodeSet above? In which case you'd just need the runtimeClassName on the VMI?

Or is VirtualMachineNodeSet essentially duplicating the real runtime class resource in order to hide ones that aren't us

[2021-06-03 05:20] mazocode commented on #5744
From my understading of the intention behind the nodeSelector and tolerations in RuntimeContext was solely to limit the nodes to the ones that can run the workload based on the presence of a runtime/config. In this respect, the GPU example would somehow misuse this functionality, and I am not sure if it is advisable to use it this way. The benefit is that it works for pods as for virtual machines

[2021-06-03 09:58] maiqueb opened #5762 "Cannot configure IP address on multus secondary networks w/ bridge binding + static IPAM configuration w/ no routes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A VMI with a multus configured **bridge** interface using a network attachment definition with IPAM configured fails to get an IP address from the in-pod DHCP  server.

**What you expected to happen**:
The VMI should get an IP address.

**How to reproduce it (as minimally and precisely as possible)**:
Provision the follow

[2021-06-03 15:12] rthallisey commented on #5732
requires https://github.com/kubevirt/project-infra/issues/1211

[2021-06-03 15:34] mlsorensen commented on #5744
No, you're absolutely correct, users have to be advanced and understand several things about the cluster. However, the situation is the same for non-VM users, they have to select the systems on their own in the PodSpec if they want specific hardware.  I'm not sure what the proper solution is for user-selected runtime classes in KubeVirt, hopefully there will be more feedback from the community.

[2021-06-04 01:50] yangxiaoliang opened #5768 "windows vm can be launched on v0.37.0, but can not be launched on v0.38.1/v0.39.1/v0.40.0"
**What happened**:
VM with Windows7 can be launched successfully and works fine on v0.37.0. But using the same yaml, exec `kubectl create testwin7.yaml`, it can not be launched and started successful on kubevirt v0.38.1/v0.39.1/v0.40.0.

**What you expected to happen**:
VM with Windows7 can be launched successfully.

**How to reproduce it (as minimally and precisely as possible)**:
On kubevirt v0.

[2021-06-04 05:49] qinqon commented on #5680
@chenyg0911  can you share the VM/VMI yaml ?

[2021-06-04 07:15] chenyg0911 commented on #5680
@qinqon FYI.
[code]

[2021-06-04 07:15] chenyg0911 commented on #5680
@qinqon FYI.
[code]

[2021-06-04 07:32] yangxiaoliang commented on #5768
paste the qemu args
[code]

[2021-06-04 07:34] yangxiaoliang commented on #5768
[code]

[2021-06-04 07:46] yangxiaoliang commented on #5768
[code]

[2021-06-04 12:24] awels commented on #5679
With recent version of kubevirt 0.40 or newer, you should be able to do:
[code]
and if you want to remove
[code]
See https://github.com/kubevirt/kubevirt/blob/master/docs/hotplug.md for all the details.

[2021-06-04 23:25] #4768 closed

[2021-06-07 06:50] ezio-auditore opened #5773 "kubemacpool-mac-controller-manager going into CrashLoopBackOff when creating a new HCO deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
 I was trying out the latest hco build kubevirt / hyperconverged-cluster-index:1.5.0-unstable  but something seems to be wrong with the kubemacpool-mac-controller-manager. The pod doesn't come up and stays in CrashLoopBackOff
**What you expected to happen**:
kubemacpool-mac-controller-manager should have been up and the

[2021-06-07 07:55] sradco opened #5774 "Add kubevirt_vmi_cpu_cores metric"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
We would like to introduce a new metric, kubevirt_vmi_cpu_cores, that reports the number of cores allocated to each VMI.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl versi

[2021-06-07 08:02] RamLavi commented on #5773
Hey @ezio-auditore , thank you for raising this issue. Can you attach the kubemacpool logs (both `kubemacpool-cert-manager` and `kubemacpool-mac-controller-manager`)?

[2021-06-07 08:53] ezio-auditore commented on #5773
[kubemacpool-cert-manager-6557fb8648-wj5cc-manager.log](https://github.com/kubevirt/kubevirt/files/6607352/kubemacpool-cert-manager-6557fb8648-wj5cc-manager.log)
[kubemacpool-mac-controller-manager-7df76694f-tg9bb-manager.log](https://github.com/kubevirt/kubevirt/files/6607353/kubemacpool-mac-controller-manager-7df76694f-tg9bb-manager.log)
@RamLavi Uploaded the required logs

[2021-06-07 16:46] mazzystr opened #5784 "Create dns CNAME for metrics load balancer"
Create dns CNAME for metrics load balancer.  The address of this load balancer will be set in the CNAME `metrics.prow-workloads.ci.kubevirt.io`.  The CNCF manages the kubevirt.io domain since the project is a CNCF sandbox project.  Please work with them to have the CNAME created.

Prerequisite: an A record must be created first for load balancer.  Tagging @fgimenez to provide this info.

[2021-06-07 18:14] davidvossel commented on #5744
Okay, so it sounds like we're circling around two tunings. A global default runtimeClass for KubeVirt VMIs, and per user settings of runtimeClass.

I definitely see the value in the ability to set a global runtimeClass. That seems pretty straight forward, like it belongs somewhere on the KubeVirt CR. Probably `kv.Spec.Configuration.DefaultRuntimeClassName`

I'm concerned we might be getting into t

[2021-06-07 21:53] mlsorensen opened #5785 "cloud-init iso fails when kubelet ephemeral dir is on 4k block storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Got error using cloud-init, virt-launcher goes to 'complete' state:
``` Cannot get 'write' permission without 'resize': Image size is not a multiple of request alignment'```

This is thrown by newer Qemu: https://www.mail-archive.com/qemu-devel@nongnu.org/msg723575.html

It seems perhaps the iso file is not created in mult

[2021-06-07 23:43] mlsorensen commented on #5785
Looks like if I run the cloud init iso through 'dd bs=4096 conv=sync' after it is created with genisoimage in cloud-init.go, that is sufficient to fix the issue. It writes out the rest of the partial block with nulls and makes the resulting iso 368 KiB instead of 366KiB. The VM then comes up properly.

[2021-06-08 00:24] mlsorensen commented on #5785
/assign mlsorensen

[2021-06-08 03:02] gojoy opened #5786 "keep virt-launcher pod name unchanged when restart vm"
**What happened**:
when I do `virtctl restart testvm`  ,the pod virt-launcher-testvm-jmvxn will be deleted and re-created  by virt-controller,
and virt-launcher pod name change to virt-launcher-testvm-wx8rd

**What you expected to happen**:
the virt-launcher podname keep unchanged when restart vm

**How to reproduce it (as minimally and precisely as possible)**:
1 start vm
2 restart it
3 the virt-

[2021-06-08 06:53] rmohr commented on #5785
That sounds like a good quick-fix. Apart from that would it make sense to file a bug against `genisoimage`?

[2021-06-08 08:46] dhiller commented on #5175
/remove-lifecycle stale

[2021-06-08 08:54] RamLavi commented on #5773
Hey @ezio-auditore thank you for the logs.
I'm missing the HCO CR you were using.
I tried running with this and it worked without issues:
[code]
Please revisit using this cr and update on this issue.

[2021-06-08 16:03] #5762 closed

[2021-06-08 16:20] mlsorensen commented on #5785
@rmohr that's a good idea. I researched this and learned a few things - it seems [genisoimage is a fork of mkisofs](https://wiki.debian.org/genisoimage) that may not really be getting much attention in terms of features. In the meantime I guess xorrisofs is a sane alternative that seems to be available on most distros.

The xorrisofs utility seems mkisofs backward compatible. By default it also ge

[2021-06-08 16:28] mlsorensen commented on #5785
It looks like if I try to put > 4MB of data into an iso with 4k cylinders requested, it automatically chooses alternate sizes and still works:

<pre>
$ xorrisofs -v -J -r -V CIDATA -partition_sec_hd 2 -partition_hd_cyl 4 -partition_cyl_align on -o test.iso iso/*
xorriso 1.5.2 : RockRidge filesystem manipulator, libburnia project.

Drive current: -outdev 'stdio:test.iso'
Media current: stdio file,

[2021-06-09 04:40] ezio-auditore commented on #5773
Hi @RamLavi  I have used the above hco CR you have posted but I am facing the same issue.

[2021-06-09 14:17] rmohr commented on #5785
That sounds great. `xorrisofs` would work for me.

[2021-06-09 14:40] rmohr commented on #5786
@gojoy are you surprised that the pod gets recreated on a `restart` (restart vs reboot)? Or do you care about the pod name specifically?

[2021-06-09 14:48] rmohr commented on #5774
@sradco could you provide some use-cases? Do you want to use it to identify the system load? Did you check if you get enough metrics through default metrics from k8s or node-exporter for your use-case?

[2021-06-09 14:49] rmohr commented on #5773
@RamLavi @ezio-auditore is this more an HCO issue, a kubemacpool issue or a kubevirt issue?

[2021-06-09 14:53] rmohr commented on #5768
@yangxiaoliang the VM may have an issue with virtio-non-transitional virtio drivers. Can you try setting `spec.domain.devices.useVirtioTransitional` to `true` to see if going back to the old `virtio` version solves your issue? If not, could you try to reach the VM via `virtctl vnc` and share a screenshot?

[2021-06-09 15:02] rmohr commented on #5736
It is interesting that that we can't change this file:

[code]

This line

[code]

indicates that selinux may be set up in a non-standard way. Can you influence that somehow on STACKIT?

[2021-06-09 15:08] awels commented on #5632
What version of virtctl are you using? and what version of CDI?

[2021-06-09 15:47] ezio-auditore commented on #5773
@rmohr I feel it is more of an kubemacpool issue , but I can only guess since that is the only component which is not working here.

[2021-06-10 03:21] #5667 closed

[2021-06-10 07:13] rmohr commented on #5773
Would it make sense to open an issue at https://github.com/k8snetworkplumbingwg/kubemacpool or https://github.com/kubevirt/hyperconverged-cluster-operator/issues and continue the discussion there?

[2021-06-10 09:08] lixiaobing1 opened #5800 "1"

[2021-06-10 10:06] vatsalparekh commented on #4187
/reopen
/remove-lifecycle rotten

[2021-06-10 12:00] k-p-ani opened #5802 "VM not booting when using qcow2 image created from vhd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
We created  qcow2 ubuntu VM image from ubuntu **vhd** image. Then upload qcow2 image using **virtctl image-upload** command, then used VM manifest (attached with the post) to create ubuntu VM instance.
[vm.yaml.zip](https://github.com/kubevirt/kubevirt/files/6631089/vm.yaml.zip)

**kubectl** get vmi show vmi as in running

[2021-06-10 16:29] vielmetti commented on #3558
Looks like #3415 was merged - however the latest build at https://github.com/kubevirt/kubevirt/releases/tag/v0.42.1 does not have an arm64 version of `virtctl`.

[2021-06-10 17:35] rmohr commented on #3558
The code is now ready for arm but the e2e testing is still woo. Before we can at least provide a minimum guarantee that arm works (running a critical mass of e2e tests) we will not release arm artifacts. You can cross compile kubevirt at this stage easily.

Having said that, a virtctl version of virtctl could be provided any time. It has nothing to do with arm support in general. It would fall int

[2021-06-11 01:50] yangxiaoliang commented on #5768
Thank you @rmohr , I'll try and get back to you.

By the way, where I can get a roadmap of KubeVirt, we have did some POC testing recently, and next we want to make it works for production environment , so I want to know some future plans about KubeVirt, could you help me ? thanks~

[2021-06-11 01:54] vladikr commented on #5802
Hi, thanks for reporting this.

I wonder if you have managed to run a VM with this converted image on Libvirt or QEMU directly (without KubeVirt being involved) ?

I doubt that there is an issue with the image conversion, however, my concern would be that this image was created on hyper-v with a different disk bus. KubeVirt's deafult disk bus is virtio.

[2021-06-11 02:42] yangxiaoliang commented on #5768
Set spec.domain.devices.useVirtioTransitional to true, the windows vm can be launched successfully and works fine, thanks for your help @rmohr .

[2021-06-11 06:18] ezio-auditore commented on #5773
Added a new issue under kubemacpool to continue discussion there.
https://github.com/k8snetworkplumbingwg/kubemacpool/issues/313#issue-918277787

[2021-06-11 06:18] #5773 closed

[2021-06-11 07:14] rmohr commented on #5768
I fear we have no official roadmap in a sense of at which date we will go to a `v1` release. Incompatibilities like the one you encountered should however still be an absolute exception.

Let me also add that going to `v1` would be more than just a "technically ready" mark for the project (it is used in production and should be technically ready). We are for instance preparing to get out of the CN

[2021-06-11 07:14] rmohr commented on #5768
Perfect. Thanks for the confirmation.

/close

[2021-06-11 07:14] #5768 closed

[2021-06-11 07:16] rmohr commented on #5802
In addition to what @vladikr just wrote, it may make sense to connect to the VM via `virtctl vnc` and see what you see at the boot-screen. According to the `virtctl console` output above the VM is at least trying to boot. You may get more hints from the `vnc` screen.

[2021-06-11 07:18] rmohr commented on #5800
@lixiaobing1 would you mind checking `kubectl get pods --all-namespaces` and check the `virt-api` pods? Maybe they can't get scheduled? They are hosting the webhook which the apiserver tries to reach.

Could you explain what you mean with `reboot`? How big is your cluster? What did you reboot?

[2021-06-11 10:20] dirien commented on #5736
@rmohr, we use a standart non customise Flatcar image. I just verified it, starting Flatcar in Openstack and spawn RKE on it.

[2021-06-11 13:36] dcgsteve commented on #5802
@vladikr / @rmohr - thanks for your replies :)

I work with OP and given your comments am downloading the Windows image we've used to my home lab where I will test directly with libvirt etc.

We've also previously done Windows image testing with K3S/KubeVirt and it's worked - so will run through that again with this particular image to see whether that is still true (or not!)

Also, we'd added the

[2021-06-11 13:36] wuestkamp commented on #4573
is there any work/proposal atm for a "live VM snapshot/restore" feature?

[2021-06-11 13:41] rthallisey commented on #4573
@wuestkamp there's a [proposal](https://docs.google.com/document/d/1-V0KwjCJiGUeX1_XGRRbEql-zwDmT2nuRQzdmqcIT54/edit?usp=sharing), but the work has not begun.

[2021-06-11 21:01] mlsorensen opened #5810 "Auto-provision of empty PVC results in disk.img virtual size too large to fit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I ran into a case where a VM would not start up. This surfaced at virt launcher as:
[code]
Looking into it further, it seems the runtime could not apply selinux labels:

[code]

This disk image was created automatically by KubeVirt on an empty 1000Gi PVC using XFS:

[code]

Based on these numbers it seems that:
1) The 20k

[2021-06-11 21:09] mlsorensen commented on #5810
I *think* we are just taking stat `bavail` literally here:

https://github.com/kubevirt/kubevirt/blob/870c50fb2b79293cc5ed8e188275deda252cfb31/pkg/host-disk/host-disk.go#L100

I guess a configurable overhead could be subtracted? However I'm not sure there's one sane value for all use cases. I suppose it depends on why that last little chunk of 'avail' is unusable, and that may depend on the FS typ

[2021-06-11 23:42] mlsorensen commented on #5810
FWIW, I'm able to reproduce in a sort of general way by just XFS formatting a flat file, mounting it, and trying to reach the reported 'available':

[code]

I think this may demonstrate that if we are in fact doing a stat and making disks equal to the 'available', we can run out.

[2021-06-12 08:55] fanriming opened #5811 "VM with sriov does not work properly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The VM with VF does not work properly, the following is the error log for virt-launcher:
[code]
But with native KVM and libvirt in host it work, specifications like that:
[code]

**Environment**:
- KubeVirt version (use `virtctl version`):
Client Version: version.Info{GitVersion:"v0.28.0", GitCommit:"340a0d45524b2861c14b276ab18bd5fb

[2021-06-12 11:00] dcgsteve commented on #5802
It's all got worse now lol!  I can't get the process to work on Minikube (tried K3S originally and *think* it was working with this process but need to re-install a box with K3S on to make sure).

Would someone mind having a look through the below (sorry for length!) and seeing whether I'm doing something stupid ???

# On Windows 10 Hyper-V
- Installed eval Windows 2016 Server Desktop
- Disable fi

[2021-06-12 11:43] dcgsteve commented on #5802
NB. Am trying next with an Ubuntu VHDX in case it's a Windows specific thing!

[2021-06-13 13:41] wuestkamp opened #5815 "virsh console - character device console0 is not using a PTY"
I cannot get access to the console of the VM, fedora in this case, but also alpine or ubuntu same issues.
SSH connection works.

[code]

**Environment**:
- KubeVirt version (use `virtctl version`): v0.42.1
[code]
- GKE 1.19 with ubuntu and nested-virt enabled, same if using debug.emulation

**Workaround 1**:
https://github.com/kubevirt/kubevirt/issues/1684
not working, there is no binary `/usr/sha

[2021-06-13 15:37] dcgsteve commented on #5802
Update:

I've managed to get the Windows and Linux VM's work on minikube/kubevirt 👍 Changing the yaml from virtio to sata did the trick for Windows and the Linux one worked fine straight off.

So just need to try and figure out why Anthos on bare metal is reacting differently to the same VM yaml :(  I will ask the team to destroy and spin up a new Anthos host as we have tested out quite a few diff

[2021-06-14 06:17] teo-tsou opened #5816 "TCP socket maintenance after Live Migration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

I have a VMI that runs a python TCP Socket Server. Clients from other VM's connect fine to the server. But when I Live Migrate the VMI , most of the times the connection is lost at the begining of live migration (while clients are sending messages) and the clients getting this error: socket.error: [Errno 104] Connection r

[2021-06-14 11:25] dhiller opened #5819 "Replace offending language"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have several offending terms within the repo and need to fix that.

(Note: please add to this if you find something)
I.e.
* `master`: https://github.com/kubevirt/kubevirt/search?q=master

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kno

[2021-06-14 11:50] dhiller opened #5821 "Move from travis-ci status badge to kubevirt prow status badge"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We currently have a travis ci badge on our repo landing page.

**What you expected to happen**:

We should display a kubevirtci prow badge on the repo landing page: https://github.com/kubernetes/test-infra/blob/30b25769786707a2b0f91e6a5cf7f1ea296ec752/prow/jobs.md#badges

**How to reproduce it (as minimally and precisely as possibl

[2021-06-14 15:24] dcgsteve commented on #5802
I picked the latest virtio ISO I could find (0.1.190) so I guess it's not that? However, as the SATA route works then I don't see any downsides to letting KubeVirt use that instead? I'm guessing the performance differences not that different as they are emulated?

The really really good news though is that when I've tried exactly the same on a clean fresh Anthos deployment, it works there too :)

[2021-06-15 04:22] gidde8 opened #5828 "Validation error during VM pod creation using kubectl"
Hi,

I am trying to add few parameters to kubevirt yaml specification and adding necessary code changes in kubevirt.

Added following two parameters into DomainSpec in the file **_staging/src/kubevirt.io/client-go/api/v1/schema.go_**
[code]

Yaml changes:
[code]

With above added changes trying to do launch VM using kubectl.
[code]

- Is it okay to add missing parameters into schema ?
- Highly app

[2021-06-15 06:00] k-p-ani opened #5829 "Patching of DataVolume resource not allowed and Patching of VM resource not reflected on VMI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Patching of resource "Data Volume" and "VirtualMachineInstance", not allowed.
Patching of resource "VirtualMachine" is not updating corresponding "VirtualMachineInstance" resource.

**What you expected to happen**:
We are trying to use GitOps (using ArgoCD) to deploy "Data Volume" and "VirtualMachine". When ever a new qcow

[2021-06-15 09:00] gojoy commented on #5786
@rmohr yes，we allocate IP by pod name in IPAM ,when virt-launcher  pod name changes,VM IP changes too. VM IP changing when restart  is not a good expectation. so is there a way to keep virt-launcher pod name unchanged when restart vm?
thanks

[2021-06-15 09:47] rmohr commented on #5786
We change the IP to by default have on the VMI the same IP like on the pod. This can cause issues if VMs are not stateless. For this case we a different network binding method which uses masquerade: https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#masquerade

The disadvantage is that the VM does not have the same IP internally, which may not work for all use-cases.

[2021-06-15 09:49] PackBot1 opened #5832 "Kubevirt with OVS-DPDK"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: I’m trying to deploy VMs using Kubevirt and OVS-DPDK

**What you expected to happen**: VMs deployed with vhost-user interfaces and configured for OVS-DPDK

**How to reproduce it (as minimally and precisely as possible)**: Deploy VMs using Multus and Userspace CNI. I understand that this solution doesn’t work with kubevir

[2021-06-15 12:29] sradco opened #5834 "doc-generator is not working as expected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When adding new metrics, they are added with a "Other metrics" header.
When adding several PRs with new metrics we get several "Other metrics" headers.

The file becomes cluttered and hard to read.

**What you expected to happen**:
We would like to remove the "Other metrics" headers.
We would like to have the metrics desc

[2021-06-15 20:58] #5657 closed

[2021-06-15 21:18] teo-tsou commented on #5367
Having the same issue. Can you please tell me how do you solve it?

[2021-06-15 22:38] telmich opened #5837 "kubevirt tries to create existing network device eth0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I tried to create a VM using the following manifest:

[code]

With this configuration the following errors appear in the log:

[code]

**What you expected to happen**:

A running VM

**How to reproduce it (as minimally and precisely as possible)**:

Install a cluster with IPv6, calico and try to create that particular VM

[2021-06-16 02:47] lixiaobing1 commented on #5800
@rmohr cc:
virt-api-868b987fc6-4m7mq                         1/1     Running   1          4d19h
virt-api-868b987fc6-lm7k2                         1/1     Running   1          4d19h

just only one node(master/minion), to test persistence to reboot.

[2021-06-16 07:04] rmohr commented on #5800
@lixiaobing1 that is  interseting. Since the message says `no endpoints available for service "virt-api` it looks like the `virt-api` service does not have any `endpoints`. Could you check the `virt-api` endpoints? If nothing is listed there, then the `apiserver` does not know what to call.

[2021-06-16 10:13] #5785 closed

[2021-06-16 11:45] sradco commented on #5774
@rmohr  We want to be able to calculate the total allocated CPUs vs. the total usage.
This is on the VMI level. We dont get that from k8s or node-exporter.
For longer term this will allow the cluster growth.

[2021-06-16 14:58] qinqon commented on #5837
Can you verify if virt-handler got restarted in the middle of the deploy ?
[code]

[2021-06-16 15:23] telmich commented on #5837
That does not look to be the case:

[code]

I have also just recreated the VMI and the describe of it looks like this:

[code]

Checking the modules on the host:

[code]

[2021-06-16 15:55] amino19 commented on #5295
Or we can just follow the <a href="https://github.com/kubernetes/community/tree/master/contributors/guide"> guide </a> itself. :slightly_smiling_face:

[2021-06-17 03:20] lixiaobing1 commented on #5800
@rmohr it seems like virt-api has endpoints, but virt-controller and virt-operator have not:
kubectl get ep -A
NAMESPACE     NAME                          ENDPOINTS                                                           AGE
admin         kubevirt-operator-webhook     192.169.0.21:8444,192.169.0.7:8444                                  83m
admin         kubevirt-prometheus-metrics   192.169.0.11:

[2021-06-17 03:22] fanriming commented on #5811
Yes, I use sriov-device-plugin sriov-cni and they work fine. Now sriov works smoothly, this problem seems to be caused by my default CNI exception.
Thank you for your reply.

[2021-06-17 04:45] k-p-ani commented on #5829
Hello,
Any one, with any updates on this.

[2021-06-17 06:29] gojoy commented on #5786
stateful applications running in VM also need  stable and unique network identifiers. masquerade mode can not provide it because pod IP and pod name can changes when restart.  Is there any potential disadvantage to keep virt-launcher pod name unchanged ?  and are there some concerns when virt-controller create launcher pod with a random name instead of stable name like statefulset controller
thank

[2021-06-17 06:49] rmohr commented on #5786
Let me add here that the pod name has nothing to do with the pod IP. Even if we would keep the name the IP would change every time (also a VM can have more than one pods from time to time, like for instance when migrations are happening).

In general no matter if bridge or pod, I would recommend that you access and announce applications via either clusterIP services (https://kubevirt.io/user-guide

[2021-06-17 06:51] rmohr commented on #5800
@lixiaobing1 that is fine, only `virt-api` needs  a service for the webhooks. Since there are endpoints but the apiserver said that there are none, does it work now? If not, can you check the apiserver logs? In that case the issue seems to be that your control plane (apiserver) may not be able to reach the service for virt-api.

[2021-06-17 07:25] lixiaobing1 commented on #5800
@rmohr yes, apiserver can't find endpoints for virt-api:

E0617 02:26:17.261488       1 dispatcher.go:129] failed calling webhook "virtualmachineinstances-update-validator.kubevirt.io": Post "https://virt-api.admin.svc:443/virtualmachineinstances-validate-update?timeout=30s": no endpoints available for service "virt-api"
I0617 02:26:17.261532       1 controller.go:606] quota admission added evalua

[2021-06-17 07:46] rmohr commented on #5800
@lixiaobing1 this is weird. Could you share `kubectl get services -n admin  virt-api -o yaml` and `kubectl get endpoints -n admin virt-api -o yaml`?

[2021-06-17 07:55] qinqon commented on #5837
There are two different errors here the one from the description
[code]

And the one for the second run
[code]

By default the type of we are using "bridge", can you try with "masquerade" ? it would be like this

[code]

[2021-06-17 08:11] fgimenez commented on #5753
/assign @enp0s3

[2021-06-17 08:12] qinqon commented on #5837
Also can  you attach the logs from virt-handler and virt-launcher ?

[code]

[2021-06-17 08:14] qinqon commented on #5837
Can you try tp create at tap decice manually at your alpine nodes ? just to be sure that tuptap is working fine.

[2021-06-17 08:21] lixiaobing1 commented on #5800
@rmohr the reason of calling faied maybe the following: port 443 occupied, is that right?
netstat -anp|grep 443|grep LISTEN
tcp6       0      0 :::443                  :::*                    LISTEN      9466/httpd

[2021-06-17 08:24] phoracek commented on #5811
Awesome! Closing the ticket then, let us know if you hit any new SR-IOV roadblocks.

/close

[2021-06-17 08:29] qinqon commented on #5837
Apart from the tap device creation issue it looks like VMI it's being re-enqueue but since this is a critical error it should not happend
[code]

[2021-06-17 08:46] rmohr commented on #5800
Normally this is not an issue. The port should be used on the ClusterIP, not on the host IP. Did you check the yamls?

[2021-06-17 09:04] lixiaobing1 commented on #5800
@rmohr ok, see the following:
kubectl get services -n admin virt-api -o yaml
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubevirt.io/install-strategy-identifier: f466793a56c89b453ff87a3175333d6a218afa2f
    kubevirt.io/install-strategy-registry: swr:6666/admin
    kubevirt.io/install-strategy-version: v1.21.20.05.8872671
  creationTimestamp: "2021-06-17T01:53:21Z"
  labels:
    app.k

[2021-06-17 09:20] rmohr commented on #5800
Ok, so from that perspective everything looks fine. There is probably something wrong with your networking inside the cluster. Can you enter the apiserver pod and check if you can do something like `curl https://192.169.0.24:8443` (direct endpoint) and `curl https://10.254.183.19:443` (service endpoint)?

[2021-06-17 10:15] #4677 closed

[2021-06-17 10:23] dhiller opened #5857 "[Conformance][test_id:1780] [It] [outside_connectivity]should be able to reach the outside world [IPv6] fails on k8s 1.17 kubevirtci provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/label sig/network

**What happened**:
[[Conformance][test_id:1780] [It] [outside_connectivity]should be able to reach the outside world [IPv6] fails on k8s 1.17 kubevirtci provider](https://github.com/kubevirt/kubevirt/blob/70acb0f2277ea24f7f7b8ec17ae3ccab19ca4de0/tests/network/vmi_networking.go#L804) fails on many runs against the k8s-1.1

[2021-06-17 10:25] rmohr commented on #5857
Are we still blocked on the 1.17 rook lane regarding to dropping?

[2021-06-17 10:27] dhiller commented on #5857
yes, we agreed to combine the sig-storage with the rook-ceph lane, but on that topic no progress has been made yet.

[2021-06-17 10:28] fgimenez commented on #5857
SR-IOV lane runs on 1.17 too.

[2021-06-17 10:29] phoracek commented on #5857
This seems to be happening on on 1.17 while the test passes on all newer versions. I'm not convinced we should invest any time in debugging this on a no longer supported version of Kubernetes. While waiting for the Rook lane to be converted, could we just skip this test?

SR-IOV lane is being converted now. Also, it uses Kind, so it would not be affected if we delete the provider.

[2021-06-17 10:32] dhiller commented on #5857
By skipping the test you mean removing it in kubevirtci, i.e removing/making optional the `check-cluster-up-1.17` lane?

[2021-06-17 10:33] dhiller commented on #5857
@enp0s3 FYI

[2021-06-17 10:34] dhiller commented on #5857
@phoracek By skipping the test you mean removing it in kubevirtci, i.e removing/making optional the `check-cluster-up-1.17` lane?

[2021-06-17 10:52] lixiaobing1 commented on #5800
@rmohr for virt-api endpoints:
kubectl get ep -A
NAME ENDPOINTS AGE
virt-api 192.169.0.11:8443,192.169.0.16:8443 83m

in kube-apiserver container:

/ # curl https://192.169.0.11:8443
curl: (7) Failed to connect to 192.169.0.11 port 8443: Connection refused
/ # curl https://192.169.0.16:8443
curl: (60) SSL certificate problem: unable to get local issuer certificate
More details here: https://curl.h

[2021-06-17 10:55] dhiller commented on #5857
See kubevirt/kubevirtci#407

[2021-06-17 12:34] xpivarc opened #5859 "Notify server can go to crash-looping and handler functionality will degrade"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
While simulating ioerrors I noticed we sent a [error watch event](https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-launcher/notify-client/client.go#L219) that is causing shut down of notify server. This server is serving all VMs on the node and is used to provide domains to our decisions in the sync.

The ioerror

[2021-06-17 12:35] xpivarc commented on #5859
/assign

[2021-06-17 14:18] AlonaKaplan commented on #5837
Once the critical error is returned the vm status is changed to `Failed`. It means `vmi.IsFinal()` returns `true`.  The next re-enqueue cycles will just take care of removing the vmi, `setPodNetworkPhase1` won't be invoked.

[2021-06-17 15:24] AlonaKaplan commented on #5837
Seems that the root cause to the issue is some problem to create the tap device. But after the first error we got regarding the tap device, since the error is critical, the vm phase should be changed to `Failed` and not more attempts to start the vmi should be done. But according to the log and to the `describe` snippet from another [comment](https://github.com/kubevirt/kubevirt/issues/5837#issuec

[2021-06-17 19:37] lhchang commented on #3934
I am having issues with successfully SSH'ing into the fedora machine as well. Using the updated changes by specifying private key instead of public key, but eventually the connection still times out.

I am using a Minikube environment.

[2021-06-17 19:50] lhchang opened #5860 "Lab 2: Cannot SSH into Fedora VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Following Lab 2 Tutorial and cannot SSH into the Fedora machine
**What you expected to happen**:
Being able to SSH into the Fedora machine using client's private SSH key
**How to reproduce it (as minimally and precisely as possible)**:
insert client public key into downloaded YAML file using sed, create VM as per instruct

[2021-06-17 20:31] lhchang commented on #5860
Similar to an issue found about a year ago, but after the changes were made: https://github.com/kubevirt/kubevirt/issues/3934

[2021-06-17 23:17] #3746 closed

[2021-06-18 00:12] MarkSpencerTan commented on #3743
@rmohr is there any chance on supporting nvme as a device option in the newer libvirt images? We've maintained a custom libvirt image from above but I'm not sure how long we can maintain that as newer versions of kubevirt gets released.

We've noticed that the WORKSPACE file doesn't have the libvirt image there anymore on v0.42.0, is there a new place we can override the libvirt image?

[2021-06-18 03:49] teo-tsou commented on #5860
I had the same issue. I found a workaround by changing the vm name (corresponds to the hostname) to fedora (default hostname) and configure a password for it.

[code]

[2021-06-18 04:01] gojoy commented on #5786
@rmohr got it,Thanks for you suggestion

[2021-06-18 04:17] vaibhavraizada-hcl opened #5861 "VMI error: failed to find a sourceFile in containerDisk........../disk: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
VMI failed with below error

failed to find a sourceFile in containerDisk containerdisk: Failed to check /proc/1/root/home/docker/node003/docker/devicemapper/mnt/d3575d97a42289078ac894d2002ad8e8d90a8d424a16d8d84bd8f7223e0a31c1/disk for disks: open /proc/1/root/home/docker/node003/docker/devicemapper/mnt/d3575d97a42289078a

[2021-06-18 06:09] vasiliy-ul commented on #5861
I remember there was a similar issue reported some time ago https://github.com/kubevirt/kubevirt/issues/461.  *0.35.0* is pretty old version. I think the problem was fixed near ~0.37.0. Could you maybe try the latest KubeVirt release 0.42.1?

[2021-06-18 07:20] vaibhavraizada-hcl commented on #5861
@vasiliy-ul I installed version 0.42.1, the previous error is now gone but I am seeing a new error:

`
 Warning  SyncFailed        108s               virt-handler               server error. command SyncVMI failed: "LibvirtError(Code=1, Domain=10, Message='internal error: process exited while connecting to monitor: 2021-06-18T07:07:55.989747Z qemu-kvm: -blockdev {\"driver\":\"file\",\"filename\":\

[2021-06-18 07:43] vasiliy-ul commented on #5861
You can try setting `cache: writethrough` in you VMI spec for the disks. Though according to the docs https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#disk-device-cache it shold automatically detect what the underlying fs actually supports.

[2021-06-18 07:44] #5810 closed

[2021-06-18 07:45] rmohr opened #5862 "We miss e2e coverage regarding to PVCs with constrained disk spaace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

We have tests if we see the expected disk sizes in the guest when requesting PVCs, but we don't have tests which check if we use all available disk space of the PVC (which can in practice be less than requested or exactly the size).

**What you expected to happen**:

We should test coverage for that to test this

[2021-06-18 07:45] rmohr commented on #5862
@mlsorensen FYI

[2021-06-18 07:47] rmohr commented on #5861
Maybe we don't check it for all disk types. Definitely sounds like a bug.

[2021-06-18 07:50] rmohr commented on #5859
@xpivarc good catch. This should really not be a watch event error. The error should be visible through the transferred data.

[2021-06-18 07:54] rmohr commented on #5829
@k-p-ani wile I can't speak for the `DataVolume`, that changes on the VM are not immediately reflected is a design decision. You have to restart the VM after you change the spec. The VM behaves like traditional VMs in other virtualization platforms. You reconfigure and on the next restart you get the new config. Here it differs from e.g. a Pod `Deployment`, but also from a `VirtualMachineInstanceR

[2021-06-18 08:19] telmich commented on #5837
That's really strange, because creating the tap device works without problems:

[code]

[2021-06-18 09:00] vasiliy-ul commented on #5861
I think the issue here is that `SetDriverCacheMode` is called in `preStartHook` while the ISO is actually generated later in `SyncVMI`. And `checkDirectIOFlag` returns `true` in case the file is not found:

https://github.com/kubevirt/kubevirt/blob/edf8b8f70fa83fcd7f492bc4953a7852bb349bed/pkg/virt-launcher/virtwrap/converter/converter.go#L258-L268

So eventually the driver cache mode is not set fo

[2021-06-18 10:43] qinqon commented on #5837
@telmich can you attach full logs for virt-launcher and virt-handler ? even journal and dmesg of nodes would help.

[2021-06-18 11:18] kwiesmueller opened #5868 "[bazel] --features=race is no longer supported"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The bazel flag `--features=race` is no longer supported.

[code]

**What you expected to happen**:
We should switch to the new config exposed by `rules_go`: `--@io_bazel_rules_go//go/config:race`

**How to reproduce it (as minimally and precisely as possible)**:
Run `make test`

**Anything else we need to know?**:
I just

[2021-06-18 11:25] vaibhavraizada-hcl commented on #5861
I tried this...and it works...
After adding `cache: writethrough` in VMI spec...it is running successfully

Thanks a lot !!

[2021-06-18 11:28] telmich commented on #5837
Latest output from the above VMI definition:

[code]

[code]

[code]

virt handler and dmesg is a bit more excessive, attaching it separately.

[dmesg-server49.log](https://github.com/kubevirt/kubevirt/files/6676735/dmesg-server49.log)

[virt-handler-t4rxw.log](https://github.com/kubevirt/kubevirt/files/6676729/virt-handler-t4rxw.log)

Let me know if anything is missing. I can also grant you acces

[2021-06-18 13:53] #5861 closed

[2021-06-19 07:06] t3hmrman commented on #5069
Thanks for the tip @wenxinlee2015  -- I just ran into this with [k0s](https://github.com/k0sproject/k0s). That project uses a custom kubelet directory (`/var/lib/k0s/kubelet`) so to fix it I symlinked to get around this:

[code]

In my case KubeVirt was already installed so I needed to also move the contents of the existing folder @ `/var/lib/kubelet` (minimally, it contains `device_plugins` and a

[2021-06-19 15:57] rthallisey opened #5878 "KubeVirt Performace test framework"
Create a test framework that captures performance metrics and compiles a report.

### Requirements
- Usable in CI and in local developer environments
- Reports results to stdout
- Framework can generate different types of load
    - Density/Burst: generate a high VM/VMI count as fast as possible
    - Stress: slowly ramp up to a high VM/VMI count
    - Soak: generate high VM/VMI count and determin

[2021-06-19 20:18] wuestkamp commented on #5815
To investigate my VM network issues, why I wanted to use `virsh console`, I did now the following:

[code]

now edit the state.xml, replace

[code]

with

[code]

then you can do:

[code]

**BUT** the issue is that the container will end, because the process `virt-launcher` will exit if the libvirt domain is gone.
for this (just for debugging) I changed `pkg/virt-controller/services/template.go` t

[2021-06-20 13:23] #4651 closed

[2021-06-20 22:34] greg-bock commented on #5290
This issue could lead to data loss when the underlying device is using the wrong cache settings.

[2021-06-21 03:54] #5786 closed

[2021-06-21 04:24] gojoy opened #5881 "VM has second networks using multus but not configured"
**What happened**:
I create VM with secondary networks using [multus](https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#multus) , but the second nic in vm is not configured with dhcp and has no IP assgined.

[code]

**What you expected to happen**:
the second nic in vm has IP configured by dhcp

**How to reproduce it (as minimally and precisely as possible)**:
create vm with

[2021-06-21 07:21] k-p-ani commented on #5829
Hi @rmohr
   Thanks for your reply. I need one clarification from your reply "**If you have running: true it will restart the VM**" . Did you mean that if in my VM manifest file I have "**running:true**", then on any changes to VM manifest file, the existing running VM instance will get auto restarted and changes applied to VM manifest will get reflected? I tried this, as my VM manifest has "runni

[2021-06-21 07:30] rmohr commented on #5829
Sorry, I think I lost a **not** in the sentence. It will **not** restart the VM immeidiately. The changes will only be reflected on the next start.

[2021-06-21 07:54] k-p-ani opened #5885 "write_files , runcmd cloudinit configuration not working for VM manifest"
kind bug

**What happened**:
I am trying to configure network data for my Ubuntu VM image from within "**cloudInitNoCloud**".
I was going through below link
https://kubevirt.io/user-guide/virtual_machines/startup_scripts/#injecting-ssh-keys-with-cloud-inits-cloud-config
. In the above link there is reference to another link "**Cloud-init Examples**" (see below link) which has more examples on how

[2021-06-21 08:02] vasiliy-ul commented on #5753
I alsos hit the same test failure a couple of times https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirt/5872/pull-kubevirt-unit-test/1406611309457313792. I see that someone is already assigned to the issue so maybe my findings may help.

The heartbeat period in the failing test is currently set  to **100 Seconds**:

https://github.com/kubevirt/kubevirt/blob/7c3b33528ac

[2021-06-21 08:38] k-p-ani commented on #5829
@rmohr
thanks for quick update.

[2021-06-21 15:26] #4052 closed

[2021-06-21 15:29] rmohr commented on #4052
Fixed in https://github.com/kubevirt/kubevirt/pull/5823

[2021-06-22 04:20] #5829 closed

[2021-06-22 08:54] iholder-redhat commented on #5285
This is already fixed as part of this PR: https://github.com/kubevirt/kubevirt/pull/5495

[2021-06-22 08:55] rmohr commented on #5285
/close

Fixed in https://github.com/kubevirt/kubevirt/pull/5495 in that line: https://github.com/kubevirt/kubevirt/pull/5495/files#diff-1a400d7080998dd966ffced5802774bddef51887b50f04b307e8b7322933d313R20

[2021-06-22 08:55] #5285 closed

[2021-06-22 14:15] rmohr commented on #5753
Right this here is probably the issue. Setting the `devicePluginWaitTimeout` either increasing the `devicePluginWaitTimeout` or reducing the probe count to e.g. 90 would probably eliminate the issue. My expectation that in `1s` exactly 100 probes with a `10ms` poll interval will happen is too optimistic on loaded systems.

[2021-06-22 14:59] fgimenez commented on #5784
@mazzystr the load balancer is already provisioned, the CNAME `metrics.prow-workloads.ci.kubevirt.io` should point to `prow-workloads-2007274-dal09.clb.appdomain.cloud`

@rmohr FYI

[2021-06-22 15:49] #5602 closed

[2021-06-22 20:32] wuestkamp commented on #5473
Same issue, did you solve it?

[2021-06-22 23:37] lhchang commented on #5860
It looks like this workaround fixes the scenario in which I ssh via minikube but outside of minikube and from my host machine, I still cannot SSH using private key.

[2021-06-23 03:23] #5859 closed

[2021-06-23 03:23] #5821 closed

[2021-06-23 07:14] Icedroid opened #5909 "virt-launcher pod network card from vnet0 change to tap0 kubevirt_vmi_network_traffic_bytes_total direction not right"
After upgrade kubevirt, the virt-launcher pod network card from vnet0 change to tap0, and the metric kubevirt_vmi_network_traffic_bytes_total{type="tx"} == transmit bytes,
kubevirt_vmi_network_traffic_bytes_total{type="rx"} == send bytes
It is absolutely opposite.

Old VM:
![image](https://user-images.githubusercontent.com/674647/123056109-25f57600-d439-11eb-82ae-405e4a5470bb.png)
![image](https:/

[2021-06-23 09:19] theKloudcoder commented on #5473
I also hit the same bug, it was working earlier.

[2021-06-23 11:14] rhrazdil opened #5912 "migration of VM with macvtap iface may interrupt traffic until original pod completes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

consider clientVM and serverVM VMs with macvtap ifaces runnig o node A.
When serverVM is migrated to another node, clientVM cannot reach serverVM until
original virt-launcher pod of serverVM completes and releases it's macvtap device.

As soon as the original virt-launcher pod completes, the communication is restored.

P

[2021-06-23 11:14] rhrazdil commented on #5912
/assign

[2021-06-23 11:58] t3hmrman opened #5913 "Allow configuration of alternative kubelet directories"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request

/kind enhancement

**What happened**:
I attempted to install KubeVirt and I couldn't because the distribution of Kubernetes I am using ([k0s](https://github.com/k0sproject/k0s)) uses a non-standard `kubelet` directory (`/var/lib/k0s/kubelet` versus `/var/lib/kubelet`).

**What you expected to happen**:

KubeVirt to offer a way to chang

[2021-06-23 12:05] wuestkamp commented on #5473
created issue over at CDI:
https://github.com/kubevirt/containerized-data-importer/issues/1843

[2021-06-23 14:41] zcahana opened #5920 "Paused VMI shouldn't be marked as ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A VMI with no readiness probe has its `Ready: True` condition set when it's paused.

**What you expected to happen**:

A paused VMI shouldn't be marked as ready, regardless of the readiness probe it defines.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2021-06-23 14:56] davidvossel commented on #5816
@phoracek @AlonaKaplan maybe someone working closer in network integration with kubevirt would be able to answer this?

[2021-06-24 01:58] #4565 closed

[2021-06-24 02:04] #5800 closed

[2021-06-24 02:04] #5174 closed

[2021-06-24 02:05] #4734 closed

[2021-06-24 06:21] nunnatsa commented on #5447
@enp0s3 , @phoracek - This is still happening: 100% of the HCO tests on gcp are failing.

[2021-06-24 06:33] anyushun commented on #3558
Hello @zhlhahaha, I found @luoyunhe working on: `Enable kubevirt CDI on ARM64 platform`, commit: https://github.com/kubevirt/containerized-data-importer/commit/3cfcd4f26137a4554bc4a3834100ba0b5bdceb55

[2021-06-24 06:42] zhlhahaha commented on #3558
Why can not I find this PR in kubevirt/containerized-data-importer project? But I can see this commit in @luoyunhe 's own fork.

[2021-06-24 07:40] rmohr commented on #3558
Seems to be a github feature to reference commits this way on forks. The top of the pages says

[code]

[2021-06-24 07:52] zhlhahaha commented on #3558
Yes, I can see the PR in @luoyunhe 's fork. https://github.com/luoyunhe/containerized-data-importer/tree/v1.34.1-aarch64

[2021-06-24 08:08] phoracek commented on #5447
@nunnatsa could you arrange a debugging session Igor mentions in https://github.com/kubevirt/kubevirt/issues/5447#issuecomment-836314516? I don't see any other way to get the issue identified and fixed

[2021-06-24 08:24] nunnatsa commented on #5447
Even if we'll have long sleep, we don't access to openshift-ci clusters

[2021-06-24 09:14] EdDev commented on #5816
A smooth migration for connections on secondary networks that are L2 only should work as expected with only a few packet losses.

Although I cannot be sure here, I think the problem is the usage of IPAM on the secondary networks. We basically do not support it there.
Could you please try the same without the IPAM part and by just configuring the interface IP manually in the guest or through cloud-

[2021-06-24 12:13] LLLLLBJ opened #5929 "Why not keep the virt-launcher pod running after stopping the VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
The virt-launcher pod was deleted after the VM stopped.
If the VM binds to a specific node, the VMI will stay in pending after stopping and starting if the node has no enough resources.

**What you expected to happen**:
I just want to know why not keep the virt-launcher pod running. Thank you.

**How to reproduce

[2021-06-24 13:42] dhiller opened #5930 "Heartbeat unit test is flaky on CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The heartbeat test fails more than 40% of the time:
https://search.ci.kubevirt.io/?search=node+should+be+set+to+unschedulable+immediately+and+switch+earlier+than+one+minute&maxAge=336h&context=3&type=bug%2Bjunit&name=&excludeName=&maxMatches=5&maxBytes=20971520&groupBy=job

Example:
* https://prow.ci.kubevirt.io/view/gs/

[2021-06-24 14:26] xphyr commented on #4207
Given that the default OSX client requires a password to be used/present and password authentication is not currently supported by kubevirt, I do not think this request can be implemented. An interesting request/issue would be to enable vnc password authentication support within kubevirt to add an additional layer of security to the vnc console, then it might be possible to leverage the OSX client

[2021-06-24 15:24] rmohr opened #5932 "k8s enables structured logging more and more, consider switching to their structured logger"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:

We use our own structured logger and we do quite some magic to get all messages into the logger (glog, klog, and go-log).
Mostly because k8s did not use structured logging.

**What you expected to happen**:

k8s has for quite some time a structured logging WG and they make fast progress. At some point we can swi

[2021-06-24 15:44] rmohr commented on #5932
@davidvossel FYI

[2021-06-25 08:20] #5753 closed

[2021-06-25 08:20] #5930 closed

[2021-06-25 16:21] fabiand commented on #5828
@phoracek can we help here?

[2021-06-25 20:46] xpivarc commented on #5828
Hi @gidde8 ,
did you also run `make` and `make generate` ?

[2021-06-26 02:32] #4800 closed

[2021-06-26 16:32] #4869 closed

[2021-06-28 06:25] rmohr commented on #5929
@LLLLLBJ thank you for your report. If we would keep the pod running, the resources would not be released. This  would not work very well with k8s. If you to keep your workload on a node but stop the VM temporarily, would it work for you if you just use `virtctl pause` or an in-guest reboot?

[2021-06-29 11:43] oshoval opened #5947 "kubectl get vm command,miss STATUS field, when there are lots of VMS in the cluster"
/kind bug

Create around 500 stopped VMs, run `kubectl get vm -A`

**What happened**:
Some VMs miss STATUS field,
and from some point of the output all the VMs miss the field

[code]

Note that `kubectl get vm <NAME>` of one of those who miss the field, do show the STATUS

**What you expected to happen**:
All VMs should show the sttatus

**How to reproduce it (as minimally and precisely as possibl

[2021-06-29 11:50] oshoval opened #5950 "check-provision-k8s-1.19/1.20/1.21 fails when deploying kubevirt"
check-provision-k8s-1.20 fails when deploying kubevirt

https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/kubevirt_kubevirtci/634/check-provision-k8s-1.20/1409468852202377216#1:build-log.txt%3A3953

It seems kubevirt-operator.yaml IMAGE field is broken on the nightly builds
maybe missing `DOCKER_PREFIX`

/cc @fgimenez @ormergi

[2021-06-29 12:04] zcahana commented on #5947
/assign

[2021-06-29 12:16] zcahana commented on #5947
I've managed to recreate this. Note that I'm running in a branch in which another custom VM column has been added (READY, #5791), and as you see it's missing a value too. This seems like a problem in how server-side columns are rendered by the k8s api server.

[code]

[2021-06-29 12:24] zcahana commented on #5947
Playing with it some more, it turns out that after <some time> (<6 minutes in my case), all 500 VMs now show the custom columns.
It's quite likely that these VMs pile up in some queue, waiting to be processed.

[2021-06-29 21:59] #5950 closed

[2021-06-30 04:44] gidde8 commented on #5828
Hi @phoracek & @xpivarc,

Thanks for your replies.

After going through the virt-operator code i figured out that make and make generate need to be run. We no longer see this validation errors after doing make generate.

However, have a question related to **api-rule-violations-known.list** and **api-rule-violations.lis**t file. Here make generate was complaining about newly added fields. To make

[2021-06-30 07:08] oshoval commented on #5947
Cool , so lets close it ?
unless something need to be documented (not sure we need, since its a corner case)

[2021-06-30 07:22] zcahana commented on #5947
Yes, it can be closed.
/close

/cc @marceloamaral @nelsonspbr @rthallisey from sig-scale, this relates to the ongoing work about scalability testing and exemplifies one of the indicators we can track when scale testing.

[2021-06-30 07:22] #5947 closed

[2021-06-30 11:19] rthallisey commented on #5947
When doing burst creation, we see this happen often.  VMI requests pile up and stay in "unset" phase, which is equivalent to no phase, for a period of time.

[2021-06-30 13:39] phoracek commented on #5881
Hello. This is fully dependent on the guest and its own network configuration. In your case, it seems that the guest only runs DHCP client on the first NIC.

Could you try running DHCP client manually on eth1 to confirm that your IPAM works? If it does, you can use cloudInit to force DHCP configuration on the interface via VM spec.

[2021-06-30 13:46] RamLavi commented on #5909
Hey @Icedroid, thanks for reporting this.
Can you mention from which kubevirt version to which version you've upgraded?

[2021-06-30 13:56] rmohr commented on #5885
@k-p-ani that may be an indenting issue. Could you share youre yaml file with the indents which you were using? Here how you can express that on github: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code

[2021-06-30 14:01] rmohr commented on #5913
We have a `--kubelet-pods-dir` on `virt-handler` bit it seems to only cover parts of the places where we would have to be more flexible. Thanks for the report.

[2021-06-30 14:41] phoracek commented on #5920
In general this sounds right, but there may be some consequences to this change we don't see now. Marking as accepted, but would probably merit a design document/considerations - to prove it does not break any existing functionality.

[2021-06-30 14:50] phoracek commented on #5920
@kwiesmueller @rthallisey

[2021-06-30 15:50] wuestkamp commented on #5815
To be clear, I have the issue on default kubevirt releases 0.42.1 and 0.36.3, I only compiled myself for error investigation.
The error was that the ubuntu image I was using was not configured to use dhcp during boot, hence it got no ip from the kubevirt (virt-launcher) dhcp server.
For compiling steps check https://github.com/kubevirt/kubevirt/blob/main/docs/getting-started.md

[2021-07-01 01:53] t3hmrman commented on #5913
No problem! Yeah it's a bit of a low level change and the workaround is working great for me so not high priority but is a nice to have

[2021-07-01 07:41] qinqon commented on #5837
At virt-handler we have
[code]

And at kubevirt the tun device is expected at `/dev/net/tun`, can you verify that you have it there at that path ?

[2021-07-01 07:55] talcoh2x opened #5958 "qemu-kvm get oom-killer"
/kind bug

Hi Kubevirt, we start used with kubevirt as solution for our clusters. As of now still with low scale just to test all and see we can covers all or most of our requirements network/storage/performance/Devices... as of now I must to say your solution is amazing and we have only 2 main issues (As of now :) ).

1) libvirt POD consuming a lot of memory when we allocate VMI with 8 pcie devic

[2021-07-01 08:01] telmich commented on #5837
That is correct:

[code]

[2021-07-01 14:05] fgimenez commented on #5784
@mazzystr any news?

[2021-07-01 16:24] xyz-li opened #5964 "GetKubevirtClientFromRESTConfig should not change the content of parameter"
**This is a FEATURE REQUEST**:
/kind enhancement

GetKubevirtClientFromRESTConfig will change the content of `config` parameter.  This will overwrite the value of field `NegotiatedSerializer` silently.
[code]
This code snipped makes method UseOrCreateObject of  k8s.io/client-go return error likes `W0701 15:23:18.284503   57102 reflector.go:436] pkg/mod/k8s.io/client-go@v0.20.2/tools/cache/reflecto

[2021-07-01 17:10] rraj-gautam opened #5966 "VM doesn't show multiple Disks mounted as PVC"
**BUG REPORT**:

**VM with multiple Disks boots, but the additional disk ( other than virtio ) is not shown inside  window10 os.**:

**Expected Result**:
I want to add additional/secondary hardisk to the vm.

**Here is my vm yaml**:
[code]

[2021-07-01 20:22] rthallisey commented on #5958
cc @vladikr

[2021-07-02 01:10] vladikr commented on #5958
Hey Tal, @talcoh2x

Thanks for reporting this. It's also great to see your project progressing so much!

When QEMU starts a virtual machine, it allocates memory for the guest OS but also uses an additional memory from the host for its monitor, various threads, for VFIO (device passthrough) it generally looks 1Gib of ram, VIRTIO-FS, etc...
In addition, currently, we add an overhead of 1Gib for VFIO

[2021-07-02 01:14] #5754 closed

[2021-07-02 07:25] fanzhangio opened #5969 "cloudinit ConfigDrive iso can not be generated intermittently in window vm"
**BUG REPORT**:

/kind bug

**What happened**:
This issue is reproduced when create a bulk of vmis at the same time with same UUID and a cloudinit configDrive as a cdrom SATA disk (attache to window vm as D: drive).  In some of the times, the configdrive iso file is missing in launcher pod, which does not match the VMI spec and generated XML. The windows vm does not have D drive. The windows hasn'

[2021-07-02 08:22] zhlhahaha commented on #3558
Hi, @luoyunhe, would you like to submit your PR which enables building multi-arch CDI? It would be helpful. Thanks.

[2021-07-02 08:56] luoyunhe commented on #3558
hi, I modified it with reference to your code, but there are still some problems. E.g. test and vddk.

[2021-07-02 08:59] zhlhahaha commented on #3558
NP, if you meet some problems that hard to solve and need help, you can ping me.

[2021-07-02 09:09] luoyunhe commented on #3558
OK，thanks

[2021-07-02 10:36] #5125 closed

[2021-07-02 10:47] talcoh2x commented on #5958
Hi @vladikr,
Yes i can see the "extra" 7G memory. NP i understand it and it's ok.
You want that I'll do memory-overcommit ? it will not impacts on my performance?

[2021-07-03 03:26] luoyunhe commented on #3558
Hi, @zhlhahaha, does the aarch64 architecture support vddk data source? shoud i disable vddk feature in aarch64.

[2021-07-03 16:40] #4731 closed

[2021-07-03 16:40] #4910 closed

[2021-07-03 19:40] #4945 closed

[2021-07-03 22:03] #5964 closed

[2021-07-04 06:01] nunnatsa opened #5973 "HCO Smoke tests constantly fail for v043.0-rc.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
HCO Smoke tests are constantly failing when trying to bump to KubeVirt v0.43.0-rc.0

First attempt: https://github.com/kubevirt/hyperconverged-cluster-operator/pull/1419
Second attempt: https://github.com/kubevirt/hyperconverged-cluster-operator/pull/1423

The tests are failing for lack of iso files. For example, here: htt

[2021-07-04 08:45] zcahana commented on #5920
@phoracek can you please elaborate what such consequences do you have in mind?
I reckon that a proof for not breaking existing functionality should arise when the fix (which I think should be relatively straightforward) passes unit and functional tests.

[2021-07-05 01:48] zhlhahaha commented on #3558
I never use VDDK before, and there is only x86_64 version VDDK on the official website, so I think you can disable this feature for now.

[2021-07-05 02:14] zhlhahaha commented on #3558
I post an issue here to see if VDDK supports ARM64.
https://github.com/vmware/virtual-disks/issues/9

[2021-07-05 04:52] talcoh2x commented on #5958
@vladikr  BTW, just to highlight something without cpu pinning even if qemu process show VIRT of 800GB and VMI resource is only 600G kubevirt VM continue to run without any problem.

[2021-07-05 06:38] qinqon commented on #5837
Next would be to verify that virt-handler can access "/proc/1/root/", can you verify that it exist in the node and also that you can see it on virt-handler pod ?

[2021-07-05 12:50] vladikr commented on #5958
This is essentially requesting more memory on the pod to allow the QEMU process to use more memory.
It shouldn't affect performance.

[2021-07-05 13:12] vladikr commented on #5958
That sounds correct. Without `dedicatedCpuPlacement`, the pod is being started with `Burstable` QoS meaning that the process running inside the pod can use more resources from host, if these are available. On the other hand, to obtain exclusive resources from the host, like CPU, the pod will run with `Guaranteed` QoS, therefore will have `limits` for its requested resources. Such pod will be oom k

[2021-07-05 13:51] orenc1 commented on #5973
FYI @stu-gott & @davidvossel

[2021-07-06 08:58] zhlhahaha opened #5976 "Filter necessary e2e tests that supposed to be run on ARM64"
Start from [crit:high] test cases.
Test result: 68 Passed | 16 Failed | 1 Pending | 784 Skipped
Main failed reason:
1. virt-chroot failed to run
2. can not fund kubectl binary
3. Unsupported cpu feature

Main skip reason:
1. Skip test that requires kubectl binary
2. Migration tests require at least 2 nodes
3. Skip DataVolume tests when CDI is not present
4. Skip networkpolicy test for flannel netw

[2021-07-06 13:41] davidvossel commented on #5973
/release-blocker release-0.43

[2021-07-06 14:52] davidvossel commented on #5973
This appears related to the 4k alignment PR https://github.com/kubevirt/kubevirt/pull/5806

@rmohr @mlsorensen any ideas here why this might be occurring?

[2021-07-06 15:16] rmohr commented on #5973
This is for 0.35, but it shows similar symptoms: https://github.com/kubevirt/kubevirt/issues/5969 without #5806. I wonder if we have some ways how we can end up with a started VM but without the disk being created. On first glance I can't identify an error though.

[2021-07-06 20:19] mazzystr commented on #5784
Working on it.  The CNCF/Matrix has me.

[2021-07-07 06:52] #5929 closed

[2021-07-07 09:14] bkircher opened #5983 "Guest fail to start on minikube with driver=podman"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

tl;dr: Using minikube with *--driver=podman* fails to start guests. Installation of KubeVirt works fine, though.

minikube with podman and CRI-O fails to start guests when following [lab 1](https://kubevirt.io/labs/kubernetes/lab1.html). minikube with kvm2 and nested virtualization works fine.

**What you expected to hap

[2021-07-07 12:32] maiqueb opened #5984 "In pod DHCP server idempotency is not required"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
We currently have a [mechanism](https://github.com/kubevirt/kubevirt/blob/595191eec22605f02a7f1c359be8150829f2c648/pkg/network/dhcp/configurator.go#L80) to prevent the in-pod DHCP server (plugged in the IP pod bridge) from being started twice.

It consists of creating a file in a kubevirt known path - `/var/run/kub

[2021-07-07 12:32] maiqueb commented on #5984
/assign @maiqueb

[2021-07-07 12:36] phoracek commented on #5920
Some concerns about whether this is a bug, and whether change in the behavior would affect the rest of KubeVirt, were raised during the community meeting. I can't speak for test coverage. I would leave it to @kwiesmueller who is far more familiar with this part of codebase than I am.

[2021-07-07 13:25] rmohr commented on #5983
Oh I see

[code]

I think that is resolved with https://github.com/kubevirt/kubevirt/pull/5806.

I think this is a duplicate of https://github.com/kubevirt/kubevirt/issues/5785 and it should be part of 0.43.

[2021-07-07 14:17] bkircher commented on #5983
Yep! You're right. Works with latest release candidate

[code]
Thanks!

[2021-07-07 14:17] #5983 closed

[2021-07-07 14:35] rmohr commented on #5984
Like discussed in the community meeting some kind of idempotency for the dhcp server makes sense since we expect all networking phases to be retried if they fail.

[2021-07-07 14:39] rmohr commented on #5969
This looks a lot like #5973

[2021-07-07 14:41] rmohr commented on #5973
@nunnatsa do you have the chance to get some launcher logs for this?

[2021-07-07 14:43] rmohr commented on #5966
@rraj-gautam could you verify that the virtio drivers are installed the windows guest? One way to find out if this is related to `virtio` is to change on the harddisk the driver to `sata` too and see if you can see it.

[2021-07-07 16:04] rraj-gautam commented on #5966
@rmohr `virto` drivers is installed as container disk . For **boot harddisk** and **secondary hardisk**,  I changed both to `sata` but the secondary  didn't show up.
![image](https://user-images.githubusercontent.com/13331082/124792804-1283f800-df6d-11eb-9871-ae61fc642438.png)

If I used both as `virtio`, the windows won't boot.

[2021-07-07 16:10] rmohr commented on #5973
#5990 will fix this. Note that this is a test-only issue. Cloud-init works.

[2021-07-07 16:12] rmohr commented on #5966
@rraj-gautam The `Inventory` in the picture says `2 Disks` and `2 CD-ROMs`. Can it be that it is "somehow" recognized and just not shown in the picture?

[2021-07-07 16:31] mazzystr commented on #3584
All good here.  Closing.....

[2021-07-07 16:31] #3584 closed

[2021-07-07 17:16] rraj-gautam commented on #5966
@rmohr I tried to scan disk and used disk manager to find available disks. But I cannot find the disk attached inside windows vm.
But it can be found attached to v`virt-launcher` pod.
I also tried by not specifying bus type.
[code]
Using this, the vm says `restart is pending`, to apply changes. It keeps on giving that message even I restart the VMI. And the disk is not shown inside vm.

[2021-07-07 18:06] davidvossel commented on #5973
i'll generate a new RC once this lands

[2021-07-08 01:45] Kate-DONG opened #5994 "The execution process is interrupted inside the container, but there is ok when self-installing bazel is executed outside the container"
**Is this a BUG REPORT or FEATURE REQUEST?**:BUG REPORT

**What happened**:The execution process is interrupted inside the container, but there is ok when self-installing bazel is executed outside the container.

**What you expected to happen**: We want to the execution process is ok inside the container.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need t

[2021-07-08 01:52] Kate-DONG opened #5995 "The execution process is interrupted inside the container, but there is ok when self-installing bazel is executed outside the container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:The execution process is interrupted inside the container, but there is ok when self-installing bazel is executed outside the container.

**What you expected to happen**: We want to the execution process is ok inside the container.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-07-08 04:39] LLLLLBJ opened #5996 "Mount function of container-disk may use wrong targetPathFromHostView to call IsMounted and Create"
https://github.com/kubevirt/kubevirt/blob/5103668474ebe084f3652b6501a49ab0b6b0f285/pkg/virt-handler/container-disk/mount.go#L224

GetDiskTargetPathFromHostView get the target path from host view, is it equal to kubelet pods dir hostPath?
Then nodeRes.IsMounted(targetFile) and os.Create(targetFile) are executed in handler pod namespace without chroot.
This bug causes kubelet pods dir hostPath must

[2021-07-08 06:15] #5973 closed

[2021-07-08 07:27] rmohr commented on #5973
The backport is merged.

[2021-07-08 07:28] rmohr commented on #5994
@Kate-DONG could you explain in a little bit more detail what issue you are seeing? Since it seems to be related to running bazel, could you maybe share the commands you run together with the issue you are seeing?

[2021-07-08 07:29] rmohr commented on #5994
/close

Closing this as duplicate of #5995 where there is also more info. Thanks.

[2021-07-08 07:29] #5994 closed

[2021-07-08 07:32] rmohr commented on #5995
@Kate-DONG it is not entirely clear to me what you mean. If `exit 1` is reached, the command `$KUBEVIRT_CRI exec ${USE_TTY} ${BUILDER}-bazel-server /entrypoint.sh "$@"` seems to have failed. Could you share the output you are seeing?

[2021-07-08 07:34] nunnatsa commented on #5973
@rmohr - great, thanks. Waiting for a new RC, to validate in HCO.

[2021-07-08 07:35] rmohr commented on #5996
@LLLLLBJ can it be that you are not using the standard kubelet pod dir structure? If so, https://github.com/kubevirt/kubevirt/issues/5913 may be interesting for you.

[2021-07-08 07:40] rmohr commented on #5966
@rraj-gautam could you share the generated Domain XML?

Here one way to get it out of the logs:

[code]

Or how to get it with `exec`:

[code]

[2021-07-08 07:44] Kate-DONG commented on #5995
@rmohr ok. When we run the Makefile in kubevirt, the error occurs but it hasn't show the details about the error.  When we check the hack/dockerized code, we find the error happened at the place where the hack/dockerized runs the "run the command".

The output is given by:

[root@k3s-dev kubevirt]# make
hack/dockerized "export BUILD_ARCH= && DOCKER_PREFIX= DOCKER_TAG= IMAGE_PULL_POLICY= VERBOSITY=

[2021-07-08 07:48] Kate-DONG commented on #5995
@rmohr Additionally, in the "run the command", the code at the "! $KUBEVIRT_CRI exec ${USE_TTY} ${BUILDER}-bazel-server /entrypoint.sh "$@"" is interrupted and after it the code has not been executed.

[2021-07-08 07:52] rmohr commented on #5995
@Kate-DONG maybe it is related to `WARNING: IPv4 forwarding is disabled. Networking will not work.`? Can you try if it starts working when docker networking is working properly?

[2021-07-08 07:59] Kate-DONG commented on #5995
@rmohr Thanks, we try it first.

[2021-07-08 08:04] Kate-DONG commented on #5995
@rmohr Well, we have tried it, but there is similar error.

[root@k3s-dev kubevirt]# echo 1 > /proc/sys/net/ipv4/ip_forward
[root@k3s-dev kubevirt]# cat  /proc/sys/net/ipv4/ip_forward
1
[root@k3s-dev kubevirt]# make
hack/dockerized "export BUILD_ARCH= && DOCKER_PREFIX= DOCKER_TAG= IMAGE_PULL_POLICY= VERBOSITY= ./hack/build-manifests.sh && \
    hack/bazel-fmt.sh && hack/bazel-build.sh"
selecting d

[2021-07-08 08:05] rmohr commented on #5995
@Kate-DONG did you restart docker?

[2021-07-08 08:18] Kate-DONG commented on #5995
@rmohr we have check the dockerd's twice and the values is different, so the docker does not restart.

[root@k3s-dev kubevirt]# ps aux|grep docker
root      1462  0.0  0.7 1062524 63988 ?       Ssl  Jul05   3:44 /usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock
root      1814  0.0  0.0 364504  7732 ?        Sl   Jul05   0:00 /usr/bin/docker-proxy -proto tcp -host-ip 0.0.0.0 -h